[2021-08-06 19:29] dietergeerts opened #7234 "Define `@cucumber/cucumber` as a peer dependency, to avoid problems with importing its commands (when, ...)"
**Is your feature request related to a problem? Please describe.**
When I do not add "@cucumber/cucumber" to my own dependencies, I am unable to import its commands. But when I do add it, I have another version than what this package is using, which can lead to problems in our end-2-end tests.

**Describe the solution you'd like**
Define "@cucumber/cucumber" as a peer dependency

**Describe altern

[2021-08-06 20:11] bmayank07 opened #7235 "dragAndDrop is not a function"
Environment (please complete the following information):

WebdriverIO version: 7.9.0
Mode: Wdio Test Runner
Node.js version: 12.18.1
NPM version: v14.17.4
Browser name and version: Chrome 92
Platform name and version: Mac OS 11.5.1
Additional wdio packages used (if applicable):** [ @wdio/selenium-standalone service]

**Config of WebdriverIO**
`
{
   "name":"@housing/sankat-mochan",
   "description

[2021-08-06 20:20] #7235 closed

[2021-08-06 20:27] bmayank07 opened #7236 "dragAndDrop is not a function"
Environment (please complete the following information):

WebdriverIO version: 7.9.0
Mode: Wdio Test Runner
Node.js version: 12.18.1
NPM version: v14.17.4
Browser name and version: Chrome 92
Platform name and version: Mac OS 11.5.1
Additional wdio packages used (if applicable):** [ @wdio/selenium-standalone service]
Sync mode

**Config of WebdriverIO** : Package.json

[code]

**Describe the bug**

[2021-08-08 00:48] Nouxx opened #7237 "Add hook 'onWorkerStop'"
**Is your feature request related to a problem? Please describe.**
I'm struggling with parrallel executions and I'll be okay with managing it myself using [Custom Services](https://webdriver.io/docs/customservices/).
I'm using Appium to test Android app and my idea is to add `udid` and `systemPort` capabilities to run // tests in a single Appium server, see more info [here](https://appium.io/docs/

[2021-08-08 10:29] jamesmortensen commented on #7237
onWorkerStop would be helpful also for other use cases, such as managing a pool of test user credentials and locking/unlocking them before each spec file run and after.

[2021-08-08 18:56] nextlevelbeard commented on #7237
I second this, can have many useful use cases.
In the meantime @Nouxx try upgrading to appium@next and using this [device-farm](https://github.com/AppiumTestDistribution/appium-device-farm) plugin to do the parallel device management for you.

[2021-08-09 06:57] maleeazeem opened #7238 "[HELP]DevTools causes page load failure without logging a reason."
I am facing an issue while running devtools service to capture performance metrics. After navigating couple of pages when I reach third UI page I get an error of
**_"Error: Couldn't capture performance due to: Page with url "https://.............com/questions" failed to load"_**
When I dug into the issue I found that in _node_modules/@wdio/devtools-service/build/index.js_ at line number 54 I am ge

[2021-08-09 07:11] christian-bromann commented on #7237
Duplicate of #6356

[2021-08-09 07:11] #7237 closed

[2021-08-09 07:18] christian-bromann commented on #7236
Can you provide a reproducible example?

[2021-08-09 07:23] christian-bromann commented on #7238
This is very much related to issue other issues we have seen and trying to fix as part of #7019.

[2021-08-09 07:55] Nouxx commented on #6356
Hi, @christian-bromann
There is a big difference since after hook is triggered after all tests are done.

[code]

There are similar hooks (AfterXXX for Cucumber let's say) but it doesn't have access to the same args as `OnWorkerStart` (in my situation described in #7237, capabilities )

[2021-08-09 08:03] Nouxx commented on #7237
Thanks for the tip @nextlevelbeard, it works like a charm!
I'll follow appium 2.0 release date closely, we won't use a beta version in 'production'
But I still believe the new hook would be a great workaround for wdio and a useful feature for various use cases

[2021-08-09 08:05] christian-bromann commented on #6356
@Nouxx that might be a wrong wording in the docs then. The `after` hook is triggered after the worker finished the test. The only difference between `after` and `onWorkerEnd` is that in the `after` hook the session is still alive (`deleteSession` is not yet executed).

[2021-08-09 09:49] Nouxx commented on #6356
Well in this case that works for me
The only problem is that this `after` hook isn't triggered if an error is thrown, or maybe I'm doing it wrong.
I'll address this issue in another issue if necessary, thanks !

[2021-08-09 11:24] #6777 closed

[2021-08-09 12:08] Nouxx opened #7249 "Capabilities weird behavior with `OnWorkerStart`"
**Environment (please complete the following information):**
 - **WebdriverIO version:** "^7.3.0"
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync: "^7.0.8"
 - **Node.js version:** node:14.16-alpine3.10 (Docker)
 - **NPM version:** according to node version
 - **Additional wdio packages used (if applicable):** none

**Config of WebdriverIO**
my full [wdio.conf.js](h

[2021-08-09 17:42] vitalyiegorov opened #7250 "Wrong touchAction typescript return type"
**Environment:**
 - **WebdriverIO version:** 7.9.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 16.1.0
 - **NPM version:** 7.11.2

**Describe the bug**
Typescript return type of element and browser `touchAction` should return `Promise<void>` instead of `void`

https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/c

[2021-08-09 20:19] wbigno opened #7251 "High Thread Usage, consume a large amount of resource during test execution when running in parallel"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.4

[2021-08-09 21:49] bmayank07 commented on #7236
Haven't able to replicate it now. Probably it was a configuration issue at my end. Thanks!

[2021-08-10 06:35] klaukl commented on #2158
I am facing the same issue and in this case if you run it on a diff timeformat it will auto transform.

I.e. setValue('15-02-2021') in UK / locally sets correctly but you run this in CI (america) it will set 02-15-2021 :'( Any ideas on how to fix?

[2021-08-10 07:14] #7236 closed

[2021-08-10 07:17] christian-bromann commented on #7249
We recommend to make these amendments in `beforeSession`. Capabilities within the `onWorkerStart` can't be modified. Let me know if this works for you. Happy to re-open if not.

[2021-08-10 07:17] #7249 closed

[2021-08-10 07:53] christian-bromann commented on #7250
Make sure you set `webdriverio/sync` in your `tsconfig.json`:

[code]

Read more about this on the [docs](https://webdriver.io/docs/typescript#framework-setup).

[2021-08-10 07:53] #7250 closed

[2021-08-10 08:09] christian-bromann commented on #7251
The worker id number continue to increase even though older worker shut down. Just because you see the log line being prefixed with `[0-293]` it doesn't mean there 293 workers active. I just tested it and everything works as expected.

[2021-08-10 08:09] #7251 closed

[2021-08-10 09:15] wbigno commented on #7251
Christian

I’m being informed by my server team that when our run is happening the resources container to grow and the last half of the run they are seeing 100% of all resources consumed so on their end this seems to not be the case and the threads seem to be holding some resources open.

Can you help explain that?

Thanks.

[2021-08-10 11:45] AbhinavShingate opened #7255 "Facing an issue with longPress in multiTouchPerform"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** "7"

[2021-08-10 11:53] wbigno commented on #7251
Christian, Also there are 334 spec files in this suite, so why only 293 workers? shouldn't we see a 1 to 1 relationship based on your comment?

[2021-08-10 12:10] christian-bromann commented on #7251
I can't as I am not sure what your setup is. What I know is that when I setup a WebdriverIO test suite with one capability and 10 spec files and I have `maxInstances` set to `5` I only have 5 parallel sessions running. I am not sure which resources could stay around.

Depends 😉  there might be spec files that are being skipped and therefor don't count in there.

[2021-08-10 12:20] wbigno commented on #7251
Thanks for the quick response.

So your test only looked to confirm that the number of browsers open match the maxInstance, and there was no measurement of the resources on the system being consumed? I would also agree I don’t see any issues with the number of browsers opening.

The issues I am seeing is with large test suites, the amount of resources exponential increase as the execution runs. I

[2021-08-10 12:28] BorisOsipov commented on #7251
1) Will be nice to see grafana dashboard screens how it looks like from test execution start to finish time. I mean charts with cpu\mem consumption.
2) Can you investigate what processes are culprits in resource consuptions? Especially at the end of "exponential increase"

[2021-08-10 13:14] christian-bromann commented on #7251
I totally agree with you that running a lot of tests in parallel definitely takes a hit on CPU/memory of your machine. Every worker loads a Node.js environment and loads tons of objects into memory. We are always interesting improving the performance of our testrunner but it requires having some concrete approaches and suggestions to it. This ticket currently only states that running a lot of test

[2021-08-10 14:23] drawkh opened #7258 "Custom selector strategies cannot be used when chaining queries with the new Async API"
**Environment:**
 - **WebdriverIO version:** 7.9.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 14.17.3
 - **NPM version:** 6.14.13
 - **Browser name and version:** Chrome 92
 - **Platform name and version:** Linux

**Describe the bug**
Custom selector strategies cannot be used when chaining queries with the new Async API. The tests fail

[2021-08-10 14:37] Askarov5 commented on #7228
The problem was running the scripts by incorrect command: "wdio wdio.conf.js" instead of "npx wdio wdio.conf.js". It was running even safari(which is not through devTool), that's why I did not notice it before.

[2021-08-10 15:09] christian-bromann commented on #7258
If someone is interested to look into this, I assume we propagate the wrong context when executing the command in our [`shim`](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-utils/src/shim.ts#L154).

[2021-08-10 18:45] Hayk-S opened #7259 "WDIO click() command doesn't resolve and test execution hangs upon click on a web element."
- **WebdriverIO version:** [7.7.5]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [async]
 - **Node.js version:** [14.16.0]
 - **NPM version:** [7.12.1]
 - **Browser name and version:** [Chrome 92]
 - **Platform name and version:** [macOS Big Sur 11.4]
 - **Additional wdio packages used (if applicable):** [@wdio/spec reporter, @wdio/shared-store-service, @wdio/devtoo

[2021-08-10 18:52] christian-bromann commented on #7259
@Hayk-S can you provide a reproducible example?

[2021-08-10 19:00] Hayk-S commented on #7259
@christian-bromann I have described the steps in the description. Apart from that nothing is needed to reproduce the issue no prior steps or additional setup is needed.

[2021-08-10 19:23] BorisOsipov commented on #7259
@Hayk-S it will be easier to reproduce if you provide **code** that reproduces the issue rather than just steps.

[2021-08-10 19:27] beeman88 opened #7260 "wdio/log has truncated statements and is out of time order"
Hi:

Using these version of wdio

 "@wdio/allure-reporter": "^6.11.0",
 "@wdio/cli": "^6.12.1",
 "@wdio/jasmine-framework": "^6.11.0",
 "@wdio/local-runner": "^6.12.1",
 "@wdio/logger": "^6.10.10",
 "@wdio/sauce-service": "^6.12.1",
 "@wdio/selenium-standalone-service": "^6.12.1",
 "@wdio/spec-reporter": "^6.11.0",
 "@wdio/sync": "^6.11.0",
 "jasmine-expect": "3.8.4",
 "webdriverio": "^6.12.1"

 T

[2021-08-10 19:27] praveendvd commented on #7234
[code]

this is my dependencies and @cucumber is available by default in the node modules  as its a dev dependency for cucumber framework

https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cucumber-framework/package.json

@christian-bromann  what would be required here , i think its already available ?

[2021-08-10 19:29] praveendvd commented on #7140
@christian-bromann  Is there any hooks to check for rule start adn end , i couldn't find any

[2021-08-10 20:48] christian-bromann commented on #7140
@praveendvd not sure, maybe there are some information in the Cucumber docs.

[2021-08-10 20:57] christian-bromann commented on #7234
@praveendvd I believe the issue is if you want to use Cucumber for other testing purposes and you want to add it to your own project dependencies than it would clash with the ones required by `@wdio/cucumber-framework`. However afaik moving it to the  `peerDependency` section would mean that this dependency is not automatically installed if you use NPM v3 - v6 (see [release post](https://blog.npmj

[2021-08-10 21:01] christian-bromann commented on #7260
Why don't you use the `after` hook to check if a worker is passing or failing?

Not sure what is truncated in the example above, also there is no guarantee that log messages are in any particular order.

I will close this issue as I think there are workarounds to and this doesn't display like an actual bug. Happy to continue to help with your configuration though.

[2021-08-10 21:01] #7260 closed

[2021-08-10 21:02] christian-bromann commented on #7259
+1 on what @BorisOsipov says, there is no guarantee that we will automate your step description the same way you have it.

[2021-08-11 07:32] wei-y commented on #7204
@christian-bromann I upgraded to 7.9.1 and it seems that it's not fixed. The issue is that when running the example, it always clicks the first element. The expectation is that it can click all menu items in the loop. Please see it in action in the screen capture attached.

https://user-images.githubusercontent.com/17232098/128988343-db0c9a96-0017-45ad-af56-38e57d0eb17a.mp4

[2021-08-11 07:52] christian-bromann commented on #7204
@wei-y what is the code you are running?

[2021-08-11 08:32] Nouxx opened #7261 "`after` hook is not triggered if the test fails"
Environment (please complete the following information):

- WebdriverIO version: "^7.3.0"
- Mode: WDIO Testrunner
- If WDIO Testrunner, running sync/async: sync: "^7.0.8"
- Node.js version: node:14.16-alpine3.10 (Docker)
- NPM version: according to node version
- Additional wdio packages used (if applicable): none

**Config of WebdriverIO**
https://gist.github.com/Nouxx/c4d564e4e627ccf4d6d10fc310b

[2021-08-11 08:47] christian-bromann commented on #7261
I don't understand, so the hook is being executed but then isn't?

[2021-08-11 09:12] christian-bromann opened #7264 "Jasmine hook errors are not counted as failures"
When running tests in Jasmine every error in a `beforeAll` or `beforeEach` hook is recognised but doesn't make the suite fail. The difference to Mocha is that Mocha propagates the error to the suite end event. Jasmine doesn't. So while the spec reporter shows an error, the overall test run passes. The fix for this is to make the suite fail if a hook in Jasmine also fails.

Given this is a possible

[2021-08-11 10:17] kdthomas2121 commented on #3557
The documentation is still incorrect and leading to this error

[2021-08-11 12:28] christian-bromann commented on #3557
@kdthomas2121 I can't spot this example in the docs anymore

[2021-08-11 12:34] kdthomas2121 commented on #3557
It's still here for the xml reporter, which uses the junit reporter

https://github.com/naddison/webdriverio/blob/240adc5b60cb8c38f8fe25b4c26491a875bb28e4/packages/wdio-junit-reporter/README.md

And the NPM package
https://www.npmjs.com/package/wdio-junit-reporter

Just to confirm as I'm struggling with this, what is the complete way to
output all tests into a single test file?

On Wed, 11 Aug 202

[2021-08-11 12:45] Nouxx commented on #7261
Yes sorry, it is not triggered if the test throw an error

In my conf file, I'm using a console.log to debug
`console.log("after hook")`

As you can see in the log, 3 test are run, no `after hook` log entry is present

[2021-08-11 18:34] Ramanth opened #7269 "Run specs on existing browser instance"
**Is your feature request related to a problem? Please describe.**
I need the browser instance not to be closed and i can trigger next spec execution on the same instance and this capability will help me automate pieces of my workflows and decide to execute them in an order dynamically.

**Describe the solution you'd like**
Suggestion : have option to launch a browser and have a session associated

[2021-08-11 18:38] christian-bromann commented on #7269
@Ramanth can you elaborate on this? How is the user suppose to decide which spec to run next?

[2021-08-11 23:39] wei-y commented on #7204
It's the code in the ticket description:

[code]

[2021-08-12 07:39] christian-bromann commented on #7204
Seems to be a weird issue where the refetch mechanism doesn't work properly. Any help on this investigating our [middleware](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/middlewares.ts#L12) behavior is appreciated.

[2021-08-12 12:34] petar-georgiev-sw opened #7270 "browser.getPuppeteer returns "Unexpected server response: 400" with chrome 92.0.4515.131"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.9.1
 - **Mode:** Standalone mode
 - **Node.js version:** 14.16.0
 - **NPM version:** 6.14.8
 - **Browser name and version:** Chrome 92.0.4515.131
 - **Platform name and version:** Windows 10 / Mac OSX
 - **Additional wdio packages used (if applicable):** @wdio/allure-reporter, @wdio/cli, @wdio/local-runner,

[2021-08-12 16:13] Hayk-S commented on #7259
Ok here is the reproducible example

https://github.com/Hayk-S/WDIO-reproducible-example

Run the test by `npx wdio run ./wdio.conf.js --spec example.e2e.js`

Note that as soon as I remove the `devtools` from services in `wdio.config.js` it works.

[2021-08-12 21:41] pieceOpiland opened #7271 "setInput("Backspace") no longer functioning"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.9.1
 - **Mode:** Standalone mode
 - **Node.js version:** v12.18.3
 - **NPM version:** 7.8.0
 - **Browser name and version:** Chrome 92.0.4515.131
 - **Platform name and version:** MacOS 11.5.2

**Config of WebdriverIO**
It's standalone, so I don't believe this is needed?

**Describe the bug**
When trying to

[2021-08-12 21:59] BorisOsipov commented on #7259
@Hayk-S thank you for the reproducible example.

Now it is clear what is happened.

It is not wdio issue.
After click the page isnt loaded completely due some requests to "http://nr-data.net/*" urls that never completes. Seems it is "https://www.postman.com" site issue.

you can apply workaround like:
[code]

It fixes the issue for me.

[2021-08-12 21:59] #7259 closed

[2021-08-13 12:33] wbigno commented on #7251
Boris

Sorry for the delay, the server team was able to provide these details, but they do not have access to grafana on the server.

Row
fullcmd
command
login
nproc
totcpu
pctcpu
rss
1
<Multi>
<Multi>
cy_JENKINS
13
1.12
0.47
1649220
2
/prod/sys/ws/node-v10.16.3-linux-x64/bin/node /prod/sys/ws/workspace/Martech/A
node
cy_JENKINS
1
19.44
8.13
677488
3
/prod/sys/ws/node-v10.16.3-linux-x64/bin/node /

[2021-08-13 12:59] BorisOsipov commented on #7251
@wbigno it is absolutly unreadable a bunch of text. Please pay attention what do you send - email <-> github integration is not ideal sometimes.

If I formated this output it doesn't look like resource overload:
![image](https://user-images.githubusercontent.com/6514276/129360424-2808f6e9-d4ce-4809-806d-90d16fafc108.png)

`pctcpu` seems is "the average cpu used by the process since its startup" an

[2021-08-13 19:08] newtewt commented on #6347
I had generated a sample repo to reproduce this issue before finding this issue. 😄

[2021-08-14 14:16] Nogias9x commented on #2726
Hi @christian-bromann ,
The issue is still there, but the linked issue belongs to an archived repo.
Is there other solutions that help us with `getValue`?

[2021-08-15 12:43] RollerIn opened #7275 "Error time out exceeds"
Error: Timeout of 10000ms exceeded. The execution in the test "My Login application "before each" hook for "Moving pages"" took too long. Try to reduce the run time or increase your timeout for test specs (https://webdriver.io/docs/timeouts).

here am automation mobile browser  on android using mocha and WebdriverIO, after launching the application ,before loading application completely ….its clos

[2021-08-16 02:53] asanders-tester commented on #7199
I'm having this same issue with iOS on AWS Device Farm, except I'm not using `enablePerformanceLogging` in my capabilities at all. I added it in and set the value to false, but I'm getting the same error. I've tried changing the `connectionRetryTimeout` to as high as 500000, but it's still the same error. Here's the log from AWS:

[DEVICEFARM] Setting up your device. This usually takes 2-3 minutes

[2021-08-16 07:25] dietergeerts commented on #7234
I had several issues trying to get my end-2-end tests to work, and was able to now pinpoint it to https://github.com/testing-library/webdriverio-testing-library/issues/29. So currently, this dependency doesn't give me issues.

That said, there is no reason to have this as an actual dependency AND it potentially will bring some problems because when you use cucumber, you'll import it's step factori

[2021-08-16 07:34] BorisOsipov commented on #7234
`@wdio/cucumber-framework` uses cucumber package as main dependency. It cannot be peer dependency under any circumstances.

[2021-08-16 07:50] dietergeerts commented on #7234
@BorisOsipov, I see. Then another solution would be to re-export its exported values, to make sure we use the ones from the version used to run the cucumber part.

[2021-08-16 07:56] BorisOsipov commented on #7234
I am not sure that re-export its exported values is a good idea.

I don't know why it is problematic. You can add cucumber package as dependency for sake of linters. Cucumber follows semver - you should not run into api incompatibility issues.

[2021-08-16 12:36] christian-bromann commented on #7234
@dietergeerts I see the issue here. Let's say you use Cucumber for some other testing practices then and that version differs from the one used in WebdriverIO then there could be compatibility issues because the Cucumber version that is defined in the projects package.json will always be preferred.

@BorisOsipov is totally right here, we can't make this a peer dependency because `@wdio/cucumber-fr

[2021-08-16 12:40] christian-bromann commented on #7275
The error message already provides a solution: increase the timeout for the test specs.

[2021-08-16 12:40] #7275 closed

[2021-08-16 12:41] christian-bromann commented on #2726
@Nogias9x can you try to reproduce the issue on the latest Appium version?

[2021-08-16 12:48] christian-bromann commented on #7271
PR with a patch was merged, a release with the fix will be prepared.

[2021-08-16 12:48] #7271 closed

[2021-08-16 12:51] christian-bromann commented on #7270
@petar-georgiev-sw can you provide a reproducible example? The devtools connection doesn't work within all environments.

[2021-08-16 21:56] waynevanson opened #7284 "Configuration typings incorrect for capabilities "goog:chromeOptions""
**Environment (please complete the following information):**
 - **WebdriverIO version:**  "^7.9.1"
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** N/A
 - **Node.js version:** 14.7.3
 - **NPM version:** 6.14.14
 - **Browser name and version:** N/A
 - **Platform name and version:** MacOS and not sure (new laptop)
 - **Additional wdio packages used (if applicable):**N/A

**Conf

[2021-08-17 05:15] maidendth opened #7285 "Unable to create new session with FF/Chrome/Appium: Request failed with status 200 due to Response has empty body"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.9.1
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** N/A
 - **Node.js version:** 14.1.0
 - **NPM version:** 7.20.6
 - **Browser name and version:** chrome: 92.0.4515.131, chromedriver 92.0.4515.107, FF 91.0, geckodriver: 0.26.0
 - **Platform name and version:** Windows 10
 - **Addi

[2021-08-17 07:23] christian-bromann commented on #7285
If I start a fresh project using `npx wdio ./test` I can't reproduce this. Make sure you don't have anything else running on the same port. Also, can you try to log the response object in `./node_modules/webdriver/build/request/index.js` to see what you actually get back?

[2021-08-17 07:55] christian-bromann commented on #7284
Thanks for reporting the issue. Your typings are correct however, `capabilities` are not specified in your example. It accepts a raw W3C object as well as normal caps and multiremote caps. For your example the following example would work:

[code]

I will create a ticket to better document these types within the docs.

[2021-08-17 07:55] #7284 closed

[2021-08-17 07:57] christian-bromann opened #7287 "Document WebdriverIO TypeScript definitions"
Within our `@wdio/types` package we define a bunch of types that TypeScript users might want to use. We should add documentations to these types. I suggest to look out for configurations or capability definition examples within our docs and add a TypeScript example to it (as e.g. a TypeScript tab).

See also #7285

[2021-08-17 08:01] Sam55555 opened #7288 "css hover does not trigger on click command on iOS"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.

[2021-08-17 08:12] christian-bromann opened #7289 "Support for @wdio/sync alongside the new v7.9.x Async API"
### Discussed in https://github.com/webdriverio/webdriverio/discussions/7268

<div type='discussions-op-text'>

<sup>Originally posted by **RossVertizan** August 11, 2021</sup>
This discussion follows on from a question I asked in the #6702 (Replacement for Node-Fibers) discussion.

In converting some of my tests to the new (v7.9.x) Async API, I encountered some problems in which the Page Objects

[2021-08-17 08:16] christian-bromann commented on #7288
This is unlikely an issue with WebdriverIO directly and more a problem with Appium and/or Safaridriver and/or iOS not properly triggering a hover event. I will leave the issue open for a while in case someone wants to investigate the problem.

[2021-08-17 08:48] christian-bromann commented on #7261
Fixed in #7290

[2021-08-17 08:48] #7261 closed

[2021-08-17 09:33] maidendth commented on #7285
I checked the port and it is not in use, the only thing running on this port is the browser drivers (when I unload the browser driver the port is available).

I enabled the debug logging level (should of done this before) and I get this error message from `./node_modules/webdriver/build/utils.js::isSuccessfulResponse`:  `DEBUG webdriver: request failed due to missing body`

I also added some code

[2021-08-17 09:45] christian-bromann commented on #7229
Fixed in #7291

[2021-08-17 09:45] #7229 closed

[2021-08-17 09:48] christian-bromann commented on #7285
Can you inspect the response object here: https://github.com/webdriverio/webdriverio/blob/main/packages/webdriver/src/request/index.ts#L169 and past the output here? If this object has `body: null` then the browser driver returns that value. A reproducible example within a repo would be nice.

[2021-08-17 10:36] JordiSAGE opened #7294 "trim-newlines ReDoS security issue in @wdio/devtools-service"
trim-newlines ReDoS security issue in @wdio/devtools-service

Environment:
•	WebdriverIO version: 6.8.2
•	Mode: WDIO Testrunner (sync)
•	Node.js version: 12.19.0
•	NPM version: 6.14.8
•	Browser name and version: Chrome 91
•	Platform name and version: Windows 10
•	Additional wdio packages used (if applicable): @wdio/devtools-service 6.8.0

**Config of WebdriverIO**
exports.config = {
    runner: 'l

[2021-08-17 13:47] BorisOsipov opened #7295 "browser.execute("script") produces `invalid argument: invalid argument: 'args' must be a list ` error"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 7.9]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [async]
 - **Browser name and version:** [e.g. Chrome 92]

**Describe the bug**
`browser.execute("script")` produces `invalid argument: invalid argument: 'args' must be a list
` error despite args are optional

**To Reprod

[2021-08-17 14:44] Nouxx commented on #7261
Thanks a lot! :)

[2021-08-17 14:44] #7295 closed

[2021-08-17 14:45] christian-bromann commented on #7295
The `args` property was set to be not required. I added a patch with a fix.

[2021-08-18 01:19] rsoni112 commented on #5381
For iOS automation project I am getting same error
Node 14
Depencies on package.json
[code]

[code]

Error I am getting : TypeError: $(...).waitForDisplayed is not a function

[2021-08-18 05:23] maidendth commented on #7285
After trying a bunch of different stuff and having no luck, I decided to upgrade node from version 14.1.0 to 16.7.0 and all of a sudden everything start working. I can now run webdriverio with both Chrome and Firefox. Maybe there is some obscure bug in something that is used in node 14.1.0 by webdriverio.

[2021-08-18 05:51] dietergeerts commented on #7234
@christian-bromann , yup, that's the exact problem. This way, there can be 2 instances being used, which can lead to strange bugs that are hard to resolve. I say "can", because it depends on the package. So for making sure we don't need to mind, it has to be a peer-dependency OR using re-exports, as then it's like a replacement for it. I'll see what I can do to implement this. The import example y

[2021-08-18 07:26] christian-bromann commented on #7234
Yes, I would say it is the best approach. Again, we can't move Cucumber to be a peer dependency as we can't ensure it will be automatically downloaded and we need to rely on a specific Cucumber version. Re-exporting feels most naturally to me.

[2021-08-18 07:27] christian-bromann commented on #7285
I am not sure how this is related to a specific Node.js version but it might. Glad it is working now.

[2021-08-18 07:27] #7285 closed

[2021-08-18 07:39] christian-bromann commented on #7294
Hey @JordiSAGE ,

thanks for filing the issue and apologies the TSC team didn't respond in time. We are all indeed very busy.

The dependency `meow` is used in Speedlines CLI which WebdriverIO is __not__ making use of. Therefor this vulnerability doesn't not affect any WebdriverIO user whatsoever. There is also no way to update the package given that `speedline` still depends on a very old version

[2021-08-18 07:39] #7294 closed

[2021-08-18 07:52] christian-bromann commented on #7269
Closing due inactivity.

[2021-08-18 07:52] #7269 closed

[2021-08-18 07:59] christian-bromann commented on #5504
@osmolyar I believe this is now possible with the latest WebdriverIO version and our Cucumber update we did in v7. Closing.

[2021-08-18 07:59] #5504 closed

[2021-08-18 08:00] christian-bromann commented on #5744
As we have deprecated our Applitools integration this issue is not relevant anymore. We recommend to use [@applitools/eyes-webdriverio](https://www.npmjs.com/package/@applitools/eyes-webdriverio) from now on. Thanks!

[2021-08-18 08:00] #5744 closed

[2021-08-18 09:06] platon023 opened #7297 "The idea is to add a function to receive and add log files to the report: "wdio-0-0-browser. log" with possible integration of allure report, and binding feature = = = log file"
Due to the integration of webriverIO + Selenoid, the Devtools service does not work.

Therefore, there was a desire to attach the log files "wdio-0-0-browser. log" in allure report
There are several problems when getting these files:
1. There is no connection between feature-log
2. allure report does not find "wdio" files-0-0-browser. log"

It may be necessary to finalize it in the packages @wdio/

[2021-08-18 09:10] christian-bromann commented on #7297
I remember that related issues were fixed within the last versions, see #6676 and #6673. If your issue is different please report it.

What is feature-log?

There is currently no implementation of such capability.

Can you elaborate what your request is?

[2021-08-18 09:10] BorisOsipov commented on #7297
why? it works fine, see example https://github.com/BorisOsipov/wdio-selenoid-examples

[2021-08-18 11:32] sriramku-kr commented on #4954
For me safari opens but it doesnt do anything. just empty browser. I have installed Safari Technology Preview and also enabled. Allow Remote automation. My mac OS is catalina, Safari Technology Preview version 121

My config:
capabilities: [
    {
        maxInstances: 1,
        //browserName: 'safari',
        browserName: 'safari',
        port: 4444,
        //path: '/wd/hub',
        //binary

[2021-08-18 15:42] erwinheitzman commented on #7255
Does this work if you use the `touchAction` command instead?

[2021-08-18 15:46] erwinheitzman commented on #7227
When you are extending your config with custom properties you should extend the WebdriverIO config interface and assign that instead in order to get the correct typing. I don't see anything wrong here really.

[2021-08-18 16:45] nextlevelbeard opened #7300 "Allow Cucumber adapter to publish reports to reports.cucumber.io"
Allow Cucumber adapter to publish reports to https://reports.cucumber.io/.
According to the documentation it's a matter of passing a simple `publish` flag to the the `cucumber-js` binary.
And yet currently, passing `publish` as `true` in webdriverIO's config ( `cucumberOpts` ) does not seem to work.

[2021-08-18 17:05] christian-bromann commented on #7300
Sounds like a neat idea. Any contributions are appreciated.

[2021-08-18 22:05] jlipps opened #7301 "Appium protocol not detected adequately"
For example, this set of capabilities:

[code]

These capabilities should trigger the environment detector to include the Appium protocol, but they don't. Potentially to do with the fact that W3C vendor prefixes are now on the capabilities?

[2021-08-19 05:06] asanders-tester opened #7302 "iOS Device on AWS Webdriver Session Timeout"
**Environment (please complete the following information):**
 - **WebdriverIO version:** ^6.10.11
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:**async
 - **Node.js version:** 15.5.1
 - **NPM version:** 7.3.0
 - **Browser name and version:** native app, no browser
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** none
**Co

[2021-08-19 07:42] christian-bromann opened #7303 "Transition to EasyCLA"
We currently use an old CLA from the JS Foundation that will be deprecated soon. We now adapt [EasyCLA](https://easycla.lfx.linuxfoundation.org/#/) which is the recommendation of the OpenJS Foundation. For more information on this, see https://github.com/openjs-foundation/EasyCLA#how-to-use-easycla

For most people this means you have to resign the CLA when raising a PR. I haven't seen many people

[2021-08-19 08:00] christian-bromann commented on #7302
Thanks for filing the ticket. It seems that your capabilities are not well defined enough for AWS to find the right device. Just providing `"platformName": "ios"` doesn't tell which device you actually want. This might work for Android for random reason but not for iOS. I recommend to look into the AWS docs to see which capabilities are required to request a certain device. In the Appium logs:

[c

[2021-08-19 08:00] #7302 closed

[2021-08-19 10:57] AbhinavShingate commented on #7255
Nope It doesn't work with touchAction command as well

[2021-08-19 13:42] brianwarner commented on #7303
Just to add on, once you sign it for one OpenJS Foundation project, you'll be covered for all other OpenJS Foundation projects using EasyCLA. I've also written up some background and instructions for OpenJS Foundation projects who are making this switch.

A few years ago the JS Foundation merged with Node.js Foundation to form the OpenJS Foundation. The JS Foundation required a CLA, and operated a

[2021-08-19 16:29] asanders-tester commented on #7302
You aren't meant to add much into the capabilities because most of it is defaulted, and it'll actually cause a failure if you override them. The device pool set up has the devices and the lines here get the UDID for the device and manipulates it because appium doesn't accept a '-' in the UDID.
[code]

[2021-08-19 17:14] christian-bromann commented on #7302
@asanders-tester understand. Well all I can say here is that WebdriverIO doesn't receive a response. If my assumption that capabilities were configured are wrong, then it needs to be a problem on AWS end.

[2021-08-19 22:44] jlipps opened #7307 "WDIO returns an object even if element cannot be found"
In the case a call to `driver.findElement` results in a server-side 404/NoSuchElement, I would expect a client side error to be thrown, not an error object to be returned. But consider this example:

[code]

When run, it prints out `1`, and the value of findElement is:

[code]

Is the user meant to inspect every object that comes back from `findElement` to determine if it is an element or if it's

[2021-08-19 23:16] praveendvd commented on #7300
Cucumber.js from version 7.3.0.

https://reports.cucumber.io/

But we are using v7.0.0

@christian-bromann  so should we wait till the cucumber version is updated ?

[2021-08-20 00:11] praveendvd commented on #7307
@jlipps  findELement is w3c command used to retrieve the response

use  wdio selectors instead

But the selector also doesn#t throw an error unless you try to do an action on the object like

[code]

@christian-bromann

https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/browser/%24.ts

should we add a throw error if the element res has an error in it for $.ts ?

[2021-08-20 00:27] jlipps commented on #7307
OK thanks for the reply. My experience of working with every other webdriver client across many other languages is that they do the equivalent of throwing an exception when an element cannot be found (and a single element is requested). So I was surprised by wdio's behavior here.

[2021-08-20 04:07] jlipps commented on #7307
More generally, I would expect that any command which results in a non-200 response from the webdriver server would result in an error/rejection on the client side.

[2021-08-20 04:16] jlipps commented on #7307
But good to know I should always use `driver.$` instead of `driver.findElement`. I assumed they were the same thing.

[2021-08-20 06:30] christian-bromann commented on #7300
This can be already done in a separate effort.

[2021-08-20 08:20] christian-bromann commented on #7307
No, WebdriverIOs selector methods have lazy loading capabilities. So there should be no issues if an element is not found. Once you call an action on it WebdriverIO will then try to find it and throws and error if it can't

Using raw W3C commands documented in https://webdriver.io/docs/api/webdriver will just return the server response. The `webdriver` package is meant to be used to interact with

[2021-08-20 08:20] #7307 closed

[2021-08-20 08:57] christian-bromann commented on #7301
@jlipps created a PR to address the issue. However can you provide the session response of the Roku driver. I would prefer to detect the environment based on the session response rather than the requested capabilities.

[2021-08-20 09:30] christian-bromann commented on #7284
@waynevanson mind taking a look at the PR? Would you see other places where types could be a bit better explained?

[2021-08-20 11:21] Nogias9x commented on #2726
Thank you for the response @christian-bromann

I did use the latest Appium:
appium: 1.21.0
webdriverio: 7.7.6

Please LMK if you need any other information

[2021-08-20 12:09] christian-bromann commented on #2726
Mhm, can you provide a reproducible example?

[2021-08-20 17:11] jlipps commented on #7307
@christian-bromann is there some kind of no-op function I can run on the element then to determine whether it exists? When writing tests I sometimes want to simply check for the existence of an element

[2021-08-20 17:38] jlipps commented on #7301
the roku driver responds with a lot of specific capabilities that I don't think WDIO should know about unless it wants to implement roku specific client side support. rather if we want to look at returned capabilities, i say we should just check for the presence of `automationName` (or `appium:automationName`, but currently appium strips all prefixes internally before responding with caps).

[2021-08-20 18:19] tzurp opened #7311 "element.moveTo() is throwing exception if element needs to be scrolled into view."
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.9

[2021-08-20 18:41] praveendvd commented on #7307
https://webdriver.io/docs/api/element/isExisting/#usage

Use is existing

[2021-08-20 18:42] jlipps commented on #7307
ah ok, this is boolean, correct? so ultimately no matter what I need to make a helper function that finds the element, and then conditionally throws if isExisting returns false.

[2021-08-20 18:46] praveendvd commented on #7307
A test becomes test when you assert something , so do an assertion that element exist if that's what you want , if it's just part of a sequence of step , then the next step like element.click will fail , so depends on the context in which you are using it

[2021-08-20 19:11] jlipps commented on #7307
Yeah, my use case is a bit abnormal in that I'm using wdio to test a server implementation of the protocol, not to test an app itself per se.

[2021-08-23 05:52] sleong110 commented on #6357
Hi @wswebcreation , just wondering if there will be a fix to remove the links for RDC ? Since this sharable links with Appium Session ID does not work anyway.

[2021-08-23 09:07] christian-bromann commented on #7311
Can you provide a reproducible example?

[2021-08-23 09:07] #7301 closed

[2021-08-23 11:55] advait012 commented on #6881
@gauravkrp , Are you still facing the issue ?

[2021-08-23 13:00] gauravkrp commented on #6881
Hey I moved away from using Windows! So, can't say if it still exists there.

[2021-08-23 13:53] tzurp commented on #7311
@christian-bromann sure. Try this:

[code]

[2021-08-23 15:00] erwindetesters commented on #7311
Confirmed, adding `this.scrollIntoView();` to the internal command fixes the issue. Should be easy and should be applied to all places where `performActions` is used internally because it doesn't automatically scroll the element into view.

[2021-08-23 16:37] timestampx opened #7324 "Link in the Intercept Service does not work"
Incorrect link in description [usage-with-webdriver-standalone](https://webdriver.io/docs/wdio-intercept-service/#usage-with-webdriver-standalone)
![Screenshot_10](https://user-images.githubusercontent.com/5372340/130484475-dfc1cc5d-9e05-4145-ab60-d4a0c559d22d.png)

[2021-08-23 17:33] christian-bromann commented on #7324
Created issue in correct repository: webdriverio-community/wdio-intercept-service#146

[2021-08-23 17:33] #7324 closed

[2021-08-23 19:52] rsshilli commented on #4032
I'm having the same issue. Which npm package were you missing?

[2021-08-23 20:03] christian-bromann commented on #4032
@rsshilli if `getLogs` doesn't work it likely means it is not supported in the environment you are running.

[2021-08-23 21:01] rsshilli commented on #4032
Well, I updated `webdriverio` (https://www.npmjs.com/package/webdriverio) from 7.7.3 to 7.10.1 and that seemed to do it. Weird.

[2021-08-24 05:11] advait012 opened #7325 "Getting error : Request failed with status 200 due to Response has empty body"
- **WebdriverIO version:** 6.0.0
 - **Mode:** Standalone mode
 - **Node.js version:** 14.0.0
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 91
 - **Platform name and version:** Windows 10

**Config of WebdriverIO**
We are using gauge tests automation framework as a test runner . For creating sessions in webdriver , We are creating capabilities of browser and passing in the remo

[2021-08-24 06:53] christian-bromann commented on #7325
Duplicate of #6881

[2021-08-24 06:53] #7325 closed

[2021-08-24 11:11] RollerIn opened #7326 "invalid or unsupported webdriver capabilities found while using browser as Firefox"
We are automating a react native browser application on android mobile , when we launch chrome its launching but where as if we use Firefox as browser , we are getting the below error

` Error: Invalid or unsupported WebDriver capabilities found ("automationName", "deviceName", "platformVersion", "deviceOrientation", "avd", "commandTimeout", "newCommandTimeout"). Ensure to only use valid W3C WebDr

[2021-08-24 12:02] christian-bromann commented on #7326
I improved the error message on this: https://github.com/webdriverio/webdriverio/commit/273618df8f6278dae13168d3ea7ae770dd7f7de8. You are using invalid capabilities as the error message states and need to wrap them into vendor capabilities.

[2021-08-24 12:02] #7326 closed

[2021-08-24 12:48] staizen-alexm opened #7327 "WDIO + CucumberJS: Reporters to show skipped test from tag expressions"
**Is your feature request related to a problem? Please describe.**
With cucumber, we can skip tests filtered out by with `tagExpressions` e.g.

[code]

[code]

Is there any way at all for reporters (spec, allure) to show that the scenario `This is another example` was skipped? Or does this bit go against the design of cucumberjs / need to be handled on cucumberjs?

**Describe the solution you'd li

[2021-08-24 12:52] christian-bromann commented on #7327
@staizen-alexm are you saying that you have a feature file with:
[code]
which is skipped by Cucumberjs but shown in the reporters?

[2021-08-24 12:59] staizen-alexm commented on #7327
hi @christian-bromann thanks for the prompt response. I updated the issue description, i realized there are 2 levels (scenario and feature).

yup! basically show them in the reporters. at the moment, they dont show up; for spec and allure at least

[2021-08-24 13:48] nextlevelbeard commented on #7327
I think everything is working here, you just need to do things differently.

The tag expression determines what tests will be included.
So you need to remove `not @skip` from the `tagExpression` so they can "run".

Then, you tag the scenarios (in a different manner): use `skip()`.
You can also skip by platform or any other capability.
See how in #5076

[2021-08-24 15:06] nextlevelbeard commented on #7327
The work in #5076 is not native to CucumberJS, it's very much a feature of webdriverIO so I wouldn't expect Cucumber to document it. If you tag a scenario with `skip(platformName="iOS")` in vanilla CucumberJS it will not skip on iOS, it has no concept of capabilities at all really.

And turns out, it was documented, my bad.
https://webdriver.io/docs/frameworks#skipping-tests-in-cucumber

@staizen-

[2021-08-25 02:42] staizen-alexm commented on #7327
@nextlevelbeard @christian-bromann

thanks for the help. it does indeed skip the test, and it's cool that we can skip depending on capabilities.

But this is different from this issue (feature request) i created. This ticket is for showing the "skipped" tests in the reporters.

Now im not sure if this is possible to do at all, in wdio or in cucumberjs even.

[Here's a repo](https://github.com/iamk

[2021-08-25 06:29] advait012 commented on #6881
I am also getting same issue , Just to inform you that I am using automation protocol as "Webdriver" instead of devtools. I am using gauge automation framework as test runner.

Error Details:-

[code]

Could someone help in this ? what does this error means ?

[2021-08-25 07:51] BlackGold-1989 opened #7330 "Request failed due to An element command failed because the referenced element is no longer attached to the DOM"
I added my appium log.
I can see "Request failed due to An element command failed because the referenced element is no longer attached to the DOM".
Could you help me for that?

"dependencies": {
    "appium-flutter-finder": "^0.0.21",
    "system-sleep": "^1.3.7",
    "webdriverio": "^5.11.5"
  },

**Appium Log**
2021-08-25T07:47:31.646Z INFO webdriverio: Initiate new session using the webdriver p

[2021-08-25 08:15] nextlevelbeard commented on #7327
If you want them to show up in the reporters there is another way.
You can declare hooks based on tags that will either skip the Scenario or classify it as pending.

[code]

But be warned, this way, sessions will be created.

[2021-08-25 08:27] iamkenos commented on #7327
alright lemme give this a try. thanks for the insight @nextlevelbeard !

[2021-08-25 08:34] nextlevelbeard commented on #7327
Hope it helps, but this might be a valid feature request for the reporters.
Just not sure CucumberJS currently allows WDIO to do this.

@christian-bromann
If the `specs` in the config contain:
- 2 Scenarios tagged with `@skip` in one file
- 3 Scenarios not tagged in another file
- The `tagExpression` excludes skip like so: `not @skip`

Can WDIO reporters show all 5 scenarios and that 2 were skippe

[2021-08-25 08:59] brightsider opened #7333 "Cannot use import statement outside a module"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.10.1
 - **Mode:** WDIO Cli
 - **Node.js version:** 14.17.5
 - **NPM version:** 6.14.14
 - **Browser name and version:** 92
 - **Platform name and version:** macOS 11.5.2

**Config of WebdriverIO**
WDIO Configuration Helper

? Where is your automation backend located? On my local machine
? Which framework do

[2021-08-25 09:34] christian-bromann commented on #7333
Unfortunately Cucumber with the current version depends on `@cucumber/create-meta` which has `ts-node` in its dependencies. This got fixed with the latest version of that package will is also part of the latest Cucumber version. We are working. in #7309 to update it which will resolve this issue.

[2021-08-25 09:34] #7333 closed

[2021-08-25 09:38] christian-bromann commented on #7327
Not sure, would be interesting to find out. I believe skipped scenarios should be definitely be shown in reporters as we do for Mocha and jasmine. On the other side it makes sense to not show scenarios that are have a different tag as the one you run.

What do you think? Should we create a new issue for that?

[2021-08-25 09:41] christian-bromann commented on #7330
Rather than retrying the command this should go into our command middleware where the element should be refetched. Any help or contributions on this would be appreciated.

[2021-08-25 12:18] christian-bromann commented on #7311
I mean theoretically it makes sense, if you want to move your mouse to an element that is out of bounds you won't be able to execute the action. That is why I would suggest to modify the error message in `moveTo` and if there is an element out of bounds error, document what is going on and suggest a solution like using `scrollIntoView`.

Any contributions to this are welcome!

[2021-08-25 12:19] christian-bromann commented on #7303
@brianwarner when do you think we can make the transition?

[2021-08-25 12:19] christian-bromann commented on #7297
Closing due to inactivity.

[2021-08-25 12:19] #7297 closed

[2021-08-25 12:20] christian-bromann commented on #7270
Closing due to inactivity.

[2021-08-25 12:20] #7270 closed

[2021-08-25 16:51] unickq commented on #7295
@christian-bromann
So it now should be `browser.executeScript("return 0;",[]);`

[2021-08-25 16:54] christian-bromann commented on #7295
@unickq correct!

[2021-08-26 08:08] christian-bromann opened #7337 "Devtools: avoid unbeforeunload confirm modal boxes"
When navigating using the devtools protocol navigation can be blocked due to confirm alerts triggered within `unbeforeunload` events. This is somehow fixed when using Chromedriver. It doesn't seem any Chrome flag can prevent this. What I would suggest is to have a listener in our [`checkPendingNavigations`](https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/devtoolsdriver.t

[2021-08-26 15:30] tehhowch opened #7340 "WebdriverIO.Element.waitUntil executes WDIO commands in async mode despite sync mode test context"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.10.1 (commit SHA edb4fcb6264dde85713339bcd03a2ca8eca81643)
 - **Mode:**  WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.17.3
 - **NPM version:** 6.14.13
 - **Browser name and version:** Chrome 92
 - **Platform name and version:** macOS 11
 - **Additional wdio p

[2021-08-26 18:51] anandkedari opened #7342 "Visual regression is flaky for pages with images"
This issue is specific to pages which has screens and when we want to perform visual regression on page. This becomes significantly flaky for mobile native apps. Consider a situation where UI(web or mobile) fetches/downloads content through backend api or server. The content is downloaded at client and then the content is rendered at client i.e., on browser or native app. Let us also consider that

[2021-08-26 18:58] tehhowch opened #7343 "WebdriverIO.Element.isExisting fails when element found by elementId"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.10.1 (commit sha edb4fcb6264dde85713339bcd03a2ca8eca81643  )
 - **Mode:** WDIO testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.17.3
 - **NPM version:** 6.14.13
 - **Browser name and version:** Chrome 92
 - **Platform name and version:** macOS 11
 - **Additional wdio

[2021-08-27 00:30] tehhowch opened #7344 "Failure to find element from WebdriverIO.Element.$ results in reference element changing"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.10.1
 - **Mode:** WDIO testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v14.17.3
 - **NPM version:** 6.14.13
 - **Browser name and version:** Chrome 92
 - **Platform name and version:** macOS 11
 - **Additional wdio packages used (if applicable):**
    "@wdio/cli": "^7.1

[2021-08-27 08:41] #7343 closed, assigned to nobody

[2021-08-27 11:59] vitalyiegorov opened #7350 "touchAction has wrong return typescript type void instead of Promise<void>"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.11.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 16.1.0
 - **NPM version:** 7.11.2

**Describe the bug**
`touchAction(..)` has wrong return typescript type `void` instead of `Promise<void>`, this throws errors in sync mode when you  try to call `aw

[2021-08-27 13:57] christian-bromann opened #7351 "Allow to set Chrome preferences when running tests with Puppeteer"
**Is your feature request related to a problem? Please describe.**
With the following test you are able to specify preferences, e.g. default download directory, in Chrome using WebDriver:

[code]

The `prefs` property is not respected when starting sessions using Puppeteer.

**Describe the solution you'd like**
I would suggest to create a temporary directory with a preference file that contains th

[2021-08-28 08:54] fregante opened #7354 "Import globals instead of relying on globals"
**Is your feature request related to a problem? Please describe.**

Globals bring a variety of issues that need to be addressed separately and could be avoided by just not using globals now that we have CJS and ESM.

Namely this is ESLint and TypeScript issues (I'm not looking for a solution to each)

**Describe the solution you'd like**

Like Jest, offer a [`injectGlobals: false` option](https://

[2021-08-28 12:24] fregante opened #7355 "Add ability to load addons / extensions / webextensions in Firefox"
**Is your feature request related to a problem? Please describe.**

Firefox requires addons to be signed unless they're installed "temporarily". This means that the regular way of loading extensions via `firefox-profile` does not work anymore:

- https://github.com/saadtazi/firefox-profile-js/issues/125

_Side note: It can work if you use Firefox Developer Edition but that’s not available on Brows

[2021-08-28 17:58] DudaGod opened #7356 "devtools(executeAsyncScript): fails with unclear error if pass undefined or null to args"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.11.0
 - **Mode:** Standalone mode
 - **Node.js version:** 12.18.1
 - **NPM version:** 6.14.5
 - **Browser name and version:** Chrome 92
 - **Platform name and version:** Linux

**Describe the bug**

I found a strange behaviour in devtools protocol when call `executeAsync` method. But in webdriver protocol ev

[2021-08-28 22:19] erwinheitzman commented on #7356
It expects an array to be passed

[2021-08-28 22:23] erwinheitzman commented on #7342
I see two solutions, either stub the API call so the image never loads, or wait for the request(s). This is not an issue with WebdriverIO in my opinion.

[2021-08-29 09:38] DudaGod commented on #7356
But in docs - https://webdriver.io/docs/api/browser/executeAsync/ I see example with pass args one by one without any array. Moreover it works fine in `webdriver` protocol. I expect it will work in `devtools` protocol with the same API.

[2021-08-30 03:12] Assone commented on #6939
me too

[2021-08-30 07:02] #7132 closed

[2021-08-30 07:02] #5882 closed

[2021-08-30 07:09] christian-bromann commented on #7356
Created a PR with a fix.

[2021-08-30 07:09] #7356 closed

[2021-08-30 07:13] christian-bromann commented on #7342
I do agree with @erwinheitzman. WebdriverIO doesn't have any checks in place that ensures that all images on the page are loaded. The devtools protocol would allow it to check for network idleness but this wouldn't work in a native context.

@anandkedari do you have any suggestions how WebdriverIO can help with this issue?

[2021-08-30 07:18] christian-bromann commented on #7355
I suggest to create a protocol file similar we have for Chrome in [`@wdio/protocols`](https://github.com/webdriverio/webdriverio/tree/main/packages/wdio-protocols/protocols) and [apply this protocol](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriver/src/utils.ts#L165-L205) when Firefox is used. Any contributions are welcome!

[2021-08-30 07:24] christian-bromann commented on #7354
Can you elaborate what kind of issues you are referring to?

I definitely believe moving away from globals is a cleaner way of handling the browser variable. It would require some refactoring across the project to get this working though. So far I haven't had anyone with severe issues using the global variable.

[2021-08-30 07:36] christian-bromann commented on #7351
What do you mean?

You do have access to the Puppeteer instance with [`getPuppeteer`](https://webdriver.io/docs/api/browser/getPuppeteer).

[2021-08-30 08:02] fregante commented on #7354
ESLint `no-undef` reports, I don’t even lack of completions, TypeScripts compile errors. Each of these issues have its own solution/config, but an `import` would work out of the box

[2021-08-30 08:16] yzvezdin commented on #7351
Cool, will try. Thank you.

[2021-08-30 09:01] sjieg commented on #7132
Hey @lthurr, on behalf of the Calliope Pro team, your work on this is much appreciated!

[2021-08-30 09:26] christian-bromann opened #7359 "Fix broken iFrame e2e test"
This patch https://github.com/webdriverio/webdriverio/commit/b93e7f40fbda87cd77ec525b2a92c86cfb4c58cc disabled an e2e test that seem to start failing for unknown reasons. Running the test locally seems fine. I suggest instead of using a 3rd party page to replace it with an own blank page that allows us to verify that switching to the iframe was successul.

[2021-08-30 09:32] sgkiokas commented on #7132
We thank you as well on behalf of Camelot Lottery Solutions :)

[2021-08-30 13:44] erwinheitzman opened #7367 "Retry arguments are no longer working for Mocha and Jasmine"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.11.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** v14.17.4
 - **NPM version:** 6.14.14

**Config of WebdriverIO**
Default config created using the CLI by selecting either Mocha or Jasmine, combined with the CDP and TypeScript.

[code]

**Describe t

[2021-08-30 17:38] EINBOX opened #7368 "Firefox mobile browser automation, no proper clue"
Hello,
I see lot of boiler plates and many experts explained and everyone had put same kind of samples using chrome local or mobile
Why no one had put an sample or no working document on Firefox mobile testing, I have gone through and asked to share but no expert didn't answer
Is it difficult to handle this through webdriverio?

[2021-08-30 17:58] babusekaran opened #7369 "Duplicate reporter document entry for Intercept service"
**Pre-check**
- [X] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [X] Other

![wdio-doc-issue](https://user-images.githubusercontent.com/26348282/131383441-199d4cb5-c268-4358-aa52-7c882e9d7a09

[2021-08-30 21:22] robcruz commented on #4482
I am still seeing this issue when automating React version of our web app. Thanks for the workaround.

[2021-08-31 07:29] christian-bromann commented on #7369
Good catch, let's continue convo in #7370

[2021-08-31 07:29] #7369 closed

[2021-08-31 07:38] christian-bromann commented on #7368
@EINBOX can you please elaborate what you mean by Firefox mobile. Are you talking about testing on Firefox OS?

[2021-08-31 08:27] wswebcreation commented on #7368
@EINBOX

Firefox can only be tested with Appium on Android, but that Firefox driver is in Beta (as fas as I know). There is a driver available somewhere. As long as Appium supports it then WebdriverIO can also support it. My suggestion would be to ask this on the Appium support channels / check their repository to see how you can get this working. You also need to be aware that you need to provide

[2021-08-31 09:52] christian-bromann commented on #7367
Fixed in #7371

Not sure what is wrong here but if I run:
[code]
I get 5 `console.log` messages as you would expect. Are you also saying that the Mocha types are wrong?

[2021-08-31 12:52] anandkedari commented on #7342
Thanks for your reply. I do agree with you both but this problem is quite often and I guess most of the people will face if they use wdio's visual regression. I did try doing some research to figure out how to fix it, but I couldn't figure out. Hence raised an issue as visual regression is a feature of WDIO and not android/ios sdks. The problem occurs when it does visual compare during automation,

[2021-09-01 10:55] RollerIn commented on #7368
Thank you @christian-bromann and @wswebcreation for your quick response.
we have planned to automate react web application on browsers on iOS<safari> and Android<Chrome,Firefox> and choose WebdriverIO is the framework, yes we are using appium to support mobile platforms.
I am planning to create a POC and did some work by launching chrome browser on android but where as when I tried to launch firef

[2021-09-01 11:04] pratik-nagpure commented on #3954
@utpal30  Did you find solution?

[2021-09-01 13:51] RollerIn opened #7373 "pseudo element finding and clicking on mobile browser"
Hello,

I have spent lot of time to get solution by browsing across different sources but did not get any solution .

our application having left and right arrow buttons to turn pages left to right and vice versa , these buttons will be displayed only when we focus on them
source of html:
![image](https://user-images.githubusercontent.com/17290705/131682965-80503b40-56e1-4f7e-b309-d2bbe4d59127.png

[2021-09-01 14:06] tehhowch commented on #7344
@christian-bromann is the above reproduction satisfactory?

[2021-09-01 14:34] christian-bromann commented on #7344
I haven't look into it. Any help or contributions are appreciated.

[2021-09-01 15:25] nextlevelbeard commented on #7300
@christian-bromann Correct me if I'm wrong but I suspect that the upgrade to the Cucumber packages is not enough.

Seems like webdriverIO is using the [CucumberRuntime](https://github.com/cucumber/cucumber-js/blob/main/src/runtime/index.ts) instead of directly invoking the CLI.

This way we can only run CucumberJS with the [runtime options](https://github.com/cucumber/cucumber-js/blob/06be59ae3407

[2021-09-01 15:37] bartekkustra opened #7375 "[Config] Incorrect config generation when picking allure leads to error thrown on wdio runs"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.11.1 (but happened in 7.10.0 as well)
 - **Mode:** standalone/local
 - **If WDIO Testrunner, running sync/async:** async
 - **Platform name and version:** macOS

**Config of WebdriverIO**
Standard `wdio config` result:
![image](https://user-images.githubusercontent.com/13950466/131700576-f314cefa-67d3-48bb-b

[2021-09-02 07:06] christian-bromann commented on #7300
@nextlevelbeard I think it it something like a rest url where you can push your report to. It is just a matter of looking into the Cucumber.js code and figure that out.

[2021-09-02 07:22] erwinheitzman commented on #7367
What if you run my actual example instead of manually throwing an error?

[2021-09-02 10:38] RollerIn commented on #7368
Updating my code after some work around but still not working ,but this time is different error
**WDIO.conf.js**
[code]
**Firefox.conf.js**
[code]

**Error log:**
[code]

[2021-09-02 12:16] CompGeist opened #7376 "Attachment (Screenshot) is one Step to late of Allure Reporter with WebdriverIO"
The screenshots that will be attachments in the report are visible one step to late. (see picture)

**Expected behavior**
- report show screenshots for failing steps only
- screenshot (attachment) is visible at failing step

**Context:**
 - The report creates screenshots for failing steps only
 - this behavior is chains with usage of multiple steps with one screenshot each (was visible for screens

[2021-09-02 12:54] christian-bromann commented on #7376
@CompGeist thanks for reporting. Please consider to contribute to the project. The maintainer team is happy to help.

[2021-09-02 13:32] avikha opened #7377 "Issue with WebDriverIO packages size and running inside the AWS Lambda"
We are running `wdio` on AWS Lambda, using the `devtools` protocol (via `devtools-service` and `puppeteer`).

First, we build and deploy lambda with the following dependencies. So, when we invoke the Lambda, it already comes with these dependencies pre-installed on the Lambda.

[code]

Inside the lambda, we use S3 to get the company's internal automation framework and the test code we want to run.

[2021-09-02 13:44] BorisOsipov commented on #7377
@avikha could you provide reproducable example?
I create fresh project and add all your deps. Then measure disk usage by linux `du -h` command. Results are:
- total node_modules size is 238Mb
- `node_modules/@wdio/*` folder size is 2,3Mb
- top 5 the most 'fat' folders is
[code]

[2021-09-02 13:45] christian-bromann commented on #7377
@avikha how did you measure the package size? If you do:

[code]

and then check the size of the `node_modules` folder, you will see that its size is around 3.5MB.

[2021-09-02 13:47] RollerIn commented on #7368
As my observation it is throwing error while reading capabilities, it might be because of cap object itself null , so that wdio/geckodriver throwing  the following error
 **2021-09-02T13:46:15.719Z ERROR @wdio/utils:shim: TypeError: Cannot read property 'toLowerCase' of undefined**

here is the line throwing error  at isFirefox
const isFirefox = cap => cap.browserName.toLowerCase().includes('firef

[2021-09-02 13:54] christian-bromann commented on #7368
Please have a look into our [contribution guidelines](https://webdriver.io/docs/contribute), if you have any questions, let us know.

[2021-09-02 13:59] christian-bromann commented on #7368
It seems that Appium sends back capabilities without `browserName` in them. A possible solution to this is to check where we access cap properties without checking their existence.

[2021-09-02 14:48] avikha commented on #7377
Hey guys, thank you very much for your fast response.

@christian-bromann I did exactly what you said.

[code]

I did the same thing with `@wdio/cli`.

[code]

@BorisOsipov @christian-bromann I guess I'm asking why `npm install`ing the `@wdio/devtools-service` or `@wdio/cli` packages brings an additional over 100MB for the total `node_modules`? If the `@wdio/devtools-service` is the service that w

[2021-09-02 14:59] avikha commented on #7377
I think that the thing that I'm most afraid of is because we are so close to the limit of the lambda, and `npm install`ing the `@wdio/*` packages bring a lot `node_modules`, then it is enough that one module or many modules will grow in size and we won't be able to deploy the Lambda anymore.

[2021-09-02 15:22] BorisOsipov commented on #7377
@avikha FMPOV there are two things:
1) `@wdio/devtools-service` is really fat. It comes with puppertier and lighthouse packages with big dependencies size. And seems there is nothing to do.
2) `Perhaps there are some dependencies-over-dependencies-over-dependencies that the project does not really need or cares about, but you know, npm install just brings it down.`
It is "normal" nodejs developmen

[2021-09-02 16:35] gokulthegr8 opened #7378 "setWindowSize() and setWindowRect() are not working in headless mode"
Description: setWindowSize() and setWindowRect() are not working in headless mode

Steps to Reproduce:

1) Navigate to any url.
2) Change Window size using setWindowSize() or setWindowRect().

Expected Behavior:
The window size should successfully change in both headless and non-headless mode.

Actual Behavior:
The window size is changing successfully in non-headless mode but not in headless mode.

[2021-09-02 16:43] avikha commented on #7377
Hey @BorisOsipov, I'm familiar with the general notion of the image you've shared, I know that the node_modules is the heaviest object in the universe. But still, for me, it might be a party pooper. And not only for me but for anyone who wants to use `wdio` and scale the testing process.

I've already used `node-prune`, `modclean`, and `UglifyJS` to free 50MBs. But it is not enough. It is still ve

[2021-09-02 17:19] BorisOsipov commented on #7377
@avikha I understand your issue. I [played with cloud function](https://github.com/BorisOsipov/wdio-gcloudfunction-example) three years ago.

I think you already used all of them(node-prune, modclean, and UglifyJS)

It is but they are required. IDK what we have to do if we need lighthouse but it comes with 100mb deps. Probably we can split devtools into few parts, but if you need all it features y

[2021-09-02 17:24] BorisOsipov commented on #7377
@avikha Also if I understand correctly AWS Lambda [docs](https://docs.aws.amazon.com/lambda/latest/dg/lambda-images.html)

and container image code package size limit is 10 GB

Maybe it will help you don't care about dependencies size.

[2021-09-03 07:40] fatso83 commented on #6928
@erwinheitzman It's also the hardest target since it does so much more than just running tests. Tom Sherman has some good insights into how he managed to cram Jest inside of a Karma setup: https://github.com/tom-sherman/blog/blob/master/posts/02-running-jest-tests-in-a-browser.md

The one thing you are not able to do (easily) is ES module mocking in the browser, which Jest otherwise achieves using

[2021-09-03 12:22] opensourcesensor opened #7380 "Accept Insecure Certs Safari - not work"
- WebdriverIO version: latest
 - Mode: WDIO Testrunner, async:
 - Node.js version: 16.8.2
 - NPM version: 7.21.0
 - Browser name and version: Safari, latest
 - Platform name and version: macOS 11

For this issue, I use these 2 capabilities:
strictSSL: true,
acceptInsecureCerts: true,

On the website I run the tests, there are insecure SSL certs, that have to be accepted manually.
For this I take t

[2021-09-03 12:34] christian-bromann commented on #7380
Thanks for reporting the issue.

Please report this bug in the WebKit project. It can't be fixed within WebdriverIO.

[2021-09-03 12:34] #7380 closed

[2021-09-03 12:37] christian-bromann commented on #7380
Just found [this article](https://www.toolsqa.com/selenium-webdriver/ssl-certificate-in-selenium/) saying:

To ignore insecure certs, just run:
[code]

[2021-09-03 12:48] opensourcesensor commented on #7380
Hi @christian-bromann ,
thank you!
This is working and really helpful for me!

Maybe we can add this to the WDIO documentation at some time?

All the best,
Fabian Schmider

[2021-09-03 12:50] christian-bromann commented on #7380
Yeah, we should have a FAQ section with a page on insecure certs. You want to help us take a stab at it?

[2021-09-03 13:12] RollerIn commented on #7368
its not only browserName ,the entire capability object undefined , but in case of chrome its returns as chrome.
am not sure how to through to find exactly where it was broken .
just touched : index.js under WDIO-geckodriver-service and core/index.js under got/dist/source

its strange thing.

looking forward some helloing hands in this to fix the issue.

[2021-09-03 13:53] christian-bromann commented on #7368
Same from this side. I haven't automated Firefox on Android yet. Any help and investigation in this issue is appreciated.

[2021-09-03 14:12] opensourcesensor commented on #7380
@christian-bromann, that sounds interesting, but my knowledge of certificates is not very deep. - feel free to send an email with your expectations, then we'll see if I can help! fabian.schmider@gmx.de

[2021-09-03 17:42] goveanick opened #7381 "Getting the error "Fatal error in, line 0" when upgrading to version 7.11.1"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2]  - `7.11.1`
 - **Mode:** [Standalone mode or WDIO Testrunner] - `Test Runner`
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] - `sync`
 - **Node.js version:** [e.g. 8.11.2] - `v14.17.6`
 - **NPM version:** [e.g. 5.8.0] - `6.14.15`
 - **Browser name and version:** [e.g. Chrome 68]

[2021-09-03 20:40] Sashtim commented on #2714
Hello
I just had the same problem and the cause of it is that Windows doesn't work with such a command line.
There is a solution here:
https://www.npmjs.com/package/cross-env
Hopefully, it will be helpful for somebody else.

[2021-09-04 06:50] mykola-mokhnach commented on #7368
I think the issue has to do with how client libraries (in this case WDIO) select the target automation platform. Basically, in the ideal world, they would only send the session creation request to the server URL and continue from there. Although, many clients try to do more than that and init webdriver executable or do some other platform-specific actions, which are different for different drivers

[2021-09-04 10:57] christian-bromann commented on #7381
Can you try without using `@wdio/sync`. We don't recommend to use sync operations anymore. Read more on this in our blog post: https://webdriver.io/blog/2021/07/28/sync-api-deprecation

[2021-09-04 10:59] christian-bromann commented on #7380
I would suggest to create a new `FAQ` section and start with a page called `Accept Insecure Certs`. Then in that page summarise what the blog article says. What do you think?

[2021-09-04 16:46] RollerIn commented on #7368
Already , I have tried with 'browserName': 'MozillaFirefox' also but still I saw same issue
in case of desktop firefox, working fine

[2021-09-04 17:52] RollerIn commented on #7368
**Appium Log Info:**
[code]

[2021-09-05 09:41] avikha commented on #7377
Hey @BorisOsipov, thanks for the reply.

About

I think that it is a good direction to take. Otherwise, as the project evolves and grows, it won't be a scaleable solution. Once again, I'm not yet familiar of the internal architecture of `wdio` (I'll to get a bit familiar with it), but to me, it sounds good to have like many `devtools` packages, one which is `core` and then others like `lighthouse`

[2021-09-05 10:49] SNDST00M opened #7383 "Namespace 'global.WebdriverIO' has no exported member 'Browser'"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.1.1
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 16.4.2 (TS version 4.3.5)
 - **NPM version:** 7.20.3
 - **Browser name and version:** Chrome 92
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** `@types/w

[2021-09-05 20:23] praveendvd commented on #7376
@christian-bromann  @CompGeist

it seems like you are using async , for async everythign is promise even after test.

so you should handle it properly as :
[code]

[2021-09-05 21:25] christian-bromann commented on #7377
I will go ahead and close this issue. There is no general problem with the package size of the WebdriverIO framework. We are aware and acknowledge that some wdio packages might have larger sizes due to their dependencies (e.g. Lighthouse). However I don't see anything we can do about this at this point and no suggestions have been made so far.

Let's consider this option if we see more folks with

[2021-09-05 21:25] #7377 closed

[2021-09-05 21:28] christian-bromann commented on #7376
@CompGeist can you verify whether or not you are using sync or async? If so can you provide a reproducible example?

[2021-09-05 21:32] christian-bromann commented on #7383
Please set:
[code]
in your tsconfig.json. See also https://webdriver.io/docs/typescript#framework-setup

[2021-09-05 21:32] #7383 closed

[2021-09-05 21:34] SNDST00M commented on #7383
Thanks!

[2021-09-05 21:35] SNDST00M commented on #7383
Does it work with pure JavaScript?

[2021-09-05 21:37] SNDST00M commented on #7383
And do I need to install anything in `package.json`? I have `webdriver` `@types/webdriverio` & `@wdio/cli` installed

[2021-09-06 04:58] advait012 commented on #6881
Do we have any update on this issue ?

[2021-09-06 07:09] christian-bromann commented on #6881
@advait012 if you have a Windows machine to help out with the issue please do.

[2021-09-06 07:10] christian-bromann commented on #7383
Yes!

Please follow the [Getting Started](https://webdriver.io/docs/gettingstarted) guide in our docs.

[2021-09-06 07:26] christian-bromann commented on #7367
Also with the following spec:
[code]

I am not able to reproduce this. When I run, it successfully retries 4 times.

I will close this. If anyone encounters this issue, please raise a new issue with a reproducible example. Thanks!

[2021-09-06 07:26] #7367 closed

[2021-09-06 07:32] christian-bromann commented on #7378
I can't reproduce this, neither with DevTools nor with WebDriver:

__WebDriver__
[code]

__DevTools__
[code]

Happy to re-open if you can provide a reproducible example. Thanks!

[2021-09-06 07:32] #7378 closed

[2021-09-06 07:36] christian-bromann commented on #7373
A reproducible example would be helpful, otherwise I can only make suggestions. Maybe a little pause is necessary between moveTo and click to make this work.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) if you need further assistance.

[2021-09-06 07:36] #7373 closed

[2021-09-06 07:36] christian-bromann commented on #7375
This got fixed thanks to @gpt14

[2021-09-06 07:36] #7375 closed

[2021-09-06 08:56] christian-bromann commented on #7355
Implemented in #7384

[2021-09-06 08:56] #7355 closed

[2021-09-06 09:44] christian-bromann commented on #7351
This feature got implemented in `chrome-launcher` (GoogleChrome/chrome-launcher#247) and will be available once merged and released.

[2021-09-06 09:44] #7351 closed

[2021-09-07 06:14] CompGeist commented on #7376
This was the solution!

@christian-bromann yes we use async code in our tests. I can't provide a full reproducible example (company regulation and i don't have time to create a new free one), but i can show the changes i did.

This change in the "wdio.conf.js" did the trick:
[code]
Compared to bevore (which created the explained error):
[code]

Conclusion: It wasn't a bug, it was a layer 7 problem

[2021-09-07 06:14] #7376 closed

[2021-09-07 06:58] christian-bromann commented on #7342
@anandkedari while I don't believe this is a specific problem with WebdriverIO and more a general automation problem, I am happy to keep the issue around in the hope someone who has solved the problem or has ideas can chime in.

[2021-09-07 08:18] christian-bromann commented on #7258
Fixed in #7397

[2021-09-07 08:18] #7258 closed

[2021-09-07 08:20] christian-bromann commented on #7344
@tehhowch have you tried run this code with `async/await`?

[2021-09-07 09:07] christian-bromann commented on #7234
implemented in #7398

[2021-09-07 09:07] #7234 closed

[2021-09-07 09:07] #7131 closed

[2021-09-07 09:12] christian-bromann commented on #7060
This works now with our improved async API. Update the test to this:
[code]
and the stack trace will lead to the origin:
[code]

[2021-09-07 09:12] #7060 closed

[2021-09-07 09:19] christian-bromann commented on #6981
Not sure if it is a good idea to rely on deprecated protocols. I reached out to the Appium team to ask for advice on what is the best approach for key events in native contexts.

[2021-09-07 09:23] christian-bromann commented on #6939
@Joozty any updates on this?

[2021-09-07 09:25] Joozty commented on #6939
not really it's still an issue and don't know how to solve it. 😞

[2021-09-07 09:27] christian-bromann commented on #6981
Apparently `performActions` is supported for native contexts too, see https://appiumpro.com/editions/46-sending-arbitrary-keystrokes-with-the-actions-api. Closing. Please let me know if anyone experiences issues and say which platform.

[2021-09-07 09:27] #6981 closed

[2021-09-07 09:33] christian-bromann commented on #6671
@lthurr did your fix recently also fixed this?

[2021-09-07 09:35] christian-bromann commented on #6559
@DudaGod are you interested working on the issue? I haven't seen anyone with a similar request. Not sure what you are trying to do but there might be a better way to achieve that without having this capability in WebdriverIO. I would otherwise close the issue.

[2021-09-07 09:44] christian-bromann commented on #5418
@flunderpero thanks for letting us know. I will close this issue as it is unlikely anyone will pick this bug up given it is related to sync mode execution which we depcrecated.

[2021-09-07 09:44] #5418 closed

[2021-09-07 09:45] christian-bromann commented on #5411
@brucehubbardKroger any updates?

[2021-09-07 09:48] christian-bromann commented on #5380
This issue doesn't seem to be reproducible with the latest Chromedriver and WebdriverIO. Closing!

[2021-09-07 09:48] #5380 closed

[2021-09-07 09:52] christian-bromann commented on #5290
This issue is not reproducible anymore with the latest WebdriverIO version.

[2021-09-07 09:52] #5290 closed

[2021-09-07 09:57] DudaGod commented on #6559
We found a workaround. So I close it. Thank you.

[2021-09-07 09:57] #6559 closed

[2021-09-07 10:12] lthurr commented on #6671
@christian-bromann Nope! My fix was about appending all the parent suite names to `classname`

Regarding this issue:
The documentation says you'll get

[code]

And you actually get
[code]

I think documentation could be updated.

[2021-09-07 10:23] #6671 closed

[2021-09-07 10:23] christian-bromann commented on #6671
@lthurr yes thanks for clarifying. Updated docs.

[2021-09-07 10:47] tehhowch commented on #7344
No, I have not. It seems to be an algorithm error so I doubt there would be a difference.

[2021-09-07 11:11] christian-bromann commented on #7344
That is incorrect. There is a lot of magic going on if you run these commands in a synchronous fashion. It is likely that an error is located there. I would be great if you can double check. Note that we have depcrecated sync execution and ask everyone to switch to async anyway. Therefor I was hoping that you would be able to transform the test into an async test and we can close this issue.

[2021-09-07 11:50] tehhowch commented on #7344
Switching all of our page object and test code to async at once is not a reasonable workaround to a bug introduced by a refactoring in a minor version. Furthermore, a deprecated functionality is one that is still expected to work correctly in all application versions in which it is found.

Note that the test passes--in sync mode--when not using wdio's selenium-standalone package, and then fails wh

[2021-09-08 09:54] opensourcesensor commented on #7380
@christian-bromann , ah yes that sounds good, there I can help!

[2021-09-08 10:25] christian-bromann commented on #7380
@opensourcesensor awesome, let me know if you need any help dealing with our docs system. It is a typical Docusarus v2 setup, you can find more information here: https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#documentation

[2021-09-08 12:36] jan-molak opened #7400 "Support waitForAngular"
Hi team!

In the https://github.com/angular/protractor/issues/5502, @kyliau proposed for the `waitForAngular` to become an independent library that test frameworks could use to synchronise with Angular-based apps.
An example implementation is available at https://github.com/kyliau/angular-wait/blob/main/server/server.ts

Perhaps this functionality could be introduced as a WebdriverIO service? Or d

[2021-09-08 12:48] christian-bromann commented on #7400
Hey Jan,

I think we both chatted with @kyliau who afaik mentioned that Angular apps don't have anything special compared to other frameworks, that would need attention. For example if you open an Angular app today and fetch an element to click on it, WebdriverIO would automatically wait for that element to appear. If you do other, non element related things, like `performAction`, I believe it mak

[2021-09-08 13:08] StanislavKharchenko commented on #7400
@christian-bromann Unfortunately no. Even if you wait until element present on page it could not be intractable, or nothing will be if you click on element until it was completely rendered by Angular.
Thats why this feature was implemented in Protractor, and that's why Protractor doesn't use simple like "waitForPresence" because for Angular this make tests unstable.

BTW @kyliau no longer works on

[2021-09-08 13:26] christian-bromann commented on #7400
@StanislavKharchenko understand. Can you think of an example app where I can test this?

Also if I remember correctly @kyliau said that the framework stabilizer that `waitForAngular` uses is not supported in the newer framework versions anymore. Is that correct?

[2021-09-08 13:26] BorisOsipov commented on #7400
@christian-bromann angular has build-in features https://angular.io/api/core/Testability that protractor uses.
But it sometimes doesn't work and sometimes requires chagnes in application under test.

A nuance that angular test abilities are not available in production build - that makes them useless for testing in staging\production like environments.

[2021-09-08 13:33] StanislavKharchenko commented on #7400
@christian-bromann I think https://angular.io is a simple example with latest angular v12 is ok.
I don't know what @kyliau meant but waitForAngular feature works in the latest v12 and yes, it was provided by Angular core functionality.
The actual Protractor implementation is here:
https://github.com/angular/protractor/blob/master/lib/browser.ts#L514

[2021-09-08 13:40] StanislavKharchenko commented on #7400
@BorisOsipov window.getAllAngularTestabilities(), whenStable and all related are available in prod mode.

[2021-09-08 13:55] BorisOsipov commented on #7400
@StanislavKharchenko seems true. thank you

[2021-09-08 17:02] kyliau commented on #7400
Chiming in since I've been tagged multiple times 😛 cc my coworker Doug @dgp1130 who's now in charge of Protractor.

`waitForAngular()` should be implemented as a standalone library, because it does not require any special instructions / APIs from the testing framework. It taps into the Testability module provided by Angular core.
As shown in the [example](https://github.com/kyliau/angular-wait/blo

[2021-09-09 03:17] splurgeop opened #7402 "Native Methods doesn't seems to work with html5/Angular apps"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [ 7

[2021-09-09 06:55] christian-bromann commented on #7402
@splurgeop what Angular version is that and do you have any example in the wild that I can use to test?

[2021-09-09 08:03] splurgeop commented on #7402
angular version 11.
my application is not acessible outside. but  if i look at the implementatin of getvalue
 https://webdriver.io/docs/api/element/getValue
 the value is a property here.
  whereas in my case it doesnt.

  here is another angular app
  https://creadoor.co.uk/search
  which can be tried

[2021-09-09 10:08] kshaik9 opened #7403 "Webdriverio v6.9.0 - isDisplayedInViewport throwing error"
Node: 12.22.6
Webdriverio: 6.9.0
browser: Chrome
version: 93.0.4577.63

[code]

SImple test method:

[code]

Evaluation failed: Error: eval is disabled
    at e.<computed>.e.<computed> (https:// internal-private-website(dot) com/static/app/4.91.1-dd0839bf/app.js:2:35759)
    at __puppeteer_evaluation_script__:3:18

It should at least return false if element not in viewport, but getting error.

Ple

[2021-09-09 21:55] erwinheitzman commented on #7402
Some more context would be helpful, like does it have a value when you manually type something into said element? If not, then this is not an issue with the command (there's no value so it cannot be used) but rather the input element is used in a different way. For example, sometimes the input element is just a placeholder and another element has the actual value (not as I'm attribute but as in st

[2021-09-10 03:50] splurgeop commented on #7402
The "value" attribute is not present irrespective of manual or automation.
if you take a look at the  url
https://creadoor.co.uk/search

and if you enter something in the search box you wont see the "value" attribute.
I can understand the getValue is for value attribute but is there any way out that we can get the text attribute.
throught js if i get the value
`browser.execute(argument[0].value, e

[2021-09-10 08:08] christian-bromann commented on #7403
@kshaik9 can you please provide more information on the browser name and version?

[2021-09-10 08:15] christian-bromann commented on #7402
@splurgeop I have this simple test:
[code]

And it returns successfully the value of the input for both, running with CDP and WebDriver. Can you provide a reproducible example?

[2021-09-10 08:20] kshaik9 commented on #7403
@christian-bromann , apologies, this is my first post here

browser: Chrome
version: 93.0.4577.63

FYI, I also tried as below, tough I see the same error
[code]

[2021-09-10 08:22] christian-bromann commented on #7400
@StanislavKharchenko can you provide a concrete example where this would fail? Until Angular renders something into the browser the DOM element won't be there and won't be found which causes WebdriverIO to continue looking for it. If I understand you correctly, there seem to be a situation where an element is rendered but not interactable? Can you elaborate on that?

I second @kyliau opinion on te

[2021-09-10 08:23] christian-bromann commented on #7403
Can you provide the whole stack trace?

`isDisplayedInViewport` is a WebdriverIO command, you can't run it within the browser.

[2021-09-10 08:24] christian-bromann commented on #7381
Closing due to inactivity.

[2021-09-10 08:24] #7381 closed

[2021-09-10 08:41] #7350 closed

[2021-09-10 08:47] kshaik9 commented on #7403
This time I used plain method

[code]

below are the trace details
[code]

[2021-09-10 10:55] neuged commented on #7285
I had the same issue, was also on node 14.1.0 . Upgrading node to 16.7.0 fixed it. Thanks for the tip!

[2021-09-10 11:28] christian-bromann commented on #6798
Fixed by #6848

[2021-09-10 11:28] #6798 closed

[2021-09-10 11:34] christian-bromann commented on #7403
It seems that this error comes from a file of yours, can you verify this?

[2021-09-10 11:36] #7403 closed

[2021-09-10 14:09] 1MaJKeL1 opened #7404 "defaultViewport is NOT working for Chrome ONLY"
When user has defined protocol as devtool and test are executed on Chrome then setup from defaultViewport is not valid, browser is opened in different resolution.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.12.2]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [14.17.2]
 - **NPM version:**

[2021-09-10 14:15] christian-bromann commented on #7404
While we pass in the `wdio:devtoolsOptions` object directly into `puppeteer.launch` (see [here](https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/launcher.ts#L160-L183)), we use the [`chrome-launcher`](https://www.npmjs.com/package/chrome-launcher) package because it can find the binary for us. Maybe we can use the Puppeteer launcher also for Chrome but we definitely need

[2021-09-10 14:30] kshaik9 commented on #7403
@christian-bromann thanks for the update! What's your next plan on this bug?

[2021-09-10 14:35] christian-bromann commented on #7403
Let me reemphasise: this is not a bug in WebdriverIO. The app you are testing overwrites `eval` which is needed for automation. You can try to run your tests with WebDriver (start Chromedriver using the `wdio-chromedriver-service`) and see if Chromedriver is better able to handle this.

[2021-09-10 14:49] StanislavKharchenko commented on #7400
@christian-bromann We're investigated ability to use WDIO with Angular and found that it is not enough to just wait until element "isPresent" or "isEnabled" in DOM.
I propose to investigate by your team using Angular application which has some complex controls on page. Unfortunately I can't share example of our app since it fully corporative.

I don't know how Angular generate DOM, but sometimes,

[2021-09-10 14:54] kshaik9 commented on #7403
Got you. I tried with `wdio-chromedriver-service`, I still see same error

[2021-09-10 14:54] christian-bromann commented on #7400
WebdriverIO is not based off Selenium. It is an independent implementation of the W3C WebDriver protocol.

Happy to do my own investigations but would be awesome if you have an example "complex" Angular application I could use for that.

[2021-09-10 15:11] CreeTar commented on #5869
still an issue...

[2021-09-10 15:19] christian-bromann commented on #5869
@mankeheaven @CreeTar as mentioned above a reproducible example would be helpful.

[2021-09-10 15:37] BorisOsipov commented on #5869
@christian-bromann just react sample app from github search

[code]

deps
[code]

Chrome Version 92.0.4515.159

[2021-09-10 18:43] nolanlawson opened #7405 "Mocha error: Cannot read property 'finally' of undefined"
**Environment:**
 - **WebdriverIO version:** 7.12.3
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync/async:** Not sure
 - **Node.js version:** 16.5.0
 - **NPM version:** 7.19.1
 - **Browser name and version:** 93.0.4577.63
 - **Platform name and version:** MacOS Big Sur
 - **Additional wdio packages used (if applicable):** See repro

**Describe the bug**

In Mocha mode, when using a `before

[2021-09-10 22:09] dreuxl commented on #7405
same here :(

[2021-09-11 02:05] saranyaeaswaran opened #7406 "To add to documentation the explicit Severity values accepted by Allure API"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**
In section [Supported Allure API](https://webdriver.io/docs/allure-repo

[2021-09-11 10:18] javiermadueno opened #7407 "[Browserstack] Single Tap on Android devices -> Command not found using w3c mode"
Hello,

We have configured CodeceptJS using WebdriveIO to run our E2E on browserstack. Using iOS devices all run well but using Android on Browserstack I receive the error:

![image](https://user-images.githubusercontent.com/3617485/132944532-07f1b45a-1e11-45db-ac32-8882e7fdee2c.png)

I don't know exactly whether the problem  is the way WebdriverIO is sending the command to BS or is a BrowserStack

[2021-09-11 10:36] christian-bromann commented on #7407
Can you provide some WebdriverIO logs?

[2021-09-11 10:38] christian-bromann commented on #7406
@saranyaeaswaran you want to help us getting this updated? All you need to do is send a PR with changes to [this file](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-allure-reporter/README.md).

[2021-09-11 10:45] #7405 closed

[2021-09-11 10:46] christian-bromann commented on #7405
Fixed and released as `v7.12.4`

[2021-09-11 13:25] praveendvd commented on #7342
First thing, You have browser capabilities that allow to "not render any images"  you can do that if that's the final outcome

Else , use browser.wait ( custom condition)
Where condition is the rendered size of the element , wait till the size is as expected .

Third , write a wrapper that retries image comparison say for 2 second

[2021-09-11 15:01] javiermadueno commented on #7407
Thank you for your quick answer. These are the logs related when sending the click command.

[code]

[2021-09-13 05:11] saranyaeaswaran commented on #7406
Yes @christian-bromann I will take up this! Thanks.

[2021-09-13 09:30] christian-bromann commented on #7407
It seems you are using `touchClick`, given it is a JSONWP command which doesn't seem to be supported in "W3C mode" on BS I recommend to just use the `click` command.

[2021-09-13 09:30] #7407 closed

[2021-09-13 09:58] herzbube opened #7409 "Test runner exit code is 0 (zero) even if test fails when Jasmine framework is used"
When running end-to-end tests with WDIO as part of a build pipeline, or any other automated scenario, I would expect the WDIO test runner to make it simple to detect it when a test fails. Typically I would expect that the test runner exits with a non-zero exit code.

This works as expected when tests are written using the Mocha framework. However, when the tests are written using the Jasmine frame

[2021-09-13 12:24] javiermadueno commented on #7407
Thank you for your response. I suppose the problem is then in CodeceptJS or in BrowserStack

[2021-09-13 12:33] christian-bromann commented on #7407
I would say in CodeceptJS then.

[2021-09-13 20:37] dreuxl commented on #7405
thanks @christian-bromann

[2021-09-14 00:10] wei-y commented on #7204
This issue has been fixed in v7.12.3

[2021-09-14 00:10] #7204 closed

[2021-09-14 06:22] advait012 commented on #6881
Issue is fixed on my side . I deleted npm cache and then reinstall nodejs and my project. hence I am no longer having this issue.

Thanks

[2021-09-14 06:53] praveendvd commented on #7409
tohavetextcontain is a async expect condition

you should use it as

       await expect(element).toHaveTextContaining("You")

[2021-09-14 07:01] christian-bromann commented on #6881
@advait012 thanks for letting us know.

[2021-09-14 07:01] #6881 closed

[2021-09-14 08:05] christian-bromann commented on #7409
@praveendvd because it is async it needs to be
[code]

There is a PR in [`expect-webdriverio`](https://github.com/webdriverio/expect-webdriverio/pull/545) to align this to Mocha. This seems to be a bug, looking into it.

[2021-09-14 08:12] praveendvd commented on #7409
@christian-bromann  i thought the fix was to remove expectAsyn and allow it to be called as expect() (like in mocha)

[2021-09-14 08:47] christian-bromann commented on #7409
That is the long term strategy. Still need some feedback from @mgrybyk on that one.

A PR with a fix was applied and will be merged once test pass.

[2021-09-14 08:47] christian-bromann commented on #7406
Let's continue our conversation in #7420

[2021-09-14 08:47] #7406 closed

[2021-09-14 09:46] christian-bromann commented on #7404
Applied a PR with a fix. Let's continue convo there.

[2021-09-14 09:46] #7404 closed

[2021-09-14 11:02] EINBOX opened #7423 "[HELP] Test execution is pausing at the '**Finished to run "before" hook in 9181ms**"
Hello,

while in test execution, After launching the application on mobile chrome browser, my test execution is pausing and saying as below , can you please help to fix this
**`[0-0] 2021-09-14T10:55:43.383Z DEBUG @wdio/utils:shim: Finished to run "before" hook in 9181ms`**

what does it mean?
earlier it was working fine like launching app and performing few actions.

can you please someone help t

[2021-09-14 11:30] christian-bromann commented on #7423
There is nothing to fix, it is a log message. Just ignore it if you are not interested in this information. You can also adjust the `logLevel` in your config.

[2021-09-14 11:30] #7423 closed

[2021-09-14 11:51] EINBOX commented on #7423
its blocking my test execution, after this step nothing is executing, not at calling my spec files ,in my spec defined couple of methods to perform actions.but nothing is calling

[2021-09-14 12:08] valentindoering opened #7424 "Typescript typing for the world object"
Im using WebdriverIO with cucumber. With the setWorldConstructor method its possible to customize the world object, that is accessible within the cucumber step definitions. The function calls `this` to get the world. However the `this` in typescript has an any type. Would it be possible to provide an interface somehow for the world to make the typing cleaner?  At the moment its a little bit cumber

[2021-09-14 12:29] christian-bromann commented on #7423
Maybe something is blocking within a different hook. I would to debug your hook usage and see if where this happens.

[2021-09-14 13:45] EINBOX commented on #7006
@TuHuynhVan can you elaborate what is wrong in config? are you talking about capabilities?
seems me too facing same issues, through config file I could able to run till launching browser on app but later my spec is not at all running..its just idle without moving to next next after the hook'before'

[2021-09-14 13:53] EINBOX commented on #7423
its seems to be not able to identify the spec file ,am using …2 days back it was fine..is it having any issue with current version V7*
`"dependencies": {
    "@wdio/runner": "^7.9.1",
    "allure-commandline": "^2.13.8",
    "geckodriver": "^2.0.3",
    "react-device-detect": "^1.17.0",
    "selenium-standalone": "^7.1.0",
    "wd": "^1.14.0",
    "wdio-video-reporter": "^3.1.2",
    "webdriverio"

[2021-09-14 15:46] christian-bromann opened #7425 "Write migration guide from sync to async tests"
As we deprecated sync test execution (see #6702) we should provide a guide for people to migrate.

[2021-09-14 16:07] Rashmi-nw opened #7426 "@wdio/sync 7.12.4 contains reference to fibers"
Hi,

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.12.4]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version:** [16.8.0]
 - **NPM version:** [7.21.0]
 - **Browser name and version:** [93.0.4577.63]
 - **Platform name and version:** [Mac]
 - **Additional wdio packages used (if applicable):

[2021-09-14 17:05] christian-bromann commented on #7426
Please read our blog post on this: https://webdriver.io/blog/2021/07/28/sync-api-deprecation

[2021-09-14 17:05] #7426 closed

[2021-09-14 17:28] jlipps opened #7427 "direct connect behavior not implemented correctly"
The current directConnect behavior appears to not be implemented correctly. It's defined here: https://github.com/webdriverio/webdriverio/blob/main/packages/webdriver/src/index.ts#L44-L52

It merely looks for directConnect information in the params, but it should be looking in the capability response from the new session request. That's the whole point--for a load balancer to be able to respond wi

[2021-09-14 18:06] EINBOX commented on #7423
Its really making me to feel panic , lot of issues with WebdriverIO , no proper logs , 2 days worked script ..today its not at all able to find spec files.
I think need to think now before going to show POC
many issues…I dont think we do not a stable build of WebdriverIO

[2021-09-14 18:58] christian-bromann commented on #7423
From the information you have provided it is unfortunately not obvious where in WebdriverIO there could be a bug. I am not sure where you are seeing many issues here and it is also unclear if these are related to WebdriverIO or just improper use of the framework. This way it is difficult to help you.

[2021-09-14 19:08] christian-bromann commented on #7427
Thanks for reporting @jlipps , if these direct connect parameters are suppose to come from a session response then this is indeed wrong.

[2021-09-14 19:12] jlipps commented on #7427
Yes, that's the case. Here's a reference article: https://appiumpro.com/editions/86-connecting-directly-to-appium-hosts-in-distributed-environments

[2021-09-14 19:13] jlipps commented on #7427
The funny thing is I have some kind of memory of maybe implementing this myself for wdio? So maybe it got moved around and accidentally put somewhere else? Or maybe I am misremembering and I did not implement this feature in wdio.

[2021-09-15 09:22] red-sight opened #7428 "Error on 'npx wdio config' command"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.

[2021-09-15 09:38] christian-bromann commented on #7428
Duplicate of https://github.com/SBoudrias/Inquirer.js/issues/1046. Please follow that issue.

[2021-09-15 09:38] #7428 closed

[2021-09-15 09:39] christian-bromann commented on #7428
I will publish a new `@wdio/cli` version with a pinned `inquirer` version.

[2021-09-15 10:19] red-sight commented on #7428
@christian-bromann
TY

[2021-09-15 13:25] splurgeop commented on #7428
@any update on this?
do we have any newer version with the bug fixed available

[2021-09-15 13:29] red-sight commented on #7428
@splurgeop

Temporarily you can open this file where the error points to and replace this
[code]
with
[code]

[2021-09-15 15:50] christian-bromann commented on #7428
@splurgeop just install the latest version of `@wdio/cli`

[2021-09-15 16:07] WilcoFiers opened #7432 "Errors TS compiling a project with webdriverio v7"
**Environment:**
 - **WebdriverIO version:** 7.12.5
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** either
 - **Node.js version:** 14.17.1
 - **NPM version:** 6.14.14
 - **Browser name and version:** Chrome 93
 - **Platform name and version:** MacOS
 - **Additional wdio packages used (if applicable):** None

**Describe the bug**

Compiling the WebdriverIO v7 with TypeSc

[2021-09-15 16:12] EINBOX commented on #7423
one thing sure that its not identifying spec files so that my tests are not running and I dont see any reason in the logs ,can you check please
[code]

[2021-09-15 16:18] EINBOX commented on #7423
when I run wdio,js its saying
[code]
is there any work around for this?
no change in my code, 2 days back worked fine.

[2021-09-16 05:17] wswebcreation commented on #7423
Can you share your project folder setup, the error message is pretty clear

[2021-09-16 06:07] EINBOX commented on #7423
@wswebcreation , @christian-bromann I have shared the project here
issue: what we defined in the config file 'before' hook ,the browser launched on mobile android and later script sitting idle …we need to kill forcibly to kill the session

https://github.com/EINBOX/WDIOTest

am not sure what went wrong, feeling strange but definitely together we can solve this issue.

[2021-09-16 06:53] wswebcreation commented on #7423
@EINBOX

This code is breaking in multiple places, let me create a PR to make this work

[2021-09-16 07:19] EINBOX commented on #7423
sure @wswebcreation

[2021-09-16 07:54] wswebcreation commented on #7423
@EINBOX

I've created a PR, please check the files.

The issue for this to hang (maybe also good for @christian-bromann to know) was the allure reporter.

You had this config option in the reporter `useCucumberStepReporter: true`. That one is only needed when you use Cucumber as a framework. You are using Mocha so you or don't need to provide that option, or put it to false.

With the proposed cha

[2021-09-16 08:13] christian-bromann commented on #7423
Thanks for investigating @wswebcreation ! Why was this halting the execution? Usually a reporter should not be able to do that?

[2021-09-16 08:21] wswebcreation commented on #7423
I think the reporter was hanging here https://github.com/webdriverio/webdriverio/blob/7415f3126e15a733b51721492e4995ceafae6046/packages/wdio-allure-reporter/src/index.ts#L89 due to the incorrect option value. Not sure if this is a bug or just a not correct usage of the arguments.

[2021-09-16 08:36] christian-bromann commented on #7423
The question is why it would hang there. It is an event emitter function and should not cause other executions to hang.

[2021-09-16 08:44] christian-bromann commented on #7432
@WilcoFiers thanks for reporting the issue. Please have a look at https://webdriver.io/docs/typescript#framework-setup where we should that you need to set `webdriverio/async` as types. As long as we support synchronous execution we need to have it setup this way.

[2021-09-16 08:44] #7432 closed

[2021-09-16 09:24] opensourcesensor commented on #7380
Hi @christian-bromann ,
the documentation is not working for me.
I think you could add the link of this report in the https://webdriver.io/docs/configurationfile/.

Thank you!
BR
Fabian Schmider

[2021-09-16 09:41] EINBOX commented on #7423
@wswebcreation thank you very much your support and time , I will do modification accordingly and let you know the status.

[2021-09-16 09:57] christian-bromann commented on #7380
Can you elaborate what is not working?

[2021-09-16 11:15] EINBOX commented on #7423
@wswebcreation as you suggested , I have reduced waitTimeout and  but getting now timeout issues
mochaOpts: {
         ui: 'bdd',
         defaultTimeoutInterval: 60000, // => you had 1200000 which is tooooo long
` Timeout of 10000ms exceeded. The execution in the test "My Login application" took too long. Try to reduce the run time or increase your timeout for test specs `

where exactly I need t

[2021-09-16 11:52] WilcoFiers commented on #7432
Thank you @christian-bromann That was indeed what I was missing.

[2021-09-16 13:30] JordiSAGE opened #7433 "Several security issues in @wdio/devtools-service (xmldom)"
Several security issues in @wdio/devtools-service (xmldom)

Environment:
•	WebdriverIO version: 6.12.1
•	Mode: WDIO Testrunner (sync)
•	Node.js version: 12.19.0
•	NPM version: 6.14.8
•	Browser name and version: Chrome 91
•	Platform name and version: Windows 10
•	Additional wdio packages used (if applicable): @wdio/devtools-service 6.12.1

**Config of WebdriverIO**
exports.config = {
    runner: 'l

[2021-09-16 14:30] wswebcreation commented on #7423
Hi @EINBOX

More information about timeouts can be found here https://webdriver.io/docs/timeouts/

Secondly, if you want to overwrite the timeout for a specific function that you should use the arguments are provided in the docs, see for example your `await view.waitForExist(50000)` in the code above. That should be `await view.waitForExist({timeout :50000})`

[2021-09-16 17:41] EINBOX commented on #7423
@wswebcreation thank you for your guidance/suggestions ,
for Debugging : I have tried configuring node js like in the picture but when I try to run its giving error message but using rpm run androindBrowser ..no issues
do I need to do any setup for debugging purpose
![image](https://user-images.githubusercontent.com/57449767/133659276-39bde708-fdc5-473a-82b6-c11876e479e1.png)

though I have instal

[2021-09-17 01:58] oldmankit opened #7434 "Example from docs broken: this.getText is not a function"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.12.6
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.18.3
 - **NPM version:** 6.14.6
 - **Browser name and version:** Chrome 93
 - **Platform name and version:** Windows 10

**Config of WebdriverIO**
Followed defaults. Minimal example repository is

[2021-09-17 05:22] darkartswizard commented on #4482
This just started for me a few days ago. Possibly reintroduced?

[2021-09-17 08:22] #7434 closed

[2021-09-17 08:22] christian-bromann commented on #7434
Updated the docs, the example should be:
[code]

[2021-09-17 08:24] christian-bromann commented on #7423
It seems that your spec files are not existing at the given path.

[2021-09-17 08:31] christian-bromann commented on #7433
Feel free to provide a PR with a patch to update lighthouse in the `v6` branch. I am happy to make a release. Otherwise I recommend to update to v7 of WebdriverIO.

[2021-09-17 08:34] oldmankit commented on #7434
Thanks so much, @christian-bromann

[2021-09-17 10:47] jayandran-Sampath commented on #6538
Hey @christian-bromann  : Sorry its been a while to work on this task. I did basic analysis on how appium implemented deeplinking.. My finding is that we dont need to do anything specially in Webdriverio. Appium internally takes cares of Deeplinking in case of its native app. Just we need to use /url api with parameter as deeplink url.

I tried with simple android app with webdriverio.. it works f

[2021-09-17 10:54] wswebcreation commented on #6538
Not 100% correct. This will work on Android Emulators and real devices, on iOS sims, but not on iOS real devices. That command will open Siri.
There is a workaround which is used in the Appium boilerplate

[2021-09-17 11:01] jayandran-Sampath commented on #6538
yes @wswebcreation  i have also gone through the appium pro blog..  but my understanding is that this issue is created only to handle the deeplinking with same command browser.url rather than using other way (https://github.com/martinfrancois/wdio-mobile-utils/blob/master/src/lib/deeplink.ts)

And that is implicitly taken care by appium so no need to work on it in webdriverio

[2021-09-18 05:25] wswebcreation commented on #6538
My suggestion would be to create a new command to prevent complexity and call the `browser.url('string')` internally for all devices instead of iOS real devices (as long as we can determine based on the capabilities that we know it's a real iOS device)

[2021-09-18 12:39] EINBOX commented on #7423
with the same path ,no issue while running rpm run fontsizetes
its throwing error only when i tried above way

in debug mode ,we can build our test very fast but run mode its difficult

[2021-09-18 13:12] EINBOX opened #7435 "[Feature][HELP] Parallel ,remote test execution"
Hello,
I am not sure this feature is possible or available with WebdriverIO, let me put my requirements here
 1. launch set of test cases on local browsers like chrome ,Mozilla,safari on Mac OS —> cross browser/parallel testing
 2. launch set of test cases on local <chrome,firefox,safari> and on mobile<chrome,firefox,edge> —>prallelly
 3. launch set of test cases on mobile browsers <chrome,firfox,

[2021-09-18 18:06] christian-bromann commented on #7435
Yes all of these requirements are possible with WebdriverIO. Please check our [documentation page](https://webdriver.io/) for more information. If something is missing, please let us know. There are hundred of different ways to setup mobile and desktop test execution. You can use Selenium Grid or a vendor like Sauce Labs. It is a bit out of scope for WebdriverIO to recommend a specific setup. Ther

[2021-09-18 18:06] #7435 closed

[2021-09-20 06:49] hzk007 opened #7436 "driver.gridTestSession is not a function"
**Environment (please complete the following information):**
 - **WebdriverIO version:7.12.5 [e.g. 4.13.2]
 - **Mode:** [Standalone mode or WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version:12.18.0 [e.g. 8.11.2]
 - **NPM version:** [e.g. 5.8.0]
 - **Browser name and version:93 [e.g. Chrome 68]
 - **Platform name and version:** [e.g. Windows 10]

[2021-09-20 07:10] jayandran-Sampath commented on #6538
i could not find any straight forward capability to determine whether its simulator or real device. One way i was thinking to verify based on UUID Pattern. I analysed few ios real devices where all UUID are starting with 8 characters followed by hypen and characters where as Simulators have more than one hypen like below. if we have can put some matcher based on this condition.. we can identify wh

[2021-09-20 07:44] christian-bromann commented on #6538
I would be against creating a new command. WebdriverIO already has a lot and there is not much value in it. In the `url` command we should detect for iOS real devices and apply a different behavior there (in case a deeplink url is given).

[2021-09-20 08:07] christian-bromann commented on #7436
Fixed in #7437

[2021-09-20 08:07] #7436 closed

[2021-09-20 08:43] #7433 closed

[2021-09-20 09:22] christian-bromann commented on #7424
If you import `Given` from the Cucumber package you should have `IWorld` typed for `this` scope, e.g. I checked with the [Cucumber Boilerplate](https://github.com/webdriverio/cucumber-boilerplate) and it is exactly like that:
![Screenshot 2021-09-20 at 11 20 13](https://user-images.githubusercontent.com/731337/133980513-59ccb379-3465-4fdd-b88d-9606c49c0af9.png)

Not sure if something is not proper

[2021-09-20 09:22] #7424 closed

[2021-09-20 09:22] #7402 closed

[2021-09-20 09:28] EINBOX opened #7438 "[HELP]] SyntaxError: Cannot use import statement outside a module"
Please dont say follow the document, I did lot go search on google and in out forum. but nothing is fixed
I have created few page object files and written few methods ,when try to import them into my main file, am getting the above error.

wha to tried: as per google search and other places
1. add type as module in the config.js—did not work
2. add require: ['@babel/register'] in the wdio.shared.c

[2021-09-20 09:53] christian-bromann commented on #7438
What is `config.js`? And what "type" did you add?

With WebdriverIO v7 this is not needed at all.

If you have import statements in your tests and you want to use Babel please follow [our docs](https://webdriver.io/docs/babel).

Sorry there is nothing more I can do. The docs describe how to set this up. You also didn't provide a reproducible example that I can look into. I will close this as this

[2021-09-20 09:53] #7438 closed

[2021-09-20 09:55] christian-bromann commented on #7227
I agree with @erwinheitzman here that extending the WebdriverIO type should be the way to go. Closing.

[2021-09-20 09:55] #7227 closed

[2021-09-20 10:01] christian-bromann commented on #7140
@nextlevelbeard this doesn't seem reproducible to me anymore, therefor closing. Can you verify this? Happy to re-open.

[2021-09-20 10:01] #7140 closed

[2021-09-20 10:09] praveendvd commented on #7140
The implementation handles rule keyword , but haven't propagated to reporters . We can handle it in a different ticket

[2021-09-20 10:14] christian-bromann commented on #6885
Hey Lea,

sorry for not getting back to you for so long. I didn't quite look carefully enough into the issue. Sorry about that! I believe there is a conceptional problem here. When you run:

[code]

WebdriverIO runs its own retry logic to find `${parentSelector}foo` which already takes up all the time for running the step. So your retry mechanism doesn't even kick in. If you change your step to th

[2021-09-20 10:14] #6885 closed

[2021-09-20 10:16] christian-bromann commented on #7140
I definitely didn't see the error happening provided in the stack trace above. You are right that the reporter didn't pick this up. That should be tackled in a different effort.

@praveendvd I suggest to start with the spec reporter, mind creating an issue for it?

[2021-09-20 10:18] praveendvd commented on #7140
Sure christian , I fixed the former . But for the reporter I will raise a new issue and will look into it really busy months 👏

[2021-09-20 11:05] praveendvd opened #7439 "Rule keyword is not propogated to reports when using cucumber framework"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.12.5
 - **Mode:**  Runner
 - **If WDIO Testrunner, running sync/async:**  async
 - **Node.js version:**  v14
 - **NPM version:** [e.g. 5.8.0] v6
 - **Browser name and version:** [e.g. Chrome 68] NA
 - **Platform name and version:** [e.g. Windows 10] NA
 - **Additional wdio packages used (if applicable):** [e

[2021-09-20 11:12] hzk007 opened #7444 "Unable to find handler for (GET) /grid/api/testsession"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:7.12.5

[2021-09-20 11:15] christian-bromann commented on #7444
Duplicate of #7436

[2021-09-20 11:17] hzk007 commented on #7444
Hi, it's not the same error, I hack the wido code in local with your commit #7436 , and the error is the API can not access.

[2021-09-20 11:48] christian-bromann commented on #7444
Maybe these endpoints don't exist is Se4 anymore?

[2021-09-20 11:56] EINBOX commented on #7438
I wiil share my sample project

[2021-09-20 12:21] hzk007 commented on #7444
Maybe? But I don’t know where to confirm, Our framework uses these grid API with selenium 3.0, recently after upgrade to SE4, encounted this error..

[2021-09-20 13:08] christian-bromann opened #7451 "Allow to access Selenium v4 GraphQL data"
**Is your feature request related to a problem? Please describe.**
Selenium v4 grid uses GraphQL to store data about sessions. There just to be grid API endpoints that now don't work anymore (see #7444). We should allow users to make requests to this GraphQL endpoint.

**Describe the solution you'd like**
I suggest add a new [Selenium protocol command](https://github.com/webdriverio/webdriverio/bl

[2021-09-20 13:09] christian-bromann commented on #7444
I checked with the Selenium team and these endpoints don't exist anymore. There is a GraphQL endpoint that allows to query for similar information. I created an issue to add a command to make graphql requests.

[2021-09-20 13:09] #7444 closed

[2021-09-20 13:31] dianabarsan opened #7452 "`browser.throttle` does not apply to fetch requests initiated in service worker scripts"
**Environment:**
 - **WebdriverIO version:** 7.12.6
 - **Mode:**  WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.16.3
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 93
 - **Platform name and version:** Manjaro 5.10.63
 - **Additional wdio packages used:** @wdio/cli @wdio/local-runner @wdio/mocha-framework @wdio/spec-reporter

**C

[2021-09-20 13:35] wswebcreation commented on #7438
@EINBOX

Can you please first merge all the suggested changes from my PR before you proceed with this?

[2021-09-20 14:45] christian-bromann commented on #7452
You can find the code for this command [here](https://github.com/webdriverio/webdriverio/edit/main/packages/webdriverio/src/commands/browser/throttle.ts). Any suggestions on how to fix this are welcome. Thanks!

[2021-09-21 03:54] EINBOX commented on #7438
due to restrictions, I can't upload/download
I have created with all your suggestions new branch<manually>, please check it here
https://github.com/EINBOX/WDIOTestProject

[2021-09-21 04:44] EINBOX commented on #7438
Thank you for your support
its resolved after I used this way
module.exports = new Top();

and const TOP = require('../pageObjects/top.page');

[2021-09-21 12:09] czdaniel opened #7454 "cucumber js world context is undefined in hooks.ts"
# Issue description
cucumber js world context is undefined in hooks.ts

# Steps to reproduce
`beforeHook: function (test, context, stepData, world) {console.log(world)},` in hooks.ts

# Expected behavior
I expect I'd log the world context of my cucumber tests

# Actual behavior
the output is undefined.

# Issue occurred on browser/platform
selenium, wdio, cucumber framework. Didn't modify anything

[2021-09-21 12:16] Sam55555 opened #7453 "On desktop safari moveTo does not work on second page load in beforeEach block"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.

[2021-09-21 12:39] christian-bromann commented on #7453
Two questions:

- what is `checkScreen` doing? It is not possible to run the code like this
- why do you overwrite `releaseActions`? Have you tried without overwriting it?

[2021-09-21 12:45] christian-bromann commented on #7454
The world variable needs to be added [here](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cucumber-framework/src/index.ts#L370-L371). Any contribution to this are appreciated.

[2021-09-21 12:47] Sam55555 commented on #7453
- checkScreen is a function of https://github.com/wswebcreation/wdio-image-comparison-service, can be replaced by saveScreenshot
- without overriding, the hover effect does not work on Safari, because releaseAction removes the hover effect, ticket added by apple

[2021-09-21 12:49] christian-bromann commented on #7453
Can you reference it here.

So if we know that actually this is a problem with Safari, why do we have to have this ticket then? You applied a workaround so it works in Safari but now it doesn't work in other browser. Shall we rather wait for Safari to fix this issue or can you apply your overwrite only if you run Safari tests?

[2021-09-21 12:53] Sam55555 commented on #7453
This is a different problem, currently there is only the problem that there is no hover effect in the second it-block after reloading the page.

[2021-09-21 12:54] christian-bromann commented on #7453
Please help us investigate in the issue. I can't promise that anyone from the maintainer team can look into this anytime soon.

[2021-09-21 19:41] ejames17 commented on #2791
@Nandish47  thanks this worked for me!

[2021-09-21 21:50] alexplischke opened #7456 "Unrelated logs in the output dir are uploaded when running tests in parallel with Sauce Labs"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.12.6
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.17.4
 - **NPM version:** 6.14.14
 - **Browser name and version:** Chrome 93.0.4577.63
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/cli,

[2021-09-22 08:40] viralkpanchal opened #7457 "Unable to run tests on BrowserStack after upgrading wdio from v5 to v7"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.

[2021-09-22 09:14] christian-bromann commented on #7457
@viralkpanchal are you running your tests through a proxy? If so please make sure you update the proxy settings as described here: https://webdriver.io/docs/proxy

I will go ahead and close as I am pretty sure it is a proxy configuration issue. Happy to re-open if not.

[2021-09-22 09:14] #7457 closed

[2021-09-22 10:28] saranyaeaswaran opened #7459 "Allure Report Usage ES5 example uses object destructuring format but the code example is not"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [x] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**

Allure Report Usage ES5 example [here](https://webdriver.io/docs/allur

[2021-09-22 10:40] christian-bromann commented on #7459
@saranyaeaswaran thanks for reporting. If this makes the example for clear I am all for it. Mind tackling this as part of #7420 ?

[2021-09-22 10:44] EINBOX opened #7460 "wdio debug and run mode"
I am trying to setup debug mode of wdio run but not at all working
can some help me to run our test cases using wdio test runner ?
I tried below ways:
in case of below set up , we need to setup as specs:[
    **"../test/specs/**/*.js"**
],
but for npm run test
specs:[
    **"./test/specs/**/*.js"**
],
![image](https://user-images.githubusercontent.com/57449767/134329090-6e2d6e5d-7023-440a-bdf8-a25

[2021-09-22 10:45] saranyaeaswaran commented on #7459
Sure, I will push this change as part of #7420.

[2021-09-22 11:49] viralkpanchal commented on #7457
@christian-bromann - We don't use proxy in our tests. This issue still persist..

[2021-09-22 12:02] christian-bromann commented on #7457
If you want to run on BS why is it trying to connect to this IP address?

[2021-09-22 12:03] christian-bromann commented on #7460
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2021-09-22 12:03] #7460 closed

[2021-09-22 12:58] Kacoze commented on #6645
This bug happened to me but I had no time to study it, so I can share my workaround if anybody needs it.
`beforeTest: function (test, context) {
    if (context.test.parent.skipSubsequent) {
      context.test._timeout = 1000;
      context.test.skip();
    }
  }`

[2021-09-22 13:02] #7456 closed

[2021-09-22 14:22] rikbrowning opened #7463 "Junit Reporter add "time" to testsuites element"
**Is your feature request related to a problem? Please describe.**
On the `testsuites` element there is a time attribute that can be added containing the total time the test suites took to run. I am trying to leverage https://github.com/dorny/test-reporter to have the results display in our CI run but having the missing time attribute is causing it to fail.

**Describe the solution you'd like**
`t

[2021-09-22 14:29] christian-bromann commented on #7463
@rikbrowning this is currently not available in `junit-report-builder`, can you plead your case in https://github.com/davidparsson/junit-report-builder/issues/8 ? Thanks!

[2021-09-22 15:03] christian-bromann opened #7466 "jasmine expects fails after wdio packages update to last version"
### Discussed in https://github.com/webdriverio/webdriverio/discussions/7465

<div type='discussions-op-text'>

<sup>Originally posted by **NavyMint** September 22, 2021</sup>
Hi, guys
I've just updated wdio packages to latest version and all specs starts to fail on expect statements with next errors:

TypeError: expect(...).toEqual is not a function
TypeError: expect(...).toBe is not a function

[2021-09-22 15:22] christian-bromann commented on #7466
@NavyMint can you provide a reproducible example. Running a quick smoke tests showed that this works.

[2021-09-22 16:12] NavyMint commented on #7466
For me its constantly reproducible, created repo where I checked this problem https://github.com/NavyMint/reproduce-err

[2021-09-22 19:02] angelo-loria commented on #7466
Seems to only certain matchers failing. I am getting the same 'TypeError: expect(...).toBeLessThanOrEqual error on an `expect(array.length).toBeLessThanOrEqual(3).`

Failed test run- https://github.com/angelo-loria/WebDriverIODemo/runs/3679145322?check_suite_focus=true
Spec- https://github.com/angelo-loria/WebDriverIODemo/blob/a5cdf49f049c65709110adb3f2312439d69ff369/src/specs/retirementSavingsCal

[2021-09-23 09:30] christian-bromann commented on #7466
fixed in #7467

[2021-09-23 09:30] #7466 closed

[2021-09-23 09:33] christian-bromann commented on #7459
Added a comment in #7420, will close this one.

[2021-09-23 09:33] #7459 closed

[2021-09-23 09:59] wswebcreation commented on #6538
Hmm, that's a good one @jayandran-Sampath , I'll also explore it and will test this for the appium-boilerplate

[2021-09-23 10:15] khyati2010 commented on #3639
error TS2688: Cannot find type definition file for './wdio'.
this is something which I am getting. I have added this in tsconfig & i got this error.
When i delete it I am getting error on all the wdio related classes

[2021-09-23 10:21] wswebcreation commented on #6538
Ok, this might be useful

- https://blog.diawi.com/2018/10/15/2018-apple-devices-and-their-new-udid-format/
- https://www.theiphonewiki.com/wiki/UDID

Based on that we can determine that if it has 2 or more `-` something like this

[code]

What do you think?

[2021-09-23 10:24] christian-bromann commented on #6538
Make sense to me!

[2021-09-23 10:29] wswebcreation commented on #6538
Ok, then I'll start playing with in the appium-boilerplate and we can then copy the code over if it keeps working stabile

[2021-09-23 11:48] wswebcreation commented on #6538
ok, tested it with the appium-boilerplate with the old implementation on sims with opening Safari, entering the address and get to the deeplink screen

[code]

Same now with the new way, meaning determine that you are a sim and open it direct from the app with the `browser.url('deeplink://url')` and this is the result

[code]

Almost half the time!!!!! 🎉

[2021-09-23 12:48] jayandran-Sampath commented on #6538
Nice @wswebcreation .

So we will modify wdio url function to determine whether session is for App (Based on bundle ID) & IOS Real Device (Based on udid pattern) and then we will return some message saying Deeplink Command is not supported by appium using get url. Use alternate steps

Right?

[2021-09-23 12:59] christian-bromann commented on #6538
I believe if users can use the `url` command to open a resource and it works for desktop and for mobile using deeplinks without them having to worry about how to implement this, it would be excellent.

[2021-09-23 13:14] jayandran-Sampath commented on #6538
@christian-bromann  Even i thought the same but had concerns on whether these locators would remain same for all versions? and also are we good to club multiple commands(execute,waitFordisplayed,click) within single function

[2021-09-23 15:19] christian-bromann commented on #6538
Yes. This is the idea behind commands within the WebdriverIO package. They should do abstract things within a single command.

[2021-09-23 23:55] praveendvd opened #7468 "Sample Typescript project get generated without tsconfig file"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2] :  7.13.1
 - **Mode:** [Standalone mode or WDIO Testrunner] : Test runner
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] : Async
 - **Additional wdio packages used (if applicable):** [e.g. @wdio/spec reporter, @wdio/selenium-standalone service] : @wdio/cli

**Describe the bug**

[2021-09-24 06:18] dragosMC91 commented on #7233
We are struggling too with this issue, implemented a temporary workaround where instead of `browser.url()` we use
[code]
But it's not universal, after a refresh for example we still get problems.

I also noticed that if I were to block some requests from loading like `woff2`, the infinite loading loop does not occurr anymore not sure if this helps in any way

[2021-09-24 06:44] christian-bromann commented on #7468
I suggest to check if a `tsconfig.json` is existing and if not create a minimal required one as you suggested there.

[2021-09-24 07:02] atilajanosi opened #7469 "browser.takeScreenshot() does not take screenshots for Allure reporter"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.13.1]
 - **Mode:** [Standalone mode or WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [async]
 - **Node.js version:** [16.4.1]
 - **NPM version:** [7.19.1]
 - **Browser name and version:** [safari 14.1.2, chrome 92.0.4515.159]
 - **Platform name and version:** [macOS Big Sur 11.5.2 ]
 - **A

[2021-09-24 07:14] christian-bromann commented on #7469
Thanks for reporting. Any contributions on this would be appreciated. Thanks!

[2021-09-24 07:57] praveendvd commented on #7468
Thank you so much  @christian-bromann  will pick this up , then .

[2021-09-24 08:28] praveendvd commented on #7469
@christian-bromann  its because of not using awai

[code]

[2021-09-24 08:51] praveendvd commented on #7469
If this autogenerated then we could fix adding async and await to all hooks in config file .

[2021-09-24 08:53] christian-bromann commented on #7469
good catch @praveendvd .. we don't have this autogenerated.

@atilajanosi please see solution above.

[2021-09-24 08:53] #7469 closed

[2021-09-24 09:57] atilajanosi commented on #7469
Hi, this solution does not change anything(just tried it once again). I forgot to mention in the issue that i have tried with async.

[2021-09-24 10:00] atilajanosi commented on #7469
It works, confirmed. Thanks

[2021-09-24 17:32] optimm commented on #6640
hey @christian-bromann  if this issue is not yet solved can i take it , also a little guidance over this would be great, Thank you

[2021-09-25 15:42] afsarali273 commented on #3130
https://github.com/webdriverio/webdriverio/issues/3130#issuecomment-508385388 solved my issue.

[2021-09-26 01:57] praveendvd commented on #7113
@christian-bromann  Could you help me in this one , is there a way to add info to the protocol documentation , i am not able to figure out how to do . Thanks in advance .

If info is not required i can add :

![image](https://user-images.githubusercontent.com/45095911/134790537-c2051c79-49cd-4ed2-a205-7e71d6666416.png)

is this enough

[2021-09-27 07:44] christian-bromann commented on #7113
Yes, this is totally enough. Let's continue convo in #7472

[2021-09-27 07:44] #7113 closed

[2021-09-27 08:05] christian-bromann commented on #6640
Thanks for taking a stab at this!

Please have a look into our [contributing guidelines](https://webdriver.io/docs/contribute) and particular the part that goes into generating the how we generate the [documentation](https://webdriver.io/docs/contribute#documentation). Please let us know if you have any questions.

[2021-09-27 08:08] EINBOX opened #7473 "[HELP] get style of html elment"
I am facing an issue to fetch font size from html elements which resides within iframe
having couple queries
1. get active iframe which is in the current page
2. get html elements attributes like style to fetch font size
3.
Source : please refer the attached screen shot
const iFramesCount=iframes.length
            console.log("frame count:"+iFramesCount)
            browser.switchToFrame(iframes[

[2021-09-27 08:12] christian-bromann commented on #7473
@EINBOX you are now using `await` for all commands. You can get the style of an element using [`getElementCSSValue`](https://webdriver.io/docs/api/webdriver#getelementcssvalue).

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions.

[2021-09-27 08:12] #7473 closed

[2021-09-27 08:19] DirkoOdendaal opened #7474 "Using failFast jasmine option causes jasmine options issue"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.1

[2021-09-27 08:36] EINBOX commented on #7473
Thank you @christian-bromann
 I will try and let you know

[2021-09-27 08:40] #7474 closed

[2021-09-27 08:40] christian-bromann commented on #7474
`failFast` is deprecated in Jasmine. I pushed a commit to make this more clear.

[2021-09-27 09:34] christian-bromann commented on #7468
Thanks for taking a stab at this. Let's continue conversation in #7471

[2021-09-27 09:34] #7468 closed

[2021-09-27 09:58] christian-bromann commented on #7454
Fixed in #7475

[2021-09-27 09:58] #7454 closed

[2021-09-27 09:59] christian-bromann commented on #7368
@EINBOX are you still having configuration issues with this? Or can the issue be closed. I still don't really see an issue with WebdriverIO and rather a configuration problem with Appium.

[2021-09-27 10:02] christian-bromann commented on #7354
For that we offer an [Eslint plugin](https://www.npmjs.com/package/eslint-plugin-wdio).

I guess we can optionally offer to import these. Any other opinions?

[2021-09-27 10:59] erwinheitzman commented on #7354
eslint allows you to define globals for this very reason, add `browser` as a global and you're ready to go

[2021-09-27 11:02] fregante commented on #7354
I think you have not read my post.

1. I'm not looking for a solution, I know _more configuration_ fixes each of the 3 issues
2. I don't think it's reasonable for a project to require additional configuration just to get the basics working
3. `no-undef` only fixes one of the 3 issues

[2021-09-27 11:11] erwinheitzman commented on #7354
I read it but a bit too quick as I am doing this during my coffee break ^^;

I think it's nice to offer the option but to say it's unreasonable I think is a bit of a stretch. I say this because if there's compilation / build errors then we should resolve those and the same goes for unrecognized autocompletions as this would be more of a workaround then a fix for the actual issues it seems.

Do you

[2021-09-27 12:08] EINBOX commented on #7368
Yes, still not resolved

[2021-09-27 12:10] christian-bromann commented on #7368
@EINBOX what do you expect from this issue to happen. I don't have a device to try setting up your environment. Have you tried investigate the issue?

[2021-09-27 12:12] christian-bromann commented on #7368
Also did you try what was suggested in #15804 ?

[2021-09-27 12:23] christian-bromann commented on #7354
@fregante can you clarify the issues you are mentioning? So far I only see no-undef when not having browser (or $ or $$) defined as globals.

[2021-09-27 14:17] mayank7bandral opened #7486 "Issue on clicking buttons in webdriverio v7 on linux server."
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:**  v7

[2021-09-27 14:45] christian-bromann commented on #7486
@mayank7bandral can you provide a reproducible example?

[2021-09-27 14:48] mayank7bandral commented on #7486
@christian-bromann I have added one in the steps to reproduce section.

[2021-09-27 14:52] mayank7bandral commented on #7486
steps to reproduce manually;
1. ) Go to https://housing.com/paying-guests/pgs-in-bangalore
2. Click on the sidemenu at the extreme right.
3. You will see the **all cities** button.

[2021-09-27 15:01] EINBOX commented on #7368
Yes, tried but nothing is working as of now

[2021-09-27 18:06] christian-bromann commented on #7368
What would like us to do? Apparently it is a configuration issue which I am not able to reproduce. I don't see really a patch forward for this issue. Ok if I close it?

[2021-09-28 14:17] praveendvd commented on #7300
https://github.com/cucumber/common/blob/main/scripts/publish-cucumber-report

@christian-bromann  this is the bat file that can be used to publish the message , (got by contacting cucumber team ) . It seems we need to pass message.ndjson file .

I am not sure do we generate as part of cucumber framework .  Could you guide me here .

[2021-09-28 14:56] christian-bromann commented on #7300
We could introduce a cucumberOpts options: `cucumberPublishUrl` and `cucumberPublishToken` and have this as part of the cucumber framework (after the `after` hook is called, so people could amend the report if need be).

[2021-09-28 15:00] praveendvd commented on #7300
They are just doing a put to publish url , but I am not sure how to create the message.ndjson report out  . If the final message.ndjson file is there then we can directly upload using rest calls instead of using batch file . Or can use the bat directly .

[2021-09-28 16:17] christian-bromann commented on #7300
Check out one of the links @nextlevelbeard has shared. Once created we can just upload it via Node.js.

[2021-09-28 21:14] rsshilli commented on #5318
If you are using a recent version of Chrome and find that you only get warning and error messages in your logs, but you want INFO as well, add the following into your `wdio.conf.js`:
[code]

[2021-09-28 23:01] praveendvd commented on #7300
@christian-bromann

[2021-09-29 06:59] waynevanson commented on #7284
So adding host name makes it valid? I'll look at it right now.

[2021-09-29 07:02] waynevanson commented on #7284
It seems okay @christian-bromann, I have nothing to add for the time being.

[2021-09-30 09:56] anandkedari commented on #7342
@praveendvd Yes this problem is still solvable for web with img.complete dev tool option. But there is no workaround for mobile native apps, there is no way to figure out if the image is fully rendered on screen.

[2021-09-30 12:59] christian-bromann commented on #7230
@iamatharva can you please try again with `v7.14.0`?

[2021-09-30 13:02] #6932 closed

[2021-09-30 13:04] christian-bromann commented on #6604
@mandarinka69 this has been fixed with `v7.14.0`.

[2021-09-30 13:04] #6604 closed

[2021-09-30 13:05] christian-bromann commented on #6546
`firstInputDelay` got deprecated and was replaced by `maxPotentialFID`. Please updated to `v7.14.0` to use this metric. Thanks!

[2021-09-30 13:05] #6546 closed

[2021-09-30 13:08] christian-bromann commented on #4963
This bug should be fixed with the latest version of `v7.14.0`. Please report if not. Closing.

[2021-09-30 13:08] #4963 closed

[2021-09-30 19:42] vlad-dargel opened #7490 "error of unhandled promise connect ECONNRESET 127.0.0.1:4444 on macOS when .waitForDisplayed() and .click() are called for imported from .obj file selector"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.1

[2021-09-30 20:21] darthtrevino commented on #5228
PnP Support is orthogonal to TypeScript: it's a totally separate issue.

Aside from the issues listed above, which can be mitigated via .yarnrc configuration and properly marking peers, I'm running into some runtime issues that appear related to runtime package resolution. With a very minimal default configuration (no reporters), I'm seeing the following errors just launching the runner:
[code]

[2021-10-01 07:34] christian-bromann commented on #7490
Can you provide some logs from the Selenium server?

[2021-10-01 08:03] vlad-dargel commented on #7490
[0-2] 2021-10-01T08:00:06.574Z INFO webdriver: COMMAND elementClick("e9067cf4-7366-4b8b-981a-676b11082541")
[0-2] 2021-10-01T08:00:06.574Z INFO webdriver: [POST] http://localhost:4444/wd/hub/session/579e4b5c9173d5512260a70db1ec846f/element/e9067cf4-7366-4b8b-981a-676b11082541/click
[0-2] (node:2765) UnhandledPromiseRejectionWarning: RequestError: connect ECONNRESET 127.0.0.1:4444
[0-2]     at Clie

[2021-10-01 08:23] christian-bromann commented on #7490
These are WDIO logs, we need to look into the Selenium server logs to understand why it couldn't start

[2021-10-01 08:30] vlad-dargel commented on #7490
for some reason I have no logs saved by selenium server by this path
    services: [['selenium-standalone', {
        logPath: './temp',

[2021-10-01 09:54] christian-bromann commented on #7490
Can you try to investigate why the server is not starting?

[2021-10-01 10:00] vlad-dargel commented on #7490
It is started, but for some reason it fails during running tests (e.g. first step passed successfully in tests)

[2021-10-01 12:11] praveendvd commented on #7300
[sampleProject.zip](https://github.com/webdriverio/webdriverio/files/7266982/sampleProject.zip)

Created a sample , project current challenges is cucumber json report creates different json reports for each feature so i am not sure how to consolidate it

Also cucumber json report hasa dependency if webdriverio CLI which is not updated with the releases of wdio ,

any one who want to  pick this up

[2021-10-01 13:38] christian-bromann commented on #7300
Are you referring to https://github.com/webdriverio-community/wdio-cucumberjs-json-reporter ?

Another option is to make this a reporter feature.

[2021-10-01 13:38] christian-bromann commented on #7490
Can you get the logs then?

[2021-10-01 14:13] fogrizovic opened #7492 "Error in BrowserStack service after scenario"
**Description:**

Added bstack support as described [here](https://webdriver.io/docs/browserstack-service/). After running the tests, getting this error in the logs:

[code]

**package.json**

"devDependencies": {
    "@wdio/browserstack-service": "^7.13.2",
    "@wdio/cli": "^7.14.0",
    "@wdio/cucumber-framework": "^7.13.2",
    "@wdio/devtools-service": "^7.14.0",
    "@wdio/local-runner": "^7

[2021-10-02 10:03] mayank7bandral commented on #7486
Sir, any update on this? I'm not able to take this live on production due to this issue. Any help of any sort on this would be appreciated. I have tried clicking those buttons with browser.execute() command but the same thing happens. It works well with maxInstance=1 but when it is set to maxInstance=3 some buttons don't get clicked.
Also, I have tried changing the chromedriver versions but no hel

[2021-10-02 17:11] KennethKinLum opened #7498 "Can you tell us how to use WebdriverIO with Chrome (not the Canary)?"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**
The section https://webdriver.io/docs/gettingstarted#run-in-a-script
wo

[2021-10-02 18:05] KennethKinLum opened #7502 "No docs for browser.deleteSession()"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**
I can find https://webdriver.io/docs/api/browser/deleteCookies/
but it

[2021-10-02 20:44] praveendvd commented on #7502
https://webdriver.io/docs/api/webdriver/#deletesession

Hi the driver quit , delete session are not generic browser methods , they are protocol depended . So if the browser instance is a webdriver protocol , these commands will also be available .

[2021-10-02 20:45] praveendvd commented on #7498
You can start the service using chromedriver service.

[2021-10-02 21:01] KennethKinLum commented on #7498
can you use Puppeteer and be able to use Chrome and not Canary?
I tried
[code]
but it doesn't work.

[2021-10-03 07:15] praveendvd commented on #7498
Could you try passing binary argument to show which chrome binary to use , You can pass chrome or chrome canary as you want

[2021-10-03 14:00] vlad-dargel commented on #7490
After some investigations I noticed that this error is not related to selenium server, but related to Unhandled promise in case when the selector was called from separate .obj.ts file
AND it was called by .waitForDisplayed() and then .click() methods

example:
        await loginRepository.signInButton.waitForDisplayed();
        await loginRepository.signInButton.click();

where loginRepository -

[2021-10-03 19:56] s-h-a-d-o-w opened #7506 "expect types are incorrect with default TS configuration"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.14.0
 - **Mode:** not applicable
 - **If WDIO Testrunner, running sync/async:** not applicable
 - **Node.js version:** v14.18.0
 - **NPM version:** not applicable
 - **Browser name and version:** not applicable
 - **Platform name and version:** not applicable
 - **Additional wdio packages used (if applicable

[2021-10-04 07:35] christian-bromann commented on #7490
@vlad-dargel can you provide a reproducible example then?`

[2021-10-04 07:45] christian-bromann commented on #7502
Why should there be such commands. WebdriverIO is an independent implementation of the WebDriver protocol.

[2021-10-04 07:45] #7502 closed

[2021-10-04 08:05] christian-bromann commented on #7486
@mayank7bandral you have not provided a reproducible example. The steps you mentioned have been working for me. Please understand that it I can't spend much time figuring out what your bug is, it is important that you provide a clear description and ideally a reproducible example for it.

[2021-10-04 08:26] #7498 closed

[2021-10-04 08:27] christian-bromann commented on #7498
I added some docs that shed more light in this. If you don't have a browser driver running WebdriverIO falls back using the DevTools protocol and Puppeteer. It seems that Puppeteer launches Canary for some reasons but as @praveendvd pointed out you can set the chrome binary to point to Chrome. I added some docs related to Chrome specific options as well.

[2021-10-04 09:26] christian-bromann commented on #7506
Thanks for filing the issue!

It seems that `expect-webdriverio` and Jest can not live together. I believe this was working before as we have signs of jest types in the [`expect-webdriverio`](https://github.com/webdriverio/expect-webdriverio/blob/main/jest.d.ts) repository. @mgrybyk any clues maybe?

Any contributions to this would be highly appreciated.

[2021-10-04 09:29] christian-bromann commented on #7463
I will go ahead and close this one as it seems that there is nothing actionable here. If `davidparsson/junit-report-builder` decides to support this I am fine adding it in WebdriverIO as well but it seems it isn't common for junit reports to have many properties on the `testsuites` level.

[2021-10-04 09:29] #7463 closed

[2021-10-04 09:56] christian-bromann commented on #7400
It seems that this conversation went stale and I don't see anything actionable at this point. I would love to make things more stable but I would advocate to make these approaches framework agnostic. If anyone can provide a concrete example where WebdriverIO fails to automate a process due to a frontend framework specific behavior/action I am happy to re-open this.

[2021-10-04 09:56] #7400 closed

[2021-10-04 10:26] christian-bromann commented on #7492
Fixed in PR #7507

[2021-10-04 10:26] #7492 closed

[2021-10-04 10:29] christian-bromann commented on #7368
Closing due to inactivity. Happy to reopen if we can get more clearance on the origin of this error.

[2021-10-04 10:29] #7368 closed

[2021-10-04 10:54] s-h-a-d-o-w commented on #7506
It seems to me like the problem is with jasmine, not jest. When you go to declaration of `expect`, you can see that it leads to jasmine. I guess you may not extend its types?

[2021-10-04 12:05] s-h-a-d-o-w commented on #7506
When copying `jasmine.d.ts` from `expect-webdriverio` next to the test file, it works. So some sort of issue with Typescript not seeing the ambient declaration despite specifying `expect-webdriverio` in tsconfig?
Unfortunately, I'm not familiar enough with TS in the context of ambient declarations of libraries to suggest a fix.

[2021-10-04 12:39] #6423 closed

[2021-10-04 16:59] grimxreaper commented on #5444
Hi! Has there been progress on this @jonesh66 ?

[2021-10-05 04:12] jonesh66 commented on #5444
Hello @grimxreaper I wasn't able to finish this. I've unassigned it since it has a tag on it now

[2021-10-05 10:14] NavyMint opened #7520 "[Jasmine] Target Closed error on attempt to take a screenshot"
**Environment:**
 - **WebdriverIO version:** 7.13.2
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 15.5.1
 - **NPM version:** 7.3.0
 - **Browser name and version:** Chrome 94.0.4606.71
 - **Platform name and version:** Windows 10 Pro
 - **Additional wdio packages used (if applicable):**
        - "wdio-teamcity-reporter": "2.3.0",

[2021-10-05 11:54] christian-bromann commented on #7238
PR got merged and released. Closing.

[2021-10-05 11:54] #7238 closed

[2021-10-05 11:54] christian-bromann commented on #7230
Closing due to inactivity. If this error still appears please let us know here and I can re-open.

[2021-10-05 11:54] #7230 closed

[2021-10-05 12:16] christian-bromann commented on #7520
Thanks for reporting!

It seems that the failing test has impact on the `afterTest` hook here. Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2021-10-05 12:23] facusantillo opened #7521 "Add ability to override classname"
jest-junit has the ability to override the classname attribute on the testcase.

This is really useful on cases where the XML is consumed by a service that sanitizes duplicates.

If the classname is exactly the same due to configuration on environments, then we lose some of the reports.

[2021-10-05 12:59] gorskip commented on #6361
This one https://github.com/bewisse/modheader_selenium works for me.

[2021-10-05 13:06] christian-bromann commented on #7521
@facusantillo thanks for reporting the issue.

Can you explain in more detail how current junit reports in WebdriverIO look like and how you suggest user should be able to overwrite them?

[2021-10-05 13:15] facusantillo commented on #7521
@christian-bromann

Current XML tag is created like

`<testcase classname="DeviceOrBrowser_-_Describe_Name" name="TestOrITfromMochaOrJest" time="76.992">`

Jest junit allows users to override the format on the className using an options parameter.

User should be able to do it by overriding the className with an option parameter as well.

It could be something like:

`// wdio.conf.js
module.export

[2021-10-05 13:34] christian-bromann commented on #7521
How is this suppose to work? The `className` needs to contain test and device data, it can't just be a string. Maybe I don't fully understand, can you elaborate?

[2021-10-05 13:48] facusantillo commented on #7521
In Jest reporter you can pass a string that is going to be used as a the className.
Here is an example:

[code]

As I pointed, this is specially useful for parsers and sanitization of duplicates in test suites.

wdio-junit-reporter doesn't have this ability, resulting in some inner login handling how the className is being presented in the XML and causing some errors in tools that we use for parsi

[2021-10-05 13:53] christian-bromann commented on #7521
I understand and agree with these assumptions. Just wanted to get clarity on what you were reporting. I only disagree with the approach:

[code]

Doesn't seem right to me because it would be hard to document what "variable" replaces which value. Therefor I suggest to what `outputFileFormat` does and expect a function with certain objects as parameters that will help compile the string.

Any contri

[2021-10-05 13:56] facusantillo commented on #7521
Agree, a function would work better. Thanks for tagging it.

[2021-10-05 17:07] #4723 closed

[2021-10-05 20:24] praveendvd commented on #7520
Happens only for puppeteer ,

[2021-10-06 07:02] jmalvinez commented on #4038
Hi @christian-bromann! I'd like to give this issue a try. Btw, I'm a newbie contributor in Hacktoberfest. 😅

Based on your tip, it seems the browser commands are coming from `...clone(browser.__propertiesObject__)` when I printed that out. Is this as simple as removing that line or do I need to only whitelist certain props in that object?

Please let me know if my understanding is wrong though. I'

[2021-10-06 09:06] christian-bromann commented on #4038
@jmalvinez thanks for taking a stab at it. Note that this issue is marked as `v8` milestone because it would be a breaking change, therefore we won't be able to merge it in time. I recommend picking a different issue.

[2021-10-06 10:36] jmalvinez commented on #4951
Hi @christian-bromann! I'd like to give this issue a try if it's okay with the original assignee. Btw, I'm a newbie contributor in Hacktoberfest. 😅

iongion's and your tips are very helpful in giving me an idea on how to implement this enhancement.

What does the parameter for enabling case-insensitive text match look like? My guesses are below.
- a new boolean parameter passed to `$` and `$$` whi

[2021-10-06 14:24] christian-bromann commented on #4951
I suggest this ^^^

[2021-10-06 15:26] FarzanRNobakht opened #7524 "Docs Should suggest an alternative Test Runner for watching test files in the watcher docs"
I'd like to report  Missing documentation on [https://webdriver.io/docs/watcher](url)

We know the watch function will not work out of the box, because of local-runner is unable to keep the WebDriver Connection open, so when there is a file change the runner will encounter ECONNREFUSED at WebDriver port.

The existing document only says :
`Make sure your WebDriver backend can be modified so that i

[2021-10-06 15:38] #7524 closed

[2021-10-06 16:56] erwinheitzman commented on #7213
@christian-bromann at the moment the code is still used like so:

[code]

Could you help out in some way to change this as I have no idea where and how to apply the Proxy?

[2021-10-06 23:32] nklemiata commented on #4765
Hi all,
I've just came across this issue after a long googling on this very question - how to implement 'containers' in WebdriverIO 7.9+ async?
In particular, we are migrating some Protractor repos to WebdriverIO, so ability to reuse the same approach (`return this.container.$(`#some-sub-element`);` would be perfect instead of reinventing a new one!

_Protractor_ example:

[code]

Our currently us

[2021-10-06 23:51] jmalvinez commented on #4951
Thanks @christian-bromann! I'll start working on a PR and let you know if I have any other questions. 😉

[2021-10-07 06:51] christian-bromann commented on #4765
Not sure if you have seen the labels but we all want this to be part of WebdriverIO. There hasn't been anyone who started implement this. If you are interested in this feature please get involved in the project and help us. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2021-10-07 06:59] #7521 closed

[2021-10-08 08:00] dmitry-lomakin opened #7530 "@wdio/utils:shim: SyntaxError: Unexpected token Y in JSON at position 0"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.9.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 14.17.6
 - **NPM version:** 6.14.15
 - **Browser name and version:** Chrome 91
 - **Platform name and version:** Mac OS Big Sur
 - **Additional wdio packages used (if applicable):** @wdio/devtools-se

[2021-10-08 08:34] dmitry-lomakin commented on #7530
Your example has the same issue when executed against my Selenoid instance:
[code]

[2021-10-08 12:27] skamineni opened #7531 "Wdio V7 throws error as soon as you add any services in wdio config file"
Hi,
  We are trying to upgrade from V6 to V7. We are using V7.14.1 . We are blocked in the upgrade process in our org. Can someone please help.

1. As soon as I add services: []selenium-standalone] gives error as below when running tests:
<img width="1105" alt="image" src="https://user-images.githubusercontent.com/18192016/136603703-179f7a4f-d6cc-4960-b11f-d19b8a29fae3.png">

2. As soon as I remov

[2021-10-08 12:38] christian-bromann commented on #7530
@dmitry-lomakin can you go in here:

and log the value that Lighthouse is trying to parse?

[2021-10-08 12:43] dmitry-lomakin commented on #7530
Hi @christian-bromann,

sure, the response is in the description. Here you go:
[code]

[2021-10-08 14:17] kdp88 opened #7532 "Allow real time reporting of reporters using WDIO Testrunner"
**DD**
this may be a duplicate(apologies if it is) i  did a search in all issues, found 25 closed issues that may relate to spec reporter in real time but couldnt find much information except for a comment that stated watchmode, i posted in gitter but no response as of yet so i just want to see if someone out there has found something i have yet to find regarding real time output of the spec being

[2021-10-11 00:34] skamineni commented on #7531
This is my wdio config file

<img width="976" alt="image" src="https://user-images.githubusercontent.com/18192016/136718463-9b66b148-d3f3-4a25-b5ae-9b8909083262.png">

We use babel that in in before hook to compile our Dev files which are in babel V6
<img width="1461" alt="image" src="https://user-images.githubusercontent.com/18192016/136718496-de378cb4-0eb0-46df-a06a-dd9c076bf2fd.png">

Then the

[2021-10-11 00:35] skamineni commented on #7531
This is my saucelabs config
<img width="995" alt="image" src="https://user-images.githubusercontent.com/18192016/136718622-b7f4e636-2dd7-4a07-8560-beb93e46aa22.png">

Both gives same error

[2021-10-11 07:15] christian-bromann commented on #7531
Your Babel setup is not correct. There is no need to import it as WebdriverIO does this automatically. See https://webdriver.io/docs/babel for more information.

[2021-10-11 07:15] #7531 closed

[2021-10-11 11:55] christian-bromann commented on #7311
We already have a function that transforms error messages. It can be found here: https://github.com/webdriverio/webdriverio/blob/main/packages/webdriver/src/utils.ts#L270-L325

[2021-10-11 13:41] justusromijn commented on #5545
I've been doing some investigation, but I just can't really pinpoint where it goes wrong. I've got a feeling it is something with the `switchSyncFlag` functionality, as I could follow up the code until there:
https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-utils/src/shim.ts#L427

[2021-10-11 22:32] skamineni commented on #7531
None of the cross browser like firefox and Safari are working as well. Adding services: [selenium-standalone] is bringing the error back

[2021-10-12 07:04] christian-bromann commented on #7531
Please see the error message. It seems that you are applying the property `superAdminEmail` to an option that only is allowed to have `http`, `https` or `http2`. Please check your configuration.

[2021-10-12 13:00] DudaGod opened #7544 "Display detailed stack trace on ETIMEDOUT error"
**Is your feature request related to a problem? Please describe.**

Hello.

In case when request to browser hangs for some reason I get an error like this:
[code]

This detailed stack trace does not tell me which command was called when an error occurred and with what arguments it was called. So I suggest to add this information to stack trace something here - https://github.com/webdriverio/webdri

[2021-10-12 13:02] srivishal1 opened #7545 "WDIO get stuck while switching to a new window in headless mode"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6,7

[2021-10-13 11:40] srivishal1 opened #7546 "Unable to create session with chrome version 94 (sometimes it get created and sometime not)"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:7
 - *

[2021-10-13 11:52] #7546 closed, assigned to nobody

[2021-10-13 12:02] srivishal1 commented on #7546
Yeah I understand. Actually I started facing this issue after updating to chrome version 94, before that it was perfectly fine, even I am not facing any issue while running locally on my machine.
Could you just tell me if there is any dependency of Java here, if yes what version it should support

[2021-10-13 14:02] srivishal1 commented on #7546
No luck for me -

[Step 3/4] [0-0] 2021-10-13T13:47:13.086Z INFO webdriver: [POST] http://localhost:4444/wd/hub/session
[09:47:13][Step 3/4] [0-0] 2021-10-13T13:47:13.086Z INFO webdriver: DATA {
[09:47:13][Step 3/4] [0-0]   capabilities: {
[09:47:13][Step 3/4] [0-0]     alwaysMatch: {
[09:47:13][Step 3/4] [0-0]       browserName: 'chrome',
[09:47:13][Step 3/4] [0-0]       browserVersion: '94.0',
[

[2021-10-13 20:15] sureshkrishnannair opened #7548 "How to Allow Camera and Mic Access in Chrome browser?"
I have to test an application  where every time when  login, the  alert for allowing Camera and Mic pops up.
This is blocking WebdriverIO to test such applications.

I wonder if there is a solution that already exists .

Please consider this as a feature if that is not implemented yet ?

![image](https://user-images.githubusercontent.com/35076518/137205045-30e622c6-0690-46d3-b624-015db42f31fb.png)

[2021-10-13 21:18] pmerwin commented on #7548
Hmm I have an app where I test video conf ... I use these caps:

[code]

                        I think using these :
   "--disable-notifications",
                          "--use-fake-ui-for-media-stream",
                            "--use-fake-device-for-media-stream"
                            saves me from seeing that alert you are seeing?

[2021-10-13 23:36] #7548 closed, assigned to nobody

[2021-10-14 12:14] christian-bromann opened #7550 "Bring back id selector"
### Discussed in https://github.com/webdriverio/webdriverio/discussions/7547

<div type='discussions-op-text'>

<sup>Originally posted by **RyanRedpath** October 13, 2021</sup>
Hi,

Do WDIO support the mobile selector/locator "resource-id"? Until recently I have been using "accessibility-id" but a recent upgrade on React Native allowed our devs to set resource-id, but it does not appear to work -

[2021-10-14 14:23] louis57 opened #7551 "maximizeWindow throws error "not yet implemented" in version 7.14.1"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.14.1
 - **Node.js version:** 16.2.0
 - **NPM version:** 7.13.0
 - **Browser name and version:** Chrome 93
 - **Platform name and version:** Ubuntu 18.04.5 LTS

**Describe the bug**
The command `browser.maximizeWindow()` doesn't work any more with latest version WebdriverIO `7.14.1`. It throws the following e

[2021-10-14 20:22] rohantalkad747 opened #7553 "Test conditional logic running before "before" hook"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.1

[2021-10-14 21:19] #7551 closed, assigned to nobody

[2021-10-15 00:11] praveendvd commented on #7553
Please  add a reproducible example , and the expected result

[2021-10-15 06:58] justusromijn commented on #7342
Hmm yeah I think it is indeed most straightforward to make snapshots on fully loaded pages. However, if browsers already do not provide any dependable hooks for knowing if an image is not just loaded but also rendered, I don't think making such an expectation from a framework like Webdriver valid: if Webdriver would implement something, it would be prone to issues, quirky and might break easily wi

[2021-10-15 07:02] justusromijn commented on #7311
@erwinheitzman the out of bounds error is when an index is given which is greater then the total length of said array (of elements). The out-of-viewport case errors somewhere else. I'm taking another breath and a deep dive to figure out where we can cover this case. If I can find the specific error message, I'll make sure to cover it within the transformers at the utils.

[2021-10-15 07:36] justusromijn commented on #7311
Also note that the documentation of moveTo explicitly states that it scrolls the element into view if it is outside of view.

[2021-10-15 07:49] erwinheitzman commented on #7311
moveTo does not scroll, it only moves the cursor. however when using the old JSON Wire protocol the default for that protocol was that the commands automatically scrolled. With Webdriver this is no longer the case. This is the reason that the documentation is a mismatch and why I suggested to simply auto scroll for elements that need it.

[2021-10-15 08:42] christian-bromann commented on #7311
The WebDriver still [states](https://w3c.github.io/webdriver/webdriver-spec.html#element-click):

[2021-10-15 09:00] christian-bromann commented on #7551
Usually it will automatically pick it if you have a browser driver in place, e.g. via `wdio-chromedriver-service` plugin. You can explicitly enforce it by setting the [`automationProtocol`](https://webdriver.io/docs/options#automationprotocol) option.

[2021-10-15 12:56] christian-bromann commented on #7551
Can you provide a small reproducible example?

[2021-10-15 13:19] louis57 commented on #7551
Thanks for still staying with me.

I just start to make a small POC of WebDriverIO for my app, so the structure looks simple like this:

![image](https://user-images.githubusercontent.com/12949146/137491387-bce9b96e-ceb2-4ef4-85ec-b4f0b2a7106d.png)

You have seen the `wdio.conf.ts`, dependencies. This is `tsconfig.json`

[code]
File `pwahome.page.ts`

[code]

File `pwahome.spec.ts`

[code]
I run t

[2021-10-15 13:45] christian-bromann commented on #7551
Did you setup [`wdio-chromedriver-service`](https://webdriver.io/docs/wdio-chromedriver-service)?

[2021-10-15 14:04] louis57 commented on #7551
Yes, I did set it up with the latest version `"wdio-chromedriver-service": "^7.2.2"`. I can see the package in `node_modules`

[2021-10-15 16:04] ajvj opened #7555 "cookie.sameSite does not defaults to `None`, if omitted while adding a cookie"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.

[2021-10-15 17:04] christian-bromann commented on #7555
Thanks for raising the issue.

As far as I know the sameSite option is omitted if not explicitly set. If you don't see it set it means it is set to `None`. Please reference the protocol text that states any differences between not setting the same site option vs setting it to `None`.

I will close this because WebdriverIO follows the WebDriver protocol and depends on how the browser driver is sett

[2021-10-15 17:08] christian-bromann opened #7556 "Build is broken"
I tried to update our dependencies and recognised that our project doesn't build anymore, due to heap out of memory:

[code]

This was caused by upgrading TypeScript. For some reasons compiling the `@wdio/config` file takes up a lot of memory. I experienced this in the past that the compiler struggles to quickly compile the project when updating files.

[2021-10-15 18:04] amrsa1 opened #7557 "Unable to donwload latest selenium version"
**Environment (please complete the following information):**
 - **WebdriverIO version:**  7.14.1
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]async
 - **Node.js version:** 14
 - **NPM version:** 6.14.15
 - **Browser name and version:** 94
 - **Platform name and version:** Linux
 - **Additional wdio packages used (if applicable):** [e.g. @wdio/spec reporte

[2021-10-15 20:34] snetch-gym commented on #1255
404^ no such key =(

[2021-10-16 00:43] enriquegh opened #7558 "[Sauce service] sauce:context request sent and no pass/fail when using multiremote on UP"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2] 7.14.1
 - **Mode:** [Standalone mode or WDIO Testrunner] WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] async
 - **Node.js version:** [e.g. 8.11.2] v14.16.1
 - **NPM version:** [e.g. 5.8.0] 7.20.6
 - **Browser name and version:** [e.g. Chrome 68] Safari or Chrome

[2021-10-16 10:17] christian-bromann commented on #1255
With a little search on the current docs page you find a new link: https://webdriver.io/docs/organizingsuites#inherit-from-main-config-file

[2021-10-18 11:08] Zarmeena opened #7561 "Setting 'skipSeleniumInstall:true' installs browser and selenium drivers"
## Expected Behavior
I don't want WDIO test runner to install selenium-standalone and browser drivers every time execution is triggered. Have set
'skipSeleniumInstall:true' in the runner file as well

## Current Behavior
Selenium-standalone and browser drivers are getting installed which is not required by my script execution
## Steps to Reproduce
Provide an unambiguous set of steps to reproduce t

[2021-10-19 23:20] praveendvd commented on #7532
![test](https://user-images.githubusercontent.com/45095911/138003550-91d70dfc-1fd7-4821-9c7a-66f2395d2c2e.gif)

[2021-10-20 07:43] christian-bromann commented on #7550
Thanks for verifying. My suggestion was to have a `id` selector like we used to. So rather than writing `$("id=resource-id")` we write `$("#resource-id")`

[2021-10-20 07:44] praveendvd commented on #7532
Sure

[2021-10-20 09:44] christian-bromann commented on #7532
No, this looks good to me. Please add a unit test to it so we make sure we don't regress.

[2021-10-20 10:23] smichaelsen opened #7573 "@wdio/allure-reporter `addDescription()` replaces the description"
[code]

When I use `addAttachment()` multiple times, the test will eventually have multiple attachments. But using `addDescription()` multiple times, each call will replace the content that was previously set, so it should rather be called `setDescription()`.

Ideally i would like to be able to call `addDescription()` multiple times at different places in my test code, to add some helpful metadata

[2021-10-20 12:08] #7573 closed, assigned to nobody

[2021-10-20 17:51] kailin0512 commented on #6993
Thanks, I made several tries several months ago and it seems not working, I will revisit this again and try to make a fix

[2021-10-20 21:18] alexmi256 opened #7577 "Subsequent Tests Do Not Run If beforeEach ever fails"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.16.0
 - **Additional wdio packages used (if applicable):** @wdio/allure-reporter, @wdio/junit-reporter, @wdio/mocha-framework

**Describe the bug**
If the `beforeEach` of a suite ever fails, then the suite will stop executing any further tests.
I believe this behavior was originally intended but ultimately r

[2021-10-21 09:44] praveendvd commented on #7577
https://github.com/mochajs/mocha/pull/1014

could you try these recommendations of using retry ?

[2021-10-21 14:32] christian-bromann commented on #7556
Fixed the build and update dev environment to Node.js v16.

[2021-10-21 14:32] #7556 closed

[2021-10-21 15:26] qvalero opened #7579 "[🐛 Bug]: Fibers is not compatible with nodejs v16.0.0"
### WebdriverIO Version

latest

### Node.js Version

16

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

[code]

### What is your expected behavior?

_No response_

### How to reproduce the bug.

[code]

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Is there an existing issue f

[2021-10-21 19:23] nextlevelbeard opened #7580 "[🐛 Bug]: isExisting calls findElements (multiple), a potentially expensive op"
### WebdriverIO Version

latest

### Node.js Version

14

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Like the title says, under the hood, webdriverIO calls findElements (multiple) when using `isExisting` and `waitForExist`.
https://github.com/webdriverio/webdriverio/blob/f1313735cd3441dc172d3955479575854e64a306/packages/webdriverio/src/commands/el

[2021-10-21 19:50] ajvj commented on #7555
Just to give a context, running this below code using the setup has allowed me to set the samesite value as `None`, which I am not able to do it in webdriverio.
Please refer the attached screenshot.

https://github.com/SeleniumHQ/selenium/releases/download/selenium-4.0.0/selenium-server-4.0.0.jar
https://chromedriver.storage.googleapis.com/index.html?path=94.0.4606.61/

[code]

[2021-10-21 21:18] christian-bromann commented on #7555
I am confused, the protocol says:

But I see in the Selenium project that `None` as value is allowed. I however see [tests](https://github.com/SeleniumHQ/selenium/blob/eb4c4fc1ba2db20fce426045289540d9c58495ec/dotnet/test/common/CookieTest.cs) where they check that an exception is thrown if "None" is set:

[code]

I seems that `None` is an option if `secure` is set to true.

[2021-10-22 00:48] yunj opened #7581 "[🐛 Bug]: shared-store-service setValue does not work in onPrepare() as documented"
### WebdriverIO Version

7.16.0

### Node.js Version

16.4.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?
We want to store environment-specific variables into [shared store](https://webdriver.io/docs/shared-store-service/) in `onPrepare` before running all tests and retrieve from each test's worker process, as documented at [README.md](https://githu

[2021-10-22 01:13] yunj commented on #7581
Hi @Slashgear could you please have a look at why `setValue` in `onPrepare()` is not working as described in [here](https://github.com/webdriverio/webdriverio/commit/9711b408812a06f63852146d00562992fd75b7c1)? Thank you very much in advance.

[2021-10-22 07:34] #7581 closed, assigned to nobody

[2021-10-23 16:46] nonopolarity opened #7583 "[📖 Docs]: Expect | WebdriverIO"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation

### Description of the improvement / report

On this page, there is no `await` in front of `expect`:

https://webdriver.io/docs/api/expect-webdriverio/#tohavetextcontaining

[code]

but I tried it in a project created by `npx wdio ./path/to/new/project`

and it didn't

[2021-10-23 16:52] nonopolarity opened #7584 "[📖 Docs]: Run in a script"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation

### Description of the improvement / report

On this page: https://webdriver.io/docs/gettingstarted#run-in-a-script
Run in a script

It doesn't say how to have `expect` if it is in a script...
I can't find it in other places in the docs.

It seems if we use `npx wdio

[2021-10-23 17:18] nonopolarity opened #7586 "[📖 Docs]: how to change await expect(elem).toHaveTextContaining("hello") waiting time"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation

### Description of the improvement / report

It seems `await expect(elem).toHaveTextContaining("testing 123");` knows to wait a few seconds before it decides that it doesn't exist.

I wrote a same webpage to show `Hello World` on the page, and then wait for 3 seconds,

[2021-10-25 01:41] nonopolarity opened #7589 "[📖 Docs]: about mocha, jasmine, cucumber vs jest"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation

### Description of the improvement / report

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-25 07:37] #7589 closed, assigned to nobody

[2021-10-25 07:51] #7586 closed, assigned to nobody

[2021-10-25 08:05] adam-knights opened #7592 "ua-parser-js has a compromised version, need to make sure it is skipped"
### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

See https://github.com/faisalman/ua-parser-js/issues/536

Recently the owner of ua-parser-js lost control of their npm account and certain versions of the package were comprimised, namely 0.7.29, 0.8.0, 1.0.0.

devtools currently has 0.7

[2021-10-25 08:18] #7592 closed, assigned to nobody

[2021-10-25 08:54] #7583 closed, assigned to nobody

[2021-10-25 13:09] christian-bromann opened #7601 "[🐛 Bug]: Build is broken"
### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

[code]

### What is your expected behavior?

[code]

### How to reproduce the bug.

[code]

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Is there an existing issue for

[2021-10-25 21:49] #7601 closed, assigned to christian-bromann

[2021-10-25 21:52] #7550 closed, assigned to nobody

[2021-10-25 21:53] #7557 closed, assigned to nobody

[2021-10-25 22:13] #7553 closed, assigned to nobody

[2021-10-25 22:32] #7545 closed, assigned to nobody

[2021-10-26 07:41] user7699 opened #7603 "[🐛 Bug]: afterTest hook does not fetch retry attempts"
### WebdriverIO Version

7.13.2

### Node.js Version

v14.16.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I should be able to fetch the amount of retry attemps in the afterTest hook. When a test is retried, the output is always { attempts: 0, limit: 0 }.

I'm using the following setup to retry a failing test:

    specFileRetries: 2,
    specFile

[2021-10-26 12:02] #7603 closed, assigned to nobody

[2021-10-26 15:03] gabriel-kohen-by opened #7609 "[🐛 Bug]: Some failed SauceLabs run result in Unnamed job descriptions"
### WebdriverIO Version

7.7.4

### Node.js Version

14

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Some of our tests we are running fail in some of the capabilities. When these specific test fail on Chrome 95(or Windows 10 or Mac 10.15) or Firefox 93 on Mac 10.15 the description of the job is not set.
It's worth mentioning that in other tests tha

[2021-10-27 03:06] KennethKinLum opened #7612 "[📖 Docs]: maxInstances"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Other

### Description of the improvement / report

the `maxInstances` is said to be defaulted to `100`  https://webdriver.io/docs/options/#maxinstances
but I wonder, how can it be so big?

In our system, if it is defaulted to 25, then if I run the test locally, I saw 12 Chrome browsers all

[2021-10-27 06:00] dylanlive opened #7613 "[🐛 Bug]: [wdio-devtools-service] broken for Selenium Grid 4 after v7.14.0"
### WebdriverIO Version

7.16.3

### Node.js Version

14.17.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Beginning with [v7.14.0](https://github.com/webdriverio/webdriverio/releases/tag/v7.14.0), devtools service does not work with Selenium 4.0 Grid. It returns the error:
[code]

v7.13.2 is the last working version. I've confirmed it doesn't work

[2021-10-27 08:16] #7613 closed, assigned to nobody

[2021-10-27 08:18] #7612 closed, assigned to nobody

[2021-10-28 12:49] avikha opened #7619 "[🐛 Bug]: Bug in `newWindow` makes hard to work with tabs and use functions such as switchWindow/switchToWindow/getWindowHandles"
### WebdriverIO Version

7.16.3

### Node.js Version

14.16

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

We find the `wdio` API dealing with tabs and window management slightly confusing and not working in the way it is supposed to.

We strongly believe that the problematic function is `newWidow`, which makes it hard to manage tabs and use other `w

[2021-10-28 17:08] christian-bromann opened #7620 "[📖 Docs]: Clarify that `@wdio/devtools-service` commands only work locally"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation

### Description of the improvement / report

Many people that use the `@wdio/devtools-service` commands are confused why they are seeing things like `browser.cdp is not a function`. Two things we should do:

- make clear that this service only works locally and why
-

[2021-10-30 08:29] praveendvd commented on #7213
Yes I agree some methods could be replaced with arguments.

[2021-10-30 09:22] gvozdeva-ira commented on #7457
But why it can't reach server and why error log is shown some weird IP when test failed? i tried to run simple test in project with wdio 6 - it was success: no problem to run in iPhone on Browserstack , when i try to do the same with wdio7 - it failed with this ETIMEDOUT error

[2021-10-30 09:22] gvozdeva-ira commented on #7457
@viralkpanchal are you able to resolve this issue?

[2021-10-30 17:24] avikha commented on #7619
Hey @christian-bromann, thanks for the quick response, and sorry for my late.

I see

It just wasn't obvious for us to understand the real differences without going to the source code. As a developer or automation engineer, it would've been more natural (or intuitive) to have:
1. Many APIs for switching strategy, like `switchWindowByHandle`, `switchWindowByUrl`, `switchWindowByName`. And then, it

[2021-10-31 10:13] praveendvd commented on #7619
Hi @christian-bromann  and @avikha

The issue is just with that particular website , it seems it is adding separate window name :

![image](https://user-images.githubusercontent.com/45095911/139577763-80128bc1-2c86-431a-83c9-d1592a51b328.png)

if you change it with different website ,

[code]

[2021-10-31 10:18] praveendvd commented on #7619
`window.open("https://www.si.com/","test");`

if you open console of browser and run above command and then run

`window.name` in the newly opened browser you can see the window.name is not reflected .

But you replace si with any other website windowName will be test

[2021-10-31 10:25] praveendvd commented on #7619
@christian-bromann  the only fix I could think of is setting `window.name= "something"` explicitly again in newWindow command after switching to that window internally . But i don't know if its worth

[2021-11-01 10:21] nirmalcrafty opened #7624 "[🐛 Bug]: bump @cucumber/cucumber version dependencies in @wdio/cucumber-framework version 7.16.3 to latest (v8.0.0-rc.1)"
### WebdriverIO Version

latest

### Node.js Version

v14.18.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Upgrading to the latest version of @wdio/cucumber-framework version 7.16.3 shows the below warning in the logs

[0-0] setDefinitionFunctionWrapper is deprecated and will be removed in version 8.0.0 of cucumber-js. If this was used to wrap gen

[2021-11-01 10:48] erwinheitzman commented on #7213
I personally prefer a `click`, `middleClick` and `rightClick` in that case for convenience without having to pass in any options.

Regarding the `pressAndHold` action (apologies here that should have been `clickAndHold`), does not have a timeout. It presses down something until you tell it to release, so I disagree here.
Also tho whole idea of this Actions class is to chain commands, so I don't se

[2021-11-01 15:57] shinxi commented on #5789
The simple script to reproduce the issue is
[code]

However, it doesn't seem necessary to do the isExisting assertion which will always return true in this case, I tend to think doing null check will make more sense, i.e.,
[code]

[2021-11-01 20:22] jpalmieri opened #7628 "[📖 Docs]: Old readme links to `master` branch of this project"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

A typo, Other

### Description of the improvement / report

The [old home](https://github.com/itszero/wdio-browserstack-service) for this project has an incorrect link to this repo: it points to the `master` branch, and this repo's trunk is now `main`. So, when someone finds `itszero/wdio-b

[2021-11-01 22:15] christian-bromann commented on #7628
I also can't update the old project. What would you suggest?

[2021-11-02 08:02] hanifahatiyabudianto opened #7630 "Error Argument of type packages/wdio-cucumber-framework/src/utils.ts"
I got an error at utils.ts
Argument of type '(row: TableRow) => { cells: string[]; }' is not assignable to parameter of type '(value: PickleTableRow, index: number, array: readonly PickleTableRow[]) => { cells: string[]; }'.
  Types of parameters 'row' and 'value' are incompatible.
    Type 'PickleTableRow' is missing the following properties from type 'TableRow': location, id
![image](https://use

[2021-11-02 09:22] christian-bromann commented on #7630
@hanifahatiyabudianto I can't spot these TypeScript errors, the build is green and these errors would have been caught. Can you explain how this can be reproduced?

[2021-11-02 09:27] christian-bromann commented on #5789
@shinxi you can't do this:

because `navSite` is not an WebdriverIO element. You should get `TypeError: navSite.isExisting is not a function` with the latest version.

[2021-11-02 09:33] christian-bromann commented on #5789
After re-visiting this issue it seems that this got fixed by #7348. The following example now works for me:

[code]

[2021-11-02 09:33] #5789 closed

[2021-11-02 09:47] #7624 closed

[2021-11-02 09:58] shinxi commented on #5789
Oh, yes, I missed $ in my sample. Thanks @christian-bromann
[code]
What I meant is, `expect(navSite).not.toBeNull()` will make more sense than `expect($(navSite).isExisting()).toBe(true)`.

[2021-11-02 10:08] christian-bromann commented on #7619
I agree with that. It might make sense to think about a more clear distinction between protocol commands and WebdriverIO commands. As this would be a breaking change we can consider this for v8.

As WebDriver users might experience the same issue it would be good if the solution can be for both protocols. We should keep protocol commands as low level as possible (no extra waits /logic etc.) so we

[2021-11-02 10:28] praveendvd commented on #7619
@christian-bromann  the issue I fixed was that if we use newWindow command without specifying a windowname then only one new window opens ,

Now we replaced, it with blank so it opens new window each time .

About this issue,

I am not able to reproduce the first one where all new window having same handle ,

The second issue where we get error saying si-window doesn't exist , is due to the behavi

[2021-11-02 10:33] Badisi opened #7636 "[🐛 Bug]: starter project generated with @wdio/cli does not run"
### WebdriverIO Version

7.16.3

### Node.js Version

14.17.5

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

The starter project generated with `@wdio/cli` does not run.

Following the [getting started guide](https://webdriver.io/docs/gettingstarted):
1) Initiate a setup
[code]
<img width="627" alt="Screenshot 2021-11-02 at 11 26 24" src="http