[2019-03-06 03:57] mirza-ae opened #3686 "Cant run on Safari local browser"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.3.5 and latest (5.7.0)
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** latest
 - **NPM version:**  latest
 - **Browser name and version:** Safari 12
 - **Platform name and version:** Mac OSX  10.14
 - **Additional wdio packages used (if applicable):**

[2019-03-06 04:45] GineaPig opened #3687 "waitForExist(), waitForDisplayed(), waitForEnabled() don't work for Edge browser."
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-03-06 08:09] christian-bromann commented on #3687
Without any logs this is impossible to investigate. Maybe the element indeed doesn't show up in Edge! Please provide a reproducible example and some logs.

[2019-03-06 08:14] christian-bromann commented on #3686
Apparently the logs show that the session was initiated, so Safari runs just fine. The actual issue you are facing is already logged and about to be fixed at #3601

[2019-03-06 08:14] #3686 closed

[2019-03-06 08:15] christian-bromann commented on #3685
This issue was moved to webdriverio-boneyard/v4#26

[2019-03-06 08:15] #3685 closed

[2019-03-06 08:16] christian-bromann commented on #3685
We don't fix issues in v4 anymore but we are happy to merge fixes that you can provide that prevents this bug from happening.

[2019-03-06 08:20] christian-bromann commented on #3388
I would suggest to add a section in the docs how to simply use the afterTest hook to store screenshots somewhere in case the test fails. This is super simple and doesn't require us to add a config value for this.

[2019-03-06 09:17] FelixZilber commented on #3639
@mgrybyk Looks like I found the reason for my failure but did not find the solution yet.
As I showed in my BrowserUtils.d.ts there is a reference to webdriverio-core. this added since BrowserUtils.ts import from @wdio/sync. And compilation passed just fine. (Let's call it SubProject)

The problem happen when I import BrowserUtils in other project (lets call it ParentProject) that also have @wdio/s

[2019-03-06 10:35] mgrybyk commented on #3639
@FelixZilber not really to be honest.
You should bot refer to webdriverio-core.
This is internal file.

[2019-03-06 11:18] FelixZilber commented on #3639
@mgrybyk I have 2 workarounds that work:
1) adding reference types="@wdio/sync/webdriverio-core" to BrowserUtils.ts which does not sound right(but works)
2) use absolute reference type to reference types="@wdio/sync/webdriverio-core"
in webdriverio.d.ts but this one part of the @wdio/sync

[2019-03-06 11:46] mgrybyk commented on #3639
Both are bad @FelixZilber

Import module properly as @wdio/sync

Do not refer to files inside package, it may change at any time

[2019-03-06 11:51] Antonius-S commented on #3652
I'm not talking about run time. I mean creating and especially extracting tarballs and so on. Anyway, if you don't wish to support packing, it's up to you. Just in case someone comes to this page with the same issue: solution is to change
[code]
to
[code]

[2019-03-06 11:52] FelixZilber commented on #3639
@mgrybyk I agree that the first solution is bad.
I did import @wdio/sync, but I got relative path to the reference.

Shouldn't the reference in webdriverio.d.ts be absolute ?
https://github.com/webdriverio/webdriverio/blob/11da9ad430f42d8d03ace1d9f7b83ac29a8ce7f8/packages/wdio-sync/webdriverio.d.ts#L1

[2019-03-06 11:55] mgrybyk commented on #3639
How can it be absolute?

[2019-03-06 11:57] mgrybyk commented on #3639
If you import @wdio/sync as module you shouldn't care about any internal paths

[2019-03-06 12:03] FelixZilber commented on #3639
`/// <reference types="@wdio/sync/webdriverio-core"/> `

[2019-03-06 12:07] mgrybyk commented on #3639
So why can't you just import
```/// <reference types="@wdio/sync"/>```

?

[2019-03-06 12:16] FelixZilber commented on #3639
because it will have next result in my d.ts :
`/// <reference types="./webdriverio-core" />
`

which is wrong 😩

[2019-03-06 12:28] mgrybyk commented on #3639
Oh man

[2019-03-06 12:29] mgrybyk commented on #3639
So how can we handle it?

[2019-03-06 13:43] FelixZilber commented on #3639
https://github.com/webdriverio/webdriverio/pull/3688

How about that?

[2019-03-06 14:23] mgrybyk commented on #3639
Looks good, let's proceed conversation there.
Thanks

[2019-03-06 15:27] osmolyar commented on #3460
@christian-bromann , re.

am a bit stuck in the water with working with the packages at all  because when I install a modified webdriveriov4 package either from GitHub or from the local directory, when wdio is run it can't find '../build/lib/cli.js', since https://github.com/webdriverio-boneyard/v4 (and therefore its fork) doesn't have a /build directory.:

C:\Share\aml_wdio_v4\aml_wdio_v4\demo>np

[2019-03-06 15:44] christian-bromann commented on #3460
you need to build the project then with `npm run build` .. see scripts in package.json

[2019-03-06 15:51] abjerstedt commented on #3687
@GineaPig You need to specify which edge version you are using. Edge 17 and 18 use different APIs, and Edge 18 has a known issue with the displayed() call not working (aka waitForDisplayed will spam an unknown error).

WaitForExist works just fine in edge 18 afaik; and I'm not sure about WaitForEnabled.

[2019-03-06 15:52] abjerstedt commented on #3645
@jrobinson01 So, i was playing with safari yesterday, and I think this is a symptom of a bigger issue tbh. Element not found was throwing an exception vs generating the "element not found" object.

[2019-03-06 15:53] abjerstedt commented on #3579
Based on this, I'm going to close this issue. If its not consistently reproducible, theres nothing we can do.

[2019-03-06 15:53] #3579 closed

[2019-03-06 15:59] abjerstedt commented on #1643
Based on the age of this issue, and the launch of v5 - I'm going to close this.

@emilyrohrbough Personally, I STRONGLY advise against running multiple tests within a single spec file. I understand your goal, but due to the nature of TCIP/IP networks... I foresee lots of issues.

That said, it sounds like there are several people doing this in cucumber already using hooks.

[2019-03-06 15:59] #1643 closed

[2019-03-06 17:01] osmolyar commented on #3460
@christian-bromann , thanks very much for the tip.

Unfortunately, running with the modified package as in the pull request doesn't fix the issue as the socket hang up still occurs.

With the change, the bolded line in build/lib/RequestHandler is updated with the extra empty object to merge,
          if ((0, _keys2.default)(data).length > 0) {
                newOptions.json = data;

[2019-03-06 18:44] jrobinson01 commented on #3645
where did you see that it was throwing?

[2019-03-06 19:59] GineaPig commented on #3687
@christian-bromann @abjerstedt Thank you for your reply. I am using Edge 41.

When I open a new page, these functions work well if I use the browser.pause(timeout) to wait for a while and the element does show up.

The problem is that when I open a new page, I always have to use browser.pause(timeout) to wait for a while then use these functions.

When I open a new page without browser.pause() and

[2019-03-06 20:12] abjerstedt commented on #3687
@GineaPig Edge 41 doesn't give me any info. I need to know if its 15,16,17,18.

Based on the information you provided in your followup, it sounds like i might need to update our matcher to snag edge no such found elements.

[2019-03-06 20:19] GineaPig commented on #3687
@abjerstedt
The version shows in my edge:
Microsoft Edge 41.16299.967.0
Microsoft EdgeHTML 16.16299
According to your last response, Edge 17 looks work well for all these wait functions? And should I use Edge 17? Thank you!

[2019-03-06 20:19] abjerstedt commented on #3687
Edge 18 works as expected.

I can reproduce the issue in Edge 15, 16, and 17

[2019-03-06 20:19] rostgoat opened #3689 "function reusability"
**Describe your question with as much detail as possible**
I am transitioning from Selenium to WebdriverIO and I'm running into some difficulty regarding function reusability. Let me demonstrate with an example:

    <nav>
      <div><a>Clients</a></div>
      <div><a>Accounts</a></div>
      <div><a>Packages</a></div>
    </nav>

lets say I have a navigation bar with 3 links above. When I land on

[2019-03-06 20:24] GineaPig commented on #3687
@abjerstedt Can I use waitForDisplayed in Edge 18 by the way? Thank you!

[2019-03-06 20:26] abjerstedt commented on #3687
@GineaPig No. Microsoft and Apple both decided to remove the api endpoint since it was "optional". I have a PR that should fix this when it eventually gets merged.

[2019-03-06 20:29] GineaPig commented on #3687
@abjerstedt Thank you so much!

[2019-03-06 21:03] abjerstedt commented on #3689
You are overloading the concept of a getter... a getter in essence is simply a function that doesn't require a param. Just put a plain old function in your test:
getLink (text) { return $(text) }

In the future please use our gitter for questions like this. This shouldn't be an issue.

[2019-03-06 21:03] #3689 closed

[2019-03-06 21:09] abjerstedt commented on #3687
@GineaPig Once my PR goes in and we cut a release, the next version should work with edge <= 17.

[2019-03-06 21:25] #3687 closed

[2019-03-06 22:32] osmolyar commented on #3460
@christian-bromann , finally got the issue; it was the mere presence of a step definition file that contained this line

var req = http.request(testConfig.config.httpOptions, callback);

at the beginning of the file (rather than within a step definition) that was causing the issue, even if no steps defined in the file were being run.
(Closed the issue in v4 repo. )  Thank you for the help.

[2019-03-06 23:01] kevinmcdonnell commented on #3683
any thoughts on a workaround? or a pointer on how I could try to fix this?

can I manually achieve the same by using `browser.newSession()` to create multiple browser sessions?

e.g.
[code]

[2019-03-06 23:07] christian-bromann commented on #3689
❤️ it!

[2019-03-07 00:49] worc commented on #1726
for posterity, this error message can show up if you're using cucumber and your cukes are missing Scenario or Scenario Outline names

[2019-03-07 00:59] abjerstedt commented on #3645
Ignore what i said... i got confused with edge :-/.

[2019-03-07 02:18] abjerstedt commented on #3297
I cannot reproduce the error outlined above in 5.7.0; however, this plugin is COMPLETELY broke for modern selenium-standalone users.

[2019-03-07 02:28] abjerstedt commented on #3297
This plugin is also broken for users of firefox <= 55.

[2019-03-07 09:09] #3297 closed

[2019-03-07 13:33] abjerstedt opened #3693 "Port wdio-appium-service"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

In order to better support our native app customers, we should absorb wdio-appium-service into the monorepo. This would allow these users to get started on webdriverio with less overhead.

[2019-03-07 13:37] abjerstedt commented on #3645
@jrobinson01 Do you mind retesting with 5.7.1? I'm doubting that this fixed it, but it'd be nice to see.

[2019-03-07 13:59] jrobinson01 commented on #3645
@abjerstedt yeah I'll give it a shot this afternoon.

[2019-03-07 15:13] #3648 closed

[2019-03-07 15:17] erwinheitzman opened #3694 "Conflict between the @wdio-sync and the webdriverio typings"
**Environment (please complete the following information):**
 - **WebdriverIO version: 5.7.1
 - **Mode: WDIO Testrunner
 - **If WDIO Testrunner, running sync/async: sync
 - **Node.js version: 10.15.0
 - **NPM version: 6.4.1 -> 6.8.0
 - **Browser name and version: Chrome 73
 - **Platform name and version: OSX 10.14
 - **Additional wdio packages used (if applicable): [@wdio/junit-reporter, @wdio/moc

[2019-03-07 15:21] erwinheitzman commented on #3694
@mgrybyk would you mind to take a look at this?

[2019-03-07 15:41] wswebcreation commented on #3693
If we are going to do that, can we also make it a parallel solution, meaning that each Appium instance will get it's own port if multiple capabilities are provided?

[2019-03-07 16:09] xlenz commented on #3694
@erwinheitzman
![image](https://user-images.githubusercontent.com/3816609/53970802-cd7cfc00-40fb-11e9-9e2f-dc51b577fedb.png)

[2019-03-07 16:18] xlenz commented on #3694
@erwinheitzman do you have imports of webdriverio somewhere in the code?
If yes - remove them

[2019-03-07 19:09] tnoonan-salesforce commented on #2790
@christian-bromann Any chance the change to remove rgb2hex can be backported to 4.x?

[2019-03-07 20:08] jrobinson01 commented on #3645
@abjerstedt no change in 5.7.1

[2019-03-07 21:14] erwinheitzman commented on #3694
@xlenz Oh damn, I completely forgot about a single import statement somewhere in the project. shit, I feel stupid now..
Thanks for pointing that out, been bashing my head against the wall with this one and this is one to note down to never forget again!

Will close the issue since the problem was me and not the code.

[2019-03-07 21:14] #3694 closed

[2019-03-07 22:18] mgrybyk commented on #3694
No worries :)

[2019-03-07 23:36] mgrybyk commented on #3683
@kevinmcdonnell I don't know right now how to fix it in framework.
You can workaround it like this

[code]

[2019-03-07 23:40] mgrybyk commented on #3683
you can even go further and pass managerOne or employeeOne instead of browser to waitForExist if you need to wait for something within particular browser instance.

Also, you may temporary introduce new command for it.

Sorry to say you won't be able to add custom command to element level because of https://github.com/webdriverio/webdriverio/issues/3445

[2019-03-08 02:02] mgrybyk commented on #3683
@kevinmcdonnell pass all parameters explicitly, including interval. Some default values are ignored in multiremote mode.

[2019-03-08 09:54] mgrybyk opened #3699 "blocker: isDisplayed doesn't work in Appium in 5.7.1"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.1

**Config of WebdriverIO**
Using Appium 1.11.1

[code]

**Describe the bug**
isDisplayed doesn't work, works fine in 5.7.0

**To Reproduce**
`$('~BUTTON').waitForDisplayed()`

**Expected behavior**
isDisplayed, waitForDisplayed should work

**Log**
[code]

**Additional context**

[2019-03-08 09:55] mgrybyk commented on #3699
@abjerstedt can you please help?
Looks like it is because of https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/element/isDisplayed.js#L73

[2019-03-08 10:07] mgrybyk commented on #3699
changed it locally to `browser.isW3C && !browser.isMobile && ...` and isDisplayed working again.

[2019-03-08 10:56] mgrybyk opened #3700 "isDisplayed doesn't work properly because of refetch"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.1

**Describe the bug**
isDisplayed fails once element is no longer exists

**To Reproduce**
[code]

[Include code or an example repository that can easily be set up]

**Expected behavior**
el.isDisplayed() should return false immediately if element doesn't exist without refetching it.

**Log**
[code]

[2019-03-08 11:14] mgrybyk commented on #3700
had to change regex to match isElementDisplayed as well
https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/utils/implicitWait.js#L14
`if (!currentElement.elementId && !commandName.match(/(waitUntil|waitFor|isExisting|is?\w+Displayed)/)) {`
changed `isDisplayed` to `is?\w+Displayed`

[2019-03-08 11:28] christian-bromann commented on #3699
let's make a PR and exclude Appium sessions from this tweak.

[2019-03-08 15:43] klamping commented on #3388
The service could be responsible for adding that afterTest hook. That seems like a really good middleground to me for this sort of thing.

[2019-03-08 17:07] mgrybyk commented on #3645
@jrobinson01 working on fix for this issue.

[2019-03-08 18:27] S-Voss opened #3703 "How do I access the document object?"
**I need a way to access the document so that I can return a list of elements to obtain their nodeType**
The issue I am having though is that the element's being returned don't include all the of the key/values that they would if I ran 'document.querySelectorAll('div')' inside of the Chrome Debugger Console.

**Environment (please complete the following information):**
 - **WebdriverIO version:**

[2019-03-08 18:29] erwinheitzman commented on #3703
`const elem = browser.execute(() => document.querySelector('some-selector'))`

[2019-03-08 18:30] erwinheitzman commented on #3703
And if you miss something, then please state what you are missing. Else we're just guessing..

[2019-03-08 19:21] S-Voss commented on #3703
I've tried that but it only returns: {"sessionId":"06ba4b9f6c760a13b371c9ed37c0c136","value":{"ELEMENT":"0.14538048399761405-1"},"_status":0}

However, I am looking for the full object: NodeList(12) [input.s-input.js-search-field., input#post-id, input#qualityBanWarningShown, input, input#fkey, input#author, input.use-facebook, input.use-google, input.submit-openid, input#display-name.s-input, inp

[2019-03-08 19:23] wangrenyn commented on #3703
for the full object: NodeList(12) [input.s-input.js-search-field., input#post-id, input#qualityBanWarningShown, input, input#fkey, ??

[2019-03-08 19:25] S-Voss commented on #3703
So if you run `document.querySelector('some-selector')` inside of a browser.execute call, you get a different result than simply pasting that in Chrome Developer Console. I need the Developer Console result.

[2019-03-08 20:27] CrispusDH commented on #3703
Probably, you want `document.querySelectorAll()`
Here some view example:

![image](https://user-images.githubusercontent.com/12623263/54053886-5cb80b80-41f1-11e9-80b5-d5da26a8ba54.png)

[2019-03-08 20:34] S-Voss commented on #3703
My apologies, I mean document.querySelectorAll('some-selector') in my other comment. If I run your suggestion within Webdriver's execute function it is a different result? I cannot figure out why that is the case though.

[2019-03-09 09:39] baruchvlz commented on #3703
@S-Voss `browser.execute` will only return the JSONWP or WebDriver key for the element as that is all the driver needs to run, this was changed here #3612. Try using the `$` or `$$` functions to get the documents, you can see an example [here](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/element/%24%24.js#L8-L32).

[2019-03-09 12:47] christian-bromann commented on #3703
I think this can be closed. Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) if you have further questions.

[2019-03-09 12:47] #3703 closed

[2019-03-10 05:32] Storagecenter opened #3704 "@wdio/config:ConfigParser: Failed loading configuration file: C:\Users\hp\test\node_modules\.bin\wdio.config.js: Cannot find module 'C:\Users\hp\test\node_modules\.bin\wdio.config.js"
Error: Cannot find module 'C:\Users\hp\test\node_modules\.bin\wdio.config.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at require (internal/modules/cjs/helpers.js:22:18)
    at ConfigParser.addConfigFile (C:\Users\hp\test\node

[2019-03-10 07:46] mgrybyk commented on #3704
@Storagecenter please provide:
- webdriverio version
- your package json
- your wdio config
- the way how are you running your tests

[2019-03-10 08:46] christian-bromann commented on #3704
I think something is up with the path to your wdio.conf.js. Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) if you have more questions.

[2019-03-10 08:46] #3704 closed

[2019-03-10 09:01] christian-bromann commented on #3671
Fixed in #3705

[2019-03-10 09:01] #3671 closed

[2019-03-10 09:48] christian-bromann commented on #3045
@dmhalejr can you propose the same PR for v5 too?

[2019-03-10 13:18] FelixZilber opened #3709 "waitForDisplayed with revers=true does not work properly"
$(selector).waitForDisplayed(10000, true); not working properly.
In case of not visible element at the first place, it will pass as expected.

But when the element first visible and disappear during the test, it will fail.
for validation I used:
 `<div>
        <button id="disappearing-btn" onclick="disappearBtn()">DISAPPEAR ON CLICK</button>
        <script>
            function disappearBtn() {

[2019-03-10 13:22] mgrybyk commented on #3709
@FelixZilber I'm fixing isDisplayed atm.
Anyway, can you provide steps to reproduce and log.
What browser are u using?

[2019-03-10 13:30] FelixZilber commented on #3709
Using latest chrome and firefox with
[code]

and sample html element:
[code]

[2019-03-10 14:05] mgrybyk commented on #3709
yes, confirming issue, it has been fixed with https://github.com/webdriverio/webdriverio/pull/3701

[2019-03-10 14:17] mgrybyk commented on #3709
Used following code for testing, btw:
[code]

works fine in chrome and safari in my PR

[2019-03-10 15:46] abjerstedt commented on #3709
Until we put the fix out use waitForExist for negative checks.

[2019-03-10 15:59] #3699 closed

[2019-03-10 17:17] #3700 closed

[2019-03-10 17:17] #3709 closed

[2019-03-10 17:17] #3683 closed

[2019-03-10 17:20] mgrybyk commented on #3645
Should be fixed with https://github.com/webdriverio/webdriverio/pull/3701

[2019-03-10 17:20] #3645 closed

[2019-03-10 17:44] saikrishna321 commented on #3693
@wswebcreation

We wouldn't need that as appium server can handle multiple capabilities request in single session

[2019-03-10 18:47] wswebcreation commented on #3693
@saikrishna321
Tnx, didn't knew that

[2019-03-11 00:14] nithya2murali commented on #2401
@christian-bromann
I am using node version : v11.10.1 & npm is 6.7.0
Is it possible to let me know which version of node and npm currently resolves the same issue . /node_modules/webdriverio/build/lib/utils/BaseReporter.js:336
                        throw _iteratorError;
                        ^

TypeError: Cannot read property 'includes' of undefined
    at WdioMochawesomeReporter.<anonymous> (

[2019-03-11 06:51] khsd opened #3711 "@wdio/eyes.webdriverio missing src directory"
**Describe the bug**
src directory is missing from npm @wdio/eyes.webdriverio

**To Reproduce**
Steps to reproduce the behavior:
goto https://npm.runkit.com/@wdio/eyes.webdriverio
press run
it will give an error in line 1 : exports.Eyes = require('./src/Eyes');

[2019-03-11 15:51] adamsjoe opened #3713 "Are there issues with waitForExist with chrome?"
I have an issue where a "loading" screen will appear at certain points of an application.

So far, with firefox, I've been using element.waitForExist(10000, true) to hold the test until the loading screen dissapears. This blocks the tests and things will run with no issues.

I've tested this in Chrome and am finding that the tests fail due to the loading screen being present.

Observing the test,

[2019-03-11 16:00] Antonius-S opened #3714 "minimizeWindow not defined (TypeError: browser.minimizeWindow is not a function)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2] 5.7.2
 - **Mode:** [Standalone mode or WDIO Testrunner] Standalone
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] async
 - **Node.js version:** [e.g. 8.11.2] 10.15.1
 - **NPM version:** [e.g. 5.8.0] 6.9.0
 - **Browser name and version:** [e.g. Chrome 68] Chrome 73
 - **Platform

[2019-03-11 16:07] christian-bromann commented on #3714
Chrome is still using the JSONWire Protocol for the most part which doesn't support this command. There is nothing WebdriverIO can do about it. The Chromedriver team is working on bringing their driver up to date.

[2019-03-11 16:07] #3714 closed

[2019-03-11 16:09] christian-bromann commented on #3713
@adamsjoe can you try with the latest WebdriverIO version. We recently fixed some bugs that might be connected with it.

[2019-03-11 16:25] adamsjoe commented on #3713
@christian-bromann I updated to latest last week (5.7.0) - there is a thought that things could be working as expected - that firefox has a slower rendering engine compared to chrome?

[2019-03-11 16:28] christian-bromann commented on #3713
could be .. without any logs here it is impossible to do more than guessing.

[2019-03-11 19:35] aparna1413 opened #3715 "Screenshot after delay"
**Describe your question with as much detail as possible**
Hello,
I need to take screenshot after a delay. The page takes a while to load.

**If it's about a specific piece of code, try and include some of it to support your question.**
`describe('componentParent', () => {
  describe('component1', () => {
    beforeEach(() => browser.goToStory(path));
    describe('component1 renders correctly', (

[2019-03-11 20:21] emilyrohrbough commented on #3715
Have you tried adding utilizing of of these commands?
- https://webdriver.io/docs/api/element/waitForDisplayed.html
- https://webdriver.io/docs/api/element/waitForEnabled.html
- https://webdriver.io/docs/api/element/waitForExist.html
- https://webdriver.io/docs/api/element/waitUntil.html
- https://webdriver.io/docs/api/browser/pause.html

[2019-03-11 21:14] christian-bromann commented on #3715
Please see @emilyrohrbough suggestion. If you have further questions, join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge). Thanks!

[2019-03-11 21:14] #3715 closed

[2019-03-11 21:27] adamsjoe commented on #3713
Have tried going to the latest (5.7.2) still the same.

What logs do you need / would be helpful ?

[2019-03-11 21:27] fijijavis commented on #3263
@christian-bromann I hate to comment on a closed issue, but I just ran across this converting some tests to v5.  We use Browserstack, how does WDIO know what to use for the host and port if we aren't specifying them?  Is it just looking for the local tunnel?

[2019-03-11 21:31] mgrybyk commented on #3713
You are seeing the problem if there element is not existing when you are calling waitForExist or if there is element first and then it disappears?

It is difficult to guess

[2019-03-11 21:40] christian-bromann commented on #3263
It checks the access key which is different and unique for BrowserStack and SauceLabs user. You can find the utility helper here: https://github.com/webdriverio/webdriverio/blob/52d616bef412bb107914ae48daa4202bd18f815c/packages/wdio-config/src/utils.js#L19-L78

[2019-03-11 21:40] adamsjoe commented on #3713
So the sequence is like this.
Login - loading screen appears - loading screen disappears - menu is on screen.

using firefox, I can get to the menu.
On chrome, I get a fail at loading screen appears as it thinks the screen isn't there and the test rolls onto the "menu on screen" section.

(not sure if that's cleared things up or made things worse?)

[2019-03-11 22:09] fijijavis commented on #3263
@christian-bromann Thanks for the info.  Last question... Is it possible to override this value?  We have a requirement from our security team to **not** use `hub-cloud.browserstack.com` because it could route our tests to the European data center.  Instead we specifically use `hub-use.browserstack.com` or `hub-usw.browserstack.com` so we are guaranteed to stay in the US.

[2019-03-11 22:31] christian-bromann commented on #3263
@fijijavis you can always overwrite the hostname in your config.

[2019-03-12 06:57] mgrybyk commented on #3713
Are you sure selector is valid for chrome?
Why don't you wait for login form to appear?

[2019-03-12 08:40] mgrybyk commented on #3713
Ok, I've just double checked, waitForExist works fine in both cases:
- when element is not existing
- when element first exists and then disappears

Most likely you are either using wrong selector or waitForExist('loading screen') is called when it is no longer exist, so there is nothing to do with webdriverio itself.

For questions like this use https://gitter.im/webdriverio/webdriverio?utm_sourc

[2019-03-12 08:40] #3713 closed

[2019-03-12 08:46] adamsjoe commented on #3713
No the selector is valid - if I put in a long browser.pause (about 2 seconds) then things work as expected.

I suspect that firefox is rendering things slower than Chrome on this element, so wait for not exist is being triggered prematurely.

[2019-03-12 15:45] draganrakas opened #3719 "How to extend Element class method in TypeScript using webdriverio?"
**Stack: TypeScript, WDIO, Cucumber**

We are having an issue with the click() functionality not working on buttons in SauceLabs only, and on FireFox only. We tested other combinations (local, CI, Docker, etc.) and our tests work on both FireFox and Chrome for all of those combinations. However, on SauceLabs, clicking a button in FireFox is very flaky.

We have tested a JavaScript workaround that

[2019-03-12 16:39] mgrybyk commented on #3719
You can add typings for new commands like this

[code]

[2019-03-12 16:40] mgrybyk commented on #3719
At this moment there is no way to override commands, there is planned work to do it #3604

[2019-03-12 16:57] pciavald commented on #1435
I'm still getting this issue using webdriverio 5.7, especially with vuetify. All checkboxes for instance are unclickable, i guess because some element is actually overlapping it, but that's the purpose of these libraries that hide the actual html inputs and shows a nicer UI.

Is there any chance that webdriverio handles these cases correctly, for instance with an option in the click method like `$

[2019-03-12 17:01] draganrakas commented on #3719
@mgrybyk We're currently using Webdriver 4.x due to compatibility issues with TypeScript & Cucumber. Is there an equivalent for 4.x?

[2019-03-12 17:50] BorisOsipov commented on #3596
@mgrybyk can you link to ide bug or particular SO question?

[2019-03-12 18:42] CrispusDH commented on #3604
I don't know why `webdriverio` package was implemented in a such way, but if `Browser` and `Element` were classes it will be so easy to extend it and create own wrappers.

[2019-03-12 18:51] mgrybyk commented on #3719
At this point I can't help you, I was using v4 with js.

[2019-03-12 18:55] mgrybyk commented on #3596
As it we had figured out the problem is that there are too many methods for browser object.

If someone can look for this issue or submit new one it would be great.
I'm not using intelliji products with js/ts.

[2019-03-12 20:15] lalka-workco commented on #215
I also get same issue when using localStorage through browser.execute()

[2019-03-12 21:11] CrispusDH commented on #215
do you use WebdriverIO or [selenium webdriverjs binding](https://github.com/SeleniumHQ/selenium/tree/master/javascript/webdriver)?

[2019-03-12 23:10] christian-bromann commented on #1435
@pciavald interesting, do you have a demo app with a small script I can run?

[2019-03-13 00:15] kevinmcdonnell commented on #2825
We're interested in using multiremote but wondering if we will run into issues like this where features are built only for the normal one browser session.

Are there known gaps other than open issues?

[2019-03-13 00:44] pciavald commented on #1435
@christian-bromann here you go sir

[code]

[2019-03-13 08:30] tompipl commented on #2718
any updates on this? none of what was offered here is working for me.

[2019-03-13 09:06] adrian-brown commented on #2825
Running on saucelabs is the bit I'd like to work correctly.  But I can see why it may not fit.

Apart from that if you run on your own grid or local setup it's absolutely fine, and a very elaborate way of performing real integration testing with more than 1 user in a test flow.  I've remained on latest version of v4 so I can't comment on v5 issues.  We're stable with v4.

[2019-03-13 10:33] christian-bromann opened #3721 "Use Reacts Virtual DOM to select elements in React apps"
**Is your feature request related to a problem? Please describe.**
If you want to test React applications that have generated class names and ids then it is really hard to select elements on the page.

**Describe the solution you'd like**
We should enhance the selector mechanism to support the virtual DOM of react applications so user can select by prop name or maybe even state of an react element

[2019-03-13 12:31] christian-bromann commented on #3719
@mgrybyk if people use addCommand can they somehow extend the existing typescript definition with their command?

[2019-03-13 12:34] christian-bromann commented on #3604
This would be a terrible thing to maintain and a lot of duplicated code though 😉. WebdriverIO generates it's interface based on json and js files. You can always build your own Wrapper around WebdriverIO. A great example for that is [web2driver](https://github.com/projectxyzio/web2driver#readme).

[2019-03-13 12:52] christian-bromann commented on #3711
I just released a new version with a fix for this.

[2019-03-13 12:52] #3711 closed

[2019-03-13 14:25] lalka-workco commented on #215
I am using WebdriverIO v5. It seems to happen mostly when I try to work with localStorage on Firefox. It seems like the driver might not support the command?

[2019-03-13 14:28] emilyrohrbough commented on #3721
This is a neat idea! I would be curious if this implementation would be possible when the react components are using css-custom properties to have locally-scoped class names. They  mention on limitation with minified assets that remove the original class name.

[2019-03-13 15:18] mgrybyk commented on #3719
Yes, as it mentioned here https://github.com/webdriverio/webdriverio/issues/3719#issuecomment-472080469

[2019-03-13 15:26] baruchvlz commented on #3721
@emilyrohrbough You mean like styled components? Or?

So far, I've been able to find the class names 2 ways

I did this with a `create-react-app` component:

1. Use the `type` property with the component's props. The only downfall I've found for this is when using functional components that use hooks. I get a React error saying that hooks can only be used inside components.

[code]

2. Recursively

[2019-03-13 15:34] christian-bromann commented on #3719
Ah ok, now I see that @draganrakas is using v4. Moving the issue there then.

[2019-03-13 15:35] christian-bromann commented on #3719
This issue was moved to webdriverio-boneyard/v4#29

[2019-03-13 15:35] #3719 closed

[2019-03-13 15:41] baruchvlz commented on #3721
@emilyrohrbough You mean like styled components? Or?

[2019-03-13 15:54] yepninja opened #3722 "TypeError: browser.setWindowSize is not a function"
**Environment (please complete the following information):**
 - **WebdriverIO version:** webdriverio
 - **Mode:** Standalone mode, remote
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.13.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** Firefox 65.0.1
 - **Platform name and version:** MacOS 10.14.3
 - **Additional wdio packages used (if applicable):** @w

[2019-03-13 18:45] CrispusDH commented on #215
it would be great if you create a new issue with reproducible repo

[2019-03-13 20:34] christian-bromann commented on #215
It doesn't. The local storage command was removed from the protocol. Use the execute command to access the local storage of the browser.

[2019-03-13 20:37] kennyw12 opened #3724 "getViewportSize no longer exists"
**Describe your question with as much detail as possible**
It seems like browser.getViewportSize no longer exists.
It was documented in http://v4.webdriver.io/v3.4/api/window/getViewportSize.html
and is no longer documented in the most recent docs. https://webdriver.io/docs/api.html

But I don't see any entry of this change in the [changelog](https://github.com/webdriverio/webdriverio/blob/master/

[2019-03-13 20:44] kewgrz opened #3725 "Applitools example is failing"
**Environment:**
 - **WebdriverIO version:** "^5.4.4"
 - **Mode:** WDIO
 - **WDIO Testrunner:** Sync
 - **Node.js version:** 10.14.1
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 73
 - **Platform name and version:** Mac Mojave

 - **Additional wdio packages used (if applicable):
     "@wdio/applitools-service": "^5.7.2",
    "@wdio/cli": "^5.7.2",
    "@wdio/local-runner": "^5.

[2019-03-13 21:36] christian-bromann commented on #3724
Sorry, it seems we missed to put this into the changelog. We modifed a lot of commands and this slipped through. Please use addCommand to readd this to your browser object based on this implementation: https://github.com/webdriverio-boneyard/v4/blob/master/lib/commands/getViewportSize.js

[2019-03-13 21:36] #3724 closed

[2019-03-14 06:13] ildarius commented on #2631
Updated to the following chromedriver on ubuntu and it fixed the error
https://chromedriver.storage.googleapis.com/2.46/chromedriver_linux64.zip

Was getting:
PHP Fatal error:  Uncaught Facebook\WebDriver\Exception\UnknownServerException: unknown error: call function result missing 'value'
(WARNING: The server did not provide any stacktrace information)

[2019-03-14 08:57] martinbkure opened #3726 "Problem open localhost on IE11"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-03-14 08:57] martinbkure opened #3727 "Problem open localhost on IE11"
I'm using webdriverio to run my tests and everything works in Chrome. But in IE11 webdriverio opens the browser but can't reach the url - which is on localhost.

 - WebdriverIO version: **5.7.1**
 - Mode: WDIO Testrunner **
 - running sync/async: ** sync **
 - Node.js version:** 9.11 **
 - NPM version:**5.6.0 **
 - Browser name and version:** IE11  11.0**
 - Platform name and version:** Windows 10

[2019-03-14 09:01] #3726 closed

[2019-03-14 12:14] christian-bromann commented on #3727
@martinbkure can you provide some logs from Browserstack?

[2019-03-14 13:42] martinbkure commented on #3727
Hi @christian-bromann ,

first I have the selenium-logs from browserstack, when I try to access the login-page:

`06:05:57.206 DEBUG [14] org.openqa.selenium.remote.server.DriverServlet - Handling: POST /session/5e0293de-13cd-4498-b9db-f349cc07c55a/url
06:05:57.207 INFO [14] org.openqa.selenium.remote.server.DriverServlet - Executing: [get: http://localhost:9004/q/app/login])
06:05:57.208 DEBUG [6

[2019-03-14 13:55] martinbkure commented on #3727
I can't get any console.logs, when I'm using IE11.

But here is the network log:

`{"automation_session":{"name":"","duration":36,"os":"Windows","os_version":"10","browser_version":"11.0","browser":"ie","device":null,"status":"done","hashed_id":"256bc394994563f347fa9f74987a9c14d112158e","reason":"CLIENT_STOPPED_SESSION","build_name":"Untitled Build","project_name":"Untitled Project","logs":"https:

[2019-03-14 14:21] uchagani commented on #3102
@christian-bromann I'm still seeing a similar error.  I even start `wdio` with the `-l error` parameter and the log show that i only want error logs but I get everything.

[code]

[2019-03-14 14:23] uchagani commented on #3102
FYI I'm using latest release: `"webdriverio": "^5.7.2"` and `"@wdio/cli": "^5.7.2"`

[2019-03-14 15:36] christian-bromann commented on #3727
These logs don't tell much .. can you reach out to the BrowserStack support? If it works in Chrome but not in IE it might be an issue on their end. Also try to investigate this by yourself, there is currently nothing I can do to help you here based on the data I have.

[2019-03-14 16:04] VinceBarresi opened #3728 "Allure config.reporters throwing _iterationError"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-03-14 17:45] uchagani commented on #3102
@christian-bromann just verified against v4.14.3 and this issue doesn't exist.  definitely a v5 issue

[2019-03-14 17:47] emilyrohrbough commented on #3721
yes styled components that use css modules to locally scope class naming: https://github.com/css-modules/css-modules

[2019-03-14 23:23] uchagani opened #3729 "logLevel Not Respected"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.2
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:**  sync
 - **Node.js version:** 10.13.0
 - **NPM version:** 6.4.1
- **Yarn version:** 1.13.0
 - **Browser name and version:** Chrome 73.0.3683.75
 - **Platform name and version:** macOS Mojave

 - **Additional wdio packages used (i

[2019-03-14 23:26] uchagani commented on #3102
@christian-bromann created a new issue for this.  probably should have done that in the first place, my apologies.

New issue: https://github.com/webdriverio/webdriverio/issues/3729

[2019-03-15 02:00] abjerstedt commented on #3729
This is not accurate and only affects a handful of prints that occur before the environment variable is set (and after that thread ends).

This is already a known issue and is being worked on (and there are other issues for this).

[2019-03-15 02:00] #3729 closed

[2019-03-15 02:06] abjerstedt commented on #3727
@martinbkure i don't see chrome in your capabilities. Are you calling chrome on browserstack too?

[2019-03-15 02:09] uchagani commented on #3729
@abjerstedt would you mind pointing me to the issue already reported? The only one I could find was related to remote sessions that is mentioned above.

[2019-03-15 02:13] abjerstedt commented on #3729
It looks like it was closed and referenced to continue conversation in the logging refactor pr:

https://github.com/webdriverio/webdriverio/pull/3638

[2019-03-15 02:15] abjerstedt commented on #3729
There is a bug regarding a few extra prints per worker, but its not near as widespread as your issue declares it :). And if you really want a workaround for it set the following environment variable when you call your tests: WDIO_LOG_LEVEL=silent

[2019-03-15 02:48] uchagani commented on #3729
Thank you. From my perspective, it wasn't readily apparent that this issue wasn't from all parts of the system and just a few print statements. I appreciate the work you guys are putting into this project.

[2019-03-15 03:09] uchagani commented on #3729
@abjerstedt that works to remove the extra print statements you mentioned but now i don't see any errors for failed tests.  All I get is this:

[code]

[2019-03-15 03:35] abjerstedt commented on #3729
That's a completely different issue. I believe dot reporter is broke.

[2019-03-15 07:39] martinbkure commented on #3727
@abjerstedt yes, I'm calling chrome as well, i've just commented it out to remove some of the overhead.

Her is my chrome config:

`  capabilities: [
        {
        browser: 'chrome',
        'browser_version': '66.0',

        os: 'Windows',
        'os_version': 10,
        name: 'local_test',
        build: 'webdriver-browserstack',
        'browserstack.local': true,
        'browserstack.l

[2019-03-15 07:55] martinbkure commented on #3727
@abjerstedt u lead me right to it, I've overwritten the config for browserstack. Thank u for your time.

[2019-03-15 07:55] #3727 closed

[2019-03-15 16:08] baruchvlz commented on #3721
@emilyrohrbough  This wouldn't affect the idea of selecting React components based on the component name. Like you said, those libraries affect classNames and this is why we have to think of a different way of selecting React components. When you define a component in react, either functional or class, the library will add a property `type` to the element's VirtualDOM with a reference to the funct

[2019-03-16 09:50] CrispusDH commented on #3426
I see **two** main points:
- library should be **lightweight**
- library approach should work **on both** Node.js and Browser

1) `Got` is for `Node.js` only
2) `node-fetch` library does not have maintenance a long time and as I understood it is for `Node.js`

After some research I think it would be better to separate code for `Node.js` and for browsers. What do you think?

[2019-03-17 05:17] ruiquanwu opened #3732 "Possible to disable updateClock() in updateView() in interface.js file?"
**Is your feature request related to a problem? Please describe.**
The updateClock() is nice and connivence when running tests manually. However, when using CD/CI tool like CircleCI, the output is full of time counting. It makes result hard to read and take a little more time to execute.

**Describe the solution you'd like**
Can we have a environment variable to disabled the timer in terminal outp

[2019-03-17 08:53] Gilad-WT commented on #2774
@christian-bromann it looks like this is not fixed I'm opening a PR for it

[2019-03-17 09:04] Gilad-WT commented on #2774
@christian-bromann PR opened https://github.com/webdriverio/webdriverio/pull/3733

[2019-03-17 13:39] christian-bromann commented on #3732
We are working on this in #3638

[2019-03-17 13:39] #3732 closed

[2019-03-17 23:08] VinceBarresi commented on #3728
I got this to work by modifying the code to -

[code]

[2019-03-18 00:17] WillBrock commented on #3728
I think you are running v4 of webdriverIO, even though the packages you listed are for v5 and cucumber is not supported in v5 yet.

The v4 docs are here:
http://v4.webdriver.io/

[2019-03-18 00:17] #3728 closed

[2019-03-18 17:31] jlipps commented on #3426
@CrispusDH that was my original idea, too, to have two different request classes that implement the same interface, one for node and one for web.

[2019-03-18 18:41] codiophile opened #3734 "Make webdriverio fibers aware in standalone mode"
**Is your feature request related to a problem? Please describe.**
I want to be able to run webdriverio synchronously in standalone mode.

**Describe the solution you'd like**
If you create a `remote` or `multiremote` within a fiber context, webdriverio should automatically detect the fiber context (`Fiber.current` is set) and rather then returning a promise, make the fiber wait and return the res

[2019-03-18 19:52] christian-bromann commented on #3734
Well there is a little bit more work and complexity around this as you think. You have to also wrap all exposed client commands so that they run with Fibers. Also you need to make sure that all internal commands (see webdriverio commands) are continue to return a promise. If you can provide a patch that would allow people to to the following:

[code]

I would be happy to merge it. With that being

[2019-03-18 21:54] davidbenhaim opened #3736 "How to set the value of an file input in v5"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**
Ok so I'm mostly filing this so someone can find it with google in th

[2019-03-18 21:54] #3736 closed

[2019-03-18 23:17] cschwebk opened #3737 "Incorrect string template in 4.14.3 release"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.14.3
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.1
 - **NPM version:** 6.9.0
 - **Browser name and version:** Firefox
 - **Platform name and version:** Mac OS 10.14.3
 - **Additional wdio packages used (if applicable):** wdio-sauce-service@0.

[2019-03-18 23:21] cschwebk commented on #3737
Just found the boneyard. Looks like this issue is already [there](https://github.com/webdriverio-boneyard/v4/issues/27). Please fix it :)

[2019-03-18 23:21] #3737 closed

[2019-03-18 23:27] christian-bromann commented on #3737
Please provide a fix for this :)

[2019-03-18 23:41] cschwebk commented on #3737
There are already two PRs open, didn't think we needed a third ;)
https://github.com/webdriverio-boneyard/v4/pull/28
https://github.com/webdriverio-boneyard/v4/pull/23

[2019-03-19 06:04] gkiszczak opened #3738 "Mobile name selector doesn't work in WebdriverIO 5"
**Environment:**
 - **WebdriverIO version:** [5.7.2]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [8.11.4]
 - **NPM version:** [5.6.0]
 - **Platform name and version:** [e.g. MacOS 10.13.6 ]
 - **Additional wdio packages used (if applicable):** [webdriverio]

**Config of WebdriverIO**
[code]
**Describe the bug**
I've noticed that sinc

[2019-03-19 12:08] Varshanairr commented on #2334
Hi, Was there any update on this? I seem to be facing the exact same issue I tried two different view ports, the header passes without issues but when it scrolls to the footer it throws : TypeError: "value" argument is out of bounds

[2019-03-19 12:41] christian-bromann commented on #2334
@Varshanairr please raise an issue in the wdio-visual-regression-service service repo

[2019-03-19 13:34] flangol commented on #3075
Same here...
Firefox version 65.0.2

[2019-03-19 16:00] adamweeks commented on #3431
@abjerstedt this seems to be happening on IE on sauce labs as well. Should I open another ticket?

Error message is:

[2019-03-19 16:36] christian-bromann commented on #3431
This just means it can't find the element but the strategy was supported.

[2019-03-19 17:16] adamweeks commented on #3431
@christian-bromann

Right, I understand that, but it is causing the test suite to throw an error and stop running when it should simply return false.

[code]

[2019-03-19 19:00] mgrybyk commented on #3431
Can you update wedriverio to latest version? @adamweeks

[2019-03-19 19:15] adamweeks commented on #3431
@mgrybyk I'm on the latest, 5.7.4

[2019-03-19 20:32] #3738 closed

[2019-03-20 11:12] christian-bromann opened #3742 "Fix invalid urls"
**Is your feature request related to a problem? Please describe.**
When navigating to pages like:
- google.com
- www.google.com
the driver will fail because the url is invalid.

**Describe the solution you'd like**
Always prepend an http in front of the url.

[2019-03-20 11:14] BorisOsipov commented on #3742
what about special urls like `about:blank` or `data:text/html, <html contenteditable>` ?

[2019-03-20 11:31] CrispusDH commented on #3742
if I put `google.com` to url in chrome it will pass, so, perhaps it would be great if our behaviour will be the same as in browsers

[2019-03-20 15:54] rolandjitsu opened #3743 "Request failed due to Illegal key values seen in w3c capabilities"
**Environment:**
 - **WebdriverIO version:** v5.7.2
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** v8.15.1
 - **NPM version:** v6.4.1
 - **Browser name and version:** Firefox 65
 - **Platform name and version:** macOS 10.14
 - **Additional wdio packages used (if applicable):** @wdio/cli, @wdio/dot-reporter, @wdio/jasmine-framework, @wdio/l

[2019-03-20 16:08] juliamaksimchik commented on #3743
Hi,

I have the same issue but with Browserstack service on my Jenkins pipeline. In the end, I've figured out that user and key for BS wasn't passed correctly to the config (process.env variables wasn't populated in my case)

I hardcoded my user & key to check if it solves the issue and it did. The message of the error should be clearer :(

[2019-03-20 16:17] rolandjitsu commented on #3743
Hmm, could be. But Travis does pick up on them because it manages to establish a tunnel using sauce connect.

[2019-03-20 17:36] xparpx commented on #2718
Hi,

This working for me. I want accept notifications and Pop Ups. There are no notifications on my tests now. I insert these options inside wdio.conf.js :

`capabilities: [{
        maxInstances: 1,

        browserName: 'chrome',
        'goog:chromeOptions': {
            prefs: {
                'profile.managed_default_content_settings.popups' : 1,
                'profile.managed_default_con

[2019-03-20 18:08] goatsy commented on #3725
I also had problems to set up the example-project.
Now I added also the dependency

"@wdio/eyes.webdriverio": "^2.0.5"

and some errors vanished.
I'd recommend you re-try it after adding that to your dependencies and see if it makes any difference.

[2019-03-20 18:10] christian-bromann commented on #3725
Yes I published a new version that should have fixed this issue.

[2019-03-20 18:10] #3725 closed

[2019-03-20 18:13] CrispusDH commented on #3426
@christian-bromann could you share your opinion?

[2019-03-20 18:58] njam opened #3744 "Allow to manually configure address+port for "devtools" service"
**Is your feature request related to a problem? Please describe.**
I was struggling to configure the correct DevTools address, when running chrome in a docker container, on a different IP than where I run the tests.

The auto detection in [`findCDPInterface()`](https://github.com/webdriverio/webdriverio/blob/b7ab39f46d896a6ac671080e11f420dd56ea08d2/packages/wdio-devtools-service/src/utils.js#L15)

[2019-03-20 19:01] njam commented on #3744
Here's a one-liner to start a docker container with chromedriver and chrome (and the [code repo with the Dockerfile](https://gitlab.com/denkmal/docker-chromedriver)):
[code]

[2019-03-20 22:44] kevinmcdonnell opened #3745 "Multiremote issue when calling async functions"
**Environment (please complete the following information):**
 - **WebdriverIO version:** v5.7.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync
 - **Node.js version:** v8
 - **NPM version:** v5.6.0
 - **Browser name and version:** chrome
 - **Platform name and version:** mac
 - **Additional wdio packages used (if applicable):**n/a

**Config of WebdriverIO**
[code]

**Describe th

[2019-03-21 00:56] nicholasbailey commented on #3407
I've got bandwidth to pick this up since it's on our internal roadmap anyway. One thought/concern though - this would give @wdio/runner/@wdio/cli/@wdio/config a hard dependency on Babel. This introduces a lot of really heavy dependencies and could lead to a lot of collisions with framework users' babel configs

[2019-03-21 01:15] WillBrock commented on #3407
I like just using this esm module instead of babel since the only reason people use babel is for `import` and `export` modules in the webdriverio code.

Maybe this could be implemented in wdio itself or just a suggestion to use to automatically compile the files.

https://www.npmjs.com/package/esm

[2019-03-21 09:04] christian-bromann commented on #3745
If you use sync mode don't use async await and instead use the call command to resolve promises of 3rd parties, e.g.
[code]

[2019-03-21 09:04] #3745 closed

[2019-03-21 09:19] aluedeke commented on #3721
@baruchvlz i guess the waitForReact method from TestCafe would be super useful as well. Not a selector, but not being able to do synchronise on this causes random test failures in my selenium tests.

[2019-03-21 09:40] christian-bromann commented on #3721
I would propose to create new selector commands similar we have for shadow DOM, e.g.

[code]

[2019-03-21 09:49] CrispusDH commented on #3721
I don't like this idea. In my opinion you should wait an element instead of waiting framework ready state. Users will not wait before some requests were finished or components will get some states, etc. I think we have to simulate user as much as we can, so for example "click" action should be done when element is clickable instead of adding some additional React waiter before clickable check.

[2019-03-21 10:06] christian-bromann commented on #3743
@rolandjitsu how do you run your tests, it seems you are running against a local driver and not SauceLabs. Looking at the config it seems that you have both in there:

[code]

You only need on of these, you either run the tests locally or on Sauce. As you can see in the logs in tries to access a local driver:

[code]

Maybe it couldn't propagate the sauce user name and access key into the config.

[2019-03-21 10:06] #3743 closed

[2019-03-21 10:12] baruchvlz commented on #3721
@CrispusDH The idea is to utilize the virtual dom to query for react components by their name. This is not possible unless React has rendered into the HTML node via `ReactDOM.render`, this function will attach the virtual dom to the given element and then the library gives the virtual dom instance for the root of the application [here](https://github.com/baruchvlz/resq/blob/master/src/waitToLoadRe

[2019-03-21 11:57] christian-bromann commented on #3426
My interest in this has increased due to the fact that I want to build a web socket on version for connecting with the browser. So it would be ideal to not only replace the request lib but also allow a different kind of connection.

[2019-03-21 16:06] sanyco92 opened #3747 "How can I run some part of code only once before all spec files?"
Hello guys. Need help. I have 2 spec files (2 test suites, but both files actually gathered into 1 test suite). I need to execute some actions only once before 2 specs, (e.g. run the mobile application and download all available files in the application), and then continue run test specs one by one. I tried to use 'before' hook, but unfortunately, it's being executed before each spec file. Is ther

[2019-03-21 16:39] meruga-java opened #3748 "multiremote fails when spec are given inside capabilities"
When `specs:[]` are distributed among capabilities in multiremote then webdriverIO crashes when either one of the capabilities finished running their `specs:[]`

Environment:
WebdriverIO Version: 4.14.1

my wdio.conf.js
=================================

 host:'127.0.0.1',
 port:4723,
 maxInstances:2,
  config.cucumberOpts= {
    require: [
      './test/support/common/step_definitions/*.js',

[2019-03-21 16:53] christian-bromann commented on #3748
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-03-21 16:53] #3748 closed

[2019-03-21 16:54] christian-bromann commented on #3747
Set `maxInstances: 1`

in future ... join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-03-21 16:54] #3747 closed

[2019-03-21 17:07] sanyco92 commented on #3747
I have this option in my config file, but it doesn't help.
I asked for help in gitter, but no one answered.
And I didn't open the issue, I selected option: "ask question" and it still not resolved. Could you open it please?

[2019-03-21 17:24] christian-bromann commented on #3747
please use the onPrepare hook if you only want to do things once, see also docs (https://webdriver.io/docs/configurationfile.html):

[code]

[2019-03-21 17:28] sanyco92 commented on #3747
Thanks for your answer, but I think it also will not help. I need to do actions in mobile application using browser variable, but in this hook I don't have access to it.

[2019-03-21 19:26] mgrybyk commented on #3747
@sanyco92 if you add your code to before block and only trigger it based on some condition, ex: some global.isSomethingDone?

[2019-03-21 19:27] mgrybyk commented on #3747
[code]

[2019-03-21 20:01] christian-bromann commented on #3747
@mgrybyk workers run in different processes so no chance to access a global variable between tests.

@sanyco92 please understand that it is impossible to answer your question given the details you have given. Usually all tests have to run independently from each other so having to do one thing that applies for all tests but only when all sessions have been established sounds like a bad way of test

[2019-03-21 21:14] rpii opened #3749 "OnScreenshot reporter fuction never called"
[config.txt](https://github.com/webdriverio/webdriverio/files/2993984/config.txt)

 I am evaluating webdriverio as a replacement for a large selenium java test suite.  We need a solid html report that can appear in Jenkins.  Seeing as wdio-html-format-reporter doesnt not work with webdriverio v5, I forked it and  ported it to 5.0
 See this at https://github.com/rpii/wdio-html-reporter.  When debug

[2019-03-21 21:18] kewgrz commented on #3725
@christian-bromann

I added the @wdio/eyes.webdriverio package and it still didn't work. Still getting the same errors.

"@wdio/applitools-service": "^5.7.2"
 "@wdio/eyes.webdriverio": "^2.0.5"

[chrome #0-0] 1) My Google Search should open the page
[chrome #0-0] This class does not implement methods!
[chrome #0-0] TypeError: This class does not implement methods!
[chrome #0-0]     at InvalidPosit

[2019-03-21 21:30] BorisOsipov commented on #3749
Hi @rpii

There is no particular `onScreenshot` event in v5.
If you want to intercept screenshots in your reporter you may do in `onAfterCommand` see example in
https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-allure-reporter/src/index.js#L121

[2019-03-21 21:30] #3749 closed

[2019-03-21 21:37] rpii commented on #3749
Boris,

So be it.  The onScreenshot overload in WDIOReporter should be removed as it makes one believe it is fired.

Rich

From: Boris Osipov <notifications@github.com>
Sent: Thursday, March 21, 2019 2:30 PM
To: webdriverio/webdriverio <webdriverio@noreply.github.com>
Cc: Peters, Richard <rpeter@sandia.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [webdriverio/webdriverio] OnS

[2019-03-21 22:31] rpii commented on #3749
for https://webdriver.io/docs/api/element/saveScreenshot.html

It seems that the screenshot filename in saveScreenshot(filename ) is not used then.  Probably should be removed.

[2019-03-21 22:44] christian-bromann commented on #3749
What onScreenshot overload do you mean?

I don't understand, what is where not used?

[2019-03-21 22:47] rpii commented on #3749
If the only way to save a screenshot is in the onAfterCommand() overload like Boris is showing, that command is a selenuim command and the filename is gone at that point and the data is base64.
The onScreenshot event is the one in WDIOReporter that is never called.

[2019-03-21 22:48] kewgrz commented on #3725
I think I see part of the problem. The browser.takeSnapshot doesn't take a string. Once I got rid of the string and the tests passed. It just didn't send the snapshots to my applitools account. Any idea why? I have my apikey set in my wdio.conf file.

[2019-03-21 23:03] christian-bromann commented on #3725
Sorry but the Applitools integration was pretty much just a POC. Unfortunately their webdriverio plugin still runs on v4. I don't have the capacity to work on this. Please help us to get a better integration running. Thanks!

[2019-03-22 00:42] jdavis61 opened #3751 "typescript compilation fails because of comma in setWindowSize defintion"
Commas are present in the setWindowSize typescript declaration (webdriverio-core-d.ts). I believe this is causing compilation to fail.

[code]

**Environment (please complete the following information):**
 - **WebdriverIO version:** [^5.7.0]
 - **Mode:** [Standalone mode]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [10.14.2]
 - **NPM version:** [6.4.1]
 - **Browse

[2019-03-22 01:45] UberMouse opened #3753 "@wdio/testingbot-service does not work"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.5
 - **Mode:** WDIO testrunner?
 - **If WDIO Testrunner, running sync/async:**: sync
 - **Node.js version:** 8.15.1 and 10.15.3
 - **NPM version:** 6.4.1
 - **Browser name and version:** Firefox 66
 - **Platform name and version:** Ubuntu 18.10
 - **Additional wdio packages used (if applicable):** @wdio/lo

[2019-03-22 06:43] rolandjitsu commented on #3743
@christian-bromann I don't think that having both services there was an issue as I get the same behavior if I remove the standalone selenium.

You can see the config in the repo, the username and access key are set from the env. I also tested locally where I'm sure I have them set. On top of that, it is able to setup the sauce connect tunnel, which means the credentials are there.

I'm not sure wh

[2019-03-22 07:34] rolandjitsu commented on #3743
I'm actually getting a different issue now after I removed 'selenium-standalone' from services and left just sauce (see [#509781847](https://travis-ci.org/react-dropzone/react-dropzone/builds/509781847)).

But what I don't really understand is why is it trying to connect to a local driver anyway? Or is it trying to establish a connection with SL through a local selenium server?

[2019-03-22 08:24] rolandjitsu commented on #3743
I'm starting to think this might be an issue with the testrunner or the sauce service.

[2019-03-22 09:42] rolandjitsu opened #3754 "Testrunner does not connect to proper SauceLabs url"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.2
 - **Mode:**  WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 8.15.1
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 73
 - **Platform name and version:** macOS 10.14
 - **Additional wdio packages used (if applicable):** @wdio/cli, @wdio/jasmi

[2019-03-22 09:43] rolandjitsu commented on #3743
Opened https://github.com/webdriverio/webdriverio/issues/3754 to illustrate the issue. Unless my config is wrong, there must be something wrong with the way the hostname is setup.

[2019-03-22 09:55] #3751 closed

[2019-03-22 09:58] christian-bromann commented on #3754
Connecting to `localhost:4445` is correct. Your problem is that you are using async/await not consequently, see:

[code]
should be
[code]

For exactly this reason WebdriverIO provides a complete synchronous test execution. I advise to use that instead of async/await.

[2019-03-22 09:58] #3754 closed

[2019-03-22 10:28] sanyco92 commented on #3747
@christian-bromann ok, I'll try to give more detailed info. I have a mobile application, which consists of ~6-7 different modules with some functionality. For each module, I'm developing some tests (it will be around 100 tests for each module) and these tests I'll store in spec file for each module. So, in the future, there will be ~7 spec files with ~100 tests in each. But, there's one more thing

[2019-03-22 10:34] rolandjitsu commented on #3754
That is not the problem, please see [88f44d5](https://app.saucelabs.com/tests/88f44d550a294930afcb2c7c62a021dc) test results. You will see that it actually never reaches the localhost server and the test fails.

If I run `remote({ user, key, ... })` myself, it works just fine and connects directly to saucelabs.

Please try the repo and hopefully you'll see that there is a problem that is not what

[2019-03-22 11:08] christian-bromann commented on #3754
The issue I outlined above was actually a problem in your code. Now you are describing a different problem. I am happy to fix issues when identified but I don't have the capabilities to find out problems for others. Sorry!

[2019-03-22 11:16] CrispusDH commented on #3747
@sanyco92 you can write script that will be do whatever you need. For example `before-tests-hook.js`. And add it to your `package.json` scripts like:
[code]
I think you got idea:
- create script
- run it when you want

[2019-03-22 12:10] baruchvlz commented on #3721
@aluedeke Sorry I had missed your comment. This is something that I thought about while building the library and right now it's a concern. The only reason we use `try/catch` is to wait for the App to load, everything else in the library is synchronous. With this said, I've thought about exposing the `waitToLoadReact` function which can be used inside the `beforeAll` hook like so:

[2019-03-22 12:21] baruchvlz commented on #3721
@aluedeke Sorry I had missed your comment. This is something that I thought about while building the library and right now it's a concern. The only reason we use `try/catch` is to wait for the App to load, everything else in the library is synchronous. With this said, I've thought about exposing the `waitToLoadReact` function which can be used inside the `beforeEach` hook like so:

[code]

What @c

[2019-03-22 13:19] sanyco92 commented on #3747
Think it can be the solution. Thanks!

[2019-03-22 14:17] miadzvedski-dzmitry opened #3755 "waitForDisplayed() don't work for IE11 browser"
**Environment:**
 - **WebdriverIO version:** [5.7.3]
 - **Mode:** [WDIO Testrunner]
 - **Node.js version:** [8.12.0]
 - **NPM version:** [6.4.1]
 - **Browser name and version:** [IE11]
 - **Platform name and version:** [Windows 8.1]

**Describe the bug**
When I try to use waitForDisplayed() function, it doesn't wait the timeout time I set, just wait around 10 seconds or less then failed with "Requ

[2019-03-22 14:36] lokeshJR commented on #3263
Hello,

How can I connect to RDC, if I want to execute my tests on Real Devices on Sauce Labs?

Thanks.

[2019-03-22 14:37] christian-bromann opened #3756 "Fail test if sauce service is used but no credentials are provided"
**Is your feature request related to a problem? Please describe.**
Currently if you have the sauce services defined within your config but don't provide any sauce credentials the testrunner will try to run against a local instance without letting anyone know why.

**Describe the solution you'd like**
I think it should be better propagated with at least a dominant warning that sauce service is used

[2019-03-22 14:38] christian-bromann opened #3757 "Use new "saucelabs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-03-22 14:40] christian-bromann commented on #3263
See #3757

[2019-03-22 14:41] christian-bromann commented on #3755
I don't think this is a problem with WebdriverIO. It seems that the element indeed can not be found after 10s.

[2019-03-22 14:41] #3755 closed

[2019-03-22 14:45] miadzvedski-dzmitry commented on #3755
@christian-bromann But why it waits only 10 seconds when i passed waitForDisplayed(30000). Other browsers wait 30000 in this case?

[2019-03-22 14:48] rpii commented on #3749
Christian,
After trying to implement the  onAfterCommand(command)  function as Boris mentioned,  I think that that is not the correct solution.  for two reasons:

1 a file is written by saveScreenshot, and that work has to be redone in onAfterCommand but we dont know what the desired filename was.

2.  Its a bit of a hack.  I need the cid, suite uid and test uid to properly correlate the screensho

[2019-03-22 15:51] christian-bromann commented on #3749
There is no such event.

That should be no problem to get ahold of. You are receiving these information in e.g. the beforeTest hook that will be executed before.

[2019-03-22 15:52] christian-bromann commented on #3755
@miadzvedski-dzmitry that is impossible to say without being able to see any logs 🤷‍♂️

[2019-03-22 16:31] wswebcreation commented on #3263
@lokeshJR

See https://github.com/webdriverio/appium-boilerplate#sauce-labs-real-device-cloud

It will do it automatically for you when you follow these steps / change the config

[2019-03-22 20:14] sskorol opened #3759 "Update @wdio/sync typings"
**Is your feature request related to a problem? Please describe.**
Recent `@wdio/sync` typings seem outdated. I was looking for [setWindowSize](https://github.com/webdriverio/webdriverio/blob/515d7551e35bc8a75945db619b06ed2229457fa9/packages/webdriverio/src/commands/browser/setWindowSize.js#L22) API. But it's missing in 5.7.3 version.

**Describe the solution you'd like**
I guess updating `sync` m

[2019-03-22 20:17] BorisOsipov commented on #3759
@christian-bromann @mgrybyk seems issue that lerna isn't able to recognize that `@wdio/sync` (which contains sync typings) have to published when `webdriverio` api has been changed

[2019-03-22 21:22] richsilv opened #3760 "WebdriverIOAsync findElement(s) signatures have WebdriverIO return types"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.5
 - **Mode:** Standalone

**Describe the bug**

The use of `WrapWithPromise` to generate `WebdriverIOAsync` types from `WebdriverIO` types means that the return types of most methods are correctly typed as Promises rather than the resolved types of those Promises.

However, in the case of `WebdriverIOAsyn

[2019-03-22 21:24] zw301 opened #3761 "setValue appends instead of overwriting the value in Chrome"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version: 5.7

[2019-03-22 21:26] WillBrock commented on #3759
@sskorol I think #3752 might fix your issue.

[2019-03-22 21:33] rpii commented on #3749
The documentation for WDIOReporter does show such an event, so it would need to be updated.
At https://webdriver.io/docs/customreporter.html.

[2019-03-23 02:08] rolandjitsu commented on #3754
I was describing the same problem, but in any case, I'm not sure why I get the 500. The only difference I see when using the test runner vs standalone is the POST for creating a session. When using the standalone remote, it creates a session directly with SL, but when using the test runner, it creates a session with localhost.

That's the issue I'm trying to describe. And the repo illustrates that

[2019-03-23 06:31] wswebcreation commented on #3754
Hi @rolandjitsu

I've checked your project and I see the following.

[code]

It looks like the tunnel is not working on Mac, but it works on the Windows VM's when the tunnel is started with WebdriverIO

When I start a manual tunnel manual I get the same issue on Mac and not on Windows. Please contact the Sauce Labs helpdesk for this.

To give you some feedback on your question. First of all thanks

[2019-03-23 11:01] sskorol commented on #3759
@WillBrock ok, let's wait for a new release, and I'll double check... thanks

[2019-03-23 13:52] wswebcreation commented on #3754
@rolandjitsu and @christian-bromann

This is a _mac issue_ not being able to connect to the localhost. If you use your internal ip address of the machine like this `http://123.456.789.01:3000/` everything will work. This could be a restriction in OSX that `localhost` always goes to the internal localhost.

[code]

[2019-03-23 13:57] rolandjitsu commented on #3754
@wswebcreation thanks for taking a look at this, I appreciate it. I wasn't actually aware that it was working on Windows but not macOS. I only tried to change the browsers.

I'm curious if Linux has the same issue.

So one would have to use some node ip lib to get the current ip address and set that in the config. As long as it works, it wouldn't be so bad. But I wonder if this is the way it is or

[2019-03-23 14:57] wswebcreation commented on #3754
Hi @rolandjitsu,

I checked with our support and it's a bug in our Mac machine's. If you use Mac 10.13 and below it will work.
So the workaround is to or use 10.13 or use the local up of the machine that hosts the site.

There's currently not yet an estimate when this will be fixed.

[2019-03-24 07:44] rdpanek commented on #3298
Hi @abjerstedt I still working on investigate this bug and in default terminal on OSX is working properly, but in iterm2 is stil output duplicated.

[2019-03-24 16:07] christian-bromann commented on #3761
This is a problem with Chromedriver and can't be fixed in WebdriverIO. Please report the problem in the Chromedriver project. Thanks!

[2019-03-24 16:07] #3761 closed

[2019-03-24 19:08] lo1tuma commented on #3264
I get the same issue with the latest webdriver version but using saucelabs instead of browserstack. For some devices I could fix this issue by using appium `1.9.1` but this appium version is not available for the iPhome 5 emulator on saucelabs, so I have to use appium `1.7.1`.
With webdriver 4.x it worked without problems.

[2019-03-25 08:28] michaelseno opened #3763 "webdriverio moveToObject()"
**Describe your question with as much detail as possible**
I am trying to simulate a `mouse over` on a bootstrap menu in a browser. the issue is that I'm not able to do a click command because the menu will only open if you hover the mouse pointer and when the time that you will try to click it. the menu disapear.

I can verify that the element is there because when using a click Command, it will

[2019-03-25 08:48] christian-bromann commented on #3763
Thanks for filing the issue. We are not maintaining v4 within this repository anymore. Please create an issue here: https://github.com/webdriverio-boneyard/v4. Thanks!

[2019-03-25 08:48] #3763 closed

[2019-03-25 08:54] christian-bromann commented on #3759
Closing this then

[2019-03-25 08:54] #3759 closed

[2019-03-25 09:13] #3753 closed

[2019-03-25 09:35] UberMouse opened #3765 "@wdio/testingbot-service fails to authenticate"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.5
 - **Mode:** WDIO testrunner?
 - **If WDIO Testrunner, running sync/async:**: sync
 - **Node.js version:** 8.15.1 and 10.15.3
 - **NPM version:** 6.4.1
 - **Browser name and version:** Firefox 66
 - **Platform name and version:** Ubuntu 18.10
 - **Additional wdio packages used (if applicable):** @wdio/lo

[2019-03-25 10:04] michaelseno commented on #3763
This is noted. Thank you very much. I've already created an issue in the link you provided.

[2019-03-25 10:09] christian-bromann commented on #3765
@UberMouse thanks for logging the issue. I am not a Testingbot user so if you are interested to get this bug fixed please provide a PR. Thanks!

[2019-03-25 12:22] #3765 closed

[2019-03-25 13:15] richsilv commented on #3760
Fixes in #3768

[2019-03-25 13:22] christian-bromann commented on #3760
Let's continue convo there.

[2019-03-25 13:22] #3760 closed

[2019-03-25 16:16] ScenK opened #3769 "Error types for "setWindowSize""
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version: 5.7

[2019-03-25 16:24] christian-bromann commented on #3769
I don't see any explanation of problem therefor closing!

[2019-03-25 16:24] #3769 closed

[2019-03-25 16:30] ScenK commented on #3769
Hi, @christian-bromann, sorry I didn't know what explanations you were looking for. I thought the description was clear enough.
Did you notice the "comma" before the "colon" which is not correct grammar?
It breaks the compile progress when using TypeScript in our project.

[2019-03-25 16:41] christian-bromann commented on #3769
Might making a PR?

[2019-03-25 16:45] WillBrock commented on #3769
@ScenK This should be fixed with #3752 in the next release.

[2019-03-25 17:18] christian-bromann commented on #3769
Once #3768 is approved I will cut a new release.

[2019-03-26 01:40] HTWTest opened #3771 "The Proxy setup document issue"
I work behind a corporate proxy and I followed the steps under https://webdriver.io/docs/proxy.html to enter the details in wdio.conf.js. However when I gave "http://coporate proxy", it threw an error:  ERROR @wdio/runner: invalid argument: httpProxy must not contain a scheme
When I changed it to use "corporate proxy" without the http:// , it went through fine.

[2019-03-26 09:04] christian-bromann commented on #3771
@HTWTest do you mind create a PR to fix the docs?

[2019-03-26 09:44] HTWTest commented on #3771
@christian-bromann  : Sure I will.

[2019-03-26 10:10] HTWTest commented on #3771
@christian-bromann  Raised the PR#3772  from @harithah

[2019-03-26 10:13] #3771 closed

[2019-03-26 15:37] ArunChockalingam opened #3774 "browser.switchToFrame throws Unsupported frame locator: java.util.HashMap"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-03-26 17:40] hborawski opened #3775 "junit-reporter causes process to fail when run against saucelabs"
**Environment (please complete the following information):**
 - WebdriverIO version: **5.7.6**
 - Mode:**WDIO Testrunner**
 - If WDIO Testrunner, running sync/async: **async**
 - Node.js version:**10.15**
 - NPM version:**6.4.1**
 - Browser name and version:**Firefox latest (65)**
 - Platform name and version:**macOS 10.13**
 - Additional wdio packages used (if applicable): **@wdio/junit-reporter

[2019-03-26 18:00] naddison commented on #3557
I'm taking a look at this... is it warranted if we drop the "multi" outputFileFormat option and just default to a single report? It would make life easier.

[2019-03-26 18:03] naddison commented on #3775
The issue with junit-reporter may be linked to https://github.com/webdriverio/webdriverio/issues/3557

[2019-03-26 18:14] hborawski commented on #3775
I think #3557 is specifically about `outputFileFormat` needing to be a function (as defined in the base reporter, vs the junit docs). That option is not exercised in this situation.

In this issue, the tests run successfully, but the report generation fails specifically with saucelabs. The example repository I provided runs successfully against a local version of selenium.

[2019-03-26 22:04] ArunChockalingam commented on #3774
We solved it by passing in the name attribute from the selector into the SwitchToFrame method. But passing the element does not work as indicated above

[2019-03-26 22:08] BorisOsipov commented on #3774
@ArunChockalingam could you point as where in docs
[code]

described as solution  to work with iframes?

[2019-03-26 22:10] BorisOsipov commented on #3774
btw I agree with @ArunChockalingam. `browser.switchToFrame()` wants

`
id | number, string, object, null | one of three possible types: null: this represents the top-level browsing context (i.e., not an iframe), a Number, representing the index of the window object corresponding to a frame, a string representing an element id. The element must be the frame or iframe to be selected
`

but I didn't

[2019-03-27 01:00] michaelseno commented on #3763
@christian-bromann I have an additional question. in version 5 of webdriverio, the moveToElement() will work as a mouse over? we are taking into consideration to move to version 5 if that works. since the moveToObject() in version 4 doesn't work somehow.

[2019-03-27 01:28] shashtrih commented on #3775
@naddison  also another issue which relevant to junit reporter where
outputFileFormat: function(opts) { // optional
                return `results-${opts.cid}.${opts.capabilities}.xml`
            }
where ${opts.capabilities} giving undefined value
is it we can look into it?

[2019-03-27 01:50] ArunChockalingam commented on #3774
@BorisOsipov we did `browser.switchToFrame( $('.active iframe').getAttribute('name'));` you could do the same to get id.

the docs as you pointed out and the gitter community seemed to expect the switchToFrame to accept iframes as input

[2019-03-27 02:17] naddison commented on #3557
I've realized that since reporters are initialized per instance, the `multi` property for outputFile does not work. Basically the fix for this is to update the documentation to drop the outputFile examples using `single` and `multi`.

To generate a single junit report we will have to come up with something that on `after` event/hook will combine existing reports. Some form of plugin.

[2019-03-27 02:24] naddison commented on #3775
Can you elaborate? Are your files being named with `undefined` in them?

[2019-03-27 08:42] christian-bromann commented on #3774
This command is a protocol command so it expects an element id which can be received by doing `$('.active iframe').elementId`.. I can see value having a command that also accepts an element object (similar to `switchWindow`). However I don't see a bug here. We no where state that:
[code]
is the way to switch to a frame. Closing.

[2019-03-27 08:42] #3774 closed

[2019-03-27 08:43] christian-bromann commented on #3763
If you use Firefox this command also won't work in v5 but you can use the actions command in v5 do automate hover effects.

[2019-03-27 08:45] michaelseno commented on #3763
how about chrome. will action commands work in v5 for chrome as well?

[2019-03-27 08:50] christian-bromann commented on #3763
no, actions doesn't work in Chrome yet

[2019-03-27 10:28] michaelseno commented on #3763
ok thanks for the info. I'll check on firefox actions

[2019-03-27 13:36] balukov commented on #3388
I has this type of problem:
my test -
[code]
If test fail after expect I see the screenshot after do2.
This is bad because app has not actual state.
How can I has screenshot right after expect or other falling step?
Unfortunately "expect" is not wdio command and I can't do `browser.takeScreenshot()` in `afterCommand` hook.
This issue solve my problem or I should create new?
Maybe hook `afterTest`

[2019-03-27 17:45] barnc commented on #3775
I am getting this same error with IE11 running against saucelabs, browserstack and testingbot.

[2019-03-27 17:53] naddison commented on #3775
If you look at my comments on https://github.com/webdriverio/webdriverio/issues/3557 you will see that due to refactoring done in v4 -> v5 you no longer can use the "single/multi" functionality of the reporter. The property `outputFileFormat`  must only be a single function.

You can combine them in an onComplete() or after() hook using a library, or your own code.

[2019-03-27 18:12] shashtrih commented on #3775
@naddison I was generated xml but file name showing as “results-0-0.undefined.xml” so ${opts.capabilities} return undefined value ... is it we can get browsername and platform name in outputFileFormat
Another issue we are seeing test are passed through spec reporter but junit reporter getting get/session/xxx/log/types not command due to that whole test suites get failed

[2019-03-27 18:29] naddison opened #3780 "Should reporters be instantiated as services?"
With the v5 refactor, reporters are now initialized per instance (runner) and only generate reports for the spec file(s) that are run on that instance.

Take junit-reporter for example. Given a run of 10 spec files, I will have 10 separate xml results files. I can combine these after the fact, but it would be nice to have access to all the results inside the reporter.

Would it make sense to conve

[2019-03-27 22:26] osmolyar commented on #2753
This works in webdriver I believe, but not in webdriverio. E.g., this works in Webdriver

SingletonInstancesRepo.getCurrentWebDriver().switchTo().frame(element);

where element is the embed element in the svg frame. Elements inside the frame are then subsequently found.   But browser.frame(element) to the same embed element still doesn't allow child elements to be subsequently found.

[2019-03-28 05:30] UsharaniA commented on #3131
@SeanHayes
Is this issue fixed , am  trying to download a file in headless mode  and this is my setup

const wdioConfig = require('./wdio.conf.js');

wdioConfig.config.capabilities = [{
    //maxInstances: 1,
        browserName: 'chrome',
        chromedriverVersion: '2.43',
        chromeOptions: {

            args: ['--headless', '--disable-gpu', '--window-size=1366,768'],
            prefs: {

[2019-03-28 05:32] UsharaniA commented on #3131
I tired the above piece of code and the files are not donloading ,pls help

[2019-03-28 06:55] wluu commented on #2542
I'm not too sure if this issue is still relevant anymore because I've just created a POC for work after going through https://webdriver.io/docs/gettingstarted.html, https://webdriver.io/docs/setuptypes.html, and the other docs. And I thought they made it pretty clear between standalone mode vs testrunner and async vs sync option.

[2019-03-28 07:04] ttwu2019 opened #3783 "Parameter incorrect:driver.background(duration)"
**Environment:**
 - **WebdriverIO version:5.7.2**
 - **Mode:WDIO Testrunner**
 - **If WDIO Testrunner, running sync/async:sync**
 - **Node.js version:8.11.0**
 - **NPM version:6.6.0**
 - **Platform name and version:IOS10.3.2**
 - **Additional wdio packages used (if applicable):@wdio/spec_reporter**

**Describe the bug**
About [driver.background()](https://webdriver.io/docs/api/appium.html#backgrou

[2019-03-28 08:24] christian-bromann commented on #2753
WebdriverIO provides bare protocol commands that should allow any interaction with the protocol. So it also works with WebdriverIO.

[2019-03-28 08:27] christian-bromann commented on #2542
This is the confirmation I needed, thanks @wluu

[2019-03-28 09:32] christian-bromann commented on #3780
No, but you are right, we should allow reporters to have an onPrepare and onComplete step.

[2019-03-28 09:36] michaelseno commented on #2478
@SassNinja Hi, I would like to ask on how did you use the execute command to simulate a mouse hover event? I am somehow having difficulties since `moveToObject()` is not simulating a hover event in chrome. (i'm using version 4 of webdriverio) maybe the execute command will work as well. Thanks in advance.

[2019-03-28 11:45] #3783 closed

[2019-03-28 13:18] SassNinja commented on #2478
Hi @michaelseno

I've simply triggered a mouseover event on the target element to emulate a mouse over. Of course this only triggers JavaScript listeners and no CSS (afaik there are also ways for CSS but with bad performance – I haven't used this yet)

That's how your execute should look

[code]

[2019-03-28 13:28] osmolyar commented on #2753
Hi @christian-bromann , are you referring to the commands described here, https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol ?

If so, it looks like browser.frame(element) is still the relevant one, but in fact WebdriverIO is still unable to find the child elements after switching to the embed frame.

If not, could you please point me to the corresponding command?

[2019-03-28 14:31] naddison commented on #3780
Where they are instantiated now they cannot support an onComplete step. Their "life" ends when the runner completes after the onRunnerEnd event is fired.

And if we send all test events down to each runner, you now have multiple reporters trying to do the same thing on the same files.

[2019-03-28 14:38] osmolyar commented on #2753
Couple more findings:

- Inside the embed element (which is the only other Frame other than 'top' according to Chrome's console), there is an <svg> element.
- This is the last element that can be located using xpath Chrome's console, with Frame=the embed element.  No other child elements inside it are returned by the console
- However css selectors *can* be used to locate elements inside the svg u

[2019-03-28 15:10] naddison commented on #3557
I've submitted a PR updating the documentation reflecting my comments above. The further question of "how do I aggregate my test results in the reporter" is a larger discussion.

[2019-03-28 18:28] SeanHayes commented on #3131
I never got it working.

[2019-03-28 21:32] osmolyar commented on #2753
Also the above error occurs on Chrome, but on Firefox the error when attempting to click on the child element is

[firefox #0-0] Promise was rejected with the following reason: TypeError: container.frame is undefined
Build info: version: '3.141.0', revision: '2ecb7d9a', time: '2018-10-31T20:22:52'
System info: host: 'USP5520OSMOLYAR', ip: '172.16.14.18', os.name: 'Windows 10', os.arch: 'amd64', os

[2019-03-28 21:33] christian-bromann commented on #3693
We merged that service, great work by @MortenGregersen

[2019-03-28 21:33] #3693 closed

[2019-03-28 23:45] christian-bromann opened #3790 "Download Readme.md from 3rd party plugins when generating website"
**Is your feature request related to a problem? Please describe.**
All 3rd party services and reporters should be also highlighted in the docs. Therefor we should download the readme and generate the docs page for them.

[2019-03-29 02:02] michaelseno commented on #2478
Hi @SassNinja

Thank you very much. I was able to make it work using jQuery syntax. Thanks for the explanation and code snippet

[2019-03-29 15:34] osmolyar commented on #2753
Also, an attempt to switch to browse.frame(1) yields the following error.  Even though chrome browser shows 2 frames on the page, the top frame and the embed frame.  Based on the above error "container.frame is undefined" and this one, it seems like Webdriverio doesn't recognize the svg embed frame.   But Webdriver apparently does.

Unable to locate frame: 1
Build info: version: '3.141.0', revisio

[2019-03-29 15:46] christian-bromann commented on #2753
Again WebdriverIO doesn't do anything here other than sending the command to the driver. If the driver doesn't work properly there is nothing WebdriverIO can do about it.

[2019-03-29 15:59] osmolyar commented on #2753
Somehow webdriver is able to do it with this sequence of commands:

try {
            org.openqa.selenium.WebElement element=elem.toWebElement();
            SingletonInstancesRepo.getCurrentWebDriver().switchTo().frame(element);
        } catch (Exception ex) {
            SingletonInstancesRepo.getAqLogUtils().error("Error Occured while trying to switch to embed: "+ex.getLocalizedMessage());

[2019-03-30 00:10] sgarine-pk commented on #3167
Thank you will. you made my day

[2019-03-30 21:27] mgrybyk opened #3796 "execute and call typings have invalid return type in WebdriverIOAsync"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.8
 - **If WDIO Testrunner, running sync/async:** async

**Describe the bug**
Execute and Call typings have invalid return type after wrapping with Promise, instead of generic T it is {}

**To Reproduce**
There is a test for it already
https://github.com/webdriverio/webdriverio/blob/master/tests/typings/web

[2019-04-01 11:17] christian-bromann commented on #2753
I am not sure what this code is doing but you are able to do the exact thing with WebdriverIO too. WebdriverIO allows you to make any kind of request that any other Selenium binding could do.

[2019-04-01 12:51] osmolyar commented on #2753
Would it be possible to humor me and say how?  Are you suggesting using something other than browser.frame() to switch frames?

[2019-04-01 12:52] christian-bromann commented on #2753
Check the requests that are being made with the Java binding and run them with WebdriverIO.

[2019-04-01 17:43] brochetteoptel opened #3798 "Typing problems"
1. Is it normal that in JavaScript browserObject.waituntil returns a boolean and that in TypeScript it returns a promise-void?

2. Can waitUntil accept a () => Promise-Boolean in condition parameter?

3. On the same idea in javascript the $ selector may return the element or an Object with an .error but in TypeScript it says 'error' does not exist on type Element

[2019-04-01 18:03] christian-bromann commented on #3798
@brochetteoptel can you please provide some screenshots with the exact issues you see?

[2019-04-01 18:56] brochetteoptel commented on #3798
1. In javascript I could do this and "ele" was true if it was found and displayed<br>
![image](https://user-images.githubusercontent.com/46902576/55351270-dc9d6280-548b-11e9-9ccf-568104f0b0d9.png)<br>
but the typing in typescript don't let me do it, it says return void <br>
![image](https://user-images.githubusercontent.com/46902576/55351365-1ff7d100-548c-11e9-8111-cf8021c8e104.png)

2. Let say I

[2019-04-01 19:19] christian-bromann commented on #3798
@brochetteoptel why aren't you using `browser.waitForDisplayed()`?

[2019-04-01 19:55] CrispusDH commented on #3798
@brochetteoptel when you want to insert code just use
![image](https://user-images.githubusercontent.com/12623263/55355498-22304e80-54d1-11e9-888d-b9e99f741605.png)
it is much more better than screenshots with code :)

[2019-04-01 20:04] christian-bromann commented on #3798
@CrispusDH do his defense I was asking for screenshot 🤷‍♂️

![Screenshot 2019-04-01 at 22 04 23](https://user-images.githubusercontent.com/731337/55356036-2dcc4700-54ca-11e9-82b2-3450e8d3e9be.png)

[2019-04-01 20:28] systembugtj opened #3799 "sample code is inconsistent in doc for getSize"
**Pre-check**
- [X] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**
![getElementSize should be getSize](https://user-images.githubusercontent.com/777576/55357441-dc986500-5481-11e9-81c9-95ab889cc26a.png)

I'd like to report
- [ ] Unclear documentation
- [X] A typo
- [ ] Missing docu

[2019-04-01 20:32] christian-bromann commented on #3799
I don't know how you expect anyone to understand what you want to say with this issue post.

[2019-04-01 20:32] #3799 closed

[2019-04-01 20:35] christian-bromann commented on #3799
Next time just write what you expect to see and what you are actually seeing or even better propose a PR.

[2019-04-01 20:42] brochetteoptel commented on #3798
@christian-bromann `brower.waitForDisplayed()` does not exist... but `element.waitForDisplayed()` fixed my issue thanks 😉

When I was exploring with webdriverio `waitForDisplayed()` seem not to work fine for me but the problem was probably on my side. 🤷‍♂️

But still, shouldn't the code behave the same in js and ts?

@CrispusDH thanks still getting use to github

[2019-04-01 20:50] christian-bromann commented on #3798
Yes. ts is just a different way to write js.

[2019-04-01 20:50] #3798 closed

[2019-04-01 22:37] GineaPig opened #3800 "Microsoft Edge browser cannot be started using Microsoft Edge driver."
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 5.7.0]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [e.g. sync]
 - **Browser name and version:** [e.g. Microsoft Edge 41.16299.1004.0, Microsoft EdgeHTML 16.16299]
 - **Platform name and version:** [e.g. Windows 10]
 - **Additional wdio packages used (if applicable):** [e

[2019-04-01 22:50] christian-bromann commented on #3800
Join our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue of WebdriverIO and rather a configuration issue.

[2019-04-01 22:50] #3800 closed

[2019-04-01 23:40] GineaPig commented on #3800
It worked before but recently it doesn't work.

[2019-04-02 00:42] GineaPig opened #3802 "browser.maximizeWindow() doesn't work for Microsoft Edge browser."
**Environment** (please complete the following information):

WebdriverIO version: [e.g. 5.7.0]
Mode: [WDIO Testrunner]
If WDIO Testrunner, running sync/async: [e.g. sync]
Browser name and version: [e.g. Microsoft Edge 41.16299.1004.0, Microsoft EdgeHTML 16.16299]
Platform name and version: [e.g. Windows 10]
Additional wdio packages used (if applicable): [e.g. @wdio/spec reporter, @wdio/selenium-s

[2019-04-02 00:45] srajagopalan1712 commented on #1025
If I have some tests to run in headless mode (api tests) and some in UI mode I would like to pass capabilities args as args: ['--headless']. Is this how that will work with the env variable?

args: process.env.args,
and cli will be $npm test args=['--headless']
?

[2019-04-02 04:13] diachedelic commented on #2669
For those not using the cucumber framework, you can use this hook:

[code]

[2019-04-02 07:02] locddspkt commented on #1957
I've justed tried this but it didn't work.

I tried with array instead:
capabilities.chromeOptions.prefs['download.default_directory'] = '/path/to/my/folder';

It works

[2019-04-02 07:57] christian-bromann commented on #3800
@GineaPig unfortunately all the information you have provided don't help anyone to give you any clue. Please check that you have the correct version of the driver installed (32 v2 64bit) or provide at least a reproducible example on Travis or something like this.

[2019-04-02 07:59] christian-bromann commented on #3802
Please make sure you are using the latest version of [MS Edgedriver](https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/).
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-04-02 07:59] #3802 closed

[2019-04-02 09:36] aish-blr opened #3803 "How can i switch to iframe"
The application i am testing has an iframe and button inside the iframe
<iframe id="storybook-preview-iframe" title="main" src="iframe.html?id=undefined" allowfullscreen=""></iframe>

I am not able to interact with the button directly. So I wanted to switch to the inframe first. To do it
I used the code
 browser.switchToFrame('storybook-preview-iframe')
I am seeing error  browser.switchToFrame() i

[2019-04-02 11:14] christian-bromann commented on #3803
The id (as property) is not supported in the latest spec anymore. Use `browser.switchToFrame($('#storybook-preview-iframe').elementId)`.

[2019-04-02 11:14] #3803 closed

[2019-04-02 13:15] jsbm opened #3805 "Docs: v4 Protocols alertAccept is Forbidden"
I'd like to report
- Missing documentation

**Description of the improvement / report**
the page for v4 Protocols alertAccept is Forbidden

http://v4.webdriver.io/api/protocol/alertAccept.html

[2019-04-02 13:56] christian-bromann commented on #3805
Thanks for reporting. We are aware that some pages in the v4 docs are corrupted and we are working on getting this fixed. However we recommend to move to v5 as we deprecate v4 at some point.

[2019-04-02 13:56] #3805 closed

[2019-04-02 14:16] rajatsm commented on #3803
I tried using the above solution.
browser.switchToFrame($('#storybook-preview-iframe').elementId).
It didn't worked. Still i am seeing error browser.switchToFrame() is not a function.
can you please let me know what version i should use to make it work ?

[2019-04-02 14:28] christian-bromann commented on #3803
This function should be available to all browser:

https://webdriver.io/docs/api/jsonwp.html#switchtoframe
https://webdriver.io/docs/api/webdriver.html#switchtoframe

You need to provide more info!

[2019-04-02 14:58] christian-bromann commented on #3803
And exact this information is missing. For v4 please check the corresponding docs: http://v4.webdriver.io/api/protocol/frame.html

[2019-04-02 15:31] mgpsp commented on #2825
I'm also facing the same problem. Will this be implemented anytime soon?

[2019-04-02 15:55] christian-bromann commented on #2825
Please see the `help wanted` label 😉

[2019-04-02 17:05] raulcabero opened #3806 "how can I add many attachments to a step into Allure repor?"
Hello I want to add two attachments to a step in allure, basically I want to attach in a failed step an error message and the screenshot, If I create a step for each one it works like this:
[code]
but I would like to have only one step with the two attachments I tried this but it did not work the result has none attahcment:

     addStep(title, [
        {
            content : content,

[2019-04-02 18:01] christian-bromann commented on #3806
@BorisOsipov ?

[2019-04-02 18:07] BorisOsipov commented on #3806
Hi @raulcabero

Currently nohow

If you confused by docs

`[]` here means this options is optional, not array of params.

We should think about such API - add way to add several attachements to step.

If everyone wants to make such changes, feel free to make PR.

[2019-04-02 18:09] raulcabero commented on #3806
Hi @BorisOsipov , ok thanks for the help.

[2019-04-02 18:14] BorisOsipov commented on #3806
@raulcabero Thanks for feedback :)
also you can use add `addAttachment(name, content, [type])`. It will add attach to test, but  I think it is good workaround.

[2019-04-02 21:43] hankbot opened #3807 "Webdriver interprets succesful WinAppDriver element click responses as failures"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.8
 - **Mode:** Both
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 8.15.11
 - **NPM version:** 6.4.1
 - **Browser name and version:** WinAppDriver
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** n/a

**Config of WebdriverIO**
[

[2019-04-03 06:36] diachedelic commented on #3479
I am also seeing this issue, my workaround is to duplicate code everywhere instead of using custom commands :(

[2019-04-03 08:32] christian-bromann commented on #3807
see response in #3809

[2019-04-03 08:32] #3807 closed

[2019-04-03 14:38] rajatsm commented on #3803
I checked with v4 it worked perfectly.
I tried updating my webdriverio to the latest version i.e : 5.7.8.
Even after that i am getting the same error message.
Do i need to update anything else ? what am i missing ...
Please find the versions which i am using ..
    "chai": "^4.2.0",
    "chai-webdriverio": "^0.4.3",
    "geckodriver": "^1.14.1",
    "html-dnd": "^1.2.0",
    "selenium-webdriver":

[2019-04-03 14:54] FelixZilber opened #3810 "incorrect type definition for getAlertText"
in webdriver.d.ts return statement of getAlertText() is void while should be string

[2019-04-03 15:39] christian-bromann commented on #3803
Remove this dependency, it is not part of WebdriverIO

[2019-04-03 15:39] christian-bromann commented on #3810
@FelixZilber mind making a PR?

[2019-04-03 16:58] #3810 closed

[2019-04-03 19:15] HarvWorks opened #3813 "Issue with multiple android devices with Appium"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 8.15.0
 - **NPM version:** 6.9.0
 - **Appium version:** 1.12.1

**Config of WebdriverIO**
[code]

**Describe the bug**
When I have two physical android devices attached to my computer, no matter what

[2019-04-03 19:29] christian-bromann commented on #3813
You have to set capabilities as list, not object (this would be multiremote tests). Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. I've seen you posting it there however this is not necessary an issue and we like to have such

[2019-04-03 19:29] #3813 closed

[2019-04-03 19:56] HarvWorks commented on #3813
First of all I do want multiremote, I am testing out some calling, chat features, and other realtime features.  Second this is definitely a bug, I want to be able to interact with both devices at the same time.  And third, isn't rather rude to just close this without a simple test?

[2019-04-03 20:09] christian-bromann commented on #3813
Ok, no problem. Just wanted to make sure because people get this wrong.

Agree, question is: connected to which part of the tool chain

Please explain me how anyone is suppose to test this. I neither have two Android devices nor a test script I can run. This is impossible to debug for me. The logs seem to look fine. If you can provide a minimal reproducible example that I can run on my end I am ha

[2019-04-04 00:12] diachedelic commented on #3479
I tried to follow @GHanehoj 's instructions to reproduce, but cannot.  It now seems to be errors thrown from within `waitUntil` that are escaping `try...catch` blocks, I will create a new issue if I can reproduce.

[2019-04-04 01:00] diachedelic opened #3815 "Certain errors thrown from within `waitUntil` cannot be caught"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.8
 - **Mode:** WDIO testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 8.12.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** 73.0.3683.86 (Official Build) (64-bit)
 - **Platform name and version:** MacOS 10.14.3
 - **Additional wdio packages used (if applicab

[2019-04-04 01:15] diachedelic commented on #3815
My workaround, if anyone is interested, it to swallow the error inside `waitUntil`, and let `waitUntil` throw a timeout error.

[code]

[2019-04-04 01:16] diachedelic commented on #3815
Turns out this also affects custom commands, using `addCommand`, see repro for example:

[code]

Error is not swallowed.

[2019-04-04 01:20] diachedelic commented on #3815
Timeout errors also escape custom commands:

[code]

[2019-04-04 06:25] aminerouh commented on #3324
Hi @fkleuver  I'm still facing the same issue, any update regarding that ?

[2019-04-04 08:43] christian-bromann commented on #3815
Fixed in #3816

[2019-04-04 08:43] #3815 closed

[2019-04-04 11:27] Antonius-S commented on #3803
There's something confusing here. I have WD 5.7.8 with Firefox refused to operate on a frame by name though Chrome allowed this. Contrary to WD docs, I got things working only when I passed the frame object itself as function parameter. `elementId` was refused by driver.
[code]
[W3C specs](https://w3c.github.io/webdriver/#dfn-switch-to-frame) clearly say id must be null, number or frame object its

[2019-04-04 12:16] christian-bromann commented on #3466
This should be fixed now with the rewritten interface.

[2019-04-04 12:16] #3466 closed

[2019-04-04 12:17] christian-bromann commented on #3542
With the rewritten interface it won't clear the terminal anymore.

[2019-04-04 12:17] #3542 closed

[2019-04-04 12:18] christian-bromann commented on #3416
I think this is fixed now by #3669

[2019-04-04 12:18] #3416 closed

[2019-04-04 12:19] christian-bromann commented on #2406
Given that I haven't heard about this problem anymore I will go ahead and close this.

[2019-04-04 12:19] #2406 closed

[2019-04-04 12:22] christian-bromann commented on #3107
Please file an issue in https://github.com/webdriverio-boneyard/v4 .. I don't see how this is related to v5

[2019-04-04 12:22] #3107 closed

[2019-04-04 12:28] christian-bromann commented on #3212
As we are using Chalk the color support is not up to WebdriverIO. Looking into the Travis CI build I also see Jest running without colors. Closing as I don't see anything we can fix here.

[2019-04-04 12:32] xlenz commented on #3806
@BorisOsipov @raulcabero it works for me

code
[code]

![image](https://user-images.githubusercontent.com/3816609/55555809-63e61280-56e6-11e9-840f-bf8d5962b807.png)

[2019-04-04 12:32] xlenz commented on #3806
one problem is that it seems to be a bit broken, I'll test with latest code and if it is, I'll raise PR.

[2019-04-04 18:33] HarvWorks commented on #3813
Actually this bug also affects emulator and if you can provide me a link to a good apk to test, I can write you a test case.

[2019-04-04 19:44] HarvWorks commented on #3813
So it seems like the issue is that for some reason webdriver.io is not using the ports provided in the `wdio.conf.js`,  and instead is using port 8202.

[code]
and
[code]

Also if you check the androidId, both of them are the same device.

And if you check appium's docs for parallel testing: [site](http://appium.io/docs/en/advanced-concepts/parallel-tests/), you would see that for appium-uiautomat

[2019-04-04 20:23] thelgevold opened #3820 "npm vulnerability from outdated version of js-yaml"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-04-04 20:51] HarvWorks commented on #3813
Actually after some digging the issue seems to be related to the fact that `UiAutomator2` is being forwarded to the same port when the apps are first loaded onto the device using appium create session.  A simple fix maybe wait until the first device is finished loading before starting the second app.

[2019-04-04 21:06] HarvWorks commented on #3813
Actually you don't even need a test case to see this problem, you just need to initialize the 2 devices and you quickly see that both of the devices are sharing the same forwarded port.

[code]

and

[code]

[2019-04-04 21:30] HarvWorks commented on #3813
So I made a hack for this problem:

In `webdriverio/build/index` I added a wait function to line 84 inside the `multiremote` function.

[2019-04-04 22:50] diachedelic commented on #3815
I can confirm this is fixed in v5.7.9, thanks for the quick response!

[2019-04-05 12:31] baruchvlz commented on #3820
[None](https://github.com/webdriverio/webdriverio/search?q=js-yaml&type=Code) of the WDIO packages use `js-yaml` as a dependency. This might be coming from another package outside of this library.

[2019-04-05 12:53] thelgevold commented on #3820
Ah Ok. Probably just have to upgrade one the WDIO dependencies dependencies then.
Running `npm ls js-yaml` should reveal which one.

[2019-04-05 12:59] christian-bromann commented on #3820
`js-yaml` is used by Mocha and they have fixed it already but haven't released it yet.

[2019-04-05 14:03] savsav commented on #1552
The best solution is to use the [BrowserStack REST API](https://www.browserstack.com/automate/rest-api) - the `Update the name of the test` section.

If you have `browser.reload()` it is good to have it executed from the second test onwards - the first test starts a new session anyway so no need to additionally reload it. You can set a global variable - `global.firstTestFinished = true;`. Then bas

[2019-04-05 17:00] Sourabhmochagit commented on #3517
Hi Do we have similar feature for mocha-allure-reporter (logging messages from before and after hooks)

[2019-04-05 18:49] mo commented on #3542
Thank you for fixing this @christian-bromann

[2019-04-05 23:29] wluu opened #3823 "If I use "xit" in my spec, then lines from "wdio-sync/src/index.js" are being printed"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.2
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 73
 - **Platform name and version:** macOS 10.14.3
 - **Additional wdio packages used (if applicable):**
@wdio/allure-reporter

[2019-04-06 22:35] diachedelic commented on #1803
Now `wdio-devtools-service` is defunct, is there better good way to go about throttling Chrome?  I'm trying to use [`browser.setNetworkConditions`](https://webdriver.io/docs/api/chromium.html#setnetworkconditions) but it's prevent pages from loading in Chrome, regardless of params passed.

[2019-04-06 23:00] diachedelic commented on #1803
My bad, I was passing kbps instead of bps in the parameters, correct units are like:

[code]

[2019-04-07 19:44] jorydotcom opened #3824 "Elect / Nominate representative(s) to the OpenJS Foundation CPC "
## Context
As part of the new [OpenJS Foundation's bylaws](https://github.com/openjs-foundation/bootstrap/blob/master/artifacts/OpenJS-Foundation-Initial-Merged-Bylaws.pdf), the Cross Project Council (CPC) has been [chartered](https://github.com/openjs-foundation/bootstrap/tree/master/proposals/stage-2/CPC_CHARTER) to serve as the primary governing body for programs and regular support of Foundati

[2019-04-08 08:24] #3806 closed

[2019-04-08 14:02] christian-bromann commented on #3824
Hey Jory,

thanks for reaching out. The WebdriverIO projects elects the TSC (technical steering committee) members to represent the project in the CPC. The members are:

- @abjerstedt
- @WillBrock
- me (@christian-bromann)

We are all in contact on the TSC Gitter channel for this project and will collaborate with each other to ensure to have at least 2 members in the meetings. As you know I will a

[2019-04-08 14:02] #3824 closed

[2019-04-08 14:39] jorydotcom commented on #3824
you're the best, thanks @christian-bromann!! (and nice to meet you @abjerstedt & @WillBrock !!)

[2019-04-08 22:08] SubJunk commented on #2307
`waitForNotExist` is the most intuitive. I think a lot of us have probably tried to use that or looked for it, and then been surprised when it didn't work.

[2019-04-08 22:35] klamping opened #3826 "Logs not outputting in real-time + duplication at end"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.10
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v8.11.3
 - **NPM version:** 6.8.0
 - **Browser name and version:** Chrome 73.0.3683.86/Firefox 65.0.1
 - **Platform name and version:** OSX 10.13.6
 - **Additional wdio packages used (if applicable):**
[c

[2019-04-09 06:33] christian-bromann commented on #2307
What would you guys think of having a syntax being like:
[code]
?

[2019-04-09 06:41] mgrybyk commented on #2307
.not stands for inverting waitFor* behavior? Will we wait for still work in old way?

As a temporary solution users who need this function can just definite custom command

[2019-04-09 06:43] christian-bromann commented on #2307
Yes. As oppose to e.g. `waitForNotExist` or `waitForNotDisplayed`

What do you mean?

[2019-04-09 06:48] mgrybyk commented on #2307
I mean keep ability to pass true/false as a parameter

[2019-04-09 07:58] christian-bromann commented on #2307
Yeah, we would keep this.

[2019-04-09 11:17] balukov opened #3827 "Screenshot is created too late"
I has this type of problem:
[code]
If test fail after expect(smth) I see the screenshot after do2.
This is bad because app has not actual state.
How can I has screenshot right after expect or other falling step?
Unfortunately "expect" is not wdio command and I can't do `browser.takeScreenshot()` in `afterCommand` hook.
Maybe hook `afterTest` should works before `afterEach`?

[2019-04-09 11:44] logakarthi opened #3829 "Unable to enter the text using "setValue" command in iOS"
Unable to enter the text using "setValue" command in iOS simulator. Some time values are entered in the text fields but texts are invisible

I tried with many solutions, enter the text using the below commands but no luck.

SetValue, addValue, elementIdElement

browser.setValue(selector, value)
browser.addValue(selector, value)
browser.elementIdElement(selector, value);

**Environment (please comp

[2019-04-09 12:32] abjerstedt commented on #2307
Grammar wise it doesn't work. We would need to break it up to be something like
.waitFor.not.displayed().

[2019-04-09 12:44] christian-bromann commented on #2307
@jedwards1211 @chrishyle @MattyBalaam comments?

[2019-04-09 12:45] christian-bromann commented on #3829
@logakarthi without logs or a reproducible we are not able to help here, sorry!

[2019-04-09 12:49] christian-bromann commented on #3827
You can!

The afterTest hook is executed before the afterEach hook in the test. So I don't see a reason why this shouldn't work.

[2019-04-09 12:49] #3827 closed

[2019-04-09 14:03] lucialuzuriaga opened #3830 "App closes immediately when trying to run tests on iOS Simulator"
I am constantly getting an ECONNREFUSED error when trying to run my tests on an iOS simulator .I reached a point in which, by the second WDA attempt, I wasn't getting the econnrefused error message, but the session was nevertheless interrupted/stopped immediately after launching the app.

I have tried everything, including:
- Different iOS versions and device models
- Erasing content and settings,

[2019-04-09 15:02] christian-bromann commented on #3830
The logs look ok to me too .. I am not sure how to help you further

[2019-04-09 15:04] christian-bromann commented on #3830
@wswebcreation is the current boilerplate build broken?

[2019-04-09 18:08] ArthurGIT2017 commented on #3024
Please be aware that blur event handlers running on the page restoring the contents after ChromeDriver has cleared it, so that will explain why you may see appending a new value to the old one. Please make sure if the web page you are using in your code has blur event handler.

Clear command in ChromeDriver 2.43 and above has been updated to conform to the new W3C WebDriver specification, so step

[2019-04-09 20:14] CrispusDH opened #3831 "$ and $$ is not defined if I use webdriverio with different test runner"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.7.9]
 - **Mode:** [Standalone mode]
 - **running sync/async:** [async]
 - **Node.js version:** [e.g. 11.7.0]
 - **NPM version:** [e.g. 6.9.0]
 - **Browser name and version:** [Chrome 74]
 - **Platform name and version:** [MacOS]

**Describe the bug**
I see an error `$$ is not defined` or `$ is not defined`

[2019-04-09 20:16] christian-bromann commented on #3831
@CrispusDH the globals are only populated using the wdio testrunner. The [docs](https://webdriver.io/docs/api/browser/$.html) say:

[2019-04-09 20:16] #3831 closed

[2019-04-10 01:57] beatrichartz opened #3834 "Command not found: Get session log types"
**Describe your question with as much detail as possible**
When running tests on IE10, after a passing test we get this error:
[code]

We believe that IE driver does not respond to the log types request with a 501 Not Implemented as other drivers. Instead, it sends a "Command not found", thereby triggering the error in Webdriver. We tried excluding the driver logs or disabling the logs, but the er

[2019-04-10 04:30] kajmagnus commented on #3024
@ArthurGIT2017

You mean if one has one's own *blur* event handler that does that?

B.t.w. here's a topic about Chromedriver and that weird extra *blur* after clear(): https://github.com/w3c/webdriver/issues/1354  — I wonder why that was added to the spec, making Selennium behave differently than a real browser and person, right :- /  (who deletes all text with ctrl-a-delete and starts typing some

[2019-04-10 07:59] christian-bromann commented on #3834
Can you provide the the output of `browser.capabilities`?

[2019-04-10 10:09] christian-bromann opened #3835 "Allow to use Sauce headless with a simple switch"
**Is your feature request related to a problem? Please describe.**
Sauce Labs will launch their headless offering soon. Let's add some changes WebdriverIO to make this super easy to use.

**Describe the solution you'd like**
Allow an option called `headless: true` that would set host and port to:

[code]

Also we should ensure that the sauce service properly reports to the correct rest endpoint.

[2019-04-10 15:24] khause opened #3837 "@wdio/browserstack-service returns 404"
**Environment:**
 - **WebdriverIO version:** 5.7.6
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** @wdio/sync
 - **Node.js version:** 11.13.0
 - **NPM version:** 6.7.0
 - **Platform name and version:** Mac 10.14.4
 - **Additional wdio packages used (if applicable):** [@wdio/browserstack-service 5.7.8, @wdio/cli, @wdio/jasmine-framework, @wdio/local-runner]

**Config of

[2019-04-10 15:40] christian-bromann commented on #3837
Duplicate of #3833

[2019-04-10 15:40] #3837 closed

[2019-04-10 15:41] #3823 closed

[2019-04-10 15:42] wluu commented on #3823
Nice!

[2019-04-10 16:11] osmolyar commented on #2753
That's exactly what I'm trying to do -

.getCurrentWebDriver().switchTo().frame(element);  = browser.frame(element)

where element is the same exact embed fame, then click on an element containing text inside the frame.

What are the 'bare protocol commands' if they're different from the above?

[2019-04-10 16:31] AutomationGuru opened #3838 "Unable to access file in project workspace when running tests on browserStack"
**Environment (please complete the following information):**
 - **WebdriverIO version:** ["webdriverio": "^5.7.8"]
 - **Mode:** [Standalone mode/ WDIO Testrunner/BROWSERSTACK]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [10+]
 - **NPM version:** [6.4.1]
 - **Browser name and version:** [Chrome 73]
 - **Platform name and version:** [mac]

**Config of WebdriverIO**

[2019-04-10 18:15] pmerwin opened #3839 "$('.some-element').waitForDisplayed(30000, true); is broken on IE and Edge"
When using the reverse of waitForDisplayed on IE, wdio is failing with error:

[code]

because we are doing the reverse, this error should be consumed and not fail the command/test.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.7.12]
 - **Mode:** [ WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [8.10]
 -

[2019-04-10 22:46] mgrybyk commented on #3834
It might be happening here https://github.com/webdriverio/webdriverio/blob/0c22df0b407bf913e836b689456157276752a621/packages/wdio-runner/src/index.js#L221

@beatrichartz may I ask you to remove `outputDir` from your wdio.config and let us know if you are still getting this error?
Also please provide output of `browser.capabilities` as mentioned above

[2019-04-10 22:57] mgrybyk commented on #3830
@lucialuzuriaga  not sure if it helps but you may try adding few more iOS capabilities
[code]
also maybe running Appium itself with --session-override flag may help? I'll try to take a deeper look soon if nothing helps

[2019-04-10 23:01] #3445 closed

[2019-04-10 23:18] pmerwin opened #3840 "elem.isDisplayed() should return bool , but throws error on ie"
When using .isDisplayed() on IE over sauce, wdio throws error not a boolean.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.7.12]
 - **Mode:** [ WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [8.10]
 - **NPM version:** [6.5.0]
 - **Browser name and version:** [ie 11]
 - **Platform name and version:** [e.g

[2019-04-10 23:24] pmerwin commented on #3834
We are seeing this issue as well with IE over sauce

console.log(JSON.stringify(browser.capabilities, null, 4)); returns:
[code]

[2019-04-10 23:24] pmerwin commented on #3834
the wdio log:

[code]

[2019-04-10 23:47] livemixlove commented on #3405
My two cents here is that we should be encouraging people to use stackoverflow, not gitter.  I quickly get frustrated with overlapping conversations on the gitter account.

[2019-04-11 03:12] lucialuzuriaga commented on #3830
@christian-bromann @mgrybyk I decided to make a new repository from scratch today and it worked without any code changes. However, the ECONNREFUSED error persisted even after getting the tests started running. I am under the idea that there is an underlying error behind this refused connection that is not being handled properly.

In case it's useful for someone reading this issue, my final capabil

[2019-04-11 07:25] wswebcreation commented on #3830
@lucialuzuriaga

Can you provide an example project so we can check it. I run appium tests with WebdriverIO all the time and I don't see a problem, even the boilerplate project just works

[2019-04-11 07:38] mgrybyk commented on #3834
Can you please outputDir from your wdio.config and try if it helps, please?

[2019-04-11 09:55] theduykh commented on #3556
I'm using webdriverio. It helps me when running multiremote browser and mobile 😃
`capabilities: {
    firefox: {
      capabilities: {
        browserName: 'firefox',
        'moz:firefoxOptions': {
          'args': ['-headless'
        }
      }
    },
    mobile: {
      capabilities: {
        'zal:deviceName': 'Nexus_5X_26',
        'zal:platformName': 'Android',
        'zal:noReset': true,

[2019-04-11 10:08] christian-bromann commented on #3834
This should be fixed with https://github.com/webdriverio/webdriverio/pull/3832 .. could you please update all wdio packages try again?

[2019-04-11 10:38] vgrigoruk commented on #3826
Output looks very bad when you run tests on CircleCI. There is a lot of duplication and `CI=true` env variable is not respected for some reason.
See example job here: https://circleci.com/gh/vgrigoruk/wdio-circleci-example/4
Source code is here: https://github.com/vgrigoruk/wdio-circleci-example

[2019-04-11 11:05] christian-bromann commented on #3826
I guess we need to check CI using https://github.com/watson/ci-info#ci-info

[2019-04-11 11:10] Biswajeet11 commented on #3838
please update me when this issue is resolved @AutomationGuru

[2019-04-11 11:40] christian-bromann commented on #3838
This needs to get finished for this https://github.com/webdriverio/webdriverio/pull/3632

[2019-04-11 13:53] rodrigo-garcia-leon opened #3842 "Cannot connect to Selenium Grid using the test runner"
**Environment:**
 - **WebdriverIO version:** 5.17.2
 - **Mode:** WDIO Testrunner
 - **Node.js version:** 8.15.1
 - **NPM version:** 6.9.0
 - **Platform name and version:** macOS Mojave 10.14.3
 - **Selenium Grid version:** 3.14.0

**Config of WebdriverIO**
Note: `hostname` left empty on purpose.

[code]

**Describe the bug**
WebdriverIO cannot create a session with Selenium Grid since W3C capabili

[2019-04-11 14:02] lucialuzuriaga commented on #3830
Maybe I should have clarified this, but I don't doubt that the boilerplate project works. This looks like an Appium problem. I searched the error thoroughly before posting, and it gets reported to their GitHub all the time with different frameworks, not just wdio. Since my logs looked fine they decided to close it and suggested that I reported it to Webdriverio.

I cannot provide examples straight

[2019-04-11 22:35] pmerwin commented on #3834
I confirmed I am running "version": "5.7.12"

with IE I see:

[code]
and when I remark out ouPuDir from my config it does not throw an error @mgrybyk
Edge does seem to work now, fyi.

[2019-04-11 22:43] christian-bromann commented on #3834
I guess the best thing to do here is to catch the `getLogTypes` call after all. The capabilities above are definitely jsonwire ones but it seems that IE still doesn't support that command.

[2019-04-11 22:43] christian-bromann commented on #3830
@lucialuzuriaga do you think there is anything we can do?

[2019-04-11 22:53] pmerwin opened #3844 "$('.some.elem').setValue() throws error on edge over saucelabs"
When using .setValiue() on Edge over sauce, wdio throws java null pointer excpetion .

 ERROR webdriver: Request failed due to Error: java.lang.NullPointerException

**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.7.12]
 - **Mode:** [ WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [8.10]
 - **NPM version:**

[2019-04-12 08:51] #3744 closed

[2019-04-12 09:04] christian-bromann commented on #3844
Duplicate of #3834

[2019-04-12 09:04] #3844 closed

[2019-04-12 09:19] aish-blr opened #3847 "Unable to use chai-webdriverio assertions after moving Webdriver v5"
I using following packages
"chai": "^4.2.0",
 chai-webdriverio": "^1.0.0",
 "@types/webdriverio": "^5.0.0"

Added  before: function() {
            var chai = require('chai');
            global.expect = chai.expect;
            chai.expect();
        }
    in wdio.conf.js

This is the piece of code in my script
it('Should render button with default properties and styling', function () {
        s

[2019-04-12 09:25] christian-bromann commented on #3847
v5 support was added here: https://github.com/marcodejongh/chai-webdriverio/pull/50 please update you chai-webdriverio package. If you still encounter issues, please raise an issue in that project. Thanks!

[2019-04-12 09:25] #3847 closed

[2019-04-12 09:34] christian-bromann commented on #3842
I can't reproduce the issue:

__wdio.conf.log__
[code]

__selenium-standalone.log__
[code]

[2019-04-12 09:34] #3842 closed

[2019-04-12 09:38] christian-bromann commented on #3840
Duplicate of #3834

[2019-04-12 09:38] #3840 closed

[2019-04-12 09:38] christian-bromann commented on #3835
Fixed in #3845

[2019-04-12 09:38] #3835 closed

[2019-04-12 10:46] aish-blr opened #3848 "How can we see the failed/passed test cases in console with Webdriver V5"
I am using Mocha framework
With Webdriver V4, after executing a script, suppose within a describe block, I have two it statements like this
it('User is taken to Landing page after a successful login', function () {

})
it('I should be able to create a component ', function () {

})
In V4, after executing the test, say for example i might see
1 passed - User is taken to Landing page after a success

[2019-04-12 10:57] christian-bromann commented on #3848
I am not sure what kind of logging you are talking about but you need to have reporter set up in order to see any result.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-04-12 10:57] #3848 closed

[2019-04-12 13:54] lucialuzuriaga commented on #3830
@christian-bromann I don't think so, at least not for the moment. Thank you for the quick replies and the will to solve the issue. If I happen to have any additional information I'll reopen it.

[2019-04-12 13:54] #3830 closed

[2019-04-12 19:38] pmerwin commented on #3834
FYI: same issue with safari:

[code]

[2019-04-15 03:59] LayMuiToh commented on #3223
@wswebcreation I added nativeWebTap: true at the capabilities setting at wdio.conf.js, it didn't fix the problem.
I change my usage to use mobile: tap command
if (Main.menu.waitForVisible()) {
        //   Main.menu.click();
        const menu_x = browser.getLocation('~menu', 'x');
        const menu_y = browser.getLocation('~menu', 'y');
        browser.execute('mobile: tap', {element: Main.menu,

[2019-04-15 04:00] LayMuiToh commented on #3223
https://gist.github.com/LayMuiToh/6c5c5c734dc03cc6f420281b58e81ef3

[2019-04-15 05:37] aish-blr commented on #3848
Thanks @christian-bromann. I chose to raise a "Question" instead of bug since this was a query.
Can i continue to raise "Questions" in this channel if they would not be counted as defects. I am seeing resolutions here quite faster than Gitter.

[2019-04-15 05:42] aish-blr opened #3851 "How can we use Visual regression service with Webdriver 5"
With Webdriver 5 and  wdio Visual regression service 0.9.0 installed, I am unable to use browser.checkElement(selector) function. I get to see the error "browser.checkElement is not a function"

I understand the wdio Visual regression service works with only Webdriver 4.8 only.
Since i am using V5 I cannot now downgrade to 4.8...Is there a way to get to get some specific dependencies installed wit

[2019-04-15 07:01] wswebcreation commented on #3851
Hi @aish-blr

The wdio Visual regression service is not a WebdriverIO maintained module. We are also not going to port it to V5, please contact the maintainer of the project or maybe try to port it yourself to V5.

[2019-04-15 07:01] #3851 closed

[2019-04-15 07:35] christian-bromann commented on #3848
Please raise questions in Gitter first as there are more people that can immediately help you out. Thanks!

[2019-04-15 10:54] ericaprieto commented on #3803
Any news about this?

[2019-04-15 13:31] elliotlings opened #3852 "Testrunner certain files"
Apologies if the terminology I am using is incorrect.

I have some unit tests which do not require the browser, however, the testrunner appears to launch a new instance for each test file/spec.

What is the best way to get around this? Is it better than I run webdriver tests and mocha tests separately?

webdriverio@^4.12.0
wdio-mocha-framework@^0.5.13

[2019-04-15 13:43] christian-bromann commented on #3852
Yes, run unit tests first and if they pass run e2e tests. Never both together nor in a different order.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-04-15 13:43] #3852 closed

[2019-04-15 21:27] arenacheck opened #3853 "Node RAM Usage increase by using .getHTML in endless loop"
# Issue description

The code below is just a sample. In my original script I did in between steps like saving data to databases.

I figured out that my scripts get always increased memory over time and it gets only caused by fetching the HTML with getHTML! The code below should show/reproduce the problem.

The problem comes on any WDIO version for me!

Did I write wrong endless loops?
Is there a

[2019-04-15 22:42] christian-bromann commented on #3853
Since you didn't provide a WebdriverIO version number I assume you are running v4 in which we store past result in the browser object which an cause an increase in memory usage. Update to v5 and this issue will be gone.

[2019-04-15 22:42] #3853 closed

[2019-04-16 01:25] PicoCreator opened #3854 "Broken link on `docs/api.html`"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

The broken link is inside the template, and not the markdown itself. See: https://github.com/webdriverio/webdriverio/blob/master/docs/API.md

**Describe the improvement**

I'd like to report
- [x] Other

**Description of the improvement / repor

[2019-04-16 07:13] erwinheitzman opened #3855 "junit-reporter does not allow nested describes"
**Environment (please complete the following information):**
 - **WebdriverIO version: 5.7.13
 - **Mode: WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:sync
 - **Node.js version: v10.15.0
 - **NPM version: 6.9.0
 - **Browser name and version: Chrome 73
 - **Platform name and version: Mac OSX
 - **Additional wdio packages used (if applicable): Dot reporter, Spec reporter

**Config of W

[2019-04-16 16:08] sanyco92 commented on #960
For me this issue is actual. Could you help me?
I have iOS table of Cells, I can find it with accessibility id `"~Test"` or with XPath `//XCUIElementTypeTable(@name='Table')`
But the problem is that with XPath it takes around 2-3 mins to find the element. So I wanted to find the element of the table, and inside the table find the cell with specific text.
So, let's imagine the following hierarchy:

[2019-04-17 03:51] tadashi0713 commented on #3820
https://github.com/webdriverio/webdriverio/pull/3856
@christian-bromann We already merged this PR, so I believe this problem is solved

[2019-04-17 04:29] SubJunk commented on #3826
Just to add to the comment about Circle-CI, my builds fail on Travis recently because of the logspam. Travis ends with:

`The job exceeded the maximum log length, and has been terminated.`

It started happening sometime between 5.4 (which is the version I'm successfully still using) and 5.7

I'd be happy to make a different issue for it if this is too off topic.

[2019-04-17 06:28] #3820 closed

[2019-04-17 06:36] Biswajeet11 opened #3859 "Is there any way I can take screenshot after each and every command executes inside the test ?"
Example:
Input1: Login.email().setValue('example@gmail.com')
            Login.password().setValue('wwww')
            Login.submit().click()
output1:screenshot for email
              screenshot for password
              screenshot for submit
As I should be able to get the screenshots for each and every action I perform.

[2019-04-17 08:37] Ad1B3nAr0ya opened #3860 "switchToFrame No longer excepts 'object' and now fails on FireFox"
**Environment (please complete the following information):**
 - **WebdriverIO version: 5.7.9**
 - **Mode: Standalone mode**
 - **If WDIO Testrunner, running sync/async: sync**
 - **Node.js version: v10.11.0**
 - **NPM version: 6.9.0**

**Describe the bug**
Passing Element object in switcToFrame now fails on FireFox

**To Reproduce**
Steps to reproduce the behavior:
code:
browser.switchToFrame($(se

[2019-04-17 14:47] srishti77 opened #3863 "Webdirverio commands not working."
I am using Webdriverio(5.7.14), node(v8.12.0) and npm(6.4.1).  I am trying to test simple Android application's button click operation. My code is given below and I am getting "**client.click() is not a function error**"

        const wdio = require('webdriverio');
        const assert = require('chai').assert;
        const path = require('path')

        const opts = {
              port: 4723,

[2019-04-17 15:20] christian-bromann commented on #3863
`wdio.remote(opts)` returns a promise and you need to wait until it resolves. Please check out our [docs](https://webdriver.io/docs/gettingstarted.html) to get started. Thanks!

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions.

[2019-04-17 15:20] #3863 closed

[2019-04-17 15:32] pmerwin commented on #3839
Safari is not working here, either.

[2019-04-17 16:08] ragog opened #3864 "sauce-service does not set test result on Sauce RDC"
**Environment**
 - **WebdriverIO** version: 5.7.6
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 11.14.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome 73
 - **Platform name and version:** Different Android versions
 - **Additional wdio packages used (if applicable):**
    "@wdio/cli": "^5.7.6",
    "@wdio/jasmine-framewo

[2019-04-17 16:10] christian-bromann commented on #3864
fixed by https://github.com/saucelabs/node-saucelabs/pull/55

[2019-04-17 16:10] #3864 closed

[2019-04-17 16:18] wswebcreation commented on #3864
@ragog

As @christian-bromann said, it's just fixed.

- remove `node_modules`
- remove `package|yarn-lock.json`
- `npm i | yarn install`

And it should work

[2019-04-18 16:36] hborawski commented on #3775
@naddison @christian-bromann Any insight into this? Where is the call to `log/types` happening?

[2019-04-18 19:05] kmnaid opened #3867 "When loglevel for specific loggers are set to silent, info and debug logs appear"
**Environment:**
 - **WebdriverIO version:** @wdio/cli@5.7.14
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.15.2
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome Version 73.0.3683.86
 - **Platform name and version:** OSX 10.14.4
 - **Additional wdio packages used (if applicable):**
[code]

**Config of WebdriverIO**
[co

[2019-04-18 22:17] naddison commented on #3557
@christian-bromann this issue has been resolved, can we close this?

[2019-04-19 09:49] christian-bromann commented on #3557
great 👍

[2019-04-19 09:49] #3557 closed

[2019-04-19 13:27] prathameshnyt opened #3869 "Don't see console.log('hello') from onComplete hook in the console"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.8
- **Mode:** WDIO Testrunner
 - **Node.js version:** v10.15.2
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 73
 - **Platform name and version:** Mac Os 10.14.4 (18E226

**Config of WebdriverIO**
An example of how you configured WebdriverIO config

**Describe the bug**
As discussed on G

[2019-04-19 13:45] christian-bromann commented on #3869
@prathameshnyt can you provide a reproducible example?

[2019-04-19 13:50] prathameshnyt commented on #3869
Thanks @christian-bromann I will look into best way to send you an example. In meantime, I have basicTest from the the guide and running it with test runner with following in onComplete hook. @WillBrock was able to reproduce it as well.

[code]

[2019-04-19 13:57] christian-bromann commented on #3869
Was able to reproduce it too

[2019-04-19 14:00] prathameshnyt commented on #3869
Ok. Thanks for confirming.

[2019-04-19 14:09] filipemir commented on #3106
Just adding an opinion to this issue since the discussion seems to no longer be active: having the ability to detect whether an element transition/animated has finished (with a specifiable timeout) would be very useful in all sorts of cases. so +1

[2019-04-19 14:18] abjerstedt commented on #3106
@filipemir I think we all agree that it would be helpful ;). The question is how to implement this.

[2019-04-19 17:59] luckyincode commented on #3826
@SubJunk The default time a travis build can run is 50 minutes.  So likely that's the failure there.

[2019-04-20 01:57] naddison commented on #3855
@christian-bromann this is fixed since my PR was merged.

[2019-04-20 03:41] naddison commented on #3775
@hborawski I'll take a look this weekend, no promises.

[2019-04-20 08:10] SubJunk commented on #3826
There are full logs from one of the failed runs at https://api.travis-ci.com/v3/job/193550784/log.txt
Travis says the job ran for 1m51s, and I was watching it at the time so that seems accurate, definitely not longer than a few minutes.
There's a lot of detail in the logs so maybe I'm wrong but it seems that there is only about 90 seconds between the first and last timestamps and it's printing a l

[2019-04-20 08:38] SubJunk commented on #3826
Probably this https://github.com/webdriverio/webdriverio/issues/3867

[2019-04-20 08:59] SubJunk commented on #3867
Likely caused by https://github.com/webdriverio/webdriverio/pull/3565/files

[2019-04-20 09:41] christian-bromann commented on #3855
👍

[2019-04-20 09:41] #3855 closed

[2019-04-20 19:46] naddison commented on #3775
@hborawski Can you update all your wdio packages and try again? I was able to reproduce the problem using your example, but then I upgraded all the packages and have not been able to reproduce since. We might have accidentally fixed this?

[2019-04-20 19:59] naddison commented on #3834
I can only reproduce this error on internet explorer and windows against sauce labs when I set an outputDir on either the config or a junit-unit-reporter.

[code]

[2019-04-21 02:28] SubJunk commented on #3826
I spent some time looking into this today and found the behaviour change happened in `wdio-cli` 5.7.9 so I think it is likely related to https://github.com/webdriverio/webdriverio/pull/3638

[2019-04-21 12:51] nareshnayini commented on #2598
@christian-bromann could you direct me to v5 reference for this implementation ?

[2019-04-22 11:00] CrispusDH commented on #3826
In my work project I have `try ... catch` construction. In console at the end:
1. I see these errors (if it were during test) in `Stderr` section. I'm not sure that I want it because definitely I want to hide them.
2. `Stdout` and `Stderr` duplicate three times in console.

[2019-04-22 15:05] mgrybyk commented on #3860
@Ad1B3nAr0ya can this one be closed?

[2019-04-22 15:13] mgrybyk commented on #3867
@kmnaid to hide output of @wdio/cli:Launcher, etc, you should use proper package names:
[code]

regarding messages like:
[code]

I'm not sure. Do we have ability to hide wdio-interface output or any plans for this @christian-bromann ?

[2019-04-22 15:38] kmnaid commented on #3867
Thanks @mgrybyk.
That worked but I had to specify specific modules.

`'@wdio/cli:Launcher': 'silent'` for `2019-04-22T15:33:41.870Z INFO @wdio/cli:Launcher: Run onPrepare hook`.
Just `'@wdio/cl': 'silent' ` does not silence the log.

 Similarly for  `'@wdio/utils': 'silent'`, I still see the below log appearing
 `2019-04-22T15:24:14.820Z DEBUG @wdio/utils:initialiseServices: initialise wdio servic

[2019-04-22 15:54] #3834 closed

[2019-04-22 15:54] #3860 closed

[2019-04-22 15:54] christian-bromann commented on #3860
I think it can

[2019-04-22 16:08] naddison commented on #3775
@christian-bromann this can be closed since you merged https://github.com/webdriverio/webdriverio/pull/3870

[2019-04-22 17:04] hborawski commented on #3775
👍 Yep all good after #3870. Thanks!

[2019-04-22 17:49] jaffamonkey commented on #2754
Another webdriverio issue discussion that disappears into ether ...

[2019-04-22 17:51] mgrybyk commented on #3867
that's strange!
Is there a typo in `'@wdio/cl': 'silent'` ? should be '@wdio/cli': 'silent'

[2019-04-22 17:53] mgrybyk commented on #2754
What do you mean? This was closed because it is not reproducible

[2019-04-22 18:00] kmnaid commented on #3867
Typo here, I must have erased it when deleting the 'Launcher' but in the actual file it is correct and logs still appear.
Here is an example from a recent run:
[code]

[2019-04-22 18:06] VKnightUT commented on #3084
Has there been any update on this issue?

[2019-04-22 18:10] #3775 closed

[2019-04-22 21:29] mgrybyk commented on #3867
Thank you for your help, I'll check it tomorrow

[2019-04-23 02:53] tulasirm commented on #3725
Hi Kewgrz, any progress on this yet?

[2019-04-23 07:48] larryg01 commented on #1000
The framework of choice at Oxford University Press, I have been using webdriverio since 2016 and it has made life so much easier, especially now with v5, hats off to @christian-bromann and his crew who maintain and continualy support it, keep up the good work guys.

[2019-04-23 12:04] mgrybyk commented on #3867
@kmnaid https://github.com/webdriverio/webdriverio/pull/3871 fixes issue that setting log level for loggers like @wdio/cli won't affect its subloggers (@wdio/cli:Launcher).

However this doesn't affect interface, so you will see
[code]

Can you please describe desired behaviour?
You don't want to see summary and time but still want to see reporters output. Is that correct?

[2019-04-23 12:09] CrispusDH commented on #3867
@mgrybyk am I right that if I set `logLevel: silent` it should set such log level for all wdio libraries?

[2019-04-23 12:14] mgrybyk commented on #3867
yes, you are right

[2019-04-23 12:20] mgrybyk commented on #3867
it should, but it doesn't work for `@wdio/local-runner`, checking right now what is going wrong

[2019-04-23 13:05] mgrybyk commented on #3867
the problem is that first loggers are initialised, then custom log levels are applied, and only then global log level is set.

This is happening because we need to parse config before setting log levels, but config parser using logger as well.

At this point I'll change behaviour a bit to workaround this problem

[2019-04-23 13:20] kmnaid commented on #3867
@mgrybyk: Summary is fine, but I think these two lines should not appear when `@wdio/utils:silent` and `@wdio/cli:silent` is set.

[code]

[2019-04-23 14:00] #3867 closed

[2019-04-23 15:08] StephenABoyd commented on #3840
@christian-bromann I don't think the fix for #3834 is going to fix this. I'm seeing the issue on the findElement call, not the isDisplayed call. Should this be reopened?

[2019-04-23 15:11] christian-bromann commented on #3840
What issues do you see?

[2019-04-23 15:15] StephenABoyd commented on #3840
When running in IE on Browserstack it matches the error of this issues log:

`Unable to find element with xpath == //hello (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 348 milliseconds
For documentation on this error, please visit: http://seleniumhq.org/exceptions/no_such_element.html
Build info: version: '2.53.0', revision: '35ae25b', time: '2016-0

[2019-04-23 15:17] christian-bromann commented on #3840
This log seems like that an element wasn't found.

[2019-04-23 15:19] StephenABoyd commented on #3840
Yes, that is correct, but it throws an error when trying to find the element. So if I make an `isDisplayed` call on an element that isn't displayed this gets thrown before `isDisplayed` even runs.

[2019-04-23 15:25] christian-bromann commented on #3840
@StephenABoyd I think this is a different issue than this here. Do you have a minimal reproducible example?

[2019-04-23 15:29] StephenABoyd commented on #3840
I was assuming it was the same since the errors were the same while trying to find a nonexistent element.

Honestly, my example was just going to google and looking for a made-up element in IE with Browserstack, but according to this issue, it should happen in sauce as well

`
browser.url('http://www.google.com');
if ($(`//hello`).isDisplayed()) {
    console.log('yay');
}
`

[2019-04-23 16:18] christian-bromann commented on #3840
Confirmed the issue. I think it has to to with the way IE responses.

[2019-04-23 16:31] pmerwin commented on #3840
Yeah, it is not responding with a bool, it is responding with error ...  I think because IE's error is outside the logic for the catch block in the method?

[2019-04-23 16:32] pmerwin commented on #3840
Exactly the issue I am seeing.

[2019-04-23 16:33] mgrybyk commented on #3867
with last PR it should be fixed

[2019-04-23 17:07] christian-bromann commented on #3840
see #3874

[2019-04-23 17:45] gauravgandhi15 opened #3875 "Webdriverio and Appium android scripts failing if i run all of my test scripts together"
**Environment (please complete the following information):**
 - **WebdriverIO version: 5.4.14
 - **Node.js version: 8.9.4
 - **NPM version: 5.6.0
 - **Browser name and version: Chrome
 - **Platform name and version: Android

**Config of WebdriverIO**
`"devDependencies": {
    "@wdio/sauce-service": "^5.4.14"`

**Describe the bug** :

**Log** : https://gist.github.com/gauravgandhi15/3b5f9589d113d45

[2019-04-23 17:45] gauravgandhi15 commented on #3875
@christian-bromann Please help me on this issue.

[2019-04-23 18:30] christian-bromann commented on #3875
@gauravgandhi15 without a reproducible example I can't help here.

[2019-04-23 18:35] gauravgandhi15 commented on #3875
What kind of reproducible example you need?

[2019-04-23 18:36] gauravgandhi15 commented on #3875
I can give you whatever you need. I am just trying to see all the scripts together.

[2019-04-23 18:52] gauravgandhi15 commented on #3875
@christian-bromann Not sure how to give you reproducible example. I have my scripts and i am trying to run them all together. Just failing on Android

[2019-04-23 20:40] mgrybyk commented on #3839
@pmerwin works fine for me in Safari 12.1, please provide with reproducible example.

[2019-04-23 20:41] StephenABoyd commented on #3839
@mgrybyk I think this will be fixed with #3874

[2019-04-23 20:43] mgrybyk commented on #3839
Was reading logs and have to agree, will have to ask author to check this issue again in next WebdriverIO release

[2019-04-23 20:55] pmerwin commented on #3839
I will test as soon as its published.

[2019-04-23 20:59] mariobianco commented on #3869
Not sure if this helps provide further info, but I narrowed down the bug to being related to `@wdio/cli version 5.7.9+`. Specifically the bug first showed up in 5.7.9 perhaps something related to [this PR](https://github.com/webdriverio/webdriverio/pull/3638).

[2019-04-23 21:12] christian-bromann commented on #3875
This seems to be a setup issue with Appium and the Simulators / Emulators and not WebdriverIO.

[2019-04-23 21:52] StephenABoyd opened #3877 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-04-23 22:23] #3875 closed

[2019-04-23 22:24] christian-bromann commented on #3721
This has been merged and will be released with the next version.

[2019-04-23 22:24] #3721 closed

[2019-04-23 22:24] christian-bromann commented on #2872
Please follow updates on #3667

[2019-04-23 22:24] #2872 closed

[2019-04-24 00:36] hborawski opened #3878 "nullPointerException in firefox when calling setValue"
**Environment (please complete the following information):**
 - WebdriverIO version: **5.7.15**
 - Mode:**WDIO Testrunner**
 - If WDIO Testrunner, running sync/async: **async**
 - Node.js version:**10.15**
 - NPM version:**6.4.1**
 - Browser name and version:**Firefox latest (66)**
 - Platform name and version:**macOS 10.13**
 - Additional wdio packages used (if applicable): **@wdio/sauce-service

[2019-04-24 02:27] ergbouncex opened #3879 "Junit outputDir and filename gets set incorrectly when defined as an option"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.15
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.15.3
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** macOS 10.14.3
 - **Additional wdio packages used (if applicable):**
    "@wdio/cli": "^

[2019-04-24 03:45] aminerouh opened #3880 "Unable to use browser.switchToFrame() on MS Edge"
**Environment :**
 - **WebdriverIO version:** ["webdriverio": "^5.7.15"]
 - **Mode:** [WDIO Testrunner/BROWSERSTACK]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [v8.11.3]
 - **NPM version:** [5.6.0]
 - **Browser name and version:** [MS Edge v16, v17, v18]
 - **Platform name and version:** [macOS Mojave 10.14.4]
 - **Additional wdio packages used (if applicable):**

[2019-04-24 05:57] mgrybyk commented on #3877
Some more logging and steps to reproduce in CI would be really helpful

[2019-04-24 08:43] CrispusDH commented on #3877
I also see this issue when run locally:
[code]
it always happens after 10 tests were done. I'm not sure why. In `'trace'` logLevel mode these lines don't appear.

I see such `WARN` in trace mode.
[code]

[2019-04-24 10:20] baruchvlz commented on #3869
Any log before [this line](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cli/src/launcher.js#L83) works. It seems that [runMode](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cli/src/launcher.js#L99) is not resolving / rejecting in some cases. I have added two logs, [here](https://github.com/baruchvlz/webdriverio/blob/fix/oncomplete/packages/wdio-cli/s

[2019-04-24 10:39] mgrybyk commented on #3877
This is happening because we are not doing pipe multiple times
https://github.com/webdriverio/webdriverio/blob/cdb285697ef6b9537dffbf4e54f18db3282a1a73/packages/wdio-local-runner/src/worker.js#L75

[2019-04-24 11:12] areejw commented on #3324
any updates on this issue? Still seeing the same behviour for Edge17, works fine for Edge18

[2019-04-24 11:14] logakarthi commented on #3324
For me, I can able to enter the text using setValue() command in iOS, but the entered text is not visible in the text field.

POST element/5032/value
200

Command Request Body

{"value":["A","d","d"," ","t","w","o"," ","w","i","t","h"," ","t","h","r","e","e"," ","i","s"," ","e","q","u","a","l"," ","t","o"],"text":"Add two with three is equal to"}
Command Response Body

{"status":0, "value":null, "

[2019-04-24 11:33] xlenz commented on #3878
@hborawski setValue works fine for me locally.
geckodriver-0.24.0
firefox 66.0.3

I'm not using saucelabs, looks like some configuration issue of the service.

[2019-04-24 13:19] mgrybyk commented on #3877
Fixing

[2019-04-24 15:23] mgrybyk commented on #3869
@baruchvlz how you managed logs to be displayed?

I'm seeing the same behaviour not only for onComplete hook but in other places as well.
Yeah, logUpdate overrides output

[2019-04-24 15:26] baruchvlz commented on #3869
@mgrybyk Check this commit: https://github.com/baruchvlz/webdriverio/commit/d169de7f3a5e0441f4527d98abcf24a9d371d105

[2019-04-24 16:50] danieltisdale commented on #3725
Any update on this issue? Thanks!

[2019-04-24 17:10] kmnaid commented on #3780
As the reporter does not have access to the "end" event which was available in v4 it's now not possible to aggregate results and make one report after all the instances complete. For cases like the [wdio-slack-reporter](https://github.com/kmnaid/wdio-slack-reporter) where you would want to send the aggregated results in one message it makes sense to re-think of where the reporter may live.
See [is

[2019-04-24 19:17] christian-bromann opened #3883 "Support Appiums Settings command"
**Is your feature request related to a problem? Please describe.**
It seems that Appium has a settings command which is currently not on our Appium spec.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addition

[2019-04-25 05:52] GineaPig opened #3884 "FireFox: web element in iframe cannot be clicked by using the locator.click() function."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.11
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Browser name and version:** Firefox 66(64bit)
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/spec reporter, @wdio/selenium-standalone service

**Config of Webdr

[2019-04-25 10:49] baruchvlz commented on #3884
I just ran this on my local machine with Firefox 66 on ArchLinux:

[code]

And the test pass and the functionality works as expected.

Do you have a website I can test this on a cloud service using Windows?

[2019-04-25 10:56] wswebcreation commented on #3883
@christian-bromann

What do you mean with this? It's in the docs [here](https://webdriver.io/docs/api/appium.html#getsettings) and [here](https://webdriver.io/docs/api/appium.html#updatesettings)

[2019-04-25 11:20] baruchvlz commented on #3878
@xlenz I just tried this with saucelabs. It works for chrome but not for safari nor firefox.

I doubt this is on WDIO's side, this might be an issue with SL.

[2019-04-25 13:07] christian-bromann commented on #3883
Ah you right, closing then!

[2019-04-25 13:07] #3883 closed

[2019-04-25 15:38] areejw commented on #3802
I am seeing the same issue. Running the test via browserstack service. What Edgedriver version is picked up when running via browserstack? I have also tried specifying the driver version in capabilities but maximizeWindow() still fails with "unknown command".

[2019-04-25 16:06] baruchvlz commented on #3426
I would vote for axios over node-fetch or got. It's only [12kb](https://bundlephobia.com/result?p=axios@0.18.0) and has [2 dps](https://github.com/axios/axios/blob/master/package.json#L75-L78).

[2019-04-26 04:25] erinev opened #3887 "BUG: webdriverio [v5] doesn't stop execution in case of exception is thrown in before() hook"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.15
 - **Mode:** standalone
 - **If WDIO Testrunner, running sync/async:** both [sync/async]
 - **Node.js version:** multiple [v8.9.0/v11.8.0]
 - **NPM version:** multiple [5.4.0/6.5.0]
 - **Browser name and version:** Chrome multiple versions [58/74]
 - **Platform name and version:** Multiple [WIN_8.1/WIN_

[2019-04-26 04:39] erinev opened #3888 "FR: Add possibility to resize browser window to desired dimensions for webdriverio [v5]"
**Is your feature request related to a problem? Please describe.**
I was not able to find a way how to resize browser to desired dimensions. We need that so our tests would run in maximum allowed dimensions (which is 1280x1024 - Windows VM limitation) because our UI supports 1200 minimum dimensions (it is not mobile friendly).

**Describe the solution you'd like**
Single method on browser which al

[2019-04-26 05:10] erinev opened #3889 "FR: introduce possibilty to work with file uploads then using remote selenium GRID for webdriver.io [v5]"
**Is your feature request related to a problem? Please describe.**
`Context:`We have an UI which allows users to upload Banner (ad) files (.png, .html, .zip) to our system and allows to manage (edit/reupload/etc) those created banners through UI. We developing our tests locally (using local selenium standalone - using `webdriver-manager` npm package) but for real execution every time we release te

[2019-04-26 07:12] GineaPig commented on #3884
@baruchvlz Thank you so much for your reply. But sorry I cannot share the website. The selector.click() function can be used in normal firefox iframe. But for my specific case, it doesn't work.  It looks like the mouse doesn't click on the correct element position.

[2019-04-26 07:16] erinev commented on #3889
i think its same/similiar issue as: https://github.com/webdriverio/webdriverio/issues/3838

[2019-04-26 07:22] baruchvlz commented on #3888
Have you tried [browser.setWindowSize](https://webdriver.io/docs/api/browser/setWindowSize.html) ?

[2019-04-26 07:37] erinev commented on #3888
@baruchvlz thanks, i don't know how i missed this in API documentation..

[2019-04-26 07:37] #3888 closed

[2019-04-26 07:37] CrispusDH commented on #3884
@GineaPig  probably, you try to click using wrong locator

[2019-04-26 08:38] mgrybyk commented on #3887
tests are not running for me if I have before block like this
[code]

[2019-04-26 08:40] mgrybyk commented on #3887
The problem is that before block is executed before every test file, that's why you are seeing such behaviour

[2019-04-26 08:41] mgrybyk commented on #3887
if you move your code block to onPrepare block it would work as you expect, @erinev

[2019-04-26 08:45] mgrybyk commented on #3884
@GineaPig without a reproducible example it is difficult to help here.
Tried locally in Firefox 66.0.3 with geckodriver 0.24
[code]
works fine

[2019-04-26 09:55] erinev commented on #3887
@mgrybyk thanks for quick response. Unfortunaltely we can't use onPrepare() hook because it doesn't have `browser` context and we need to perform UI login before all tests.

code:
[code]

results in: `ReferenceError: browser is not defined`

because before() hook is executed before each new spec file (not test case or describe, but spec file)
we workarrounded it this way: we have only one spec fil

[2019-04-26 10:49] mgrybyk commented on #3887
if this something that should be executed once you can follow approach mentioned here https://github.com/webdriverio/webdriverio/issues/3747

[2019-04-26 14:49] erinev commented on #3887
@mgrybyk if i understand correctly #3747 case is not the same like we have.

In case you provided was needed to perform some kind of step BEFORE ALL TESTS == download files
in our case we need to perform single time login (before all tests) because logging multiple times for each spec file would make tests run much longer and our company has maximum X logins per 1minute policy so if we wil have 10

[2019-04-26 15:07] MaheshGooner commented on #3191
Doesn't look like it is fixed. i still have the same issue with below setup

    "@wdio/cli": "5.7.15",
    "@wdio/local-runner": "5.7.15",
    "@wdio/selenium-standalone-service": "^5.7.8",
    "wdio-cucumber-framework": "^2.2.8"

[2019-04-26 15:26] erinev opened #3890 "BUG: isEnabled & waitForEnabled actions doesn't work correctly for disabled a (link) elements"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.15
 - **Mode:** standalone
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [v10.15.0]
 - **NPM version:** [6.5.0]
 - **Browser name and version:** Chrome [74]
 - **Platform name and version:** [WIN_10]
 - **Additional wdio packages used (if applicable):** "@wdio/cli": "5.7.15"

[2019-04-26 16:08] erinev commented on #3887
@mgrybyk we drifted from original problem a lot. Lets forget about single place where we could do the login. Problem is that before() hook doesn't stop execution on error.

Do you agree that its a bug and should be fixed ? (because in my opinion execution should be stopped in case of exception is thrown)

[2019-04-26 16:39] abjerstedt commented on #3890
@erinev I appreciate the work you put into the report, but this isn't a WDIO problem. We literally use the result from the driver endpoints without any custom logic.

The driver then implements https://www.w3.org/TR/webdriver1/#is-element-enabled, and if the result you are seeing differs from this, then the bug is on the driver.

[2019-04-26 16:39] #3890 closed

[2019-04-26 17:04] abjerstedt commented on #3887
This is a known behavior and not exactly a bug. WDIO hooks run in a different fiber/process, and don't really report back to the main thread.

I chatted with @christian-bromann about this several months ago, and I believe its actually intended.

Its hard to justify a hook crashing your entire run. You could be running 10 tests in parallel, but only one of them throws an error... why should that on

[2019-04-26 18:23] erinev commented on #3890
@abjerstedt webdriver.io documentation is lying then. It says `Return true or false if the selected DOM-element is enabled.` (source: https://webdriver.io/docs/api/element/isEnabled.html).

`a` is an element and it does not work for `a` element.

Don't be so quick to close the issue without resolving it fully.

i will create new issue which will ask to update documentation what isEnabled and waitF

[2019-04-26 18:38] erinev commented on #3887
@abjerstedt if you say that hooks doesn't report back to main thread which hooks do you have in mind exactly ? (just berfore() hook ?) because if i throw error in onPrepare() hook execution stops:
[code]

could you elaborate more on hooks logic why some reports back to main thread and some not ?

[2019-04-26 18:42] mgrybyk commented on #3890
@erinev  **disabled** for `a` element tag is not a part of standard as far as I know.
For that case you may use **getAttribute** in combination with **waitUntil**.

**isEnabled** returns true or false depending on situation.
**waitForEnabled** (actually all waitFor*) waits for condition to be true otherwise throws an exception when timeout is reached.

[2019-04-26 18:53] erinev commented on #3890
@mgrybyk maybe you have some docs link for the standard of disabeable elements ?

i'm reading provided webdriver docs: https://www.w3.org/TR/webdriver1/#is-element-enabled

5 step -> `Set enabled to false if a form control is disabled.`
could it be that webdriver is able to detect disabled element if its supported in form ? (like button, input, etc) ? maybe you have some knowledge here ? (if only

[2019-04-26 19:36] mgrybyk commented on #3890
https://www.w3schools.com/tags/att_disabled.asp

[2019-04-26 19:39] abjerstedt commented on #3890
To reiterate @erinev, this issue has nothing to do with >webdriverio<. Webdriver is a specification/contract that the drivers adhere to. We simply consume the response that the drivers give us; and so, this issue is not representative of anything we need to do (aka should be closed).

As @mgrybyk stated, feel free to update documentation if you believe it to be inaccurate or misleading.

[2019-04-26 19:41] erinev commented on #3890
ok got it now and i agree with closing the issue.

i just tested and i can confirm that isEnabled works only for form elements, output after printi various element isEnabled flag:
[code]

so i will provide PR for ducomentation update that isEnabled and waitForEnabled works only for form elements

[2019-04-26 19:44] abjerstedt commented on #3887
Hooks defined within the config are webdriverio hooks.
Hooks defined within your spec files are mocha hooks.

If an exception is thrown within the webdriverio hook, the hook will terminate, but the test will continue.
If an exception is thrown within the mocha hook, the test will properly end.

@christian-bromann as I think about it, we still have a few hooks that I think should bubble up exceptio

[2019-04-26 19:50] erinev commented on #3887
@abjerstedt here is a proof that wdio onPrepare() hook inside config stops test execution in case exception occurs. Separate [branch](https://github.com/erinev/wdio-selenium-tests-playground/blob/proof_that_onPrepare_hook_cancels_execution/wdio.conf.js#L41) is created to reproduce the issue. Result:

![image](https://user-images.githubusercontent.com/4118417/56832822-a8904400-6875-11e9-944e-acc1a4

[2019-04-26 20:14] CrispusDH commented on #3887
@erinev have you been thinking about using cookies? You can login once in script hook, take cookies/token whatever and in your tests using it. Also there's other ways to deal with your willingness without touching any hooks from wdio or mocha. If I will find a certain link I will post.

[2019-04-26 20:53] abjerstedt commented on #3887
onPrepare is kind of an exception, this hook gets called before the wdio process really starts.

[2019-04-27 02:32] naddison commented on #3879
The default filename will be log (if should be XML, but it defaults to .log). Can you share your options when you set the **outputFileFormat** property?

[2019-04-27 04:30] erinev commented on #3890
just one question where i can find documentation which is shown in webdriver.io UI as docs ? @abjerstedt

[2019-04-27 04:41] erinev commented on #3887
@CrispusDH don't you think that it is a workarround ? if we have a framework why we need to workarround and perform login using API and setting cookies and so on. Login is not the only use case which would be convinient to have in a hook before each/all tests.

@abjerstedt , @mgrybyk
You guys just telling me how it is implemented now, but don't you feel at least small need as developers to think o

[2019-04-27 06:28] CrispusDH commented on #3887
@erinev totally agree with you. That's why test for login should we one. Other tests should get already logged in user using cookie, token in URL, etc. because it would saving time.

[2019-04-28 04:55] erinev commented on #3887
Hi @christian-bromann,

what do you think about current approach how wdio hooks are implemented ?
**could it be made more useful by adding exception hadling & introducing beforeAll() hook ?**
(woudn't it make sense ? maybe it is not easy to do, but i'm asking about possibility in the future to change **current, in my opinion limiting, approach** how hooks is imlemented now ?)

[2019-04-28 07:21] Mufeez commented on #582
i have a toggle button on the same page which once clicked change its icon and text from disable to restore but once you click on that button same page get reloaded but assertion is failing ,may be its reading from previous dom and not refreshed dom . How can i know that page is refreshed successfully.

i cannot use waitforexist as the elements are present on the same page before and after

it('Di

[2019-04-28 08:48] mgrybyk commented on #582
How about adding some hidden element to the dom just before clicking that button, and then waiting for that element to be not existing?

[2019-04-28 17:27] jiteshsojitra commented on #2076
Applied solution for Spectron (which uses webdriverio) as mentioned in: https://github.com/electron/spectron/issues/286#issuecomment-393393514 and solved my issue which was pending since long.

    this.app = new Application({
         path: fullPath,
         args: ['.'],
         webdriverOptions: {
            "deprecationWarnings": false
    }});

[2019-04-28 17:52] naddison commented on #3879
I have tried the following scenarios:

[code]

**Outcome**
- results-0-0.undefined.xml created in /test/reports/junit-results/. The argument given to the function does not seem to have capabilities as a defined property.
- wdio-0-0-server.log is created. This is the log file retrieved from the Selenium server. This should be put into the ./logs folder and not a reporter directory.

**Changes requi

[2019-04-29 09:28] Spinnenzunge opened #3893 "@wdio/appium-service does not work with iOS Simulator 12.2"
Update @wdio/appium-service to newerst appium peer-dependency to fix problems fixed with appium version https://github.com/appium/appium/releases/tag/v1.12.1

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.9
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.14.1
 - **NPM version:** 6.9.0
 - **Br

[2019-04-29 09:51] wswebcreation commented on #3893
Can you please provide more info about what the problem is, this is not clear for us

[2019-04-29 11:05] Spinnenzunge commented on #3893
Sorry for the lacking documentation. I updated my initial bug report. Long story short: My request is updating the appium peer dependency in @wdio/appium-service to the latest appium version 1.12.1.

This is actually an appium bug, but @wdio/appium-service should implement the latest version to get the appium fix.

[2019-04-29 13:45] kewgrz commented on #3725
@tulasirm Not working on this. I only brought up the issue. I wouldn't know how to address this anyway.

[2019-04-29 14:08] BorisOsipov commented on #3517
it seems to be fixed only for Allure reports and not junit.

[2019-04-29 15:37] christian-bromann commented on #3889
Duplicate of #3632

[2019-04-29 15:37] #3889 closed

[2019-04-29 19:07] pmerwin commented on #3878
I found that I have to specify a selenium version or Firefox does not work over sauce at all with wdio vs 5:

 {
            browserName: 'firefox',
            platformName: 'OS X 10.12',
            // extendedDebugging: true,
            browserVersion: 'latest',
            'sauce:options': {
                seleniumVersion: '3.11.0',
            }
        }
}

Not sure if that may help you he

[2019-04-29 19:22] pmerwin commented on #3878
also, I see this with edge over sauce too:

HTTP Status: 500
{ "stackTrace": [ { "methodName": "setJsonParameters", "fileName": "SendKeys.java", "className": "org.openqa.selenium.remote.server.handler.SendKeys", "nativeMethod": false, "lineNumber": 41, "hCode": -863529568, "class": "java.lang.StackTraceElement" }, { "methodName": "handle", "fileName": "ResultConfig.java", "className": "org.openqa.

[2019-04-29 20:13] pmerwin commented on #3839
Still seeing this on Edge:
[code]

[2019-04-29 20:21] pmerwin commented on #3878
Adding the selmium server for edge fixes thgis for me over sauce:

[code]

[2019-04-29 21:15] fkleuver commented on #3324
Apologies for not following up folks. When I was going to file an issue 3 months ago I ran into a wall with creating a repro for browserstack. We use the paid online version, and I just haven't had time to change everything up to make it work locally.

If anyone else is willing to submit an issue with repro to the selenium repo that would be much appreciated, otherwise I will probably revisit in a

[2019-04-30 04:06] MunGell opened #3894 "Typescript typing for attach method"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.15
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** N/A
 - **Node.js version:** v10.4.1
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome
 - **Platform name and version:** Linux
 - **Additional wdio packages used (if applicable):** @wdio/selenium-standalone servic

[2019-04-30 07:09] wswebcreation commented on #3878
This is the complete set that currently works for Sauce Labs and WDIO

[code]

The problem is that WebdriverIO is already using W3C but the Sauce Labs platform not. By providing the `'sauce:options'` and the new properties, see [here](https://wiki.saucelabs.com/display/DOCS/Selenium+W3C+Capabilities+Support+-+Beta) all should work

[2019-04-30 07:14] wswebcreation commented on #3893
@Spinnenzunge

This is not needed, if you go to https://semver.npmjs.com/ and add `appium` and `^1.12.0` you will get this overview

![image](https://user-images.githubusercontent.com/11979740/56945655-27aca300-6b28-11e9-870f-8e13cc908faf.png)

There you would see that with `^1.12.0` as a version number you would also get `1.12.1`, even future releases that would not be a `major` because the `^` w

[2019-04-30 07:14] #3893 closed

[2019-04-30 07:20] axyz opened #3895 "compatibility with node 12"
wdio-sync is currently depending on fibers 3.x that fails to compile on node 12.

Would it be possible to upgrade it to 4.x?

It seems that 4.x should support node 12 correctly (https://github.com/laverdet/node-fibers/issues/409)

[2019-04-30 09:31] CrispusDH commented on #3878
@wswebcreation would it be useful to pin somewhere in wdio docs?

[2019-04-30 09:38] wswebcreation commented on #3878
@christian-bromann

What should I do with this, create a small blog post for example?

[2019-04-30 10:48] artur-michalak opened #3896 "Watch mode is not working correctly"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2]
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v8.14.0/v10.15.5
 - **NPM version:** 6.4.1
 - **Browser name and version:** 73.0.3683.103
 - **Platform name and version:** OSX 10.14
 - **Additional wdio packages used (if applicable):**

[2019-04-30 10:54] artur-michalak opened #3897 "Selenium standalone service disconnects in watch mode"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2]
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v8.14.0/v10.15.5
 - **NPM version:** 6.4.1
 - **Browser name and version:** 73.0.3683.103
 - **Platform name and version:** OSX 10.14
 - **Additional wdio packages used (if applicable):**

[2019-04-30 13:25] christian-bromann commented on #3878
@wswebcreation I would almost say let's add this for all SL jobs as default options. I don't see a reason why someone would not like to use W3C sessions.

[2019-04-30 13:25] christian-bromann commented on #3895
fixed in #3898

[2019-04-30 13:25] #3895 closed

[2019-04-30 13:29] sgauruseu opened #3899 "Examples for performActions command"
`rightClick` command is removed in v5
Could you please add sample code for  `performActions `?

This is my code :
[ await this.browser.performActions([{
            type: 'pointer',
            id: 'pointer1',
            parameters: {
                pointerType: 'mouse'
            },
            actions: [{
                type: 'pointerDown',
                button: 2
            },  {

[2019-04-30 13:35] christian-bromann commented on #3899
This is because Chrome v68 doesn't support this command (yet). In Chrome continue to use the [`positionClick`](https://webdriver.io/docs/api/jsonwp.html#positionclick) command.

[2019-04-30 13:35] #3899 closed

[2019-04-30 13:41] sgauruseu commented on #3899
I am sorry , browser's  version is  73.0.3683.103 (Official Build) (64-bit)

[2019-04-30 15:29] sgauruseu opened #3901 "Exception in performActions command (WebdriverIO v5)"
I updated my chrome browser(73.0.3683.103), but I got the exception again

Environment:
 - **WebdriverIO version:**  ^5.7.15,
 - **Mode:**  Standalone mode
 - **NPM version:**  5.6.0
 - **Browser name and version:**  Version 73.0.3683.103 (Official Build) (64-bit)
 - **Platform name and version:** Windows 10

this is my code for the right click :
[ await this.browser.performActions([{

[2019-04-30 15:31] naddison commented on #3879
@christian-bromann this is fixed and can be closed.

[2019-04-30 15:32] christian-bromann commented on #3901
As I told you in the other thread Chrome doesn't support that command.

[2019-04-30 15:32] #3901 closed

[2019-04-30 15:32] #3879 closed

[2019-04-30 15:32] christian-bromann commented on #3879
Thanks for fixing this @naddison

[2019-04-30 16:04] christian-bromann opened #3902 "Allow to merge reports of reporters into one report"
**Is your feature request related to a problem? Please describe.**
With the v5 rewrite and some of its architectural changes we can't report one file anymore and instead have a file for all workers.

**Describe the solution you'd like**
Allow to report just one file. This can be done as a service or (which I would prefer) as a native functionality.

**Describe alternatives you've considered**
I do

[2019-04-30 16:51] christian-bromann commented on #3896
@artur-michalak can you please elaborate on what is not working and what do you expect?

[2019-04-30 16:53] christian-bromann commented on #3884
Closing as it seems to be not reproducible.

[2019-04-30 16:53] #3884 closed

[2019-04-30 17:04] christian-bromann commented on #3887
The reason we don't handle errors in hooks is that I wanted to prevent problems and bugs of 3rd party services to ruin the experiences. Every time someone introduces such issue in a 3rd party service that we don't own it will cause people to raise issues here and even if we are able to fix them we won't be able to release the bug fix. I want to be more careful here to ensure that peoples tests run

[2019-04-30 18:34] wswebcreation commented on #3878
@christian-bromann

Are we going to rewrite the capabilities then? Because if there are caps that are not compliant the instance will error out

[2019-04-30 19:52] CrispusDH commented on #3887
@erinev it would be nice if you will create demo repository with example what architecture do you have in tests and show you concerns.

[2019-04-30 20:02] erinev commented on #3887
@christian-bromann thanks for clarification why it is done this way.

@CrispusDH ok i will prepare demo repo and i will add comments with reasoning for our approach and we can disscuss in that repo then.

[2019-04-30 20:33] christian-bromann commented on #3878
I think we should check if the customer has custom sauce options set and set them if not

[2019-05-01 06:49] ademcan opened #3903 "Webdriverio tests are hanging on TravisCI"
I am having some issues when trying to run the tests on travisCI, although everything works fine locally.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.7.15
 - **Mode:** WDIO with Appium
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.2.1
 - **NPM version:** 5.6.0
 - **Browser name and version:** React Native
 - **Platfor

[2019-05-01 12:01] Spinnenzunge commented on #3893
Oh I'm stupid I missed the carret symbol so it just updates patches. Thank you for responding, will update my package-lock.

[2019-05-01 14:38] jorydotcom opened #3904 "Community Invitation to the OpenJS Collaborator Summit + Info"
*Hi all! In an effort to make sure we're fully getting the word out to OpenJS Foundation project communities about the collaborator summit, I'm posting the following message on main or admin repos:*

This year, the Node Collaborator summit is opening up to include and welcome all former JS Foundation projects. The Collaborator summit is a space where projects and working groups within projects hav

[2019-05-01 14:53] ratbeard opened #3905 "Confused different drivers need {get,set}WindowSize() vs {get,set}WindowRect()"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [x] Other

**Description of the improvement / report**

To run some tests against a smaller sized window, I added the follow

[2019-05-01 14:58] AutomationGuru opened #3906 "Mac key - command fails to work"
**Environment (please complete the following information):**
 - **WebdriverIO version:** ^5.7.8
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.12.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 73
 - **Platform name and version:** Mac

**Describe the bug**
Given i try to use Command key on mac i fail to see it workin

[2019-05-01 15:05] christian-bromann commented on #3906
@AutomationGuru do you have a reproducible example?

[2019-05-01 15:30] AutomationGuru commented on #3906
Yep i have updated the bug, its simply using the browser.keys , not sure if you need more information ?

[2019-05-01 15:46] christian-bromann commented on #3906
Do you have a whole testscript I can run?

[2019-05-01 15:58] AutomationGuru commented on #3906
:( unfortunately i dont ... its an internal tool i run the tests against and although i could share the script you will not be able to run it against

[2019-05-01 17:14] christian-bromann commented on #3906
@AutomationGuru can you create an example that is using an arbitrary public app?

[2019-05-01 18:22] JamesGennoy opened #3911 "Incorrect TypeScript definition for shadow$ and shadow$$"
**Environment:**
 - **WebdriverIO version:** 5.8.0
 - **Node.js version:** 10.15.0
 - **NPM version:** 6.4.1
 - **TypeScript version:** 3.4.4

**Describe the bug**
The type definition for the `shadow$` and `shadow$$` functions on `Element` are incorrect.

**To Reproduce**
[code]

**Expected behavior**
The type definitions for `shadow$` and `shadow$$` function on `Element` are:
[code]

The type def

[2019-05-01 21:52] AutomationGuru commented on #3906
Sorry for the delay managed to do that now:
Given i navigate to the website and when i copy a value to clipboard, when i try to paste the same with command button i see it fails to work :

[code]
This was a random website i picked, hope this should be allright ?

[2019-05-01 22:36] SubJunk commented on #3826
Confirmed my issue is still happening in `5.8.1`

[2019-05-02 02:46] tadashi0713 opened #3912 "Introduce Renovate or greenkeeper to make npm dependencies up-to-date"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [x] Other

**Description of the improvement / report**
I believe it`s better to introduce tools such as Renovate or greenkee

[2019-05-02 04:11] tulasirm commented on #3725
@kewgrz thank you so much for the reply

[2019-05-02 13:10] christian-bromann commented on #3725
I updated the applitools service yesterday and got it working, see [this](https://github.com/christian-bromann/webdriverio-hands-on/tree/master/solutions/chapter7) example.

[2019-05-02 17:29] naddison commented on #3902
This is related to https://github.com/webdriverio/webdriverio/issues/3780

[2019-05-02 17:31] naddison commented on #3902
Would it be terrible if we rewrote the reporters to be instantiated like a service?

Or should we include a service per reporter that gets instantiated that merges things? Not all reporters suffer from the multiple results as well. When generating the Allure HTML report it merges the results into one for you on the UI already.

The biggest impacted ones seem to be Junit reporter and some of the co

[2019-05-02 17:33] christian-bromann opened #3914 "Add Webdriver Manager as a service"
**Is your feature request related to a problem? Please describe.**
There is a different driver manager available that is well maintained called [webdriver-manager](https://www.npmjs.com/package/webdriver-manager-replacement). We should offer both as a service.

**Describe the solution you'd like**
Add a `webdriver-manager` as a service.

**Describe alternatives you've considered**
Nome

**Addition

[2019-05-02 17:38] christian-bromann opened #3915 "Make wdio cli tool more powerful"
**Is your feature request related to a problem? Please describe.**
For newcomers it is not straight forward to handle plugins in WebdriverIO. We should make the CLI tool more powerful to make the setup easier.

**Describe the solution you'd like**
Add an `install` command that allows things like:
[code]
it should automatically add the service to the config. If no config in the execution directory

[2019-05-02 17:39] christian-bromann commented on #3878
So imo we should add

[code]
automatically to the capabilities if someone is running tests on Sauce.

[2019-05-02 17:40] BorisOsipov commented on #3902
it is not about file reporters only. If we have to report results to third party http service we have to have onPrepare\onComplete actions in reporter logic

I've done it for my [report portal reporter](https://github.com/BorisOsipov/wdio-reportportal-reporter) - create [specific service](https://github.com/BorisOsipov/wdio-reportportal-service) for onPrepare\onComplete actions.

It isn't complica

[2019-05-02 17:44] naddison commented on #3902
I think reporters should be similar to services.

[2019-05-02 17:44] pmerwin commented on #3878
Agreed, make it seamless for the consumer.

[2019-05-02 17:45] christian-bromann commented on #3902
Reporters should not block anything

[2019-05-02 17:48] naddison commented on #3902
How would they be blocking?

[2019-05-02 17:50] christian-bromann commented on #3902
If you return a promise in a service it blocks the test lifecycle to move forward. I don't have a good solution for this in my head atm but I am thinking about it.

[2019-05-02 17:54] lcharbon opened #3916 "Won't Find Root If React Mounted Asynchronously"
**Environment (please complete the following information):**
 - **WebdriverIO version:** e.g. 5.8.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.15.3
 - **NPM version:** 6.4.1
 - **Browser name and version:**  Chrome  74
 - **Platform name and version:** MacOS 10.14.4
 - **Additional wdio packages used (if applicable):**

**Config of

[2019-05-02 18:01] naddison commented on #3902
Isn't that how v4 was working previously?

[2019-05-02 18:18] christian-bromann opened #3917 "@wdio-sauce-service: set tunnel indentifier in `sauce:options`"
Currently if people use `sauce:options` the `tunnelIdentifier` is set on the global capability level which will cause the test to fail at startup. We should prefer `sauce:options` from the beginning.

[2019-05-02 18:19] christian-bromann commented on #3902
in v4 the reporter was living in the testrunner process (as oppose the worker thread).

[2019-05-02 18:24] wswebcreation commented on #3878
@christian-bromann

No, that will **not** work, we also **need** to adjust the following, see [here](https://wiki.saucelabs.com/display/DOCS/Selenium+W3C+Capabilities+Support+-+Beta)

- Change the capability `platform` to `platformName`
- For testing on Google Chrome browsers, change `browserName: chrome` to `browserName:googlechrome`
- Change the name of the `versions` capability to `browserVersi

[2019-05-02 18:25] naddison commented on #3902
And if we changed it to a service it would live in the test runner process again, not the worker?

[2019-05-02 18:29] wswebcreation commented on #3917
@christian-bromann

This means that we need to deliver all options to the `sauce:options`, otherwise it will not work and the instance will not start, or only move it to the `sauce:options` if they are available

[2019-05-02 18:32] wswebcreation commented on #3914
@christian-bromann

I've been talking to @cnishina about this one, I can pick it up if I have a bit more time, but don't you mean [this](https://www.npmjs.com/package/webdriver-manager) one?

[2019-05-02 18:49] christian-bromann opened #3919 "Watch command doesn't close the sessions properly"
If I run the `--watch` mode and I ctrl+c to end the sessions, it doesn't properly end them.

[2019-05-02 18:50] christian-bromann commented on #3917
yes

[2019-05-02 18:52] christian-bromann commented on #3878
This is where Sauce Labs should jump in. My goal is to make it just work. I don't think many people test __purposely__ on non w3c browser anymore.

[2019-05-02 18:58] wswebcreation commented on #3878
Does that mean that WebdriverIO will also change the rest of the capabilities?

[2019-05-02 20:03] christian-bromann commented on #3878
I actually don't know. I don't believe it is fixed anytime soon on the Sauce side so I believe maybe moving it into the sauce service would make most sense 🤷‍♂ ?

[2019-05-02 20:51] cnishina commented on #3914
I replaced cnishina/webdriver-manager-replacement to be angular/webdriver-manager. Some status updates on this: I have a few PRs in flight that will need to be merged in before I get a release out. There were a few issues this week with chromedriver 75 being released and everyone being on the newly released chrome 74.

Let me ping you when I get 13.0.1-beta.1 released.

Also, let me know what I ca

[2019-05-03 02:44] jdavis61 commented on #3387
I think describing how events are emitted and processed would increase the technical nature of any WebdriverIO flowcharts. For example the @wdio/cli flowchart would explain how the launcher.js message, error and exit listeners interact with the WebdriverIO ecosystem.

lines 296 - 312 launcher.js
[code]
I will create another @wdio/cli flowchart, this time that includes events and post here for revi

[2019-05-03 08:38] sanjeethgwd opened #3920 "chooseFile API removed from v5.x.x"
* What was the reason to remove the support for chooseFile api in v5?
* Would there be any chance to include the support in future to v5?

From change logs

**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. v5.x.x]

[2019-05-03 08:39] sanjeethgwd commented on #3920
@hardikdiyora FYI

[2019-05-03 09:22] pactera-testing-PanRenping opened #3921 "How to click the element under other element with "display: contents" property of CSS3"
Hi all,
I can see an element in the page with my eyes.
I want to click this element and invoke click() function.
But there is an error:

I am confused, **I found its parent element has "display: contents" property**, I guess this is root cause.

Please help me, how can I click such element?

[2019-05-03 09:34] wswebcreation commented on #3921
Please ask these type of questions on our gitter channel

<a href="https://gitter.im/webdriverio/webdriverio">
        <img alt="Gitter" src="https://badges.gitter.im/webdriverio/webdriverio.svg">
    </a>

[2019-05-03 09:34] #3921 closed

[2019-05-03 15:04] christian-bromann commented on #3920
Duplicate of #3632

[2019-05-03 15:04] #3920 closed

[2019-05-03 15:05] erinev opened #3923 "beforeSuite hooks is not working as expected"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.8.1]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [10.15.0]
 - **NPM version:** [6.4.1]
 - **Browser name and version:** [Chrome 74]
 - **Platform name and version:** [Windows 10]
 - **Additional wdio packages used (if applicable):** [@wdio/cli