[2019-01-25 18:08] mgrybyk commented on #3424
Do you know what commands requires w3c mode?

I see that one day setValue was working until it was changed here https://github.com/webdriverio/webdriverio/commit/e6bd400dcdcd327f044a654b9c521af7b7c36936  to make it work with webdriver

[2019-01-25 18:18] abjerstedt commented on #3426
Again - If this is OPTIONAL feature, I'm not opposed to it. If the problem is specifically with 'request', we can look into 'node-fetch' or 'isomorphic-fetch'.

If this becomes a core change (running requests in a browser), I can with absolute certainty tell you that my company will abandon webdriverio, as will almost all financial institutions.

Also: the assumption that this isn't supposed to be

[2019-01-25 18:18] jlipps commented on #3426
It opens up lots of possibilities, like web apps that can run Appium tests, etc... Of course one should always be careful not to run proprietary test code on an untrusted website.

And yes, this is an optional, marginal use case. There would be no plan to change the default (node) execution or expose the default execution to a browser context.

[2019-01-25 18:52] christian-bromann commented on #3130
I think we can close this. I can't identify an issue with WebdriverIO here.

[2019-01-25 18:52] #3130 closed

[2019-01-25 19:16] nami-varthakavi commented on #3424
The setValue command expects a certain type of string I believe the change @mgrybyk mentioned in his previous command could be the reason why it is throwing an error. Earlier in V4, whatever the protocol be the value was parsed and transformed to an array of characters .

[2019-01-25 19:41] mgrybyk commented on #3424
@jlipps chromedriver itself is non w3c compliant, so in case I'm using webview im my app which is controlled by chromedriver via appium, it is an expected behavior that commands should be  jsonwp.

How is it better to deal with that? Ideally I'd like to be able to switch protocol from w3c to jsonwp and back during test execution.

That would resolve this issue as well. Changes to isW3C or Protocol

[2019-01-25 20:15] christian-bromann commented on #3424
I think this is handled by Appium proxying W3C calls into Chrome as JSONWP request

[2019-01-25 20:33] mgrybyk commented on #3424
anyway it would be nice to workaround all these somehow.
Let's say be able to set isW3C manually or something...

[2019-01-25 20:56] jlipps commented on #3424
@mgrybyk if you want, you can use appium's `forceMjsonwp` capability to make sure that the entire appium session uses jsonwp. that should force the initial new session response to be jsonwp, and should trigger wdio to use jsonwp mode as well?

[2019-01-25 21:00] abjerstedt commented on #2307
@chrishyle I just dealt with this EXACT question yesterday in a training session with my devs; and I think you are overthinking this.

We offer addCommand as a feature, and its ridiculously easy to implement your own waitForInvisible(), waitForNotVisible(), or whatever you want to name it.
browser.addCommand('waitForInvisible', function (timeout, message) { this.waitForDisplayed(timeout,true,messa

[2019-01-25 21:12] mgrybyk commented on #3424
I've just double checked, the only command that differs is
`/session/:sessionId/element/:elementId/value`

[2019-01-25 21:13] mgrybyk commented on #3424
well, actually also:
[code]
but I'm not sure it is really a problem

[2019-01-25 21:17] jlipps commented on #3424
@christian-bromann I looked for the Appium issue that describes this problem but couldn't. But yes, it is something Appium can/should fix. Since Appium is the proxy between the client and chromedriver, it's Appium's job to ensure the proxy is protocol-aware.

[2019-01-25 21:21] mgrybyk commented on #3424
1. should I submit this issue?
2. don't you mind if we apply a temporary workaround for this in wdio?

[2019-01-25 21:21] nami-varthakavi commented on #3424
probably.

[2019-01-25 21:34] mgrybyk commented on #3424
forceMjsonwp doesn't work for me.

[2019-01-25 21:43] christian-bromann commented on #3424
I would prefer to take the problem at its roots, make a PR to Appium with a fix and have the Appium team make a release.

[2019-01-25 21:44] mgrybyk commented on #3424
ok then, I'll submit a ticket to Appium and create a temporary workaround as well

[2019-01-25 22:18] chrishyle commented on #2307
@abjerstedt thanks for the quick response! It would definitely not be the first time I over-thought something, but even so, I'm not sure that makes me wrong about this. =P

Implicit in your response is: "you're right, this does come up all the time" – so I think we agree that it is very common, and maybe we even agree that the magic boolean is a *bad* solution. The real answer you have for this pr

[2019-01-25 22:32] bsansouci opened #3429 "browser.getWindowRect is undefined in version 5.4.3"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.3
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 8.11.2
 - **NPM version:** 5.6.0
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** macOS Mojave 10.14.2
 - **Additional wdio packages used (if applicable):** @wdio/spec-repo

[2019-01-25 22:36] abjerstedt commented on #3429
Chrome is not running the webdriver API yet, its still running json web protocol.
The command you SHOULD be using for chrome is:
https://webdriver.io/docs/api/jsonwp.html#getwindowsize

[2019-01-25 22:36] #3429 closed

[2019-01-25 22:43] christian-bromann commented on #3029
This issue was moved to webdriverio-boneyard/v4#11

[2019-01-25 22:43] #3029 closed

[2019-01-25 22:43] christian-bromann commented on #3027
This issue was moved to webdriverio-boneyard/v4#12

[2019-01-25 22:43] #3027 closed

[2019-01-25 22:43] christian-bromann commented on #1795
This issue was moved to webdriverio-boneyard/v4#13

[2019-01-25 22:43] #1795 closed

[2019-01-25 22:43] christian-bromann commented on #2726
This issue was moved to webdriverio-boneyard/v4#14

[2019-01-25 22:43] #2726 closed

[2019-01-25 22:44] christian-bromann commented on #2529
This issue was moved to webdriverio-boneyard/v4#15

[2019-01-25 22:44] #2529 closed

[2019-01-25 22:44] christian-bromann commented on #2974
This issue was moved to webdriverio-boneyard/v4#16

[2019-01-25 22:44] #2974 closed

[2019-01-25 22:44] christian-bromann commented on #3307
Closing due to inactivity

[2019-01-25 22:44] #3307 closed

[2019-01-25 22:44] jedwards1211 commented on #2307
Even the word "reverse" in the API docs is not ideal... it should be "opposite" since "what is the opposite of visible" is more idiomatic than "what is the reverse of visible".

[2019-01-25 22:47] bsansouci commented on #3429
Thanks for the quick response. Just confirmed that this works.
Looking at the [status page](https://chromium.googlesource.com/chromium/src/+/master/docs/chromedriver_status.md) of chromedriver, `getWindowRect` should be implemented in the latest version (2.45 is the version we're using, which is the latest).

[2019-01-25 22:49] abjerstedt commented on #2307
I think addCommand() is considered an accepted feature of webdriverio at this point; and possibly even more accepted in v5 than v4 as the whole logic behind it was rebuilt.

@jedwards1211 how would you feel about going with the chai terminology and call it negate?

[2019-01-25 23:08] chrishyle commented on #2307
Ya, naming is maybe weird: waitFor**Not**Exist, waitFor**Not**Displayed, etc. would be more consistent, but less well-formed English. I think I'd slightly favor consistency over grammar. 🤷‍♂️

A functional approach might also be an option:

[code]

I think this would still be slightly better than the magic boolean because the intent is more clear when reading it, but I think is would be an unfamil

[2019-01-26 00:19] wswebcreation opened #3431 "isExisting fails on the RDC cloud of Sauce Labs"
**Environment (please complete the following information):**
 - **WebdriverIO version:** `^5.3.0`
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** `8.12.0`
 - **NPM version:** `6.4.1`
 - **Browser name and version:** Native app
 - **Platform name and version:** Android

**Config of WebdriverIO**
The Config file for android can be found [here]

[2019-01-26 05:38] jedwards1211 commented on #2307
@abjerstedt I'm used to Chai looking like `expect(x).not.to.be(2)`, do they use `negate` anywhere in their API or just in the docs?

I'd prefer either @chrishyle's suggestion or getting rid of everything but `waitUntil` and letting the user use `!` in their `waitUntil` condition.

[2019-01-26 08:09] erwinheitzman opened #3434 "findStrategy doesn't support custom elements"
Currently the findStrategy supports finding elements by their content or partial content like so:
`h1=Example`
`h1*=Example`

However when a custom element is used, the findStrategy fails like so:
`custom-element=Example`
`custom-element*=Example`

[2019-01-26 16:35] #3434 closed

[2019-01-26 23:29] szemek opened #3437 "Noise in logs"
I went through "Getting started" tutorial https://webdriver.io/docs/gettingstarted.html and I prepared new project.

**Environment:**
 - **WebdriverIO version:** 5.4.7
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.0
 - **NPM version:** 6.4.1
 - **Installed packages in package.json:**
[code]

I was changing `logLevel` to different val

[2019-01-27 06:03] augustminhvo opened #3439 "ReferenceError: browser is not defined when i run first test"
I have create a sample script, but it can't open chrome browser, so confusing about this issue, i stuck in 7 days, i was try a lot of solution in github or stackoverflow but i cant help so much

 - **Node.js version:** 10.15.0
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** Windows 8.1

Here is my file
package.json
[code]

test.conf.js
[code]

openPage.js
[code]

When

[2019-01-27 14:37] usmonster commented on #2780
Hello! FYI, this was a breaking change (see [my comment](https://github.com/webdriverio-boneyard/v4/pull/5#issuecomment-457920526)).

[2019-01-27 19:47] Soumya1987 commented on #3256
I encountered the same error message when I had created wdio.conf.js in node_modules\.bin and later removed the same to my project directory. Later it got resolved when I could successfully create wdio.conf.js directly in my project directory using the following commands:
Linux - $ ./node_modules/.bin/wdio config
Windows - .\node_modules\.bin\wdio config

Refer to the below page for details:
https

[2019-01-28 11:37] xlenz commented on #3437
Most likely no, there are lots of problems with logs:
1. same out duplicating multiple times
2. you can't turn on/off or configure particular logger

I'll submit feature request for point 2, however point number 1 is the most painful.

@szemek situation is somewhat better on version 5.4.5, looks like some recent logger changes increased duplication even more.
Also try play around with adding/remov

[2019-01-28 12:41] xlenz opened #3440 "Be able to configure / disable particular logger"
**Is your feature request related to a problem? Please describe.**
There is no way to enable/disable or configure specific logger.

Example: it is not possible to disable one of or all driver logs.

**Describe the solution you'd like**
it should be possible to do something like:
[code]
**Describe alternatives you've considered**
be able to enable / disable particular logger at least somehow

[2019-01-28 13:00] xlenz commented on #3437
here is how log looks like https://gist.github.com/xlenz/eae57c9d097199ce7feafb4683ddce4d

[2019-01-28 15:18] christian-bromann commented on #3437
@szemek can you provide more details? Are you running stuff on CI or in your terminal?

[2019-01-28 15:20] christian-bromann commented on #3440
I would not want to introduce a new `logger` option for this but I agree that it would be helpful to disable log types.

[2019-01-28 16:14] szemek commented on #3437
@christian-bromann I run those tests in my terminal (iTerm 2, macOS 10.13).

[2019-01-28 16:15] christian-bromann commented on #3437
Have you tried with the latest version? We recently made some fixes with the interface.

[2019-01-28 16:22] szemek commented on #3437
@christian-bromann do you mean `master`? because I checked it on the latest 5.4.7

[2019-01-28 18:19] joaojesusri opened #3441 "isDisplayed() and isExisting() throw error when they should return true/false"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-01-28 18:43] abjerstedt commented on #3441
@christian-bromann I think this is a legit issue. Apparently Appium isn't handling isDisplayed/ isExisting correctly at the moment. However, that being said - i think this is a duplicate of https://github.com/webdriverio/webdriverio/issues/3431.

[2019-01-28 19:21] nami-varthakavi opened #3442 "Allure throws an error for Multi-remote tests"
If you choose your reporter as `allure` i.e `reporters: ['spec', 'allure' ]` for a Multi-remote test, the allure-reporter package throws an error.

[code]

This above error happens for any simple Multi-remote test like

[code]

[2019-01-28 19:56] jlipps commented on #3424
the fix has been implemented on the appium side, so the wdio workaround is only necessary if using older versions of appium (older than the current beta, i mean).

[2019-01-28 20:34] mgrybyk commented on #3424
Yeah, just saw it.
I'll do some testing around.

[2019-01-28 20:35] mgrybyk commented on #3440
Shall I do a PR for this?

[2019-01-28 20:47] pmerwin opened #3443 "Firefox test fail over sauce labs with vs 5 when calling setValue()"
sauce-service and wdio

**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.4.3]
 - **Mode:** [testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [8.10]
 - **NPM version:** [6.5.0]
 - **Browser name and version:** [ff vs 64]
 - **Platform name and version:** [osx or win 10]
 - **Additional wdio packages used (if applica

[2019-01-28 21:12] pmerwin commented on #3443
We think this is because sauce is using a very old version of selenium, looking for a way to make that a newer version now

[2019-01-28 21:18] pmerwin commented on #3443
happens with newer selnium too:

12:58:12.579 INFO - Selenium build info: version: '3.9.1', revision: '63f7b50'
12:58:12.581 INFO - Launching a standalone Selenium Server on port 4443
2019-01-28 12:58:13.048:INFO::main: Logging initialized @1257ms to org.seleniumhq.jetty9.util.log.StdErrLog
2019-01-28 12:58:13.236:INFO:osjs.Server:main: jetty-9.4.7.v20170914, build timestamp: 2017-11-21T13:27:37-0

[2019-01-28 21:40] mgrybyk commented on #3443
may it be the same issue that command is sent in W3C way but saucelabs expects jsonwp.

We can find it out if it is possible to run same test in chrome instead of firefox. If chrome passes (isW3C is false when using chrome) then it is most likely the same issue

[2019-01-28 21:49] pmerwin commented on #3443
Yep chrome is fine, and selenium version is not making a difference....

[log.json.log](https://github.com/webdriverio/webdriverio/files/2805099/log.json.log)

[2019-01-28 21:55] mgrybyk commented on #3443
I can see
[code]
maybe value with string array is expected

[2019-01-28 22:01] pmerwin commented on #3443
I fixed it by doing this:

[code]

[2019-01-28 22:05] mgrybyk commented on #3443
@pmerwin setting selenium version to 3.11.0 helped? Why this version?

[2019-01-28 23:37] pmerwin commented on #3443
Yeah sauce was loading 3.40 of selenium server, I found a way to make it load the 3.11 and that fixed the issue

[2019-01-29 00:06] SuchitraK commented on #1695
Even I am looking for this feature

[2019-01-29 00:14] mgrybyk opened #3445 "addCommand to element doesn't work in multiremote mode"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.7
 - **Mode:** multiremote

**Config of WebdriverIO**
[code]

**Describe the bug**
wdio crashes on addCommand to element in multiremote mode

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
addCommand(cmd, function, attachToElement) should work in multiremote mode

**Log**

[2019-01-29 07:58] sipayRT opened #3447 "Tests does not fail on not called method in async mode"
**Environment:**
 - **WebdriverIO version: 4.14.1|5.4.7 (both)**
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async: async**
 - **Node.js version: 8.6.0**
 - **NPM version: 6.2.0**
 - **Browser name and version: Chrome 71**
 - **Platform name and version: MacOS Mojave (10.14.2)**
 - **Additional wdio packages used (if applicable):
    - @wdio/local-runner
    - @wdio/mocha-fr

[2019-01-29 09:39] AlekseyAlready opened #3448 "Error appears undefined 'then' in Timer.js file"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-01-29 09:41] xlenz opened #3449 "Ability to add custom command without promisifying it"
**Is your feature request related to a problem? Please describe.**

I want to add sync commands like isMobileApp, isMobileWeb, etc and use them in class constructors or similar, without resolving them as promises

**Describe the solution you'd like**

add additional argument promisify = true to
`browser.addCommand(name, function, attachToElement = false, promisify = true)`

**Describe alternatives

[2019-01-29 09:45] xlenz commented on #3448
can you provide with the way to reproduce it?

[2019-01-29 10:44] joaojesusri commented on #3441
Thanks guys. I will check #3431.
Any recommendations on a workaround for now?

[2019-01-29 11:54] mgrybyk commented on #3449
Can do PR if needed for whatever approach is chosen or suggested

[2019-01-29 14:36] carlos-gva commented on #3437
@szemek Did you also update the related packages?

[2019-01-29 15:49] szemek commented on #3437
`npm update` doesn't change anything. `npm outdated` returns nothing.

Here's `package-lock.json`
<details>

[code]
</details>

[2019-01-29 15:55] baev opened #3450 "[Allure] Add possibility to remove attachments from passed tests"
**Is your feature request related to a problem? Please describe.**

From https://github.com/allure-framework/allure2/issues/877

**Describe the solution you'd like**

Having a new option that will allow users to delete attachments from passed tests. Optionally you can only delete attachment files (then report will display attachment without content) or delete link from test case as well.

**Descri

[2019-01-29 16:17] wswebcreation opened #3451 "Feature request: add SL RDC option to the config"
**Is your feature request related to a problem? Please describe.**
Currently we use the `@wdio/config` package to determine the proper hostname for the EU/US DC VM-cloud. WDIO doesn't have a option to preselect the SL RDC urls.
We currently also don't have a proper way for the `@wdio/sauce-service` to check which url and data is needed to start a SC-tunnel for the RDC. Having a SL RDC option would

[2019-01-29 16:20] christian-bromann commented on #3424
Thanks @jlipps for the quick fix. Closing.

[2019-01-29 16:20] #3424 closed

[2019-01-29 16:22] #3442 closed

[2019-01-29 16:35] christian-bromann commented on #3449
You can just assign it directly to the browser like

[code]

This should do the trick. Until there is a need to use this flag internally in commands or whatever I don't see a need for this.

[2019-01-29 16:35] #3449 closed

[2019-01-29 17:03] christian-bromann commented on #3256
I can't reproduce this issue and I think it is related to the fact that people have downloaded incompatible versions.

[2019-01-29 17:42] nami-varthakavi commented on #1695
Hi @SuchitraK can you message me in the gitter, I can probably help you.

[2019-01-29 18:44] christian-bromann commented on #3387
I love this flow chart. Some things I've seen that could be changed:

- correct package names (e.g. @wdio-runner -> @wdio/runner and others)
- in `@wdio-runner index.js run()` we could add _"fetches logs from driver and writes reporter result files"_
- `@wdio/jasmine-framework` has no dependency to `@wdio/cli`
- you can leave out `@wdio/lambda-runner` for now until it becomes a "thing"

This is a

[2019-01-29 18:53] wswebcreation commented on #3451
@christian-bromann
 I was looking into that but as far I could see we are not able to to determine that based on the capabilities, because they are not available there. But correct me if I'm wrong and if I'm checking the wrong files.

If we have access to the capabilities, we can check if we have the 'testobject_api_key', if so we can use the region and determine the correct url

[2019-01-29 19:05] mgrybyk commented on #3449
Stupid me, thanks

[2019-01-29 19:13] mgrybyk commented on #3450
@baev maybe I've missed something, why don't you capture screenshots of failed tests only? Isn't it easier than capturing and then deleting?

[2019-01-29 19:26] mgrybyk commented on #3404
Oops, seems I missed this one, will do it soon

[2019-01-29 19:26] baev commented on #3450
As far as I know they are using *webdriver steps reporting* feature, and have a huge amount of `Request`/`Response` attachments generated. And actually this attachments only needed for failed tests

[2019-01-29 19:32] BorisOsipov commented on #3450
@baev actually this `Request/Respons` a bit useless and I don't know why people collect them.

[2019-01-29 19:35] BorisOsipov commented on #3450
In fact I don't like mess wdio reporter and such removing files feature. It must be separate script\service

[2019-01-29 19:41] baev commented on #3450
I don't like this feature either, but in general users like to create attachments for each step and we actually had such feature for Allure 1 Java integrations. What for Allure 2 Java integrations we have an extension points where you can update results.

[2019-01-29 20:13] christian-bromann commented on #3404
thanks

[2019-01-29 21:57] mgrybyk commented on #3404
@christian-bromann  I see that https://github.com/webdriverio/webdriverio/blob/master/docs/TypeScript.md is up to date however https://webdriver.io/docs/typescript.html is not.

[2019-01-29 22:40] christian-bromann commented on #3404
Please check again, website deploy is not automated yet (see https://github.com/webdriverio/webdriverio/issues/3053)

[2019-01-29 22:41] krishna596 opened #3454 "Error 500 java.lang.IllegalArgumentException: No enum constant org.openqa.selenium.Platform.macOS 10.12"
**Describe your question with as much detail as possible**
The issue is coming when i run script in my localhost. if i use sauce service it's working fine.

**If it's about a specific piece of code, try and include some of it to support your question.**

[16:26:05]  COMMAND	POST 	 "/wd/hub/session"
[16:26:05]  DATA		{"desiredCapabilities":{"javascriptEnabled":true,"locationContextEnabled":true,"ha

[2019-01-29 22:43] christian-bromann commented on #3454
Please provide all available wdio logs otherwise this is impossible to look into it.

[2019-01-29 22:43] mgrybyk commented on #3404
Thank you, closing

[2019-01-29 22:43] #3404 closed

[2019-01-29 22:46] #3454 closed

[2019-01-29 23:13] caoxu2000 commented on #3454
@krishna596 try w/o space in your platform something like 'mac10.12'

[2019-01-30 06:18] fergadipa commented on #1316
Hi @dguzmanSM , have you published the example? I also need it, because so far I only able to open the native app, I also need other functionalities. Very appreciate for your example

[2019-01-30 06:21] wswebcreation commented on #1316
@fergadipa

You can find more info at https://github.com/webdriverio/appium-boilerplate, also regarding a testapp

[2019-01-30 11:10] xlenz opened #3455 "Chain after waitForExist and waitForDisplayed"
**Is your feature request related to a problem? Please describe.**
I want to be able to chain after waiting for element
[code]

**Describe the solution you'd like**
await for waitUntil in waitForExist and waitForDisplayed functions and return elementInstance

**Describe alternatives you've considered**
close this feature request in case it is not helpful / usage is invalid or suggest your version

[2019-01-30 11:11] LayMuiToh opened #3456 "unable to use applitool services with webdriverio v.4.14.1"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:**

[2019-01-30 11:51] xlenz opened #3457 "missing typings for wdio-allure-reporter"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.7
 - **Additional wdio packages used (if applicable):** @wdio/allure-reporter 5.4.4
- using TypeScript

**Describe the bug**
`import { addFeature } from "@wdio/allure-reporter"`
getting error
`"Could not find a declaration file for module '@wdio/allure-reporter'. '@wdio/allure-reporter/build/index.js' impl

[2019-01-30 12:19] ml497 opened #3458 "Devtools Service - Couldn't connect to chrome (Remote Device)"
Hi, I've been trying to get devtools-service working with some remote devices on testobject.  I've followed the instructions in the readme, but it seems I am still missing something.  The error that I get specifically is this:

`wdio-devtools-service:
Couldn't connect to chrome: TypeError: Cannot read property '1' of null
    at findCDPInterface (/Users/matthias.lenz/IdeaProjects/mocha-js-example/

[2019-01-30 12:21] maurocolella opened #3459 "browser.url does not update history state with react-router / cordova"
I am trying to use `browser.url(`${baseUrl}${path}`);` with React in a Cordova application.

In my desktop browser, changing the location updates routes and state as expected. The test suite is run with appium, and while the url itself is changed (I can waitUntil for it, test it), the change doesn't seem to reflect on the state of react-router.

**Environment:**
 - **WebdriverIO version:** `^4.14.

[2019-01-30 12:35] maurocolella commented on #3459
Apologies. I found this:
https://webdriver.io/docs/api/browser/debug.html

And seem to have sorted issues out. In my case, due to an incorrect base url.

[2019-01-30 12:42] maurocolella commented on #3459
Actually:

urls are reported as `file:///`.

But if I try to explicitly set a url using this format, it doesn't load. I get a 404 and tests fail.

[2019-01-30 14:10] xlenz commented on #3457
can do this one

[2019-01-30 14:34] osmolyar opened #3460 "'Socket hang up' errors started occurring consistently (but intermittently on different tests/steps) after 8-11 sceanarios in a wdio-cucumber-framework feature file"
The following 'socket hang up' error occurs on different steps starting on the 8th to 11th scenario in a given feature file, where the previous scenarios, usually with the same sequence of steps as the failing one, run fine.  Up until last November, all were running fine and passing, for ~1yr.

The subsequent  4 tests also fail with 'socket hang up', while the following few tests will fail with er

[2019-01-30 17:49] christian-bromann commented on #3455
Thanks for making the request @xlenz .. I deliberately moved away from chaining commands because it created confusion around which commands are chainable and which not. I don't see a value add from being able to do:
[code]
instead of
[code]

[2019-01-30 17:49] #3455 closed

[2019-01-30 17:53] christian-bromann commented on #3456
Can you provide driver logs?

[2019-01-30 17:57] #3457 closed

[2019-01-30 18:03] christian-bromann commented on #3460
Can you try with the latest WebdriverIO version? Also could you provide all logs that are available to you?

[2019-01-30 18:07] christian-bromann commented on #3459
What do you mean by that?

I don't really see a problem in WebdriverIO here. It can only send request to the driver to change the url but if the driver is not capable to do that the bug needs to be reported there.

[2019-01-30 18:07] #3459 closed

[2019-01-30 18:12] christian-bromann commented on #3458
This service only works if you run tests locally on your machine meaning that you use a Chrome browser that is installed on your machine. I am working extending the WebDriver protocol to allow using the browsers devtools interface but it will take a little bit more until I can release something.

[2019-01-30 18:12] #3458 closed

[2019-01-30 18:31] hborawski opened #3462 "Commands attempting to run again"
**Describe your question with as much detail as possible**
I'm running into an issue where some commands are attempted to be rerun after the last command has been sent and completed. This results in a test failure as it can't click the element since the page has long since transitioned. The click is preceded by waiting for visibility, but that command doesn't seem to be rerun.

When this issue occ

[2019-01-30 19:00] osmolyar commented on #3460
Just installed latest webdriverio and wdio globally, and now 'wdio is not recognized' despite deleting, reinstalling, etc. (Someone else just ran into the same issue as well after installing these.)

[2019-01-30 19:04] abjerstedt commented on #3460
@osmolyar just to clarify - you didn't install v5 did you? V5 does NOT support cucumber yet.

[2019-01-30 19:05] osmolyar commented on #3460
you mean webdriverio v5?

Binary is fine; exiting
+ webdriverio@5.4.8
+ wdio@3.0.0

[2019-01-30 19:11] osmolyar commented on #3460
Ok, got it,

+ webdriverio@4.14.2

and now wdio works.  Will update further.

[2019-01-30 19:12] abjerstedt commented on #3460
@osmolyar wdio is completely usable in v5... your npm script is just broken (hence the reason it says its not found).

But again, v5 doesn't currently support cucumber.

[2019-01-30 19:17] osmolyar commented on #3460
ok, thank you, it seems to be running now (and wdio batch script appeared under npm/ upon installing webdriverio@4)

[2019-01-30 19:21] osmolyar commented on #3460
Hi, sorry for the confusion.  I just meant that wdio is now runnable, not that the original issue is resolved.

[2019-01-30 19:23] abjerstedt commented on #3462
@hborawski based on the information you provided, you are encountered an asynch race condition, which has nothing to do with webdriverio itself, but instead with your tests. I'm going to go ahead and close this issue.

Feel free to reach out for further assistance in our gitter channel for further help:
https://gitter.im/webdriverio/webdriverio

[2019-01-30 19:23] #3462 closed

[2019-01-30 19:37] BorisOsipov commented on #3460
@osmolyar in issue you wrote

but in log `Starting ChromeDriver 2.43.600210`

try to update chromedriver. it may help.

[2019-01-30 20:32] osmolyar commented on #3460
After making sure selenium-standalone was starting with chromedriver 2.45, the 'socket hang up' still occurred but an error like the above didn't occur in the selenium-standalone output, in which all Start session entries look like

}
15:15:11.223 INFO [ActiveSessionFactory.lambda$apply$11] - Matched factory org.openqa.selenium.grid.session.remote.ServicedSession$Factory (provider: org.openqa.sele

[2019-01-30 20:41] abjerstedt commented on #3460
You aren't actually passing ANY chromeOptions to chromedriver at the moment; and you should be treating the output as such.

chromeOptions is no longer the correct object name, and you need to pass 'goog:chromeOptions' instead.

[2019-01-30 20:56] osmolyar commented on #3460
Thanks; updated.  Still the same behavior though - when the issue occurs, the log shows 3 new instances of 'Started a new session', but without the subsequent ActiveSessions:onStop and ActiveSessionFactoryApply messages for the first two, and two empty browser windows are opened and not closed.

15:51:43.809 INFO [ActiveSessionFactory.lambda$apply$11] - Matched factory org.openqa.selenium.grid.ses

[2019-01-30 21:04] osmolyar commented on #3460
Code to reproduce the issue, temporarily attached.  Run 'wdio testConfig/wdio.local.config.js --suite users' to reproduce.  Not 100% sure it will work without having an application to hit, though. (checking)
[CodeToReproduceSocketHangUp.zip](https://github.com/webdriverio/webdriverio/files/2814422/CodeToReproduceSocketHangUp.zip)

[2019-01-30 22:58] burg commented on #2173
My understanding is that you need to be using Selenium Server >= 3.8.0.

[2019-01-31 00:29] christian-bromann opened #3466 "Lost logging data when printing to much at once"
When the interface prints all the logs at the end of the test in can happen (e.g. in Jenkins) that the node process ends before everything was printed resulting in missing some logs like stdout or worker errors.

[2019-01-31 00:49] LayMuiToh commented on #3456
https://ghe.exm-platform.com/gist/laymui-toh/b85479c7326395ebfa4080b11b7127a4

[2019-01-31 03:16] hborawski commented on #3462
@abjerstedt Thanks for taking a look. I do have some outstanding questions, but I'd like to discuss them here, so all the info is in one place, should someone else run into a similar issue and find this thread.

1. How does a race condition occur when the test consists of a single promise chain?
  a. And if the promise chain consists of only webdriverio commands, what makes it not an issue with we

[2019-01-31 05:06] maurocolella commented on #3459
@christian-bromann what I mean is: on Cordova for Android, all urls are relative to
`file:///android_asset/www`

Which causes errors of the type:
`"Cannot navigate to invalid URL"`

For documentation purposes, I believe it's related to:
https://github.com/ReactTraining/react-router/issues/2161

So, indeed, possibly a driver issue, and a workaround is to use `HashHistory` for Cordova.

[2019-01-31 07:16] sipayRT commented on #3447
yes, and as I know in wdio it's not clear promises, but some custom realization. And it reproduced in v4 too

[2019-01-31 10:07] Adasko44 commented on #3324
I have the same issue using the selenium-standalone. Does anyone have a workaround to send value to the input until this issue will be resolved?

[2019-01-31 11:10] smarigowda commented on #1000
Using Webdriver IO for the past 2 years. Excellent product, keep it up.

[2019-01-31 11:56] avshub opened #3471 "TypeError: client.contexts is not a function"
I am trying to automate a hybrid app with Webview using **Cucumber js, webdriverio, and Appium**.

Below is the code for the step definition in javascript file.

    `var webdriverio = require('webdriverio');
	var config = require('./helpers/desiredCapabilities').options;
	var client = webdriverio.remote(config);
	const {Given, Then, When} = require('cucumber');

	Given('I launch app', function ()

[2019-01-31 12:18] mgrybyk commented on #3471
There ia no contexts method in wdio 5, please see braking changes in changelog. Use getContext(s) instead.

[2019-01-31 13:18] carlos-gva commented on #3437
I updated now to the latest versions and I can reproduce it too.

Now, on my terminal, there are several duplicated lines.

In my case I'm using Jasmine with spec reporter.

[2019-01-31 13:36] carlos-gva commented on #3437
After a few tries, I see that this started to happen on versions **5.4.6**.

On the versions immediately before this one, it worked.

[2019-01-31 14:08] balukov opened #3472 "browser.close() instead browser.closeWindow()"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [x] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**

1. https://webdriver.io/docs/api/browser/newWindow.html
2. `browser.

[2019-01-31 14:40] abjerstedt commented on #3472
Feel free to submit a PR!

[2019-01-31 16:24] christian-bromann commented on #3462
@hborawski can you provide logs or a minimal reproducible example for us to reproduce?

[2019-01-31 16:54] osmolyar commented on #3460
Confirming that the code in the currently attached zip file above (updated) amply reproduces the issue by running

wdio testConfig/wdio.local.config.js --suite namespace

or one of the above commands, even while failing at the first step of every TC (since the url doesn't exist).

[2019-01-31 17:05] osmolyar commented on #3460
The zip file attached above (updated) does reproduce the same behavior with multiple blank chrome browsers being opened and not closed for random test cases, (looks like screenshot here)
![image](https://user-images.githubusercontent.com/15637471/52070692-62199a80-254f-11e9-8a97-8e3f944fb406.png),

 and the selenium-standlaone log concurrently outputs the same  output as seen yesterday concurrentl

[2019-01-31 17:34] nami-varthakavi commented on #3389
Can you also update `outputDir` in config file(https://webdriver.io/docs/options.html#outputdir) also to incorporate the same idea?

[2019-01-31 19:21] dalenguyen opened #3473 "Wrong CSSProperty Type in Webdriverio.d.ts"
There is a typo that I found in webdriverio.d.ts.

The current version is:

[code]

I should be:

[code]

Please help to check. Thanks,

Webdriverio: ^5.4.9

[2019-01-31 19:36] christian-bromann commented on #3473
@dalenguyen please make a PR with a change here: https://github.com/webdriverio/webdriverio/blob/master/scripts/templates/webdriverio.tpl.d.ts#L48

[2019-01-31 19:58] dalenguyen commented on #3473
Thanks @christian-bromann. I made a PR here: https://github.com/webdriverio/webdriverio/pull/3474

[2019-01-31 21:09] osmolyar commented on #3460
After enabling debug on selenium-standalone and verbose logging on wdio:

selenium-standalone log looks the same as yesterday after upgrading driver (back to back 'Started new session' messages; no initial 'java.lang.IllegalStateException: Committed' trace from chromedriver:

Starting ChromeDriver 2.45.615291 (ec3682e3c9061c10f26ea9e5cdcf3c53f3f74387) on port 13302
Only local connections are allow

[2019-01-31 21:54] osmolyar commented on #3460
Got some additional logging from selenium-server.jar with logging set to ALL - I have caught the following log output multiple times concurrent with just when the empty browser/Socket hung up error occurs - it spits out a SessionId with a VERY long 'value'.   Here are two instances of it, attached,
[selenium-standalone error output1.txt](https://github.com/webdriverio/webdriverio/files/2819177/sel

[2019-02-01 04:50] cvchalla opened #3475 "getText of browser is throwing { state: 'pending' } error while using it inside a promise"
Hello - I am new to wdio.

I am trying to automate a scenario - where I connect to a rest API - which is a promise

1) call the function - which returns a promise that contains the service response.
2) While I loop through the service I retrieve certain values from the service, and trying to compare the corresponding browser text.

Now the problem is - I am getting the right service details - and

[2019-02-01 04:57] christian-bromann commented on #3475
Please use the [`call`](https://webdriver.io/docs/api/browser/call.html) command to make async calls synchronous.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-02-01 04:57] #3475 closed

[2019-02-01 06:00] christian-bromann commented on #3471
Well it doesn't seem like you are using webdriverio at all. Please check out the docs there are boilerplate examples you can use that get you started.

[2019-02-01 06:13] avshub commented on #3471
Can you please help me out? I want to use both cucumber js and webdriverio. How can i modify the script?

[2019-02-01 07:40] LayMuiToh commented on #3456
Hi Christian, are you able to access the above link to the driver.log file?

[2019-02-01 08:39] ptthuong opened #3476 "iOS XCUITest predicate string and class chain selectors are treated like UIAutomation"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.4.9]
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync:** sync
 - **Node.js version:** 10.14.1
 - **NPM version:** 6.4.1
 - **Platform name and version:** iOS

**Config of WebdriverIO**
capabilities: [
      {
        platformName: 'iOS',
        bundleId: 'com.xxx.xxxx',
        automation

[2019-02-01 13:18] GHanehoj opened #3479 "Errors thrown from custom command after using a webdriverio command are not caught"
**Environment:**
 - **WebdriverIO version:** 5.4.9
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.1
 - **NPM version:** 6.7.0
 - **Browser name and version:** Chrome 72
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used:**
@wdio/cli: 5.4.9
@wdio/local-runner: 5.4.9
@wdio/mocha-framework: 5.4.8
@wdio/seleni

[2019-02-01 13:19] balukov commented on #3472
https://github.com/webdriverio/webdriverio/pull/3478

[2019-02-01 14:53] needforspeed opened #3480 "failed to save screenshot in windows"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-02-01 16:48] osmolyar commented on #3460
Additional comment re. 'code to reproduce': with this version, hitting a non-existent url address, the 'very long session id' occurs with each scenario, regardless of whether it's a normal 'selector not found' or an abnormal intermittent 'ECONNECT refused' error that occurs when blank browsers are generated, so maybe that is a downstream occurrence of the actual problem.

[2019-02-01 17:08] christian-bromann commented on #3480
It seems that the directory you provided doesn't exist. Can you verify that this directory is set before you want to save a screenshot?

[2019-02-01 17:11] #3472 closed

[2019-02-01 17:20] christian-bromann commented on #3476
It seems that this error comes from Appium and shows that class chain selectors are not supported for the environment you run your tests in.

[2019-02-01 17:20] #3476 closed

[2019-02-01 17:21] christian-bromann commented on #3456
No, I don't have log in data for it. Can you just put it into a secret gist?

[2019-02-01 19:36] needforspeed commented on #3480
It was due to windows absolute path not recognized, as you can see the relative path `E:\app\eclipse\dev\codecept` was prepend to the output dir

[2019-02-01 19:36] #3480 closed

[2019-02-01 19:39] dshaplyko commented on #3256
If I update to the latest version (I've already done it), I'll start getting the error message "Error: You can't reassign a plugin after appling another plugin"  while running my autotests, that is why I sticked to the version I mentioned above.

[2019-02-01 19:44] christian-bromann commented on #3256
But these versions that you have defined above will download the latest version of WebdriverIO because ^5.1.0 resolves in downloading 5.4.9

[2019-02-01 19:47] christian-bromann commented on #3473
Let's continue convo in #3474

[2019-02-01 19:47] #3473 closed

[2019-02-01 20:58] osmolyar commented on #3460
Attaching allure-report.zip where, if you filter out all passing and failed TCs, you can see each feature file with >9 scenarios hits the 'socket hang up' at TC8,9,10,11 or12

[allure-report.zip](https://github.com/webdriverio/webdriverio/files/2823321/allure-report.zip)

[2019-02-01 21:10] osmolyar commented on #3460
Error also occurred using Firefox.  Attaching selenium-standalone output and corresponding wdio testrunner spec reporter output showing only the second test case failing with the 'socket hang up' error, the rest passing (despite  a bunch of warnings about unreachable code in the application and channel errors about send/receive for all the test cases)

[firefox selenium standalone output.txt](http

[2019-02-01 21:13] sgreener opened #3483 "addCommand does not allow override of existing commands"
**Environment (please complete the following information):**
 - **WebdriverIO version:**  5.4.7
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** Sync
 - **Node.js version:** 8.11.2
 - **NPM version:** 5.6.0
 - **Browser name and version:** chrome/firefox
 - **Platform name and version:** windows 10
 - **Additional wdio packages used (if applicable):** n/a

**Describe the bug*

[2019-02-01 22:33] mgrybyk commented on #3256
I faced similar issue once, the problem was in package lock json. I can't recommend delete it but in my case it helped. Can't reproduce it clearly, I was switching versions here and there in a hacky way.

[2019-02-01 22:55] abjerstedt commented on #3479
[code]

I created the above unit tests and cannot reproduce the issue above.

[2019-02-01 23:13] mikesalvia commented on #2872
![screen shot 2019-02-01 at 6 12 47 pm](https://user-images.githubusercontent.com/6209204/52154697-08979580-264d-11e9-8f52-a2834b8ae6d9.png)
Saw this when attempting to integrate this into my current project.  Maybe I have something configured incorrectly.

[2019-02-02 00:16] abjerstedt commented on #3479
Erwin investigated, and it looks like it has something to do with the before() hook being the area where addCommand is invoked.

[2019-02-02 00:19] christian-bromann commented on #3256
Yeah I think it has something to do with non compatible versions. If you do a clean install it should not happen.

[2019-02-02 00:19] abjerstedt commented on #3448
@AlekseyAlready I'm confused:

You have the version listed at 4.13.2, but reference @wdio/selenium-standalone-service and @wdio/spec-reporter which are v5 plugins. V5 plugins and v4 wdio are mutually exclusive.

[2019-02-02 00:20] christian-bromann commented on #3256
Closing this. It is not reproducible for me. If you encounter this issue please clean your `node-modules` directory and package-lock.json and rerun `npm install`

[2019-02-02 00:20] #3256 closed

[2019-02-02 01:32] christian-bromann commented on #3447
@sipayRT this looks like a Mocha thing. I am not even saying that this is a bug because you return undefined which can't be detected by WebdriverIO nor Mocha. I recommend use the sync version of the testrunner or work with async/await.

[2019-02-02 01:32] #3447 closed

[2019-02-02 01:40] LayMuiToh commented on #3456
https://ghe.exm-platform.com/gist/laymui-toh/3947de4800a645ed9b0cd1c7a9793c4a

[2019-02-02 01:47] christian-bromann commented on #3479
You are missing a `)` in your before hook in both addCommand function calls, so instead of
[code]
do
[code]

[2019-02-02 01:47] #3479 closed

[2019-02-02 01:48] christian-bromann commented on #3456
This is the same link and I said I don't have access to that, please post everything here: https://gist.github.com/

[2019-02-02 01:50] LayMuiToh commented on #3456
I think it is enterprise level so it's closed to others
please see this https://gist.github.com/LayMuiToh/dddfdd5ffd97013a5bb42b1032749c11

[2019-02-02 01:51] christian-bromann commented on #3483
I honestly don't see much value in allowing to overwrite core commands in WebdriverIO. For someone who doesn't know that a command is overwritten it is nearly impossible to find out why a certain command is behaving differently as described in the official docs.

[2019-02-02 01:51] #3483 closed

[2019-02-02 01:55] christian-bromann commented on #3324
This is unfortunate. Please reach out to their customer support as this error comes from Browserstack. WebdriverIO calls commands based on the definition of the WebDriver protocol. This wouldn't be the first time Browserstack deviates from this.

[2019-02-02 01:55] #3324 closed

[2019-02-02 01:58] christian-bromann commented on #3456
those are just the sys logs I need all other logs too.

[2019-02-02 02:01] christian-bromann commented on #3378
I can't reproduce this:

[code]

[2019-02-02 02:01] #3378 closed

[2019-02-02 02:02] christian-bromann commented on #3378
The test spec also runs fine. If you setup jenkins to run this on SauceLabs in IE you would get the same result.

[2019-02-02 02:03] christian-bromann commented on #2618
Closing this, please refer to stsvilik/wdio-docker-service , thanks @stsvilik for this!!!

[2019-02-02 02:13] #3421 closed

[2019-02-02 02:16] LayMuiToh commented on #3456
On my test window, I got this error message:
what is the API to call?
1) Options test should able to select sales icon and go to the Sales page:
browser.takeSnapshot is not a function
running
TypeError: browser.takeSnapshot is not a function
    at Context.<anonymous> (/Users/tohlaymui/Desktop/performance_analyst_test/test/spec/app.tc.topics.spec.js:18:15)
    at new Promise (<anonymous>)
    at n

[2019-02-02 02:17] LayMuiToh commented on #3456
I take from the example usage in this link https://webdriver.io/docs/applitools-service.html#installation

[2019-02-02 05:43] sgreener commented on #3483
One such reason for being able to do this is fix browser bugs that effect only one vendor.

In the current case of scrollIntoView(), it does not work on firefox but does in chrome. A bug has been logged for it on geckodriver bug log. Now if we could override the command, then we could do a browser.execute to mimic the same behaviour when in firefox and use the intended command when in all other br

[2019-02-02 07:05] christian-bromann commented on #3483
I am not sure how this is connected to Geckodriver. The WebdriverIO `scrollIntoView` commands calls `scrollIntoView` on the element in the browser.

[2019-02-02 07:06] christian-bromann commented on #3483
Also I don't see a reason why this can't be part of WebdriverIO if it is helpful for others too.

[2019-02-02 08:47] sgreener commented on #3483
Well [this](https://github.com/mozilla/geckodriver/issues/776) is the gecko driver bug I refer too, was just trying to implement a solution for it that had the least impact on all my tests.

[2019-02-02 15:46] abjerstedt commented on #3431
@wswebcreation Please checkout https://github.com/webdriverio/webdriverio/pull/3487 and see if this fixes your issue.

With this fix, I at least have safari-iphone and chrome-android working.

[2019-02-02 16:31] abjerstedt commented on #3359
@nami-varthakavi - Okay, so i dove into both our code, and the selenium-standalone code. They are using:
[code]

This has 2 side effects:
1.) You will not pull drivers for browsers not referenced (this is good - you don't have to worry about the upkeep on drivers you aren't using)
2.) You do not need to specify the version, only an empty object and it will pull down the default driver.

For exampl

[2019-02-02 16:31] #3359 closed

[2019-02-02 16:45] christian-bromann commented on #2052
@jirving looking into this thread is all I need to see many reasons that people are interested into Jest support. If anyone wants to build a webdriverio environment, be my guest. That being said, I already tried to do that and I've seen major flaws using the jest test runner; and again the jest test runner is amazing but doesn't fit for running e2e tests. Here is why:

- tests will be run sequenti

[2019-02-02 16:45] abjerstedt commented on #2052
@jirving In the end it comes down to this: Jest is a test runner that basically implements jasmine and is used for unit testing, mocking and snapshots. Jasmine, mocha and cucumber are all testing frameworks that simply let you organize tests. (As christian said above, you can even write your tests in jasmine).

You can still implement webdriverio into your jest setup using the standalone runner. B

[2019-02-02 18:10] christian-bromann commented on #2962
@burg embedding Selenium Atoms into this project is not worthwhile. It adds too much unnecessary and undocumented code. Imo the definition of if an element is displayed or not should live on some sort of protocol level (maybe referencing it from a different spec). I understand that defining displayedness is not the job of the WebDriver protocol neither is it the job of the protocol consumer though

[2019-02-02 18:15] burg commented on #2962
Feel free to bring it up in the working group.

Sent from my Apple IIc

[2019-02-02 18:37] wswebcreation commented on #3431
Hi @abjerstedt

Tnx

Will try it tomorrow or Monday (just came back from the US, so need to catch some sleep)
Keep you posted

[2019-02-03 08:13] christian-bromann commented on #3324
Without any logs this is impossible to say.

[2019-02-03 09:13] mgrybyk commented on #3466
Can you provide an example of truncated log, which logger(s) are truncated

[2019-02-03 09:24] FelixZilber opened #3489 "missing import of 'Test' and "Suite" in webdriverio.d.ts"
Getting:
node_modules/webdriverio/webdriverio.d.ts:113:27 - error TS2304: Cannot find name 'Test'.
beforeTest?(test: Test): void;
node_modules/webdriverio/webdriverio.d.ts:135:28 - error TS2304: Cannot find name 'Suite'.
 afterSuite?(suite: Suite): void;
Using:
"webdriverio": "^5.4.13",

[2019-02-03 18:14] fkleuver commented on #3324
Can't argue with that :)

The error message I see in the BrowserStack logs: `JSON format error: parameters object must contain pair with name "keysToSend"`

So for starters, just like OP, this seems to happen only in Edge (17 to be precise - haven't tested other versions however). Chrome 68 and FF 61 work fine. Safari fails completely to begin with.

Anyway, the local console logs:

[code]

This i

[2019-02-03 19:32] christian-bromann commented on #3489
Please see https://webdriver.io/docs/typescript.html

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-02-03 19:32] #3489 closed

[2019-02-03 19:40] christian-bromann commented on #3466
@mgrybyk I can't. Think about it as a normal outout that at some point continues with the NPM error log. You can reproduce it by yourself when running more than 15 tests in parallel or so. I was able to hot patch it by doing:

[code]
in `wdio-cli/src/run.js` but I am not sure if this is the ultimate fix. Normally console.logs are synchronous and I don't understand why these aren't. For CI I was th

[2019-02-03 20:49] fkleuver commented on #3324
Yep, you're absolutely right. I'll submit an issue to those folks tomorrow and report back in this thread once I've got news.
Thanks for taking a look!

[2019-02-04 05:37] shiwaniB commented on #3378
@christian-bromann  Test case is passing because you are running it on chrome. Its working as expected on chrome but not on the internet explorer.

[2019-02-04 06:37] dshaplyko commented on #3256
Hey guys! I did exactly how it was mentioned above and the issue is gone for me. Thank you for the clarification.

[2019-02-04 12:51] sipayRT commented on #3447
what the different if I use your project now? :)

node notice about test error in logs (wdio groups such logs to `Stderr` section). Why don't you try to handle such errors?

[code]

[2019-02-04 13:39] xlenz opened #3491 "sessionId is not updated after creating new session"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.13
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10
 - **Browser name and version:** any browser or appium

**Config of WebdriverIO**
`{ capabilities: { browserName: "chrome" } }`

**Describe the bug**
sessionId is not updated after creating new on

[2019-02-04 13:46] xlenz opened #3492 "multiremote is broken in 5.4.13"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.13

**Config of WebdriverIO**
[code]

**Describe the bug**
multiremote stopped working in 5.4.13 due to bug in isRDC

**To Reproduce**
launch multiremote session

**Expected behavior**
multiremote should work

**Log**
[code]

**Additional context**
https://github.com/webdriverio/webdriverio/pull/3468
https

[2019-02-04 13:57] xlenz commented on #3491
**Why is it useful?**

Have to restart app in almost same state but with some differences in capabilities.

**Suggested fixes**

- add ability to pass capabilities parameters to reloadSession
- add new command newSession and update sessionId

or even do both

[2019-02-04 14:16] gitowiec opened #3493 "Wrong webdriverio.d.ts content"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.4.9]
 - **Mode:** [local]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [8.15]
 - **Browser name and version:** [Chromium 71.0.3578.98]
 - **Platform name and version:** [Ubuntu 18.04]
 - **Additional wdio packages used (if applicable):** [
    "@wdio/cli": "5.4.9",
    "@wdi

[2019-02-04 14:29] xlenz opened #3494 "reloadSession doesn't work in Appium"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.13
 - **Mode:** WDIO Testrunner

**Config of WebdriverIO**
Use Appium

**Describe the bug**
reloadSession doesn't work when using Appium because sessionId is not set (it is missing in response)

**To Reproduce**
reloadSession()

**Expected behavior**
reloadSession should get sessionId in same way as newSes

[2019-02-04 14:32] xlenz commented on #3493
@gitowiec I don't have such problem.
Maybe you have some problems with your tsconfig?
`browser.switchToFrame("foo")` - works fine

[2019-02-04 14:34] wswebcreation commented on #3492
@xlenz

Hmm, I see, for multiremote you need to provide an object instead of an array according to the docs. I'll try to make a fix for it

[2019-02-04 14:48] xlenz opened #3495 "Cannot compile typescript properly: Cannot find name Suite, Test"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.13
- using TypeScript

**Config of WebdriverIO**
using typescript

**Describe the bug**
unable to compline typescript project properly

**To Reproduce**
tsc

**Expected behavior**
should be possible to compile

**Log**
[code]

**Additional Context**

happening after https://github.com/webdriverio/webdriver

[2019-02-04 14:52] xlenz commented on #3495
I'll do PR for this

[2019-02-04 14:52] xlenz commented on #3494
will do PR for this

[2019-02-04 15:07] wswebcreation commented on #3451
This can be closed, the PR has been merged https://github.com/webdriverio/webdriverio/pull/3468

[2019-02-04 15:07] #3451 closed

[2019-02-04 15:08] abjerstedt commented on #3431
Closed via https://github.com/webdriverio/webdriverio/pull/3487
(confirmed by @wswebcreation )

[2019-02-04 15:08] #3431 closed

[2019-02-04 15:17] wswebcreation commented on #3431
You beat me, just wanted to close it

[2019-02-04 16:02] PippoRaimondi opened #3498 "Browser/Device capability management within webdriverio"
I've been setting up test suites for a while and I find myself using third party services like saucelabs and browserstack... which means I need to create a good way to manage the capabilities and write code each time to invoke these capabilities dynamically via some CI pipeline...

I am thinking of having a command line argument that reads from some json file within root of the test suite and over

[2019-02-04 16:46] christian-bromann commented on #3498
Can you please explain in further detail?

[2019-02-04 16:48] christian-bromann commented on #3451
Thanks for implementing it 👍

[2019-02-04 16:54] christian-bromann commented on #3492
we need a multiremote smoke test to prevent this from happening again

[2019-02-04 16:55] #3493 closed

[2019-02-04 16:56] christian-bromann commented on #3491
Please use [reloadSession](https://webdriver.io/docs/api/browser/reloadSession.html)

[2019-02-04 16:56] #3491 closed

[2019-02-04 17:00] christian-bromann commented on #3447
There is no difference in running unit tests using mocha or e2e tests using webdriverio with mocha

Because I can't. You return undefined so I don't know whether there is a promise in the test. The error is thrown on next tick and causes this error to appear.

[2019-02-04 17:07] christian-bromann commented on #3378
same for internet explorer

[code]

[2019-02-04 17:11] PippoRaimondi commented on #3498
When doing compatibility testing, it's very common that a subset of tests are run in multiple browsers and devices... without any thought to it, you can simply hardcode the capabilities within your `wdio.conf.js` that will roughly look like this:

[code]

The problem is that the list of capabilities is very large, think about multiple chrome, firefox, ie, safari versions then think about different

[2019-02-04 17:13] nami-varthakavi commented on #3359
OK thanks for the reply @abjerstedt

[2019-02-04 17:45] AnandGanesh-Reflektion opened #3499 "Add support for json report in v5"
**Is your feature request related to a problem? Please describe.**
Migrated to v5 but json report is not available. Need support for the same as we need it for internal dashboard.

**Describe alternatives you've considered**
I used to have mocha-multi-reporters in cypress.

[2019-02-04 18:03] mgrybyk commented on #3491
Reload session doesn't support parameters @https://research.hackerrank.com/developer-skills/2019

[2019-02-04 18:04] christian-bromann commented on #3491
What parameters do you think should it take?

[2019-02-04 18:06] christian-bromann commented on #3499
see https://github.com/fijijavis/wdio-json-reporter/issues/22

[2019-02-04 18:06] #3499 closed

[2019-02-04 18:07] mgrybyk commented on #3491
Capabilities

[2019-02-04 18:08] mgrybyk commented on #3491
It should be optional param so we don't break anything. It was super useful to restart appium session with slightly different capabilities in v4

[2019-02-04 18:12] mgrybyk commented on #3491
Sorry to say multiremote won't help with single real iOS device

[2019-02-05 04:55] shiwaniB commented on #3378
Error Log -

[code]

[2019-02-05 09:01] GHanehoj commented on #3479
@christian-bromann you're right, however that is just a typo in my bug report (the issue is there even if that is fixed).

[2019-02-05 09:13] xlenz opened #3504 "missing allure-reporter typings"
**Environment (please complete the following information):**
 - **@wdio/allure-reporter version:** 5.4.9

**Describe the bug**
allure-reporter.d.ts is missing

**To Reproduce**
install @wdio/allure-reporter from npm

**Expected behavior**
package should be shipped with allure-reporter.d.ts

**Additional context**

we have a proper a way to generate valid allure-reporter.d.ts however it is not ship

[2019-02-05 10:34] xlenz opened #3505 "Ability to set capabilities for next session to be created"
**Is your feature request related to a problem? Please describe.**
ability to set capabilities programmatically for next session to be created

**Describe the solution you'd like**
[code]
**Describe alternatives you've considered**
any possible solution to change capabilities within same test

**Additional context**

[2019-02-05 17:07] abjerstedt commented on #3437
@carlos-gva What you are seeing is likely the result of TTY, and how things are printed in a prompt like fashion.

[2019-02-05 17:07] #3494 closed

[2019-02-05 17:10] christian-bromann commented on #3505
Let's continue convo in #3507

[2019-02-05 17:10] #3505 closed

[2019-02-05 17:12] christian-bromann commented on #3504
Is this done by #3495 ?

[2019-02-05 17:13] carlos-gva commented on #3437
@abjerstedt So is this the "expected" behavior on my iTerm2 ?

[2019-02-05 17:16] #3492 closed

[2019-02-05 17:35] mgrybyk commented on #3495
This one is fixed by https://github.com/webdriverio/webdriverio/pull/3497

[2019-02-05 17:54] pyxis828 commented on #2639
@KGBemployee  Your solution worked beautifully for me.  Thank you.

[2019-02-05 19:31] sgreener opened #3509 "isDisplayed() and waitForDisplayed() throws error in Edge"
**Environment (please complete the following information):**
 - **WebdriverIO:** version: 5.4.7
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** Sync
 - **Node.js version:** 8.11.4
 - **NPM version:** 5.6.0
 - **Browser name and version:** Edge
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/selenium-standalone-service"

[2019-02-05 19:34] sgreener commented on #3509
For the record, this works in Chrome & Firefox

[2019-02-05 19:44] christian-bromann commented on #3509
Duplicate of #2962

[2019-02-05 19:44] #3509 closed

[2019-02-05 22:35] Oshalom-OP commented on #3498
@PippoRaimondi  I was looking into this too. I noticed that it can be run
programmatically like so: http://v4.webdriver.io/guide/testrunner/gettingstarted.html

When doing so, you can override some parameters but it doesn't look like capabilities is one of them

[2019-02-05 23:18] abjerstedt commented on #2962
@burg If we are truly removing a displayedness check from the spec/driver and expect frameworks to use the atom, can we get the core selenium team to make this atom standalone? Its woven pretty deep atm.

[2019-02-05 23:22] burg commented on #2962
I wrote this stripped down version for WebKit-based drivers:

https://trac.webkit.org/browser/webkit/trunk/Source/WebKit/UIProcess/Automation/atoms/ElementDisplayed.js <https://trac.webkit.org/browser/webkit/trunk/Source/WebKit/UIProcess/Automation/atoms/ElementDisplayed.js>

You might be able to use it. I am not an expert on your licensing situation, so ask someone who is ;-)

[2019-02-06 05:19] theMaxiiim opened #3512 "Bad response code: Expected (200), Received (404)"
**Describe your question with as much detail as possible**
When wdio config is run, it properly sends the request to Browserstack, and Browserstack marks it as complete. But, a message printed by the Browserstack module reads "Bad response code: Expected (200), Received 404!" I believe that this might be caused by an erroneous API endpoint.

**ERROR LOG**
Stderr:
[0-0] 2019-02-06T05:09:14.997Z ERR

[2019-02-06 07:58] KGBemployee commented on #2639
@pyxis828 you're welcome! Glad it helped.

[2019-02-06 09:37] kirkopov opened #3513 "TypeError while trying to save element screenshot"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.14
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** MacOs 10.14.2

**Describe the bug**
Getting exception while calling element.saveScreensh

[2019-02-06 11:32] mo commented on #3256
These steps worked for me as well.

[2019-02-06 12:04] PippoRaimondi commented on #3498
right, it is not one of them and if agreed by christian I will work in adding it!

[2019-02-06 13:43] shridharkalagi opened #3514 "Missing readme on aws-lambda runner"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

I'd like to report the the aws-lambd running is missing the readme file. Can you please help me trigger tests on lambda? I can contribute on improving this doc once I get to know. Thanks
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing do

[2019-02-06 14:01] batuwka commented on #3294
Hello guys. As I understand wdio5 mostly used with sync mode, and plugin doesn't work well... for wdio/mocha...

https://github.com/zinserjan/wdio-screenshot/issues/89

[2019-02-06 14:23] abjerstedt commented on #3512
@theMaxiiim we need more info, including a reproducible result - or I cannot do anything.

[2019-02-06 14:27] abjerstedt commented on #3513
Already fixed and will be in the next release.

[2019-02-06 14:27] #3513 closed

[2019-02-06 14:32] rlve opened #3515 "Issue with getValue() and Appium on iOS - 'Method has not yet been implemented'"
**Environment:**
 - **WebdriverIO version:** 5.4.14
 - **Mode:** WDIO Testrunner - sync
 - **Node.js version:** v11.9.0
 - **NPM version:** 6.5.0
 - **Environment:** Browserstack - iPhone 8 [real device] - iOS 11.4 - Appium 1.9.1 - web application
I've tried also with iPhone 7 - iOS 10.3 - Appium 1.6.5.

**Config of WebdriverIO**
Used capabilities:
[code]

**Describe the bug**
I've met the issue d

[2019-02-06 17:08] christian-bromann commented on #3514
@shridharkalagi this runner is still work in progress and not ready to be used yet

[2019-02-06 17:08] #3514 closed

[2019-02-06 17:24] christian-bromann commented on #3515
Do you have a reproducible example?

[2019-02-06 19:28] abjerstedt commented on #2962
@burg Thank you! Do you foresee any changes in this file (or the atom behavior in general) going forward? I can work on implementing this, but I'm wondering if we are gonna have issues with diverging with the ongoing norms.

[2019-02-06 20:27] burg commented on #2962
It does not replicate all of the cases in the Selenium atom. That said, we haven’t received many Element Displayed bugs in the past year, so it’s probably only going to change in order to fix minor test failures.

I believe Selenium atom is not taking changes. Might be worth asking a core member from that project.

Sent from my Apple IIc

[2019-02-06 21:38] christian-bromann commented on #3000
Closing due to inactivity.

[2019-02-06 21:38] #3000 closed

[2019-02-06 21:40] christian-bromann commented on #2672
We rebuild the repl in v5. Please verify if this issue still exists there. Happy to reopen in case it is still a bug.

[2019-02-06 21:40] #2672 closed

[2019-02-06 21:43] christian-bromann commented on #3037
Hey,

we updated the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2019-02-06 21:43] #3037 closed

[2019-02-06 22:03] christian-bromann commented on #2406
Did someone had the same experiences with v5? It comes with a request retry which should mitigate this issue. Any feedback would be much appreciated.

[2019-02-06 22:04] christian-bromann commented on #2865
Duplicate of #2711

[2019-02-06 22:04] #2865 closed

[2019-02-06 22:07] christian-bromann commented on #3045
@dmhalejr can we have such patch for v5 too?

[2019-02-06 22:08] christian-bromann commented on #3068
Closing this. It will be a requirement for the cucumber v5 effort.

[2019-02-06 22:08] #3068 closed

[2019-02-06 22:15] christian-bromann commented on #3157
I really don't know how to help you guys here. This looks like a connection problem to the driver which is caused by a configuration issue. As Albert said you should not use selenium-standalone and chromedriver at the same time. There are tutorials out there that show how to setup a grid or just run tests with a single driver. As I can't identify an issue with WebdriverIO directly here I will clos

[2019-02-06 22:15] #3157 closed

[2019-02-06 22:16] VKnightUT commented on #2406
I tried upgrading to check on this issue last week and ran into this issue: https://github.com/webdriverio/webdriverio/issues/3256

I will try the fix you suggested on that issue to get upgraded and see if this comes up again and will update this ticket.

[2019-02-07 01:29] ratbeard commented on #3289
I also encountered this and was confused by it.

I was trying to get `chromeOptions` working, which I eventually found needs to be `goog:chromeOptions` in #3238.  Some old gists and posts related to java talked about using `desiredCapabilities` instead of `capabilities`, and I saw `desiredCapabilities` is a valid property in `Options` in the `webdriverio.d.ts` file, so I tried that.

[2019-02-07 09:30] rlve commented on #3515
@christian-bromann I've prepared minimal repo to reproduce the issue: https://github.com/rlve/wdio-getvalue-appium-browserstack

[2019-02-07 09:50] AnandGanesh-Reflektion opened #3517 "beforeAll and afterAll (mocha + chai) failures are not captured in report"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2]
    "@wdio/cli": "^5.4.3",
    "@wdio/dot-reporter": "^5.4.3",
    "@wdio/junit-reporter": "^5.4.3",
    "@wdio/local-runner": "^5.4.3",
    "@wdio/mocha-framework": "^5.4.3",
    "@wdio/selenium-standalone-service": "^5.4.3",
    "@wdio/spec-reporter": "^5.4.3",
    "@wdio/sync": "^5.4.3",
    "

[2019-02-07 10:39] xlenz commented on #3504
@christian-bromann issue has been fixed by https://github.com/webdriverio/webdriverio/pull/3510

looks like typings were generated automatically with new release of allure plugin (5.4.15), which is cool.

[2019-02-07 10:39] #3504 closed

[2019-02-07 10:41] xlenz commented on #3517
@AnandGanesh-Reflektion there is no beforeAll() or afterAll() in Mocha.

How are you using hooks?

[2019-02-07 11:29] AnandGanesh-Reflektion commented on #3517
@xlenz, I meant before() and after() hooks.

[2019-02-07 12:19] GHanehoj commented on #3479
@abjerstedt I am also able to reproduce this when adding the command from some other environment than the before() hook (eg. the constructor of my main page object). So i think its unrelated to the hooks

[2019-02-07 12:37] GHanehoj commented on #3479
Hm, that said i have tried to reproduce in one of the boilerplate projects, and its not there, so you're probably right in that its on my end.

[2019-02-07 14:48] mgrybyk commented on #3517
Just faced another problem that skipped tests are not handled properly, doing pr for that.

I'll check your case as well

[2019-02-07 14:53] UnicodeSnowman opened #3518 "Test failure without error message"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-02-07 14:54] AnandGanesh-Reflektion commented on #3517
Thanks for the update @mgrybyk.

[2019-02-07 16:12] mgrybyk commented on #3517
@AnandGanesh-Reflektion reporter is designed so that all the hooks are ignored.

[2019-02-07 17:04] mgrybyk opened #3520 "wrong test is marked as skipped"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.15

**Describe the bug**
test before skipped one is marked as skipped, skipped test is missing in report

**To Reproduce**
[code]
[Include code or an example repository that can easily be set up]

**Expected behavior**
skipped test should appear in report and has no affect on other tests

[2019-02-07 17:07] mgrybyk commented on #3517
what will be decision on this?

We can add all the hooks to report, or only add failed hooks

[2019-02-07 17:12] AnandGanesh-Reflektion commented on #3517
@mgrybyk is it a good idea to ignore hooks for reporter? If that's the case, how can we track errors occurred in before and after hooks. There are some common checks that gets executed in before or after hooks. wdio v4 had the support for before and after hooks.

[2019-02-07 18:14] mgrybyk commented on #3517
Ok, so before and after should be added as tests, and beforeEach and afterEach as test steps.
Correct?

[2019-02-07 18:22] AnandGanesh-Reflektion commented on #3517
Yeah right. Any error in beforeEach and afterEach also should be captured in report.

[2019-02-07 22:48] christian-bromann commented on #3520
@mgrybyk can this be closed based on the PR?

[2019-02-07 22:59] christian-bromann commented on #3518
Without any reporter it just shows the results.

[2019-02-07 22:59] #3518 closed

[2019-02-07 23:32] mgrybyk commented on #3517
@AnandGanesh-Reflektion  upd, I think there is no need to capture passed before(Each)/after(Each) hooks at this point, but it is possible.

If beforeEach or afterEach hook is failed test is marked as failed, which is good.

I've managed to capture before/after hooks failures like this

[code]

I still have to do some testing around, will do PR in next days.
@christian-bromann do you think it is fi

[2019-02-07 23:33] mgrybyk commented on #3520
@christian-bromann yes, of course! Closing it, thanks

[2019-02-07 23:33] #3520 closed

[2019-02-08 07:22] kumangxxx opened #3523 "Using elementId with browser object"
Came here from botium webdriverio connector (https://github.com/codeforequity-at/botium-connector-webdriverio)

basically, i have an elementId (something like: 0.7756214136984221-3) and a browser object.
how do i get the element from the id ? my goal is to see if the element contain something specific, like a div#reply or div#image

at first i thought its an id attribute, so i tried browser.$('#0.

[2019-02-08 07:26] dassusovan commented on #3075
My Firefox version: 65.0 (64-bit)
but still i got this

console.error: BroadcastService:
  receivedBroadcastMessage: handler for
  remote-settings/monitor_changes
  threw error:
  Message: Error: Polling for changes failed: NetworkError when attempting to fetch resource..
  Stack:
    remoteSettingsFunction/remoteSettings.pollChanges@resource://services-settings/remote-settings.js:188:13

[2019-02-08 12:28] frg-tarasov opened #3529 "selector for selectByVisibleText not always work correctly"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.17
 - **Mode:** WDIO Testrunne
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.15.1
 - **NPM version:** 6.4.1
 - **Platform name and version:** Linux

**Describe the bug**
Now element method ```selectByVisibleText``` use XPath selector: ```[normalize-space(text()) = ${format

[2019-02-08 13:00] learningandworking opened #3530 "The browser.close() inside each test cases or hook will cause invalid session id"
**Describe your question with as much detail as possible**
Following the command line:
`npm test -- --spec=tests/<filename>.js `

The browser is opened with the defined url in code below, but then it stopped and generated issue "invalid session ID", and all test cases failed.

 - From what I observed, all test cases (it blocks) use the same browser sessionID, so if one of test case applies browser

[2019-02-08 14:20] christian-bromann commented on #3530
Don't use close if you have only one tab/window open. That will break your webdriver session. There is no need for you in this test to call this command.

[2019-02-08 14:20] #3530 closed

[2019-02-08 14:20] christian-bromann commented on #3530
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-02-08 16:02] mikesalvia opened #3531 "Remove assumption of tab/window order back from browsers"
The code in`close.js` assumes order is the order of creation and [0] is the "original" tab, this is not true and can cause race conditions when closing a new tab that is presented at [0] in the "windowsHandles()" return.

**Environment (please complete the following information):**
 - **WebdriverIO version:**  4.14.3
 - **Mode:** N/A
 - **If WDIO Testrunner, running sync/async:** N/A
 - **Node.js

[2019-02-08 16:32] christian-bromann commented on #3531
This issue was moved to webdriverio-boneyard/v4#17

[2019-02-08 16:32] #3531 closed

[2019-02-08 16:34] mikesalvia commented on #3531
Thank you! I assume this has been addressed in v5?

[2019-02-08 17:18] christian-bromann commented on #3531
v5 doesn't have such a command

[2019-02-08 18:14] just-boris opened #3532 "Webdriverio commands are not overridable"
**Environment (please complete the following information):**
 - **WebdriverIO version:** v5.4.17
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 8.9.4
 - **NPM version:** 6.4.1
 - **Browser name and version:** n/a
 - **Platform name and version:** n/a
 - **Additional wdio packages used (if applicable):** n/a

**Config of WebdriverIO**
n/a

**Des

[2019-02-08 18:42] christian-bromann commented on #3532
For testing purposes you would want to return a stub for the `remote` function. Ideally stub the whole webdriverio package.

I don't think it is a good idea to allow to overwrite core functions for various reasons. For this testing purpose it is not required and for the general usage purpose I would heavily argue against it.

[2019-02-08 18:42] #3532 closed

[2019-02-08 20:34] mgrybyk commented on #3529
What will be your suggestion on how to handle this? @frg-tarasov

[2019-02-09 11:02] mo opened #3534 "waitUntil() strips stacktrace info from errors"
1. git clone https://github.com/mo/wdio-waituntil-error-handling-bug.git
2. npm test

Running the repro steps above prints "running waitUntil func at ..." multiple times and each time it's printed an error has been generated but is not reported. When the test times out, it does report the error (presumably the last error I suppose?) which is good, but unfortunately the error is reported without an

[2019-02-09 11:35] mo commented on #1242
Just FYI; in webdriverio 5.x it no longer works to read browser.desiredCapabilities.browserName but you can instead use browser.capabilities.browserName

[2019-02-09 23:33] erwinheitzman commented on #3529
@frg-tarasov this seems an issue with your code instead of webdriverio, can you confirm this?

Navigate to:
https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select

And add the code:
`
<!DOCTYPE html>
<html>
<body>

<select>
  <option value="bar">bar</option>
</select>

</body>
<script type="text/javascript">
   document.querySelector('option').prepend(
      document.createTextNode('foo'

[2019-02-10 07:21] frg-tarasov commented on #3529
Now i add custom command with selector ```[normalize-space(text()) = ${formatted}]``` and this work in my case.

[2019-02-10 07:28] frg-tarasov commented on #3529
@erwinheitzman In your example in result option node have two childNodes.
![image](https://user-images.githubusercontent.com/40637876/52530895-f2a96500-2d1d-11e9-8587-c6bfc84018c1.png)

And selector from webdriverio result empty array.
![image](https://user-images.githubusercontent.com/40637876/52530899-297f7b00-2d1e-11e9-901a-7a53fe973ef9.png)

This happens because add new text not replace all te

[2019-02-10 10:11] Gilad-WT opened #3537 "startRecordingScreen and stopRecordingScreen don't work as expected"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.2.8
 - **Mode:** [Standalone mode or WDIO Testrunner] Standalone
 - **Node.js version:** 10.14.2
 - **NPM version:** 6.4.1
 - **Platform name and version:** Windows 10

**Config of WebdriverIO**
wdio.remote({
        hostname : opts.hostIp,
        port : opts.hostPort,
        logLevel : "silent",
        c

[2019-02-11 00:48] just-boris opened #3539 "Unhandled promise rejection"
**Environment (please complete the following information):**
 - **WebdriverIO version:** v5.4.17
 - **Mode:** standalone
 - **If WDIO Testrunner, running sync/async:** n/a
 - **Node.js version:** 8.9.4
 - **NPM version:** 6.4.1
 - **Browser name and version:** n/a
 - **Platform name and version:** n/a
 - **Additional wdio packages used (if applicable):** n/a

**Describe the bug**
When a custom com

[2019-02-11 02:01] ptthuong commented on #3476
@christian-bromann
In wdio v4, the POST command for XCUITest class chain selectors looks like:
[code]
In v4:
{
 "using":"-ios class chain",
 "value":"**/XCUIElementTypeToolbar/**/XCUIElementTypeButton[5]"
}
In v5:
{
 "using": "-ios uiautomation",
  "value": "chain=**/XCUIElementTypeToolbar/**/XCUIElementTypeButton[5]"
}
This command is sent from wdio, right?

[2019-02-11 12:27] erwinheitzman commented on #3529
Created a fix and also fixed a number of other issues. The changes can be found here: https://github.com/webdriverio/webdriverio/pull/3540

[2019-02-11 15:44] WillBrock commented on #3523
You can try using the elementIdElement command. I would probably try to find a different way instead of using the id though.

http://v4.webdriver.io/api/protocol/elementIdElement.html

[2019-02-11 15:44] #3523 closed

[2019-02-11 21:52] mo opened #3542 "add wdio-cli command line switch / option to skip "clear screen" when wdio starts"
In my projects I often have a single "npm run check-all-the-things" script that runs unittests, eslint, cli testcases, e2e tests in chrome and then e2e tests in firefox.

In webdriver 4.x I could kick off this script and then go fetch some coffee and then inspect the full log output when I got back. However, in webdriver 5.x wdio-cli _ALWAYS_ clears the screen and drops all previous terminal outpu

[2019-02-12 04:46] AnandGanesh-Reflektion commented on #3517
@mgrybyk I verified the issue with latest releases 5.4.17 and 5.4.14. Issue is not resolved yet. Is the fix available in latest release?

[2019-02-12 07:02] mgrybyk commented on #3517
@AnandGanesh-Reflektion not yet, waiting for a PR to be merged.

https://github.com/webdriverio/webdriverio/pull/3536
It is open, but have to be merged. Once it is merged it will be available in next wdio version.

Btw, if you are facing issues others than missing hooks in report, please submit as different issue.

[2019-02-12 07:50] LayMuiToh opened #3543 "custom service plugin to automate the start/stop of the server during a wdio test session."
**Pre-check**
I refer to this link https://webdriver.io/docs/customservices.html
but unable to know what and how to add to the wdio.conf.js and service class onPrepare and onComplete method
what should I put to start the server in jar file
the command is java -jar VoiceAutomationServer-1.0.1.jar

**Describe the improvement**

I'd like to report
- [ x] Unclear documentation
- [ ] A typo
- [ ] Missi

[2019-02-12 13:11] WillBrock commented on #3543
You can take a look at how the selenium-standalone service is setup to get an idea or feel free to ask these types of questions on the [Gitter Channel](https://gitter.im/webdriverio/webdriverio). This is not necessarily a bug with WebdriverIO.

https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-selenium-standalone-service/src/launcher.js

[2019-02-12 13:11] #3543 closed

[2019-02-12 13:14] xlenz commented on #3534
Looks like the problem is with wdio Timer class that spawns huge stacktrace of recursion.

[2019-02-12 13:22] gomkat opened #3544 "How to use UploadFile"
**Describe your question with as much detail as possible**
How should we upload a file in the latest version of webdriverio? I have tried to follow examples in gitter but I am getting the error `uploadFile(...).then is not a function`. I see the method is not returning a promise but an object, but when I print it I always get a `status:null` in the result.

**If it's about a specific piece of code

[2019-02-12 14:02] industral commented on #3324
any updates on that? Prior to update from webdriver v4 to v5 it worked fine. Tested with Edge 17134. After update - it fails.

[2019-02-12 14:32] LayMuiToh commented on #3543
Hi Will, I was asked to look at this link earlier but I still can't figure how this is being setup in wdio.conf.js. Do I need to create a npm package?
this is not a bug but it's the documentation I am requesting to be clear on how to configure and setup and with a simple example
the link https://webdriver.io/docs/customservices.html is not clear

[2019-02-12 16:30] klamping commented on #3544
There's a blog post being put together with some details on how to do this:
https://github.com/webdriverio/webdriverio/blob/a9065a9eaf05df1872496634da257b39a168ebb7/website/blog/file-upload-example.md

The main thing is to use 'addValue' on the file input you want, setting it to the path of your file:
[code]

[2019-02-12 16:30] #3544 closed

[2019-02-12 21:52] mo commented on #3534
As a temporary workaround / hack I ended up defining a small wrapper for waitUntil that captures any error and re-throws it after waitUntil() has returned. This is sufficient for me to find the code location that called the waitUntil-wrapper which is typically the info I need to fix the issue.

[code]

[2019-02-12 22:23] mgrybyk commented on #3534
@mo shouldn't it be return false in case of error?

[2019-02-12 23:15] mgrybyk commented on #3534
@mo just found out how to fix this. Will try to do PR these days if you don't mind.

Actually found out how to fix both, problem waitUntil and problem with custom commands (if error is throw in custom command stack trace is missing as well).

[2019-02-12 23:21] mgrybyk commented on #3539
@just-boris can you please provide stacktrace or confirm that you have something like
[code]
in log?

[2019-02-13 08:31] just-boris commented on #3539
My example does not use `@wdio/sync`, but the error looks similar:
[code]

<details>
<summary>Full console output</summary>

[code]
</details>

[2019-02-13 08:37] xlenz commented on #3539
@just-boris thanks!

[2019-02-13 09:42] xlenz opened #3545 "Ability to add custom wait* / is* commands"
- **WebdriverIO version:** 5.4.17

**Is your feature request related to a problem? Please describe.**
I want to be able to add custom commands to element like
`const isDisplayed = $('myElem').isDiplayedWithin(5000)`

command example
[code]

that will wait for element visibility for some time if it is not visible and will return true or false afterwards.

It is super helpful when doing various asse

[2019-02-13 09:55] mo commented on #3534
Excellent news. Please do!

[2019-02-13 14:04] AronNovak opened #3546 "Error: EBADF: bad file descriptor - non-interactive test execution via SSH, via Ansible"
**Environment:**
 - **WebdriverIO version:** 5.4.8
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 8.10.0~dfsg-2ubuntu0.4
 - **NPM version:** 3.5.2-0ubuntu4
 - **Browser name and version:** 72.0.3626.96-1
 - **Platform name and version:** Ubuntu 18.04
 - **Additional wdio packages used (if applicable):**  @wdio/cli , @wdio/local-runner, @wdi

[2019-02-13 16:46] abjerstedt commented on #3545
To clarify - the main request here is to be able to add a custom command that can skip the implicit wait in the middleware?

[2019-02-13 17:28] nicholasbailey commented on #3084
Digging into this over the last few days, it looks like part of the problem is that at least spec-reporter is only looking for failures on hook:end and test:failed. An exception beforeEach will trigger a test:failed event in wdio-jasmine-framework, but beforeAll will not. wdio-jasmine-framework (unlike wdio-mocha-framework) never emits a hook:end event, because Jasmine's reporting interface doesn'

[2019-02-13 19:57] mgrybyk commented on #3545
@abjerstedt  skip waitForExist in middlewere https://github.com/webdriverio/webdriverio/blob/6a6e5ba36d849fe279451d5217f6e74e1862967b/packages/webdriverio/src/middlewares.js#L31

I'm doing PR for hits

[2019-02-14 06:11] danielyoun82 opened #3551 "Unable to use JSON as an input to run browser.execute() with addCommand()"
**Environment:**
 - **WebdriverIO version:** 5.4.17
 - **Mode:** WDIO Testrunner - Mocha
 - **Browser name and version:** Chrome 72
 - **Platform name and version:** CentOS Linux release 7.6.1810 (Core)
 - wdio-chromedriver-service is being used to launch chrome

**Describe the bug**
Malformed type error was generated when browser.execute try to run with JSON input

**To Reproduce**
[code]

**Expe

[2019-02-14 09:27] goatsy commented on #3512
I would suggest you try to run your tests with the latest appium version and try again.

https://www.browserstack.com/automate/capabilities

For example:

var capabilities = {
'os_version' : '6.0',
'device' : 'Samsung Galaxy S7',
'real_mobile' : 'true',
'browserstack.local' : 'false',
'browserstack.appium_version' : '1.9.1'
}

Browserstack has a pretty old default appium version.

[2019-02-14 12:11] WhoAteDaCake commented on #3539
Is the reason, why `"no such element"` error also causes the crash of the whole problem?

[2019-02-14 12:22] just-boris commented on #3539
Yes, it might, if you have a custom command that does `this.$` calls.

[2019-02-14 13:23] mgrybyk commented on #3539
@WhoAteDaCake might be but not likely. You may rise another ticket for you problem or use channel in gitter and ask it if you are not sure

[2019-02-14 13:40] ilyubin opened #3552 "Cannot read property 'name' of null"
**Environment:**
 - **WebdriverIO version:** 5.4
- **Mode:** remote Moon
- **If WDIO Testrunner, running sync:** sync
 - **Node.js version:** 10.15.0
 - **NPM version:** 6.7.0
 - **Browser name and version:** Chrome 72
 - **Platform name and version:** linux - alpine
 - **Additional wdio packages used:**
    "@wdio/allure-reporter": "^5.4.16",
    "@wdio/cli": "^5.4.17",
    "@wdio/dot-reporter":

[2019-02-14 13:47] janvennemann commented on #3476
I'm having similar issues. Trying to run the following selector `ios=predicate=type == 'XCUIElementTypeTextField'` will result in `invalid selector: Locator Strategy '-ios uiautomation' is not supported for this session`,

I guess this is because every selector starting with `ios=` get rewritten to `-ios uiautomation` here:
https://github.com/webdriverio/webdriverio/blob/6a6e5ba36d849fe279451d5217

[2019-02-14 14:03] dariaszmajduch opened #3553 "Configuring WebdriverIO 4 with babel"
Hello,

I'm trying to run a simple test using WebdriverIO in version 4, Page Objects, Cucumber framework and additionally some elements from ES6.

For now I have a blocking problem with configuring babel to compile ES6.

I installed some babel packages (listed below) and prepared:
1) in file .babelrc:
[code]
2) in wdio.conf.js:
[code]

To run test I use this command:
[code]

When I tried to run te

[2019-02-14 15:01] alexandrubradfortech commented on #3096
+1

[2019-02-14 16:20] charan2628 commented on #864
@vijen012 I'm facing the same issue, did you solved it?

[2019-02-14 16:27] ianwalter commented on #3552
Don't see where crome is defined in your wdio.conf.js, maybe you meant `browserName: 'chrome'` instead.

[2019-02-14 16:29] mgrybyk commented on #3552
How to reproduce this? @ilyubin

[2019-02-14 17:03] yepninja commented on #3552
@ianwalter
<details>
<summary>Compiled config</summary>

[code]

</details>

[2019-02-14 17:15] charan2628 opened #3554 "Switch To Parent Frame after immediate page redirection"
Browser: Firefox
Driver: geckodriver-v0.23.0-win64 (running in localhost)
WebdriverIO: v5.4.15
NodeJs: v10.15.0

Q: I had a page with overlay whose contents are in iframe, I have to click close button in that iframe, the moment I click the close button the page goes to next page.
So for closing the overlay I'm switching to that overlay iframe (using: browser.switchToFrame($('some css selector')) )

[2019-02-14 17:47] nicholasbailey commented on #3084
I have a possible patch for this, which I can PR for initial eyes after a little cleanup. It hooks into Jasmine.Suite's beforeAll, afterAll and onException methods and emits hook:start and hook:end events at appropriate times.  But it still leads to some reporting that's pretty counter-intuitive if you are used to Mocha.

When using Mocha, a failure in before will throw, ending suite execution. Th

[2019-02-14 19:51] lukaszfryc opened #3556 "Cannot extract a capabilities from the request for custom capabilities"
**Describe your question with as much detail as possible**
I use Zalenium as my Selenium Grid. It has an option to set `name` in `capabilities` to name a test that is executed (https://github.com/zalando/zalenium/issues/480#issuecomment-380156515). But, when I try to set it in WebdriverIO I get an error from the Grid:

[code]

Do you have any idea how to set it up?

**If it's about a specific piec

[2019-02-14 20:38] lukaszfryc commented on #3556
I just found out that I need to use `zal` prefix. E.g. `"zal:name": "test1"`.

[2019-02-14 20:38] #3556 closed

[2019-02-14 21:00] ematta opened #3557 "JUnit Reporter not allowing wdio to execute tests"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.17
 - **Mode:** WDIO TestRunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.15.1
 - **NPM version:** 6.4.1
 - **Browser name and version:** N/A
 - **Platform name and version:** macOS 10.14.3 (18D42)
 - **Additional wdio packages used (if applicable):**
[code]

**Config

[2019-02-14 21:24] jrobinson01 commented on #3084
I think I'm ok with them continuing execution. What I think is the current (my experience is mostly in v4, but I think it also exists in v5) is that errors in beforeAll, afterAll, etc are completely swallowed and don't appear in logs at all.

[2019-02-14 22:02] mo commented on #3084
The fact that beforeAll swallows all errors caused quite a bit of confusion / frustration when I upgraded from v4 to v5. I think it would be really useful to fix this issue.

[2019-02-14 22:11] mgrybyk commented on #3551
[code]
works fine for me, browser chrome

[2019-02-14 22:24] mgrybyk commented on #3552
@ilyubin tried
`browser.url("/search?q=носки")`
having baseUrl 'https://google.com'

works fine. Can you help with reproducing this please?

[2019-02-14 22:55] danielyoun82 commented on #3551
Ah my bad, It seems browser execute was changed to accept one argument only which can be array in V5. I was passing multiple arguments to browser execute which was the cause of failure, as that is the way how was using it in V4

[2019-02-15 02:14] yepninja commented on #3552
@mgrybyk PR explains issue

[2019-02-15 03:32] theMaxiiim commented on #3512
Hi goatsy,

Thank you for the suggestion. The error no longer appears. Now I am onto the next step, which is to create the test file. I've created the test file, and tested around with it but it is not able to locate elements, and most commands do not work. Commands such as driver.getDeviceTime(), or driver.isLocked() work perfectly. When the latter commands are used, the tests are displayed as su

[2019-02-15 03:51] TuHuynhVan commented on #3553
I don't think this's WebdriverIO bug, join our gitter channel for this kind of question
https://gitter.im/webdriverio/webdriverio

[2019-02-15 03:51] #3553 closed

[2019-02-15 04:14] finelord opened #3561 "Unable to use Custom Service"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.17
 - **Mode:** Standalone
 - **Node.js version:** 8.9.4
 - **NPM version:** 6.4.0
 - **Browser name and version:** Chrome 72
 - **Platform name and version:** Windows 10 / macOS 10.14
 - **Additional wdio packages used (if applicable):**
[code]

**Config of WebdriverIO**
[code]

**Describe the bug**
Tryin

[2019-02-15 06:10] ptthuong commented on #3476
https://github.com/webdriverio/webdriverio/pull/3558

[2019-02-15 09:14] stoneCC commented on #1140
i can found good solution.so .....i did it
[code]

[2019-02-15 10:49] tritethunder opened #3562 "Not able to use V5 with Jasmine"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.4.17]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [8.10.0]
 - **Yarn version:** [1.6.0]
 - **Platform name and version:** [MacOS Mojave]
 - **Additional wdio packages used (if applicable):** ["@wdio/cli": "^5.4.17",
    "@wdio/dot-reporter": "

[2019-02-15 15:27] istvandesign commented on #3416
With mocha I can use multiple expect statements.

[2019-02-15 16:52] finelord commented on #3557
Having the same, validator says `outputFileFormat must be a function` despite docs

[2019-02-15 17:02] WillBrock commented on #3561
@finelord The custom service should be exported without being initialized. I'll update the docs to reflect this.

[2019-02-15 17:42] WillBrock commented on #3562
@tritethunder I'm not able to reproduce the error you're receiving. Can you together a simple repo that I can checkout?

Thanks

[2019-02-15 17:49] WillBrock commented on #3554
@charan2628 Can you turn on your ```logLevel``` in wdio.conf.js to trace and see if you get more output and post it here? Also post the code you're trying to use. I did a basic test and was able to have the test pass.

[2019-02-15 17:59] WillBrock commented on #3557
Confirmed this is a bug. Will look to put in a fix.

[2019-02-15 18:53] finelord commented on #3561
thanks for helping with this but mentioned change didn't really resolve the issue, stdout errors disappeared but the service itself still doesn't work - silently. Just committed the change to the repo + placed the service itself on top of the config file to avoid any import/export issue.

https://github.com/finelord/wdio-custom-service

Am I missing anything else here?

[2019-02-15 19:14] #3539 closed

[2019-02-15 19:30] WillBrock commented on #3551
@danielyoun82 I can't reproduce the error you're describing when adding a custom command. Can you provide more information on what is going wrong, an example repo would be nice?

[2019-02-15 19:45] WillBrock commented on #3561
I see. I'm looking into this a little bit more. It looks like you can use ```before``` and ```after``` methods instead right now.

[2019-02-16 04:07] mgrybyk commented on #3534
@mo please see PR. There are some examples.

[2019-02-16 05:06] charan2628 commented on #3554
@WillBrock I solved it by waiting for the next page to load and using 'browser.switchToFrame(null)' but 'browser.switchToParentFrame()' is not working even after next page completely loaded . I can able to access the elements in the next page after that.
My code is in my repository 'THD-Automation' in that please check the 'switch to parent frame bug fixed' commit, in that changes made to 'test/pa

[2019-02-16 13:01] BorisOsipov commented on #3562
@tritethunder please make sure you didn't add `jasmine: 2.x` in dependencies. Wdio uses `jasmine: 3.x`, but looks like you install 2.x.

[2019-02-16 13:57] tritethunder commented on #3562
@BorisOsipov I am using 3.X in dependencies @WillBrock I will try to upload some small repo. Could you guys point me to some working examples where V5 used with jasmine 3.X

[2019-02-16 15:13] BorisOsipov commented on #3562
@tritethunder https://github.com/BorisOsipov/wdio-v5-jasmine

[2019-02-16 16:28] #3554 closed

[2019-02-16 21:42] tendonstrength opened #3567 "fads"

[2019-02-16 21:42] #3567 closed

[2019-02-16 21:47] tendonstrength opened #3568 "Can't set up dev environment due to geckodriver error"
I'm trying to set up my dev environment but when I try to run `npm run setup` (npm v6.4.1 & node v8.15.0) I get an error like:

[code]

This is happening both on Mac and a linux docker image. Has anybody seen this recently?

[2019-02-17 03:46] WillBrock commented on #2711
This should be fixed with #3565

[2019-02-17 03:46] #2711 closed

[2019-02-17 03:50] WillBrock commented on #863
This is 3 years old and I don't see a benefit of using Dash so closing. Feel free to re-open if needed.

[2019-02-17 03:50] #863 closed

[2019-02-17 03:55] WillBrock commented on #1017
This is old so closing. But I think you should always select based on the correct case and update your test data. If you're not then I think your approach to the problem/test is wrong.

[2019-02-17 03:55] #1017 closed

[2019-02-17 04:01] WillBrock commented on #1758
This is old and is probably not relevant anymore. Please re-open if you are still having issues in v5.

[2019-02-17 04:01] #1758 closed

[2019-02-17 04:07] WillBrock commented on #1877
I disagree. There is not a built in way for css selectors to do this and the effort is minimal.

How do you propose that you declare the custom attribute?

Closing since it's two years old.

[2019-02-17 04:07] #1877 closed

[2019-02-17 04:10] WillBrock commented on #2320
This is old and probably fixed in v5 so closing. Please re-open if you continue to have issues.

[2019-02-17 04:10] #2320 closed

[2019-02-17 04:15] WillBrock commented on #2357
This is currently not supported in v5. Screenshots should be taken in an afterTest hook. There are upcoming plans to re-implement screenshots. Please create another ticket if this issue persists or you have concerns.

[2019-02-17 04:15] #2357 closed

[2019-02-17 04:17] WillBrock commented on #2484
Replaced with #3381

[2019-02-17 04:17] #2484 closed

[2019-02-17 04:22] WillBrock commented on #2595
Is this still and issue in v5? #3565 might help with this. If you still have issues please re-open this ticket.

[2019-02-17 04:22] #2595 closed

[2019-02-17 04:25] WillBrock commented on #2751
@s-mendez-criteo is this still and issue? Have you tried it with v5?

[2019-02-17 04:25] #2751 closed

[2019-02-17 04:31] WillBrock commented on #2866
@abjerstedt is this already implemented in v5?

[2019-02-17 08:58] mgrybyk commented on #3568
@tendonstrength hello, yes. This is because defect in geckodriver.
Workaround is to switch to previous version. https://github.com/webdriverio/webdriverio/pull/3565/files

https://github.com/vladikoff/node-geckodriver/issues/59

[2019-02-17 15:50] tendonstrength commented on #3568
@mgrybyk Working. Thanks! 🎉

[2019-02-17 15:50] #3568 closed

[2019-02-17 20:49] udattuh opened #3569 "Getting errors while loading chrome extensions"
Hi,

I am not able to load chrome extension using webdirverio configuration. Could you please help how to load chrome extensions when webdriverio is launching chrome browser through test runner.

capabilities: [
    {
      maxInstances: 1,
      browserName: 'chrome',
      version : '69.0.3497.100',
      pageLoadStrategy: 'normal',
      'goog:chromeOptions': {
        args: [
          '--disa

[2019-02-17 21:29] mgrybyk commented on #3569
@udattuh most likely you can't load packed extensions (or there is some switch to load packed extensions).
Extract you extension first, provide path to folder with extension, it should contain mainfest.json file.

[2019-02-17 21:41] tendonstrength commented on #3389
Should this issue be closed since there is a merged PR for it?

[2019-02-17 22:12] mgrybyk commented on #3569
lets close this one

[2019-02-17 22:18] mgrybyk opened #3570 "base64 extension is printed to log along with capabilities"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.17
 - **logLevel:** info

**Config of WebdriverIO**
[code]

**Describe the bug**
base64 file is printed to log

**To Reproduce**
run any test with config provided

**Expected behavior**
instead of posting base64 file to log just print something like: extensions: [ base64str, base64str ]

**Log**
capabiliti

[2019-02-17 22:31] WillBrock commented on #3389
@tendonstrength yes, closing.

[2019-02-17 22:31] #3389 closed

[2019-02-17 22:32] #3569 closed

[2019-02-18 08:17] AnnikaNissen opened #3572 "Missing type definitions for `@wdio/reporter` package"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.4.17
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Additional wdio packages used (if applicable):** @wdio/reporter

**Describe the bug**
When trying to compile a custom reporter class from TypeScript to JS, the TS compiler complains about missing type definitions for

[2019-02-18 14:32] wildergonzo commented on #3542
Same problem here. Is there any way to avoid stdout clearing?

[2019-02-18 16:49] christian-bromann commented on #3542
Shouldn't your pipeline stop if you have eslint or unit test errors?

We are currently working on improving the CLI output and we are planning to have a CI conform version where it just prints all results as they arrive.

[2019-02-18 17:08] #3552 closed

[2019-02-18 17:12] christian-bromann commented on #2866
@WillBrock nope, it should be implemented in the webdriverio middleware. There are a couple of steps we can try to avoid that error, e.g. scroll element into the center of the viewport. However we should not try to remove the element or move it somewhere else because we shouldn't reject the meaning of that error.

[2019-02-18 17:56] christian-bromann commented on #3512
Make sure you use the right context. There is "web" and "native" contexts in Appium and you need to use specific selectors in either of them. Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-02-18 17:56] #3512 closed

[2019-02-18 18:05] christian-bromann commented on #3545
Why?

[2019-02-18 18:08] christian-bromann commented on #3324
The driver is behaving inconsistent here. It would be hard to make a workaround for edge for this command.

@fkleuver did you raise an issue in the Edgedriver project?

[2019-02-18 18:09] christian-bromann commented on #3517
PR is merged and will be released any second. Thanks @mgrybyk for looking into this.

[2019-02-18 18:10] #3529 closed

[2019-02-18 19:42] mgrybyk commented on #3545
waitForDisplayed doesn't return true/false and throws exception in case element is not found, behavior is correct, have no objections.

This request is not about waitForDisplayed, it is about possibility to skip calling waitForExist for custom element commands so user can add commands like.
There is some possibility already however it is limited by certain command names.

[2019-02-18 22:02] mgrybyk commented on #3537
Appium itself is not recording file, see http://appium.io/docs/en/commands/device/recording-screen/stop-recording-screen/
[code]
Have to update documentation.

[2019-02-19 07:11] Gilad-WT commented on #3537
@mgrybyk according to the wdio docs https://webdriver.io/docs/api/appium.html#startrecordingscreen the first parm of the function startrecordingscreen is filePath which is a string representing the path to the location where the video file should be saved. I passed in './video.mp4' aka create a file named video.mp4 in the current dir. I also tried it with './' aka this dir because I thought it may

[2019-02-19 09:03] atti187 commented on #3389
@WillBrock - not working, at least not on Windows. I moved the ensureDirSync-call to before the call to createWriteStream in the constructor and it starts working, which seems reasonable?

wdio.conf looks like:
`
reporters: ['spec',
        ['junit', {
            outputDir: './reports',
            outputFileFormat: function (opts) { // optional
                return `wdio-${opts.cid}-junit-repo

[2019-02-19 09:08] christian-bromann commented on #3537
@Gilad-WT tbh I just copied the docs over to my best knowledge. I never used that command and I am not sure what it does exactly so the WDIO docs might be not correct here.

[2019-02-19 09:11] mgrybyk commented on #3537
We can update doc to match appium doc and add new command to wdio that will save file in same way as screenshot.
Do we need both?

[2019-02-19 09:15] christian-bromann commented on #3537
What is both?

[2019-02-19 09:21] Gilad-WT commented on #3537
@christian-bromann the appium docs are different so It think you may have copied an old version.

@mgrybyk  I think we should just match the appium spec. If you want we can add a function startSimpleScreenRecord() that starts the recording and stopSimpleScreenRecord(path) which decodes the string appium returns from base64 to a normal mp4 string and saves it according to the path param

[2019-02-19 09:46] mgrybyk commented on #3545
@abjerstedt @christian-bromann also, it is not possible to add alias like **waitForNotExisting** right now because of same reason.

[2019-02-19 09:52] christian-bromann commented on #3545
Let's continue convo in #3548

[2019-02-19 09:52] #3545 closed

[2019-02-19 10:29] CrispusDH opened #3574 "Type definitions for webdriverio package missed a Promise<> as a return type for a lot of functions"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**
`webdriverio.d.ts` and `webdriver.d.ts` don't have `Promise<>` at all as a return type. But I have two points:
1) All commands return `Promise<someValue>` as we [can see here](https://github.com/webdriverio/webdrive

[2019-02-19 10:56] CrispusDH commented on #3574
Am I right that I can add `@return` type in a functions docs and type generation will grab it? For example for `.click()` in the `packages/webdriverio/src/commands/element/click.js` file I can add to:
[code]
this one:
[code]
If it is true I can go though all commands and add correct return type

[2019-02-19 12:19] christian-bromann commented on #3574
@CrispusDH I think the problem is that the return value changes depending on the fact how you run WDIO (with or without @wdio/sync). I am not sure what would be the best solution here.

[2019-02-19 12:26] CrispusDH commented on #3574
Return type does not change. If your using `@wdio/sync` it just handle instead of you. If you run without it you have to resolve Promise by yourself. But return type the same. Do you agree with it?

[2019-02-19 12:47] BorisOsipov commented on #3574
`Promise<string>` and `string` are not the same...

I think there is nothing to change in current typings generation. For v4 we have the same "official" typings - without Promises.

As solution may propose to create an additional package with generated typings for async version. If someone wants to use `async` version he will be able to install such typings.

[2019-02-19 12:50] WillBrock commented on #3389
@atti187 That might be OK but not sure why that would change creating the directory. I don't have windows so I don't have a way to test. Mind creating a pr so someone can test with windows?

[2019-02-19 13:12] christian-bromann commented on #3574
I agree on that.

Can we have it in a way that if you use async you need to set
[code]
and if using @wdio/sync you would need to put
[code]
or like that

[2019-02-19 13:37] robbiewareham commented on #1687
Apologies for adding to a closed issue but having investigated why, I wanted to add some more details as to why it is not possible to update configuration in an `onPrepare` function of a service.

I have observed that when I run my test (via WDIO CLI), the configuration file is loaded via `ConfigParser.addConfigFile` twice; once in `webdriverio/packages/wdio-cli/src/launcher.js` and once in `webdr

[2019-02-19 13:40] mgrybyk commented on #3574
I can take a look at this if you want

[2019-02-19 13:47] mgrybyk commented on #3537
@christian-bromann I suggest to do the following
- fix our docs to match Appium for these recording commands
- introduce new command: saveRecordingScreen that will stop recording and write recorded video to file.

@Gilad-WT I'd better avoid adding something like startSimpleScreenRecord, I think it is better to update docs and make these recording commands work according to Appium API and introduce

[2019-02-19 13:54] Gilad-WT commented on #3537
@mgrybyk agreed

[2019-02-19 14:08] christian-bromann commented on #3537
I am fine with that

[2019-02-19 14:14] mgrybyk commented on #3574
there is cool feature in typeScript called mapped types https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-8.html

we can do something like this
[code]

it will wrap every member of Element with Promise.

[2019-02-19 16:41] CrispusDH commented on #3574
@mgrybyk should I create PR with added `@return`, as I wrote before? I could base it from your branch. Or it will be not helpful for you?

[2019-02-19 17:04] mgrybyk commented on #3574
Let me think, at the first glance I don't think it is needed. However in case I'd that I let you know :)

[2019-02-19 17:53] christian-bromann commented on #3562
if `"jasmine": "^3.2.0"` is defined in the package.json you will download `"jasmine": "^3.3.0"` automatically via NPM

[2019-02-19 17:59] worc commented on #1017
there is no "correct case" in some test cases. and one way to approach a test "wrong" would be to create brittle requirements like very precise casing.

[2019-02-19 19:03] tritethunder commented on #3562
@christian-bromann Somehow it's not downloading 3.3.0 for me as I am using yarn in a massive monorepo and there may be other packages that require 3.2.0. isn't this useful to bump the version instead of having the wrong dependency at first place? IMHO we shouldn't rely on NPM to fix this issue by downloading the latest version.

[2019-02-19 19:06] BorisOsipov commented on #3562
@tritethunder would you mind making a PR? I think it will resolve your issue :)

[2019-02-19 23:07] mgrybyk commented on #3574
lets proceed conversation in PR

[2019-02-19 23:34] #3574 closed

[2019-02-19 23:41] danielyoun82 commented on #3551
@WillBrock It was nothing to do with JSON, it seems execute just can't seem to accept **undefined** as a value. I am not sure how best to report this issue, do you want me to create a new issue and close this one?

[2019-02-20 00:10] klamping commented on #3389
Looks like my fix resolved the issue in junit, but not allure... working on an update in #3578

[2019-02-20 00:12] nami-varthakavi commented on #3389
Haven't really had time to follow up on your changes. Anyways thanks for checking this out for me :)

[2019-02-20 00:23] WillBrock commented on #3551
@danielyoun82 I think you should do some checks before passing undefined or null to browser.execute. It doesn't really make sense to execute on nothing. If you have a use case to do it let me know.

[2019-02-20 00:23] #3551 closed

[2019-02-20 00:35] danielyoun82 commented on #3551
@WillBrock I use it to call public method from browser as it accepts undefined as input which omits the second argument
e.g.
[code]
This can definitely be changed, just a little inconvenience on my side as I need to write few extra code to it, that's all.

[2019-02-20 05:08] AnandGanesh-Reflektion commented on #3517
Thanks @mgrybyk for the fix.

[2019-02-20 06:16] diachedelic opened #3579 "Elements selected by browser.$ intermittently lose parent context"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.17
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** [e.g. 8.12.0]
 - **NPM version:** 6.4.1 (although using Yarn 1.10.1)
 - **Browser name and version:** Chrome 72.0.3626.109 (Official Build) (64-bit)
 - **Platform name and version:** MacOS 10.14.3
 -

[2019-02-20 09:25] Gilad-WT opened #3580 "logOutput doesn't work"
**Environment (please complete the following information):**

* **WebdriverIO version:** 5.2.8
* **Mode:** Standalone
* **Node.js version:** 10.14.2
* **NPM version:** 6.4.1
* **Platform name and version:** Windows 10

**Config of WebdriverIO**
wdio.remote({
        host: 'localhost',
        logOutput: "./",
        port: 4444,
        logLevel : "info",
        capabilities:{
            browser

[2019-02-20 09:42] Gilad-WT commented on #3580
@christian-bromann I saw you said this is an old v4 option. What replaces it?

[2019-02-20 09:43] christian-bromann commented on #3580
https://webdriver.io/docs/options.html#outputdir

[2019-02-20 09:46] Gilad-WT commented on #3580
@christian-bromann I tried it but it doesn't work. The log still gets printed to the console

[2019-02-20 09:51] christian-bromann commented on #3579
This looks like a race condition. I was not able to reproduce it with the code you provided. It would be great if you could provide a reproducible example of some sort otherwise it is impossible for us to help you out.

[2019-02-20 09:52] christian-bromann commented on #3580
`outputDir` is a wdio option, so you need to use the testrunner. If you don't wish logs in your output, set the logLevel to `silent`.

[2019-02-20 09:52] #3580 closed

[2019-02-20 09:53] christian-bromann commented on #3534
PR is merged and released. Closing.

[2019-02-20 09:53] #3534 closed

[2019-02-20 09:57] Gilad-WT commented on #3580
@christian-bromann I can't use the testrunner and even when the logs are set to "silent" I still get error print outs to the console. Is there a way to get the "info" level logs to log to a file or do I have to implement it?

[2019-02-20 10:03] christian-bromann commented on #3561
Looking into it now.

[2019-02-20 10:07] christian-bromann commented on #3580
This would be a new feature. Any help is appreciated.

[2019-02-20 11:51] #3562 closed

[2019-02-20 13:37] #3561 closed

[2019-02-20 15:47] christian-bromann commented on #3289
Let's continue convo in #3535

[2019-02-20 15:47] #3289 closed

[2019-02-20 16:43] tritethunder commented on #3562
@christian-bromann Thanks for accepting the PR. Bumping version solved the issue 👍

[2019-02-20 19:48] atti187 commented on #3389
@WillBrock - guess @klamping beat me to it! Anyway, thx.

[2019-02-20 19:50] ywangii opened #3588 "Set user-agent for IE"
Is there a way to set the `user-agent` for IE to be out-dated?

We are trying to use this way to test a warning feature when the browser is deprecated.

[2019-02-20 22:23] christian-bromann commented on #3588
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-02-20 22:23] #3588 closed

[2019-02-21 11:07] diachedelic commented on #3579
Okay I understand.  I don't think I'll be able to create a repo which reproduces this bug reliably, I'll try debug it instead when I next see it.

@christian-bromann could you please answer a question to help me out?  To my understanding, the only way `findElement` would be called instead of `findElementFromElement` would be if `elementId` was not set on the parent ([utils.js:321](https://github.c

[2019-02-21 14:29] vogloblinsky opened #3592 "Shadow DOM + IE11"
**Environment:**
 - **WebdriverIO version:** 5.6
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.1
 - **NPM version:** 6.4.1
 - **Browser name and version:** IE11
 - **Platform name and version:** Windows 10

**Config of WebdriverIO**
https://github.com/vogloblinsky/webdriverio-stencil

**Describe the bug**
The usage of shadow$ works fine in a br

[2019-02-21 15:02] christian-bromann commented on #3592
Can you provide some logs?

[2019-02-21 15:50] tritethunder commented on #3437
[code]

[2019-02-21 15:57] abjerstedt commented on #3437
@christian-bromann So the above example is in the CICD pipeline. I suppose this is a good example of when we should just default to the previous behavior.

[2019-02-21 21:36] mgrybyk commented on #3579
@diachedelic  may I ask you a question, have you @wdio/sync installed?
Can't see it in your package.json.
If you haven't got it installed wdio will run in async mode which mean you have to resolve each call to driver.

[2019-02-21 21:48] mgrybyk commented on #3515
I'll try it tomorrow on my real device with Appium 1.11.1

[2019-02-21 22:44] mgrybyk commented on #3466
@christian-bromann I was able to reproduce it with

[code]

I'm not getting full value of $("textarea").getValue() in log.

In case I add `outputDir: __dirname,` to wdio conf value appears in `wdio-0-0.log` as expected.

Are you working right now on this issue or logger improvements / refactoring? Does it make sense to dive deeper at the moment?

[2019-02-22 00:10] yuxli066 commented on #1248
In the hook "afterScenario: function (scenario)", how can I check that it is the last scenario in the file that I am running so that I do not have to refresh the session one more time by using "browser.reload". It's not causing a huge issue to my tests but I would prefer to be able to not waste the extra second having it refresh even after the very last scenario.

[2019-02-22 00:38] mgrybyk opened #3593 "COMMAND, DATA, RESULT are not colored"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.6.0

**Describe the bug**
COMMAND, DATA, RESULT are not colored

**To Reproduce**
`browser.url("/")`

**Expected behavior**
color COMMAND, DATA, RESULT or remove unused code

**Log**
[0-0] 2019-02-21T23:08:09.675Z INFO webdriver: COMMAND navigateTo("...")

**Additional context**

this is happening because lo

[2019-02-22 00:58] diachedelic commented on #3579
@mgrybyk yes I do, sorry, I've updated the description

[2019-02-22 08:56] christian-bromann commented on #3579
What error property? We don't throw errors if an element can't be found.

[2019-02-22 09:01] diachedelic commented on #3579
@christian-bromann [this error property](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/browser/%24.js#L73)

[2019-02-22 09:50] mgrybyk commented on #3593
Can do PR for this if one of proposed solutions is suitable:
- change matches to `matches: (log) => typeof log === string && log.endsWith('COMMAND')` and slightly change loglevel-plugin-prefix template to avoid changing colour for ':' that goes before COMMAND
- change printing of COMMAND, RESULT and DATA like this `log.info('', 'COMMAND', commandCallStructure(command, args))`

I'm not really amaze

[2019-02-22 09:50] christian-bromann commented on #3579
No. We use to see if the element was found and if you log the object to make you aware that the element could not be fetched.

[2019-02-22 10:06] christian-bromann commented on #3593
Seems like the second one is more plausible if we add a comment as to why this is.

[2019-02-22 11:58] CrispusDH opened #3596 "`BrowserObject` instance does not "understand" typings"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**
Instance `BrowserObject` does not "understand" typings. I meant that autocomplete does not work at all:
![image](https://user-images.githubusercontent.com/12623263/53240979-e374d080-36a8-11e9-83e3-17d9f2774014.png)

[2019-02-22 12:01] christian-bromann commented on #3596
For WebStorm someone made a docs page to get autocompletion https://webdriver.io/docs/autocompletion.html .. does this work for you?

[2019-02-22 12:02] CrispusDH commented on #3596
The issue that autocomplete for `Element` works correctly.

[2019-02-22 12:14] christian-bromann commented on #3596
So it works for the browser object but not for the element one?

[2019-02-22 12:18] mgrybyk commented on #3596
works for me in VSCode
![image](https://user-images.githubusercontent.com/25589559/53242181-4adc5180-36a4-11e9-839e-0f07da19ca2c.png)

[2019-02-22 12:20] mariocasciaro commented on #3460
Having a similar issue here, getting a 'Socket hang up', but for me it's consistently happening when sending a getUrl() command just after a simple navigateTo(). With v4 it's working perfectly.
I'll try to create a reproducible scenario when I have some spare time.

[2019-02-22 12:21] mgrybyk commented on #3596
yes, confirming that it is not working in itelliji

[2019-02-22 12:45] mgrybyk commented on #3596
I'm seeing lots of similar issues submitted...

[2019-02-22 12:45] jrobinson01 commented on #3592
https://travis-ci.org/vogloblinsky/webdriverio-stencil/jobs/496525282#L743
@christian-bromann IE11 does not support arrow functions, yet we're sending it one. I assume this is babel converting it for us. Can we annotate it such that babel ignores it and sends a normal function?

[2019-02-22 12:51] christian-bromann commented on #3592
mhm .. good catch! I wonder if it is actually Babel doing this 🤔 afaik it doesn't intentionally convert functions to arrow functions.

[2019-02-22 12:51] CrispusDH commented on #3596
I'm using WebStorm. Autocomplite works for Element and does NOT work for Browser.

[2019-02-22 12:54] diachedelic commented on #3579
@christian-bromann ah, inspecting wdio code further I see that in `elementErrorHandler` there is code to ensure `client.elementId` is populate before going on to call `client.$`.  I have been unable to reproduce the bug since reporting it.  Next time it occurs reliably I will try to pin it down.

[2019-02-22 12:58] mgrybyk commented on #3596
yes, I know, looks like some defect in itelliji IDEs. There are lots of issues saying the same

[2019-02-22 12:58] christian-bromann commented on #3596
@mgrybyk can you reference one?

[2019-02-22 13:00] mgrybyk commented on #3596
https://www.google.com/search?q=webstorm+typescript+duplicate+identifier

interesting thing is that once I've added some command there is error highlighting. But no autocomplete.

Maybe some configuration issue

[2019-02-22 13:24] mgrybyk commented on #3596
@CrispusDH I'll take care of this one

[2019-02-22 13:41] mgrybyk commented on #3596
@CrispusDH I've figured out what is the problem.

It is some defect in intelliji products. If there are lots of interface members autocomplete is not working, haha

[2019-02-22 13:49] flexin777 commented on #3230
Hello
Where I can take this object `driver`? I see only `browser`.

[2019-02-22 14:14] christian-bromann commented on #3230
Please have a look at our appium boilerplate https://github.com/webdriverio/appium-boilerplate

[2019-02-22 14:16] christian-bromann commented on #3596
Darn 🙈 I guess we can close this one then?

[2019-02-22 14:46] mgrybyk commented on #3596
@christian-bromann we can do some "cleanup" of Client commands.
Not sure if we need all of them in browser object

[2019-02-22 14:49] christian-bromann commented on #3596
Since we don't know which session the user is running we can't strip any commands :-/

[2019-02-22 14:56] mgrybyk commented on #3596
@christian-bromann
I mean that we can remove commands like
- elementClick (because we have $("").click)
- getElementAttribute (same)

and I'm talking only about browser object, not Client interface

[2019-02-22 15:38] CrispusDH commented on #3596
[code]
- `WebdriverIOAsync.Browse` has 21 properties
- `WebDriver.ClientAsync` has 186 properties **0_o**
- `WebDriver.ClientOptions` has 6 properties

Maybe we can somehow group up it in different way?

[2019-02-22 15:49] mgrybyk commented on #3596
There are some element related properties on browser level.
My proposal is to remove part of them or move to element level

[2019-02-22 16:14] christian-bromann commented on #3596
if you have an elementID you can theoretically run that command

[2019-02-22 16:22] mgrybyk commented on #3596
hm, then our typings are not really valid `elementClick(): undefined;`

what if we create typings for different Client(s) and user will be able to import as much as needed?

[code]

[2019-02-22 16:24] mgrybyk commented on #3596
One workaround is worse than another one :)

[2019-02-22 16:41] christian-bromann opened #3602 "Strip down element object when passed into execute commands"
## Problem

With WebdriverIO you can pass in an element into the execute command to use it in the script , e.g.
[code]
Right now WebdriverIO would serialize the whole element object including all properties and methods. This is unnecessary and requires to much bandwidth.

## Solution

In execute and executeAsync, check if any of the parameters is an element object and strip the object down to elem

[2019-02-22 16:42] christian-bromann commented on #3596
Is itelliji interested in fixing this problem? I rather not want to have any circumstances because of a buggy IDE.

[2019-02-22 17:34] christian-bromann opened #3603 "scrollIntoView uses a arrow function which breaks in IE"
Title says it all. We should replace the arrow with an actual function.

[2019-02-22 17:44] christian-bromann opened #3604 "Allow to overwrite native WebdriverIO commands"
**Is your feature request related to a problem? Please describe.**

There are still a lot of cross driver issues around (e.g. saveElementScreenshot not being supported in Chrome but in FF) which teams try to solve by overwriting existing native API commands. It is a valid approach because it allows them to just remove the overwrites once cross driver support is ensured.

The argument against overw

[2019-02-22 18:06] mgrybyk commented on #3604
There is such ability in Cypress, they are adding original command to callback.
Something like this:
[code]

[2019-02-22 18:18] anxious-confidence opened #3605 "setValue doesn't work on Safari and Firefox"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.6.1
 - **Mode:** Mocha
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15
 - **NPM version:** Not sure
 - **Browser name and version:** Safari 12 and Firefox 65
 - **Platform name and version:** Mac 10.14 (for Safari) and Windows 7
 - **Additional wdio packages used (if applica

[2019-02-22 18:22] christian-bromann commented on #3604
That's neat but it would be difficult to have it as first parameter as it would break all existing user tests .. I wouldn't mind adding it as last parameter though.

[2019-02-22 18:30] klamping commented on #3388
FYI, here's a workaround I'm using in my testing. I add this to my wdio.conf.js file and I'm using Mocha, so it might be different for Jasmine.

[code]

[2019-02-22 18:45] abjerstedt commented on #3388
personally i do:
[code]

[2019-02-22 18:58] #3460 closed

[2019-02-22 19:07] christian-bromann commented on #3388
So is this worth adding as native feature and if so how do people configure this?

[2019-02-22 19:08] christian-bromann commented on #3592
This is fixed and released

[2019-02-22 19:08] #3592 closed

[2019-02-22 20:38] CrispusDH commented on #3596
I agree that it is strange to do something because of bug in IDE. But I'm not sure that merging all ~200 methods in one `BrowserObject` is a good path also.

[2019-02-22 20:45] mgrybyk commented on #3605
@anxious-confidence this code works fine in Firefox 66, geckodriver v0.24.0
[code]

[2019-02-22 21:03] mgrybyk commented on #3515
confirming issue.
getElementProperty doesn't work, have to use getElementAttribute instead.

Maybe same issue as we have with setValue quite recently

[2019-02-22 21:20] anxious-confidence commented on #3605
@mgrybyk Ah, unfortunately saucelabs does not have those versions. Hopefully they'll include them soon. I'll close this issue for now and then open up a new one if FF 66 and Safari 12.0.3 still doesn't work

[2019-02-22 21:24] BorisOsipov commented on #3596
@christian-bromann yes it is, if someone report bug to issue tracker with concise reproducible example.

[2019-02-22 21:26] BorisOsipov commented on #3596
second one, I didn't meet issues with webstorm typings, so are we sure there is no ide configuration issues with?

[2019-02-22 21:40] mgrybyk commented on #3515
same on Android

[2019-02-22 22:21] klamping commented on #3388
Personally I'd like to see it back in place. It's a good jumping off point when I go to start debugging an unexpected test issue.

I wouldn't mind it being a service that I add though. It doesn't have to be part of the core framework.

[2019-02-22 22:36] christian-bromann commented on #3515
Let's continue convo in #3606 .. thanks for picking this up @mgrybyk

[2019-02-22 22:36] #3515 closed

[2019-02-23 07:04] vogloblinsky commented on #3592
Cool guys, thanks for the quick response. 👏

[2019-02-23 09:32] mgrybyk commented on #2843
There is one more alternative to copy paste, maybe it can help, rough example:
[code]

Following approach data -> action -> verification point.
It might help if you have an array of images, links, text fields or even more complex objects you want to do assertion against.

[2019-02-23 13:15] jrobinson01 commented on #3592
I haven’t tried IE yet. Can you verify that it’s working now?

[2019-02-23 13:18] CrispusDH opened #3607 "Async Types: inside a Promise should be just return value instead of whole structure"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**
Currently, I see inside a Promise whole method structure but should be only return.
For example method `.click()` has such type
[code]
but I expect (and such type is for `sync`, of course without `Promise`)
[code]

[2019-02-23 13:18] vogloblinsky commented on #3592
It works : https://travis-ci.org/vogloblinsky/webdriverio-stencil/builds/497396261

[2019-02-23 13:19] CrispusDH commented on #3607
@mgrybyk I'm not sure why it happens. I think it might be here:
[code]

[2019-02-23 13:27] mgrybyk commented on #3607
I'll double check it on Monday

[2019-02-23 16:00] flunderpero opened #3608 "element.getElementRect omits `y` coordinate"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 5.6.2]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [e.g. 10.13.0]
 - **NPM version:** [e.g. 6.4.1]
 - **Browser name and version:** [Safari 12.0.3]
 - **Platform name and version:** [OSX Mojave]

**Config of WebdriverIO**
[code]
**Describe

[2019-02-23 16:02] christian-bromann commented on #3608
@flunderpero can you provide logs please?

[2019-02-23 16:38] flunderpero commented on #3608
Sorry, I forgot. This is what happens when I try to call `element.moveTo()`:

[code]

I can verify that `element.getElementRect(element.elementId)` will only return `x, width, height` but not `y`.

[2019-02-23 17:01] christian-bromann commented on #3608
@flunderpero can you provide the driver logs please?

[2019-02-23 18:16] flunderpero commented on #3608
The `selenium-standalone-logs`:
[code]

[2019-02-23 18:20] christian-bromann commented on #3608
Those are not the driver logs .. wdio provides these wherever you've defined the [`outputDir`](https://webdriver.io/docs/options.html#outputdir)

[2019-02-23 18:54] flunderpero commented on #3608
I get a `wdio.log` and a `wdio-0-0.log`. The latter one is what you see [above](https://github.com/webdriverio/webdriverio/issues/3608#issuecomment-466667379). The other one:
[code]

[2019-02-23 22:26] mgrybyk commented on #3608
the issue is that getElementRect is not returning y:
`{x: 216, width: 76, height: 19}`

[2019-02-23 22:28] mgrybyk commented on #3608
https://github.com/SeleniumHQ/selenium/issues/6637

[2019-02-23 22:37] mgrybyk commented on #3608
first of all we have to do some minor fix in order to handle it.

Then, you'll be able to workaround you issue like this
[code]

doing PR for this

[2019-02-23 22:47] flunderpero commented on #3608
That's the kind of workaround I'm using. Thanks for the quick reply!

[2019-02-23 22:59] mgrybyk commented on #3608
this workaround should not work as well at the moment

[2019-02-23 23:19] flunderpero commented on #3608
Sorry for causing confusion, I just meant that I use browser.execute(...) as a workaround. My current use case is to open a menu by hovering above it. The workaround is to use dispatchEvent() directly on the DOM-element.
But since I am moving more tests to wdio it is just a matter of time until I run out of workarounds. :-)

[2019-02-23 23:34] mgrybyk commented on #3608
@flunderpero may this PR https://github.com/webdriverio/webdriverio/pull/3610 be helpful for you?

[2019-02-23 23:37] mgrybyk commented on #3608
We can even do something like this, if one of x,y,height,width is undefined get location with javascript.

So that there will be no need to define all that custom commands

[2019-02-24 01:56] mgrybyk commented on #3608
let's proceed conversation in PR https://github.com/webdriverio/webdriverio/pull/3610

[2019-02-24 14:18] baruchvlz commented on #3602
Right now the callback returns the element id by default, no?

[code]

Do you want this return to change to? (with all the other properties stripped)

[code]

[2019-02-24 14:50] grazzini opened #3611 "setValue broken with safaridriver in --legacy mode"
**Environment:**
 - **WebdriverIO version:** 5.6.2
 - **Mode:** Both
 - **Node.js version:** 10.15.0
 - **NPM version:** 6.7.0
 - **Browser name and version:** Safari 12
 - **Platform name and version:** OSX 10.13, 10.14

**Describe the bug**
When safaridriver is in `--legacy` mode, `setValue` breaks with the following error:

[code]

This is particularly inconvenient because wdio doesn't currentl

[2019-02-24 19:42] cammanderson opened #3613 "Using performActions in custom commands"
**Describe your question with as much detail as possible**
The standard commands use this.performActions(). Using addCommand('custom', function() {}, true) does not provide scope to the this.performAction (returning undefined).

Is it possible to issue actions via performActions() directly from a custom command? If so what is the correct way to do this?

Running WebdriverIO cli: 5.4.17 with Chrome

[2019-02-24 22:30] GineaPig commented on #2639
This doesn't look fixed on v5, any work around for v5?

[2019-02-25 06:56] mgrybyk commented on #2639
Should be fixed in v5

[2019-02-25 07:26] flunderpero commented on #3608
As you mentioned in the PR, I too think it is best to throw an exception and let the test fail with an appropriate message. At least this is the best solution from a frameworks pov.

[2019-02-25 08:31] mgrybyk commented on #3608
yeah, agree

[2019-02-25 09:43] arivas191 opened #3614 "Connection Reset by Peer"
I am running tests using WebdriverIO and only **sometimes** I get the following error:
`Error: Promise was rejected with the following reason: java.net.SocketException: Connection reset by peer (connect failed)
      at new WaitUntilTimeoutError (node_modules/webdriverio/build/lib/utils/ErrorHandler.js:149:12)
      at /Users/augusto/hushapp-tests/node_modules/webdriverio/build/lib/commands/waitUn

[2019-02-25 10:13] mgrybyk commented on #3607
fixing it

[2019-02-25 10:16] AnnikaNissen commented on #3596
Are you aure that this is an IntelliJ/IDE problem?

I'm experiencing the same autocompletion issue in VS Code after updating to WebdriverIO v5.6.2 (coming from v5.4.17). To me it seems like this is related to the sync/async TypeScript changes (https://github.com/webdriverio/webdriverio/pull/3577).

Also I'm also experiencing TypeScript compiling issues since the update:
[code]

I added the sync-ty

[2019-02-25 10:27] christian-bromann commented on #3614
Update to v5 where we have request retries that should fix these issues. Also in v5 there are less concurrent requests to browser drivers due to the nature of the API. We don't actively working on fixes for v4 anymore however if you can take a stab at it to fix this problem we are happy to merge and release it.

[2019-02-25 10:27] #3614 closed

[2019-02-25 10:34] christian-bromann commented on #3602
@baruchvlz interesting point, I am not sure if we need to because if people want to fetch an element with a execute function they can just do:

[code]

However I wonder if it would make sense to automatically transform an element response from execute into an actual wdio element. This would be valuable if you want to pass in parameters into the function call as you showed above. This would be defi

[2019-02-25 10:54] #3440 closed

[2019-02-25 10:59] arivas191 commented on #3614
I updated to v5 and now I can't run any of my tests, it looks like my syntax is not compatible with v5. Is there a quick fix to this?

Errors:

    1) "before each" hook for "1. Should successfully upload, send and register file sent to an internal user"
(node:92205) UnhandledPromiseRejectionWarning: Error: Required option "capabilities" is missing
    at validateConfig (/Users/augusto/hushapp-tes

[2019-02-25 11:08] arivas191 commented on #3614
This comes from here, where I initialize my browser:
`let browser = webDriver.remote(options).init()
        browser.windowHandleMaximize()`
And options is:
`let options = {
    desiredCapabilities: {
        browserName: env.web.browser
    }
}`

[2019-02-25 11:11] christian-bromann commented on #3614
@arivas191 you can't just update a major version and expect everything to work fine .. see https://webdriver.io/blog/2018/12/19/webdriverio-v5-released.html

[2019-02-25 11:24] CrispusDH commented on #3607
could you link a PR? Want to see how you fix it :)

[2019-02-25 11:31] christian-bromann commented on #3608
@flunderpero @mgrybyk this looks like a driver issue and should be reported in that project

cc @burg .. seems that safaridriver is not sending rect properties in specific cases like

[code]

Any idea?

[2019-02-25 11:32] christian-bromann commented on #3611
Fixed in #3615

[2019-02-25 11:32] #3611 closed

[2019-02-25 12:15] christian-bromann opened #3616 "Rename logger names to represent NPM package name"
Currently all logger names are based on the internal naming structure (e.g. `wdio-sauce-service`). Since these logs are user facing logs they should actually named like the NPM package name. Therefor we should rename all loggers to reflect the NPM package name.

[2019-02-25 12:18] PippoRaimondi commented on #3498
I will go ahead and create a small PR for this as I don't imagine it will be too much work... then we can use that as a discussion point... keep you posted!

[2019-02-25 12:24] LayMuiToh opened #3617 "unable to provide/set element id properly to selectPickerWheelValue"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:**v.

[2019-02-25 12:26] mgrybyk commented on #3607
@CrispusDH take a look.

[2019-02-25 12:27] mgrybyk commented on #3607
I'm think on adding some testing for these all these types, don't have much time right now, hopefully somewhere later we can have tests for typings.

[2019-02-25 12:29] mgrybyk commented on #3616
also, lets make sure that each package uses its own logger instead of reusing logger of another package.

Example: allure reporter should have its own logger instead of reusing runner reporter

[2019-02-25 12:35] mgrybyk commented on #3608
@christian-bromann you are absolutely right.
This is an issue of safari 12.0.3 driver, see details here https://github.com/SeleniumHQ/selenium/issues/6637

Looks like it is fixed in Safari Technology Preview 69

That's why there is an open question on how should webdriverio handle it.

My assumption is to throw proper error if command `getElementRect` is not working as expected, example, in our ca

[2019-02-25 12:35] mgrybyk commented on #3608
@christian-bromann please suggest a proper way in terms of framework on how to deal with issues like this.

[2019-02-25 12:38] christian-bromann commented on #3608
I liked that workaround. I think it should be the job for WebdriverIO to polyfill problems of specific drivers to provide a consistent automation API. So I would propose to reopen the PR and get it merged.

[2019-02-25 12:49] christian-bromann commented on #3617
Moving to v4 repo. We don't actively fix issues for v4 anymore. However we are happy to merge provided fixes and release new versions.

[2019-02-25 12:50] christian-bromann commented on #3617
This issue was moved to webdriverio-boneyard/v4#18

[2019-02-25 12:50] #3617 closed

[2019-02-25 12:55] christian-bromann commented on #3498
@PippoRaimondi I don't think that adding more parameter to the wdio command is a good solution to this, you can already do this by calling the wdio command as

[code]

and build you capabilities based on this using `process.env.REMOTE_BROWSER`

[2019-02-25 12:55] christian-bromann commented on #3593
@mgrybyk can this be closed now?

[2019-02-25 14:25] baruchvlz commented on #3616
@mgrybyk I'm guessing this should be taken care of in a different PR instead of the same one that changes the names for the loggers? (I don't want to bite off more than I can chew)

@christian-bromann Question. Some loggers, like the cli, use `wdio-cli:run`, should this be renamed to `@wdio/cli:run` or `@wdio/cli` ?

[2019-02-25 14:45] christian-bromann commented on #3616
@baruchvlz I think we should keep the pattern that is `<package-name>:<sub-component-of-package>` so `@wdio/cli:run`

[2019-02-25 15:12] burg commented on #3608
This will be fixed in the next Safari update. I recommend not to add such a workaround.

Sent from my Apple IIc

[2019-02-25 15:16] Antonius-S commented on #3426
Upvote this. Request has 60 (!) dependencies most of which are useless for WD.

[2019-02-25 15:28] xMutaGenx opened #3620 "Cannot install latest version due to Control Character in the package"
Noticed this morning as our Artifactory cannot pull from remote anymore:
[code]

[2019-02-25 15:44] mgrybyk commented on #3596
@AnnikaNissen

Are you using @wdio/sync version?
Are you importing webdriverio anywhere? ex import * as webdriverio from "webdriverio"

[2019-02-25 15:46] christian-bromann commented on #3620
I don't think this is related to WebdriverIO.

[2019-02-25 15:46] #3620 closed

[2019-02-25 15:52] CrispusDH commented on #3426
One of option - [GOT](https://github.com/sindresorhus/got) from Sindre Sorhus maintainer with install size `302 kB`.

[2019-02-25 15:52] yepninja opened #3621 "TypeError: elem.scrollIntoView is not a function (firefox)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** webdriverio
 - **Mode:** Standalone mode, remote
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.13.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** Firefox 65.0.1
 - **Platform name and version:** MacOS 10.14.3
 - **Additional wdio packages used (if applicable):** @w

[2019-02-25 16:03] Antonius-S commented on #3426
Axios has only 5 deps
Got has 24

[2019-02-25 16:09] mgrybyk commented on #3593
I haven't fixed it yet ))

[2019-02-25 16:30] mgrybyk commented on #3593
If this is urgent let someone help me with it, or I can do it in next couple of days

[2019-02-25 17:05] jlipps commented on #3426
@abjerstedt the idea behind this feature is not to make wdio run through a browser. only to make the wdio package amenable to other implementations who might want to use it in a browser. wdio itself would remain purely node-based and involve no browser usage whatsoever.

[2019-02-25 17:56] christian-bromann commented on #3593
it's not urgent

[2019-02-25 18:41] abjerstedt commented on #3426
I retracted my thumbs down during our last discussion on this :D, you don't need to sell this to me anymore.

[2019-02-25 19:29] jlipps commented on #3426
@abjerstedt whoops I also forgot that I had already replied above, sorry for the extra convincing :-p

[2019-02-25 20:11] anxious-confidence opened #3623 "Execute function does not seem to work in Safari"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-02-25 20:34] kandarp1691 commented on #1294
@christian-bromann I was facing the same issue where instead of giving "Couldn't connect to selenium server" I was getting "Sockte Hangup". Two solutions seem to be working for me
1. Setting sauce username and password in config file
2. Adding https in the protocol.
Hoping there is a clear answer on this.

[2019-02-25 20:34] christian-bromann commented on #3623
Will be fixed with #3615

[2019-02-25 20:34] #3623 closed

[2019-02-25 20:46] abjerstedt commented on #3608
@burg Isn't safari firmware locked though? We'd need the next actual iOS release in order to see the fix.

[2019-02-25 20:49] burg commented on #3608
@abjerstedt I'm not sure what you are asking. iOS Safari does not support WebDriver. safaridriver is updated with Safari, either as part of an OS update or an app update for previous major OS versions. Safari Technology Preview also includes the fix, so people can use that to see the upstream behavior.

[2019-02-25 20:57] mgrybyk commented on #3607
Please don't forget to generate:typings and publish webdriverio, webdriver, @wdio/sync !

[2019-02-25 22:03] abjerstedt commented on #3109
@christian-bromann Is this worth keeping open? It seems a little like overkill to have to run a regex on all dumps of the selector property.

[2019-02-25 22:33] christian-bromann commented on #3109
This issue was moved to webdriverio-boneyard/v4#19

[2019-02-25 22:33] #3109 closed

[2019-02-25 23:36] mgrybyk commented on #3608
@abjerstedt it is not only about iOS, it is Safari in general, both iOS and Mac.

@burg  iOS Safari works with Appium and has just the same problem

[2019-02-25 23:49] burg commented on #3608
Believe whatever you want, but the bug is in safaridriver, and I fixed it.

[2019-02-26 00:08] mgrybyk commented on #3608
@burg just saying what I see, maybe it is two different issues.
Anyway thank you :)

[2019-02-26 03:44] lucialuzuriaga opened #3626 "Session shuts down immediately after launching app"
## The problem

I'm trying to test an Android app using WebdriverIO. I followed the guidelines of the Appium boilerplate project, and have been struggling ever since. At first I thought that my issues were related to ES6 (syntax error on imports, exports, declaring constants, etc.) but I realized that my test is simply failing even before that because the app closes immediately after being launche

[2019-02-26 07:15] mgrybyk commented on #3626
First of all second guide is for v4, it won't work in v5.

Then, can you please provide webdriverio logs and the test you are running, please.

Here are some more questions
- do you have tests in './test/specs/**/*.js', ?
- do you have sync: true in wdio.conf.js ?
- is something happening on emulator? Is app being installed or at least something?

[2019-02-26 07:32] AnnikaNissen commented on #3596
@mgrybyk

Yes, I'm using WebdriverIO with the `@wdio/sync` package. I actually had imports from webdriverio without being aware of them - my compiler issues are gone since I removed all of them.

It seems like the VS code code completion is still confused. I'll try to investigate that a bit more during the day and give an update on that asap.

[2019-02-26 07:40] mgrybyk commented on #3596
@AnnikaNissen don't forget restarting VSCode after changing typings in tsconfig

[2019-02-26 08:22] AnnikaNissen commented on #3596
@mgrybyk

My code completion stays broken, also after restarting VS Code. Here is what I'm experiencing:

* `browser` is known and is completed. When pressing `F12` on `browser`, the type definition file in the `@wdio/sync` package is opened. But after `browser`, the completion stops. Methods on browser are not completed.
![screen shot 2019-02-26 at 09 13 32](https://user-images.githubusercontent.

[2019-02-26 08:44] #3621 closed

[2019-02-26 08:55] #3607 closed

[2019-02-26 08:56] mgrybyk commented on #3596
Try removing typeRoots": [
            "node_modules/@types"
        ],

And all imports of webdriverio in the code.

[2019-02-26 08:58] christian-bromann commented on #3626
Can you provide wdio logs?

[2019-02-26 09:33] mustaphakd opened #3627 "npm ERR! {"_id":"webdriverio","
**platform** => node:10.12.0-alpine

**package.json dependencies entry contains** => "webdriverio": "4.6.2",

executing the command: **npm install -ddd** throws the following exception:

npm ERR! registry error parsing json
npm ERR! Unexpected token  in JSON at position 2098
npm ERR! {"_id":"webdriverio","_rev":"232-f255b719a1d4f7b32f9d5cca29b24efe","name":"webdriverio","description":"Next-gen Web

[2019-02-26 10:07] AnnikaNissen commented on #3596
@mgrybyk

Unfortunately that doesn't help.

[2019-02-26 10:24] steerben commented on #3620
I do think so that this might be related to webdriver io.
Same error message since today.

Download works when done directly from npm, but not via artifactory remote repo anymore.
Granted, artifactory might not handle the characters in a correct way.

Still the file retrieved at `https://registry.npmjs.org/webdriverio` seems to contain illegal unquoted characters since one of your latest releases,

[2019-02-26 10:44] christian-bromann commented on #3620
I don't know how you have setup artifactory nor how it is connected to NPM to download the package. That being said, there is nothing I can do to investigate this. We also haven't changed anything in the package.json that could have caused this. Feel free to provide a PR with a fix.

[2019-02-26 10:45] mgrybyk commented on #3596
I need reproducible example then

[2019-02-26 10:49] christian-bromann commented on #3627
I don't know what you referring to but we don't have that as a dependency also not sure what you did to get this error but I was able to successfully install WebdriverIO.

[2019-02-26 10:49] #3627 closed

[2019-02-26 11:02] arivas191 commented on #3614
Just to be clear, are you guaranteeing that this issue doesn't occur in v5? My test suite is pretty big and if I upgrade I would have to change a significant amount of syntax in my tests in order for v5 to run them, and I want to make sure it will actually be worth the trouble.

[2019-02-26 11:07] christian-bromann commented on #3614
We don't actively fix bugs in v4 anymore and v5 is much more advanced than v4 so the upgrade is definitely worthwhile.

[2019-02-26 11:11] CrispusDH commented on #3596
@AnnikaNissen I think will be better to create separated issue

[2019-02-26 11:12] arivas191 commented on #3614
I'm sure it's more advanced, but the only issue I'm having with v4 is this one. So, do you know for a fact that this issue has been permanently fixed in v5?

[2019-02-26 11:45] mustaphakd commented on #3627
don't know  why you closed it;
webdriverio npm package is a dependency that gets installed when npm install is invoked.
however, I get the error mentioned above.

I am only getting this error on Alpine Linux and not on the windows 10 platform.
do you happen to a token inside your registration json file that's unrecognizable under Linux ?

[2019-02-26 12:13] vbyjsue opened #3631 "How to listen to custom events?"
Upgrading from v4 to 5.6.0 I have a problem with custom events. In v4 I could do:
`process.send('custom:event', data)`
and then in custom reporter listen to it like:

[code]
In V5 it seems all events must have origin "reporter" or "worker" to be processed, but even so I cant get custom events to be passed to reporter.
Can't find anything in in docs on how to handle custom events in V5?

- Webdrive

[2019-02-26 12:54] christian-bromann commented on #3631
@vbyjsue reporter live in v5 in the same process than the worker so you can just register a global eventlistener to transfer events to the custom reporter. Does this make sense?

[2019-02-26 12:56] christian-bromann commented on #3627
Could be related to #3620

[2019-02-26 13:01] christian-bromann commented on #3614
I haven't heart about any such issues since v5

[2019-02-26 13:36] mgrybyk commented on #3616
@christian-bromann can this one be closed?

[2019-02-26 13:53] PixelsCommander commented on #3224
@christian-bromann should this one be closed? Seems the support for services is broken now since hooks are not attached. So development of custom hooks is not possible anymore.

[2019-02-26 13:56] christian-bromann commented on #3224
@jdavis61 please update to latest version .. we have smoke tests that ensure that all hooks are being called

[2019-02-26 13:57] christian-bromann commented on #3616
Yes

[2019-02-26 13:57] #3616 closed

[2019-02-26 13:58] christian-bromann commented on #3608
We merged the PR that provides a workaround for this bug since we expect people to use the bugged version for quite some time.

Thanks @mgrybyk for providing that workaround!

[2019-02-26 13:58] #3608 closed

[2019-02-26 14:00] vbyjsue commented on #3631
I'm sorry but I'm  not able to listen to anything apart from wdio events.
Not in reporter constructor with this.on('custom:event').
Not in wdio beforeHook with browser.on('custom:event').
I'm launching wdio programmatically but that should not matter I guess.
Perhaps you can give som example on how to proceed?

[2019-02-26 14:56] xMutaGenx commented on #3620
@steerben in the meantime you can:
1. `npm login` to your artifactory
2.  `wget https://registry.npmjs.org/webdriverio/-/webdriverio-<version number here>.tgz`
3.  `npm publish webdriverio-<version number here>.tgz`

this will manually publish the package for you.

[2019-02-26 14:59] christian-bromann commented on #3620
@xMutaGenx Why would you want to publish the package for a specific version? Can you please investigate what kind of file you receive and report back?

[2019-02-26 15:01] wpballard commented on #3075
I'm experiencing the same problem with Firefox 65.0.1.

[2019-02-26 16:04] lucialuzuriaga commented on #3626
Thank you for replying.

Here are the wdio logs (I'm assuming that you're asking for the console output):
`Stdout:
2019-02-26T15:59:53.004Z INFO wdio-cli:Launcher: Run onPrepare hook
2019-02-26T15:59:53.008Z INFO wdio-local-runner: Start worker 0-0 with arg: ./wdio.android.conf.js
[0-0] 2019-02-26T15:59:53.153Z DEBUG wdio-config: @wdio/sync found, running tests synchronous
[0-0] 2019-02-26T15:59:5

[2019-02-26 16:56] mgrybyk commented on #3626
So, can you please provide with simple test that is failing for you?

[2019-02-26 17:14] AnnikaNissen commented on #3596
@mgrybyk Sorry - I can#t share the code I'm working on right now. Will look into creating a reproducible example as soon as I have some time.

@CrispusDH Will do, as soon as I have something reproducible 👍

[2019-02-26 17:26] christian-bromann commented on #3626
@lucialuzuriaga maybe add a reporter like spec reporter to get an idea about an error. With no reporter you will see no errors.

[2019-02-26 17:37] lucialuzuriaga commented on #3626
It seems that you were right and indeed the code was not working due to being compatible with v4 only. I modified the code to match a page object pattern and it is not being taken. Thank you all for the quick replies.

[2019-02-26 17:37] #3626 closed

[2019-02-26 18:18] kandarp1691 commented on #1000
Hello. Been using WebdriverIO since a year at [Spectrum](https://www.spectrum.com/). Amazing framework and amazing support community. Keep it up guys :)

[2019-02-26 18:19] nareshnayini opened #3634 "browser.reload() failing to reload the session when this was called after a failed test"
I am encountering issues when trying to use `reload` after every test when preceding test fails.

**Environment:**
 - **WebdriverIO version:** 4.13.2
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 10.5.0
 - **NPM version:** 6.1.0
 - **Browser name and version:** Chrome 69
 - **Platform name and version:** macOS 10.13.5
 - **Additional wdio

[2019-02-26 18:30] christian-bromann commented on #3634
This issue was moved to webdriverio-boneyard/v4#20

[2019-02-26 18:30] #3634 closed

[2019-02-26 18:31] christian-bromann commented on #3634
We don't actively fix bugs for v4 anymore but we are happy to release new versions with fixes for bugs.

[2019-02-26 20:18] Xotabu4 commented on #3437
Having same on TravisCI builds (commit with code- https://github.com/StartITProtractorJS/js-automation-wdio/commit/a97158165043bbaac094fc247a5bef3ff0754c3e) -

https://travis-ci.org/StartITProtractorJS/js-automation-wdio

[2019-02-26 23:25] christian-bromann commented on #3613
[`performActions`](https://webdriver.io/docs/api/webdriver.html#performactions) is accessible only from the browser scope as it is a protocol command. So instead of `this.performActions` use `browser.performActions`.

[2019-02-26 23:25] #3613 closed

[2019-02-26 23:25] christian-bromann commented on #2962
Let's continue convo in #3601

[2019-02-26 23:25] #2962 closed

[2019-02-26 23:30] christian-bromann commented on #3546
I am not sure how this is connected to WebdriverIO. Given the fact that I don't have a Linux machine to just run an arbitrary Ansible script on I will close this. Happy to reopen if you can narrow down the origin of a possible error. Cheers

[2019-02-26 23:30] #3546 closed

[2019-02-26 23:31] christian-bromann commented on #3294
Closing due to inactivity. This is a simple thing to add in a afterTest hook.

[2019-02-26 23:31] #3294 closed

[2019-02-26 23:33] #2618 closed

[2019-02-26 23:38] christian-bromann commented on #2858
Landed in [`v5.5.0`](https://github.com/webdriverio/webdriverio/blob/master/CHANGELOG.md#550-2019-02-20)

[2019-02-26 23:38] #2858 closed

[2019-02-27 05:19] industral commented on #3437
same logs noise as @tritethunder mentioned in jenkins as well.

[2019-02-27 08:26] ToygarM commented on #2858
Excellent work @christian-bromann! This will help our team enormous! Now we can move to version 5 :)

[2019-02-27 09:43] christian-bromann commented on #3437
Trying an new implementation with log-update

[2019-02-27 10:40] xMutaGenx commented on #3620
@christian-bromann We use specific versions for our nightly builds of the framework before we start using them in live, will do if I find the time, ta.

[2019-02-27 11:30] baruchvlz commented on #3602
@christian-bromann This can be closed, eh?

[2019-02-27 12:00] christian-bromann commented on #3602
jup .. thanks!

[2019-02-27 12:00] #3602 closed

[2019-02-27 12:13] tritethunder opened #3637 "Server logs errors while running with appium 1.9.1 on browserstack"
**Describe your question with as much detail as possible**

 I am trying to use v5.6.2 with brwoserstack serverice app-autoamte to run my appium test and they only support appium version 1.7~ 1.9.1 but while running test I am getting this error

`[debug] [MJSONWP] Encountered internal error running command: Error: Appium server must have relaxed security flag set in order to be able to get server

[2019-02-27 12:19] christian-bromann commented on #3437
Let's continue convo in #3638

[2019-02-27 12:19] #3437 closed

[2019-02-27 12:24] christian-bromann commented on #3637
With #3467 we added the ability to disable this. It will be released in the next version (maybe today or tomorrow).

[2019-02-27 12:24] #3637 closed

[2019-02-27 13:09] vbyjsue commented on #3631
This is what I found this far:
Childprocess is forked in "local-runner/worker" which then listens to all child events and re-send them with
[code]
I guess that means you could register a listener, but would have to listen to "message" and then filter out event?
But how would I register a listener on the parent process?
The only instance I have access to is `const wdio = new Launcher(opts.configFil

[2019-02-27 13:12] christian-bromann commented on #3426
I am happy to replace `request` with a more lightweight package, I consider using

- https://github.com/bitinn/node-fetch
- https://github.com/sindresorhus/got#readme

Any PR would be appreciated 😊

[2019-02-27 14:16] gitowiec opened #3639 "Cannot find type definition file for './webdriverio-core"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.6.3

**Describe the bug**
I installed latest webdriver and I am trying to compile it, TypeScript compiler rises error.
Cannot find type definition file for './webdriverio-core

[2019-02-27 14:24] wswebcreation commented on #3426
I vote for node-fetch, no dependencies and my favorite 😊

[2019-02-27 14:27] christian-bromann commented on #3639
`webdriver` doesn't use the webdriverio-core definition, did you install the `webdriverio` package? Can also make sure to update all packages?

[2019-02-27 14:37] gitowiec commented on #3639
Here is bugs I got when installed 5.6.2

![webstorm](https://user-images.githubusercontent.com/1553195/53497940-96786c00-3aa5-11e9-99f4-c70d9104d7c2.png)

[2019-02-27 14:39] gitowiec commented on #3639
Here are devDependencies I just installed

    "@wdio/cli": "5.6.2",
    "@wdio/dot-reporter": "5.6.0",
    "@wdio/local-runner": "5.6.2",
    "@wdio/mocha-framework": "5.6.0",
    "@wdio/selenium-standalone-service": "5.6.0",
    "@wdio/spec-reporter": "5.6.0",
    "@wdio/sync": "5.6.0",
    "webdriverio": "5.6.2",

[2019-02-27 14:42] gitowiec commented on #3639
What TypeScript version should I use with 5.6.3 or 5.6.x in general? There is missing "typeScriptVersion": "..."  field in package.json :(

[2019-02-27 14:58] christian-bromann commented on #3639
@mgrybyk can you comment on that ^^^ ?

@gitowiec you always need to make sure to grab all patch updates, so modify your dev dependencies to:
[code]

[2019-02-27 15:26] gitowiec commented on #3639
We don't use semver prefixes, we lerned that they are unreliable (but it's just not important here).
I just updated everything like this:
    "@wdio/cli": "5.6.3",
    "@wdio/dot-reporter": "5.6.0",
    "@wdio/local-runner": "5.6.3",
    "@wdio/mocha-framework": "5.6.3",
    "@wdio/selenium-standalone-service": "5.6.3",
    "@wdio/spec-reporter": "5.6.0",
    "@wdio/sync": "5.6.3",
    "webdriveri

[2019-02-27 15:40] gitowiec commented on #3639
And this part of changelog.md
![changelog](https://user-images.githubusercontent.com/1553195/53502282-0854b380-3aae-11e9-8082-f982b83f69a1.png)
Should be marked with fire icon, because here https://github.com/webdriverio/webdriverio/pull/3577 it says "Please note that it is a braking change for existing TypeScript users that work in sync mode" !! :(
This changes are really tough, so, You just unde

[2019-02-27 15:43] CrispusDH commented on #3426
You should aware about https://github.com/bitinn/node-fetch/issues/567 if you choose `node-fetch`

[2019-02-27 15:47] CrispusDH commented on #3639
If you use `@wdio/sync` =>

![image](https://user-images.githubusercontent.com/12623263/53502924-be70cb00-3ab7-11e9-9511-080024c8d46e.png)

[2019-02-27 15:58] gitowiec commented on #3639
Yep I figured it out, but thanks!

[2019-02-27 16:07] gitowiec commented on #3639
Should I uninstall webdriverio package? I get TypeScript conflict with `TS2300: Duplicate identifier 'BrowserObject'`

![conflict](https://user-images.githubusercontent.com/1553195/53504365-1c021900-3ab2-11e9-931f-d31812b107bc.png)

[2019-02-27 16:25] mgrybyk commented on #3639
@gitowiec just remove webdriverio from tsconfig typings and remove all explicit imports in code

[2019-02-27 16:30] gitowiec commented on #3639
I did it.
Here is my `tsconfig.json` (we use monorepo)

<pre>
{
  "compilerOptions": {
    "outDir": "./dist/",
    "sourceMap": true,
    "noImplicitAny": false,
    "strictNullChecks": true,
    "experimentalDecorators": true,
    "module": "commonjs",
    "target": "es5",
    "jsx": "react",
    "baseUrl": ".",
    "types": [
      "node",
      "mocha",
      "@wdio/sync"
    ],
    "lib": [

[2019-02-27 16:34] mgrybyk commented on #3639
So, what problems so you have now?
Intelliji works bad with typescript.

[2019-02-27 16:38] gitowiec commented on #3639
Ok, I overlooked two imports `import * as WebdriverIO from 'webdriverio';` I corrected them to `import * as WebdriverIO from '@wdio/sync';` and now it looks like there are no errors releated to WebdriverIO.
Thank You very much for your time and patience.
Where I can check in the docs what is the minimum TypeScript version required to use "@wdio/sync": "5.6.3" typings?

[2019-02-27 17:11] mgrybyk commented on #3639
I'm using latest, not sure to be honest.
It have to be one of recent versions, we are using lots of its features

Btw, why do you importing webdriverio?
@gitowiec

[2019-02-27 17:30] raquelgs opened #3641 "[Possible BUG] MJSONWP protocol requires type and ms" and you sent {"script": 1000}"
Hello!

I'm using Codeceptjs with webdriverio and browserstack (automate) and I’m facing an issue related with MJSONWP endpoint to fetch the timeouts and makes my test suite to crash.

My setup is:

```Error: Parameters were incorrect. We wanted "MJSONWP protocol requires type and ms" and you sent {"script":1000}```

What I found interesting is that Inside my config file (codeceptjs config file) I

[2019-02-27 17:32] christian-bromann commented on #3641
@raquelgs this is not a WebdriverIO error and it should be reported in the codeceptjs project. Thanks!

[2019-02-27 17:32] #3641 closed

[2019-02-27 17:33] raquelgs commented on #3641
Thanks for responding so fast!

[2019-02-27 17:38] mgrybyk commented on #3639
Such import should not work `import * as WebdriverIO from '@wdio/sync'; `

You'll import @wdio/sync with webdriverio typings, doesn't make sense to me.

I think we have some confusion here.

[2019-02-27 17:44] gitowiec commented on #3639
I have imported that namespace to add type here

[code]

[2019-02-27 17:49] mgrybyk commented on #3639
You don't beed to import webdriverio to do that! It will cause conflicts

[2019-02-27 17:51] osmolyar commented on #3460
Resubmitted as https://github.com/webdriverio-boneyard/v4/issues/21 since the original issue pertains to webdriver v4 (and v5 doesn't support wdio-cucumber-framework yet)

[2019-02-27 17:53] christian-bromann commented on #3460
Please participate in the development of it otherwise it will never be supported and we will stop at some point to maintain v4

[2019-02-27 17:54] christian-bromann commented on #3639
@gitowiec do you still see any errors or can this be closed?

[2019-02-27 19:47] mgrybyk commented on #3596
@CrispusDH can we close this? It if intelliji defect not related to webdriverio.

[2019-02-27 20:48] CrispusDH commented on #3596
I think yes. Also, it would be great to get how to decrease amount of methods for `Browser` object. Currently, I don't have good thoughts.

[2019-02-27 20:48] #3596 closed

[2019-02-27 21:44] GenadyMgr commented on #3639
@christian-bromann I'm having similar problem, I'm using @wdio/sync, and I added "@wdio/sync" to the types in tsconfig.js
But I still cannot find types, I'm getting the following errors:
[code]

[2019-02-27 22:25] mgrybyk commented on #3639
@GenadyMgr what version of typescript to you have?

[2019-02-27 22:42] mgrybyk commented on #3639
@GenadyMgr @gitowiec
minimal version is 3.2.1

[2019-02-27 23:17] mgrybyk commented on #3639
https://github.com/webdriverio/webdriverio/pull/3643

[2019-02-28 00:24] jrobinson01 opened #3645 "webdriverio: refetch doesn't work for shadow DOM elements in Safari"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-02-28 09:46] gitowiec commented on #3639
Now I have TypeScript version set to 3.3333

[2019-02-28 09:50] GenadyMgr commented on #3639
@mgrybyk
After updating to the latest typescript the issue was fixed. thanks!

[2019-02-28 09:53] mgrybyk commented on #3639
You mean 3.3.3333 ? :)
Great! Is you problem resolved @gitowiec ?

[2019-02-28 11:25] AnnikaNissen opened #3646 "Autocompletion is broken since update to 5.6.x when using `@wdio/sync`"
**Environment:**
 - **WebdriverIO version:** 5.6.3
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v8.9.4
 - **NPM version:** 5.6.0
 - **Browser name and version:** not relevant
 - **Platform name and version:** not relevant
 - **Additional wdio packages used (if applicable):** @wdio/sync, @wdio/spec, @wdio/selenium-standalone

A repoducable

[2019-02-28 11:33] PippoRaimondi commented on #3498
I will stick with using the `uktrade@client-matrix` to "build" the capabilities based on an environment variable... which seemed like a neat thing to have within wdio cli but I guess if we can work around it, then you are right, we don't need to add more code/options...

[2019-02-28 12:03] christian-bromann commented on #3498
Sounds good!

[2019-02-28 12:03] #3498 closed

[2019-02-28 12:04] christian-bromann commented on #3646
ping @mgrybyk @CrispusDH

[2019-02-28 12:05] christian-bromann commented on #3639
Closing then.

[2019-02-28 12:05] #3639 closed

[2019-02-28 12:12] mgrybyk commented on #3646
Taking a look

[2019-02-28 12:18] mgrybyk commented on #3646
@AnnikaNissen just checked out your project. You have problems in tsconfig.
Change /src/ path to /test/ it to
[code]

No additional changes were made.
![image](https://user-images.githubusercontent.com/25589559/53565999-4eb41c00-3b5b-11e9-8d10-3445b2eed57b.png)

[2019-02-28 12:21] mgrybyk commented on #3646
in order to avoid such problems compile your sources with `tsc`. It will printout problems you have, correct them first and autocomplete will work.
Also, make sure to call `tsc` of proper version. Maybe you have TypeScript installed globally of different version.

[code]

[2019-02-28 12:22] samuelbarker commented on #2872
Is there any update on this? Would like to utilise cucumber with WebdriverIO v5 instead of sticking with v4

[2019-02-28 12:25] christian-bromann commented on #3646
@mgrybyk thanks for taking a look. Closing then.

[2019-02-28 12:25] #3646 closed

[2019-02-28 12:27] mgrybyk commented on #3646
![image](https://user-images.githubusercontent.com/25589559/53566401-558f5e80-3b5c-11e9-9e9b-2b8647806a2c.png)
![image](https://user-images.githubusercontent.com/25589559/53566413-5d4f0300-3b5c-11e9-8987-fce0fc0501ab.png)
![image](https://user-images.githubusercontent.com/25589559/53566438-75268700-3b5c-11e9-8226-6d8abec14f32.png)

[2019-02-28 12:54] christian-bromann opened #3648 "Add "name" and "reason" to update request to Browserstack API"
**Is your feature request related to a problem? Please describe.**
It seems that Browserstack now supports modifying the name of the session as well as the reason for the failure in [their API](https://www.browserstack.com/automate/rest-api).

**Describe the solution you'd like**
Let's enhance the `@wdio/browserstack-service` to update the session name as well as give the reason for a test failure

[2019-02-28 14:29] osmolyar commented on #3460
@christian-bromann

I'm game to try but would need guidance

[2019-02-28 14:57] vbyjsue commented on #3631
Never figured out how to really solve it but ended up with this solution:
Send message in tests with `process.emit('my:event' data)`
In reporter, set up listener in constructor and set current test uid in beforeTest hook:
[code]
At finish just loop through logs and output to reporter.
![image](https://user-images.githubusercontent.com/3033505/53575228-6d251200-3b71-11e9-8eb1-7154a4e569c0.png)

[2019-02-28 14:57] #3631 closed

[2019-02-28 17:19] AnnikaNissen commented on #3646
@mgrybyk

Thanks for having a look! I already had changed the include path to `test/` put forgot to push it - my fault! So changing that didn't help.

But I actually figured it out now and it works perfectly now:
Changing the TypeScript version used by VS Code to "Use workspace version" (which is v3.3.3333 in my case) did the trick. Before VS Code was configured to use v3.1.x of TypeScript.

Thank

[2019-02-28 17:20] Antonius-S opened #3652 "Webpack the WebdriverIO for Node"
I'd like to webpack webdriverio to use in my Node project.
Commit https://github.com/webdriverio/webdriverio/commit/dfc73b9acceac1ef59e366e106879bc904919257 fixed bundling excess stuff for web but it broke bundling for Node. Currently webpack can't bundle `./node` module so test project using the packed file fails with following message:
[code]
If there's no means to fix the issue in the code, how

[2019-02-28 21:06] anxious-confidence opened #3655 "Execute function still not working in v5.6.4 despite merge in of JSONWP thing"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-02-28 22:14] christian-bromann commented on #3655
This can't be fixed in WebdriverIO as it is a bug with SauceLabs. I reported it to the cloud team here at sauce and they will look into it.

[2019-02-28 22:14] #3655 closed

[2019-03-01 00:24] #3605 closed

[2019-03-01 05:31] omerdoron1 commented on #1017
`
const SELECTOR = '.my-selector';
const buttonText =  'blabla';

let elements = $$(`${SELECTOR}`);
const buttons = elements.filter(
  li =>
    li
      .getText()
      .toLowerCase()
      .indexOf(buttonText.toLowerCase()) > -1
);

const button = buttons[0];
`

[2019-03-01 14:15] christian-bromann commented on #3652
You don't need to bundle webdriverio for your node project. Just install it and require it, no webpack necessary.

[2019-03-01 14:15] #3652 closed

[2019-03-01 15:13] mirao commented on #3172
What's the proper way how to remove app with new Appium/WebDriver?
I cannot get it working after upgrade to CodeceptJS to 2.0.x and WebDriver 5
[code]

[2019-03-01 15:22] christian-bromann commented on #3172
If you use ConceptJS, raise an issue in that project

[2019-03-01 15:35] mirao commented on #3172
OK, thanks

[2019-03-01 15:45] Antonius-S commented on #3652
@christian-bromann  why not? I like one file much much more than 894 files scattered in 173 folders. And except the above mentioned change things seem working (I reverted change by that commit and got Webpack generate working file).

[2019-03-01 15:49] TSBgit commented on #1406
If there is a situation where the element is located but setValue fails with "ERROR webdriver: Request failed due to Error: element not interactable"
Use doubleClick() istead of click() and addValue:
[code]

[2019-03-01 16:49] flunderpero opened #3663 "getElementRect in utils.js does not work in Safari"
The fix for #3608 contains the following bug:

Wrong:
[code]

This will always fail if `rect` has a valid value, which it has for `x, width, height`.

Correct:
[code]

[2019-03-01 17:03] mgrybyk commented on #3663
Thanks, you're right!

[2019-03-01 17:05] christian-bromann commented on #3663
@flunderpero mind proposing a PR?

[2019-03-01 17:08] christian-bromann commented on #3652
In NodeJS it doesn’t matter if your files are scattered or in one file .. in fact I never seen someone using webpack when running the code with NodeJS anyway

[2019-03-01 17:29] abjerstedt commented on #3645
@jrobinson01 Can you do me a favor get me some data on this?
Set your logLevel to 'info' and paste the response the driver gives you for the stale element into this issue. I'll update the matcher to handle this case.

[2019-03-01 18:19] flunderpero commented on #3663
There it is: https://github.com/webdriverio/webdriverio/pull/3664

[2019-03-01 18:29] jrobinson01 commented on #3645
Well that's what's weird (I think)... the logs don't ever mention a stale element. check out the logs here: https://gist.github.com/jrobinson01/7093fa9e53009c8bf20d6a0a30f5788a#file-wdio-0-0-log-L50-L62

The dom looks like this:

<img width="445" alt="screen shot 2019-03-01 at 1 26 47 pm" src="https://user-images.githubusercontent.com/1584296/53658032-b9318e80-3c25-11e9-9c0e-d1d3029c6b4c.png">

Th

[2019-03-01 19:05] abjerstedt commented on #3645
Yeah - if it doesn't distinguish between a missing element and a dead element, theres nothing i can do to refetch it.

[2019-03-01 19:58] mirao commented on #3172
@marthinus-engelbrecht I can confirm that `{ "bundleId": "myapp.android" }` sent to the REST API endpoint works (Android). IMHO it doesn't correspond with definition of `remove_app` in https://github.com/webdriverio/webdriverio/blob/master/packages/webdriver/protocol/appium.json.

[2019-03-01 21:25] rsshilli opened #3665 "Browser.chooseFile() sets the file to being modified in the future"
**Environment:**
 - **WebdriverIO version:** 4.4.0
 - **Mode:** Standalone mode (packaged with Chimp)
 - **Node.js version:** 8.10.0
 - **NPM version:** 6.0.1
 - **Browser name and version:** Chrome 72.0.3626.119
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**

**Config of WebdriverIO**
I'm using WebdriverIO through Chimp.  My webdriverio configur

[2019-03-01 22:01] HuffyPiet commented on #864
I had switched to a different role, I haven't been doing testing in a while. I am on a different OS now, maybe windows was the issue or something :D ... Would get at it again and let you know. Sorry for taking long to respond.

[2019-03-02 03:38] svaru001 commented on #2754
ReferenceError: $ is not defined
      at Context.<anonymous> (test1.js:24:16)
I am facing this error, how to resolve?

[2019-03-02 07:10] sinapsist opened #3668 "Any plans to implement full page screenshot to replace wdio-screenshot"
I am just wonder if there is any plan to build something similar to https://github.com/zinserjan/wdio-screenshot as build-in function, because it seems that it is not longer maintained by owner and it does not support v5 (and has no clear plan to support: https://github.com/zinserjan/wdio-screenshot/issues/89)?

I tried to use it with v5, but from what I understand I cannot inject and use plugin a

[2019-03-02 12:40] jrobinson01 commented on #3645
Is it a opening a whole new can of worms to try to refetch when an element is not found?

[2019-03-02 13:03] mirao commented on #3172
Issue created for CodeceptJS: https://github.com/Codeception/CodeceptJS/issues/1535

[2019-03-02 18:14] abjerstedt commented on #2872
@nicholasbailey In order to get some forward motion on this, @WillBrock and I (and if we can somehow rope @christian-bromann in too) are gonna start an independent branch to port this.

[2019-03-02 18:16] abjerstedt commented on #2872
For anyone coming here checking for status, this may take a while. This has to be done in our spare time.

[2019-03-02 19:52] rdpanek commented on #3298
@abjerstedt Hi, I updated all dependencies, but problem still exist:
Dependencies
[code]
and output is still duplicated - what next?

[2019-03-02 21:46] abjerstedt commented on #3298
@rdpanek My PR resolved the issue. There have been subsequent PRs that introduced something similar back. (You notice that reporters still only log once).

SideNote: Try to keep all packages in sync that you can (like mocha-framework)

[2019-03-04 01:19] anxious-confidence opened #3670 "Work around for setValue for Safari 12, Mac 10.14 on SauceLabs"
**Describe your question with as much detail as possible**
the setValue command doesn't seem to work on Safari 12, Mac 10.14 for SauceLabs. I had this same problem with Firefox, but was able to find a work around using the browser.execute function. Unfortunately, the browser.execute function isn't working on SauceLabs in Safari. Anyone have any ideas for a work around?

**If it's about a specific

[2019-03-04 01:58] DylanLacey opened #3671 "Passing user credentials as options prevents connections to Sauce Labs"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 5.6.2]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [e.g. sync]
 - **Node.js version:** [e.g. 8.9.0]
 - **NPM version:** [e.g. 6.8.0]
 - **Browser name and version:** [N/A]
 - **Platform name and version:** [N/A]
 - **Additional wdio packages used (if applicable):** [@wdi

[2019-03-04 08:18] christian-bromann commented on #3670
duplicate of #3605

[2019-03-04 08:18] #3670 closed

[2019-03-04 08:29] christian-bromann commented on #3665
This issue was moved to webdriverio-boneyard/v4#22

[2019-03-04 08:29] #3665 closed

[2019-03-04 08:29] christian-bromann commented on #3665
We don't actively fix bugs for v4 anymore but we are happy to release new versions when a PR is submitted.

[2019-03-04 08:32] christian-bromann commented on #3663
Let's continue convo in #3664

[2019-03-04 08:32] #3663 closed

[2019-03-04 08:45] FelixZilber commented on #3639
@christian-bromann I have updated the dependencies. But still have this problem. In my case I have a util repo that wraps wdio functionality. When compiling TS it generates d.ts file. this contains
 /// <reference types="./webdriverio-core" />
any idea what it can be?

[2019-03-04 08:47] christian-bromann commented on #3668
@sinapsist we do not have any plans to make this build-in. Plugins like this (`wdio-screenshot`) also won't work anymore in v5. At this point I would recommend to fork the project and build a new service.

[2019-03-04 08:47] #3668 closed

[2019-03-04 09:55] mgrybyk commented on #3639
Please provide us with reproducible example @FelixZilber

Common mistakes:
- explicit imports of webdriverio
- wrong TypeScript version
- wrong types add in tsconfig json
- some of wdio packages are not updated, it is required to update @wdio/sync (if used) @wdio/webdriver and webdriverio to the latest versions. Sometimes old versions persist in package lock json

Minimal reproducible example will

[2019-03-04 11:00] CrispusDH commented on #3639
@mgrybyk , it might be useful to add "Common mistakes" to the documentation about TypeScript integration. What do you think?

[2019-03-04 11:07] mgrybyk commented on #3639
Maybe, let's get more statistics first :)

[2019-03-04 11:54] Antonius-S commented on #3652
It does matter anywhere. Tons of files make many processes slower. I came from native binary world so thousands of bundled files make me very sad. Webpack seems very promising and it works in fact except for this change

[2019-03-04 12:05] christian-bromann commented on #3652
if you run node it runs in a single process no matter if you run one js file or throusands, it will always require the same CPU. In fact Node is optimize to have large dependency trees across many files.

[2019-03-04 13:40] filmaj commented on #3256
I ended up hitting this issue when enabling greenkeeper on a repo of mine. This bit from the upgrade blog post is the key:

`rm -rf node_modules package-lock.json && npm install` worked for me. I ended up solving this problem for good by pinning the versions down to specific, more-or-less same versions of the various wdio projects. Here's the diff:

[code]

I wonder if this can be made obvious som

[2019-03-04 13:58] FelixZilber commented on #3639
@mgrybyk this is the repo I get the failure in : https://github.com/cloudinary/wdio-allure-ts/tree/CLD-10690-upgrade-to-v5
the d.ts file : https://github.com/cloudinary/wdio-allure-ts/blob/CLD-10690-upgrade-to-v5/lib/src/commons/BrowserUtils.d.ts
there is no import of webdriverIO, but there is a @wdio/sync import ...

While this repo compiles just fine, importing BrowserUtils in other repo will ca

[2019-03-04 14:41] OriTheMan commented on #3648
Hi,
I can give a try to handle it (its my first time here).
1. there is way to get the error in the service? (for "reason" field)
2. who decide what is the session name? the user or automatically

[2019-03-04 15:01] mgrybyk commented on #3639
Taking a look

[2019-03-04 15:12] christian-bromann commented on #3648
The afterTest hook should have information about test name and error, please check the sauce service where we already store the test name

[2019-03-04 15:14] mgrybyk commented on #3639
@FelixZilber I don't have any problems in your project.
`npm run ts_compile` passes.

Most likely you have some problems with your node_modules folder.
Try deleting it and re-installing modules `npm i`

[2019-03-04 17:16] alessandronoceraspx opened #3673 "Worker Error: connect ECONNEFUSED 127.0.0.1 WDIO 5.6.4"
Hi all,
I've a very strange issue with run wdio appium test on remote machine (by changing the IP address). The console give me this output:

[code]
Below my settings:

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.6.4
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.0
 - **NPM version:** 6.7.0
 -

[2019-03-04 17:36] wswebcreation commented on #3673
Hi @alessandronoceraspx

First of all the `wdio-appium-service` is not working with V5, so that's the first issue.
Secondly you need to set the `hostname` to the ip you want it to connect to and the `port` to your matching port.
Last but not least you need Appium to run on the machine where the em/simulator/real device is connected to.

You get the `127.0.0.1` error because there is no `hostname`

[2019-03-04 17:36] #3673 closed

[2019-03-04 19:11] alessandronoceraspx commented on #3673
Hi @wswebcreation,
thank you for the response!I'm confused because in my conf. the host, port and protocol are correctly set:
[code]
How can I use Appium service in wdio 5? Locally all works fine, only when I ran in remote mode the error appear. There is a new pkg that I must be to use? Can you help me?

Is something missing from me?

Many thanks!!

[2019-03-04 19:47] wswebcreation commented on #3673
Hi @alessandronoceraspx

It's `hostname`, not `host`, see the config file [here](https://webdriver.io/docs/configurationfile.html).

You officially can't use the `appium-service` with V5, it's not supported. If it works then you're lucky

[2019-03-04 20:11] mgrybyk commented on #3593
let's proceed conversation in the pull request

[2019-03-04 20:11] #3593 closed

[2019-03-04 20:24] alessandronoceraspx commented on #3673
Yes I saw now the changes on webdriverIO options page (for v5 API). For appium-service, I've removed the devDependeces from package.json as you told me. Thank you. Tomorrow I'll try this changes and I hope it will work.
So Appium is now used only from @wdio/utils?
I think that also this package are not support for v5?

- "wdio-chromedriver-service": "^5.0.1"
- "wdio-iedriver-service": "^0.1.0"

Ha

[2019-03-04 21:45] wswebcreation commented on #3673
Everything that starts with '@wdio/..' is maintained by the WDIO-team
All the 'wdio-..' are "not" maintained (anymore).

Regarding Appium, you now need to run it on the machine that connects to the em/simulator/real devices.

If you have some more questions or need some guidance you can also check https://github.com/webdriverio/appium-boilerplate or check the Gitter channel

[2019-03-05 04:20] cammanderson commented on #3613
Thanks for the response. When calling it though, I receive:
"TypeError: browser.performActions is not a function". Is there an alternative scope to call this function?

[2019-03-05 08:08] christian-bromann commented on #3613
It is probably because you are using Chrome which doesn't support this W3C command yet.

[2019-03-05 09:29] alessandronoceraspx commented on #3673
All works perfect. Remote run is possibile without any problems. I've ran all specs also from Jenkins pipeline and my DevOps is correctly ran all automation test on physical devices.
Thank you very much for all.

Have a nice day!

Alex

[2019-03-05 11:31] #3537 closed

[2019-03-05 11:46] wswebcreation commented on #3673
@alessandronoceraspx

You're welcome.

[2019-03-05 12:01] FelixZilber commented on #3639
@mgrybyk that's exactly my problem. this project compilation passes, but while importing it in other repo it fails on compilation.
You can see the error here:
[https://travis-ci.org/cloudinary/wdio-allure-ts-example/builds/501992206?utm_source=github_status&utm_medium=notification](url)

Branch: [https://github.com/cloudinary/wdio-allure-ts-example/tree/wdio-v5](url)

[2019-03-05 12:09] mgrybyk commented on #3639
@FelixZilber to be honest I don't understand your problem.
You have some issues with your configuration, there is nothing to do with webdriverio.

According to log there are problems with BrowserUtils.d.ts

Fix errors there first

[2019-03-05 12:11] mgrybyk commented on #3639
Remove reference to

/// <reference types="./webdriverio-core" />

Obviously it won't work

[2019-03-05 12:13] FelixZilber commented on #3639
@mgrybyk the reference added on TS compilation. Thanks anyway. Will update with solution

[2019-03-05 12:32] mgrybyk commented on #3639
Thanks, it would be really helpful.
I have no idea why reference is added on complication, never seen such behavior

[2019-03-05 17:58] nami-varthakavi opened #3682 "Using `^` for any wdio packages within any wdio sub-packages causes a dependency clash if the user uses a specific version of wdio packages."
As the title states, whenever we use a specific version of webdriver.io and it's sub-packages we expect to be stable. But whenever webdriver.io upgrades to newer versions, and also upgrade the versions in its dependent packages we run into this issue.

To provide an example,
Let's say our package .json has the following list of webdriver.io packages

[code]

All of the packages are at 5.6.4,c and

[2019-03-05 21:24] kevinmcdonnell opened #3683 "Wait not working in multiremote tests"
**Environment (please complete the following information):**
 - **WebdriverIO version:** v5.6.3
 - **Mode:** wdio
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v11.8.0
 - **NPM version:** 6.5.0
 - **Browser name and version:** chrome 71
 - **Platform name and version:** macos
 - **Additional wdio packages used (if applicable):** @wdio/spec reporter, @wdio/selenium-sta

[2019-03-05 22:38] mgrybyk commented on #3683
yeap, reproducible for me as well

[2019-03-05 23:01] christian-bromann commented on #3682
These package version are updated by lerna and the actual solution would be to have `^` in your package.json. Every time we update a package it requires other packages to be updated as well, you can't just update a single package as this will cause problems.

[2019-03-05 23:01] #3682 closed

[2019-03-06 00:31] abjerstedt commented on #3579
@diachedelic So I have a idea of what could be broken, but your example wouldn't cover it.

Please review your code and ensure that you truely are doing $().$() and not $()[i].$().

[2019-03-06 00:36] GineaPig opened #3684 "Cannot locate web element with tag name button in MS Edge driver"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 5.6.2]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [e.g. 8.11.1]
 - **NPM version:** [e.g. 5.6.0]
 - **Browser name and version:** [e.g. Edge]
 - **Platform name and version:** [e.g. Windows 10]
 - **Additional wdio packages used (if applic

[2019-03-06 00:36] abjerstedt commented on #3388
@klamping We can't easily reintroduce the screenshooting on reject. Our options would be to:
1.) screenshot on request failure (after the 3rd retry)
2.) screenshot on middleware exception
3.) Both?

[2019-03-06 01:27] #3684 closed

[2019-03-06 01:42] diachedelic commented on #3579
@abjerstedt yes it is `browser.$().$()` which triggers the bug.  I still have not been able to reproduce the bug since i reported it.

[2019-03-06 01:57] tvnking opened #3685 "switchTab not working"
I can't switch tab on iOS. my code:
    popupO365 = browser.windowHandles().value.filter((handle) => handle !== loginScreen)[0];
    browser.switchTab(popupO365)
p/s: WebdriverIOs version 4.14.3