[2020-09-18 13:14] Achder commented on #5869
There are multiple tickets concerning exactly this topic.

https://github.com/webdriverio/webdriverio/issues/5745
https://github.com/webdriverio/webdriverio/issues/5343
https://github.com/webdriverio/webdriverio/issues/5141
https://github.com/webdriverio/webdriverio/issues/4482
https://github.com/webdriverio/webdriverio/issues/4155
https://github.com/webdriverio/webdriverio/issues/1886
https://git

[2020-09-18 13:49] iamatharva commented on #2743
Is this fixed in v.6?

[2020-09-19 11:23] suniljaiswal01 commented on #5844
@christian-bromann  I would like to give a try in "wdio-selenium-standalone-service" package. Can you provide me with some details on what all files has to be changed, will there be any config changes also requried and how can we test if the changes are working fine or not.

Also, can you point me if any of the package is already converted in typescript, that i can use for reference

[2020-09-19 13:53] christian-bromann commented on #5869
@Achder I've never experienced this issue and always asked for a reproducible example that couldn't be provided. I acknowledge that this is likely a bug in Chromedriver and ideally should be addressed there. A reproducible example could help in this effort.

[2020-09-19 14:05] christian-bromann commented on #5844
Awesome, thanks!

All JS files in `/packages/wdio-selenium-standalone-service` (source and test files)

If all tests pass we should be good to go.

Let's wait until https://github.com/webdriverio/webdriverio/pull/5804 is merged. It will have the full TS setup for WebdriverIO and also I rewrote a package in there (`@wdio/repl`).

[2020-09-20 13:59] suniljaiswal01 commented on #5560
I would like to give a try on this. Is there any reproducible example available?

[2020-09-20 15:09] suniljaiswal01 commented on #5560
@devopsix  @christian-bromann  The issue is happening only in case of multiRemote instance.
Following is my investigation:
When using multiRemote, the capabilities are not passed in array. Like below

capabilities: {

        myChromeBrowser: {
            capabilities: {
                browserName: 'chrome'
            }
        }
}

because of which the totalWorkerCnt value is set to "1" in the

[2020-09-21 08:08] hetsaliya opened #5877 "click() method unable to click on Specified xOffset or yOffset"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.4.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.3
 - **NPM version:** 6.14.4
 - **Browser name and version:**  Chrome  85.0.4183.102
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/sele

[2020-09-21 08:50] mgrybyk commented on #5692
@iVespid please add `--enable-automation` to `args`

[2020-09-21 08:58] christian-bromann opened #5878 "Set up release pipeline via GitHub Actions"
WebdriverIO used to be deployed by the @webdriverio/technical-steering-committee team on their personal laptops. This is problematic as people need to setup some environment keys to have access to the GitHub API as well as to NPM. This can be drastically simplified if we would setup a GitHub Action that can only be triggered manually and is setup with all necessary secrets needed to release a new

[2020-09-21 14:05] Kriskof commented on #5247
It was working before but now it doesn't after latest update if I do parallel testing.

[2020-09-21 14:33] Achder opened #5880 "@wdio/sync not working"
**Environment (please complete the following information):**
 - **@wdio/cli version:** ^6.5.2
 - **Mode:** WDIO Testrunner sync Mode
 - **Node.js version:** [e.g. 8.11.2]
 - **NPM version:**14.2.0
 - **Browser name and version:** Chrome 85
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** [
    "@wdio/allure-reporter": "^6.5.2",
    "@wdio/cli": "^6

[2020-09-21 14:36] mgrybyk commented on #5247
Please provide with reproducible example, it works properly for me in the latest version

[2020-09-21 14:38] mgrybyk commented on #5880
Please don't use async functions for sync code.
See https://webdriver.io/docs/sync-vs-async.html

[2020-09-21 14:38] #5880 closed

[2020-09-21 14:44] Achder commented on #5880
I did not see the async. Was a leftover from migrating from async to sync.
Thanks!

[2020-09-21 15:13] SkylerGrail commented on #5876
Hi again,

Sorry for asking again, i tried your setup on firefox with NodeJS 12 and Java 11 Firefox 80.0.1 and geckodriver 0.27.0:
[code]
[code]

My dockerfile:
[code]

And finally the new error logs
[code]

[2020-09-21 16:45] mgrybyk commented on #5876
@SkylerGrail may I suggest you using https://hub.docker.com/r/atools/firefox-headless as a base image for firefox just to make sure you can run tests in firefox? Or at least copy paste the command used to install Firefox.

P.s. you can run firefox in headless mode in the container of your image to see if it works. Most likely firefox will throw some error complaining that some deps are missing.

[2020-09-21 17:41] alecf commented on #5874
@diachedelic This is my entire log output:
[code]

it's like it's not seeing any of the tests - the `before` does run (that's where the "Logging in at..." comes from) but nothing else seems to run

[2020-09-21 17:51] alecf commented on #5874
oh, I just dug around with `--logLevel info` and found I had a stray call that wasn't inside an describe/it:
[code]

So this is user error, that for some strange reason worked correctly *before* the `@wdio/mocha-framework` upgrade. this was my error!

[2020-09-21 17:53] alecf commented on #5874
actually, I'm gonna reopen this because the failure mode was pretty bad - an exception was being thrown saying `browser.setTimeout()` didn't exist, but I *only* found that by setting the log level to `info` - this should have failed the whole suite IMO

[2020-09-21 21:19] christian-bromann commented on #5844
@suniljaiswal01 #5804 has been merged feel free to start working on this.

[2020-09-21 21:47] jags14385 commented on #5825
I would like to pick this up , once I complete the  #5668 . I understand if , this gets assigned to someone else , by then. Just expressing my interest.

[2020-09-22 00:20] diachedelic commented on #5874
I agree that if a spec fails to load, wdio should fail fast and loudly.

[2020-09-22 00:22] diachedelic commented on #5874
From the [tests](https://github.com/webdriverio/webdriverio/blob/a4a5a46f786f8548361d7f86834b38f89dcb1690/packages/wdio-mocha-framework/tests/adapter.test.js#L383):
[code]

It looks fairly intentional...

[2020-09-22 02:52] rahul-raut commented on #5829
@christian-bromann I would like to pick this up?

[2020-09-22 05:43] phibao37 opened #5882 "JUnit format structure for nested describe block"
**Is your feature request related to a problem? Please describe.**
I'm try to use nested `describe` block for organizing my test into multiple level of structure.
[code]
When using Junit reporter, it output as following:
[code]
However, with the above output, there is no information that `Suite_1_1_Check_Login_page` is subset of `Suite_1_Function_check`, or `Test_1_should_open_login_page` belongs

[2020-09-22 06:50] christian-bromann commented on #5882
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-09-22 06:53] christian-bromann commented on #5829
@rahul-raut awesome! I move it into in progress. Let me know if you have questions.

[2020-09-23 06:31] simonDominos commented on #5079
@pako88 where did you set { files:true } once it is moved to mochaOpts? i need to use { files: true, logError: false, transpileOnly: true } but cant work out how...

[2020-09-23 07:16] mgrybyk commented on #5079
@simonDominos it's better to use typed configuration, see https://webdriver.io/docs/typescript.html#typed-configuration

[2020-09-23 13:16] Ranjithsamalla commented on #4482
clearValue doesn't working  for me also I'm using version ^5.17.0

it is kind of code
$('//input[@placeholder="Search in…"]').setValue('Search term');
let value = $('//input[@placeholder="Search in…"]').getValue();
console.log(value); // 'Search term'
$('//input[@placeholder="Search in…"]').clearValue();
value = $('//input[@placeholder="Search in…"]').getValue();
console.log(value); // 'Search ter

[2020-09-23 21:50] dagoud commented on #4019
@christian-bromann I tried renaming parentEl to parent but ran into issues - is there something happening where parent is already being used elsewhere?

Error message I got when i tried:

` FAIL  packages/webdriverio/tests/commands/element/parent.test.js (19.32 s)
  parent element test
    ✕ should return parent element of an element (31 ms)

  ● parent element test › should return parent element

[2020-09-23 22:01] spatchamatla opened #5883 "unable to access updated config Object from onPrepare() in beforeSession() or before() or browser.config"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.5.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** yes
 - **Node.js version:** v12.12.0
 - **NPM version:** v6.11.3
 - **Browser name and version:** Chrome 85.0.4183.83
 - **Platform name and version:** macOS v10.15.6
 - **Additional wdio packages used (if applicable):**
[code]

[2020-09-23 22:16] spatchamatla opened #5884 "unable to set globals in onPrepare() in wdio.conf"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.5.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** yes
 - **Node.js version:** v12.12.0
 - **NPM version:** v6.11.3
 - **Browser name and version:** Chrome 85.0.4183.83
 - **Platform name and version:** macOS v10.15.6
 - **Additional wdio packages used (if applicable):**
[code]

[2020-09-24 03:54] rahul-raut commented on #5829
@christian-bromann Thanks !
This is my first time contributing, can we have a quick chat so I can get an idea how we are going about rewriting.

[2020-09-24 06:00] christian-bromann commented on #5884
This is impossible given that the onPrepare hook is run outside the worker thread. You can either store data in a temporary file or assign it as extra capabilities and read it via `browser.requestedCapabilities`.

[2020-09-24 06:00] #5884 closed

[2020-09-24 06:03] christian-bromann commented on #5829
@rahul-raut please have a look at the PR I am working on currently: https://github.com/webdriverio/webdriverio/pull/5853. Also have a read on the [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and check out our workshop [here](https://webdriver.io/docs/contribute.html#workshop). Let me know if you have any particular questions.

[2020-09-24 06:04] christian-bromann commented on #5883
Duplicate of #5884.

[2020-09-24 06:04] #5883 closed

[2020-09-24 06:20] christian-bromann commented on #4019
@dagoud ah yes, this is actually not very well documented or used. If you fetch and element from an element you can always go back to the root element:

[code]

This parent property and your parent method are not quite the same. The property refers to the element the current element was queried from (which can be a higher level parent) while the command should return the direct parent. I think it

[2020-09-24 08:04] christian-bromann commented on #4019
@dagoud after discussing this with the TSC team we decided to call the new commands `prevElement`, `parentElement` and `nextElement`. This should resolve this naming conflict.

[2020-09-24 11:24] dagoud commented on #4019
Thanks for clarifying @christian-bromann - will make these changes and submit PR

[2020-09-24 14:14] rahul-raut commented on #5829
Thanks @christian-bromann I will go through this and let you know if I have any questions

[2020-09-24 14:45] SkylerGrail commented on #5876
Hi again, can you push your images please i need to pull it first, and yes i just copied the code on the docker file and ran my tests on the pipeline which return the same error, i've been trying to run the image to try and launch firefox headlessbut each time i try to docker run my image it returns this error

[code]

it's related to maven i think.

I would like to try your image(mgrybyk/firefox-

[2020-09-24 15:39] mgrybyk commented on #5876
What do you mean by saying push it? It's in docker hub, the I've provided with the link in my previous comment

[2020-09-24 15:40] cjatkinson commented on #5560
Apologies, I ended up in the same place as you @suniljaiswal01. If I remember correctly @christian-bromann mentioned the multi-remote feature is being refactored?

[2020-09-24 18:00] aluo-lmi opened #5885 "option to append to wdio logs"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to append to the wdio log files instead of overwrite them.

**Describe the solution you'd like**
An option alongside `outputDir` and and `logLevel` that will cause the logs to be appended to the `wdio.log` file instead of overwriting.

**Describe alternatives you've considered**
On my side, I can create

[2020-09-24 19:22] christian-bromann commented on #5885
@aluo-lmi why can't you just store the logs in a different folder? I am not sure if it makes sense to add this special use case as a core functionality. Maybe I don't fully understand. Would you mind to provide more details?

[2020-09-24 21:07] aluo-lmi commented on #5885
Hi, yes you are right different log folders works for the general use case. Thinking again I agree this is somewhat of a special case, and maybe we can close this. I have decided to work around it in my project for now by appending the contents of the `wdio.log` file in my `outputDir` to a combined log file in the `outputDir` myself to achieve the same effect

[2020-09-24 21:08] christian-bromann commented on #5885
Sounds like a good solution. Will close this then. Thanks for bringing up the idea anyway!

[2020-09-24 21:08] #5885 closed

[2020-09-25 08:17] janca777 opened #5887 "ERROR @wdio/utils:initialiseServices: TypeError: Cannot read property 'outputDir' of undefined (@wdio/appium-service - related"
**Environment:**
 - **WebdriverIO version: ^5.16.10**
 - **Mode: WDIO Testrunner, running sync**
 - **Node.js version: 12.16.1**
 - **NPM version: 6.13.4**
 - **Browser name and version: Chrome 85**
 - **Platform name and version: Windows 10**
 - **Additional wdio packages used :**
    "@wdio/appium-service": "^6.4.7",
    "@wdio/local-runner": "^5.16.10",
    "@wdio/mocha-framework": "^5.16.10",

[2020-09-25 08:23] christian-bromann commented on #5887
You are using `@wdio\appium-service` in v6 while your whole setup is still on v5. I recommend update all packages to v6. Cheers!

[2020-09-25 08:23] #5887 closed

[2020-09-25 10:56] Achder opened #5889 "Better document error handling in hooks"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2]
 - **Mode:** testrunner
 - **If WDIO Testrunner, running sync/async:** sync & async
 - **Node.js version:** 12
 - **Browser name and version:** Chrome 85
 - **Platform name and version:** Windows 10

**Describe the bug**
I was having trouble with some tests when I realized, that my onPrepare hook

[2020-09-25 11:19] christian-bromann commented on #5889
Please see: https://webdriver.io/docs/customservices.html

[code]

I think this should be better documented.

[2020-09-25 11:21] christian-bromann commented on #5889
It would be nice if we could extend the docs with an additional page `Hooks` and document all available WDIO hooks and their behavior that they don't break the test lifecycle (except when using the `SevereServiceError`).

Any help on this would be appreciated.

[2020-09-25 11:44] Achder commented on #5889
Importing SevereServiceError from webdriverio seems to interfere with sync mode.
When including from webdriverio my selectors return promises.

[2020-09-25 12:39] Achder commented on #5869
Is there an empty example project I can use for this?

[2020-09-25 12:41] christian-bromann commented on #5869
just start with a boilerplate WDIO project:
[code]

[2020-09-25 12:43] christian-bromann commented on #5889
it shouldn't if you explicitly set `@wdio/sync` types:
[code]

[2020-09-25 13:21] Achder commented on #5889
My tsconfig.json looks like this:

[code]

I've had this problem before with Config interface. There I could solve the issue by using WebdriverIO.Config instead of importing. But this isn't working with SevereServiceError.

[2020-09-25 14:39] Nick46368 commented on #4317
"webdriverio": "^5.23.0" have the same problem.
element.moveTo() don't scroll

[2020-09-25 17:22] framauro commented on #5874
I am also seeing an issue with 6.4.7+ mocha-framework.

In my case, what I see is tests starting _before_ the before() hook is complete...

The before() hook does completes, but after all the test specs have failed.

I am using before() hook to setup global variables, which are used in dynamic test specs. These globals e.g. 'sites' are not set by the time the spec is executed.  i.e. before() no lo

[2020-09-25 17:24] framauro commented on #5874
I am also seeing an issue with 6.4.7+ mocha-framework.

In my case, what I see is tests starting _before_ the before() hook is complete...

The before() hook does completes, but after all the test specs have failed.

I am using before() hook to setup global variables, which are used in dynamic test specs. These globals e.g. 'sites' are not set by the time the spec is executed.  i.e. before() no lo

[2020-09-25 17:52] mgrybyk commented on #5874
Dont use browser object until the session is started as mentioned in the error

[2020-09-25 18:01] mgrybyk commented on #5874
Anyway, absolutely agree with https://github.com/webdriverio/webdriverio/issues/5874#issuecomment-696448659

[2020-09-25 20:19] rangavenu opened #5890 "Property 'cdp' does not exist on type 'BrowserObject'"
## 💬 Questions and Help
Hi, I'm trying to verify DOM using print emulation and I looked into using @wdio/devtools-service to set CSS media type to Print.

Followed the instructions from
https://www.npmjs.com/package/@wdio/devtools-service/v/5.16.16

WebdriverIO version: **5.18.7**
 running sync/async: **sync**
Node.js version: **12.18.3**
NPM version: **6.14.6**
Browser name and version: Chrome 85

[2020-09-25 20:37] erwinheitzman commented on #4401
@AutomationReddy what kind of insight do you need?

[2020-09-26 06:37] AutomationReddy commented on #4401
@erwinheitzman I see this issue was opened for missing documents on `addCommand `and `overwriteCommand`. But this page has the info on these two: https://webdriver.io/docs/customcommands.html#adding-custom-commands.

Are you looking for separate doc for both or how?

[2020-09-26 06:55] suniljaiswal01 commented on #5560
I think this PR https://github.com/webdriverio/webdriverio/pull/5458 will fix the issue . @christian-bromann  could you confirm on this

[2020-09-26 08:47] mgrybyk commented on #4401
You can inspect browser object in debug and checkout what properties (like browser.parent) are missing in the API doc, and list them here.
Take a look how docs are generated, see `npm run docs:generate`.
Talking about adding and overwriting commands it's still good to have them in API doc with a reference to the "adding custom commands" guide.

[2020-09-26 11:25] christian-bromann commented on #4401
@AutomationReddy thanks for taking this on, you find some documentation on how to generate the page here: https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md#setting-up-and-deploying-the-docs. I think we should add 3 pages into the API docs:

- addCommand: add command
- overwriteCommand: overwrite command
- parent: get the element the current element was queried from

The first

[2020-09-26 11:27] christian-bromann commented on #5890
You need to add `@wdio/devtools-service` to your tsconfig. Please see the [typescript docs](https://webdriver.io/docs/typescript.html).

[2020-09-26 11:27] #5890 closed

[2020-09-26 12:09] suniljaiswal01 commented on #5844
@christian-bromann  I am almost completed with the migration, just have few blockers and doubt.
1. @wdio/logger dependency is present in this package, and i can see that there is already a PR raised for logger package. So should i wait for that package to be merge and raise PR for my code?
2. Once the migration is completed, how can i test if the script is properly migrated?. Will running the test

[2020-09-26 16:21] AutomationReddy commented on #4401
@mgrybyk @christian-bromann Thanks for the info. I have started writing it. Please have a look at the below image on `addCommand`. If you are good with that, I will proceed with the other items.
![image](https://user-images.githubusercontent.com/42345623/94345281-71adf700-0042-11eb-92c5-3a811fde0503.png)

[2020-09-26 17:04] erwinheitzman commented on #4401
I'd say, `name` would suffice, also it's not a function name but the name of the command ;)

When using variable / parameter names that consist of multiple words I'd say to use something like `elementScope` instead of `elementscope`.

I'd change the details for the element scope to something along the lines of `extend the Element object instead of the Browser object`

Regarding the description of

[2020-09-26 18:09] AutomationReddy commented on #4401
@erwinheitzman Gotcha!! Thanks! I will follow the same for other items.

![image](https://user-images.githubusercontent.com/42345623/94347083-fa329480-004e-11eb-88ca-da5e63d4a096.png)

[2020-09-26 18:27] erwinheitzman commented on #4401
Looks good although I just noticed the `customVar` in the example, that's just a regular parameter so I'd use a different example like:
[code]

[2020-09-26 18:54] AutomationReddy commented on #4401
@erwinheitzman Thanks. Here is the image for `overwriteCommand`. I will go ahead and raise PR for these two items. For `parent`, I need to see the usage as I haven't experienced it myself. I will debug it and create a new issue, and work on it soon. Just let me know, if you are okay with this.
![image](https://user-images.githubusercontent.com/42345623/94348140-77fa9e00-0057-11eb-9ddd-50b18462fd6c

[2020-09-27 06:13] suniljaiswal01 commented on #5842
@christian-bromann  I would like to give a try for this

[2020-09-27 10:27] christian-bromann commented on #5842
🎉 @suniljaiswal01 go for it

[2020-09-27 10:34] christian-bromann commented on #4401
Looks great. Thanks!

Let's continue convo in #5891

[2020-09-27 10:34] #4401 closed

[2020-09-27 23:42] diachedelic commented on #5874
@framauro it could be that Mocha applies stricter rules regarding globals when using `import()` rather than `require()` (a change which was introduced by #5809). Is there any reason you need to use global variables, and cannot just import `sites` as a module?

[2020-09-28 05:45] Ranjithsamalla commented on #3844
![image](https://user-images.githubusercontent.com/37171202/94394784-c4d79500-017b-11eb-8409-87ca915fb34d.png)
when I use setValue getting java.lang.NullPointerException could you please help one ?

[2020-09-28 07:50] SkylerGrail commented on #5876
I'm sorry i did not add the image tag that is why Gitlab ci complained that i should pull the image because he didn't find it. I tried it anyways and it returns the same error, I also tried to run firefox in my docker contrainer in headless mode and it ran successfully with the following message : "*** You are running in headless mode."

I'm still trying to find out what i'm doing wrong.

[2020-09-28 08:13] mgrybyk commented on #5876
Can you please be more specific here  `I tried it anyways and it returns the same error`? What exactly have you tried? What error?

Can you run your tests locally in docker container?

[2020-09-28 08:17] SkylerGrail commented on #5876
I did try the docker image you're using in your exemple and it returns the same error i posted before:
[code]

Also I'm working on executing my tests locally inside the docker container.

[2020-09-28 08:19] mgrybyk commented on #5876
Go ahead, please also check all the logs, not just wdio log. Change log level to debug if you still haven't

[2020-09-28 11:54] christian-bromann commented on #5867
@qaschevychelov I am not sure how much time I can bring up to look into this. Do you have free cycles to help us investigate? Happy to assist on specific questions.

[2020-09-28 11:58] christian-bromann commented on #5807
Any updates @fege ?

[2020-09-28 12:00] qaschevychelov commented on #5867
I was trying to cope with the error myself. But i couldn't understand where to dig in. I will continue to investigate this issue. I appreciate any hints

[2020-09-29 10:05] faizaaslam1 opened #5898 "Documentation for Webdriverio to run different browsers(Opera, Microsoft Edge etc)"
**Pre-check**
- [ ] I'm aware that I can edit the docs and submit a pull request

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

A clear and concise description.
there should also be a documentation on how to run different browsers(Opera, Microsoft Edge, Safari) in webdriverio as it gets very confusing for the freshers who are trying to learn a

[2020-09-29 11:37] payalsood opened #5899 "ERROR @wdio/local-runner: Failed launching test session: TypeError: Cannot read property 'testRailsOptions' of undefined"
I am getting ERROR @wdio/local-runner: Failed launching test session: TypeError: Cannot read property 'testRailsOptions' of undefined.

 I used wdio test-rail reporter. Can this be resolved please? Is this a bug?

[2020-09-29 12:20] christian-bromann commented on #5899
Please file a bug in the test-rail reporter project, thanks!

[2020-09-29 12:20] #5899 closed

[2020-09-29 12:21] christian-bromann commented on #5898
Yeah I think it doesn't hurt to have more detailed documentation on each of them. Any support on this would be highly appreciated, thanks!

[2020-09-29 13:00] alinaIftode opened #5900 "Request failed with status 500 due to Error: Sauce could not start your job"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:**--

[2020-09-29 13:39] christian-bromann commented on #5900
Please provide more log files from your CI or from WDIO and check if the tunnel was created in the tunnel history on the Sauce Labs dashboard.

[2020-09-29 14:01] christian-bromann opened #5901 "WebdriverIO v7"
I propose to have another major version release once we have finished the [TypeScript rewrite effort](https://github.com/webdriverio/webdriverio/projects/14). While we can continue to rewrite every package and release the code compiled by the TS compiler we have to replace our current generated type definitions by the ones we have in our .ts files. We can't guarantee that this transition won't be

[2020-09-29 14:26] fege commented on #5807
no sorry @christian-bromann , not so much time to investigate

[2020-09-29 14:59] wswebcreation commented on #5900
@christian-bromann

I've been helping @alinaIftode with this issue and the tunnel is randomly not created, but the test is starting with a reference to the not started tunnel. This might be something we need to investigate in the Sauce Service with a retry or something?

[2020-09-29 15:17] alinaIftode commented on #5900
I'll try to reproduce this locally. It is very heard since it happens occasionally but maybe there will be more logs there, for now the only logs that I have are those that I already attached. This is how this looks on Sauce Labs side
![image](https://user-images.githubusercontent.com/45980664/94578113-fb96d380-027f-11eb-94e2-91e58121714b.png)

[2020-09-29 16:43] AutomationReddy commented on #5898
@christian-bromann I will take this up. Will discuss more on the Office hours on this as well.

[2020-09-29 17:50] sarathps93 commented on #5684
@christian-bromann it seems like these is some know issues in using async - await syntax with fibers.
https://github.com/laverdet/node-fibers/issues/402
If I am not wrong, I think this is what causing the issue here.

[2020-09-29 18:44] AutomationReddy commented on #5898
@faizaaslam1 Please try as below

Install 2 packages `wdio-edgedriver-service (for legacy edge)`
`npm i -D msedgedriver --edgechromiumdriver_version=<VERSION> for edge chromium`

Add `edgedriver `in services and `browserName `as `MicrosoftEdge`

I haven't tried with selenium-standalone. But the above worked for me. I am using Edge Chromium V85.X

[2020-09-29 18:56] rangavenu commented on #5890
Sorry missed out on mentioning. I did try adding it to my tsconfig and still face the same issue. Below are the contents of my tsconfig

{
  "extends": "../tsconfig.json",
  "compilerOptions": {
    "allowJs": true,
    "module": "commonjs",
    "types": [
      "@wdio/sync",
      "chai",
      "mocha",
      "@wdio/devtools-service",
    ]
  },
  "include": [
    "tests/**/*.ts"
  ]
}

[2020-09-29 19:35] christian-bromann commented on #5890
You are using an outdated version. I recommend to update.

[2020-09-29 19:39] christian-bromann commented on #5684
@sarathps93 seems likely yeah!

@tympanix if you want to use `async/await` syntax I recommend to put this into a `browser.call` function, e.g.:

[code]

Would that solve your issue?

[2020-09-30 10:30] SkylerGrail commented on #5876
Hello again, so i did manage to execute my test from inside the docker image successfullyon firefox using firefox v78.3.0esr paired with gecodriver v0.27.0, i pushed my image and i tried running it on gitlabci using the very same image, but it still failed with the same error logs. (btw ive been using debug loglvl recently too and it didn't provide any useful informations as to why tests are faili

[2020-09-30 13:27] mgrybyk opened #5904 "double click doesn't work in devtools protocol"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.5.0
 - **Automation Protocol** devtools

**Config of WebdriverIO**
`automationProtocol: "devtools"`

**Describe the bug**
double click doesn't work as expected with devtools implementation of `performActions`

**To Reproduce**
[code]

alert should appear in case of successful doubleclick

**Expected behavior

[2020-09-30 13:30] mgrybyk commented on #5904
I have a suggestion on how to fix doubleclick.

1. adopt elementClick to accept options
2. create doubleClick command that would trigger elementClick and pass `{ clickCount : 2 }`
3. call devtools doubleClick command in webdriverio doubleClick command if automation protocol is devtools

I can do that if the approach is acceptable
@christian-bromann

[2020-09-30 13:52] SlavaLysjuk commented on #3003
Hi folks! I have the same problem when trying to install wdio packages on Windows 10, there stoping.

Do I need to open a new issue? or you can answer in this issue? Thanks!

{
  "name": "webdriverio-tutorial",
  "version": "1.0.0",
  "description": "Thuis is a webdriverIO tutorial",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "Sl

[2020-09-30 13:56] christian-bromann commented on #5904
Sounds like a plan, thanks @mgrybyk !

[2020-09-30 14:10] christian-bromann commented on #3003
@SlavaLysjuk are you behind a firewall? It seems like your computer can't connect to the NPM registry.

[2020-09-30 14:28] SlavaLysjuk commented on #3003
Yes, I have a firewall on my machine, but proxy works for another app...

[2020-09-30 15:19] Johannes-B-stock commented on #4246
It is still not working for me, running webdriverio with mocha on the latest versions and chromedriver on 85.0.1. It works fine in non-headless mode but when running in headless mode I get a "move target out of bounds" exception when calling moveTo().
I don't have any selenium config and I'm using the standard webdriverio config generated from wdio cli.

[2020-09-30 15:28] christian-bromann commented on #4246
I assume the headless browser is rendering in a smaller viewport and you are trying to drag and drop it out of the viewport. I recommend to set a specific viewport size when starting the session.

[2020-09-30 17:57] AutomationReddy commented on #5813
@christian-bromann I am always receiving this when running `npm run test:mocha`

I tried many ways but no luck. Windows issue

[code]

[2020-09-30 18:29] AutomationReddy commented on #5813
NVM. I will switch to Mac.

[2020-09-30 20:47] Amrkamel1 opened #5906 "Allow multiremote feature when combining browserstack with selenium standalone service"
**Is your feature request related to a problem? Please describe.**

unable to use the advantage of multi remote feature when combining browserstack with selenium standalone service, using multiremote feature is working fine when using appium service with selenium locally

**Describe the solution you'd like**
Some enhancements for multi-remote feature are needed to allow different configuration whe

[2020-09-30 21:04] FelixZilber opened #5907 "high severity vulnerability in @wdio/devtools-service package"
@wdio/devtools-service version 6.5.2 has high severity vulnerability

path of package with vulnerability:
@wdio/devtools-service > lighthouse > jsonld > rdf-canonize  > node-forge
the patch in node-forge version >= 0.10.0

[2020-09-30 21:06] christian-bromann commented on #5907
@FelixZilber thanks for reporting the issue. Do you know if this has been fixed in one of the upstream dependencies?

[2020-09-30 21:13] christian-bromann commented on #5906
The selenium-standalone service [updates the capabilities configuration](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-selenium-standalone-service/src/launcher.js#L35-L44) when launching the tests regardless whether the other test is suppose to run on BS. I suggest to check if any of the capabilities disclose that it is being run on BS and don't apply the config change if th

[2020-09-30 21:16] christian-bromann commented on #5813
To have this work in Windows you need to prefix the commands in the [package.json](https://github.com/webdriverio/webdriverio/blob/master/examples/wdio/package.json) with `node`:

[code]

[2020-09-30 22:07] FelixZilber commented on #5907
@christian-bromann I found next dependency tree:
 wdio/devtools-service
    =>   "lighthouse": "^6.3.0",
        =>"jsonld": "^1.5.0",
            =>"rdf-canonize": "^1.0.2",
                => "node-forge": "^0.9.1"
looks like upsteam dependencies don't include a fix(unless I missed something)

[2020-09-30 22:08] christian-bromann commented on #5842
@suniljaiswal01 did you already start with this? What is your state? During the 1:1 pairing session with @ablok we identified that working in `@wdio/reporter` is a good start to unblock the reporter rewrite. Do you have any current state?

@ablok didn't see that someone claimed this already 😞  maybe no harm/work has been done yet.

[2020-09-30 22:09] christian-bromann commented on #5907
Seems that the vulnerability fix is in node-forge version >= 0.10.0. Given that the dependency tree uses `^` for all the dependencies this should be resolved. Users just need to reinstall their dependencies to get the security fix. Closing unless I am overseeing something.

[2020-09-30 22:09] #5907 closed

[2020-09-30 22:10] christian-bromann commented on #5807
Closing. Without reproducible example it will be impossible to continue any investigations.

[2020-09-30 22:10] #5807 closed

[2020-09-30 22:47] IevgenRagulin commented on #5409
I've experienced this issue just yesterday on Sauce Labs, using webdriver io 6.4.7

[2020-09-30 22:58] IevgenRagulin opened #5908 "Sauce Service - set cacheId automatically"
**Is your feature request related to a problem? Please describe.**
Sauce Labs supports setting cacheId property. It's pretty easy to set it if tests are running with a concurrency of 1, but managing cacheIds becomes tricky when we are running, say, 10 tests with a max concurrency of 3 (using maxInstances capability).

**Describe the solution you'd like**
Add a boolean argument named autoSetCacheId

[2020-09-30 23:48] ablok commented on #5842
Started a first attempt PR here: https://github.com/webdriverio/webdriverio/pull/5909
I am sorry, don't know how to use this issue as a basis for the PR.

[2020-10-01 03:04] suniljaiswal01 commented on #5842
I have done almost all the changes, there is just one place where i am facing issue and not sure how to resolve it. Should i continue on this or not? If yes, could you please help me resolve that issue so that  i can raise a PR for the same

Issue Detail:
https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-reporter/src/index.js#L64 In this line we are passing parameter to onSuiteS

[2020-10-01 06:49] ablok commented on #5842
@suniljaiswal01 just create a draft PR. Any outstanding issues can be discussed there.

[2020-10-01 08:18] christian-bromann commented on #5908
I think this makes totally sense. I am not much familiar with RDC testing. Would you be interested taking a stab at this. You should find all information on how to contribute in our [contribution guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md). I am also happy to support with any questions you have.

[2020-10-01 08:20] christian-bromann commented on #5409
@IevgenRagulin thanks for confirming. We are working on a protocol change that will allow async session creation.

[2020-10-01 09:11] FelixZilber commented on #5907
deleting package-lock.json and reinstall solved the issue for me

[2020-10-01 10:14] ch-t commented on #5826
@christian-bromann  I'd like to take it. Should I just assign myself in Project tracker?

[2020-10-01 11:54] christian-bromann commented on #5826
@ch-t awesome, go for it!

[2020-10-01 11:56] mgrybyk opened #5911 "Mock websocket connection similar to http"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to mock WebSocket communication in a similar way it's done for HTTP

**Describe the solution you'd like**
[code]

Add other available mock functions as well.

**Describe alternatives you've considered**
Any ideas on how to mock and assert WebSocket messages are welcomed.

**Additional context**

I believe it sho

[2020-10-01 13:49] christian-bromann commented on #5874
I fixed this in #5910

[2020-10-01 13:49] #5874 closed

[2020-10-01 16:51] IevgenRagulin commented on #5409
In the meantime, do you perhaps know what is that X value after which webdriverio ignores that device once it become available? Currently we have things configured to wait up to 10 minutes to wait for the device, and sometimes we are getting bitten by this issue. Perhaps setting it to 5 minutes would help?

[2020-10-01 17:57] rickschubert commented on #5911
This would be a great addition given how WebSockets are becoming more and more prevalent across the modern web.

[2020-10-01 23:29] joventuraz commented on #5476
@christian-bromann I would like to help here, when you say record network activities, do you mean being able to record everything happening in the network as a test is being executed? Like the network tab of chrome developer tools, but recorded per test case? Or is this about testing against expected network activity?

[2020-10-01 23:44] jamieni opened #5915 "Unable to run Puppeteer from latest Webdriver.io v6.5.2"
Reopening issue #5697 on Webdriver.io v6.5.2

I used the same example here: https://github.com/webdriverio/webdriverio/blob/master/examples/devtools/intercept.js
and received this error: `puppeteerBrowser.pages() is not a function`

[2020-10-02 07:31] christian-bromann commented on #5476
@joventuraz it is about testing expected network activity. I updated the issue description. I know this is a lot compared to what was described in a single sentence before 😛 I am happy to sync with you 1:1 to provide more context and details.

[2020-10-02 07:59] christian-bromann commented on #5842
Closing, as we have already 2 PRs for this: #5909 and #5912

[2020-10-02 07:59] #5842 closed

[2020-10-02 10:03] mgrybyk opened #5916 "Starting firefox on MacOS takes much time in binary is not specified"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.5.0
 - **Platform name and version:** MacOS
 - **Additional wdio packages used (if applicable):** devtools

**Config of WebdriverIO**
[code]

**Describe the bug**
it takes more than 5 seconds for finder to find Firefox binary every time

**To Reproduce**
1. run tests in firefox
2. wait for tests to start

**

[2020-10-02 10:14] christian-bromann commented on #5916
The optimisation should happen in the [firefox finder](https://github.com/webdriverio/webdriverio/blob/master/packages/devtools/src/finder/firefox.js) in the devtools package. It seems that the command for checking the app register takes a long time. In fact I optimized this for Chrome in the [chrome-launcher](https://github.com/GoogleChrome/chrome-launcher/pull/209) package. A similar change need

[2020-10-02 12:36] joventuraz commented on #5916
Coincidentally, I've been trying to run e2e tests and have had problems locating the firefox binary, looks like we are looking specifically for a nightly install? Anyways, during my debugging I found this command to take a while: https://github.com/webdriverio/webdriverio/blob/master/packages/devtools/src/finder/firefox.js#L27-L31 I think this might be related to the issue.

[2020-10-02 12:51] mgrybyk commented on #5916
@joventuraz  correct for devtools protocol

[2020-10-02 12:59] #5916 closed

[2020-10-02 13:33] Primajin commented on #5053
Hey how did you solve it? I'm currently trying to find the docs on that ...

[2020-10-02 14:05] Primajin commented on #5053
I found a way via enabling Babel http://beta.webdriver.io/docs/babel.html and then adding https://www.npmjs.com/package/babel-plugin-module-resolver with

[code]

[2020-10-02 16:43] Jakuska commented on #5053
Turns out that you can use absolute paths. I don't remember why I thought I couldn't.

[2020-10-03 12:02] IgorSasovets commented on #4936
@christian-bromann , it seems that after upgrade to wdio v6 this bug is actual again. After an investigation, I detected that my [fixes](https://github.com/webdriverio/webdriverio/pull/4946) for this bug were not merged into wdio v6 (please see [addValue](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/element/addValue.js) command). Because of this, I canno

[2020-10-03 16:50] rahul-raut commented on #5829
Starting with easy file wdio-cli/constants.js :)

[2020-10-03 19:24] rashedul-haque-ideascale commented on #622
Ahh 5 years later I am trying to simulate Command + A on Mac and it works fine when I run my test on the browser, but when I try to run the same code in a headless browser mode, it does not work! I have been struggling for a few days but still no luck finding any solution to this!

[2020-10-03 19:33] pmerwin commented on #5915
I am getting this with the latest:

2020-10-03T19:31:53.810Z ERROR @wdio/utils:initialiseServices: Error: Couldn't initialise "@wdio/devtools-service".
TypeError: Cannot read property 'requestLatencyMs' of undefined

[2020-10-03 20:01] pmerwin opened #5924 "Devtools service is failing to load"
Try and load the devtools service:

runner: 'local',
  services: [ 'intercept', 'devtools' ],
  automationProtocol: 'devtools',

[code]

get error:

[code]
I am getting this with the latest breaks all test running locally against chrome or chromium.

[2020-10-03 20:15] mgrybyk commented on #5924
@pmerwin you have to install latest lighthouse

try running `npm update`.
If that doesn't work, delete `package-lock.json` and re-install modules, it should upgrade lighthouse to 6.4.1.
Alternatively, just install `lighthouse` package and make sure the latest version is installed.

I'll raise a PR soon to set lower possible lighthouse version to 6.4.1

[2020-10-03 20:15] #5924 closed

[2020-10-03 20:19] pmerwin commented on #5924
Its a typo mobileRegluar3G.

[2020-10-03 20:20] pmerwin commented on #5924
https://github.com/webdriverio/webdriverio/pull/5914/files

Regluar should be Regular

[2020-10-03 20:20] pmerwin commented on #5924
I am not where I can fix it , I'm sorry

[2020-10-03 20:21] mgrybyk commented on #5924
https://github.com/webdriverio/webdriverio/pull/5925

[2020-10-03 20:21] pmerwin commented on #5924
Deleting node modules will not work the typo has to be ^

[2020-10-03 20:24] mgrybyk commented on #5924
The typo was fixed in lighthouse first and that caused issues to new WebdriverIO users.
We had to fix typo on our side as well but forgot to upgrade lighthouse.

As a workaround it's enough to make sure you have the latest lighthouse version installed, which is `6.4.1`

[2020-10-03 20:27] pmerwin commented on #5924
Installing LH is not fixing it for me, I think we the the file in devtools service updated?

[2020-10-03 20:28] pmerwin commented on #5924
Reglua is is still misspelled in node_modules/@wdio/devtools-service/build/constants.js

[2020-10-03 20:29] pmerwin commented on #5924
I can confirm when I fix that file by hand it resolves the issue for me

[2020-10-03 20:30] mgrybyk commented on #5915
@jamieni please change https://github.com/webdriverio/webdriverio/blob/3867103c9c5af0c83ee933b0c75ae8d9af0c73e4/examples/devtools/intercept.js#L8 to `const { remote } = require('webdriverio');`

I'll update the example

[2020-10-03 20:30] #5915 closed

[2020-10-04 09:47] hieuxlu commented on #5906
I can start working on this one. I'm a first timer to wdio repo, and also involved in related issue #5557 before

[2020-10-05 06:23] christian-bromann commented on #5906
Awesome @hieuxlu , let me know if you have any questions!

[2020-10-05 09:15] christian-bromann commented on #4936
@IgorSasovets I am sorry about that, would you mind sending in the same PR?

[2020-10-05 09:32] IgorSasovets commented on #4936
@christian-bromann , thank you for the answer. I will open a PR with the required changes

[2020-10-05 09:45] #5845 closed

[2020-10-05 11:48] IgorSasovets commented on #4936
@christian-bromann , please take a look at my [PR](https://github.com/webdriverio/webdriverio/pull/5928)

[2020-10-05 17:45] Amrkamel1 commented on #5906
Reagrding the BS caps that im using its working fine without multiremote, im not sure if it should be wrapped with bs option :{} if im using multiremote but i can give it a try once main issue is resolved

[2020-10-06 10:02] Y4suyuki commented on #5831
@christian-bromann Hi, I would like to work on this issue!
This is my first time contributing to open source projects but I checked out related issues and PRs and I think I'm good to go.

[2020-10-06 10:13] syedasadulhaq opened #5936 "UnhandledPromiseRejectionWarning: Error: Protocol error (Fetch.continueRequest): Invalid InterceptionId"
"@wdio/allure-reporter": "6.3.6",
    "@wdio/cli": "6.4.0",
    "@wdio/cucumber-framework": "6.4.0",
    "@wdio/devtools-service": "6.4.0",
    "@wdio/firefox-profile-service": "6.4.0",
    "@wdio/local-runner": "6.4.0",
    "@wdio/selenium-standalone-service": "6.4.0",
    "@wdio/spec-reporter": "6.4.0",
    "@wdio/sync": "6.4.0",

**Happens on chrome (85). Doesn't happen on firefox.**

[0-11] (n

[2020-10-06 10:17] mgrybyk commented on #5936
Can you please provide with reproducible example?

[2020-10-06 10:17] mgrybyk commented on #5936
Can you please provide with reproducible example?

[2020-10-06 10:53] HananArgov commented on #5723
i've taken a look at this, and maybe I found the fix. it seems that devtools-service is failing to initialize on the following error:
[code]

i've checked and saw the constant there is mistyped profile name, which after looking at the current master, i'm seeing that it's fixed in PR #5914

my question is when is this going to tagged and packaged?

[2020-10-06 10:55] mgrybyk commented on #5723
Hopefully today

[2020-10-06 12:03] christian-bromann commented on #5831
@Y4suyuki awesome, let me know if you need any help. Feel free to rather make PRs for individual files rather than the whole package. Makes reviewing of PRs easier.

[2020-10-06 17:17] christian-bromann opened #5939 "Remove `browser.config` and use `browser.options` across the code base"
This issue is based on conversations we had in https://github.com/webdriverio/webdriverio/pull/5919

Basically we currently have `browser.config` and `browser.options` which both represent a similar data structure. It seems there is a lot of ambiguity. I would say let's get rid of one of them.

[2020-10-06 17:21] christian-bromann opened #5940 "Remove generated type definition and switch to the generated ones"
As we currently rewrite the code base to Typescript we won't no longer need the generated `*.d.ts` files and instead use the ones that were generated from the `*.ts` files. As this transition is likely break types used by current users we should make this part of a major version change with the attempt to keep it as backwards compatible as possible.

Once we have closed the [Typescript Rewrite pro

[2020-10-06 19:48] Subhang23 commented on #5542
Hi, I would like to work on this. I am a bit new so can you help me as to where to start from?

[2020-10-06 21:31] StephenEsser opened #5942 "Enable a mechanism for manually failing the test run (via service/reporter/config hooks)"
# Description

Provide a mechanism to manually fail the test run.

We're developing a service/reporter concept that collects data during the test run and evaluates it after testing has completed. Following the evaluation of the data collection we're looking for a mechanism for pass/failing the test run.

## Potential Solutions:

1. Enable the hooks (or a new hook) to return an exit code.
2. Allow

[2020-10-06 22:32] christian-bromann commented on #5942
Can you describe this a bit more. Hooks have been designed to not interfere with the test process. Our current recommended way is to have a test at the end of all that allows to make an assertion.

[2020-10-06 22:46] mgrybyk opened #5944 "wdio cli install report/service - typed configuration support"
**Is your feature request related to a problem? Please describe.**
As a TypeScript user, I want to use `npx wdio install ...` to add reporter/service to my wdio.conf.ts

**Describe the solution you'd like**
`npx wdio config/wdio.conf.ts install reporter allure`

**Describe alternatives you've considered**
Ideally, I'd like `npx wdio` to find my `wdio.conf.ts` somehow but I don't have a solution fo

[2020-10-06 22:46] StephenEsser commented on #5942
We're developing global utility functions that capture information as the test runs. (Accessibility checking and screenshots)

An example:

[code]

We don't want these utility functions to run assertions inline because once an assertion fails it will bail out and skip any test steps/assertions that happen after. We want to capture this information without interfering with other test steps/assertio

[2020-10-06 22:52] mgrybyk opened #5945 "wdio cli - Typed Config support"
**Is your feature request related to a problem? Please describe.**
As a TypeScript user, I want wdio cli to:
- create a typed config for me
- add typescript to dev dependencies if it's not there
- create tsconfig file, if it's missing
- ask me to set up eslint

**Describe the solution you'd like**
any solution to achieve the request

[2020-10-06 22:52] mgrybyk commented on #5944
I believe this one should be implemented once https://github.com/webdriverio/webdriverio/issues/5945 is done

[2020-10-06 23:12] mgrybyk opened #5946 "selenium-standalone service: simplify config and use latest stable versions of browser drivers"
**Is your feature request related to a problem? Please describe.**
As a `@wdio/selenium-standalone-service` user
- I don't want to bother much about Firefox/Chrome versions
- I want to run my tests in with the latest stable browser drivers for Firefox/Chrome without a need to set all that explicitly
- I want to simplify config

**Describe the solution you'd like**
Current config style
[code]

Simp

[2020-10-07 02:19] hieuxlu commented on #5906
I made some progress yesterday. By not overriding default ports for multiremote capabilities, I can launch browser stack service with below configuration. However, port `4445` which was supposed to be selenium standalone service, now becomes `hub.browserstack.com:4445`. I didn't find out, do you have any ideas? @christian-bromann If not I'll continue tmr.

I think the problems may lie deep in the

[2020-10-07 07:30] mgrybyk commented on #5898
Let's document how to use all them with selenium-standalone as well.
It should be really easy for IE11, firefox, safari and chromium based drivers (chrome, edge, etc).

One guy I'd omit as a hell is legacy edge. It's extremely problematic, delends on windows version, there is no fully working version. And it's deprecated.

[2020-10-07 07:41] christian-bromann opened #5947 "Move WebdriverIO pipeline to GitHub Action"
We currently run our pipeline on Travis which is suboptimal as we only have 5 concurrent jobs. As we have 6 jobs for a PR to execute (3 for PR push and 3 for PR merge) where the longest job is around 18min the time until a PR is tested takes around 40min - 1hr depending on how many PRs currently fight for slots:

![Screen Shot 2020-10-07 at 9 39 31 AM](https://user-images.githubusercontent.com/731

[2020-10-07 09:23] MichelAmin47 commented on #5838
Will pick this on up first, could you please assign me @christian-bromann

[2020-10-07 10:16] woutdejong1986 commented on #5838
@christian-bromann As I will collaborate with @MichelAmin47, can you assign me too? Thanks!

[2020-10-07 12:18] christian-bromann opened #5950 "Fix unit tests in Windows"
Currently our unit tests are broken in Windows. It would be great if someone with a Windows machine could take a look at them. The list of errors can be found here:

https://github.com/webdriverio/webdriverio/pull/5947/checks?check_run_id=1220246069

Also in case #5947 got merged until then I would be great if the unit tests could be enabled again in `.github/workflows/test.yml`

[2020-10-07 13:19] Fabianopb commented on #5854
I might jump into this... Just to know, does the package already support TS? Meaning, can I start refactoring a file right away or is there any setup needed beforehand?

[2020-10-07 13:24] logesr commented on #5950
I can take it up!

[2020-10-07 13:42] mgrybyk commented on #5950
@logesr on it as well, have you started?

[2020-10-07 13:47] christian-bromann commented on #5854
@Fabianopb awesome, thanks so much! No setup required. All files are already compiled by the TS compiler, you can start renaming and typing js files. Given the amount of files in this package I recommend to split up the work in multiple PRs to keep reviews simple.

[2020-10-07 13:54] mgrybyk commented on #5950
@logesr feel free to pick up my branch and proceed https://github.com/webdriverio/webdriverio/compare/fix-unit-tests-win

Cheers!

[2020-10-07 13:59] logesr commented on #5950
Thanks @mgrybyk

[2020-10-07 17:56] HananArgov commented on #5723
i'm sorry to say that the update didn't fix this issue. i'm still encountering it.
to be more precise, i've followed this a bit more, and found that the issue (the timeout) occurs here:
https://github.com/webdriverio/webdriverio/blob/643b1f237c0c7e4eb0e28fca31d963d3b19a073c/packages/wdio-devtools-service/src/index.js#L150

I hope this helps in some sort

[2020-10-07 18:25] pmerwin commented on #5723
I am seeing a similar issue when trying to run performance tests ... timing out after this error =>

 (node:36753) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'promise' of undefined
    at TraceGatherer.onLoadEventFired (/Users/pmerwin/Projects/pagehealth/lib-page-health-nodejs/node_modules/@wdio/devtools-service/build/gatherer/trace.js:95:42)

[2020-10-07 19:22] pmerwin opened #5951 "devtools enable performance throws error in browser.url() in 6.6.0 => @wdio/sync: TypeError: Cannot read property 'start' of undefined"
Steps to reproduce:

Update to all latest 6.6.0 packages,
run this test, use sync mode with devtools service and devtools as automation protocol at chrome:

[code]

when browser.url is called error is thrown, test times out =>

 (node:40878) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'promise' of undefined
    at TraceGatherer.onLoadEventFired (/Users/pmerwin/Projects/pagehe

[2020-10-07 19:58] christian-bromann commented on #5951
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-10-07 22:24] spatchamatla opened #5952 "updated port in wdio config is not being set in wdio runner in latest v6.*.*"
WebdriverIO version: 6.6.0
Mode: WDIO Testrunner
If WDIO Testrunner, running sync/async: async
Node.js version: v12.12.0
NPM version: v6.11.3
Browser name and version: Chrome 85.0.4183.83
Platform name and version: macOS v10.15.6

**Config of WebdriverIO**
[code]

**Describe the bug**
port set in wdio config is not being set for WebdriverIO session.

Note: This is working in
[code]

**To Reproduce

[2020-10-08 00:06] hieuxlu commented on #5906
@christian-bromann Hey I'm stuck. wdio by design allow only 1 `hostName`. We have 2 services with different hostnames: `selenium-standalone` at localhost and `browserstack` at `hub.browserstack.com`. There's no option in `capabilities` that could override hostname. The closest I could find in DesiredCapabilities is `host`, which has no documentation on what it means. So in short `wdio` does not su

[2020-10-08 07:17] christian-bromann commented on #5952
Couple of things:

1. You are using the selenium standalone server which overwrites the `port` option as it should
2. you misconfigured `seleniumArgs`, please see a working example in the [service docs](https://webdriver.io/docs/selenium-standalone-service.html#custom-configurations)

[2020-10-08 07:17] #5952 closed

[2020-10-08 08:07] HananArgov commented on #5723
made some more looking around...
I don't know much about puppeteer, but I think it has the same issue we had when using selenium, that the reloadSession doesn't actually change the target for devtools.
in `node_modules/puppeteer-core/lib/cjs/puppeteer/common/Browser.js`
i've checked the target info for the line:
[code]

I saw that `targetInfo` is actually the same.

can that be the issue?

[2020-10-08 08:08] christian-bromann commented on #5723
@HananArgov yeah I think it is. We need to reconnect the Puppeteer instance when the browser reloads.

[2020-10-08 11:50] mgrybyk opened #5955 "Clean up TypeScript set up"
Since https://github.com/webdriverio/webdriverio/pull/5853 `webdriver.d.ts` is no longer generated automatically.

Let's have `webdriver.d.ts` types autogenerated

[2020-10-08 12:23] mgrybyk commented on #5898
@AutomationReddy @faizaaslam1 Edge should work with selenium-standalone once https://github.com/webdriverio/webdriverio/pull/5956 is merged

[2020-10-08 14:25] mciastek commented on #5827
@christian-bromann I'm going to pick this one. Package is pretty small, so I think I can rewrite as a whole.

[2020-10-08 14:31] hieuxlu commented on #5906
@christian-bromann Okay I think I was able to fix this. Multiremote capabilities do allow overriding hostname, protocol and port. After my fix, below configuration works, will submit a PR later
[code]

[2020-10-08 15:33] christian-bromann commented on #5827
@mciastek awesome! Yeah the majority of reporters and services have a decent size and can be transformed in one go. Thanks!

[2020-10-08 17:17] logesr commented on #5950
@christian-bromann @mgrybyk  I am facing an issue while setting up my windows machine. The below error is thrown at times resulting in failure of builds.

──────────────────────────────────────────────┐
│                     npm update check failed                     │
│               Try running with sudo or get access               │
│              to the local update config store via

[2020-10-08 17:19] mgrybyk commented on #5950
Nope, it works for me out out the box.
I just installed npm on my Windows machine and that's it

[2020-10-08 18:01] Fabianopb commented on #5854
I'm trying to get started bottom up, so from utils. I'll create a draft PR for follow up until I get a better grasp of this repo!

[2020-10-08 18:12] Fabianopb commented on #5854
@christian-bromann I've started with a draft, wanted to understand first how you guys prefer to organize the typing system! 🙂
https://github.com/webdriverio/webdriverio/pull/5957

[2020-10-08 19:24] vhanich-es commented on #2246
As for me, we run some API setup steps before each UI test too, so it would be nice if there were an option not to open browser on some tests.

[2020-10-08 19:43] psubrambe opened #5958 "Xray Integration as a Service"
**Is your feature request related to a problem? Please describe.**
There are lot of way is available after execution reports uploaded to Xray, but we need to code in different formats like few creating a stage Jenkins to upload the reports.

**Describe the solution you'd like**
Xray Integration (uploading execution status of scripts) as a  wdio service

**Describe alternatives you've considered**

[2020-10-08 20:54] StephenEsser commented on #3631
@christian-bromann

Is the solution provided by @vbyjsue what you were recommending? We're looking into ways to send custom events to our custom reporter and so far `process.on` and `process.send` have been the only successful solutions.

Are there any alternatives that are supported and recommended to use for creating custom reporter events?

[2020-10-08 21:52] christian-bromann commented on #5958
@psubrambe sounds like a reasonable suggestion and a great wdio service. Nothing necessarily we need to bring into core though. Would love to add such a service into the config wizard. Let me know how it goes and if you have any questions.

[2020-10-08 21:52] #5958 closed

[2020-10-08 22:44] waynevanson opened #5959 "add optional dependency @types/<name> to @wdio/<name>-framework packages"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-10-08 22:49] mgrybyk commented on #5959
There is a ticket to add TypeScript support for cli https://github.com/webdriverio/webdriverio/issues/5959

For now please follow https://webdriver.io/docs/typescript.html

All the packages have integrated types have built-in types, no need to install additional types `@types/...`

[2020-10-08 22:50] christian-bromann commented on #5959
@mgrybyk I think you are talking about #5945, no?

[2020-10-08 22:54] christian-bromann commented on #5959
Let's close this as duplicate then. Thanks for reporting @waynevanson , this helps having another viewpoint on this.

[2020-10-08 22:54] #5959 closed

[2020-10-08 22:55] christian-bromann commented on #5945
Please also see #5959 what needs to be supported.

[2020-10-09 07:03] wswebcreation commented on #5900
@alinaIftode

This might be related https://github.com/webdriverio/webdriverio/pull/5961

[2020-10-09 14:21] christian-bromann commented on #5835
see #5962

[2020-10-09 14:21] #5835 closed

[2020-10-09 15:16] christian-bromann commented on #5830
Assigned to @discombobulateme

[2020-10-09 15:21] apragacz commented on #5846
@christian-bromann Hi! I'd like to volunteer to work on that issue. Could you assign me to it?

[2020-10-09 15:43] psubrambe commented on #5958
@christian-bromann : Config wizard means I am not sure could you please guide me on it.

[2020-10-09 16:16] mareru opened #5964 "Scenario Outline is not displayed in the allure report for each example data (only last example is visible)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.5.2
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.18.3
 - **NPM version:** 6.14.8
 - **Browser name and version:** Chrome 86
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/spec-reporter,

[2020-10-09 16:30] link89 opened #5966 "webdriver cannot work on nightly build of selenium grid"
## Root Cause
`selenium` will check the request header after version 4.alpha.6, which makes `webdriver.io` fail run test on it.

It turns out `webdriver` doesn't set the content-type header correctly is the root cause.

Here is the error message
[code]

[2020-10-10 00:39] waynevanson commented on #5959
@mgrybyk the package `@wdio/jasmine-framework` references types defined by `@types/jasmine`. Jasmine types aren't included when we install `@wdio/jasmine-framework`package.

No worries! I thank the team for creating a selenium driver with a decent api.

[2020-10-10 09:56] Amrkamel1 commented on #5906
@christian-bromann let me know plz once its merged and update is available so i can test it

[2020-10-11 00:34] Subhang23 commented on #5542
@christian-bromann Is this issue still available?

[2020-10-11 12:10] martinfrancois commented on #5399
@christian-bromann cool! Sure, I just saw the issues, I'll work on some :)

[2020-10-11 12:20] martinfrancois commented on #5849
Hey @christian-bromann mind if I start working on this one?

[2020-10-11 12:21] martinfrancois commented on #5837
Hey @christian-bromann mind if I start working on this one?

[2020-10-11 12:21] martinfrancois commented on #5843
Hey @christian-bromann mind if I start working on this one?

[2020-10-11 12:21] martinfrancois commented on #5839
Hey @christian-bromann mind if I start working on this one?

[2020-10-11 12:21] martinfrancois commented on #5834
Hey @christian-bromann mind if I start working on this one?

[2020-10-11 12:21] martinfrancois commented on #5824
Hey @christian-bromann mind if I start working on this one?

[2020-10-11 13:09] christian-bromann commented on #5959
@waynevanson thank you for pointing this out. As we are in the process of transforming the code base and improving our TS integration we will tackle such issues soon. That said, any contribution to these bugs are highly appreciated 😉

[2020-10-11 13:25] christian-bromann commented on #5906
The PR is in a good state and will be merged once comments were addressed. Please follow the release tab for updates. Closing this.

[2020-10-11 13:25] #5906 closed

[2020-10-11 13:44] christian-bromann commented on #5542
@Subhang23 yes, this is still an issue we would like to get fixed. I recommend to read the [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and try to reproduce the issue. Then find a fix for it.

[2020-10-11 13:51] christian-bromann commented on #5849
@martinfrancois not at all, go for it 🚀

[2020-10-11 13:51] christian-bromann commented on #5837
Assigned you already to `@wdio/sync` 😉

[2020-10-11 13:52] christian-bromann commented on #5843
Assigned you already to `@wdio/sync` 😉

[2020-10-11 13:52] christian-bromann commented on #5839
Assigned you already to `@wdio/sync` 😉

[2020-10-11 13:52] christian-bromann commented on #5834
Assigned you already to `@wdio/sync` 😉

[2020-10-11 13:52] christian-bromann commented on #5824
Assigned you already to `@wdio/sync` 😉

[2020-10-11 14:07] christian-bromann commented on #5847
Closing in favor of #5922. Thank you for tackling this.

[2020-10-11 14:07] #5847 closed

[2020-10-11 14:16] christian-bromann commented on #5852
Closing in favor of #5968

[2020-10-11 14:16] #5852 closed

[2020-10-11 15:02] link89 commented on #5966
https://github.com/SeleniumHQ/selenium/issues/8770

[2020-10-11 15:02] #5966 closed

[2020-10-12 06:34] #5950 closed

[2020-10-12 06:39] mgrybyk commented on #5964
@mareru is it ok in spec reporter? Have you tried useCucumberStepReporter set to false?

[2020-10-12 09:05] jamesmortensen opened #5973 "Add the ability to customize the name of the before hook that shows up in the allure report because it takes the name of the first test by default"
**Is your feature request related to a problem? Please describe.**
We use before hooks to setup all of our tests and make sure we're on the right page before we start executing a series of negative test cases, but in the report, the before hook takes on the name of the first test when instead we feel it should take on the name of the entire suite.

<img width="679" alt="Screen Shot 2020-10-12 at 2

[2020-10-12 09:08] christian-bromann commented on #5973
Hey,
thanks for filing the issue. This seems indeed like something we should improve. The `beforeAll` hook should contain the suite title rather than the title of the first test. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Che

[2020-10-12 10:44] mikrivorot commented on #4055
Same for me
[code]
Cannot use  `browser.enablePerformanceAudits()` with ay configuration
e.g.
[code]

[2020-10-12 11:34] mgrybyk commented on #4055
Try following https://github.com/webdriverio/webdriverio/actions/runs/301986390 as far as boilerplate repos might be not up to date
Use the latest webdriverio and chromedriver.

[2020-10-12 12:29] christian-bromann commented on #4055
I think

Is a new issue that should be reported as such.

[2020-10-12 15:53] pmerwin commented on #5951
I am starting on this today, any suggestions appreciatted.

[2020-10-12 15:54] christian-bromann commented on #4055
See #5951

[2020-10-12 15:55] pmerwin commented on #4055
FYI: I reproduced this using:

https://github.com/christian-bromann/webdriverio-performance

2020-10-12T15:52:01.609Z ERROR @wdio/sync: TypeError: Cannot read property 'start' of undefined

Appears to be the same issue here =>

https://github.com/webdriverio/webdriverio/issues/5951:

[2020-10-12 16:03] pmerwin commented on #5951
The crux of the issue is here:

 log.info(`Start tracing frame with url ${url}`);
        await this.page.tracing.start({
            categories: constants_1.DEFAULT_TRACING_CATEGORIES,
            screenshots: true
        });

this.page.tracing appears to be undefined

[2020-10-12 16:30] pmerwin commented on #5951
Start tracing frame with url / => url is being passed in as a '/' ...  looking into why.

[2020-10-12 16:44] thomaschaplin commented on #5358
In theory this should be fixed now as lighthouse was bumped 9 days ago in this PR: https://github.com/webdriverio/webdriverio/pull/5925

@Pratikhanagodimath can you confirm if your issue is now resolved?

[2020-10-12 16:45] thomaschaplin commented on #5358
If not I'd be happy to take a look into this further.

[2020-10-12 16:49] christian-bromann commented on #5358
@thomaschaplin I think we need to update LH in the `@wdio/devtools-service` to get this feature. That would be a nice contribution.

[2020-10-12 17:18] thomaschaplin commented on #5358
@christian-bromann please could you assign this to me? How can I best discuss this with you as my first contribution?

[2020-10-12 17:22] christian-bromann commented on #5358
Let's keep conversations in this thread.

[2020-10-12 17:23] mareru commented on #5964
@mgrybyk Spec reporter is ok.
I tried to set useCucumberStepReporter to false, but then ordering of the steps is messed up and also they are still only 1 scenario, not 3 as I would expect.
Check the image [Messed steps](https://monosnap.com/file/bTooTgA0HU6VgS4GTjfAXGvFaylDxq)

[2020-10-12 17:24] thomaschaplin commented on #5358
Great. I'll have a dig/play around and will comment if I need any help. Thanks

[2020-10-12 17:42] pmerwin commented on #5358
devtools is on "lighthouse": "^6.4.1" which has LCP:

example:

  metrics: {
    "estimatedInputLatency": 1815,
    "timeToFirstByte": 23,
    "serverResponseTime": 23,
    "domContentLoaded": 1421,
    "firstVisualChange": 928,
    "firstPaint": 938,
    "firstContentfulPaint": 938,
    "firstMeaningfulPaint": 938,
    "largestContentfulPaint": 4563,
    "lastVisualChange": 4944,
    "firstCPUIdl

[2020-10-12 18:37] thomaschaplin commented on #5358
Looks like this metric is already included in `getMetrics()` as seen [here](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-devtools-service/src/auditor.js#L97) which was implemented in the PR below

https://github.com/webdriverio/webdriverio/pull/5646

[2020-10-12 18:47] thomaschaplin commented on #5358
@christian-bromann am I right in saying this can be closed then? Or am I missing something?

[2020-10-12 20:26] Amrkamel1 commented on #5906
@hieuxlu @christian-bromann

i have tried it now but still not working

[code]

**error**

[code]

[2020-10-12 21:14] Amrkamel1 commented on #5906
update when i change the caps to the following i got this error below

[code]

![image](https://user-images.githubusercontent.com/32042806/95790953-a8da0480-0ce0-11eb-98ff-15164423789f.png)

[2020-10-12 22:44] martinfrancois commented on #5837
I just noticed this one is quite dependent on `wdio-runner`, but I couldn't find any issues to convert that one to TypeScript @christian-bromann, could it be that that one got forgotten?

[2020-10-12 22:47] martinfrancois commented on #5837
Nevermind, I actually just noticed there is one, but the two related PR's are still not merged:
https://github.com/webdriverio/webdriverio/pull/5909
https://github.com/webdriverio/webdriverio/pull/5912

[2020-10-13 01:07] hieuxlu commented on #5906
@Amrkamel1 If you have used `bstack:option`, you'll not gonna need `browserstack` prefix in your capability strings.

[2020-10-13 01:17] hieuxlu commented on #5906
@Amrkamel1 You can see the correct W3C cap on Browserstack website. There's 2 tabs, Legacy and W3C, you need to switch to W3C tab.
https://www.browserstack.com/automate/capabilities?tag=selenium-4

[2020-10-13 06:47] christian-bromann commented on #5837
@martinfrancois go for it, thanks!

[2020-10-13 07:43] Amrkamel1 commented on #5906
@hieuxlu

okay i have combined my previous caps with bs:options and it works

[code]

i saw after using this caps that browserstack device is triggered and chrome started normally on my local machine, but console shows this error below

![image](https://user-images.githubusercontent.com/32042806/95830798-8542a880-0d38-11eb-9637-ee40334923b8.png)

[2020-10-13 10:28] mikrivorot commented on #5951
Hi!
I have the same issue, but after *TypeError: Cannot read property 'start' of undefined*

it fails with an error *UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'promise' of undefined*

[code]

Example: https://github.com/mikrivorot/webdriver-io-performance--error

[2020-10-13 11:22] hieuxlu commented on #5906
I think the code is user specific. It says `No user alert modal`. If the service started, the original bug should be fixed.

[2020-10-13 15:14] pmerwin commented on #5951
Any help would be appreciated here, I could use some suggestions.

[2020-10-13 15:56] mgrybyk commented on #5964
@mareru the allure report contains all the tests, however only the last one is shown because all the tests have the same name, which is by allure report design.
To overcome it you can name your scenario like this `Login with invalid credentials <username>/<password>` and be sure names are unique.
Example:
![image](https://user-images.githubusercontent.com/25589559/95885099-27847f80-0d7d-11eb-8236-

[2020-10-13 15:56] #5964 closed

[2020-10-13 16:58] mgrybyk commented on #5951
let me fix it

[2020-10-13 17:02] mareru opened #5983 "Steps are being displayed as tests"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.5.2
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.18.3
 - **NPM version:** 6.14.8
 - **Browser name and version:** Chrome 86
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/spec-reporter,

[2020-10-13 17:21] Amrkamel1 commented on #5906
@hieuxlu

the test is passing normally but im getting this error every time i run this wdio config

![image](https://user-images.githubusercontent.com/32042806/95894362-4426b480-0d89-11eb-9152-e24405bf4333.png)

[2020-10-13 17:36] #5951 closed

[2020-10-13 18:10] christian-bromann commented on #5983
@mareru for better understanding would you mind sharing a Allure report displaying the current state and one with the state you are looking for?

[2020-10-13 18:59] mareru commented on #5983
Here is a screenshot with my comments of the [report dashboard](https://monosnap.com/file/o9pL98Ed9tIFyTUFzjBOuCnARBiByq).
Here is a screenshot with my comments of the [graphs](https://monosnap.com/file/jrnucdNpQBXxn5odR76dIiy8TvcsES).
I hope this makes it clearer. Let me know if you have any questions.
Thanks!

[2020-10-13 19:02] BorisOsipov commented on #5983
@mareru have you tried `useCucumberStepReporter` wdio-allure-reporter option?
see https://webdriver.io/docs/allure-reporter.html for details.

[2020-10-13 19:24] mareru commented on #5983
@BorisOsipov
Thank you so much. That worked just the way I expected.
I had it before but because of some other try and errors session I turned it off.
Sorry for the inconvenience, I'll close it.

[2020-10-13 19:24] #5983 closed

[2020-10-13 21:09] Amrkamel1 commented on #5906
@hieuxlu

Also FYI that the only working caps is the following

[code]

      'bstack:options' : { },
 should be present inside capabilities no matter if it has any option inside or not, im using it empty as shown if i moved the caps inside   'bstack:options'  it will throws some error

conclusion caps should be listed on that way shown above

[2020-10-13 23:12] martinfrancois commented on #5843
@christian-bromann I just noticed that in the `README` for the sauce service, it mentions an option `noAutoconnect` for the  `sauceConnectOpts` and even though `noAutoconnect` is not in the types file or on https://github.com/bermi/sauce-connect-launcher, it is set inside `onPrepare` in `launcher.js`.

Can you please check whether `noAutoconnect` was removed (and thus should also be removed from `

[2020-10-13 23:14] martinfrancois commented on #5843
I also just noticed that `sePort` is used in `launcher.js` on `sauceConnectOpts`, but I couldn't find it either in the `README` or on the linked github repo in the comment above, can you please also check if that one still exists?

[2020-10-13 23:21] martinfrancois commented on #5843
Actually nevermind - I just found the `saucelabs` dependency already provides `SauceConnectOptions`, I'm removing the types from the package and replace them with the ones from the dependency, since they seem to be more up to date and I also don't think it makes sense to duplicate them.

[2020-10-13 23:27] martinfrancois commented on #5843
@christian-bromann in the `node-saucelabs` dependency (xxx)  `noAutodetect` in the interface `SauceConnectOptions` is defined as a `string`:
[code]
Is this a mistake there? Since here in `launcher.js` we assign `true` (implying it's a boolean, not a string). If it is indeed a string, what should it include? Just "true" and "false"?

[2020-10-14 05:30] rahul-raut commented on #5829
@christian-bromann Can I get your time? I need some assistance from you so I can speed up my work. Please let me know when you are available.

[2020-10-14 07:10] christian-bromann commented on #5829
@rahul-raut what concrete questions do you have?

[2020-10-14 07:32] christian-bromann commented on #5843
Good catch, this would need to be fixed here: https://github.com/saucelabs/node-saucelabs/blob/48c9c68d2aed2530e7f3b93992beb46329e5c563/src/constants.js#L191-L192 by adding `type: 'boolean',`

[2020-10-14 07:41] martinfrancois commented on #5843
@christian-bromann thanks! I'll submit a PR.

[2020-10-14 07:59] martinfrancois commented on #5843
Done @christian-bromann : https://github.com/saucelabs/node-saucelabs/pull/97

[2020-10-14 08:09] Amrkamel1 commented on #5906
yes @hieuxlu  caps like this will work i have already tried that as well, as long as 'bstack:options' is there no matter if u put inside any options or not , you just have to add this 'bstack:options' : { },

i tried to remove 'bstack:options but didnt work, then i added it empty it works. if u **move** all caps inside 'bstack:options it will not work it, but if u **copy** it (duplicate it), it wi

[2020-10-14 08:30] hieuxlu commented on #5906
@Amrkamel1  That is by design. The PR detects the remote capabilities by `bs:options`. It currently does not support Legacy browserstack capabilities for Multiremote. Can you create a seperate ticket for this? I also mentioned this in the docs:
https://webdriver.io/docs/multiremote.html

[code]

[2020-10-14 08:34] Amrkamel1 commented on #5906
Okay great
Im already using test to be executed in selenium and browserstack using multiremote its working fine now

Except these error logs shown in console that i have attached above

[2020-10-14 09:37] kamalgirdher-rally opened #5986 "Shared-store not working when running tests on sauce labs"
**Environment :**
  WebdriverIO version: wdio/cli : ^6.1.24
  Mode: WDIO Testrunner
  If WDIO Testrunner, running sync/async: sync
  Node.js version: 11.3.0
  NPM version: 6.4.1
  Browser name and version: chorme 85.0.4183.83
  Platform name and version: MacOS Catalina 10.15.4
  Additional wdio packages used (if applicable): @wdio/allure-reporter(6.1.23), @wdio/cli(6.1.24), @wdio/dot-reporter(6.1.

[2020-10-14 09:56] christian-bromann commented on #5986
@kamalgirdher-rally the shared store service doesn't care whether it is run locally or on a vendor platform. Please check if you have installed all dependencies properly. Look into the logs to see if the service might not be installed correctly.

Closing as this seems to be a user error. Happy to assist with further questions.

[2020-10-14 09:56] #5986 closed

[2020-10-14 11:15] hieuxlu commented on #5906
You're right, that 404 is very curious, could you try providing a minimal repo excluding private info, that would help me very much for investigation. I'll try to reproduce it myself too. Thanks.

[2020-10-14 16:02] Amrkamel1 commented on #5906
@hieuxlu

i have addtached below screenshot of same script one time working with selenium + appium service and the other one working with selenium and browserstack service

and highlight the error on both screenshot, i believe now its not script related its more config issue related

![image](https://user-images.githubusercontent.com/32042806/96015075-70a10600-0e47-11eb-87ed-e91f527ac60e.png)

[2020-10-14 16:27] christian-bromann commented on #5906
This seems like a BrowserStack issue as they return with 404 while actually the response should be 200 with an error response. Mind reaching out to the BS support?

[2020-10-14 17:04] Amrkamel1 commented on #5906
@christian-bromann
I'm running test as well against browser-stack service but without selenium service and it returns 200 with no any problem no error is logged

![image](https://user-images.githubusercontent.com/32042806/96021600-f32dc380-0e4f-11eb-9349-1ff0089c96a5.png)

[2020-10-14 17:17] christian-bromann commented on #5906
@Amrkamel1 mhm 🤔 I think @hieuxlu is right and a reproducible example is needed here to understand what is going on.

[2020-10-14 18:09] Amrkamel1 commented on #5906
@christian-bromann  @hieuxlu
i think kinda hard since i will have to provide an example that embodies same structure, tests...etc and my current project cant be shared in public.
we can organize a call if you are okay with that and i can show it on my actual code

[2020-10-14 18:39] HananArgov commented on #5723
ok, I think I may have a workaround at least... if that may cause a (very) little slowdown. I think this issue is because of the `getPuppeteer()` command.

at the beginning of the function we're checking if there's already puppeteer connected, but we don't discard it when using the `reloadSession` command, thus we are kept with the old puppeteer still there haunting us.
https://github.com/HananArg

[2020-10-14 18:46] jiyoon-sb opened #5989 "SauceLabs dashboard displays test as failed when it has passed on retry"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.6.2
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.13.0
 - **NPM version:** 6.12.0
 - **Browser name and version:** N/A
 - **Platform name and version:** N/A
 - **Additional wdio packages used (if applicable):** @wdio/cli, @wdio/dot-reporter, @wdio

[2020-10-14 21:13] hieuxlu commented on #5906
The screenshot above is enough for me. This is normal. The 404 is the first look up for `$('//android.view.View...)` element. IIRC, `wdio` bydefault will automatically retry up to 3 times when looking up for an element. You can see that the next look up succeeded so the test went successfully. If your test succeeded, there's no need to worry about that 404.

[2020-10-14 21:22] Amrkamel1 commented on #5906
@hieuxlu  yes test is passing normally, was just confused as this is happening only when using multiremote feature (selenium + BS)
but when using BS alone its fine

[2020-10-14 21:26] hieuxlu commented on #5906
Ah you're right again, element not found should not have resulted in exception like that. So that 404 was caused by the call to `http://localhost:4444`, not browserstack.

[2020-10-14 21:27] hieuxlu commented on #5906
Can you share the logs before the line `ERROR: @wdio/sync`?

[2020-10-14 21:30] Amrkamel1 commented on #5906
@hieuxlu

[code]

[2020-10-14 22:15] hieuxlu commented on #5906
Indeed I could reproduce the 404 locally. There's 2 404s, one on start of session and the 2nd on session close. Could you create a new issue for this, thanks. @Amrkamel1

[2020-10-14 22:29] hieuxlu commented on #5906
@Amrkamel1 @christian-bromann I was able to pinpoint the issue. `wdio-browserstack-service` currently does not update session failed/success result correctly in case of multiremote, because it is getting session id from global browser object, instead of specific remote browser object.

[code]
So later call to update session failed/success status will result in 404, because it's PUTTING to `session

[2020-10-14 22:31] Amrkamel1 commented on #5906
Good catch

[2020-10-14 23:01] Amrkamel1 opened #5990 "@wdio/sync: HTTPError: Response code 404 (Not Found)"
Console log throws error 404 as shown below when using multi remote feature using selenium and browserstack services

[code]

[2020-10-14 23:04] Amrkamel1 commented on #5906
@hieuxlu  we can continue there #5990

[2020-10-14 23:11] Amrkamel1 opened #5991 "Unable to take screenshot with allure when using multiremote feature"
Unable to have screenshot from the failed test when using combination of browserstack/appium and selenium stand alone services

**Environment (please complete the following information):**
 - **WebdriverIO version:**  6.6.4
 - **Mode:** multiremote feature
 - **If WDIO Testrunner, running sync/async:**  sync
 - **Node.js version:** 12.18.0
 - **NPM version:** 6.14.4
 - **Browser name and version:*

[2020-10-14 23:42] hieuxlu commented on #5990
I can continue working on this. I found something in the docs for the PUT request and understand what it does.
https://www.browserstack.com/docs/automate/api-reference/selenium/session#update-session-name

To fix this the service need to know which session ID is mapped to which browser in multi remote. Any suggestion @christian-bromann

[2020-10-15 05:51] kamalgirdher-rally commented on #5986
yes. you're right. This was issue at my end only. Got it working now. Thanks!

[2020-10-15 07:06] christian-bromann commented on #5990
@hieuxlu `browser.capabilities` should give you access to this information.

[2020-10-15 07:07] christian-bromann commented on #5991
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-10-15 07:25] christian-bromann commented on #5831
@Y4suyuki do you have any updates or need any help?`

[2020-10-15 07:26] christian-bromann commented on #5854
I will start to move some more files over.

[2020-10-15 08:19] Fabianopb commented on #5854
I could soon convert a few other files, perhaps continuing with utils?

[2020-10-15 08:29] MalshaRajapaksha commented on #5991
The script fails with this error. Error: element (".WONDERESC") still not displayed after 30000ms

Tried different combinations for XPath, (relative, fixed, text()} and CSS selectors, but the button not clicked. The sign-in button div in the code block:
<div>
    <div class="WONDERBSC" role="form">
        <div>
            <div class="WONDERJ1B" data-automation-id="username">
                <div

[2020-10-15 08:32] christian-bromann commented on #5854
@Fabianopb sounds good. Just let me know on which files your are working on. I am currently converting all files in `packages/webdriverio/src/commands/browser`

[2020-10-15 08:45] mgrybyk commented on #5991
@MalshaRajapaksha I believe the comment was deleted by accident, can you please re send it? Thanks

[2020-10-15 11:20] Y4suyuki commented on #5831
@christian-bromann
Hi, sorry for not updating for long time. I'm working on wdio-config/src/utils.js (https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-config/src/utils.js).
And yes I need some help.
I started working on utils.js, spent some time to catch up code base and I have problems typing `validateConfig` and `detectBackend` in utils.js.
- For detectBackend, I need [Config

[2020-10-15 13:59] christian-bromann commented on #5723
Let's go with solution number 2

[2020-10-15 15:10] christian-bromann commented on #5723
fixed by #5993

[2020-10-15 15:10] #5723 closed

[2020-10-15 21:28] Amrkamel1 opened #5995 "Unable to use expect assertion with multiremote feature"
**Environment (please complete the following information):**
 - **WebdriverIO version:**6.6.4
 - **Mode:** multiremote
 - **If WDIO Testrunner, running sync/async:**sync
 - **NPM version:** 6.14.4
 - **Browser name and version:** 86.0.4240.75
 - **Platform name and version:** win10
 - **Additional wdio packages used (if applicable):**
[code]

**Config of WebdriverIO**

[code]

**Describe the bug**

[2020-10-15 22:10] amrsa1 opened #5996 "Verify `WebdriverIO.Element` exist when calling `switchToFrame`"
**Environment (please complete the following information):**
 - **WebdriverIO version:**6.6.4
 - **Mode:** multiremote
 - **If WDIO Testrunner, running sync/async:**sync
 - **NPM version:** 6.14.4
 - **Browser name and version:** 86.0.4240.75
 - **Platform name and version:** win10
 - **Additional wdio packages used (if applicable):**
[code]

**Config of WebdriverIO**

[code]

**Describe the bug**

[2020-10-15 22:57] christian-bromann commented on #5996
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-10-15 22:58] christian-bromann commented on #5996
Can you provide WebdriverIO logs?

[2020-10-15 22:59] christian-bromann commented on #5995
Duplicate of https://github.com/webdriverio/expect-webdriverio/issues/106

[2020-10-15 22:59] #5995 closed

[2020-10-16 08:09] christian-bromann commented on #5990
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-10-16 08:45] christian-bromann commented on #5989
fixed by #5997

[2020-10-16 08:45] #5989 closed

[2020-10-16 09:20] Fabianopb commented on #5854
I'll get started with the other files under `packages/webdriverio/src/utils/interception`

[2020-10-16 10:09] hieuxlu commented on #5990
I've already been working on this. Made some progress, it's harder than it looks. `global.browser.capabilities` is always null, we need to look into service's own `capabilities`. Anw, I managed to fixed the exception, but somehow the test name is still not updated on Browserstack. Will investigate more this weekend

@christian-bromann  Is it possible that you also label `Hacktoberfest` for this PR

[2020-10-16 12:55] unickq commented on #5545
Subscribing

[2020-10-16 18:43] Amrkamel1 commented on #5996
@christian-bromann

[code]

[2020-10-17 06:24] suniljaiswal01 commented on #5848
I would like to take this up

[2020-10-17 09:54] christian-bromann commented on #5848
Closing in favor of #5998

[2020-10-17 10:08] christian-bromann commented on #5996
This seems to be an issue with Browserstack. The [WebDriver specification](https://w3c.github.io/webdriver/#element-send-keys) expects a `text` property. This works with all current browser drivers and should also with one that automates Chrome 83. Please reach out to their support and report this bug.

[2020-10-17 13:30] Fabianopb commented on #5854
Looks tricky, I've started with a draft here: https://github.com/webdriverio/webdriverio/pull/5999

[2020-10-17 13:42] Amrkamel1 commented on #5996
@christian-bromann

Thats pretty weird, since its working fine when i run browserstack service alone.

Issue is happening only when combine selenium service using multiremote feature

[2020-10-17 16:30] goveanick commented on #5828
@christian-bromann I'll like to give this one a try.

[2020-10-19 02:36] hieuxlu commented on #5991
@christian-bromann I would like to investigate this, as I worked on multiremote in the past few days.

@Amrkamel1 IIRC, the API is `browser.saveScreenshot(filePath)`, not `browser.takeScreenshot()`, or what am I missing?

[2020-10-19 08:27] christian-bromann commented on #5991
Thank you @hieuxlu .. love all these great fixes on the multiremote side 👏

[2020-10-19 09:14] christian-bromann commented on #5996
Are you using the latest selenium standalone server? Difficult to say what is going on here but the logs show that the WebdriverIO behavior is correct.

[2020-10-19 09:49] christian-bromann commented on #5849
Closing in favor of #5972. Thanks for picking this up @martinfrancois !

[2020-10-19 09:49] #5849 closed

[2020-10-19 09:51] christian-bromann commented on #5831
Nothing in particular that would pop up in my mind. It should be possible to type that file.

I think we got around this by just adding `webdriver` to the `types` list in the `tsconfig.json`.

[2020-10-19 09:54] christian-bromann commented on #5358
@thomaschaplin we can close this indeed. Thanks!

[2020-10-19 09:54] #5358 closed

[2020-10-19 13:35] mgrybyk opened #6003 "Add browser.mock clearAll and restoreAll commands"
**Is your feature request related to a problem? Please describe.**
I want to be able to clear/restore all mocks with one command

**Describe the solution you'd like**
implement `browser.mock.clearAll` and `browser.mock.restoreAll` commands

[2020-10-19 13:41] mgrybyk opened #6004 "browser.mock respond - do not fetch response body"
**Is your feature request related to a problem? Please describe.**
Add an option to not fetch the response body and set mocked data immediately.

Ideally, the backend should not be reached if possible.
Otherwise, we should not wait for a backend response.

**Describe the solution you'd like**
[code]

[2020-10-19 14:29] Amrkamel1 commented on #5996
@christian-bromann

yes im using latest, and same exact script working fine with browserstack alone without combining selenium services

[2020-10-19 14:33] mgrybyk commented on #6004
@christian-bromann I thing that `fetchResponse` should be false by default.

[2020-10-19 14:59] #6004 closed

[2020-10-19 16:24] mgrybyk commented on #6003
This ones applied to all the user defined mocks.
Kind of jest.clearAllMocks()

[2020-10-20 17:09] christian-bromann opened #6012 "Better deal with strings in `switchWindow`"
**Is your feature request related to a problem? Please describe.**
Currently the [`switchWindow`](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/browser/switchWindow.js) command iterates over all window handles and calls matches on url and title to see if the input matches it. This can be problematic if users use strings that contain a regexp character:

[

[2020-10-20 18:30] kacperturon commented on #6012
can I get assigned to it?

[2020-10-20 18:42] christian-bromann commented on #6012
@kacperturon sure thing!

[2020-10-20 20:10] jiyoon-sb opened #6014 "Incorrect JUnit XML report being generated"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.6.2
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.13.0
 - **NPM version:** 6.12.0
 - **Browser name and version:** N/A
 - **Platform name and version:** N/A
 - **Additional wdio packages used (if applicable):** @wdio/cli, @wdio/dot-reporter, @wdio

[2020-10-20 20:48] christian-bromann commented on #6014
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-10-20 23:09] Amrkamel1 commented on #5991
interesting im using it without path in regular mode with no problem.
or it could mean that this part is already not used at all

    reporters: ['dot','spec',['allure', {
        outputDir: 'allure-results',
        disableWebdriverStepsReporting: true,
        **disableWebdriverScreenshotsReporting: false,**
        disableMochaHooks: true
    }]],

[2020-10-21 09:44] gDev95 opened #6016 "setTimeout is not existing in browser object"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [x] Other

**Description of the improvement / report**
In https://webdriver.io/docs/timeouts.html you explain how to set tim

[2020-10-21 09:55] gDev95 commented on #6016
@christian-bromann logged the browser in the page object. This is called when a scenario is tested. Still no setTimeouts.

However, if you check the capabilities, I was able to change the timeout for scripts in the capabilities in my `wdio config`

Maybe that should be documented on that linked Docs page.
[code]

[2020-10-21 11:18] christian-bromann commented on #6016
@gDev95 if you do `console.log(browser)` you will of course __not__ see all methods it has attached to it because it is part of the parent prototype. You also don't see `click` command or others. If you call `browser.setTimeout(...)` in the before hook this will work.

[2020-10-21 13:00] Fabianopb commented on #5854
Diving into the latest file within `packages/webdriverio/src/utils/interception`

[2020-10-21 14:27] ArminazK commented on #5043
This is still reproducible in wdio 6.6.7
'waitUntil condition failed with the following reason: Error executing JavaScript' on elemen.waitForLClickable

[2020-10-21 14:39] razielron opened #6017 "If statement while using WDIO test runner"
Hey, so my team is working to change the entire site framework (Angular -> vue.js).
This is a long process and they do it in parts.
This means we can have 2 components that look the same but the elements are different.
I want to build a wrapper function that checks element's existence and navigate to a function that uses the relevant elements (that does clicks, sendkeys etc.).
So I tried adding an

[2020-10-21 16:07] christian-bromann commented on #6017
Why would async/await break the runner? If statements work well in WebdriverIO tests.

I recommend to have a look into the docs, particularly these resources:

- https://webdriver.io/docs/sync-vs-async.html
- https://webdriver.io/docs/pageobjects.html

If you have more questions don't hesitate to join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdrive

[2020-10-21 16:07] #6017 closed

[2020-10-21 22:07] workeitel opened #6018 "AWS DeviceFarm Desktop Browser testing support"
**Is your feature request related to a problem? Please describe.**
I would like to contribute AWS DeviceFarm support to easily connect to DeviceFarm webdriver endpoint.

**Describe the solution you'd like**

The Auth model for AWS DeviceFarm is slightly different. There is no fixed webdriver endpoint but instead the DeviceFarm endpoint needs to be called using the [aws-sdk](https://github.com/aws/

[2020-10-22 07:27] christian-bromann commented on #6018
Hey @workeitel 👋

Such a contribution is of course welcome!

if the `aws-sdk` wouldn't be so huge I would not have a problem adding it as dependency. It would be great if the experience could be as seamless as possible, without having an extra service. Services like other WebdriverIO plugins only work in conjunction with running the wdio testrunner.

Is it feasible to extract this one request into

[2020-10-22 17:13] Fabianopb commented on #5854
Next, a few more files inside `packages/webdriverio/src/utils/` 🚀

[2020-10-22 17:28] christian-bromann commented on #5854
keep it coming @Fabianopb 👏

[2020-10-22 19:09] Hayk-S opened #6024 "browser of browser.sharedStore is undefined when running tests against electron app"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [6.4.0]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [async]
 - **Node.js version:** [12.18.4]
 - **NPM version:** [6.14.8]
 - **Browser name and version:** [Chrome 86]
 - **Platform name and version:** [macOS Catalina 10.15.7]
 - **Additional wdio packages used (if applicable)

[2020-10-22 19:17] mgrybyk commented on #6024
Can you share a reproducible example in a repo? I can't understand what are you doing with electron.

[2020-10-22 19:21] Hayk-S commented on #6024
@mgrybyk I am afraid I cannot expose the entire framework.  In regards to electron I am only running my tests against electron desktop application which is not a big deal. I am working with spectron  `https://www.electronjs.org/spectron` and here is where sharedStore does not work

[2020-10-22 19:23] mgrybyk commented on #6024
Can you share minimum reproducible example? At this point I believe the issue is not related to webdriverio anyhow

[2020-10-22 19:24] Hayk-S commented on #6024
@mgrybyk the issue is related to @wdio/shared-store-service package and not to WDIO itself

[2020-10-22 19:25] mgrybyk commented on #6024
Closing for now but I'm ready to help once there is a reproducible example.

[2020-10-22 19:25] #6024 closed

[2020-10-22 19:25] Hayk-S commented on #6024
Will reopen when shareable code will be under hand

[2020-10-22 19:25] mgrybyk commented on #6024
The shared store service suppose to work with webdriverio not any other framework

[2020-10-22 19:27] Hayk-S commented on #6024
In that case this sounds more like feature request than bug (just opened following advice )

[2020-10-22 19:31] mgrybyk commented on #6024
You can fork wdio shared store service and make it work in any other framework.
As I said, it suppose to work only with webdriverio.

Perhaps a reproducible example might help to understand what is actually going on

[2020-10-22 19:51] mgrybyk opened #6025 "do not rely on global browser instance"
**Is your feature request related to a problem? Please describe.**
Some packages like spectron run webdriverio programmatically and suppose that a browser instance created in a programmatic way is the only entry point (which I believe is correct)

**Describe the solution you'd like**
I'd like to remove all the occurrences of `global.browser` from the project

[2020-10-22 19:57] Hayk-S commented on #6025
`import { Application } from 'spectron';
/**
 * Future instance of the Electron Application
 */
let app = null;
export const launchApp = async () => {
  app = new Application({
    path: appPath
  });
  await app.start();
  return app;
};`

And after in beforeAll hook I call it as `global.app = await launchApp();`

[2020-10-22 20:19] mgrybyk commented on #6025
@Hayk-S can you try the following as a workaround:
[code]

[2020-10-22 20:53] christian-bromann commented on #6025
I only see usage in the services.

Is the background idea here to allow Spectron user to use services?

[2020-10-22 21:26] mgrybyk commented on #6025
Yes

[2020-10-22 22:36] workeitel commented on #6018
Extracting only this one API call is difficult for two reasons:

1) Credential detection is needed for temporary credentials. It would be a lot of effort to re-implement that part to be consistent with the aws-sdk. It's required for temporary credentials because the creds are only valid for a limited amount of time and can come from many different sources.
2) The API call itself needs to be signed

[2020-10-23 08:32] aamee commented on #4187
I am still Facing this issue.
Caused by: org.openqa.selenium.InvalidArgumentException: invalid argument: 'handle' must be a string
  (Session info: chrome=86.0.4240.111)
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:25:53'
System info: host: 'AZAPSEAUTOP48', ip: '10.174.37.141', os.name: 'Windows Server 2016', os.arch: 'amd64', os.version: '10.0', java.version: '1.8

[2020-10-23 10:20] suniljaiswal01 commented on #5836
I would like to take this up

[2020-10-23 12:37] arto710 opened #6028 "WoaJAs"
Im getting a tired leg i need a automobile?#bd/m[https://gofundme.com](https://github.com/users/arto710/projects/1#card-47954661)

[2020-10-23 13:04] #6028 closed

[2020-10-23 15:50] #5827 closed

[2020-10-23 16:00] mciastek commented on #5841
@christian-bromann I can take this one.

[2020-10-24 00:29] arto710 opened #6029 "Arturo quinonez 10182 del rio rd is violent employee"
He keeps on attacking his bro verbally and physically. Also doesn't have a right to have a double house for double the double mortgage. The city of San diego needs to come check out the water leakage next ti the house in between the shell and backyard. His bros on drugs sitting water causing mosquitos/bugs. I need to make the economy run and cant because i get to little to pay for my food and have

[2020-10-24 00:41] #6029 closed

[2020-10-25 05:17] hieuxlu commented on #5991
`wdio-allure-reporter` by design does not exclude support for multiremote.
https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-allure-reporter/src/index.js#L212

There's a related PR, where we enabled something that was previously disabled in allure-reporter. I think we can do the same here: https://github.com/webdriverio/webdriverio/pull/6020

@christian-bromann @mgrybyk Can you

[2020-10-25 16:43] dagoud commented on #4019
Have submitted PR for this issue here:
https://github.com/webdriverio/webdriverio/pull/6030

[2020-10-25 18:15] #4019 closed

[2020-10-25 18:20] #5991 closed

[2020-10-25 18:25] dagoud commented on #4951
@christian-bromann now that I am a bit more familiar with the codebase would like to take a look at this one

[2020-10-26 01:21] hieuxlu opened #6033 "Include coverage result from .ts files"
We're skipping test coverage for *.ts files while migrating to Typescript. I propose to maintain coverage and migrate at the same time, or at least tracking this issue somewhere so we won't have to rush to update coverage of hundreds of files after TS migration.

https://github.com/webdriverio/webdriverio/blob/73878e15ac588d65d0dd6b6bf505f530f15aa8c2/jest.config.js#L26-L29

[2020-10-26 10:47] christian-bromann commented on #6018
Adding a 415kb (minified) dependency to a package that has 1MB (minified) total payload seems a bit too much. Currently it seems that having a dedicated `devicefarm` service seems like the best approach until we can maybe strip out the auth part from the S3 package to make it more lightweight. The service could be build in a way that it also supports users using WebdriverIO in standalone mode.

WD

[2020-10-26 15:19] hieuxlu commented on #6033
Another issue with Typescript migration: symlink commited to GIT is not understood by Windows. I don't know why it still passes CI checks.
[code]

![image](https://user-images.githubusercontent.com/11418231/97191120-228dea00-17d9-11eb-8e07-7815ebd26fe8.png)

[2020-10-26 16:02] christian-bromann commented on #6033
@hieuxlu I've seen CI runs particular failing on Windows with a bunch of TS erros. This could be the reason for this.

[2020-10-26 20:40] arto710 opened #6038 "Ja me"
https://www.github.com/IgotPOTential/sentry-docs/tree/API-1335/bin%2Flinkchecker

[2020-10-26 20:41] #6038 closed

[2020-10-27 16:04] hieuxlu commented on #6033
Ah wrong alert, Windows developers will need to set git's `core.symlinks` to true, either globall with `git config --global --add core.symlinks true` or locally when cloning `git clone -c core.symlinks=true <URL>`

I think we might need to update this in CONTRIBUTE.md docs
https://github.com/git-for-windows/git/wiki/Symbolic-Links

[2020-10-27 16:42] christian-bromann commented on #5838
@MichelAmin47 @woutdejong1986 any updates?

[2020-10-27 21:24] nolanlawson opened #6044 "browser.elementSubmit not supported"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.7.0
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.19.0
 - **NPM version:** 6.14.8
 - **Browser name and version:** 86
 - **Platform name and version:** MacOS Catalina
 - **Additional wdio packages used (if applicable):** N/A

**Config of WebdriverIO**

I fol

[2020-10-27 21:40] christian-bromann commented on #6044
Correct because it is a command that was supported in the old JSONWireProtocol and doesn't not work in latest browsers anymore.

That is correct and the recommended way to go forward.

If you run a test in an old browser this command would still exist. WebdriverIO knows which protocol is being used and assigns the commands based on that.

Let me know if you have any further questions.

[2020-10-27 21:40] #6044 closed

[2020-10-27 21:47] nolanlawson commented on #6044
Awesome, thanks for the explanation! I was not aware of this.

[2020-10-27 22:30] #6033 closed

[2020-10-28 01:07] arto710 opened #6045 "Employer Services Online Login"
https://eddservices.edd.ca.gov/pkmslogin.form

[2020-10-28 03:32] poc7667 opened #6046 "How to make wdio customCommands work with typescript"
Newbie to wdio.
But wonder why it's not easily getting along with typescript.
[code]

[code]

[2020-10-28 06:05] hieuxlu commented on #6046
The most common issue is you forgot to add reference to type definition file in `tsconfig.json`
See docs on webdriverio, section "Adding custom commands": https://webdriver.io/docs/typescript.html#adding-custom-commands
Boilerplate wdio Typescript project: https://webdriver.io/docs/boilerplate.html#pako88wdio-mocha-typescripthttpsgithubcompako88wdio-mocha-typescript

[2020-10-28 06:05] #6046 closed

[2020-10-28 07:31] #6045 closed

[2020-10-28 08:48] hico-bst opened #6047 "Option to disable implicit wait"
**Is your feature request related to a problem? Please describe.**
I'm migrating from v4 to v6 and noticed that actions like `click` do implicitly wait for the element to exist if it doesn't already.
This implicit wait is not controlled by `browser.setTimeout({implicit: 1})`, as it just calls `currentElement.waitForExist()` which uses `waitforTimeout` from the config.

**Describe the solution you'

[2020-10-28 09:16] christian-bromann commented on #6047
This seems pretty specific to your setup. I don't understand why you would run unit tests alongside e2e tests and how explicitly waiting on the element is causing an issue here. Just set `waitforTimeout` to 0 and you should have the same effect.

Happy to answer any further questions.

[2020-10-28 09:16] #6047 closed

[2020-10-28 09:41] hico-bst commented on #6047
I wrote unit tests for the dependencies I use for the e2e setup. This way I can quickly check if an update breaks the API/wrappers I created.
Setting `waitforTimeout: 0` forces me to explicitly pass the timeout parameter in each `waitFor*` call. I will give it a shot though, it should not be too much hassle in my setup.

In any case, I do find it confusing that this implicit wait is not affected b

[2020-10-28 09:57] christian-bromann commented on #6047
WebdriverIO is not implicitly waiting on elements. If an element is not found, WebdriverIO waits until it exists - this explicit waiting and is different from WebDrivers implicit waiting (which you should not use).

[2020-10-28 10:08] hico-bst commented on #6047
This might technically be true, but as a user of the WebdriverIO API I have little control over this particular wait without affecting all others. I did not explicitly tell it to wait, and the method even is called `implicitWait`.

Anyway, your suggestion to set `waitforTimeout: 0` did work for me, so there are ways to get around it. Thank you!

[2020-10-28 15:09] gambrose opened #6048 "Allow webdriver steps reporting in allure when using cucumber step reporting."
**Is your feature request related to a problem? Please describe.**
When using the allure with cucumber. When I set `useCucumberStepReporter` I lose the nice webdriver steps reporting.

**Describe the solution you'd like**
I would like the cucumber step reporting to be controlled only by the existing option `disableWebdriverStepsReporting`.

**Describe alternatives you've considered**
Not use `useC

[2020-10-28 16:02] christian-bromann commented on #6048
Any kind of enhancements to the Allure reporter is welcome. Please feel free to provide a pull request, thanks!

[2020-10-29 03:29] LouisStAmour commented on #5228
Could this be re-opened? I'm not sure if TypeScript conversion has been done since @wdio/cli 6.7.0, but I can say that the above error still occurs.

[2020-10-29 03:45] LouisStAmour opened #6051 "specFileRetriesDeferred is missing from Typescript config definitions"
**Environment (please complete the following information):**
 - **WebdriverIO version: 6.7.0**

**Config of WebdriverIO**
I copied in the default config from the examples folder, and modified it to use the TypeScript config object as shown in the TypeScript setup documentation.

**Describe the bug**
TypeScript error:

**To Reproduce**
Steps to reproduce the behavior:

Copy https://github.com/webdr

[2020-10-29 08:13] christian-bromann commented on #6051
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-10-29 08:18] christian-bromann commented on #5228
We are working on transitioning to TypeScript. You can follow along and help contributing here: https://github.com/webdriverio/webdriverio/projects/14

[2020-10-29 14:47] christian-bromann commented on #6048
Let's continue convo in #6049

[2020-10-29 14:47] #6048 closed

[2020-10-29 14:48] christian-bromann commented on #6016
Closing! @gDev95 let me know if you have further questions.

[2020-10-29 14:48] #6016 closed

[2020-10-29 14:50] christian-bromann commented on #5837
@martinfrancois are you still going to tackle this one?

[2020-10-29 14:50] christian-bromann commented on #5828
@goveanick how are things going? Is there anything we can help with?

[2020-10-29 14:50] #5843 closed

[2020-10-29 14:52] christian-bromann commented on #5936
Closing due to inactivity.

[2020-10-29 14:52] #5936 closed

[2020-10-29 14:53] christian-bromann commented on #5826
@ch-t how are things going. Do you need any help?

[2020-10-29 14:59] christian-bromann commented on #5869
I will close this given that no reproducible example was provided. I recognise that there is a pattern for those kind of issues but as mentioned above, this is a problem in Chromedriver. If someone can suggest an alternative implementation that doesn't require to execute commands in case Chromedriver is able to do its action successfully, I am all for it.

[2020-10-29 15:00] christian-bromann commented on #5878
This has been implemented and works 🎉

[2020-10-29 15:00] #5878 closed

[2020-10-29 16:54] ch-t commented on #5826
thanks for reminding @christian-bromann !
I have done all the changes, but got distracted halfway through. Need to accomplish unit tests and create a PR.

[2020-10-29 17:20] jaworsmi opened #6053 "[wdio-allure-reporter] Unable to attach buffer content type as a 'image/png' to allure report"
https://github.com/webdriverio/webdriverio/blob/63519058a7fab1bdc424fc95c14f97207d496627/packages/wdio-allure-reporter/src/index.js#L538-L540

All kind of buffer content types (like screenshots created in wdio) are handed as a  'text/plain'  due to changes made in #6022

[2020-10-29 23:59] Slurpgoose commented on #3877
@mgrybyk your solution in #4223 helped me fix this warning in a project I'm working on. Thank you!

[2020-10-30 12:48] christian-bromann opened #6054 "Validate W3C Capabilities"
**Is your feature request related to a problem? Please describe.**
As cloud providers transition from JSONWire Protocol to W3C WebDriver it is very hard for them to treat a job as W3C or JSONWire Protocol compatible.

**Describe the solution you'd like**
To be very clear in this regards we should validate capabilities to be W3C conform.

**Describe alternatives you've considered**
Some other libra

[2020-10-30 13:19] MichelAmin47 commented on #5838
@christian-bromann we're aiming for a draft PR next week.

[2020-10-30 13:28] erwinheitzman opened #6055 "Reporter outputs everything to the terminal"
A user complained that after upgrading to version 6.7.0, their terminal was flooded with log messages.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.7.0

**Describe the bug**
Terminal is flooded with logging

**To Reproduce**
After pulling the latest version and running the following, I managed to reproduce this very easily:

[code]

You'll see all the

[2020-10-30 13:45] christian-bromann commented on #6055
I just ran the script and see the same logs that were shown before too. The default behavior was always that WebDriver request data was shown. Please describe what you were expecting.

Otherwise I would close this.

[2020-10-30 13:47] aditya-3008 commented on #6055
Hi,
If you will try interacting with browser.react$('Component) , you will find the execute/sync function getting called multiple times and flooded with logs.
You can try with the code:
describe('Noise in logs execute/sync is getting called multiple times', () => {
it('Demos Creative react app', async function () {
await browser.url('https://demos.creative-tim.com/nextjs-material-kit-pro/presentat

[2020-10-30 13:52] christian-bromann commented on #6055
This is not new behavior, I tested with `v6.4.0` and see the same

[2020-10-30 13:57] christian-bromann commented on #6055
You can set [`logLevel`](https://webdriver.io/docs/options.html#loglevel) to `warn` to suppress these messages. I checked and it was the same behavior in v6.1.x. Therefor I will close the issue.

[2020-10-30 13:57] #6055 closed

[2020-10-30 13:57] aditya-3008 commented on #6055
So it means, whenever we will call the browser.react$(), it will return with execute/sync function with all the details inside it in the logs.
Below screenshot:
![image](https://user-images.githubusercontent.com/69587843/97713454-2911af80-1ac0-11eb-9c23-a3b54df8a280.png)

[2020-10-30 14:06] christian-bromann commented on #6055
This is correct. Again, you can suppress these logs if you don't want them in your terminal. Some people might be interested in these. If you have an idea how to improve please let us know.

[2020-10-30 14:21] aditya-3008 commented on #6055
Thank you so much for the information, can you please let me know if we can disable these execute/sync logs. I want other logs like assertions and results but I don't want to see execute/sync which is getting called after browser.react$()

[2020-10-30 14:36] erwinheitzman commented on #6055
@aditya-3008 https://webdriver.io/docs/options.html#loglevel

[2020-10-30 21:01] vmelikyan opened #6057 "browser.mock in a new window not working"
**Environment:**
 - **WebdriverIO version:** 6.7.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.23.0
 - **NPM version:** 6.14.8
 - **Browser name and version:** Chrome 86.0.4240.111
 - **Platform name and version:** Mac OS Catalina 10.15.7 (19H2)
 - **Additional wdio packages used (if applicable):** @wdio/spec reporter, @wdio/selenium-

[2020-10-30 23:19] workeitel commented on #6018
I created a initial version as a separate service. It's just a draft and missing the README.md and some tests (builds fail because of low test coverage) but would be great to get some feedback if it goes in the right direction.

[2020-10-31 12:46] christian-bromann commented on #6057
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-11-02 05:09] arto710 opened #6059 "[]()``Abbusive language towards employer[]()``<script src="https://js.stripe.com/v3/"></script>"
[]()``Abbusive language towards employer[]()``

_Originally posted by @arto710 in https://github.com/IgotPOTential/sentry-docs/issues/3#issuecomment-720238721_

[2020-11-02 05:10] arto710 commented on #6059
`Harrassment`

[2020-11-02 05:13] arto710 commented on #6059
<script src="https://js.stripe.com/v3/"> []()``Abbusive language towards employer[]()```

</script>

[2020-11-02 06:16] #6059 closed

[2020-11-02 07:50] mgrybyk commented on #6053
Fixing it

[2020-11-02 08:52] #6053 closed

[2020-11-02 09:10] christian-bromann commented on #5898
@AutomationReddy any updates? Happy to support in any way if needed.

[2020-11-02 14:29] mgrybyk commented on #6057
It's only tests left to do https://github.com/webdriverio/webdriverio/compare/mock-multi-window

Sorry to say I don't have time to work on it right now, please feel free to pick up.

P.S.
tested locally, works fine

[2020-11-02 15:23] kanika-anetcorp commented on #958
So how does the browser close?

[2020-11-02 15:27] christian-bromann commented on #958
@kanika-anetcorp this is a very old issue about an issue that might not affect current versions. If you have an issue or something is not working please reach out in the [Gitter support channel](https://gitter.im/webdriverio/webdriverio) or file a new bug ticket.

[2020-11-02 17:31] theSociableme commented on #3895
Can someone help me fix this same issue?  Running on Mac

in my pacakage.json
`
"devDependencies": {
    "fibers": "^4.0.1",
    "@wdio/cli": "^6.7.2",
    "@wdio/sync": "^6.7.2",
    "@wdio/local-runner": "^6.7.2",
`
It installs  fibers@4.0.3 fine
but when it gets to wdio-sync it is still trying to install fibers 3 and it crashes and all package installation stops

`> fibers@3.1.1 install /Users/

[2020-11-02 18:28] christian-bromann commented on #3895
It seems you are using WebdriverIO v4 with `wdio-sync` v4 which doesn't support Node v12. Please update to the latest WebdriverIO version.

[2020-11-03 11:11] wilmargutierrez commented on #4187
My regression tests were working fine on BrowserStack with Chrome v80.0. But then I had this crazy idea of upgrading the Chrome version to something more up-to-date (current version is number 86). Then I was faced with this error, which I couldn't reproduce with Chrome via custom driver nor Firefox via both driver alternatives. Adding the Chrome option has indeed solved the problem for me:

[code]

[2020-11-03 21:27] gambrose commented on #5964
I also have found this limitation when using the allure reporter with Scenario Outlines.

I have found that you can split the scenarios without changing the Scenario name by attaching parameters to the allure report.

[code]

@mgrybyk
Do you know if the cucumber reporter includes the scenario Example data when reporting scenario starting events?
I am trying to wire up automatically adding the exam

[2020-11-04 05:05] abdatta commented on #3895
Hi, Node v14 has been recently marked LTS, and I found that this issue is occurring again with node v14 in windows. For my project, I shifted back to node v12 as of now, and that fixed the issue. Please see if this can be fixed with node 14 as well.

[2020-11-04 07:52] Rahut-5771 commented on #5325
I am facing the same issue in mocha framework. Following are the error details

Error: Unable to load spec files quite likely because they rely on `browser` object that is not fully initialised.
desktop-profile: `browser` object has only `capabilities` and some flags like `isMobile`.
desktop-profile: Helper files that use other `browser` commands have to be moved to `before` hook.
desktop-profile:

[2020-11-04 07:55] alinaIftode commented on #5900
Thanks, @wswebcreation! I see now there is available the solution for #5961, but before upgrading I noticed that in the last days tests fail more with something that seems to be the same problem that I reported but I'm not sure if it is (logs look a bit different). The good thing is that now I have logs. I'll attach them here, hopefully this will be useful in debugging.

2020-11-03T12:25:35.564Z E

[2020-11-04 09:38] christian-bromann commented on #3895
We won't update any v4 packages anymore as they are depcrecated. Please update your WebdriverIO packages.

[2020-11-04 11:49] christian-bromann commented on #5900
@alinaIftode can you update all your packages and try again?

[2020-11-04 12:23] abdatta commented on #3895
No, I faced this issue with v6.

[2020-11-04 15:04] mgrybyk commented on #5011
I think this one should be fixed now, please let me know if it's still an issue

[2020-11-04 16:00] #5011 closed

[2020-11-04 16:04] alinaIftode commented on #5900
Yes. I just did, but I'll monitor the tests for a few days to see if this is solved. As I mentioned it randomly happens.

[2020-11-04 16:21] christian-bromann commented on #5900
Closing this then. Happy to re-open if error re-appears.

[2020-11-05 08:03] RedMickey opened #6068 "Cannot change outputDir for a new Appium session while testing"
Hello,
I am a maintainer of [React Native Tools](https://github.com/microsoft/vscode-react-native) VS Code extension, which is used for debugging React Native applications in VS Code. We use WebdriverIO package for testing of the extension.

**Environment:**
 - **WebdriverIO version:** 6.6.7
 - **Mode:** Standalone mode
 - **Node.js version:** 10.19.0
 - **NPM version:** 6.13.4
 - **Platform names

[2020-11-05 09:34] christian-bromann commented on #6068
@RedMickey thanks for filing this issue. This definitely seems like an undesired behavior which should be easy to fix. I would suggest to add function to the logging interface (`@wdio/logger`) that cleans up log file, e.g.:

[code]

and then, call this method when `deleteSession` is called, e.g. in `packages/webdriver/src/command.ts` after the request was made.

Would you mind to take a stab at th

[2020-11-05 11:22] suryap666 opened #6069 "Issue with find-elements"
I am trying to find elements in a generic method. I am chaining my XPath in various methods to form my elements like shown below.

![image](https://user-images.githubusercontent.com/36958912/98233775-9c7d5a80-1fb3-11eb-9e20-17ce441bf3a1.png)

command 1: $(`//div[@id='portfolio-list-app']`).$(`//table`).$(`//tbody`).$(`//tr[1] //td`)
command 2: $(`//div[@id='portfolio-list-app']`).$(`//table`).$(`/

[2020-11-05 11:33] BorisOsipov commented on #6069
@suryap666 your chaining is incorrect. From docs `

// | Selects nodes in the document from the current node that match the selection no matter where they are
-- | --
`
If you don't set `current node` it will be whole document. Use dot `.` to set current node.

`$(//div[@id='portfolio-list-app']).$(.//table).$(.//tbody)` and so one

[2020-11-05 11:33] #6069 closed

[2020-11-05 13:56] christian-bromann opened #6070 "TypeScript error TS2304: Cannot find name 'Document'."
The Puppeteer types have been updated recently causing our build to fail. See also https://github.com/DefinitelyTyped/DefinitelyTyped/pull/49095

[2020-11-05 14:13] RedMickey commented on #6068
@christian-bromann, I started to fix this issue and found out that loggers use an interface from the external [`loglevel` ](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-logger/src/node.ts#L2)package. Could you please tell me which option is better?
- I can create an interface extending interfaces from the `loglevel` package and add there the `clearLogger` method (this could

[2020-11-05 16:18] christian-bromann commented on #6068
@RedMickey I suggest the second approach.

[2020-11-05 17:05] christian-bromann commented on #6070
Fixed by #6032

[2020-11-05 17:05] #6070 closed

[2020-11-05 17:06] 7artur7 commented on #4953
Same issue with `beforeEach` hook

"@wdio/allure-reporter": "^6.7.2",
"@wdio/cli": "^6.7.0",
"@wdio/mocha-framework": "^6.7.0",

[2020-11-05 18:11] IevgenRagulin opened #6071 "sauce-service marks failed spec file as successful in Sauce Labs (Legacy RDC)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.7.0
 - **Mode:** Running on Sauce Labs (Legacy RDC)
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12
 - **Platform name and version:** iPhone XS
 - **Additional wdio packages used (if applicable):** @wdio/sauce-service, @wdio/mocha-framework, @wdio/junit-reporter, @wdio/spec-re

[2020-11-05 19:46] ianrenauld commented on #5559
Just to add: we have fully transitioned over to latest version of Webdriver.io and have been running our daily tests on BrowserStack for over a week now without any issues. I believe this is no longer a valid issue and I suggest we close it unless we get feedback from someone still seeing it.

[2020-11-05 20:14] Fabianopb commented on #5854
@christian-bromann you removed the `hacktoberfest` label and my contributions are now marked as ineligible 😕
Perhaps you could put the label back for a couple more weeks until the validation period ends? 🙏

[2020-11-05 21:28] arunqa2code commented on #3270
Hi, Can you please let me know how we can open a new tab? I have a scenario, where I need to just open a new tab and perform some validations on the previous tab.

Any help would be much appreciated.

[2020-11-05 21:32] mw29535 opened #6072 "scrollIntoView not working as expected"
Hello,
I am testing in a QA environment, and I'm trying to have wdio scroll to an element by using scrollIntoView(). However, scrollIntoView doesn't work unless it is used twice.

Environment:
 - Mode: WDIO Testrunner
 - WDIO Testrunner - running sync v6.5.2
 - Node.js version: 10.16.3
 - NPM version:  6.9.0
 - Browser name and version:  Chrome 86
 - Platform name and version: Windows 10

**Descri

[2020-11-05 22:37] christian-bromann commented on #6072
@mw29535 can you provide a reproducible example?

[2020-11-05 22:39] mw29535 commented on #6072
it's in my company's QA environment

[2020-11-05 22:40] christian-bromann commented on #5854
@Fabianopb I removed the Hacktoberfest label on all open issues, additionally that label is not put into considerations, the `hacktoberfest` topic in the repo is, which is still set.

[2020-11-05 22:41] christian-bromann commented on #6072
I understand. To investigate this issue it is however necessary to provide such an example otherwise there is no chance for a fix unless you would like to help us out with one.

[2020-11-05 22:42] christian-bromann commented on #5559
@ianrenauld thanks Ian for the feedback. Closing.

[2020-11-05 22:42] #5559 closed

[2020-11-05 22:50] DoctorDerek commented on #5325
Same here 👍

[2020-11-05 22:57] mw29535 commented on #6072
not feasible at all, I'm sorry.

[2020-11-05 23:05] christian-bromann commented on #6072
Closing then. Please understand that we need to have a reproducible example to examine the issue.

[2020-11-05 23:05] #6072 closed

[2020-11-05 23:14] christian-bromann commented on #6072
@mw29535 please note that I am not asking for your application that you are testing. I am asking for any arbitrary web app (maybe even self constructed) that reproduces the effect of `scrollIntoView` not working. It's like going to a mechanic and say "My car doesn't drive" and don't allow the mechanic to look into the car 😉

[2020-11-06 01:00] hieuxlu commented on #5850
Closed via https://github.com/webdriverio/webdriverio/pull/6032

[2020-11-06 01:00] #5850 closed

[2020-11-06 01:31] yetyman commented on #4913
finally. someone else has the same issue as me. I am on Windows 10, developing an Electron project, very basic, totally vanilla. When Spectron tries to get the chromedriver session it fails. this eventually led me down a path of harder debugging starting with wdio/sync being missing. so I installed it, now fibers can't be loaded.

[2020-11-06 06:48] wswebcreation commented on #6071
Hi @IevgenRagulin

I've been checking your logs and as far as I understand your `beforeAll` hook fails. I ran a simple test on the Legacy RDC with a failing `beforeAll` hook

[code]

and this is the log/result

[code]

And with this test

[code]

and as you can see the `beforeAll` hook is not letting the test fail

These are my versions of the services

[code]

Can you provide a working example wh

[2020-11-06 08:29] alinaIftode commented on #5900
Unfortunately the error seem to persist. Still no logs are generated in this case. I'm not really sure what else would help you in debugging this.

2020-11-06T06:25:50.153Z ERROR @wdio/cli:utils: A service failed in the 'onPrepare' hook
Error: spawn /home/jenkins/agent/workspace/smokeTestsNewUI-CostCalculation/OT_ui_automation_newUI/node_modules/saucelabs/build/.sc-v4.6.2/bin/sc ENOENT
    at Proc

[2020-11-06 08:36] Fabianopb commented on #5854
Unfortunately I got this mark in all my contributions
![image](https://user-images.githubusercontent.com/15076656/98344466-f3b71580-201b-11eb-926d-d968cf1c436b.png)

[2020-11-06 08:55] christian-bromann commented on #5900
@alinaIftode can you please update all your dependencies?

[2020-11-06 09:06] alinaIftode commented on #5900
I did update them all

  "devDependencies": {
    "@wdio/cli": "6.7.2",
    "@wdio/local-runner": "6.7.2",
    "@wdio/mocha-framework": "6.7.0",
    "@wdio/sauce-service": "6.7.2",
    "@wdio/spec-reporter": "6.7.0",
    "@wdio/sync": "6.7.2",
    "app-module-path": "  ^1.0.5",
    "chai": "^3.4.0",
    "chai-as-promised": "^5.3.0",
    "chai-immutable": "^1.5.3",
    "chromedriver": "85.0.0",

[2020-11-06 09:58] christian-bromann commented on #5900
Can you provide some more information? How often does this happen? What is your pipeline setup? How are tests being triggered?

[2020-11-06 12:15] YashMonetate commented on #3869
Write operation is not working under onComplete of wdio.conf file.
Also i am trying to pring 4 console.log but it seems that only one console is getting printed. I am using `"@wdio/cli": "^5.8.3",`. is it fixed for this version?

Can you please confirm if we can access all the global variables insided onComplete for write operations @mgrybyk

[2020-11-06 12:35] christian-bromann commented on #3869
@YashMonetate you can't access the `browser` instance anymore in there but all other native Node.js modules are available.

[2020-11-06 12:54] YashMonetate commented on #3869
Thanks @christian-bromann . I am running my automation suite that has 40 test file. I observed that after every test file chromedriver gets closed and all global variable insided wdio.conf file gets reset when it's time to run next test file.

Due to above issue i am not able to write consistently during my entire 40 tests file. Everytime it overwrites. Can you please suggest some way to achieve t

[2020-11-06 13:08] christian-bromann commented on #3869
Not sure what you are doing exactly but note that every hook is unique per worker instance (test) you can't keep global variables around that are available in all tests. You need to store those in files and manage the data yourself.

[2020-11-06 13:12] YashMonetate commented on #3869
i am trying to add test id and it's result(pass/fail) in an array and after all 40 test files gets executed i want to write that array in .txt file. But it seems as soon as control reach onComplete block, my array gets lost it's values.

[2020-11-06 13:23] asocaciu opened #6075 "Improve error message for mis-configured proxy"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-11-06 14:49] christian-bromann commented on #6075
Seems to be related to https://github.com/sindresorhus/got/issues/850

[2020-11-06 14:54] christian-bromann commented on #3869
Have you tried to use https://www.npmjs.com/package/wdio-testrail-reporter? It probably doesn't work like this anymore as it is 3 years old but you can maybe check out the code. Please note that you don't have access to any global variables you set in onPrepare and onComplete hooks as they are in a different process. I recommend to write the results into individual files and merge them all togethe

[2020-11-06 16:16] christian-bromann commented on #5900
@alinaIftode actually we haven't released #5961 yet which contains a fix for this issue. Will release now.

[2020-11-06 16:17] christian-bromann commented on #6068
Let's continue convo in #6073

[2020-11-06 16:17] #6068 closed

[2020-11-06 18:12] suchitrak opened #6077 "Login to box.com not working on safari-webdriverio. "ERROR webdriver: Request failed with status 500 due to unknown error: unknown error""
Steps to reproduce:

Clone the repo
1. https://github.com/suchitrak/webdriverio
2. Execute npm run test

ERROR webdriver: Request failed with status 500 due to unknown error: unknown error

Environment:
MAC OS Catalina - 10.15.7
Safari 14

Steps to enable Safari:
https://developer.apple.com/documentation/webkit/testing_with_webdriver_in_safari
Follow the steps in above link
1. safaridriver --enabl

[2020-11-06 18:14] christian-bromann commented on #6077
@suchitrak does this work locally but not on BrowserStack?

[2020-11-06 18:16] christian-bromann commented on #6077
I don't think there is anything WebdriverIO can do if this use case stopped working in Safari v14. I recommend to file a bug in the Safaridriver project and let the devs know that the command is behaving differently. I don't think there is much we can do on the WebdriverIO side. Let me know if you have more questions.

[2020-11-06 18:16] #6077 closed

[2020-11-09 05:23] YashMonetate commented on #3869
@christian-bromann Thankyou for this recommendation, but i already tried that it doesn't seem to work for me.

For your second statement, if i merge all files how can i prepare a valid JSON request at the end. This seems cumbersome task.

I need to prepare something like below for 500 tests(but all divided in 40 spec files):
[code]

[2020-11-09 06:21] kwokfu commented on #5785
We are experiencing the same consistent behaviour here with Chrome 86, WDIO 6.7.3 with @wdio/devtools-service and devtools as automationProtocol.

Navigate to a page and wait for an element, the page redirect to another page. When debugging the trace.js, saw a few null frame.

[2020-11-09 09:43] christian-bromann commented on #5785
@kwokfu can you provide a reproducible example to help people investigate this issue?

[2020-11-09 09:45] christian-bromann commented on #3869
Unfortunately this is the only way how things work at the moment. Create report files for every worker and merge them in the `onComplete` hook. This can be encapsulated into a single service.

[2020-11-09 17:27] christian-bromann commented on #6075
I think this is related to the fact that your proxy is `http` based and WebdriverIO automatically connects through `https`. I think we need to modify the code in [`_createOptions`](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriver/src/request.ts#L72) to properly set up [got](https://www.npmjs.com/package/got) with a HTTP proxy.

Any help on this would be appreciated. Please

[2020-11-09 17:38] asocaciu commented on #6075
It turned out our proxy has a whitelist, and the URL I was trying to access was not whitelisted. It will take a few days for that to come through, after that I'll be able to post more details, or it could very well turn out to be a false alarm. From the error message it was not clear what the problem actually way. I'll post an update when I know more.

[2020-11-09 17:40] christian-bromann commented on #6075
@asocaciu great! Some more details would be beneficial, maybe we can at least improve the error message here.

[2020-11-10 04:04] nam81285 opened #6086 "Why Browser capabilities is mandatory to mention in config file for executing any case in webdriverIO v6?"
Hi. I want to upgrade my wdio v from 4.8.0 to latest v6 andI have done all the changes and able to upgrade also. But my framework is an API test framework and I dnt need to invoke browser to run my script in wdio v 4. But in v6 its sayjng 0 specs wxecuted if I dnt add the browser capabilities to the config file. Why Browser capabilities is mandatory to mention in config file for executing any case

[2020-11-10 08:03] christian-bromann commented on #6086
You should not use WebdriverIO if you do API testing and don't need a browser. Just use a normal test framework like Mocha or Jasmine directly.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2020-11-10 08:03] #6086 closed

[2020-11-10 12:59] nam81285 commented on #6086
I understand but is there any option to switchoff the capabilities and do it for time being.

[2020-11-10 13:25] christian-bromann commented on #6086
No. The WebdriverIO testrunner is not designed to test without a browser.

[2020-11-10 16:41] wswebcreation commented on #5900
@christian-bromann and @enriquegh

Re-opening this one again. I've had contact with @alinaIftode and found out that the new _retry_ is working, but it's not solving the issue for her. We added some extra logs and now see this

![image](https://user-images.githubusercontent.com/11979740/98703330-acae8480-237b-11eb-91e6-72b31991a471.png)

The `spawn` command it calling the binary, but it looks like

[2020-11-10 16:41] christian-bromann commented on #6012
@kacperturon any updates?

[2020-11-10 18:11] nikita-pankratov opened #6087 "FirefoxOptions type definition requires debuggerAddress which produces org.openqa.selenium.InvalidArgumentException when set"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-11-10 18:47] christian-bromann commented on #6087
@nikita-pankratov this property is definitely not required, feel free to raise a PR to make it optional. Cheers!

[2020-11-10 23:48] suchitrak opened #6088 "Unknown capability encountered: 'safariOptions' = '{ automaticInspection = 1; }'"
Steps to reproduce:

1. Clone the repo. -- `https://github.com/suchitrak/webdriverio`
2. On terminal run the following command `/usr/bin/safaridriver --port 4444`
3. Execute npm run test

Following error is displayed
ERROR @wdio/runner: Error: Failed to create session.
Unknown capability encountered: 'safariOptions' = '{
    automaticInspection = 1;
}'

Environment:
MAC OS Catalina - 10.15.7
Safar

[2020-11-11 06:41] sarathps93 commented on #5973
@christian-bromann Is it ok I work on this?

[2020-11-11 07:59] christian-bromann commented on #5973
@sarathps93 that would be awesome!

[2020-11-11 08:04] christian-bromann commented on #6088
@suchitrak feel free to add these types to the interfaces:

- https://github.com/webdriverio/webdriverio/blob/master/packages/webdriver/webdriver.d.ts#L322-L340
- https://github.com/webdriverio/webdriverio/blob/master/packages/webdriver/src/types.ts#L303-L326

[2020-11-11 11:09] sarathps93 commented on #5973
Thanks @christian-bromann . Just for a head start, do you think the fix would be somewhere in the `wdio-allure-reporter` package and could it be somewhere at the framework level such as in `wdio-mocha-framework` or `wdio-jasmie-framework`?

[2020-11-11 11:16] christian-bromann commented on #5973
I haven't looked into this issue, so can't really tell.

[2020-11-11 12:59] Ravindraayata commented on #4426
Hi,
Unable to open the browser.

[0-0] RETRYING
[0-0] FAILED (1 retries)

Spec Files:      0 passed, 1 retries, 1 failed, 1 total (100% completed) in 00:00:00

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! webdriveriotest@1.0.0 test: `wdio`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the webdriveriotest@1.0.0 test script.
npm ERR! This is probably not a problem with npm. There is likel

[2020-11-11 13:03] asocaciu commented on #6075
It was indeed only a proxy whitelist issue, now it works correctly. I am not sure webdriverio can do much about improving the error message, I think that would be within global-agent, since the error is caught there.
Thanks again for your support, and sorry for the trouble!

[2020-11-11 14:45] luiscspinho opened #6091 "Globals on wdio.conf no longer recognized after jasmine upgrade"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [6.7.3]
 - **Mode:** [Standalone mode]
 - **Node.js version:** [12.8.0]
 - **NPM version:** [6.10.2]
 - **Browser name and version:** [Chrome 86]
 - **Additional wdio packages used (if applicable):** [@wdio/jasmine-framework]

**Describe the bug**
After the @wdio/jasmine-framework upgrade from 6.7.0 to 6.7.1,

[2020-11-11 15:52] christian-bromann commented on #6091
Probably not. I just ran a boilerplate project:

[code]

passes correctly. This seems to be an issue with your setup. Happy to re-open if you can provide a reproducible example that shows it is indeed an issue in WebdriverIO.

[2020-11-11 15:52] #6091 closed

[2020-11-11 16:57] starpit opened #6092 "v6 slow to confirm non-existence of elements"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.7.3
 - **Mode:** spectron
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version:** 12.14.1
 - **NPM version:** 7.0.3
 - **Browser name and version:** Electron 10 (chrome 85)
 - **Platform name and version:** macOS 10.15.7
 - **Additional wdio packages used (if applicable):** [

[2020-11-11 17:08] christian-bromann commented on #6092
This is only if you have `implicit` timeouts set, which is not recommended at all. Many people say that you should not make use of implicit waits for various reasons, one of them is exactly this scenario.

I am not sure what `waitTimeout` in Spectron is doing.

[2020-11-11 17:44] starpit commented on #6092
I see. So your suggestion is that spectron is broken here: https://github.com/electron-userland/spectron/blob/master/lib/application.js#L61

In that spectron 1) sets an implicit timeout (the first argument to `client.setTimeouts`; and 2) worse, provides no way for users of spectron to distinguish between the dissuaded implicit timeout from the other two still-valid timeout settings?

If you concur

[2020-11-11 17:47] christian-bromann commented on #6092
Yes, this is very bad. The implicit timeout should be set to `0` so that WebdriverIO can handle it using explicit waiting strategies. Ideally these values should be configurable by the user.

I will close this and advise to propose a patch to Spectron with above suggestions.

[2020-11-11 17:47] #6092 closed

[2020-11-11 17:48] BorisOsipov commented on #6092
@starpit maybe you can you override timeout after session start by https://webdriver.io/docs/api/browser/setTimeout.html ?

[2020-11-11 17:49] starpit commented on #6092
You guys are awesome, thanks!

[2020-11-12 00:14] tehhowch opened #6093 "bug: Selenium-Standalone service always assumes capabilities are not configured for the cloud"
Ref: https://github.com/webdriverio/webdriverio/blob/f9d27c6aabaf5d80771f848c37b175c763db5f8a/packages/wdio-selenium-standalone-service/src/launcher.ts#L55

I think this line should read

[code]
i.e., no `.capabilities` property access, as `cap` is already guaranteed to be of the type `Webdriver.Capabilities` we want to inspect (view the type inference for `cap` in the forEach initializer).

If i

[2020-11-12 09:14] christian-bromann commented on #6093
Can you elaborate your use case? Are you trying to run some tests locally and some other in the cloud? What is the situation you are experiencing and what are you expecting?

[2020-11-12 13:26] tehhowch commented on #6093
Without the change, I am unable to run any tests that execute on SauceLabs VMs. The selenium-standalone server starts up, but when the webdriver package attempts to start a session, an error is thrown. (Any `beforeSession` hooks execute, then an error is printed.)

The error is thrown from here:

The error text I can provide in a few hours when I return to my work machine

[2020-11-12 13:29] christian-bromann commented on #6093
Why do you have a selenium-standalone server service set if you run tests on Sauce Labs?

[2020-11-12 13:42] tehhowch commented on #6093
I edited the above post with the line that throws the error

What would you expect to see instead, in the configuration file?

We start tests locally (on e.g. macOS), and they are executed inside VMs hosted by SauceLabs. We also may execute the same tests locally. This configuration works for WDIOv4 and WDIOv5. We are attempting to migrate to v6, but have encountered this bug in `@wdio/selenium-st

[2020-11-12 14:08] Emmet-McGuire opened #6095 "browser.deleteCookies() does not appear to be working in Safari"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-11-12 14:41] christian-bromann commented on #6095
@Emmet-McGuire thanks for filing the issue. Unfortunately this is a Safari limitation as it stores cookie on OS level rather than within a specific browser session. There is nothing WebdriverIO can do about this. Closing.

[2020-11-12 14:41] #6095 closed

[2020-11-12 14:47] christian-bromann commented on #6093
@tehhowch in v6 the service modify the connection information automatically so that you don't need to do that. So if you have a selenium standalone service set in your wdio.conf.js it will make all browser run on their if you not say differently. We recommend to have a config file for running tests on Sauce vs locally, e.g. like in this boilerplate: https://github.com/webdriverio/jasmine-boilerpla

[2020-11-12 16:04] christian-bromann opened #6096 "Add print protocol command"
There has been a new command for printing websites through PDF added to the spec which we should add to our [protocol bindings](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-protocols/protocols/webdriver.json). The command should be added there. You can find more information on typings in this [Selenium PR](https://github.com/SeleniumHQ/selenium/pull/8597/files).

[2020-11-12 16:50] zachlysobey commented on #6096
I'd consider taking a stab at this one. I'll do a little exploration later this evening and check back with any questions.
But also, if someone else is eager to pick this up, feel free. I can take a back seat and lend some 👀 to any PRs, etc..

[2020-11-12 16:52] christian-bromann commented on #6096
Thank you @zachlysobey , I assigned it to you but happy to re-assign if someone else feels more eager. Let me know if you have any questions, should be just a simple change in the json file.

Ah I forgot, if you don't mind we should also add the protocol in the `devtools` package, implemented with Puppeteer. If you haven't worked with Puppeteer yet we can also make this a second issue.

[2020-11-12 17:01] Rup1 opened #6097 "Using Appium image locator strategy fails for the simplest images."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.7.3
 - **Mode:** Standalone
 - **Node.js version:** 10.x & 12.18.2 (using NVM)
 - **NPM version:** 6.14.5
 - **Browser name and version:** N/A
 - **Platform name and version:** MacOS Catalina 10.15.7
 - **Additional wdio packages used (if applicable):** "@wdio/appium-service": "^6.7.3", "@wdio/cli": "^6.7.4"

[2020-11-12 17:13] tehhowch commented on #6093
(I updated the above message with the value of `params` in `await sessionRequest.makeRequest(params);`, and added the error text that is encountered with the current code.)

I don't agree that this is expected. The tests for the `onPrepare` hook don't seem correct (they pass a `Record<string, Webdriver.Capabilities & Webdriver.Options>` object, rather than a `Record<string, Webdriver.Capabilities>

[2020-11-12 17:24] christian-bromann commented on #6093
It is possible to have `hostname`, `port` and `path` in the capabilities to overwrite connection details for specific capabilities. This is not very good documented on the project side.

Again, I don't understand why you use the selenium standalone service if you run tests on Sauce. Can you elaborate?

[2020-11-12 17:50] hieuxlu commented on #6093
Multiremote has `capabilities` as object as opposed to array in normal configs. Each property in object is matched to a browser instance in global object.
https://webdriver.io/docs/multiremote.html

These tests was to make sure multiremote capabilities are not overriden with default when any cloud capabilities are detected. This fixed the bug when mixing `selenium-standalone-service` and `browser-

[2020-11-12 17:51] christian-bromann opened #6098 "Investigate whether WebdriverIO continues to send commands after a test/worker times out"
It seems like if a test times out WebdriverIO continues to send commands over the wire, probably the outstanding commands from the timed out test. It would be good to find out if this is the case and how we can make WebdriverIO to shutdown the worker without sending any additional commands.

This appears to be an issue when running tests on cloud provider where a timeout is triggered through netwo

[2020-11-12 18:08] hieuxlu commented on #6093
@tehhowch I agree that the typing is not ideal. We've just recently migrated the code to Typescript, and the casting might be confusing. But your problem can not be resolved even with previous Javascript version, so we should focus on finding your usecase and fix the typing later.

IIUC, your problem is that `wdio-selenium-standalone-service` will override default `hostname`, `protocol`, and `port

[2020-11-12 18:18] tehhowch commented on #6093
I conferred with other team members, and we determined it (the inclusion of `selenium-standalone` in the `services` specification) is an artifact of how several somewhat-similar projects within the org share testrunner infrastructure. I'm updating our internal tooling to explicitly avoid mixing `sauce` and `selenium-standalone` services, which as you indicate, will prevent the particular issue I e

[2020-11-12 18:24] hieuxlu commented on #6093
@tehhowch I just want to correct that line was added 8 months ago in 644441470e0447d05eafd90d22a88b1547772a7e, which was indeed version `6.0.4`. My PR fixed the same default assignment bug, but for multiremote usecase

[2020-11-12 18:36] hieuxlu commented on #6093
I kind of see why people want to mix services. It was a bit like multiremote, but instead of running 2 browsers at the same time, this configuration will result in specific browser running sequentially. So I assume that you could possibly change your capabilities config to an object and it will behave mostly the same, something like this:
[code]
I think it's possible that multiremote better fits y

[2020-11-12 18:37] Yanela-ipsy commented on #5481
Hi **abecks** can you paste here the full call please?

[2020-11-12 18:47] christian-bromann opened #6099 "Upload WDIO logs to Sauce Labs via Sauce Service"
It would be useful for Sauce Labs user to have their WDIO logs uploaded to the platform so in case of an issue support people have the ability to get more insights about what is going on in the test.

[2020-11-12 19:42] zachlysobey opened #6101 "Broken `View Source` & `Improve this doc` links in doc pages"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [x] Other

**Description of the improvement / report**

The wdio doc pages `View Source` & `Improve this doc` buttons seem t

[2020-11-12 20:02] zachlysobey commented on #6101
on second glance, it seems where I'm getting tripped up is that I'm selecting "latest" from the API, but its actually *not* giving me the docs for the latest (6.x). It's giving docs for 4.x.

I'm going to leave this up for now to remind myself to follow up; but feel free to close.

[2020-11-12 22:33] christian-bromann commented on #6101
@zachlysobey thanks for creating the issue. As we have deprecated v4 we don't really maintain the docs anymore either. It is just there for people who still use it but we don't think it is valuable to improve these docs. Therefor I am gonna close this. Let me know if you have any more questions.

[2020-11-12 22:33] #6101 closed

[2020-11-13 01:12] hieuxlu commented on #6093
@christian-bromann I could confirm the typing for capabilities in selenium-standalone-service was wrong. I will create a PR to fix the typings and also extend `isCloudCapabilities` to support the above usecase.

[2020-11-13 05:08] zachlysobey commented on #6096
@christian-bromann I took a stab at it. I'm sure it needs some work.

[2020-11-13 08:43] christian-bromann commented on #6096
Thank you @zachlysobey , I approved the PR. There are two tasks left with this one:

- add a Puppeteer implementation by adding a `printPage.js` to [this directory](https://github.com/webdriverio/webdriverio/tree/master/packages/devtools/src/commands) implementing the protocol command with Puppeteer using the [`Page.pdf()`](https://pptr.dev/#?product=Puppeteer&version=v5.4.1&show=api-pagepdfoption

[2020-11-13 08:44] christian-bromann commented on #6093
@hieuxlu sounds good!

[2020-11-13 10:11] wswebcreation commented on #6097
Hi @Rup1

I've tested it and it works on my machine (typical reaction 😆 )

## TL:DR
The image that you use can not be matched because the screenshot that is being used to find the image has automatically been resized by Appium.
This means you can't find an element that has for example original dimensions of 100x50 on a screenshot where it has been resized to 50x25.

This can be solved by updating

[2020-11-13 10:11] #6097 closed

[2020-11-13 10:20] christian-bromann opened #6103 "Page and Frame are using interchangeably in `devtools` package"
In the `devtools` package we commonly work with Puppeteer pages or frames depending on whether we switch between tabs or frames. In the current implementation we use them interchangeably which can cause issues if the code assumes to have a page handle where in reality it is a frame. We should clean this up and improve frame handling. This would also improve our typings.

See e.g. https://github.co

[2020-11-13 19:09] Amrkamel1 opened #6106 "Unable to send keys command when using multi-remote feature"
**Environment (please complete the following information):**
[code]

**Config of WebdriverIO**

[code]

**Describe the bug**
Unable to submit key commands event for certain driver when using multiremote feature

**To Reproduce**
Create multiremote config  and try to use  e.g chromeClient.keys('Enter')

**Expected behavior**
Should be able to hit enter using key commands against particular driver (

[2020-11-14 01:01] Rup1 commented on #6097
@wswebcreation Wow that was quick! Really great explanation thank you so much for the details. I was able to update accordingly and get it to work. It would help many others if this explanation were included in the docs, which currently lack practical javascript examples.

Cheers

[2020-11-14 06:19] wswebcreation commented on #6097
Hi @Rup1

Great that it works, we already updated the docs (https://github.com/webdriverio/webdriverio/pull/6104) which will be released soon.

[2020-11-14 09:01] sarathps93 commented on #5973
@christian-bromann @jamesmortensen I have raised a PR with a fix. Now the mocha before all & after all hooks will take the name of the suite instead of the first test

[2020-11-15 17:59] #6093 closed

[2020-11-16 01:27] ergbouncex opened #6110 "SauceLabs protocol not working"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.7.3
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v14.15.0
 - **NPM version:** 6.14.8
 - **Browser name and version:** Chrome Latest
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** n/a

**Config of W

[2020-11-16 08:27] christian-bromann commented on #6110
@ergbouncex thanks for filing the issue and sorry for this regression. I have fixed it in #6111 and will do a release with that fix as soon as I get a review.

[2020-11-16 08:27] #6110 closed

[2020-11-16 08:46] christian-bromann opened #6112 "Translate Action commands into touchAction"
**Is your feature request related to a problem? Please describe.**
All WebdriverIO commands that leverage the action protocol command should check if it is a mobile environment (e.g. using `this.isMobile`) and use `touchAction` instead of `action` to ensure it can also be executed.

**Describe the solution you'd like**
Make an additional check for mobile and run `touchAction` instead of `action`.

[2020-11-16 08:47] christian-bromann commented on #6106
Thanks for filing the issue. It seems that `keys` is using the action command which is not supported in the mobile environment your are in (I assume native app testing). I created a ticket for this that better addresses this problem. In the meantime I recommend to use `touchAction` as a workaround.

[2020-11-16 08:47] #6106 closed

[2020-11-16 08:47] christian-bromann commented on #5973
Let's continue convo in #6108

[2020-11-16 08:47] #5973 closed

[2020-11-16 09:21] alivelumula opened #6113 "@wdio/sync not compatible with the latest node version(14.15.0)"
Hi Colleagues,

I am currently on WDIO V6.
@wdio/sync dependency is not compatible with the latest node version(14.15.0)
`“@wdio/sync”: "^6.7.3"`

For this ,we need to maintain node version to 12.19.0 currently which is the stable version.

Error while : npm i @wdio/sync on node version 14.15.0
[code]

Need support here for the dependency update on latest node version.
Thank You in advance.

[2020-11-16 10:55] christian-bromann commented on #6113
I was running the project pipeline on Windows using Node v14.5 and [it passed](https://github.com/webdriverio/webdriverio/runs/1405841555) which proves to me that fibers works fine on Windows. Given your information I can't see any differences in both environments. Can you provide more information that can show that Fibers in indeed to supported for Windows on Node 14.5? From all sources I have it

[2020-11-16 11:17] christian-bromann commented on #6075
I think we can do improve the error message in `packages/webdriver/src/request.ts` by checking if the error/response contains or starts with `write EPROTO`.

[2020-11-16 11:20] christian-bromann commented on #5898
Seems that #5956 is merged. I will close. Happy to re-open if this still seem to be an issue.

[2020-11-16 11:20] #5898 closed

[2020-11-16 12:04] alivelumula commented on #6113
Hello Christian,
Thank you for the quick reply.
Here is the log .Hope this helps

C:\Users\....\Desktop\Learning\LatestPull_16thJuly\webdriver-io-e2e-tests\node_modules\fibers>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild --release )  else (node "C:\Program Files\nodej

[2020-11-16 13:14] menahemso commented on #4921
WinAppDriver supports only : name, class name, accessibility id, and XPath. wdio supports only XPath and accessibility id(~)?

[2020-11-16 13:29] christian-bromann commented on #4921
@menahemso WebdriverIO also supports tag name: https://webdriver.io/docs/selectors.html#tag-name

[2020-11-16 13:32] christian-bromann commented on #6113
WebdriverIO requires to have Python installed on your system.

[2020-11-16 13:35] #6113 closed

[2020-11-16 14:24] menahemso commented on #4921
@christian-bromann You're right.
Would be very helpful if you would complete the "name" and "class-name" strategies, the current use of WinAppDriver using WDIO is very limited!

[2020-11-16 17:16] christian-bromann commented on #4921
These are invalid selector strategies. This is an issue that should be raised in WinAppDriver. You can also use arbitrary selector strategies via `selector-strategy:selector` , e.g. `$("name:some name")`

[2020-11-16 20:27] ergbouncex opened #6118 "Globals not getting set in Before Hook"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.8.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v14.15.0
 - **NPM version:** 6.14.8
 - **Browser name and version:** Chrome Latest
 - **Platform name and version:** Windows 10

**Config of WebdriverIO**
[code]

**Describe the bug**
In prior version

[2020-11-16 21:00] brucehubbardKroger commented on #5411
We are also hitting this problem.  We run two versions of Chrome, one at desktop resolution and one at a mobile resolution and we can't distinguish between the two in output.  Is it possible to set the CID for the runner to something other than 0-0?  If it was possible to override the CID then that should cascade and display properly in any reporters that use that field.

[2020-11-16 21:33] christian-bromann commented on #5411
`cid` is an internal id to identify workers and should not be changed or up to be modified by the user. I still think the best idea to solve this problem is to allow an option for reporter to modify the identifier, so you can do e.g.

[code]

to get e.g this reporter prefix: `[Chrome emulating iPhone 6 - Chrome 50 Windows 10 #1-0]`

[2020-11-16 21:50] christian-bromann commented on #6118
@ergbouncex thanks for filing the issue. This has changed with v6. We now load files a bit earlier to check whether the framework is suppose to run this file or not. I don't think this needs to be a show stopper for you as you can just do:

[code]

I don't see a scenario where someone would need to run async code before the test file is being loaded. If you see a need for this please elaborate. Ot

[2020-11-16 21:50] #6118 closed

[2020-11-17 01:37] Maxgit3 commented on #6096
do you need any help with this task?

[2020-11-17 03:14] benbcai opened #6119 "`before` hook executed after `describe` block in test"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.8.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.16.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome 86.0.4240.198
 - **Platform name and version:** MacOS Catalina (10.15.4)
 - **Additional wdio packages used (if applicable):**

[2020-11-17 05:58] abdatta commented on #5831
Hi, I'm trying to rewrite `lib/ConfigParser.ts`. Had a question.  Is there any documentation anywhere on what is expected to be the structure of `fileConfig`?
I can see from code that it should have a `capabilities` property and many hooks as properties, but I would like to provide a stricter type if I can find some documentation on the expected structure of config.

[2020-11-17 06:23] sarathps93 commented on #5832
Hi @christian-bromann I could see that this one is still `to-do` in the project board, I would like to contribute on this and since `@wdio/crossbrowsertesting-service` is a small package, I can raise a PR for all the files together. Is it fine?

[2020-11-17 06:35] abdatta commented on #5831
I read the above comments and found the `Options` interface within `webdriverio-core.d.ts`. I realised importing this within `@wdio/config` would result in unnecessary circular dependency. I tried adding `webdriver` and `webdriverio` in types in the `tsconfig.json` of this package, but it fails to recognize the types.

I think, maybe we can consider moving the `Options` interface altogether into t

[2020-11-17 08:58] #6057 closed

[2020-11-17 09:04] christian-bromann opened #6120 "Add a `printPage` implementation for the `devtools` protocol"
In #6102 we added a new WebDriver protocol command that allows to print pages via PDF. This should now be implemented in the `devtools` package to stay feature conform.

Add a Puppeteer implementation by adding a `printPage.js` to [this directory](https://github.com/webdriverio/webdriverio/tree/master/packages/devtools/src/commands) implementing the protocol command with Puppeteer using the [`Page

[2020-11-17 09:06] christian-bromann opened #6121 "Add `savePDF` command to WebdriverIO package"
In #6102 we added a new WebDriver protocol command that allows to print pages via PDF. This should now be implemented in `webdriverio` similar to `saveScreenshot to allow to directly store the pdf as file on the file system. Similar to the [`saveScreenshot`](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/browser/saveScreenshot.ts) command we should add a `

[2020-11-17 09:07] christian-bromann commented on #6096
@Maxgit3 absolutely, I created #6120 and #6121. Feel free to claim one issue for you. Will close this ticket.

[2020-11-17 09:07] #6096 closed

[2020-11-17 09:18] christian-bromann commented on #6119
This has indeed changed with v6. I added a PR to bring this functionality back (as part of the `beforeSession` hook), see #6122.

[2020-11-17 09:18] #6119 closed

[2020-11-17 09:21] christian-bromann commented on #5832
Awesome 👏 , go for it @sarathps93

[2020-11-17 10:16] christian-bromann commented on #5831
Sounds reasonable to me. Note that there are different layers of options:

- WDIO testrunner options that contains options of the `webdriverio` and `webdriver` package and related to the testrunner, e.g. `specs`, `services`, `framework` etc.
- `webdriverio` package options that are related to run WebdriverIO as a standalone package (e.g. `baseUrl`, `waitforTimeout` etc.
- `webdriver` package optio

[2020-11-17 12:04] abdatta commented on #5831
Yes, I am currently stuck at trying to type capabilities properly. I see there are two types of capabilities:
In `webdriver/webdriver.d.ts` ([link](https://github.com/webdriverio/webdriverio/blob/6f7a0c932f7cda50979f733616cf0b4c9f1d0b42/packages/webdriver/webdriver.d.ts#L612))
[code]
and in `webdriverio/webdriverio-core.d.ts` ([link](https://github.com/webdriverio/webdriverio/blob/6f7a0c932f7cda50

[2020-11-17 12:42] christian-bromann commented on #5831
it should be:

[code]

because the wdio testrunner takes a list of capabilties to run tests in parallel or multiremote capabilities to run multiple browser in one spec file.

[2020-11-17 14:05] unickq commented on #4913
Faced today on CircleCi image update -

node v14.15.1
`2020-11-17T13:54:33.581Z DEBUG @wdio/sync: Couldn't load fibers package for Node v10 and above`

@christian-bromann does it mean @wdio/sync needs to be replaced with webdriverio package? Currently, I have only sync installed

[2020-11-17 15:01] benbcai commented on #6119
@christian-bromann Thanks for getting the change made so quickly!

[2020-11-17 15:21] abdatta commented on #5831
Thanks @christian-bromann . Can you also help me understand the types for the various hooks? Some seem to be arrays while others are just functions. How do we know which one should be array and which ones should be just a function?
The `websriverio-core.d.ts` defines:
[code]
But the `DEFAULT_CONFIG` in `@wdio/config` doesn't exactly follow the same. ([Link](https://github.com/webdriverio/webdriver

[2020-11-17 15:39] christian-bromann commented on #5831
Currently you can pass in hooks in `wdio.conf.js` as arrays as well as functions, e.g.:

[code]

So it needs to be both.

[2020-11-17 17:08] abdatta commented on #5831
Thanks, I have typed that accordingly. One small question:
In `webdriverio.d.ts`, `Options.specFileRetryAttempts` is typed as `readonly`. ([Link](https://github.com/webdriverio/webdriverio/blob/b54edafa6551158a64eda24837a8f42f8196d175/scripts/templates/webdriverio.tpl.d.ts#L177))
[code]
Is there any reason to specifically type it as `readonly`? I am facing some issues in reusing that `Options` int

[2020-11-17 17:41] christian-bromann commented on #5831
This is an internal flag that should not be exposed to users. I would even say we should remove it. In the `@wdio/runner` we then need to create an interface that extends the public types with these private types.

[2020-11-17 18:50] abdatta commented on #5831
I have raised a PR for the rewrite of `utils.ts` and `constants.ts`. #6123
Rewrite of `configParser.js` is gonna take some more time, I'll raise a PR for that later.

[2020-11-17 19:57] brucehubbardKroger commented on #5411
@christian-bromann I like it.  When I tested it locally in the spec reporter though it did not seem to work.  I ran it with this capability:

[code]

But when I console.log `caps['goog:chromeOptions']` all I see is { debuggerAddress: 'localhost:51226' } and it does not contain my mobileEmulation settings.  I am running with the selenium-standalone service.  Am I doing something wrong?  Are those s

[2020-11-17 21:10] christian-bromann commented on #5411
Not sure what you've tested but this feature doesn't exist yet, we would need to implement it first.

[2020-11-17 21:15] brucehubbardKroger commented on #5411
Yeah I changed my node_modules to add the method to test it out locally.  The console.log's I put in were in the spec reporter.  I didn't see the goog:chromeOptions.mobileEmulation properties being passed through at that point.

[2020-11-17 21:19] christian-bromann commented on #5411
@brucehubbardKroger not sure but `onRunnerStart` should have the capabilities you are looking for, see https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-reporter/README.md#L383-L409

[2020-11-17 21:19] brucehubbardKroger commented on #5411
Cool, thanks.  I'll check that out.  I'll submit a PR when I have it working.

[2020-11-17 22:25] NickR23 commented on #6121
Hello!
I'm having trouble with getting a base64 encoded string from the printPage protocol, I am getting back an object.

[code]
The code snippet above is from my [savePDF.ts](https://github.com/NickR23/webdriverio/blob/savePDF/packages/webdriverio/src/commands/browser/savePDF.ts)
The printPage protocol says that it returns a base64 encoded string [here](https://github.com/NickR23/webdriverio/blob

[2020-11-17 23:02] christian-bromann commented on #6121
@NickR23 first off, thank you for looking into it, I will assign this ticket to you!

Can you check what the value `pdf` is? It doesn't seem to be a string as expected.

[2020-11-17 23:55] benbcai commented on #6119
@christian-bromann I pulled down the latest version and verified that it has the change you made but I'm still seeing the `before` hook being executed after the `describe` block. I noticed that your change moved up the `beforeSession` hook. Does that also move up the execution of the `before` hook?

[2020-11-18 00:06] NickR23 commented on #6121
![pdfObject](https://user-images.githubusercontent.com/29212540/99465174-c9acff80-2907-11eb-904e-1e96a197aa5a.png)
The object actually seems to be empty.

[2020-11-18 07:34] christian-bromann commented on #6121
@NickR23 Ah, I assume you are running Jest tests to validate the behavior. In this case you need to update the [got mock](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/tests/__mocks__/got.js) to return proper data.

[2020-11-18 07:35] christian-bromann commented on #6119
No. You have to move your code into the `beforeSession` hook. Given that we want to validate whether to run the test file or not before we start the session we have to read the file, which means running describe blocks without executing hooks or tests.

[2020-11-18 09:30] YashMonetate commented on #4770
Hi @mgrybyk, this still seems an issue. When i am calling isClickable() or isEnabled(), it returns true even my element is disabled. Please see below SS
![image](https://user-images.githubusercontent.com/70005957/99511867-d0428200-29ae-11eb-9575-82f99ab1a4bb.png)

[2020-11-18 10:07] mgrybyk commented on #4770
@YashMonetate your element is not disabled, it's just a class

[2020-11-18 10:31] YashMonetate commented on #4770
@mgrybyk Pls see below property of class(what you were referring to) when button is enabled. I guess webdriverio just look for <span> tab for deciding that button is enabled or not. But in this case <span> tag doesn't contain any info about enabled/disabled.
![image](https://user-images.githubusercontent.com/70005957/99518710-f8ce7a00-29b6-11eb-8563-9d70ddc7db4b.png)

[2020-11-18 10:36] mgrybyk commented on #4770
@YashMonetate there is a standard approach on how to an input, if you are not following it (or using such UI framework)  you have to implement your custom way to check if an element is enabled.
There are tons of ways to disable an element from end user point of view however, there is only one way to do it according to the specification.

[2020-11-18 13:33] StefanStadler opened #6124 "ChromeDriver only supports Chrome version 85"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.5.2
 - **Mode:** selenium-standalone
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.17
 - **Browser name and version:** Chrome 87.0.4280.66-1
 - **Platform name and version:** Ubuntu
 - **Additional wdio packages used (if applicable):** @wdio/selenium-standalone-service

**Con

[2020-11-18 13:46] christian-bromann commented on #6124
Can you provide a list of steps to reproduce this issue?

[2020-11-18 13:51] mgrybyk commented on #6124
Please see https://webdriver.io/docs/selenium-standalone-service.html#configuration and set whatever version of chromedriver you need

[2020-11-18 14:02] christian-bromann commented on #6124
Which means the version that is installed on the machine.

[2020-11-18 14:17] thomaseitler commented on #5364
Hi,

sorry if this is not related at all - I can create a new issue if necessary. However the error mentions the fibers module.

I just updated to node ```v15.2.1``` and cannot complete the initial config ``` npx wdio config -y ```

Infor from the debug log:

[code]

Error from the console:
[code]
I also tried installing fibers directly and got the same error for the newest version.
[code]

So thi

[2020-11-18 14:24] christian-bromann commented on #6124
This is related to this issue: https://github.com/vvo/selenium-standalone/issues/468

[2020-11-18 16:20] benbcai commented on #6119
@christian-bromann We currently configure our custom commands in the `before` hook because this hook is where we have access the `browser` object. The `browser` object is undefined in the `beforeSession` hook so we're unable to move our custom command implementations from `before` to `beforeSession` .

One of our custom commands is to encapsulate the `describe` block by running the entire block ag

[2020-11-18 16:29] #6087 closed

[2020-11-18 16:38] christian-bromann commented on #6119
@benbcai you can still register your custom commands in the `before` hook. That hasn't changed. I just tried it and it works without problems.

[2020-11-18 17:33] #6121 closed

[2020-11-18 18:10] munishusa commented on #2052
I figure below dependencies are causing the conflict with Jest.

"@wdio/cli": "^6.8.0",
"@wdio/local-runner": "^6.8.0",
"webdriverio": "^6.8.0",

[2020-11-18 18:25] christon88 commented on #6012
@christian-bromann since this has not been updated for a while, do you mind if i take a shot at it?

[2020-11-18 18:26] christian-bromann commented on #6012
sure thing, go for it!

[2020-11-18 21:22] vijkris99 opened #6128 "browser.setTimeout() does not work on iOS simulators in SauceLabs"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment:**
 - **WebdriverIO version:** 6.7.0
 - **Mode:** WDIO Testrunner
 - **If WD

[2020-11-18 22:05] #6012 closed

[2020-11-18 22:06] christian-bromann opened #6129 "Improve `savePDF` command"
Two notes:

- we should remove this sentence because it is not true for the pdf feature (Be aware that some browser drivers take screenshots of the whole document (e.g. Geckodriver with Firefox) and others only of the current viewport (e.g. Chromedriver with Chrome).)
- we should allow the options available in printPDF as second parameter

[2020-11-18 22:08] vijkris99 opened #6130 "Unexpected logging error on iOS simulators in SauceLabs"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment:**
 - **WebdriverIO version:** 6.7.0
 - **Mode:** WDIO Testrunner
 - **If WD

[2020-11-18 22:15] christian-bromann commented on #6130
These types of logs are only available if you run `extendedDebugging` with `performanceEnabled`. Also it is only supported on Chrome.

[2020-11-18 22:15] #6130 closed

[2020-11-18 22:17] christian-bromann commented on #6128
Thanks for filing the issue. This is an issue with Sauce Labs. I recommend to file a support ticket. There is nothing we can do in WebdriverIO to fix this.

[2020-11-18 22:17] #6128 closed

[2020-11-18 22:18] vijkris99 commented on #6130
Thanks for responding @christian-bromann! I already filed a support case and SauceLabs responded that it is probably a wdio issue and nothing at their end. I am going to check with them again and reference this ticket.

[2020-11-18 22:19] vijkris99 commented on #6128
Thanks for responding @christian-bromann! I already filed a support case and SauceLabs responded that it is probably a wdio issue and nothing at their end. I am going to check with them again and reference this ticket.

[2020-11-18 22:38] NickR23 commented on #6129
@christian-bromann I ended up adding a new interface for the options, but I'm having trouble with expanding coverage for this new type.
I added the following to tests/typings/sync/sync.ts but the coverage does not increase
[code]
- Do you think adding the new type was the right way to go?
- I see the documentation for "Testing Type Definitions", but I'm having trouble carrying this out. Any tips?

[2020-11-18 23:50] christian-bromann commented on #6129
Please add typings similar to this PR: https://github.com/webdriverio/webdriverio/pull/5037/files, meaning you have one main option and then its suboptions, e.g. `getWindowSize`:

[code]

`NewWindowOptions` is the main option which needs to be added to `scripts/type-generation/constants.js` and defined in `scripts/templates/webdriverio.tpl.d.ts` (e.g. [here](https://github.com/webdriverio/webdrive

[2020-11-19 01:06] benbcai commented on #6119
@christian-bromann I updated my [example project](https://github.com/benbcai/sample-component-js) to demonstrate my use case.

In the `before` hook I added the [describeWithFormFactors](https://github.com/benbcai/sample-component-js/blob/master/lib/example-service.js#L11-L23) custom command where there is a need to access the browser object. What this custom command does is that it iterates the `d

[2020-11-19 06:07] abdatta commented on #5831
Hi, I think this should be moved to `In Progress` in the [Typescript Rewrite Project Dashboard](https://github.com/webdriverio/webdriverio/projects/14).

[2020-11-19 18:34] Maxgit3 commented on #6120
Thank you.  I can look into #6120

[2020-11-19 18:35] Maxgit3 commented on #6096
Thank you.  I can look into #6120

[2020-11-19 22:40] pratimghosh76 opened #6136 "Devtoold is getting hanged after I click on a element on the Page"
after browser.get(URL) , I am clicking on a element. after that all is hanged script not proceeding.

its not able to print the browser.getMetrics()

**Pre-check**
- [ ] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [

[2020-11-19 22:57] christian-bromann commented on #6136
@pratimghosh76 sorry but please provide more information on the issue. A reproducible example would be very helpful!

[2020-11-20 03:22] Maxgit3 commented on #6120
I am running into an issue running the "setup-full" script in the package json file.

error TS2688: Cannot find type definition file for '@wdio/cucumber-framework'.
error TS2688: Cannot find type definition file for 'webdriver'.
error TS2688: Cannot find type definition file for 'webdriverio'.
error TS2688: Cannot find type definition file for '@wdio/logger'.
error TS2688: Cannot find type definit

[2020-11-20 04:43] ravi005e opened #6137 "getting typescript error when creating a test"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-11-20 05:39] jedwards1211 commented on #5519
I'm not using WDIO or any special version arguments to `selenium-standalone` and it was finding firefox just fine with `webdriverio` v4, but now that I upgrade to v6 it can't find it

[2020-11-20 06:01] jedwards1211 opened #6138 "Chrome stays open after I Ctrl-C tests with webdriverio v6. On webdriverio v4 it would close chrome when I Ctrl-C"
I'm not sure what changed or if it was intentional, but with webdriverio v4, if I killed my test process with Ctrl-C, it would close the Chrome windows as well.  Now that I upgraded to v6, the Chrome windows stay open.  I suspect zombie processes stick around in headless mode too but I'm not sure.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [6.9.0]
 -

[2020-11-20 06:54] jedwards1211 commented on #5869
@christian-bromann I'm pretty sure this is in the case of React controlled inputs and `clearValue` is failing to trigger the correct change event, hence React restores the value on the input.  (I was just running some tests and saw an input flicker blank for a split second)

[2020-11-20 06:56] jedwards1211 commented on #1886
@christian-bromann I think this is another case of React controlled inputs and WebDriver not firing the necessary change event

[2020-11-20 07:04] jedwards1211 commented on #3024
There should really be a builtin webdriver command to change the value of an input and fire an event as if a user did select all and pasted the new value.

[2020-11-20 07:39] christian-bromann commented on #5869
A reproducible example would be helpful here. There are many things we can do on the project side to fix these React related issues but without such an example it is difficult to implement them.

[2020-11-20 07:45] christian-bromann commented on #6138
@jedwards1211 can you provide a simplified reproducible example? If you press CTRL+C the browser would also stay open in v4 because it needs a session delete request to close it. That wasn't any different from v4.

[2020-11-20 07:59] christian-bromann commented on #6137
@ravi005e the browser object is not passed in as argument in the describe callback. I recommend to have a look into [the docs](https://webdriver.io/docs/gettingstarted.html) and check out our [TypeScript boilerplates](https://webdriver.io/docs/boilerplate.html).

[2020-11-20 07:59] #6137 closed

[2020-11-20 08:06] christian-bromann commented on #6120
@Maxgit3 I have no issues cloning the repository and setting things up: https://gist.github.com/christian-bromann/6b316bcd318e87480e77730dae1e0619

[2020-11-20 08:22] christian-bromann commented on #6119
You can still have in your tests. Just read `formFactors` from a JSON file as synchronous operation, e.g.:

[code]

[2020-11-20 10:30] Pavithra24x7 commented on #3971
I'm also facing same kind of issue do we have any solution for it, here is the console logs

org.openqa.selenium.SessionNotCreatedException:
session not created
from disconnected: unable to connect to renderer
  (Session info: chrome=87.0.4280.67)
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
System info: host: 'Pavithra-prakasm.local', ip: 'fe80:0:0:0:c63:b5

[2020-11-20 13:10] VladislavKostyukevich commented on #5889
I'm also interested in this feature, any idea?

[2020-11-20 15:00] benbcai commented on #6119
@christian-bromann In production the `describeWithFormFactors` custom command allows our consumers to specify any form factor of their choice and can vary in each test. Besides, this custom command is just one of many custom commands we have.

[2020-11-20 16:18] jedwards1211 commented on #6138
What form exactly, like a repo?
That wasn't my experience with v4, I wonder if it was launching the browser as a subprocess and that's why it seemed to get terminated as well?

[2020-11-20 16:30] BorisOsipov commented on #6138
@jedwards1211

ctrl+c closes browser as well as terminate tests with log:
[code]

BUT in `WDIO Testrunner mode` only. It worked in v4 and works for v6 as well.

If you use `Standalone Mode` (as I can see in example in first pots) you are responsible for closing browser.

[2020-11-20 16:34] StephenEsser commented on #6119
The describes within the spec file being executed/evaluated prior to the services/configuration `before` hook feels counter intuitive/out of sync for the testing lifecycle.

There doesn't appear to be a way to setup a global configuration that uses browser commands within the scope of an early executing describe.

Can you explain this process a little more to help us understand the intended nature

[2020-11-20 16:36] jedwards1211 commented on #6138
Wouldn't `webdriverio` core be a better place for whatever hooks the WDIO testrunner is using for that?

[2020-11-20 16:54] BorisOsipov commented on #6138
I am not sure. `webdriverio` is selenium client, just provides an api with some sweeties. If you need full browser lifecycle management use wdio runner or write your own :)

[2020-11-20 17:05] jedwards1211 commented on #6138
well, I'm fine with adding my own hooks if need be, I just got the impression `webdriverio` was supposed to clean up the processes since it was somehow happening for me with v4

[2020-11-20 23:28] christian-bromann commented on #6138
We haven't changed anything in this regards. It should still work in v6 if it worked in v4 even though I doubt it was working in v4 either. I will close this as I agree with the points @BorisOsipov made.

[2020-11-20 23:28] #6138 closed

[2020-11-21 01:04] ravi005e commented on #6137
I disagree with your decision, all the examples I have seen none use coding rules as restricted as I do

[2020-11-21 10:35] #5831 closed

[2020-11-21 10:37] christian-bromann commented on #6137
@ravi005e if you could describe your typescript issue a bit more detailed I could maybe give a better answer to what is happening but you provided almost no details which makes it hard to make any assumptions.

[2020-11-21 20:12] ravi005e commented on #6137
Please d/l attached zip file, unzip cd to unzipped folder
at terminal type> npm install
open in vscode with eslinter plugin
see specs folder, and mouse over as shown in the video, this will recreate the situation as I'm experiencing
[wdio_framework-jasmine.zip](https://github.com/webdriverio/webdriverio/files/5578323/wdio_framework-jasmine.zip)

[2020-11-22 19:56] mw29535 opened #6142 "wdio failing to use specified version"
**Environment (please complete the following information):**
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.16.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome 85.0.4183.87
 - **Platform name and version:** MacOS Big SUR
 - **Additional wdio packages used (if applicable):** @wdio/selenium-standalone service 6.9.0

['se

[2020-11-22 22:10] christian-bromann commented on #6142
Please see error message:

You have to update your chromedriver version to make this work.

[2020-11-22 22:10] #6142 closed

[2020-11-22 22:10] christian-bromann commented on #6142
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2020-11-23 01:41] Maxgit3 commented on #6120
Thanks got it working

[2020-11-23 08:05] christian-bromann commented on #6129
fixed by #6133

[2020-11-23 08:05] #6129 closed

[2020-11-23 08:06] christian-bromann commented on #5826
@ch-t how are things going? Any updates?

[2020-11-23 08:07] christian-bromann commented on #4951
@dagoud any updates on this issue?

[2020-11-23 08:09] christian-bromann commented on #6018
@workeitel did you publish the service somewhere? Would love to take a look.

[2020-11-23 09:28] christian-bromann commented on #6025
Let's continue convo in #6143

[2020-11-23 09:28] #6025 closed

[2020-11-23 16:05] pratimghosh76 commented on #6136
@christian-bromann below is the details

 it('Verify Performance Stats for /p pages in Network', () => {
        browser.enablePerformanceAudits();
        const swatchTile=$('div.super-sku__inline-attribute-wrapper.super-sku__inline-attribute-wrapper--swatch > button:nth-child(2)')
        const URL = "https://www.homedepot.com/p/Kwikset-Tylo-Satin-Chrome-Exterior-Entry-Door-Knob-and-Single-Cylin

[2020-11-23 17:15] christian-bromann commented on #6136
Thank you for providing the example. If you have some time to look into this issue it would be great. Given the amount of competing priorities it is unlikely that the core maintainer team will be able to look into this anytime soon.

[2020-11-23 20:39] ljansen97 opened #6150 "Can't launch three browsers at once"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.9.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version:** 14.15.0
 - **NPM version:** 6.14.8
 - **Browser name and version:** Chrome, Edge and Firefox (latest versions)
 - **Platform name and version:** Windows 10 build 2004
 - **Additional wdio

[2020-11-23 21:17] ch-t commented on #5826
@christian-bromann sorry, I was not able finish tests. I have created PR which rewrites package though https://github.com/webdriverio/webdriverio/pull/6149. There are some questions I'd kindly like to have addressed.

I have got some time now so I can proceed with tests.

[2020-11-23 21:27] christian-bromann commented on #5826
Awesome! I will close this one so let's continue convo in #6149

[2020-11-23 21:27] #5826 closed

[2020-11-23 22:25] karfau opened #6151 "@wdio/testingbot-service doesn't configure the hostname/protocoll/port for tbTunnel option"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.9.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 10
 - **NPM version:** 6.14.8
 - **Browser name and version:** not relevant
 - **Platform name and version:** not relevant
 - **Additional wdio packages used (if applicable):** @wdio/testingbot-servi

[2020-11-24 01:53] AmarjeetSinghMatharu commented on #3054
Hi  I am seeing this issue with fibers when installing on Node 15! is this defect is fixed or I am still seeing it ?

[2020-11-24 07:01] Bhargav704 opened #6153 "Not able to Launch browser with wdio@sync : 6.9.1 : Giving Error when browser.waituntill and WaitUntilOptions are being used"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-11-24 08:17] christian-bromann commented on #6153
Please see error message:

You are using the `browser` object outside of an it block or hook which is not allowed. Given there is no reproducible example this is the only assumption I can make. Closing as it is not a WebdriverIO issue.

[2020-11-24 08:17] #6153 closed

[2020-11-24 08:22] christian-bromann commented on #3054
I don't. To reproduce:

[code]

works fine.