[2018-08-24 11:38] christian-bromann commented on #2866
👏 nice, let me know if you have any questions on this

[2018-08-24 11:38] christian-bromann commented on #2866
_From @thephilwells on April 3, 2018 20:33_

Is this issue claimed? I'd like to give it a shot if I may.

[2018-08-24 11:38] christian-bromann commented on #2866
@seadb any progress on this? Or can @thephilwells take over?

[2018-08-24 11:39] christian-bromann commented on #2866
Let's ensure we include the work that is already done by @thephilwells

[2018-08-24 11:40] christian-bromann opened #2867 "Port touchAction command"
See implementation details here:
https://github.com/webdriverio/webdriverio/blob/v4/lib/commands/touchAction.js

[2018-08-24 11:42] christian-bromann opened #2868 "GOVERNANCE.md changes"
_From @BorisOsipov on April 24, 2018 19:28_

## The problem

Webdriverio v5 is going to be monorepo project. It will require appropriate changes in [GOVERNANCE.md](https://github.com/webdriverio/v5/blob/master/GOVERNANCE.md#project-committers) document to handle PR\issues.

e.g.:

_Copied from original issue: webdriverio/v5#63_

[2018-08-24 11:42] christian-bromann commented on #2868
_From @BorisOsipov on April 24, 2018 19:30_

just to don't forget.

[2018-08-24 11:42] christian-bromann opened #2869 "Port ErrorHandler"
_From @fijijavis on January 9, 2018 14:4_

*** Note ***
Update waitUntil with specific error types when ErrorHandler is implemented

_Copied from original issue: webdriverio/v5#9_

[2018-08-24 11:42] christian-bromann commented on #2869
I would suggest having a dedicated package for this as well like `wdio-error`

[2018-08-24 11:43] christian-bromann commented on #2869
_From @fijijavis on January 10, 2018 0:27_

Makes Sense

[2018-08-24 11:43] christian-bromann commented on #2869
One reason why we need this package after all is that we have to make sure that we provide useful error messages especially when using the new W3C WebDriver protocol. Example use case: someone tries to use an selector strategy that is not supported.

[2018-08-24 11:43] christian-bromann opened #2870 "Validate capabilities"
_From @christian-bromann on May 8, 2018 13:12_

The W3C protocol only accepts certain type of capabilities and throws an error if these are not existing or unknown are added. Let's make sure we handle this gracefully.

_Copied from original issue: webdriverio/v5#66_

[2018-08-24 11:43] christian-bromann commented on #2870
_From @kmnaid on June 12, 2018 18:11_

@christian-bromann : Is there validation of capabilities currently? If so which file is the check in? I wasn't able to locate it.
Some references to start working on this would be helpful.

[2018-08-24 11:43] christian-bromann commented on #2870
I guess a good start is https://github.com/webdriverio/v5/blob/master/packages/wdio-config/src/utils.js#L76 I can see it being implemented somewhere else in the `webdriver` package. I think there isn't necessary this one position where it should implemented.

[2018-08-24 11:43] christian-bromann opened #2871 "Allow cli input when running debug command"
_From @christian-bromann on June 20, 2018 8:39_

## The problem

Our cli interface is not allowing to do any inputs if wdio testrunner is running.

_Copied from original issue: webdriverio/v5#75_

[2018-08-24 11:44] christian-bromann opened #2872 "Port wdio-cucumber-framework"
_From @christian-bromann on July 7, 2018 10:21_

## Questions to answer

1. Do cucumber background steps run before or after wdio hooks? (note that they run before cucumber hooks) (source: background.feature)

For Cucumber we have defined special hooks anyway which are the following:

- beforeFeature
- beforeScenario
- beforeStep
- afterStep
- afterScenario
- afterFeature

I could imagine to add:

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 13:38_

"For Cucumber we have defined special hooks anyway" - could you point me to the code where these hooks are defined?

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 13:42_

2. Is it correct to assume that there is no --exit functionality or that wdio replaces it? (source: exit.feature)
I am not entirely sure what this option in Cucumber is.

Cucumber uses this command line switch "to exit when the test run finishes without waiting to the even loop to drain" (see [exit.feature](https://github.com/cucumber/cucumber-js/blob/

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 13:43_

I'm going to assume that we just don't support this feature then (see [fail_fast.feature](https://github.com/cucumber/cucumber-js/blob/master/features/fail_fast.feature))

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 13:55_

Using the `--no-strict` flag will cause cucumber to succeed even if there are pending steps. (see [strict_mode.feature](https://github.com/cucumber/cucumber-js/blob/master/features/strict_mode.feature))

[2018-08-24 11:44] christian-bromann commented on #2872
_From @BorisOsipov on July 10, 2018 13:55_

Up to you. I guess we may not support this flag.

[2018-08-24 11:44] christian-bromann commented on #2872
_From @BorisOsipov on July 10, 2018 13:56_

Yes because we have bail options.

[2018-08-24 11:44] christian-bromann commented on #2872
_From @BorisOsipov on July 10, 2018 14:6_

https://github.com/webdriverio/v5/issues/82#issuecomment-403831009

Current wdio-cucumber doesn't pay attention to strict mode as I know. I see it as nice to have but with low priority.

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 14:13_

I am updating https://github.com/goofballLogic/v5/blob/cucumber-framework/packages/wdio-cucumber-framework/docs/design/important-features.md with these answers.

Only remaining is (1) above and:

[2018-08-24 11:44] christian-bromann commented on #2872
_From @BorisOsipov on July 10, 2018 14:14_

they are defined in wdio config. See
https://github.com/webdriverio/v5/blob/master/packages/wdio-config/src/constants.js#L63

and in old framework executed by https://github.com/webdriverio/wdio-cucumber-framework/blob/master/lib/hookRunner.js

[2018-08-24 11:44] christian-bromann commented on #2872
_From @BorisOsipov on July 10, 2018 14:16_

I could advice dont do that. As I remember cucumber handles background steps as part of scenario steps. It follows cucumber philosophy and we probably should change it.

[2018-08-24 11:44] christian-bromann commented on #2872
features are basically like spec files in Mocha and Jasmine and should be treated as "suites"

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 14:20_

Yeah, cucumber doesn't have a structure which maps to a predictable hierarchy such as these hooks suggest. Are we sure that building cucumber's structure into wdio is a good idea? (e.g. will we also add wdio hooks for Examples, and wdio hooks for cucumber's native hooks?)

[2018-08-24 11:44] christian-bromann commented on #2872
I don't see a reason why not. There are certainly scenarios where this can be useful.

What are Cucumber's native hooks?

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 14:23_

The difference from a Mocha suite is that (as far as I'm aware) you don't describe the suite using a paragraph of text. Options for reporting include:
1. Only display the file name of the feature
2. Display the title of the feature
3. Display the title and the description of the feature

[2018-08-24 11:44] christian-bromann commented on #2872
_From @BorisOsipov on July 10, 2018 14:24_

https://github.com/webdriverio/v5/issues/82#issuecomment-403840256

Cucumber has its own hooks https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/hooks.md
Actually we duplicate it with our cucumber wdio specific hooks.

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 14:25_

Before, After, BeforeAll, AfterAll
Plus all of the above can be further narrowed using tags

[2018-08-24 11:44] christian-bromann commented on #2872
_From @BorisOsipov on July 10, 2018 14:26_

https://github.com/webdriverio/v5/issues/82#issuecomment-403840942

Currently we have "Display the title of the feature". It emits with SUITE event when feature file starts.
We may add "description of the feature" to custom field of suite event but I guess it now is not important.

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 14:27_

From the discussion above, I'm sensing that the intent is to provide basic functionality, but not to support the cucumber variants of functionality included in wdio? This means we support someone writing a set of tests from scratch, but not someone porting a large existing suite of tests from Cucumber. Is that more-or-less correct?

[2018-08-24 11:44] christian-bromann commented on #2872
_From @BorisOsipov on July 10, 2018 14:39_

https://github.com/webdriverio/v5/issues/82#issuecomment-403842432

It up to you and depends on your availability to help with this.

I see cucumber test suite nice and if you see how use\port it, I don't see any reason to reuse them

[2018-08-24 11:44] christian-bromann commented on #2872
I am happy to support both. WDIO hooks are important for wdio services to work properly across frameworks.

Right. Reporters can either use this information or not.

It would be awesome to support as much as possible. That being said, I see a lot of overlaps between cucumber and wdio functionalities where we can leave out the cucumber specific functionality.

I rather prefer to have something basi

[2018-08-24 11:44] christian-bromann commented on #2872
_From @BorisOsipov on July 10, 2018 14:41_

+1

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 14:53_

ok I'll make decisions going forward by deferring nice-to-have functionality.
By the way, how do I move this task on our project board into "In Progress" ?

[2018-08-24 11:44] christian-bromann commented on #2872
Just added you to the project committers team. It should work now!

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 10, 2018 15:39_

Hmm. Can't seem to do anything new. Should I be able to drag the card? Or is it by assigning a label or something?

[2018-08-24 11:44] christian-bromann commented on #2872
Yes! Let me double check the settings.

[2018-08-24 11:44] christian-bromann commented on #2872
@goofballLogic I think you need to accept the invite first

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 11, 2018 12:41_

I note that the reporter included in the https://github.com/webdriverio/cucumber-boilerplate project doesn't actually report if you are on a "Given", "When", "Then", "And" or "But" step, and I don't see anything in https://github.com/webdriverio/wdio-cucumber-framework which was exposing that data in the past. Is this something we can add going forward

[2018-08-24 11:44] christian-bromann commented on #2872
Afaik the wdio-cucumber-framework treated steps (no matter if Given, When, Then etc) as "tests" (like in Mocha an "it" block). I think we can keep this to have a similar reporting behavior in Cucumber. We can however add the information which steps was executed.

I think latter one would work. No strong opinion on this though.

[2018-08-24 11:44] christian-bromann commented on #2872
_From @goofballLogic on July 11, 2018 12:55_

I also note that the cucumber-boilerplate reporter reports all Scenarios with an additional level of indenting (like they were Mocha-style nested "describe" blocks) but in Cucumber, each Scenario is a stand-alone test case with no pre-cursors (other than e.g. Background steps). Is that just an idiosyncrasy of the reporter we included, or is there a mis

[2018-08-24 11:45] christian-bromann opened #2873 "Port wdio-cucumber-framework"
Please see https://github.com/webdriverio/v5/issues/82

[2018-08-24 11:46] christian-bromann commented on #2872
See rest of convo here: https://github.com/webdriverio/v5/issues/82

[2018-08-24 11:46] christian-bromann commented on #2873
Duplicate of #2872

[2018-08-24 11:46] #2873 closed

[2018-08-24 11:52] christian-bromann commented on #1303
This issue is obsolete with update to v5. Closing!

[2018-08-24 11:52] #1303 closed

[2018-08-24 11:53] christian-bromann commented on #1339
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-08-24 11:53] #1339 closed

[2018-08-24 11:55] christian-bromann commented on #1350
Closing due to inactivity. There seem to be no demand for it.

[2018-08-24 11:55] #1350 closed

[2018-08-24 11:55] christian-bromann commented on #1874
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-08-24 11:55] #1874 closed

[2018-08-24 11:56] christian-bromann commented on #1964
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-08-24 11:56] #1964 closed

[2018-08-24 11:56] christian-bromann commented on #1938
Closing due to inactivity. A lot of things have changed and this might not be an issue anymore.

[2018-08-24 11:56] #1938 closed

[2018-08-24 11:57] christian-bromann commented on #1539
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-08-24 11:57] #1539 closed

[2018-08-24 11:57] christian-bromann commented on #2154
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-08-24 11:57] #2154 closed

[2018-08-24 11:58] #1976 closed

[2018-08-24 11:58] christian-bromann commented on #1976
We will reimplement the watch mode in v5 again and try to mitigate the issue.

[2018-08-24 11:58] christian-bromann commented on #2146
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-08-24 11:58] #2146 closed

[2018-08-24 11:59] christian-bromann commented on #1841
We will still support the jsonwire protocol moving forward. Closing.

[2018-08-24 11:59] #1841 closed

[2018-08-24 11:59] christian-bromann commented on #2048
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-08-24 11:59] #2048 closed

[2018-08-24 12:00] christian-bromann commented on #2126
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-08-24 12:00] #2126 closed

[2018-08-24 12:01] christian-bromann commented on #2150
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:01] #2150 closed

[2018-08-24 12:02] christian-bromann commented on #1695
Closing due to inactivity. Please feel free to propose a PR if you still need this feature. Thanks!

[2018-08-24 12:02] #1695 closed

[2018-08-24 12:02] christian-bromann commented on #2419
We will reimplement the watch mode in v5 and try to mitigate this issue. Thanks!

[2018-08-24 12:02] #2419 closed

[2018-08-24 12:03] christian-bromann commented on #2421
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-08-24 12:03] #2421 closed

[2018-08-24 12:03] christian-bromann commented on #2226
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:03] #2226 closed

[2018-08-24 12:03] christian-bromann commented on #2473
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:03] #2473 closed

[2018-08-24 12:04] christian-bromann commented on #2456
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:04] #2456 closed

[2018-08-24 12:04] christian-bromann commented on #2407
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:04] #2407 closed

[2018-08-24 12:04] christian-bromann commented on #2481
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:04] #2481 closed

[2018-08-24 12:04] christian-bromann commented on #2498
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:04] #2498 closed

[2018-08-24 12:05] christian-bromann commented on #2506
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:05] #2506 closed

[2018-08-24 12:05] christian-bromann commented on #2185
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-08-24 12:05] #2185 closed

[2018-08-24 12:06] christian-bromann commented on #2533
We still use ejs in v5. It seems to be simpler especially since we have a bunch of logic in the templates that would make it complex when used with ES6 literals.

[2018-08-24 12:06] #2533 closed

[2018-08-24 12:06] christian-bromann commented on #1236
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:06] #1236 closed

[2018-08-24 12:06] christian-bromann commented on #2508
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:06] #2508 closed

[2018-08-24 12:07] christian-bromann commented on #2554
With v5 we moved away from the monadic structure in v4. The API is much more simplified now.

[2018-08-24 12:07] #2554 closed

[2018-08-24 12:07] christian-bromann commented on #2167
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-24 12:07] #2167 closed

[2018-08-24 12:08] #2038 closed

[2018-08-24 13:19] christian-bromann opened #2874 "Create SSL cert for website"
## The problem

Our website (even though just a static page) is not on https. Since it is free we should enable it.

[2018-08-24 15:22] andrepm06 opened #2875 "Using waitFor with chained selectors"
## The problem

I am looking for a good way of using waitFor strategies using chained selector. I don't know if it is currently possible at 4.12 or 4.13.

## Environment

* WebdriverIO 4.12.0
* Node 8.93
* Using wdio runner
* Running synchronous

## Details

https://gist.github.com/andrepm06/ba2a5cb6d2a9327d29afbe9a0c3b4c85

## Code To Reproduce Issue

This is an example which `generatedContract`

[2018-08-24 17:31] johnrobertallan opened #2876 "browser.setValue() is 'typing' very slow"
## The problem

This morning I started seeing browser.setValue 'type' super slow, about 2 characters per second.

## Environment

* WebdriverIO version: 4.13.2
* Node.js version: 6.11.2
* testrunner / synchronous
* Additional wdio packages used (if applicable): wdio-chromedriver-service, wdio-jasmine-framework, wdio-junit-reporter, wdio-spec-reporter
* Chrome 68.0.3440.106 (latest)
* Windows 10 En

[2018-08-24 17:37] christian-bromann commented on #2876
Can you check if you updated the browser or browser driver? This can't be an issue with WebdriverIO.

[2018-08-25 00:40] jedwards1211 commented on #2554
Awesome, looking forward to it!

[2018-08-26 15:14] MartinX3 commented on #837
Yes, with firefox it fails, too.
I'm using gebish with spock and selenium.

[2018-08-27 18:34] halkeye opened #2877 "Generated config with junit enable has error on run"
## The problem

Created a new wdio config by running wdio. Enabled the junit plugin. After it finished running got an error message:

```Cannot write xunit report: empty or invalid 'outputDir'.```

http://webdriver.io/guide/testrunner/jenkins.html says you need reporterOptions object.

## Environment

* WebdriverIO version: 2.0.2
* Node.js version: 10.5.0
* [Standalone mode or wdio testrunner](htt

[2018-08-27 18:40] BorisOsipov commented on #2877
You must set reporter output folder `outputDir` see https://github.com/webdriverio-boneyard/wdio-junit-reporter#configuration

Also, please, report `wdio-junit-reporter` issues to https://github.com/webdriverio-boneyard/wdio-junit-reporter/issues

Thanks

[2018-08-27 18:45] BorisOsipov commented on #2877
@halkeye have you tried with wdio v5?

[2018-08-27 18:52] halkeye commented on #2877
Nope, i just followed the getting started and went `npm install wdio`

I'll switch to webdriverio directly

npm ls gives me
[code]

is 5 stable?

[2018-08-27 18:52] halkeye commented on #2877
ah no, 5 is beta/alpha, I'll try it in a different repo and get back to you

[2018-08-27 18:53] BorisOsipov commented on #2877
Yes, it will be fine. Thanks!

[2018-08-28 13:21] woolter opened #2878 "Links problems new web - HOME"
## The problem
Wrong links in new web

### Steps

1. go to http://beta.webdriver.io/
2. click on "WATCH MORE VIDEOS"

**Expected**
I don't know ;)

**Actual**
http://beta.webdriver.io/undefined/videos.html
404 Not Found

[2018-08-28 13:25] woolter opened #2879 "Links problems new web - HOME"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/
2. click on "Help"

**Expected**
http://beta.webdriver.io/en/help.html
I don't know if the right address, but is the address that i get when I push Help on the header

**Actual**
http://beta.webdriver.io/docs/help.html
404 Not Found

[2018-08-28 13:26] woolter opened #2880 "Links problems new web - GETTING STARTED"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/gettingstarted.html
2. click on "boilerplate projects" text

**Expected**
http://beta.webdriver.io/docs/boilerplate.html
the same that "boilerplate projects" button

**Actual**
http://beta.webdriver.io/guide/getstarted/boilerplate.html
404 Not Found

[2018-08-28 13:28] woolter opened #2881 "Links problems new web - HOW TO SETUP WEBDRIVERIO"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/setuptypes.html
2. click on "Getting Started" link

**Expected**
http://beta.webdriver.io/docs/clioptions.html
base on actual version

**Actual**
http://beta.webdriver.io/guide/testrunner/gettingstarted.html
404 Not Found

[2018-08-28 13:31] guicejas commented on #2052
Hi guys,
Is there any update about this milestone?

[2018-08-28 16:33] BlueRaja commented on #891
This should probably be closed. `nth-match` doesn't even exist anymore.  It also [was never equivalent to jQuery's `:eq(2)` selector](https://stackoverflow.com/a/31415015/238419) _(which is confusing, which is why it was removed)_

[2018-08-28 16:45] christian-bromann commented on #891
agree with @BlueRaja. My [workaround](https://github.com/webdriverio/webdriverio/issues/891#issuecomment-301149715) above is actually the valid solution. You can also use `.filter` to limit the selection by arbitrary functions, e.g.

[code]

[2018-08-28 16:45] #891 closed

[2018-08-28 17:37] christian-bromann commented on #2877
@halkeye don't use the wdio npm package. It is not maintained by us and does something different. I think the `outputDir` has to exist and is not generated by the reporter.

[2018-08-28 18:06] woolter opened #2882 "Links problems new web - SELECTORS"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/selectors.html#ios-uiautomation
3. click on "here"

**Expected**
https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/ios/ios-predicate.md
base on actual version

**Actual**
https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/ios_predicate.md
404 Not Found

[2018-08-28 18:38] halkeye commented on #2877
yea, and that means the wizard is entirely the different package. So I'm going to close this.

[2018-08-28 18:38] #2877 closed

[2018-08-28 19:02] DudaGod opened #2883 "Click on link (except the first one) which opens a new tab executed 5+ seconds"
Hello guys.
Today I addressed you with this problem in the gitter as I thought that this problem is not related to webdriverio. But I write the same code on wd and it works much faster. And I still do not understand why.

## The problem
I ran into a problem when running my test in chrome.
In the test I clicked links one after another which opens a new tab.
And the strange thing that each subsequen

[2018-08-28 19:40] DudaGod commented on #2883
Okay, I found a bug in my code on wd and now it works the same as my code on webdriverio =(

my test on wd:
[code]

In any case, I would be very grateful if someone suggested to me where to dig further.

[2018-08-28 20:09] christian-bromann commented on #2883
@DudaGod as mentioned in the Gitter channel, this is most likely related to something in Chromedriver. There is nothing I can think of which could fix this in WebdriverIO.

[2018-08-28 20:43] christian-bromann commented on #2052
@guicejas this is not high on my prio list

[2018-08-28 21:08] #2881 closed

[2018-08-28 21:08] #2882 closed

[2018-08-28 21:08] #2880 closed

[2018-08-28 21:08] #2878 closed

[2018-08-28 21:08] #2879 closed

[2018-08-28 21:10] christian-bromann commented on #2868
@BorisOsipov can you elaborate what exactly you are missing in the governance.md?

[2018-08-28 21:19] #2875 closed, assigned to nobody

[2018-08-28 21:24] #2790 closed, assigned to nobody

[2018-08-28 21:26] christian-bromann commented on #2767
I don't think this is necessary. In WebdriverIO you specify your caps as standard JSON format which gets passed over directly to SauceLabs. I don't see any necessaty chances to be done here. The example @abjerstedt provided should do the trick.

[2018-08-28 21:26] #2767 closed

[2018-08-28 21:27] christian-bromann commented on #2715
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the v5 version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-28 21:27] #2715 closed

[2018-08-28 21:27] christian-bromann commented on #2711
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the v5 version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-28 21:32] christian-bromann commented on #2692
@dolezaljan thanks for reporting this issue. We are currently working on releasing a new version (v5) which will make this issue obsolete. In v5 you need to fetch an element first to call specific element methods on them. You the only way you are able to wait until a list of elements will be visible is the following:

[code]

[2018-08-28 21:32] #2692 closed

[2018-08-28 21:32] christian-bromann commented on #2682
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the v5 version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-28 21:32] #2682 closed

[2018-08-28 21:32] christian-bromann commented on #2675
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the v5 version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-28 21:32] #2675 closed

[2018-08-28 21:33] christian-bromann commented on #2612
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the v5 version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-28 21:33] #2612 closed

[2018-08-28 21:35] christian-bromann commented on #2510
Let's get this fixed then before we release it.

[2018-08-28 21:35] christian-bromann commented on #2745
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the v5 version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-28 21:35] #2745 closed

[2018-08-28 21:36] christian-bromann commented on #2046
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the v5 version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-08-28 21:36] #2046 closed

[2018-08-28 21:38] christian-bromann commented on #1643
@monolithed with v5 all reporter live on the test runner process which means that there will be way less rpc calls between runner pids and main process. I wonder what kind of results v5 will have.

[2018-08-28 21:39] christian-bromann commented on #1316
Had a chat with @wswebcreation about this. He is gonna tackle it.

[2018-08-28 21:53] fwouts commented on #2052
Here is a minimal example of a WebdriverIO test written with the Jest framework: https://github.com/zenclabs/webdriverio-jest

Because WebdriverIO doesn't support Jest as a first-class citizen, this test suite leverages the
WebdriverIO remote API. This means that we need to do a few things ourselves, such as starting up
Selenium server as well as the browser. It also means that we must to use `asy

[2018-08-29 06:03] DudaGod commented on #2883
Yeah, that's exactly what I did.
Thank you.

[2018-08-29 07:40] BorisOsipov commented on #2868
Hmm I read again this doc and it is ok.

[2018-08-29 07:57] selvakumar1994 commented on #1172
@christian-bromann  where i added the below script in node js

mochaOpts: {
    timeout: 99999999
}

[2018-08-29 08:19] sirjohannes opened #2886 "Error message when running"
## The problem

When executing npm test from webdriverio-master\examples\pageobject

The following error message is displayed each time:

webdriverio-master\examples\pageobject > ../../packages/wdio-cli/bin/wdio.js ./wdio.conf.js
'..' is not recognized as an internal or external command,
operable program or batch file.

I have not done anything else than downloading the repository.

## Environment

[2018-08-29 11:02] woolter opened #2887 "Links problems new web - MULTIREMOTE init"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/multiremote.html
3. click on "init"

**Expected**
I was not able to find in the documentation

**Actual**
Old page
http://webdriver.io/api/protocol/init.html

[2018-08-29 11:02] woolter opened #2888 "Links problems new web - MULTIREMOTE url"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/multiremote.html
3. click on "url"

**Expected**
Open http://beta.webdriver.io/docs/api/browser/url.html

**Actual**
Old page
http://webdriver.io/api/protocol/url.html

[2018-08-29 11:03] woolter opened #2889 "Update Algolia search after beta website is live"
## The problem
New web perform search in old one

### Steps
1. go to http://beta.webdriver.io/
2. in search write 'url'
3. Make click in  url > Usage

**Expected**
http://beta.webdriver.io/docs/api/browser/url.html

**Actual**
http://webdriver.io/api/protocol/url.html#Usage

[2018-08-29 11:28] christian-bromann commented on #2868
Closing then.

[2018-08-29 11:28] #2868 closed

[2018-08-29 11:29] christian-bromann commented on #1172
in your `wdio.conf.js` as shown in the example

[2018-08-29 11:31] christian-bromann commented on #2886
Make sure you read the [`CONTRIBUTING.md`](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and setup the project.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-08-29 11:31] #2886 closed

[2018-08-29 12:42] woolter opened #2890 "Links problems new web - THE BROWSER OBJECT"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/browserobject.html
3. click on "api"

**Expected**
http://beta.webdriver.io/docs/api.html

**Actual**
http://beta.webdriver.io/api.html

[2018-08-29 12:57] woolter opened #2891 "Links problems new web - TESTRUNNER FRAMEWORKS call"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/frameworks.html#using-mocha
3. click on "call"

**Expected**
http://beta.webdriver.io/docs/api/browser/call.html

**Actual**
http://beta.webdriver.io/api/utility/call.html

[2018-08-29 12:58] woolter opened #2892 "Links problems new web - TESTRUNNER FRAMEWORKS custom commands"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/frameworks.html#using-mocha
3. click on "custom commands"

**Expected**
http://beta.webdriver.io/docs/customcommands.html

**Actual**
http://beta.webdriver.io/guide/usage/customcommands.html

[2018-08-29 12:58] woolter opened #2893 "Links problems new web - TESTRUNNER FRAMEWORKS config file"
Links problems new web - TESTRUNNER FRAMEWORKS config file

## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/frameworks.html#using-cucumber
3. click on "config file"

**Expected**
http://beta.webdriver.io/docs/configurationfile.html

**Actual**
http://beta.webdriver.io/guide/testrunner/configurationfile.html

[2018-08-29 13:04] christian-bromann commented on #2893
@woolter I haven't updated the website but fixed all these errors

[2018-08-29 13:04] #2893 closed

[2018-08-29 13:04] christian-bromann commented on #2892
see https://github.com/webdriverio/webdriverio/issues/2893#issuecomment-416944808

[2018-08-29 13:04] #2892 closed

[2018-08-29 13:04] christian-bromann commented on #2891
https://github.com/webdriverio/webdriverio/issues/2893#issuecomment-416944808

[2018-08-29 13:04] #2891 closed

[2018-08-29 13:06] christian-bromann commented on #2893
Please check again now

[2018-08-29 13:07] christian-bromann commented on #2890
See https://github.com/webdriverio/webdriverio/issues/2893#issuecomment-416944808

[2018-08-29 13:07] christian-bromann commented on #2890
This is actually still valid

[2018-08-29 13:30] woolter opened #2894 "Links problems new web - TIMEOUTS element"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/timeouts.html#session-implicit-wait-timeout
3. click on "element"

**Expected**
I was not able to find it

**Actual**
http://beta.webdriver.io/api/protocol/element.html

[2018-08-29 13:30] woolter opened #2895 "Links problems new web - TIMEOUTS elements"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/timeouts.html#session-implicit-wait-timeout
3. click on "elements"

**Expected**
I was not able to find it

**Actual**
http://beta.webdriver.io/api/protocol/elements.html

[2018-08-29 14:02] woolter opened #2896 "Links problems new web - CUSTOM SERVICES before/after hooks"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/customservices.html
3. click on "before/after hooks "

**Expected**
http://beta.webdriver.io/docs/configurationfile.html

**Actual**
http://beta.webdriver.io/docs/Configurationfile.md

[2018-08-29 14:04] woolter opened #2897 "Links problems new web - CUSTOM SERVICES wdio-sauce-service"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/customservices.html#npm
3. click on "wdio-sauce-service"

**Expected**
https://github.com/webdriverio-boneyard/wdio-sauce-service
Or
https://github.com/webdriverio/webdriverio/tree/master/packages/wdio-sauce-service
I don't know

**Actual**
https://github.com/webdriverio/packages/wdio-sauce-service

[2018-08-29 14:05] woolter opened #2898 "Links problems new web - CUSTOM SERVICES configuration utility"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/customservices.html#npm
3. click on "configuration utility"

**Expected**
I think this is the address
https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cli/src/config.js
but I don't know which are the lines

**Actual**
https://github.com/webdriverio/packages/wdio-cli/src/config.js#L13-L33

[2018-08-29 14:09] woolter opened #2899 "Image problem in new web - ALLURE REPORTER"
## The problem
Image not available

### Steps
1. go to http://beta.webdriver.io/docs/allure-reporter.html

**Expected**
To see an image
**Actual**
screenshot 2016-02-05 10.15.57.png

[2018-08-29 14:38] woolter opened #2900 "Image problem in new web - ALLURE REPORTER"
## The problem
Image not available

### Steps
1. go to http://beta.webdriver.io/docs/allure-reporter.html

**Expected**
To see an image
**Actual**
screenshot 2016-02-05 10.15.57.png

[2018-08-29 14:39] woolter opened #2901 "Links problems new web - CONCISE REPORTER"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/concise-reporter.html#installation
2. click on "here"

**Expected**
http://beta.webdriver.io/docs/gettingstarted.html#download-webdriverio

**Actual**
http://webdriver.io/guide/getstarted/install.html

[2018-08-29 14:39] woolter opened #2902 "Empty page - DOT REPORTER"
## The problem
No description about the reporter

### Steps
1. go to http://beta.webdriver.io/docs/dot-reporter.html

**Expected**
To have information like in old web

**Actual**
no information

[2018-08-29 14:39] woolter opened #2903 "Links problems new web - JUNIT REPORTER here"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/junit-reporter.html#installation
2. click on "here"

**Expected**
http://beta.webdriver.io/docs/gettingstarted.html#download-webdriverio

**Actual**
http://webdriver.io/guide/getstarted/install.html

[2018-08-29 14:40] woolter opened #2904 "Links problems new web - JUNIT REPORTER homepage"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/junit-reporter.html#jenkins-setup
2. click on "homepage"

**Expected**
http://beta.webdriver.io/

**Actual**
http://webdriver.io/

[2018-08-29 14:40] woolter opened #2905 "Links problems new web - SUMOLOGIC REPORTER here"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/sumologic-reporter.html#installation
2. click on "here"

**Expected**
http://beta.webdriver.io/docs/gettingstarted.html#download-webdriverio

**Actual**
http://webdriver.io/guide/getstarted/install.html

[2018-08-29 14:40] woolter opened #2906 "Links problems new web - SUMOLOGIC REPORTER homepage"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/sumologic-reporter.htm
2. click on "homepage"

**Expected**
http://beta.webdriver.io/

**Actual**
http://webdriver.io/

[2018-08-29 14:55] woolter commented on #2890
@christian-bromann  #2891, #2892 and #2893 are working as expected
This one no.

[2018-08-29 16:42] johnrobertallan commented on #2876
both the browser and the driver are up to date, latest.

[2018-08-29 17:00] woolter opened #2907 "Image problem in new web - APPLITOOLS SERVICE image"
## The problem
Image not available

### Steps
1. go to http://beta.webdriver.io/docs/applitools-service.html#usage

**Expected**
To see an image

[2018-08-29 17:00] woolter opened #2908 "Links problems new web - APPLITOOLS SERVICE link"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/applitools-service.html
2. click on "here"

**Expected**
http://beta.webdriver.io/docs/gettingstarted.html#download-webdriverio

**Actual**
http://webdriver.io/guide/getstarted/install.html

[2018-08-29 17:09] woolter opened #2909 "Links problems new web - DEVTOOLS SERVICE homepage"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/devtools-service.html#via-event-listener
2. click on "homepage"

**Expected**
http://beta.webdriver.io/

**Actual**
http://webdriver.io/

[2018-08-29 17:10] woolter opened #2910 "Links problems new web - DEVTOOLS SERVICE here"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/devtools-service.html#installation
2. click on "here"

**Expected**
http://beta.webdriver.io/docs/gettingstarted.html#download-webdriverio

**Actual**
http://webdriver.io/guide/getstarted/install.html

[2018-08-29 17:11] christian-bromann commented on #2876
Without a reproducible example there is nothing I can do here. This issue is most likely located in the driver.

[2018-08-29 17:17] woolter opened #2911 "Links problems new web - FIREFOX PROFILE SERVICE wdio testrunner"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/firefox-profile-service.html
2. click on "wdio testrunner"

**Expected**
http://beta.webdriver.io/docs/clioptions.html

**Actual**
http://webdriver.io/guide/testrunner/gettingstarted.html

[2018-08-29 17:18] woolter opened #2912 "Links problems new web - FIREFOX PROFILE SERVICE here"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/firefox-profile-service.html#installation
2. click on "here"

**Expected**
http://beta.webdriver.io/docs/gettingstarted.html#download-webdriverio

**Actual**
http://webdriver.io/guide/getstarted/install.html

[2018-08-29 17:28] woolter opened #2913 "Links problems new web - SELENIUM STANDALONE SERVICE wdio testrunner"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/selenium-standalone-service.html
2. click on "WDIO testrunner"

**Expected**
http://beta.webdriver.io/docs/clioptions.html

**Actual**
http://webdriver.io/guide/testrunner/gettingstarted.html

[2018-08-29 17:28] woolter opened #2914 "Links problems new web - SELENIUM STANDALONE SERVICE here"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/selenium-standalone-service.html#installation
2. click on "here"

**Expected**
http://beta.webdriver.io/docs/gettingstarted.html#download-webdriverio

**Actual**
http://webdriver.io/guide/getstarted/install.html

[2018-08-29 17:28] woolter opened #2915 "Links problems new web - SELENIUM STANDALONE SERVICE homepage"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/selenium-standalone-service.html#seleniuminstallargs
2. click on "homepage"

**Expected**
http://beta.webdriver.io/

**Actual**
http://webdriver.io/

[2018-08-29 19:38] ringods commented on #2745
@christian-bromann any ETA you have in mind for v5?

[2018-08-29 20:10] christian-bromann commented on #2745
Soon 😉

[2018-08-29 21:15] christian-bromann commented on #2915
This is fine. Once we deploy the page to the webdriver.io domain this is fixed. No need to implement like link fixing functions for the beta page.

[2018-08-29 21:15] #2915 closed

[2018-08-29 21:17] christian-bromann commented on #2913
Fixed.

[2018-08-29 21:17] #2913 closed

[2018-08-29 21:18] christian-bromann commented on #2912
Fixed.

[2018-08-29 21:18] #2912 closed

[2018-08-29 21:18] christian-bromann commented on #2911
Fixed.

[2018-08-29 21:18] #2911 closed

[2018-08-29 21:19] christian-bromann commented on #2910
Fixed.

[2018-08-29 21:19] #2910 closed

[2018-08-29 21:19] christian-bromann commented on #2909
Again, this link will work once we moved the page from the sub domain to the main domain.

[2018-08-29 21:19] #2909 closed

[2018-08-29 21:40] abjerstedt commented on #2571
@treyturner I just validated that this is no longer an issue in v5.0.0-beta.0. An element has context of its parent via the parent.element node.

$('#a').$('#b').$('#c') would look something like
Element {
 ELEMENT: '0.222222222222',
 selector: '#c',
 parent: {
  Element {
   ELEMENT: '0.23333333333',
   selector: '#b',
   parent:
    Element {
      ELEMENT: '0.2444444444',
      selector: '#a'

[2018-08-29 22:11] #2890 closed

[2018-08-29 22:13] christian-bromann commented on #2906
Once we moved the page to the main domain, this will be fixed.

[2018-08-29 22:13] #2906 closed

[2018-08-29 22:14] christian-bromann commented on #2905
Once we moved the page to the real domain this will be fixed.

[2018-08-29 22:14] #2905 closed

[2018-08-29 22:14] christian-bromann commented on #2904
Once we moved the page to the real domain this will be fixed.

[2018-08-29 22:14] #2904 closed

[2018-08-29 22:14] christian-bromann commented on #2903
Fixed.

[2018-08-29 22:14] #2903 closed

[2018-08-29 22:19] #2902 closed

[2018-08-29 22:19] christian-bromann commented on #2901
Fixed.

[2018-08-29 22:19] #2901 closed

[2018-08-29 22:26] #2898 closed

[2018-08-29 22:27] christian-bromann commented on #2897
Fixed.

[2018-08-29 22:27] #2897 closed

[2018-08-29 22:28] #2896 closed

[2018-08-29 22:31] #2895 closed

[2018-08-29 22:31] christian-bromann commented on #2894
Fixed.

[2018-08-29 22:31] #2894 closed

[2018-08-29 22:46] #2888 closed

[2018-08-29 22:46] christian-bromann commented on #2887
Fixed.

[2018-08-29 22:46] #2887 closed

[2018-08-29 22:54] christian-bromann commented on #2571
Closing this then. Thanks for checking @abjerstedt

[2018-08-29 22:54] #2571 closed

[2018-08-30 01:24] rycornell opened #2916 "Unable to access shared tunnel when running tests on SauceLabs"
## The problem

I'm unable to get my wdio tests to connect to a shared tunnel on SauceLabs.  Here are the relevant config options I'm using (I'm using TypeScript):

    sauceConnect: false,
    desiredCapabilities: {
      browserName: 'chrome',
      tunnelIdentifier: 'myTunnel',
      parentTunnel: 'myUserName'
    }

The `tunnelIdentifier` and `parentTunnel` options are described in the SauceLa

[2018-08-30 07:05] woolter commented on #2905
@christian-bromann we need to reopen this.

**Actual:**
http://webdriver.io/docs/gettingstarted.html

[2018-08-30 07:11] woolter commented on #2890
@christian-bromann we need to reopen

**Actual:**
http://beta.webdriver.io/docs/api

**Expected:**
http://beta.webdriver.io/docs/api.html

[2018-08-30 08:13] christian-bromann commented on #2905
Why? The page is currently deployed on a temporary subdomain. Once we release v5 we will move the page to `https://webdriver.io` where all these links will work.

[2018-08-30 08:50] christian-bromann opened #2917 "Runner to closing gracefully"
## The problem

If the testrunner is stopped by pressing CTRL-C the whole process just shuts down. It should actually try to close all WebDriver sessions first and only if the user presses CTRL-C again exit the process.

## Environment

* WebdriverIO version: 5
* Node.js version: any
* Standalone mode or WDIO Testrunner: wdio testrunner
* if wdio testrunner, running synchronous or asynchronous tes

[2018-08-30 11:59] rycornell commented on #2916
Not sure if this is a bug or an oversight in the documentation, but when I changed it from `desiredCapabilities` to `capabilities` it worked!

    capabilities: [
        {
          browserName: "chrome",
          tunnelIdentifier: "myTunnel"
        }
    ]

[2018-08-30 11:59] #2916 closed

[2018-08-30 12:28] woolter commented on #2905
Ok! I thought that needs to works like the others links.

[2018-08-30 13:26] MartinX3 commented on #1140
Same issue here.
Selenium Server 3.14.0
Chromedriver 2.41

[2018-08-30 22:18] halkeye opened #2919 "wdio-cli latest release missing build directory (Mostly a FYI, alpha is fine)"
## The problem

When trying out the new wdio-cli@latest (5.0.0-alpha.7) package, i noticed it complains about loading ../build

## Code To Reproduce Issue [ Good To Have ]
[code]

[code]

Note: Alpha and beta are fine, just scarier titles

$ npm info wdio-cli@alpha dist.tarball | xargs curl -qs | tar tvzf -
-rw-r--r-- 0/0            1448 1985-10-26 01:15 package/package.json
-rw-r--r-- 0/0

[2018-08-30 22:31] christian-bromann commented on #2919
Just released a version with `@next` tag. This should fix the issue. Thanks for reporting.

[2018-08-30 22:31] #2919 closed

[2018-08-31 03:04] tyler-tanliang commented on #2829
When I used the latest version about WDIO 4.13.2 with IEDriver version 3.13.
It can work well now.

[2018-08-31 11:34] BelovAleksey opened #2921 "[safari] waitForVisible() does not work in some cases"
## Environment

* "webdriverio": "4.13.1"
* node: v10.9.0
* selenium-server-standalone-3.14.0
* safari Version 11.1.2 (13605.3.8)

## Details

Use next command browser.waitForVisible('//div[text()="Steve Smith", 20000) and it return next Error
element ("//div[text()='Steve Smith']") still not visible after 20000ms
When I launch this code using chromedriver at the same selenium standalone it work w

[2018-08-31 15:17] mharrell commented on #2843
@breinjhel
Any updates on this? I'm in the exact same position and this functionality would be super helpful!

[2018-08-31 15:32] smccarthy commented on #2767
I was unable to get this to work with Webdriver.IO as-is. I am on webdriver.io 4.13.2 . I was able to get around it by modifying my webdriverio in my node_modules : https://gist.github.com/smccarthy/8579f774ea14a6296c5e6d9224ce7dfb . This is obviously just a hack, but one thing to point out is `rotatable: true` will cause it to fail since its not a W3C spec. I am not sure of the others, but I remo

[2018-09-02 14:28] #2860 closed

[2018-09-02 14:43] smccarthy commented on #2767
Thanks for re-opening. I’ll try and work together a PR in the next couple of days.

[2018-09-03 07:52] kunwardeep commented on #2618
wdio.config

[code]

docker-compose.yml
[code]

Dockerfile
[code]
Run docker file
[code]

[2018-09-03 12:59] woolter opened #2924 "Links problems new web - API DOCS element"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/api.html#element-as-first-class-citizen
2. click on "element"

**Expected**
http://beta.webdriver.io/docs/api/webdriver.html#findelement
change "element" by "findElement"

**Actual**
http://beta.webdriver.io/api/protocol/element.html

[2018-09-03 12:59] woolter opened #2925 "Links problems new web - API DOCS contribute"
## The problem
Wrong links in new web

### Steps
1. go to http://beta.webdriver.io/docs/api.html#element-as-first-class-citizen
2. click on "element"

**Expected**
https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md
I think in the new page we don't have contribute in main nav, this is a reference to github

**Actual**
http://beta.webdriver.io/contribute.html

[2018-09-03 12:59] woolter opened #2926 "Doubt about documentation - SWITCHWINDOW"
## The problem
I don't know if it's a problem

### Steps
1. go to http://beta.webdriver.io/docs/api/browser/switchWindow.html
2. See Usage and Parameters, "urlOrTitleToMatch"

**Doubt**
is the documentation ok?, Am I giving the order to move to other window?

[2018-09-03 13:00] woolter opened #2927 "Doubt about $ and $$ - browser and element"
## The problem
I don't know if have the same information in different urls is ok.

### Steps
1. go to http://beta.webdriver.io/docs/api/browser/$$.html
2. In other tab go to http://beta.webdriver.io/docs/api/element/$$.html

**Doubt**
is the documentation ok?, we need to have the same information in booths?

NOTE: the same for $

[2018-09-03 13:00] woolter opened #2928 "Doubt command as link or code - example with $ and findElement"
## The problem
In other bug this was changed this is the reason of my question

### Steps
1. go to http://beta.webdriver.io/docs/api/browser/$.html

The $ command is a short way to call the findElement command in order to fetch a single element on the page.

**Doubt**
$ is in code format
findElement is in link format

Do we have any reason to have in this way?

[2018-09-03 22:10] christian-bromann commented on #2928
Not sure what the issue here is. I just linked the `findElement` command. This is on purpose.

[2018-09-03 22:10] #2928 closed

[2018-09-03 22:18] #2927 closed

[2018-09-03 22:27] #2924 closed

[2018-09-04 02:32] diachedelic commented on #2508
Do you mean test it with v5 beta?

[2018-09-04 08:14] christian-bromann commented on #2508
@diachedelic yes

[2018-09-04 09:30] christian-bromann commented on #1796
This will be fixed with v5. Note that custom commands are only applied for an element prototype. If you query a new element that command won't be available there, e.g.:

[code]

I think this makes most sense. Closing.

[2018-09-04 09:30] #1796 closed

[2018-09-04 16:41] diego-fernandez-santos commented on #2858
I send you an extended version. This version has support to chain commands and also make easier the interaction with shadow elements through a new function (shadowExecute).

In the repository there are two samples:

- The first one (test1) add two new functions (shadowElement and shadowExecute) but not overwrite the existing element wdio command so the use of other wdio functions is little more co

[2018-09-05 01:51] bitquality opened #2934 "How to run Selenium WebDriver test cases from an angular web app using TypeScript"
## The problem

I want to run selenium tests from an angular web app. We developed a web Test Reporting tool and want to integrate running selenium tests from it. when i use the browser object from webdriverio or protractor in my TypeScript project it gives me browser object not found error .

Does webDriverIO supports running selenium tests from a web app ? Do we still need jar files ?

## Enviro

[2018-09-05 08:29] christian-bromann commented on #2934
Currently WebdriverIO tests can only be run from Node.js. However I know people already working on tweaking the WebDriverRequestHandler to work on the browser so this will be eventually be supported.

That being said, I am not sure why you want to run your WebDriver tests from an web app. What you can do is to build a Node.js service that can kick of a test when you send a request to it from an an

[2018-09-05 08:29] #2934 closed

[2018-09-05 19:51] sujayvenaik opened #2939 "Documentation Links are broken"
## The problem
Links are broken in the documentation
eg: http://webdriver.io/api/action/middleClick.html

The top buttons : source and imrpove this doc

## Code To Reproduce Issue [ Good To Have ]

Go to : http://webdriver.io/api/action/middleClick.html

[2018-09-05 20:10] sujayvenaik commented on #1964
Hey, @christian-bromann
Still facing this issue, middleClick() api doesn't seem to work

[2018-09-05 20:10] da70 commented on #2094
This bug is actually still an issue in webdriverio.
Note there is a subtle difference between the base URL used by @re-fort and that used by @edwardspec.  @re-fort's base URL has a trailing slash: 'http://example.com/a/b/'.  @edwardspec's does not have a trailing slash: 'http://example.com/a/b'.  In fact, this removal of the trailing slash is necessary to produce the desired result.  The removal o

[2018-09-05 22:13] christian-bromann commented on #2939
@sujayvenaik thanks for reporting. We are about to launch the [beta page](http://beta.webdriver.io/) which has this issue fixed.

[2018-09-05 22:13] #2939 closed

[2018-09-05 22:14] christian-bromann commented on #1964
@sujayvenaik this is probably because the driver you are running doesn't support it.

[2018-09-05 23:53] bitquality commented on #2934
Thanks for your reply christian. How does SeleniumIDE does this when it playback recordings from chrome or firefox browser extension ?

[2018-09-06 05:25] andela-gike opened #2941 "popup"
## The problem

Briefly describe the issue you are experiencing (or the feature you want to see added to WebdriverIO). Tell us what you were trying to do and what happened instead. Remember, this is _not_ a place to ask questions. For that, join the Gitter chat room ([![Gitter](https://badges.gitter.im/Join Chat.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_

[2018-09-06 05:25] #2941 closed, assigned to nobody

[2018-09-06 16:59] xcao-riffyn opened #2942 "404 on the 'View Source' button of the chooseFile API document page"
## The problem

I was trying to view source on the http://webdriver.io/api/utility/chooseFile.html page. The page is linked to https://github.com/webdriverio/webdriverio/blob/master/lib/commands/chooseFile.js which led to a 404

## Environment

http://webdriver.io/api/utility/chooseFile.html

[2018-09-06 17:52] #2942 closed

[2018-09-06 17:54] caoxu2000 commented on #2942
The view source links on wdio site should point the v4 branch rather than master which is currently gone through transition to v5, I think. So close this to not distract the team for this small issue

[2018-09-07 12:27] christian-bromann commented on #2917
This happens because we fork the process with the silence flag. I can fix this as part of #2871

[2018-09-07 14:51] dylang opened #2943 "v5 - changelog, upgrade instructions, ready for tickets?"
## The problem

Hi! I'm new to webdriverio, and since I kept running in to issues that tickets said would be fixed in `v5`, I decided to give the `beta` a try. Exciting, I love the monorepo, the code seems a lot cleaner and easier to follow, and much more modern.

I'm not sure if you are ready for bugs, PR's, feature requests, etc for v5.

To close this ticket we just need some guidance with how y

[2018-09-07 15:12] christian-bromann commented on #2943
Yes, with #2862 I am creating a script that should auto generate these type definitions. I am not an typescript expert so I will definitely need some help validating the result. You can also pick this task up, just let me know in the PR.

True. I haven't actually thought about this. I guess it is impossible anyway to migrate and run v4 and v5 tests in the same repo anyway. What would you suggest.

[2018-09-07 15:47] MethodGrab commented on #1079
Try using lowercase 'a':
[code]

[2018-09-07 15:48] dylang commented on #2943
Thanks @christian-bromann!

Amazing! I'm new to Typescript as well, I'm using it to learn new libraries faster and write code with fewer bugs. It's been great, except supporting both `sync` and `async` api's in the **same** type definition kinda hampered some of the helpfulness because Typescript can't tell me what's a promise and what's value because everything can be both.

I agree controlling s

[2018-09-07 15:59] christian-bromann commented on #2943
I don't think this is a good idea. In general I would like to advocate that it is always better to use sync because it is (especially now with v5) literally just removing the await in front of the command which makes the code so much easier to read.

That would be indeed an issue. I guess we can tweak the stack trace that it reports correctly.

For this we actually implemented a retry mechanism. S

[2018-09-07 17:05] dylang commented on #2943
Interesting. I thought fibers were a hack in node. I agree it's easier to read. I think the v4 remote api was async-only. A team here using Cucumber required us to only use async so we can share our page objects.

What about `webdriverio-async`?

Nice! Would that include retrying parent selectors? Example:

[code]

[2018-09-10 11:52] kimek commented on #1658
Copy of https://github.com/webdriverio/webdriverio/issues/837

[2018-09-10 11:55] kimek commented on #1015
Refer to https://github.com/webdriverio/webdriverio/issues/837

[2018-09-10 13:01] kimek commented on #837
As I understand sending header "Authorization: Basic QWxhZGRpbjpPcGVuU2VzYW1l" where QWxhZGRpbjpPcGVuU2VzYW1l is user:password in base64 encode should be enough.
According to webdriver.io you can send header using config : http://webdriver.io/guide/getstarted/configuration.html#heade
I'm testing this now and I'll update this comment when I will gain access..

[2018-09-10 14:28] kimek commented on #837
@christian-bromann  are you aware how to access to browser profile using webdriver.io ?
Plan is to follow https://eveningsamurai.wordpress.com/2013/11/21/changing-http-headers-for-a-selenium-webdriver-request/ ( use firefox header extension with basic auth headers ).
As I've seen we can use http://webdriver.io/guide/services/firefox-profile.html to load header extension, however I'm stuck with acc

[2018-09-10 14:36] christian-bromann commented on #837
@kimek see http://webdriver.io/guide/services/firefox-profile.html#Options

[2018-09-10 20:55] pmerwin opened #2949 "browser.addCommand fails when using mutliremote"
## The problem

using browser.addcommand() with a multi-remote config is failing

## Environment

* WebdriverIO version: v5.0.0-beta.2
* Node.js version: 8.10
* Standalone mode or WDIO Testrunner: either
* if wdio testrunner, running synchronous or asynchronous tests: sync
* Additional wdio packages used (if applicable):

## Details

## Link to Selenium/WebdriverIO logs

2018-09-10T20:53:29.415Z E

[2018-09-11 04:57] aamorozov opened #2950 "ECONNREFUSED 0.0.0.0:4444 from remote and multiremote examples"
## The problem
To replicate
1. `yarn add webdriverio@next` or `npm i webdriverio@next`
2. copy example into index.js
3. run `node index.js`

## Environment

* WebdriverIO version: 5.0.0-beta.2
* Node.js version: v10.10.0
* Standalone mode or WDIO Testrunner: Standalone
* if wdio testrunner, running synchronous or asynchronous tests: -
* Additional wdio packages used (if applicable): -
* MacOS High

[2018-09-11 08:27] christian-bromann commented on #2950
@aamorozov as with all examples you need to have a browser driver running on port 4444. Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-09-11 08:27] #2950 closed

[2018-09-11 11:20] cagabi opened #2951 "Font color and weight in website makes it difficult to read"
## The problem

Not a very techy issue, I find very difficult your choice of colors: grey font over white background makes it painful to read even for me that have not got eye issues.

Cheers

[2018-09-11 12:31] christian-bromann commented on #2951
@cagabi how about the "new" website?

[2018-09-11 12:33] aamorozov commented on #2950
@christian-bromann Would it be beneficial to document it for the new api version?

[2018-09-11 12:42] cagabi commented on #2951
Oh cool, much better

[2018-09-11 12:42] #2951 closed

[2018-09-11 17:53] christian-bromann commented on #2863
@goofballLogic any updates on this?

[2018-09-11 17:56] christian-bromann commented on #2863
Closing due #2872

[2018-09-11 17:56] #2863 closed

[2018-09-11 17:57] christian-bromann commented on #2872
@goofballLogic any updates on this?

[2018-09-11 18:57] goofballLogic commented on #2872
@christian-bromann Although I expected to complete this within a few weeks, unfortunately, I've had no availability at all.
This month looks unlikely to deliver anything. Next month may be kinder. If someone else wants to take over I'll understand.

[2018-09-12 00:04] kunwardeep commented on #2843
I run a visual testing check in the afterTest hook. I want the test to fail if my visual comparison fails. It is counter-intuitive to add an additional function call to each test to run this test. I wanted to do this in the afterTest hook. Looks like it hasn't been implemented yet :(

[2018-09-12 00:48] kunwardeep commented on #2843
I believe this functionality is there in mocha itself as pointed here
https://github.com/mochajs/mocha/wiki/HOW-TO:-Conditionally-fail-a-test-after-completion

[2018-09-12 14:10] AndyGee opened #2952 "Nice to have - Add the current version to the readme.md"
Nice to have - Add the current version to the readme.md.

[2018-09-12 18:10] goofballLogic commented on #2872
@christian-bromann if I can squeeze in some time for this sooner is there still interest in having it done? I don't see it on the project board any more, but it's been a while since I checked.

[2018-09-12 18:43] christian-bromann commented on #2872
Absolutely! I am fine releasing without Cucumber for the time being. Once the release is done I can also help you out.

[2018-09-12 21:58] mikesalvia commented on #2872
I have lots of interest! To the extent that I would be cool with helping deliver the feature!

[2018-09-12 22:41] emilyrohrbough commented on #2952
Add something like:
[code]

[2018-09-12 22:49] emilyrohrbough commented on #2865
Can we have an opt-in logging config option if this is implemented? There are a few instances where this is pretty useful. For example:

- New selenium session failed - This one **could be** indicated by webdriver.io,  though I wouldn't say is webdriver.io's responsibility. We have experienced selenium-grid timeout issues and the stack track as confirmed the issue wasn't test or webdriver.io confi

[2018-09-12 22:55] emilyrohrbough commented on #2870
https://www.w3.org/TR/webdriver1/#capabilities

[2018-09-12 23:08] emilyrohrbough commented on #1643
Has there been any investigation in spawning a single child process for a single test run instead of each test file? This would remove the load on the selenium grid request by establishing a session once per instance per webdriver.io run and improve stability in CI/CD setups. Or what is the reasoning/benefit of establishing a new session per test file?

One thing we have found is enabling maxInsta

[2018-09-13 17:11] funky17 opened #2953 "Error while running tests with Allure reporter"
## The problem

I am using webdrierio, mocha and allure reporter

wdio.conf.js

reporters: ['spec', 'allure'],
    reporterOptions: {
        allure: {
            outputDir: 'allure-results'
        }
},
afterTest: function(test) {
        // if test passed then ignore, else capture screenshot.
        if (test.passed) {
            return;
        } else {
            try {
                brows

[2018-09-13 17:56] goatsy opened #2954 "Rest-API status session is always green/passed when mochaOpt settings bail: "true""
## The problem

I have mentioned this already at https://github.com/itszero/wdio-browserstack-service/issues/24 but now I found out that in SauceLabs Service the same problem occurs.
If you have several tests and one fails with `bailing: true` in mochaOpts and `bail: 1` in the config the session is marked as "passed" on Browserstack/SauceLabs

## Environment

* WebdriverIO version: v4.11
* Node.js

[2018-09-13 18:37] pmerwin commented on #2954
Thanks for opening this!  I am seeing this issue too, and would love to help get it fixed.

[2018-09-14 15:00] DaveWelling commented on #686
I was hitting this problem because the React rendering cycle wasn't fast enough.  I would just get the first character.
Keys (as in the example workaround) doesn't seem to be supported anymore by webdriver.  So here was my solution:
`function sendInput(selector, inputString, keyIndex = 0) {
    browser.addValue(selector, inputString.substr(keyIndex, 1));
    browser.waitUntil(() => {
        let v

[2018-09-14 15:13] dylang opened #2955 "v5: using await in a test undoes wdio-sync, commands return promises instead of values"
## The problem

Once we add any `await`'s, `browser` returns promises instead of values.

## Environment

* WebdriverIO version: `5.0.0-beta.2`
* Node.js version: `10`
* Standalone mode or WDIO Testrunner:  `WDIO testrunner but standalone-style?`
[code]
* if wdio testrunner, running synchronous or asynchronous tests: `sync`
* Additional wdio packages used (if applicable): `spec` reporter

## Detai

[2018-09-14 15:18] BorisOsipov commented on #2953
You may try to add screens manually
[code]

[2018-09-14 15:19] BorisOsipov commented on #2953
@christian-bromann can you please move this to https://github.com/webdriverio-boneyard/wdio-allure-reporter?

[2018-09-14 15:26] dylang opened #2956 "v5: spec reporter caches output until completion, making repl impossible"
## The problem

I'm trying to see what's happening *while* tests are running. `console.log`, `beforeCommand`, and `browser.debug` all seem to be hidden by either Mocha or the `spec` reporter until the test is complete. This makes logging what selectors the browser is actively waiting for or using the repl impossible.

## Environment

* WebdriverIO version: `5.0.0-beta.2`
* Node.js version: `10`
*

[2018-09-14 16:34] dylang commented on #2955
Thanks for the quick and helpful reply @BorisOsipov!

It's unfortunate this is still necessary in `v5`.

[2018-09-14 17:57] funky17 commented on #2953
@BorisOsipov : I implemented like below:

    browser.saveScreenshot(filePath);
    const png = fs.readFileSync(filePath, 'base64');
    reporter.createAttachment(fileName, png, 'image/png');

I am still getting the same error
[allure-js-commons: Unexpected endStep(). There are no any steps running]

Am I missing something?

[2018-09-14 18:41] Gary-Osteen-Q2 commented on #2594
@jasonk Have you tried the code I posted above?

[2018-09-14 20:00] BorisOsipov commented on #2953
@funky17

no, looks good. I will go deeper and see what we can do.

[2018-09-14 20:01] BorisOsipov commented on #2955
@christian-bromann were there plans to change it in v5?

[2018-09-14 21:49] funky17 commented on #2953
@BorisOsipov : Thanks! keep me posted!

[2018-09-15 04:08] piotr-s-brainhub commented on #2767
@smccarthy

thanks for your help 🍔
could you give some info about your progress?

[2018-09-15 09:29] christian-bromann commented on #2956
Duplicate of #2871

[2018-09-15 09:29] #2956 closed

[2018-09-15 21:35] smccarthy commented on #2767
@piotr-s-brainhub I talked with Christian, and he said v5 already has this capability, so I didn't want to spend extra time fixing v4. You are free to use my gist I posted to make a PR if you like though.

[2018-09-18 08:40] AnnikaNissen commented on #974
I thought, that I experience the same bug using WebdriverIO 4.13.2, but after some debugging, it turned out that this seems to be a **raise-condition that occurs when the `waitFor`-timeout is equal (or shorter) then the implicit-wait timeout. When the `waitFor`-timeout is bigger then the implicit-wait timeout, everything works as expected.**

**Case: waitFor-timeout equals implicit-wait, element i

[2018-09-18 08:44] christian-bromann commented on #974
I think this is the problem that needs to be fixed. If the element is not found the `isVisible()` command should return false.

[2018-09-18 09:11] AnnikaNissen commented on #974
@christian-bromann

It does! The problem, in my opinion, is, that the implicit-wait causes `browser.element()` to wait up to Xms, so that the correct value for `isVisible()` isn't returned before the timeout for `waitForVisible('selector', undefined, true)` is exceeded.

[2018-09-18 10:03] christian-bromann commented on #974
Why do you use implicit timeouts anyway? It should be either set to `0` or not changed at all. Their usage is kind of not recommended.

[2018-09-18 10:16] AnnikaNissen commented on #974
I can't remember why I added the implicit timeout. Probably because the auto-waiting-behaviour sounds cool in the first place ;-).
I will probably re-evaluate the use of implicit timeouts after today and see what it means to my tests.

[2018-09-18 12:21] Bamieh opened #2959 "Integrate typescript definitions in the project"
To keep the typescript definition upto date, it would be nice to have them in the project instead of installing them separately.

Many projects are doing this now ([winston](https://github.com/winstonjs/winston) for example), it is much easier to maintain and this feature is important for all javascript users regardless whether they are using typescript or not, since vs code and sublime read the t

[2018-09-18 14:48] christian-bromann commented on #2959
@Bamieh I already started implementing a [generator script](https://github.com/webdriverio/webdriverio/pull/2862) for all typescript definitions. I absolutely agree with you that having this within the project would be better than having to copy paste it to the definitely typed repo where someone else has to review it.

Can you elaborate on how winston pushes its type definitions to NPM and how it

[2018-09-18 14:50] christian-bromann commented on #2959
I guess this describes it pretty much https://github.com/DefinitelyTyped/DefinitelyTyped/issues/20418#issuecomment-399531344 .. awesome, we will do it this way for sure!

[2018-09-18 14:50] #2959 closed

[2018-09-18 15:50] kimek opened #2960 "selenium-standalone 6.15.3 + webdriver.io 4.13.0"
## The problem

Webdriver cannot run tests. Chrome is opening and stack on ;data in address bar.

## Environment

* WebdriverIO version: 4.13.0
* Node.js version: 5.0.3
* Standalone mode or WDIO Testrunner: Standalone mode
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Additional wdio packages used (if applicable):
    "wdio-allure-reporter": "0.1.3",
    "wdio-brow

[2018-09-18 16:48] christian-bromann commented on #2960
This is not an issue with WebdriverIO. It is probably an inoperability between Chrome and Chromedriver. It could be that the `wdio-selenium-standalone-service` installs the wrong versions or something else. Without any reproducible example it is impossible to say more details. Therefor closing this issue.

[2018-09-18 16:48] #2960 closed

[2018-09-18 22:27] christian-bromann commented on #2594
I can confirm that this issue does not exist anymore in v5. Closing.

[2018-09-18 22:27] #2594 closed

[2018-09-18 22:29] christian-bromann commented on #2943
Yes.

@dylang anything else to answer? Happy to do this also on the Gitter support channel.

[2018-09-18 22:33] christian-bromann commented on #2847
This will be covered in #2862

[2018-09-18 22:33] #2847 closed

[2018-09-18 22:34] christian-bromann commented on #2836
This will be covered in #2862

[2018-09-18 22:34] #2836 closed

[2018-09-18 22:35] christian-bromann commented on #2834
@AbinashB sorry I can not see how this is related to WebdriverIO. It seems like this issue is due to a problem in the Appium setup. Happy to reopen if this turns out to be an actual problem within WebdriverIO.

[2018-09-18 22:35] #2834 closed

[2018-09-18 22:37] christian-bromann commented on #2403
Closing this. Thank you very much all for your feedback and input. If you have any other feature request, just create a normal issue on GitHub. Thank you!

[2018-09-18 22:37] #2403 closed

[2018-09-18 22:43] christian-bromann commented on #1014
This has been hanging around for a while so I will close it. With v5 we don't do this kind of element selection anyway. If you want to interact with an element you need to fetch it and do something with it. There will be no
[code]
you will need to do:
[code]

[2018-09-18 22:43] #1014 closed

[2018-09-18 22:45] christian-bromann commented on #2949
Duplicate of #2073

[2018-09-18 22:45] #2949 closed

[2018-09-19 06:18] gurunanakdevji opened #2961 "WebdriverIO (reporters: ['multiple-cucumber-html'])- JSON file created during cucumber feature file execution is having duplicate scenario names, and the duplicate scenario names are nothing but the name of last scenario executed in the feature file."
## The problem
JSON file created during cucumber feature file execution is having duplicate scenario names, and the duplicate scenario names are nothing but the name of last scenario executed in the feature file.

This issue is related to JSON file created by wdio which is being used to create html reports as per below Test Runner setting in STEP 1. Project is cucumber boiler plate project taken f

[2018-09-19 08:13] wswebcreation commented on #2961
Hi @gurunanakdevji

I don't think this is a problem related to webdriver.io, but with the dependencies that are used. I'm trying to figure this out today, will keep you updated

[2018-09-19 09:29] gurunanakdevji commented on #2961
In package.json the entry is:

"wdio-cucumber-framework": "^2.2.2",

In package-lock.json, the entry is:

"wdio-cucumber-framework": {
      "version": "2.2.2",
      "resolved": "https://artifactory.service.anz/artifactory/api/npm/markets-npm/wdio-cucumber-framework/-/wdio-cucumber-framework-2.2.2.tgz",
      "integrity": "sha1-E3U40xs9B9aIPWdtqnRlFEGzFjk=",
      "dev": true,
      "requires": {

[2018-09-19 09:51] wswebcreation commented on #2961
@gurunanakdevji

Then please update to `2.2.7` and try again.  If that doesn't work please file an issue to my project on https://github.com/wswebcreation/wdio-multiple-cucumber-html-reporter

[2018-09-19 15:06] ckurban commented on #2252
@Chaoste I have tried above written solution and I got:
`ERROR: [browserstack.local] is set to true but local testing through BrowserStack is not connected.`

Any idea ?

[2018-09-19 18:06] patthiel commented on #2876
@johnrobertallan We ran into this as well on our ReactJS app. Turns out, we were re-rendering the component on each key press. Copy+Pasting a value doesn't reproduce the issue, but typing a bunch of values in the text field did. Selenium tests reproduced it because the driver sends each key to the text field / input individually.

Example: "Text" gets transformed into ["T","e","x"t"] and each entr

[2018-09-19 23:47] johnrobertallan commented on #2876
Thanks @patthiel  but I that wasn't my situation. Anyway I never figured it out but it seems to have resolved itself. Very strange. Anyway I am closing the issue.

[2018-09-19 23:47] #2876 closed

[2018-09-20 06:06] treyturner commented on #2510
I'm having a hard time figuring out if this is the issue I'm suffering, or if it's something else entirely. In `5.0.0-beta.2`:
[code]
So I'm wildly lost now; it seems like `isExisting()` is returning an incorrect response, and `isVisible()` seems to be searching from a higher scope and building an array, which seems doubly wrong since that getter returns `$` as opposed to `$$`:
[code]
Nevertheless

[2018-09-20 18:17] burg opened #2962 "Move away from calling Element Is Displayed endpoint for W3C-compliant drivers"
## The problem

WebDriverIO currently expects to be able to use the endpoint GET /session/:sessionId/element/:elementId/displayed with W3C-compliant drivers. As this endpoint is not defined in the W3C specification, this is an invalid assumption. As a result, the request will return a 404. This is a serious functionality regression from non-W3C drivers.

The Selenium project has taken the approach

[2018-09-20 18:52] christian-bromann commented on #2962
Thanks for notifying. I wasn't aware of this.

[2018-09-21 07:04] kunwardeep commented on #2606
This would have been really useful :(.

[2018-09-21 07:08] kunwardeep commented on #2606
@mhardin Did you find a solution?

[2018-09-21 14:10] christian-bromann opened #2963 "Fetch element by JS function"
## The problem

Sometimes given selector strategies won't work and you need to use some JS to fetch an element. You can already use that via `browser.execute` in v4 today. However it won't convert that element into an element object.

## Proposal

Allow to pass in a function to the `$` and `$$` commands which will fetch an element and wrap it into an element object.

[2018-09-23 14:27] saikrishna321 opened #2964 "[devtools] : UnhandledPromiseRejectionWarning: Error: connect ECONNREFUSED 127.0.0.1:9222"
## The problem

I tried to use devtools service and figured out the remote-debugging-port is defaulted to 0 which was supposed to be 9222 or configurable

## Environment

* WebdriverIO version: 5.0.0.beta2 and ^4.13.2
* Node.js version: 10.0.0
* Standalone mode or WDIO Testrunner: WDIO Runner
* if wdio testrunner, running synchronous or asynchronous tests:asynchronous
* Additional wdio packages us

[2018-09-23 20:05] saikrishna321 commented on #2964
@christian-bromann  thanks :)

I did try the boilerplate and scriptBlocking keeps running.

RUNNING  0-1 in chrome - /tests/scriptBlocking.e2e.js

Test Suites:     0 passed, 1 failed, 2 total (50% completed)
Time:            🕕  134.04s -- // Keeps increasing

What does browser.getPerformanceMetrics() do ?

Where can we find the Performance functions WDIO supports ?

[2018-09-23 20:49] stuartcrobinson commented on #1255
updated link:

http://webdriver.io/v4.9/guide/testrunner/organizesuite.html#Inherit-From-Main-Config-File

[2018-09-24 12:43] tritethunder commented on #2252
@ckurban It simply means that you tunnel connection is not established. Check the network logs on browserstack

[2018-09-25 08:45] gkvappium opened #2966 "There seems to be no way to double tap an element or co-ordinates with the Appium javascript client"
The documentation from wd says (http://appium.io/docs/en/commands/interactions/touch/double-tap/)
// Not supported

// wd example
// Using tapElement method
await driver.tapElement(elementOne);

// Using touch actions
let action = new wd.TouchAction();
action.tap({el: element});
await action.perform();

Is there no method for double tapping an element using the javascript client? If there is a wor

[2018-09-26 08:37] wswebcreation commented on #2812
There is only a [touchID](http://appium.io/docs/en/commands/device/simulator/touch-id/) endpoint for iOS not for Android . It's currently not supported by Appium so a PR will not help

[2018-09-26 10:46] wswebcreation commented on #2812
@christian-bromann

This might be fixed by a new release for Appium, see this commit for `1.9.2.-beta.1`, see [this commit](https://github.com/appium/appium/commit/c6be5fe9d219aaf4e31acbc5a0325986ae3cfd18)

So maybe keep it open and wait for Appium to make a new release

[2018-09-26 18:46] rtran25 opened #2967 "Counting number of child elements under root element"
I'm trying to count the number of child elements underneath a parent element, but I can only seem to get 1 element type at a time. An example is:
[code]
The idea is
`browser.elements(#parent > div)`
or
`browser.elements(#parent > div).value.length`
would return 5 but instead it returns 1 because it takes the last given element (#parent > **div**) and searched for all of those elements underneath t

[2018-09-26 18:48] rtran25 commented on #2967
On another note, would there be a way to place all types of elements into a list? Besides counting the number of child elements, it would see what type the elements were (a, div, span) and place into a list.

[2018-09-26 19:39] msohaib980 commented on #1000
Just started with webdriverio last week. So far it great. Testing more and probably would migrate from webdriver java binding.

[2018-09-26 20:36] pmerwin commented on #1000
cbtnuggets.com We've been on wdio for about 3 years, now on the latest v4 release , and we are currently in beta with vs 5... we love it and are ramping up even more day to day.

[2018-09-26 21:10] christian-bromann commented on #2967
if you want to count all child elements and their child elements you need to do a reverse look up. Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-09-26 21:10] #2967 closed

[2018-09-26 23:15] jcneally opened #2968 "View Source links are broken on the website"
## The problem
1. Go to the API and select any page with a command, eg http://webdriver.io/api/action/click.html
2. Click "View Source"
3. See the GitHub 404 page

[2018-09-27 08:38] christian-bromann commented on #2968
@jcneally this is because we are about to release v5 which has a complete different repo structure. You can also use the new page http://beta.webdriver.io

[2018-09-27 08:38] #2968 closed

[2018-09-28 16:48] rohityadavrv commented on #1277
@oyvindeh : are you able to run bail option now?

[2018-09-28 19:49] olesiavelychko opened #2969 "ar"
## The problem

Briefly describe the issue you are experiencing (or the feature you want to see added to WebdriverIO). Tell us what you were trying to do and what happened instead. Remember, this is _not_ a place to ask questions. For that, join the Gitter chat room ([![Gitter](https://badges.gitter.im/Join Chat.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_

[2018-09-28 22:19] ajspencer opened #2971 "Unable to use id from elementJson"
## The problem

I'm trying to use the ID field from an elementJson as described in the documentation. Specifically, I'm trying to call brower.elementIdRect. I get an error when doing so.

## Environment

* WebdriverIO version:6.4.1
* Node.js version:10.11.0
* Standalone mode or WDIO Testrunner: standalone mode
* if wdio testrunner, running synchronous or asynchronous tests:
* Additional wdio packa

[2018-09-29 20:17] #2969 closed

[2018-09-30 14:52] spjrc opened #2973 "npm run setup failed in the Windows 10 environment; HERE IS THE LINK - https://pastebin.com/msRuAd2y"
## The problem

Briefly describe the issue you are experiencing (or the feature you want to see added to WebdriverIO). Tell us what you were trying to do and what happened instead. Remember, this is _not_ a place to ask questions. For that, join the Gitter chat room ([![Gitter](https://badges.gitter.im/Join Chat.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_

[2018-09-30 14:59] spjrc commented on #2973
WINDOWS 10 Version 1803 (build 17134.320)
WebdriveIO - latest version as of 09/30/2018 10:am EST.
node --version - v10.11.0
HERE IS THE LINK - https://pastebin.com/msRuAd2y
The above link will display all errors.
contact me (spjrc) at chenjr98@outlook.com if you have more questions.
Thank you.

[2018-09-30 15:50] BorisOsipov commented on #2973
from log
[code]

[2018-09-30 17:43] OKNoah commented on #2874
Similar issue. We use `https` on dev. Is there a way to let remote test runners accept the cert?

[2018-10-01 07:10] perhenrikandersson opened #2974 "No error screenshots are taken if mocha tests times out"
## The problem

When running wdio tests with mocha no screenshots are taken if the mocha timeout is reached.

## Environment

* WebdriverIO version: master (I guess 4.13.2)
* Node.js version: v8.11.2
* Standalone mode or WDIO Testrunner: Wdio test runner
* if wdio testrunner, running synchronous or asynchronous tests: syncronous
* Additional wdio packages used (if applicable):
* OS: Windows 10

##

[2018-10-01 07:53] perhenrikandersson commented on #2973
I think I might have a related problem when trying to run the mocha examples tests using windows.
https://github.com/webdriverio/webdriverio/tree/master/examples/wdio
C:\projects\demo\webdriverio\examples\wdio>npm run test:mocha

'..' is not recognized as an internal or external command,
operable program or batch file.

[2018-10-01 12:16] oyvindeh commented on #1277
@rohityadavrv I am currently not working on any projects that use WebdriverIO, so I don't know.

[2018-10-01 12:18] christian-bromann commented on #1277
@robhowell @oyvindeh the wdio testrunner has a bail option that should be used instead of the mocha one http://beta.webdriver.io/docs/options.html#bail

[2018-10-01 12:27] christian-bromann commented on #2052
I will have to close this. I hacked together a jest environment to run tests with a WebdriverIO client but unfortunately Jest doesn't allow to run these in parallel. I love Jest as unit test framework but it seems to not be really suited for e2e tests.

For everyone who is looking for writing tests in a jest environment I recommend to use the jasmine framework adapter which make the test look simi

[2018-10-01 18:17] wildaces215 commented on #2889
Is this open? I would like to tackle this!

[2018-10-01 18:33] christian-bromann commented on #2889
@wildaces215 please take it. If you have any questions feel free to reach out in our v5 gitter channel

[2018-10-01 18:49] wildaces215 commented on #2889
Will do!

[2018-10-01 19:03] wildaces215 commented on #2889
@christian-bromann Besides the chat are you able to point me in the right direction?

[2018-10-01 19:39] osmolyar opened #2979 "Impossible to run multiple feature files with one wdio invocation"
## The problem

None of the following configurations work to run multiple feature files with one wdio call:

 specs: [
       // './features/*.feature',   //this doesn't seem to work either - picks one feature file at random to run
        //     './features/**/*.feature',   //this should work but it doesn't
        //Can also specify each feature file individually here and run all (also only runs

[2018-10-01 20:53] christian-bromann commented on #2979
Like other test framework with spec files you should be able to run feature files in parallel. Can you provide a reproducible example?

[2018-10-01 20:54] christian-bromann commented on #2889
not really, maybe it is something that needs to be setup in Angolia.
@vvo any input on this?

[2018-10-01 20:59] osmolyar commented on #2979
Here's a zip file of my config file.  The features are in the listed directories, either in a flat or a tree structure (with the same result).
[wdio.config.js.zip](https://github.com/webdriverio/webdriverio/files/2435626/wdio.config.js.zip)

Here's a zip file of the entire suite (though it points to servers behind firewalls):
[ManagementPortal.zip](https://github.com/webdriverio/webdriverio/files/

[2018-10-01 21:07] BorisOsipov commented on #2979
@osmolyar
are you sure that is ok to share all your test code by `ManagementPortal.zip` ?
don't you have some legal issues after that?

[2018-10-01 21:09] BorisOsipov commented on #2979
For your question, what is your selenium server setup? I see `maxInstances:5` so it is automatically run 5 browser in parallel.

[2018-10-01 21:09] osmolyar commented on #2979
Yes I should probably remove it.  If you could let me know what files are relevant to the 'reproducible example', I'll include those.  Basically they're feature files that run fine using the --suite argument, but without it only one randomly selected file runs.

[2018-10-01 21:10] christian-bromann commented on #2979
@osmolyar I would be great to get a _minimal_ reproducible example. Something that I can run on my end to test the issue by myself.

[2018-10-01 21:11] osmolyar commented on #2979
@BorisOsipov , It just runs the one feature file happily on one browser., does not attempt to run any other feature files, either serially or in parallel.

[2018-10-01 21:12] osmolyar commented on #2979
@christian-bromann , I would think that the same issue would be readily apparent in the wdio-cucumber-framework boilerplate project, as this is what the suite it based off of.  But will try to come up with an example.

[2018-10-01 21:32] christian-bromann commented on #2979
See https://github.com/webdriverio/webdriverio/blob/master/examples/wdio.conf.js#L54-L62. Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-10-01 21:32] #2979 closed

[2018-10-01 22:57] alippai opened #2980 "Wrong URL using Windows and WebdriverIO v5"
## The problem

Running WebdriverIO v5 beta without wdio runner, if port is specified for localhost on windows I get errors:

[code]

If I start the very same command/test/script from WSL (Ubuntu linux), it works, finds the correct address.

## Environment

* WebdriverIO version: 5.0-beta.3
* Node.js version: 10.9.0
* Standalone mode or WDIO Testrunner: standalone

[2018-10-02 08:31] vvo commented on #2889
Hi @wildaces215, happy to help, to summarize the issue: new search on https://beta.webdriver.io tackles old website.

The search is provided by Algolia and DocSearch: https://community.algolia.com/docsearch/

The configuration file for your website is https://github.com/algolia/docsearch-configs/blob/master/configs/webdriver.json

@s-pace what's the best way to have different configurations for a

[2018-10-02 09:50] spjrc commented on #2973
Let me know if you guys need more info on this issue.  After I run 'npm run setup', I received the following log files.  Please let me know if you need these log files; I can combine the 10 files into a single file and then create a link for it thru PASTEBIN URL.
or contact me at chenjr98@outlook.com
Thank you.
Directory of C:\Users\spjrc\AppData\Roaming\npm-cache\_logs
10/02/2018  05:28 AM

[2018-10-02 10:37] christian-bromann commented on #2973
@spjrc I don't use windows .. feel free to propose a PR with a fix.

[2018-10-02 10:45] spjrc commented on #2973
My bad – what is a PR?  I already submitted a ticket on your GitHub. Thank you.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Christian Bromann <notifications@github.com>
Sent: Tuesday, October 2, 2018 6:37:15 AM
To: webdriverio/webdriverio
Cc: spjrc; Mention
Subject: Re: [webdriverio/webdriverio] npm run setup failed in the

[2018-10-02 11:36] s-pace commented on #2889
👋 @wildaces215

Please [apply to DocSearch](https://community.algolia.com/docsearch/#join-docsearch-program), we will provide you the credential to add to your [latest docusaurus website](http://beta.webdriver.io/docs/api/browser/url.html) along with the analytics we do provide for your search. You will need to [follow these instructions then](https://docusaurus.io/docs/en/search#enabling-the-sear

[2018-10-02 12:33] osmolyar commented on #2979
As stated above this question  is NOT about running files in parallel. It is about running with ONE browser in capabilities, and I expect, as with Jasmine specs, to have all my feature files run one at a time, serially, such that all files matching the wildcard spec, and/or listed out explicitly in the spec, are eventually run. Instead, only one file is EVER run, with the run terminating after com

[2018-10-02 12:33] christian-bromann commented on #2973
A PR is a pull request to fix this issue. As I said, I don't use Windows therefor this is not critical for me.

[2018-10-02 12:35] christian-bromann commented on #2979
Please use `maxInstances` for this! Not that you can apply that to specific capabilities as well as for all capabilities.

[2018-10-02 12:40] osmolyar commented on #2979
We already have maxInstances set to 5, and my understanding is that maxInstances governs parallel execution, (which we are NOT asking about). Is this understanding incorrect?

[2018-10-02 12:58] christian-bromann commented on #2979
Yes, so set it to `1` to run one job at a time.

[2018-10-02 13:00] osmolyar commented on #2979
ok...…..but the issue not that they are all running in parallel, but that only one (at random) is recognized as a feature file.   I do see it is working as expected in the cucumber_boilerplate_project so will need to do some work to get you a reproducible example of our situation without providing all the code.

[2018-10-02 13:09] osmolyar commented on #2979
@christian-bromann , you are correct, setting maxInstances =1 for our project causes the files to all run!  Thank you.   I am just a bit confused as to why, in the cucumber_boilerplate_project, it apepars to run all the feature files one after the other (with some in parallel) even though maxInstances=5, rather than stopping after 1 (or 5?) files.

[2018-10-02 13:42] christian-bromann commented on #2979
Yes, it runs all files one after one as you expect right?

Not sure how it is set up there

[2018-10-02 13:45] osmolyar commented on #2979
@christian-bromann , yes, now it runs all the files (one after the other).  So we are all set.   Thank you for your help,

Would just have thought it would eventually get to running more than one file regardless of maxInstances (as it appears to in the boilerplate project, and as it did for us when we were using Jasmine with wdio).

[2018-10-02 13:47] deepikadixitb commented on #1710
@alex-zaman-zocdoc : I think it's ```value``` instead of  ```values```.  So ```browser.elements(selector).value.length``` works for me.

[2018-10-02 14:56] osmolyar commented on #2979
@christian-bromann , @BorisOsipov , for what it's worth, here's a minimal suite to reproduce the issue that with maxInstances>1, it never runs more than one feature file.

[cucumber-boilerplate-master.zip](https://github.com/webdriverio/webdriverio/files/2438393/cucumber-boilerplate-master.zip)

Command to run is 'wdio common/config/wdio.config.js'.   Right now maxInstances is set to 5 to reproduc

[2018-10-02 15:18] BorisOsipov commented on #2979
@osmolyar comment or remove `//execArgv: ['--inspect']`, in your wdio.conf.js.

does it help?

[2018-10-02 16:29] petrvecera opened #2982 "Broken links in documentation"
## The problem

The links in the docs to the code doesn't work. http://webdriver.io/guide/services/chromedriver.html

![image](https://user-images.githubusercontent.com/8086995/46362325-3f927600-c670-11e8-9c2c-dcb3f561b205.png)
These links doesn't work anywhere in the docs. The links in the API also doesn't work.

I wanted to contribute to the docs. Write a config how to use Chrome headless.
Am I

[2018-10-02 18:44] christian-bromann commented on #2982
This is because we will be update WebdriverIO to the v5 docs (http://beta.webdriver.io) soon.

[2018-10-02 18:44] #2982 closed

[2018-10-02 18:59] ryanthemanuel opened #2983 "IE 3.14.0 Returning 405's on Execute"
## The problem

While running WDIO tests against a 3.14.0 IE selenium grid, I am receiving the following error:

[code]

## Environment

* WebdriverIO version: 4.13.2
* Node.js version: 8.9.2
* Standalone mode or WDIO Testrunner: WDIO Testrunner
* if wdio testrunner, running synchronous or asynchronous tests: synchronous

[2018-10-02 22:35] emilyrohrbough commented on #2983
I have experienced this issue with standalone mode as well.

[2018-10-02 22:38] emilyrohrbough commented on #2962
We have are experiencing this issue with using webdriver.io 4.13 while running against a selenium grid with IE nodes (v 3.14).

[2018-10-03 17:01] rsinghi commented on #2865
When will this issue be resolved? We have been hearing feedback in the team around how having the exact lines in stack trace will be useful in debugging.

[2018-10-04 18:11] billylam opened #2984 "getHTML fails for iOS Safari with "Element does not exist in cache""
## The problem

The command getHTML fails for iOS safari with "Element does not exist in cache."

This command runs without issue on Android, as well as desktop Safari, Chrome, and Firefox.

## Environment

* WebdriverIO version: 4.13.2
* Node.js version: 8.12.0

## Link to Selenium/WebdriverIO logs

https://gist.github.com/billylam/a981dd068ee298b26eddd60fe7580350

## Code To Reproduce Issue [ Go

[2018-10-04 18:38] aparna-gopalakrishnan commented on #1967
@naveen thiyagarajan , are you behind a proxy? If so, you can provide the path to a specific location where your node modules are located. I have done so.

[2018-10-05 06:40] AndyGee commented on #2856
Intellij IDEA does not attach to any 5.x versions atm. Version 4.13.2 is fine.

[2018-10-05 11:06] USB-internet opened #2985 "browser.setvalue fail if too many characters and infinite loops appeared"
fail :( !!!!!!!!!!!!! browser.setvalue('20000 bytes') I cannot setvalue input 20000 bytes, I realize it only works with 2 ^ 14 bytes :( please help me setvalue 20000 bytes
I need setvalue 1 paragraph text over 20000 characters
The browser.setvalue failed if too many characters and infinite loops appeared

[2018-10-05 11:37] christian-bromann commented on #2985
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-10-05 11:37] #2985 closed

[2018-10-05 11:52] jnkrao opened #2986 "Rerun option should be required in WDIO test runner only for failed tests"
## The problem
We have hundreds of tests implemented through WDIO, some tests are failing due to some expected reason like network slow/application server slow/time out and so on... but those tests are passing if we do rerun, so it could be help if we get option to rerun those failed tests only.

## Environment

* WebdriverIO version: 4.12

[2018-10-05 14:50] simongranger opened #2987 "'class name' selector is hardcoded to iOS and Android naming conventions"
## The problem

Currently, the 'class name' selector is hardcoded to only support iOS and Android naming conventions.
https://github.com/webdriverio/webdriverio/blob/1a172d1f05b0d6fde9acdd3ed77c4a19d978ec07/packages/webdriverio/src/utils.js#L71

This means it cannot be used by other Appium drivers: macOS, Windows10, youiengine, etc.
https://github.com/YOU-i-Labs/appium-youiengine-driver
https://gi

[2018-10-05 15:54] christian-bromann commented on #2987
Yes, do

[code]

[2018-10-05 15:54] #2987 closed

[2018-10-05 17:57] simongranger commented on #2987
'css selector' != 'class name'

[2018-10-05 18:03] christian-bromann commented on #2987
sorry then:
[code]

[2018-10-05 19:25] sskorol opened #2988 "Add Allure Issue / TMS links support"
## The problem

Currently Allure Issue / TMS links are not supported by wdio-allure-reporter. I've created PR in a related repository with these features: https://github.com/webdriverio-boneyard/wdio-allure-reporter/pull/141

Going to do the same within corresponding webdriverio package.

[2018-10-05 20:08] BorisOsipov commented on #2988
Implemented in https://github.com/webdriverio/webdriverio/pull/2989

[2018-10-05 20:08] #2988 closed

[2018-10-05 20:13] simongranger commented on #2987
Awesome!
Thanks!

[2018-10-06 19:48] wildaces215 commented on #2889
Thanks! I'll do it when I can I just applied for the DocSearch! I'll comment if I need any help!

[2018-10-09 09:47] ckurban commented on #108
This issue seems to be still exist. I am using WDIO 4.12.0.

[code]

[2018-10-09 09:51] BorisOsipov commented on #108
@ckurban it is another issue related to wdio-allure-reporter

Please, file issue in https://github.com/webdriverio-boneyard/wdio-allure-reporter/issues

[2018-10-09 11:06] ckurban commented on #108
@BorisOsipov it is not stable. Upgrading might be tricky as it might/will change the structure of the Step Definitions which means I would need to apply major refactoring on all my scenarios but i will have it a go and see whats the outcome.

[2018-10-09 15:54] cnbcqaauto commented on #1357
Hi this suggestion is not working. still facing the issue.

[2018-10-09 17:23] mjschlosser8 opened #2994 "No readme/setup documentation for wdio-lambda-runner"
## The problem

I'm in the beginning stages of setting up WDIO to run in an AWS Lambda environment, but there is no documentation on how to set up/run WDIO with the  wdio-lambda-runner plugin (https://www.npmjs.com/package/wdio-lambda-runner). Does anyone have any insight into how this is done?

[2018-10-09 17:30] pmerwin commented on #2994
That service is still beta, probably have better luck posting here:

https://gitter.im/webdriverio/v5

[2018-10-09 17:33] BorisOsipov commented on #2994
I think it is ok to post it here.
But yes, try to check history on gitter.im/webdriverio/v5. I remebered someone already asked about wdio-lambda-runner there

[2018-10-09 17:39] StephenABoyd commented on #2980
The issue is with the request.js file in the 'webdriver' package on the _createOptions method. It's using path.resolve() to build out the path for the url. This is causing it to add 'C:/' to the url.

[2018-10-09 19:48] mjschlosser8 commented on #2994
I see, thanks for the update. Hope we can see a fully working version in the future!

[2018-10-09 19:48] #2994 closed

[2018-10-10 16:58] rmlira commented on #2775
In RequestHandler.js (.\build\lib\utils) it's rejecting promise in case of 'value' field undefined in driver response. In this case, when the click action is performed it sends to driver:

POST /wd/hub/session/D348EBAC-64CA-421A-ACC6-CBD0E509FA78/element/42.66974.4.3/click

And receives:

Got response with status 200: {"sessionId":"D348EBAC-64CA-421A-ACC6-CBD0E509FA78","status":0}

In this case th

[2018-10-11 04:08] wswebcreation opened #2998 "Update project and docs to update to Babel 7"
## The problem / question

Babel released version 7 and it has some different libraries to use, also to compile the testcode.

Maybe it's wise to update V5 to use Babel 7, remove all Babel 6 references / modules and update the docs.
Due to some different projects I currently don't have the time to pick this up in the coming weeks but maybe someone can pick this up in a PR

[2018-10-11 09:33] cristiannaziru opened #3000 "Browser.select() doesn't work"
## The problem

Hello,

I'm trying to make a cross-platform framework and from what I've seen webdriverio supports a multiremote function where we can pass multiple capabilities.

## Environment

* WebdriverIO version: Latest - 4.13.2
* Node.js version: 6.4.1
* Standalone mode or WDIO Testrunner: Standalone

## Details

I'm initializing the driver in my test.js and I try to do this as explained in

[2018-10-11 12:18] pradeepvish1213 commented on #2403
How to open multiremote  with multiple urls.

[2018-10-11 15:54] sriramcse31 opened #3003 "WDIO packages not installing"
I was able to launch the 'WDIO configuration Helper' wizard from the command prompt and had given all the inputs. Then there is a message saying 'Installing WDIO packages' but there is no progress even after an hour.

Could anyone help me with this issue.

![wdio issue](https://user-images.githubusercontent.com/41834079/46817089-44dd7800-cd76-11e8-8d8c-227aeec8039a.png)

[2018-10-12 00:26] ifn0tz3r0 opened #3004 "Unable to override userAgent in chromeOptions on Linux"
I'm currently trying to get my test session to spoof a user agent other than the default. Locally on Mac/Chrome, I'm able to get the chromeOptions applied, but cannot do so when the same exact job runs on Linux. Any ideas? Thanks.

Details:
- Linux x64
- node@8.12.0
- SELENIUM_HUB_VERSION=3.14.0-europium
- Chrome 69

Jenkins log
[code]

Expected:  printNavigatorUserAgent() navigator.userAgent = TH

[2018-10-12 15:12] christian-bromann commented on #3004
This must be a bug in Chromedriver for Linux then. WebdriverIO is just passing along  the chromeOptions and it should be applied in Linux too.

[2018-10-12 15:12] #3004 closed

[2018-10-12 15:47] prevostc commented on #2726
Same issue for me with appium 1.8.0 and webdriverio v4.13.2

[2018-10-12 17:09] pfluegs opened #3005 "Propogate pass/fail metrics to onComplete hook"
**Describe the solution you'd like**
It would be great to have the ability to retrieve the number of passed/failed tests on completion of a test run.

**Describe alternatives you've considered**
@erwinheitzman suggested a solution like something below, however, the data that is collected in afterTest can't be accessed in onComplete.

[code]

**Additional context**
This would be useful for a number

[2018-10-12 17:28] ifn0tz3r0 commented on #3004
Thank you @christian-bromann. I came across this format and it is working for me on Linux:

[code]

[code]

[2018-10-12 18:02] christian-bromann commented on #3004
Ah yeah, this is the new way of passing in the chrome options

[2018-10-14 04:52] kmnaid commented on #3005
@pfluegs : Not a solution for propagating pass/fail metrics to the onComplete hook, but since you mentioned slack notifications I would like to suggest this: [wdio-slack-reporter](https://github.com/kmnaid/wdio-slack-reporter).

[2018-10-14 11:39] erwinheitzman commented on #2857
I think it's still useful, especially when you write frontend component or integration tests or for example do accessibility testing with webdriverio.
I think it would also be very useful to integrate a way for the user to define folders that the user wants to watch (this will also fix currently open issues).

[2018-10-15 07:01] gurunanakdevji opened #3007 "Chrome extension loading issue"
I am not able to load below chrome extension using webdirverio configuration. Could you please help how to load additional chrome extensions when webdriverio is launching chrome browser through test runner.

capabilities: [{
        maxInstances: 1,
        browserName: 'chrome',
        version: '69.0.3497.100',
        chromeOptions: {
          args: ['--disable-infobars','--start-maximized', '

[2018-10-15 13:59] christian-bromann commented on #3007
Try:

[code]

[2018-10-15 13:59] #3007 closed

[2018-10-15 14:00] christian-bromann commented on #3007
Also extensions are applied differently, see http://chromedriver.chromium.org/capabilities

[2018-10-15 14:39] AndyGee commented on #161
Fiddled with this for hours until it worked - Nothing obvious about it!

`let elements = $("#selectId").elements("option").value;

    let selectedText = "";

    elements.map(function(option) {
      let selected = option.getAttribute("selected");
      if (selected) {
        selectedText = option.getText().trim();
        console.log("Current selectedText is: " + selectedText);
      }
    });

[2018-10-16 16:01] nareshnayini opened #3009 "First expect.toBe(true) statement in a test get executed twice if it returned False"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [4.13.2]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running :** [sync]
 - **Node.js version: [10.5.0]
 - **NPM version:** [6.1.0]
 - **Browser name and version:** [Chrome 69]
 - **Platform name and version:** [macOS High Sierra 10.13.5]
 - **Additional wdio packages used (if applicable):** [wdio-j

[2018-10-16 17:14] pfluegs commented on #3005
Thanks for the suggestion @kmnaid. I will definitely take a look.

[2018-10-16 17:36] christian-bromann commented on #3009
First of, don't use implicit waits. It is much more efficient to use explicit waits. I can't tell why your test is fetching the element twice. I doesn't look like an issue with WebdriverIO. Please use the debug command to find out where that code is being exeucted. It is impossible for people to give advice that are not familiar with the test setup.

Also join our  [![Gitter](https://badges.gitter

[2018-10-16 17:36] #3009 closed

[2018-10-17 05:47] noelayan opened #3010 "ERROR: Cannot find module"
I got this error message below when I tried to run the script. I guess my require() function is correct.
This is my code structure which I think is correct. See screenshot.
https://monosnap.com/file/OER4L0ygJ5kbpBMrPpK87QOyMfx6XR#embed
https://monosnap.com/file/stVyopBwAR0vUkIazS78R0aTCJwZN4

**ERROR: Cannot find module './Page'**
chrome
    at Function.Module._resolveFilename (module.js:547:15)

[2018-10-17 11:47] MichelLalmohamed commented on #2262
Thank you for the explaining the install order!

[2018-10-17 12:54] christian-bromann commented on #3010
I am not sure what you trying to run here. Please make sure that if you copy the example page object project that all paths are correct.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-10-17 12:54] #3010 closed

[2018-10-17 23:15] ayoolaao commented on #2319
**My observations:**
- You install 'webdriverIO' with yarn and the yarn.lock is updated/created.
- Then you run: './node_modules/.bin/wdio config' and select config options
- I think the issue is that the WDIO configuration helper uses npm to install selected dependencies (e.g spec reporter, jasmine etc),
- hence creating a package-lock.json file. Causing this issue because webdriverio in yarn.loc

[2018-10-18 00:13] noelayan commented on #3010
I copied all the paths. But it looks like the path provided is incorrect, so, I changed it and its fixed now. I thought its an issue. Thanks!

[2018-10-18 03:35] christian-bromann commented on #3010
Yes and no. That examples is intended to be run when being in the `https://github.com/webdriverio/webdriverio/tree/master/examples/pageobject` directory and running `npm test` they could be more flexible but the intention of these examples is more to show of how you can build page objects.

[2018-10-19 05:37] colinfike opened #3012 "Scrolling Mobile Browser in Appium"
I'm currently using Webdriverio to run some Selenium tests on SauceLabs. Is it possible to scroll to the bottom of the page (or to specific elements) in the Safari mobile browser that is being emulated on an iOS device via Appium?

I've tried almost all of the touch related functions and I was unable to get any of them to let me scroll the page. I tried `touchAction`, `touchPerform`, `touchMultiAc

[2018-10-19 06:04] #3012 closed

[2018-10-19 08:45] ckurban commented on #2413
@SassNinja could you please share mini code snippet of solution you applied ? or what solution did you apply ? I am facing the same issue with hidden element and label. Thanks

[2018-10-19 09:32] Fjollsfinn opened #3014 "How to connect to url with a specific session ?"
**Description**:
I need to open a browser instance with a specific session. The point is that I'm sending a login request, so I want to keep the session.
Here is how I'm receiving the id session from request response:
`axios.post(loginSSOEndpoint, {
            "jwt": token
        }, {headers: {'Content-Type': 'application/json'}})
            .then(function(response) {
                assert.equ

[2018-10-19 19:50] 200even commented on #2052
@christian-bromann can you explain in more detail why Jest isn't suited for E2E testing? I ask because we are currently using Jest with the WD.js library for a React Native project. I am evaluating a move to Webdriver.io due to some issues with the other library, but it would involve quite a bit of refactoring at this point and even more to move away from Jest.

[2018-10-19 20:28] christian-bromann commented on #3005
Let's continue convo in #3013. Thanks for adding that change @baruchvlz.

[2018-10-19 20:28] #3005 closed

[2018-10-19 23:02] leonidas999 opened #3015 "Error using touchAction moveTo"
I'm trying to use the "moveTo"  gesture in the touchAction api, but always get this error

An unknown server-side error occurred while processing the command. Original error: Failed to execute touch event
running
Error: An unknown server-side error occurred while processing the command.
    at performTouchAction([object Object]) -     at C:\Users\user\Documents\test\node_modules\webdriverio\build\

[2018-10-22 19:37] jeffhoang opened #3020 "Browser send key combo of 'Enter' and 'NULL' failing for Safari"
We're testing a feature in our app that requires a combo send key of an 'Enter' and 'NULL', but it's failing for Safari.   This same code works fine with Chrome though.

Code:

``
sender.browser.keys(['Enter',` 'NULL']);
``

Exception:

    actions =     (
    {
    type = keyDown;
    value = "\Ue007";
    },
    {
    type = keyDown;
    value = "\Ue000";
    },
    {
    type = keyUp;
    value

[2018-10-22 19:58] christian-bromann commented on #3020
This is usually a sign that something is up with how Safaridriver handles that command. Please create an issue in that project. For more questions, please join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge). Thanks!

[2018-10-22 19:58] #3020 closed

[2018-10-23 13:14] rycornell commented on #2185
I am on version 4.13.2 and facing the same issue as @rafael-anachoreta.  Did this end up getting logged as a chromedriver issue?

[2018-10-23 17:45] wswebcreation commented on #1316
True

Can be closed now?

[2018-10-23 18:48] DDeepu opened #3021 "An unknown server-side error occurred while processing the command for edge"
I am getting  "An unknown server-side error occurred while processing the command " while running the tests on edge browser using selenium grid. tests are running fine on other browsers (chrome and ie) with selenium grid.

wdio config file:

export default {
  sync: false,
  host:'xxxx.com', (remote host)
    seleniumProtocol: 'WebDriver',
    throwOnCapabilityNotPresent: true,
	logLevel : 'verbos

[2018-10-23 19:34] christian-bromann commented on #3021
@DDeepu without any logs there is no chance that anyone can help you. If you have further questions join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge).

[2018-10-23 19:34] #3021 closed

[2018-10-23 19:36] #1316 closed

[2018-10-23 20:07] rtran25 opened #3022 "getText returns array of empty strings when there is a text"
**Describe the bug**
When using getText(), it returns an array of empty strings instead of the requested string

**To Reproduce**
Steps to reproduce the behavior:
HTML file
[code]

JAVASCRIPT file
[code]

**Expected behavior**
Returns test1

**Actual behavior**
Returns an empty array of
[code]

**Other Tests**
[code]

**Additional context**
For this instance I will have to use getHTML with emphasi

[2018-10-24 10:32] skg1214 opened #3023 "getting Type Error: Cannot read property 'trim' of undefined while using selectByVisibleText() command"
exact stack trace:TypeError: Cannot read property of 'trim' of undefined at Object.selectByVisibleText(---------);

[2018-10-24 10:32] christian-bromann commented on #3023
@skg1214 can you please create a reproducible example?

[2018-10-24 11:07] mounicaparupalli commented on #3023
I was using the following code for selectByVIsibleText. please find HTML code and logic

<select id="VTPTselectedIndividual" name="VTPTselectedIndividual" required="required" style="">
                                                        <option value="SFR" selected="selected">SFR</option>
                                                        <option value="TwoFourFamily">2-4 Family</option>

[2018-10-24 12:12] #3023 closed

[2018-10-24 21:41] DrakeW opened #3024 "`browser.setValue` only does appending without clearing textfield on Chrome 70 on Chromdriver 2.43"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.12.0
 - **Mode:** WDIO Test runner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version**: 8.8.1
 - **NPM version:** 5.5.1
 - **Browser name and version:** Chrome 70
 - **Platform name and version:** Windows 7
 - **Additional wdio packages used (if applicable):** None

**Config of Webdriv

[2018-10-25 10:18] 2hansen commented on #1140
Same issue re-introduced here after upgrading to Chromedriver 2.43 - now have to rely on @jkwaldrip's suggestion with backspacing.

[2018-10-25 14:51] MartinX3 commented on #1140
Please try this, it worked for me
We first need to put the focus on the element, then clear it and then write stuff on it.

  .click('input[aria-label=Login]') // Workaround to make .clearValue() possible.
      .clearValue('input[aria-label=Login]') // Without clearValue() the value would be appended.
      .setValue('input[aria-label=Login]', 'new_value')

[2018-10-25 14:57] 2hansen commented on #1140
That was what I did until today, where I updated to latest Chromedriver, and it stopped working.

[2018-10-25 23:35] KristianWindsor commented on #1886
I am also experiencing this issue. It seems the caret position sometimes does not move before the next character is typed. For example, typing "abcd" might look like this:
a
ab
acb
acdb

[2018-10-26 21:33] klamping opened #3025 "Add 'browsers' to config wizard options"
**Is your feature request related to a problem? Please describe.**
I usually run my tests using Chrome, due it having really great support via Chromedriver. That means every time I create a new project, I need to open the wdio.conf.js file after creation and change 'firefox' to 'chrome'.

**Describe the solution you'd like**
I think it'd be useful to allow for browsers to be selected when going th

[2018-10-27 00:33] pmerwin commented on #3025
I think firefox and chrome are sufficient.  imho

[2018-10-28 11:05] kasyed245 commented on #3025
Please include IE support too. As many public/govt services still relying heavily on IE and it is one of the automation regression test requirement. Thanks :)

[2018-10-29 07:25] jiangyd opened #3027 "how to get ELEMENT value in Standalone Mode"
[code]

[2018-10-29 09:47] rohithnl007 commented on #1795
This worked for me,
menuItemsOptions(element) - dropdown menu option(s)
dropDownButton(element) - dropdown arrow
textToSelect(String) - text we want to select

static selectByVisibleTextInDropdown(menuItemsOptions, dropDownButton, textToSelect) {
        browser.click(dropDownButton);
        console.log("Dropdown button clicked");
        const menuItems = browser.elements(menuItemsOptions).value

[2018-10-29 17:12] christian-bromann commented on #3025
Let's continue convo in #3026

[2018-10-29 17:12] #3025 closed

[2018-10-29 19:52] FlashBytes commented on #3003
Hello Community, I am having exactly the same issue.

Here are the steps to reproduce:

1. Have Windows 10 64Bit installed
2. Install Node 10 or 11 ( I tried different versions of node 10.xx as I thought some version will work)
3. Create a folder
4. Run npm init and get something like

[code]

5. Install with "npm install webdriverio"
6. Install selenium and start the standalone server
6. Create a

[2018-10-30 17:42] erwinheitzman commented on #3027
This is not an issue but a question, please use our gitter channel for this.

To answer the question though, you use it like this:
[code]

[2018-10-30 17:45] erwinheitzman commented on #3022
Are you running webdriverio as standalone or with the wdio testrunner?

[2018-10-30 17:49] erwinheitzman commented on #3015
Please try the following:
homePage.inputEmail.touchAction('moveTo');

And report if the issue is solved or not, thank you :)

[2018-10-30 17:59] rtran25 commented on #3022
I am running webdriverio as a standalone

[2018-10-30 18:29] erwinheitzman commented on #3022
Thank you for your quick reply, I'll look into it when I have the time to do so to see if I can reproduce the issue with the examples given.

[2018-10-30 21:28] christian-bromann commented on #3027
This can be related to the repl interprets the return value. Let's reopen.

[2018-10-30 21:50] goodbomb commented on #205
@nullin Did you ever find a solution to your problem? We're facing the same thing on our end.

[2018-10-31 01:00] jochakovsky opened #3029 "Calling browser.timeouts() for Safari tests in a hook errors and results in rest of hook not executing"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.14.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 8.11.2
 - **NPM version:** 6.4.1
 - **Browser name and version:** 12.0.1 (13606.2.104.1.2)
 - **Platform name and version:** macOS 10.13.6
 - **Additional wdio packages used (if applicable):**

**Con

[2018-10-31 14:53] rtran25 commented on #3022
While I would love to link you the specific url for this, I am unable to as the page is running off a local server and inaccessible outside of the network. I can provide a more detailed example though, one that closely reproduces what I've seen.

The page is a document upload page that has an upload button and table for all documents uploaded. The code for it is:
[code]
I am attempting to use

`le

[2018-10-31 15:30] christian-bromann commented on #3022
With minimal reproducible example I don't mean you need to give us access to your page. All we need is a simple HTML page and a test that we can run against that page. If this problem only occurs on your page we can't fix this. However if you can prove that this is a general problem by creating a reproducible example we can definitely take a look.

[2018-10-31 16:24] rtran25 commented on #3022
I think at this point it is not possible to reproduce the problem with a simple HTML page. There may be some JS involved that causes this issue to occur. I will research more into the JS of this page to see if I can pin point why. As you can see from my previous attachment, the element is not disabled/not invisible so it should work, but doesn't. There may be an underlying JS code that completely

[2018-10-31 16:25] #3022 closed

[2018-10-31 20:30] christian-bromann commented on #3029
@jochakovsky this could be a bug with Safaridriver or the way how WebdriverIO v4 supports Safaridriver. Feel free to propose a fix for this.

[2018-10-31 20:39] christian-bromann commented on #3024
@DrakeW this is a known issue with Chrome. If you find a workaround please share. This issue is most likely to stale an being closed eventually since it should be fixed on Chromedriver side.

[2018-10-31 20:43] christian-bromann commented on #2753
@osmolyar let's get this standardised in WebDriver (https://github.com/w3c/webdriver/issues/1266) first and see how we can build logic on top of it. Currently it seems not possible.

[2018-10-31 20:43] #2753 closed

[2018-10-31 20:48] christian-bromann commented on #3000
Can you provide some logs and maybe a minimal reproducible example?

[2018-10-31 20:59] christian-bromann commented on #2983
Fixed by #2990 thanks @emilyrohrbough

[2018-10-31 20:59] #2983 closed

[2018-10-31 21:00] christian-bromann commented on #2973
This issue has been fixed as we released `wdio-sync` that supports node v10

[2018-10-31 21:00] #2973 closed

[2018-10-31 21:02] christian-bromann commented on #2971
Something happened with your session: A session is either terminated or not started. Feel free to re-open if you can provide a reproducible example. Thanks!

[2018-10-31 21:02] #2971 closed

[2018-10-31 21:08] #2812 closed

[2018-10-31 21:09] christian-bromann commented on #2812
This command will be supported with the next Webdriver package release. If you want to add support for v4, feel free to provide a PR to the v4 branch.

[2018-10-31 21:14] christian-bromann commented on #2510
Not true, this is fixed with v5. Feel free to propose a fix in the v4 branch.

[2018-10-31 21:14] #2510 closed

[2018-10-31 21:16] christian-bromann commented on #2943
If someone has questions to the new v5 version feel free to join the dev channel [![Gitter](https://badges.gitter.im/webdriverio/v5.svg)](https://gitter.im/webdriverio/v5?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge). Thanks for reaching out @dylang

[2018-10-31 21:16] #2943 closed

[2018-10-31 21:20] christian-bromann commented on #2858
Let's wait until the working group has decided on how to move forward with shadow dom: https://github.com/w3c/webdriver/pull/1320

[2018-10-31 21:22] christian-bromann commented on #2869
closing in favor of #2865

[2018-10-31 21:22] #2869 closed

[2018-10-31 21:45] christian-bromann commented on #2542
In v5 you will be able to use commands synchronously if you have `wdio-sync` installed as dependency. I think it would be nice to add a `sync vs async` page to the docs.

[2018-10-31 22:57] christian-bromann commented on #2802
This is fixed with v5:

[code]

I think in v4 we store the result of the command within the command history which is problematic. Feel free to provide a PR on v4 branch with a fix. Thanks!

[2018-10-31 22:57] #2802 closed

[2018-10-31 23:02] christian-bromann commented on #2639
If anyone is interested in a fix for this, feel free to propose a PR on the v4 branch. This is most likely fixed in v5.

[2018-10-31 23:02] #2639 closed

[2018-10-31 23:04] christian-bromann commented on #2780
This is fixed in v5. As long as you use v4 please use my workaround from above.

[2018-10-31 23:04] #2780 closed

[2018-10-31 23:06] christian-bromann commented on #2021
This is fixed in v5. I am working hard to get this version released asap. If you are interested in a fix feel free to propose a PR to the v4 branch. Thanks!

[2018-10-31 23:06] #2021 closed

[2018-10-31 23:07] #2758 closed

[2018-10-31 23:09] christian-bromann commented on #2601
This can have various reasons and is not necessarily to WebdriverIO. Since this issue has been hanging around for a long time without activity I will close it.

[2018-10-31 23:09] #2601 closed

[2018-10-31 23:10] christian-bromann commented on #2857
Let's ensure we allow listening to various files (see https://github.com/webdriverio/webdriverio/issues/2596)

[2018-10-31 23:11] christian-bromann commented on #2596
implemented as part of #2857

[2018-10-31 23:11] #2596 closed

[2018-10-31 23:13] christian-bromann commented on #999
This behavior can not be influenced by WebdriverIO and needs to get fixed on the protocol level. There is already activity on this by the browser vendors: https://github.com/web-platform-tests/wpt/pull/13781

[2018-10-31 23:13] #999 closed

[2018-10-31 23:14] christian-bromann commented on #1468
See https://github.com/webdriverio/webdriverio/issues/999#issuecomment-434879020

[2018-10-31 23:14] #1468 closed

[2018-10-31 23:15] christian-bromann commented on #2412
Closing due to inactivity. Please reopen if issue still occurs for you. Thanks!

[2018-10-31 23:15] #2412 closed

[2018-10-31 23:16] christian-bromann commented on #2690
Hey,

we update the core architecture of WebdriverIO and with that a lot of implementation details that might make this issue obsolete. Please try with the latest version of WebdriverIO and verify if this still occurs. If so please open a new issue and we will tackle it asap.

Thanks!

[2018-10-31 23:16] #2690 closed

[2018-10-31 23:20] christian-bromann commented on #2663
Thanks for sharing. This is definitely useful and necessary for running multiremote tests on mobile devices. Thanks for sharing! If anyone wants to propose a PR for this please do, thanks!

[2018-10-31 23:22] christian-bromann commented on #2551
Duplicate of #2307

[2018-10-31 23:22] #2551 closed

[2018-11-01 02:11] DrakeW commented on #3024
@christian-bromann good to know! our workaround is to set manually set chromedriver version to 2.41 and chrome version to 69 in the capability of the config file
[code]

[2018-11-01 11:44] MuhammadMohsin opened #3031 "Getting error after deploy server on heroku"
**Environment (please complete the following information):**
 -dependencies:
    "chrome": "^0.1.0",
    "chromedriver": "^2.43.1",
    "dotenv": "^5.0.1",
    "express": "^4.16.3",
    "nodemon": "^1.17.4",
    "selenium-webdriver": "^4.0.0-alpha.1",
    "wdio-devtools-service": "^0.1.5

[2018-11-01 13:28] christian-bromann commented on #3031
Sorry I have to close this. If you have issues please fill a proper issue report.

[2018-11-01 13:28] #3031 closed

[2018-11-01 17:29] christian-bromann commented on #2857
I will take this

[2018-11-05 16:38] sgreener opened #3034 "xpath in edge broken"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.13.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version:** 8.11.1
 - **NPM version:** 6.4.1
 - **Browser name and version:** Edge 18.something (october win 10 update version)
 - **Platform name and version:** Windows 10

**Describe the bug**
A v

[2018-11-05 18:03] christian-bromann commented on #3034
This selector strategy is defined in the WebDriver spec and should be supported. This can't be fixed by WebdriverIO

[2018-11-05 18:03] #3034 closed

[2018-11-05 22:31] klamping commented on #2711
After testing this out in v5, I don't this issue is resolved.

For example, in the 'examples' folder, if I run [the 'form' tests](https://github.com/webdriverio/webdriverio/blob/master/examples/pageobject/specs/form.spec.js) that are part of the page objects examples, and use an invalid selector for the submit button, the error output is:
[code]

While I know my test failed, and I know the element

[2018-11-07 00:16] cbou commented on #2140
Why are moveTo and moveToObject still in the documentation if they do not work?
If it should stay maybe a notice that it does not work with firefox would be nice...

http://webdriver.io/api/protocol/moveTo.html
http://webdriver.io/api/action/moveToObject.html

[2018-11-07 16:22] emilyrohrbough opened #3037 "Request Handler doesn't wait for `connectionRetryTimeout`"
**Environment (please complete the following information):**
 - **WebdriverIO version:** v4.14.0 (have not test in v5, but code appears to be implemented similarly)
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v8.4.0
 - **NPM version:** v5.3.0
 - **Browser name and version:** Selenium Grid v2.53.1 and Selenium Grid v3.14.0
    - Docker Se

[2018-11-07 20:09] TheHalcyonSavant opened #3038 "How to get process id (pid) of running browser instance?"

[2018-11-07 22:06] christian-bromann commented on #3038
try
[code]

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-11-07 22:06] #3038 closed

[2018-11-09 05:50] gurunanakdevji opened #3040 "Drag and drop issue"
I am trying to do drag and drop using the command "browser.dragAndDrop(sourceElem,destinationElem);" in the test runner based wdio execution on latest version of Chrome browser. The drag and drop is not working. I have read somewhere that this will be fixed across browsers. Is it fixed? I have latest version of wdio running in my setup.

**Environment (please complete the following information):**

[2018-11-09 06:25] FishSaidNo opened #3041 "Browser can't change frame"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.14.0
 - **Mode:** Standalone
 - **Node.js version:** 8.11.4
 - **NPM version:** 6.3.0
 - **Browser name and version:** Chrome 69.0.3497.100
 - **Platform name and version:** MacOS 10.14

**Config of WebdriverIO**
[code]

**Describe the bug**
Using browser.frame() to change the frame, then trying to interact

[2018-11-09 06:55] christian-bromann commented on #3040
No. You can try the `actions` command to emulate drag&drop. We are still waiting on the browser vendors to support this behavior.

[2018-11-09 06:55] #3040 closed

[2018-11-09 06:57] christian-bromann commented on #3041
@FishSaidNo have you tried with a parameter, e.g. `browser.frame(0)`. Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-11-09 06:57] #3041 closed

[2018-11-09 08:11] logakarthi opened #3042 "Unable to dismiss "turn off popup blocker" in webdriverIo safari browser"
I tried to dismiss the popup using capabilities and javascript code but couldn't and I'm using cross-browser testing cloud tool for webdriverIO. But that popup does not come up in Android devices.
Please provide the solution for the issue.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2]
 - **Mode:** [Standalone mode or WDIO Testrunner]
 - **I

[2018-11-09 08:13] logakarthi commented on #3042
![image](https://user-images.githubusercontent.com/42075235/48250768-67ba8500-e425-11e8-8f57-d702653030d7.png)

[2018-11-09 12:02] PetrJandak opened #3043 "windowHandleMaximize() does not work on Chrome 70+"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.12]
 - **Mode:** [Standalone mode or WDIO Testrunner]
 - **Node.js version: [8.12.0]
 - **NPM version:** [6.4.1]
 - **Browser name and version:** [ Chrome 70]
 - **Platform name and version:** [MAC OSX HighSierra]
 - **Additional wdio packages used (if applicable):** [@wdio/spec reporter, @wdio/seleniu

[2018-11-09 12:06] sanjeethgwd opened #3044 "browser.timeouts('implicit', 5000) returns "Error: Remote end send an unknown status code""
On webdriverIO with FireFox browser(gecko), `browser.timeouts('implicit', 5000);` returns "Error: Remote end send an unknown status code"

But, this works fine with chrome client and driver
same goes to `browser.timeouts('script', 60000);`, `browser.timeouts('pageLoad', 10000);`

**Environment (please complete the following information):**
 - **WebdriverIO version :4.12.0
 - **Mode: Standalone mod

[2018-11-09 14:10] shafh opened #3045 "Bug: Missing encoding in deleteCookie('name')"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.12.0
 - **Mode:** Standalone
 - **Node.js 8.12.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 67
 - **Platform name and version:** Ubuntu

**Describe the bug**
`this.browser.deleteCookie('cookieName');` is having an encoding issue.

Following code works:
[code]
But if I add a '/' to the

[2018-11-09 16:04] Dan-ders commented on #3003
Managed to get around this by using Git Bash terminal.

[2018-11-09 16:18] aaron-humerickhouse commented on #2252
wdio-browserstack-service does not start browserstackLocal when set to true.  I had to start up my local tunnel prior to running my tests.

[2018-11-10 10:16] christian-bromann commented on #3042
Please use `alertDismiss` when this happens. Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-11-10 10:16] #3042 closed

[2018-11-10 17:44] ManaliPatel opened #3046 "While running suite - wdio testrunner fails to close chrome browser after spec finishes - resulting into next spec to fail."
When I run suite `./node_modules/.bin/wdio wdio.conf.js --suite createportfolio`. It appears to run first spec successfully (`create_new_portfolio_spec.js`), however at the end of the first spec, first spec passes successfully. wdio fails to close the browser and doesn't launch the new browser for next spec. So the next spec fails. Why would this happen?

**Environment:**
 - **WebdriverIO version:

[2018-11-12 17:07] #3046 closed

[2018-11-13 10:57] Imamjanishaik opened #3047 "Unable to run test on firefox using Wdio test runner , mozilla with new tab opens but url didn't open"
**Environment (please complete the following information):**
 - **WebdriverIO version:4.14.0
 - **Mode:** [ WDIO Testrunner]
 - **If WDIO Testruner, running sync/async:** [e.g. sync]
 - **Node.js version: 8.12.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** [firefox 63]
 - **Platform name and version:** [e.g. Windows 10]
 - **Additional wdio packages used (if applicable):** [e.g. @wdi

[2018-11-13 11:08] raketenolli commented on #1552
For those coming here looking for a way to get the test name into Saucelabs, I've had success – thanks to @Tudmotu – with adding

[code]

to `wdio.conf.js` which will use the title of the first `display()` block of each test/spec as the test name in Saucelabs.

Do not use `browser.reload()`, it will fail the test with

    Error in onReload hook: "Error: Don't end the session manually. This will b

[2018-11-13 13:18] Moin-A commented on #203
How do obtain the link text for a link,is there any code for that

[2018-11-13 14:50] christian-bromann commented on #1552
You should be able to run this command in your test but not in the hooks

[2018-11-14 14:37] christian-bromann commented on #3047
This is most likely an issue with Geckodriver and your Firefox browser. Since there are no Geckodriver logs provided there is no chance to give a reason why this happens. Please reach out to our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for further support. T

[2018-11-14 14:37] #3047 closed

[2018-11-14 14:42] Imamjanishaik commented on #3047
Firefox 63.1.0 is release on Oct 31 ,2018 and tests are not working with this latest version. Browser was getting launched but it's not sending uri information to address bar.

[2018-11-14 14:42] Imamjanishaik commented on #3047
Same tests were perfectly working with 62.0 version

[2018-11-14 14:44] christian-bromann commented on #3047
Please provide logs otherwise there is no chance to provide help

[2018-11-14 22:14] Xotabu4 commented on #1547
@christian-bromann
Hi, i met the same problem in my tests, and found reproducible code.

Attaching .zip with demo project
[reproducible.zip](https://github.com/webdriverio/webdriverio/files/2582863/reproducible.zip)

I think it is related to my custom wait for text in element code, not quite sure that i wrote it correctly.

[2018-11-15 08:41] gurunanakdevji opened #3048 "I click on export button in my web application and then Windows's7 Save As file window opens then how can I choose the file path and enter the name in non-browser window using webdriverIO? Please let me know."
**Describe your question with as much detail as possible**
A clear and concise question that doesn't require too much conversation. Need more help? [Find us on Gitter](https://gitter.im/webdriverio/webdriverio)

**If it's about a specific piece of code, try and include some of it to support your question.**
[...]

**Environment (please complete the following information):**
 - **WebdriverIO versio

[2018-11-15 08:45] gurunanakdevji opened #3049 "Can we keep node_modules at some other location i.e. location out of webdriverio project? As our build server fetches all project code from Git and then replace on the project but node_modules is too heavy folder so want to avoid keeping it in Git."
**Describe your question with as much detail as possible**
A clear and concise question that doesn't require too much conversation. Need more help? [Find us on Gitter](https://gitter.im/webdriverio/webdriverio)

**If it's about a specific piece of code, try and include some of it to support your question.**
[...]

**Environment (please complete the following information):**
 - **WebdriverIO versio

[2018-11-15 09:19] christian-bromann commented on #3048
You can set default directories for downloads as `chrome:options`, not sure about Firefox. Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-11-15 09:19] #3048 closed

[2018-11-15 11:11] peterjwest commented on #2333
Thanks!

[2018-11-15 11:40] simplyageek commented on #2711
Any progress with this? It is really frustrating to debug, not knowing exactly, where the problem in the code is.

[2018-11-15 16:34] MartinX3 commented on #1140
I can confirm it.
Please reopen the bug repoort.

[2018-11-15 17:15] christian-bromann commented on #1140
@MartinX3 can you prove that this bug is WebdriverIO related? `setValue` hasn't changed within the last time so it seems like that Chrome introduced this regression.

[2018-11-15 17:58] MartinX3 commented on #1140
Oh, can you help us by providing a link where to put this bug request?

I continue my selenium work next week

[2018-11-16 00:46] goodbomb opened #3050 "Console.logs in custom commands are swallowed by the test runner"
**Describe your question with as much detail as possible**
I'm trying to debug a custom command that I've made in order to verify the output of some internal logic. However, I'm unable to log anything to console in these custom commands. It seems that console.log gets swallowed by the test runner and I am never able to see the output. More specifically, if I'm using the `execute` command, any cons

[2018-11-16 08:44] christian-bromann commented on #3050
What version of webdriverio are you using? Can you provide a minimal reproducible project?

[2018-11-16 17:52] goodbomb commented on #3050
Sorry, we're using v4.13.2 of webdriver.io.

I'll put together a basic project that can reproduce this behaviour.

[2018-11-16 18:18] goodbomb commented on #3050
@christian-bromann here is a working example: https://github.com/goodbomb/wdio-issue3050-example

I would expect my `console.log` to appear in the output to console, but it only appears in the "args" output in the "DATA" block.

[2018-11-16 19:06] goodbomb commented on #2711
+1

[2018-11-16 20:19] christian-bromann commented on #3050
@goodbomb thanks for creating the example. It makes sense to me now. You are running the console.log in the browser and WebdriverIO can't get that data until you call the `log` command. As log type you need to specify `browser` to get all logs from the browser. So WebdriverIO is not swallowing these logs they are just not executed in Node.JS but in the browser. This is not an issue with WebdriverI

[2018-11-16 20:19] #3050 closed

[2018-11-16 21:49] goodbomb commented on #3050
@christian-bromann Ah, thanks. That makes more sense now. So the console.log at that point is being output to the browser, which is why it's not showing up in the command prompt. I appreciate the help.

[2018-11-16 21:54] liuallen1981 opened #3051 "Upload Multiple files"
**Environment (please complete the following information):**
 - **WebdriverIO version: 4.12.0
 - **Mode: Standalone

 - **Node.js version: v10.9.0
 - **NPM version:6.4.1
 - **Browser name and version:Chrome
 - **Platform name and version:MacOS High Sierra

**Additional context**
Is it possible to upload multiple files using webdriverIO?
I have tried the below code.
`        browser.chooseFile("#in

[2018-11-19 01:38] FishSaidNo commented on #3041
A suggestion in Gitter was to use `browser.frame(0)`, this did not work either.
It appears this issue is only present when using Chrome, works fine in Firefox.

[2018-11-19 16:20] christian-bromann opened #3053 "Automatically deploy website if new version was released"
**Is your feature request related to a problem? Please describe.**

Deploying a new version of the website is still a manual process.

**Describe the solution you'd like**

Via environment variable it is possible to check if the build is testing a new version. This can be used to kick off a deploy task that builds and uploads the website.

**Describe alternatives you've considered**

None

**Addit

[2018-11-20 04:24] gurunanakdevji opened #3054 "Node fiber issue is raised when start the automation test using Test Runner. Chrome browser is not launched."
When running the automation tests using test runner; I am getting below issue related to node fibers and Chrome browser is not launched

Issue Details:

PS D:\dev\temp\test\wdf-automation> npm run test

## There is an issue with `node-fibers` ##
`D:\dev\temp\test\wdf-automation\node_modules\fibers\bin\win32-x64-67\fibers.node` is missing.

Try running this to fix the issue: C:\Program Files\nodejs

[2018-11-20 09:08] christian-bromann commented on #3054
Please use Node v10 until we have updated fibers.

[2018-11-20 11:29] Bamieh opened #3056 "Clean up v4 branch after v5 release to reduce repo size"
When cloning the repo, the size of the repo is `127.18 MiB`! Here is a simple breakdown of where this is coming from (mostly from the `.git` folder)

[code]

I believe we should try to reduce the git history size someway or another.

[2018-11-20 12:44] christian-bromann commented on #3056
@Bamieh that size is due to the history of the v4 branch because in the early days this project used to check in the selenium-server bundles. Once we get rid of that branch when we release v5 this size should go down drastically.

[2018-11-20 14:19] Bamieh opened #3057 "importing @wdio/logger throws an error."
Simply importing `@wdio/logger` version `beta.5` throws the following error:

[code]

[code]

This error started happening after switching from the package `wdio-logger`.

For context; I am using this logger in my e2e wrapper to do the following:

[code]

This way the client has a simple logger that my team can use in our tests to log things. Any idea on what's causing this? I tried tracing it dow

[2018-11-20 14:34] christian-bromann commented on #3057
@Bamieh can you provide a reproducible example? Using wdio testrunner I was just able to import the logger and do some random logging.

[2018-11-20 14:56] anilkoithara commented on #1406
I have same issue when I select two dates from the calendar

I am using xpath find element because we are using third party calendar will add my comment if I mange to resolve that .... look's like on first click the calendar element are changing .. element size changed from 2 to 1 after first click.

###error:  element not interactable
[chrome #0-0] Error: An element command could not be completed

[2018-11-20 15:38] Bamieh commented on #3057
@ChrisOelmueller 	thanks for your time. The following script causes the error:

[code]

I'm using the following package versions:

[code]

[2018-11-20 15:54] Bamieh commented on #3057
@ChrisOelmueller 	I've just updated `webdriverio` to `beta.5` and it works so I believe its not a big issue anymore especially since we have exact versions now so this should not break again in the future just by doing a new npm install. Feel free to close this.

[2018-11-20 15:55] ChrisOelmueller commented on #3057
You probably wanted @christian-bromann :-)

[2018-11-20 18:43] Bamieh commented on #3057
@ChrisOelmueller haha yes my bad ❤️

[2018-11-20 21:38] christian-bromann commented on #3057
Glad it is fixed.

[2018-11-20 21:38] #3057 closed

[2018-11-20 22:49] christian-bromann commented on #2872
@goofballLogic added it back to the project board.

@mikesalvia do you want to take the lead on this?

[2018-11-21 09:12] DonnaZhang commented on #2406
@christian-bromann  I always meet this issue (UnhandledPromiseRejectionWarning: Error: java.net.ConnectException: Connection refused) while I am using chrome but when I switch to firefox and the issue fixed ; But I meet different an issue , because I can't use client.frame(id ) function to help locate the elements inside iframe when using firefox.
This issue happened every time I dump into this pa

[2018-11-21 10:45] nextlevelbeard opened #3058 "[Win10] `wdio config` throws `TypeError: pkgLabel.trim is not a function`"
**Environment:**
 - **WebdriverIO version:5.0.0-beta.5**
 - **Mode: WDIO Testrunner**
 - **Running sync**
 - **Node.js version: 10.13.0**
 - **NPM version: 6.4.1**
 - **Browser name and version: N/A**
 - **Platform name and version: Windows 10**
 - **Additional wdio packages used (if applicable): N/A**

**Describe the bug**
While doing wdio config I'm getting `>> TypeError: pkgLabel.trim is not a

[2018-11-21 11:51] nextlevelbeard opened #3059 "[Win10] wdio throws Error: Cannot find module 'lodash.flattendeep'"
**Environment:**
 - **WebdriverIO version:5.0.0-beta.6**
 - **Mode: WDIO Testrunner**
 - **Running sync**
 - **Node.js version: 10.13.0**
 - **NPM version: 6.4.1**
 - **Browser name and version: N/A**
 - **Platform name and version: Windows 10**
 - **Additional wdio packages used (if applicable): N/A**

**Config of WebdriverIO**
N/A

**Describe the bug**
`wdio` binary does not run whatsoever, even

[2018-11-21 20:58] diwakarChapagain opened #3060 "browser.getCookie() or browser.cookie() not returning values on IE"
Hi I am using `browser.getCookie()` function to access all the cookies from the browser, but recently it started failing to return. I have tried `browser.cookie()` as well wit no Luck. can anybody help me?

[2018-11-21 21:32] christian-bromann commented on #3060
Please provide log messages or a reproducible example. How do you expect help without giving any context?

[2018-11-21 21:48] diwakarChapagain commented on #3060
Hi I am running my tests on Sauce labs and its does not have any logs as well all i get on my system is below:

Error communicating with the remote browser. It may have died.
Build info: version: '2.53.1', revision: 'a36b8b1', time: '2016-06-30 17:37:03'
System info: host: 'sauce-win10', ip: '10.100.20.6', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '1.8.0_131'
Drive

[2018-11-21 21:58] christian-bromann commented on #3060
@diwakarChapagain if you run tests on saucelabs you have tons of logs!

[2018-11-21 22:19] diwakarChapagain commented on #3060
This is the server log:

21:28:17.321 INFO - Executing: [get all cookies])
21:28:51.256 INFO - I/O exception (java.net.SocketException) caught when processing request to {}->http://localhost:20362: Connection reset
21:28:51.260 INFO - Retrying request to {}->http://localhost:20362

This is Automation log in sauce labs:
2018-11-21 21:28:17:329 server.cc(281) Command: GET /session/50fb1ac9-87c3-4bb4

[2018-11-21 22:40] christian-bromann commented on #3060
Can you provide the job id?

[2018-11-21 23:42] #3058 closed

[2018-11-21 23:42] #3059 closed

[2018-11-22 02:09] #3051 closed

[2018-11-22 02:18] liuallen1981 commented on #3051
Using uploadFile and addValue together seems to solve my problem.

[code]

[2018-11-22 08:56] nextlevelbeard commented on #3003
Can confirm the issue.

**Environment:**
 - **WebdriverIO version:5.0.0-beta.7**
 - **Mode: WDIO Testrunner**
 - **Running sync**
 - **Node.js version: 10.13.0**
 - **NPM version: 6.4.1**
 - **Browser name and version: N/A**
 - **Platform name and version: Windows 10**
 - **Additional wdio packages used (if applicable): N/A**

**Config of WebdriverIO**
N/A

**Describe the bug**
Running `wdio confi

[2018-11-22 13:07] repl-ashwani commented on #2429
I am getting this issue, Not sure what could be the possible solution. I am using wdio 4.13. Is there a workaround to get rid of this?

I even tried ending the session manually it says "Don't end the session manually. This will be done automatically."

And when I try to close browser using close method it says "no such session
  (Driver info: chromedriver=2.40.565498 (ea082db3280dd6843ebfb08a625e3

[2018-11-22 13:59] vedharish opened #3067 "Session Stop sometimes fails locally on BrowserStack; FeatureRequest: Configurable timeouts for DELETE request"
**Is your feature request related to a problem? Please describe.**
DELETE requests for sessions sometimes fail on BrowserStack

**Most probably Cause**
All remote requests have a default command / http timeout of 10secs after which the request is retried.
When the DELETE request takes more than 10 secs to complete, the request is retried on BrowserStack. The second request always returns "Session

[2018-11-22 14:03] vedharish commented on #2429
This issue was opened because the DELETE response for automate sessions did not have a "value" field originally making BrowserStack "not WebDriver complaint". This was fixed server-side by BrowserStack.

Please note

When webdriverio detects any kind of failure with DELETE rqeuest, it retries the request ignoring the error. The error in the second request is shown in the logs.
[Check the uploaded

[2018-11-22 14:39] Tallyb opened #3068 "Hooks are not waiting for promises with cucumber framework 2.2.8"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.14.4
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync**
 - **Node.js version: 10.13.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** chrome
 - **Platform name and version:** MacOS latest
 - **Additional wdio packages used (if applicable):** [e.g. @wdio/spec reporter, @wdio/selenium-standal

[2018-11-22 14:43] christian-bromann commented on #3068
@Tallyb in the meantime this should be a workaround:

[code]

[2018-11-22 14:48] Tallyb commented on #3068
@christian-bromann I just checked it (also on my real repo previously) and it does not fix.

[2018-11-22 18:46] christian-bromann commented on #2126
@andrewindigo can you provide a minimal reproducible example?

[2018-11-22 19:51] diwakarChapagain commented on #3060
Hi This is a Sauce labs Job ID :

`5a1d1bf579f64c5eabdefe67528bd066`

[2018-11-23 08:57] nextlevelbeard opened #3069 "[Win10] Only test passes but suite fails w/ TypeError: this._redirectLogStream is not a function"
**Environment:**
 - **WebdriverIO version:5.0.0-beta.10**
 - **Mode: WDIO Testrunner**
 - **Running sync**
 - **Node.js version: 8.9.0 or 10.13.0**
 - **NPM version: 6.4.1**
 - **Browser name and version: N/A**
 - **Platform name and version: Windows 10**
 - **Additional wdio packages used (if applicable): N/A**

**Config of WebdriverIO**
[code]

**Describe the bug**
All tests pass and yet the sui

[2018-11-23 10:11] christian-bromann commented on #3069
@nextlevelbeard can you provide a minimal reproducible example?

[2018-11-23 10:38] christian-bromann commented on #3060
Can you also share the test code?

[2018-11-23 10:43] danielantelo commented on #464
any way of getting `client.logs('browser')` to work in safari?

[2018-11-23 14:49] christian-bromann commented on #3069
I don't see any cookie command or whatever being called.

[2018-11-23 15:53] shackijj opened #3070 "Add retries option will allow to retry framework's hooks"
**Problem**
The webdriverio supports the retries option which is described [here](http://webdriver.io/guide/testrunner/retry.html). The problem is that using the feature in a big project causes a lot of boilerplate code.

For example, one decides to use retry options in all beforeEach in a codebase. It means that he will either create a constant and use it in tests or create a helper function.
Usi

[2018-11-23 17:16] zubhav commented on #2252
Do you utilise a local.runner.js file at all?

[2018-11-23 18:08] diwakarChapagain commented on #3060
[code]

[2018-11-23 20:01] abjerstedt opened #3071 "port wdio-browserstack-local to v5"
**Describe the solution you'd like**
Currently, the v5 branch does not support the wdio-browserstack-local package.  I would like to see this package ported to v5.

[2018-11-23 20:02] abjerstedt commented on #3071
I've already started working on the port.

[2018-11-26 08:56] IrinaSouth commented on #2711
+1

[2018-11-26 10:51] christian-bromann commented on #3070
@shackijj I don't know if it is a good idea to allow setting retries globally. You usually don't want to retry and rather see if you can fix the flaky behavior. You can also set retries always via a global environment variable, e.g. in your wdio.conf. I don't see how an extra config property is useful here. Thanks for the suggestion though!

[2018-11-26 10:51] #3070 closed

[2018-11-26 12:04] shackijj commented on #3070
Thanks for your response.

Regarding unit tests, I absolutely agree.
But for functional tests, it is not always the case. For example, the problems of a cloud testing platform could cause failure of tests. Moreover, if one has to support hundreds of functional tests, occasional failures could become a real pain.

Consider the most frequent problem I face in the production environment. I use a page

[2018-11-26 13:00] shackijj commented on #3070
You're right.

Unfortunately, Mocha doesn't retry hooks. It retires only suites and tests. wdio-sync package allows retrying hooks of frameworks. It's the main reason why I suggest the feature here.

I could mention that in the docs, as like [http://webdriver.io/guide/testrunner/retry.html](here)

[2018-11-26 14:27] NaveenThiyagarajan opened #3074 "Is the hooks in wdio conf file runs async"
Hi Guys, I have the code to take screenshot in the afterStep if the step fails in cucumber framework

From the logs i can see the `screenShot` api call to `selenium server` triggered as part of `afterStep` ... but the problem is `DELETE` session call is triggered before getting the response for `screenshot` call ...

Because of this behavior the allure-reports are not showing screenShots for some

[2018-11-26 14:37] christian-bromann commented on #3074
Hooks automatically run every command in sync mode if you have it enabled, try:
[code]

[2018-11-26 14:37] #3074 closed

[2018-11-26 15:51] vass-david opened #3075 "Example from guide does not work"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.14.0]
 - **Node.js version:** 9.4.1
 - **NPM version:** 6.4.1
 - **Browser name and version:** Firefox
 - **Platform name and version:** macOS 10.14.1 (18B75)
 - **Selenium version:** 3.12.0

**Config of WebdriverIO**
An example of how you configured WebdriverIO config

**Describe the bug**
Trying to t

[2018-11-26 17:30] diwakarChapagain commented on #3060
Hi Any update on this @christian-bromann ?

[2018-11-26 18:48] NaveenThiyagarajan commented on #3074
hi @christian-bromann .. initially i tried as mentioned by you. It did not worked. That is why i added `async await` to see whether it makes any difference.

[2018-11-26 18:55] christian-bromann commented on #3074
@NaveenThiyagarajan if all other commands run synchronous , this should work too

[2018-11-26 19:04] NaveenThiyagarajan commented on #3074
Ok.. may be is it like we are triggering `afterStep` and `DELETE` call(might be from onComplete hook)
 asynchronously  when there are failures ... sorry .. this is not working for me ... :( so trying to find out what mistake i am doing ... may be i can create some sample project for you to reproduce ..

[2018-11-26 20:45] Mike-T-Mitchell commented on #2964
@christian-bromann I apologize for commenting on a closed issue, but wanted to ask -- when you asked @saikrishna321 to check out the "boilerplate" at https://github.com/christian-bromann/webdriverio-performance-testing, what did you mean by "boilerplate?" I've only ever heard the term used to describe fine print at the bottom of contracts or sweepstakes submission forms and such. Thank you!

[2018-11-27 00:01] worc commented on #3060
i've run into issues with `getCookie` before. it can be inconsistent and cause tests to fail periodically.

when i went digging into the problem i reran some tests with very verbose logs from webdriver, but never found the true root cause. but i did find that calling a `setCookie` immediately before `getCookie` was related to the issue. in the very verbose readout from webdriver, you could see `se

[2018-11-27 07:20] diwakarChapagain commented on #3060
Is this mean should I be using the set cookie to drop something and use `getCookie`? @worc

[2018-11-27 09:53] tario-yang commented on #1079
Our world is not perfect -- from [chromedriver_status](https://chromium.googlesource.com/chromium/src/+/master/docs/chromedriver_status.md) , you will see both `browser.keys()` and `browser.actions()` are incomplete. Also, `browser.setValue()` is used to set value for a `input` or `textarea`. So,

cannot resolve the issue. From the debug information, you can get it.
![image](https://user-images.gi

[2018-11-27 11:05] christian-bromann commented on #1079
@tario-yang WebdriverIO can only work according to the WebDriver or JSONWire protocol standard here. If the driver is behaving inconsistently the bug has to get reported there and not here.

[2018-11-27 17:43] worc commented on #3060
i mean you might want to look into how you're setting the cookies in the first place. the webdriver `setCookie` function is async and has caused timing issues for me before.

[2018-11-27 17:53] diwakarChapagain commented on #3060
I got it, I am not setting any cookies using `setCookie` through webdriver, I am checking other cookies being set by the application code.

[2018-11-28 11:12] saikrishna321 commented on #3015
Please set automationName as UIAutomator2 and give it a try

[2018-11-28 14:15] christian-bromann commented on #2856
The idea is to start allowing to connect with the DevTools interface as soon as the `debug` command is called because I can't open a debugging port for every worker. So basically you call `browser.debug()` and you can either type in the terminal or use the DevTools app. However there is a small issue I encountered: https://github.com/ChromeDevTools/devtools-frontend/issues/103

Outstanding work he

[2018-11-28 14:16] christian-bromann commented on #2872
As I want to move forward with the project I decided to release v5 without cucumber integration. I still look for someone who is interested in doing this.

[2018-11-28 14:46] joshgrantsauce opened #3078 "Setting Text Not Working Properly on Firefox"
**Environment:**
 - **WebdriverIO version:** 4.10.0
 - **Mode:** WDIO Testrunner, sync
 - **Node.js version**: 8.10.0
 - **Yarn version:** 1.5.1
 - **Browser name and version:** Firefox 57.0 and 59.0
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** wdio/spec reporter, wdio-sauce-service

**Config of WebdriverIO**
[code]

**Describe the bug**
Settin

[2018-11-28 14:56] joshgrantsauce commented on #3078
Just tried this with wdio version 4.14.0 and it appears to be fixed. Perhaps it's still interesting though :)

[2018-11-28 15:42] christian-bromann commented on #3078
@joshgrantsauce please use `setValue` to set text in an element. `keys` has been deprecated but we implemented some sort of workaround.

[2018-11-28 15:42] #3078 closed

[2018-11-28 16:23] pradeepkadali27 opened #3079 "Webdriver unable to find element by xpath or cssselector"
Execution is failing at performing an action on an element. I tired finding element by xpath and cssselector but no luck below is html code of the failing element:

<a href="/TaskManagement/TaskExecution.aspx?TaskCode=TSK-20181119061202379SH">FF&nbsp;HP&nbsp;Sure&nbsp;Shield&nbsp;AI&nbsp;1.0.1.7.A.1</a>

``
	And this is my script:

import java.util.concurrent.TimeUnit;
import org.openqa.selenium.B

[2018-11-28 18:58] joshgrantsauce commented on #3078
@christian-bromann what is the workaround? Is there a doc or example somewhere?

[2018-11-28 23:10] christian-bromann commented on #3078
To set values for input elements please use setValue. `keys` is for triggering a keyboard action on non focused elements (e.g. pressing key to submit forms).

[2018-11-29 09:12] UsharaniA opened #3080 "WebdriveIO moveto object and click not working"
**Describe your question with as much detail as possible**
A clear and concise question that doesn't require too much conversation. Need more help? [Find us on Gitter](https://gitter.im/webdriverio/webdriverio)

**If it's about a specific piece of code, try and include some of it to support your question.**
[...]

**Environment (please complete the following information):**
 - **WebdriverIO versio

[2018-11-29 09:16] UsharaniA commented on #3080
Hi,
I have collection of elements and i need to moveto everyobject and perform click, i tried all possible option

1.browser.execute("arguments[0].scrollintoview()",element[i].value)
2.browser.moveToobject(selector) and then browser.click(selector)

Am not able to fix this issue for more than 2 days, pls help

[2018-11-29 14:01] blarvin commented on #1146
Tried 0.6.1 local (dev), no workee. Installed glabal... Seems to be working. (Have another error now :) )

[2018-11-29 14:39] rodrigodiez commented on #3068
Is this confirmed then? I have some failing tests that could be caused by that behaviour

[2018-11-29 21:45] abjerstedt opened #3082 "port wdio-visual-regression-service to v5"
Describe the solution you'd like
Currently, the v5 branch does not support the wdio-visual-regression-service package. I would like to see this package ported to v5 in order to maintain compatibility.

[2018-11-29 21:46] abjerstedt commented on #3082
I'm about to start on this

[2018-11-29 22:07] christian-bromann commented on #3082
I don't mind porting it to this repo. Doing so however requires maintenance. I am not familiar with this project so an other option is to just make a PR to the original project. With that being said, feel free to port it here but if so you need to make the commitment to be responsible for all issues around that package :-P

[2018-11-29 22:38] emilyrohrbough commented on #3082
@abjerstedt There are a few issues / enhancements I would like to see addressed if you are picking up this work.

[2018-11-29 22:40] emilyrohrbough commented on #3082
Also, the wdio-visual-regression-service project is dependent on the [wdio-screenshot](https://github.com/zinserjan/wdio-screenshot) project. Are you going to work on compatibility for both?

[2018-11-30 00:50] abjerstedt commented on #3082
So, after I made this issue I talked to my boss and he is a little reluctant (didn't say no  though) for me to take ownership of this tool due to the time sync and the fact that my non of my devs are using it yet.

However, it does seem like a tool that would be better off owned by an organization such as the wdio community than  a single person that only seems to release every 6-12 months (and it

[2018-11-30 01:09] naddison opened #3083 "How is wdio-cli packaged with the webdriverio package?"
When I npm install webdriverio that package contains the wdio-cli compiled code and binary, but when I look inside this repository it is its own module. I cannot find any packaging logic which merges/combines the wdio-cli package and webdriverio package before publishing.

[2018-11-30 07:42] issei126 opened #3084 "Why does not Webdriverio report an error in beforeAll with Jasmine?"
I use with Jasmine.
When an error occur in `beforeAll`, WebdriverIO does not report the error, but exit code is 1.
I expect it to report error and test failed.
When an error occur in 'beforeEach', WebdriverIO report it and the test failed.

example code

[code]

**Environment (please complete the following information):**
 - **WebdriverIO version: 4.14.0
 - **Mode:** WDIO Testrunner
 - **If WDIO T

[2018-11-30 09:39] christian-bromann commented on #3084
@issei126 please share the report and the report that you would expect. I don't know what you mean by report here.

[2018-11-30 09:40] christian-bromann commented on #3083
@naddison if you npm install webdriverio you get v4 which you can find here: https://github.com/webdriverio/webdriverio/tree/v4. The current master is v5 which is already in beta and will be released soon. See http://beta.webdriver.io

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign

[2018-11-30 09:40] #3083 closed

[2018-11-30 10:35] issei126 commented on #3084
@christian-bromann

Sorry. The above code is not good.

Here is another alternative sample
[code]

expected report

[code]

but report is

[code]

[2018-11-30 12:20] christian-bromann commented on #3084
Does the Jasmine framework fail if the hook raises an Error?

[2018-11-30 18:12] tulips92 commented on #1695
Hi team, I have two named browser objects as follows

[code]
&
[code]

The `realDeviceDriver` is the browser object for a real android device and `emulatorDriver` is for an android emulator. I'm trying to run a basic test to add two numbers in the calculator app using the `browser` object as I want to perform the test parallel using the multi-remote concept.

The following is being observed
* Both

[2018-11-30 21:21] christian-bromann commented on #1695
Why would you want to do that? Multiremote is for multi client test cases. If you test a calculator app you can just use the normal testrunner without multiremote.

[2018-11-30 21:23] tulips92 commented on #1695
I want to test both the device at the same time.

[2018-11-30 21:23] christian-bromann commented on #1695
Yes, this is how wdio testrunner without multiremote would do that.
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-11-30 22:18] nicholasodonnell commented on #2128
@dimirey did you ever figure out the problem? I'm seeing the same thing over here.

[2018-12-01 02:08] #3071 closed

[2018-12-01 02:55] abjerstedt commented on #2962
@burg - What am I missing on this? The endpoint listed above is indeed listed in the spec as the defacto method to ascertain element displayedness:
https://www.w3.org/TR/webdriver1/#element-displayedness
[code]

[2018-12-01 11:07] christian-bromann commented on #2954
I think this is unrelated to WebdriverIO. It doesn't handle the job state in Browserstack. This should be handled in the service.

@abjerstedt can you confirm that this works?

[2018-12-01 15:53] abjerstedt commented on #2954
@christian-bromann I just reproduced it and debugged it. This is an issue for sauce, testingbot and browerstack due to the fact that the after() hook is called BEFORE the afterTest()/etc hook in the event of a bail.

I'll take a look and see if i have some context to tell that a bail occurred and increment failures.

[2018-12-02 08:31] issei126 commented on #3084
Yes.
This is sample code

[code]

output
[code]

[2018-12-02 12:04] christian-bromann commented on #2954
Reopening the ticket then

[2018-12-02 13:04] christian-bromann commented on #3084
@issei126 feel free to provide a patch with a fix, thanks!

[2018-12-02 20:09] naddison opened #3089 "When does the before hook get executed?"
I am interested to know when the the **before** hooks get called when using the WDIO Test Runner, is it run inside before control is passed to the underlying framework adapter (like wdio-jasmine-framework) or is it run in the wdio-cli launcher code?

[code]

[2018-12-03 10:09] christian-bromann commented on #3089
It is run after the framework was initialised but before it is being run.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-12-03 10:09] #3089 closed

[2018-12-03 22:48] christian-bromann commented on #3024
I don’t know the issue number

[2018-12-04 00:39] burg commented on #2962
The algorithm is not specified with any semantics outside code, namely, the existing Selenium atom. There is no reason for drivers to implement a non-normative endpoint that can be polyfilled.

[2018-12-04 01:06] xcao-riffyn commented on #3075
@vass-david this is a geckodriver issue. I downloaded the latest driver and it was working:

`curl -L https://github.com/mozilla/geckodriver/releases/download/v0.23.0/geckodriver-v0.23.0-macos.tar.gz  | tar xz`

[2018-12-04 04:33] jonatr35 commented on #3068
Seem the same behavior when attempting to make an axios http POST in `beforeScenario` hook. The status code in the `then` block gets logged after `beforeStep` logs have been written.

Using `"wdio-cucumber-framework": "2.2.8"` as well.

[2018-12-04 07:53] LayMuiToh opened #3093 "webdriver sent a DELETE after the POST command to click and app terminated"
**Environment (please complete the following information):**
WebDriverio version
 -node_modules/.bin/wdio --version
v4.14.0
Mode:WDIO Testrunner
 sync
node --version
v9.1.0
npm --version
6.4.1
Platform: iOS 12.1
 - **Platform name and version:** [e.g. Windows 10]

 capabilities: [{
        // maxInstances can get overwritten per capability. So if you have an in-house Selenium
        // grid with

[2018-12-04 08:19] christian-bromann commented on #3093
You just need to install Appium, this is it.

When the test has finished, WebdriverIO closes the session with that DELETE command.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-12-04 08:19] #3093 closed

[2018-12-04 08:19] BorisOsipov commented on #3068
yes it is 2.x version issue. And this should be moved to cucumber adapter repo @christian-bromann

For @Tallyb @jonatr35 @rodrigodiez

You can achive expected behaviour by using "native" cucumber hooks e.g.:

[code]

In this case `Before` hook will be executed before scenario steps.
Log output:
[code]

For more information see [cucumber hooks documentaion](https://github.com/cucumber/cucumber-js/b

[2018-12-04 08:20] christian-bromann commented on #3075
@xcao-riffyn thanks for verifying 👍 Closing.

[2018-12-04 08:20] #3075 closed

[2018-12-04 08:29] nextlevelbeard commented on #3069
@christian-bromann With `5.0.0-beta.12`, the suite does not fail. But the error
[code]
remains in the logs.

[2018-12-04 08:54] christian-bromann commented on #3069
This is not reproducible. Not sure what you did with `support.js` but you can't run commands like that. Maybe that is what triggered. this error.

[2018-12-04 08:54] #3069 closed

[2018-12-04 12:31] sanyco92 opened #3096 "[iOS, Appium] Closing and reopening application within the same session"
Hello everyone! I'm trying to write some test for the iOS application (iOS 12) using Appium. The question is the following: is there any way to close the app and reopen it within the same session (without losing it)?

The test is like this:
1) Start an appium session -> application opened -> some steps performed.
2) Close the application
3) Reopen the same application (without losing the session)

[2018-12-04 12:35] christian-bromann commented on #3096
That should do the trick.

That should not happen.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2018-12-04 12:35] #3096 closed

[2018-12-04 16:00] abjerstedt opened #3097 "Add the ability to refetch an entire element chain to v5"
**Is your feature request related to a problem? Please describe.**
I would like to add the ability to v5 for wdio to refetch an element via refetching the whole chain.
Currently Given:
$('a').$('b').$('c')
If 'a' or 'b' fall stale, the system will try to fetch 'c', but it will never be successful as it is scoped to an element that is no longer in the DOM (and therefore the rest of the chain is sta

[2018-12-04 16:01] abjerstedt commented on #3097
@christian-bromann The question is whether i add this as an element command, and have the middleware call it (so it can be adhoc invoked by the wdio consumer); or just to the middleware.
I propose the first.

[2018-12-04 16:07] abjerstedt commented on #2986
@jnkrao Is there a reason you cannot do this using your build server? In jenkins / team city/etc, its super easy to make a test retry multiple times upon a failure. This also also the reporting to be more accurate and to track flakey tests.

[2018-12-04 16:12] christian-bromann commented on #3097
I would suggest to do it only in the middleware because the wdio user doesn't know that an element might has become stale and why to ask the user to call an extra command if we can hide this internally.

[2018-12-04 16:38] briandipalma commented on #2457
Might be because the element isn't enabled and thus the return is an error, it's one that you don't care about but the screenshot code doesn't know that so it generates a screenshot regardless.

[2018-12-04 17:04] briandipalma commented on #780
I don't know how to suggest this as an enhancement to the W3 Webdriver authors but `isAlertPresent` would be a great addition. This is to allow better handling of divergent browser behaviours. For example navigating away from our login page in Chrome launches an alert but not in Fx. This is browser behaviour and not our own code. So in our logout code I'm doing this:

[code]

Which is brittle comp

[2018-12-04 17:21] briandipalma commented on #722
@bhabanipattanayak Is that WebdriverIO or Webdriver Java?

[2018-12-04 17:59] VKnightUT commented on #2406
@christian-bromann I would like to second what @DonnaZhang has stated. I am running into this connection refused all the time. From the screenshot it looks like a page for salesforce. This is the same type of site we are trying to test and there are two pages that it comes up in randomly. One has 4 iframes and the second has 13 iframes.

We are running with WDIO test runner on the Jasmine test fra

[2018-12-04 18:17] thesunny opened #3098 "The `attach` method in the WebDriverIO 5 beta returns a browser without the URL info (all remote calls break)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.0.0-beta.10
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** n/a
 - **Node.js version:** 8.11.1
 - **NPM version:** yarn 1.7.0
 - **Browser name and version:** Chrome 70.0.3538.110
 - **Platform name and version:** Mac OSX High Sierra 10.13.2
 - **Additional wdio packages used (if appli

[2018-12-04 18:21] abjerstedt commented on #2406
@VKnightUT How many instance are you running at one time of selenium standalone on a single machine (this is the most common reason for the connection refused error)?

[2018-12-04 18:42] VKnightUT commented on #2406
@abjerstedt I'm only running one instance at a time on a single machine.

[2018-12-04 18:48] abjerstedt commented on #2406
@VKnightUT, @DonnaZhang can i get you guys to post some code in the area that your test is failing, as well as share your current chrome version and chrome driver versions?

[2018-12-04 19:16] VKnightUT commented on #2406
I would be happy to give you one example:

Chrome Version 70.0.3538.110
Chromedriver Version 2.44.1

I use a ton of page objects and functions so let me know if you'd like to see the underlying code on any of these functions. The error always happens on the line "Job.landing.lnkRecentRecordIdFirst.click();" in my test case below. It logs in and goes to the correct page, it finds the element and cl

[2018-12-04 19:37] christian-bromann commented on #3098
Try
[code]
It would be definitely good to add a docs page for this to show the API. Please reach out in the [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/v5?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) channel if you have more question.

[2018-12-04 19:37] #3098 closed

[2018-12-04 22:37] christian-bromann commented on #2866
Removing it from the v5 release as it is currently also not implemented in v4 and I want to get v5 out asap.

[2018-12-04 22:47] xcao-riffyn commented on #3084
@issei126 I tried replaced jasmine with mocha and it didn't have this issue. That tells me that it's a wdio-jasmine-framework issue rather than wdio.  Read through the code of wdio-jasmine-framework and compare it with wdio-mocha-framework now to see if I can find anything.

[2018-12-04 23:05] christian-bromann commented on #3084
I stumbled upon this issue when working on #2861 and it seems that this is a Jasmine issue. It doesn't propagate failures when an error is thrown in `beforeAll`. It works well in `beforeEach`.

[2018-12-04 23:29] thephilwells commented on #2866
Makes sense. Apologies for dragging my feet on this.

[2018-12-04 23:59] christian-bromann commented on #2866
@thephilwells feel free to propose a PR

[2018-12-05 00:01] christian-bromann commented on #3084
No, that fix was related to Mocha

[2018-12-05 00:06] christian-bromann commented on #2962
@burg what do you suggest? If the driver uses the Selenium atom anyway why should I need to polyfill it by myself?

[2018-12-05 00:06] christian-bromann commented on #2962
Moving this out from v5 release as it doesn't block any functionality that needs to be ported.

[2018-12-05 07:34] DonnaZhang opened #3100 "Iframe doesn't work on firefox while works on chrome? get "Error: data did not match any variant of untagged enum FrameId at line 1 column 21""
** questions**

Why iframe doesn't work on firefox while works on chrome?
The following code works on chrome (options1) and not works on firefox(options2)

(node:27720) UnhandledPromiseRejectionWarning: Error: data did not match any variant of untagged enum FrameId at line 1 column 21

**code**
[code]

**Environment (please complete the following information):**
Package
[code]

 - **WebdriverIO ve

[2018-12-05 07:48] DonnaZhang commented on #2406
@abjerstedt
ChromeDriver 2.41.578706
Google Chrome | 70.0.3538.102 (Official Build) (64-bit)

Actually no matter I did to drump into this page I will got this issue:
[code]

[2018-12-05 09:55] christian-bromann commented on #3100
This code you provided can't work as you are mixing synchronous with asynchronous code. Please use one of the [boilerplate](http://webdriver.io/guide/getstarted/boilerplate.html) code samples to get up and running.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_conten

[2018-12-05 09:55] #3100 closed

[2018-12-05 10:02] christian-bromann commented on #3060
Yeah it seems like a weird connection error of the driver. Closing.

[2018-12-05 10:02] #3060 closed

[2018-12-05 10:36] christian-bromann commented on #3024
Closing. This issue needs to be reported in Chromedriver. WebdriverIO sends the commands according to the W3C WebDriver spec.

[2018-12-05 10:36] #3024 closed

[2018-12-05 10:36] christian-bromann commented on #3054
Fibers was updated. This issue should be resolved now.

[2018-12-05 10:36] #3054 closed

[2018-12-05 10:46] #2998 closed

[2018-12-05 11:00] christian-bromann commented on #2248
I think we should rely on Node.js [experimental repl await](https://nodejs.org/dist/latest-v10.x/docs/api/repl.html#repl_await_keyword) and don't implement something custom. Closing.

[2018-12-05 11:00] #2248 closed

[2018-12-05 11:03] christian-bromann commented on #996
This issue became outdated. We only emit for command and result and don't have any runner events anymore.

[2018-12-05 11:03] #996 closed

[2018-12-05 17:49] xcao-riffyn commented on #3084
@issei126 I dug around for some time and unfortunately didn't anything that wdio-jasmine-framework has done wrong to not to propagate the error further. Notice in your test above there was a dot underneath the Started, that indicated test passed. if you replaced beforeAll with beforeEach, that dot would have been a 'F'.  Also in wdio with wdio-jasmine-framework test I did, the test was passed but

[2018-12-05 18:47] sivis26 commented on #2502
Anyone help me to scroll the elements which is present on top of overlay.

In browser.elements(selector) it will return the set of elementIDs.
here selector is an dropdown.
I need to scroll to the next index when the previous index got clicked.I am unable to scroll using the elementID.  Without scrolling other element got clicked.it throws 'Element <a> is not clickable at point (245,712) because a

[2018-12-05 23:04] thesunny opened #3102 "logLevel in version 5 doesn't filter console logging"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.0.0-beta.12
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version: 8.11.1
 - **NPM version:** yarn 1.7.0
 - **Browser name and version:** Chrome 70
 - **Platform name and version:** OSX 10.14
 - **Additional wdio packages used (if applicable):** none

**Config of W

[2018-12-05 23:56] christian-bromann commented on #3102
@thesunny I couldn't reproduce the issue. The only log content I see when switching to error was:

which is a known "issue". Can you provide a sample script and your output?

[2018-12-06 00:55] thesunny commented on #3102
@christian-bromann

Sorry, the bug was more complicated than I thought and I needed to do more to reproduce it.

Here's a breakdown:

- If you create a new `remote` session, the `logLevel` works fine.
- If you create a `remote` session and then you `attach` to that session with the `remote`s config within the same running instance of nodejs, everything works fine
- If you create a `remote` session

[2018-12-06 01:07] thesunny commented on #3102
@christian-bromann

Okay, I think I know how to fix it but I'm not confident enough with the codebase yet so maybe I'll just submit the fix here. It's called out with `### This line here is the fix ###`

[code]

[2018-12-06 01:19] issei126 commented on #3084
@xcao-riffyn
Thank you for your investing.

I tried to use the try-catch statement in beforeAll.
It catched an error but a test passed.
I have been able to know the error, so I'd like to wait and see.

[code]

output

[code]

[2018-12-06 02:59] HairyMaclary opened #3103 "master is missing the libs folder which is breaking links on webdriverio.io"
**Pre-check**
- [y] I'm aware that I can [edit the docs]

**Describe the improvement**

I'd like to report
- [ ] Other: links to documentation not working from http://webdriver.io/

**Description of the improvement / report**
1. Navigate to a command on http://webdriver.io/. E.g. leftClick: http://webdriver.io/api/action/leftClick.html

2. Click on either of these buttons: "Improve this doc" or "V

[2018-12-06 09:30] iongion commented on #2299
Still having this issue

*Firefox* `63.0.3`
*wdio* `v4.14.1`

Verbose log of wdio:

[code]

Tests run, but I still *SEE* the Firefox window appearing on my screen.

The `wdio.conf.js`

[code]

The deps:

[code]

What am I missing ?

[2018-12-06 09:30] christian-bromann commented on #3103
@HairyMaclary we are currently transitioning from v4 to v5. The new docs page is at http://beta.webdriver.io and once we released v5 and the docs page all links will work.

[2018-12-06 09:30] #3103 closed

[2018-12-06 09:32] christian-bromann commented on #3102
@thesunny mind proposing a PR?

[2018-12-06 11:06] christian-bromann opened #3104 "Process silently fails if local runner isn't installed"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. v5]
 - **Mode:** [WDIO Testrunner]
 - **running sync
 - **Node.js version: [e.g. 8.9.1]
 - **NPM version:** [e.g. 5.8.0]
 - **Browser name and version:** [e.g. Chrome 68]
 - **Platform name and version:** [e.g. Windows 10]
 - **Additional wdio packages used (if applicable):** [e.g. @wdio/spec reporter, @

[2018-12-06 12:36] abjerstedt commented on #3104
We should just make this a dependency of webdriver.

[2018-12-06 13:44] christian-bromann commented on #3104
I think it is fine to make the local runner a dependency of `@wdio/cli` as long as there is no second runner (e.g. lambda runner) available.

[2018-12-06 17:36] caoxu2000 commented on #2865
@christian-bromann I'd like to work on this but can I get some pointers to where to start from you whenever you get a chance?  I haven't been able to understand the whole picture of error handling architecture of wdio yet

[2018-12-06 19:12] thesunny commented on #3102
@christian-bromann I'd be happy to do this but a warning that it would likely be a few weeks as I've got a lot of commitments right now. The code change is easy, but I feel like I'd need to understand WebDriver code better to make sure I'm not breaking it, understand your unit tests, etc. so I'd want to dedicate a bit of time to make sure I'm doing it right.

[2018-12-06 20:16] caoxu2000 commented on #2889
I applied and waiting for the credential

[2018-12-06 21:06] thesunny opened #3106 "click should wait for animation to finish"
**Is your feature request related to a problem? Please describe.**
Modern interfaces use animations heavily to, for example, animate dialogs, slide sidebars in/out etc.

In order to handle this, right now, the suggestion is to write a custom command as per the issue submitted here: https://github.com/webdriverio/webdriverio/issues/429

While animated UI was rare before, now that it is common, it w

[2018-12-06 23:16] abjerstedt commented on #3106
Personally, i don't agree with making click do anything other than send a click. There are cases you might actually want to catch an animation taking to long, or the app falls into a broken animation.

That said, we ourselves have custom implementations of click that we made that do what you are asking for. At most, i think we should create a secondary command that does this; but we shouldn't chan

[2018-12-07 02:02] thesunny commented on #3106
@abjerstedt

I can understand the desire to not over-complicate commands and I would agree that we don't want to do more than is expected of a command like click if that is your concern.

I this case, I wonder if seeing this as an over-reach might be partially influenced by the fact that the problem has already been solved for you and/or you are used to its current behavior.

Also note that the us

[2018-12-07 02:35] liuallen1981 opened #3107 "Button down, moveToObject, buttonUp does not work"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [4.12.0]
 - **Mode:** [Mocha test runner]
 - **Node.js version: [10.9.0]
 - **NPM version:** [ 6.4.1]
 - **Browser name and version:** [Chrome]
 - **Platform name and version:** [MacOS High Sierra]

**Describe the bug**
Below code does not do the button down, drag, button up action.  I don't see any mouse curs

[2018-12-07 02:36] abjerstedt commented on #3106
I'm not saying we shouldn't do something. I'm saying it didn't be the default click. We have been trying to get as close to the metal as we can with wc3 spec behavior, and this doesn't match.

We can create a second command to do what you are asking.

[2018-12-07 02:41] abjerstedt commented on #3107
This is not going to do what you think it does. Move to object doesn't move the actual cursor, it basically pretend focuses on an element.

[2018-12-07 05:08] issei126 commented on #3084
@xcao-riffyn
I debugged them, then I found a few interest points.

When an error occurs in beforeAll and beforeEach with wdio and jasmine, it enters the block below.
https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-sync/src/index.js#L31
So I think that jasmine may not propagate to wdio.

On the other hand,  an error occurred in beforeAll without wdio, it enters the block below.

[2018-12-07 11:40] christian-bromann commented on #3106
This is not something WebdriverIO is doing. It is defined in the W3C spec and taken care of the browser driver.

Cypress uses a different automation framework that pretty much invites you to make smart decisions for clicking. WebdriverIO is relying on WebDriver and making an additional request for an action needs to be thought through carefully.

I am not sure about this. Creating a extra command

[2018-12-07 15:29] erwinheitzman commented on #3106
Another possibility is to introduce a waitForAnimation(s) instead.

[2018-12-07 15:58] erwinheitzman commented on #2980
Isn't this issue resolved by the merge of #2996?

[2018-12-07 17:35] alippai commented on #2980
I think it's resolved

[2018-12-07 17:35] #2980 closed

[2018-12-07 17:36] liuallen1981 commented on #3107
@abjerstedt  do you have an example that would do the button down, drag, button up ? I can't seem to find any working example online.

[2018-12-07 17:50] christian-bromann opened #3108 "Apply W3C capabilities correctly for non W3C compliant drivers"
We define capabilities for the W3C and non W3C case, however if the customer has set W3C capabilities (with `alwaysMatch` etc) these caps won't work with non W3C compliant drivers. We should tweak https://github.com/webdriverio/webdriverio/blob/master/packages/webdriver/src/index.js#L23-L24 to make smart decisions on how we apply the caps

[2018-12-07 17:58] erwinheitzman commented on #3107
@liuallen1981 the dragAndDrop command or actions command is used for this.
Keep in mind that the actions command isn't fully supported yet and that the dragAndDrop command doesn't work with all implementations due to a limitation of Selenium.

[2018-12-07 21:00] liuallen1981 commented on #3107
@erwinheitzman I also tried dragAndDrop
browser.dragAndDrop('img', '.layout-panel-header');
and it seems like it's doing ButtonDown, moveTo, ButtonUp internally when I check the console log which doesn't seem to work for me.
Do you have an example of actions command that I can try? I can't seem to find any example online.

[2018-12-07 21:51] thesunny commented on #3106
@abjerstedt

Sorry, to clarify, I saw your idea of adding a second command but was still advocating for integration into the single click. I guess I'm still not understanding what the purpose of a click that doesn't wait for the element to stop animating. It feels like that would be a bug in the testing code in almost every case.

@christian-bromann

Thanks for the clarification on scrolling into

[2018-12-08 00:01] worc opened #3109 "single quotes sometimes converted to double quotes?"
i don't even know on this one. i have an attribute selector with characters that break the underlying query (spaces and slashes in this case), so i wrapped the selector in double quotes and the full query in single quotes:

`browser.click('input[name="enable_Selector With Spaces"][value=yes]')`

and periodically the test would error out with this message:

[code]
which at first glance seems like t

[2018-12-08 02:43] snoblenet opened #3110 "Webdriver.io screenshots ignore CSS with latest Google Chrome headless"
Webdriver.io screenshots ignore CSS with latest Google Chrome headless.

- WebdriverIO 4.13.2
- Node 8.11.1
- NPM 6.4.1
- Mac OS X 10.14.1
- Google Chrome 71.0
- config: pasted and end of issue

**Describe the bug**
With the latest Google Chrome in headless mode, WebdriverIO ignores the CSS.

**To Reproduce**
Run a test and take a screenshot. See that the page was rendered without CSS.
Downgrade t

[2018-12-09 00:56] LayMuiToh opened #3111 "Failed to take screenshot on reject &Error: Promise was rejected with the following reason: selector needs to be typeof `string`"
node_modules/.bin/wdio

[08:43:02]  COMMAND	POST 	 "/wd/hub/session"
[08:43:02]  DATA		{"desiredCapabilities":{"javascriptEnabled":true,"locationContextEnabled":true,"handlesAlerts":true,"rotatable":true,"browserName":"","appiumVersion":"1.9.1","platformVersion":"12.1","platformName":"iOS","deviceName":"Lay muis iPhone","udid":"axxxxxx","_":"7 more keys: [\"app\",\"bundleId\",\"updatedWDABundleId\

[2018-12-09 01:03] LayMuiToh commented on #3111
I keep getting this error and test is breaking
An unknown server-side error occurred while processing the command. Original error: Could not proxy command to remote server. Original error: Error: read ECONNRESET