[2022-02-13 09:53] misjorge commented on #8006
it seems that, https://msedgedriver.azureedge.net/98.0.1108.51/edgedriver_win64.zip does not exist anymore on https://msedgedriver.azureedge.net/, but this one, https://msedgedriver.azureedge.net/98.0.1108.50/edgedriver_win64.zip, does

98.0.1108.51 - not exist
98.0.1108.50 - exist

[2022-02-13 23:04] wenzhhu opened #8007 "[🐛 Bug]: wdio-reporter stops reporting skipped test step for cucumber since version 7.16.11 of @wdio/cucumber-framework"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.11+

### Node.js Version

14.18.3

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Starting from version 7.16.11. W

[2022-02-14 08:04] Avinash9969 commented on #8006
Any temporary solution to this issue?

[2022-02-14 08:25] mayankshukla94 opened #8008 "[🐛 Bug]: Chaining does not work when using `getParentElement()` with `previousElement()` together in the same line"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

14.16.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I have a DOM where the HTML is in

[2022-02-14 09:29] christian-bromann commented on #8006
Thanks for reporting!

Please use `98.0.1108.50` then as version by defining it in the correct [`installArgs`](https://webdriver.io/docs/selenium-standalone-service#installargs). I would suggest two improvements here:

- only download the driver that is requested by the capabilities (if you run Chrome, don't download an Edgedriver)
- download latest "available" and not latest overall as it seems E

[2022-02-14 09:33] christian-bromann commented on #8007
Thanks for reporting!

This seems like a regression indeed. You want to help us get this fixed?

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-02-14 10:48] Avinash9969 commented on #8006
@christian-bromann
how can we restrict the selenium-standalone-service to download only the chrome and not edge?
My Browser config does not have anything related to edge driver but it still says "
Error in "chmod".
See more details below:
ENOENT: no such file or directory, chmod 'C:\My POCs\regression-test-suite\node_modules\@wdio\selenium-standalone-service\node_modules\selenium-standalone\.selen

[2022-02-14 11:21] christian-bromann commented on #8006
I believe this is a limitation of the [selenium-standalone](https://github.com/webdriverio/selenium-standalone) package underneath. It automatically installs all drivers afaik. That is why I suggested to make it only download necessary drivers.

[2022-02-14 13:15] misjorge commented on #8006
I think, this is happening, after you try to run the test for the second time, since on the first time, it will try to download the edge driver, and an empty file will appear in the folder, and the second time with prompt for this error

[2022-02-14 14:01] pdrmailbox commented on #7994
**Workaround**

If you have backup of "node_modules/puppeteer-core" then overwrite it. It worked for us.

Also you may try using previous version of "puppeteer-core" package from https://www.npmjs.com/package/puppeteer-core.

[2022-02-14 14:12] Plazzko opened #8012 "[🐛 Bug]: appium-service does not start automatically for appium version 2.0.0-beta.25"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.14.1

### Node.js Version

14.18.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Appium-service never gets l

[2022-02-14 15:16] christian-bromann commented on #8012
Can you set the [`outputDir`](https://webdriver.io/docs/options#outputdir) option and provide the file contents here including the stdout?

[2022-02-14 15:51] Plazzko commented on #8012
Sure. Here is the log (I had to use `ctrl+c` to exit the process):
[wdio.log](https://github.com/webdriverio/webdriverio/files/8062123/wdio.log)

[2022-02-14 16:31] leonard-mustatea opened #8013 "[🐛 Bug]: Failure in onPrepare does not stop execution"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

v16.13.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Reference: https://github.com/we

[2022-02-14 16:38] rakshith-kashi commented on #3544
Have you resolved this issue?

[2022-02-14 18:28] rakshith-kashi commented on #3544
@christian-bromann Could you please look at this? I am getting similar issue

Using
[code]

[2022-02-14 19:55] wenzhhu commented on #8007
Thanks @christian-bromann,

I'd love to help to contribute. The thing is that the original fix  https://github.com/webdriverio/webdriverio/pull/7777 is a bit unclear to me. I would like to have a thorough understanding of what problem the original fix tried to solve first so that I could provide a proper fix for the bug I reported here.

Given that the regression is a bit serious IMO, I think we b

[2022-02-14 20:12] christian-bromann commented on #8007
@wswebcreation can you chime in on this?

[2022-02-15 07:48] senpl commented on #8006
So sort of fix would be to download latest avaliable msedgedriver version that exist that is smaller then current chromedriver version. Still there should be parameter just to ignore msedgedriver at all. And it would fix 98% of problems.

[2022-02-15 08:01] misjorge commented on #8006
can you please elaborate on the solution? what do you mean by msedgedriver version that is smaller than current chromedriver?

[2022-02-15 08:04] senpl commented on #8006
there are msedgedrivers versions https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/#downloads so from some xml they could be found and if avaliable downloaded. Still this is important only for this who wants msedgedriver. 98% did not care about it, and just want chrome driver.

[2022-02-15 08:21] misjorge commented on #8006
so what is the workarround for those that don't want the msedgedriver?

[2022-02-15 08:28] misjorge commented on #8006
I think I found a work around, until we fix the real problem:

services: [["selenium-standalone", { drivers: { chrome: 'latest', chromiumedge: '98.0.1108.50'} }]

[2022-02-15 08:28] akagupta9 opened #8015 "await browser.getCoverageReport() is Not working with Aysnc Browser"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I am not able to use get coverage function w

[2022-02-15 09:42] platon023 commented on #7692
Good afternoon, a very useful function would be if it would be possible to add parameters to WebdriverIO from cucumber.js

[2022-02-15 10:41] christian-bromann commented on #8015
Note that this functionality only works when testing locally in Chrome, is that the case for you?

[2022-02-15 10:58] akagupta9 commented on #8015
Yes, I am trying in my local only.

[2022-02-15 11:00] christian-bromann commented on #8015
Can you provide some wdio logs?

[2022-02-16 06:18] senpl commented on #8006
Could you create pull request with your working solution, or at least publish it in some sort?

[2022-02-16 07:55] misjorge commented on #8006
I dont know how to create pull request here @senpl

[2022-02-16 08:30] senpl commented on #8006
1. press fork from https://github.com/webdriverio/selenium-standalone (upper navigation)
2. Make your changes in browser
3. press on your for fork "Contribute" -> 'Open Pull Request'

[2022-02-16 10:47] serverwentdown opened #8017 "[🐛 Bug]: Importing WebDriver from a ESM package fails"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.14

### Node.js Version

16.13.1

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Attempts to import WebDriv

[2022-02-16 11:26] christian-bromann commented on #8017
This is a known issue and progress to make WebdriverIO and its sub packages ESM compatible was done in #6812. Unfortunately due to a blocker there wasn't much progress on that.

[2022-02-16 12:33] Lucasmiguelmac opened #8018 "[🐛 Bug]: `Cannot find name 'browser'.ts(2304)` and `Namespace 'global.WebdriverIO' has no exported member 'Element'.ts(2694)`"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

v14.15.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I just created a default p

[2022-02-16 14:08] arunavachatterjee2021 opened #8019 "browser.maximizeWindow() is not working for Chrome: 98.0.4758.102"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

12.20.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Chrome browser not getting maximiz

[2022-02-16 15:55] christian-bromann commented on #8019
Can you provide some WebdriverIO logs?

Based on this I suspect you are not using WebDriver but the devtools protocol.

[2022-02-16 15:56] christian-bromann commented on #8018
Did you use `npm init wdio`? Can you share your `tsconfig`?

[2022-02-16 20:00] johnBartos opened #8021 "[🐛 Bug]: DevTools service fails to setup ('browser.cdp is not a function') when loading a URL in the before() hook"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

The DevTools service's `befo

[2022-02-16 20:47] johnBartos commented on #8021
I removed ` || t['_targetInfo'].browserContextId)` from https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-devtools-service/src/index.ts#L228 because I noticed that when the DevTools service failed to setup, the target it grabbed seemed to be the Chrome DevTools target instead of the actual page. Maybe this is the bug?

[2022-02-16 20:50] johnBartos commented on #8021
https://github.com/webdriverio/webdriverio/pull/6664 comes back from the blame

[2022-02-17 07:38] sashan4u007 opened #8022 "[🐛 Bug]: Drag drop is not working"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

v16.13.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I tried to drag _$(modelSchemaSt

[2022-02-17 16:17] johnBartos commented on #8021
Happy to put up a PR, just wondering what a fix would look like. I can think of:

* Reverting #6664
* Preferring `t.type() === 'page'` if it exists

For 2, I was thinking of something like

[code]

But it needs work to not wait for 30s if either target never exists.

[2022-02-18 01:12] Lucasmiguelmac commented on #8018
Yes I did. I used `npm init wdio .` to be precise. But it shouldn't change anything.

Here's my `tsconfig.json`:
[code]

[2022-02-18 01:16] Lucasmiguelmac commented on #8018
Already fixed it. Apparently the installer sent my `tsconfig` and my `wdio.conf` as well inside a `/test/` directory. Never happened to me before. Easy fix though.

[2022-02-18 01:16] #8018 closed

[2022-02-18 06:00] rochanram opened #8027 "[🐛 Bug]: WDIO Electron issue: status code 404 no such window and also status 500 window not available"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7

### Node.js Version

14.6.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

We initially used Spectron for Electron

[2022-02-18 08:41] opensourcesensor commented on #7987
Hi @christian-bromann ,
okay - thanks for your answer,
BR!

[2022-02-18 20:44] vagisha-nidhi195 opened #8028 "[🐛 Bug]: Instead of moving to next action, wdio automatically delete session"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

"^5.23.0"

### Node.js Version

node@10

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When I run the test using mocha

[2022-02-18 22:24] WillBrock commented on #8028
I would start by updating to a more recent version of WebdriverIO and Node to see if it resolves your issue. Version 5 is a couple years old and version 7 is the latest.

[2022-02-19 09:25] vagisha-nidhi195 commented on #8028
Tried updating the version. I am getting the following error:

[code]

My tsconfig file
[code]
[code]

[2022-02-20 14:19] LayMui commented on #7995
this issue is due to testID hardcoded to inputPress on the custom component.
this is resolved

[2022-02-20 14:20] #7995 closed

[2022-02-20 17:51] Lucasmiguelmac opened #8031 "[🐛 Bug]: java.net.UnknownHostException: <my operative system> when trying to open allure report"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.15

### Node.js Version

v14.15.1

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Got the following traceba

[2022-02-22 12:18] christian-bromann commented on #205
You should upgrade to the latest WebdriverIO version to ensure tests continue to work. v4 is deprecated a long time now.

[2022-02-22 12:33] christian-bromann commented on #8031
@Lucasmiguelmac please report this issue in the [Allure project](https://github.com/allure-framework/allure2). I don't see how this is related to WebdriverIO. Thanks!

[2022-02-22 12:33] #8031 closed

[2022-02-22 12:51] christian-bromann commented on #8028
Are you sure you want to run a [multiremote](https://webdriver.io/docs/multiremote) session? Can you provide a minimal reproducible example?

[2022-02-22 12:58] christian-bromann commented on #8027
Thanks for reporting!

It seems you have a fairly large test suite. Can you try to run your tests sequentially by setting [`maxInstances: 1`](https://webdriver.io/docs/options#maxinstances). Overall it seems to me that Electron struggled to start and I wonder why. Also a minimal reproducible example would help to investigate the problem better.

[2022-02-22 13:07] christian-bromann commented on #4090
@vkota4 happy to look into this if you have a minimal reproducible example.

[2022-02-22 13:11] christian-bromann commented on #8021
@johnBartos thanks for investigating this. The second option looks good to me. Mind raising a PR?

[2022-02-22 13:21] christian-bromann commented on #8022
@sashan4u007 do you have a reproducible example?

[2022-02-22 13:28] #7771 closed

[2022-02-22 13:35] vagisha-nidhi195 commented on #8028
I am finally able to run commands when running mocha in bdd mode.
Yes, I want to run in a multiremote session as I want to control the app as well as the windows 'root' desktop to manage some things.

Now the problem I am having is that the multi remote configuration is not running properly. I am running appium server on my remote machine.

Appium server logs: https://github.com/vagisha-nidhi195/d

[2022-02-22 13:38] christian-bromann commented on #8028
Thanks for providing a reproducible example. I don't have a Windows machine so I won't be able to look into this anytime soon by any hints that lead to the origin of this problem or PRs that solve it are highly appreciated. Cheers!

[2022-02-22 16:27] minakshif commented on #8018
I am also facing same issue as $ and Browser cant find. plz provide solution

[2022-02-22 18:43] nextlevelbeard opened #8043 "[💡 Feature]: Allow custom commands scoped to element to be chainable in async mode"
### Is your feature request related to a problem?

With async mode, we can do this:
[code]
but if we add a custom command to the element scope that we would like to chain:
[code]
and try to do this:
[code]
we get a  `TypeError: $(...).$foo(...).click is not a function`

Context:
I'm trying to add a custom locator strategy through the `addCommand` feature.

### Describe the solution you'd like.

Wh

[2022-02-22 19:00] christian-bromann commented on #8043
Thanks for reporting!

I am totally for this and I believe it is just a matter on how these commands are being wrapped.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-02-22 19:34] srpalwaidynamite opened #8044 "[🐛 Bug]: [ts] Property 'options' does not exist on type 'Browser'."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.16.7

### Node.js Version

v12.18.4

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I would like to use storeNumber

[2022-02-23 02:05] WillBrock opened #8047 "[🐛 Bug]: Getters outputted in login.page.ts from CLI have TypeScript error"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.15

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

The change in #7978 is causing

[2022-02-23 07:52] christian-bromann commented on #8047
@WillBrock why do you need to explicity type this getter? TypeScript infers the type from the returned value. There are only some cases in TypeScript where you explicitly need to type the return value. Also according to the error, this should work fine:

[code]

[2022-02-23 08:37] gaunap opened #8048 "[💡 Feature]: Allow passing more capabilites via REPL"
### Is your feature request related to a problem?

Appium breaks up every 60s if no new command is send when using repl for iOS:
`wdio repl ios  --path /wd/hub --platformVersion 15.2 --deviceName 'iPhone 13'`

This makes testing very cumbersome.

The newCommandTimeout of the capabilities cannot be overwritten.

### Describe the solution you'd like.

I like to pass more capbilities to Appium. E.g.

[2022-02-23 09:27] christian-bromann commented on #8048
Thanks for reporting!

Any contributions that implements this enhancement are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-02-23 09:47] christian-bromann commented on #8013
Thanks for reporting!

Currently this is only supported for services and not for hooks defined in the wdio config. I think we should make the behavior the same for both situations (even though you could just do a `process.exit(1)` to kill the process. Please check the [`runLauncherHook`](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cli/src/utils.ts#L61) function, a similar be

[2022-02-23 09:49] christian-bromann commented on #7952
Closing, thanks @OtherwiseJunk for the contribution.

[2022-02-23 09:49] #7952 closed

[2022-02-23 09:49] #7921 closed

[2022-02-23 09:50] christian-bromann commented on #7918
Thanks for reporting!

This seems to be connected with the way we have integrated Lighthouse into WebdriverIO.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-02-23 09:57] christian-bromann commented on #7776
That is totally true @BorisOsipov !

Honestly I was never a big fan of their idea of patching browser engines to hack CDP support into browser. If the PW team would have but as much energy into enhancing the WebDriver specification we would have been much better off. That said, I have reserved feelings about adding PW support. The team behind it has been hostile against web standards. If someone i

[2022-02-23 09:57] #7776 closed

[2022-02-23 11:30] WillBrock commented on #8047
@christian-bromann The login.page.ts file that is generated from the CLI when creating a new project has the getters as `ChainablePromiseElement<Promise<WebdriverIO.Element>>` included in it.

Should I submit a PR to update what is generated to login.page.ts and just remove the types on the getters? This way when someone installs the example project from the CLI they don't get errors.

[2022-02-23 11:37] christian-bromann commented on #8047
I already pushed [a commit](https://github.com/webdriverio/webdriverio/commit/1355d548ef364318690ef44bbea4c5657ce64680) with a fix for that. I am working on the Windows workflow pipeline. Once that is fixed we can release this patch.

[2022-02-23 11:37] #8047 closed

[2022-02-23 15:19] bkrrrr opened #8050 "[💡 Feature]: allow in wdio-devtools-service coverageReporter multiple report types"
### Is your feature request related to a problem?

Having multiple formats of coverage reports of the same test run is very common
  - HTML for test-writer
  - Text std as fast check for anyone
  - JSON for quality gates

NYC can do this with multiple `---reporter` arguments [see](https://istanbul.js.org/docs/tutorials/mocha/)

But WDIO allows only one type and is not exposing the raw data, as NYC

[2022-02-23 15:27] christian-bromann commented on #8050
Thanks for reporting!

This sounds like a great addition to the service.

Any contributions that helps make this reality are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-02-24 07:41] harsha509 commented on #7932
HI @christian-bromann ,

Looks like the typing's are fine, as `waitUntil` should return a Boolean value.
[code]

Looks like code sample in docs  should be updated , like below
[code]

Please  suggest, will give the PR for this in docs!

[2022-02-24 10:04] christian-bromann commented on #7932
@harsha509 thanks for investigating. I think the types might be wrong here. I believe `waitUntil` is implemented so it returns the `truthy` value, e.g.:
[code]

Can you confirm? If so I suggest to not expect a boolean as return value but a generic.

[2022-02-24 11:12] LeoLetourneur commented on #7767
I'd like to see how to make it work

[2022-02-24 19:57] lvxwrkr777 opened #8051 "[🐛 Bug]:junit-reporter: only publishes 9 xmls in Azure"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

14.17.4

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

@wdio\junit-reporter gener

[2022-02-24 21:30] christian-bromann commented on #8051
Can you please create such a reproducible example?

[2022-02-25 15:28] Antonius-S opened #8057 "[📖 Docs]: Conf example contains incorrect data regarding hooks (namely afterCommand)"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation, Other

### Description of the improvement / report

https://github.com/webdriverio/webdriverio/blob/main/examples/wdio.conf.js contains this definition of afterCommand hook:
[code]
while \node_modules\@wdio\types\build\Services.d.ts declares this:
[code]
which is corr

[2022-02-25 15:52] christian-bromann commented on #8057
Where do you see in the docs that `afterCommand` can be an array of functions?

[2022-02-25 18:52] lvxwrkr777 commented on #8051
As my project is corporate, I'd rather not share the whole thing.

I think maybe the publisher is misreading the numeric incrementation of the file names.

`outputFileFormat: function(options) { // optional
                return `results-${options.cid}.${options.capabilities}.xml``

returns files numbered like 0-0. Perhaps windows doesn't parse the dash char.
Just a theory.

[2022-02-25 22:26] jlipps commented on #7580
This doesn't actually appear to be true. For example I just ran a test with this line:

[code]

And the server response was:

[code]

And my test still passed. It wasn't until I tried to do something with `player` that the client code threw an error. So I guess I'm looking for a nice function that will just verify that an element exists and do nothing else :-(

[2022-02-25 22:32] jlipps commented on #7580
i also tried your other suggestion of looking at properties on the element, with something like this:

[code]

and it didn't work. apparently it doesn't compile with typescript because the property is not on the `ElementReference` type. i also tried it while casting to `any` and indeed, the `elementId` property doesn't exist even in the success case.

[2022-02-25 22:42] jlipps commented on #7580
ok i did some more digging. something like this works, but is wonky with types since the normal return value is not supposed to have an `error` property:

[code]

should we make something like this an actual wdio method?

[2022-02-26 14:51] harsha509 commented on #5239
Hi @umair2020 ,

I tried to reproducing the issue with above details, but I was unable to
config:
[code]

Test:
[code]

console:
[code]

is this issue intermittent? is there any specific case to reproduce it issue?

[2022-02-27 05:11] AntonKostenko commented on #8012
Hey @Plazzko, I was also running into this using appium 2.0. The issues appear to be `arg` related. I was able to work around this issue by removing all `args` from the appium service.
I believe that all the `--port --address --log-level` args you have are not needed as they are provided/available in other areas of the `wdio.conf.ts` file through `port`, `baseUrl`, `logLevels {'@wdio/appium-servic

[2022-02-28 07:44] Antonius-S commented on #8057
Hmm, I can't find it now but I definitely saw it somewhere. Anyway, single function gets rejected by validator while array passes it. I use webdriverio@7.16.16

[2022-02-28 08:05] saurabh-gadre opened #8059 "[🐛 Bug]: Unable to use the Web Element identified using $$ and index in other File"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.14 & 7.16.16

### Node.js Version

14.16.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Not sure if this

[2022-02-28 08:22] Antonius-S opened #8060 "[💡 Feature]: Improve hooks by allowing to access browser object"
### Is your feature request related to a problem?

Currently hooks are executed with `this` pointing to `global` thus having no access to the browser object they're executed from. Now I'm trying to make some browser config values accessible to the hook which is possible only by explicitly adding some property to a global variable like `process`.

### Describe the solution you'd like.

I suggest ma

[2022-02-28 08:34] christian-bromann commented on #8060
@Antonius-S can you please elaborate which hooks need access to the browser object? Currently all hooks have it besides `onPrepare` and `onComplete` which are run in a different process.

[2022-02-28 08:35] christian-bromann commented on #8059
Please use proper `async/await` here, e.g.:

[code]

[2022-02-28 08:35] #8059 closed

[2022-02-28 08:42] christian-bromann commented on #8057
Thanks for reporting!

It seems we need to update the [types](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-types/src/Services.ts#L76-L253) and improve the [docs](https://github.com/webdriverio/webdriverio/blob/main/website/docs/Options.md#L354-L564) around it. To ensure we don't regress here adding [typing tests](https://github.com/webdriverio/webdriverio/blob/main/tests/typi

[2022-02-28 08:52] christian-bromann commented on #7580
This is a bug. We should expose the property through TypeScript as well.

I would suggest the following: in the `isExisting` command we check if the session is running on Appium, via `isMobile` flag and if so use the `findElement` approach given it is much more expensive there to use.

What do you think?

[2022-02-28 09:06] Antonius-S commented on #8060
@christian-bromann it's `afterCommand` that I'm working with now and it has `this` undefined. webdriverio@7.16.16

My case: I'm implementing some logic after any command and need custom configurable values which are included to an object passed as `option` when creating; I assign it to browser object as custom field but can't access it from the hook.

[2022-02-28 09:09] christian-bromann commented on #8060
Have you tried `browser.config.<your-property>` or `browser.options.<your-property>`?

[2022-02-28 10:37] Antonius-S commented on #8057
Hmm, I'm not sure what should be taken as desired result - single function or an array of them. Likely the latter to allow more flexibility. Or both options are acceptable (which is the most logical). Current type definition declare single function but validator requires `object` (precisely array of functions). And I don't know how to declare a type that is either a function or an array of functio

[2022-02-28 10:41] Antonius-S commented on #8060
Being called from the hook:

[code]

[2022-02-28 10:56] saurabh-gadre commented on #8059
Already tried. Having await class variable is not allowed in the class also constructor cannot be made async. The elements located with $ works fine without even using async / await.

[2022-02-28 11:21] christian-bromann commented on #8059
@saurabh-gadre have you tried to debug what `console.log($$('[class="demo-class"]'))` returns?

[2022-02-28 11:22] christian-bromann commented on #8060
Do you use [standalone or testrunner](https://webdriver.io/docs/setuptypes)?

[2022-02-28 11:43] saurabh-gadre commented on #8059
Hi @christian-bromann, It returns a Promise { pending }. I can directly interact with $$('[class="demo-class"]') and perform click. Issue is when doing following
In step definition file.

Then("XXXXXXXXXXXXXXX", async function()=>{
await somePage.link_edit.click();  OR

await somePage.link_edit[O]. click ();
// Defined some var as let link_edit = $$('[class="demo-class"]') in Page Object class
});

[2022-02-28 13:02] saurabh-gadre commented on #8059
Yeah right, I understand but believe me, the element array is non-empty. Sharing a example from my local implementation.

import { ChainablePromiseElement } from "webdriverio";
class CommonPage {

  menuProducts =$$('[class="collapse navbar-collapse navbar-ex1-collapse"] [class="nav navbar-nav"] a[class="dropdown-toggle"]');

  public async openHomePage() {
    await browser.url("https://demo.open

[2022-02-28 13:10] christian-bromann commented on #8059
This clearly says the element could not be found. Please also check the wdio logs.

[2022-02-28 14:44] saurabh-gadre commented on #8059
I am still not satisfied with result. The element array is  present but one syntax works and other does not .

Below works fine :
`console.log( "Menu Product Name index 0: ", await $$('[class="collapse navbar-collapse navbar-ex1-collapse"] [class="nav navbar-nav"] a[class="dropdown-toggle"]'[0].getText()); // This works  and prints   [0-0] Menu Product Name index 0:  Desktops`

And below does not

[2022-02-28 14:48] christian-bromann commented on #8059
Can you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2022-02-28 15:31] saurabh-gadre commented on #8059
Here is the most minimal example that can be reproduced.

[example.txt](https://github.com/webdriverio/webdriverio/files/8154511/example.txt)
[wdio.logs.txt](https://github.com/webdriverio/webdriverio/files/8154512/wdio.logs.txt)

[2022-02-28 15:42] christian-bromann commented on #8059
It seems you are fetching `menuProducts` before opening the page. WebdriverIO is not able to keep the state of an element reference. Therefor you have to fetch it when you want to interact with the element. We do __not__ recommend to query all elements within a page object in the PO constructor.

[2022-02-28 15:44] christian-bromann commented on #8060
Ok, now I fully understand. I think it is reasonable to use the scope here to refer to the actual browser object.

Any contributions that would implement this are highly appreciated. I am happy to support if question arise. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-02-28 15:47] nextlevelbeard commented on #8043
Do you think you can point me in the right direction?
What might be an workaround for someone dealing with this problem?
What wrapper function would I import and how could I wrap an element result at runtime?

Something like
[code]
or
[code]

[2022-02-28 16:45] saurabh-gadre commented on #8059
Okay thanks for looking into the issue. I will try to figure it out if I can refactor the protractor code by trying to overcoming this issue.

[2022-02-28 16:49] christian-bromann commented on #8043
I honestly haven't invested time looking into a workaround because I would be more interested into a fix.

I think we should investigate where the core [command wrapper](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-utils/src/shim.ts#L166-L345) fails to properly chain the commands.

[2022-02-28 16:51] christian-bromann commented on #8059
@saurabh-gadre please see how WebdriverIO [recommends](https://webdriver.io/docs/pageobjects) to write page objects. Also have a look into our [codemod](https://github.com/webdriverio/codemod) and [Protractor migration docs](https://github.com/webdriverio/codemod).

[2022-02-28 17:43] tobeliketree commented on #8019
We are seeing this too in our repo.  The browser.maximizeWindow() is in the config before hook.

[0-0] 2022-02-28T17:39:46.804Z ERROR @wdio/sync: Error: Command "maximizeWindow" is not yet implemented
[0-0]     at Browser.retries (/Users/unicorn/Git_Repositories/ui/node_modules/devtools/build/devtoolsdriver.js:63:34)
[0-0]     at processTicksAndRejections (internal/process/task_queues.js:97:5)
[0-

[2022-02-28 21:11] praveendvd commented on #8028
[code]

[2022-02-28 21:13] praveendvd commented on #8028
You should add await as the function is async one , u should suite async I believe

[2022-02-28 22:19] christian-bromann commented on #8028
Thanks for investigating @praveendvd , I looked into the test case as well:

[code]

As you pointed out `async/await` is not used correctly, the correct way of writing the test would be:

[code]

Closing the issue as it doesn't seem to be a problem with WebdriverIO.

[2022-02-28 22:19] #8028 closed

[2022-03-01 08:56] jlipps commented on #7580
It seems potentially a little confusing to hide some magic in there, but if that's your suggestion, then I'm happy to work with it. FWIW, I'm using WDIO to help build Appium drivers for lots of platforms beyond mobile, and it seems like having the flexibility to use this new behaviour for any platform might be good. I can also imagine myself wanting this for Selenium if I need more fine-grained co

[2022-03-01 11:59] Antonius-S commented on #8060
Okay, I already found how to do it on a live source and will try to prepare PR

[2022-03-01 13:06] Antonius-S commented on #8060
I prepared the PR though I still can't perform full setup/install/test due to errors (unrecognized "cat" command on `cat ./.husky/postinstall.txt`); however the change seems pretty trivial. I tested this change on live code and it works as it should.

[2022-03-01 13:24] devwdwgui opened #8070 "[🐛 Bug]: Use WebdriverIO inside Electron application"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.16

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Within an Electron application I w

[2022-03-01 14:26] devwdwgui commented on #8070
Thank you very much for your quick answer. That is interesting and good to know. As described in my initial request at "How to solve the bug partially" I have now got a working instance of the code in Electron, but only while debugging. When debugging it using "yarn run start" it already works well.

The only thing missing for me is the bundling process. You said that there is no way to do that wi

[2022-03-01 19:28] reecehughes-nw opened #8071 "[🐛 Bug]: Devtools Crashes when iframe is Removed from Page"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.16

### Node.js Version

16.13.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

WDIO crashes with the error

when

[2022-03-01 19:58] christian-bromann commented on #8071
Thanks for reporting!

I assume the problem is somewhere where we [deal with page handles](https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/devtoolsdriver.ts#L117-L289) in our devtools package.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you

[2022-03-02 06:55] data756 commented on #5542
I am facing this issue in wdio7. Is there anyway we can fix? I am not sure if i am using custom commands or not? Still got those error.
`[0-0]       browserName: 'chrome',
[0-0]       browserVersion: '98.0.4758.109',
[0-0]       chrome: [Object],
[0-0]       'goog:chromeOptions': `[Object],`
[0-0]       networkConnectionEnabled: false,
[0-0]       pageLoadStrategy: 'normal',
[0-0]       platformNa

[2022-03-02 08:10] christian-bromann commented on #5542
Please get involved and help us fix this in the WebdriverIO project!

[2022-03-02 19:36] cgungaloo commented on #7704
browser.performActions() doesnt seem to work without it anymore, its not recognised as a function

[2022-03-02 22:51] christian-bromann commented on #7704
@cgungaloo `positionClick` is a JSONWireProtocol command which probably is not supported by the browser anymore that you use for testing. We recommend to use [`performAction`](https://webdriver.io/docs/api/webdriver/#performactions).

[2022-03-05 08:36] Vishnu1067 commented on #2246
Feel to have this feature but understand the concept of wdio. Since it is old post, you guys might found the different approach to deal with this situation or continue api test with wdio in headless mode.

I recently came across this situation and created framework for UI & Api. (Need Api in same framework so that it can be reutilized in some UI tests to prepare test data). For API, I use jest-cuc

[2022-03-07 00:03] almedin96 commented on #7006
I'm having issue after cloning your project, can you explain me where is the problem?
![err](https://user-images.githubusercontent.com/76960581/156948193-a3183ed9-aca6-4199-8ba7-cbfcabc21c6d.PNG)

[2022-03-07 15:42] reecehughes-nw commented on #8071
It looks like `DevToolsDriver._targetDestroyedHandler` assumes every target is a page.  Puppeteer has several target types it could be (https://github.com/puppeteer/puppeteer/blob/main/src/common/Target.ts#L171). I’m not sure how other types should be handled but for my specific use case ignoring when `'webviews'` are destroyed works fine.  Should the function ignore anything  that doesn't have a

[2022-03-07 16:22] gaunap commented on #4792
I just came across this issue when searching for a solution for our debugging problem. This is also a problem for us to not being able to debug in a usual manner.
Is it planned to fix this bug in near future?

[2022-03-08 10:55] mwzulfiqar opened #8087 "[🐛 Bug]: browser.setWindowSize is not setting width of the window to user given size"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I am trying to resize the browser w

[2022-03-08 15:04] #8087 closed

[2022-03-08 15:05] mwzulfiqar commented on #8087
I see that this is a limitation with google chrome and firefox, they don't let the window resize below these thresholds.
Closing this issue.

[2022-03-09 08:33] linjin-harvey opened #8088 "[🐛 Bug]: Webdriverio acceptAlert() is not working on chrome 99"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

5.23.0

### Node.js Version

7.19.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Cannot accept alter, then script fa

[2022-03-09 08:56] christian-bromann commented on #8088
Thanks for reporting!

Unfortunately there is nothing WebdriverIO can do about this. If you check the logs and see that WebdriverIO actually send the command to accept the alert but Chrome still throws the error there must be something wrong in the driver or somewhere else. At the end of the day WebdriverIO just triggers the command but doesn't actually executes it.

Therefor I will close the issu

[2022-03-09 08:56] #8088 closed

[2022-03-10 10:06] lacell75 commented on #6596
Same issue on my side. I can't Drag and drop element

[2022-03-10 10:18] lacell75 commented on #8022
Same issue on my side, drag and drop is not working, please see reproductible example :
[code]

[2022-03-10 10:26] christian-bromann opened #8090 "[🐛 Bug]: unit tests fail in Windows"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Our unit tests started to fa

[2022-03-10 10:42] christian-bromann commented on #8051
Closing due to inactivity. Happy to re-open if a minimal reproducible example can be provided. Please note @lvxwrkr777 that the time for us maintainer to work on this project is limited and we require folks that report a bug to do the leg work and help us to run the issue locally so we can spend that time fixing the bug rather than trying to find it.

[2022-03-10 10:42] #8051 closed

[2022-03-10 10:44] christian-bromann commented on #8022
@lacell75 thanks for providing the example, could you tell us how your capabilities look like?

[2022-03-10 10:47] christian-bromann commented on #8027
Closing due to inactivity. Happy to re-open once a minimal reproducible example can be provided.

[2022-03-10 10:47] #8027 closed

[2022-03-10 10:48] christian-bromann commented on #7992
I think the easier solution would be to expose the CID as environment variable within the worker process. This should be a fairly simple enhancement. Contributions welcome!

[2022-03-10 10:48] christian-bromann commented on #8015
Closing due to inactivity.

[2022-03-10 10:48] #8015 closed

[2022-03-10 10:49] lacell75 commented on #8022
My capabilities, I'm using a hub and chrome Version 99.0.4844.51 :

[code]

[2022-03-10 10:50] christian-bromann commented on #8022
We would appreciate any help on this. Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2022-03-10 11:17] christian-bromann opened #8093 "[🐛 Bug]: Error: Cannot find module '../build'"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.17.0

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Seems that something failed releas

[2022-03-10 11:21] #8093 closed

[2022-03-10 12:01] QA-Fusemachines commented on #5899
Is this issue resolved

[2022-03-10 13:00] alvstw commented on #8093
@christian-bromann I am having the same issue after updating. Did you resolve it?

[2022-03-10 18:50] Chiragverma commented on #4995
@wswebcreation can you please delete this ticket, it contains some sensitive information from my previous company

[2022-03-10 18:53] Chiragverma commented on #4995
@wswebcreation can you please delete your second comment please.

[2022-03-10 19:43] christian-bromann commented on #4995
@Chiragverma I redacted Wim's comment.

[2022-03-11 10:18] wbigno opened #8098 "[🐛 Bug]: Converting visual regression test to async"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

6.4

### Node.js Version

12.18

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

updated framework to run async test alo

[2022-03-11 10:24] christian-bromann commented on #8098
Please upgrade your Node.js version. WebdriverIO is not expected to work with Node.js v12 anymore.

I would expect your example to work with the following:

[code]

If not please provide a minimal reproducible example, thanks!

[2022-03-11 10:26] christian-bromann commented on #7915
Fixed in https://github.com/webdriverio/webdriverio/pull/8099

[2022-03-11 10:26] #7915 closed

[2022-03-11 10:30] christian-bromann commented on #8044
@srpalwaidynamite I can reproduce the issue. I created a sample project via:

[code]

and then picked TypeScript as compiler. In the page object as well as within the test the `browser.options` object is given. Can you verify your TypeScript settings and compare it with a new project template?

Closing, but happy to re-open if I missed something.

[2022-03-11 10:30] #8044 closed

[2022-03-11 10:31] christian-bromann commented on #8090
Fixed in #8097 , thanks @harsha509

[2022-03-11 10:31] #8090 closed

[2022-03-11 10:37] christian-bromann commented on #8008
It seems that I can't reproduce this. Here is my example:

[code]

I saw that your command is called `getPreviousElement` and `getParentElement` which are not WebdriverIO commands. Not sure how your setup looks like therefor I will close the issue but happy to re-open if new information can be provided.

[2022-03-11 10:37] #8008 closed

[2022-03-13 09:44] praveendvd opened #8106 "[🐛 Bug]: Stack trace is not showing proper failure lines for few scenarios"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.17.4

### Node.js Version

v16.5.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Stacktrace doesnt show line

[2022-03-13 09:45] praveendvd opened #8107 "[🐛 Bug]: <title>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.17.4

### Node.js Version

v16.5.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

asd

### What is your expec

[2022-03-13 09:45] #8107 closed

[2022-03-13 09:48] praveendvd opened #8108 "[🐛 Bug]: Element not found doesnt show proper stack trace"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.17.4

### Node.js Version

v16.5.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

[code]

in this typescript

[2022-03-13 23:07] VKnightUT opened #8110 "[🐛 Bug]: Running test with --suite filter is ignoring the filter when ran from package.json file"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.17.4

### Node.js Version

16.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When running a test script from th

[2022-03-14 01:28] WillBrock commented on #8110
@VKnightUT You'll need to add a `--` in between the node command and your arguments.

```npm run wdio -- --spec foo```

[2022-03-14 01:28] #8110 closed

[2022-03-14 08:42] christian-bromann commented on #8108
@praveendvd I can't reproduce this, even without any reporters I get:

[code]

How do I need to modify the starter package to reproduce this?

[2022-03-14 08:44] praveendvd commented on #8108
I am using windows 10 and it happens as it is , I will cross check today @christian-bromann  u know where is this error getting handled so that I can look into that also 🎉

[2022-03-14 08:45] christian-bromann commented on #8106
If I put the error at the end:
![Screenshot 2022-03-14 at 09 44 17](https://user-images.githubusercontent.com/731337/158136067-1580ea60-6809-4c5c-9e6d-6e14fc8c14d6.png)

I get this stack trace:
[code]

if I put it at the beginning, e.g.:
![Screenshot 2022-03-14 at 09 45 12](https://user-images.githubusercontent.com/731337/158136218-57a85960-9e19-4746-917a-162731c14cbf.png)

I get the following:
[c

[2022-03-14 08:47] christian-bromann commented on #8108
Check our framework [wrapper functions](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-utils/src/test-framework/testFnWrapper.ts#L77-L81). WebdriverIO doesn't modify the stack traces.

[2022-03-15 16:11] christian-bromann commented on #8110
Can you help us how the docs should be updated?

[2022-03-16 12:43] sankalpguptasymphony commented on #3544
@rakshith-kashi In WebdriverIO site it's mentioned that uploadFile will work only for Chrome.
Reference - https://webdriver.io/blog/2019/06/25/file-upload/

@christian-bromann It will be really helpful if we can get it working for Firefox at least or if there is any workaround you are aware of.

[2022-03-16 12:50] sankalpguptasymphony opened #8115 "uploadFile for Firefox"
### Is your feature request related to a problem?

Can't use uploadFile API when running tests in Firefox.

### Describe the solution you'd like.

Can we upgrade uploadFile API to support Firefox please.

### Describe alternatives you've considered.

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-16 13:03] christian-bromann commented on #8115
Unfortunately Firefox doesn't support this command. There is nothing WebdriverIO can do about it.

[2022-03-16 13:03] #8115 closed

[2022-03-16 15:41] josserestrepo opened #8116 "[🐛 Bug]: shared-store-service - Unable to access store key in onPrepare and beforeSession hooks"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

^7.16.13

### Node.js Version

7.23.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

1. I have set a variable i

[2022-03-16 17:12] christian-bromann commented on #8116
@josserestrepo can you provide a reproducible example? This was fixed in #8099 and should be resolved with the latest version of WebdriverIO.

[2022-03-16 17:35] josserestrepo commented on #8116
Hi @christian-bromann I have updated to the WDIO latest versions and the error persists included in onCompleted hook
`   onPrepare: async(config, capabilities) => {
      await setValue('foo', 'bar');
      console.log('shared-store-service in onPrepare');
      console.log(await getValue('foo'));
   }`

   this was the result in the output
`Execution of 1 workers started at 2022-03-16T17:34:21.03

[2022-03-16 18:47] christian-bromann commented on #8116
@josserestrepo I double checked and it appears that this change was not yet released. I just triggered a release and it should be fixed in `7.18.0` in a couple of minutes.

[2022-03-16 22:38] christian-bromann commented on #8116
It indeed doesn't work for `beforeSession`. I am not sure why you need to use `getValue` in `onPrepare`, please elaborate.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-03-16 22:50] josserestrepo commented on #8116
Hi @christian-bromann actually I don't need to use it in `onPrepare` I just was providing info about the issue, I do need it for `beforeSession` because I am using `shared-store-service` to store login info from my system.

[2022-03-17 11:32] ayroblu commented on #5611
@christian-bromann Does it work in specific cases? It seems like the examples on the website don't work, and so this feature doesn't exist, and a waste of time for others to try out?

[2022-03-17 16:33] BenoitZugmeyer opened #8126 "[🐛 Bug]: `RangeError: Maximum call stack size exceeded` error with async jasmine tests"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.18.0

### Node.js Version

17.6.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

When running asynchronous ja

[2022-03-18 18:25] Staicul commented on #8116
I would like to try fixing this one, @christian-bromann .

[2022-03-19 09:54] jayrepo commented on #8043
Just ran into the same problem.
It's caused by the command wrapper only chain commands in the `ELEMENT_QUERY_COMMANDS `
https://github.com/webdriverio/webdriverio/blob/92f073f8d54b51ff7473d2318fcec9927608c7ca/packages/wdio-utils/src/shim.ts#L70-L73

An effortless way to fix it will be assuming the user added commands which need to be chained contains `$`.
Or we need to add a config which allows us

[2022-03-19 16:53] praveendvd commented on #8108
@christian-bromann  i ran in windows and mac , i am gettign same behavior .

[2022-03-19 16:53] praveendvd commented on #8108
<img width="1328" alt="image" src="https://user-images.githubusercontent.com/45095911/159130609-c6779c4e-31c4-448e-85fd-14f96fd507a5.png">

[2022-03-19 22:06] WillBrock commented on #8108
On Ubuntu it is showing the stacktrace for me. This is with a fresh install of latest. I noticed on Christian's example it only shows the stacktrace for wdio files but not the failure line on the example.e2e.ts file which is odd.

[code]

[2022-03-19 22:09] praveendvd commented on #8108
@WillBrock  fore no stacktrace at all for mac n windows

[2022-03-19 22:11] WillBrock commented on #8108
Interestingly in TypeScript it's not showing the stack line for the example.e2e.ts file

[code]

[2022-03-19 22:15] praveendvd commented on #8108
@christian-bromann n @WillBrock  ya I am using typescript , n wdio built in ts-node for execution . ( Just run , npm run wdio)

[2022-03-19 23:06] WillBrock commented on #8108
@praveendvd I discovered #8129. I don't think that would be why no stacktraces show for you but maybe it is.

[2022-03-20 07:39] praveendvd commented on #8108
Will give it a try

[2022-03-20 19:58] praveendvd commented on #8108
@WillBrock

![image](https://user-images.githubusercontent.com/45095911/159183643-29ad4f0d-99c7-4c95-8b89-60a6776d305d.png)

I get this error when i change the target to es2019 ,

[2022-03-20 20:01] praveendvd commented on #8108
![image](https://user-images.githubusercontent.com/45095911/159183747-ca23d78c-fb46-4ba0-a4bd-302e6e0dda95.png)

@WillBrock  i get this error when target is es2019

[2022-03-20 20:02] praveendvd commented on #8108
@WillBrock  but it does fixes the issue (the project runs fine )

[2022-03-20 20:10] praveendvd commented on #8106
@christian-bromann  have you tried the package.zip i attached with the issue ? i dont get this stack trace for that

[2022-03-20 20:10] praveendvd commented on #8106
i am using type script , tried with target es2019 and still same issue

[2022-03-20 23:35] WillBrock commented on #8106
@praveendvd I was able to get the correct stacktrace from your zip file

[code]

[2022-03-20 23:38] WillBrock commented on #8108
This is beyond my TypeScript knowledge but WebdriverIO is defined in wdio-types/index.d.ts and webdriverio/async.d.ts. It looks like when `target : "ES5"` it uses what is defined in types/index.d.ts but `target : "es2018"`is using WebdriverIO in async.d.ts.

[2022-03-21 07:59] christian-bromann commented on #8043
@jayrepo I think this is a good solution you are suggesting. We would chain commands as long as they end with `$` or `$$`.

[2022-03-21 09:16] praveendvd commented on #8106
@WillBrock

<img width="1328" alt="image" src="https://user-images.githubusercontent.com/45095911/159232851-08dbc324-1774-4568-9abc-2dd8602dceee.png">

This is the out put i get for both mac and windows , i am not sure why we all get 3 different behavior !!

[2022-03-21 14:30] bolem3560 commented on #8018
I am also facing same issue as $ and Browser cant find. plz provide solution

[2022-03-22 07:44] id-dan opened #8143 "[💡 Feature]: Please join to us #standwithukraine"
Please support Ukraine, more infos here: https://github.com/vshymanskyy/StandWithUkraine

[2022-03-22 07:58] #8143 closed

[2022-03-22 09:54] christian-bromann opened #8144 "[🐛 Bug]: Installing dependencies via Yarn fails when using Yarn workspaces"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When creating a project from scratc

[2022-03-22 13:05] vkosovskii opened #8145 "[🐛 Bug]: Tests didn't see driver and methods from driver"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.0

### Node.js Version

8.1.2

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?
I Use Android device and Appium
When

[2022-03-22 14:03] #8145 closed

[2022-03-22 19:31] NeONRAcE opened #8146 "[💡 Feature]: Get info about allure steps from AllureReporter"
### Is your feature request related to a problem?

I'm coding a custom reporter now and I want to get allure steps' titles from AllureReporter
Code example is below
This is how I am adding allure step title:
[code]
On afterTest hook I want to get passed steps' titles and send them to a TMS, but I can't, because `_allure` field from AllureReporter class is private

### Describe the solution you'd l

[2022-03-22 21:56] christian-bromann commented on #8146
Is there anything specific to your Allure reporter that is missing in the WebdriverIO one?

Generally I don't mind adding an interface that exposes this property. Any contributions are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-03-23 10:56] praveendvd commented on #8057
@Antonius-S  `Function | object` you can give multiple types like this , please let me know if you would like to take it up or I could take it up 🥳

[2022-03-23 11:10] praveendvd commented on #8048
@christian-bromann when i run `wdio repl chrome` it just creates a new wdio project , it doesnt do anything

[2022-03-23 12:37] christian-bromann commented on #8048
@praveendvd the repl starts for me:

[code]

[2022-03-23 12:41] praveendvd commented on #8048
@christian-bromann  , the documentation was not clear , if i do `npm install -g wdio`  and then run `wdio repl chrome` we see it just setups up wdio project .

[2022-03-23 12:42] praveendvd commented on #8048
I could pick this up to improve the documentation and try to upgrade repl to be able to take capability from a file instead so that all caps can be passed as such

[2022-03-23 12:45] christian-bromann commented on #8048
This is __not__ the wdio cli package. It is a deprecated package.

[2022-03-23 12:46] christian-bromann commented on #8048
I like the idea of passing in a wdio config but then the user has to provide an index which capability should be picked from the config file.

[2022-03-23 13:05] vkosovskii commented on #8145
@christian-bromann
So all tests should look like this? or is there another solution to make the code look good?
[code]

[2022-03-23 13:29] praveendvd commented on #8048
then the user has to provide an index which capability should be picked from the config file.

Could u elaborate on this @christian-bromann  I didn't quiet understand 🙈

Will have a look at it then

[2022-03-23 13:50] raktim1988 opened #8147 "How can I add custom-header with the url I want to visit? For an example : x-original-host: for a particular locale or market?[💡 Feature]: <title>"
### Is your feature request related to a problem?

adding custom headers to the url

### Describe the solution you'd like.

to have the simple solution to be able to add headers in my requests

### Describe alternatives you've considered.

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-23 13:54] christian-bromann commented on #8147
Duplicate of #6361

[2022-03-23 13:54] #8147 closed

[2022-03-23 13:59] christian-bromann commented on #8048
So in your `wdio.conf.js` you can define either a set of capabilities, e.g.:

[code]
or multiremote capabilities, e.g.:

[code]

When someone runs a repl, e.g. `wdio repl --config ./wdio.conf.js` I suggest to have the user define a capability either as index (see first example) or as browser name (if second example, e.g.:
[code]

Does it make sense? Which parameter name would you think is the most

[2022-03-23 14:00] raktim1988 commented on #6361
When I tried with this one, I didn't find the requestWith() function available ,Property 'requestWith' does not exist on type 'Mock'.

[2022-03-23 14:00] christian-bromann commented on #8145
I think the code looks good like this

Yes

[2022-03-23 14:01] christian-bromann commented on #6361
@raktim1988 because this was just a suggestion how it could be implemented. This feature doesn't exist yet, please get involved if you have interest using such feature.

[2022-03-23 14:08] NeONRAcE commented on #8146
Yes, e.g. I can get all the information about current tests steps (passed or failed) , which titles I always add with allureReporter.addStep. This is the main problem now I want to solve
![image](https://user-images.githubusercontent.com/17156684/159718221-afbffcbc-5713-4c60-9efa-395b85fc591a.png)

I want to get steps' titles on afterTest hook and work with them later (send to a TMS in my case)

[2022-03-23 14:33] BorisOsipov commented on #8146
That's just my two cents.

@NeONRAcE it is the worst idea.
It is an internal thing in allure reporter and must not be exposed in any way. It is implementation detail.
The next day allure reporter will be rewritten with a new allure2 library and `_allure` disappears. What you will do?)

There are few ways how to achieve the same without changes in wdio codebase:

1) (best way) decorate original all

[2022-03-23 15:12] christian-bromann commented on #8146
@NeONRAcE what I want to understand is: are you building a completely different reporter or a "better" Allure reporter? If it is the second: why can't we improve the current allure reporter? If you build a different reporter, we should ensure the base reporter provides all necessary information you need in your reporter.

[2022-03-23 15:40] anilreddy opened #8148 "[🐛 Bug]: Unable to select visible text using selectByVisibleText"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Unable to select visible tex

[2022-03-23 16:12] christian-bromann commented on #8148
Can you provide a reproducible example, e.g. a little demo website with test script?

[2022-03-23 17:06] NeONRAcE commented on #8146
@BorisOsipov @christian-bromann Thank you for the comments. It looks like an architecture issue, because I don't have any ways to get allure steps from the library, except `this._allure` field. Even if `this._allure` field is deleted, I have to know which steps are on afterTest hook anyway.
What do you think about making `this._allure` protected? Or what about extending hooks like onTestPass/onTes

[2022-03-23 18:02] christian-bromann commented on #8146
@NeONRAcE can you answer on https://github.com/webdriverio/webdriverio/issues/8146#issuecomment-1076478304 and give more insights on what you are trying to achieve?

[2022-03-23 19:21] nextlevelbeard opened #8149 "[💡 Feature]: Enable new Cucumber API to run the tests"
### Is your feature request related to a problem?

A [new API](https://github.com/cucumber/cucumber-js/blob/v8.0.0-rc.3/docs/javascript_api.md) is now available to run Cucumber tests.
webdriverIO would benefit a lot from it.

Currently, there are a great number of Cucumber features that webdriverIO users are locked out of.
This is preventable with the new API as we are no longer limited in the way

[2022-03-23 19:30] wbigno opened #8150 "[🐛 Bug]: <title>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7

### Node.js Version

v14.17

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Upgraded from v6 to v7, and upgraded fr

[2022-03-23 19:32] christian-bromann commented on #8149
This won't change with the new API. WebdriverIO by design runs a spec file per capability in a separate worker process. Switching to this API won't change that. If you want to run more things in parallel, split your scenarios into multiple feature files. Running all scenarios in their own browser session is not always a good idea as it requires a lot of resources.

Same here. Every worker will cre

[2022-03-23 19:35] christian-bromann commented on #8150
This doesn't seem to be related to WebdriverIO and more an issue of a dependency of `wdio-image-comparison-service`. Therefor I will close the issue.

@wswebcreation might be able to chime in here. I would guess that incompatibility with the [`canvas`](https://www.npmjs.com/package/canvas) package.

[2022-03-23 19:35] #8150 closed

[2022-03-23 19:46] BorisOsipov commented on #8146
@NeONRAcE

It is not the same. Allure java has well architected api. Allure-commonjs is low level deprecated(at least not supported anymore) library. We could not expose it as some public API that we will support.

It is implementation details. It is not good to expose it. If you want to use it and understand consequences you can use it without changes `private->protected` by hacks, arent you? Ple

[2022-03-23 21:08] christian-bromann commented on #8098
Closing due to inactivity.

[2022-03-23 21:08] #8098 closed

[2022-03-24 06:57] wswebcreation commented on #8150
Linked issue https://github.com/wswebcreation/wdio-image-comparison-service/issues/84

[2022-03-24 13:54] christian-bromann commented on #8148
Thanks for providing the example. The next step is to verify the issue with this example provided. Then look into why the expected behavior doesn't happen. Any contributions are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-03-24 18:21] praveendvd commented on #8048
https://github.com/webdriverio/webdriverio/tree/main/packages/wdio-repl

I believe this is package we should look into

[2022-03-24 18:34] christian-bromann commented on #8048
@praveendvd this on is just handling the repl session itself. You might want to take a look how a repl session is being initiated: https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cli/src/commands/repl.ts

[2022-03-25 20:40] kerry-afs opened #8155 "[🐛 Bug]: Unable to extend tsconfig to a base level tsconfig - results in "Unexpected token 'export'""
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.1

### Node.js Version

16.14.2

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I have created a `webdriverio` pro

[2022-03-27 08:19] praveendvd commented on #8048
@gaunap  and @christian-bromann  , lets continue conversation in the PR 🎉

[2022-03-27 08:19] #8048 closed

[2022-03-27 14:32] hzk007 opened #8157 "spawn E2BIG when deliver chrome extension to hub."
Hi, when use extension about base64data , it down with this error spawn E2BIG . I saw the base64data's size about 14M...So How can I install my extension? Code is:
`
    let file_path = './coverage-chrome/coverage-chrome.crx';
    let buff = new Buffer.from(fs.readFileSync(file_path));
    let base64data = buff.toString('base64');
    _.merge(seleniumConfig, {
        capabilities: {
            '

[2022-03-27 15:11] praveendvd commented on #8126
@BenoitZugmeyer  Could we close this issue ? if the fix is merged

[2022-03-27 15:32] BenoitZugmeyer commented on #8126
I'm not aware of a fix. But sure, close the issue when it's fixed.

[2022-03-27 15:35] praveendvd commented on #8126
Sorry ignore the comments , I just saw the merge thought it was in wdio repo .

[2022-03-28 15:17] christian-bromann commented on #8157
I recommend to update WebdriverIO as this version is not supported anymore.

Can you provide logs of the error?

[2022-03-28 18:19] nextlevelbeard commented on #8012
I can consistently replicate the issue when upgrading from Appium beta 19 to beta 20.
Here's a diff of those two versions.
https://github.com/appium/appium/compare/appium%402.0.0-beta.19...appium%402.0.0-beta.20

[2022-03-28 19:42] christian-bromann commented on #8126
@BenoitZugmeyer any chance you can provide a minimal reproducible example?

[2022-03-28 19:56] BenoitZugmeyer commented on #8126
I have, see "How to reproduce the bug"

[2022-03-28 20:57] christian-bromann commented on #8126
Ah, cheers! I must have missed that.
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-03-29 01:31] ceroshatdoshii commented on #8116
@Staicul  was wondering about the progress of this bug....

[2022-03-29 01:38] sam-022 commented on #8012
With latest `2.0.0-beta.27` appium version, I am seeing the following error when spinning up appium-service -

`An unknown server-side error occurred while processing the command. Original error: Could not find a driver for automationName 'UIAutomator2' and platformName Android'. Have you installed a driver that supports those capabilities? Run 'appium driver list --installed' to see. (Lower-level

[2022-03-29 06:59] Staicul commented on #8116
There is progress. Most probably will find time to create a PR this weekend.

[2022-03-29 07:56] christian-bromann commented on #8155
Tests were passing for me after clone:

[code]

I also don't see any WebdriverIO config file in the repository. So unable to reproduce this problem. Closing.

[2022-03-29 07:56] #8155 closed

[2022-03-29 10:55] christian-bromann commented on #8108
See #8166 .. we should move away from namespaces towards type imports.

Is there any chance we can reproduce this for others? Or is this a Windows specific issue?

[2022-03-29 10:59] christian-bromann commented on #8146
Closing due to inactivity.

@NeONRAcE if you can clarify what kind of custom reporter you are trying to build and why we should not enhance the existing reporters I would consider to re-open. The current allure reporter is not designed in a way that it should be the base for custom reporters. If there are use cases where custom functionality is needed I am happy to discuss how we could do that.

[2022-03-29 10:59] #8146 closed

[2022-03-29 11:01] christian-bromann commented on #8013
Fixed by #8100

[2022-03-29 11:01] #8013 closed

[2022-03-29 11:09] christian-bromann commented on #7708
This doesn't seem reproducible anymore, therefor I will close the issue.

[2022-03-29 11:09] #7708 closed

[2022-03-29 11:10] christian-bromann commented on #7702
I can't reproduce this with the latest version of WebdriverIO and `wdio-chromedriver-service`.

[2022-03-29 13:34] kerry-afs commented on #8155
@christian-bromann apologies, for some reason my WDIO files did not commit to the repository. I have updated it and the issue remains. Can you please revisit?

https://github.com/kerry-afs/nx-webdriverio

[2022-03-29 16:30] praveendvd commented on #8108
@christian-bromann Will try that christian

[2022-03-29 17:44] kerry-afs commented on #8155
Thank you @christian-bromann , that helped me move forward. However, I am now experiencing an issue with the actual import of a module from my `lib/testing` library, and have committed to the repository the test that fails on this import.

I would ask in the supplied gitter, but I am not entirely clear if this is a TS configuration issue or an issue that's appropriate here. Apologies in advance if

[2022-03-29 17:49] christian-bromann commented on #8155
As the error states, you have `import { someMethod } from '@testing';` in your test file (`apps/demo-e2e/src/features/login/login.steps.ts`) which is invalid.

[2022-03-29 18:17] mhardin commented on #5545
Just curious if there are any updates on this?  We are seeing the same issue in our test framework ('afterTest' hook gets skipped whenever a test times out).  This is causing issues for us because we set a lot of important metadata in our afterTest  hook, such as the video recording, etc.

[2022-03-29 18:21] christian-bromann commented on #8155
I am not a TypeScript expert. Maybe the `@` in `@testing` is a problem? Have you tried to fiddle with the `tsConfigPathsOpts` option? Maybe the path isn't correct.

[2022-03-29 19:21] kerry-afs commented on #8155
Ah, `tsConfigPathsOpts` was the key here.

I initially had to add a reference to the base level tsconfig file at the top of the configuration file:
`const tsConfig = require('../../tsconfig.base.json');`

Then add the below tsConfigPathsOpts:
[code]

I really appreciate your insight here. This was just TypeScript being TypeScript. 😅

[2022-03-30 10:40] ferike86 opened #8170 "[🐛 Bug]: pendingReason is not reported in Jasmine tests"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.1

### Node.js Version

16.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Using `Jasmine` test framew

[2022-03-30 11:09] christian-bromann commented on #8170
Thanks for reporting!

I guess the [jasmine package](https://github.com/webdriverio/webdriverio/tree/main/packages/wdio-jasmine-framework) doesn't properly report it to the base reporter.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-03-30 21:31] cschar commented on #8144
I got a similar error right now:

[code]

[2022-03-30 22:23] christian-bromann commented on #8144
I believe the `plugins` property in our [questionnaire object](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cli/src/constants.ts#L351-L356) needs a default value as empty array.

@cschar wanna help us take a stab at this?

[2022-03-31 09:49] #8144 closed

[2022-03-31 10:55] unlok opened #8173 "[🐛 Bug]: Malformed type for "implicit" parameter of command setTimeouts"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

In non-w3c mode in safari13

[2022-03-31 10:58] vasudha0309 opened #8174 "RequestError: connect ECONNREFUSED 127.0.0.1:9515"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7

### Node.js Version

12.16.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I have couple of test cases, when I'm r

[2022-03-31 12:51] christian-bromann commented on #8126
fixed in https://github.com/webdriverio/webdriverio/pull/8175

[2022-03-31 12:51] #8126 closed

[2022-03-31 16:23] mayankshukla94 commented on #8008
@christian-bromann I have updated the commands to `parentElement()` and `previousElement()`. And I'm still facing the issue. I will investigate this because this looks like a valid bug.

[2022-03-31 16:27] christian-bromann commented on #8008
@mayankshukla94 a minimal reproducible example would help 😉

[2022-03-31 16:27] christian-bromann commented on #6547
@rejieshr this is a pretty old issue, please update all your WebdriverIO dependencies and retry.

[2022-03-31 16:39] mayankshukla94 commented on #8008
I tried this

[code]

And got below error:

![image](https://user-images.githubusercontent.com/40030809/161106381-a129c797-d85d-450b-96b7-35580045d983.png)

[2022-03-31 17:32] chrisbottin commented on #6377
@christian-bromann I think there is still an issue with the custom locator strategy.

The correct strategy is now used to refetch the element thanks to your fix but the `strategyArguments` passed in the original `custom$` or `custom$$` are not being passed again during the refetch, instead we are getting an empty arguments list.

Here for example https://github.com/webdriverio/webdriverio/pull/691

[2022-03-31 19:57] christian-bromann commented on #8008
I just checked out a new project and ran:
[code]
with no problem.

[2022-03-31 19:59] christian-bromann commented on #6377
@chrisbottin mind creating a new issue with a reproducible example? Any contribution to WebdriverIO are also appreciated.

[2022-04-01 06:45] vasudha0309 commented on #8174
Hi, There is no reproducable example since it's happening randomly in different test cases. As for the logs I have updated and given the full red error that was there in the console

[2022-04-01 07:19] christian-bromann commented on #8174
Unfortunately I have to close the issue if no reproducible example can be provided. The reason for the problem is that WebdriverIO is unable to connect to your Chromedriver. This is likely due to your system and environment. There is no chance for anyone to create a fix for it as no one as access to your environment.

[2022-04-01 07:19] #8174 closed

[2022-04-01 08:42] unlok commented on #8173
@christian-bromann, sorry, did not get. I am calling it like this:
[code]

[2022-04-01 10:18] chrisbottin opened #8176 "[🐛 Bug]: Custom strategy arguments not provided when refetching a stale element"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.1

### Node.js Version

v16.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

When using a custom strate

[2022-04-01 10:21] chrisbottin commented on #6377
@christian-bromann done #8176

[2022-04-01 10:26] christian-bromann commented on #8176
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-04-01 10:27] christian-bromann commented on #8173
The call

[code]
should work.

[2022-04-01 10:33] chrisbottin commented on #8176
I have investigated this issue and here is naive approach to fix the bug...

[Bug_Fix_for_#8176.patch.zip](https://github.com/webdriverio/webdriverio/files/8396854/Bug_Fix_for_.8176.patch.zip)

I'm sure this won't be acceptable but it should provide a base and insight to where the issue lies.

Also the fix should be also applied to browser.custom$$, element.custom$$ and element.custom$.

[2022-04-01 10:37] christian-bromann commented on #8176
Why would you think that?

How about you raise a PR and we can continue our convo there?

[2022-04-01 11:17] mayankshukla94 commented on #8008
@christian-bromann I tried your same code. I'm getting error. I'm using wdio version `"@wdio/cli": "^7.16.13"`

[2022-04-01 11:21] christian-bromann commented on #8008
Have you tried in a new project setup? Can you create a sample repo with a GitHub Action that can reproduce this issue?

[2022-04-01 12:13] unlok commented on #8173
@christian-bromann, I described why it is not now working above.

1. I call from my code `await browser.setTimeout({ 'script': 5000 })`
2. Under the hood webdriverio call this methdod - https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/browser/setTimeout.ts#L62
[code]
3. Then on this line - https://github.com/webdriverio/webdriverio/blob/main/packages/webdriver

[2022-04-01 12:26] christian-bromann commented on #8173
Unfortunately I don't have environments that support JSONWireProtocols at this point. So, any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-04-01 13:39] chrisbottin commented on #8176
Ok, will do.

[2022-04-01 14:38] erwinheitzman commented on #8126
Nice going Christian and thanks for reporting @BenoitZugmeyer 👍

[2022-04-01 23:15] ravi005e opened #8178 "engine "node" is incompatible with this module"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.3

### Node.js Version

16.14.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

want able to run yarn insta

[2022-04-02 17:11] tzurp commented on #8022
@sashan4u007 , @lacell75 Can you please use the following method and see if it solves your problem?

[code]

[2022-04-02 20:58] eileenzhuang2022 opened #8179 "[🐛 Bug]: <title>JSON object from browser console is lost in getLogs"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

V6 or V7

### Node.js Version

12 or 14

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

An JS application in chr

[2022-04-03 19:19] wswebcreation commented on #8178
This is due to the fact that sync mode is not supported anymore in NodeJS 16, please see https://webdriver.io/docs/sync-vs-async

[2022-04-03 19:19] #8178 closed

[2022-04-04 02:10] ravi005e commented on #8178
thanks

Sent from my iPhone

[2022-04-04 07:18] christian-bromann commented on #8179
@eileenzhuang2022 thanks for reporting.

Unfortunately there is nothing WebdriverIO can do about it and you might want to report this in the Chromedriver project. One possible workaround is to [receive logs](https://pptr.dev/#?product=Puppeteer&version=v13.5.2&show=api-event-console) through [Puppeteer](https://pptr.dev/) calling the [`getPuppeteer`](https://webdriver.io/docs/api/browser/getPuppet

[2022-04-04 07:18] #8179 closed

[2022-04-04 14:17] eileenzhuang2022 commented on #8179
Thank you very much!

[2022-04-04 16:59] Staicul commented on #8116
No, still figuring out some details...

[2022-04-05 14:34] dipushrestha opened #8185 "[🐛 Bug]: WDIO CLI --spec option doesn't detect files or files within directory containing `[]` brackets"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

WDIO CLI options --spec doesn't det

[2022-04-05 14:47] christian-bromann commented on #8185
Why do you use `[...]` as directory name?

[2022-04-06 05:00] leviv-kr commented on #6057
Hey all!
Is this still an issue? I keep getting this error using v7.16.14

Thanks in advance

[2022-04-06 06:18] alexstep-dev opened #8188 "[🐛 Bug]: Definitions for eslint-plugin-wdio rules were not found"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.3

### Node.js Version

16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Hello!
I faced a problem with [esl

[2022-04-06 07:32] christian-bromann commented on #8188
You are missing a piece in the plugins section:

[code]

[2022-04-06 07:33] #8188 closed

[2022-04-06 12:09] BenoitZugmeyer commented on #8126
Thank you very much @christian-bromann !

[2022-04-06 13:24] dipushrestha commented on #8185
We're using the next.js page param convention.

[2022-04-06 14:50] christian-bromann commented on #8185
Thanks for reporting!

WebdriverIO is using [`glob`](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-config/src/lib/FileSystemPathService.ts) to find all testing files. Not sure if it is not able to deal with `[` and `]` but that's where I would look and check first.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidel

[2022-04-06 16:05] christian-bromann opened #8191 "Errors in `onPrepare` are being suppressed"
### Discussed in https://github.com/webdriverio/webdriverio/discussions/8187

It seems that errors in the `onPrepare` hook are being suppressed. By design WebdriverIO ignores errors from hooks but at least logs them. This doesn't happen currently with `onPrepare`.

<div type='discussions-op-text'>

<sup>Originally posted by **kaabsimas** April  5, 2022</sup>
I've been facing an issue testing an Vu

[2022-04-06 17:17] christian-bromann opened #8192 "[🐛 Bug]: Misleading error behavior if path to tsconfig is invalid"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

If the `tsNodeOpts.project` path is

[2022-04-06 22:32] ari-meetai commented on #7780
Could this be related to [#7086](url) ?

I can still repro this right now with Chrome 100.

[2022-04-07 07:10] christian-bromann commented on #7780
@ari-meetai any contribution that helps fixing the issue is welcome!

[2022-04-07 08:55] NisStrom opened #8194 "[🐛 Bug]: Request failed with status 400 due to Unsupported CSS selector with Ionic on mobile"
### Have you read the Contributing Guidelines on issues?

- [x] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.18.1

### Node.js Version

12.22.7

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

We are migrating tests from Protra

[2022-04-07 09:08] Badisi commented on #7780
@ari-meetai, yes I think so
(that's what I said in the **What happened?** section)

[2022-04-07 10:39] christian-bromann commented on #8194
How does the HTML source look like of the element you want to fetch?

[2022-04-07 11:25] NisStrom commented on #8194
@christian-bromann

I have finally managed to figure this out by myself: We are using Ionic + Capacitor and I forgot to switch the context to WEBVIEW. For any future reader, look [here](https://github.com/webdriverio/appium-boilerplate/blob/main/tests/screenobjects/WebviewScreen.ts), [here](https://github.com/webdriverio/appium-boilerplate/blob/main/tests/helpers/WebView.ts) and [here](https://git

[2022-04-07 11:25] #8194 closed

[2022-04-07 12:19] christian-bromann commented on #8194
@NisStrom thanks for clarifying!

Totally! Mind raising an issue for this? I am not too familiar with the mobile environment and not sure how to determine this easily. We have a [place in the codebase](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriver/src/utils.ts#L296-L351) to update and improve error messages from drivers, maybe that adding this edge case would be a good fi

[2022-04-07 13:26] gianlucamangiapelo commented on #6361
Interested in this feature!

[2022-04-07 16:31] fatihtx commented on #5229
I agreed with @breburdaTom . This is the first time that I am installing WebdriverIO and selected several reporting plugins. Getting  an error at your first try is not good. I will clena my area and re-start the installation. At least there should be a warning sample test case not working with so and so.

[2022-04-07 16:45] christian-bromann commented on #5229
@fatihtx which reporter did throw this error?

[2022-04-07 19:04] fatihtx commented on #5229
I selected at config window: spec, allure, cucumber

[2022-04-07 19:38] christian-bromann commented on #5229
Thanks for letting me know, I will kick out the Cucumber reporter as it is not supported.

[2022-04-08 06:46] NisStrom opened #8197 "[💡 Feature]: Add hint when 'Request failed with status 400 due to Unsupported CSS selector'"
### Is your feature request related to a problem?

If tests for a web app are run on mobile, and one forgets to set the context to webview, a weird error is raised. See #8194.

### Describe the solution you'd like.

As @christian-bromann has suggested in #8194, my suggestion is to ADD a message [here](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriver/src/utils.ts#L296-L351) t

[2022-04-08 06:49] christian-bromann commented on #8197
Thanks for reporting!

Any contributions that resolves this is highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-04-08 12:08] DrNio13 opened #8198 "[📖 Docs]: Markdown Reporter example not working"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Clearer documentation with correct code snippet. Developers would need to only specify the path for the generated markdown files, by following the example.

### Description of the improvement / report

Following the Markdown Reporter [installation guide](https://webdriver.io/docs/wdio-markd

[2022-04-08 16:51] christian-bromann commented on #8198
@DrNio13 can you try:

[code]

[2022-04-09 22:44] ranam2030 commented on #8012
With appium 2.0.0-beta.27, when installing some new package I am getting the error called -
`An unknown server-side error occurred while processing the command. Original error: Could not find a driver for automationName 'UIAutomator2' and platformName Android'. Have you installed a driver that supports those capabilities? Run 'appium driver list --installed' to see. (Lower-level error: Could not f

[2022-04-11 05:59] DrNio13 commented on #8198
@christian-bromann

it does not work better than my last snippet in the comment.

`[0-0] 2022-04-11T05:53:39.359Z INFO @wdio/local-runner: Run worker command: run
[0-0] 2022-04-11T05:53:39.744Z ERROR @wdio/local-runner: Failed launching test session: TypeError: ReporterClass is not a constructor
[0-0]     at BaseReporter.initReporter (/app/shared/Unit.UI/node_modules/@wdio/runner/build/reporter.js

[2022-04-11 07:42] christian-bromann commented on #8198
Probably not. The WebdriverIO team doesn't manage this plugin. We recommend to raise an issue in the [original project](https://github.com/carmenmitru/wdio-markdown-reporter). All we can do is to remove it from our docs and install wizard.

[2022-04-11 07:45] #8198 closed

[2022-04-11 11:40] christian-bromann commented on #8176
A patch for this has been merged and released with `v7.19.4`.

Thanks @chrisbottin for your contribution on this. Really appreciated.

[2022-04-11 11:40] #8176 closed

[2022-04-11 11:40] christian-bromann commented on #8157
Closing due to inactivity.

[2022-04-11 11:40] #8157 closed

[2022-04-12 14:22] anupamck opened #8207 "Firefox not opening after update"
On updating wdio version to 6.12.1 from 6.0.13, I am unable to execute tests on Firefox locally. Wdio is not able to even open the browser window - it merely flickers occasionaly.

When I downgrade and run "npm i", tests on Firefox execute once again.

Firefox version - 98.0.2

Note: The same problem does not happen on Chrome (version 100.0.4896.75)

[Debug logs - Firefox problem.txt](https://gith

[2022-04-12 22:36] luckyyyyy commented on #8207
$ ./geckodriver --port 4444 --log debug
1649802953026	geckodriver	INFO	Listening on 127.0.0.1:4444
1649802964485	webdriver::server	DEBUG	-> POST /session {"capabilities":{"alwaysMatch":{"browserName":"firefox","moz:firefoxOptions":{"args":["-remote-debugging-port","52822"]}},"firstMatch":[{}]},"desiredCapabilities":{"browserName":"firefox","moz:firefoxOptions":{"args":["-remote-debugging-port","52

[2022-04-12 22:42] luckyyyyy opened #8209 "[💡 Feature]: Screenshot issue"
### Is your feature request related to a problem?

no

### Describe the solution you'd like.

I don't want to save the screenshot, I just want to get the buffer of the screenshot and provide it to my application for processing.

I looked at the source code and it is easy to modify, would you consider adding this API?

and uploadFile savePDF saveRecordingScreen ...

thanks

### Code of Conduct

- [

[2022-04-13 06:28] perhenrikandersson opened #8210 "[💡 Feature]: Select tests with --exclude command should handle free text search just like --spec command does"
### Is your feature request related to a problem?

Having to write the full path(s) when excluding test file(s) is a bit cumbersome. Would be much easier if I could just write a word that the excluded test file(s) file name should contain, just as when specifying what specs to use.

### Describe the solution you'd like.

Same as we already have with the --spec command where you can either specify

[2022-04-13 08:09] christian-bromann commented on #8210
Thanks for reporting!

I think being compliant with the `--spec` param makes totally sense here.

Any contributions that implements this are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-04-13 08:11] christian-bromann commented on #8209
Please use [`takescreenshot`](https://webdriver.io/docs/api/webdriver/#takescreenshot).

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2022-04-13 08:11] #8209 closed

[2022-04-13 08:42] christian-bromann commented on #8207
@luckyyyyy thanks for providing these logs, they indeed indicate something is not correct.

[2022-04-13 08:43] Pitros commented on #8207
This issue is related to firefox driver update v0.31 which happened 2 days ago. Had the same issue, for now specified manually previous version `geckodriver-v0.30.0` and it seems to be working fine.

[2022-04-13 09:17] christian-bromann commented on #8207
Talked with one of the Geckodriver devs about it who said:

[2022-04-13 10:52] mrister commented on #8207
Having the same issue.

[2022-04-13 11:52] christian-bromann commented on #8207
fixed in #8211

[2022-04-13 11:52] #8207 closed

[2022-04-13 23:53] Badisi commented on #7780
@ari-meetai, are you still facing this issue ?

Because I don't know what fixed it, but I got it working with the following configuration:
[code]

[2022-04-14 08:50] sheekha-singh commented on #6378
I am in the same boat. Using v12.22.12 (npm v6.14.16) , wdio - @wdio/cli@7.19.5 and Appium version - 1.16.0 - all on device farm and I get the exact same errors. Tried everything but nothing works

[2022-04-14 12:42] Badisi opened #8219 "[🐛 Bug]: webdriverio's expect not working with node 16"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.5

### Node.js Version

16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

The following code is working fine

[2022-04-14 14:08] sheekha-singh opened #8220 "[🐛 Bug]: <Error calling: npx wdio config>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.5

### Node.js Version

12.22.12

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Using v12.22.12 (npm v6.14.16) ,

[2022-04-14 14:24] Badisi commented on #8219
Thanks @christian-bromann.

Like I said in the description, it is obvious that this has to do with `expect-webdriverio` and `jasmine` but I don't know exactly where the problem is and I'm not too familiar with one or the other.

Do you have any guidances ?

[2022-04-14 15:20] christian-bromann commented on #8219
I think you are pointing into the right direction. I have the same guess.

[2022-04-14 15:22] sheekha-singh commented on #8220
I tried it with Node v 14 as well as 16.13.0. I get the same error. I basically tried all combinations of Node and Appium to get it to kickoff the WDIO cli wizard

[2022-04-14 15:53] sheekha-singh commented on #8220
Here's the log with latest node version. I used 17.0.0 and I still get that error.

`[DEVICEFARM] Setting up your device. This usually takes 2-3 minutes.
[DEVICEFARM] ########### Start executing testspec ###########

[DEVICEFARM] ########### Entering phase install ###########

[DeviceFarm] nvm install 17.0.0
Downloading and installing node v17.0.0...
Downloading https://nodejs.org/dist/v17.0.0/nod

[2022-04-14 18:50] dwilkins-mp opened #8221 "[🐛 Bug]: Browser.config changes not reflected onRunnerEnd Runner"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.3

### Node.js Version

v14.17.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Since updating to WDIO v7, in-tes

[2022-04-14 21:52] jameskip opened #8223 "[🐛 Bug]: Firefox - Passing incorrect browser capabilities argument to browser URL"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.5

### Node.js Version

14.19.1

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Given we are running our tests fro

[2022-04-15 11:45] nextlevelbeard commented on #7932
@christian-bromann @harsha509 Was any other progress made on this?

[2022-04-15 14:17] ztshashi opened #8224 "[🐛 Bug]: Cucumber step timeout resulting missing screenshots for execution data in Report Portal"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

6.1.14

### Node.js Version

14.18.3

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Cucumber options timeout reached r

[2022-04-15 16:27] mwalton-trs commented on #8220
Worked with @sheekha-singh on this issue.  Here are some more details:

The `@wdio/cli` dependencies weren't included in the node_modules directory within the bundled .tgz (when running `npm-bundle`).  This alone should not be an issue, because when you run `npx wdio run <config.js>` it should automatically install the correct version of `@wdio/cli` based on the package.json.

But when installing

[2022-04-15 16:34] mwalton-trs commented on #8220
To fix the issue, add `@wdio/cli` (and other `@wdio` libraries) to the bundledDependencies in the package.json.  Then run `npm install` and then `npm-bundle` should include those.

[2022-04-15 17:21] kolby-at-promenade opened #8226 "[💡 Feature]: Option in arguments of $$() function to return an ordered array of elements"
### Is your feature request related to a problem?

I was testing a products listing page and we needed to ensure the products were sorted "from low to high" if the option was enabled. In order to test this, I needed the products to be returned in order. There was no function for this, so I spent some time to write my own. After further research it appears there is not a built in function for this

[2022-04-15 22:28] felix9 opened #8227 "[💡 Feature]: separate connectionRetry parameters for session creation"
### Is your feature request related to a problem?

When talking to a grid like BrowserStack, it sometimes takes 2-3 minutes for a new session to be created, so connectionRetryTimeout needs to be 150000 msec or so, and probably connectionRetryCount should be 1 or more.

However, these parameters apply to every webdriver request. Most requests other than session creation finish very quickly. 5000 ms

[2022-04-15 22:38] felix9 opened #8228 "[💡 Feature]: override automatic jsonwp/w3c protocol choice"
### Is your feature request related to a problem?

On BrowserStack, IE11 returns a capabilities that wdio thinks is jsonwp, but it actually implements w3c instead, and jsonwp doesn't work.

Conversely, Edge 40 (v15) returns a capabilities that wdio thinks is w3c, but it actually implements jsonwp instead; w3c doesn't work.

### Describe the solution you'd like.

While it's plausible to fix wdio's

[2022-04-16 10:02] erwinheitzman commented on #8226
The link to your helper function does not work,
I would like to see what you did because if all you did was do a sort then I don't see how this adds anything to the API.

[2022-04-16 10:07] erwinheitzman commented on #8228
I'd rather fix the underlying issue then to introduce a workaround for it to the API.

[2022-04-16 10:10] erwinheitzman commented on #8227
Nice solution to the problem you experienced.

Another alternative would be to implement this in the respective cloud services instead of implementing it in WebdriverIO itself.

[2022-04-18 16:20] ztshashi commented on #8224
Logged in wrong bucket

[2022-04-18 16:20] #8224 closed

[2022-04-18 16:41] kolby-at-promenade commented on #8226
Oh. I think it's a private repository. Sorry for that link to the helper function not working.

The function requests the elements from ':nth-child(1)' to the last element. There's currently no way built into the library to just ask for the elements in order as presented on the page. The feature would have saved me an hour in planning and implementing a helper function for requesting the the eleme

[2022-04-19 08:01] irtiza commented on #7960
@christian-bromann I am interested in contributing to the project. So decided to look for good first pick labeled issues.

If I can get more information on these methods, where they are and how to use them, then I can update docs and create PR.

Let me know your thoughts.

Regards

[2022-04-19 16:20] christian-bromann commented on #7960
Hey @irtiza 👋

that's awesome, thanks for your interest.

The commands are currently implemented in our [shim file](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-utils/src/shim.ts#L261-L277) that handles sync and async command handling. This is basically a wrapper around the WebdriverIO command. I suggest the best place to document this behavior is directly within our [`$$` fo

[2022-04-19 16:29] christian-bromann commented on #8226
Hey @kolby-at-promenade, thanks for raising the issue.

I still don't quite get what you mean by getting elements "in order". If I do the following:

[code]

so it seems if you query sub elements they are in order from how they show up in the DOM. Please explain if I am mistaken here.

[2022-04-19 18:25] christian-bromann commented on #8227
@felix9 what would be your suggestion how this should be configured by the user?

[2022-04-19 18:27] christian-bromann commented on #8228
I agree with @erwinheitzman here. Happy to make the `isW3C` flag more strict but if BrowserStack sends back JSONWP capabilities but runs W3C WebDriver behind the scene that it is a bug in BrowserStack.

[2022-04-19 18:27] #8228 closed

[2022-04-19 18:30] christian-bromann commented on #8220
You have been using [this depcrecated NPM package](https://www.npmjs.com/package/wdio) when running `npx wdio run wdio.conf.js`. You have to have `@wdio/cli` installed as dependency.

[2022-04-19 18:30] #8220 closed

[2022-04-19 18:33] christian-bromann commented on #7932
@nextlevelbeard I don't think so, would you like to pick it up?

[2022-04-19 18:42] christian-bromann commented on #8221
If you have a custom slack reporter why do you need to store this data to the `browser.config` object? Can't you store it within your reporter class?

[2022-04-19 19:42] christian-bromann commented on #8223
I can reproduce this, here are the logs:

[code]

Can you provide a minimal reproducible example?

[2022-04-19 20:44] bburggraff commented on #8219
@christian-bromann @Badisi - I'm encountering the same issue as well. I think it was introduced as part of https://github.com/webdriverio/webdriverio/pull/8175.

Is it as simple as changing this to expectAsync instead of expectSync?
https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-utils/src/shim.ts#L421

[2022-04-19 21:28] darnold24 opened #8253 "[🐛 Bug]: Number of workers created not filtered by cucumber tags"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.16

### Node.js Version

16.3.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

When running `yarn test:fea

[2022-04-19 21:50] dwilkins-mp commented on #8221
I'm working from a piece of legacy code that used the browser.config > runner.config flow: is there a better way to send info during a test to the reporter after a failure?

[2022-04-20 03:11] christian-bromann commented on #8221
Can you be more specific about the use case here?

[2022-04-20 03:12] christian-bromann commented on #8253
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-04-20 03:13] christian-bromann commented on #8219
@bburggraff mind raising a PR with a test for this?

[2022-04-20 05:10] christian-bromann commented on #8197
@NisStrom would you like to take a stab at this?

[2022-04-20 05:11] christian-bromann commented on #8106
@praveendvd how do you think we should proceed with this?

[2022-04-20 05:22] christian-bromann commented on #8116
This has been fixed and merged/released. Thanks @Staicul for the contribution!

[2022-04-20 05:22] #8116 closed

[2022-04-20 05:23] christian-bromann commented on #8149
@nextlevelbeard you want to help us on this effort?

[2022-04-20 05:27] christian-bromann commented on #7646
Closing due to inactivity. Happy to re-open if anyone can help us identify the bug here better.

[2022-04-20 05:27] #7646 closed

[2022-04-20 05:29] christian-bromann commented on #7584
I think we can close this. There is nothing actionable left here to do.

[2022-04-20 05:29] #7584 closed

[2022-04-20 10:19] nextlevelbeard opened #8256 "[💡 Feature]: Investigate adoption of nodeJS 18 built-in test runner"
### Is your feature request related to a problem?

N/A

### Describe the solution you'd like.

Built in test-runner could eventually replace or co-exist with jest
https://nodejs.org/dist/latest-v18.x/docs/api/test.html

### Describe alternatives you've considered.

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-04-20 13:06] ellatom opened #8257 "[🐛 Bug]: Slack service show for failed test - total failed equal to zero"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

V7

### Node.js Version

v17.5.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

When i run tests and the test f

[2022-04-20 14:28] christian-bromann commented on #8257
Thanks for reporting @ellatom

Please raise this issue or even better a PR in the [slack service](https://github.com/carmenmitru/wdio-slack-service) project. Thanks!

[2022-04-20 14:28] #8257 closed

[2022-04-20 14:42] praveendvd commented on #8106
@christian-bromann I will have a look this week , got busy . Thanks Christian

[2022-04-20 14:47] #8106 closed

[2022-04-20 21:35] erwinheitzman commented on #8256
I already brought up this idea internally, we would definitely like to explore this option :)

[2022-04-21 08:07] nmattia commented on #7646
@praveendvd apologies, missed the notification! I'm using [`browser.saveScreenshot`](https://webdriver.io/docs/api/browser/saveScreenshot/). I'm happy to close, it's probably a chrome issue.

[2022-04-21 11:42] anupamck opened #8258 "[🐛 Bug]: Step duration returned by afterStep -> result.duration is inaccurate (Cucumber)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.5

### Node.js Version

14.15

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

While executing a feature fil

[2022-04-21 14:06] christian-bromann commented on #8258
Thanks for reporting!

You can find the snippet that creates the result object [here](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cucumber-framework/src/index.ts#L45-L51). We are getting it from the Cucumber framework and already convert it from nano s to ms. But this might be wrong.

Any contributions that resolves the bug are highly appreciated. Please take a look into our

[2022-04-21 16:32] kaksjonovs commented on #8007
Issue still reproducible in `7.19.5`.

[2022-04-21 16:52] christian-bromann commented on #8108
@praveendvd how should we proceed with this? Did you have some time to work on a reproducible example?

[2022-04-21 17:09] praveendvd commented on #8108
@christian-bromann  its working now 🥳

[2022-04-21 17:09] #8108 closed

[2022-04-22 11:16] goosewobbler commented on #5445
I believe I have an electron-based use case for this, basically an electron app which interacts with different browsers and where this interaction requires an E2E testing solution.

[code]

It will take me some time but I plan to look at #5458 with a view to resurrecting it.

[2022-04-22 21:07] Badisi opened #8266 "[🐛 Bug]: issue with jasmine, ts-node and esm tests"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.5

### Node.js Version

14.17.5

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I have built a plugin for wdio ([@

[2022-04-25 16:47] christian-bromann commented on #8266
WebdriverIO currently doesn't support ESM modules, see also #6812

[2022-04-25 19:50] Badisi commented on #8266
I thought that #6812 was more about porting wdio to esm, so that it can be shipped as esm and be used in other environments too.

My use case here is simply being able to run a test written in esm.
And I thought that because wdio is using `jasmine` and `ts-node`, and that both are supporting esm, this could be feasible without the needs to completely rewrite wdio to esm ?

[2022-04-26 14:36] christian-bromann commented on #8266
Currently all TypeScript files are compiled down to use CommonJS. We can not just switch to ESM because both systems need to be supported for a while. Feel free to get involved in the effort of porting the codebase to ESM and make it available to CommonJS too. The PR I referred to was a first attempt but is blocked due to the fact that Jest currently doesn't fully support ESM. I am happy to take o

[2022-04-26 16:37] sayrah01 opened #8279 "@wdio/runner: FetchError: Failed to fetch browser webSocket URL from http://localhost:51804/json/version: request to http://localhost:51804/json/version failed, reason: connect ECONNREFUSED ::1:51804🐛 Bug]: <title>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.15

### Node.js Version

v17.9.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

after starting to work react-nati

[2022-04-26 21:09] n8sloat commented on #7820
@unickq I am seeing this same issue.  What was the resolution?

[2022-04-27 18:34] stephanie-engel commented on #8279
Someone on my team is also seeing the same issue as detailed in this ticket:

**WebdriverIO Version**
7.16.15

**Node.js Version**
v17.7.1

**Mode**
WDIO Testrunner

**What happened?**
The repo that contains the automated tests was cloned 2 weeks ago, and this team member has been seeing this error message whenever attempting to run the tests.

**What is your expected behavior?**
The test should r

[2022-04-27 19:05] stephanie-engel commented on #8279
**Update:**
- When I use node version 16.13.0 then I don't get the ECONNREFUSED error. The tests run and pass without any issues.
- When I upgrade to node version 17.7.1 (same as my coworker), then I'm able to reproduce this error.

**Tests Run and Pass with Node v 16.13.0**

[code]

**Error with Node v 17.7.1**

[code]

[2022-04-27 19:07] vijaychowthri opened #8280 "[🐛 Bug]: <console log >"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

12.18.3

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

we have custom global funct

[2022-04-27 19:08] vijaychowthri commented on #8280
try {

                if (oElement.isDisplayed()) {
                    return oElement.waitForDisplayed({ timeout: MAXWAITTIME }).then(async function (displayed) {
                        logger.info("PASS", message + "...is displayed " +displayed );
                        return displayed;
                    },async function (error) {
                        logger.info("FAIL", message + "...

[2022-04-27 22:40] christian-bromann commented on #8280
@vijaychowthri I have pushed some improvements around this in #8165, can you try with latest version?

[2022-04-28 06:30] lacell75 commented on #7695
Issue fixes with async mode. I migrated all js in async and issue is not reproduced

[2022-04-28 06:58] Rajak1987 commented on #4982
Hi! I am also having this issue with wdio V7. Any tips?

[2022-04-28 08:23] lacell75 commented on #8007
I reproduced this issue also since the upgrade wdio to latest version. I will try to fix it today.

[2022-04-28 08:39] kaksjonovs commented on #8007
@lacell75 Waiting for the review: https://github.com/webdriverio/webdriverio/pull/8262

[2022-04-28 13:49] IrodaMaksudova opened #8281 "[🐛 Bug]: No such element/Unable to locate element error getting fired recursively, however the element has been found and clicked"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.5

### Node.js Version

14.16.1

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

No such element/Unable to locate e

[2022-04-28 14:40] vijaychowthri commented on #8280
This can be Closed.

 //Options: trace | debug | info | warn | error | silent
    logLevel: 'silent',

[2022-04-28 15:43] christian-bromann commented on #8219
@bburggraff that PR just reverts the patch that has introduced this bug trying to patch another bug. I would prefer to have a fix for this so we don't have to revert things.

[2022-04-28 15:49] #8007 closed

[2022-04-28 15:57] christian-bromann commented on #8281
We provide this template so that we as maintainer get all necessary information to work on issues. Your short description doesn't allow us to do anything here, so please provide a minimal reproducible example.

[2022-04-28 16:09] bburggraff commented on #8219
I see.

I'm not super familiar with the code base, but I'll try to look into this.

[2022-04-28 17:13] sam-022 opened #8282 "[🐛 Bug]: Unable to run tests on Firefox using Selenium Standalone Service"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.6

### Node.js Version

17.4.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When setting up new project using s

[2022-04-28 21:22] gauravgandhi1315 opened #8283 "[🐛 Bug]: Error: Callback was already called."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7

### Node.js Version

16.13.2

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Updated my node version to 16 an

[2022-04-28 21:43] christian-bromann commented on #8283
Duplicate of https://github.com/webdriverio/selenium-standalone/issues/661

[2022-04-28 21:43] #8283 closed

[2022-04-29 16:35] bhorst-tibco commented on #8282
I am having this same issue with selenium-standalone-service for both firefox and chrome. The browsers do not even open.

My setup
MacOS Monterey 12.3.1
Chrome Version 101.0.4951.41

Using this configuration from wdio tutorial also hits the issue

[code]

The run output:
npx wdio run wdio.conf.js

Execution of 1 workers started at 2022-04-29T16:23:23.171Z

[code]

Additional notes:

- WORKS with c

[2022-04-29 16:59] pmerwin commented on #8282
Seeing a similar issue trying local muti-remote with selenium stand alaone and firifox:

[code]

the error appears to be coming from webdriver and the driver version for geckodriver?

[code]

[2022-04-29 17:30] pmerwin commented on #8282
So, I bumped the geckodriver version to 31, the latest, and I am running the latest ff locally with the 4.0 selenium standalone release on one firefox browser, what I am seeing is selenium standalone service logs never start, and there is no geckodriver in node_modules ?

is the issue that sel-standlone is not downloading geckodriver?

https://gist.github.com/pmerwin/d028eac552c9b76ba0d27e6447f365

[2022-04-29 18:51] pmerwin commented on #8282
as a workaround I found geckodriver service is working fine for me:

https://www.npmjs.com/package/wdio-geckodriver-service

[code]

[2022-04-29 19:31] colleenhobbs commented on #5009
Hi @christian-bromann -- we are also looking at potentially moving from Protractor to WebdriverIO this year for our E2E tests, but not having an equivalent `forkNewDriverInstance()` would be a bit of a problem for us since we do multi-user E2E testing of our web apps all the time.  Do you know if this is still on the WDIO roadmap?

[2022-04-30 10:59] josetaveiragomes commented on #1140
This issue is still happening with me:
"wdio-chromedriver-service": "^7.3.2"
Windows Chrome Version: 100.0.4896.127

The setValue() method is only appending (not replacing) and the clearValue() method does not clear the input.
The workaround from @NBukuri works great so I am going with it while the issue persists.

[2022-04-30 11:44] SamuelVinay91 commented on #8282
Hi Team, Any update on this. I am facing the same issue

[2022-04-30 18:34] christian-bromann commented on #5009
I think this issue is solved as anyone can import WebdriverIO to create a new instance when running the testrunner, e.g.:

[code]

I think I haven't closed this earlier because this would not work with synchronous execution which we deprecated.

[2022-04-30 18:34] #5009 closed

[2022-04-30 18:39] christian-bromann commented on #8282
@SamuelVinay91 I haven't been able to look into this but would appreciated if someone could help us here.

[2022-05-01 08:03] Pandicool commented on #4422
@mgrybyk  bail is not working properly for me i have two feature files and add bail is 1 both files are executing both files

[2022-05-01 15:18] christian-bromann commented on #8226
Closing due to inactivity. Happy to re-open once more information are provided.

[2022-05-01 15:18] #8226 closed

[2022-05-02 13:32] SamuelVinay91 commented on #8282
@propheel - Thank you!! When can we expect this be merged.

[2022-05-02 13:39] MadSandwich commented on #8282
@propheel does your pr fix problem for chrome driver also? In current version of wdio-selenium-standalone-service chrome also can't start and also I find out one strange thing about download url when 'installArgs' are exists in the wdio.config.

wdio.conf example (to be more clear):
`    services: [
        ['selenium-standalone', {
            logPath: './temp',
            installArgs: {

[2022-05-02 13:55] colleenhobbs commented on #5009
Fantastic news!  Thanks for the info, @christian-bromann :)

[2022-05-02 16:37] wyhmichael commented on #5009
Hi @christian-bromann double confirm if new instance is initialized like this, is logging going to be aggregated and working directly with setting defined in the wido config?

[2022-05-03 05:52] christian-bromann commented on #5009
I haven't tried it myself but don't see why not. If issues with reporting can be identified I am happy to support to help working on a bug fix.

[2022-05-03 06:31] CorporatePittypang opened #8297 "[💡 Feature]: <Preset localstorage for tests>"
### Is your feature request related to a problem?

Currently the application starts and the value change happen after the readout of the value from localstorage, hence it is not possible to start the application with prepared localstorage values.

It is possible to fiddle with browser profiles, but that would alter the whole test running, not just the given test case set.

### Describe the solutio

[2022-05-03 06:31] ellatom opened #8298 "Error: "Request failed with status 500 due to session not created: This version of ChromeDriver only supports Chrome version 98 Current browser version is 101.0.4951.4[🐛 Bug]: <title>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.15

### Node.js Version

V17.5.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Hi,
I'm getting error when

[2022-05-03 07:01] christian-bromann commented on #8298
After looking at this again it seems to be the same issue as https://github.com/webdriverio-community/wdio-electron-service/issues/28. Anyway, given you are using the electron service for setting up the tests I suggest to raise the issue there if it is not the same and mentioned. Sorry for not being clear enough in the discussion.

[2022-05-03 07:01] #8298 closed

[2022-05-03 07:03] christian-bromann commented on #8297
How is this different from using the `execute` command and use the localStorage API to fill the storage with given values?

[2022-05-03 07:17] CorporatePittypang commented on #8297
The execute version happens too late, the readout from the storage is already happened by that time.

[2022-05-03 11:01] propheel commented on #8282
I'm not the author of the repo, I don't know how to fix this, I just noticed geckodriver 0.30 works for me ;-)

No idea, I was just fixing Firefox on my end.

I believe it should look more like this:
[code]

[2022-05-03 11:51] CorporatePittypang commented on #8297
There is another possibility, that the mobile application does not use the localstorage, but reads up from an xml in the file system, what we can not edit from the webdriver.

[2022-05-03 15:53] JordiSAGE opened #8299 "[🐛 Bug]: Missing failing Steps when useCucumberStepReporter: true in allure-reporter"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

webdriverio: 7.19.4, allure-reporter: 7.19.5

### Node.js Version

v16.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happen

[2022-05-03 15:53] fillyD commented on #8282
same as the above for chrome on multi-remote.

this doesn't seem change induced because i was seeing this all of a sudden with wdio version 7.13.0 before updating it all, also unlikely to do with the outdated browsers or browser/driver version matching.

[2022-05-03 16:07] christian-bromann commented on #8299
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-05-03 16:13] christian-bromann commented on #8297
Not if you go on a different (possible empty) page served from the same domain and then accessing the local storage API.

That said, afaik I don't think any browser would allow us to populate the local storage of a domain before visiting it.

[2022-05-03 18:21] CorporatePittypang commented on #8297
Thanks, i think we will have to investigate some way to work around this, and make the mobile context sweep up the pre-set local storage values. I was wondering, how comes, that this option is not a required one, but now it seems logical to be blocked from the browser's side.

[2022-05-03 18:21] #8297 closed

[2022-05-03 22:57] christian-bromann opened #8301 "[🏠 Internal]: Drop Support for Node.js v12"
### Is your feature request related to a problem?

Node.js v12 has been out of maintenance support since this April which means we can drop support for it.

### Describe the solution you'd like.

Drop support and require only the following engines:

[code]

### Describe alternatives you've considered.

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to foll

[2022-05-04 01:20] christian-bromann opened #8302 "[🏠 Internal]: Replace Lerna with a new monorepo tooling"
### Is your feature request related to a problem?

Lerna is [not actively maintained](https://github.com/lerna/lerna/pull/3092) anymore. To avoid future devx issues we should move to a different toolchain.

### Describe the solution you'd like.

One could take a look to https://monorepo.tools/#tools-review to see what other tooling is out there. Just note that the comparison might be biased. Given

[2022-05-04 16:51] pmerwin opened #8305 "[🐛 Bug]: Firefox tests stopped working on saucelabs -"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.7

### Node.js Version

14

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Using firefox 99 and the .30 geckodrive

[2022-05-04 17:12] christian-bromann commented on #8282
I am unable to reproduce this. I ran the following commands:

[code]

Also adding `user` and `key` to the setup and run these tests on Sauce Labs worked fine. The webdriverio packages I've been using:

[code]

[2022-05-04 17:12] christian-bromann commented on #8305
Have you tried to run a basic Firefox test? Could be that some of their features (e.g. extended debugging) doesn't work anymore.

[2022-05-04 17:14] christian-bromann commented on #8282
Can someone provide a reproducible example for this?

[2022-05-04 17:15] christian-bromann commented on #8279
Can someone create a reproducible example, like a little GitHub project using GitHub actions?

[2022-05-04 17:16] christian-bromann commented on #8219
fixed in https://github.com/webdriverio/webdriverio/pull/8300

[2022-05-04 17:16] #8219 closed

[2022-05-04 17:19] pmerwin commented on #8305
wow it was the timeout!  I had changed this.connectionRetryTimeout = 90000; to 9000 to triage, when I set it back to 90000 it is working again.   So weird !?

[2022-05-04 17:19] #8305 closed

[2022-05-04 17:20] christian-bromann commented on #8191
@kaabsimas this should be fixed in `v7.19.7`, please verify and let me know if not. Thanks for reporting.

[2022-05-04 17:20] #8191 closed

[2022-05-04 17:22] cbrenner04 commented on #8282
What node version did you use? I am having similar issues using node 16.15.0 but with jasmine framework instead of mocha. Potentially related to node version?

[2022-05-04 17:24] christian-bromann commented on #8282
I am on v16.14.2

[2022-05-04 17:29] christian-bromann opened #8306 "[💡 Feature]: ESM Compatibility"
### Is your feature request related to a problem?

Our goal for v8 is to deliver WebdriverIO packages for more than just Node.js environments. As a first step, let's make WebdriverIO ESM compatible (for that see `v8` branch). Next is to make all community packages compatible by moving them to ESM otherwise they can't be used in v8. The packages owned by this community are tracked here:

- [ ] webd

[2022-05-04 17:30] christian-bromann commented on #8266
Created an umbrella task in #8306 and put it on the roadmap for v8.

[2022-05-04 17:30] #8266 closed

[2022-05-04 17:31] #8017 closed

[2022-05-04 17:31] christian-bromann commented on #7354
We will put this into the v8 release.

[2022-05-04 17:48] MadSandwich commented on #8282
@christian-bromann

1. New project
2. npm init wdio . (cucumber + selenium standalone)
3. Changed capabilities
`    capabilities: [{
        maxInstances: 5,
        browserName: 'firefox',
        acceptInsecureCerts: true
    }],`
4. npm run wdio
5. Attaching logs ([logs.txt](https://github.com/webdriverio/webdriverio/files/8624848/logs.txt))
6. Version of npm & node
![image](https://user-images

[2022-05-04 17:55] christian-bromann commented on #8282
@MadSandwich what's your OS? Mind creating a minimal reproducible example?

[2022-05-04 17:57] MadSandwich commented on #8282
@christian-bromann Windows 11. Yes, if I can help you, I will try.

[2022-05-04 18:03] christian-bromann commented on #8282
Unfortunately I wasn't able to reproduce it on my Mac M1 machine.

[2022-05-04 18:13] MadSandwich commented on #8282
Did you try to update node version? (as @cbrenner04 above assumed?) Or maybe it's os specific issue? Do you have ff installed locally?

[2022-05-04 18:24] JanMedocs commented on #8282
Like @MadSandwich I try to run it on Windows 11.
If I remember right, my college has no problems. She is also running the project on Mac.

[2022-05-04 20:06] cbrenner04 commented on #8282
full review of my setup in case it helps. unfortunately, i cannot give an example from what i am working on as it is proprietary however i will try to setup something later that is not.

MBP (Mid 2015)
macOS 12.3.1
node 16.15.0
npm 8.5.5

package.json:
  "@wdio/cli": "~7.19.6",
  "@wdio/dot-reporter": "~7.19.5",
  "@wdio/jasmine-framework": "~7.19.5",
  "@wdio/local-runner": "~7.19.5",
  "@wdio/sa

[2022-05-04 21:10] cbrenner04 commented on #8282
Oh jeez.... so as a workaround I had just installed the geckodriver service and the chromedriver service. after seeing the patch updates above, i removed those and updated my versions and removed those services:

    "@wdio/appium-service": "~7.19.5",
    "@wdio/cli": "~7.19.7",
    "@wdio/dot-reporter": "~7.19.7",
    "@wdio/jasmine-framework": "~7.19.7",
    "@wdio/local-runner": "~7.19.7",

[2022-05-05 00:11] fillyD commented on #8282
yep works for me too now lol. no further changes made since

[2022-05-05 06:20] JanMedocs commented on #8282
it is sadly not running on my maschine.

[2022-05-05 13:29] lacell75 commented on #7695
I close this issue. I increase memory and CPU from gitlab runner

[2022-05-05 13:29] #7695 closed

[2022-05-05 19:18] brimo80 commented on #4482
this.value.click()
        browser.keys(['Control','a'])
        browser.keys('Delete')
        browser.pause(2000)
        this.typeFolderName.addValue('Type')

[2022-05-05 20:52] NIBOSAP opened #8307 "[🐛 Bug]: if session initialisation failed, the result of the test is not be part of the reporter"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.11

### Node.js Version

14

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

We are running more than 100 sp

[2022-05-06 10:58] mayankshukla94 commented on #8148
@christian-bromann I'll be picking this up!!

[2022-05-06 12:03] erwinheitzman commented on #7354
How do you feel about making the use of globals optional?

[2022-05-06 12:12] erwinheitzman commented on #8302
Depending on what we like to get out of the build/package management system, [npm workspaces](https://docs.npmjs.com/cli/v7/using-npm/workspaces) might be enough for our us. Might be worth considering when reviewing our options.

[2022-05-06 12:33] erwinheitzman commented on #8307
Hi @NIBOSAP I tried to reproduce this using the information you have shared. However with the spec reporter I do see the correct total amount of passed and failed tests in the report.
Do you mean a different kind of result by any chance?

[2022-05-06 12:49] NIBOSAP commented on #8307
Hi @erwinheitzman ,
Many thanks to have a look !
The correct total amount cames from the cli:
https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cli/src/interface.ts#L298
Not from the spec reporter. I think that above this line in the console you don't see the test in failure.

[2022-05-06 15:07] juristr commented on #8302
We are helping move Lerna forward. Read more here: https://github.com/lerna/lerna/issues/3121

[2022-05-06 15:58] Suyashtnt opened #8309 "[💡 Feature]: Vitest"
### Is your feature request related to a problem?

Im using vitest for testing my app, and I would really like it if i didnt have to use 2 separate testing frameworks in 1 app

### Describe the solution you'd like.

The ability to use `vitest` as a test runner

### Describe alternatives you've considered.

Using `mocha` as the test driver

### Additional context

_No response_

### Code of Conduct

[2022-05-06 16:26] christian-bromann commented on #8309
Hi @Suyashtnt , thanks for raising the issue.

What advantages would have a vitest integration and which kind of features are you missing with the current WebdriverIO setup?

[2022-05-06 16:28] christian-bromann commented on #7354
I don't have a strong opinion for or against it. What would be the advantages of doing that?

[2022-05-06 16:57] Suyashtnt commented on #8309
The advantages are is that its stupidly fast and it intergrates directly into your vite config, and it can also be used for unit testing.
The feature I mainly miss is not having that speed I usually expect is vitest

[2022-05-06 17:18] wyhmichael commented on #8307
I am experiencing the similar issue as well with wedriverio@7.19.5; in my case, spec reporter works fine, too, but the failure is not in the other reporters, e.g., json reporter, allure reporter

[2022-05-06 17:39] christian-bromann commented on #8309
e2e tests are by nature slower than unit test and building a vitest integration into the wdio testrunner won't have much of a speed impact. I like many concepts of the vitest framework and would not mind if someone would like to work on a wdio integration of that framework. I am happy to support this effort and recommend to look at the existing framework integrations for [reference](https://github

[2022-05-06 17:39] #8309 closed

[2022-05-07 09:14] praveendvd commented on #8299
@christian-bromann  I could take this up , if there is no volunteers in 1 week 🎉🎉

[2022-05-07 19:12] christian-bromann commented on #8299
@praveendvd go for it!

[2022-05-09 06:16] JanMedocs commented on #8282
Got a Windows update today, except for this I changed nothing on the project or the drivers.
But it is running again! 🙌  So thanks from my side for all your work and help!
Hopefully, we will not write again so soon! 😁
Jan from Germany 😄

[2022-05-09 06:53] kaksjonovs commented on #8299
Hello @praveendvd could you please check with `@wdio/allure-reporter:v7.19.7`.
I had the same issue and it was fixed with: https://github.com/webdriverio/webdriverio/pull/8262
At least for me.

[2022-05-09 09:20] praveendvd commented on #8299
@JordiSAGE  could you check and confirm with above version and see if we can close this

[2022-05-09 13:18] #8282 closed

[2022-05-09 20:34] dagoud commented on #7620
@christian-bromann I would like to start picking up issues and helping with the project - this looks like one I could pick up.

What is involved - would it be a case of adding a description to the top paragraph [here](https://webdriver.io/docs/devtools-service)?

Is it describing that it only works when using the Puppeteer protocol?

[2022-05-10 07:42] christian-bromann commented on #7620
Yes. However more services, e.g. Selenium server v4 and cloud provider like Testingbot now support running CDP in the cloud so saying that this only works locally would not be quite right.

I think having this would clear up most of the confusion. Once the service is initialised it should register all custom commands so they not fail with `function not defined`. If a connection to the Chrome DevTo

[2022-05-10 09:39] christian-bromann commented on #8307
This was by design. For a test to start a remote session is required. If this fails we don't even initialise the framework and therefor no reports are generated. I agree with you though that a reporter should be able to recognise this. I suggest the following fix: make sure that `onRunnerEnd` is called even though a session wasn't getting initialised. I would take a look into the [`wdio-reporter`]

[2022-05-10 09:46] christian-bromann commented on #8281
Closing due to inactivity.

[2022-05-10 09:46] #8281 closed

[2022-05-10 09:47] christian-bromann commented on #8256
@nextlevelbeard you want to help us with this effort?

[2022-05-10 10:14] JordiSAGE commented on #8299
Hi,
First of all, thanks for your support!
Unfortunately, it seems that the @wdio/allure-reporter:v7.19.7 is failing from my side when trying to run the command "npm install @wdio/allure-reporter@latest", simply finishing the installation shortly after starting without any errors.
Please, check my packages config above:
  "dependencies": {
    "@babel/cli": "7.17.6",
    "@babel/core": "7.17.9",

[2022-05-10 11:19] anupamck opened #8323 "[🐛 Bug]: Cucumber - Screenshot not attached in Allure report in failed step"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.17

### Node.js Version

14.17.6

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Despite clearly including the com

[2022-05-10 13:52] dagoud commented on #7620
Ok cool thanks @christian-bromann - I will check out the repo and take a look

[2022-05-10 14:58] hammzj opened #8324 "[💡 Feature]: Log messages from named Cucumber hooks to the WDIO reporter"
### Is your feature request related to a problem?

[An addition to name Before and After hooks has been added in Cucumber v8.1.0](https://github.com/cucumber/cucumber-js/blob/v8.1.0/docs/support_files/hooks.md#named-hooks).

Currently, these only are sent to Cucumber's formatter, which I've discussed as as not being used in WebDriverIO in issue #7692. Therefore, we will not see these messages in a

[2022-05-10 15:45] vlad-dargel commented on #7490
I managed to fix the problem in this way:
in a separate .obj file, the selectors were inside the class as variables, when they were called through import, an error sometimes appeared:
![image](https://user-images.githubusercontent.com/90257586/167668721-4ff4f4d1-382e-46e1-aafb-54af6c12de95.png)
making them as an object properties fixed this issue:
![image](https://user-images.githubusercontent.com

[2022-05-10 15:49] christian-bromann commented on #8324
Hey @hammzj ,
thanks for filing the issue. Your suggestion makes sense.

We would appreciate any help on this so please consider to help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2022-05-10 16:59] UserTester115 commented on #1372
Hey! Just was curious, is it possible right now?

[2022-05-10 17:01] christian-bromann commented on #1372
Yes, see https://webdriver.io/docs/organizingsuites

[2022-05-10 18:25] UserTester115 commented on #1372
Many thanks! That is awesome. Somehow missed that

[2022-05-11 13:16] yogeshgadge opened #8328 "[🐛 Bug]: Webdriver.io cannot be added to Angular project using Typescript + Jasmine Guidelines"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.7

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

Run `wdio run projects/e2e-wdio/wdio.conf.ts`
[code]
npm in

[2022-05-11 13:31] christian-bromann commented on #8328
If i run `npm init wdio .` in a fresh directory I am able to run TypeScript tests.

[2022-05-11 14:34] yogeshgadge commented on #8328
Tried this fresh:-

## Fresh new project

[code]
## Choose basic angular project

[code]

[code]

output
[code]

## Run

[code]

output

[code]

[2022-05-11 16:35] christian-bromann commented on #8324
Ideally the `wdio-reporter` package should ensure that all events to reporters are compliant. So I would start there. Afaik Mocha also has named hooks so it would make sense to propagate these information anyway.

Feel free to type everything with `any` and raise a PR, I am happy to help getting the types into place 😉

[2022-05-11 16:38] christian-bromann commented on #8328
Have you tried in a new directory without Angular. I assume the tsconfig is misconfigured. It works for me when doing these commands:

[code]

[2022-05-11 16:53] yogeshgadge commented on #8328
Yes. This worked.

Also what works in my fresh new angular project is the following:-

`wdio run test/wdio.conf.ts --autoCompileOpts.tsNodeOpts.project=test/tsconfig.json`

Can you tell why existing typescript projects need the `autoCompileOpts.tsNodeOpts.project` ?

[2022-05-11 19:44] ansonallard opened #8329 "[🐛 Bug]: Webdriver logs expose SauceLabs Username and Access Key when logLevel is set to "info""
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.3

### Node.js Version

v12.22.9

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I am using webdriverio as a wrapp

[2022-05-11 20:55] christian-bromann commented on #8328
This means that your `tsconfig.json` file is not where you have it defined in your `wdio.conf.ts`. I recommend to update this (according to your issue post, it is set to `project: 'tsconfig.json'`). We already working on throwing an error is case the path to the `tsconfig` is invalid, see #8260 for more information.

Will close this as it is a configuration issue and we already work on making this

[2022-05-11 20:55] #8328 closed

[2022-05-12 08:46] erwinheitzman commented on #7354
How do you feel about making the use of globals optional instead?

[2022-05-12 08:51] erwinheitzman commented on #7354
@christian-bromann after having thought about it some more we could actually explain that the user can create their own globals in one of the hooks like so:
[code]
If this would work then I feel that we could indeed remove the use of globals 👍

[2022-05-12 09:01] christian-bromann commented on #7354
@erwinheitzman totally, we could even create a service that would attach everything to the global scope.

[2022-05-12 09:17] christian-bromann opened #8330 "[🏠 Internal] v8 breaking changes tracker"
This issue keeps track of some of the breaking changes.

- remove global `browser`, `$`, `$$` (see #7354) - possible upgrade path: provide a service that assigns them back to the global scope
- no fallback to global installed plugins anymore - possible upgrade path: ensure to have all used plugins installed locally
- `setValue` and `addValue` don't take arrays anymore, only string|number values, t

[2022-05-12 09:45] LayMui opened #8331 "[🐛 Bug]: cucumber options tagExpression cannot work on multiple tags"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.14

### Node.js Version

16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

the wdio.conf.ts
cucumberOpts: {

[2022-05-12 13:41] Pandicool commented on #7557
@amrsa1 are you able to run the selenium stand alone in different port ?
for me its showing error like.

ERROR @wdio/runner: Error: Failed to create session.
[0-1] Unable to connect to "http://localhost:4444/wd/hub", make sure browser driver is running on that address.
[0-1] If you use services like chromedriver see initialiseServices logs above or in wdio.log file as the service might had problem

[2022-05-12 14:38] yogeshgadge opened #8332 "[🐛 Bug]: wdio --watch chrome error ECONNREFUSED subsequent run"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.7

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Getting following error:

RequestError:

[2022-05-12 14:43] christian-bromann commented on #8332
Thanks for reporting!

I assume something is off with the `watch` mode. It should not close the browser session and just re-use the existing one.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-05-12 15:01] christian-bromann commented on #8331
As mentioned by @osmolyar on the Gitter Channel this is suppose to work, so not sure why it is not for you. Can you provide a reproducible example please?

[2022-05-12 16:28] yogeshgadge commented on #8332
Worked after adding `services: ['chromedriver'],` to my shared config which is extended by the main config.

Thinking that we should close this but if `watch` does not work without this setting we need some validations around it or around watch.

On another note related to validation of `WebdriverIO.Config` that we `export const config` - I have to disable eslint for `wdio:devtoolsOptions` constru

[2022-05-12 16:31] christian-bromann commented on #8332
So I believe the watch mode is only failing when running tests through devtools, by adding Chromedriver service you run them through the WebDriver protocol. So we should investigate if devtools can handle and re-attach itself to an existing session during watch mode.

[2022-05-12 16:42] yogeshgadge commented on #8332
I don't have 'devtools' setup but the
[code]

[2022-05-12 17:48] christian-bromann commented on #8332
By having ` 'wdio:devtoolsOptions'` in your capabilities you manage the settings for the devtools runner. WebdriverIO picks the devtools protocol automatically if no browser driver is detected.

[2022-05-12 21:17] yogeshgadge commented on #8332
Ok I didn't know that devtools is default. But I don't have @wdio/devtools-service installed so I wonder how devtools worked

[2022-05-12 21:20] christian-bromann commented on #8332
It is not a default, it is more a fallback in case no browser driver was started.

The service has nothing to do with the way WebdriverIO automates the commands. The service for performance tests and other CDP related features.

[2022-05-12 21:20] yogeshgadge commented on #8332
Looks like webriverio already has a few devtools dependencies e.g. https://www.npmjs.com/package/devtools

[2022-05-13 06:54] christian-bromann commented on #8331
Closing as we have figured the support channel that this is not a bug.

[2022-05-13 06:54] #8331 closed

[2022-05-13 17:02] NIBOSAP commented on #8307
@christian-bromann I took a look  and I didn't find a simple way to fix this without lot of refactoring including breaking changes... Anyway, changing this approach will cost a lot of time.

About calling `onRunnerEnd` even though the session wasn't getting initialised, a possible quick fix could be :
https://github.com/webdriverio/webdriverio/pull/8334. Just a draft to show you the idea...
Probab

[2022-05-14 16:56] mighty98 opened #8335 "[🐛 Bug]: @wdio/shared-store-service getValue returns undefined in onComplete hook"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.7

### Node.js Version

14.16.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Im creating a custom servic

[2022-05-14 17:30] mighty98 commented on #7915
@christian-bromann I could still see the same issue with v7.19.7

[2022-05-14 22:01] christian-bromann commented on #7915
Can you provide a reproducible example?

[2022-05-14 22:01] christian-bromann commented on #8335
Can you please provide a reproducible example?

[2022-05-15 14:31] mighty98 commented on #8335
@christian-bromann Sorry.. Do you mean a full running code to reproduce this? The given screenshots would not help?
(Raising issue for the first time here. Not really sure what was expected)

[2022-05-15 18:13] Akupsmee commented on #8018
I guess you need to cross check your setup. what does your  tsconffig.json file look like?

here is mine :
`{
    "compilerOptions": {
        "types": [
            "node",
            "webdriverio/async",
            "@wdio/cucumber-framework",
            "expect-webdriverio"
        ],
        "target": "es2019",
        "moduleResolution": "Node"
    }
}`

[2022-05-15 20:14] christian-bromann commented on #8335
Yes, because putting what you've shared into a fresh project, returns:

[code]

[2022-05-16 05:33] mighty98 commented on #8335
Oh that's strange.. I will work on getting the whole reproducible code. Meanwhile few pointers
1. I have multiple custom services that use multiple hooks
2. I don't use selenium-standalone-service but have created a custom service for starting server

[2022-05-16 06:24] mighty98 commented on #8335
@christian-bromann I have added the code here: https://github.com/mighty98/wdio-hooks

npm run test -- --suite google

I could reproduce the issue

[2022-05-16 07:28] christian-bromann commented on #8335
I see now. The problem is that all service hooks are run at the same time. So the server of the shared service is closed at the same time you are trying to receive a value from it. There are two options:

1. delay this shutdown by an arbitrary number e.g. 1 second to allow access to values before it gets shut down - the problem with that is if you do any other actions that take longer than 1 secon

[2022-05-16 07:46] mighty98 commented on #8335
@christian-bromann About not shutting down the server.. Is it something i can do in my code? Isnt it handled at framework level.. ??
I

[2022-05-16 09:27] christian-bromann commented on #8335
It is handled in the framework level, which is why I mention that contributions are welcome.

Yes, `after` for example but that hook is run for every runner.

Not sure what you mean.

[2022-05-16 09:41] mighty98 commented on #8335
@christian-bromann Thanks.
As for my last question - If onComplete is the only hook at main process level, we may run into such issues where dependent services may not be available if there is no specific order to execute.. I may be wrong and this could be just one of a case

As for the required change, I may be very inexperienced to make the required change. But just removing onComplete hook from

[2022-05-16 10:13] pedrofig-td commented on #7738
I am also facing this issue. Chrome 94 is the last version working, and I am unable to use more recent browser versions in automated tests due to this bug (I am also using multi-remote).

[2022-05-16 13:00] christian-bromann commented on #8335
I believe so. It might also require the removal of a test.

[2022-05-16 16:26] db798 opened #8348 "[🐛 Bug]: <Cucumber scenario description not included in result file>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.16

### Node.js Version

14.19.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

As per the cucumber docume

[2022-05-16 16:28] db798 commented on #8348
Without knowing much about the code I assume [this](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cucumber-framework/src/reporter.ts#L66) is the general area of the issue. But please let me know if this is an issue with one of the other packages.

[2022-05-16 16:35] christian-bromann commented on #8348
Thanks for reporting!

I am not sure if the description is propagated to the reporter for the Cucumber framework.

I would see this as a feature request and if above assumption turns out to be right changes need to be applied here and in the reporter project. That said, any contributions are welcome! Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and le

[2022-05-16 16:52] mighty98 commented on #8335
@christian-bromann Can you please take a look at https://github.com/webdriverio/webdriverio/pull/8349

[2022-05-16 17:04] christian-bromann commented on #8307
@NIBOSAP thanks for raising the PR.

If we can guarantee that the change doesn't break existing reporters I am happy to take a look. Also can you provide screenshots how the reporter looks like before and after the change?

[2022-05-17 09:27] praveenngp15 opened #8351 "[🐛 Bug]: <Alert closing automatically>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

"@wdio/cli": "^7.19.3",

### Node.js Version

16.15.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Alert is closing

[2022-05-17 13:06] praveenngp15 commented on #8351
When adding video reporter the alert is automatically accepting

const video = require('wdio-video-reporter');

reporters: ['spec',

    [
        video,
        {
            saveAllVideos: true, // If true, also saves videos for successful test cases
            videoSlowdownMultiplier: 3 // Higher to get slower videos, lower for faster videos [Value 1-100]
        }
    ]

If reporter is not ad

[2022-05-17 13:07] yogeshgadge opened #8352 "[💡 Feature]: Print selector when invalid selector error"
### Is your feature request related to a problem?

I am always frustrated when the long stack-trace don't make any sense when it does not give any meaningful information.

At the end of the run I get this error. The error clearly says "invalid selector" but which one ? and where is my line number ?

[code]

### Describe the solution you'd like.

At least print the selector.

### Describe alternati

[2022-05-17 13:41] christian-bromann commented on #8351
Can you create a mini project that reproduces this problem?

[2022-05-17 14:28] praveenngp15 commented on #8351
Created sample project and pushed in below git [repo]([wdio-video-reporter-main.zip](https://github.com/webdriverio/webdriverio/files/8709101/wdio-video-reporter-main.zip))
https://github.com/praveenngp15/wdio-video-reporter.git

[2022-05-17 14:51] christian-bromann commented on #8351
Thanks, feel free to help us investigate this issue. Thank you!

[2022-05-17 15:37] praveendvd commented on #8323
@anupamck you should use async await for hooks too , could you try that :

[code]

[2022-05-17 15:39] praveendvd commented on #8323
https://github.com/webdriverio/webdriverio/issues/7940

[2022-05-17 15:40] praveendvd commented on #8323
Please leave a comment if its still needs to reopened

[2022-05-17 15:48] anupamck commented on #8323
@praveendvd - Thank you! Making it async resolved the problem.

If that is the case, does it not make sense to update this in the documented example too? Under documentation?

[2022-05-17 16:09] anupamck commented on #8323
https://webdriver.io/docs/allure-reporter/

[code]
It isn't wrong, strictly speaking, since the feature works in most cases without async await. But if this issue isn't a bug, I think the document ought to also mention this.

[2022-05-17 16:09] praveendvd commented on #8323
@anupamck  as

[2022-05-17 16:29] #8323 closed

[2022-05-17 16:30] christian-bromann commented on #8323
Thanks both @praveendvd and @anupamck 👏

[2022-05-18 10:00] mherger commented on #8279
Example code (mocha):

[code]

Using NodeJS v14:

[code]

Using NodeJS v18:

[code]

[2022-05-18 10:01] mherger commented on #8279
https://github.com/puppeteer/puppeteer/issues/8289?

[2022-05-18 11:59] christian-bromann opened #8354 "[💡 Feature]: Update WebAuthn WebDriver Extension Capabilities"
### Is your feature request related to a problem?

The [Web Authentication Working Group](https://www.w3.org/webauthn/) has defined WebDriver endpoints for automating WebAuthn standard capabilities. The `webdriver` package has these [already implemented](https://github.com/webdriverio/webdriverio/blob/804b0b3367a43ad89474ad7cb1c20b6ab70eebdc/packages/wdio-protocols/protocols/webdriver.json#L1176-L

[2022-05-18 12:27] mighty98 commented on #8335
@christian-bromann Was i supposed to add a new version in package.json to be able to use this?

[2022-05-18 12:34] christian-bromann commented on #8335
If your versions are prefixed with a `^` you don't. Please note that this change is not released yet. Keep an eye on the [release section](https://github.com/webdriverio/webdriverio/releases) as it will be included in the next release (which I don't know when it happens but surely soon!).

Closing as this bug was fixed and will be released soon.

[2022-05-18 12:34] #8335 closed

[2022-05-18 12:44] christian-bromann commented on #8354
After talking to Puja Jagani from the Selenium team in appears that the protocol endpoints haven't changed. However they are not correctly implemented in the `@wdio/protocols` package: [`/session/:sessionId/authenticator`](https://github.com/webdriverio/webdriverio/blob/804b0b3367a43ad89474ad7cb1c20b6ab70eebdc/packages/wdio-protocols/protocols/webdriver.json#L1176) vs [`/session/{session id}/webau

[2022-05-18 14:08] RyanGosden opened #8356 "[🐛 Bug]: Providing BrowserName Chrome stops tests"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

v16.14.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Maybe this is obvious to others.

[2022-05-18 14:10] christian-bromann commented on #8356
Can you share error messages or be more concrete here otherwise?

[2022-05-18 14:18] NIBOSAP commented on #8307
@christian-bromann In fact, nothing changes for the spec-reporter, with or without the fix the log will be:
<img width="1163" alt="image" src="https://user-images.githubusercontent.com/54361411/169039149-1dd09702-b773-4557-a587-cd5a6c296d39.png">

The only difference is: in this case of failure, the `onRunnerEnd` will be called in the reporter.

That means it depends on what each reporter does in

[2022-05-18 14:35] RyanGosden commented on #8356
@christian-bromann - There are no error logs. What you see in `Relevant log output` is the point where the process stops eventually a timeout will occur.

` 2022-05-18T14:34:49.853Z WARN webdriver: Request timed out! Consider increasing the "connectionRetryTimeout" option.
[0-2] 2022-05-18T14:34:49.853Z INFO webdriver: Retrying 2/3
[0-2] 2022-05-18T14:34:49.854Z INFO webdriver: [POST] http://local

[2022-05-18 14:43] christian-bromann commented on #8356
`chrome` as browser name should be understood by Chromedriver, I wonder what happens here. Mind creating a reproducible example, e.g. a repo that uses GitHub actions to run a simple test script in Ubuntu?

[2022-05-18 14:47] RyanGosden commented on #8356
Sure @christian-bromann - i'll give that a shot.

[2022-05-18 15:43] mayankshukla94 commented on #8148
I tried with the above mentioned code and it is working fine for me. Although I'm getting below info message:

[code]

But I'm not getting any error message and value is getting selected.

[2022-05-18 16:21] anilreddy commented on #8148
@mayankshukla94 I have tried just now but it is not selecting please check again carefully.

[2022-05-18 16:22] mayankshukla94 commented on #8148
Could you please share the capabilities and WebdriverIO version that you are using?

[2022-05-18 20:46] christian-bromann commented on #8307
@NIBOSAP thanks for the write up!

I think the better solution is then to ensure that the `runner:start` reporter event is called at all times. In case of a successful session initialisation with session id, in case without a session initialisation without session id.

[2022-05-19 13:08] NIBOSAP commented on #8307
@christian-bromann It's what I tried first: to call the `runner:start` before the [initialise framework](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-runner/src/index.ts#L152)... But it's seems more complicated as the parameter of the `runner:start` needs `browser`, and `browser` is not initialised yet at this step... Because

[here](https://github.com/webdriverio/webdriverio

[2022-05-20 14:12] hammzj commented on #8348
I have some clarification here as I've been trying to find a good way to handle sending a scenario description to reporters.

Looking at Cucumber's own documentation, a [Pickle does not include the description](https://github.com/cucumber/common/blob/main/messages/messages.md#pickle), but a [Scenario does include it](https://github.com/cucumber/common/blob/main/messages/messages.md#scenario). Howe

[2022-05-20 16:22] grant-mccarriagher opened #8358 "[🐛 Bug]: saveScreenshot with devtools causes elements to re-render and move around"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.16

### Node.js Version

16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When using the devtools protocol

[2022-05-21 17:12] praveendvd commented on #8356
@RyanGosden as u are using chromedriver , just updating the chromedriver will eliminate the issue.

try :

`npm install chromedriver --detect_chromedriver_version`
`npm install chromedriver  -g --detect_chromedriver_version`

[2022-05-21 17:26] praveendvd commented on #8352
@yogeshgadge  could you provide a reproducible example . IT works fine with xpath

[2022-05-21 17:26] praveendvd commented on #8352
![image](https://user-images.githubusercontent.com/45095911/169662669-369cb462-aa48-4145-898b-e95faa0ac692.png)

[2022-05-22 00:01] yogeshgadge commented on #8352
I don't have access to that project anymore.
But here are the steps:

Use jasmine typescript project.

In beforeAll async function instantiate a typescript object from some class.

Invoke a async function in the beforeAll block.

Use a css selector that is invalid and wait for existence.

I could try to reproduce it next week.

[2022-05-22 16:43] RyanGosden commented on #8356
@christian-bromann - I created the [following repository](https://github.com/RyanGosden/webdriverio-issue-8356) to reproduce the issue. I attempted to simplify the configuration as much as possible. I hope this helps.

Note: I do not seem to have the same issue when running tests on our CI (semaphore), making me believe this is isolated to my machine.

[2022-05-23 06:31] christian-bromann commented on #8356
@RyanGosden running both commands work for me:

[code]

[2022-05-23 07:29] erwinheitzman commented on #8358
Running the latest OSX and the same Chrome version you are using, I cannot reproduce this issue with the given example.

[2022-05-23 21:00] suchitrak opened #8373 "[🐛 Bug]: Mutiremote V6 webdriverio and browserstack local together does not work as expected"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

6.12.1

### Node.js Version

v14.17.6

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I see the below error.

[code]

T

[2022-05-24 06:54] mayankshukla94 commented on #8148
@christian-bromann Can we close this issue now?

[2022-05-24 06:58] anilreddy commented on #8148
@mayankshukla94 still issue is there

[2022-05-24 07:42] christian-bromann commented on #8373
Thanks for reporting!

It seems this error is resolved in v7 of WebdriverIO so I recommend to upgrade to v7. v6 is in maintenance mode so we are happy to merge PRs and release new versions if provided.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions

[2022-05-24 10:50] RyanGosden commented on #8356
@christian-bromann - thank you for the testing. I feel it is something related to my development machine, although I do not recall modifying anything related to the issue at hand. I will continue to investigate and will update you to the cause once found. Thank you.

[2022-05-25 09:21] christian-bromann commented on #8302
That is awesome to hear. This issue is irrelevant then.

[2022-05-25 09:21] #8302 closed

[2022-05-25 09:24] christian-bromann commented on #8301
Fixed in ef6a87a54e426e645d7488863f2a5f9bd051ba90

[2022-05-25 09:24] #8301 closed

[2022-05-25 13:38] pavanzebra commented on #8279
**I'm also getting the same error while executing via browserstack**

2022-05-25T13:34:50.034Z INFO @wdio/local-runner: Run worker command: run
2022-05-25T13:34:52.637Z INFO webdriver: Initiate new session using the WebDriver protocol
2022-05-25T13:34:52.641Z INFO webdriver: [POST] https://hub-cloud.browserstack.com/wd/hub/session
2022-05-25T13:34:52.641Z INFO webdriver: DATA {
  capabilities: {

[2022-05-25 17:16] PFaz540 opened #8375 "[🐛 Bug]: V7 - Adding Spec Reporter Options Causes The Tests To Error And Not Execute"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.5

### Node.js Version

18.1.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I noticed that we can pass i

[2022-05-25 17:24] christian-bromann commented on #8375
It should be:
[code]

[2022-05-25 17:24] #8375 closed, assigned to nobody

[2022-05-26 15:38] hammzj opened #8376 "[🐛 Bug]: CLI option "--spec" does not override the spec option defined in device capabilities, which can render that option useless"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14.16.10

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When I specify the CLI option `--

[2022-05-26 15:45] rameshkumarj opened #8377 "[🐛 Bug]: getText() is returning the text value along with preceding spaces"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

$(locator).getText() is giving the

[2022-05-27 15:33] spleshakov-univision commented on #1276
the article moved https://github.com/webdriverio/webdriverio/blob/main/website/blog/2021-03-23-grouping-specs.md

[2022-05-27 16:03] joshskumar commented on #8258
yes the Issue with the conversion from nano to ms. It should be 1e6 and not 10e6. Can I take this up

[2022-05-30 06:54] harsha509 commented on #8192
Closing this as issue is fixed with commit https://github.com/webdriverio/webdriverio/commit/59b965474e32d9e8544d7b4bd83d969b842fb894 !

[2022-05-30 06:54] #8192 closed

[2022-05-31 08:41] erwinheitzman opened #8388 "[🐛 Bug]: toHaveAttribute(Containing) matcher does not work as documented when using Jasmine"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.7

### Node.js Version

16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

On the following line https://gith

[2022-05-31 09:13] christian-bromann commented on #8388
@erwinheitzman should we move this into the `expect-webdriverio` repository?

[2022-05-31 17:24] erwinheitzman commented on #8388
I wasn't sure since it's also part of WebdriverIO but don't mind moving it. I am on the verge of leaving for a few days so I'll have to do it after though

[2022-05-31 23:05] KelseyBlodgett opened #8389 "CCLA"
I am a Program Manager at Amazon and am trying to get a CCLA executed for an employee who would like to contribute. Unfortunately the EasyCLA system isn't compatible with how our legal department executes documents. Is it possible to send me an executable copy (the version you are allowed to download is not for signature) so that we can set up the CLA and allow our employees to contribute?
Thanks

[2022-05-31 23:08] ravi005e opened #8390 "[🐛 Bug]: shadow$$ not able to find/locate nested element"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.3

### Node.js Version

16.14.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

trying to  locate nested shadow ro

[2022-06-01 01:40] #8390 closed

[2022-06-01 01:42] ravi005e commented on #8390
getting following error now:

[chrome 102.0.5005.61 mac os x #0-1] waitUntil condition failed with the following reason: missing ) after argument list
[chrome 102.0.5005.61 mac os x #0-1] Error: waitUntil condition failed with the following reason: missing ) after argument list

[2022-06-01 10:19] NIBOSAP commented on #8307
@christian-bromann , Thanks, with this way:

- `spec-reporter`: nothing change
- `allure-reporter`: nothing change  as the `onRunnerEnd` is not implemented (cf @wyhmichael )
- `dot-reporter`: nothing change as the `onRunnerEnd` is not implemented
- `concise-reporter`: Before the fix, the concise reporter was not called, so nothing showed up. Now, with the fix:

<img width="740" alt="image" src="ht

[2022-06-01 13:48] christian-bromann commented on #8389
If my suggestion above doesn't work for you please raise an issue at https://support.linuxfoundation.org/ and choose the LFX option.

[2022-06-01 21:06] bormando opened #8393 "[🐛 Bug]: Chromium doesn't start"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.7

### Node.js Version

16.13.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I've installed latest Chromium (10

[2022-06-01 21:43] christian-bromann commented on #8393
@bormando to use the Chromium browser you have to set the binary path in the capabilities and use `chrome` as `browserName`, e.g.:

[code]

Let me know if you have further questions.

[2022-06-01 21:43] #8393 closed

[2022-06-02 06:38] bormando commented on #8393
@christian-bromann thanks, it works fine that way. I couldn't find it on the website or in issues list here. Do we have this trick documented somewhere? If not, I guess I'd need to create a separate issue to update the doc.
OR, even better, is it possible to support a feature just stating browser name 'chromium' in the config without setting the path to it? I guess that's another issue as well.

[2022-06-02 06:40] sasinha489 opened #8394 "browser mock is not supported in Browserstack"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.17.10

### Node.js Version

v14.17.3

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

when using browser mock

its get

[2022-06-02 07:38] #8394 closed

[2022-06-02 07:47] christian-bromann commented on #8393
Or provide a PR with some doc updates? You can find most of our docs [here](https://github.com/webdriverio/webdriverio/tree/main/website/docs). Any contributions are appreciated.

That would mean you would have to write some logic to find a certain application like Chromium on the users machine (which could be Windows, Mac or various ubuntu distributions). We have something [similar already](https

[2022-06-02 14:25] anabeatrizzz commented on #5725
@christian-bromann I'm facing the same error. My logs:
[code]

[2022-06-02 15:37] neerajkumarlad opened #8396 "Failed loading configuration file: ...Unexpected identifier While integrating slack services"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.5

### Node.js Version

16.15.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

When I integrated slack ser

[2022-06-02 15:42] christian-bromann commented on #8396
Can you provide the whole stack trace? You probably have a syntax error in your config, please double check.

[2022-06-02 18:12] hammzj opened #8398 "[🐛 Bug]: driver.toggleNetworkSpeed is missing a required parameter"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14.16.10

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]
[code]

### Relevant log output

[code]
[code]

[2022-06-02 18:13] hammzj commented on #8398
Looking at `wdio-protocols/protocols/appium.json`, I think we just need to change the command for the endpoint `/session/:sessionId/appium/device/network_speed"` to be changed to this:

[code]

[2022-06-02 18:43] christian-bromann commented on #8398
@hammzj mind raising a PR? I wanted to do a release tomorrow.

[2022-06-03 03:05] neerajkumarlad commented on #8396
CLosing this as  its syntax error.

[2022-06-03 13:46] hammzj commented on #8398
Hey @christian-bromann, seems I made a small mistake by incorrectly typing the parameter required. It wants an object parameter defined as `{"required":["networkType"]}` instead of a string. Right now, it's still sending a string array as `["networkType"]`.

I'm not used to the json representation used by the protocols, but I'll try to get a new branch out there with the correct typing. I apologiz

[2022-06-03 14:24] christian-bromann commented on #8398
Oh no worries! Just send another patch and I can release. Cheers!

[2022-06-03 14:46] hammzj commented on #8398
I added #8402. Hopefully it resolves what I meant to do, but I tested locally using
[code]

[2022-06-03 16:35] #8398 closed

[2022-06-03 18:50] hammzj commented on #8376
So I wanted to follow up on this. Essentially, the hierarchy for defining the spec patterns seems to be incorrect.

In its current state, it seems like the CLI spec pattern is merged into the config pattern, and then the capability pattern will override both. From least important to most:

Thus, if the specs are defined by the capabilities in the array, the CLI specs will never get used since they

[2022-06-06 05:41] vvscode commented on #8377
`$('h1').textContent` gives spaces, and `$('h1').innerText` doesn't

as far as I see we use the second one https://github.com/webdriverio/webdriverio/blob/9d2220e89144b0ca69232737957ad5fc32ca1300/packages/devtools/src/scripts/getElementText.ts#L2

![image](https://user-images.githubusercontent.com/6904368/172101714-03fdbdd3-3493-45e8-8e71-0acfda29675b.png)
![image](https://user-images.githubuserco

[2022-06-06 06:30] mayankshukla94 commented on #8377
Actually the thing is, if the text has preceding spaces under `Elements` tab

![image](https://user-images.githubusercontent.com/40030809/172107296-dcb959ec-596b-4f9f-b534-6d2ce0dfdf24.png)

then, `getText()` function returns text with preceding spaces. And the same I have noticed with `Selenium` as well. So not sure if this is a bug in `WebdriverIO`.

cc: @christian-bromann

[2022-06-06 21:20] christian-bromann commented on #8377
I think we should check if the WebDriver protocol says anything about trimming the text. If the behavior is different across browser it is worth looking if there is already an issue for it and if not we should create one.

[2022-06-07 04:59] mayankshukla94 commented on #8377
This is the only issue I found [https://github.com/w3c/webdriver/pull/312](https://github.com/w3c/webdriver/pull/312)

[2022-06-07 07:55] erwinheitzman commented on #8377
In my experience it does this on Chrome as well, what I have noticed is that there's a difference in retrieving the text though a parent element, compared to from the element directly.

Example:
[code]

If you retrieve the text from the parent div, in my experience it can be different from retrieving it from the span directly.

Could you confirm this?

[2022-06-07 20:25] christian-bromann commented on #8258
These numbers all look completely different I wonder how the Allure reporter generates them.

[2022-06-07 22:34] maxbahr opened #8415 "[🐛 Bug]: @skip(bstack:options=/.*iPhone.*/) does not work because bstack:options is an object but expected is a string"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Referring https://webdriver.io/docs

[2022-06-07 22:57] maxbahr opened #8416 "[🐛 Bug]: this._options.preferScenarioName && this._scenariosThatRan.length === 1 is true only when status === 'skipped'"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

In the file node_modules\@wd

[2022-06-08 07:17] nikhilbisht commented on #1302
On adding the wdio.conf.js in tsconfig.json in the include array, resolves the "browser is not defined" and "$ is not defined" error.
Refer to tsconfig.json:
`{
    "compilerOptions": {
        "types": [
            "node",
            "webdriverio/async",
            "@wdio/cucumber-framework",
            "expect-webdriverio"
        ],
        "lib":["DOM"],

         "target": "es5",

[2022-06-09 10:20] pavanshirguppi commented on #6596
<img width="331" alt="image" src="https://user-images.githubusercontent.com/6000052/172824740-6957e87c-ae2c-4c03-adbf-97002960ce7d.png">

<img width="236" alt="image" src="https://user-images.githubusercontent.com/6000052/172824813-ce5b4cfc-543d-494c-992c-5054a3b98c58.png">

The number is 10 and when I do typeof, it gives me number. Still it dragAndDrop doesn't consider and throws the above error.

[2022-06-09 13:56] praveendvd commented on #8415
have you tried `@Skip('bstack:options'=/.iPhone./)`

[2022-06-09 15:08] christian-bromann commented on #8376
@hammzj thanks for filing the issue.

I agree with that. A command line argument should take precedence.

Would you like to raise a PR for this? I believe the important places to look into is the `@wdio/cli` and `@wdio/runner` package. I am happy to help if any questions arise.

[2022-06-09 15:25] #8299 closed

[2022-06-09 16:53] yopasa94 opened #8417 "[🐛 Bug]: Error allow custom commands scoped to element"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Custom commands should use a '$' sy

[2022-06-09 19:13] DJSdev opened #8418 "[🐛 Bug]: Incorrect types for `expect()` when using browser matchers - 'await' has no effect on the type of this expression."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I generated the example pro

[2022-06-09 19:32] lfalkner opened #8419 "[🐛 Bug]: install for certain node versions fail after @wdio/* v7.20.0"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

16.3.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Upgrading from @wdio package

[2022-06-09 20:20] christian-bromann commented on #8419
Please update your Node.js version from 16.3.0 to 16.10.0 or higher to fix this. This was introduced by the `expect` package requiring you to have Node.js installed with version 16.10.0 or higher.

[2022-06-09 20:20] #8419 closed

[2022-06-09 20:24] christian-bromann commented on #8358
Closing due to inactivity.

[2022-06-09 20:24] #8358 closed

[2022-06-09 20:25] christian-bromann commented on #8356
Sounds good. Let us know if we can do anything else for you!

[2022-06-09 20:25] #8356 closed

[2022-06-09 20:26] christian-bromann commented on #8389
@KelseyBlodgett let me know if you have any further questions. Happy to assist. Will go ahead and close this issue though.

[2022-06-09 20:26] #8389 closed

[2022-06-10 07:52] anupamck commented on #8258
This functionality worked perfectly in wdio v6. So I excavated its code and saw that this was how the duration is calcuated at the `afterHook`:

[code]

Where `testStart` is defined in another hook:

[code]

You can find this here: https://github.com/webdriverio/webdriverio/blob/3251fc37b8d112074c33e9eb65475a2bbec3da12/packages/wdio-cucumber-framework/src/reporter.js

I also think Allure does some

[2022-06-12 08:33] zaper4life commented on #6072
I voulunteer

[2022-06-14 14:13] hammzj commented on #8376
Hello, @christian-bromann, I have a fix on a branch, but I am unable to test it locally besides spec tests. For some reason, I am unable to build the project using `npm run setup-full` without an exit code of 1. It fails during TypeScript compilation.

I will still open the PR as the unit tests passed, but I just wanted to raise this to your awareness as I am not finding anything in the docs that

[2022-06-14 20:01] KelseyBlodgett commented on #8389
Sorry, I just saw this update. We have to have all our documents go through our legal department to approve and then they must send through our internal system to a specified signatory. The easyCLA system does not allow me to do this because I have to send it myself to the signatory and cannot send it through our legal system. I will open an issue with the linux foundation but it would be great if

[2022-06-15 14:11] jayrepo commented on #8417
Does it occur if you remove trailing `$` from your command?

[2022-06-15 14:39] yopasa94 commented on #8417
No, it does not occur but I'd need to use multiple await to call the new custom command i.e

I would like to call the new custom comman in this way ->
await mypage.nameInput.setValueSafe$('querty');

If I remove the '$,  it forces me to use multiple await
await (await mypage.nameInput).setValueSafe('querty');

[2022-06-15 14:46] JordiSAGE opened #8435 "[🐛 Bug]: Event hook methods doesn't work!"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

v16.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

It seems that the code located in

[2022-06-15 16:15] praveendvd commented on #8418
@DJSdev  what is the browser object here ? does it have a typing

[2022-06-15 16:19] praveendvd commented on #8418
` await expect(browser).toHaveUrlContaining('/secure'); `

browser is an object , its not a promise . await works only with promise.

this works :

        await expect(browser.getUrl()).toHaveTextContaining(
            'You logged into a secure area!');

[2022-06-15 16:39] tiecongli commented on #4913
For people who need to run on sync mode requires this package tho

[2022-06-15 17:25] praveendvd commented on #8418
Yes you are right that's why I removed my comment ,

[2022-06-15 17:26] DJSdev commented on #8418
I must have opened the issue right before you removed your comment! My bad

[2022-06-15 17:30] DJSdev commented on #8418
Adding to the issue, it seems that the same issue occurs if you follow the [documentation for the element matchers](https://webdriver.io/docs/api/expect-webdriverio#tobedisplayed).
[code]
Since `elem` was already awaited on the first line, when passed into `expect()` the type of `expect()` is no longer a Promise and reports the same issue, although `expect()` still needs to be awaited.

[2022-06-16 02:42] jayrepo commented on #8417
Tried with minimal code below, both commands are working fine
[code]

there might be issue with `mypage.nameinput`, can you please provide an example?

[2022-06-16 17:57] davefogo opened #8436 "[🐛 Bug]: drag and drop"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

8.12.1

### Node.js Version

16.0.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Environment

Mac OS 12.4 (21F79)
Ch

[2022-06-16 18:51] davefogo commented on #8022
How can this be implemented on [lacell75](https://github.com/lacell75) reproducible example?

[2022-06-16 19:02] erwinheitzman commented on #8418
I think that regardless of what is passed in, we should always assume that the expect is asynchronous as I cannot think of a case where it is not the case :)

[2022-06-16 20:56] yopasa94 commented on #8417
Could you share your package.json file ? I'd like to use the same version dependencies

[2022-06-17 01:54] jayrepo commented on #8417
[code]

[2022-06-17 12:09] praveendvd commented on #8418
@erwinheitzman we have matchers like expect(something).toBe(something)

[2022-06-17 12:14] tzurp commented on #8022
@davefogo instead of:
`draggable.dragAndDrop(droppable); `

use:
`dndAction(draggable, droppable);`

[2022-06-19 21:10] igor-lantushenko opened #8438 "[🐛 Bug]: Grouping Test suites To Run Sequentially throw an error filePath.match is not a function"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.0.0

### Node.js Version

v15.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Docs said:
[Grouping Test

[2022-06-20 11:22] 0xbaddaddee opened #8440 "[🐛 Bug]: Make `releaseAction` call within `click` command optional"
### Have you read the Contributing Guidelines on issues?

- [x] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

6.14.15

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

[This page ](https://the-internet.

[2022-06-20 11:51] DmitryShashkov commented on #1625
If someone encounters this issue with current version of WebdriverIO (~7.20.1)
`$('some-selector').value` is no longer a thing, you now have to `await` for it (or use `then`) to get it.

For instance, [this article](https://webdriver.io/blog/2019/06/25/file-upload/) has such a code example:
[code]
It will fail with the error similar to one described above: `javascript error: cannot set properties

[2022-06-20 13:11] christian-bromann commented on #1625
Thanks for sharing @DmitryShashkov , really appreciate it 👍

[2022-06-20 13:25] christian-bromann commented on #4134
@pavanshirguppi yes, it is working. You are fetching a single element but expect to receive an array, this should work for you:

[code]

[2022-06-20 13:27] christian-bromann commented on #4913
@tiecongli we recommend to switch to async code execution and documented the process for this migration [here](https://webdriver.io/docs/async-migration). WebdriverIO will not support sync with the next major version anymore.

[2022-06-20 14:53] christian-bromann commented on #8440
@0xbaddaddee thanks for raising the issue.

The problem is that WebdriverIO releases the action which causes the alert to disappear again. This issue is similar to https://github.com/webdriverio/webdriverio/issues/6423#issuecomment-881573423 where I already suggested to make the [`releaseAction` call](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/element/cl

[2022-06-20 14:59] christian-bromann commented on #8438
@igor-lantushenko thanks for filing the issue.

WebdriverIO doesn't support grouping suites as you did above. If you like to run them sequentially just define them as

[code]

and set `maxInstances` to `1`.

That said, I believe it makes sense to build support for this. Therefor any contributions that implement this enhancements are very welcome. We would appreciate any help on this so please help

[2022-06-20 15:10] christian-bromann commented on #8417
@yopasa94 please provide a reproducible example to help us identify this issue for you, otherwise we can only close it.

[2022-06-20 15:14] christian-bromann commented on #8022
Thanks @davefogo for providing another reproducible example in https://github.com/webdriverio/webdriverio/issues/8436. Any investigations/contributions to this would be appreciated.

[2022-06-20 15:14] christian-bromann commented on #8436
Duplicate of #8022

[2022-06-20 15:14] #8436 closed

[2022-06-20 15:22] christian-bromann commented on #8435
Can you provide any error messages or details what you receive when you run the code? No critical changes have been made to the cucumber adapter that could be relevant to this. A minimal reproducible example would be also helpful.