[2022-10-19 21:39] christian-bromann commented on #9052
Please make sure you have Node.js v18 running. I just [updated](https://github.com/webdriverio/webdriverio/commit/405a76c48fcfb5ff70a5d9f2f503b04398306efb) the Contributing guidelines.

[2022-10-19 21:39] #9052 closed

[2022-10-19 21:44] christian-bromann commented on #9051
Thanks for reporting the issue.

I'ld suggest to ensure we handle plugin loads very transparent and propagate initiation issues to the runner. All services are initiated [here](https://github.com/webdriverio/webdriverio/blob/e5f951e242c098f6173dd77802870e5e2dba62e0/packages/wdio-utils/src/initialiseServices.ts#L23-L73) and initiated [here](https://github.com/webdriverio/webdriverio/blob/e5f951e242

[2022-10-20 08:30] RossVertizan commented on #9052
So sorry to waste your time.  I can report that as expected it is all OK with Node.js v18.

I did check the node version required, but I looked at the package.json in the wdio-mocha-framework which is ```"node": "^16.13 || >=18"```.

Thanks for the changes to the Contributing Guide.

[2022-10-20 15:15] christian-bromann commented on #9052
This is the required Node version for the compiled code that we publish afterwards. For developing on the project we define the required version in `.nvmrc`.

[2022-10-20 17:03] christian-bromann commented on #8891
Closing due to inactivity. Happy to reopen, once more information can be provided.

[2022-10-20 17:03] #8891 closed

[2022-10-20 17:03] christian-bromann commented on #8330
Mentioned these all in the release blog post.

[2022-10-20 17:03] #8330 closed

[2022-10-23 15:58] KuznetsovRoman opened #9057 "[💡 Feature]: Ability to get element's commands"
### Is your feature request related to a problem?

At the moment, the only way to check if an element has any method without network requests is to use `browser._propertiesObject_`. However, it doesn't seem to be part of the public API.

The problem is also complicated by the fact that `browser.overwriteCommand('notExisting', () => 'res', true)` will make your code fall, and even

[code]

Won't wo

[2022-10-23 18:35] christian-bromann commented on #9057
The `browser` object has a property called `commandList` which we started to document in the updated v8 project website. I was mentioned in a code example in the current website too: https://webdriver.io/docs/browserobject#get-desired-capabilities.

For what purpose to you need to know all available commands?

I agree. The `overwriteCommand` method should throw if the command was not defined in th

[2022-10-23 18:54] KuznetsovRoman commented on #9057
For writing custom wrappers, as i mentioned.

For example, you could make a logger like that:

[code]

Or you can implement custom implicit timeout, (since version with [setTimeout](https://webdriver.io/docs/api/browser/setTimeout) is not recommended and it doesn't work with `react$`)

There are many things that can be done if you differentiate between the commands of the elements and the browser

[2022-10-24 10:05] borracciaBlu opened #9058 "[🐛 Bug]: WARN webdriver: Request failed with status 500 due to Infrastructure Error -- The Sauce VMs failed to start the browser or device."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

When running the tests in github

[2022-10-24 14:59] RossVertizan opened #9078 "[🐛 Bug]: npm run test fails when creating WebdriverIO development environment on Windows 10"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

v18.11.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When creating a WebdriverIO devel

[2022-10-24 17:20] tkmcmaster opened #9079 "[🐛 Bug]: DevTools Emulation and Network setUserAgentOverride does not work async"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.25.2

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Calling both `browser.cdp("Emulation",

[2022-10-24 18:14] christian-bromann commented on #9079
@tkmcmaster I am not sure if `await browser.cdp("Browser", "getVersion")` recognises changes to the user agent. Can you try to go on a website where the user agent is printed and see what that one returns?

[2022-10-24 18:17] christian-bromann commented on #9078
Interesting, linking works when setting up our project in Windows here on GitHub. Not sure why `ln` is only supported there. Maybe we have to make an additional binary a dependency for Windows user. Anyway, I'ld suggest to replace this command in our `package.json` which something like `rimraf` which works cross operating systems.

Any contributions that resolves the bug are highly appreciated. Pl

[2022-10-24 18:29] tkmcmaster commented on #9079
Interesting. If you'll notice in the `.then()` test cases, the `getVersion()` call does have the updated userAgent. I updated one of the async tests to
[code]
And it does update the userAgent going out.

[2022-10-24 18:30] christian-bromann commented on #9058
Hey, thanks for filing the issue.

Without having access to the job page it is impossible to say why this test has failed on Sauce Labs. I recommend to check in with their support to check what is going on. I am happy to re-open if it turns out to be an issue with WebdriverIO. Until then I have to close as there is nothing actionable to do here for us maintainer.

Let me know if you have any furth

[2022-10-24 18:30] #9058 closed

[2022-10-24 18:31] christian-bromann commented on #9079
Great, yeah not sure why that is but if you open a web page the user agent should be changed. Closing.

[2022-10-24 18:31] #9079 closed

[2022-10-24 18:35] christian-bromann commented on #9057
Why not use WDIO hooks for this or a custom reporter that is triggered when commands are being called?

Not sure if I understand you correct here, can you elaborate?

Sure, but I want to be careful which interfaces I introduce which have to be maintained. This is why I am asking what you like to do with it. If you have use cases that can be valuable in a lot of ways to many folks I am happy to add

[2022-10-24 18:38] tkmcmaster commented on #9079
@christian-bromann This still seems like a bug, possibly in the `Browser.getVersion()` then. It's definitely inconsistent in how it works.

[2022-10-24 18:55] christian-bromann commented on #9079
I would suggest then to report this to the Puppeteer team I guess because that is out of scope of WebdriverIO as you are using Puppeteer primitives.

[2022-10-24 19:02] BorisOsipov commented on #9079
@tkmcmaster

just run
[code]

and you will see in console log the same `[0-0] AssertionError in "setUserAgentOverride.should work with then"`.

Actually `const version: CDP.Browser.GetVersionResponse = await browser.cdp("Browser", "getVersion");` doesnt know about overrided user-agent and always returns original.

[2022-10-24 19:16] tkmcmaster commented on #9079
@BorisOsipov That's not what I'm seeing. I've updated https://github.com/tkmcmaster/setuseragentoverride. The only failures are the ones with top level async. In all the non-async tests, `Browser.getVersion()` returns the updated userAgent correctly. I even created a wrapper test that has an async function, but as long as the top level `it()` was not async, it passes with the `Browser.getVersion`

[2022-10-24 19:18] KuznetsovRoman commented on #9057
They don't provide information about the context of the invoked command. `browser.command` cannot be distinguished from `element.command`

I would like to use something like this to get rid of the need to explicitly call `waitForExist`

[code]

Because `setTimeout({implicit: N})`, as mentioned in the documentation, will cause problems with `waitForExist`.

[2022-10-24 19:19] nagpalkaran95 opened #9082 "[🐛 Bug]: beforeTest & afterTest hooks aren't working for mocha when test interface being used is specify instead of it"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7

### Node.js Version

v12.22.10, v18.9.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

beforeTest & afterTe

[2022-10-24 20:07] BorisOsipov commented on #9079
me too.

[2022-10-25 00:45] christian-bromann commented on #9057
There should be no need for this. WebdriverIO automatically uses `waitForExist` for every element command which is why things like:

[code]

works. Can you provide an example where this doesn't work as expected?

[2022-10-25 05:52] KuznetsovRoman commented on #9057
But we can't choose timeout, so it fails if element will appear in ~10 seconds. (`await $('foo').click()` won't just wait that long) Slow Single Page Applications could be an example

[2022-10-25 05:55] christian-bromann commented on #9057
So you would like to set these explicit timeouts dynamically, per command or in arbitrary positions of your spec file?

[2022-10-25 06:00] KuznetsovRoman commented on #9057
Command like `setImplicitTimeout` would be nice.

[2022-10-25 06:16] christian-bromann commented on #9057
Can specify your use case?

[2022-10-25 06:55] diego-epicura commented on #6537
Bump.
Meanwhile the only working workaround I found is

`await driver.touchAction([{ action: 'longPress', x: 30, y: 500 }, { action: 'moveTo', x: 20, y: 100 }, 'release'])`

[2022-10-25 07:46] KuznetsovRoman commented on #9057
Problem:

[code]

I want some command like `browser.setImplicitTimeout` so i wouldn't need to use `await myPageButton.waitForExist({timeout: 60000})`:

[code]

[2022-10-25 08:05] SRKarumuri opened #9090 "[💡 Feature]: Parallelize Tests with multiple data sets"
### Is your feature request related to a problem?

At the moment in WebdriverIO if I have any Test with multiple set of Data means it can run only concurrently, which is a time taking thing. It would be nice where I have an option to run same test parallelly based on its data sets.

This future will be a big plus to webdriverio Project.

For example where I have 100 Tests in that first 50 tests fo

[2022-10-25 08:29] SRKarumuri commented on #9090
@christian-bromann As you suggested I have created the New Feature request for Data Provider

[2022-10-25 14:43] treet opened #9092 "[🐛 Bug]: Partial text selector without tag doesn't work"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

v16.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When using `waitForExists()` on a

[2022-10-25 14:52] BorisOsipov commented on #9092
@treet

Not a bug, it works accoring spec.

[Specification](https://www.w3.org/TR/webdriver/#partial-link-text)

The Partial link text strategy is very similar to the Link Text strategy, but rather than matching the entire string, only a substring needs to match. That is, return all ***a*** elements with rendered text that contains the selector expression.

There is no ***a*** with given text at g

[2022-10-25 14:52] #9092 closed

[2022-10-25 17:00] christian-bromann commented on #9090
Does this mean you have 50 individual tests that need to be run on two different data sets?

How about the following solution to this: you can kick off two different testrunner tests [programatically](https://webdriver.io/docs/setuptypes/#launcherconfigpath-opts) and pass in data to fetch a specific data set which you then populate to the worker (e.g. via a service). You can then wait until both o

[2022-10-25 17:20] SRKarumuri commented on #9090
For more clarity you can see below example
I have a test called "My Wdio Test" which navigates through 25 Web pages to complete the process.
I want to run "My Wdio Test" parallelly for 50 different data sets. (Lets say my maxInstances: 10)

[2022-10-25 21:14] christian-bromann commented on #9090
Why is my idea above not working for this example?

[2022-10-26 06:57] SRKarumuri commented on #9090
Will check more about test launcher programmatically today. Do you have any specific document with more details as I couldn't find much useful one.

[2022-10-26 07:05] christian-bromann commented on #9090
See https://webdriver.io/docs/setuptypes/#package-api-2

[2022-10-26 16:22] sezaru opened #9096 "[💡 Feature]: switchToFrame/switchToWindow without side effects to browser"
### Is your feature request related to a problem?

Currently AFAIK there is no way to run functions like `switchToFrame` and `switchToWindow` without side effects, meaning that running these functions asynchronously can affect other browser calls.

### Describe the solution you'd like.

I would like a way to either "clone" the current browser context into a new browser instance so I can safely use

[2022-10-26 19:43] KuznetsovRoman commented on #9057
As i see, [there is](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/utils/implicitWait.ts#L18) an implicit wait. The ability to change this `waitForExist`'s timeout would be nice.

[2022-10-26 19:54] christian-bromann commented on #9057
Have you tried to just do `browser.options.waitforTimeout = 1000`?

[2022-10-26 20:04] KuznetsovRoman commented on #9057
Oh, didn't know you can set those in runtime
Sorry to disturb

[2022-10-26 20:04] #9057 closed

[2022-10-26 20:10] christian-bromann commented on #9096
This is not possible. The browser wouldn't allow you to interact with windows that are to active.

This is also technically not possible.

I am not sure what you mean by that but you can always switch back and forth. I don't see how side effects can apply when asynchronous code is run in the correct way using `async/await`.

I will go ahead and close but am happy to assist further.

[2022-10-26 20:10] #9096 closed

[2022-10-27 09:08] SMdoras91 commented on #8022
Can you please provide me with a working example using this html dnd package

[2022-10-27 11:50] DmytroCh commented on #8862
Hi @christian-bromann , I have same problem with [stringContaining()](https://jestjs.io/docs/expect#expectstringcontainingstring) jest matcher. Here is a fail example project: https://github.com/DmytroCh/expect-error-wdio

[2022-10-27 14:16] kopax-polyconseil opened #9100 "[🐛 Bug]: Eslint `await-thenable` rule doesn't recognise async commands"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.22.0 and 8.0.0-alpha.412

### Node.js Version

18

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

[code]

Ide shows `

[2022-10-27 16:27] christian-bromann commented on #9090
Yes, you should be able to pass in custom data like:
[code]

[2022-10-27 17:05] SRKarumuri commented on #9090
Is there a way to access the test:data in my Test,

[2022-10-27 17:18] christian-bromann commented on #9090
Yes, `browser.capabilities['test:data']`, see docs: https://webdriver.io/docs/browserobject/

[2022-10-27 17:23] SRKarumuri commented on #9090
I tried this way earlier which dint worked for me. I retested it again I am getting as Undefined.

[2022-10-27 17:30] SRKarumuri commented on #9090
I have used console.log('My Launcher capabilities =>', await browser.capabilities)
[code]

[2022-10-27 17:32] christian-bromann commented on #9090
Ah I am sorry, it is `browser.requestedCapabilities` since these are custom and ignored by the browser.

[2022-10-27 17:34] SRKarumuri commented on #9090
Perfect Thanks ``browser.requestedCapabilities`` is working

[2022-10-27 18:17] SRKarumuri commented on #9090
Is below wat is correct to run same test parallelly with different data set

[code]

[2022-10-27 22:44] christian-bromann commented on #9090
No, this will exit the process for all once the first testrun finishes.

[2022-10-28 05:50] SRKarumuri commented on #9090
True same thing happened to me.
Is there any way to know how many instances are opened. Example:
I launched 3 instances
Test 1
Test 2
Test 3

On each test before test can I know how many instances are running parallel and on Test 2 it's intense sequence number.

[2022-10-28 07:36] halit-carbon opened #9101 "custom commands does not work in appium-service android"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7

### Node.js Version

16

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I have a customcommands basically wait the e

[2022-10-28 08:42] nagpalkaran95 commented on #9082
Resolved.

[2022-10-28 08:42] #9082 closed

[2022-10-28 12:04] LordRembo opened #9102 "[🐛 Bug]: Failed loading configuration file … host.fileExists is not a function"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.25.2

### Node.js Version

14.17.4 (npm version 8.19.2)

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I used

[2022-10-28 15:19] christian-bromann commented on #9102
Can you provide the stack trace?

[2022-10-28 15:21] christian-bromann commented on #9101
@halit-carbon this issue should be unrelated whether it runs mobile tests or not. Mind providing a reproducible example?

[2022-10-28 15:21] christian-bromann commented on #9090
No, the launcher doesn't expose that information afaik.

[2022-10-28 17:09] LordRembo commented on #9102
I finally figured out what the issue was, though it wasn't clear to me from the stack trace. Turns out the version of `ts-node` was too old (was v2.0.x for some reason). I now have v 10.9.1 (latest) and for Typescript it's 4.8.4

Added the stacktrace, in case someone else is helped with it:
[code]

[2022-10-28 17:49] LordRembo commented on #9102
for more reference, this is what is in the config json.
The `import` triggers an error, so I'm guessing it's a syntax thing? If I remove it, it just errors on something else (Unexpected token ':'). I've run the file through various validators and I'm not finding any issues. So I'm a bit stumped.

[code]

[2022-10-28 18:15] christian-bromann commented on #9100
This is a legit error, if you use `findElement` the WebDriver response doesn't contain an `ELEMENT`.

Fixing this results in:
[code]
which does not have any TS errors.

[2022-10-28 18:16] christian-bromann commented on #9007
Closing due to inactivity.

[2022-10-28 18:16] #9007 closed

[2022-10-28 18:22] #8760 closed

[2022-10-28 18:23] christian-bromann commented on #8760
This got fixed in v8, if folks running v7 and stumble upon this, please set the hostname option for the Appium service to `127.0.0.1` manually. Thanks!

[2022-10-28 18:25] christian-bromann commented on #8800
I will go ahead and close this as it is unclear if this is related to a bug within WebdriverIO. If there is anything I can do to help investigate this, please let me know. Cheers!

[2022-10-28 18:25] #8800 closed

[2022-10-28 18:53] christian-bromann commented on #9102
I just tried what you said and created a new project using `npm init wdio ./e2e-test`. I picked TypeScript as compiler and use default values for the rest. I had no issues running the tests.

[2022-10-28 19:37] kopax-polyconseil commented on #9100
Sorry but... how did you get the element id ? And is this not flacky? Why there isnt any conventional api to access it ?

Thank you in advance for providing more details as this is certainly not what we expect to read when looking at the source...

[2022-10-28 19:39] kopax-polyconseil commented on #9100
Also you didn't reply to the typing problen why do we need to await promise that are not or why promise are wrongly typed...

can you reopen until i get an answer? I will have to recreate an issue, this question is complete so it will be a copy past with this one linked.

[2022-10-28 20:30] christian-bromann commented on #9100
There is: https://webdriver.io/docs/api/browser/$ - have a read on some of the core concepts to understand why: https://webdriver.io/docs/setuptypes - our assumption is that the `$` command is used in all examples so people would use it automatically. I can totally understand though if this can be confusing when there is a `findElement` method.

I didn't have this typing problem.

[2022-10-28 21:38] LordRembo commented on #9102
This so bizarre. Guess I'll just have to start from scratch in a new project and start moving things over until it breaks.

[2022-10-28 22:34] LordRembo commented on #9102
Thanks for looking along, really appreciate it. I got it working in a blank project, so it must be another node module or (config) setting interfering. Will take another crack at it next week.
A sidenote about the wizard though: even out of the box, the test install didn't really work. Had to do some manual tweaking, like the path to the wdio.conf.ts wasn't correct. It is nested in a 'test' folder

[2022-10-28 23:34] kopax-polyconseil commented on #9100
Typing depends on ts declaration, the declaration I posted are from 7.22.0 and 8.0.0-alpha.412, what version do you use ? Those declaration are incorrect so if you are using the same versions, how can't you have the same problem when calling those methods ? This doesn't sounds realisit so I rather make dure you never used them or face the same problem or used a different version

[2022-10-28 23:59] christian-bromann commented on #9100
I used latest which is `7.22.0`. The other version is not released yet.

Can be many things, wrong TS setup may be one.

I am helping you here and just because I closed it doesn't mean I leave you hanging. I think the best we can do is you providing a minimal reproducible example that I can check out and look into. What do you think?

[2022-10-29 00:01] christian-bromann commented on #9102
Ha! That is weird. Did you set it up in an existing project or in an empty one?

[2022-10-29 02:38] sabrinapowell opened #9104 "[🐛 Bug]: npm run test fails when creating WebdriverIO development environment on Mac"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

18.7.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I set up the project using t

[2022-10-29 14:10] kopax-polyconseil commented on #9100
Reproduction here:

https://github.com/pass-culture/pass-culture-app-native/
branch 2.x-poc

Remove the last commit where i disabled typescript.

But this is not necessary, checking the typing of the module in node modules will be as presented here in the snippet.

yarn test:types command will not work as I still didnt found how to allow two tsconfig.json and react native ans webdriverio needs two

[2022-10-29 15:16] LordRembo commented on #9102
The last attempt was in an empty folder, that's where those issues happened. But it was obvious enough to catch ànd has the added bonus that it forces you to pay attention when first trying out the setup :D

[2022-10-29 22:03] bjouhier commented on #8279
The following config hook fixed it for me:
[code]

[2022-10-30 14:04] erwinheitzman commented on #7342
Since I have been running visual tests in my current project I can share the following recommendations:

1. add a delay when creating baselines. this can be done by adding a flag to your command, followed with something along these lines:
[code]

2. retry until the screenshot matches the baseline or until it times out. this can be done like so (I'm leaving out some details but I paint the bigger p

[2022-10-30 17:30] christian-bromann commented on #7342
I agree, I don't see anything much actionable. Thanks for the recommendations.

[2022-10-30 17:30] #7342 closed

[2022-10-30 17:35] christian-bromann commented on #9102
@LordRembo can you describe a way how to reliable reproduce this?

[2022-10-31 08:51] kopax-polyconseil commented on #9100
![image](https://user-images.githubusercontent.com/77674046/198968549-cf33011b-dba2-494e-985f-f23f793956b9.png)
![image](https://user-images.githubusercontent.com/77674046/198968652-8da78899-645d-43de-a237-9374b9c52666.png)
![image](https://user-images.githubusercontent.com/77674046/198968827-948075a9-597b-4db3-93d5-e1a5e76d74db.png)

[2022-10-31 08:57] kopax-polyconseil commented on #9100
I still don't get what to do here, I just used the appium 1.x JS examples and it seems they used `elementId.ELEMENT`, and it seems also the value is defined, however in your example you target an unknown ID that doesn't reflect anything to us.

I didn't get the explanation with `$`, but we are in a react-native iOS native/Android Native environment so selectors won't work if they are for web.

[2022-10-31 09:36] AlfredoMoretta opened #9106 "[🐛 Bug]: EmulateDevice() is not a function"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.25.2

### Node.js Version

14.9.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

i added as described in documentati

[2022-10-31 09:52] erwinheitzman commented on #9100
I'm not sure what examples you are using but we have a boilerplate showing you how to use WebdriverIO + Appium + Typescript that you can use as an example.

A branch with the name you shared does not exist so there's no setup for me to look at.
What I can tell is that you are able to use the `$` instead of the `findElement`. `findElement` although available is not the command you should be using,

[2022-10-31 09:58] kopax-polyconseil commented on #9100
Sorry, I had to rename the branch : https://github.com/pass-culture/pass-culture-app-native/pull/3838

I will have a look to the boilerplate. Thanks !

[2022-10-31 10:00] erwinheitzman commented on #9100
I suggest reading through the readme too as there's a bunch of mobile testing best practices mentioned, I'd take them by heart as Wim (the author) is a true mobile testing guru.

[2022-10-31 10:03] kopax-polyconseil commented on #9100
I just had a check and :

This repository does only provide one typescript setup : https://github.com/webdriverio/appium-boilerplate/blob/main/tsconfig.json

This won't work for us as we store the react-native app and the e2e on the same repo, but that's a whole topic on it's own, let's just ignore that.

It also use a deprecated version of appium , upgrading should be quite simple.

All those spe

[2022-10-31 10:38] erwinheitzman commented on #9100
Using both in one repo shouldn't be an issue, you can use the following structure:
[code]

If you want to place the test files next to the frontend code then there's a bit of a challenge depending on your setup.
The next release (v8) will allow you to import the global types instead which should solve such challenges.

[2022-10-31 11:04] erwinheitzman commented on #9104
I tried to reproduce this but instead I run into the following issue on OSX myself (not ARM based): https://github.com/evanw/esbuild/issues/1646

So sadly I am more stuck than you at this moment

[2022-10-31 11:07] kopax-polyconseil commented on #9100
That's what we do for our `server` directory, but long term, problem is that IDE can't handle multiple ts project configuration, so dev experience won't be good. we need to tell which tsconfig to read.

I saw some monorepo managed to have multiple tsconfig working in IDE, but I gave a try and couldn't fix all the issues, I reported for later to investigate as I am focusing in GitHub actions POC fo

[2022-10-31 11:24] erwinheitzman commented on #9104
Okay so turns out my problem was due to the following rule in my root `.npmrc` file:
`omit=optional`

Removing that got the tests working but I see some failing tests.
I do not see the same as you though

[2022-10-31 15:22] kopax-polyconseil commented on #9100
Did you had a look at the screenshot ? How do you explain the wrong types not being an issue ?
![image](https://user-images.githubusercontent.com/77674046/199044260-52dbc831-e1f4-4db8-b70b-200d73d16ba5.png)

We are using jest, it seems to work but we are not aware of development done on your side to call it "supported"

Do you think we should switch to another framework ? what are the pro / cons ?

[2022-10-31 15:33] christian-bromann commented on #9100
Jest is a unit test framework and barely offers any advantages for e2e testing. We also didn't support it as your tests are written the same way given WebdriverIO also uses `expect` as assertion library. Which Jest features are you missing or are important to you for e2e testing?

Because in your [`tsconfig.json`](https://github.com/pass-culture/pass-culture-app-native/blob/e4544e6e2f957e9d00e7101

[2022-10-31 15:36] christian-bromann commented on #9104
@sabrinapowell can you create a repository with a GitHub workflow that reproduces this?

[2022-10-31 15:37] kopax-polyconseil commented on #9100
I think the right question should be:  "we already have jest, why should we add another library?"

Of course we can add all the modules available on npm, do we want to?

https://github.com/pass-culture/pass-culture-app-native/pull/3838/files#diff-b5f32afdd9e8c14b02c570db855022a30aeb595e3dd1c3a71c187d685c0a2860R4

![image](https://user-images.githubusercontent.com/77674046/199047665-98d981f0-fdb7-4

[2022-10-31 15:46] christian-bromann commented on #9100
Simple, because you have to use different tools for different purposes. Jest is an unit test tool and designed to do that. WebdriverIO is for e2e testing. While it seems that both tools do the same thing there are a lot of things important for e2e testing that no one writing unit tests cares about. You are welcome to try to use one tool for everything and you certainly can integrate WebdriverIO or

[2022-10-31 15:59] christian-bromann commented on #9100
I recommend Vitest for unit testing and WebdriverIO for e2e testing. I do __not__ recommend to make flawed choices for frameworks just because there is one less dependency to install 😉

Again, this is not a TypeScript issue. It is an Eslint issue.

[2022-10-31 16:09] christian-bromann commented on #9106
Do you have a minimal reproducible example?

[2022-10-31 16:10] sabrinapowell commented on #9104
I'm going to attempt this right now

[2022-10-31 19:33] SRKarumuri commented on #9090
In launcher I could able to use the switch statement and launch multiple sessions.

I am wondering what would be the smartest way to pass different set of data to each hook.

[2022-10-31 21:28] christian-bromann commented on #9090
Is there anything actionable for this issue or do you think this solution can work for you. If you have a proposal on how to integrate this into the WebdriverIO test runner I am happy to hear but if you think the solution through starting the runner programatically works, I think we can close this. What do you think?

[2022-11-01 08:28] SRKarumuri commented on #9090
I am thinking based of spec files and based on max parallel instance it will open those many instances right. If it is possible to read the spec file and if it got loop to the suite means based on the loop count and maxparallelinstances it should open those many instances for same test.

[2022-11-01 17:10] christian-bromann commented on #9090
@SRKarumuri so we can close this issue? I am happy to work on a blog posts with you once you got a setup running to show other folks how this could be achieved.

[2022-11-01 17:12] SRKarumuri commented on #9090
I am happy to close this.

[2022-11-01 17:15] #9090 closed

[2022-11-02 08:54] AlfredoMoretta commented on #9106
good morning christian and first of all thanks to answer me.
In my project i use cucumber as you can see from my package.json.

I've the error immediately in the Given step:

`Given(/^a logged in user  in UK$/, nation => {
    CommonPage.openURI('LOGIN', nation);})`

    and my CommonPage.openURI is this:
`openURI(page, nation) {
        const _nation = nation.toUpperCase();
        const _url = t

[2022-11-02 16:05] christian-bromann commented on #9106
@AlfredoMoretta unfortunately this doesn't help much to reproduce it, given I don't have your Cucumber code. Please try to provide an example I can run on my machine as well that doesn't require a special set up.

[2022-11-02 21:36] paulmrogers opened #9125 "[💡 Feature]: Soft assertions ( assertions that fail, but dont cause the current block to end )"
### Is your feature request related to a problem?

I usually work on integration tests. By this I mean long running tests that run against a full environment.
If i have several assertions in an it block ( I hope Im using the correct terms here ), Id like to know the reult of all of them before moving onto the next block.
For example, if im working on a payroll application, I may have assertions fo

[2022-11-02 21:48] christian-bromann commented on #9125
Hey @paulmrogers , thanks for raising the issue.

We have an [open issue](https://github.com/webdriverio/expect-webdriverio/issues/227) to support soft assertions out of the box.If you use the wdio testrunner with Jasmine you will have soft assertions too.

I will go ahead and close but am happy to answer further questions.

[2022-11-02 21:48] #9125 closed

[2022-11-02 21:52] paulmrogers commented on #9125
thanks for the reply. I'll go check this out

On Wed, Nov 2, 2022 at 3:48 PM Christian Bromann ***@***.***>
wrote:

[2022-11-03 06:36] christian-bromann opened #9126 "[🏡 Internal]: Browser Runner Task List"
In #9055 I have been implementing a new runner package for component testing in the browser. In order to properly test it in an actual repository I released it as alpha prematurely. This issue covers some tasks that need to be done for the actual release:

- [x] write documentation
- [x] update release blog post
- [x] fix outstanding bugs
- [x] specs path is relative to cwd not relative from `wdio

[2022-11-03 11:53] bhanuagarwal73 commented on #7885
I tried running it with Puppeteer but didn't worked.
@christian-bromann  any working example or something to get over it ?

[2022-11-03 12:49] NaZaRKIN123 commented on #8438
Hi all,

Seems like it doesn't work with TS. I see the next error:
<img width="871" alt="image" src="https://user-images.githubusercontent.com/19157402/199724659-ecf16582-dc68-4785-ba04-56bd946701bf.png">

[2022-11-03 15:57] christian-bromann commented on #7885
@bhanuagarwal73 how would you think I have a working example given the issue is still open and is looking for contributors?

[2022-11-03 17:37] prachiMuthal commented on #8507
I'm currently seeing this on 7.24.0, on macOS 12.5, node 19.0.0

what should I do? any suggestions/help?

[2022-11-03 17:52] prachiMuthal commented on #8507
I am getting the same error and I'm currently seeing this on 7.24.0, on macOS 12.5, node 19.0.0

what should I do? any suggestions/help?

[2022-11-04 04:44] bhanuagarwal73 commented on #7885
@christian-bromann
I wrote:

blockNetworkCall: async (requestUrl: string[]): Promise<any> => {
        const wildcardMatch = require('wildcard-match');
        const blockRequest = wildcardMatch([requestUrl], { separator: false });

        const puppeteer = await browser.getPuppeteer();
        const pages = await puppeteer.pages();
        pages[0].setRequestInterception(true);
        pages[0].

[2022-11-04 11:43] AlfredoMoretta commented on #9106
@christian-bromann  thank you for your support,i really appreciate your work.Till we can't reproduce the issue ,in my opinion you can close this issue.

[2022-11-04 11:43] #9106 closed

[2022-11-04 18:58] djv1001 commented on #8507
@prachiMuthal I'm using TypeScript and just changed the compiler from ES6 to ES2019.

I'm getting line numbers in the "element not... x" errors.

[2022-11-07 05:46] christian-bromann commented on #9104
@sabrinapowell any updates? I am really curious why you see these issue. Let me know if I can support in any way.

[2022-11-07 05:47] christian-bromann commented on #9102
@LordRembo is there a chance you can provide a minimal reproducible example?

[2022-11-07 05:50] christian-bromann commented on #9078
Sorry for my late response.

We can ignore this.

Same.

Adding `shx` seems like a good solution to me.

This issue should be resolved now.

[2022-11-07 14:07] kopax-polyconseil opened #9151 "[💡 Feature]: specify tsconfig.json to CLI"
### Is your feature request related to a problem?

I have a react-native app on which I try to import the https://github.com/webdriverio/appium-boilerplate folders config and tests, and when I try to run commands, it fail to execute with

[code]

### Describe the solution you'd like.

I would like to be able to specify the `tsconfig.json` configuration, and use `e2e/tsconfig.json` instead of `tsco

[2022-11-07 16:00] erwinheitzman commented on #9151
You can use the following for this: https://webdriver.io/docs/typescript/#configuration

[2022-11-07 16:32] christian-bromann commented on #9151
Yes, please check the docs (see link above).

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2022-11-07 16:43] kopax-polyconseil commented on #9151
Hi both, I have tried to add the confgiuration here: https://github.com/pass-culture/pass-culture-app-native/blob/PC-18308-2/e2e/config/wdio.shared.conf.ts#L7

I am not able to specify the `tsconfig.path` location and tried multiple synthax, with absolute path and relative. Are you sur this is working ? I will ask on gitter, thanks for linking

[2022-11-07 16:45] christian-bromann commented on #9151
Have you debugged your result configuration? It seems it should be this:

[code]

[2022-11-07 16:45] kopax-polyconseil commented on #9151
I've tried both, I always have the same error, like if this option isn't picked.

[2022-11-07 17:01] kopax-polyconseil commented on #9100
I am doing a POC here using the boilerplate you have provided, so far it work better, but I cant use https://webdriver.io/docs/typescript/#configuration as I expect, having the `autoCompileOpts` provide the right `tsconfig.json` from e2e folder seems ignored, any clue why ? https://github.com/webdriverio/webdriverio/issues/9151#issuecomment-1305889787

[2022-11-07 17:03] christian-bromann commented on #9100
@kopax-polyconseil this is unrelated to the original issue. Please use the Gitter channel for queries like this.

[2022-11-07 17:06] christian-bromann commented on #9151
@kopax-polyconseil can you print out your resulting config?

[2022-11-07 17:11] christian-bromann commented on #9151
Let me re-open to investigate if there are any issues passing in the project property into `ts-node`. Any feedback is welcome.

[2022-11-07 17:21] erwinheitzman commented on #9151
I have a strong feeling that it might be the same issue as describe here https://github.com/webdriverio/webdriverio/issues/6939

[2022-11-07 18:04] kopax-polyconseil commented on #9151
When I do logging `console.log(_args)` here: https://github.com/webdriverio/webdriverio/blob/428a9d729ae6231968a60908732fa3f607d195e9/packages/wdio-cli/src/launcher.ts#L61

I have:

[code]

If I do:

[code]

It work.

[2022-11-07 19:27] LordRembo commented on #9102
@christian-bromann Yeah, I had the same result on node 14.17.4 and node 16.17.1

[2022-11-07 20:51] kopax-polyconseil commented on #6939
If it helps you : https://github.com/webdriverio/webdriverio/issues/9151#issuecomment-1305990270

[2022-11-08 03:39] em commented on #6880
Why even have separate integrations? Just make a single plugin API with all the hooks and let them all by async. The weird mashup of different types of integrations with some missing features is very confusing and buggy.

[2022-11-08 04:59] tv2022 commented on #8022
It's not wokring for Angualr CDK drag drop. Perform actions and html-dnd also didn't work. can someone let me know how to make this work?
Reproducible code.
`   await browser.url('https://material.angular.io/cdk/drag-drop/overview');
    const draggable = await $(`(.//div[text()='Get to work'])[1]`);
    const dropTo = await $(`(.//div[text()='Get up'])[1]`);
    await  draggable.dragAndDrop(dropT

[2022-11-08 05:12] christian-bromann commented on #6880
Feel free to raise an issue with a concrete proposal and we can talk about it. I am open to changes given we have seen more of these cases popping up. That said, we want to be careful which interfaces we open up and start to maintain as it is additional work and we also want to ensure users don't get confused about these integrations.

[2022-11-08 05:17] tv2022 opened #9154 "[🐛 Bug]: Cannot disable w3c for Firefox browser"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14.20.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Not able to disable the w3c comman

[2022-11-08 05:34] christian-bromann commented on #9154
Hey @tv2022 , thanks for raising an issue.

This is unfortunately nothing we can fix in WebdriverIO. Please raise this issue in the [Geckodriver](https://github.com/mozilla/geckodriver/releases) project. Thanks!

[2022-11-08 05:34] #9154 closed

[2022-11-08 09:00] kopax-polyconseil opened #9155 "[🐛 Bug]: cannot connect to iOS simulator in GitHub action context, simulator not reachable"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.7

### Node.js Version

v18.7.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I am not able to run test on iOS S

[2022-11-08 09:44] erwinheitzman commented on #9151
I can reproduce this but have also tested this with the upcoming v8 in which this is solved.

I'm not sure if it's realistic to accept this as a known issue in v7 and have it solved in v8 as v8 contains quite some changes.

[2022-11-08 09:51] kopax-polyconseil commented on #9151
I wanted to check v8 code to see if it was possible to fix v7 with the solution in v8, but couldn't find the tag, nor branch.

According to your last comment, I am not sure what to do at the moment and will stick to the patch package until someone add further clarification.

[2022-11-08 09:52] erwinheitzman commented on #9151
@kopax-polyconseil here's the v8 code: https://github.com/webdriverio/webdriverio/blob/cb-v8-release-post/packages/wdio-config/src/lib/ConfigParser.ts

[2022-11-08 10:04] erwinheitzman commented on #9151
the difference is this:
v7
[code]
v8
[code]

[2022-11-08 10:06] M4sterShake commented on #8022
I'm also seeing this issue. It seems like this has been broken since 2019. Is anyone looking into a fix for this?https://github.com/webdriverio/webdriverio/issues/4134

[2022-11-08 10:19] kopax-polyconseil commented on #9151
I saw on first sight those differences, but as you can see, type are also different types, and perhaps those service are also different.

Perhaps it is safe to move to v8, or is it expected to be breaking change ?

[2022-11-08 11:07] AlfredoMoretta commented on #4795
good morning guys, any news for devtools working on selenium-grid v4?

[2022-11-08 11:18] BorisOsipov commented on #4795
@AlfredoMoretta it is done in https://github.com/webdriverio/webdriverio/pull/6508
File an issue with reproducible example if it doesn't work.

[2022-11-08 11:20] AlfredoMoretta commented on #4795
@BorisOsipov thank you so much!

[2022-11-08 12:23] tv2022 commented on #9154
@christian-bromann Thanks for the quick reply. The reason for raising this issue here is the same capabilities works fine with other. tools like Protractor with the same Geckodriver version 0.32.0 only with WebDriverIO it's throwing an error. Do you still think it's not WebDriverIO specific?

[2022-11-08 12:47] rusakovic opened #9156 "[🐛 Bug]: Error in "getDownloadStream". Could not download 'chromedriver_mac64_m1.zip'"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

MacBook Pro M1 16'
macOS: 13.0 (22A380)

### What happ

[2022-11-08 13:27] erwinheitzman commented on #9151
I checked those and they seem the same. Types don't matter for the execution of the code. v8 will have breaking changes as it is a major release.

[2022-11-08 16:27] #9156 closed

[2022-11-08 16:35] BorisOsipov commented on #9155
@kopax-polyconseil increase `appium:wdaLaunchTimeout` capability e.g.

`appium:wdaLaunchTimeout: 300000`

[2022-11-08 16:46] rusakovic commented on #8944
Hello @christian-bromann
Thank you.

I removed `package-lock` and `yarn.lock` and regenerate them

But "selenium-standalone" is still 8.2.0
![image](https://user-images.githubusercontent.com/17801144/200624712-414db7fd-637f-496d-b224-820af87d35c0.png)

[code]

[2022-11-08 17:45] christian-bromann commented on #8944
@rusakovic sorry but I can't reproduce this. I created a new directory/project and installed `@wdio/selenium-standalone` which got me `selenium-standalone@8.2.3` as dependency.

[2022-11-08 17:50] christian-bromann commented on #9151
@kopax-polyconseil feel free to have a sneak peak into the [release blog post](https://github.com/webdriverio/webdriverio/blob/main/website/blog/2022-10-11-webdriverio-v8-released.md). There are no concrete breaking changes to the user interface however we rewrote the whole code base and can't guarantee everything will be fine which is why we are doing a major release. I am happy to merge and publ

[2022-11-08 17:51] christian-bromann commented on #9154
Protractor doesn't work with Geckodriver as it communicates through WebdriverBidi or Chrome Devtools but not the WebDriver v1.

[2022-11-08 17:59] christian-bromann commented on #8022
@M4sterShake it is not entirely broken folks. There are many ways you can implement a drag&drop behavior and it is almost impossible to guarantee the command works for all of them. I am happy to revisit this issue once `v8` is released but generally you all have all capabilities to build a drag&drop function yourself by using the `performActions` command.

[2022-11-08 19:42] tv2022 commented on #8022
@christian-bromann Thanks for responding. You're right, in some cases, this still works. But with performActions also this not working on Angular CDK drag and drop components for some reason. The below core selenium driver command still works for this. Appreciate any clues.

[code]

[2022-11-08 20:27] christian-bromann commented on #8022
Selenium uses the same protocol so you should be able to do what they do in WebdriverIO. In fact `v8` adds better interfaces to chain actions commands like this, so what you have above will work out of the box.

[2022-11-08 20:50] M4sterShake commented on #8022
Thanks @christian-bromann but that's the problem, it doesn't work even when using performActions. It behaves exactly the same as it does when using dragAndDrop. There are many people in https://github.com/webdriverio/webdriverio/issues/4134 that have the same problem. I've tried with many permutations  but nothing seems to work. Once pointerDown is fired, mouseMove doesn't seem to work properly an

[2022-11-08 20:55] M4sterShake commented on #8022
Hi @tv2022 that sounds interesting but actions doesn't seem to exist on the global driver object. Do you know how I would reference the selenium driver directly? Thanks!

[2022-11-08 23:32] tv2022 commented on #8022
@M4sterShake  It's just a workaround to unblock ourselves. You can use below code snippet to get the core webdriver session.

[code]

And you also need to find elements using core webdriver  like...
[code]
Then
[code]

[2022-11-09 07:59] christian-bromann commented on #9101
Closing due to inactivity.

[2022-11-09 07:59] #9101 closed

[2022-11-09 08:05] hariharanbrowserstack commented on #7380
@christian-bromann , could see this workaround of executing `CertificateWarningController.visitInsecureWebsiteWithTemporaryBypass()` is not working from safari 15.6 . Do you see the same ? Did we find any alternative for the same ?

[2022-11-09 09:03] christian-bromann commented on #7380
I am not familiar with this, also never used it. If you find how this works it would be great if we could document it.

[2022-11-09 09:04] rusakovic commented on #8944
Thank you.
Do you mean you installed `npm install selenium-standalone --save-dev` ?

but not `npm i @wdio/selenium-standalone --save-dev`

because

![image](https://user-images.githubusercontent.com/17801144/200786335-91a79e59-d1ba-40ee-96e4-0cc237e9f4fd.png)

So, `@wdio/selenium-standalone-service` doesn't have correct dependency version,
and we need to install  `selenium-standalone` ?

[2022-11-09 09:06] christian-bromann commented on #8944
Not sure what you mean. I you install `@wdio/selenium-standalone` , then `selenium-standalone` should be installed with the right version.

[2022-11-09 09:08] rusakovic commented on #8944
I showed the screenshot above. Do you mean to install `@wdio/selenium-standalone-service` but not `@wdio/selenium-standalone`?

[2022-11-09 10:17] kopax-polyconseil commented on #8279
What is `dns`?

[2022-11-09 11:52] GrandEL01 commented on #7885
Hey,

In order to use this use this feature with browserstack. WebdriverIO internally uses CDP for this feature. Hence we need to set the capability of seleniumCdp to true and we should have selenium version greater than 4.0.0 this will allow WebdriverIO users to use this feature on BrowserStack as well.

Sample Capabilities would look like following:

{
  ...
  "bstack:options":{
    seleniumCdp:

[2022-11-09 13:51] erwinheitzman commented on #8944
There is only one package, which is this one https://www.npmjs.com/package/@wdio/selenium-standalone-service

Install that, make sure your package-lock is updated with the new version(s) and it should work.

[2022-11-09 13:52] erwinheitzman commented on #8944
The selenium-standalone package is something different and should not be manually installed

[2022-11-09 14:19] SCG82 opened #9160 "[🐛 Bug]: node16 module resolution issues - @wdio/globals/types, expect-webdriverio"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

8.0.0-alpha.249

### Node.js Version

18.10.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

`module: esnext`,

[2022-11-09 17:09] christian-bromann commented on #8279
It is a [Node.js](https://nodejs.org/api/dns.html) module, e.g.

[code]

[2022-11-10 07:58] rusakovic commented on #8944
Thank you.

[2022-11-10 11:15] erwinheitzman commented on #9160
node16 is only supported for typescript 4.7+

[2022-11-10 11:16] erwinheitzman commented on #9160
Reference: https://www.typescriptlang.org/tsconfig#moduleResolution

[2022-11-10 17:05] nair-sumesh commented on #8522
HI,
Passing the port number in the config.capabilities, or via command line --port = 4444, or -p=4444, is not being considered. I am still getting the error.
**CMD line**
[code]
**Result**
[code]

[2022-11-10 17:08] christian-bromann commented on #8522
I am not sure what your script (`wdio_chrome_mocha.conf.js`) is doing here.

[2022-11-11 08:28] erwinheitzman commented on #9160
@SCG82 can you make sure you meet the requirements for using this and close the issue if it works?

[2022-11-11 08:29] SCG82 commented on #9160
I'm using Typescript 4.8.4

[2022-11-11 13:27] psstoyanov opened #9162 "[🐛 Bug]: Default example project - error in toHaveText"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.25.4

### Node.js Version

v19.0.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Followed the Get Started tutorial

[2022-11-11 13:39] erwinheitzman commented on #9162
Can confirm this is an issue which has appeared only since a short time ago.

Can be reproduced by creating a new project using default settings for the CLI wizard.

[2022-11-11 13:44] erwinheitzman commented on #9162
Seems like this change is the culprit: https://github.com/webdriverio/expect-webdriverio/pull/932

[2022-11-11 15:05] erwinheitzman commented on #9162
There is a temporary workaround which can be applied to your package.json:
[code]

[2022-11-11 15:05] psstoyanov commented on #9162
As per @erwinheitzman suggestion, forcing `expect-webdriverio` to an older version resolves the issue:

<details>
<summary> example forced expect-webdriverio version in package.json </summary>

[code]
</details>

### Notes:
- Depending on the used frame work `mocha`, `jasmine` or `cucumber`, forcing one of the frameworks to an older version may work as well.
- For `cucumber-framework` it's easier

[2022-11-11 17:38] christian-bromann commented on #9162
The `expect-webdriverio` dependency is defined via `"expect-webdriverio": "^3.0.0"` so you will get the latest version with the fix by updating your dependencies:

[code]

[2022-11-11 18:19] psstoyanov commented on #9162
@christian-bromann , the issue is observable with the latest `expect-webdriverio` version `3.5.1` as of right now.

The override to the older `3.5.0` doesn't exhibit the issue with the minimal example.

Am I missing something as to why this ticket is closed?

[2022-11-11 18:34] perillai commented on #9035
I tried recreating this bug, but I am unable to. Having both tags with an operator 'and' runs the test fine. Can you please share your feature file and wdio.conf?

[2022-11-11 18:34] christian-bromann commented on #9162
I see, this is a different error than I thought then. Reopening.

[2022-11-11 18:37] christian-bromann commented on #9035
Thanks for checking @perillai !

@nextlevelbeard can you provide a reproducible example?

[2022-11-12 09:49] ajez91 opened #9169 "[🐛 Bug]: Cannot find name either 'browser' or 'driver'."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.25.4

### Node.js Version

v16.18.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Prepare framework using Webdriver

[2022-11-12 12:03] SCG82 commented on #9160
https://github.com/webdriverio/webdriverio/pull/9170 & https://github.com/webdriverio/expect-webdriverio/pull/934 will resolve this issue

[2022-11-12 12:42] #9169 closed

[2022-11-12 12:42] ajez91 commented on #9169
env setting error

[2022-11-12 16:29] dipushrestha opened #9171 "[🐛 Bug]: toHaveAttr doesn't match when the attribute value contains &nbsp; character"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.25.0

### Node.js Version

16.17.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

![image](https://user-images.githu

[2022-11-13 07:35] praveendvd commented on #9171
@dipushrestha  Thanks for reporting , please feel free to contribute if you have the fix else i could pic it up

[2022-11-13 20:10] #9160 closed

[2022-11-14 00:13] rafz12 commented on #5942
@christian-bromann The work around to have an assertion does not work; when someone intends to use assertion almost everywhere in test; the fact is a simple page transitions failure should exit out the whole describe block or move on to next set of tests. I shouldn't have to end the whole test just because of negative expect validation.

[2022-11-14 00:16] rafz12 commented on #5942
What is the solution for: when a single IT block fails or a method inside IT block fails how do I force fail all the remaining IT blocks inside the describe block and move to next test? (for webdriverIO+jasmine)
Bail options didn't work
failI() call back did not work
done() call also did not work.

[2022-11-14 07:41] christian-bromann commented on #5942
Please check the [Jasmine docs](https://jasmine.github.io/api/edge/Configuration), particularly `stopOnSpecFailure`

[2022-11-14 23:52] nixpix opened #9188 "[🐛 Bug]: iOS Screen recording fails with HTTP error 426 Upgrade Required"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.26.0

### Node.js Version

v16.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I am trying to record a video of

[2022-11-15 00:08] christian-bromann commented on #9188
The logs mention the issue:

Please make sure ffmpeg works on your system. I will go ahead and close and there is nothing within WebdriverIO we can do about this. Happy to answer further questions.

[2022-11-15 00:08] #9188 closed

[2022-11-15 00:10] christian-bromann commented on #9188
There are a lot of issues logged around this topic that I would check out, e.g.: https://discuss.appium.io/t/ios-ffmpeg-died-unexpectedly/35668/7

[2022-11-15 12:28] nixpix commented on #9188
I managed to resolve my issue.
And I have to say I feel very stupid.

The issue was due to another program already using port 9100.
In my case, it was Logitech Hub software.

The confusing part was that the error message was not something like:
"Port already in use" or "Connection refused", which would give an indication of what is happening.

The error message was "Upgrade required".

I am postin

[2022-11-15 17:18] kopax-polyconseil commented on #9151
@christian-bromann for us, this patch-package will work : https://github.com/pass-culture/pass-culture-app-native/pull/3876/files#diff-8ca67e4893fe1f8563c37fa5ccc9e1d144ce49510d0755929910cce9e93eb572

We don't have the need to fix it. I leave this open in case one want's to jump in and contribute.

@erwinheitzman do you have a roadmap for it ? It's a bit sad to started writing e2e tests on an old

[2022-11-15 18:08] christian-bromann commented on #9151
@kopax-polyconseil I will look into this as part of the v8 release given that I have bunch of TS issues in our [component testing example](https://github.com/webdriverio/component-testing-examples) repo to fix as well.

https://github.com/webdriverio/webdriverio/blob/main/website/blog/2022-11-20-webdriverio-v8-released.md

[2022-11-15 19:47] christian-bromann opened #9195 "[🐛 Bug]: Allow CJS services within v8 testrunner"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v8

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

It seems that there are some issues usi

[2022-11-16 02:51] christian-bromann commented on #6765
What I've seen in many companies is that they have their own configuration package that comes with smart logic around company specific infrastructure, e.g.:

[code]

Why not importing that "main" config and extend from it?

I don't know if that is a solution given that it seems simpler to just use the wizard rather than passing in additional parameters.

@Askarov5 any updates on this topic? Did yo

[2022-11-16 19:54] ouliuquan opened #9198 "Hi, I want to ask why the node is limited to >=12.0.0 <16 on v7"
This confuses me on nodejs 16 and nodejs 18, I can't use v7 but I can use v6. Can this be fixed?

v7:
https://github.com/webdriverio/webdriverio/blob/8475c2bfd0480e1870fbeb9a781b5ffbad526c38/packages/wdio-sync/package.json#L10

v6:
https://github.com/webdriverio/webdriverio/blob/50fe76c577ec654c5df67af766bd1c171db7cb2f/packages/wdio-sync/package.json#L10

[2022-11-16 21:49] christian-bromann commented on #9198
Read more about this here: https://webdriver.io/blog/2021/07/28/sync-api-deprecation

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2022-11-16 21:49] #9198 closed

[2022-11-16 21:54] BorisOsipov commented on #9155
@kopax-polyconseil any news?

[2022-11-16 21:58] BorisOsipov commented on #9155
@kopax-polyconseil Me too want to setup some tests for OSS project.
 If you have some result of your research about gh actions or some other tools I am glad to hear

[2022-11-16 22:00] christian-bromann commented on #9155
@BorisOsipov see https://github.com/webdriverio/appium-boilerplate/pulls

[2022-11-17 02:47] ouliuquan commented on #9198
@christian-bromann Thanks for the answer and the link, got me in a new direction.

[2022-11-17 13:21] RossVertizan commented on #9078
@christian-bromann I am ready to go with the shx fix, but before I submit the PR thought I would have a look at the smoke tests.  The smoke tests have a lot of deliberate errors, so it's not entirely clear which are real and which are expected errors.  The output from the smoke tests is in the attached file.

[smoke_tests_windows.md](https://github.com/webdriverio/webdriverio/files/10031865/smoke_

[2022-11-17 17:06] mmchen01 opened #9199 "[🐛 Bug]: Remove Sauce Headless Suggestion in Setup Wizard"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Installing the webdriver.io

[2022-11-17 17:19] christian-bromann commented on #9078
Thanks! Yeah, we use smoke tests to check whether the testrunner is failing in expected situations. If they pass then you can ignore these errors being shown.

[2022-11-17 17:20] RossVertizan commented on #9078
So everything is OK?

[2022-11-17 17:23] RossVertizan commented on #9078
OK, I'll submit the PR for the shx fix.

[2022-11-17 18:31] RossVertizan commented on #9078
Fixed by PR #9200

[2022-11-17 18:31] #9078 closed

[2022-11-17 22:36] erwinheitzman commented on #9199
Hi @mmchen01 do you happen to have a reference of this removal?

[2022-11-18 01:25] Morte83 opened #9202 "[🐛 Bug]: Selenium standalone service does not open browser if browserVersion is defined"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.26.0

### Node.js Version

16.18.1

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Selenium standalone service is una

[2022-11-18 01:49] christian-bromann commented on #9202
Can you provide any log messages? Also `latest-1` is not a version.

[2022-11-18 05:44] christian-bromann commented on #9035
ping @nextlevelbeard

[2022-11-18 05:54] christian-bromann commented on #9102
Sorry but after trying the same answers as you posted above and downloading and checking your reproducible example I was not getting the same issue. I am not sure how I can help at this point. I will close the issue given that there is nothing actionable here due to a missing reproducible example. I am happy to re-open if the bug can be reproduced in some shape of form.

[2022-11-18 05:54] #9102 closed

[2022-11-18 05:55] christian-bromann commented on #9104
Closing due to inactivity. Let me know if you can provide a reproducible example and I am happy to re-open the issue.

[2022-11-18 05:55] #9104 closed

[2022-11-18 05:56] #9126 closed

[2022-11-18 08:17] Morte83 commented on #9202
Added log messages. Also versions 'latest-1', 'latest-2' or so on are supported by BrowserStack, Saucelabs and TestingBot platforms. On Webdriver v.6 the browserVersion field did not affect the local tests execution if the same set of capabilities was used for local and remote sessions.

[2022-11-18 11:13] nagpalkaran95 opened #9205 "[🐛 Bug]: Test hooks `beforeTest` and `afterTest` in config/service don't get called for static skipped and pending tests"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7

### Node.js Version

14.20.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

The hooks should be called for

[2022-11-18 16:18] christian-bromann commented on #9205
Hey,
thanks for filing the issue. This seems like something we want as service are using these hooks and would be interested in data for skipped tests as well. We should ensure to pass in a `isSkipped` flag to allow services to skip any operation in case they aren't interested operating on skipped tests.

We would appreciate any help on this so please help us out! Have a look at our [contributing

[2022-11-18 16:24] christian-bromann commented on #9202
Mhm 🤔 these logs don't provide much info, can you provide a reproducible example?

[2022-11-18 18:52] Morte83 commented on #9202
Reproducible example: https://github.com/Morte83/wdio-issue

[2022-11-18 19:50] BorisOsipov commented on #9202
As I see it is not wdio issue.
Selenium-standalone doesn't setup grid "properly" because it doesn't know which browsers\versions exist on your workstation and where they are placed on filesystem.

Wdio asks grid to run a new browser session with e.g. 107 version. Grid queues this request for `session-request-timeout` seconds(default is 300) and when timeout reached grid answers the error because g

[2022-11-18 20:07] #9202 closed

[2022-11-19 07:04] dragosMC91 commented on #5444
I don't think this is something webdriverio should handle, it's related to how mocha works if i understand it correctly: https://mochajs.org/#serial-mode -> if we look at 8.1 the docs state that mocha loads the test file, execute its suites (describe blocks) and finds/loads tests and hooks (before/ it blocks) within the suite (but does not execute them yet).

There are however workarounds to this

[2022-11-19 08:28] christian-bromann commented on #9151
After investigation it turns out that the way we had TS support set-up wasn't really working for ESM anymore. I didn't recognised it because ts-node would still compile but with default configurations. In a test project at my company I needed specific TS options and they did not get picked up because ts-node couldn't read the location of the tsconfig file.

Long story I [updated our TS integration

[2022-11-19 08:28] #9151 closed

[2022-11-21 15:57] ingemarson opened #9214 "[💡 Feature]: window.postMessage(...)"
### Is your feature request related to a problem?

yes, I already ask a question on gitter but without any success. the problem I have, is that the html page uses postMessage to send messages between a main window and a popup. my page object should be able to hook on that using  window.addEventListener("message", ...).

### Describe the solution you'd like.

maybe access to the window object? or s

[2022-11-21 17:29] christian-bromann commented on #9214
@ingemarson thanks for filing the issue.

This is currently technically not possible. I recommend raise a feature request in https://github.com/w3c/webdriver-bidi as it should be supported as event in the protocol at some point. I will close as there is currently nothing actionable. There might be ways to achieve this with the devtools automation protocol.

[2022-11-21 17:29] #9214 closed

[2022-11-21 19:03] kopax-polyconseil commented on #9155
Yes, it worked

Check the pull request linked by @christian-bromann  I shared those configuration :)

[2022-11-22 06:51] ingemarson commented on #9214
hey christian, many thanks for your fast response! kind of disappointing, but as it is technically not possible, what should you do ;-)

[2022-11-22 10:55] franck-jude opened #9226 "[🐛 Bug]: Webdriverio v7 screenshot issue/behaviour change"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

^7.0.0

### Node.js Version

v14.17.6

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

WDIO v7 often take screenshots th

[2022-11-22 11:26] bhanuagarwal73 commented on #7876
Team any resolution on this ??

[2022-11-22 16:16] segovia opened #9229 "[🐛 Bug]: --cucumberOpts.names ignored when running a wdio config."
### Have you read the Contributing Guidelines on issues?

- [x] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.5

### Node.js Version

16.13.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

I have a simple setup with

[2022-11-22 16:19] segovia commented on #9229
If I apply this patch to `@wdio/config`, the command executes as expected. Basically, I am adding code to handle transforming the names command line argument into a js array.

[code]

[2022-11-22 17:28] christian-bromann commented on #9229
@segovia mind raising a PR for this?

[2022-11-22 17:33] christian-bromann commented on #7876
Please check the progress on the PR, thanks!

[2022-11-22 17:38] christian-bromann commented on #9226
WebdriverIO doesn't do anything with the images generated by the driver or Puppeteer. So I doubt this is something that can be fixed by WebdriverIO but worth investigating the reason for this. Any contributions are welcome!

[2022-11-23 00:52] christian-bromann commented on #9035
I will go ahead and close this. Let me know if you can provide a simple reproducible example and I am happy to reopen.

[2022-11-23 00:52] #9035 closed

[2022-11-23 09:47] segovia commented on #9229
There you go: https://github.com/webdriverio/webdriverio/pull/9233

[2022-11-23 16:16] #7876 closed

[2022-11-24 06:58] rembeckyb opened #9238 "[💡 Feature]: Support "Capability-defined Spec Patterns" when running Suites for v7"
### Is your feature request related to a problem?

WebdriverIO supports ["Capability-defined spec patterns"](https://webdriver.io/docs/organizingsuites/#using-capability-defined-spec-patterns) when running "specs".  For example, given these capabilities:

[code]
And executing these specs:
[code]
Will result in these executions:
[code]
However, given those same capabilities, and executing this `Smo

[2022-11-24 20:18] christian-bromann commented on #9238
Thanks for proposing the idea.

I think it makes sense. This probably needs to get implemented in the [`ConfigParser`](https://github.com/webdriverio-community/wdio-chromedriver-service).

Any contributions that implements this feature are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheer

[2022-11-25 12:14] lyucos commented on #8835
Hi! I have the same issue. Could you tell, how did you located corrupted file?

[2022-11-25 12:15] lyucos commented on #8835
Hi! I have the same issue. Could you tell, how did you located corrupted file?

[2022-11-26 04:43] Ankit098 commented on #8835
@lyucos the binary would be in the `~/.browserstack` folder.. It is downloaded when you use the binding for the first time (after which the downloaded one is reused).

[2022-11-27 01:04] christian-bromann commented on #9199
Removed for `v8` in `main` branch, see https://github.com/webdriverio/webdriverio/commit/13cd692fafcb6ae80309b50d2490201de92a7c5f#diff-77007d1fd1f17a3a42b172c92c6000f6ac64d45f7091c24822551c25d0a9d45fL313-L318

[2022-11-27 09:22] toan301 commented on #8279
it didn't work for me. but thank ur suggestion

[2022-11-28 11:35] kopax-polyconseil commented on #4767
Hi, we have the exact same issue, did you solve it? I would gladly want to know how.

Our tests looks as follow:

[code]

[2022-11-29 07:53] #9229 closed

[2022-11-29 08:05] christian-bromann opened #9256 "Refactor type generation after killing sync mode"

[2022-11-29 08:07] #8949 closed

[2022-11-29 10:55] Zarmeena opened #9257 "Issue with Parallel tests in WebdriverIO for varied dataset"
@christian-bromann How can we execute Selenium tests in parallel through this? It continues to execute with next dataset in the currently focused browser window, itself and abruptly terminate. Also, it considers it to be a single execution instead of 2, corresponding to the dataset used.

_Originally posted by @Zarmeena in https://github.com/webdriverio/webdriverio/issues/4452#issuecomment-1330441

[2022-11-29 17:11] erwinheitzman commented on #9257
You're not using a unique name so the first result is overwritten with the second which is why you only see one.
You cannot run these in parallel while they are in the same file. In order to use one dataset I would dynamically create the test files using fs.writeFileSync and using a string template.

[2022-11-29 17:12] erwinheitzman commented on #9257
Oh and please refrain from pinging individuals when it's not needed.

[2022-11-29 17:31] #9257 closed

[2022-11-30 03:21] sdoigmm opened #9258 "wdio doesn't work with Chrome 108"
Chrome's latest version is 108. I have 108 installed.

I can't use wdio with ChromeDriver 106, as it won't work with Chrome 108.

The ChromeDriver npm package's latest version is 107.

Will I have to upgrade wdio to use ChromeDriver 107, and roll back my Chrome to use 107?

[2022-11-30 03:28] christian-bromann commented on #9258
You can customise which Chromedriver is version is being downloaded, see `CHROMEDRIVER_VERSION` environment variable, see also https://github.com/giggio/node-chromedriver#versioning

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questi

[2022-11-30 03:28] #9258 closed

[2022-11-30 06:54] Zarmeena commented on #9257
The example quoted above was from one of the discussions in past from another user, and was used by me for reference.

Also, I have already gone through the WebdriverIO documentation , my problem statement is different from standard parallel execution which I have already implemented.

Thanks for your response

[2022-11-30 07:03] christian-bromann commented on #9257
Running tests within a single spec in parallel is not supported by WebdriverIO. We advise to split up tests into multiple spec files.

[2022-11-30 08:03] #8730 closed

[2022-11-30 10:47] CNLHC opened #9260 "[🐛 Bug]: attach to session will not decorate protocol commands to the driver object"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

main

### Node.js Version

v16.16.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

## The Problem
I am using webdriver

[2022-11-30 16:48] christian-bromann commented on #9260
Thanks for raising the issue.

My suggestion here:
- add `const environment = sessionEnvironmentDetector({ capabilities, requestedCapabilities })` to the `attachToSession` method to determine the environment based on the capabilities provided
- enhance the [`isMobile`](https://github.com/webdriverio/webdriverio/blob/06a65895589a3bfc98a68f617cafe2a133bdd484/packages/wdio-utils/src/envDetector.ts#L9