[2022-06-20 18:00] pavanshirguppi commented on #4134
@christian-bromann  Yes it is working with a single element. But the dragged element is attached to the mouse pointer position and not at the droppable position. If the mouse pointer is at the droppable element then, dragAndDrop works else the test will fail.

Next, I tried moveTo for moving the mouse pointer to that position. It didn't work. basically, dragAndDrop test case fails.

[2022-06-20 19:45] christian-bromann commented on #4134
@pavanshirguppi I don't quite understand what you are describing. Please provide a reproducible example with information about what you'ld expect and what actually happens.

[2022-06-20 21:26] christian-bromann commented on #8377
@rameshkumarj can you provide an simple example which allows us to reproduce this? It can be on any random website. I believe in general the returned text should be not trimmed. WebdriverIO doesn't do any operations on it. The WebDriver protocol defines the `get element text` as basically doing this:

[code]

and `innerText` [is defined](https://html.spec.whatwg.org/multipage/dom.html#the-innertex

[2022-06-20 21:33] igor-lantushenko commented on #8438
@christian-bromann thank you for the answer.
Looks like docs need to be updated before this feature gets implemented.
Important part for me was: `will be run sequentially in a single instance`
We are running tests in sauce labs and have only 1 device available. Each spec takes around 30 seconds of waiting time till device is ready. We wanted to reduce time and have single session between specs.

[2022-06-20 21:33] christian-bromann commented on #8329
Hey @ansonallard 👋

Thanks for filing the issue. This is a difficult one because I would argue that the environment you run your tests in should redact secrets used within your tests. Github Actions for instance does this and I am sure also other CIs. I think it should be not too difficult to obfuscate the user and key from that specific `DATA` log but I don't think we can avoid all usecases here,

[2022-06-20 21:35] christian-bromann commented on #8438
Which part needs to get updated and what update would you suggest?

Not sure what you mean by that. Yes, grouping specs as you want to do would avoid spawning new sessions after every test.

[2022-06-20 21:36] christian-bromann commented on #8354
Closing as this got fixed by @joshskumar , thank you!

[2022-06-20 21:36] #8354 closed

[2022-06-20 21:37] christian-bromann commented on #8373
Closing due to inactivity. Happy to re-open if anyone wants to contribute a fix to the [v6](https://github.com/webdriverio/webdriverio/tree/v6) branch.

[2022-06-20 21:37] #8373 closed

[2022-06-20 21:44] christian-bromann commented on #8352
I looked into different responses from browser and found the following:

Chrome
[code]

Firefox
[code]

Safari
[code]

I think we can modify the error message to include the selector here.

[2022-06-20 21:46] igor-lantushenko commented on #8438
@christian-bromann but here is a doc: https://webdriver.io/docs/organizingsuites#grouping-test-specs-to-run-sequentially

**Grouping Test Specs To Run Sequentially:**
As described above, there are benefits in running the tests concurrently. However, there are cases where it would be beneficial to group tests together to run sequentially in a single instance. Examples of this are mainly where there

[2022-06-20 21:48] praveendvd commented on #6423
@christian-bromann just eager to know why we are using webdriver actions instead of click ? https://www.w3.org/TR/webdriver/#element-click

[2022-06-20 21:49] praveendvd commented on #8440
@christian-bromann just eager to know why we are using webdriver actions instead of click ? https://www.w3.org/TR/webdriver/#element-click

[2022-06-20 22:06] christian-bromann commented on #8352
Implemented in https://github.com/webdriverio/webdriverio/pull/8457

[2022-06-20 22:06] #8352 closed

[2022-06-20 22:09] christian-bromann commented on #8440
@praveendvd because the webdriver click command doesn't allow to set an offset nor the mouse button, so it is very limited.

You like to take a stab at this?

[2022-06-20 22:10] christian-bromann commented on #8438
Can you explain how you understand it and what suggestion/changes you would suggest?

[2022-06-20 22:14] christian-bromann commented on #8197
@NisStrom I just raised a PR to improve invalid selector error messages. Could you help on this one and provide the WebDriver response, so I could enhance this patch to also include mobile selectors?

[2022-06-20 22:22] praveendvd commented on #8440
@christian-bromann sure christian , was thinking should we use webdriver.click in normal case and for everything else use action . Or we just need to add a parameter to make releaseaction optional ?

[2022-06-20 22:25] christian-bromann commented on #8440
As mentioned above we should add an option to `ClickOptions`, named maybe `skipRelease` that if set to true skips the [`releaseAction` call](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/element/click.ts#L136-L138).

[2022-06-21 08:39] igor-lantushenko commented on #8438
@christian-bromann I'm just suggesting to remove nested array example from documentation (for both `specs` and `suites`) until its done

[2022-06-21 09:08] christian-bromann commented on #8438
For `specs` this functionality is working but not for `suites`.

[2022-06-21 14:56] JordiSAGE commented on #8435
Hi @christian-bromann

First, Thanks for your support.

You can check the issue by taking the auto-generated wdio project as a base and add the following file:
![image](https://user-images.githubusercontent.com/33693547/174830078-28f9ba67-5460-4a21-b680-f967fcb77f6c.png)
With this content:
[code]
You will see that the before event console.log statement will not be displayed, preventingt any senten

[2022-06-21 15:16] christian-bromann commented on #8435
@JordiSAGE where is the `event-hooks.ts` referenced in the Cucumber config? I am not a Cucumber expert but the framework afaik doesn't pick up this file automatically, no?

[2022-06-21 17:34] tiagocmendes commented on #5505
Do you know what is the status of this issue?

[2022-06-21 17:35] christian-bromann commented on #5505
@tiagocmendes contributions are welcome!

[2022-06-21 18:17] cpcallen commented on #8279
We are seeing this on node.js v18.4 on Linux (including [in GitHub CI here](https://github.com/google/blockly/runs/6922998643?check_suite_focus=true)) but not on node.js v14 or v16.

Interestingly we are also _not_ seeing this issue on node.js v18.4 on macOS (Monterrey).

[2022-06-21 20:05] christian-bromann opened #8459 "[💡 Feature]: Bump Puppeteer version to latest"
### Is your feature request related to a problem?

Currently we can't update Puppeteer as it fails type iessues (see https://github.com/webdriverio/webdriverio/pull/8446).

### Describe the solution you'd like.

Find a way to resolve these type issues and bump Puppeteer everywhere.

### Describe alternatives you've considered.

_No response_

### Additional context

_No response_

### Code of Cond

[2022-06-21 20:11] pinim opened #8460 "[💡 Feature]: add option to spec reporter - "successesFailuresAfterRetries: false""
### Is your feature request related to a problem?

no, it's only addition i think should good to exist.

### Describe the solution you'd like.

as a developer, when i saw test fails, it can confusing me, so , i think, if test passes after retry, it will be great to remove it from the failure results.

### Describe alternatives you've considered.

_No response_

### Additional context

_No response

[2022-06-22 11:58] JordiSAGE commented on #8435
Hi again @christian-bromann
As far as I remember, it shouldn't be referenced in the wdio config in any way, and it was working this way until version 7.19.4

[2022-06-22 14:00] nextlevelbeard commented on #8416
@christian-bromann There is a fix for this pending since November last year -> https://github.com/webdriverio/webdriverio/pull/7740.
Could someone take a look?

[2022-06-22 14:16] christian-bromann commented on #8435
@JordiSAGE can you create a minimal reproducible example?

[2022-06-22 14:36] nextlevelbeard commented on #7739
Fixed by #7740

[2022-06-22 14:58] hassan-sahib commented on #521
is there any update on this?

[2022-06-22 16:38] christian-bromann commented on #521
@hassan-sahib what updates to you expect, this issue is closed a while ago and it was identified that this is not fixable in WebdriverIO.

[2022-06-23 08:17] hassan-sahib commented on #521
its been 7 years, i thought it would have been implemented by now

[2022-06-23 10:41] igor-lantushenko commented on #8438
@christian-bromann but it does not work for `specs` as well, same error

[2022-06-23 11:47] christian-bromann commented on #8438
Can you provide a minimal reproducible example?

[2022-06-23 11:48] christian-bromann commented on #521
@hassan-sahib maybe you want to reach out to the Appium folks. It would need to be implemented there.

[2022-06-23 14:55] mayankshukla94 commented on #7855
@christian-bromann I would like to contribute here. I can debug the code and investigate how this can be fixed.

cc: @darshanshah1996

[2022-06-23 15:19] praveendvd commented on #8440
@christian-bromann  hi christian i accidentally added the commit to main , i reverted it . will create a separate branch

[2022-06-23 15:31] christian-bromann commented on #8440
Let's continue convo in #8465, thanks for taking a stab at it @praveendvd

[2022-06-23 15:31] #8440 closed

[2022-06-23 15:32] christian-bromann commented on #7855
@mayankshukla94 awesome, thanks! Let me know if you have any questions.

[2022-06-23 16:13] owens-ben commented on #7855
@mayankshukla94 cheers!

[2022-06-23 19:46] igor-lantushenko commented on #8438
@christian-bromann  found out the root cause, I had old and different versions:
[code]
and with this setup - I got that error,
after updating the stuff:
[code]
Now it is working well, thanks for your time!

[2022-06-23 20:11] christian-bromann commented on #8438
@igor-lantushenko does it work for both, suite definition and specs?

[2022-06-23 20:12] igor-lantushenko commented on #8438
@christian-bromann yeap , no problem here, just version mismatch

[2022-06-23 20:12] #8438 closed

[2022-06-23 22:00] StuMinch commented on #381
Super helpful. Thank you!

[2022-06-24 07:52] christian-bromann opened #8467 "[📖 Docs]: Add information that mock commands are only working for local tests"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation

### Description of the improvement / report

On pages like https://webdriver.io/docs/api/mock/abort we should show an informational banner saying that these commands are only supported when run locally.

### Code of Conduct

- [X] I agree to follow this project's Code

[2022-06-27 07:39] christian-bromann commented on #8415
Closing due to inactivity.

[2022-06-27 07:39] #8415 closed

[2022-06-27 07:47] Elimes7 commented on #8022
I have the same problem. Can't drop a **li** element (when I drag a li element and try to move it to the 2nd li, it's not moving, only pressed). I tried different options: dragAndDrop(), performActions(), html-dnd, etc. Nothing helped me.

[2022-06-27 09:30] p001389 opened #8469 "Failed loading configuration file when use wdio-video-reporter with node 16"
ERROR @wdio/config:ConfigParser: Failed loading configuration file: {MyPath}\wdio.conf.js: undefined

The error just happen when I require to `wdio-video-reporter` in configuration file and using `Node 16 version`.
The error not happen when I use Node 14 version
[code]
More info about package.json
[code]

[2022-06-27 09:42] christian-bromann commented on #8469
@p001389 please raise the issue in the [video reporter](https://github.com/webdriverio-community/wdio-video-reporter/issues) project, thank you!

[2022-06-27 09:42] #8469 closed

[2022-06-27 12:00] yohainnn opened #8480 "ReferenceError: browser is not defined"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.3.2

### Node.js Version

16.15.1

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

1. I have followed the wizard termi

[2022-06-27 12:02] christian-bromann commented on #8480
@yohainnn how did you run the test?

[2022-06-27 12:03] #8480 closed

[2022-06-27 14:38] kajmagnus commented on #4913
@DenysBarkan and others — only this: `"fibers": "^5.0.0"` didn't work for me, because Webdriverio v6 depends on Fibers v4. If you just add Fibers v5, it'll get installed, but Webdriverio continues using v4. (As far as I've understoold, looking at `yarn.lock`.)

But by allso adding a `"resolutions": ...` entry to force Webdriverio to use Fibers v5, `sync` started working for me with Nodejs 14.

Her

[2022-06-28 00:21] razan45 commented on #7992
Added a PR as I had a similar use case.

[2022-06-28 03:43] esaari commented on #8467
Would this still be true if run against an endpoint that has the CDP endpoint exposed, i.e. Selenium Grid 4? The work done in this PR: https://github.com/webdriverio/webdriverio/pull/6508 should support that, correct?

[2022-06-28 03:45] volodymyrk3 commented on #4404
can you please give an example of how to implement it, cannot find it in the documentation anywhere, thanks

[2022-06-28 07:09] christian-bromann commented on #4404
@volodymyrk3 did you take a look into the [docs](https://webdriver.io/docs/boilerplates#warleygabrieldemo-webdriverio-cucumber)?

[2022-06-28 07:10] christian-bromann commented on #8467
Correct, if a CDP socket is exposed all the commands work.

[2022-06-28 07:47] JordiSAGE commented on #8435
Hi @christian-bromann
You can reproduce the issue just using the WebdriverIO Starter Toolkit default project with the following configuration:
![image](https://user-images.githubusercontent.com/33693547/176122689-3bd5ad2b-6b75-4fb0-9372-4e53abc7116a.png)
Once generated, it's just a matter of creating the file /events/event-hooks,ts with the following content:
[code]
And that's it.
Thanks again for

[2022-06-28 07:53] JordiSAGE commented on #8435
Sorry, I forgot to add the file in the index.ts when I've refactorized it into a separate file, my bad!

[2022-06-28 07:53] #8435 closed

[2022-06-28 11:30] lacell75 commented on #4951
any news on this topic? I am interested in this feature

[2022-06-28 11:54] christian-bromann commented on #4951
This is a great issue to pick up @lacell75 , any contributions are welcome!

[2022-06-28 14:46] volodymyrk3 commented on #4404
@christian-bromann umm yes, I checked all the boilerplate projects, and unfortunately cannot find at least one example of usage of ts + multiremote feature, thanks anyway

[2022-06-28 14:51] christian-bromann commented on #4404
The example [I linked](https://webdriver.io/docs/boilerplates#warleygabrieldemo-webdriverio-cucumber) is Cucumber with TS. There should be nothing special to be aware of in order to make this a multiremote project. If so please let me know and we can work on the docs.

[2022-06-29 07:48] carri747 opened #8482 "[🐛 Bug]: Error clicking in "a" element in chromedriver version 103"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

15.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I updated chromedriver version fr

[2022-06-29 07:51] christian-bromann commented on #8482
Can you provide a reproducible example?

[2022-06-29 11:54] carri747 commented on #8482
Scenario: test
        Given test click

[code]

[code]
You can see that WDIO click cookie popup to accept and after that change the language page to Chinese and after change the language again to English. Result:
- Page change to English
- Error timeout wafting the button that I clicked previously

I try the same with **wdio 7.20.5** changing this Promise<ChainablePromiseElement<Promise<Webdriver

[2022-06-29 21:51] jswitzer-lulus opened #8483 "[🐛 Bug]: Type definition is wrong for ChainablePromiseArray index operator"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.7

### Node.js Version

v16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I ran the following code (on a pa

[2022-06-29 22:07] christian-bromann commented on #8483
Thanks @jswitzer-lulus for reporting!

Seems that our types are not quite correct here. The type definition for `ChainablePromiseArray ` can be found [here](https://github.com/webdriverio/webdriverio/blob/7c78ed553601b6dfaecc1024c96816224b0e134c/packages/webdriverio/src/types.ts#L54-L93).

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution gui

[2022-06-30 07:55] #7018 closed

[2022-06-30 11:30] erwinheitzman commented on #8482
This works just fine however there are a few noteworthy things:

1. the window size matters, if the window is too small it will not show the language buttons
2. you are using an incorrect selector `//a[@lang="zh"]` should be `//a[@lang="zh-cn"]`
3. there's a privacy dialog that interrupts the test, first wait for the dialog, accept the cookies, then you are free continue

[2022-06-30 11:37] christian-bromann commented on #7264
This seems to be the expected behavior of Jasmine, see https://jasmine.github.io/tutorials/upgrading_to_Jasmine_4.0#changes-to-how-beforeall-and-beforeeach-failures-are-handled

If folks have a problem with this behavior, I recommend to switch to Mocha where every failure is marked as a failure in the spec.

[2022-06-30 11:37] #7264 closed

[2022-06-30 11:38] erwinheitzman commented on #8482
Apologies, I accidentally ran the above with the devtools protocol instead of chromedriver. When using Chromedriver this is indeed an issue and I would say that this seems to be an issue in the Chromedriver and not with WebdriverIO, would you agree @christian-bromann ?

[2022-06-30 11:54] christian-bromann commented on #8482
@erwinheitzman thanks for investigating. It is unlikely that this is a problem with WebdriverIO but I don't want to be draw any conclusions without knowing more. Do you see any difference how the browser behaves between devtools and webdriver? My assumption is that the xPath (`//a[contains(@href, "/sso?SaleID=28937&SaleNumber=19645")]`) is interpreted differently. Can we try with a different selec

[2022-06-30 15:33] erwinheitzman commented on #8482
Sure, I can test this later today and will report the findings here

[2022-06-30 18:12] christian-bromann commented on #8482
Is the element actually there?

[2022-06-30 21:47] erwinheitzman commented on #8482
Well yeah because it passes in puppeteer so the element is rendered.

[2022-06-30 23:24] andvalsol commented on #521
This issue should be opened again

[2022-07-01 07:40] christian-bromann commented on #521
@andvalsol why? How do you think this can be solved in WebdriverIO? I am happy to re-open if you have a suggestion what we can improve.

[2022-07-01 09:41] Pandicool opened #8484 "[💡 Feature]: Scroll in to view - Scroll the element in to center of the page"
### Is your feature request related to a problem?

We have a problem scrolling the particular element in my application.

Element is scrolling but hiding behind the navigation bar so it's throwing click intercept exception.
NOTE: scrolling in to view only scrolling the element in to the top of the page

Example:

**want to get Navbar text:**
![image](https://user-images.githubusercontent.com/51842

[2022-07-01 09:46] balualtimetrik commented on #8484
Great Idea @Pandicool.
I was thinking the same, faced this issue.
The scroll should move the element by default to center instead of scrolling it to the top of the view port.

[2022-07-01 16:24] Pandicool commented on #8484
Thanks, @christian-bromann  its working but not able to pass the boolean option it's showing an error but is able to scroll to center properly with block and inline center.

[2022-07-02 08:01] christian-bromann commented on #8484
[code]
should work as well.

[2022-07-02 14:10] vivekkurhe05 opened #8485 "wdio-slack-service does not send notification on test failure"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.5

### Node.js Version

v16.13.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I want to send test report on sla

[2022-07-03 10:23] Sumit-Soman commented on #5545
@christian-bromann can you please let us know by when can we expect fix for this issue. Or an alternate solution to handle it for time being. Need to take screenshot on failure with latest V7 Webdriverio Appium framework. Ant help here will be appreciated

[2022-07-03 16:46] mayankshukla94 commented on #7855
@owens-ben I investigated this and looks like `wdio-video-reporter` does not generate video when `services` is set as `devtools`. The problem is with `wdio-video-reporter` and not with `Devtools`. I'll check how can we fix this.

cc: @christian-bromann @darshanshah1996

[2022-07-04 07:42] christian-bromann commented on #8485
@vivekkurhe05 thanks for reporting.

Unfortunately there is nothing that can be fixed about this within the core WebdriverIO repository. I recommend to report this problem in the [slack reporter project](https://github.com/kmnaid/wdio-slack-reporter) thanks.

[2022-07-04 07:42] #8485 closed

[2022-07-04 07:43] christian-bromann commented on #7855
Thanks for investigating @mayankshukla94 , I will close this issue here then.

[2022-07-04 07:43] #7855 closed

[2022-07-04 07:47] christian-bromann commented on #5545
@Sumit-Soman I think I made it very clear that help on this issue is very much appreciated. Don't wait until this gets fixed by the core team because this will likely not happen anytime soon. Get involved in the project and give back by contributing a fix for this.

[2022-07-04 08:06] mayankshukla94 commented on #7855
@christian-bromann Do we need to check why videos are not generated when services is set to `devtools`?

[2022-07-04 10:24] christian-bromann commented on #7855
@mayankshukla94 right, but I assume this has to do with the video service rather than WebdriverIO itself which is why I suggest to report the issue there.

[2022-07-04 13:56] mbjaved005 commented on #8482
I've encountered the same problem described in the 5th and 6th points. The button is clicked and the navigation is successful, but the command(click in this case) times out. Setting the retry timeout a little higher and the pageLoadStrategy to 'none' helps a bit but is definitely not the required solution here. The call still times out when multiple features are executed simultaneously especially

[2022-07-05 08:45] spazbg commented on #8022
I got the same issue, too. The mouse pointer moves to the element, click and hold, but no movement after that...
  "@wdio/cli": "^7.19.7"

Any help is appreciated

[2022-07-05 14:48] igor-lantushenko opened #8497 "[🐛 Bug]: Junit reports n * n test suites in case of grouping test specs to run sequentially"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.3

### Node.js Version

v15.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

In case if we use nested array in

[2022-07-05 15:15] BorisOsipov commented on #8497
We would appreciate any help on this. Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md?rgh-link-date=2022-03-10T10%3A50%3A05Z) and reach out if you have any questions. Cheers!

[2022-07-05 19:01] BorisOsipov commented on #8497
@igor-lantushenko The problem[ is here ](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-junit-reporter/src/index.ts#L256) - `this.suites` contains incorrect data - the very n * n results.

`this.suites` comes and changes in [base reporter class](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-reporter/src/index.ts#L19).

[2022-07-07 04:26] octome22001 commented on #8018
@minakshif @bolem3560 @Akupsmee you can try moving 2 files "tsconfig" and "wdio.conf" out of the "test" folder to the root project folder. Hope it works for you guys.

[2022-07-07 04:29] HaHuynhVN commented on #8018
@minakshif @bolem3560 @Akupsmee you can try moving 2 files "tsconfig" and "wdio.conf" out of the "test" folder to the root project folder. Hope it works for you guys.

[2022-07-07 06:15] VitaliLebedzeu opened #8501 "[🐛 Bug]: error in downloading selenium-standalone - Error in "getDownloadStream""
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

The selenium-standalone service cou

[2022-07-07 07:03] christian-bromann commented on #8501
Please update your dependencies then. The `selenium-standalone` dependency is defined as `"selenium-standalone": "^8.0.3"` so it should get you that version when you install it.

[2022-07-07 07:03] #8501 closed

[2022-07-07 08:18] VitaliLebedzeu commented on #8501
@christian-bromann this issue happens because of the old baseURL described in the documentation. Selenium-standalone doesn't use it anymore. I've created a PR for fixing documentation [#8502](https://github.com/webdriverio/webdriverio/pull/8502)

[2022-07-07 10:06] julianfarizi commented on #8253
Same Issue here.
Using cucumber framework
Framework will start more than 100 workers and 78 will be executed at the end
issue about time will grow exponentially with the amount of feature files for sure.
Any idea how to fix it?
Happy to share more details if it will help to fix this behavior .. wondering that not more people report this issue :)

[2022-07-07 10:08] christian-bromann commented on #8306
With https://github.com/webdriverio/webdriverio/commit/e970be91d016d9c8ed69e7837ddb5b6e96c108a4 we finalised the ESM transition of the core modules. It is not required for services and reporters to transition to ESM before the `v8` release. Therefor we can close this and mark it as done 🎉

[2022-07-07 10:08] #8306 closed

[2022-07-07 10:14] christian-bromann commented on #8253
Please get involved and help us find a fix for this. Thanks!

[2022-07-07 10:16] christian-bromann commented on #8501
Cheers for the doc update!

[2022-07-07 10:54] christian-bromann opened #8503 "[💡 Feature]: Implement WebDriver Bidi primitives"
### Is your feature request related to a problem?

With Firefox 101 the first browser with Bidi primitives has been shipped to users. Let's ensure we provide 1st class support for it.

### Describe the solution you'd like.

The `webdriver` package should allow to send raw bidi web socket messages while the `webdriverio` package should offer handy interfaces to use it effectively.

### Describe alt

[2022-07-08 19:26] wyhmichael commented on #6346
Yep, @christian-bromann still experiencing this with latest WDIO and async mode, like @RafalSkorka mentioned this is related to `deleteSession` and `executeHooksWithArgs`

Introduced by https://github.com/webdriverio/webdriverio/issues/6068, the log would be cleared when command === 'deleteSessioin' - https://github.com/webdriverio/webdriverio/pull/6073/files#diff-b08c37e616f7015c3c66a75fde5d6a5f9

[2022-07-08 23:03] wyhmichael commented on #6346
hi @christian-bromann I put up a PR with a workaround about this issue, please let me know how you think about it - https://github.com/webdriverio/webdriverio/pull/8506, thanks~

cc @RafalSkorka

[2022-07-09 07:47] zhangster opened #8507 "[🐛 Bug]: no lines or helpful info displayed for "element not interactable""
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19

### Node.js Version

18.3.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I'm getting this error.  It has no he

[2022-07-11 08:10] christian-bromann commented on #8459
Fixed in https://github.com/webdriverio/webdriverio/pull/8508 - this will land in `v8` as Puppeteer v14 drops Node v12 support.

[2022-07-11 08:10] #8459 closed

[2022-07-11 11:14] christian-bromann commented on #8507
Thanks for reporting!

I wonder if we loose the stacktrace when [parsing out the error](https://github.com/webdriverio/webdriverio/blob/21eb204333d2c66159e9b68325dfcf7afa7067c9/packages/webdriver/src/utils.ts#L213-L233) from the webdriver response.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contri

[2022-07-11 12:45] alliv8 commented on #6445
Hi @christian-bromann , `app` is an [appium capability](https://appium.io/docs/en/writing-running-appium/caps/#general-capabilities) and not specific to BS.

Is handling 'appium' specific capabilities out of the box part of WebdriverIO's roadmap for W3C formatted caps?

@pablocoletto if you're still facing issues with w3c formatted caps, refer the below config object:
[code]

There is a mix of `ap

[2022-07-11 12:53] christian-bromann commented on #6445
It is already supported, you have to use `appium:app`

[2022-07-11 14:25] christian-bromann commented on #8377
Closing due to inactivity. Happy to reopen, once a reproducible example can be provided.

[2022-07-11 14:25] #8377 closed

[2022-07-11 15:33] alliv8 commented on #6445
My question was more around if WebdriverIO would auto handle prepending of `appium:xyz` to appium specific capabilities as it is auto handled in other appium client bindings. Currently, across appium documentation, they directly mention the use of these capabilities without the `appium` keyword.

For example, the appium-python-client handles this under the hood.

The JS client [wd](https://www.npm

[2022-07-11 17:19] thescripted commented on #6361
@christian-bromann But this approach wouldn't work in Saucelab anyway (which was the original commenter's note) because of Chrome DevTools protocol, right?

I also am interested in this feature and am actually willing to implement it if possible. Any way we can set browser headers that would also work on cloud vendors?

Off the cuff, is something like this viable:
[code]
or a `headers:` field with

[2022-07-12 01:44] HarryFree commented on #6445
I am trying to add `chromedriverExecutable: "/usr/local/bin/chromedriver"` and got an error. Is it related to this thread? Please help on this.

[code]

[2022-07-12 06:32] christian-bromann commented on #6445
@HarryFree if you like to set a custom Chromedriver path, please see [the docs](https://webdriver.io/docs/wdio-chromedriver-service#chromedrivercustompath).

[2022-07-12 06:42] HarryFree commented on #6445
@christian-bromann Thank you for pointing this. But I would like to set in appium service. Do you have any reference document please?

(Launching chrome browser in mobile emulator.)

[2022-07-12 07:06] HarryFree commented on #6445
@christian-bromann I got the solution and it is working fine.

[code]

after start activity, i changed the context and no errors now. But I got another challenge.

1. Open the url in the mobile chrome browser
2. We have a button `Continue to app` after launching the url. Manually When click on it, it is opening the app but it is not working through the script. I debugged it and it is actually clic

[2022-07-12 11:33] christian-bromann opened #8519 "[📖 Docs]: document `autoCompileConfig`"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation

### Description of the improvement / report

It seems that `autoCompileConfig` is no where documented. We should update this.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-07-12 15:23] esnoar commented on #8253
I'm facing this issue too and I'd be happy to contribute and help fix it. However, I don't have experience contributing to open-source projects and don't know what part of the code should I look at to debug this. Any suggestions?

[2022-07-12 19:28] esnoar commented on #8253
@christian-bromann I debugged the code with the cucumber example located in `examples/wdio/cucumber` and I found that the method you mentioned is [called](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cucumber-framework/src/index.ts#L119) after the workers have been initialized.

I dove deeper into other packages and found that the `getSpecs()` method defined in [`packages/wdi

[2022-07-12 19:42] christian-bromann commented on #8253
Thanks for the analysis. It is hard to say what is going without debugging the issue. Unfortunately I don't have the capacity right now as I am working on the new `v8` release. I am happy to support anyone who takes a stab at this.

[2022-07-12 23:42] erwinheitzman commented on #8253
@esnoar thank you for taking a look at this!

Since the issue seems quite specific to Cucumber, my guess would be that the tag filtering might not be working as expected which can be found here https://github.com/webdriverio/webdriverio/blob/c74ad391f1e8d353e9e7dbc78a3b1c857480604a/packages/wdio-cucumber-framework/src/cucumberEventListener.ts#L437

I think you are able to place a console.log and v

[2022-07-13 06:31] chanyk-joseph opened #8521 "[🐛 Bug]: waitForExist(reverse=true) throws exception when element is not found using devtools automationProtocol mode with browser.setTimeout({ 'implicit': xxxx });"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Querying non-existing element with

[2022-07-13 08:55] erwinheitzman commented on #8521
Hi, I'm sorry but I was not able to reproduce this issue.

Can you provide a reproduction path that always works?
I suggest generating a new project using the CLI as follows to test if this is an issue in the latest version:
[code]
During the configuration, don't install a driver and it will automatically use the CDP, however if you want you can still set the `automationProtocol: 'devtools',` but

[2022-07-13 09:19] erwinheitzman commented on #8519
Is this about `autoCompileOpts` as I am not aware of any `autoCompileConfig`?

[2022-07-13 09:56] christian-bromann commented on #8519
Yes, you are right, see I got confused about this and was wondering why we don't have docs for this.

[2022-07-13 09:57] christian-bromann commented on #8519
Actually we have them [here](https://webdriver.io/docs/typescript/#configuration) but these are testrunner options and should also documented [here](https://webdriver.io/docs/options).

[2022-07-13 12:13] philippthiele opened #8522 "[🐛 Bug]: SevereServiceError: Couldn't start Chromedriver: timeout Please check if port 9515 is in use"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.5

### Node.js Version

16.15.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

When using wdio-chromedriver-servi

[2022-07-13 17:19] christian-bromann commented on #8522
As the error states, wdio-chromedriver-service is unable to start on the default port `9515`. If this port is used please set a different port in the capabilities. Closing as this is not a bug.

[2022-07-13 17:19] #8522 closed

[2022-07-14 09:15] erwinheitzman commented on #8253
@esnoar nice going with the debugging. A few things that I noticed:

 1. I think that in order to skip the feature file you would have to put the tag at the feature level. I have tried that but it made no difference as of right now but when the feature is fixed, I do think this is needed.
 2. I found the original implementation which might help to verify some assumptions https://github.com/webdriv

[2022-07-14 15:48] bharatsinghoh commented on #2832
I have commented the code until we enable all the toggles

[2022-07-14 20:45] jlipps opened #8523 "[🐛 Bug]: appium resetApp command refers to non-existent appium endpoint"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

`appium.json` has these line

[2022-07-15 06:36] chanyk-joseph commented on #8521
Hi @erwinheitzman ,
I managed to reproduce the issue. It is related to `await browser.setTimeout({ 'implicit': xxxxxxx });`

[code]

Result:
[code]

[2022-07-15 06:46] chanyk-joseph commented on #8521
The issue happens even the implicit timeout is larger than the timeout in waitForExist, ie.
[code]

[2022-07-15 07:17] christian-bromann commented on #8521
We do not recommend to use implicit timeouts at all. I will add a note to the `setTimeout` docs.

[2022-07-15 07:17] #8521 closed

[2022-07-15 07:27] christian-bromann commented on #8523
Oh I think this was a missunderstanding as in #6977 someone pointed out that WebdriverIOs command naming wasn't consistent so in https://github.com/webdriverio/webdriverio/pull/7002 we introduced `resetApp` but it didn't point to the same route. I will fix this and mark it as deprecated.

[2022-07-15 07:28] #8523 closed

[2022-07-15 07:52] antonborisoff commented on #5611
@adrian-brown , @nescalante , @ayroblu , it seems the documentation is invalid. I contacted the guys in SauceLabs and they said it is available in the following form:
[code]
You need to set extendedDebugging to true. Here is the link to docs (ignore interceptRequest command in the examples, it doesn't work, you should execute the script): https://docs.saucelabs.com/insights/debug/

[2022-07-15 08:25] christian-bromann commented on #5611
@antonborisoff thanks for letting us know. So does:

[code]

not work anymore?

[2022-07-15 10:03] wswebcreation commented on #5611
@christian-bromann

No, it doesn't. I'm checking internally what the issue is. This works
![image](https://user-images.githubusercontent.com/11979740/179201658-10b3b4c5-4bac-48d1-b3ae-834abc81e25c.png)

but this doesn't
![image](https://user-images.githubusercontent.com/11979740/179201690-eae514b2-446a-4bf4-8841-cbb54001f6e9.png)

[2022-07-15 10:05] christian-bromann commented on #5611
Maybe:
[code]
?

[2022-07-15 10:08] wswebcreation commented on #5611
nope, that fails in WDIO because it expects a rule object

[2022-07-15 10:18] christian-bromann commented on #5611
@wswebcreation can you check by tweaking the protocol definition in `/packages/wdio-protocols/apis/sauce.json` I think the problem is that the protocol was not defined correctly in WebdriverIO.

[2022-07-15 10:18] wswebcreation commented on #5611
@christian-bromann

When I change this in the `saucelabs.json` file

[code]

to (don't mind the description

[code]

it works with this command

[code]

[2022-07-15 10:19] christian-bromann commented on #5611
That's it!

[2022-07-15 10:21] wswebcreation commented on #5611
Shall I create a PR for this? It's a pretty easy fix, but also needs a website release

By the way, I like this

[code]
better then this
[code]
Not sure if I create a PR for it where this needs to be changed.

[2022-07-15 11:57] christian-bromann commented on #5611
It would be awesome if you could send a PR. A change to the protocol file should be sufficient.

Unfortunately protocol commands are currently implemented so that every body parameter is a function parameter. I suggest to implement Sauce Labs support for the current [mock object](https://webdriver.io/docs/api/browser/mock) so that local testing works the same way as remote testing.

[2022-07-15 12:20] wswebcreation commented on #5611
ok, will first create a PR for it

[2022-07-15 12:25] wswebcreation commented on #5611
Hmm, @christian-bromann

It might not be as easy, see https://docs.saucelabs.com/insights/debug/#intercept-network-requests

There are multiple options:

- redirect
- error
- response

How should I handle that in the protocol?

[2022-07-15 14:02] carri747 commented on #8482
I found the same error in Edge. I don't know but maybe it's something regarding because both of them are base in Chromium

[2022-07-15 14:11] wswebcreation commented on #5611
ok, let me try that locally. Not sure If I'm able to create a PR for it today, but will let you know

[2022-07-15 15:40] jlipps commented on #8523
awesome thanks!

[2022-07-15 16:07] aleffeh opened #8526 "[🐛 KY]: Last update breaks node12 support"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.20.6

### Node.js Version

12.22.8

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Our app had the webdriveri

[2022-07-15 17:03] praveendvd commented on #8507
@christian-bromann this was the same behavior i was getting but was not able to reproduce in any other OS worked after updating wdio . @zhangster Please make sure you are using webdriverio latest , and please provide a reproducible example

[2022-07-15 18:18] ayroblu commented on #5611
I saw that webdriverio 7 supports mock, I'm not sure what value saucelabs intercept has over webdriver's mock

[2022-07-15 18:23] christian-bromann commented on #5611
@ayroblu the mocking capabilities webdriverio currently has are only for local testing and don't work with Sauce Labs. This command allows similar features for running tests in the cloud.

[2022-07-15 18:37] #8526 closed

[2022-07-15 18:38] ayroblu commented on #5611
Thanks, I see, I guess if we end up using this we'll need to write a wrapper around them

[2022-07-15 18:38] christian-bromann commented on #8526
Unfortunately it seems that `ky` (which allows to run the `webdriver` package in the browser) doesn't use semver which is why I didn't notice this breaking change. I pushed a commit to pin the version back to `v.0.30.0`.

[2022-07-15 19:00] christian-bromann commented on #8417
Closing due to inactivity.

[2022-07-15 19:00] #8417 closed

[2022-07-16 16:10] akhil1809 opened #8527 "Distribute test cases on multiple mobile devices"
### Discussed in https://github.com/webdriverio/webdriverio/discussions/8076

<div type='discussions-op-text'>

<sup>Originally posted by **kitoymonster** March  3, 2022</sup>
Hi guys.

Is it possible to distribute test case execution on multiple android devices? So far, I have already configured the test to run on multiple devices but it's testing the same test cases so my 7 test will generate 14

[2022-07-17 17:04] christian-bromann commented on #8329
Closing due to inactivity.

[2022-07-17 17:04] #8329 closed

[2022-07-17 17:07] christian-bromann commented on #7992
With #8560 you have now access to the cid within the worker via `process.env.WDIO_WORKER_ID`.

[2022-07-17 17:07] #7992 closed

[2022-07-17 18:00] praveendvd commented on #8482
@christian-bromann and @erwinheitzman

The issue with this is that chromedriver throws error after clicking the element :

 Request failed with status 500 due to unknown error: cannot determine loading status

and after that it retries to find the element again  but by that time the language changes and element is no longer present

[2022-07-17 18:24] praveendvd commented on #8482
https://bugs.chromium.org/p/chromedriver/issues/detail?id=3361 ,

[2022-07-17 18:36] praveendvd commented on #8482
Just wait for all iframes:

[code]

[2022-07-18 07:25] erwinheitzman commented on #8482
@praveendvd that shouldn't be needed though

[2022-07-18 08:28] praveendvd commented on #8482
@erwinheitzman yes but waiting for iframe or adding an implicit wait fixes the issue , it doesnt seems to be wdio related

[2022-07-18 13:46] icelandld815 opened #8539 "[🐛 Bug]: cucumberOpts require is not working properly on windows"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

When I upgrade  npm usage "@wdio

[2022-07-18 14:04] christian-bromann commented on #8539
Have you tried using `path.resolve` properly and instead of doing this:

[code]
do this:
[code]
Note: windows has a different path separator `/` vs `\\`.

[2022-07-18 18:23] nikunj1977 commented on #4600
@christian-bromann - Thank you for swift response, As I said I am aiming to run a test on chrome on my local without having "@wdio/crossbrowsertesting-service": "^7.20.7" because in v4 we could run without having this dependency.

[2022-07-18 18:55] christian-bromann commented on #4600
@nikunj1977 if you want to run tests locally, remove the `user` and `key` options in your config and the CBT service from the service list.

[2022-07-18 20:32] magbauti opened #8540 "[🐛 Bug]: getContexts() can also return an array of objects"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.05

### Node.js Version

16.13.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When printing out a list of conte

[2022-07-18 23:17] christian-bromann commented on #8540
Yes, for that you would need to define a custom type [here](https://github.com/webdriverio/webdriverio/blob/main/scripts/type-generation/webdriver-return-types.json) and define that new custom return type [here](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-protocols/src/types.ts).

Would you like to take a stab at it?

We would appreciate any help on this so please help us ou

[2022-07-19 05:28] icelandld815 commented on #8539
Hi @christian-bromann ,
I tried your suggestion, but unfortunately it is still not work.

And I added some logs in the method **requiredFiles** in file index.js of the @wdio/cucumber-framework like below :
`   requiredFiles() {
        console.log('this._cucumberOpts.require', this._cucumberOpts.require)
        let requiredFiles = this._cucumberOpts.require.reduce((files, requiredFile) => files.c

[2022-07-19 08:13] christian-bromann commented on #8539
I believe this is related to `glob` [v8](https://github.com/isaacs/node-glob/blob/main/changelog.md#80) update which contains the following change:

Please adjust your `require` path accordingly. Closing as this is unrelated to WebdriverIO.

[2022-07-19 08:13] #8539 closed

[2022-07-19 08:56] nikunj1977 commented on #4600
@christian-bromann - I removed them but still getting the same error. We are running test on NW,js and browser mode, following to upgrade to V5 all tests are running in NW.js but on browser it throws above given error.

[2022-07-19 10:11] nikunj1977 commented on #4600
@christian-bromann - This is the error log

 2022-07-19T10:08:46.673Z ERROR @wdio/runner: Error: A "user" or "key" was provided but could not be connected to a known cloud service (Sauce Labs, Browerstack, Testingbot or Lambdatest). Please check if given user and key
properties are correct!
[0-0]     at detectBackend (C:\dev\git\-\-\node_modules\@wdio\runner\node_modules\webdriverio\build\utils\de

[2022-07-19 10:13] christian-bromann commented on #4600
@nikunj1977 the error still says that you have `user` and `key` set in your config or that a service might have set it. Please debug.

[2022-07-19 10:25] christian-bromann opened #8541 "[🏠 Internal]: v8 issue list"
As we a making progress on v8 we put some issues on the back burner to visit later:

- performance e2e test was skipped due to issues: https://github.com/webdriverio/webdriverio/blob/587a93b6d941f70e00cb99732d9e1b9d518ad3b4/e2e/wdio/headless/test.e2e.ts#L19
- Windows smoke tests were failing due to https://github.com/mochajs/mocha/pull/4901
- Windows e2e tests were disabled due to similar issues
[

[2022-07-19 11:54] wswebcreation commented on #5611
Tnx @christian-bromann
Will prepare a PR for it later today

[2022-07-19 12:16] nikunj1977 commented on #4600
@christian-bromann I debugged but have not noticed anything but the same error. I simply upgraded the version from 4 to 5 and have not added anything about CBT services unless it adds these services secretly when upgrading the version to 5?

[2022-07-19 13:23] christian-bromann commented on #4600
Not sure what else to recommend here. Given that we soon release v8 of WebdriverIO I would not only update to v5 but to v7. It is hard to say what is up with that old version.

[2022-07-19 13:39] magbauti commented on #8540
Oh yeah, sure! I'll give it a try, thanks 👍🏼

[2022-07-19 14:08] nikunj1977 commented on #4600
@christian-bromann thank you, In that case, I will skip to upgrade browser-oriented tests in v5 and jump up our entire test suit to upgrade from v5 to v7.

[2022-07-20 09:47] christian-bromann commented on #8503
Duplicate of #8542

[2022-07-20 09:47] #8503 closed

[2022-07-21 15:11] nikunj1977 commented on #4600
@christian-bromann I upgraded the version from 5 to 7 successfully but unfortunately got the same error when running tests on google chrome locally. Have you had the same issue reported form from anyone following migration?

[2022-07-21 15:16] christian-bromann commented on #4600
no

[2022-07-21 18:01] Kevin-Irias-vectorsolutions commented on #7735
Hello, is there any news about this issue?

[2022-07-21 18:07] bvincent opened #8572 "[🐛 Bug]: Empty JUnit report on async describe"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.16

### Node.js Version

14.18.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

When using a describe with

[2022-07-21 20:45] christian-bromann commented on #8572
Mocha doesn't allow async describe blocks. They are also not necessary as you can just use hooks:

[code]

[2022-07-21 20:45] #8572 closed

[2022-07-21 20:45] christian-bromann commented on #7735
Doesn't seem like it ;-) any contributions are welcome!

[2022-07-22 15:22] gunaravikumar24 commented on #5510
It is working as expected in local but unable to run in selenium grid. getting an error [chrome 98.0.4758.102 linux #0-0] browser.cdp is not a function
[chrome 98.0.4758.102 linux #0-0] TypeError: browser.cdp is not a function
[chrome 98.0.4758.102 linux #0-0] at Context. (/home/gunaravikumar/automated-qa-mp/test/specs/tires_wallet_landing_test.js:33:39).

what is the solution to run in selenium g

[2022-07-22 22:40] samuelfreiberg opened #8574 "[🐛 Bug]: iOS Predicate String Selector Throws 'InvalidSelectorStrategy", Even Though It Works"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

6.5

### Node.js Version

14.20

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I'm using WebDriverIO/Appium to automat

[2022-07-22 22:42] samuelfreiberg commented on #8574
I'd like to highlight the fact that this Max driver uses `XCUITest` under the hood, exactly like iOS, which is why this works. Why limit the user to not use it?

[2022-07-22 23:56] samuelfreiberg commented on #8574
And I'll I did to change it was add '-ios predicate string' in _constants.js_
`exports.W3C_SELECTOR_STRATEGIES = ['css selector', 'link text', 'partial link text', 'tag name', 'xpath', '-ios predicate string'];`

[2022-07-23 00:16] samuelfreiberg commented on #8574
Nevermind - found out how to do this with xpath. Closing

[2022-07-25 07:17] christian-bromann commented on #8574
Thanks for reporting!

Two things here:

1. given this works for Mac Driver we should enable it for it. So removing `!isMobile && isW3C && !constants_1.W3C_SELECTOR_STRATEGIES.includes(match[1])` from that condition makes sense to me
2. throwing `InvalidSelectorStrategy` should contain more details as to why this doesn't work, I am not sure why we added this in the first place but IMO if someone c

[2022-07-25 09:24] christian-bromann commented on #4038
fixed in https://github.com/webdriverio/webdriverio/pull/8578

[2022-07-25 09:24] #4038 closed

[2022-07-25 14:09] christian-bromann opened #8585 "Skipped Unit Test"
This unit test is failing due to unknown reasons, we should investigate.

---

## Code References
<details>
<summary>
    <a href="https://github.com/webdriverio/webdriverio/blob/70e4df63653ad03e2eaa4ad1bbfbbc6d7a74d331/packages/webdriverio/tests/commands/element/shadow$.test.ts#L12-L28">
        packages/webdriverio/tests/commands/element/shadow$.test.ts    </a>
    (Line: 11 - 27 / with comment)

[2022-07-25 14:54] christian-bromann opened #8586 "Remove Sync Types"
WebdriverIO doesn&#39;t support Fibers anymore and we can get rid of all sync typing.

---

## Code References
<details>
<summary>
    <a href="https://github.com/webdriverio/webdriverio/blob/70e4df63653ad03e2eaa4ad1bbfbbc6d7a74d331/packages/webdriverio/src/types.ts#L98-L133">
        packages/webdriverio/src/types.ts    </a>
    (Line: 97 - 132 / with comment)
</summary>

Make sure we also remove

[2022-07-25 14:58] christian-bromann commented on #8586
This was a test issue.

[2022-07-25 15:05] christian-bromann opened #8587 "Shadow Factory broken after ESM update"
Since we updated to ESM, fetching shadow elements doesn&#39;t work anymore.

---

## Code References
<details>
<summary>
    <a href="https://github.com/webdriverio/webdriverio/blob/70e4df63653ad03e2eaa4ad1bbfbbc6d7a74d331/packages/webdriverio/src/scripts/shadowFnFactory.ts#L1-L14">
        packages/webdriverio/src/scripts/shadowFnFactory.ts    </a>
    (Line: 0 - 13)
</summary>

[code]

</details

[2022-07-25 15:06] christian-bromann commented on #8587
Also just a demo issue.

[2022-07-25 15:12] sezaru opened #8588 "[🐛 Bug]: element click fails with 'javascript error: Cannot read properties of undefined (reading 'defaultView')'"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.7

### Node.js Version

v16.15.1

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

If you have a button element adde

[2022-07-25 15:38] christian-bromann opened #8589 "Shadow Factory broken"
After rewriting the codebase to ESM, for some reason we broke fetching shadow elements with WebDriver.

---

## Code References
<details>
<summary>
    <a href="https://github.com/webdriverio/webdriverio/blob/70e4df63653ad03e2eaa4ad1bbfbbc6d7a74d331/packages/webdriverio/src/scripts/shadowFnFactory.ts#L1-L14">
        packages/webdriverio/src/scripts/shadowFnFactory.ts    </a>
    (Line: 0 - 13)
</

[2022-07-25 16:10] christian-bromann commented on #8588
Thanks for reporting the issue.

It seems this problem has been [already reported](https://bugs.chromium.org/p/chromedriver/issues/detail?id=3684) within the Chromedriver project. There is nothing we can fix within WebdriverIO. I commented on the Chromedriver issue with a reference to this issue. Let's hope it will be fixed soon.

[2022-07-25 16:10] #8588 closed

[2022-07-25 16:14] samuelfreiberg commented on #8574
@christian-bromann Thanks for the input!

There's two solutions I'm thinking of, but I don't know enough to be able to determine which one is best for the repo:

1. Adding `'-ios predicate string'` to the `const W3C_SELECTOR_STRATEGIES` array. I did a quick search in the whole repo, and this is the **only** location this array is being used (this specific check), so I don't think this will cause a

[2022-07-25 17:31] christian-bromann commented on #8574
Well, `-ios predicate string` is not a W3C selector, so this doesn't seem like a good solution.

We only hit this if people write out full selectors , e.g. `css selector:#foobar`. So it doesn't make sense to have the if statement check for w3c compatibility. Given that Appium supports W3C but has their custom selectors it is totally fine to just ignore that check and rewrite it to:

[code]

Let's

[2022-07-25 19:36] darkartswizard commented on #6244
An alternate root cause is that the config file referenced in the Package.json under Scripts does not exist.
For a chrome.js example:
npm run **chrome**

In the package.json
[code]

But there is no **/config/chrome.js** config file

[2022-07-26 01:05] b49tan opened #8591 "Setting custom headers does not work on CICD/jenkins"
WebDriveIO tests pass on local, however they begin to to fail with the below error in CICD.

[INFO] webdriver: [POST] https://testplatform.com/v1/session
.....
[ERROR] @wdio/utils:shim: FetchError: Failed to fetch browser webSocket URL from http://localhost:49214/json/version: request to http://localhost:49214/json/version failed, reason: connect ECONNREFUSED 127.0.0.1:49214

Can someone provide i

[2022-07-26 06:50] christian-bromann commented on #8591
@b49tan you can't run CDP commands on cloud provider as they usually not expose that protocol.

[2022-07-26 06:50] #8591 closed

[2022-07-26 06:57] christian-bromann opened #8592 "[🐛 Bug]: Be more explicit when configuration file is missing"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

any

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When you pass in a configuration that

[2022-07-26 10:03] Maryamsana-1998 opened #8593 "saveRecordingScreen records a black screen video[🐛 Bug]: <title>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

^7.20.7

### Node.js Version

14.3

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

The output video file is black scree

[2022-07-26 12:17] nikunj1977 commented on #4600
@christian-bromann Thanks for sync with me on this issue. It was fixed since my upgrade requires to have this "hostname: 'localhost'," in the config file. This is not added itself post successful upgrade from 5 to 7. On a separate note, from V5 has chooseFile command changed to uploadFile or both are valid with the latest version?

[2022-07-26 12:28] b49tan commented on #8591
Hi @christian-bromann Thanks for clearing that out, I do have some follow up questions.

1. These tests used to work about 6 months back, has any change been made to not expose the protocol over the years? Our versions over time changed from node 10 to 12, webdriverIO 5.x to 7.x, chrome versions 95.x to 97.x to 100.x.

2. We have also tried puppeteer to set these headers, and this is not working t

[2022-07-26 12:51] christian-bromann commented on #7213
Implemented by #8595

[2022-07-26 12:51] #7213 closed

[2022-07-26 13:21] christian-bromann commented on #8591
Not sure, I don't know what WebDriver service you are using. It could be certain that between all these versions something has changed. It could be also something within your infrastructure.

Yes and yes.

Certainly.

[2022-07-26 13:22] christian-bromann commented on #4600
Please check the webdriver.io docs.

[2022-07-26 13:26] christian-bromann commented on #8593
This is unlikely a bug in WebdriverIO as it only triggers the command and returns the data directly. Please file an issue in the Appium project. Thank you!

[2022-07-26 13:26] #8593 closed

[2022-07-26 14:09] b49tan commented on #8591
Got it, thanks @christian-bromann
Could you elaborate a bit on how to expose chrome devtools protocol from our CICD/Jenkins - I sense that something could have changed there and I can try fixing that on our end.

[2022-07-26 14:28] christian-bromann commented on #8591
That depends what WebDriver backend you use. Using a Selenium 4 grid helps.

[2022-07-26 16:16] wuyongzheng commented on #4303
I just came across this error and fixed it. The "Invalid --log-level value" error is caused by using ChromeDriver as Chrome. Selenium runs ChromeDriver, then ChromeDriver runs Chrome. Chrome recognise "--log-level=0", but not ChromeDriver.

What's happening here is that you try to use ChromeDriver to run ChromeDriver. The reason can be specifying ChromeDriver's path as Chrome. E.g. symbolic link c

[2022-07-26 16:29] esaari commented on #8467
I confirmed I was able to get devtools/mock service working on Selenium Grid as long as the requisite env var is set properly: https://github.com/SeleniumHQ/docker-selenium#grid-url-and-session-timeout, so there is now alternative to running locally :)

[2022-07-27 15:35] millcek commented on #5505
@christian-bromann I am facing a similar issue with MultiRemote browser config and getting the following error.

Regarding what you wrote above I suppose editing [this function](https://github.com/webdriverio/webdriverio/blob/2c17d96882dd1f17017f43e23c3856b51ec4d313/packages/wdio-devtools-service/src/utils.ts#L75) is not enough, am I correct?

[2022-07-27 16:23] christian-bromann commented on #5505
Not sure, I haven't looked too deep into this. Contributions are welcome!

[2022-07-27 17:59] darkartswizard commented on #5900
Plus one today.
"Request failed with status 500 due to unknown error"
Right after browser.url(url)

I think it's a transient network hit.
My next step is to wrap my
[code]
within a try/catch and taking a 2nd shot at it.

[2022-07-27 18:08] christian-bromann commented on #5900
WebdriverIO already has request retries and if the error says `Sauce could not start your job` then this happened before you can call any commands.

@wswebcreation you wanted to keep this open. I feel like this is a Sauce related issue and I don't think WebdriverIO can do anything about this. What do you think?

[2022-07-27 18:34] darkartswizard commented on #5900
I’m not on Sauce.
Straight Jenkins/Docker on AWS over here.

I have tried the retries setting and it works well, but it bogs down when a
locator changes and most my tests fail and get rerun.

I’ll let you know how it goes with hardening browser.url (url) when the
error gets thrown.

On Wed, Jul 27, 2022 at 1:08 PM Christian Bromann ***@***.***>
wrote:

[2022-07-28 08:18] akfoury opened #8596 "[📖 Docs]: <title> Why is there a different implementation for the html a element and the other html elements concerning selectors ?"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation

### Description of the improvement / report

For selecting an element with a certain text, you have to do $('span=Welcome') whereas for selecting a link element (a tag) you have to do like this $('=Welcome'). This small difference can lead to some confusion among deve

[2022-07-28 11:23] darkartswizard commented on #5900
Hardening browser.url (url) with a try / catch and a 2nd shot did not make any difference.
Both attempts failed. It's not a transient error in this case.

However, we think the root cause is the URL behind the firewall is whitelisted on my local machine, but not on the Docker instance. So it's an issue on my side.

[2022-07-28 19:46] nextlevelbeard opened #8609 "[💡 Feature]: Allow for coercing of ChainablePromiseElements arrays into a ChainablePromiseArray"
### Is your feature request related to a problem?

It's cool that we can do this
[code]

but that's because `$$` returns a ChainablePromiseArray.

If I make my own array of `ChainablePromiseElement<WebdriverIO.Element>` that I grab from my page/screen objects, I cannot, leaving me to rely on `Promise.all` or `Promise.allSettled`

[code]

### Describe the solution you'd like.

Maybe a way to do thi

[2022-07-28 20:27] christian-bromann commented on #8609
I like the idea of:

[code]

Any contributions are welcome! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2022-07-29 09:36] erwinheitzman commented on #8609
@nextlevelbeard thank you for the suggestion, it's great to see you involved!

I would like to discuss this a bit a bit though.

I find that replacing one wrapper with another doesn't really add any value, especially considering that Javascript knowledge is required in order to use the tool.

Comparing them hopefully shows that it is just a replacement of words:
[code]

Don't get me wrong, I'm all

[2022-07-29 10:51] nextlevelbeard commented on #8609
@erwinheitzman thanks for the feedback on this, glad to be in the community

Well, this is something not crucial and just a "nice to have".
I understand your point and agree, to an extent.
We can't put out convenience code for everything, where would we stop, right?

But maybe the community feels strongly about it and can pick it up for you.
In order for that to happen, it needs to be "accepted" b

[2022-07-29 11:14] erwinheitzman commented on #8609
@nextlevelbeard can you share a reference to the work you are talking about specifically? That way I can give a better answer as you are asking where we draw the line relatively compared to other work.

Regarding why I feel that we shouldn't do this, I feel that the only thing it adds is more maintenance on our side (think of code but also documentation) while not providing value to our users as t

[2022-07-29 12:10] christian-bromann commented on #8609
@erwinheitzman thanks for chiming in and raising your concerns. You made a great comparison:

[code]

this indeed is not much of a difference. However your example only works for `map` in this case but not for other Array methods like `find`, `some` or `reduce` which are supported when wrapping them into a `ChainablePromiseArray`. For example:

[code]

because the `findIndex` iterator receives a p

[2022-07-29 12:33] Amitesh opened #8610 "[🐛 Bug]: Issue with fibers@5.0.2 version"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

### Node.js Version

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

It is installing pyhton which is not require

[2022-07-29 12:42] pmahajan-tavisca commented on #8610
temporary solution can be found at: https://stackoverflow.com/questions/73166618/npm-installation-error-python-is-not-set-from-command-line-or-npm-configurati/73166619#73166619

[2022-07-29 13:00] christian-bromann commented on #8610
@Amitesh thanks for raising an issue.

As we are about to deprecated and remove `fibers` I don't see much value in looking into a fix for it. I recommend upgrading WebdriverIO to latest and use `async` commands.

However if you are interested providing a fix I am happy to merge and release it. Please make a PR against the `v7` branch. Cheers!

[2022-07-29 14:15] erwinheitzman commented on #8609
@nextlevelbeard I had a quick chat with Christian to verify some things and I now see that there's definitely more reasons then the example you shared originally. You have my blessing haha, jokes aside I think this will be a great addition!

[2022-07-29 15:07] erwinheitzman commented on #8351
I have investigated the issue and the problem lies in making screenshots in the afterCommand hook which closes the alert.

[2022-07-29 15:42] christian-bromann commented on #8351
Thanks for investigating @erwinheitzman

I assume one option could be that the video reporter checks wether an alert is open and if so skips the `screenshot` command.

[2022-07-29 15:47] harsha509 commented on #8610
A fix is landed in the new release of @wdio/sync!

[2022-07-29 15:59] #8610 closed

[2022-07-29 16:00] erwinheitzman commented on #8351
That would be a simple fix we could also look into other ways of creating videos

[2022-07-29 17:23] vjuturu commented on #8592
Hi @christian-bromann ,
I am able to reproduce the issue using command given. I am interested to fix this issue. Do you think below "Expected error message" clearly indicates which config file missing. Please advise.

**Issue Reproduction:** npx wdio run ./path/to/non/existing.config.js
 Error: Could not execute "run" due to missing configuration. Would you like to create one?

**Expected error me

[2022-08-01 04:24] Vchenhailong commented on #4134
https://user-images.githubusercontent.com/14884326/182071883-3501875b-8706-4b99-934e-b02e985c6fba.mov

[2022-08-01 07:36] christian-bromann commented on #8592
The new error message should have the path of the file that wast tried to be run in it, so e.g.

[code]

Happy with other suggestions too.

[2022-08-01 08:29] christian-bromann commented on #8589
After further research, everything seem to work and the problem was that the guinea pig page our e2e tests used was outdated.

[2022-08-01 08:29] #8589 closed

[2022-08-01 10:08] christian-bromann commented on #7354
I looked into other projects and aside from `vitest` many offer to import globals directly but basically still adding them to the global scope anyway. Given we never had any issues with users complaining about WebdriverIO adding `browser` to the global scope I'ld suggest to keep the current behavior but provide ways to also import them explicitly like e.g. Jest. Adding a configuration to avoid inj

[2022-08-01 14:24] DirkoOdendaal opened #8628 "[🐛 Bug]: element.click inconsistent behaviour"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.20.8

### Node.js Version

v16.13.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

When you have a page with a butt

[2022-08-01 15:40] JoelGamez opened #8629 "[🐛 Bug]: browser.sharedStore.get('*') - does not fetch all key values"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.7

### Node.js Version

v14.19.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Using '*' browser.sharedSt

[2022-08-01 15:52] christian-bromann commented on #8629
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-08-01 19:20] perillai commented on #8592
Have raised a PR doing the suggested changes. Kindly approve the workflow in the PR. Thanks.

[2022-08-01 19:26] itssumitrai commented on #2128
Still see this issue all the time in 2022

[2022-08-01 19:33] christian-bromann commented on #2128
@itssumitrai the error can not be fixed because if you send commands after you close the session you will get this error. This might be also a user error, e.g. if you forget an `await`. If you can provide a reproducible example please do and folks are happy to look into it.

[2022-08-02 10:25] wswebcreation opened #8632 "[🐛 Bug]: JWP :wdc: encoding for Appium seems to incorrectly"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

v16.16.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When starting a JWP session with

[2022-08-02 11:14] christian-bromann commented on #7354
An implementation is done in #8631, feedback would be much appreciated.

[2022-08-02 11:14] #7354 closed

[2022-08-02 11:25] christian-bromann commented on #8632
@wswebcreation thanks for raising an issue.

I am actually convinced here that this is a problem with Sauce, maybe more Appium. The culprit here is the element id `:wdc:1659435215760` which for some reasons contains `:`. An element id should not contains colons because they can be part of an url. Now WebdriverIO correctly transforms the id into `%3Awdc%3A1659435215760` to make it work as a url pat

[2022-08-02 11:25] #8632 closed

[2022-08-02 12:35] wswebcreation commented on #8632
Thanks @christian-bromann

I'll dive into this

[2022-08-02 13:20] erwinheitzman commented on #7354
I just found out that Jest uses the globals but you can overwrite them with the imports, maybe we can apply the same idea (keep the globals and allow them to be overwritten)?

[2022-08-02 13:21] christian-bromann commented on #7354
@erwinheitzman that is what the PR implements. The behavior stays the same as in `v7` with the difference that if you like you can import implicitly and even disable the injection of globals.

[2022-08-02 14:12] wswebcreation commented on #8632
@christian-bromann

When I look at both sessions, the JWP logs and the W3C logs then I see that WDIO both starts them with

[code]

I'm a bit lost now in the protocols, isn't this the W3C syntax?

[2022-08-02 14:59] christian-bromann commented on #8632
Well that is the result of juggling `w3c` and `jsonwp` support for arbitrary backends. Both are send so in case a backend doesn't support one of them, it still can run the other protocol. A backend that supports W3C should ignore `desiredCapabilities`.

Why is it even important to get this running in JSONWP? Are you still dealing with projects that can't move to w3c?

[2022-08-02 15:26] wswebcreation commented on #8632
Yep 😓 , so many customers....

[2022-08-02 18:53] perillai commented on #4074
With the latest webdriverio, able to get the previous command when the 'up' key is pressed and go left with the 'left' key, but autocomplete on the 'tab' key is not working.

[2022-08-03 01:34] BlackSwan2019 commented on #7767
Thanks @LeoLetourneur. This allowed TypeScript to be happy with my custom command (verifyIsDisplayed()), e.g. `await SomePageName.someElement.verifyIsDisplayed()`.

But now the regular old Webdriverio.Element methods are not recognized with the ChainablePromise, e.g.

`await SomePage.someElement.touchAction('tap')`, as it is now auto-correcting to

`await (await SomePage.someElement).touchAction('

[2022-08-03 03:35] LinaRScAl opened #8634 "[🐛 Bug]: Support chromeOptions prefs when running devtools"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.5

### Node.js Version

v16.15.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When I try to download files in m

[2022-08-03 03:49] LinaRScAl commented on #8634
this is the tree of the project https://prnt.sc/sY8GMi3zM5pZ where all the folders are visible.

[2022-08-03 10:40] christian-bromann commented on #8634
Thanks for filing the issue!

I don't think this is a bug within WebdriverIO because it just passes along your prefs. Not sure why they aren't applied though.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-08-03 15:05] lesteral opened #8637 "[📖 Docs]: link to "Protractor boilerplate project" leads to 404 error"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Other

### Description of the improvement / report

on page https://webdriver.io/docs/protractor-migration/
there are two references to a "Protractor [boilerplate project](https://github.com/webdriverio/protractor-jasmine-typescript)"

However, this project doesn't seem to exist (and the li

[2022-08-03 15:14] christian-bromann commented on #8637
Bummer, I think this repository was removed and I don't have a copy anymore. We should remove all references to it.

[2022-08-03 15:20] LinaRScAl commented on #8634
@christian-bromann thank you for your response. I think I figured it out: it's not working if services: ['devtools'] and working with services: ['chromedriver']. Is there a chance that you may apply this functionality to devtools as well? Thank you in advance.

[2022-08-03 15:25] christian-bromann commented on #8634
@LinaRScAl good catch, all we need to do is to add it here: https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/launcher.ts#L109-L116, mind taking a stab?

[2022-08-03 16:54] nextlevelbeard commented on #8609
great to hear @erwinheitzman blessing much appreciated

I had a look at the code, building a chain-able promise array requires that you specify a selector for the elements.
As in one selector for all of them.
I believe this is for re-fetching purposes.

That's all fine and dandy for `$$` use with a string selector, but when building this feature and passing elements retrieved from different select

[2022-08-03 16:57] christian-bromann commented on #8609
That seems to be about right. I guess we should look improving the re-fetching logic then for this case.

[2022-08-04 07:03] lararojasmr commented on #6313
I'm working on this. Let me try. I need this :)

[2022-08-04 08:51] sandozsrf opened #8639 "WDIO 6: Getting "Error: An unknown server-side error occurred while processing the command. Original error: chrome not reachable" - v100.0.4896.127"
### Discussed in https://github.com/webdriverio/webdriverio/discussions/8638

<div type='discussions-op-text'>

<sup>Originally posted by **sandozsrf** August  4, 2022</sup>
Android only: I'm using WebdriverIO 6 with SauceLabs and getting the below issue in Android tests. It fails when we try to switch contexts or if the validation happens after loading through navigation which is mostly consisten

[2022-08-04 09:28] christian-bromann commented on #8639
This can stay a discussion until there is a clue that this is an immediate bug within WebdriverIO.

[2022-08-04 09:28] #8639 closed

[2022-08-04 20:05] lesteral commented on #8637
Christian - no problem (I had hoped it was just a out-of-date link). Thank you for the prompt response.  Regards, Lester

[2022-08-05 09:48] #7005 closed

[2022-08-05 10:01] Roozenboom opened #8650 "[🐛 Bug]: eslint-plugin-wdio await-expect matchers list is incomplete"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

v16

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Some wdio tests are failing bec

[2022-08-05 10:16] christian-bromann commented on #8650
Thanks for reporting!

It seems like we missed to add the whole list in our [`matchers`](https://github.com/webdriverio/webdriverio/blob/86a8c44d84a6e19e4284551260aed0c88763ac0d/packages/eslint-plugin-wdio/src/constants.ts#L1-L33). I assume just adding them there will fix the problem.

Are you interested taking a stab at this?

Any contributions that resolves the bug are highly appreciated. Please

[2022-08-05 10:18] Roozenboom commented on #8650
Yes i am interested in taking this task, actually I am already preparing it

[2022-08-05 10:24] christian-bromann commented on #8650
@Roozenboom sweet!

As we are currently working on v8 in the `main` branch, would you mind sending 2 PRs to `main` and `v7`? Thanks!

[2022-08-05 10:42] Roozenboom commented on #8650
I created a PR for the main branch and for the v7 branch.

[2022-08-05 11:09] tjnk24 commented on #5545
There's something wrong with @wdio/local-runner. Downgraded to 7.12.1 version as its the latest version where the hook works correctly.

[2022-08-05 13:14] christian-bromann commented on #8650
Awesome, thanks! Closing.

[2022-08-05 13:14] #8650 closed

[2022-08-05 13:59] LinaRScAl commented on #8634
@christian-bromann I don't think I can do that yet(

[2022-08-05 14:18] christian-bromann commented on #8634
@LinaRScAl why you can't do it?

[2022-08-05 15:50] DirkoOdendaal commented on #8628
Yeah, initially I started with the investigation because of the Ionic 6 upgrade you mention. I was busy setting up an Ionic 5 and Ioinc 6 repo, but then I got stuck on Ionic 5 already. So that does not seem to be the issue.
What I have found is something different in the way the code is written.

I see in https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/elemen

[2022-08-07 08:44] perillai commented on #8185
Hi @christian-bromann , I tried doing a fix on this issue. Actually, when we use 'wdio' to run, it looks for wdio-cli installed globally. wdio-cli installed in the project is not getting recognised. So, my fix will work if the user installs latest wdio-cli using '-g' apart from updating wdio-cli in the node_modules of the project. Or, is there any workaround to make wdio work without installing it

[2022-08-08 02:00] LinaRScAl commented on #8634
@christian-bromann I've never done it before, and your project is huge, so I don't know where to look for a similar line of the code which, I assume it's being applied when services: ['chromedriver'], so I can copy and paste it to devtools. I'm not a developer unfortunately)

[2022-08-08 09:01] erwinheitzman commented on #8634
Correct me if I am wrong but I think that in order to get this working we need to do the following:
[code]
And add it somewhere at the initialization (file) that @christian-bromann shared.

[2022-08-08 13:16] christian-bromann commented on #8634
I wasn't aware that such package exists. For running Chrome sessions we use `chrome-launcher` we we only need to pass in a `prefs` object. For other sessions (Edge and Firefox) we use `puppeteer-launch` where this package seems to be useful.

[2022-08-08 14:47] erwinheitzman commented on #8628
@DirkoOdendaal I saw you created a PR but you closed it again, I'm curious as to why

[2022-08-08 17:50] perillai opened #8671 "[🐛 Bug]: 'is-stream' latest version which necessitates 'import' added as dependency to tempy package"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.7

### Node.js Version

16.15.1

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Getting 'is-stream' issue w

[2022-08-08 17:57] perillai commented on #8185
This is the issue that I got: [wdio is not recognised as ...](https://gitter.im/webdriverio/webdriverio?at=5d77be0dc5939027204833ff). And in the same chat, it had been suggested to add 'wdio' to environment variables. Is that the workaround?

[2022-08-09 06:52] DirkoOdendaal commented on #8628
Hey @erwinheitzman, I was having some fun with the CLA. Looks like my git config got update to my work email address and while playing around I closed it and created a new PR yesterday.
Still looking into the failing tests, but you are welcome to have a look and we can start a discussion.

[2022-08-09 07:03] christian-bromann commented on #8185
@perillai this is a complete different issue as described by the author, so let's don't mix different problems in the issue otherwise it gets to complicated following the conversations.

[2022-08-09 07:30] christian-bromann commented on #8592
I am going to close this, thanks for the PR @perillai 👍

[2022-08-09 07:30] #8592 closed

[2022-08-09 11:30] AmritaDatta opened #8681 "ERROR @wdio/utils:initialiseServices: Error: Couldn't find plugin "intercept" service, neither as wdio scoped package "@wdio/intercept-service" nor as community package "wdio-intercept-service""
Hello Experts,
I couldn't post in the GITTER, that's why I'm writing here. Hope you won't mind.
I'm getting the below error when I try to run my WDIO integration test locally. Any help would be much appreciate and please let me know if you need any further detail from my side. Thank you.
`ERROR @wdio/utils:initialiseServices: Error: Couldn't find plugin "intercept" service, neither as wdio scoped

[2022-08-09 11:32] BeBestOf opened #8682 "[🐛 Bug]: Getting Unexpected token for xpath and css used with $"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.9

### Node.js Version

v14.15.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

**Issue 1 :** I am getting

[2022-08-09 12:29] #8587 closed

[2022-08-09 12:37] christian-bromann commented on #8682
Can you provide any driver logs?

These properties are not part of the config interface. You will have to extend it yourself and cast the type. Also, please use `browser.options` as `browser.config` will be removed with the next major upgrade.

[2022-08-09 14:24] Amitesh commented on #8610
Thanks @harsha509 and @christian-bromann

[2022-08-09 14:44] BeBestOf commented on #8682
@christian-bromann please refer below screenshot of error:
![image](https://user-images.githubusercontent.com/17232533/183678720-87eae033-59c8-4bde-aa10-6f3ed8fd94a5.png)

[2022-08-09 20:47] christian-bromann opened #8689 "Disable E2E tests for Windows"
For some reasons Windows tests are failing for `v8` for the following reason:

[code]

This might be related to: https://github.com/mochajs/mocha/pull/4901

---

## Code References
<details>
<summary>
    <a href="https://github.com/webdriverio/webdriverio/blob/b2728a4c587a6254cefdf9de7021a3e5c5b1b93a/.github/workflows/test.yml#L44-L57">
        .github/workflows/test.yml    </a>
    (Line: 44 - 5

[2022-08-09 20:48] christian-bromann commented on #8689
@harsha509 mind taking a look what this is all about?

[2022-08-09 20:52] christian-bromann opened #8690 "Investigate Performance Tests Functionality"
It seems that with the latest upgrade of Lighthouse the performance tests stop working. Let&#39;s investigate the problem to ensure we provide basic functionality.

---

## Code References
<details>
<summary>
    <a href="https://github.com/webdriverio/webdriverio/blob/54d3c6d5f13d2defe59eba8d2cba6a2835319048/e2e/wdio/headless/test.e2e.ts#L31-L55">
        e2e/wdio/headless/test.e2e.ts    </a>

[2022-08-09 20:53] christian-bromann commented on #8541
Bumped unit tests to a degree that we can be satisfied with coverage (>90%).

Created a separate issue to look into the Windows story - see #8689 - as well as performance testing issue #8690

[2022-08-09 20:53] #8541 closed

[2022-08-09 20:55] christian-bromann commented on #8671
Can you provide a reproducible example?

[2022-08-09 20:58] #8585 closed

[2022-08-09 21:03] christian-bromann commented on #8637
Thanks for taking a stab at this one @harsha509 🎉

[2022-08-09 21:03] #8637 closed

[2022-08-09 21:10] christian-bromann commented on #8634
Raised a PR in #8691, review/feedback would be appreciated.

[2022-08-09 21:10] #8634 closed

[2022-08-09 21:23] christian-bromann commented on #8540
Raised an PR in #8692, any review would be appreciated.

[2022-08-09 21:23] #8540 closed

[2022-08-09 21:29] christian-bromann commented on #8629
I looked into this but wasn't able to reproduce it. I will add a smoke test to ensure we test for this feature. Happy to re-open if you can provide a reproducible example.

[2022-08-09 21:30] #8629 closed

[2022-08-09 21:39] christian-bromann commented on #8574
Raised a PR with suggested changes #8693

[2022-08-09 21:39] #8574 closed

[2022-08-09 21:42] christian-bromann commented on #8351
Raised an issue within the video reporter. Any contributions are appreciated.

[2022-08-09 21:42] #8351 closed

[2022-08-09 21:44] christian-bromann commented on #8197
Closing due to inactivity. If someone could provide an Appium response, I would be happy to ensure the error message looks better within mobile environments.

[2022-08-09 21:44] #8197 closed

[2022-08-09 21:46] christian-bromann commented on #8170
Let's continue our conversation in respective PRs. Thanks @kerkeniakov for taking a stab at this.

[2022-08-09 21:46] #8170 closed

[2022-08-10 14:07] SMdoras91 commented on #4134
@christian-bromann I am facing the same issue - perhaps this is a more detailed explanation:

- I have element A and element B on the page.
- I have the dragAndDrop action as  A.dragAndDrop(B)
- I run the test:

  - If my mouse is placed somewhere on the bottom of my screen the element will be dropped there as @pavanshirguppi said, and the test will fail, regardless if my destination is set to ele

[2022-08-10 14:49] djv1001 commented on #4134
@SMdoras91 same exact issue for me.

[2022-08-10 14:56] christian-bromann commented on #4134
@SMdoras91 interesting investigation .. we have updated the dragAndDrop code in `v8` (`npm install webdriverio@latest`) and I wonder if we got around resolving the issue.

[2022-08-10 16:48] BeBestOf commented on #8682
@christian-bromann  there is no such logs available on the cli console. But can you suggest which is the best IDE for WebdriverIO because I am getting this issue on Visual Studio Code and as well as on Webstorm.

[2022-08-10 16:58] christian-bromann commented on #8682
I don't get this on VS Code:

![Screenshot 2022-08-10 at 18 58 25](https://user-images.githubusercontent.com/731337/183972044-96a6878e-9b48-46df-b36d-7a95f0837334.png)

[2022-08-10 18:30] djv1001 commented on #4134
@christian-bromann isn't "latest" 7.20.9?

Is v8 released?

[2022-08-10 21:24] rameshkumarj opened #8696 "[🐛 Bug]: Click does not work properly in safari on ember drop downs"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When trying to click on ember power

[2022-08-10 21:43] christian-bromann commented on #8696
You are missing a closing bracket:
[code]

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2022-08-10 21:43] #8696 closed

[2022-08-11 08:33] erwinheitzman commented on #8628
If you are still working on it, please keep the PR open instead of closing it

[2022-08-11 08:56] erwinheitzman commented on #8682
I'm not getting the error either, I suggest running vscode without any extensions enabled as it's likely caused by a vscode extension. Reason for me to believe this is because it does not state that this a a Javascript nor Typescript error.

[2022-08-11 09:39] Vchenhailong commented on #4134
I've tested with it,  didn't work.

[2022-08-11 11:21] djv1001 commented on #4134
Yeah I did the same yesterday with the v8 alpha release. It didn't work for me either. It still drops wherever my mouse is.

It's weird because the "drag" portion doesn't care about my mouse position... but the "drop" does.

Gonna revert to v7 and try headless.

[2022-08-11 11:45] christian-bromann commented on #4134
@SMdoras91 I don't think moving the mouse is the right approach to test this because WebDriver is suppose to automate the mouse behavior. This explains why it is following wherever the mouse is.

[2022-08-11 12:08] SMdoras91 commented on #4134
@christian-bromann I understand, but I did move the mouse just to make the issue more clearer.

The same will happen nevertheless you move the mouse or not, e.g. I run the test, I dont touch my mouse that is somewhere on the screen, or even on second screen. The test opens the browser window, and it will not drop the element A to the destination (Element B), but to where the mouse pointer is curre

[2022-08-11 12:19] christian-bromann commented on #4134
Do we know if [this line](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/element/dragAndDrop.ts#L85) sets `isMovingToElement` to `true`?

[2022-08-11 12:26] djv1001 commented on #4134
Mine is setting that to true.

target.constructor.name is "Element"

[2022-08-11 14:48] erwinheitzman commented on #4134
I have seen this behavior before, here's a simple reproduction path:
[code]
No matter what I try, it always goes to my pointer, never the target (be it x/y position or element location)

[2022-08-11 19:10] djv1001 commented on #4134
@erwinheitzman it's like the user's pointer takes precedence after the "pointerDown" action... ?

[2022-08-11 20:25] djv1001 commented on #4134
@erwinheitzman I ran yours in headless mode. I did an assertion that after dragAndDrop, div2 has a child <img> and div1 does not have a child <img>.

It failed. div1 still had the child <img>. I asserted before and after on div1's child <img>.

I tried with both x/y and with a "target" of div2.

Has anyone gotten this to work on a very simple case?

[2022-08-11 21:16] nit0s commented on #3130
hey all, I was facing this issue as well I notice this got solved once I used `'--no-sandbox'` along with `--headless' '--disable-gpu'` this can helps

[2022-08-12 07:47] DirkoOdendaal commented on #8628
Hi @erwinheitzman,
Like mentioned I created a new PR and that is still open.
Already talking to Christian there. You are welcome to join in there.
#8672

[2022-08-12 23:39] mauriceKA commented on #8279
I also see this on node v18.7.0

[2022-08-13 05:49] BeBestOf commented on #8682
@christian-bromann  @erwinheitzman  may you please share your tsconfig.json file that will be really helpful. I think I have misconfigured something which is giving me an error of Unexpected token.

[2022-08-14 20:10] ChandlerFerry opened #8699 "[🐛 Bug]: Yarn2 - MISSING_PEER_DEPENDENCY"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

1. Create a new Yarn2 Project
2. In

[2022-08-15 08:13] christian-bromann commented on #8682
I am not sure how this is related to TypeScript.

[2022-08-15 08:24] christian-bromann commented on #8699
Will this cause other package managers to warn if `typescript` is not installed? I believe this will be the case for NPM. I want to avoid the situation that folks that don't use TypeScript are being forced to install it as dependency even though non of the packages need it. Therefor I wonder if it makes more sense to move the `typescript` peer dependency into a `optionalDependency`.

[2022-08-15 08:50] ChandlerFerry commented on #8699
It's definitely a valid question, and one I was contemplating as I was making the initial PR but unfortunately got busy.

Let me do some testing in the morning and I'll make sure to test & reduce the impact radius.

[2022-08-15 11:37] erwinheitzman commented on #8699
If this is regarding the installation of Typescript as a user, [optional dependencies](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#optionaldependencies) would be best here.

If this is regarding the installation as a dev (contributor), defining it as a dev dependency should suffice (which we already do if I am not mistaken).

[2022-08-15 11:46] christian-bromann commented on #8699
We unfortunately use [some `typescript` types](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-types/src/Compiler.ts#L5) which is why it is a peer dep in the first place.

[2022-08-15 12:13] erwinheitzman commented on #8699
Damn, we use it for only one line.
I want to suggest to replace the transformer types and get rid of the dependency.
How do you feel about that?

[2022-08-15 13:18] christian-bromann commented on #8699
It is gonna be hard to just replace the type but we might can have some looser types there in favor to get rid of the import.

Yeah, let's try with an optional import first. I think it is added for these kind of use cases. It doesn't complain if not installed.

[2022-08-15 13:41] erwinheitzman commented on #8699
In that case we don't have to add anything.
One thing to note is that optional packages get installed by default (but can be skipped by running `npm install --no-optional`) which might not be what we want.

[2022-08-15 14:03] SMdoras91 commented on #4134
@djv1001 I did, but with playwright 😆
It would be great if this issue would be solved with WDIO, I have a lot of tests, and unluckily I left all the drag and drop test for last as this feature in my app under test was not stable at the time.
Now I either can use Robot class on top of WDIO, or rewrite everything to playwright, or just quit my job and go grow mushrooms... 🍄

[2022-08-15 15:28] christian-bromann commented on #4134
@SMdoras91 I am currently busy working on a v8 release so any contributions to this are more than welcome.

[2022-08-15 16:15] LucianOutcomes commented on #5545
Ran into this but only if the timeout occurred close to the end of the test. The webdriver session would close before the hook finished execution (in my case it is just a save screenshot function). Oddly enough I got it to behave by declaring the whole hook async
[code]
After a bit of reading up I'm not sure why this even does anything. Aren't the hooks async by default?

[2022-08-15 16:18] christian-bromann commented on #5545
Sure, but if you do an async operation in there like `saveScreenshot` you have to define it as `async` function.

[2022-08-15 17:35] LucianOutcomes commented on #5545
Oh... makes sense. Maybe add a small snippet about this to the config file docu for dummies like me who thought that file was exempt from normal sync/async requirements ¯\_(ツ)_/¯

[2022-08-15 18:40] ChandlerFerry commented on #8699
After some research, I believe that what we were looking for is [peerDependenciesMeta](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#peerdependenciesmeta)

[Yarn](https://yarnpkg.com/configuration/manifest#peerDependenciesMeta.optional) also has a section on this, but I had to learn a bit more to understand if it would solve the problem.

From my testing, I believe this solution fits

[2022-08-15 20:51] #8699 closed

[2022-08-16 06:35] bhanuagarwal73 commented on #4384
Hey @weronikazoltaniecka

I am also facing same issue, any resolution you found?

[2022-08-16 14:06] dragosMC91 opened #8730 "[🐛 Bug]: The `exclude` capability parameter no longer ignores desired spec files when the --spec command is used to run a test"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.9

### Node.js Version

12.22.7

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

After updating to the latest wdio

[2022-08-17 09:12] christian-bromann commented on #8730
Thanks for reporting!

The [`ConfigParser`](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-config/src/lib/ConfigParser.ts#L184-L244) is the best place to start looking here.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers

[2022-08-17 13:34] OleksandrBaior commented on #4134
@christian-bromann Are some updates about dragAndDrop function? For now, I'm not able to use it

[2022-08-17 13:36] christian-bromann commented on #4134
@OleksandrBaior you mean within the last 2 days since my last comment where I explicitly said I am working currently on other things and that contributions to solve this issue are very welcome?

[2022-08-18 02:32] posthello-code commented on #8279
This also occurred for me on my local machine in node 18.3.0.
I ran an npm update and the issue went away locally.

After pushing my code to our bitbucket pipelines it's occurring once again.
I also tried on node v17, and had the same result (see below)

`2022-08-18T01:46:30.494Z DEBUG @wdio/local-runner:utils: init remote session
2022-08-18T01:46:30.509Z INFO devtools:puppeteer: Initiate new sess

[2022-08-18 08:47] xbrys31 opened #8733 "new wdio conf using experitest : ''experitest:accessKey'' does not exist in type 'DesiredCapabilities | W3CCapabilities'.ts(2322)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.21.0

### Node.js Version

14.17.5

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Create new webdriverIO project
run

[2022-08-18 08:51] christian-bromann commented on #8733
Thanks for reporting!

Indeed, we don't have `experitest` in our typing definition. I suggest to add them to our [`VendorExtensions`](https://github.com/webdriverio/webdriverio/blob/4c399ec43289d5ef2237ab09029b72e7f4f430a1/packages/wdio-types/src/Capabilities.ts#L144-L185). Would you like to raise a PR for it?

Any contributions that resolves the bug are highly appreciated. Please take a look into

[2022-08-18 14:17] monkpit opened #8734 "[🐛 Bug]: afterCommand does not fire after `browser.url`"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.9

### Node.js Version

16.17.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

    browserName: 'chrome',
    acceptInsecureCerts: true

###

[2022-08-18 20:37] erwinheitzman commented on #8734
Might be related to #7837

[2022-08-18 20:40] erwinheitzman commented on #8734
I cannot reproduce this when I generate a new project, can you provide a reproducible example that we can run?

[2022-08-18 20:42] erwinheitzman commented on #7837
I cannot reproduce this when creating a new project.

@hung-cybo do you still experience this with the latest version?

[2022-08-18 23:35] monkpit commented on #8734
@erwinheitzman Thank you for looking into it - I also cannot reproduce this from scratch. I am not sure at what point between a fresh WDIO config and my current config that this issue arises. I will look more into it as I have time and will reopen this issue if I can publish reproducible example.

Thanks again!

[2022-08-18 23:35] #8734 closed

[2022-08-19 07:58] erwinheitzman commented on #8734
@monkpit it might be the difference between the configs, what happens when you paste the config in your project?

[2022-08-19 08:45] spaudel1 opened #8735 "[🐛 Bug]: On windows, @wdio/selenium-standalone-service: Error: Port 4444 is already in use."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.21

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I have experienced this issues onl

[2022-08-19 08:55] christian-bromann commented on #8735
It does, can you verify it is a stale selenium-standalone process?

[2022-08-19 14:59] monkpit commented on #8734
@erwinheitzman I did a little testing today and it seems it only crops up when the `wdio-video-reporter` service is enabled. I guess I'll file an issue on that repo.

[2022-08-20 11:43] #8733 closed

[2022-08-20 11:45] christian-bromann commented on #8682
@BeBestOf can you provide a reproducible example or anything. I am not sure what anyone could do at this point?

[2022-08-20 11:45] christian-bromann commented on #8671
Closing due to inactivity

[2022-08-20 11:45] #8671 closed

[2022-08-20 11:57] #8467 closed

[2022-08-20 12:40] #8609 closed

[2022-08-20 12:43] christian-bromann commented on #8609
I've implemented this feature, so the following is now possible:

[code]

[2022-08-20 21:55] mtaylor-evidation commented on #521
I'm getting this error when trying to use scrollintoview for android

ERROR webdriver: Request failed with status 405 due to unknown method: Method is not implemented

`const client = await wdio.remote(androidCaps);
await client.$('//xpath-to-element').scrollIntoView();`

I have it defined at the top with

const wdio = require("webdriverio");
const { default: scrollIntoView } = require("webdriveri

[2022-08-21 04:59] spaudel1 commented on #8735
@christian-bromann : Previous test run did not error out.
As part of workround, I am killing the process running on port 4444 using below command
`netstat -ano | findstr :4444`
`taskkill //F //PID <PID>`
This will terminate the process and next test run would run normally.

Here is some additional example which indicates there was no error on previous test run.
[code]

[2022-08-22 08:15] christian-bromann commented on #8735
@spaudel1 can you provide a reproducible example? Testing this didn't lead me to an error.

[2022-08-22 08:29] #8519 closed

[2022-08-22 08:36] #8173 closed

[2022-08-22 08:52] #7773 closed

[2022-08-22 09:08] #7620 closed

[2022-08-22 09:19] #6112 closed

[2022-08-22 10:59] ENEMBI commented on #5900
I have the same issue on browserstack. Seems like it is wdio wdio issue when elements like pop up(element exist -> get element -> page is changed but element is still here -> is displayed?( it is, but app source is changed)
`[0-0] 2022-08-22T10:47:44.333Z INFO webdriver: COMMAND findElement("accessibility id", "Success. Profile was updated")
[0-0] 2022-08-22T10:47:44.333Z INFO webdriver: [POST] ht

[2022-08-22 16:16] wswebcreation commented on #521
@mtaylor-evidation

Are you using a native app? `scrollIntoView()`  is a browser command and will not work with native apps. There is no `scrollIntoView()` command for native apps (at the moment)

[2022-08-22 16:22] christian-bromann commented on #521
fyi: this is likely fixed in v8 where we use the actions API for scroll into view

[2022-08-22 16:34] mtaylor-evidation commented on #521
Yes I was trying to use it in the native app.

Is there a workaround for this?

When does V8 come out?

On Mon, Aug 22, 2022 at 10:22 AM Christian Bromann ***@***.***>
wrote:

--

*Matthew Taylor*

Manager, QA and Test Engineering

Subscribe to Evidation's monthly business newsletter here
<https://evidation.com/newsletter-sign-up>

This email and any files transmitted with it are confidential and

[2022-08-22 16:35] christian-bromann commented on #521
Soon™

[2022-08-22 16:37] mtaylor-evidation commented on #521
Lol all good.

Do you know of any ways to mimic a scroll to get to a bottom of a screen
with Appium or commands?

I was thinking like maybe touch swipe down and release?

On Mon, Aug 22, 2022 at 10:35 AM Christian Bromann ***@***.***>
wrote:

--

*Matthew Taylor*

Manager, QA and Test Engineering

Subscribe to Evidation's monthly business newsletter here
<https://evidation.com/newsletter-sign-up>

[2022-08-22 17:09] wswebcreation commented on #521
Have you checked the boilerplate? There are some helpers in there, see https://github.com/webdriverio/appium-boilerplate/blob/main/tests/helpers/Gestures.ts

[2022-08-22 18:06] mtaylor-evidation commented on #521
Thank you will take a look!

On Mon, Aug 22, 2022 at 11:09 AM Wim Selles ***@***.***>
wrote:

--

*Matthew Taylor*

Manager, QA and Test Engineering

Subscribe to Evidation's monthly business newsletter here
<https://evidation.com/newsletter-sign-up>

This email and any files transmitted with it are confidential and intended
solely for the use of the individual or entity to whom they are addressed

[2022-08-23 09:50] christian-bromann commented on #8221
With version 8 of WebdriverIO we will get rid of `browser.config` and we generally don't recommend to attach data to the browser object at all. That said, your usecase seems to be ideal for the [`@wdio/shared-store-service`](https://v8.webdriver.io/docs/shared-store-service) which you can use to get the data across all workers. Let me know if this works out for you, happy to support with the trans

[2022-08-23 09:50] #8221 closed

[2022-08-23 09:51] christian-bromann commented on #8148
Closing due to inactivity. It would be helpful to get a minimal reproducible example otherwise it would be hard for anyone to understand what is going on.

Thank you @mayankshukla94 for investigating this.

[2022-08-23 09:51] #8148 closed

[2022-08-23 09:55] christian-bromann commented on #7960
@irtiza any updates, issues or anything I can help with?

[2022-08-23 09:59] christian-bromann commented on #7453
The `performActions` command doesn't do a `releaseAction` command, it is up to you to call it or not.

I am not sure at this point what we can do to fix this issue in WebdriverIO. Therefor I am closing this, however if anyone has suggestions to improve the experience I am happy to re-open and discuss.

Thanks for the insights @ArminazK

[2022-08-23 09:59] #7453 closed

[2022-08-23 10:54] Pankaj-Pippin opened #8757 "[📖 Docs]: Save pdf"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation, Missing documentation

### Description of the improvement / report

Hi,

https://webdriver.io/docs/api/browser/savePDF/

Please include the values for option PDFPrintOptions

Like for page size, it should be in mm, cm or inches?

A working example would be great inste

[2022-08-23 11:04] christian-bromann commented on #8757
The `PDFPrintOptions` is documented on that page. It is an object with the following properties: `{ orientation, scale, background, width, height, top, bottom, left, right, shrinkToFit, pageRanges }` and their types are listed in the table. A working example can be found in the [example section](https://webdriver.io/docs/api/browser/savePDF/#example). Please let me know if you have any further que

[2022-08-23 11:04] #8757 closed

[2022-08-23 11:56] Pankaj-Pippin opened #8758 "[🐛 Bug]: savePdf not saving other than letter size pdf like A3"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

^6.0.1

### Node.js Version

16.16.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Hi,

When using browser.sav

[2022-08-23 11:59] Pankaj-Pippin commented on #8758
Hi,

Forgot to mention, we tried to give different page size too but it always fallback to default "Letter" size

[2022-08-23 12:05] christian-bromann commented on #8758
@Pankaj-Pippin thanks for filing the issue. Can you provide some WebdriverIO logs?

[2022-08-23 15:36] talbss opened #8759 "[💡 Feature]: add code executed as a string into onTestxxx hooks (for usage in reporter)"
### Is your feature request related to a problem?

Coming from protractor + mocha + mochawesome reporter.
The reporter offers the possibility to include function body code into reporter for better readability (test result + code + screenshot for each test).

https://github.com/mochajs/mocha/blob/ac43029d6a86150a48ccd59e50e89ca10c72a9c0/lib/runnable.js#L37
https://github.com/mochajs/mocha/blob/ac43

[2022-08-23 15:58] christian-bromann commented on #8759
Thanks for reporting!

I am open to the idea of providing the code of the test function in the reporter event. In order to have a similar experience with different frameworks we should check if we can get this information in Jasmine, Cucumber and Mocha.

Any contributions are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us

[2022-08-23 18:13] christian-bromann commented on #8758
These are not the WDIO logs, this looks like your terminal output. Check if you have `outputDir` set which determines where the log files are stored.

[2022-08-23 20:51] sathyasri123222 commented on #4171
Hi @christian-bromann, MoveTo() function is not working in Safari Browser. Could you help me in resolving this issue ASAP.

[2022-08-23 20:54] sathyasri123222 commented on #4322
Hi @christian-bromann, MoveTo() function is not working in Safari Browser. Could you help me in resolving this issue .
I tried all the different way suggested in link " https://github.com/webdriverio/webdriverio/issues/4322" . Kindly need your help in resolving

[2022-08-24 01:59] LinaRScAl commented on #8634
Hi Christian. @christian-bromann can you please let me know how does it work? Should a wdio version to be updated so this can be tested? I'm not sure if this PR was deployed already... And thank you, thank you!

[2022-08-24 06:41] christian-bromann commented on #8634
@LinaRScAl yes, this was released to one of the latest webdriverio versions, you can now set `prefs` in `goog:chromeOptions` as follows:

[code]

[2022-08-24 15:22] djv1001 commented on #8507
I'm currently seeing this on 7.23.0, on macOS 12.5, node 16.6.

Should I upgrade node?

[2022-08-24 19:09] andrew-hm opened #8760 "[🐛 Bug]: Appium does _not_ start with Node v18 but works with Node v16"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

^7.23.0

### Node.js Version

18.7.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Using node v16, this works as expe

[2022-08-25 07:18] christian-bromann commented on #8760
Hey @andrew-hm

thanks for reporting and investigating the issue. I am not sure where this error could be located. Is there something like this reported in the Appium project?

[2022-08-25 10:13] Pankaj-Pippin commented on #8758
Hi,

Will this help?

logLevel: 'error',

[wdio-chromedriver.log](https://github.com/webdriverio/webdriverio/files/9423441/wdio-chromedriver.log)
[log (1).log](https://github.com/webdriverio/webdriverio/files/9423717/log.1.log)
[error.log](https://github.com/webdriverio/webdriverio/files/9423718/error.log)

Thanks

[2022-08-25 10:18] christian-bromann commented on #8760
Thanks to @harsha509 who reminded me that in Node.js v18 you need to set `hostname` to `127.0.0.1` to connect to Appium. I think we should update [the default value](https://github.com/webdriverio/webdriverio/blob/da229d18a630c18ec826669af70ec74e40165826/packages/webdriver/src/constants.ts#L17) from `localhost` to `127.0.0.1`.

[2022-08-25 11:01] christian-bromann commented on #8758
The logs show that WebdriverIO is sending the correct values to Chromedriver:

[code]

So we should investigate if this is a problem within the WebDriver spec or in Chromedriver.

[2022-08-25 11:42] Pankaj-Pippin commented on #8758
Hi

I tried running in linux too same issue coming.

is it coming to me only ?

[out_Linux.log](https://github.com/webdriverio/webdriverio/files/9424263/out_Linux.log)
[error_Linux.log](https://github.com/webdriverio/webdriverio/files/9424264/error_Linux.log)

Thanks

[2022-08-25 13:09] BorisOsipov commented on #8758
It is chromedriver [issue](https://bugs.chromium.org/p/chromedriver/issues/detail?id=3996&q=print&can=2). Nothing to fix from our side.

[2022-08-25 14:27] christian-bromann commented on #8758
@BorisOsipov thanks for looking up the issue in the Chromedriver project. Closing.

[2022-08-25 14:27] #8758 closed

[2022-08-25 18:21] andrew-hm commented on #8760
@christian-bromann thanks, i tried that but it didnt work with node v18. it continued to work with node v16 though. i even tried forcing appium to `127.0.0.1` as well on its address args, but to no avail. this is the config i ended up with. works in v16 but not v18. i appreciate the help. ciao!

[code]

[2022-08-25 18:22] andrew-hm commented on #8760
I'm betting this all goes away when I update the packages to esm, `type:module` and pull in the `@next` tag.

[2022-08-25 21:01] andrew-hm commented on #8760
found it, `https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-appium-service/src/launcher.ts#L18` needs to be set to `127.0.0.1` for node 18 to work

[2022-08-25 21:16] christian-bromann commented on #8760
@andrew-hm good catch! Mind raising a PR?

[2022-08-25 21:37] andrew-hm commented on #8760
shirley, no problem

[2022-08-26 13:10] christian-bromann commented on #8307
The was merged and released. Thanks for the contribution!

[2022-08-26 13:10] #8307 closed

[2022-08-26 13:37] JordiSAGE opened #8769 "[🐛 Bug]: Error @wdio/runner: Error: connect ECONNREFUSED 127.0.0.1: at TCPConnectWrap.afterConnect [as oncomplete] using docker/linux"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.23.0

### Node.js Version

v16.14.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

In our latest standalone runs of

[2022-08-26 13:42] christian-bromann commented on #8730
@dragosMC91 thanks for reporting!

Can you elaborate what do you think `'goog:platformName'` does and where this is defined?

[2022-08-26 13:56] christian-bromann commented on #8185
@vmwhereqa 👁️

[2022-08-26 17:50] BorisOsipov commented on #7530
@enliltom004 I assume you about https://github.com/aerokube/selenoid/issues/1261. https://github.com/aerokube/selenoid/issues/1023 is closed long time ago.

About 1261 - please follow @vania-pooh's  advices. You have to set the `path` properly

[2022-08-26 19:27] wyhmichael commented on #8307
This is available in v7 not v8, right?

[2022-08-26 21:13] christian-bromann commented on #8307
Yes, it is available in `v7`

[2022-08-27 10:23] vania-pooh commented on #7530
@enliltom004 currently we don't pack `devtools` daemon to Edge images. So it is not expected to work. You can create a separate issue in [images](https://github.com/aerokube/images/) repository if you need it.

[2022-08-27 16:12] marcmyers commented on #8735
@christian-bromann I was able to reproduce this issue with the following repo: https://github.com/marcmyers/webdriverio-7-windows-issue

[2022-08-30 15:28] vvscode opened #8787 "[🐛 Bug]: input.setValue() / input.clearValue does not trigger `input` event"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.21.0

### Node.js Version

v16.17.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

In my code, I use reaction on the

[2022-08-30 15:34] vvscode commented on #8787
Code works if I use
[code]
but it looks more like a workaround

[2022-08-30 15:49] BorisOsipov commented on #8787
@vvscode it is well known chromedriver issue.
see https://github.com/SeleniumHQ/selenium/issues/6741 or https://bugs.chromium.org/p/chromedriver/issues/detail?id=2702&q=&sort=-id&colspec=ID%20Status%20Pri%20Owner%20Summary

[2022-08-30 17:48] vvscode commented on #8787
@BorisOsipov  maybe. In my case, it's not React code (just mention the difference)

[2022-08-30 18:15] christian-bromann commented on #8787
@vvscode thanks for raising the issue. WebdriverIO has no influence which events are send. This should either be reported in the WebDriver spec or the driver as WebdriverIO is not responsible for actually executing the command. Happy to discuss this further if you have any suggestions, otherwise closing.

[2022-08-30 18:15] #8787 closed

[2022-08-30 18:19] BrLane commented on #5545
We've written a custom reporter using WDIOReporter. When we encounter a test that times out, the test runner hangs. My first guess is that it's due to this bug. Could that be the case? If not I can dig around to see if this is a different known issue or open a bug if it's new.

[2022-08-30 18:28] christian-bromann commented on #5545
I don't think it is related as no one reported that the runner is hanging.

[2022-08-30 19:01] vvscode commented on #8787
@christian-bromann  I do understand your point (as a developer)

But as a consumer of your API I do expect to have a solution in the wdio wrapper (which is doable) =)

[2022-08-30 19:18] BrLane commented on #5545
Ok. I'll look into our code to see if it's something we're doing. When I saw the hang behavior in our tests this bug was the first thing I thought about because the test failed due to timing out trying to find a (non-existent) element. FWIW, I verified the test times out and the runner continues executing without our custom reporter. Thanks!

[2022-08-30 20:23] christian-bromann commented on #8787
What are you suggesting?

[2022-08-31 03:19] adityagautam opened #8788 "[🐛 Bug]: DevToolsService._setupHandler throwing error during start of test execution"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14.16

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Since today suddenly we are s

[2022-08-31 10:53] ayroblu opened #8789 "[🐛 Bug]: Regression: --spec arg ignores excludes"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.3

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

A feature introduced in #3995 was the a

[2022-08-31 11:40] christian-bromann commented on #8789
duplicate of #8730

[2022-08-31 11:40] #8789 closed

[2022-08-31 13:44] adityagautam commented on #8788
Re-Installing the chrome browser solved the issue above. Please let me know what the root cause might be here?

[2022-08-31 14:04] christian-bromann commented on #8788
@adityagautam hard to say, maybe a wrong Chrome version? Anyway, glad you figured out a solution!

[2022-08-31 14:04] #8788 closed

[2022-09-01 07:11] dragosMC91 commented on #8730
Sorry for the delayed reply I was on holiday, I think this was a custom capability which was added on my project to be able to differentiate between the mobile and desktop capabilities via a method like
[code]
But why does this capability matter @christian-bromann  ? the `exclude` parameter works based on file names (in this case files containing `desktop/mobile`), it has nothing to do with `goog:

[2022-09-01 16:14] erwinheitzman opened #8799 "[🐛 Bug]: Make CLI compatible with v8"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

When generating a Typescrip

[2022-09-01 16:33] christian-bromann commented on #8799
How did you make sure you were running `v8`?

This downloads the CLI from `v7`.

[2022-09-02 08:16] halit-carbon opened #8800 "no such alert error in the docker container"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7

### Node.js Version

v18.6.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I am having an issue running my tests

[2022-09-02 08:47] #8689 closed

[2022-09-02 09:48] christian-bromann commented on #8800
Can you provide some WDIO logs?

[2022-09-02 10:51] halit-carbon commented on #8800
[wdio-0-0.log](https://github.com/webdriverio/webdriverio/files/9477263/wdio-0-0.log)

[2022-09-02 11:23] Plazzko commented on #8012
I'm no longer working on a webdriver project, but the issue seems to be resolved. More info can be found here: https://github.com/appium/appium/issues/16676#issuecomment-1234683455

[2022-09-02 11:23] #8012 closed

[2022-09-02 11:37] christian-bromann commented on #8800
Just from looking at the looks I am not really sure what is going on. Any investigations or leads to how to resolve this would be appreciated, thanks!

[2022-09-02 12:39] rameshkumarj commented on #8377
Given(/^launch site$/, async function(){
await browser.url('https://emberjs.com/')
})

Then(/^grab text and validate$/, async function(){
  await $('.navbar-list li:nth-child(1)').click()
  await browser.pause(2000)
  let text = await $('.navbar-list li:nth-child(1) ul li:nth-child(1) a').getText()
  expect(text).toEqual('Ember.js Guides')
})

**Logs:**
Execution of 0 workers started at 2022-09-02

[2022-09-02 12:41] rameshkumarj commented on #8377
@christian-bromann  you can check this sample and reopen the issue please

[2022-09-02 12:46] DmitrySannikov commented on #8730
@dragosMC91 as far as I understand this PR will help you to understand this behaviour, but I am not sure that it is fine when spec flag ignore `exclude` parameter
https://github.com/webdriverio/webdriverio/pull/8432

[2022-09-02 14:01] christian-bromann commented on #8377
Please provide a reproducible example, thanks!

[2022-09-02 14:11] rameshkumarj commented on #8377
await browser.url('https://emberjs.com/')
await $('.navbar-list li:nth-child(1)').click()
await browser.pause(2000)
let text = await $('.navbar-list li:nth-child(1) ul li:nth-child(1) a').getText()
expect(text).toEqual('Ember.js Guides')

[2022-09-02 14:25] christian-bromann commented on #8377
@rameshkumarj you are right, unfortunately this is a Safari bug and needs to be fixed within the Safaridriver. As a workaround I recommend to call trim in your test.

see also https://github.com/SeleniumHQ/selenium/issues/10735

[2022-09-02 14:27] christian-bromann commented on #8377
Actually the WebDriver spec doesn't define whether the text should be trimmed or not. But both browser have a different way to get the visible text of an element.

[2022-09-02 14:32] rameshkumarj commented on #8377
Thanks @christian-bromann

[2022-09-02 14:33] christian-bromann commented on #8377
Created an issue in the spec: https://github.com/w3c/webdriver/issues/1682

[2022-09-02 23:10] tv2022 commented on #8022
Yes, any update on this issue? It just holds the element doesn't drop to the target location.

[2022-09-05 09:12] HananArgov opened #8805 "[📖 Docs]: Standalone mode link is broken"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation

### Description of the improvement / report

STR:
1. go to https://webdriver.io/docs/gettingstarted#run-in-a-script
2. click on the `Standalone mode` link

result:
it leads to https://webdriver.io/docs/docs/setuptypes#standalone-mode which is missing. (getting `We cou

[2022-09-05 12:10] NIBOSAP commented on #8307
@wyhmichael @christian-bromann From my understanding, the fix will be available only in ```v8```, see [commment](https://github.com/webdriverio/webdriverio/pull/8334#issuecomment-1196874229)

[2022-09-05 14:34] #8805 closed

[2022-09-05 14:39] KuznetsovRoman opened #8806 "[🐛 Bug]: <Update strip-ansi to 7.0.1>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

strip-ansi (used by wdio/log

[2022-09-05 14:42] christian-bromann commented on #8806
The dependency in `@wdio/logger` is defined as:

a fix was backported to v6.0.1 so you should automatically get this update since we don't ship with a `package-lock.json`.

[2022-09-05 14:42] #8806 closed

[2022-09-05 14:48] KuznetsovRoman commented on #8806
No, i meant, ansi-regex needs to be 6.0.1, but strip-ansi uses ansi-regex v6 until strip-ansi's version 7.0.1

[2022-09-05 14:52] christian-bromann commented on #8806
The security vulnerability was patched with [`v5.0.1`](https://github.com/chalk/ansi-regex/releases/tag/v5.0.1). No update is needed.

[2022-09-05 14:56] erwinheitzman commented on #8799
hey @christian-bromann apoligies I tried to create a short summary but forgot that this installs v7, what I did was the following:
[code]

By now it seems like it will give a different issue as this fails earlier.

[2022-09-05 15:11] erwinheitzman commented on #8799
The packages I used are as follows:
[code]

[2022-09-05 15:16] erwinheitzman commented on #8799
I can also push the repo and link it

[2022-09-05 15:27] erwinheitzman commented on #8799
Debugged it and the issue of the `addConfigEntry requires config key` is due to the import of the config containing the default property as shown here:
[code]

[2022-09-05 15:31] erwinheitzman commented on #8799
If I change the ConfigParser from
[code]
to
[code]
then it works

[2022-09-05 22:59] christian-bromann opened #8826 "[🐛 Bug]: Accessibility Selector has trouble to find input by for a11y name"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Given a form like:

[code]

If we t

[2022-09-06 04:16] LinaRScAl commented on #8634
Unfortunately, it's not working as expected. The same as it was before. I've updated the wdio version + all the dependencies and it's still the same: not downloading a file to the specified folder. I'll provide you with the video recording soon.

[2022-09-06 07:29] christian-bromann commented on #8634
I just tried with the latest WebdriverIO version and both can download the file. The only difference I recognised is that when using the devtools protocol the `prefs` arguments are passed into the user dir of Chrome but not recognised by the browser causing it to download into the default download dir and not the one used in `prefs`. This would be a chrome-launcher issue I think. I tried running t

[2022-09-06 07:48] christian-bromann opened #8827 "Smoke test fails in Windows"
The highlighted smoke test unfortunately fails when running in Windows CI. I tried to reproduce it with my Parallels VM where it was passing, so not sure why it is failing in CI.

To reproduce this, just set up the repo and run:

[code]

---

## Code References
<details>
<summary>
    <a href="https://github.com/webdriverio/webdriverio/blob/6aabb34d97d3516373e2a7e9f06c74e4ca6ad279/tests/mocha/test

[2022-09-06 07:51] christian-bromann commented on #8769
Is there a reason for that? Have you tried running it with Chromedriver?

[2022-09-06 07:53] christian-bromann commented on #8769
Would you mind create a minimal reproducible example for this? This seems like a set up issue with Docker and Chrome and less like a bug in WebdriverIO. However I can't pin point it based on the info provided. Any help to investigate this is very much appreciated.

[2022-09-06 08:06] christian-bromann commented on #8735
@marcmyers I am using a Mac machine and was able to run your example twice in a row with success. Maybe you could create a GitHub Action mimicking the environment you are using?

@spaudel1 have you been able to provide a reproducible example?

[2022-09-06 08:07] christian-bromann commented on #8682
Closing due to inactivity.

[2022-09-06 08:07] #8682 closed

[2022-09-06 09:49] siggerzz opened #8828 "[🐛 Bug]: Mocha unable to resolve local test spec on Windows."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

14.19.7

### Node.js Version

14.20.0 / 16.x

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

In this [UI monorepo](http

[2022-09-06 11:07] siggerzz commented on #8828
I've just tested manually applying this fix to my branch, however I still seeing the same 'Cannot find module' issue - https://github.com/mochajs/mocha/pull/4901

[2022-09-06 12:31] christian-bromann commented on #8828
This fix has nothing to do with your issue.

I unfortunately don't have the time to look into your project but from what I saw at first glance is that you register babel way to many times which is not necessary as WebdriverIO does all that for you. I saw:

[code]

at the beginning of [`wdio-shared.conf.js`](https://github.com/justeat/fozzie-components/pull/2123/files#diff-76d024ed2f74a5d1863b79ef5

[2022-09-06 13:36] Muciek opened #8829 "[🐛 Bug]: Jenkins as a Service on W10 in headless mode doesn’t type characters for example “ą, ś, ł” into input"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

After couple of days trying

[2022-09-06 14:04] siggerzz commented on #8828
Cheers @christian-bromann, will give this a try:

Also, looks like the `mochaOpts` reference was from some V6 code we forgot to move when we migrated to V7 👍🏼
https://v6.webdriver.io/docs/babel.html

[2022-09-06 14:12] christian-bromann commented on #8828
@siggerzz let me know if I can close this.

[2022-09-06 14:14] christian-bromann commented on #8829
Can you provide some WDIO logs showing how you set and receive the value of the input element?

[2022-09-06 14:41] christian-bromann commented on #8829
This is your terminal output, I was asking for the wdio logs (check `outputPath` set in your wdio.conf.js.

[2022-09-06 15:35] christian-bromann commented on #8829
Check the WebdriverIO options in the docs, in particular `logLevel` and `outputDir`

[2022-09-07 07:21] asifrayn commented on #5670
@robto09 can you please share the solution I also cannot access element using ID

[2022-09-07 09:26] siggerzz commented on #8828
I'm not sure why, but I managed to fix this issue by changing the following in my wdio.config.js:

`require('@babel/register')({ ignore: [/node_modules\/(?!@justeat)/] });`

to

`require('@babel/register')({ exclude: ['node_modules/@justeat/**/*.js'] });`

[2022-09-07 09:26] #8828 closed

[2022-09-07 12:14] Muciek commented on #8829
I have `outputDir` and logs from allure. Is that enough or do you want something else?

[2022-09-07 13:48] christian-bromann commented on #8829
I need wdio logs, these files usually have this format: `wdio-0-0.log`

[2022-09-07 15:38] JordiSAGE commented on #8769
Hi @christian-bromann
First, thanks for your answer!
The reason for using devtools instead of Chromedriver is to avoid having to update Chromedriver every time a new version of Chrome is released, both within our organization and for the partners those use our application, by using devtools we keep the test runner completely Chrome version agnostic.
Regarding the ECONNREFUSED bug in docker itself,

[2022-09-07 15:46] christian-bromann commented on #8769
@JordiSAGE this is unfortunately not reproducible enough, ideally we need something that we can just run, e.g. a complete `Dockerfile`.

[2022-09-08 14:41] vvscode commented on #8787
I have a workaround with typing backspace - why don't add it on the WD level?

it's a hack, but it's for users

[code]

[2022-09-08 15:04] christian-bromann commented on #8787
Because it is a hack and might cause other side effects.

[2022-09-09 07:14] christian-bromann commented on #8799
Fixed with https://github.com/webdriverio/webdriverio/commit/ea33c6a97523a726882fd93515f3de5eceb914ff

[2022-09-09 07:14] #8799 closed

[2022-09-09 14:50] louis57 opened #8835 "[🐛 Bug]: "ERROR @wdio/cli:utils: A service failed in the 'onPrepare' hook" persists although tests passed"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.24.0

### Node.js Version

v16.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I have used WebDriverIO an

[2022-09-10 17:11] vvscode commented on #8787
that's why I do propose to localize it with proper abstraction, instead of making all the consumers repeat this from project to project

Like what?

[2022-09-11 04:53] RafalSkorka commented on #8730
I am also having this problem and I think `exclude` from capabilities should not be ignored when `spec` is provided from the CLI.  I would expect the code to behave like this:
[code]

[2022-09-12 08:20] Ankit098 commented on #8835
@christian-bromann This is quite weird - especially since @louis57 mentioned they are only seeing this on a particular machine... will check if this is a bug.

[2022-09-12 13:51] louis57 commented on #8835
@christian-bromann
I mean, if I change my `wdio.conf` to run tests on browser on my laptop with this `services: ['chromedriver'],`, then I don't have any error. What strange is, it was working just fine one minute before, and next run this error just shows up and persists.

I have contacted Browserstack Support, they also suggested to update Browserstack service to latest version. I did, and it do

[2022-09-12 17:27] christian-bromann commented on #8835
Yeah since you don't run through the BS servíce.

[2022-09-12 22:37] anzhelikavv commented on #6161
@christian-bromann Hi, can you please help out?
I am trying to get hex color of the element using `getCSSProperty()` it returns this object:

[0-0]   property: 'border-color',
[0-0]   value: 'rgba(213,25,35,1)',
[0-0]   parsed: {
[0-0]     hex: '#d51923',
[0-0]     alpha: 1,
[0-0]     type: 'color',
[0-0]     rgba: 'rgba(213,25,35,1)'
[0-0]   }
[0-0] }

Then I am trying to verify the color with `J

[2022-09-12 23:31] amandaflagg commented on #8021
I believe this is blocking me from being able to mock geolocation data using devtools in my tests. @christian-bromann Does this issue just need someone to create a PR with @johnBartos's suggested solution (the 2nd one)?

[2022-09-13 15:58] Awukam commented on #3530
I thing what **learningandworking** is trying to say its that, how the browser is fired up and teared down. We have an issue where it is reusing a browser for multiple tests when a cucumber feature file has multiple examples. We want it to tear down the browser and recreate between tests

[2022-09-14 08:59] christian-bromann commented on #3530
You can use [`reloadSession`](https://webdriver.io/docs/api/browser/reloadSession/) for this.

[2022-09-14 09:01] christian-bromann commented on #8021
@amandaflagg any contributions that provide a fix for this are appreciated.

[2022-09-14 12:37] chidaquest opened #8857 "[🐛 Bug]: Import statements are throwing errors"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Error:  Cannot use import st

[2022-09-15 00:59] dylanz666 opened #8858 "[🐛 Bug]: Unable to use safari.options and can't find a way to use private mode on safari"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.5

### Node.js Version

v16.10.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Request failed with status code 4

[2022-09-15 10:07] PrLu opened #8859 "Bug: Error while running code coverage : protocol error :due to syntax error"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

6.0.1

### Node.js Version

16.16.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I was implementing code coverage us

[2022-09-15 10:10] PrLu commented on #8859
Need Immediate resolution as we are in the mid of implementing code coverage.
Please note, scripting without code coverage is working as expected. But with devtools service, it is not working.

[2022-09-15 12:36] Julian-Cloudshelf opened #8861 "[🐛 Bug]: TypeError: Cannot read properties of undefined (reading 'autoCompileOpts')"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.24.0

### Node.js Version

v16.13.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When attempting to run tests writ

[2022-09-15 14:01] christian-bromann commented on #8861
@Julian-Cloudshelf did you made sure that all WebdriverIO related packages are updated?

[2022-09-15 14:03] #8861 closed

[2022-09-15 14:07] christian-bromann commented on #8859
@PrLu can you provide a minimal reproducible example?

[2022-09-15 14:10] christian-bromann commented on #8858
@dylanz666 thanks for raising the issue. This seems like a Safaridriver issue since WebdriverIO is unable to initiate the session. From a quick search on Stack Overflow:

[2022-09-15 14:10] #8858 closed

[2022-09-15 14:22] #8857 closed

[2022-09-15 20:56] umerkk opened #8862 "[🐛 Bug]: Jest Matchers not available in expect"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.24

### Node.js Version

14

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I migrated from V4 to V7. Added all new d

[2022-09-15 23:19] colleenhobbs commented on #8735
Is this issue the same as https://github.com/webdriverio/selenium-standalone/issues/599 ?

[2022-09-16 06:17] spaudel1 commented on #8735
@colleenhobbs @christian-bromann I was able to resolve the this issue. The issue was with Java JDK 18 (https://www.oracle.com/java/technologies/downloads/#jdk18-windows). I uninstalled JDK 18 and reinstall Open JDK 17 using below command and now this is no longer an issue.
`winget install Microsoft.OpenJDK.17`

[2022-09-16 09:04] christian-bromann commented on #8862
The way you call `isExisting`, e.g. `browser.isExisting("#obf-OverlayBackground")` is not valid WebdriverIO syntax so this obviously fails.

Can you provide a code snippet that is throwing this error?

[2022-09-16 14:54] louis57 commented on #8835
I found out, there is a Browserstack binary downloaded implicitly on my laptop on the runtime, every time I execute tests. And somehow the file was corrupted at the time I reported this issue with `@wdio/cli:utils` . So I removed this corrupted file, and everything is back to normal. no error occurs.
I close this issue. Thanks for your support.

[2022-09-16 14:54] #8835 closed

[2022-09-16 15:48] umerkk commented on #8862
Browser.isExisting was an old syntax working in v4.

My new syntax is

expect($("#obf-TPromptTitle").isExisting()).toBe(value);

This is the one throwing the error.

[2022-09-16 17:15] christian-bromann commented on #8862
This version of WebdriverIO is not compatible with `expect-webdriverio`.

Why not just do `await expect($("#obf-TPromptTitle")).toBeExisting()`?

[2022-09-16 21:09] victoriacole1 opened #8865 "💡 Feature: Need a way to clear browser session without opening a new browser window with reloadSession()"
### Is your feature request related to a problem?

I need to run each of my scenarios with a new browser session. If I put reloadSession in beforeSession or afterSession hook, a new browser window opens and closes before or after test run. Browserstack treats that new browser window that pops up and closes immediately as a separate test run, which skews our test metrics.

### Describe the solution

[2022-09-17 16:18] christian-bromann commented on #8865
Why would you put it into `beforeSession`? Note that every spec file runs in its own browser session. It would help to understand what you are trying to achieve.

[2022-09-18 16:59] egerix opened #8866 "[🐛 Bug]: ECONNRESET on setCookies"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.24.0

### Node.js Version

16.10.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

When using the setCookies m

[2022-09-18 17:06] umerkk commented on #8862
As you can see i am looking for jest matchers and not just isExisting functionality.

The question is, how can i get them and which versions are incompatible.

My webdriverio is on 7.24.0.

[2022-09-19 09:35] christian-bromann commented on #8862
I check on a new set up project and I had no issues using Jest matchers, e.g.:

[code]

I expect that some package is not updated. Please try to update all. Can you provide a minimal reproducible example otherwise?

[2022-09-19 09:41] christian-bromann commented on #8866
Thanks for reporting!

I agree, unfortunately some driver don't like many parallel requests. I suggest to have a simple for loop with a break of 100ms in between these calls.

We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers

[2022-09-19 18:08] umerkk commented on #8862
This is what my dependences looks like. I am using gulp-webdriver as task runner.

  "devDependencies": {
    "@wdio/cli": "^7.24.0",
    "@wdio/codemod": "^0.12.0",
    "@wdio/jasmine-framework": "^7.24.0",
    "@wdio/junit-reporter": "^7.24.0",
    "@wdio/local-runner": "^7.24.0",
    "@wdio/spec-reporter": "^7.24.0",
    "gulp": "^4.0.2",
    "gulp-change": "1.0.0",
    "gulp-clean-css": "^4.2.

[2022-09-19 23:28] JaniJegoroff opened #8887 "[🐛 Bug]: [Appium] "Failed to create session" error is raised after updating to Xcode 14.0 even though everything seems to launch successfully"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.24.0

### Node.js Version

v18.8.0 / v18.9.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

1. Given simple example

[2022-09-20 04:45] christian-bromann commented on #8887
Thanks for raising an issue.

Unfortunately there is nothing WebdriverIO can do about this. Please report the bug in the Appium project. Thank you!

[2022-09-20 04:45] #8887 closed

[2022-09-20 04:48] christian-bromann commented on #8862
Can you provide a reproducible example?

[2022-09-20 13:40] sushantsoni5392 commented on #5577
Hey
This is still an issue, an empty xml file is generated by the junit reporter when jasmine specFilter is used to filter out the specs.
This happens when the initial number of workers started by wdio is more than the actual number of specs to be run. This could happen because some of the specs may get filtered out and may need not be run.

[2022-09-20 13:51] christian-bromann commented on #5577
@sushantsoni5392 mind raising a PR with a fix?

[2022-09-20 14:48] sushantsoni5392 commented on #5577
@christian-bromann Would love to contribute, never done that. Is this well suited for a beginner?

[2022-09-20 14:50] Awukam opened #8891 "🐛 preferScenarioName set to True no working"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

18

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

**preferScenarioName: True**, is

[2022-09-20 18:58] samuelfreiberg opened #8892 "[🐛 Bug]: WebDriverIO/TS-Node won't transform the module - SyntaxError: Cannot use import statement outside a module"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.24.0

### Node.js Version

14.20

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I understand bugs similar to this on

[2022-09-20 19:28] christian-bromann commented on #8892
Why do you need to import `Platform` in your tests?

[2022-09-20 19:50] wbigno opened #8893 "[🐛 Bug]: <Set Cookie, Expiry not setting correct value>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

v14

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When setting a cookie, the expiry valu

[2022-09-20 22:20] samuelfreiberg commented on #8892
It's not just for `Platform`. It's any import from an external package. It doesn't have to be from 'react-native' either. Just an import from an external package.

[2022-09-20 22:21] christian-bromann commented on #8892
If you use TypeScript, why do you have a `babel.config.js`? Have you tried to delete that one?

[2022-09-20 22:29] samuelfreiberg commented on #8892
I have tried deleting it along with babel dependencies, but I'm getting the same error. I also saw Babel integrated in this [boilerplate project,](https://github.com/webdriverio/appium-boilerplate/) which is why I added it initially

[2022-09-20 22:33] christian-bromann commented on #8892
I recommend to set up WebdriverIO using the configuration wizard and pick TypeScript when it asks which compiler to set up (see also https://webdriver.io/docs/gettingstarted#using-npm). Without a minimal reproducible example it is hard to pin point to anything.

[2022-09-20 22:57] samuelfreiberg commented on #8892
Just tried that and still having the same error. I used the wizard and picked TypeScript. Added minimal config, but still reproducing the error.

[2022-09-20 23:02] samuelfreiberg opened #8894 "[🐛 Bug]: WebDriverIO Desired Capabilities do not Match with Windows Driver"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.24.0

### Node.js Version

14.20

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Appium's window driver contains supp

[2022-09-20 23:19] samuelfreiberg commented on #8892
Ugh, ok. I read through all of https://github.com/TypeStrong/ts-node#cli-and-programmatic-options and tried some stuff out.

Turns out I need to add `ignore: ['/node_modules']` in tsNodeOpts.

So it works with:
[code]

[2022-09-20 23:24] samuelfreiberg commented on #8892
Hours and hours and hours.... Just for one line, gotta love software engineering :)

[2022-09-20 23:24] #8892 closed

[2022-09-20 23:25] christian-bromann commented on #8892
When I run `npm init wdio .` and pick TypeScript and right after call `npm run wdio` all tests pass. What did you modify?

[2022-09-20 23:26] samuelfreiberg commented on #8892
I added an import statement at the top of the spec file that imports from an external package

[2022-09-20 23:27] christian-bromann commented on #8894
@samuelfreiberg thanks for raising the issue.

Mind raising a PR and adding it to https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-types/src/Capabilities.ts ?

[2022-09-20 23:28] samuelfreiberg commented on #8892
I would assume that importing from an external package might be common practice? Maybe something should be added at the bottom of the docs about this property?

But then again, if more people aren't posting about this, maybe it's not.

[2022-09-20 23:34] christian-bromann commented on #8892
When I tried to import `import { Platform } from 'react-native'` I am getting:

which is very weird 🤔 other imports seem to work for me.

[2022-09-21 00:29] samuelfreiberg commented on #8894
Create a PR [here](https://github.com/webdriverio/webdriverio/pull/8895)

[2022-09-21 12:17] AlbertORoura commented on #5611
Hello @wswebcreation how is going on that PR?

Any body knows if there is any other option to intercept request?

Would be appreciated if anybody can bring some light on that.

Thank you very much.

[2022-09-21 13:58] christian-bromann commented on #8507
I pushed [an initiative](https://github.com/w3c/webdriver/issues/1679) to get more information from the protocol on the element that can not be interacted with. That said, we already have and can create the data needed to already provide more information today.

If anyone likes to take a stab at this I am happy to provide guidance. Currently I am personally focused on the `v8` release so this is l

[2022-09-21 15:55] christian-bromann commented on #8894
Let's continue our convo there. Thanks!

[2022-09-22 18:57] #8862 closed

[2022-09-23 09:06] nmattia opened #8903 "[🐛 Bug]: Mobile screenshots have incorrect aspect ratio on big pages"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.16

### Node.js Version

v16.15.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When setting `mobileEmulation` t

[2022-09-23 14:48] christian-bromann commented on #8903
Thanks for raising the issue @nmattia

This happens due to the fact that the `devtools` package takes a full page screenshot while WebDriver binaries actually only take a screenshot of the viewport. The code in question is this: [`takeScreenshot.ts#L14`](https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/commands/takeScreenshot.ts#L14). As we are striving to have the same e

[2022-09-23 14:58] nmattia commented on #8903
hi @christian-bromann,

Just to clarify, are you suggesting that I send a PR that switches `fullPage` to false? Happy to do it, just double checking.

[2022-09-23 15:01] christian-bromann commented on #8903
Yes, for the `main` and `v7` branch.

[2022-09-24 21:44] christian-bromann commented on #8893
Hey @wbigno , thanks for raising the issue.

I am unfortunately not sure if this can be fixed in WebdriverIO. The browser driver is in this case responsible for setting the cookie. Can you share a your WebdriverIO logs with us or a minimal reproducible example?

[2022-09-24 21:46] christian-bromann commented on #8891
@Ankit098 any ideas what could be the issue here?

[2022-09-24 21:46] christian-bromann commented on #8829
Closing due to inactivity.

[2022-09-24 21:46] #8829 closed

[2022-09-24 21:47] christian-bromann commented on #8769
Closing due to inactivity

[2022-09-24 21:47] #8769 closed

[2022-09-24 21:48] christian-bromann commented on #8735
@spaudel1 thanks for the feedback. Will close the issue then.

[2022-09-24 21:48] #8735 closed

[2022-09-24 21:49] christian-bromann commented on #8460
@pinim can you verify if this is solution you are suggesting?

[2022-09-24 21:51] christian-bromann commented on #7960
Fixed by #8834

[2022-09-24 21:51] #7960 closed

[2022-09-24 21:52] christian-bromann commented on #7954
Fixed by #8834

[2022-09-24 21:52] #7954 closed

[2022-09-24 22:07] christian-bromann commented on #7340
I will go ahead and close this issue given that we have deprecated sync usage and will remove it with `v8` of WebdriverIO. If someone is interested fixing this please raise a PR to the `v7` branch. I would be happy to merge and release it.

[2022-09-24 22:07] #7340 closed

[2022-09-24 22:27] christian-bromann commented on #5481
This bug can't happen anymore as we are now doing this `path.join(options.path || '', endpoint)`

[2022-09-24 22:27] #5481 closed

[2022-09-24 22:29] christian-bromann commented on #4788
As we deprecated and now removed `fibers` with `v8` we can close the issue as the problem doesn't exist anymore.

[2022-09-24 22:29] #4788 closed

[2022-09-26 14:42] MapTo0 opened #8917 "[🐛 Bug]: Triggering Control + Backpace does not work on input elements"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.25

### Node.js Version

16.17.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I could not trigger Control + Backsp

[2022-09-26 14:46] jayrepo commented on #8826
Browsers now only support XPath 1.0, according to the [spec](https://www.w3.org/TR/1999/REC-xpath-19991116/), the return value is an unordered collection of nodes.
In Chrome's implementation, the nodes are in document order.

workarounds might be:
 - Send multiple requests and combine the results in pre-defined order
 - Send single request by executing JavaScript to evaluate multiple XPaths expres

[2022-09-26 15:49] christian-bromann commented on #8917
Did you try `await input.keys(["Meta", "Backspace"]);`? Note that `Control` has no effect when running on MacOS.

[2022-09-26 18:02] slavamarkovski commented on #5505
@christian-bromann seems now it is possible to use devtools on remote. At lease I was able to run wdio+devtools+selenoid but in single thread only. If config has maxInstances > 1 browsers are opening locally even if remote  hub is specified in the config. Is it expected?

[2022-09-26 18:45] christian-bromann opened #8921 "[💡 Feature]: Use `npm set-script` in config wizard to add script to package.json"
### Is your feature request related to a problem?

tbd

### Describe the solution you'd like.

tbd

### Describe alternatives you've considered.

n/a

### Additional context

n/a

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-09-27 08:21] MapTo0 commented on #8917
Meta key combination with Backspace is different than hitting Control + Backspace.

Check: https://jsbin.com/wadiguyoze/edit?html,console,output observe the `inputType` of the event object.

- Backspace: `deleteContentBackward`
- Meta + Backspace: `deleteSoftLineBackward`
- Control + Backspace: `deleteContentBackward`

Both keys (Meta and Control) lead to completely different interaction on Mac OS

[2022-09-27 08:26] MapTo0 commented on #8917
Meta key combination with Backspace is different than hitting Control + Backspace.

Check: https://jsbin.com/wadiguyoze/edit?html,console,output observe the `inputType` of the event object.

- Backspace: `deleteContentBackward`
- Meta + Backspace: `deleteSoftLineBackward`
- Control + Backspace: `deleteContentBackward`

Both keys (Meta and Control) lead to completely different interaction on Mac OS

[2022-09-27 11:06] Ankit098 commented on #8891
Looking into this, will update.

[2022-09-28 12:28] adewharlay commented on #1720
const switchTab = await browser.getWindowHandles();
        await browser.switchToWindow(switchTab[1]);
Depending on the tab location input the array value

[2022-09-28 15:53] samuelfreiberg opened #8933 "[💡 Feature]: Sequential Test Suites: Re-Run Specific Spec File on Failure"
### Is your feature request related to a problem?

Using WebDriverIO v7 + Appium v2.

I have _x_ amount of spec files that test _x_ amount of component in the same test app. Although these components are all independent of each other, they are in the same test app. Thus, I grouped all these spec files together to run sequentially so the app wouldn't have to be torn down + rebooted after each spec

[2022-09-28 16:31] christian-bromann commented on #8933
Thanks for raising an issue.

Please check our docs on retrying tests. Especially in Mocha it should be possible to retry individual groups within spec files, see https://webdriver.io/docs/retry/#rerun-suites-in-mocha. Another options is to retry [individual `it` blocks](https://webdriver.io/docs/retry/#rerun-single-tests-in-jasmine-or-mocha).

If the docs are not clear in this regards we should l

[2022-09-28 16:31] #8933 closed

[2022-09-28 19:51] tkmcmaster commented on #6347
Is there any updates on this or a workaround? I'm not using puppeteer and am having issues with this. I'm currently working around it with a class that tries to detect the duplicates and ignore the duplicate but it's not always reliable.

[2022-09-28 22:43] christian-bromann commented on #6347
@tkmcmaster any contributions that fixes the problem are appreciate. Cheers!

[2022-09-28 23:20] Lautenschlager-id opened #8936 "[🐛 Bug]: Allure report ignores previous Cucumber steps if their names are duplicated"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.20.5 | "@wdio/allure-reporter": "^7.19.7" | "@wdio/cucumber-framework": "^7.20.7"

### Node.js Version

16.17.0

### Mode

WDIO Testrunner

### Which capabilities

[2022-09-28 23:32] Lautenschlager-id opened #8937 "[🐛 Bug]: Allure reporter using Cucumber Step Reporter won't list execution's final step"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.20.5 | "@wdio/allure-reporter": "^7.19.7" | "@wdio/cucumber-framework": "^7.20.7"

### Node.js Version

16.17.0

### Mode

WDIO Testrunner

### Which capabilities

[2022-09-28 23:48] Lautenschlager-id commented on #8936
* Temporary workaround would be appreciated!

[2022-09-29 04:25] christian-bromann commented on #8936
Thanks for filing the issue!

This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2022-09-29 04:26] christian-bromann commented on #8937
Thanks for filing the issue.

This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2022-09-29 05:25] #8921 closed

[2022-09-29 07:04] aleksyor commented on #7735
Hello! I just migrated to wdio 7.25.0 and hit the issue described above. Dos it still persist? And if so - is there any workaround for it?
Thanks a lot in advance!

[2022-09-29 07:10] Evotionce commented on #7735
@aleksyor I use tags now to mark the tests I want to execute: `--cucumberOpts.tagExpression='@test'`
[code]

Btw any tag name would work. Hope it helps!

[2022-09-29 08:14] aleksyor commented on #7735
Thanks a lot, @Evotionce. This is pretty good workaround.

[2022-09-29 10:17] BorisOsipov commented on #8936
just set non empty scenario name and all your issues disappear.
e.g.:
[code]

[2022-09-29 13:13] AlbertORoura commented on #5611
@wswebcreation @christian-bromann any news?

[2022-09-29 13:43] Lautenschlager-id commented on #8936
Thank you so much! That indeed works as a workaround. :)

[2022-09-29 13:49] Lautenschlager-id commented on #8937
Important update: it seems to be affecting only nameless scenarios.
<hr>
![image](https://user-images.githubusercontent.com/26045253/193049300-d4cc4268-9252-4b53-9a4f-ed9a8f58b85e.png)
<hr>
![image](https://user-images.githubusercontent.com/26045253/193049489-801a5fd4-f375-4ac9-b246-a3ed432cd1ce.png)

[2022-09-29 15:52] christian-bromann commented on #7735
This is a pretty well scoped issue that can be an ideal first issue for someone who hasn't contributed to the project yet. We contributor offer [1:1 sessions](https://webdriver.io/community/openofficehours) to help if folks have issues or questions working on certain tickets. I would be nice to see a bug fix for this rather than relying on "workarounds".

[2022-09-29 17:07] Lautenschlager-id opened #8939 "[🐛 Bug]: Allure Reporter reporting wrong success rate if Cucumber Step Reporter is on"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.20.5 | "@wdio/allure-reporter": "^7.19.7" | "@wdio/cucumber-framework": "^7.20.7"

### Node.js Version

16.17.0

### Mode

WDIO Testrunner

### Which capabilities

[2022-09-29 17:15] BorisOsipov commented on #8939
It is not a bug it is how allure handles test retries. If you have two tests with the same name and parameters it will handle it as retries of one test.

To "fix" it you must have unique tests names. For Scenario Outline the esiest way is append example value to scenario name like this:

[code]

[2022-09-29 17:15] #8939 closed

[2022-09-29 17:18] Lautenschlager-id commented on #8939
That doesn't really make sense @BorisOsipov. The issue is that even with a broken scenario it still reports to 100%. Isn't that inconsistent?

[2022-09-29 17:31] BorisOsipov commented on #8939
@Lautenschlager-id

- It is correct because the last execution of this series of test retries is passed. So, there are no failed\broken *actual* test results(only outdated broken test). That's why you see 100%.
- Allure has two parts
1 - generate test results data from tests excution.
2 - generate report from data collected in part 1.

wdio-allure-reporter is responsibol

[2022-09-29 19:25] wizelinerMiguelMora commented on #4134
Hello @mgrybyk I'm facing some issue related to dragAndDrop method it seems that is no supported in my end, I receive the following error:
`unknown command: The requested resource could not be found, or a request was received using an HTTP method that is not supported by the mapped resource`
Do you have any idea what is. going on?

[2022-09-29 19:58] wswebcreation commented on #5611
Sorry, no not really.

This is the endpoint

[code]

- having 3 commands in here seems to be impossible
- having 3 times the same endpoint is also not a thing
- adding optional arguments also gives issues

seems like I’m stuck here, any ideas would be appreciated.

Temporary workaround would be not to use the API provided by the service but the "normal" options that Sauce Labs offers with [extende

[2022-09-30 04:49] Ankit098 commented on #8891
@Awukam Code wise this is fine.. I tried running a test with `preferredScenarioName` .. boilerplate code [here](https://github.com/Ankit098/cucumber-wdio-browserstack) (in this I have not added stepDefinitions but is fine for just checking which name - Scenario or Feature - is being used) - this works as expected with scenario getting picked when `parallel` flag and `preferredScenarioName` are pas

[2022-09-30 07:12] Semigradsky opened #8940 "@types/mocha"
### Is your feature request related to a problem?

Currently `@wdio/mocha-framework` package has `"mocha": "^10.0.0"` and `"@types/mocha": "^9.1.1"` in dependencies. Looks like it should be `"@types/mocha": "^10.0.0"`

### Describe the solution you'd like.

Change dependency to `"@types/mocha": "^10.0.0"`

### Describe alternatives you've considered.

_No response_

### Additional context

_No res

[2022-09-30 11:23] PantHarry-21 opened #8943 "Need help to handle error - WebdriverIO"
Hi,
I have a scenario - I have a list of links, user have the access to delete all links, I am writing script for the scenario that if there is no link, return "There is no link available" and if there is any link the proceed with delete process.
I have written a script but it is only fulfilling a single scenario.
If it is working with "There is no link available", then else condition is not worki

[2022-09-30 12:38] Primajin commented on #6499
I am also running into this issue and wonder if there is a way to either remove this or fix the reporter starting to choke after many lines.

I set all logging to `silent` and tried to tweak `errorOptions` but it still puts this verbose logs in there.

Thus working fine for around 1500 lines, it starts to choke at some point leaving the XML file unparseable:

![Screenshot 2022-09-30 at 14 36 50](h

[2022-09-30 13:09] henk-badenhorst opened #8944 "[🐛 Bug]: WDIO Selenium-standalone-service breaking on M1"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.25.0

### Node.js Version

16.13.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

The Selenium-standalone-service is

[2022-09-30 15:53] #8903 closed

[2022-09-30 15:57] christian-bromann commented on #6499
@Primajin mind raising a new issue for this as I guess this is different from what the original poster had in mind. Bascially you are saying the reporter is unable to store large amount of data in the file, right?

[2022-09-30 16:00] Primajin commented on #6499
Correct, OK will do so 👌🏻

[2022-09-30 16:02] christian-bromann commented on #8943
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

Please understand that it is difficult for anyone to support you here given we don't have the application you are working with. We can only make

[2022-09-30 16:02] #8943 closed

[2022-09-30 16:06] christian-bromann commented on #8940
Thanks for reporting!

You are right, the new version for `@types/mocha` was released 2 days ago and our automated dependency update hasn't kicked in yet. Feel free to raise a PR with a fix otherwise @dependabot will go ahead and probably do that next Monday.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/

[2022-09-30 16:49] #8940 closed

[2022-09-30 17:16] nextlevelbeard commented on #8609
@christian-bromann

Types might need some polishing:

With `map`, usage is correctly Inferred as (in this example) `boolean[]`
[code]

But with `find`, it is not inferred as an element, but rather `unknown`
[code]

I assume `find` is also supported, as mentioned in the [Async migration:](https://webdriver.io/docs/async-migration/) docs:

[2022-09-30 18:05] christian-bromann commented on #8609
Thanks for the feedback @nextlevelbeard , you like to take a stab at this?

[2022-09-30 21:05] nmattia commented on #8903
@christian-bromann any idea when this might get released?

[2022-09-30 22:05] christian-bromann commented on #8903
Soon 😉

[2022-10-03 07:22] christian-bromann opened #8949 "[🐛 Bug]: `v8` issues"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v8

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Some issues appeared when testing `v8`:

[2022-10-03 07:23] christian-bromann commented on #8893
Closing due to inactivity.

[2022-10-03 07:23] #8893 closed

[2022-10-03 07:24] christian-bromann commented on #8865
Closing due to inactivity. Happy to re-open once more information is shared.

[2022-10-03 07:24] #8865 closed

[2022-10-03 07:24] christian-bromann commented on #8859
Closing due to inactivity.

[2022-10-03 07:24] #8859 closed

[2022-10-03 07:25] christian-bromann commented on #8730
Any help on investigating this issue and/or providing a fix would be much appreciated.

[2022-10-04 08:55] hgsgtk opened #8969 "[🐛 Bug]: generated package.json doesn't use TypeScript configuration file"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

^7.25.1

### Node.js Version

v16.13.1

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I created the new project using

[2022-10-04 09:49] Primajin opened #8970 "[🐛 Bug]: JUnit reporter breaks XML spec when getting too long"
I am running into this issue and wonder if there is a way to either remove system-out or fix the reporter starting to choke after many lines.

I set all logging to `silent` and tried to tweak `errorOptions` but it still puts this verbose logs in there.

Thus working fine for around 1500 lines, it starts to choke at some point leaving the XML file unparseable:

![Screenshot 2022-09-30 at 14 36 50](

[2022-10-04 10:29] Awukam commented on #8891
@christian-bromann Yes,  I followed @Ankit098 bolerplate code to implement my code and it works for some Feature files and doesn't work for some. Any ideas why that is happening? thanks..

[2022-10-04 17:23] christian-bromann commented on #8891
Can you be more specific on what works and what doesn't?

[2022-10-04 17:24] christian-bromann commented on #8970
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-10-04 17:28] Primajin commented on #8970
Do you have any pointers? It looks like the junit reporter repo was moved to the graveyard 🪦😱

[2022-10-04 17:31] christian-bromann commented on #8969
Sorry I can't reproduce this. Here is the stdout from my config wizard:

[code]

And my resulting `package.json` had the right command:

[code]

[2022-10-04 17:31] #8969 closed

[2022-10-04 17:33] christian-bromann commented on #8970
It is right here: https://github.com/webdriverio/webdriverio/tree/main/packages/wdio-junit-reporter

[2022-10-04 17:34] Primajin commented on #8970
Ahh lovely, I was scared it's dead 😅

[2022-10-04 19:57] hgsgtk commented on #8969
Oh, really... I will double check it again later... Thank you for your confirmation!

[2022-10-05 09:00] pharaoh-11 opened #8971 "[🐛 Bug]: first N instances of workers has args from the last created worker"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.30.1

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I use `onWorkerStart` hook to set

[2022-10-05 14:43] christian-bromann commented on #8971
Can you provide a reproducible example in a new project so that someone can just clone and run it to inspect the behavior?

[2022-10-06 18:25] Joosakur opened #8973 "[🐛 Bug]: TypeError: Cannot read properties of undefined (reading 'duration')"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.25.1

### Node.js Version

16.17.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When updating wdio and specificall

[2022-10-06 18:27] christian-bromann commented on #8973
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-10-07 02:00] markcielos24-gmail opened #8975 "[🐛 Bug]: Launching Google Chrome and Firefox Browser with Geolocation preference"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

@wdio/cli = 7.25.0

### Node.js Version

16.16.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Hi,
I am using webdriv

[2022-10-07 03:32] christian-bromann commented on #8975
Thanks for raising an issue.

This is unlikely a bug in WebdriverIO given that it only forwards the data to the browser. However it is still worth investigating in order to provide better documentation around this.

Thanks for reporting!

Any contributions that brings in more clarity on this topic are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/do

[2022-10-07 04:02] MMoudy49 commented on #8921
The inclusion of `npm set-script` requires an npm version of 7.x or greater. It might be a good idea to include that in the documentation or only run that command when npm version is 7.x or greater.

[2022-10-07 06:36] christian-bromann commented on #8921
Thanks for the notice. This will be released for the upcoming `v8` release which requires NodeJS v16 and older. These versions have NPM v7 and higher.

[2022-10-07 07:24] Joosakur commented on #8973
Hmm, I did that but the PR shows huge diff with ton of conflicts. Should I rebase my fork on top of v7 branch first or something like that?

[2022-10-07 11:39] khkchung opened #8979 "[🐛 Bug]: Failures in test body are propagated to subsequent blocks and unexpectedly fails afterAll"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14.17.6

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

When `beforeEach`, `it`, or

[2022-10-07 14:47] Yurii397 opened #8980 "Unknown error happens with selenium standalone only on CI"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.7.8

### Node.js Version

12.22.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I'm doing the migration from versio

[2022-10-07 16:05] christian-bromann commented on #8980
Thanks for reporting. I believe this issue is better reported in the Selenium project where the Selenium Server that is used here is developed. I am not sure how the WebdriverIO project could fix this. Maybe try different capabilities or debug the tests directly within CI.

I am gonna close as I don't see anything actionable to do. Happy to answer further questions.

[2022-10-07 16:16] christian-bromann commented on #8973
I think you tried to merge `main` into `v7`. I recommend to checkout `v7` branch first and manually apply the same fixes there. These branches have diverged quit a lot which is why we are currently maintaining both and there for need a PR to both branches: `main` and `v7`.

[2022-10-07 17:36] #8973 closed

[2022-10-07 19:03] Yurii397 commented on #8980
@christian-bromann thanks for the response. Could you plz send a link to their repo?

[2022-10-07 21:02] christian-bromann commented on #8980
https://github.com/SeleniumHQ/selenium

[2022-10-07 22:20] neo-punit-patel commented on #4148
@PippoRaimondi Would you happen to know the status of this functionality? I can't find anything in mocha repository. :)

[2022-10-10 01:36] markcielos24-gmail commented on #8975
Thanks @christian-bromann for looking into this, please reply when an update becomes available.

[2022-10-10 03:14] christian-bromann commented on #8975
Would you like to help us look into this?

[2022-10-10 03:32] markcielos24-gmail commented on #8975
As much as I want to help, unfortunately my coding skills are not of the developer level, am confident in terms of test automation coding, not so sure if I will be of any help. I'd like to try but I might end up taking much of your time assisting me :D

[2022-10-10 05:11] Ankit098 commented on #8891
@Awukam Any updates?

[2022-10-10 09:42] epszaw opened #8982 "[🐛 Bug]: wrong test result structure for allure + cucumber integrations"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

^7.25.1

### Node.js Version

16.17.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

The problem relates to incorrect

[2022-10-10 10:02] BorisOsipov commented on #8982
Hi @epszaw

As already mentioned in the [comment in original issue](https://github.com/allure-framework/allure-js/issues/483#issuecomment-1234509942) it can be changed by reporter option `useCucumberStepReporter: true`. Can you check please?

[2022-10-10 10:11] epszaw commented on #8982
Unfortunately, it didn't change anything, the structure is the same

[2022-10-10 10:33] BorisOsipov commented on #8982
It is output from reporter for your example with `reporters: [['allure', {outputDir: 'allure-results', useCucumberStepReporter: true}]],` reporter config. Could you show an edited\fixed example with correct reporter output?
https://gist.github.com/BorisOsipov/149d69210e4b9934b573e65e7114a9b9

P.S. It is hard to understand what is wrong. Non TestOps allure report looks correct.

![image](https://us

[2022-10-10 12:20] epszaw commented on #8982
@BorisOsipov you can assign me here, will try to figure out, how to fix the problem

[2022-10-10 14:07] fgkolf commented on #8210
Hello, I would like to work on this one!

[2022-10-10 16:00] christian-bromann commented on #8210
Awesome @fgkolf , let me know if you have any questions.

[2022-10-10 16:47] juanrgm commented on #8279
Same case here.

[2022-10-10 19:38] vmwhereqa commented on #8185
@christian-bromann : here is the  [fix](https://github.com/webdriverio/webdriverio/pull/9004)

[2022-10-10 20:05] christian-bromann commented on #8185
Thanks @vmwhereqa , let's continue convo in #9004

[2022-10-10 20:05] #8185 closed

[2022-10-12 00:00] kshen-deputy commented on #8022
Got the same issue, it drags the source element but moves to my mouse cursor instead of target element.

But worked out a workaround based on this [article](https://www.freecodecamp.org/news/how-to-write-better-tests-for-drag-and-drop-operations-in-the-browser-f9a131f0b281/), which is to drag events directly to simulate drag and drop actions.

Code sample:

    dragAndDropByEvents(src, dest) {

[2022-10-12 10:25] timlonggr commented on #8174
I've been trying to solve this same problem. Did you ever make any progress on it?

[2022-10-12 13:12] KuznetsovRoman opened #9006 "[💡 Feature]: Implicit wait for element"
### Is your feature request related to a problem?

Now you have to explicitly call `elem.waitForExist` before `elem.click`, `elem.getText` and others.

### Describe the solution you'd like.

It would be convenient to have something like [setImplicitTimeout](https://webdriver.io/docs/api/jsonwp/#setimplicittimeout) browser's method: existing one works only in JSONWP

### Describe alternatives you'v

[2022-10-12 13:38] srinivasanke commented on #4666
Hello All,

IS there any way pass props values to react customer element (Parent to child)

[2022-10-12 17:23] hammzj commented on #8730
This is most likely related to my contribution https://github.com/webdriverio/webdriverio/pull/8432.

I thought I had accounted for `--exclude` [here](https://github.com/webdriverio/webdriverio/pull/8432/files#diff-a6371afe18573d692a9a45868ec620cbcb7be1000b7f967217384f0fe356dc96R233-R244), but I suppose there are some   discrepancies here.

However, we should _not_ remove any work done to get the

[2022-10-12 17:24] hammzj commented on #8730
Ah, that's right. I didn't handle for `--exclude` within that change:
https://github.com/webdriverio/webdriverio/pull/8432#issuecomment-1156425960

[2022-10-13 07:55] vmwhereqa commented on #8460
@christian-bromann : I will take this up

[2022-10-13 14:58] sandeep-exe opened #9007 "Not able to read the content of the file when uploaded from input"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.15

### Node.js Version

 16.18.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

I've an input tag which a

[2022-10-13 17:02] davidjonesdialexa opened #9008 "[🐛 Bug]: element.click() with passed args throws exception"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.21.0

### Node.js Version

18.9

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

element.click() with passed ar

[2022-10-13 17:05] davidjonesdialexa commented on #9008
I've tried simplifying this down to the simplest reproduction, and I still get the Exception. As long as I pass in an arg, I get the Exception

[2022-10-13 17:09] christian-bromann commented on #9008
Thanks for filing the issue.

Can you provide a reproducible example please?

[2022-10-13 17:11] davidjonesdialexa commented on #9008
I've tried this on multiple different elements within my app, I get the same error as long as I pass in any arg. That's why I boiled down the reproducible bug to be so simple

[2022-10-13 17:13] davidjonesdialexa commented on #9008
There's nothing special about when, where, or how I call the click function. It's on a React Native component and I need to offset the click by a few pixels. The `click()` call works fine as long as I don't pass in an arg

[2022-10-13 18:46] #8982 closed

[2022-10-13 19:42] davidjonesdialexa commented on #9008
I'll see what I can come up with, I'm working on a private project so obviously can't share code

[2022-10-13 21:55] davidjonesdialexa commented on #9008
I got this to work by using touchAction instead of click

[2022-10-13 21:55] #9008 closed

[2022-10-13 22:06] sezaru opened #9009 "[🐛 Bug]: Taking big page screenshots concurrently fails with timeout"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.20.7

### Node.js Version

v16.15.1

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I run a bunch of wdio instances a

[2022-10-14 04:16] christian-bromann commented on #9009
Thanks for raising this issue.

There are many variables that play into this but it is very unlikely that anything related to WebdriverIO causes this error. If anyone likes to investigate the issue and finds something that WebdriverIO can tweak from the default value POV I am happy to hear about it. I see that you set the window size to something extreme to probably get a full page screenshot. I r

[2022-10-14 04:16] #9009 closed

[2022-10-14 15:20] alehander92 commented on #721
thank you @mduqueoviedo : this was almost working for me, but for me `goog:chromeOptions` worked with `webdriver` from `npm i webdriver`, not `chromeOptions`

[2022-10-14 16:46] salvag-ntt commented on #1391
Would you be able to suggest a strategy to set the cookies before the page load? I need to test a scenario where the user accepts the cookies with the popup showing up and one without the banner showing up. In cypress I could do this quite easily by setting the cookies in the before callback. That allows the page to load without the banner appearing.

[2022-10-14 17:44] christian-bromann commented on #1391
There are two options:

- go on an arbitrary page with the same hostname and set the cookie (can be a 404 page or a test page that is only available in your test environment)
- You can use the `getPuppeteer` command to [overwrite headers](https://pptr.dev/api/puppeteer.continuerequestoverrides)  for the request

The 1st option is the most feasible one and should probably work also for your use cas

[2022-10-17 05:05] dragosMC91 commented on #8730
@DmitrySannikov thanks for pointing me to the right direction, I finally got around to looking over that change and address it via https://github.com/webdriverio/webdriverio/pull/9013

[2022-10-17 05:10] dragosMC91 commented on #8730
@christian-bromann I tried to address the issue here: https://github.com/webdriverio/webdriverio/pull/9013
I was not able to build the project locally and run/ extend unit tests...followed the steps here https://webdriver.io/docs/contribute#set-up-project , used nvm with node 14 lts but `npm run build` fails, is there any step from the setup guide missing ?

[2022-10-17 05:12] dragosMC91 commented on #8730
@hammzj I think I fixed this, btw were you able to build your project in the end, it still doesn’t work for me? https://github.com/webdriverio/webdriverio/issues/8376#issuecomment-1155243942

[2022-10-17 12:53] hammzj commented on #8730
Hey @dragosMC91, answered over in your PR. I'm gonna be in a bit of crunch time til the end of the month so I'll not be able to take a look at this for a bit 😞 I'll be around for any questions though

[2022-10-17 15:58] nextlevelbeard opened #9035 "[🐛 Bug]: Cannot use multiple tags for Cucumber tag expression"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Running with multiple tags does

[2022-10-17 16:02] christian-bromann commented on #9035
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-10-18 14:31] djv1001 commented on #7545
Dang, I'm currently experiencing this in 7.24.0, in headless chrome.

Switching to a new window then calling "browser.getUrl()" just hangs.

Calling "browser.getUrl()" before switching works fine.

[2022-10-18 16:30] fgkolf commented on #8210
If i get this right this is already [implemented](https://github.com/webdriverio/webdriverio/blob/01c124d84e3ab97306d93c8ed6f1388fffb75fcc/packages/wdio-cli/src/commands/run.ts#L81-L84) and [documented](https://webdriver.io/docs/organizingsuites/#exclude-selected-tests). @christian-bromann any insights on this?

[2022-10-19 05:37] christian-bromann commented on #8210
@fgkolf I think what the issue author asks here is the possibility to add a `--exclude foobar` parameter which would exclude a `foobar.e2e.js` file. As far as I know this is currently not possible.

[2022-10-19 13:05] 7artur7 opened #9048 "[🐛 Bug]: Devtools service doesn't work with Firefox browser"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14.17.6

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

According to [Devtools docu

[2022-10-19 13:24] erwinheitzman commented on #9048
Thank you for creating this!

I think it is good to add that when assigning the `debuggerAddress` to the `'moz:firefoxOptions'` object, it will throw an error when running the tests. Stating that it is not a valid capability property.

[2022-10-19 13:48] erwinheitzman commented on #9007
Doesn't the onload only trigger when such a file is opened? If so, it makes sense it isn't triggered.

[2022-10-19 16:04] christian-bromann commented on #8971
Closing due to inactivity.

[2022-10-19 16:17] christian-bromann commented on #9007
@sandeep-exe can you provide a demo page and a minimal reproducible example?

[2022-10-19 16:45] iamatharva commented on #4134
Not sure why this issue is closed. @christian-bromann
But the issue related to drag and drop is still not fixed yet.
We use WDIO in our company at a large scale almost each and every micro FE and FE module is bound with this.
And we are stuck with the same drag-and-drop issue mentioned in video illustration of this comment https://github.com/webdriverio/webdriverio/issues/4134#issuecomment-1210725

[2022-10-19 16:51] christian-bromann commented on #4134
@iamatharva this issue is closed because it is a duplicate of https://github.com/webdriverio/webdriverio/issues/8022 .. please get involved help us resolve this problem. Thank you!

[2022-10-19 17:28] iamatharva commented on #8022
@christian-bromann Thanks for pointing me to this issue.
Let me know what kind of help I can provide in order to get this issue fix.
Any sort of help is needed from my side.
Ready to provide that at any moment on time

[2022-10-19 17:29] christian-bromann commented on #8022
Any kind of suggestion for fixes or different implementations of our `dragAndDrop` command would be appreciated.

[2022-10-19 17:37] iamatharva commented on #8022
So I figured out that this issue is actually related to the application someone is automating.
If we hit the URL mentioned in the [example link](https://www.qafox.com/webdriverio-drag-and-drop-in-webdriverio/) and follow their steps WDIO works completely fine.
But for applications using vue.js, the WDIO drag and drop doesn't work
Someone pointed this [here](https://stackoverflow.com/questions/6550

[2022-10-19 17:42] ducle91 commented on #8022
@iamatharva If this is blocking you, then you can use this in the mean time until we figure out the bug issue. I have used this package and it works pretty well.
https://www.npmjs.com/package/html-dnd

[2022-10-19 18:01] SRKarumuri commented on #4078
Hi
I am more interested in using data Provider, do i need to install any packages, what changes do I need to do in wdio.conf in order to cater for dataprovider.

[2022-10-19 20:23] nextlevelbeard opened #9051 "[🐛 Bug]: Worker service hook never runs if another service throws error on constructor"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

A service hook (before) did not

[2022-10-19 20:32] RossVertizan opened #9052 "[🐛 Bug]: Unknown file extension ".json" when creating webdriverio environment on Windows 10"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

v16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I am trying to setup the Webdrive