[2020-07-10 07:16] christian-bromann commented on #5597
I am not quite sure if I understood all your questions here.

That is indeed a bug.

If you define a custom function like `checkIssues` you need to create your own custom type definitions for it I am not sure how WebdriverIO can help you here.

What is the error though?

Thanks 👍

[2020-07-10 07:57] christian-bromann commented on #5597
Fixed in #5599

[2020-07-10 10:38] GeorgeXCV opened #5600 "isDisplayed() is not a function, using with Appium"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.23.0
 - **Mode:** Testrunner?
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.13.4
 - **Platform name and version:** iOS 13.3

**Config of WebdriverIO**
Node.js / Appium / WebdriverIO / BrowserStack

**Describe the bug**
I get "isDisplayed()" is not

[2020-07-10 10:45] christian-bromann commented on #5600
The Appium example is correct and shows that you need to use the `$` command as follows:

[code]

[2020-07-10 10:45] #5600 closed

[2020-07-10 10:51] JapneetSingh5 commented on #5522
Hi, I was working on the migration and found this thread on Github.

https://github.com/facebook/docusaurus/issues/3035

[2020-07-10 10:52] JapneetSingh5 commented on #5522
Should I try out the CLI?

[2020-07-10 11:02] christian-bromann commented on #5522
yeah, why not?

[2020-07-10 12:31] janmatura commented on #3106
Thank you  @thesunny for inspiration. I tried to make it easier little bit. Using separately before click() command if needed. It seem to be ultimate weapon for us using in animated SPA. Thank you for feedback.

`browser.addCommand('waitForAnimation', function () {
        this.waitForExist(15000);
        var animating = true;

                var preLoc = this.getLocation();

                whi

[2020-07-10 12:39] GeorgeXCV commented on #5600
`Error: invalid selector: Locator Strategy 'css selector' is not supported for this session`

And if you follow the Appium example exactly you get a different error:
`const isDisplayed = await $(element).isDisplayed();`

`Error: ReferenceError: $ is not defined`

[2020-07-10 12:46] christian-bromann commented on #5600
Please [see the docs](https://webdriver.io/docs/api/browser/$.html) how to use the command and don't just copy my example 😉

This depends on your setup, if you use the wdio testrunner which the Appium docs assume here you won't see the error.

[2020-07-10 13:13] slorber commented on #5522
hi,

https://github.com/facebook/docusaurus/pull/3015

the cli is not released yet, but maybe you can get in touch with @anshulrgoyal to see if automated migration works fine on this site

[2020-07-10 15:22] anshulrgoyal commented on #5522
Hi,
we are currently working on migration cli. I can help u, just tell us how your site is built.

[2020-07-10 15:30] anshulrgoyal commented on #5522
I can help with that. You can change default path of docs and blogs in the new version.

[code]

[2020-07-10 16:25] GeorgeXCV commented on #5600
[code]

Still get reference error. I don't think it is testrunner because package.json shows `webdriverio,` not `wdio`. Whats the difference? Do I have to change library just to use this function? I do get a tooltip explaining what the function does when I type it out so odd it isn't recongised when run.

[2020-07-10 17:30] mohanraj-r commented on #5597
Thanks @christian-bromann for the prompt response.
My primary question here is - How can I make a async helper method work in sync mode too ?
I have created a async helper method that uses the browser object to perform some checks on the loaded HTML page and returns the issues found. I will be publishing this as a library. But will it work for the users of the library who are using sync mode? I tr

[2020-07-10 18:53] t0lkman opened #5601 "Does webdriverio use selenium under the hood?"
Does webdriverio use selenium under the hood?
I see some old articles stating webdriverio is a js wrapper for selenium.
But I the source code at first glance I don't see any selenium references...

[2020-07-10 20:21] pjcalvo commented on #5601
WebdriverIO is a custom binding implementation for the that implements the W3C WebDriver protocol, as well as others.

Could you please use the gitter chat for further details. https://gitter.im/webdriverio/webdriverio

[2020-07-10 20:21] #5601 closed

[2020-07-10 23:37] christian-bromann commented on #5601
Nope. WebdriverIO was pushed to NPM before Selenium had a JS binding.

[2020-07-10 23:40] christian-bromann commented on #5600
Please see [the docs](https://webdriver.io/docs/setuptypes.html). There is also a lot of video tutorials to get you started.

The correct syntax would be `await (await $(elementID)).isDisplayed()`. I recommend to use the wdio testrunner as it allows to write commands synchronous which allows to write this without `async/await`

[2020-07-11 09:47] jayandran-Sampath opened #5602 "Appium : findElementByImage selector is currently unavailable in webdriverio"
**Is your feature request related to a problem? Please describe.**
Hi Im trying to use appium feature of finding element by image

http://appium.io/docs/en/advanced-concepts/image-elements/#:~:text=Using%20the%20experimental%20%2Dimage%20locator,back%20to%20your%20Appium%20client.

but cannot find this feature in webdriverio

**Describe the solution you'd like**
Either we can create new selector i

[2020-07-11 12:58] jayandran-Sampath commented on #5602
If we can confirm on the approach either new selector or browser specific method.. I can create a PR for this

[2020-07-12 09:27] christian-bromann commented on #5602
@jayandran-Sampath it seems like adding a new selector strategy sounds most reasonable to me. Looking at the [docs](https://webdriver.io/docs/selectors.html) page what would you suggest this could look like?

[2020-07-12 09:30] christian-bromann opened #5603 "Fix `getHTML` docs"
On the [`getHTML`](https://webdriver.io/docs/api/element/getHTML.html) we document to use the command as follows:

where in reality it should say something like this

[2020-07-12 11:42] jayandran-Sampath commented on #5602
im also favour of adding new selector. will try to create one PR

[2020-07-12 15:47] morrme commented on #5603
It looks like this is due to the param being marked as optional.
May I submit a suggested change?

[2020-07-13 05:12] robto09 opened #5605 "Way to implement resetApp for React Native in wdio-cli/?"
Hellow there! I am using the wdio/cli so I created the wdio.conf.js with this command, then I start doing the test. But the issues is when have more than one test in a single or multiple test files.

In the test file I have something like this:
[code]

Where home tag is a tag in the first view when the app runs in first screen. And appear this error:

[code]

So need to do kind of driver.resetApp(

[2020-07-13 06:00] powr-qa-account opened #5606 "@wdio/cli always exiting with code 1, when tests passed without fails (CI job failed, when it should be passed)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.25
 - **Mode:** WDIO Test Runner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.16.3
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome 79/ Firefox (last version)
 - **Platform name and version:** Mac OS/ Linux Ubuntu 18.04 (CI)
 - **Additional wdio packages u

[2020-07-13 06:13] christian-bromann commented on #5605
You might want to try the [`reset`](https://webdriver.io/docs/api/appium.html#reset) command. For further question please join our support chat [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge). Thanks!

[2020-07-13 06:13] #5605 closed

[2020-07-13 06:20] christian-bromann commented on #5597
@mohanraj-r not sure what project you are trying to build but the sync helper works as outlined [in the docs](https://www.npmjs.com/package/@wdio/sync#using-webdriverio-as-standalone-package). It should only be used if you use WebdriverIO in standalone mode.

I will close this issues as issues mentioned in your initial posting have been fixed. For further questions please join our [![Gitter](https

[2020-07-13 06:20] #5597 closed

[2020-07-13 06:32] robto09 commented on #5605
I know that but from where I import the driver?

[2020-07-13 06:34] robto09 commented on #5605
I know that but from where I import the driver?

[2020-07-13 09:23] Westsaid opened #5607 "Internet Explorer: "Unable to get current browser""
## 💬 Questions and Help

Hello everybody,

Im trying to get my standalone WDIO application to work with the IE, but somehow it can't connect to the IEDriver. The driver gives me error "Unable to get current browser".

I'm running WDIO in standalone! I use the latest IEDriver (3.9), I receive this error with every version of the IEDriver between 3.5 - 3.9. When I use 3.4 I get an error I reported a

[2020-07-13 11:19] christian-bromann commented on #5607
If you use WebdriverIO in [standalone mode](https://webdriver.io/docs/setuptypes.html#standalone-mode) you need to make sure to have the IEDriver started and your connection options pointed to that driver.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

[2020-07-13 11:19] #5607 closed

[2020-07-13 11:22] christian-bromann commented on #4502
A proposal was made in #5590.

[2020-07-13 11:22] #4502 closed

[2020-07-13 11:25] christian-bromann opened #5608 "Add WebdriverIO to `create-nuxt-app`"
For reference: https://github.com/nuxt/create-nuxt-app/pull/528

[2020-07-13 11:25] GeorgeXCV commented on #5600
Thanks, moving to wdio testrunner wouldn't make sense because whole project already uses `async/await` with Selenium and MochaJS.

That syntax doesn't work either. Still complains about the `$`. Is it not possible to use isDisplayed() in standalone mode?

[2020-07-13 11:25] #5608 closed

[2020-07-13 11:27] christian-bromann opened #5609 "Add WebdriverIO to `vue-cli`"
For reference: https://github.com/vuejs/vue-cli/pull/5479

[2020-07-13 11:43] christian-bromann commented on #5600
If you move from Selenium to WebdriverIO I would say it makes sense to update the tests to sync at the same time. Running tests synchronous makes tests a lot simpler, e.g.

[code]

vs

[code]

[2020-07-13 13:11] GeorgeXCV commented on #5600
Only use Selenium for web clients. For mobile its Appium and WebDriverIO. Haven't really had any problems, all our findElement functions etc. use one instance of await. Also never had to use $ selector.

So isDisplayed() is not possible to use outside of testrunner? Reason I need it is because iOS always return element result if out of view (need to scroll), this is expected behaviour for iOS from

[2020-07-13 13:19] christian-bromann commented on #5600
No, you can use the same interface with or without testrunner. Just make sure you handle command promises correctly if you decide not to use the testrunner in sync mode.

[2020-07-13 13:20] christian-bromann commented on #5585
Let's continue the conversation in #5610

[2020-07-13 13:20] #5585 closed

[2020-07-13 13:49] GeorgeXCV commented on #5600
Ok, well no issues with with promises because async/await is used all over the project. As mentioned previously, issue is:
`Error: ReferenceError: $ is not defined`

[2020-07-13 14:07] christian-bromann commented on #5600
If you don't use the testrunner you need to fetch elements via `browser.$`

[2020-07-13 16:02] adrian-brown opened #5611 "interceptRequest fails with "The arguments passed to a command are either invalid or malformed""
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-07-13 19:12] tehhowch commented on #5459
Also affects v5

[2020-07-13 21:51] mohanraj-r commented on #5597
Thanks for the clarification @christian-bromann
* With the latest release (6.2.0) the `TS2339: Property 'then' does not exist on type 'BrowserObject'` is fixed.
* But still encountering `UnhandledPromiseRejectionWarning` while running my test in a separate file with `jest` in standalone mode:

[code]

[code]

[2020-07-13 21:55] christian-bromann commented on #5597
You want to make sure to return the promise of the sync helper:

[code]

[2020-07-14 02:27] mohanraj-r commented on #5597
Thanks @christian-bromann - of course I have to return the Promise 🤦

But the test is still failing with `UnhandledPromiseRejectionWarning`. The only way I could get it to work was to wrap the call to the async `checkIssues()` in a `browser.call()`, i.e.
from  :
[code]
to       :
[code]

which works but defeats the purpose of being able to use the async `checkIssues()` helper in sync mode without

[2020-07-14 07:03] Westsaid commented on #5576
It seems like WDIO fails to pass the parameters to the driver. Does somebody know in which part of the code this actually happens?

[2020-07-14 07:30] christian-bromann commented on #5576
@Westsaid according to the logs the right data is being send to the driver:

[code]

[2020-07-14 07:40] christian-bromann commented on #5597
Ah, you didn't mention that `checkIssues` is also an async method, in this case there is no other way than using `browser.call` to make it sync.

Well there is no other way than doing it like this. You can't expect promises to magically disappear in the sync context ;-)

[2020-07-14 14:48] HananArgov commented on #5524
from looking at the code, I think i've managed to find out what happens.
there's are differences in `node_modules/webdriver/build/index.js` between `newSession` and `reloadSession`. the main difference, at least in chrome, from what i'm seeing... haven't checked other browsers, is that the capabilities aren't being refreshed, thus the old debug address port stays the same.

for `newSession` we can

[2020-07-14 15:03] christian-bromann commented on #5524
Seems reasonable to me. Can we update the port?

[2020-07-14 17:32] HananArgov commented on #5524
it may require a change in webdriver itself, and i'm not sure what's the procedure on that. or I can create a workaround in wdio to handle these cases

[2020-07-14 17:56] christian-bromann commented on #5524
@HananArgov I wonder if we can tweak the `devtools` package because reloading the session works great using the WebDriver protocol.

[2020-07-14 18:00] HananArgov commented on #5524
i believe we can, and i'll do it through there then, but I think this will cover other issues. not sure which issues, so we better keep an eye on this

[2020-07-14 18:40] mohanraj-r commented on #5597
Thanks @christian-bromann
Is there a way to detect if wdio is running in sync mode with `@wdio/sync` ?
How does `@wdio/sync` work automagically?
[Sync mode vs async · WebdriverIO](https://webdriver.io/docs/sync-vs-async.html#how-to-enabledisable-sync-mode)

How can I similarly make my async helper work seamlessly in both sync and async modes without the user having to know/care about it?

[2020-07-14 19:08] JapneetSingh5 commented on #5522
Hi, sorry for the repeated delays.
I have been working on this for some time now, took me quite a while to understand the process.
On starting the server using star:docusaurus, the updated site flashes for a second and I get this error after that.
<img width="1097" alt="Screen Shot 2020-07-15 at 12 30 56 AM" src="https://user-images.githubusercontent.com/54809290/87466089-503c9200-c633-11ea-9f53-0

[2020-07-14 19:25] anshulrgoyal commented on #5522
@JapneetSingh5 Docusaurus uses MDX  so u need to convert it MDX from MD. Like `<img>` is not valid u need to have JSX so convert it to `<img />`. Migration CLI has a convertor for MD to MDX :).

[2020-07-14 19:30] JapneetSingh5 commented on #5522
@anshulrgoyal but the migration CLI isn't available right? Is there a bypass?

[2020-07-14 19:39] anshulrgoyal commented on #5522
I am afraid no

[2020-07-14 21:50] christian-bromann commented on #5597
You can just check if @wdio/sync is installed or not.

[2020-07-14 21:58] christian-bromann commented on #5524
Maybe that is an issue that can be fixed in a different PR. Theoretically you should get the same capabilities if you request a session with the same capabilities but that is not always possible. Therefor `global.browser.capabilities` should be either updated or an error should be thrown if not the same capabilities were provided.

[2020-07-15 03:50] hieuxlu commented on #5589
Setting os in capabilities will result in this error
[code]

[2020-07-15 06:50] christian-bromann commented on #5589
@jonesh66 any updates on this?

[2020-07-15 08:13] kthulsidoss opened #5621 "(browser).toHaveUrl is failing"
**WebdriverIO version**: 6.2.0
**Mode:WDIO Testrunner** sync
**Node.js** version :12.18.2
**NPM** :6.14.6
**Browser Name**:chrome 83.04
**platform** :windows 10 enterprise
**config of webdriver.io** : using the steps outlined in doc
**describe the bug :**
the simple test is failing
describe('webdriver.io page', () => {
    it('should have the right url', () => {
        browser.url('https://webdri

[2020-07-15 08:19] christian-bromann commented on #5621
You are missing the protocol: `expect(browser).toHaveUrl('https://webdriver.io')`

[2020-07-15 08:19] #5621 closed

[2020-07-15 08:28] kthulsidoss commented on #5621
hi sorry that did not work ,here is the error
chrome 83.0.4103.116 windows #0-0] Error: Expect window to have url
[chrome 83.0.4103.116 windows #0-0]
[chrome 83.0.4103.116 windows #0-0] Expected: "webdriver.io"
[chrome 83.0.4103.116 windows #0-0] Received: "https://webdriver.io/"
[chrome 83.0.4103.116 windows #0-0]     at Context.<anonymous> (C:\Users\THULSIKRISHNAN\webdriverio-test\test\specs\bas

[2020-07-15 08:29] kthulsidoss commented on #5621
so when i run with this test
describe('webdriver.io page', () => {
    it('should have the right url', () => {
        browser.url('https://webdriver.io')
        expect(browser).toHaveUrl('webdriver.io')
    })
})
it is still throwing error

[2020-07-15 08:31] kthulsidoss opened #5622 "(browser).toHaveUrl is failing"
#5621 is the original issue
------------------------------------------
this basic test is also failing

describe('webdriver.io page', () => {
    it('should have the right url', () => {
        browser.url('https://webdriver.io')
        expect(browser).toHaveUrl('webdriver.io')
    })
})
-------------------------------------------

chrome 83.0.4103.116 windows #0-0] Error: Expect window to have u

[2020-07-15 08:34] kthulsidoss commented on #5622
[chrome 83.0.4103.116 windows #0-0] 1) webdriver.io page should have the right url
[chrome 83.0.4103.116 windows #0-0] Expect window to have url

Expected: "https://webdriver.io"
Received: "https://webdriver.io/"

[2020-07-15 08:39] christian-bromann commented on #5622
@kthulsidoss please don't just open new issues when someone provided a solution. It also clearly shows why the assertion is failing:

[code]

This will pass:

[code]

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not

[2020-07-15 08:39] #5622 closed

[2020-07-15 09:31] kthulsidoss commented on #5622
@christian-bromann  ah there is a small gotcha of trailing slash !!! thanks anyway

[2020-07-15 09:35] HananArgov commented on #5524
it's not the provided capabilities that is the issue. it's the default capabilities, that's coming from the browser itself.
from what i'm seeing I can bypass this by going to `chrome://version` but this (sadly) works only when not using headless mode. I need to find a way to refresh the browser capabilities, and it seems this needs to be addressed in webdriver itself (as mentioned, new sessions an

[2020-07-15 09:40] HananArgov commented on #5524
i've requested an online meeting with you if it's ok, so I could show you the details

[2020-07-15 14:22] anshulrgoyal commented on #5522
@JapneetSingh5  I ran our migration cli on webdriverio and got this:-
https://unruffled-lumiere-b4796a.netlify.app/

Migration CLi doesn't support pages yet but we are working on it. :)

[2020-07-15 16:12] GeorgeXCV commented on #5600
This is supported for mobile? I get:` Error: invalid selector: Locator Strategy 'css selector' is not supported for this session`

[code]

[2020-07-15 18:33] christian-bromann opened #5624 "Bump lighthouse from 5.6.0 to 6.1.0"
In order to update the new metrics that got introduced in Lighthouse v6 we should update our dependency in the `@wdio/devtools-service`. There might be some work required to ensure that our Lighthouse integration continues to work as some file paths might have changed.

[2020-07-15 20:05] christian-bromann commented on #5603
This has been fixed with [`96e1daa` (#5477)](https://github.com/webdriverio/webdriverio/pull/5477/commits/96e1daaf9de0675a389e6e921c5f98ea0c610311)

[2020-07-15 20:05] #5603 closed

[2020-07-15 20:12] christian-bromann commented on #5589
This has been fixed by #5589

[2020-07-15 20:12] #5589 closed

[2020-07-16 08:58] christian-bromann commented on #5602
Addressed in #5626

[2020-07-16 08:58] #5602 closed

[2020-07-16 09:11] powr-qa-account commented on #5606
solved issue by myself.
Just for anyone who will meet this problem in the future:
### DO NOT USE browser.close() in onComplete() hook.

[2020-07-16 09:11] #5606 closed

[2020-07-16 20:17] tehhowch commented on #5568
@christian-bromann I think this bug also affects v5, at least for the `Element#dragAndDrop` method when using relative XY offset. I have not tested explicit `moveTo` with floating-point arguments, but did encounter issues with fractional XY offsets in dragAndDrop.

[2020-07-17 17:14] pjcalvo opened #5634 "Devtools protocol is not working on the latest version."
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version: 6.3

[2020-07-17 18:15] #5634 closed

[2020-07-17 18:16] christian-bromann commented on #5634
Thanks for reporting. This happened due to a change in the Puppeteer file structure. I will make a follow up PR to the Puppeteer project to ensure that the keyboard can be imported safely moving on.

[2020-07-17 19:11] pjcalvo commented on #5634
So this is already fixed in the 6.3.3?

[2020-07-17 21:47] christian-bromann commented on #5634
Yes

[2020-07-17 22:00] christian-bromann commented on #5634
Does it work on your end now?

[2020-07-18 08:50] christian-bromann opened #5636 "Add WebdriverIO as a GatsbyJS recipe"
Recently the Gatsby team [announced](https://www.gatsbyjs.org/blog/2020-04-15-announcing-gatsby-recipes/) a new recipes feature for their CLI that provides a very nice experience for adding new feature to a Gatsby. It would be great if we could contribute a WebdriverIO recipe too.

[2020-07-21 10:52] dimkin-eu opened #5645 "Devtools clicks covered element not causing interception error"
**Environment:**
 - **WebdriverIO version:** [6.3]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]

**Config of WebdriverIO**
[code]

**package.json**
[code]

**Describe the bug**
when using `devtools` one can face wrong behavior comparing to chromedriver
- clicking covered element doesn't produce `element is not clickable at point (x,y), Other element would re

[2020-07-21 11:38] christian-bromann commented on #5645
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-07-21 12:09] yura-matsko commented on #1886
Also experienced this issue.

We came down with this fix:

[code]

And usage:

[code]

[2020-07-21 22:36] teixeira-fernando opened #5647 "Browserstack Service - HTTPError: Response code 404"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.15
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.1
 - **NPM version:** 6.14.5
 - **Browser name and version:** Not applicable
 - **Platform name and version:** MacOS High Sierra version 10.13.6
 - **Additional wdio packages used (if applicabl

[2020-07-22 00:06] AdamTReineke opened #5648 "SevereServiceError not included in TypeScript types"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-07-22 07:32] #5648 closed

[2020-07-22 09:50] JockVanDallas opened #5650 "ERROR webdriver: Request failed due to Error: unknown command:"
**Environment:**
 - **WebdriverIO version:** webdriverio@6.1.16
 - **Node.js version:** v12.18.1
 - **NPM version:** 6.14.5
 - **Browser name and version:**  Chrome 84.0.4147.89
 - **Platform name and version:** MacOS Catalina 10.15.5
 - **Additional wdio packages used (if applicable):**
     "@wdio/allure-reporter": "^5.18.6",
    "@wdio/cli": "^5.11.0",
    "@wdio/config": "^5.11.0",
    "@wdio/

[2020-07-22 12:44] fege opened #5652 "expect-webdriverio with Multiremote is returning Unexpected return from a matcher function"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-07-22 12:45] christian-bromann commented on #5652
Duplicate of https://github.com/webdriverio/expect-webdriverio/issues/106

[2020-07-22 12:45] #5652 closed

[2020-07-22 12:50] christian-bromann commented on #5650
This is an issue with BrowserStack not supporting the endpoint for `/session/:sessionId/se/log/types` which is generally supported by Chromium based browser. There is nothing WebdriverIO can do about this. Please report it to BrowserStack and ignore the error message.

[2020-07-22 12:50] #5650 closed

[2020-07-22 12:53] JockVanDallas commented on #5650
Thanx  for the reply, I will report this with  BrowserStack.

The only thing is that my button is not clicked. So i cant continue my test

[2020-07-22 12:59] christian-bromann commented on #5650
The logs don't show any hints that the click failed.

[2020-07-22 13:09] christian-bromann commented on #5647
Can you please provide the whole logs?

Maybe something has changed in the BS APIs: https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-browserstack-service/src/service.js#L44

[2020-07-22 13:12] christian-bromann commented on #5524
Let's continue our conversation in the PR #5651

[2020-07-22 13:12] #5524 closed

[2020-07-22 13:17] teixeira-fernando commented on #5647
Sure!! The complete log is in this gist that I added in the bug description: https://gist.github.com/teixeira-fernando/6166e9ec9e6f1b3c62b6a9420c135933

[2020-07-22 13:40] christian-bromann commented on #5611
@adrian-brown thanks for reporting. The issue has been tracked internally at Sauce Labs and will be tackled by the team soon.

[2020-07-22 13:55] christian-bromann commented on #5545
This is a good first issue to pick for everyone. It seems that the `afterTest` hook is not executed. This is suppose to happen here: https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-utils/src/test-framework/testFnWrapper.js#L81. Something in that function wrapper logic prevents the hook from being run.

To ensure we don't regress on this part of the PR should also be to add a s

[2020-07-22 14:05] teixeira-fernando commented on #5647
Hey @christian-bromann. As you mentioned, I think that the problem can be related to a different BS API. The URL that we have in the browserstack service, and the one in the log are different.

[2020-07-22 14:11] christian-bromann commented on #5550
@caoxu2000 I think it makes sense to have such a plugin for VSCode that allows to jump into the definition of a custom command. A bunch of functionality from the Cypress plugin however seems to be pretty Cucumber related and should work with a respective Cucumber plugin as well.

@caoxu2000 you want to take a stab at this?

[2020-07-22 14:14] christian-bromann commented on #5647
The error logged at the beginning:

[code]

must be caused by the rest request we do [in the beginning](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-browserstack-service/src/service.js#L40-L50).

Would you mind looking into this?

[2020-07-22 14:22] christian-bromann commented on #5333
fixed by #5431

[2020-07-22 14:22] #5333 closed

[2020-07-22 14:30] christian-bromann commented on #4118
This has been implemented with #5590

[2020-07-22 14:30] #4118 closed

[2020-07-22 14:36] christian-bromann commented on #3390
No need for this anymore as Chromedriver automatically fails with a proper error message.

[2020-07-22 14:36] #3390 closed

[2020-07-22 15:02] Amrkamel1 commented on #5647
same issue here

![image](https://user-images.githubusercontent.com/32042806/88192722-2855bb80-cc3d-11ea-826d-6a7523f071e1.png)

[2020-07-22 15:43] christian-bromann commented on #5647
@amarnathk1547 feel free to pick up this bug 😉

[2020-07-22 15:46] teixeira-fernando commented on #5647
@christian-bromann I will try to fix that 😉

[2020-07-22 16:22] teixeira-fernando commented on #5647
I tried to update the API url in the Browserstack service to be the same one that we have in the log. Unfortunately, the error just changed, now it returns a 500 error. I will send here a new gist, with the new complete log:
https://gist.github.com/teixeira-fernando/f32231e5e2a5ff2f002f9854c73e54f4

Any other suggestion @christian-bromann ?

[2020-07-22 16:24] christian-bromann commented on #5647
@teixeira-fernando I have no experience with the BS API, they might have updated it recently?

[2020-07-22 21:44] teixeira-fernando commented on #5647
I just sent an email to browserstack, talking about the issue and see if they can provide us with the updated endpoint.

[2020-07-23 06:42] SrinivasanTarget opened #5655 "Calculate performance score based on new weightage and metrics"
Lighthouse `(6.0.0)` has changed the way they [compute the performance score](https://web.dev/performance-scoring/). `wdio-devtools-service` needs to be updated adhering the new weightage logic and new metrics to compute the performance score.

[2020-07-23 07:53] #5624 closed

[2020-07-23 09:17] christian-bromann opened #5656 "Re-use Puppeteer instance in DevTools service from WebdriverIO"
Currently in our `@wdio/devtools-service` we have our own logic to connect to the CDP interface. We should clean this up and re-use the puppeteer instance that is being created in WebdriverIO.

[2020-07-24 09:24] zarko-tg opened #5657 "Jasmine tests run twice"
<img width="870" alt="Screenshot 2020-07-24 at 11 16 07" src="https://user-images.githubusercontent.com/6142411/88377285-2c99ea00-cd9f-11ea-9b2a-7be94bb3b5b7.png">

Used the simple recipe from https://webdriver.io/docs/gettingstarted.html
and changed framework to jasmine. Now all tests run twice.

To reproduce:
- Unzip [webdriverio-test.zip](https://github.com/webdriverio/webdriverio/files/4971128

[2020-07-24 13:17] christian-bromann commented on #5657
Seems like related to Jasmine v3.6 release. We will roll back the version.

[2020-07-24 13:27] #5657 closed

[2020-07-24 13:28] christian-bromann commented on #5657
This got fixed and released in v6.3.5

[2020-07-26 12:00] nareshnavinash commented on #1140
When I run the tests in my Mac (local) clearValue() is working fine, but when the same tests are run in the Linux Docker environment (circleci/node:10-buster-browsers-legacy), I need to use the workaround which @bob-laz mentioned. Could be better if the same is fixed for Linux environment too.

[2020-07-27 09:29] dz1dz1on commented on #4134
I' ve tried to do like @ZawadzkiB and @ducle91 and none of this methods works on chrome :(. Why this issue is closed since it is still aplicable to chrome? @christian-bromann

[2020-07-27 09:43] christian-bromann commented on #4134
@dz1dz1on because this bug is specific to the way how drag and drop is implemented. If you can provide a reproducible example for your use case feel free to open a new issue.

[2020-07-27 09:54] christian-bromann commented on #5020
@jugalj05hi given that we haven't heard from you in a while I will un-assign this issue to allow other people to pick it up. If you haven't found time, no problem! Just let us know 😉

[2020-07-27 10:23] dz1dz1on commented on #4134
@christian-bromann well it is the same situation as other right now.  I can't share my working example due to rights restriction. To get it straight for this particular moment wdio is not capable to do any dragAndDrop tests on chrome and you do not have any plans to fix it in the near future?

[2020-07-27 10:27] christian-bromann commented on #4134
We are not asking to share any of your work examples. We ask to provide a reproducible example where you can show that drag&drop is not working. We examples where it actually works.

Again, drag&drop works but could be broken for the particular way you have implemented it. We definitely want to have it working everywhere but we need help from the community to provide us with examples where it stil

[2020-07-27 14:13] Gordiievskyi commented on #5444
Is there any progress ? Its been two month issue is in this state.

[2020-07-27 14:29] osmolyar commented on #4134
@christian-bromann , reproducible example 2 in comment https://github.com/webdriverio/webdriverio/issues/4134#issuecomment-634135520 does show the 'way' it's implemented, though in this case it fails both in Chrome and FF.

[2020-07-27 14:58] christian-bromann commented on #4134
@osmolyar thanks! It seems that this repo only shows the test code but not an actual website example that someone could use to investigate this. Can you provide that too?

[2020-07-27 14:58] apkatsikas commented on #5239
@christian-bromann sorry for the lack of updates - got confused as i dug deeper on this one and got sidetracked. I've unassigned myself for now.

[2020-07-27 15:01] christian-bromann commented on #5444
@Gordiievskyi as you can see I added a `help wanted` label which should indicate that we would like to see help from the community (e.g. you 😉) on this. Given that the issue is well written let me promote it to increase the chance for this to be picked up by someone.

[2020-07-27 15:10] osmolyar commented on #4134
@christian-bromann , for example 2 in  comment https://github.com/webdriverio/webdriverio/issues/4134#issuecomment-634135520 , it's just running against http://google.com.   @erwinheitzman  also provided a reproducible behavior of the failure (on both Chrome and FF) in comment https://github.com/webdriverio/webdriverio/issues/4134#issuecomment-507699188.

(For example 1 in https://github.com/webdr

[2020-07-27 15:20] christian-bromann opened #5659 "docs: Don't have types being linked to their own pages"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [ ] Other

On certain pages (e.g. [timeouts command API](https://webdriver.io/docs/api/browser/setTimeout.html)) some types

[2020-07-27 15:23] christian-bromann commented on #4134
Thanks for clarifying this. I will re-open this issue then. For anyone who would like to pick this up I recommend to continue on @erwinheitzman investigation at https://github.com/webdriverio/webdriverio/issues/4134#issuecomment-507699188 and see what is necessary to enable the drag&drop functionality, e.g which events are being thrown?

[2020-07-28 07:43] seanpoulter opened #5665 "Bug: `filesToWatch` missing from `Config` type"
**Environment (please complete the following information):**
 - **WebdriverIO version:** Latest
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** Both
 - **Node.js version:** 12.x
 - **NPM version:** Latest
 - **Browser name and version:** N/A
 - **Platform name and version:** macOS 10.14.x
 - **Additional wdio packages used (if applicable):** N/A

**Config of WebdriverIO

[2020-07-28 07:54] christian-bromann commented on #5665
The type should be added in the [typescript template](https://github.com/webdriverio/webdriverio/blob/master/scripts/templates/webdriverio.tpl.d.ts#L52-L169) and then generated with `npm run generate:typings`.

[2020-07-28 08:01] seanpoulter opened #5666 "Rerun failed specs using a command line argument"
**Is your feature request related to a problem? Please describe.**
As a lazy developer with failing tests, I am frustrated when I have to manually find and include the specs I want to rerun. I wish there was a command line argument to help me rerun my failed specs.

**Describe the solution you'd like**
* Add a CLI argument like `--onlyFailures` to rerun the tests that failed in the last run.
* Whe

[2020-07-28 08:02] seanpoulter commented on #5665
Cool! I'm happy to open an MR in a day or so.

[2020-07-28 13:01] seanpoulter opened #5668 "Feature request: Watch mode should rerun affected specs when a file in filesToWatch changes"
**Is your feature request related to a problem? Please describe.**
I'm disappointed when I run in watch mode and I save one of my page objects that is configured in `filesToWatch` but nothing happens. No specs rerun.

<br/>

**Describe the solution you'd like**
I would like to analyze the dependency graph to determine what specs use a file that is saved.

Analyzing the dependency graph of all the

[2020-07-28 13:58] christian-bromann commented on #5486
See https://github.com/webdriverio/expect-webdriverio/pull/133

[2020-07-28 16:45] hieuxlu commented on #5557
@christian-bromann It seems since this commit https://github.com/webdriverio/webdriverio/commit/c5a0167107a1a3e948ec83bfd5d5e518ff972412, every capabilities will be overridden with `/wd/hub` by `selenium-standalone` and with `/` by Appium, so I understand that by design these services can not be used together. Is it correct that this is your intention to do so?

[2020-07-28 16:56] Amrkamel1 commented on #5557
I will try that and get back to you

[2020-07-28 17:43] christian-bromann commented on #5557
@hieuxlu yes. Users still can set the path properly in the config to run both services together. Unfortunately the selenium-standalone server requires the path to be on `/wd/hub`. Your suggestion should work. If you have a better solution how to handle this, please let us know. Cheers!

[2020-07-28 18:32] JapneetSingh5 commented on #5522
Hi @anshulrgoyal , Docusaurus released a new alpha version recently with the CLI, does it automate MD -> MDX conversion too?

[2020-07-28 18:53] anshulrgoyal commented on #5522
yeah but it is still in alpha

[2020-07-29 05:31] SrinivasanTarget opened #5669 "Cumulative Layout shift as part of metrics is always computed to zero."
Cumulative Layout shift computed as part of `getMetrics` in `@wdio/devtools-service` is always returned as zero.

e.g:
[code]

But ideally, for `https://confengine.com/selenium-conf-2020` it should be `0.1` as per lighthouse.

[2020-07-29 07:20] robto09 opened #5670 "Webdriver not detecting testID tags when .app is generated in Release mode."
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2] 6.3.5
 - **Mode:** [Standalone mode or WDIO Testrunner] WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] sync
 - **Node.js version:** [e.g. 8.11.2] 14.15.0
 - **NPM version:** [e.g. 5.8.0] 6.14.7
 - **Browser name and version:** [e.g. Chrome 68] ' '
 - **Platform n

[2020-07-29 07:30] christian-bromann commented on #5670
@robto09 can you make sure you are in native mode? Please use the `switchContext` command for this. If this works locally but not on Sauce it seems to me that it is rather a setup problem with the cloud provider. Therefor I will close this issue. Happy to answer further questions.

[2020-07-29 07:30] #5670 closed

[2020-07-29 07:46] robto09 commented on #5670
Thanks for answer. On the other hand, can you kindly clarify what do you mean by native mode and switchContext? Looks not just happens with that platform, also when .app is generated. In local works ok getting the .app in this way:
[code]

[2020-07-29 07:49] christian-bromann commented on #5670
Please see the Appium docs under [Automating hybrid apps](http://appium.io/docs/en/writing-running-appium/web/hybrid/)

[2020-07-29 08:59] hieuxlu commented on #5557
@Amrkamel1 That should be that path to Appium server, I think by default it should be `/wd/hub`. If you don't explicitly set path in either config or capabilities, by default, `wdio-appium-service` will override it with `/`, which will result in error for `selenium-standalone`.

For this reason, you should either set `path: '/wd/hub'` in wdio config, or in each capabilities if somehow the endpoint

[2020-07-29 09:13] Amrkamel1 commented on #5557
@hieuxlu

no luck, still unable execute the test, im getting the erro below

![image](https://user-images.githubusercontent.com/32042806/88781337-8e39ca00-d18c-11ea-9771-a6920b3c4cbf.png)

[2020-07-29 10:55] hieuxlu commented on #5557
This is different, I can see that Appium server did start successfully, so original error should be resolved. The above error should be related to loglevel, you might want setting loglevel explicitly

[2020-07-29 11:18] christian-bromann commented on #5557
@Amrkamel1 maybe try to reinstall the dependencies, that looks like an odd error.

[2020-07-29 11:23] #5655 closed

[2020-07-29 12:18] Amrkamel1 commented on #5557
@christian-bromann  @hieuxlu

i have already deleted the entire node_modules and reinstall everything, still getting errors as shown below

`2020-07-29T12:07:29.743Z DEBUG @wdio/utils:initialiseServices: initialise service "selenium-standalone" as NPM package
2020-07-29T12:07:29.744Z DEBUG @wdio/utils:initialiseServices: initialise service "appium" as NPM package
2020-07-29T12:07:29.746Z INFO @wdi

[2020-07-29 12:57] christian-bromann commented on #5557
@Amrkamel1 this is a different error now, see error message:

[code]

Please check why the error is being thrown there.

[2020-07-29 13:08] Amrkamel1 commented on #5557
@christian-bromann

okay i solved this toLowerCase issue , after that i have tried the approach provided above and still getting the very first error, check below my wdio config
`exports.config = {
  specs: ['./test/specs/*.spec.js'],
  path: '/wd/hub',

  capabilities: {
    myChromeBrowser: {
      port: 4444,
        capabilities: {
            browserName: 'chrome',
            // path: '/wd/h

[2020-07-29 13:29] christian-bromann commented on #5557
@Amrkamel1 please the [comment](https://github.com/webdriverio/webdriverio/issues/5557#issuecomment-665150363) from above:

[2020-07-29 13:41] Amrkamel1 commented on #5557
@christian-bromann

i have already try all this different combination, putting "path: '/wd/hub' in wido config didnt work

the i comment that like and i added path in each caps doesn't work , that i added path: '/wd/hub' in wdio config and inside caps as well didnt work

then i used path: '/' in wdio config and  removed path from caps, didnt work
then i comment it and added inside caps, didnt work

[2020-07-29 14:21] christian-bromann commented on #5557
Sorry, from your code snippets it seemed that you commented that out which is why I was pointed it out. Can you try:

[code]

[2020-07-29 14:33] Amrkamel1 commented on #5557
@christian-bromann  same error

[code]

[2020-07-29 14:36] christian-bromann commented on #5557
sorry, updated:
[code]

[2020-07-29 14:37] Amrkamel1 commented on #5557
@christian-bromann

same :(

[code]

[2020-07-29 16:25] laclance commented on #4253
How did you fix it please? I have same issue with v84.0.1. I copied https://webdriver.io/docs/gettingstarted.html and this is what i get:
[code]
[code]
Expected: "Sign In"
Received: ""

[2020-07-29 17:20] christian-bromann opened #5672 "Write a test to ensure configuration wizard works from e2e"
We promise the user an easy onboarding experience, everything needed to do to run a WebdriverIO e2e test is to:

[code]

We should ensure that this works all the time. There have been regressions that were unnoticed (see #5671).

## Proposal

Add a CLI test in `/tests/cli` that:

- runs through the configuration wizard
- "fake installs" packages
- runs the test for all possible variation
    - for

[2020-07-30 02:52] asif-m commented on #4098
Im facing similar issue. And using the example already given above, i just modified the code to reflect current state of the UI and for me isDisplayed prints false.

        browser.url("https://dev.nebula.care/practice/");
        browser.pause(5000);
        const element = $("neb-practice-app").shadow$('#login')

        console.log(element.isDisplayed());

These are my dependencies in package.

[2020-07-30 03:19] lumyjuwon opened #5673 "Can't accept alert in a new tab"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-07-30 04:59] lumyjuwon commented on #5673
i find the reason that page don't do bind the dialogHanlder

switchToWindow.js (https://github.com/webdriverio/webdriverio/blob/master/packages/devtools/src/commands/switchToWindow.js)
[code]

add the page.on('dialog', this.dialogHandler.bind(this));

[2020-07-30 05:49] robto09 commented on #5670
I am native mode!. Can you kindly not close the issue so other people can see it?
Thanks

[2020-07-30 06:39] christian-bromann commented on #5670
People can see the issue whether it is open and closed. I still can't identify a bug in WebdriverIO here. If something works locally but not using a cloud provider that indicates that something with the setup must be wrong. Can you provide Appium logs for running your test locally vs. on the cloud provider?

[2020-07-30 06:41] christian-bromann commented on #5673
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-07-30 09:34] Amrkamel1 commented on #5557
@christian-bromann
is there anything else i should try?

[2020-07-30 12:17] blyakhmanv commented on #4484
Hi all,

Are there any updates on this issue? Do we have any workarounds which can replace shadow command?

[2020-07-30 12:27] christian-bromann commented on #4484
Please see the issue labels. If you want to work with shadow DOM please use the [WebDriver protocol](https://webdriver.io/docs/automationProtocols.html) as apparently it is not supported in Puppeteer atm.

[2020-07-30 20:26] ilamparithiNatarajan commented on #5020
@christian-bromann I had a go at this #5674 please review. let me know if you think more information needs to be added.

PS. thanks for actively engaging first timers. inspiring work!

[2020-07-31 06:54] #5020 closed

[2020-07-31 07:23] rytikovroman1994 opened #5675 "Support Selenoid capabilities in type definitions"
Environment (please complete the following information):

**WebdriverIO version: 6.3.3
Mode: WDIO Testrunner
If WDIO Testrunner, running sync/async: sync , @wdio/sync
Node.js version: [v14.5.0]
NPM version: [6.14.5]
Browser name and version: [e.g. Chrome 84]
Platform name and version: [MAC OS Catalina 10.15.6]

Config of WebdriverIO
config.ts
"types": ["node", "@wdio/sync", "@wdio/mocha-framework"

[2020-07-31 07:29] christian-bromann commented on #5675
Just because there are no type definitions for it, it doesn't mean it doesn't work. Just add them. It would be awesome if you could help us enhance the type definitions to support selenoid capabilities.

[2020-07-31 07:38] rytikovroman1994 commented on #5675
Yes. It works if you add a string -
"solenoid:options"?: { enable: boolean, enable Video: boolean }

The runner doesn't start without it. If the config is written in typescript.

[2020-07-31 11:49] christian-bromann commented on #5675
Selenoid capabilities should be added here: https://github.com/webdriverio/webdriverio/blob/master/scripts/templates/webdriver.tpl.d.ts#L316-L346. After the edit run the `npm run generate:typings` script to propagate it to the package definition. Then file a PR. Thanks!

[2020-07-31 14:44] #5669 closed

[2020-07-31 17:51] robto09 commented on #5670
This issue has been solved finally . Thank you very much for your support! For future people having this kind of issue looks like making some configuration in webdriverAgent did the trick. By other hand was hard to figure out that was the problem

[2020-08-01 21:35] ilamparithiNatarajan commented on #5673
@christian-bromann / @lumyjuwon  shall I pick this up

[2020-08-02 00:20] lumyjuwon commented on #5673
@ilamparithiNatarajan
I finish fixing this bug soon

[2020-08-03 13:52] sethuster commented on #2866
The wait for clickable command seems solve the original problem.  Do we need this issue open any longer?

[2020-08-03 13:58] christian-bromann commented on #2866
I think it would be nice to have an autofix for it. You might forget calling the command and some positions and having WebdriverIO actively providing a safety net for it would add value for users.

[2020-08-03 15:13] sethuster commented on #3147
The documentation page does still miss a dropdown to select documentation from previous versions.  However there is now a versions page that serves the same purpose.

[Versions.md](https://github.com/webdriverio/webdriverio/blob/master/docs/Versions.md)

[2020-08-03 15:13] #3147 closed

[2020-08-03 15:17] sethuster commented on #2866
I'm going to give this a shot...

[2020-08-03 19:06] sarathps93 commented on #5672
Mind if I take this as my first pick?

[2020-08-03 20:14] christian-bromann commented on #5672
Please do! Let me know via Gitter or in this thread if I can help with anything. Cheers!

[2020-08-04 09:15] tympanix opened #5684 "Using async/await breaks @wdio/sync with e.g. browser.$(...).waitForExist is not a function"
**Environment:**
 - **WebdriverIO version:** 6.3.6
 - **Mode:** Standalone
 - **Node.js version:** v12.15.0
 - **NPM version:** 6.14.7
 - **Browser name and version:** Chrome 84.0.4147.105
 - **Platform name and version:** macOS Catalina 10.15
 - **Additional wdio packages used (if applicable):** @wdio/sync

**Config of WebdriverIO**
No configuration

**Describe the bug**
Using @wdio/sync package

[2020-08-04 09:36] DivyaTippa opened #5685 "Once the host browser executes test cases, the focus is not moving to guest browser, control remains in the host browser"
Environment
 - WebdriverIO version: 5.10.9
 - Mode: WDIO Testrunner
 - If WDIO Testrunner, running sync/async: async
 - Node.js version: v10.16.0
 - NPM version: 6.9.0
 - Browser name and version: Chrome 84.0.4147.105 and Firefox 78.0.2
 - Platform name and version: MacOS Mojave version 10.14.6
 - Additional wdio packages used (if applicable):  @wdio/allure-reporter, @wdio/selenium-standalone serv

[2020-08-04 09:44] christian-bromann commented on #5684
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-08-04 09:45] christian-bromann commented on #5685
Can you provide a minimal reproducible example?

[2020-08-04 12:54] palash2601 commented on #4870
@janmatura,
Can you please share the version of the wdio packages which fixed this issue for you? I am facing this issue with latest version of wdio v5

[code]

[2020-08-04 13:00] DivyaTippa commented on #5685
**Step1:**
In wdio.config.js file I have set the capabilities as below

capabilities: {
        Host: {
            capabilities: {
                browserName: 'firefox'
            }
        },
        Guest: {
            capabilities: {
                browserName: 'chrome'
            }
        }
    },

_Host browser as Firefox and Guest browser as Chrome_

**Step2:**
Now in one of the .js f

[2020-08-04 15:56] lumyjuwon commented on #5673
@christian-bromann
I run the **npm run test:smoke** but it occurs error
os: windows

### command output

[code]

### the log file output as follow as

[code]

[2020-08-04 18:43] pedroscattaregi opened #5687 "ERROR @wdio/utils:shim: HTTPError: Response code 404 (Not Found)"
## 💬 Questions and Help
I'm using wdio with browserstack service. There is no problem into the execution but there is an error into a request in the lib.

What I'm using:
 "@wdio/local-runner": "~6.3.3"
 "@wdio/appium-service": "~6.1.16"
 "@wdio/browserstack-service": "~6.1.15"
 "@wdio/cucumber-framework": "~6.3.0"
 "@wdio/spec-reporter": "~6.3.0"

Running the test normally and updating the brwose

[2020-08-05 08:42] #5665 closed

[2020-08-05 11:37] christian-bromann commented on #5673
@lumyjuwon did you set up the project according to the [contribution guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md#set-up-project)?

[2020-08-05 12:34] sarathps93 commented on #5672
Thanks for letting me work on this @christian-bromann .

Please let me know if the below understanding is correct

We need to allow user to select the type of framework through CLI `$ npx wdio config --yes --framework <framework_name>` which defaults to `mocha` -it will be a new functionality that we are adding as a part of this task.

If the above point needs to be done, then should we avoid aski

[2020-08-05 13:21] christian-bromann commented on #5672
We should tweak the configurator to just read parameters and set their values appropriately if the `--yes` flag is set. This is not meant for WebdriverIO users and should purely exist to allow us to run certain configuration scenarios in the WebdriverIO CI/CD pipeline.

[2020-08-05 19:42] iVespid opened #5692 "Chrome 84: "credentials_enable_service" pref doesn't disable '' Offer to save passwords" option"
My initial post was on stackoverflow, decided to create an issue here
https://stackoverflow.com/questions/63195981/webdriverio-how-to-disable-save-password-popup-in-chrome-84

This is my first on github, please let me know If I have to provide something additional

There is 'Save password' pop-up in chrome that I cannot remove even with prefs usage.
Chrome created also has **Offer to save password

[2020-08-05 22:27] christian-bromann commented on #5692
With a [little googling](https://stackoverflow.com/questions/16301457/webdriver-chrome-browser-avoid-do-you-want-chrome-to-save-your-password-pop-u) I found that this will work:

[code]

[2020-08-05 22:27] #5692 closed

[2020-08-05 22:36] asif-m opened #5693 "WDIO api's like isDisplayed fails on shadowDom element."
#[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment :**
 - **WebdriverIO version:** 6.1.17
 - **Mode:** [Standalone mode or WDI

[2020-08-06 08:48] christian-bromann commented on #5693
This is a duplicate of #4484. Your test script works very well when run with Chromedriver.

[2020-08-06 08:48] #5693 closed

[2020-08-06 09:37] bdekok opened #5694 "@wdio/protocols removed from NPM?"
Hello,

Our build server was crashing and it seems like we cannot find the WebdriverIO protocols on NPM anymore. Did it accidentally get unpublished? It might be that this is due to NPM though.

## How to reproduce
[code]

[code]

[2020-08-06 09:38] dimkin-eu opened #5695 "@wdio/allure-reporter doesnt create before/after steps in reported xml"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [6]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Additional wdio packages used (if applicable):**
[code]
**Config of WebdriverIO**
An example of how you configured WebdriverIO config
[code]
[code]

**Describe the bug**
the report doesn't contain before/after steps

[2020-08-06 09:39] bdekok commented on #5694
Never mind, NPM is down.

[2020-08-06 09:39] #5694 closed

[2020-08-06 09:44] dimkin-eu commented on #5695
xml with missing steps
[code]

[2020-08-06 10:32] iVespid commented on #5692
@christian-bromann also tried this before, doesn't work

[2020-08-06 10:34] baltsevicha opened #5696 "Not Found - GET https://registry.npmjs.org/@wdio%2fselenium-standalone-service - Not found"
I can't install @wdio/selenium-standalone-service via the next command:

I have the next log:

[code]

[2020-08-06 10:35] christian-bromann commented on #5692
Not sure then. There is not much WebdriverIO can do here. It sends these configurations straight to Chrome. I would advise to maybe file a Chromium bug report then.

[2020-08-06 10:36] christian-bromann commented on #5696
NPM currently has an incident, see https://status.npmjs.org/

[2020-08-06 10:36] #5696 closed

[2020-08-06 10:37] christian-bromann commented on #5695
What happens if you run:

[code]
?

[2020-08-06 10:41] christian-bromann commented on #5687
Can you please provide wdio log files? Is it happening in all tests or just randomly?

[2020-08-06 10:51] dimkin-eu commented on #5695
https://pastebin.com/5cvDhg1x
not really right thing 🤣 still 5 records are there
<img width="1530" alt="Screenshot 2020-08-06 at 13 50 38" src="https://user-images.githubusercontent.com/7899764/89523632-db9ce380-d7eb-11ea-95b1-6e785d2da2e3.png">

[2020-08-06 11:18] dimkin-eu commented on #5695
could be due 1st `if` ?
[code]

[2020-08-06 13:02] pedroscattaregi commented on #5687
This is a more complete log from the beginning until the error happens:
`Execution of 1 spec files started at 2020-08-06T12:58:27.026Z

2020-08-06T12:58:27.030Z DEBUG @wdio/utils:initialiseServices: initialise service "browserstack" as NPM package
2020-08-06T12:58:27.046Z INFO @wdio/cli:launcher: Run onPrepare hook
2020-08-06T12:58:27.047Z INFO @wdio/browserstack-service: browserstackLocal is not

[2020-08-06 14:48] suniljaiswal01 commented on #5675
@christian-bromann  can i work on this issue?

[2020-08-06 14:55] somnanda opened #5697 "Unable to run Puppeteer from latest Webdriver.io v6.3.6"
**Environment:**
 - **WebdriverIO version:** 6.3.6
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** Sync
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** Chrome 84
 - **Platform name and version:** Ubuntu 18.04.1 LTS
 - **Additional wdio packages used (if applicable):**
        "@wdio/cli": "^6.3.6",
        "webdriverio": "^6.3

[2020-08-06 14:56] christian-bromann commented on #5675
@suniljaiswal01 absolutely! Thanks for jumping in 🙏

[2020-08-06 15:05] rytikovroman1994 commented on #5675
I cloned the project. Created its own branch. Wrote the desired option. Committed. I started changes, but my branch is not present when creating a pull request. The name of the branch number of the bug. - 5675

[2020-08-06 15:06] rytikovroman1994 commented on #5675
Oh, I didn't see anyone doing this. But I already did.

[2020-08-06 15:14] rytikovroman1994 commented on #5675
I didn't have time to go on a hike. Please add all the options.

// seleoid specific
        "selenoid:options"?: {
            enableVNC?: boolean,
            enableVideo?: boolean,
            videoName?: string,
            screenResolution?: string,
            videoScreenSize?: string,
            videoFrameRate?: number,
            videoCodec?: string
        },

[2020-08-06 15:20] jayandran-Sampath opened #5699 "waitForClickable is not working for Appium Sessions on native apps"
**Is your feature request related to a problem? Please describe.**
WaitForClickable method is not helping while running appium session on native apps

**Describe the solution you'd like**
As per the current implementation in webdriverio, we are calling /execute command with script(Which is having conditions like no overlapping on the position, element within view position etc) since this functiona

[2020-08-06 15:21] suniljaiswal01 commented on #5675
@rytikovroman1994  sorry ,did not saw your comment before. If you have already done the changes then you can create a PR, i will close mine

[2020-08-06 15:26] rytikovroman1994 commented on #5675
I have an authorization error. Just add my edits. This will be faster.

[2020-08-06 15:29] mgrybyk commented on #5699
You can overwrite the command in your project and use the approach you've mentioned in native context otherwise use original command.

I'd look for some other solution to guarantee the element is clickable in native context as far as visibility (that not always works) doesn't mean the element is visible, same with ”enabled”.

[2020-08-06 15:47] jayandran-Sampath commented on #5699
we are already using the same approach in our project and it works.

Agreeing with your point on native context.

[2020-08-06 16:59] christian-bromann commented on #5699
We could check if the session is a mobile session and only then fetch the context beforehand and ensure the last `execute` command is called only if the user is in the web context. What do you all think?

[2020-08-06 17:30] christian-bromann commented on #5697
I assume you have this script from https://github.com/webdriverio/webdriverio/blob/master/examples/devtools/intercept.js which is an example that works with the version that is currently on master but not yet released. A release will be done soon.

[2020-08-06 17:30] #5697 closed

[2020-08-06 21:03] christian-bromann commented on #5687
@pedroscattaregi not sure why it would fail with 404. Would you mind help us investigate?

[2020-08-06 21:17] christian-bromann commented on #5695
@dimkin-eu not sure if this is an issue or a misconfiguration - I am not using the Allure reporter that much. Would you mind helping out?

[2020-08-06 21:19] christian-bromann commented on #4134
@dz1dz1on have you been able to look into this issue?

[2020-08-06 21:20] christian-bromann commented on #5647
@teixeira-fernando any updates on this?

[2020-08-06 21:20] christian-bromann commented on #5687
This seems to be a duplicate of #5647

[2020-08-06 21:20] #5687 closed

[2020-08-06 21:21] christian-bromann commented on #5656
This landed with #5677

[2020-08-06 21:21] #5656 closed

[2020-08-06 21:22] christian-bromann commented on #4124
This has landed in #5677

[2020-08-06 21:22] #4124 closed

[2020-08-06 21:31] christian-bromann commented on #5609
Plugin has been merged and released.

[2020-08-06 21:31] #5609 closed

[2020-08-06 21:44] apederson21 opened #5700 "Unable to pass SauceConnect version via WebDriver SauceService"
Per a recent SauceLabs [announcement](https://wiki.saucelabs.com/display/DOCS/2020/08/04/Action+Required%3A+Sauce+Connect+Proxy+and+TLS+Deprecation+Notice%2C+October+5%2C+2020), "all versions of Sauce Connect Proxy prior to 4.6.x" are being deprecated.

The [SauceLabs package](https://github.com/saucelabs/node-saucelabs/blob/master/src/index.js#L213) allows you to specify a sauce connect version,

[2020-08-06 21:46] teixeira-fernando commented on #5647
@christian-bromann Unfortunately not. I tried to contact the browserstack support and I just reported this issue but I didn't get any response..... I thing that will be necessary their support for at least to provide us the correct endpoint

[2020-08-06 21:55] christian-bromann commented on #5700
Have you tried setting `scVersion` in your wdio.config.js?

[2020-08-06 22:05] christian-bromann commented on #5700
Actually I am wrong, you can define this property setting `sauceConnectOpts`:

[code]

[2020-08-06 22:05] #5700 closed

[2020-08-06 22:27] apederson21 commented on #5700
Wasn't aware of that, thank you @christian-bromann

[2020-08-07 04:06] satyasreem opened #5701 "async onRunnerEnd on a custom reporter does not work"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:5.23

[2020-08-07 04:39] jayandran-Sampath commented on #5699
@christian-bromann  @mgrybyk

As a temporary solution for native context, can we try using condition of appium Clickable attribute == true && isElementDisplayed(this.elementId) until we find proper solution?

[2020-08-07 06:46] christian-bromann commented on #5699
Can you explain what do you mean by that?

Why is [my proposal](https://github.com/webdriverio/webdriverio/issues/5699#issuecomment-670052830) not a proper solution?

[2020-08-07 06:55] christian-bromann commented on #5701
Please check the [docs](https://webdriver.io/docs/customreporter.html#wait-until-issynchronised).

[2020-08-07 06:55] #5701 closed

[2020-08-07 07:34] christian-bromann commented on #5675
PR has been merged. Thanks for picking this up @suniljaiswal01

[2020-08-07 07:34] #5675 closed

[2020-08-07 07:54] dz1dz1on commented on #4134
@christian-bromann  I have quick glance at this problem to find you another example.
Chrome 84.0.4147.105 on Windows 10
Webdriver io version 6.

First of all I did it in interactive console on debug mode. Basically test looks like that:

Go to: `https://jqueryui.com/draggable/#handle`
[code]

And that what i've got from console:

[code]
So elements are found and their locations but action didn't w

[2020-08-07 10:11] L0tso opened #5703 "Only the first item from $$ array is an Element instance."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.4.0
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]

**Describe the bug**
[code]
**Actual result**
[code]

**Expected behavior**
[code]

**Additional context**
It happens because [webdriverMonad](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-utils/s

[2020-08-07 11:16] christian-bromann commented on #5703
@L0tso would you be open to take a stab at this?

[2020-08-07 11:17] christian-bromann commented on #4134
What do you mean by that?

Feel free to propose a PR.

[2020-08-07 11:49] dz1dz1on commented on #4134
I mean that we don't know what we can pass in `options` argument except that it is `DragAndDropOptions` type.  :)

[2020-08-07 12:52] christian-bromann commented on #4134
isn't it clear that `options.duration` describes that the `DragAndDropOptions` is currently an object that can have a `duration` property that is a number.

[2020-08-07 13:53] L0tso commented on #5703
@christian-bromann [Done](https://github.com/webdriverio/webdriverio/pull/5705)

[2020-08-07 13:53] osmolyar commented on #4134
Wondering if there would be any value to comparing the html/logging of the website where dragAndDrop works in Chrome (seems to be a special case of some kind) and where it does not, as referenced in comment https://github.com/webdriverio/webdriverio/issues/4134#issuecomment-664455273

[2020-08-07 14:16] #5703 closed

[2020-08-07 17:21] jayandran-Sampath commented on #5699
@christian-bromann Sorry i dint get your solution properly, what i understood from your comment is we can have a condition to call /execute only in case of web context. Please correct me if i dint get it properly. So i thought its solution avoid to calling /execute method for appium.

As @mgrybyk commented, since we could not confirm whether the native element is clickable only by checking isDispl

[2020-08-07 17:58] christian-bromann commented on #5699
Do you have reference docs. I am not aware of such an Appium command.

[2020-08-07 18:35] satyasreem commented on #5701
Yes I saw that example and I am following that using the `get isSynchronised () {
        return this.unsynced.length === 0
    }
`  method.

onRunnerEnd still does not execute the async operation

[2020-08-07 18:51] satyasreem commented on #5701
I only want to execute that async operation inside onRunnerEnd - basically at the end of all tests.
Even with the sample example, this async operation is not executing.

[2020-08-07 19:06] satyasreem commented on #5701
Here is the full code.
[code]

I am not setting the interval as this is not required to run often. This is expected to run once at the end ,, like to send a summary of test results.
Any tips is appreciated?

[2020-08-07 19:21] BorisOsipov commented on #5701
@satyasreem
[code]

[2020-08-08 04:05] satyasreem commented on #5701
@BorisOsipov - That fixed it. Thanks a lot!

[2020-08-08 08:14] Amrkamel1 commented on #5557
Guys this ticket has been closed, however all provided solutions above gave same error

[2020-08-08 13:05] seanpoulter commented on #5666
How does this sound OK so far?

* Write to a cache that defaults to a file in `node_modules/.cache/<package>`
* Follow Webpack's lead and use [`pkg-dir`](https://www.npmjs.com/package/pkg-dir) to find the `node_modules` directory.
* Use `--only-failures` as a CLI arg

Specifications:

- Running `wdio --only-failures` with no cache, it should run all specs<sup>1</sup>
- Running `wdio --only-failure

[2020-08-09 02:56] seanpoulter commented on #3962
It is a bit out of the box, but it is possible to achieve the same outcome with Mocha and Jasmine by using tooling to splitting each spec into multiple specs. (Hat tip to Eric Elliot for the idea). I've managed to set that up in WebdriverIO using the `onPrepare` hook. When the hook runs, split the files, and update the `config.spec(s?)`.

The code to code split is pretty short. Here's the gist of

[2020-08-09 13:54] jayandran-Sampath commented on #5699
@christian-bromann  my bad, Its not appium specific attribute.. this attribute (Clickable) is specific to UIAUTOMATOR and not available in XCUITEST. So we will not be able to use it.

UIAutomator ref : https://developer.android.com/reference/androidx/test/uiautomator/UiSelector#clickable

[2020-08-09 15:07] lumyjuwon commented on #5673
@christian-bromann
yes i did it. i'm finding the reason can't run the test

[2020-08-09 15:18] abhinaba-ghosh opened #5706 "--cucumberOpts.name running all specs"
Package.json

[code]

I am using ```--cucumberOpts.name``` command, but it is actually running all the specs.

[code]

Example repository: https://github.com/gavin771/tau_cucumber/tree/chapter_5_3

Is there any configuration changes needs to done?

[2020-08-09 17:48] Sand5 commented on #5706
Hello there are no extra configs based on your command only one scenario should run in the file but on your screenshot all three scenarios run we should have the ability to run just one scenario in a particular file.

[2020-08-10 07:43] christian-bromann commented on #5557
@Amrkamel1 any help on this would be appreciated!

[2020-08-10 14:17] efalkner opened #5711 "Webdriver throws 500 Server Error Connecting to Sauce or BrowserStack When Interpreting Mobile App Capability"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-08-10 16:42] saisun229 opened #5713 "browser.mock() doesnt work on pipeline."
**Environment**

**WebdriverIO version:** 6.4
*Mode: dev tools
**If WDIO Testrunner, running sync/async**: Sync true
**Node.js version:** 12
**NPM version:** 6
**Browser name and version:** Chrome 83
**Platform name and version:** Windows 10
**My Wdio Configuration:**

----------------------------------------------------------------------------------------------------------------------------------

[2020-08-10 22:25] abecks commented on #5481
This was happening to me in Standalone mode. I noticed ChromeDriver is starting on port 9515:

`Starting ChromeDriver 84.0.4147.30 (48b3e868b4cc0aa7e8149519690b6f6949e110a8-refs/branch-heads/4147@{#310}) on port 9515`

So I added `port: 9515` and `path: /` to `wdio.config.js` and it is now working.

[2020-08-11 08:06] davedoesdev opened #5719 "error TS2304: Cannot find name 'Element'"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-08-11 08:08] davedoesdev commented on #5719
I guess this is because I have TypeScript I'm compiling in the same project.
Not sure why the compiler's picking up puppeteer though when I'm not compiling against webdriverio.

[2020-08-11 08:25] davedoesdev commented on #5719
`skipLibCheck` fixes it. Not ideal but gets it compiled.

Cause is this I think: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/24419

[2020-08-11 08:25] #5719 closed

[2020-08-11 11:50] DivyaTippa commented on #5685
Hi @christian-bromann
I have provided reproducible steps, can you please look into it
Thanks

[2020-08-11 12:01] rendmath opened #5720 "Auto-generated project with default options fails on Windows"
**Environment (please complete the following information):**

 - **WebdriverIO version:** 6.4.0
 - **Mode:**  WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.3
 - **NPM version:** 6.13.2
 - **Browser name and version:** Doesn't even get there
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** None

**

[2020-08-11 12:32] seanpoulter commented on #5560
Any luck? Want a second set of eyes @cjatkinson? I've seen this too.

[2020-08-11 12:47] efalkner commented on #5711
Note that I'm able to get past this error with webdriverio stack v5. I'm still having auth issues with SauceLabs' file access API, but webdriver actually reaches their servers; and the error received by wdio v5 is a 404, rather than an internal server error.

[2020-08-11 18:13] mikesalvia opened #5721 "SeleniumHQ join link is no longer valid"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [WebdriverIO Gitter Support Channel](https://gitter.im/webdriverio/webdriverio)
- [#webdriverio channel om SeleniumHQ Slack](https://seleniumhq.slack.com/join/shared_invite/enQtODAwOTUzOTM5OTEwLTZjZjgzN2ExOTBmZGE0NjkwYzA2Nzc0MjczMGYwYjdiNGQ5YjI0Zj

[2020-08-12 08:21] HananArgov opened #5723 "@wdio/devtools-service udpate to 6.4.0 causes timeout at browser.reloadSession()"
after updating all components to 6.4.0, i've encountered an issue, that when I enable the devtools service, i'm getting a jasmine timeout, calling for `browser.reloadSession()
after some research, i've found out that the code stuck here:
https://github.com/webdriverio/webdriverio/blob/f596cd244d39a15f74dac760574e31bf2c7572d8/packages/webdriverio/src/commands/browser/reloadSession.js#L46

i've trie

[2020-08-12 14:43] vikash90 opened #5724 "ERROR @wdio/runner: Error: Failed to create session."
0-0] 2020-08-12T14:05:07.101Z ERROR webdriver: RequestError: read ECONNRESET
    at ClientRequest.<anonymous> (/Users/apple/Desktop/LoginDemo/test_project/node_modules/got/dist/source/core/index.js:891:25)
    at Object.onceWrapper (events.js:422:26)
    at ClientRequest.emit (events.js:327:22)
    at ClientRequest.EventEmitter.emit (domain.js:482:12)
    at ClientRequest.origin.emit (/Users/apple

[2020-08-12 14:44] vikash90 opened #5725 "ERROR @wdio/runner: Error: Failed to create session : please any one help me"
exports.config = {
    services: ['appium'],
    port: 4723,
    runner: 'local',
    specs: [
        './test_cases/**/*.js'
    ],
    capabilities: [{
        maxInstances: 1,
        appiumVersion: '1.18.0',
        platformName: 'Android',
        platformVersion: '9',
        deviceName: 'emulator-5554',
        app: '/Users/apple/Desktop/LoginDemo/android/app/build/outputs/apk/debug/app-deb

[2020-08-12 19:18] wbigno opened #5726 "Browser.mock is not a function"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-08-13 11:27] 1950195 commented on #1514
if you want run 1 case 100 times, you can config in wdio.conf.js:
[code]

[2020-08-13 15:41] vipulgupta2048 opened #5727 "File Download using Headless Chrome/Chromium with WebdriverIO Devtools Protocol"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**
There is no clear documented way of how to download files with Webdri

[2020-08-13 16:54] GibbsB opened #5728 "@wdio/sauce-service Job Names are not sliced when using Jasmine"
**Environment:**
 - **WebdriverIO version:** 6.0.1
 - **Mode:** WDIO TestRunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 11.3.0
 - **NPM version:** 6.14.5
 - **Browser name and version:** Chrome 84
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/sauce-service 6.1.16, @wdio/jasmine-framework 6.2.0

**Config

[2020-08-14 10:32] narekh24 commented on #5290
the same problem that @renatofmachado observed, but the problem was not present in wdio v 6.1.23  ,the problem started when i updated that version to v 6.3.6 ,

[2020-08-14 22:22] mohanraj-r opened #5729 "CVE-2020-7660: Upgrade serialize-javascript to version 3.1.0 or later"
**Environment (please complete the following information):**
 - **WebdriverIO version:** "^6.4.0"
 - **Node.js version:** '12.18.3'
 - **NPM version:** '6.14.6'
 - **Additional wdio packages used (if applicable):** "@wdio/mocha-framework": "^6.4.0",

**Describe the bug**
[Insecure serialization leading to RCE in serialize-javascript · CVE-2020-7660 · GitHub Advisory Database](https://github.com/ad

[2020-08-14 22:53] jweingarten opened #5730 "6.4.0 breaks devtools network hook"
After upgrading my packages to 6.4.0 the following does not intercept the Devtools Network events:

[code]
Executing the above under this env does not print anything from the `respooseReceived` hook:

[code]

Switching my env to 6.3.6 makes it work again.
[code]

[2020-08-15 02:48] hieuxlu commented on #5557
@Amrkamel1 I think you should not mix 2 services in the same `wdio.conf.js`. So I would advise against the code below
[code]
What we normally do is either of below approaches:
- Use different `wdio.conf.js` for each service
- Use a base `wdio.conf.js` and switch service dynamically using environment variable or CLI argument

[2020-08-15 10:49] bersh92 opened #5731 "browser.addCommand() doesn't work WebdriverIO 6 + Typescript"
**Environment**
 - WebdriverIO version: 6.4.0
 - WDIO Testrunner]
 - Mode sync
 - Node.js version: 14.7.0
 - NPM version: 6.14.7
 - Browser name: Chrome, version: 84.0.4147.105
 - Mac OS version: 10.15.6

wdio.conf.js file:
[code]

wdio.d.ts file:
[code]

ts.confg file:

[code]

call it like:

`$('.classname').waitAndClick();`

**Describe the bug**
while running my test I am getting the error:
`[0

[2020-08-15 11:22] hieuxlu commented on #5731
I think I replied to this on gitter, you need to add `wdio.d.ts` to `types` property in `tsconfig.json`.
[code]

I have the same code as you do and it should work after this change.

[2020-08-15 12:13] bersh92 commented on #5731
@hieuxlu Thank you, now it's clear, finally, I can continue with my tests, I think it would be great to add this to the documentation

[2020-08-15 12:13] #5731 closed

[2020-08-15 12:32] marklagendijk opened #5732 "Wait by default"
**Is your feature request related to a problem? Please describe.**
In the [release notes of version 6](https://webdriver.io/blog/2020/03/26/webdriverio-v6-released.html#devtools-automation-protocol-is-now-default) it says:

This triggered me, because for me the main selling point of Cypress has always been that it _waits by default_. I would say that one of the major problems with webtests is flak

[2020-08-15 12:35] marklagendijk commented on #5732
Note: as a temporary workaround I created [webdriver-wait-and](https://www.npmjs.com/package/webdriverio-wait-and):
[code]
I will be very happy when this module will no longer be needed.

[2020-08-15 12:49] Amrkamel1 commented on #5557
Can you elaborate more how i can dynamically switch between service in same spec file

Since i have spend alot of time didnt find proper info for this case

Lets say  have to conf.js file one for appium to launch mobile app and another conf.js for selenium service

So how i can make simple test case  that have two method first one will click on an element in browser and 2nd method will click on an

[2020-08-15 13:03] hieuxlu commented on #5557
That feels wrong, I'm pretty sure wdio and Selenium/Appium would not support such use case. There's a reason we run test for each `capabilities`, so how could you even start two capabilities at once for one test?

I think what you're trying to do is to create a side effect on the browser that is necessary for the subsequent action on the mobile app. In such case, we should just provision the side

[2020-08-15 13:12] Amrkamel1 commented on #5557
Definetly thats make sense

But for example when u are usinh java with TestNg you can manipulate the caps and terminate the driver and inititate another one in the testng hooks this leverage ur testing effort

For example u do some action on mobile app and you want to confirm that changes reflect on the web app, im able to manage this using testng framework with java

But since i recently start to

[2020-08-15 13:13] hieuxlu commented on #5731
Great to hear that. This is more like a Typescript specific recipe/boilerplate, and not really related to wdio. But I agree that we can do better, by simply adding a boilerplate wdio typescript reference repo in the Typescript page on wdio documentation site, and add sample for custom command use case for Typescript.

@christian-bromann What do you think?

[2020-08-15 13:18] hieuxlu commented on #5557
I think you're mixing browser automation which can be easily done by puppeteer, and wdio, which is a full fledged JavaScript e2e test framework. We don't use test framework for automation tasks. So do you agree that we should close this issue because it's not smth wdio support and not a bug of wdio?

[2020-08-15 13:46] Amrkamel1 commented on #5557
To be more precise im mixing desktop browser with mobile or chrome browser in mobile app with mobile app

If this feature is not supported and no plan to be supported in future, then i think you should close it

[2020-08-15 15:40] hieuxlu commented on #5557
I'm sure that `selenium-standalone` has nothing to do with browser inside an app or emulator, it works only with browser drivers on PCs and Macs. I'm not the topic owner, nor core maintainer so I can't close the issue, but I think this is not a big or even a feature, it's just not the way `selenium-standalone` works IMHO.
https://www.selenium.dev/downloads/

[2020-08-16 08:04] michael-confiant commented on #5389
Seems like that behavior is common for every reporter - when you set scenarioLevelReporter you don't have access to the steps. For me, a spec reporter also shows just scenario names after setting ```scenarioLevelReporter: true```

So when I have a scenario outline with 2 examples and another one simple scenario - both with 3 different steps - I get a report which I've attached as a screenshot
<img

[2020-08-17 11:03] radekBednarik commented on #5730
can confirm. something, like this will not log anything to console (network was enabled by separate function).

[code]

[2020-08-17 11:28] Amrkamel1 commented on #5557
maybe its not bug but its a drawback since, it doesn't support cross service testing specially with mobile app since most of mobile app are linked to web app

[2020-08-17 13:44] kapilag opened #5734 "wait by default"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-08-17 13:44] #5734 closed

[2020-08-17 13:44] kapilag commented on #5734
accidentally created

[2020-08-17 17:50] klamping commented on #5732
Since WebdriverIO v5, commands like `click` do wait by default. If the element doesn't exist when you run the command, it will automatically retry until the element exists, or the timeout is reached.

You should be able to just do `$(".my-element").click();` and it will automatically wait.

[2020-08-18 02:42] ntbhoang commented on #3256
As mentioned in the WebDriverIO documentation [https://webdriver.io/docs/rpii-wdio-html-reporter.html](url). The html reporter does not work with the later 5.x or 6.x WebdriverIO. You can bypass this error by removing the html reporter in the 'wdio.conf.js' file.

[2020-08-18 13:21] marklagendijk commented on #5732
This is not mentioned [in the documentation](https://webdriver.io/docs/api/element/click.html). Also there are no options with regards to waiting that you can pass into the method (similar to the wait methods).

[2020-08-18 14:02] Westsaid commented on #5576
Hello!

Good news: This bug will be closed in the next release of IEDriver!

[2020-08-18 14:02] #5576 closed

[2020-08-18 15:55] wswebcreation commented on #3962
@seanpoulter

Thanks for the gist, it was really usefull. I took it a step further and change my config to this. This is really buggy code, but it was just for an initial POC

[code]

The outcome, I had 24 tests divided over 8 testfiles, when I run that (with the old config) I get this log

**NOT running the tests in parallel per `it`**
[code]

After implementing the new `onPrepare` and `onComplet

[2020-08-18 16:07] wswebcreation commented on #3962
In the end:
- it took longer, due to spinning up a single VM for each test
- it took some processing time for parsing the files, will take longer for a bigger project
- it used a lot of memory on my local machine to spin up multiple workers

I also ran this on the following config

[code]

and it this was the endresult

[code]

against this data when **I don't split the files**

[code]

As you can

[2020-08-19 08:45] Sergiu-B commented on #4913
I encountered this issue in AWS CodeBuild (our build tool in CI) after we upgraded the project's NodeJS version from 10.15.3 to 12.18.3. *Tests still worked fine locally (MacOS Catalina).
This is not a WebdriverIO issue, but still posting the solution since I wasted a couple of hours searching far and wide, and hopefully will save some time for someone.
`node-fibers` package does not have binaries

[2020-08-20 15:19] shaharyarmaroof-polarr commented on #4666
Is there any update on this? It seems that this is still an open issue.

[2020-08-20 16:15] Xotabu4 commented on #5724
Duplicate of #5725 ?

[2020-08-21 02:24] JohnMMcD commented on #5726
The first problem is that the webdriver-mock-service is not installed by default. You have to run this command after the `npm i --save-dev @wdio/cli` step:

`npm i --save-dev @wdio/webdriver-mock-service `

The second problem, based on the error message,

[code]

is that you'll have to modify the 'before' hook in `wdio.conf.js`, which is on line 180. That said, I don't know what to modify it to. T

[2020-08-21 04:49] sikar opened #5741 "Could not download https://selenium-release.storage.googleapis.com/3.141/selenium-server-standalone-3.141.59.jar"
Hi,

I am facing issue with driver installation when i use selenium standalone for chrome, ie , edge ones. I do that with codecept config.

Error i face:

Config as in codecept.conf.js:

[code]

Questions:

1. What could be the issue?
2. And can i do a local reference through config itself from my local path instead of downloading drivers each time.

[2020-08-21 08:18] iVespid opened #5742 "Is there any way to get Browser network logs from webdriver?"
## 💬 Questions and Help

in JSON wire protocol there were 2 functions - getLogs and getLogTypes

Just wondering if there is any way to get those logs using webdriver protocol?

[2020-08-21 13:42] paylaom opened #5743 "no color in spec reporter"
Hi Team,
I am facing an issue in spec reporter, When I get the result of my tests then spec reporter doesn't show the colors for success or fail message i.e. green or red tick marks
I am using @wdio/spec-reporter": "^6.1.14".

![spec-reporter](https://user-images.githubusercontent.com/40883326/90897072-43ede680-e3e2-11ea-8678-2d8dbadff87d.png)

[2020-08-23 07:33] diptilenka opened #5744 "Error in "AfterTest Hook" Error: IllegalState: Eyes not open, while using applitool services."
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-08-23 16:33] #5743 closed, assigned to nobody

[2020-08-23 16:44] christian-bromann commented on #4666
@shaharyarmaroof-polarr an open issue with the label `help wanted` so if you are interested in this please get involved. Have a read on our [contribution guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and let us know if you have any questions.

[2020-08-23 17:04] christian-bromann commented on #5732
Non-deterministic tests are definitely one of the big frustration points for e2e test frameworks. As @klamping has pointed out WebdriverIO automatically waits for element to exist before running a command on it. This could be definitely be better visible in the documentation and if you have an idea where, please raise a PR.

Currently we only check if an element exist to run an action on it (e.g.

[2020-08-23 17:15] christian-bromann commented on #5730
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-08-23 17:21] christian-bromann commented on #5389
Yes. See https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cucumber-framework/src/reporter.js#L25-L29

[2020-08-23 17:22] christian-bromann commented on #5731
@hieuxlu sounds good to me. You want to take a stab at it?

[2020-08-23 17:24] christian-bromann commented on #5729
@mohanraj-r please remove your yarn-lock file and reinstall all dependencies. It should automatically install Mocha `v8.1.0`.

[2020-08-23 17:24] #5729 closed

[2020-08-23 17:28] christian-bromann commented on #5728
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-08-23 17:30] christian-bromann commented on #5727
@vipulgupta2048 I think it makes sense to add such an example to the [devtools service docs](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-devtools-service/README.md) which automatically generates the docs on the project homepage. You want to take a stab at it?

[2020-08-23 17:40] christian-bromann commented on #5725
Without any logs it is impossible to make any assumptions. Please use the issue template properly otherwise it is impossible to help.

[2020-08-23 17:40] #5725 closed

[2020-08-23 17:40] christian-bromann commented on #5723
@HananArgov thanks for reporting, you want to take a stab at it?

[2020-08-23 17:42] JohnMMcD commented on #5726
Thanks for looking at it, Christian. Here's an example:
[code]

[2020-08-23 17:46] christian-bromann commented on #5726
@JohnMMcD you can only use API commands within `it` blocks.

For example, this is __wrong__:
[code]

and should be written as follows:

[code]

Please let me know if there are any further questions!

[2020-08-23 17:46] #5726 closed

[2020-08-23 17:46] paylaom opened #5745 "clearValue and setValue not working as expected"
Hi Team,
I am using webdriverIO V6 and node version 12+.
clearValue:- When I use clearValue it doesn’t work as expected. Its not clearing the value from the input field.

setValue:- This function doesn’t take quote (“) as an input. When I am passing a string as ‘“ABC”’. It removes the quote before setting ABC. I have tried this with other escape character syntax as well.

[2020-08-23 17:47] christian-bromann commented on #5745
@paylaom can you provide an example test?

[2020-08-23 17:51] #5721 closed

[2020-08-23 17:55] christian-bromann commented on #5711
Are you trying to test an app uploaded to a cloud service in your local tests? That doesn't work.

Can you elaborate?

[2020-08-23 17:56] christian-bromann commented on #5720
Let's continue our discussion in #5712 then.

[2020-08-23 17:56] #5720 closed

[2020-08-23 17:59] christian-bromann commented on #5685
Thanks, I can't promise when I have time to look into this. Any suggestions would be appreciated. Cheers!

[2020-08-23 18:02] christian-bromann commented on #5713
The mocking capabilities only work if you run the browser on the same machine as your tests runs. Is this the case in your GitLab pipeline?

[2020-08-23 19:00] JohnMMcD commented on #5726
No further questions, thanks for the explanation!

For those folks who might benefit from seeing a complete file that could be dropped into the test/specs directory, here is one:

[code]

[2020-08-23 19:42] joshskumar commented on #5684
hi,

the code works when used as below

const remote = require("webdriverio").remote;
const sync = require("@wdio/sync").default;

let browser;
(async () => {
  browser = await remote({
    capabilities: { browserName: "chrome" },
  });

  await browser.navigateTo("https://webdriver.io");

  await sync( async () => {
    (await browser.$("#search_input_react")).waitForExist({
        timeout:5

[2020-08-23 23:55] lemoncypress opened #5747 "Unable to upgrade chrome driver version to run tests on latest chrome browser"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** >

[2020-08-24 03:38] maleeazeem opened #5748 "Getting Syntax Error on prepare to run tests on saucelabs in docker container"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** ^

[2020-08-24 08:03] christian-bromann commented on #5747
Duplicate of giggio/node-chromedriver#282

Closing as this needs to be fixed within the dependency.

[2020-08-24 08:03] #5747 closed

[2020-08-24 12:30] paylaom commented on #5745
**Clear Value Issue**

**Input code:-**
<input type="text" placeholder="Search" class="Dynamic class" value="ABC">
When there is no value in search bar
<input type="text" placeholder="Search" class="Dynamic class" value>

**Automation code in webdriverIO V6**
$('//input[@placeholder="Search"]').setValue('ABC');
let value = $('//input[@placeholder="Search"]').getValue();
console.log(value); // 'ABC

[2020-08-24 12:55] osmolyar opened #5751 "Cucumber 'not' tag expressions not working on command line"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version: 6.0

[2020-08-24 13:49] christian-bromann commented on #5745
This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-08-24 14:05] osmolyar opened #5752 "Cucumber tag expressions in wdio.config not accepting array of tag strings, contrary to documentation"
**Environment (please complete the following information):**
    **WebdriverIO version: 6.0.15
    **Mode: Wdio testrunner (npx wdio conf.js)
    **If WDIO Testrunner, running sync/async: Sync
    **Node.js version: 12.9.0
    **NPM version: 6.14.4
    **Browser name and version: Chrome 83
    **Platform name and version:. Windows 10
    **Additional wdio packages used (if applicable): , @wdio/cuc

[2020-08-24 15:03] mgrybyk commented on #5752
Hello,

The `tagExpression` accepts string only, it looks like the doc have to be updated.

We would appreciate any help on this so please help us out! Have a look at our contributing guidelines and reach out if you have any questions. Cheers!

[2020-08-24 15:19] mgrybyk commented on #5751
the command works fine in Linux and MacOS
`npm run test -- --cucumberOpts.tagExpression 'not @pending'`

![image](https://user-images.githubusercontent.com/25589559/91062997-b1da1e00-e62d-11ea-82d6-f60ea1093651.png)

@osmolyar may it be the case that you've passed args incorrectly? Please notice two extra dashes `--`.
I'd also suggest trying the same but without special characters like `@` or `~`.

[2020-08-24 17:00] paylaom commented on #5745
**OS:-** Windows 10
**Browser:** Chrome Version 84.0.4147.135 (Official Build) (64-bit)
**WebdriverIO -**
     "webdriverio": "^6.1.17"
    "@wdio/selenium-standalone-service": "^6.1.14"
Node - v12.18.0

[2020-08-24 18:18] osmolyar commented on #5751
@mgrybyk , thanks for the reply.  Yes, I'm passing the argument using the two extra dashes.  The command line argument works fine without the 'not'; e.g.  --cucumberOpts.tagExpression "@Smoke".   (We have to use the '@' to indicate tags).  It's only when we try to use 'not' (in some cucumber versions also expressed as "~", hence tried that variant) that nothing gets run.

[2020-08-24 18:19] osmolyar commented on #5752
Ok, I'll take a look.

[2020-08-24 18:27] vipulgupta2048 commented on #5727
@christian-bromann Roger that. Will open a PR.

[2020-08-24 18:27] christian-bromann commented on #5751
@osmolyar can you provide some reproducible steps for the basic example you get if you follow the configuration wizard?

[2020-08-24 18:28] lemoncypress commented on #5747
Hi @christian-bromann , Within the dependency as in?

[2020-08-24 18:33] dipti-code commented on #5744
Attached the appium log
arguments)","args":[]}[39m
[debug] [35m[W3C (4ac31947)][39m Calling AppiumDriver.execute() with args: ["return (() => document.readyState).apply(null, arguments)",[],"4ac31947-077d-401f-a809-f683722dcfb1"]
[debug] [35m[XCUITest][39m Executing command 'execute'
[debug] [35m[RemoteDebugger][39m Executing atom 'execute_script'
[debug] [35m[RemoteDebugger][39m Executin

[2020-08-24 18:34] osmolyar commented on #5751
@christian-bromann , I could, but the steps are pretty simple:
1.  Put "@Pending" directly above a scenario or scenario outline (or feature name) in a Cucumber feature file
2.  Run as "npx wdio wdio.conf.js --cucumberOpts.tagExpression "not @Pending"

[2020-08-24 18:46] mgrybyk commented on #5751
Lemme try with npx and get back

[2020-08-24 18:52] osmolyar commented on #5751
Someone on the gitter channel also saw the same behavior with npm scripts defined as "wdio wdio.conf.js --  ***".    For them it also works with the same defined in the config file rather than command line, and also works with single tags passed on the command line, but not with operators (not, and, or).

[2020-08-24 19:50] christian-bromann commented on #5747
This needs to be fixed in the project linked above which is consumed by the `wdio-chromedriver-service`.

[2020-08-24 20:00] mgrybyk commented on #5751
`npx wdio --cucumberOpts.tagExpression 'not @pending'` works like a charm for me. Tried, just in case, another quotes `npx wdio --cucumberOpts.tagExpression "not @pending"`, works as well.

![image](https://user-images.githubusercontent.com/25589559/91090142-ead9b900-e654-11ea-9b0a-c7b93d7ba3e3.png)

[2020-08-24 20:19] mgrybyk commented on #5751
@osmolyar ah, of course.
On windows you should use " instead of '.

Just tested on Windows 10, works fine with "

[2020-08-24 20:23] osmolyar commented on #5751
With double quotes, I get an interesting error:

[0-2] 2020-08-24T20:21:09.213Z ERROR @wdio/local-runner: Failed launching test session: Error: empty stack
    at pop (C:\osmolyar_qdtools\qdtools\selenium\webdriverio\cucumber-template-project_v6\node_modules\cucumber-tag-expressions\src\tag_expression_parser.ts:143:11)
    at pushExpr (C:\osmolyar_qdtools\qdtools\selenium\webdriverio\cucumber-temp

[2020-08-24 21:17] christian-bromann commented on #5727
Let's continue conversations in the PR.

[2020-08-24 21:17] #5727 closed

[2020-08-25 07:15] dipti-code commented on #5744
ERROR @wdio/sync: Error: IllegalState: Eyes not open
    at Object.isValidState (/Users/xxx/Documents/xxx/xxx/node_modules/@applitools/eyes-sdk-core/lib/utils/ArgumentGuard.js:226:11)
    at Object.close (/Users/xxx/Documents/xxx/xxx//node_modules/@applitools/eyes-sdk-core/lib/sdk/EyesBase.js:1140:21)
    at Object.close (/Users/xxx/Documents/xxx/xxx//node_modules/@applitools/eyes-sdk-core/lib/sdk

[2020-08-25 07:23] christian-bromann commented on #5744
@dipti-code can you provide a reproducible example?

[2020-08-25 07:29] dipti-code commented on #5744
To Reproduce
Steps to reproduce the behavior:
Follow the document s like https://webdriver.io/docs/applitools-service.html
And also mentioned below lines in tsconfig.json
"types": [
"node",
"@wdio/sync",
"@wdio/jasmine-framework", "@wdio/applitools-service"

and in test
it("should navigate from Home Screen to Document Upload Page.", () => {
LoginHandler.switchBackAfterLoginContext();
ContextHandle

[2020-08-25 07:31] christian-bromann commented on #5744
@dipti-code this isn't reproducible .. can you create an example repository that someone can clone and reproduce the error. No one knows what kind of setup you have and the devil can be in the detail.

[2020-08-25 08:02] mgrybyk commented on #5751
The following `npm run test -- --cucumberOpts.tagExpression "@sanity or not @pending"` works for me.

@osmolyar  Can you please paste output of the command above here? Should look like this:

[code]
_notice `"@foo or not @pending"`_
In case quotes don't work you'll see
[code]
_notice now `"@foo" "or" "not" "@pending"`._ In such case only the first tag is processed. This is why you got `Error: empt

[2020-08-25 08:13] dipti-code commented on #5744
@christian-bromann  Sorry , unable to share the huge code as per the company policy, if any other means like zoom call i can share with you.

[2020-08-25 08:24] mgrybyk commented on #5732
Can we suggest [overwriting](https://webdriver.io/docs/customcommands.html#overwriting-native-commands) the [click](https://webdriver.io/docs/api/element/click.html) command?
[code]

I don't mind waiting by default however would insist to make the feature optional or/and at least the timeout configurable.

[2020-08-25 08:49] mgrybyk commented on #5706
Hello,

Please update to v6 which is highly recommended! Alternatively you can upgrade to the latest v5 version and follow https://webdriver.io/blog/2019/11/01/spec-filtering.html

Feel free to ask questions in the gitter channel

Cheers

[2020-08-25 08:49] #5706 closed

[2020-08-25 08:54] mgrybyk commented on #5695
the report should only contain failed `before` hooks that blocks tests execution. I guess even failed `after` hooks are ignored.

This is done to make the report more readable and focused on the test execution rather than bootstrapping / tearing down the environment.

[2020-08-25 09:31] christian-bromann commented on #5744
I am not asking for your project code, I am asking for a minimal example project that reproduces the problem. If this is a problem within WebdriverIO it should be reproducible in a new fresh simplified project.

[2020-08-25 11:05] dimkin-eu commented on #5695
@mgrybyk , sad story is, if some ramp-up/teardown fails, build is red, but allure shows as green and you cant get whats wrong

[2020-08-25 11:16] #5730 closed

[2020-08-25 11:19] dipti-code commented on #5744
@christian-bromann  you can download the git repo and run the iOS config.
https://github.com/dipti-code/applitool_webdriverio.git

[2020-08-25 11:23] christian-bromann commented on #5744
This is the Appium boilerplate project, it has no integration with Applitools.

[2020-08-25 11:24] dipti-code commented on #5744
I have integrated.Applitool for you. The error is same what am getting for my project also. @christian-bromann

[2020-08-25 11:26] christian-bromann commented on #5744
I don't see any Applitools in there, probably not pushed the latest code?

[2020-08-25 11:27] dipti-code commented on #5744
@christian-bromann check now. Pull the latest now.

[2020-08-25 15:39] mgrybyk commented on #5695
hooks are included to the report by default
![image](https://user-images.githubusercontent.com/25589559/91195656-7a38a800-e6f9-11ea-98d5-de6035341212.png)

here is a failed before hook example
![image](https://user-images.githubusercontent.com/25589559/91195971-de5b6c00-e6f9-11ea-8b27-5808f9e30108.png)

my reporters config
[code]

[2020-08-25 15:42] mgrybyk commented on #5695
just added `disableMochaHooks: true` to allure reporter config, ref https://webdriver.io/docs/allure-reporter.html#configuration
![image](https://user-images.githubusercontent.com/25589559/91196238-2f6b6000-e6fa-11ea-8dc6-612260bc1d67.png)

as you can see passed hooks are not shown, while failed hook is still shown.

[2020-08-25 17:08] mgrybyk commented on #5751
Yes, correct. On MacOS, Windows 10 Pro 2204, ubuntu lts.

Closing the issue for now as far as it looks like environment thing.

Feel free to ask further questions, we are here to help!

[2020-08-25 17:11] cpeck-bi opened #5762 "When tests are excluded in the config file, there should be a message indicating the exclusion when trying to run excluded tests"
**Is your feature request related to a problem? Please describe.**
When attempting to run a test that is excluded in the wdio config, the message in the console simply says `@wdio/cli:launcher: No specs found to run, exiting with failure`

**Describe the solution you'd like**
The error message should read `"test file name" is excluded in the configuration file`

[2020-08-25 17:18] christian-bromann commented on #5762
It says that if no specs are set up to run, e.g. when you exclude the same files that you have set as specs. I think this makes sense for me. Maybe I don't understand you, can you elaborate?

[2020-08-25 17:20] christian-bromann commented on #5751
Also it would be great if we could document the environment difference in the docs if we can spot it.

[2020-08-25 17:38] cpeck-bi commented on #5762
I understand that "No specs found" is technically correct, but the reason for this request is to make it clear _why_ no specs are found. I was looking at a new codebase, trying to run a spec file but getting the "No specs found" error; it took me some time to figure out that it was specifically excluded in the config file, and it would have been helpful if the error message itself told me this.

[2020-08-25 17:58] christian-bromann commented on #5762
I think we could enhance this message to include the spec and exclude globs similar to how Jest shows this:
[code]

[2020-08-25 18:12] osmolyar commented on #5751
@mgrybyk  what is your npm version?  Mine are
**Node.js version: 12.9.0
**NPM version: 6.14.4

[2020-08-25 18:22] cpeck-bi commented on #5762
Christian--can you guide me to where the error message is being created? This is my first time looking at WDIO repo but I'd like to try and make a PR to address this

[2020-08-25 18:25] christian-bromann commented on #5762
Sure, I usually never remember the position where something is in the code but for that we have a search and it showed me that you can find this part here: https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cli/src/launcher.js#L176-L177

[2020-08-25 19:57] mgrybyk commented on #5751
What cmd are you using?
Try 3 quotes in regular cmd ’"""@Pending and not @Sanity"""’ or 5 in powershell ’"""""@Pending and not @Sanity"""""’.

If you use git bash most likely nothing can work.

[2020-08-25 20:04] osmolyar commented on #5751
cmd - yes, 3 quotes works!  wonder why the difference in usage

[2020-08-25 20:07] christian-bromann commented on #5751
@osmolyar would you mind adding a sentence or two to [our docs](https://github.com/webdriverio/webdriverio/blob/master/docs/OrganizingTestSuites.md)?

[2020-08-25 20:09] osmolyar commented on #5751
Yes but I'm still not sure in what case the 3 quotes are needed, since @mgrybyk didn't need to use them (in cmd I assume)

[2020-08-25 20:22] mgrybyk commented on #5751
I believe it might be helpful to mention that on windows it might be required to use 3 quotes instead of one together with npx.

[2020-08-26 07:46] dimkin-eu commented on #5695
@mgrybyk how does your `beforeAll` looks ?
1
[code]
2
[code]
3
[code]
4
[code]

[2020-08-26 08:12] christian-bromann commented on #5732
As I mentioned above, I prefer to retry and wait for clickable if an click doesn't work right away. Always calling waitForClickable seems unnecessary to me and only slows down tests.

@marklagendijk I would say working on #2866 would be a good next step. Are you interested to help us getting this landed? I am happy to support you on the way!

[2020-08-26 08:12] christian-bromann commented on #5732
Closing as I think we are on the same side that #2866 is the right next step.

[2020-08-26 08:12] #5732 closed

[2020-08-26 08:14] christian-bromann commented on #5748
@maleeazeem honestly I don't think this is a problem somewhere in WebdriverIO and rather in the [`saucelabs`](https://www.npmjs.com/package/saucelabs) NPM package. Would you mind creating an issue there?

[2020-08-26 08:14] #5748 closed

[2020-08-26 08:18] christian-bromann commented on #5647
@teixeira-fernando any updates?

[2020-08-26 08:19] christian-bromann commented on #5672
@sarathps93 any updates? Happy to assist with the task if necessary.

[2020-08-26 08:35] mgrybyk commented on #5695
Don't have any hooks ourside describe block. BeforeAll is not mocha hook. So it's number 3
@dimkin-eu

[2020-08-26 09:21] marklagendijk commented on #5732
I would suggest adding a page `Deterministic tests` with a section explaining what WebdriverIO already does to make tests deterministic. Apart from that the page could contain some tips (such as using [Chrome's NetworkConditions](https://webdriver.io/docs/api/chromium.html#setnetworkconditions) to make failures deterministic) and examples (such as using expect to check the browser url).

We could

[2020-08-26 11:01] christian-bromann commented on #5732
Sounds good to me

We already have a [middle layer system](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/middlewares.js#L5-L44) in the `webdriverio` package that allows to retry commands in certain conditions (e.g. stale element exception). I think that would be were you would need to start looking into.

Awesome.

[2020-08-26 15:10] syedasadulhaq commented on #5382
Hey! I'm using the latest version of devtools-service ("@wdio/devtools-service": "6.4.0"). I'm getting the following console error (don't know the impact yet):

UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). To terminate the node

[2020-08-26 21:35] #5751 closed

[2020-08-26 21:36] #5752 closed

[2020-08-26 22:24] joshskumar commented on #5645
@dimkin-eu There seems to be no change in the DOM did you check the behaviour of the app when you used other testing tools like Selenium because I feel you will observe the same behaviour..

[2020-08-27 03:53] sarathps93 commented on #5672
@christian-bromann Sorry for the delay and please give me time till this weekend. I do have few queries to be clarified, will connect with you on gitter

[2020-08-27 03:57] pratimghosh76 commented on #4055
any one able to resolve the issue. I also cloned $ git clone git@github.com:christian-bromann/webdriverio-performance-testing.git
 But getting in to error
[0-0] (node:90883) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'promise' of undefined
    at TraceGatherer.onLoadEventFired (/Users/pxg8q0v/git/webdriverio-performance-testing/node_modules/@wdio/devtools-service/build/gathe

[2020-08-27 04:04] pratimghosh76 commented on #4085
could any one help me on this,

getting below error

[0-0] (node:90883) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'promise' of undefined
    at TraceGatherer.onLoadEventFired (/Users/pxg8q0v/git/webdriverio-performance-testing/node_modules/@wdio/devtools-service/build/gatherer/trace.js:117:67)
    at /Users/pxg8q0v/git/webdriverio-performance-testing/node_modules/puppeteer-

[2020-08-27 05:19] dimkin-eu commented on #5645
@joshskumar , as I mentioned ( not in a straight way ) in description - using chromedriver it produces correct `element is not clickable at point (x,y), Other element would receive the click`

[2020-08-27 05:57] hieuxlu commented on #5731
@christian-bromann There's already been one on wdio boilerplate page, so I will not reinvent the wheel. https://webdriver.io/docs/boilerplate.html#pako88wdio-mocha-typescripthttpsgithubcompako88wdio-mocha-typescript
@bersh92 FYI.

[2020-08-27 08:04] pablopaul commented on #4565
Seeing a similar behaviour on Mac OS X Catalina with Safar 13.1

[2020-08-27 08:38] khoingo-lg opened #5765 "Appium image strategy does not work with accessibility '~abc.png''"
My locator is {accessibility: '~abc.png'}.
It works well with the old strategy (webdriverio 5.23.0). After I upgrade the new version webdriverio 6.3.4, webdriverIO use image strategy for my locator. It does not work. It throws element not found.

My environment:
Appium: 1.17.1
Webdriverio: 6.3.4
Device: iOS simulator 13.3

Could you have any advice for me?

_Originally posted by @khoingo-lg in htt

[2020-08-27 09:00] christian-bromann commented on #5765
Can you provide some logs from both WebdriverIO version?

[2020-08-27 09:04] christian-bromann commented on #5731
@hieuxlu I think it would be useful to have a small section on our TypeScript documentation page explaining how you can extend the types (like in [this example](https://github.com/bersh92/wdio.addCommand/blob/master/test/types/wdio.d.ts)) when you create custom commands.

[2020-08-27 09:07] christian-bromann opened #5766 "Document how to extend type definition when having custom commands"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**

When someone uses WebdriverIO with TypeScript and adds a custom comm

[2020-08-27 09:07] christian-bromann commented on #5731
Created an issue for that: #5766

[2020-08-27 09:49] hieuxlu commented on #5766
Ok please assign me this one. Thanks.

[2020-08-27 10:08] mgrybyk commented on #5766
I'd use
[code]
instead of `"types"`.

[2020-08-27 10:14] p-saxena opened #5767 "Issue with Page objects: Getting TypeError: this.emailAddress.setValue is not a function"
**Description:**
Please find below relevant files - `vehicles.spec.js`, `generic.js` (helper file) and `login.page.js`. Also, debug logs have been shared. I am getting `TypeError: this.emailAddress.setValue is not a function`in my page object class. I am using WebdriverIO v6 with mocha and running tests in chrome.

**vehicle.spec.js**
[code]
**generic.js**
[code]
**login.page.js**
[code]
**Debug l

[2020-08-27 10:18] mgrybyk commented on #5766
let's say I have a structure like this
![image](https://user-images.githubusercontent.com/25589559/91430528-5000fa80-e85f-11ea-95f3-3bc655550620.png)

I guess it's better to keep package types and custom types separately
[code]

[2020-08-27 13:20] christian-bromann commented on #5762
Let's continue convo in #5763

[2020-08-27 13:20] #5762 closed

[2020-08-27 13:26] christian-bromann commented on #5557
I think it is a bug. WebdriverIO should allow you to run browser tests and mobile tests in one suite at the same time. Let's say you want to run web tests on desktop and mobile, you would need Appium and Selenium Standalone to have the right drivers setup.

[2020-08-27 13:33] christian-bromann commented on #5557
I tried with following setup:

[code]
and saw both browser starting with the right drivers:
[code]

[2020-08-27 13:58] christian-bromann commented on #5557
so I checked with `wdio-chromedriver-service` and `@wdio/selenium-standalone-service` and this combination in multiremote works:

[code]

@Amrkamel1 my hunch is that we don't properly update the multiremote capabilities in the [Appium service](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-appium-service/src/launcher.js#L55-L69). Could you help and tweak that area in the node

[2020-08-27 14:00] Amrkamel1 commented on #5557
@christian-bromann
Okay i will try that i get back to u

[2020-08-27 14:04] christian-bromann commented on #5557
The test show a correct behavior.

[2020-08-27 14:59] Tuckett45 commented on #1726
I'm having the same error message but when I try to create a new Vue project.... Never ever had this error message before when creating a new project

[2020-08-27 15:24] christian-bromann commented on #1726
@Tuckett45 can you please share more about what command you ran and how to reproduce?

[2020-08-27 15:27] Amrkamel1 commented on #5557
That sounds great, i will try this caps that you have posted and let you know once i return back from vacation (next week) since i dont have access for any laptop now

[2020-08-27 15:31] Tuckett45 commented on #1726
Yes. The error is occurring when I run the vue ui command and start up a new project using the ui feature instead of the cli.

![image](https://user-images.githubusercontent.com/57233584/91462980-710e1f00-e850-11ea-9a44-702186bf5078.png)

[2020-08-27 15:36] christian-bromann commented on #5557
Enjoy your vacation!

[2020-08-27 15:37] christian-bromann commented on #1726
@Tuckett45 I don't see any references to WebdriverIO that could have caused the issue. You might want to reach out in the Vue.js channels with that.

[2020-08-27 16:02] christian-bromann commented on #5767
@p-saxena have you tried to debug what `this.emailAddress`, maybe something with the page object is off.

[2020-08-27 16:35] christian-bromann commented on #5728
PR was merged.

[2020-08-27 16:35] #5728 closed

[2020-08-27 19:37] p-saxena commented on #5767
@christian-bromann I just moved the `loginToPublicPageAs` function from async before method to a separate `it` block.  and it works now.
[code]
Unfortunately, its still not clear to me why it wasn't working earlier. Do you have a theory?

[2020-08-28 00:21] Virtim commented on #5647
Hey all. Is there any way I can help with debugging this issue or maybe I could try to contact BrowserStack support too?

[2020-08-28 00:28] teixeira-fernando commented on #5647
Hey @Virtim. We would be glad if you could help us with this issue.
As I mentioned, I tried to contact the browserstack support, but they didn't answered me.
I'm out of ideas of how to solve the issue.
I didn't tried the older wdio versions. It is something that you could try out.

[2020-08-28 00:29] Virtim commented on #5647
Yeah, I will try to look at what kind of calls v4 makes and will compare it with v6.

[2020-08-28 08:28] christian-bromann commented on #5767
Not sure without understanding your test setup. Glad it works now. Closing then.

[2020-08-28 08:28] #5767 closed

[2020-08-28 09:02] christian-bromann commented on #5673
@lumyjuwon what is the status of this? Can you create a PR and we can take it from there?

[2020-08-28 09:07] khyati2010 commented on #2173
hey guys, not getting any reference how to set capabilities in safari, tried couple of combinations any hard-core solution for this?   {
            browserName: 'safari',
            maxInstances: 1,
            safariOptions: { technologyPreview: true }
        }
I am not able to by-pass this screen while executing on safari.

<img width="1377" alt="Screenshot 2020-08-28 at 2 16 45 PM" src="http

[2020-08-28 09:16] christian-bromann commented on #5523
I think this can be closed now. The devtools package now finds Firefox Nightly on all systems and this error shouldn't happen anymore.

[2020-08-28 09:16] #5523 closed

[2020-08-28 09:22] christian-bromann commented on #4378
This error got resolved in WebdriverIO v6.

[2020-08-28 09:22] #4378 closed

[2020-08-28 09:29] christian-bromann commented on #5374
Was re-checking the service and found that it now throws:

Closing.

[2020-08-28 09:29] #5374 closed

[2020-08-28 09:30] christian-bromann commented on #5486
This has landed and was released as `v1.3.0`.

[2020-08-28 09:30] #5486 closed

[2020-08-28 09:58] dimkin-eu commented on #5695
@mgrybyk looks like this is the case - I've used 1st one 👍
for sure https://webdriver.io/docs/allure-reporter.html#configuration must be updated

[2020-08-28 10:30] mgrybyk commented on #5695
@dimkin-eu feel free to propose PR for that!

[2020-08-28 10:53] dimkin-eu commented on #5695
but to which part of wdio?
@christian-bromann are there any preferences, where to describe this?
like having `before` inside `describe` is a good practice or even a must?

[2020-08-28 11:46] christian-bromann commented on #5695
Maybe we can add a new page next to `Organizing Test Suite` called `Structure Test Files` mentioning this and also mentioning that the browser object should not be used outside an test or hook block.

[2020-08-28 11:58] christian-bromann commented on #4973
@kevinmcdonnell can you maybe provide a reproducible example?

[2020-08-28 16:37] eddivalen commented on #5747
Hey @christian-bromann  is this still in progress?

[2020-08-28 16:43] christian-bromann commented on #5747
The [issue](https://github.com/giggio/node-chromedriver/issues/282) is still open so I assume yes.

[2020-08-28 19:19] hieuxlu commented on #5766
@mgrybyk The problem with `typeRoots` is that it does not work well with `ts-node`. `ts-node` dictates typeRoots folder to be structured as below, and even after that, lots of people still have problem with it (https://github.com/TypeStrong/ts-node/issues/782), so I propose updating the docs to remove any use of `typeRoots`.
[code]
That's why the very good Typescript boilerlate here uses `types` i

[2020-08-29 01:07] Virtim commented on #5647
So after some research the issue is in `service.js` :

[code]
To be exact app capabilities doesn't exist. I tried to log all available capabilities with `log.info('CAPABILITIES', global.browser.capabilities)`

and here is what I've got:

[code]

I'm not sure why app capability is not being passed there. But if I replace `capabilities.app` with `capabilities.appPackage` 404 disappears.

@christian-

[2020-08-29 09:26] mgrybyk commented on #5766
@hieuxlu got it. Actually I'm not using `typeRoots` at all in my projects.
Here is `tsconfig.json`
[code]
I have
`src/wdio/commands.ts`
[code]
and types in `src/types/wdio.d.ts`
[code]

That's it. I can now use `$('a.page').getLink()`

No need to add `src/types/wdio.d.ts` explicitly to types!

[2020-08-29 09:27] christian-bromann commented on #5647
Let's continue convo in #5771

[2020-08-29 09:27] #5647 closed

[2020-08-29 09:35] mgrybyk commented on #5766
There is a guide on how to add custom command https://webdriver.io/docs/typescript.html#adding-custom-commands

[2020-08-29 11:08] mgrybyk commented on #5766
@hieuxlu please also see what does `ts-node` guys suggest [Help! My Types Are Missing](https://github.com/TypeStrong/ts-node#help-my-types-are-missing)

[2020-08-29 11:16] hieuxlu commented on #5766
Yes, either using `include` or `types` but not `typeRoots`. You link is what I said above, following a module structure for `typeRoots`, which does not work for me.

So I will update the guidelines to use either `types` or `includes`.

[2020-08-29 11:20] mgrybyk commented on #5766
@hieuxlu I'm not sure it worst using typeRoots and adding types for custom type definitions at all. Please see https://github.com/webdriverio/webdriverio/issues/5766#issuecomment-683264193

[2020-08-29 12:49] joshskumar commented on #5500
I think the exception  is coming from mocha @dimkin-eu can you check if other reporters have the same issue and also can you lease paste the logs in your console

[2020-08-31 04:10] akhilsingla123 opened #5776 "Not able to capture performance data using webdriverio"
Trying to capture performance data using webdriverio but getting error:

**browser.enablePerformanceAudits is not a function**

Note : Not using wdio to run code, need to run it as standalone code.

       const { remote } = require('webdriverio')

      let browser;

     (async () => {
     browser = await remote({
     automationProtocol: 'devtools',
     capabilities: {
        browserName: 'c

[2020-08-31 07:03] christian-bromann commented on #5776
The devtools service only works if you run WebdriverIO with the test runner. Please see [this example repo](https://github.com/christian-bromann/webdriverio-performance-testing).

[2020-08-31 07:03] #5776 closed

[2020-08-31 08:42] christian-bromann commented on #5713
Closing due to inactivity. Let me know if you have further questions.

[2020-08-31 08:42] #5713 closed

[2020-08-31 08:50] christian-bromann commented on #5745
I can't reproduce the issue, tried with WebDriver as well as CDP:

[code]

Happy to re-open once a reproducible example is provided.

[2020-08-31 08:50] #5745 closed

[2020-08-31 09:30] christian-bromann commented on #5636
Closing. Sadly it doesn't seem that the PR receives a lot of attention. There is nothing left to do from our side at this point.

[2020-08-31 09:30] #5636 closed

[2020-08-31 09:33] christian-bromann commented on #5563
Closing due to inactivity. We would love to see a PR to the `v5` branch with a fix.

[2020-08-31 09:33] #5563 closed

[2020-08-31 09:34] christian-bromann commented on #5541
Any updates @mathew-jithin ?

[2020-08-31 09:40] mathew-jithin commented on #5541
@christian-bromann Sorry, was equipped with some work in office these days. Forgot to check on this.

I will try to give a pull by Wednesday. Will surely check it out today :-)

[2020-08-31 11:28] erwinheitzman commented on #5541
@mathew-jithin awesome, if you need any help you can reach out to me on Gitter

[2020-08-31 14:23] mathew-jithin commented on #5541
Thanks a lot @erwinheitzman Actually, is there any possibility that you have a sample code which was written to test the existing functionality?

[2020-08-31 14:44] christian-bromann commented on #5541
@mathew-jithin please check out the unit tests for this command: https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/tests/commands/element/dragAndDrop.test.js

[2020-08-31 16:24] balukov commented on #5747
There is a temporary workaround - to add drivers version for selenium-standalone service
[code]

[2020-08-31 17:01] eddivalen commented on #5747
I'm still getting the same error from above @balukov

[2020-08-31 18:45] mathew-jithin commented on #5541
Thanks @christian-bromann

[2020-08-31 22:26] mgrybyk commented on #5766
@hieuxlu please see updated TypeScript setup doc https://webdriver.io/docs/typescript.html#framework-setup

[2020-09-01 07:01] #5766 closed

[2020-09-01 07:09] lihan commented on #1677
@christian-bromann I need to test something that exists in browser event callback (devtool service)
`browser.on('Network.requestWillBeSent', function(params){
    // Assertions
});`
In this case, I have to use a done method. Or it will ignore the errors after first assertion.

[2020-09-01 08:51] Vijay1990 commented on #4483
Hi, below is a quick reproducible an example polymer app [example](https://shop.polymer-project.org/)

![image](https://user-images.githubusercontent.com/3185919/91828136-5e835380-ec5d-11ea-8d0b-7ec471c14696.png)

You can inspect the element and see the DOM structure as well.
I tried in multiple ways to access the above-highlighted shadow dom("Ladies Outerwear- menu link"), using shadow$/shadow$$

[2020-09-01 09:18] Amrkamel1 commented on #5557
@christian-bromann

i have tried the following, and still didnt manage to get it work

capabilities: {
    myChromeBrowser: {
      port: 4446,
      path: '/',
      capabilities: {
          browserName: 'chrome',
          acceptInsecureCerts: true
      }
    },
    androidClient: {
      port: 4728,
      path: '/',
      capabilities: {
        platformName: 'Android',
        browserName: '

[2020-09-01 10:19] mathew-jithin commented on #5541
https://github.com/webdriverio/webdriverio/pull/5783

[2020-09-01 10:27] mathew-jithin commented on #5723
@christian-bromann Would like to pick this up if not assigned to anyone. Will have a try :-)

[2020-09-01 13:06] christian-bromann commented on #5723
@mathew-jithin sounds good, will assign it to you then.

[2020-09-01 13:11] christian-bromann commented on #5541
Let's continue convo in #5783

[2020-09-01 13:11] #5541 closed

[2020-09-01 13:35] GeorgeXCV opened #5784 "driver.getWindowSize() throws error when used on Real Android Devices"
**Environment (please complete the following information):**
 - **WebdriverIO version:**  5.23.0
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.13.4
 - **Platform name and version:** Android 10

**Config of WebdriverIO**
Node.js / Appium / WebdriverIO / BrowserStack

**Describe the bug**
I have function that gets

[2020-09-01 13:39] christian-bromann commented on #5784
@GeorgeXCV would you mind filing this issue in the Appium project? The new WebDriver protocol should be implemented there similar across emusim and rdc sessions. There is nothing WebdriverIO can do about this problem.

[2020-09-01 13:39] #5784 closed

[2020-09-01 13:45] mike-d-davydov opened #5785 "Unhandled promise rejection "cannot read property '_id' of null" in devtools-service"
**Environment:**
 - **WebdriverIO version:** 6.4.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.21
 - **NPM version:** :6.14.4
 - **Browser name and version:** Chrome 84
 - **Platform name and version:** Docker container (RHEL7)
 - **Additional wdio packages used (if applicable):** @wdio/devtools-service

**Config of WebdriverIO**

Fra

[2020-09-01 15:19] christian-bromann commented on #5785
Such an example is required to understand the full context of this problem. I think it is impossible to apply any fixes or investigate here without that.

[2020-09-01 15:33] mike-d-davydov commented on #5785
@christian-bromann if you look at the source code, there is a clear missing null check. I was planning to fix this myself  - it requires a one-liner change (I was planning to validate the fix locally by making changes directly in node_modules). Problems with creating minimum reproduction scenario are:
  - It is only reproducible with Chrome 84 on our Linux docker containers
  - It only reproduces

[2020-09-01 16:37] mgrybyk commented on #5785
It would be great to understand why the page is null. Is it missing? Maybe frame has some special type?

[2020-09-01 16:57] mike-d-davydov commented on #5785
@mgrybyk, my understanding that this only happens during navigations. Unfortunately, I can't provide logs because company policy prohibits sharing anything from corporate network.  From the other hand in a handler for "onFramewFailedToLoad" you actually may anticipate that frame in the request is null, I guess. I will try to collect more info.

[2020-09-01 18:41] mike-d-davydov opened #5786 "Allow passing 'proxy' parameter to 'sauce' service"
**Is your feature request related to a problem? Please describe.**

If SauceLabs service is behind the firewall and accessible via proxy, I would expect to be able to pass `proxy` parameter to `sauce` service, similar to `proxy` parameter in `saucelabs` service it is based on: `https://www.npmjs.com/package/saucelabs#proxy`. Unfortunately, `proxy` parameter does not seem to be supported.

**Descri

[2020-09-02 01:31] mathew-jithin commented on #5723
@christian-bromann Tried and I was unable to reproduce the timeout as mentioned. Is there any specific steps to reproduce the same other than that mentioned by @HananArgov ?

[2020-09-02 08:12] akloeber opened #5789 "Element constructed with object selector throws error if isExisting() is called"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.4.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.18.3
 - **NPM version:** 6.14.6
 - **Browser name and version:** Chrome 85.0.4183.83
 - **Platform name and version:** macOS 10.15.6
 - **Additional wdio packages used (if applicable):** *defaults

[2020-09-02 08:22] Amrkamel1 commented on #5557
@christian-bromann

Good news!! :D

    `  capabilities: {
    myChromeBrowser: {
      port: 4444,
      path: '/wd/hub',
      capabilities: {
          browserName: 'chrome',
          acceptInsecureCerts: true
      }
    },
    androidClient: {
      port: 4728,
      path: '/',
      capabilities: {
        platformName: 'Android',
        browserName: 'chrome',
        'appium:deviceName':

[2020-09-02 08:27] Amrkamel1 commented on #5557
just one minor thing down blow in the screenshot its not shown the broswer type, i think maybe because we are combining two different browser within one spec

[2020-09-02 08:45] christian-bromann commented on #5557
Yeah, this is a different story. Glad it works now.

[2020-09-02 08:45] #5557 closed

[2020-09-02 08:46] christian-bromann commented on #5789
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-09-02 09:17] christian-bromann commented on #5786
I suggest to introduce a new option `proxy` in the webdriver package that is from type `string`. If set we create a custom agent similar to how it is done in the [node-saucelabs](https://github.com/saucelabs/node-saucelabs/blob/master/src/utils.js#L151-L180) package. In the `@wdio/sauce-service` we propagate this new option into the client so that the settings are the same. To wrap things up an ad

[2020-09-02 09:21] christian-bromann commented on #4196
Closing this.

`isSauce` has always been an internal flag not documented nor suppose to be used by consumer. I also don't see this to be useful for them.

[2020-09-02 09:21] #4196 closed

[2020-09-02 09:25] christian-bromann commented on #3989
I tried to reproduce this and it seems to be fixed with the latest version.

[2020-09-02 09:25] #3989 closed

[2020-09-02 09:26] christian-bromann commented on #4323
The migration to the unified platform has mostly been completed by now. Closing.

[2020-09-02 09:26] #4323 closed

[2020-09-02 09:47] christian-bromann commented on #4582
see #5790

[2020-09-02 09:47] #4582 closed

[2020-09-02 09:48] christian-bromann commented on #4464
Closing due to inactivity.

[2020-09-02 09:48] #4464 closed

[2020-09-02 09:56] christian-bromann commented on #4635
This has been fixed by #5651

[2020-09-02 09:56] #4635 closed

[2020-09-02 09:59] christian-bromann commented on #3914
It seems that `webdriver-manager` hasn't been maintained for a year. Closing.

[2020-09-02 09:59] #3914 closed

[2020-09-02 10:00] christian-bromann commented on #4137
This has been fixed due to the launch of unified platform.

[2020-09-02 10:00] #4137 closed

[2020-09-02 10:08] christian-bromann commented on #4987
@kapilag this has been fixed with v6 of WebdriverIO. Closing.

[2020-09-02 10:08] #4987 closed

[2020-09-02 10:08] christian-bromann commented on #5009
@NeONRAcE can you describe a bit more the use case here? For what do you need a new browser in the middle of a test?

[2020-09-02 11:00] mathew-jithin commented on #5786
@christian-bromann Shall I pick this up?

[2020-09-02 11:30] christian-bromann commented on #5786
Feel free.

[2020-09-02 14:56] Matt-Varney opened #5791 "@wdio/selenium-standalone-service is a using a couple version out of date selenium-standalone"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.4.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.18.3
 - **NPM version:** 6.14.6
 - **Browser name and version:** chrome v85
 - **Platform name and version:** windows 10
 - **Additional wdio packages used (if applicable):** @wdio/selenium-standa

[2020-09-02 15:21] mgrybyk commented on #5791
Hello,

There is no need to update `selenium-standalone` version explicitly.
Installing `@wdio/selenium-standalone-service` adds `selenium-standalone` of the latest version.

You can always specify browser driver versions you'd like to use, see https://webdriver.io/docs/selenium-standalone-service.html#configuration

[2020-09-02 15:24] #5791 closed

[2020-09-02 15:38] Matt-Varney commented on #5791
@mgrybyk I can see selenium-standalones latest version is 6.19.0 and downloads chromedriver version 85.x.x in the default config. However the latest version of @wdio/selenium-standalone-service (v6.4.0) downloads selenium-standalone 6.15.1 as a dependency.

[2020-09-02 15:48] mgrybyk commented on #5791
Don't worry about that, the latest version of selenium standalone is installed along with the service.
You can try it yourself. Create a new project, install the service, see the version of selenium standalone.

[2020-09-02 16:09] Matt-Varney commented on #5791
@mgrybyk You're right, strange whenever I installed @wdio/selenium-standalone-service it was always installed selenium-standalone version 6.15.1 with it even when I deleted and allowed my package-lock.json to be regenerated, however after uninstalling it, deleting my package lock and doing an npm cache clean -f, it is now installing version 6.19.0 as you said. Thanks for the help.

[2020-09-02 17:16] david-sharer opened #5793 "Chrome not found with fresh install of Chrome 85"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.4.5
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** Async
 - **Node.js version:** 12.17.0
 - **NPM version:** Using Yarn 1.22.4
 - **Browser name and version:** Chrome 85
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**

**Config of Web

[2020-09-02 17:23] christian-bromann commented on #5793
@david-sharer I don't think that there is anything we can do in WebdriverIO to resolve this issue. AFAIK ChromeDriver checks for the default installation path and if Chrome was reinstalled in whatever way and moved from this path you have to provide it through the capabilities:

[code]

[2020-09-02 17:53] david-sharer commented on #5793
The default installation path has changed.

[2020-09-02 18:00] david-sharer commented on #5793
The suggested manual specification of the chrome path has worked. Thanks!

Is this package the one that's responsible for locating chrome? https://github.com/giggio/node-chromedriver

[2020-09-02 19:00] christian-bromann commented on #5793
yes

[2020-09-02 21:48] nadvolod commented on #5071
@pako88 I took a look at the issue together with @christian-bromann and there is actually a [limitation from the Mocha side](https://mochajs.org/#hooks) about the `beforeAll()` and `afterAll()` hooks being called only once per file, regardless of how many `describe` blocks we have. As a result, it's not possible to to update any information after a `describe` block has been executed such as whethe

[2020-09-02 21:48] #5071 closed

[2020-09-03 04:43] pako88 commented on #5071
Thanks for digging into it

[2020-09-03 06:16] MoniRaj1 commented on #3166
Hi ,
is this issue fixed ?

Thanks

[2020-09-03 07:01] mgrybyk commented on #3166
Of course.

[2020-09-03 08:19] fusion2222 commented on #743
In my opinion, all suggested approaches mentioned here are heavily flawed nad non-reliable.

Checking for URL to change or to rely on`waitForExists()` but does not guarantee elements will be initialized by application's javascript and therefore may be not interactable.

Ideal solution would be to wait until all Javascript and CSS is loaded and initialized, then perform any testing.

[2020-09-03 11:40] christian-bromann commented on #743
This is exactly what happens in WebDriver, as long as your [page load strategy](https://w3c.github.io/webdriver/#navigation) is set to normal which is the default.

[2020-09-03 13:07] romovs commented on #5785
We also experiencing this issue. Seems to happen consistently during navigation in a number of places in Salesforce Lightning. Chrome 85. WDIO 6.4.2.
Unfortunately it's not possible to provide a reproducible example since the system is on a corporate network.

[2020-09-03 14:15] erwinheitzman opened #5795 "Remove Babel from the project"
**Is your feature request related to a problem? Please describe.**
In #5446 (part of #5424) Babel was replaced with TypeScript. However, Babel was not yet removed which still needs to be done.

**Describe the solution you'd like**
Remove Babel from the project.

**Additional context**
If Babel is still used somewhere, please share your findings here so that we can discuss the solutions.

[2020-09-03 16:00] mgrybyk commented on #5424
@erwinheitzman do you think we can change the target from es5 to `es2017`?

I'd also insist on using a linter for TS files straight away, ex:
[code]

[2020-09-04 10:29] mgrybyk opened #5796 "browser.mock request payload filter"
**Is your feature request related to a problem? Please describe.**
I'd like to filter requests by request payload

**Describe the solution you'd like**
[code]

**Additional context**
Let's update the [doc](https://webdriver.io/docs/api/browser/mock.html#parameters) as well

[2020-09-04 10:45] mgrybyk opened #5797 "browser.mock headers filter doesn't work"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.4.4
 - **Mode:** wdio
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.3
 - **NPM version:** 6.14.8
 - **Browser name and version:** Chrome 85
 - **Platform name and version:** Mac OS

**Describe the bug**
browser.mock headers filter doesn't filter anything

**To Reproduce**

[2020-09-04 13:50] AutomationGuru opened #5798 "browser.uploadFile file command throws Java heap space for a large file to upload"
**Environment (please complete the following information):**
 - **WebdriverIO version:** latest - 6.4.6 (can reproduce it on 6.1 hence also used the latest)
 - **Mode:** wdio runner
 - **If WDIO Testrunner, running sync/async:** Sync
 - **Node.js version:** v14.4.0
 - **NPM version:** 6.14.5
 - **Browser name and version:** Chrome 83
 - **Platform name and version:** mac
 - **Additional wdio packa

[2020-09-04 13:53] christian-bromann commented on #5798
I think this is a limitation to the selenium standalone server. I doubt this can be fixed in WebdriverIO. Therefor I am closing this issue. Happy to assist with further questions. Thanks!

[2020-09-04 13:53] #5798 closed

[2020-09-04 14:07] AutomationGuru commented on #5798
But this is remote selenium hub on browserstack !![bitmoji](https://sdk.bitmoji.com/render/panel/7e3bc453-64fb-4a34-bcaa-481724e5d3d9-0d4341bc-bdf2-4195-94d5-6d787e8fb174-v1.png?transparent=1&palette=1&width=246)

[2020-09-06 08:04] nofexio commented on #5713
Hi,
I have a the same bug with saucelabs and browser.mock
Is there a special setting, so that the tests run on the same machine as the browser? I can't figure this out.

[2020-09-06 10:22] christian-bromann commented on #5713
@nofexio please see the note on the top of the page of https://webdriver.io/docs/mocksandspies.html saying that this is not supported when using cloud vendors.

[2020-09-06 18:37] Chiaro-K commented on #5725
You need to add 'chromedriver' (or the equivilent) to your services

[2020-09-06 18:47] wswebcreation commented on #3962
I've released a new service that will be the first step in helping with this challenge. It can be found [here](https://github.com/wswebcreation/wdio-parallel-runner-service).

I'll close this issue here and maybe we can continue the conversation there. Thanks for all ideas and help!

[2020-09-06 18:47] #3962 closed

[2020-09-07 02:46] seanpoulter commented on #3962
Well done and congratulations Wim! It isn't too surprising that running things fully in parallel can take longer. Have you tried to find the number of describes per spec that _may_ make it run faster? I'd reach for something like [_.chunk](https://lodash.com/docs/#chunk). 😁

[2020-09-07 05:15] wswebcreation commented on #3962
Hi @seanpoulter

Thanks, well, it's not the splitting that makes it take longer, it's spinning up 100 workers at the same time which consumes a lot of CPU and memory. That's something for phase 2 😉

[2020-09-07 12:06] nofexio commented on #5713
@christian-bromann
thanks. Sorry, I didn't see that :)

[2020-09-07 13:05] VicGrygorchyk opened #5802 ""browser is undefinded" when to run wdio cli with config "mochaOpts: { parallel: true }""
**Environment:**
 - ** "@wdio/cli": "^6.4.5",
    "@wdio/local-runner": "^6.4.5",
    "@wdio/mocha-framework": "^6.4.0",
    "@wdio/spec-reporter": "^6.4.0",
    "@wdio/sync": "^6.4.5",
    "webdriverio": "^6.4.2",:**
 - ** WDIO Testrunner]:**
 - **sync test runner:**
 - **Node.js ver 12.18.3:**
 - **NPM ver 6.14.6:** [e.g. 5.8.0]
 - **Chrome 85.0.4183.83, chromedriver 85.0.4183.87, Firefox 80.0.1

[2020-09-07 13:11] christian-bromann commented on #5802
This is not supported in WebdriverIO. The WDIO testrunner has its own way to run tests in parallel. There is no need to use the Mocha feature.

[2020-09-07 13:14] #5802 closed

[2020-09-07 13:19] VicGrygorchyk commented on #5802
Shall we mention it anywhere in documentation. please, or it's already there?

[2020-09-07 13:23] christian-bromann commented on #5802
See [my commit](https://github.com/webdriverio/webdriverio/commit/a0c5bd08044a76b6341bf58655a068afaaad45bc) 😉  it will be published with the next release.

[2020-09-07 17:02] seanpoulter commented on #3962
I think we're saying the same thing. Starting all those workers takes a lot of resources. I'm looking forward to seeing if we can get results faster than if you split the files by distributing `n` tests per worker.

[2020-09-07 21:59] christian-bromann commented on #5795
See my draft PR.

[2020-09-07 21:59] #5795 closed

[2020-09-07 22:00] christian-bromann commented on #5424
With #5804 we will get rid of Babel and therefor can close this.

[2020-09-07 22:00] #5424 closed

[2020-09-07 23:02] joshskumar commented on #5789
@christian-bromann  this issue is because execute script does not return the selector part of the object. can you please help me to understand under which package executeScript is called when the following line is executed as part of webdriverio package execute.js
       this.executeScript(script, (0, _utils.verifyArgsAndStripIfElement)(args));

[2020-09-08 07:26] christian-bromann commented on #5789
@joshskumar the `execute` command is implemented here: https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/browser/execute.js. The underlying protocol command is implemented in the browser driver so WebdriverIO just sends a rest call to it and receives whatever it receives.

[2020-09-08 14:31] fege opened #5807 "retry when test fail to start"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-09-09 10:25] diachedelic commented on #3269
None of these solutions worked for me on Node v14.4.0, webdriverio v6.4.5. I am able to run ESM unit tests with mocha, just not ESM specs with wdio.

[2020-09-09 14:57] fege opened #5810 "not possible to modify specFileRetries in beforeSession to retry on a specific spec"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-09-09 15:04] christian-bromann commented on #5810
Hey,
thanks for filing the issue. This seems indeed like a good enhancement. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-09-09 15:06] christian-bromann commented on #5807
Can you provide a minimal reproducible example?

[2020-09-09 15:09] fege commented on #5807
the socket problem is coming from appium or better Gradle https://github.com/gradle/gradle/issues/9813 but due to this the session is not started and the @retry does not come in action, while with proper test failure the @retry works fine

[2020-09-09 15:35] jagannath13 opened #5811 "@wdio/selenium-standalone-service : Failed to download latest version of selenium server's like 4.0.0-alpha-6 : Improper URL constructions"
Using latest WDIO 6.4.6

**Config of WebdriverIO**

 services: [["selenium-standalone", {
    logPath: './temp',
    skipSeleniumInstall: false,
    installArgs: {
      version: "4.0.0-alpha-6",
      baseURL: "https://selenium-release.storage.googleapis.com",

    },
  }]],

**Describe the bug**

2020-09-09T15:30:14.854Z ERROR @wdio/cli:utils: A service failed in the 'onPrepare' hook
Error: Coul

[2020-09-09 20:24] christian-bromann commented on #5811
This issue needs to be reported in the [selenium-standalone](https://github.com/vvo/selenium-standalone). There is nothing we can do in WebdriverIO to fix this.

[2020-09-09 20:24] #5811 closed

[2020-09-09 20:25] christian-bromann commented on #5807
@fege thanks for the input. Would you mind taking a look into the WebdriverIO codebase to see why this failure is not properly propagated? It is impossible for someone without a reproducible example to find out what issue you are facing.

[2020-09-09 22:12] christian-bromann opened #5813 "Add option parameter to `url` command to inject a script before opening the page"
**Is your feature request related to a problem? Please describe.**
A lot of times people are interested in setting up the web environment in a certain way to listen to certain events or or modify some of the JS APIs so they can get information out of it. Injecting JS is possible via WebDriver but only after the page load has happened. The problem we want to solve is to allow this before the page l

[2020-09-10 08:15] balukov commented on #5747
This is strange, it helps me and a couple of my colleagues.

[2020-09-10 09:29] fege commented on #5807
I could try,  @christian-bromann can you point me in which part of the codebase look?

[2020-09-10 09:40] kamalgirdher-rally opened #5815 "Property 'sharedStore' does not exist on type 'BrowserObject'.ts"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** w

[2020-09-10 10:49] mgrybyk commented on #5815
@kamalgirdher-rally please make sure to use the latest version of TypeScript and add `"@wdio/shared-store-service"` to `types` in tsconfig.json
It's not reproducible for me locally with TypeScript version 3.9.7

[2020-09-10 10:52] mgrybyk commented on #5815
Please see https://github.com/microsoft/TypeScript/pull/33050

Let me know if you have any further questions

[2020-09-10 10:52] #5815 closed

[2020-09-10 11:02] syedasadulhaq opened #5816 "browser.mock doesn't work in Browserstack"
I'm using the wdio6 mock function. It works fine locally & CI. But it is not working in Browserstack. I have tried in chrome & edge browser.

It throws the following error:
Failed to fetch browser webSocket url from http://localhost:54908/json/version: connect ECONNREFUSED 127.0.0.1:54908

[2020-09-10 11:35] Alona-T opened #5817 "'Cannot read property 'waitForExist' of undefined' error is displayed in console when i use waitForExist method on mobile native iOS app with Appium"
**Environment (please complete the following information):**
 - **WebdriverIO version:** ^6.1.25
 - **Node.js version:** v13.10.1
 - **NPM version:** 6.14.5
 - **Platform name and version:** iOS native app

**Describe the bug**
In my native app there are elements that are displayed slightly later (2-3 sec). Instead of using pause i tried to use waitForExist as follows:
[code]
However when i run a

[2020-09-10 11:48] mgrybyk commented on #5817
The error is pretty straightforward, leftSideBar.appName[1] is undefined, you have to fix it in your project.
Please use gitter for this kind of question

[2020-09-10 11:50] mgrybyk commented on #5817
Closing for now, happy to answer further questions, cheers!

[2020-09-10 11:50] #5817 closed

[2020-09-10 11:51] Alona-T commented on #5817
it is undefined because it is not yet present
i expected the method to wait for it to exist first and then proceed

[2020-09-10 11:55] Alona-T commented on #5817
@mgrybyk  or is there any other method that serves this purpose?

[2020-09-10 11:55] christian-bromann commented on #5817
@Alona-T if `leftSideBar.appName` is defined via `$$('someselector')` then of course it returns and empty string resulting in the error above. I recommend to add an additional check so that if the array is empty, run `$('someselector').waitForExist()`

[2020-09-10 11:55] mgrybyk commented on #5817
The method waits for element to exist, it can't do anything with undefined variable in your project.
$('not exist').waitForExist() works, while undefined.waitForExist() won't work.

You have to make sure leftSideBar.appName[1] is defined before calling anything on it.

[2020-09-10 11:58] christian-bromann commented on #5816
@syedasadulhaq please see the note at the top of this page: https://webdriver.io/docs/mocksandspies.html

[2020-09-10 11:58] #5816 closed

[2020-09-10 11:59] christian-bromann commented on #5807
Please check the `wdio-runner` package as it is responsible for executing the worker.

[2020-09-10 11:59] mgrybyk commented on #5817
If you have upgrade to v6 Id suggest using the embedded assertion library https://github.com/webdriverio/expect-webdriverio#tobeelementsarrayofsize

expext(leftSideBar.appName).toBeElementArrayOfSize({ gte: 1})

[2020-09-10 12:08] Alona-T commented on #5817
Thank you @mgrybyk and @christian-bromann
I will try your suggestions

[2020-09-11 16:15] NeONRAcE commented on #5009
@christian-bromann
Hello! Our project by-default uses 2 browsers (I know, there is an opportunity to launch them in wdio by-default too). But there are a lot of cases (mb 40%), that need to launch one or two and more additional browsers, for example, to check sync with 2 or more users in one room. That's why we don't launch 5 browsers by default, only two and the others if needed

[2020-09-12 00:59] #5797 closed

[2020-09-12 20:19] #5796 closed

[2020-09-14 08:01] L0tso commented on #5789
@joshskumar @christian-bromann This issue happens because element selector was setted  as `null` [here](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/browser/%24.js#L60) and [this function](https://github.com/webdriverio/webdriverio/blob/524ac7263c6e8022d2f41875b3dd626d54d52650/packages/webdriverio/src/utils/index.js#L244) doesn't have behavior for `null`

[2020-09-14 08:26] christian-bromann commented on #5789
This functionality is so that you can convert an element response into a WebdriverIO element object, e.g. when fetching an active element:

[code]

Same happens if you return an DOM node from the execute command. In these cases we have no information about the selector because the element was received without it. I am not sure what would be the best way to work around this. We could use the functi

[2020-09-14 09:02] christian-bromann commented on #5723
Closing due to inactivity. @HananArgov please let me know if you can provide a reproducible example.

[2020-09-14 09:02] christian-bromann commented on #5765
Closing due to inactivity.

[2020-09-14 09:02] #5765 closed

[2020-09-14 13:45] christian-bromann opened #5822 "Docs failed to be updated with the last release"
Something [went wrong](https://github.com/webdriverio/webdriverio/runs/1112199606#step:5:53) after our last release `v6.5.0`:

[code]

[2020-09-14 14:24] #5822 closed

[2020-09-14 15:15] christian-bromann opened #5824 "Tracking doc: rewrite `devtools` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/devtools` into TypeScript please comment on this thread and mention the files you want to convert to avoid du

[2020-09-14 15:16] christian-bromann opened #5825 "Tracking doc: rewrite `@wdio/allure-reporter` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-allure-reporter` into TypeScript please comment on this thread and mention the files you want to convert

[2020-09-14 15:17] christian-bromann opened #5826 "Tracking doc: rewrite `@wdio/appium-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-appium-service` into TypeScript please comment on this thread and mention the files you want to convert

[2020-09-14 15:18] christian-bromann opened #5827 "Tracking doc: rewrite `@wdio/applitools-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-applitools-service` into TypeScript please comment on this thread and mention the files you want to conv

[2020-09-14 15:19] christian-bromann opened #5828 "Tracking doc: rewrite `@wdio/browserstack-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-browserstack-service` into TypeScript please comment on this thread and mention the files you want to co

[2020-09-14 15:20] christian-bromann opened #5829 "Tracking doc: rewrite `@wdio/cli` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-cli` into TypeScript please comment on this thread and mention the files you want to convert to avoid du

[2020-09-14 15:20] christian-bromann opened #5830 "Tracking doc: rewrite `@wdio/concise-reporter` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-concise-reporter` into TypeScript please comment on this thread and mention the files you want to conver

[2020-09-14 15:22] christian-bromann opened #5831 "Tracking doc: rewrite `@wdio/config` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-config` into TypeScript please comment on this thread and mention the files you want to convert to avoid

[2020-09-14 15:23] christian-bromann opened #5832 "Tracking doc: rewrite `@wdio/crossbrowsertesting-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-crossbrowsertesting-service` into TypeScript please comment on this thread and mention the files you wan

[2020-09-14 15:23] christian-bromann opened #5833 "Tracking doc: rewrite `@wdio/cucumber-framework` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-cucumber-framework` into TypeScript please comment on this thread and mention the files you want to conv

[2020-09-14 15:24] christian-bromann opened #5834 "Tracking doc: rewrite `@wdio/devtools-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-devtools-service` into TypeScript please comment on this thread and mention the files you want to conver

[2020-09-14 15:25] christian-bromann opened #5835 "Tracking doc: rewrite `@wdio/dot-reporter` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-dot-reporter` into TypeScript please comment on this thread and mention the files you want to convert to

[2020-09-14 15:26] christian-bromann opened #5836 "Tracking doc: rewrite `@wdio/firefox-profile-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-firefox-profile-service` into TypeScript please comment on this thread and mention the files you want to

[2020-09-14 15:27] christian-bromann opened #5837 "Tracking doc: rewrite `@wdio/jasmine-framework` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-jasmine-framework` into TypeScript please comment on this thread and mention the files you want to conve

[2020-09-14 15:27] christian-bromann opened #5838 "Tracking doc: rewrite `@wdio/junit-reporter` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-junit-reporter` into TypeScript please comment on this thread and mention the files you want to convert

[2020-09-14 15:28] christian-bromann opened #5839 "Tracking doc: rewrite `@wdio/local-runner` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-local-runner` into TypeScript please comment on this thread and mention the files you want to convert to

[2020-09-14 15:29] christian-bromann opened #5840 "Tracking doc: rewrite `@wdio/logger` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-logger` into TypeScript please comment on this thread and mention the files you want to convert to avoid

[2020-09-14 15:30] christian-bromann opened #5841 "Tracking doc: rewrite `@wdio/mocha-framework` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-mocha-framework` into TypeScript please comment on this thread and mention the files you want to convert

[2020-09-14 15:31] christian-bromann opened #5842 "Tracking doc: rewrite `@wdio/reporter` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-reporter` into TypeScript please comment on this thread and mention the files you want to convert to avo

[2020-09-14 15:32] christian-bromann opened #5843 "Tracking doc: rewrite `@wdio/sauce-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-sauce-service` into TypeScript please comment on this thread and mention the files you want to convert t

[2020-09-14 15:33] christian-bromann opened #5844 "Tracking doc: rewrite `@wdio/selenium-standalone-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-selenium-standalone-service` into TypeScript please comment on this thread and mention the files you wan

[2020-09-14 15:34] christian-bromann opened #5845 "Tracking doc: rewrite `@wdio/shared-store-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-shared-store-service` into TypeScript please comment on this thread and mention the files you want to co

[2020-09-14 15:35] christian-bromann opened #5846 "Tracking doc: rewrite `@wdio/spec-reporter` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-spec-reporter` into TypeScript please comment on this thread and mention the files you want to convert t

[2020-09-14 15:35] christian-bromann opened #5847 "Tracking doc: rewrite `@wdio/static-server-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-static-server-service` into TypeScript please comment on this thread and mention the files you want to c

[2020-09-14 15:36] christian-bromann opened #5848 "Tracking doc: rewrite `@wdio/sumologic-reporter` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-sumologic-reporter` into TypeScript please comment on this thread and mention the files you want to conv

[2020-09-14 15:37] christian-bromann opened #5849 "Tracking doc: rewrite `@wdio/sync` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-sync` into TypeScript please comment on this thread and mention the files you want to convert to avoid d

[2020-09-14 15:38] christian-bromann opened #5850 "Tracking doc: rewrite `@wdio/testingbot-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-testingbot-service` into TypeScript please comment on this thread and mention the files you want to conv

[2020-09-14 15:38] christian-bromann opened #5851 "Tracking doc: rewrite `@wdio/utils` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-utils` into TypeScript please comment on this thread and mention the files you want to convert to avoid

[2020-09-14 15:39] christian-bromann opened #5852 "Tracking doc: rewrite `@wdio/webdriver-mock-service` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/wdio-webdriver-mock-service` into TypeScript please comment on this thread and mention the files you want to

[2020-09-14 15:40] christian-bromann opened #5853 "Tracking doc: rewrite `webdriver` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/webdriver` into TypeScript please comment on this thread and mention the files you want to convert to avoid d

[2020-09-14 15:40] christian-bromann opened #5854 "Tracking doc: rewrite `webdriverio` package into TypeScript"
This is a tracking issue for organising the effort of re-writing the code base from vanilla JS into TypeScript. If you are reading this and are interested getting involved, this is a great chance to do so. Here are the rules:

- if you are interested converting source files from `/packages/webdriverio` into TypeScript please comment on this thread and mention the files you want to convert to avoid

[2020-09-14 15:48] christian-bromann commented on #5476
Removing it from the `Network Primitives` project to be able to close this up. This is still a nice addition to our current implemented mocks.

[2020-09-14 17:57] USB-internet opened #5855 "How to control selenium driver using webdriverio if only know port with session id"
How to control selenium driver using webdriverio if only know port: '60713' with session id: '1c8d7ad168ca19892bab97299a8c4058'. Other supported languages ​​like nodejs, java, ... but webdriverio not have it
------------------------------------------------------
[code]

[2020-09-14 18:28] pablocoletto commented on #5559
Is there any update in this ticket? I'm facing this problem currently but I do not have time enough (neither knowledge since I'm new in this technology)?

[2020-09-14 21:09] emilyrohrbough commented on #5813
There would be value in after the page is loaded is well. For example, we have a custom afterCommand in our test setup for disable/remove the cursor styles because we often had mismatched screenshots due to the cursor blinking.

[2020-09-14 21:13] christian-bromann commented on #5813
Couldn't you just do:

[code]
?

[2020-09-14 21:19] emilyrohrbough commented on #5813
Yeah that is true. NVM.

[2020-09-15 06:13] USB-internet opened #5862 "How to control selenium driver using webdriverio if only know port with session id"
var path = require('path');
const pathToDownload = path.resolve('chromeDownloads');
exports.config ={
    maxInstances: 1,
    specs: [
        './indexcodeauto.js',
    ],
    host: 'localhost',
    port: 9515,
    path: '/',
    capabilities:[
        {
            browserName:'chrome',
        }
    ],
    framework: 'mocha',
    mochaOpts:{
        ui:'bdd',
        timeout:600000000
    },

[2020-09-15 06:15] USB-internet opened #5863 "How to control selenium driver using webdriverio if only know port with session id"
var path = require('path');
const pathToDownload = path.resolve('chromeDownloads');
exports.config ={
    maxInstances: 1,
    specs: [
        './indexcodeauto.js',
    ],
    host: 'localhost',
    port: 9515,
    path: '/',
    capabilities:[
        {
            browserName:'chrome',
        }
    ],
    framework: 'mocha',
    mochaOpts:{
        ui:'bdd',
        timeout:600000000
    },

[2020-09-15 06:15] USB-internet opened #5864 "How to control selenium driver using webdriverio if only know port with session id"
var path = require('path');
const pathToDownload = path.resolve('chromeDownloads');
exports.config ={
    maxInstances: 1,
    specs: [
        './indexcodeauto.js',
    ],
    host: 'localhost',
    port: 9515,
    path: '/',
    capabilities:[
        {
            browserName:'chrome',
        }
    ],
    framework: 'mocha',
    mochaOpts:{
        ui:'bdd',
        timeout:600000000
    },

[2020-09-15 07:13] mgrybyk commented on #5864
Please don't spam with the tickets.
See docs https://webdriver.io/docs/runprogrammatically.html
You have to attach to the session https://github.com/webdriverio/webdriverio/blob/1caf2e03123d0efc5789e96f57a91e3e827781a5/packages/webdriverio/src/index.js#L81

[2020-09-15 07:13] #5864 closed

[2020-09-15 07:20] christian-bromann commented on #5863
https://github.com/webdriverio/webdriverio/issues/5864#issuecomment-692516492

[2020-09-15 07:20] #5863 closed

[2020-09-15 07:21] christian-bromann commented on #5862
https://github.com/webdriverio/webdriverio/issues/5864#issuecomment-692516492

[2020-09-15 07:21] #5862 closed

[2020-09-15 07:23] #5855 closed

[2020-09-15 08:30] christian-bromann commented on #5559
@ianrenauld can you verify if your tests start working in Node v14.5.0?

[2020-09-15 08:32] christian-bromann commented on #5785
@mike-d-davydov any updates?

[2020-09-15 08:33] christian-bromann commented on #5673
PR was merged and released. Closing.

[2020-09-15 08:33] #5673 closed

[2020-09-15 08:33] christian-bromann commented on #5672
any updates @sarathps93 ? Let me know if I can help with anything.

[2020-09-15 08:37] christian-bromann commented on #5389
@michael-confiant it seems like

would be the solution, no?

[2020-09-15 08:40] christian-bromann commented on #5389
If I run the example suite it properly prints out the scenario outlines:

[code]

[2020-09-15 08:41] christian-bromann commented on #5560
@cjatkinson anything I can do to help?

[2020-09-15 08:44] christian-bromann commented on #5699
@jayandran-Sampath you can use this feature as part of your selector to query elements that are clickable. There is nothing that can be implemented in WebdriverIO as this is UIAutomator related.

[2020-09-15 08:44] #5699 closed

[2020-09-15 08:45] christian-bromann commented on #2866
@sethuster any updates? If there is anything I can do to help, please let me know!

[2020-09-15 08:47] christian-bromann commented on #5490
Closing due to inactivity.

[2020-09-15 08:47] #5490 closed

[2020-09-15 08:52] christian-bromann commented on #5489
For anyone who wants to look into this. The change would need to happen here: https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-allure-reporter/src/index.js#L113-L119 - the `this.capabilities` object surely provides some more in depth data about the device that we could use. It would be great to add a unit test for the `setCaseParameters` method to ensure we have good coverage.

[2020-09-15 08:56] christian-bromann commented on #5409
@wswebcreation do you still experience these issues with users that you interact with?

[2020-09-15 08:58] christian-bromann commented on #5392
Thanks for submitting, this has no been resolved in v6.20.0 of that dependency and therefor should be resolved for you once you re-install all dependencies. Thanks!

[2020-09-15 08:58] #5392 closed

[2020-09-15 09:00] christian-bromann commented on #5399
@martinfrancois we are making slowly progress with the TS conversion. We only need #5804 approved and merged. Then we can start working on [rewriting individual packages](https://github.com/webdriverio/webdriverio/projects/14). Interested in giving us a hand?

[2020-09-15 09:01] christian-bromann commented on #5380
@takeya0x86 do you still experience this?

[2020-09-15 09:03] qvalero commented on #5389
HI @christian-bromann
On my side using:

will generate a report where steps are not displayed, only title of scenario.

For example:

`Feature: Landing

Scenario: SignIn
    Given I am on "landing" view
    When  I click on "sign in button"
    Then  I am on "sign in" view

Scenario: SignUp
    Given I am on "landing" view
    When  I click on "sign up button"
    Then  I am on "sign up tuto" view

[2020-09-15 09:06] christian-bromann commented on #5247
I tried to reproduce this and all browser sessions close for me properly. This seems to be resolved for me. Happy to re-open if anyone could provide a reproducible example Thanks!

[2020-09-15 09:06] #5247 closed

[2020-09-15 09:08] christian-bromann commented on #5389
@qvalero set `scenarioLevelReporter: false` in your cucumberOpts and you will see the steps as well.

[2020-09-15 09:10] christian-bromann commented on #5212
Closing as I don't see much activity here. If anyone wants to get involved please let me know.

[2020-09-15 09:10] #5212 closed

[2020-09-15 09:12] christian-bromann commented on #4440
Closing due to inactivity.

[2020-09-15 09:12] #4440 closed

[2020-09-15 09:14] qvalero commented on #5389
Yes yes I know but the question of @michael-confiant was: _is there a possibility to pass steps to the reporter with scenarioLevelReporter being set to true?_

[2020-09-15 09:16] christian-bromann commented on #4951
I would suggest to enhance the [selector strategy logic](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/utils/findStrategy.js) to include this when a certain parameter (this is open for suggestions) is provided. If anyone wants to help on that, please reach out we are happy to support!

[2020-09-15 09:20] christian-bromann commented on #4401
`addCommand` and `overwriteCommand` are missing here because they are implemented into the core logic and not as extra commands.

I suggest to add a file similar to the [`call command`](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/browser/call.js) and just add a documentation piece and no code. This way the docs are properly generated. Any help on this w

[2020-09-15 09:23] christian-bromann commented on #5389
No. This is [handled by Cucumber](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cucumber-framework/src/index.js#L36) and something we can't change. If you want to see steps within your report you have to have `scenarioLevelReporter` set to `false`.

[2020-09-15 10:00] jags14385 commented on #5489
I would like to pick up the issue. I have booked a 1:1 pairing session . Do you want me to do a initial setup ?

[2020-09-15 10:11] christian-bromann commented on #5489
Awesome!

Yes. Please have a look at the [contribution guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and try to get familiar with the code base (e.g. running tests, making changes etc.).

[2020-09-15 10:28] christian-bromann commented on #4119
This has been added to the [docs](https://webdriver.io/docs/allure-reporter.html#add-screenshots) and works well:

![Screenshot 2020-09-15 at 12 27 51](https://user-images.githubusercontent.com/731337/93199640-e59cf500-f74e-11ea-9d4f-b7d8cdad0b65.png)

[2020-09-15 10:28] #4119 closed

[2020-09-15 11:16] viktor-silakov commented on #5723
The same problem for me, just call reloadSession() after browser.debug() from REPL calling and get wdio hanging

[2020-09-15 11:25] christian-bromann commented on #5723
This is actually still reproducible. Any help on this would be appreciated. Given this only happens if someone used the `@wdio/devtools-service` I assume the culprit is somewhere in the [`setupHandler`](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-devtools-service/src/index.js#L140-L181) that is being triggered if a session reloads.

[2020-09-15 13:26] koggdal opened #5865 "Double-clicking doesn't work on delayed elements"
**Environment:**
 - **WebdriverIO version:** 6.5.0
 - **Mode:** Both standalone and wdio test runner.
 - **If WDIO Testrunner, running sync/async:** I have only tried this in async mode.
 - **Node.js version:** 12.18.3
 - **NPM version:** 6.14.6
 - **Browser name and version:** Chrome 85
 - **Platform name and version:** macOS 10.15.6

**Config of WebdriverIO**
See steps to reproduce further down.

[2020-09-15 13:37] christian-bromann opened #5866 "Add documentation on integrating to Bamboo"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

We already have a page on integrating with [Jenkins](https://webdriver.io/docs/jenkins.html) and it would be amazing if we could continue this effort with other CI systems. Through a Gitter conversation I connected

[2020-09-15 13:51] dipti-code commented on #5744
@christian-bromann  Please help in this regards.

[2020-09-15 14:11] AutomationReddy commented on #5866
Thanks @christian-bromann for the clear cut details. I will start working on this.

[2020-09-15 14:11] mike-d-davydov commented on #5785
@christian-bromann , we end up simply suppressing unhandled rejections by removing listeners in NodeJS for them. I know it's a very crude work-around, but it works. WDIO6 migration is giving us a real lot of headache, so had to postpone investigating this issue for now.

[2020-09-15 14:29] christian-bromann commented on #5744
@dipti-code sorry but there are a lot of other items on my plate that need attention. I am not sure if I am the right person to investigate this. Any contributions from outside would be helpful, thanks!

[2020-09-15 14:56] ianrenauld commented on #5559
I was taking steps to verify if updating NodeJS solved the issue, but in getting there (I first tried the LTS version, 12.18.3) I found that I could not reproduce the issue I had before.

I went back to my original setup with NodeJS 10.15.0 and updated Webdriver.io to latest versions and could not reproduce either. It's unclear if it's something in WDIO or in BrowserStack that fixed the issue, but

[2020-09-15 14:56] qaschevychelov opened #5867 "How to use appium-service for parallel running?"
Hi! How can i use @wdio/appium-service for parallel running?

my wdio.conf.js
[code]
[code]
Now first thread runs correctly. But second thread fails with error
[code]

When i use WDIO multiremote i see in logs that WDIO uses different appium systemPort and tests run correctly. But when i dont use multiremote i get the error from above.

[2020-09-15 16:05] pablocoletto commented on #5559
I can check this later this week, since I had to switch to another things and cannot take care of this right now, but will do it for sure

[2020-09-15 16:50] AutomationReddy commented on #5866
When I do `npm start` it is throwing below error:

[code]
Steps:
- Forked
- Cloned
- cd ./webdriverio
- npm i
- cd ./website
- npm i
- npm start

[2020-09-15 18:51] osmolyar commented on #5389
With Allure reporter the issue is not that we can't see the steps but that no report is produced due to the error "allure-js-commons: Unexpected endStep(). There are no any steps running" (original issue)

Why can scenario-level retries not be used without scenarioLevelReporter set to true?

[2020-09-15 19:42] ivanixgames commented on #5723
i'm seeing that _setupHandler() hangs on
this.session = await this.target.createCDPSession();

Happens in devtools-service 6.3.7 as well.

[2020-09-16 07:20] christian-bromann commented on #5867
Can you provide the WDIO logs from when you run in parallel vs. in multiremote? There should be no difference.

[2020-09-16 07:22] qaschevychelov commented on #5867
of course
a few minutes

[2020-09-16 07:36] qaschevychelov commented on #5867
**log for multiremote**
[code]
**log for parallel**
[code]

[2020-09-16 07:57] christian-bromann commented on #5866
@AutomationReddy I ran the exact steps that you have listed and it works on my mac machine. I just pushed a small tweak to the `package.json` which should fix this problem. Please pull the latest code and retry. Cheers!

[2020-09-16 13:20] branhuac opened #5869 "clearValue doesn't work on Chrome 85.0.1 driver"
**Environment (please complete the following information):**
 - **WebdriverIO version:6.5.0"**
 - **Mode: WDIO Testrunner**
 - **If WDIO Testrunner, running sync/async:sync**
 - **Node.js version:12.18.3**
 - **NPM version:6.14.7**
 - **Browser name and version:Chrome 85.0.4183.102**
 - **Platform name and version:MacOS 10.15.6**
 - **Additional wdio packages used (if applicable):@wdio/cucumber-fr

[2020-09-16 14:00] jags14385 commented on #5668
Can I pick this issue up ? Technically , would be my 2nd issue ?

[2020-09-16 14:17] L0tso commented on #5865
It happens because double click try to perform [the action](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/element/doubleClick.js#L42)
[code]
but ```this``` doesn't contain `element-6066-11e4-a52e-4f735466cecf` property for w3c.

P.S. Same bug will be with
[code]

[2020-09-16 14:24] jags14385 commented on #5489
PR is ready for review

[2020-09-16 14:30] christian-bromann commented on #5489
Thanks @jags14385 , let's continue the conversation in the PR

[2020-09-16 14:30] #5489 closed

[2020-09-16 14:41] christian-bromann commented on #5865
I suggest to check in the command if `this` has an `element` property and if not call `waitForExist` on it. The implementation should happen [here](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/element/doubleClick.js#L24-L52) and should be accompanied by a unit test. I think this is a great little enhancement for someone who likes to contribute.

[2020-09-16 14:42] christian-bromann commented on #5668
@jags14385 please do!

[2020-09-16 14:44] christian-bromann commented on #5869
@branhuac can you proof this? There are a lot of people using the command daily and don't experience this. Please provide a reproducible example.

[2020-09-16 15:11] L0tso commented on #5865
I'm not sure that `waitForExist` will help in this case. `this` even after `waitForExist` won't contain the required property. Or I don't get the point.
I suggest the `element-6066-11e4-a52e-4f735466cecf` property should be setted [here](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/middlewares.js#L16).

[2020-09-16 17:19] christian-bromann commented on #5865
I see what you mean. The expected behavior here should be that the middleware should help fetch the element if it doesn't exist and populate the element ids and correct properties to it so that it can continue the task of the command.

@L0tso your suggestion makes a lot of sense. Would you mind taking a stab at it?

[2020-09-17 06:17] AutomationReddy commented on #5866
I have completed the documentation. However, when I am trying to push the changes to fork, I am seeing the below error:

![image](https://user-images.githubusercontent.com/42345623/93427522-93d5a580-f8db-11ea-91a6-4dddb799599d.png)

[2020-09-17 07:05] christian-bromann commented on #5866
@AutomationReddy this is because you didn't compiled the project (which is not needed when working on the docs). So if you run:

[code]

these errors will go away. You can also just skip this check by calling:

[code]

[2020-09-17 07:13] AutomationReddy commented on #5866
Thanks @christian-bromann. Here you go: https://github.com/webdriverio/webdriverio/pull/5871

[2020-09-17 07:20] christian-bromann commented on #5866
Thanks!

[2020-09-17 07:20] #5866 closed

[2020-09-17 07:37] L0tso commented on #5865
@christian-bromann https://github.com/webdriverio/webdriverio/pull/5872

[2020-09-17 08:01] christian-bromann commented on #5865
Thanks for the contribution!

[2020-09-17 08:01] #5865 closed

[2020-09-17 11:36] koggdal commented on #5865
Thanks for the swift response and fix! 🙏 🙇

[2020-09-17 12:37] seanpoulter commented on #5668
I'm available if you need any more info @jags14385. Good luck!

[2020-09-17 14:13] sarathps93 commented on #5672
@christian-bromann , I was not able to work on this due to some changes in circumstances. Apologies for prolonging it

[2020-09-17 14:13] sarathps93 commented on #5672
I am un-assigning it so that someone else can pick it up.

[2020-09-17 14:43] AutomationReddy commented on #4401
@christian-bromann I would like to work on it. But need some insights.

[2020-09-17 16:22] takeya0x86 commented on #5380
@christian-bromann Yes. I still have a same problem after update to latest version (v6.5.0).

[2020-09-17 17:42] alecf opened #5874 "mocha framework no longer loads dynamically-written tests"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-09-18 01:54] jags14385 commented on #5668
Awesome will keep that in mind. Will work on it over the weekend :)

[2020-09-18 07:26] khyati2010 opened #5875 "Not able to run test cases on Safari , as it doesnot allow auth-pop up to pass-by."
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-09-18 08:38] SkylerGrail opened #5876 "Issue when trying to run Webdriver IO (end to end) tests in a Gitlab CI pipeline runner using a docker image"
This is my first time posting in this plateform so if my request lacks informations let me know so I can provide them.

I'm trying to run my end to end tests using Webdriver IO, I've been running my tests locally at first but now I need to execute them in a Gitlab CI pipeline using a docker image, and here are some information about the setup:

**Docker image:**

- it's an alpinedocker image
- nod

[2020-09-18 08:42] mgrybyk commented on #5876
See https://gitlab.com/bar_foo/wdio-cucumber-typescript/-/blob/master/.gitlab-ci.yml for example

For further questions please join our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge). Thanks!

[2020-09-18 08:42] #5876 closed

[2020-09-18 08:50] christian-bromann commented on #5876
@SkylerGrail thanks for reporting the issue. This seems like an issue with the Docker setup and Geckodriver not being able to start Firefox. There is nothing WebdriverIO can do about this. I will close this as I suppose there is no bug we can fix but I am happy to assist on WebdriverIO related questions.

I would be happy to add an example for a Docker usage like this to our repository.

[2020-09-18 08:54] SkylerGrail commented on #5876
@christian-bromann Thanks for the reply. adding a docker exemple would be great I'm sure many will benefit from it.

[2020-09-18 08:56] christian-bromann commented on #5876
Please let us know if you can figure out what a Docker setup needs to look like.

[2020-09-18 08:59] christian-bromann commented on #5875
@khyati2010 thanks for filing this issue. This is unfortunately a problem with the WebDriver protocol not allowing to pass an auth prompt. Please see: https://github.com/w3c/webdriver/issues/385. It is considered to land in the next generation of this protocol.

[2020-09-18 08:59] #5875 closed

[2020-09-18 10:36] mgrybyk commented on #5876
@SkylerGrail added Firefox to the [pipeline](https://gitlab.com/bar_foo/wdio-cucumber-typescript/-/pipelines/191599329)

The tests are passing in Firefox 80.0.1 and `geckodriver` 0.27.0

Please see [Dockerfile](https://github.com/mgrybyk/firefox-headless/blob/master/Dockerfile) of the Firefox image.
There are several combinations of NodeJS / Java available, see [tags](https://hub.docker.com/r/atoo

[2020-09-18 10:38] SkylerGrail commented on #5876
@mgrybyk Thank you so much for your efforts ill check this out

[2020-09-18 10:43] mgrybyk commented on #5876
@SkylerGrail you welcome!
P.S.
Also tried the same with Java 11 just in case... See the [pipeline](https://gitlab.com/bar_foo/wdio-cucumber-typescript/-/pipelines/191604944)