[2021-03-02 15:30] larryg01 commented on #6460
I deleted my fork and started from scratch
I created a branch for the fix
I realise that the url file is now called url.js and NOT url.ts as was the previous case
so at some point that file was changed from .ts to .js (can you shed some light on that please)

[2021-03-02 16:00] christian-bromann commented on #6460
The file still ends with `.ts`: https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/browser/url.ts

[2021-03-02 18:22] BorisOsipov commented on #6531
Let's continue convo in #6533

[2021-03-02 18:22] #6531 closed

[2021-03-02 20:29] larryg01 commented on #6460
OK, I need to make the change to '/build/commands/browser/url.js'  and NOT  '/src/commands/browser/url.ts'  but the .js file is an ignored file am i allowed to make changes to it ?
also If i am allowed to do it, where would i need to place the test file for it?

[2021-03-02 21:18] larryg01 commented on #6460
@christian-bromann I have made the changes and commit the files, Will do a PR and submit, hopefully this is done the correct way now

[2021-03-03 06:10] redonkulus commented on #6247
Just tried upgrading to v7 of all the webdriver packages and got the same error again. @christian-bromann were you able to look at @mohanraj-r repo?

[2021-03-03 08:27] christian-bromann commented on #6363
This has been merged and will be released in `v7.1` soon (waiting for 2 more PRs to get in first). Thanks @jayandran-Sampath for the contribution!

[2021-03-03 08:27] #6363 closed

[2021-03-03 08:29] christian-bromann opened #6536 "Implement `swipe` command"
Implement swipe commands from [`wdio-mobile-utils`](https://github.com/martinfrancois/wdio-mobile-utils/blob/master/src/lib/gestures.ts). I suggest the following commands:

- `swipe(from: Coordinate, to: Coordinate, opts: SwipeOpts)`
  - where `Coordinate = { x: number; y: number }`
  - where `SwipeOpts = { unit: 'px' | 'percentage' }`
  - I would like to combine `swipe` and `swipeOnPercentage` fr

[2021-03-03 08:31] tiecongli commented on #6469
I have the same need given we run test on remote device farm (Browserstack) where they treat each webdriver session as isolated request so a new device will be provisioned per session along with all the test setup, login stuff. Having the ability to keep a session alive across multiple spec would be really helpful.

When would this change to become available?

[2021-03-03 08:34] christian-bromann commented on #6469
It seems that @RossVertizan is already looking into it. Please get involved!

[2021-03-03 08:37] christian-bromann opened #6537 "Make `scrollIntoView` possible for mobile"
It seems that within mobile `isDisplayed` returns false if the element is not within viewport.

@wswebcreation can you confirm this?

~Therefor it would be useful to integrate the `checkIfDisplayedWithScrollDown` into `isDisplayed`. I suggest the following interface:~

~- `isDisplayed(opts: isDisplayedOpts): boolean`~
~- where `isDisplayedOpts = { maxScrolls: number, amount: number }`~
~- both `is

[2021-03-03 08:37] erwinheitzman commented on #6460
no .js files need to be changed, the .js files you see is the output of the .ts files

[2021-03-03 08:52] christian-bromann opened #6538 "Integrate deep link into `url` command"
Using deeplinks in mobile automation can be a very useful feature as it allows to open specific views of an app with one single call rather than walking through the app over and over again. I suggest to enhance to enhance the `url` command to support this functionality from the [`wdio-mobile-utils`](https://github.com/martinfrancois/wdio-mobile-utils/blob/master/src/lib/deeplink.ts) package with t

[2021-03-03 08:54] wswebcreation commented on #6537
@christian-bromann

Correct

I would say no, and would suggest to integrate this into https://webdriver.io/docs/api/element/scrollIntoView/. Imho isDisplayed should reflect what it describes, check if it's displayed, not scroll.

[2021-03-03 09:00] wswebcreation commented on #6536
@christian-bromann
For Appium there are 2 ways of swiping

- with actions
- with native swipe functions for iOS and specific ones for Android.

The first one is _cross-platform_, but _slower_ due to multiple commands for retrieving data, the second one is more efficient and _less complex_ per command, but depends on specific versions of Appium (for example, Android support is only available since

[2021-03-03 09:10] wswebcreation commented on #6538
I need to do some investigation on this, but what if WebdriverIO could determine the bundleID/package name with an Appium command and check the url based on a regular expression? This might make it easier to use and prevents extra arguments. What do you think @christian-bromann ?

[2021-03-03 09:16] christian-bromann commented on #6536
I suggest to make a good guess if native swiping is supported. If necessary we can make a PR to Appium to expose its version as part of the session response.

[2021-03-03 09:18] christian-bromann commented on #6538
Ah so you are suggesting if someone would call:

[code]

We are able to determine the app/bundle id from the url `swaglabs://`? That would be great!

[2021-03-03 09:20] christian-bromann commented on #6537
Makes absolutely sense, `scrollIntoView` currently is only supported for web environments and this could make it cross platform compatible. Will update the issue.

[2021-03-03 09:22] wswebcreation commented on #6538
We can't determine it from the url, but afaik we get a lot of information back in the driver. As said, I need to investigate if the bundleID/packageName is already in there (or in a different place). This means that the url command needs to determine this with internal data from the driver, or with an extra Appium command.

[2021-03-03 10:18] RossVertizan commented on #6469
Yes, working on this right now.  I'll update you when I have something ready.

[2021-03-03 10:27] larryg01 commented on #6460
thats what i figured, so the change needs to be the .ts file because as you can see its not working in the state it is at the moment so none of my remote tests will work once upgraded to v7. So my question is what changed from v6 to make that stop working.
Since I am using it in standalone mode and with JS and not TS not sure what changed so dramatically for it to stop working.

[2021-03-03 10:47] christian-bromann commented on #6524
@kurtsmurf thanks for filing the issue. This is indeed a funky behavior and I [reported it](https://github.com/whatwg/html/issues/6435) in the HTML spec. There is nothing WebdriverIO can do at this point to fix the issue as the problem rooted within HTML.

[2021-03-03 10:47] #6524 closed

[2021-03-03 16:16] halukbaysal opened #6539 "Webdriver capabilites error"
Environment:

WebdriverIO version: [7.0.7]
Mode: [WDIO Runner]
If WDIO Testrunner, running sync/async: [async]
Node.js version: [v12.18.3]
NPM version: [6.14.6]
Browser name and version: [Chrome 88.0.4324.192]
Platform name and version: [MacOS Catalina]
Additional wdio packages used (if applicable): [@wdio/allure-reporter, @wdio/spec reporter, @wdio/selenium-standalone service, @wdio/browserstack-

[2021-03-03 16:24] christian-bromann commented on #6539
@halukbaysal as the error message states you are using invalid capabilities, please ensure that your capabilities are conform with the W3C protocol, e.g.:

[code]

see also https://www.browserstack.com/automate/capabilities?tag=selenium-4

[2021-03-03 16:24] #6539 closed

[2021-03-03 17:49] StephenEsser commented on #6503
Hi @christian-bromann, thanks for taking the time to look at this. Unfortunately environment variables and test scripts do not scale well for our use-case. Our test permutations also account for form factor and theme. A full permutation set (worst case example) would require ~65+ unique test scripts.

~ 13 locales [de en-AU en-CA en-GB en-US en es fr nl nl-BE pt sv sv-SE]
~ 5 form factors [tiny sm

[2021-03-03 17:52] christian-bromann commented on #6503
Yeah, you can take your Launcher example from above and set the environment variables accordingly, e.g.

[code]

[2021-03-03 17:54] KundanGaikwad opened #6540 "Not able to see flow chart for test execution"
I'd like to report
- [Flow chart for the test execution ] Missing documentation

Please add more details to the test execution flow chart. because the flow chart is not there.

Evidence:-
![image](https://user-images.githubusercontent.com/65899596/109849608-92285000-7c77-11eb-88a9-4f7e050cf9db.png)
https://webdriver.io/docs/flowcharts/testexecution/

[2021-03-03 17:57] StephenEsser commented on #6503
This was an approach we tried previously and it does not work. Node caches the wdio.conf file the first time it is read and never re-evaluates the file. So all envs will be set to the envs of the first run and never updated on subsequent runs

This issue has an example project attached for reference.

https://github.com/webdriverio/webdriverio/issues/6411

[2021-03-03 18:38] christian-bromann commented on #6503
Can you set

[code]

in your wdio config and see if it propagates?

[2021-03-03 19:10] StephenEsser commented on #6503
I gave this a shot and it looks like it locked the process.env down to the first initial option and didn't update. Do these changes match what you were requesting?

https://github.com/StephenEsser/wdio-service-cache-issue/compare/runner-env

Invoked locally by running:

`node ./run-launchers.js`

One option that resolves the issue is clearing the conf file cache in between programatic launcher opt

[2021-03-03 20:54] lacell75 commented on #6532
Works with with the code snippet
[code]

[2021-03-03 20:55] lacell75 commented on #6532
But still a minor issue in allure reporter when skipped scenario during test. I will try a PR to fix it

[2021-03-04 02:04] mohanraj-r commented on #6247
Same here, tried upgrading to v7 all the webdriverIO packages together and also one by one - not able to upgrade because of the errors.

[2021-03-04 03:31] redonkulus commented on #6247
I ended up using the ` "skipLibCheck": true,` option in my `tsconfig.json` to work around the issue for now.

[2021-03-04 08:02] UsharaniA opened #6542 "wdio-0-0-allure-reporter.log under allure-results causing trouble when scripts are executed in Parallel"
Hi,
Am using the allure report for Webdriverio and using the version "@wdio/allure-reporter": "^6.11.0"

wdio.conf.js settings:

 reporters: [['allure',
        {
            outputDir: 'allure-results',
            useCucumberStepReporter: true,

            disableWebdriverStepsReporting: true,
            disableWebdriverScreenshotsReporting: true,
           issueLinkTemplate:{},
           tm

[2021-03-04 08:31] #6532 closed

[2021-03-04 08:39] Himoriarty commented on #6499
example of webdriverio：
![image](https://user-images.githubusercontent.com/28705788/109934893-f4c92c80-7d07-11eb-8c25-967ff249ad96.png)

my result:
![image](https://user-images.githubusercontent.com/28705788/109935041-204c1700-7d08-11eb-8688-6c0e123808bc.png)

[2021-03-04 09:00] michalpelc-beqom commented on #6423
I do agree, have the same issue with chromedriver 88 and wdio 7.0.7 ... chrome alert appears and disappears immediately after click() function is called on element, no option to catch an alert

[2021-03-04 09:03] fedoseevGIT opened #6545 "@wdio/devtools-service. An incorrect parameter is passed in the beforeSession hook"
**Environment (please complete the following information):**
 - **Additional wdio packages used (if applicable):** [@wdio/devtools-service 7.0.9]

**Describe the bug**
I'm getting the next error "@wdio/devtools-service: The @wdio/devtools-service currently only supports Chrome version 63 and up, and Chromium as the browserName!" while using the latest devtools 7.0.9. All other packages up to date

[2021-03-04 10:03] Vojow opened #6546 "wdio-devtools, First Input Delay metric is missing"
**Environment (please complete the following information):**
 - **WebdriverIO version: 7.0.9

**Config of WebdriverIO**
An example of how you configured WebdriverIO config

**Describe the bug**
The first input delay, which was mentioned in release notes: [https://webdriver.io/blog/2021/02/09/webdriverio-v7-released/](url), is missing in all related areas
![image](https://user-images.githubusercont

[2021-03-04 10:21] christian-bromann commented on #6545
@fedoseevGIT not sure what to say other than: your environment is not supported. Note it only works with Chrome v63 and up.

[2021-03-04 10:21] #6545 closed

[2021-03-04 10:23] christian-bromann commented on #6499
And what is the desired state here?

[2021-03-04 10:34] qvalero opened #6547 "WDIO-CLI: Could not find job"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0

[2021-03-04 10:34] fedoseevGIT commented on #6545
@christian-bromann, Yes, thank you, I understood the problem: in the project we use @wdio6, where in the beforeSession hook, the first parameter is passed capabilities, and the second is the path to the executable test.

Issue can be closed :)

[2021-03-04 10:38] christian-bromann commented on #6547
@qvalero thanks for filing the issue, can you provide a minimal reproducible example?

[2021-03-04 10:56] kannanmf commented on #6423
@michalpelc-beqom Thanks for your observation where you also face the same issue while doing some interaction with chrome alert.

I am also able to replicate the issue always. But when I checked with @christian-bromann, Unfortunately, he is not able to replicate.

It would be much more helpful if someone investigates this issue again by reopening this ticket.

[2021-03-04 11:42] christian-bromann commented on #6423
I am happy to re-open but again if it helps, my analysis could not reproduce it.

[2021-03-04 15:19] christian-bromann commented on #6524
Please see the following explanation to this: https://github.com/whatwg/dom/issues/956#issuecomment-790690973

[2021-03-04 15:57] k-madhan commented on #6237
I am also facing the same problem. Is there any solution ?

[code]

[2021-03-04 16:28] kurtsmurf commented on #6524
Yup - saw it. Many thanks for your help @christian-bromann! Love when I can get a solution _and_ learn something new about the web platform!

[2021-03-04 17:35] flunderpero opened #6549 "Improve typings by using function overloads"
The Typescript signatures are sometimes too loose and unnecessarily hard to use. Take `getLocation` as an example:
[code]
This is hard to use because the return type is not bound to the input type. I have to do a type cast which should not be needed.

**Describe the solution you'd like**
This could be easily solved by using overload signatures like this:

[code]

**Additional context**

This is ju

[2021-03-04 17:37] christian-bromann commented on #6549
Ah perfect, good idea @flunderpero! Would you like to take a stab at it?

[2021-03-04 18:25] sgordiev commented on #6336
I thought I gave the steps. Use report portal reporter it already exists, update its code in onHookEnd(hook){ if(!hook.title.includes('root')){
          log.info('onHookEnd ',hook.title);
     }} to see hook title,  create any simple test with after hook in mocha, in afterhock check context for hook name. One will see that in wdioconf.js afterhook its name differs from name in report onHookEnd. I

[2021-03-04 19:06] mannysah commented on #6237
@k-madhan @nimeshbhatt if you have already tried other suggestions like updating all your packages and were not able to resolve this, i dont know if there is a solution.

However, from what i experienced and found from my research is that this error was thrown (masking the actual error) when i used HtmlReporter and my test code had a runtime error (for ex: accessing property of an undefined object

[2021-03-04 20:34] lacell75 commented on #6280
@bruce-glazier What is the framework used to do the retry? Cucumber/Jasmine/mocha? Because currently `retry` doesn't working with cucumber. I have seen many issues

[2021-03-04 20:41] kannanmf commented on #6423
@christian-bromann Please try this piece of code, I hope you can definitely able to reproduce in wdio v7 using chrome. Because the alert closes automatically either it will fail at browser.getAlertText(), or browser.acceptAlert(),

browser.url('https://chercher.tech/practice/popups');
  $('#ez-accept-all').click();
  $("//input[@name='confirmation']").click();
  const alertText = browser.getAlertT

[2021-03-04 20:47] lacell75 commented on #6280
hum , I reproduced it with `specFileRetries : 1` option

[2021-03-04 21:26] lacell75 commented on #6280
I tested with wdio V7 with cucumber and retry working. Two tests cases are displayed in xml

[2021-03-04 22:53] nicolasbouffard opened #6550 "Use a remote Chrome browser with DevTools Protocol"
**Environment :**
 - **WebdriverIO version:** 7.0.9
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 15.11.0
 - **NPM version:** 7.6.0
 - **Browser name and version:** Chrome 89.0
 - **Platform name and version:** Alpine 3.13
 - **Additional wdio packages used (if applicable):**
   - @wdio/cli
   - @wdio/devtools-service
   - @wdio/local-runn

[2021-03-04 23:08] bruce-glazier commented on #6280
Mocha is our test framework. I am currently in the process of updating to wdio V7 (it is a bigger lift than normal because of the Typescript rework). Glad to hear that it is working for you in v7.

[2021-03-05 00:33] laraleedev opened #6551 "Unable to add type declarations for custom configuration properties in a typescript implementation"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.9
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.15.5
 - **NPM version:** 6.14.11
 - **Browser name and version:** Chrome 89.0.4389.72
 - **Platform name and version:** macOS Catalina 10.15.7

**Config of WebdriverIO**
wdio.conf.js
[code]

tsconf

[2021-03-05 05:15] k-madhan commented on #6237
@mannysah Thanks. I will take a look at it.

[2021-03-05 05:44] xinxin11 opened #6552 "TypeError: Launcher is not a constructor After upgrade webdriverio from Version4 to version5/v7"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.

[2021-03-05 06:27] iamkenos commented on #6549
hi there, i tried to give this a go as i also noticed this problem whilst migrating to v7:
https://github.com/webdriverio/webdriverio/compare/main...iamkenos:feat/6549-improve-typings-using-overloads

just that even after doing so, the return type still isnt bound to the input type:
![image](https://user-images.githubusercontent.com/21245218/110075942-a165e580-7dbe-11eb-84d4-5c42cd7ad300.png)

tha

[2021-03-05 07:48] RafalSkorka commented on #6551
I also had this problem and was able to fix it with this in wdio.d.ts

[code]

[2021-03-05 09:38] qvalero commented on #6547
Hi @christian-bromann I don't have anything to reproduce locally, and I couldn't reproduce locally.
I found a "workaround" for this issue. My issue was reproducible only on our CI with a lot of maxInstances (30 actually)
I decreased the number of maxInstances to 25 and issue is not reproducible anymore.

I can't explain why :/ and I can't reproduce locally.
If anyone else encountered the same issu

[2021-03-05 10:43] bgalamb opened #6553 "'$' method translates to wrong selector in Android (native app) session."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.10.5
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version:** v15.3.0
 - **NPM version:** 7.0.14
 - **Browser name and version:**
 - **Platform name and version:** MacOs 10.15.7
 - **Additional wdio packages used (if applicable):**

**Config of Webdrive

[2021-03-05 11:23] vignesh1810 commented on #6386
Is it available to signup

[2021-03-05 13:17] christian-bromann commented on #6553
@bgalamb currently only a [certain amount](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/utils/findStrategy.ts#L12-L14) of class name prefixes are supported. That list need to be enhanced to include `android.view.`. Any contributions would be appreciated.

[2021-03-05 13:18] christian-bromann commented on #6547
I will close the issue then. While I believe this could be indeed a bug, it is impossible to work on this without something at hand. If anyone can reproduce something, please let us know. Cheers!

[2021-03-05 13:18] #6547 closed

[2021-03-05 13:20] christian-bromann commented on #6551
@laraleedev can you try @RafalSkorka solution?

[2021-03-05 13:24] christian-bromann commented on #6549
@iamakulov for synchronous commands we need to transform them from having promise return value to normal return values. This happens [here](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/types.ts#L12-L28). It might be that this isn't picked up which makes sense to me but I have really no clue how this can be done in TS.

[2021-03-05 13:29] christian-bromann commented on #6552
Please see the docs: https://webdriver.io/docs/clioptions/#run-the-test-runner-programmatically

[2021-03-05 13:29] #6552 closed

[2021-03-05 13:34] christian-bromann commented on #6550
I believe this is related to the work happening in #6508 which will be merged soon. Thanks for raising the issue.

[2021-03-05 13:34] #6550 closed

[2021-03-05 13:38] christian-bromann commented on #6423
@kannanmf both fail for me due to:

[code]

[2021-03-05 15:08] iamakulov commented on #6549
I’m guessing that was for @iamkenos :) (No worries! GitHub’s username autosuggestion is tricky.)

[2021-03-05 16:29] christian-bromann commented on #6549
Uups, sorry @iamakulov - cool name though 😉

[2021-03-05 17:07] kannanmf commented on #6423
@christian-bromann
Please comment $('#ez-accept-all').click(); This will appear only when running the test using incognito/private browser. Please find below the screenshot

<img width="1388" alt="Screenshot 2021-03-05 at 17 04 59" src="https://user-images.githubusercontent.com/62020892/110148665-00cef000-7dd5-11eb-9246-d9a720080da3.png">

[2021-03-05 17:35] christian-bromann commented on #6423
A new WebDriver session always starts in such modus.

[2021-03-05 17:48] kannanmf commented on #6423
Ok, Please just ignore the step $('#ez-accept-all').click(); If the above screen is not occuring at your end.

Please run again if you are able to replicate the popup handling issues from your end

[2021-03-05 19:03] laraleedev commented on #6551
This works! Thank you for the solution @RafalSkorka

[2021-03-05 20:15] DudaGod opened #6554 "Detect session env options when call attach command"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.1.0
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.18.1
 - **NPM version:** 6.14.5

**Describe the bug**
When I `attach` to android session I doesn't ses a lot of methods which is available when I create session using `remote` method.

Example:
[c

[2021-03-05 20:42] DudaGod commented on #6554
It looks like that I can use `sessionEnvironmentDetector` for myself from @wdio/utils. But to my mind it should be default behaviour of `attach` method.

[2021-03-06 10:13] iamkenos commented on #6549
@christian-bromann @flunderpero i think i got something. it's not as straightforward as i wanted it to be but i think it works and fixes the issue.

diff in [here](https://github.com/webdriverio/webdriverio/compare/main...iamkenos:feat/6549-improve-typings-using-overloads)

async:
<img width="692" alt="Screenshot 2021-03-06 at 5 20 17 PM" src="https://user-images.githubusercontent.com/21245218/110

[2021-03-06 12:01] christian-bromann commented on #6549
Looks good, feel free to open a PR. Too bad this can't be referred automatically from the file and a redeclaration is necessary but I guess we have a very special case offering an API in async and sync mode.

[2021-03-06 12:03] #6551 closed

[2021-03-06 12:18] azygis commented on #6549
Apparently I am also working on the same issue that @iamkenos works on and created a draft-ish PR #6555. I don't really see the problem that you have - there is no need to "redeclare" the functions other than having the overloads themselves.

I will drop my pull request later, but you can take a look at the code there I suppose, it does imply the correct return type based on argument type.

[2021-03-06 13:47] flunderpero opened #6556 "Unable to use `networkConnectionEnabled: true` in WDIO 7"
I guess the checking for W3C compatible capabilities is too strict or custom capabilities have to be configured in another way, but the docs don't mention that.

I faced a similar problem with the browserstack-service (but I did not track it down, it might be a different problem. I just reverted the service to 6.x.x which works).

**Environment (please complete the following information):**
 - **W

[2021-03-06 14:25] flunderpero opened #6557 "WebdriverIO in watch-mode "forgets" hostname and protocol if not explicitly specified"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.1.0]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [async]

**Config of WebdriverIO**
[code]

Note: The bug happens with the default service as well.

**Describe the bug**
WebdriverIO works fine until I try to use the watch mode. Then the first run is still ok but the consecu

[2021-03-06 17:15] DudaGod opened #6559 "Ability to get all available commands (browser, element, custom commands)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.1.0
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.18.1
 - **NPM version:** 6.14.5

**Describe the bug**
In wdio@4 I get all available commands using code like this:
[code]

But in wdio@7 this code returns only:
[code]

I can use `browser.commandL

[2021-03-06 18:01] AlexGrs commented on #6550
Hi @christian-bromann !

I was wondering if the cdp endpoint in this MR could bdecaled with "dynamic" infos like the current id ie something like:

[code]

and SESSION_IP is automatically set by WDIO when running the test?

[2021-03-07 05:19] vishanthQA commented on #6553
i would like to pick this issue

[2021-03-07 13:25] christian-bromann commented on #6556
As `networkConnectionEnabled` is not a valid W3C WebDriver capability your session request fails. You can set custom capabilities by using vendor keys, e.g.:

[code]

[2021-03-07 13:25] #6556 closed

[2021-03-07 14:53] flunderpero commented on #6556
I would have guessed something like this. I think the docs need some updates, see https://webdriver.io/docs/api/chromium/#setnetworkconnection

[2021-03-07 15:41] jayandran-Sampath commented on #6537
With current version of appium

its kind of straight forward to implement scrolltoview for android which uses UiAutomator as automation framework (http://appium.io/docs/en/writing-running-appium/tutorial/swipe/android-simple/) Since UiAutomator provide that feature by default

But for Android using Espresso framework & IOS -> it needs some amount of changes in Appium side to support this solution

[2021-03-07 16:10] flunderpero commented on #6556
@christian-bromann Are you sure that this actually works? Which vendor prefix would I have to use for "networkConnectionEnabled"? BTW: If I comment out the check in utils.ts, it works fine as is, i.e. "networkConnectionEnabled" is used by the service "chromedriver" and I can call `browser.setNetworkConnection()`.

[2021-03-07 16:42] flunderpero opened #6560 "browser.isMobile and Google Chrome mobile emulation"
I just removed my custom code to detect the platform in favour of using `browser.isMobile`. But to my surprise the Google Chrome mobile emulation is not recognised as being mobile.

I enable the emulation like this:
[code]

`"goog:chromeOptions".mobileEmulation` is not taken into consideration in `envDetector.ts`.

My first question would be: Is this intended? I would say no, because it is an emul

[2021-03-07 16:52] christian-bromann commented on #6556
@flunderpero thanks for pointing this out. It doesn't seem that `networkConnectionEnabled` is a capability that a user can set for the remote session. It is returned however for sessions where this command is available (e.g. Chrome based sessions). Updated the docs.

[2021-03-07 16:59] christian-bromann commented on #6560
The `isMobile` flag is deferred from the capabilities and since you are running Chrome on a desktop machine the flag returns `false`. It is intended to help decide which automation is appropriate for the environment you are running your tests in. Even though you emulate a mobile device, all commands that work for desktop Chrome would still work which is why this is the intended behavior.

I would

[2021-03-07 16:59] #6560 closed

[2021-03-07 17:11] flunderpero commented on #6560
@christian-bromann Thanks for the clarification. I use this flag (better: tried to use) to distinguish between the modes of our application. The UI differs whether it is open in a mobile or a desktop browser. We test using appium, too, but again, we test the web-app in the browser. So our tests would need to check `browser.isMobile || isMobileEmulation`. We had our own logic for this which would a

[2021-03-07 17:25] flunderpero commented on #6556
@christian-bromann You *need* to set this capability or otherwise `browser.setNetworkConnection()` won't work but throw an error.

[2021-03-07 17:54] christian-bromann commented on #6556
Ah, really? I was looking for `networkConnectionEnabled` in the Chromedriver docs but couldn't find it anywhere. Do you have a link to any kind of documentation around it?

[2021-03-07 18:17] flunderpero commented on #6556
I looked at the [source-code](https://chromium.googlesource.com/chromium/src/+/master/chrome/test/chromedriver/capabilities.cc) and you are right: The capability `networkConnectionEnabled` is set/returned by the ChromeDriver. But when I run my tests with mobile emulation (which is required for manipulating the network) I get this error:
[code]

If I explicitly set `networkConnectionEnabled` on the

[2021-03-07 22:40] christian-bromann commented on #6556
What happens if you move it into chrome options, e.g.:
[code]

[2021-03-07 23:55] flunderpero commented on #6556
I already tried that at the very start. It fails with this error:
[code]

[2021-03-08 08:51] xinxin11 opened #6561 "Error: Could not find job when running the UI E2E test"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.

[2021-03-08 14:37] acambaswunderflats commented on #6405
I get the same error, at the moment i have all the newest wdio deps available

[2021-03-08 14:59] dlucas-amplify opened #6569 "wdio config: No matching version found for @wdio/spec-reporter@^7.0.8."
**Environment:**
 - **WebdriverIO version:** 7.1.0
 - **Mode:** N/A
 - **If WDIO Testrunner, running sync/async:** N/A
 - **Node.js version:** 14.15.4
 - **NPM version:** 6.14.10
 - **Browser name and version:** N/A
 - **Platform name and version:** Mac OS 10.15.7
 - **Additional wdio packages used (if applicable):** @wdio/wdio-config, @wdio/spec-reporter

**Config of WebdriverIO**
N/A

**Describe

[2021-03-08 15:30] AlexGrs commented on #6470
Hello @dylanlive

In one of your previous message, you talked about "grabbing the endpoint directly from the response" especially for Selenoid for instance which expose an address like `<ws or http>://selenoid.example.com:4444/devtools/<session-id>/<method>`

In your PR, I can see a user can add in capabilities an address to contact the remote cdp endpoint.

The issue with this approach is that fo

[2021-03-08 16:50] dylanlive commented on #6470
Hey @AlexGrs,

The cdp endpoint is not a capability provided by the user. It's a capability returned by Selenium. The CDP Endpoint returned by selenium also returns a session id in this format: `http://<grid_ip>/session/<session_id>/se/cdp`

I'm on a new laptop without my examples, but it roughly works like this:
If I POST http://<grid_ip>/wd/hub/session
With the body content:
[code]

I will get b

[2021-03-08 17:22] dhapolapankaj commented on #6378
running below command resolved this issue

`npm config set strict-ssl false`

[2021-03-08 20:10] christian-bromann commented on #6556
My suggestion here is to bring this up in the Chromedriver project. It doesn't seem to be an official support capability but still it has some functionality. In the meantime you should be able to use [the `throttle`](https://webdriver.io/docs/api/browser/throttle/) command to achieve the same.

[2021-03-08 20:44] bgalamb commented on #6553
sure, thank you!

[2021-03-09 05:32] wyhmichael commented on #6346
I am experiencing exactly the same with the same setup

[code]

[2021-03-09 08:19] raditotev opened #6571 "Link to boilerplates in WebdriverIO Examples document redirects to a 404 page"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [x] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**
In [WebdriverIO Examples document](https://github.com/webdriverio/webdr

[2021-03-09 08:23] #6571 closed

[2021-03-09 08:23] christian-bromann commented on #6571
Thanks for letting us know!

[2021-03-09 08:51] DenysBarkan commented on #6467
do you have any progress with this case?

[2021-03-09 09:07] christian-bromann commented on #6561
@xinxin11 can you provide a minimal reproducible example?

[2021-03-09 09:59] osddeitf opened #6572 "Support non W3C-standards capabilities in Test runner configurations"
## Is your feature request related to a problem? Please describe
We want to setup our projects with e2e tests, but want to avoid lengthy setups and code as much as possible.

Then, we found this awesome project: https://github.com/webdriverio/cucumber-boilerplate.
Its README said that we need **Selenium Grid** to work, but our current infrastructures using self-host **Browserless**.
Luckily, I fou

[2021-03-09 10:29] christian-bromann commented on #6572
I raised an issue in the [browserless docs](https://github.com/browserless/docs/issues/1). Ultimately this is a bug in the browserless platform using an invalid W3C capability. The JSONWP has been deprecated for a long time and so are random capability definitions. A lot of platforms allow to still mix them which doesn't help the ecosystem as it creates tremendous confusions and unexpected behavio

[2021-03-09 10:29] #6572 closed

[2021-03-09 10:31] osddeitf commented on #6572
Oh, thank you for information so that I'm not wasting my time.

[2021-03-09 16:11] jimlancien commented on #6386
Hi everyone , do you have any update on the browserstack local identifier issue ?

[2021-03-09 16:26] christian-bromann commented on #6386
@jimlancien apparently no. Please get involved if you are looking for a solution on this. Thanks!

[2021-03-10 08:47] DudaGod opened #6575 "Detect session env works incorrectly on call remote method"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.1.0
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.18.1
 - **NPM version:** 6.14.5

**Describe the bug**
When calling `remote` method with capabilities for chrome emulator [wdio determines](https://github.com/webdriverio/webdriverio/blob/main/pack

[2021-03-10 08:53] christian-bromann commented on #6575
Can you share what your WebDriver endpoint returns when requesting the session? WebdriverIO looks into there [to determine](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-utils/src/envDetector.ts#L9-L44) whether it is a W3C session or JSONWP one. If your WebDriver endpoint mixes both of them, then errors like these happen.

[2021-03-10 12:19] DudaGod commented on #6575
When requesting session I get these capabilities:
[code]

How can I figure it out? In chrome emulator I use appium@1.8.1.

I reproduce the problem with `isMobile: true` session flag. The problem is here - https://github.com/webdriverio/webdriverio/blob/main/packages/webdriver/src/utils.ts#L173. Command `setTimeouts` present in w3c protocol - https://webdriver.io/docs/api/webdriver#settimeouts and

[2021-03-10 13:12] DudaGod commented on #6575
cc @christian-bromann can you look at this problem, please?

[2021-03-10 13:47] christian-bromann commented on #6575
This is rather an issue in Appium as it should understand the W3C flavor for that command. Can you try with the latest Appium version? Again JSONWireProtocol is deprecated and Appium has updated their commands to support W3C.

[2021-03-10 14:18] DenysBarkan opened #6576 "json-reporter installation is failed"
**Environment:**
 - **WebdriverIO version:** 7.1.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.20.1
 - **NPM version:** 7.6.2
 - **Platform name and version:** MacOs 11.2.1
 - **Additional wdio packages used (if applicable):** @wdio/allure-reporter, @wdio/devtools-service, @wdio/local-runner, @wdio/mocha-framework, @wdio/spec-reporter

[2021-03-10 14:22] christian-bromann commented on #6576
Please see #57

[2021-03-10 14:22] #6576 closed

[2021-03-10 14:32] DenysBarkan commented on #6576
@christian-bromann I'm so sorry I didn't get you. I don't see any solution for the installation of the json-reporter in #54.
The issue looks like the conflict between the version of the wdio and json-reporter.
Maybe I miss something.

[2021-03-10 14:33] DenysBarkan commented on #6576
<img width="583" alt="Screen Shot 2021-03-10 at 4 33 43 PM" src="https://user-images.githubusercontent.com/45456152/110645136-639dfe00-81be-11eb-893d-7b2816c9798d.png">

[2021-03-10 14:35] christian-bromann commented on #6576
Not sure but issues with the json reporter should be solved in that respective repository. Feel free to create a new issue there. Thanks!

[2021-03-10 14:41] DenysBarkan commented on #6576
@christian-bromann
the downgrade of the npm version to version 6.14.10 solves the issue.
the installation returns warring but not the error:
`npm WARN wdio-json-reporter@2.0.0 requires a peer of @wdio/cli@^6.0.15 but none is installed. You must install peer dependencies yourself.`

[2021-03-10 14:45] christian-bromann commented on #6576
You are using v7 which is why I was referencing #57. Updating the JSON reporter shouldn't be a problem, would you mind taking a stab at it?

[2021-03-10 18:41] jbblanchet commented on #6557
We have the same problem, and the workaround recommended here worked with one caveat: once we added the hostname and protocol, the tests started failing with `Invalid URL: http://localhost:undefined/session/9f5cccf8ded410a398f94c93e16d4292/window/rect`. This forced us to set the port explicitly.

[2021-03-10 19:21] flunderpero commented on #6557
@jbblanchet I guess you have to set `port`, too. Could this be?

[2021-03-10 19:25] jbblanchet commented on #6557
@flunderpero Yes, this is what we've done and it fixed it, like I mentioned at the end. Sorry if that was unclear. Had to dig around a bit to understand that this was the webdriver port, and not the website port, as both the hostname and protocol were the website.

[2021-03-10 19:26] flunderpero commented on #6557
@jbblanchet Ah, sorry. I was in the middle of something else and just wanted to help out quickly. Great to hear that it worked in the end.

[2021-03-10 19:29] flunderpero commented on #5418
I finally gave `--watch` another try. I still run into the same problem with the latest version (7.0.7). My workaround was to write all custom commands with async instead of sync. Now everything works fine and given that we don't change our custom commands that often, the pain of writing in async is manageable. :-)

[2021-03-11 06:42] Himoriarty commented on #6499
I desired that I can choose whether to print <system-out> information in the report or not.

[2021-03-11 07:44] kannanmf commented on #6423
@christian-bromann
Did you get a chance to look into this issue? I am very much interested in upgrading to wdio7 but this is the only thing which blocks.

Please provide your inputs

[2021-03-11 08:06] christian-bromann commented on #6423
@kanhaiya15 again, no issues, running the following test:

[code]

passes with the following logs:
[code]

Here is a Sauce Labs job as proof: https://app.saucelabs.com/tests/687c507d9fce46ed9faa297f52effd07?auth=0d3970a7245b4537d5b5079a416c824f

I will close the issue, happy to re-open once you have a reproducible example.

[2021-03-11 08:12] christian-bromann commented on #6499
So you don't want to have the WebDriver commands in your JUnit report? Where do you use the report that these information are undesired?

[2021-03-11 11:47] christian-bromann commented on #6346
This will be fixed as part of #6577

[2021-03-11 11:47] #6346 closed

[2021-03-11 19:32] constantine-photoshelter opened #6579 "isClickable not usable to validate scroll position - add an option to prevent it from scrolling or a new function"
Summary: I am writing a test that adds an element to a scrollable list and validates that the addition does not change which elements are displayed in the list. isClickable is not suitable since it will scroll to an element if not visible. isDisplayedInViewport is not suitable because it can return true for elements not visible on the page.

**Is your feature request related to a problem? Please d

[2021-03-11 22:49] christian-bromann commented on #6579
This all seems like a pretty custom scenario. I am not sure what a scrollable list is based on your description, it can be many things. It seems it makes most sense for you to work with the `execute` command and determine the visibility of list elements via JavaScript.

I am sorry but I neither see a bug in your report nor a feature request that makes sense to add given the very custom scenario. H

[2021-03-11 22:49] #6579 closed

[2021-03-12 01:55] Himoriarty commented on #6499
after my test case is executed, WebDriverIO will generate the junit-report, it contains many lines of system-out. if my mates execute the same test case at the same time, there is a high probability of conflict when submitting git, because the system-out information in junit-report usually is different at every turn.

[2021-03-12 09:33] christian-bromann commented on #6499
@Himoriarty oh so you are committing these log files into your repository? May I suggest to write a custom reporter that only stores the information which might be conflict free and save to commit into a repository? Because all junit reports have time stamps that will always conflict with other reports.

[2021-03-12 10:26] christian-bromann commented on #6336
I see, thanks! Any contributions or help on this would be appreciated.

[2021-03-12 10:39] christian-bromann commented on #6460
@larryg01 I looked into the issue again and the implementation seems fine to me. I have no idea why it is working locally but failing on BS. The WebDriver commands send to the driver are the same. I am happy to re-open the issue if you can provide a minimal reproducible example. Thanks for your effort looking into this.

[2021-03-12 10:39] #6460 closed

[2021-03-12 10:41] christian-bromann commented on #6404
Another attempt to reproduce the issue failed. Closing.

[2021-03-12 10:41] #6404 closed

[2021-03-12 10:54] larryg01 commented on #6460
@christian-bromann you can checkout my framework https://github.com/larryg01/klassi-demo-js then run
 'yarn bslocal chrome'  then upgrade webdriverio to latest version and then run the command again, youw ill see it working on v6.12.1 and failing on v7

[2021-03-12 11:23] DudaGod commented on #6575
You was right. With appium@1.9.0 this problem is not reproduced anymore.
Thank you.

[2021-03-12 11:23] #6575 closed

[2021-03-12 11:45] christian-bromann commented on #6460
Can you give me access to this repo?

[2021-03-12 11:47] christian-bromann commented on #6500
Implemented in #6581

[2021-03-12 11:47] #6500 closed

[2021-03-12 11:48] christian-bromann commented on #6478
I reported the issue to the Chromedriver team which will fixes it. There is nothing in WebdriverIO we can do about this.

[2021-03-12 11:48] #6478 closed

[2021-03-12 11:49] christian-bromann commented on #6515
Let's continue conversation in #6535

[2021-03-12 11:49] #6515 closed

[2021-03-12 12:07] larryg01 commented on #6460
Invitation sent

[2021-03-12 12:44] christian-bromann commented on #6460
@larryg01 the problem was that the base url was an empty string. I created a PR with a fix that ensures that empty strings are ignored.

[2021-03-12 13:02] christian-bromann commented on #6357
@wswebcreation can we close this. Afaik you applied a patch to not show the link in UP, right?

[2021-03-12 13:03] larryg01 commented on #6460
@christian-bromann thats awesome so this will be merged at some point today so that i can get my upgrade completed. Thank you

[2021-03-12 13:03] christian-bromann commented on #6356
@nextlevelbeard how would this hook be different from the `after` hook?

[2021-03-12 13:06] christian-bromann commented on #6332
Looking at the error log:

[code]

It seems that this issue is connected to Appium given that an element was successfully queried but interacting with it then failed. I recommend raise an issue in the Appium project.

[2021-03-12 13:06] #6332 closed

[2021-03-12 13:10] christian-bromann commented on #6332
Actually no, it seems that the element id was applied incorrectly. Appium fetched the element correctly via:

[code]

The element id was `ae9c6bc0-4609-4bc9-ad44-abb7e88c6808` but when clicking on the element the css selector was used instead: `POST /wd/hub/session/196f065b-3e11-49b0-a0c8-e8eb4f7cda8b/element/button.vjs-big-play-button/click`. Now looking at the code I see:

[code]

which is incor

[2021-03-12 14:18] flunderpero opened #6583 "devtools-service does not work when browser.reloadSession() has been called"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 7.1.1]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Browser name and version:** [Chrome 89]
 - **Platform name and version:** [OSX Big Sur]

**Config of WebdriverIO**
An example of how you configured WebdriverIO config

**Describe the bug**
A clear and concise

[2021-03-12 14:52] BorisOsipov commented on #6583
duplicate https://github.com/webdriverio/webdriverio/issues/6405

[2021-03-12 14:52] #6583 closed

[2021-03-12 15:00] constantine-photoshelter commented on #6579
@christian-bromann By scrollable list, I mean any section within a window that can scroll. For example: In the center pane in gmail, when checking email. If I scroll a little, the element for the top email is still considered true for isDisplayedInViewport() and isClickable() will scroll to the element making it difficult to validate that the same or different emails are shown in the scroll positi

[2021-03-12 16:03] constantine-photoshelter commented on #6579
Also, for reference, the list I was referring to my my initial post was the polymer component [iron-list ](https://www.webcomponents.org/element/@polymer/iron-list) As you scroll down, it reuses the list elements and changes the order as you scroll. So, for example, you may have 15 elements on the list with 5 displayed; as you scroll, elements out of view are reassigned to other elements in the di

[2021-03-13 06:26] wswebcreation commented on #6357
@christian-bromann

No, my [PR](https://github.com/webdriverio/webdriverio/pull/6392) only created sharable links, it didn't remove the links for RDC. It's something I can take a look at it

[2021-03-13 11:17] christian-bromann opened #6584 "Integrate into Angular CLI"
The Angular CLI allows external providers to integrate. To make it easier for Angular users to kick start WebdriverIO test it would be great to build such a provider.

Existing provider to look at:
- [Protractor](https://github.com/angular/angular-cli/tree/master/packages/angular_devkit/build_angular/src/protractor)
- [Cypress](https://github.com/briebug/cypress-schematic)

[2021-03-13 23:32] AEsmerio commented on #4652
I'm not sure where did you ran it.
Can you share your wide.conf.js?
I'm using :
./node_modules/.bin/wdio --version 7.1.2
Simulator iOS 14.2 iPhone

[2021-03-14 15:09] Xotabu4 commented on #6325
If someone will find this issue: here is my workaround to make preconditions work in predicable order:

[code]

[2021-03-15 06:59] Himoriarty commented on #6499
get it! i really appreciate your patience, thank you for your advice.

[2021-03-15 08:11] #6499 closed

[2021-03-15 08:14] #6458 closed

[2021-03-15 13:20] cezarybielec-itm opened #6591 "Mock.respond does not work if preflight request is behind disabled vpn"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.1.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.15.4
 - **NPM version:** 6.14.10
 - **Browser name and version:** Chrome 88
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** "@wdio/local-runner":

[2021-03-15 22:34] poc7667 opened #6592 "Can not be integrated with a type-script project. browser.cdp is not a function"
**Pre-check**
- [x ] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x ] Unclear documentation

**Description of the improvement / report**
A clear and concise description.
[code]
# Sample.ts

    it('Capturing network logs', () => {

        /**
         * enab

[2021-03-15 22:59] kannanmf commented on #6423
@christian-bromann
Today I created a sample wdio v7 using cucumber-framework from the scratch and tried the above popup code, It works perfectly fine and with very good speed of test execution.

However, If I upgrade my existing company project from wdio v5 to wdio v7 (just by updating the version number in the package.json and after that I run the command "npm install". Then I tried running the a

[2021-03-16 01:55] jamesmortensen commented on #6592
Do you have devtools listed in your wdio.conf.js services array?

[2021-03-16 07:40] christian-bromann commented on #6592
Please add `@wdio/devtools-service` to your types list as mentioned here: https://webdriver.io/docs/typescript#services. Please let us know if there are more questions.

[2021-03-16 07:40] #6592 closed

[2021-03-16 11:25] RossVertizan opened #6593 "@wdio/cli jest tests give surprising results and pass"
**Environment (please complete the following information):**
 - **WebdriverIO version:** Latest version pulled from github
 - **Mode:** Running Jest tests
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.2
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 88
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applica

[2021-03-16 14:06] christian-bromann opened #6594 "Better expose config handler"
In order to allow CLI tools to better integrate with WebdriverIO it would be useful if `@wdio/cli` would expose the config wizard. In addition to that it would be useful which packages the config wizard did install.

I will assign this to me as I am working on the Angular CLI integration and found need for this.

[2021-03-16 16:36] RossVertizan opened #6595 "Feedback from first time contributor to WebdriverIO"
**Pre-check**
- [X] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

Please don't take any of this as criticism, clearly there is a lot of hard work and effort in webdriverio and I contribute these comments with the hope of improving the tool.

**Describe the improvement**
In #6548 I was asked if there was anythin

[2021-03-16 17:58] Amrkamel1 opened #6596 "Unable to to drag and drop an element"
The test is passing however the element is not dragged or dropped in the desired target. element Is not moving at all

**Environment (please complete the following information):**
 - **WebdriverIO version:**  7.2.0
 - **Mode:** [Standalone mode or WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] sync
 - **Node.js version:**  v14.16.0
 - **NPM version:**  6.14.11
 -

[2021-03-16 18:40] christian-bromann opened #6597 "Mitigate LGTM scan warnings"
I ran across lgtm.com and found a report generated for this project: https://lgtm.com/projects/g/webdriverio/webdriverio/alerts/?mode=list. It shows 37 warnings, some of them pretty legit and easy to fix. Would be nice to lower the number of those warnings.

[2021-03-16 21:02] erwinheitzman commented on #6596
@christian-bromann changing the performActions inside the dragAndDrop method to the following, fixes the issue:
[code]

I feel like there might be a bug in the way we calculate the x and y axis or the use of the origin 'pointer'

[2021-03-16 21:09] erwinheitzman commented on #6596
@Amrkamel1 you can use the same performActions I shared to work around the issue for now. You'd just have to do the following:
[code]

If you have any question about this, feel free to ask =]

[2021-03-16 21:15] Amrkamel1 commented on #6596
Thanks man, much appreciated will try it first thing in morning, and will let you know.

[2021-03-16 21:24] erwinheitzman commented on #6596
@Amrkamel1 here's the test code used btw (I only updated the dragAndDrop's internal working as shown in the example before and using the above code should achieve the same if you replace the dragAndDrop with the performActions):
[code]

[2021-03-17 05:29] Amrkamel1 commented on #6596
@erwinheitzman It works with the performActions as a charm
Thanks!! man

[2021-03-17 08:05] RafalSkorka commented on #6346
@christian-bromann I am still experiencing this issue after updating to 7.2.0 :(

[2021-03-17 08:52] christian-bromann commented on #6595
Address comments in #6598

[2021-03-17 08:52] #6595 closed

[2021-03-17 13:26] #6591 closed

[2021-03-17 13:27] cezarybielec-itm commented on #6591
It turned out that the issue was resulted by a server configuration.

[2021-03-17 22:42] klamping commented on #6540
Seems the `script` tags were stripped from the flowchart markdown files. I believe these are the most recent versions:
https://github.com/jdavis61/webdriverio/tree/master/docs/flowcharts

@christian-bromann Was there a reason why these tags were removed, or was it just incidental to the docasaurus upgrade and they can be added back in?

[2021-03-17 22:52] christian-bromann commented on #6540
Yes exactly that.

[2021-03-18 09:53] christian-bromann commented on #6593
I looked into this and even though it seems weird it behaves as expected. Note that we try to keep dependencies across sub packages to a minimum. If writing tests for a file it often makes sense to mock classes and functions from other modules so that tests can run independent from them. In this case the Launcher class was mocked [within the test file](https://github.com/webdriverio/webdriverio/bl

[2021-03-18 09:53] #6593 closed

[2021-03-18 14:11] erwinheitzman commented on #6596
@christian-bromann after some digging it's the `getScrollPosition` which seems to take the scroll position of the whole page while `getElementRect` get's the position of the element inside the iframe, I am making some assumptions here but I feel this assumption is correct to make.

I'm not sure why we use this approach instead of passing the element as the origin to drag and assigning it's x and y

[2021-03-18 14:46] christian-bromann commented on #6596
@erwinheitzman I am assuming that using the element reference as `origin` is actually the way you would need to implement drag&drop to trigger the right events for many of these d&d implementations so I am all for this change.

[2021-03-18 19:29] cpeck-bi opened #6601 "Typo in error message"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

On https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/utils/index

[2021-03-18 22:52] sehgasau opened #6603 "Error in "node_modules/webdriverio/build/commands/browser/executeAsync.d.ts:44:171" while building -> "error TS1005: ',' expected""
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.2

[2021-03-18 23:17] christian-bromann commented on #6603
Which TypeScript version are you using? Note that WebdriverIO v7 requires TypeScript v4.1

[2021-03-18 23:19] christian-bromann commented on #6601
Thanks for the quick PR! 👍

[2021-03-18 23:19] #6601 closed

[2021-03-18 23:20] sehgasau commented on #6603
Oh i see, yeah ts version on my machine is 3.8. Thanks for the info, will update and try again

[2021-03-19 10:47] mandarinka69 opened #6604 "cumulativeLayoutShift as part of metrics is always computed to zero"
Environment :
 - wdio/devtools-service": "7.2.0"
 - wdio/local-runner": "6.1.22"
 -  Node.js version:   12.16.3
 - **NPM version:** [e.g. 5.8.0]
 - Browser name and version: Chrome 89.0.4389.90
 - Platform name and version:Ubuntu 18
 - ["@wdio/devtools-service": "7.2.0",
    "wdio-performancetotal-service": "1.0.5"]

cumulativeLayoutShift  computed as part of getMetrics in @wdio/devtools-service i

[2021-03-19 10:50] christian-bromann commented on #6604
Note that running on Lighthouse does not mean you are running in the same environment. Is `cumulativeLayoutShift` always `0` no matter which page?

[2021-03-19 10:57] mandarinka69 commented on #6604
Yes, I ran in other pages and receive 0, but I checked in Chrome and get
value not 0

пт, 19 бер. 2021 о 12:50 Christian Bromann ***@***.***> пише:

--
Automation qa
tel:+38(063)73-42-591

[2021-03-19 13:14] irondazzle opened #6605 "Tests are skipped after upgrade to WDIO v7"
Environment:
**WebdriverIO version**: 7.2.0
**If WDIO Testrunner, running sync/async**: sync
**Node.js version**: 12.18.4
**NPM version**: 6.14.6
**Browser name and version**: Chrome 89
**Platform name and version**: Windows 10

**package.json**
[code]
**tsconfig.json**
[code]

**wdio.conf.js**
[code]
Project structure and test that I have created to test upgrade to WDIO v7
![image](https://user-i

[2021-03-19 13:51] erwinheitzman commented on #6605
Tried with the latest version (7.2.1) and this seems indeed to be an issue.

This can easily be verified using the cli to generate a clean typescript project and adjust the imports while having said tsconfig.json defined

[2021-03-19 16:56] straker opened #6607 "devtools.switchToFrame errors on null id when there is no parentFrame"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.2.1
 - **Mode:** Standalone
 - **Node.js version:** 12.18.2
 - **NPM version:** 6.14.5
 - **Browser name and version:** Chrome 89.0.4389.82
 - **Platform name and version:** MacOs Catalina 10.15.7

**Config of WebdriverIO**
N/A

**Describe the bug**
When passing a `null` id to `client.switchToFrame` and the

[2021-03-20 06:06] jayandran-Sampath commented on #6538
Hi, any help required on this issue?

Did the approach is finalised?
@wswebcreation  @christian-bromann

[2021-03-22 07:54] christian-bromann commented on #6538
@jayandran-Sampath any help on this issue would be very appreciated.

[2021-03-22 08:09] #6553 closed

[2021-03-22 10:22] #6596 closed

[2021-03-22 21:27] ericlanteigne-quest commented on #6547
Hi @christian-bromann, the team I work on has been able to reproduce this issue in our pipelines as well as locally.
`D:\Sources\ondemand-ui-e2e-devops\node_modules\@wdio\cli\build\interface.js:142
            throw new Error('Could not find job');
                  ^
Error: Could not find job
    at WDIOCLInterface.clearJob (D:\Sources\ondemand-ui-e2e-devops\node_modules\@wdio\cli\build\interface

[2021-03-22 21:29] christian-bromann commented on #6547
@osmolyar has also mentioned that in the Gitter channel. She is creating an issue for it. We can release a fix for it tomorrow.

[2021-03-22 21:47] osmolyar opened #6616 "Couldn't initialise "@wdio/cucumber-framework". Error: Cannot find module '@cucumber/messages/dist/src/stream'"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0

[2021-03-22 21:48] osmolyar commented on #6547
https://github.com/webdriverio/webdriverio/issues/6616

[2021-03-23 10:23] christian-bromann commented on #6616
This got fixed by the Cucumber team.

[2021-03-23 10:23] #6616 closed

[2021-03-23 21:20] christian-bromann commented on #4953
#6076 was merged and hopefully has fixed the issue. Closing. Thank you @oversizedhat

[2021-03-23 21:20] #4953 closed

[2021-03-24 11:28] thuquynhpham opened #6620 "ERROR @wdio/runner: Error: Cannot find module 'cypress/types/bluebird'"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** "@w

[2021-03-24 11:42] christian-bromann commented on #6620
Sorry but WebdriverIO doesn't use Cypress in any shape of form. You might import something that doesn't belong to the framework, e.g.: /Users/thuquynhpham/Documents/planday-test-automation-nightwatch/mobile/pageObjects/Login.js:1:16

[2021-03-24 11:42] #6620 closed

[2021-03-24 19:14] Askarov5 opened #6621 "Unable to run tests against Safari Technology Preview(r122)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6 and 7
 - **Mode:**  WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:**  sync
 - **Node.js version:** 14.16.0
 - **NPM version:** 6.14.11
 - **Browser name and version:** Safari Technology Preview release 122
 - **Platform name and version:** Mac OS Big Sur v11.2.3
 - **Additional wdio packages us

[2021-03-24 22:18] erwinheitzman commented on #6621
You have installed the chromedriver, this is a setup for Chrome and not for cross browser testing

[2021-03-24 23:05] christian-bromann commented on #6621
You can find how to start Safaridriver here: https://webdriver.io/docs/driverbinaries/#safaridriver. Please let us know if you have further questions.

[2021-03-24 23:05] #6621 closed

[2021-03-25 00:50] klamping commented on #6540
FYI, trying to get these scripts added back in.

[2021-03-25 02:09] Askarov5 commented on #6621
@erwinheitzman, Tests were running before with the same configurations. I don't know why it start to not working this week. And can you please, give me an example of the right configuration for Safari Technology Preview.

@christian-bromann , Safari T. Preview Driver is running on the given port. However, I'm getting the error shown above. I guess, it's not server issue. Looks like, it's a configu

[2021-03-25 10:21] giacomomagini opened #6622 "Incorrect typing for browser.call"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version: 7.2.3

[2021-03-25 11:08] christian-bromann commented on #6622
This works for the async types, e.g.:

![Screenshot 2021-03-25 at 12 04 53](https://user-images.githubusercontent.com/731337/112463388-7427aa00-8d62-11eb-83c6-726705e3420f.png)

but since we transform the sync types from the async types all generics get lost. The solution to this is to overwrite the derived types here: https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/t

[2021-03-25 12:50] giacomomagini commented on #6622
Hi @christian-bromann, I'll try open a PR in the next days. Thanks for confirming the issue and pointing out the relevant code!

[2021-03-25 14:13] gabriel-kohen-by opened #6623 "Running with DevTools when coming back from popped-up window hangs WebdriverIO"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.

[2021-03-25 15:26] Askarov5 commented on #6621
I re-installed the Safari Preview and my previous configuration worked properly.

@erwinheitzman  Just an FYI: When I configured safari t preview capabilities as given [here](https://github.com/webdriverio/webdriverio/issues/4954) I got the following error, even if all safari instances have been closed and there was no any safari browser running in my machine:
[0-0] 2021-03-25T15:17:23.519Z WARN w

[2021-03-26 16:59] jonathan-gee-cko opened #6624 ""wdio:devtoolsOptions" cannot be set on WebDriverIO.RemoteCapability type"
**Environment (please complete the following information):**
 - **WebdriverIO version: 7.2.3** [e.g. 4.13.2]
 - **Mode:Standalone mode** [Standalone mode or WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version:14.16.0** [e.g. 8.11.2]
 - **NPM version:6.14.11** [e.g. 5.8.0]
 - **Browser name and version:Chrome 89** [e.g. Chrome 68]
 - **Platform nam

[2021-03-26 18:42] erwinheitzman commented on #6624
The example given here https://github.com/webdriverio/webdriverio/tree/main/packages/devtools works fine for me.

However I did notice that the viewport never changed but this is a different issue from what is described.

[2021-03-26 18:45] erwinheitzman commented on #6624
Please provide a reproducible example of this issue if you feel you are still experiencing issues

[2021-03-26 19:05] erwinheitzman commented on #6623
Confirmed, code hangs when using the supplied examples and the simplified code found below:
[code]

[2021-03-26 19:19] erwinheitzman commented on #6607
It does allow `null` because null represents the top-level browsing context (i.e., not an iframe). So when there's no top level you'll receive an error which I'd say is to be expected.

[2021-03-26 19:21] erwinheitzman commented on #6607
The following example further demonstrates this:
[code]

[2021-03-26 20:06] straker commented on #6607
The main issue we have is that we can't detect if there is top level browsing context or not before we call `switchToFrame`, so we don't know when passing `null` will work or not.

Also, the error isn't thrown by `switchToFrame` because there is no parent, it errors because the code assumes `id` is a String and tries to access something it shouldn't. Would it be possible to have the error message

[2021-03-27 02:54] gabriel-kohen-by commented on #6623
FYI: @rohit-pant-by

[2021-03-27 16:37] giacomomagini commented on #6622
Opened a PR https://github.com/webdriverio/webdriverio/pull/6625

[2021-03-27 17:07] christian-bromann commented on #6622
Let's continue conversation in #6625

[2021-03-27 17:07] #6622 closed

[2021-03-28 23:44] spatchamatla opened #6627 "devtools service fails to work when switching windows"
- **WebdriverIO version:7.2.3**
 - **@wdio/selenium-standalone-service: 7.2.1**
 - **@wdio/devtools-service: 7.2.3**
 - **Mode: Standalone**
 - **If WDIO Testrunner, running sync/async: sync**
 - **Node.js version:v12.12.0**
 - **NPM version:6.11.3**
 - **Browser name and version:Chrome 89.0.4389.23**
 - **Platform name and version:MacOs Catalina 10.15.7**

**Config of WebdriverIO**
[code]
[code]

[2021-03-29 07:39] christian-bromann commented on #6627
Can you provide some WebdriverIO logs?

[2021-03-29 08:12] christian-bromann commented on #6603
Any updates?

[2021-03-29 08:16] christian-bromann commented on #6561
Closing due to inactivity.

[2021-03-29 08:16] #6561 closed

[2021-03-29 08:35] christian-bromann commented on #6557
@flunderpero I can't reproduce this. What I've done is:

[code]
Then I changed the service list to:
[code]
and added
[code]
to the config. It all passes fine. Can you provide a reproducible example?

[2021-03-29 09:27] sehgasau commented on #6603
Sorry, I literally forgot to reply to this issue, so I downgraded my wdio version to < v7 stable release and it worked after that. Thank you for the support :)

[2021-03-29 09:27] #6603 closed

[2021-03-29 09:35] christian-bromann commented on #6445
Proposed a PR with a fix. Let's continue convo there.

[2021-03-29 09:35] #6445 closed

[2021-03-29 10:24] christian-bromann commented on #6557
I created a PR with a fix for it. Let's continue our convo there.

[2021-03-29 13:48] jonathan-gee-cko commented on #6624
So I am running this in a cucumber step definition file with
`import { remote } from 'webdriverio';`

[code]

I set the this.browser object to be type public browser: BrowserSync;
However, the above code will not transpile to typescript.

Following errors from vscode appears:

1.  (property) Capabilities.browserName?: string | undefined Identifies the user agent.

2. Type 'string' is not assignabl

[2021-03-29 14:17] christian-bromann commented on #6624
@jonathan-gee-cko so you are starting a new browser session within your testrun? Why would you want to do that?

[2021-03-29 15:10] jonathan-gee-cko commented on #6624
So the test framework this is currently used in mainly focuses around API coverage, and a few scenarios require some UI configurations within a browser.

Browser sessions are cleaned up at the After hook, so each browser instance is self-contained within a scenario. Being able to spin up a browser instance (and further browser interaction) as a Given step in a scenario is the main requirement here

[2021-03-29 20:51] johan commented on #2843
I'm sadly in the same boat as @vgrigoruk – my app has a DOM element for error messages that I want to probe after the completion of each test, and fail said test with that error message, if present, but the best that seems possible to do today is to `console.log` it in `afterTest` with some findable marker in log output, as it will be buried in other log noise rather than end up in the final summa

[2021-03-30 03:32] spatchamatla commented on #6627
im unable to provide actual code, but hope this helps..
[code]
 I picked the above code from webdriverio docs and modified to reproduce the issue. as you can see in below console logs, only google tab/window (parent window) network call logs being captured or displayed, but not the webdriverio tab's network calls.

***console logs:***
[code]
***wdio.log***
[code]
***wdio-0-0.log***
[code]

***wdio

[2021-03-30 04:27] spatchamatla opened #6635 "chrome version in wdio config.services selenium args, fails to create new service: ChromeDriverService with 500 status code"
- **WebdriverIO version:7.2.3**
 - **@wdio/selenium-standalone-service: 7.2.1**
 - **@wdio/devtools-service: 7.2.3**
 - **wdio-chromedriver-service: 7.0.0**
 - **chromedriver: 89.0.0**
 - **Mode: Standalone**
 - **If WDIO Testrunner, running sync/async: sync**
 - **Node.js version:v12.12.0**
 - **NPM version:6.11.3**
 - **Browser name and version:Chrome 89.0.4389.23**
 - **Platform name and versio

[2021-03-30 06:58] christian-bromann commented on #6627
This is a (kind of) bug within the `devtools` package. If you switch windows you need to re-register the network listener. However I can see the desire to not wanting to do that every time. This is something WebdriverIO could handle. Any contributions appreciated.

[2021-03-30 07:31] christian-bromann commented on #6624
Ok, looked into it and found that you need to add types to your tsconfig:

[code]

[2021-03-30 07:34] #6624 closed

[2021-03-30 07:48] christian-bromann commented on #6635
If you define a specific version within the install args you need to define the same version for the driver args, I was able to run the example with the following service config:
[code]

Let me know if you have further questions.

[2021-03-30 07:48] #6635 closed

[2021-03-30 07:49] christian-bromann commented on #6584
Implemented and released [`@wdio/schematics`](https://github.com/webdriverio/webdriverio-schematics). Please test it out and provide feedback in the repository. Thanks!

[2021-03-30 07:49] #6584 closed

[2021-03-30 07:50] christian-bromann commented on #6542
Can you provide a reproducible example? Also have you tried running this in v7?

[2021-03-30 07:51] christian-bromann commented on #6469
@RossVertizan thanks for working on this. Let's close the issue and continue convo in #6548

[2021-03-30 07:51] #6469 closed

[2021-03-30 07:53] RossVertizan commented on #6469
@christian-bromann  - sure.

[2021-03-30 07:58] christian-bromann commented on #6486
To give more context: the idea is that TypeScript propagates the types from the parameters into the inner function. This is indeed the case in reality for all types besides WebDriver element references that get transformed into actual HTMLElements. I don't know if TypeScript is able to allow such type automatic transformation. Any suggestions would be appreciated.

[2021-03-30 08:02] christian-bromann commented on #6410
@Svtrcom any updates to provide a reproducible example? Otherwise I need to close this one.

[2021-03-30 08:03] christian-bromann commented on #6387
This is currently being worked on in #6459. If anyone can pick up the PR to bring it over the finish line that would be amazing!

[2021-03-30 08:03] #6387 closed

[2021-03-30 16:23] christian-bromann opened #6640 "Replace `markdox` with `jsdoc-to-markdown`"
Markdox now introduces 4 severe bugs to the code base. They shouldn't impact the user given we generate our docs in CI but it is still something we should clean up. I suggest to switch to [jsdoc-to-markdown](https://www.npmjs.com/package/jsdoc-to-markdown).

[2021-03-30 18:50] DudaGod commented on #6554
@christian-bromann hello. Do you have any thoughts on how this can be implemented in wdio?

[2021-03-30 20:47] mathew-jithin commented on #6640
@christian-bromann Shall I pick it up?

Also, anything specific I need to keep in mind?

[2021-03-30 22:11] christian-bromann commented on #6640
@mathew-jithin feel free to pick it up. The file to look into is here: https://github.com/webdriverio/webdriverio/blob/main/scripts/docs-generation/wdioDocs.js. The goal is to parse all `.ts` files within the command dir and generate markdown files which later will be parsed by Docusarus. Let me know if you have any questions.

[2021-03-31 12:28] christian-bromann commented on #6549
Fixed by https://github.com/webdriverio/webdriverio/pull/6558

[2021-03-31 12:28] #6549 closed

[2021-03-31 12:56] lacell75 opened #6642 "Suite definition that supports the new syntax to group specs files"
I would be very interested if the new feature (gouping specs for execution in a single instance) would be supported on Suite definition like :
[code]

[2021-03-31 15:03] Nikhil-Wagh commented on #50
@christian-bromann The link is not working.
I'm still facing the issue.

[2021-03-31 15:54] RossVertizan commented on #6642
@christian-bromann: Yes, both of those statements are correct.  I explicitly excluded support for suites and no it shouldn't be a problem to implement.
Would this cause problems for the reporters?  I think it will be OK because my feeling is that the reporters are downstream of the "spec resolution".

[2021-03-31 17:14] christian-bromann commented on #6642
Yeah, I agree, it shouldn't be a big issue for reporters.

[2021-03-31 17:31] RossVertizan commented on #6642
I'm happy to take a look at this if you'd like

[2021-03-31 17:31] christian-bromann commented on #6642
Go for it!

[2021-03-31 17:48] christian-bromann opened #6644 "GitHub logo link is missing on the teams page"
On the [Team](https://webdriver.io/community/team) page in our docs, every member is suppose to have a link to their GitHub and Twitter profile. For some reasons the GitHub logo link is missing:

![Screenshot 2021-03-31 at 19 45 03](https://user-images.githubusercontent.com/731337/113188135-f54ad980-9259-11eb-932c-ae483a4a4608.png)

The code for this React component can be found here: https://gith

[2021-03-31 18:23] erwinheitzman commented on #50
Still? This issue was in closed in 2013 and doesn't exist today

[2021-04-01 01:34] roggerfe opened #6645 "Skipping a test in beforeTest global hook is not preventing the test runner from executing the entire test code"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.3.0
 - **Mode:** Wdio
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.2
 - **NPM version:** 6.14.5
 - **Browser name and version:** Chrome 89 (but it is not browser related)
 - **Platform name and version:** Ubuntu 20.04.1
 - **Additional wdio packages used (if applicable):*

[2021-04-01 07:45] arsen1c commented on #6644
Hey, I went through the code an noticed there was no github icon svg in https://github.com/webdriverio/webdriverio/blob/main/website/src/theme/card.jsx file. So I went ahead and added a github svg in the `GithubLink` component and made small changes in the css file as well. This has fixed the issue. Now, can you please guide me further on which branch of my fork should I push the changes?

[2021-04-01 07:47] arsen1c commented on #6644
Here's how the Team page looks like after the fix:

![image](https://user-images.githubusercontent.com/46086050/113260893-6d61df80-92ec-11eb-84cb-e100cd85da9a.png)

[2021-04-01 08:27] christian-bromann commented on #6644
Thanks for tackling this! Let's continue convo in #6646

[2021-04-01 08:27] #6644 closed

[2021-04-01 11:32] razielron commented on #2692
HI there, so I faced this issue as well and also saw it here (please let me know what you think of it and if you have better suggestions) under limitations.
I think I have a solution for this by adding an array prototype you can wait until you get the specific index of an element you need.
[code]

Let me know what you think and if it's helpful.
To use it all you need is to do this:
[code]

[2021-04-01 15:03] spatchamatla commented on #6627
@christian-bromann sure can help in free time, but need some guidance. never worked with ts.

[2021-04-01 18:04] poc7667 opened #6648 "Can not mock error response with 422, 0"
The mock request just hangs forever if I tried to mock a failed response.
If mock doesn't provide a way to mimic error response. Any alternative?

[code]

**Environment (please complete the following information):**
   - wdio 6
  - chrome 86

[2021-04-01 22:48] FrederickEngelhardt opened #6649 "[webdriverio/(sync|async)] typescript approach recommendation with typeRoots"
# Description
Using typescript I am unable to get type resolution for `driver` or `$` or `$$`. These types come from `webdriverio/sync`.

According to the [documentation](https://webdriver.io/docs/typescript/), all @wdio and webdriverio packages require you to manually import all of your typescript types.

The `types` approach requires you to have to manually import all your other types from other

[2021-04-02 08:30] brightsider commented on #4723
Trying to access in onComplete and get error:
Error in onCompleteHook: ReferenceError: browser is not defined

[2021-04-02 16:08] RossVertizan opened #6651 "Documented customWorkerService constructor signature does not appear to match implementation"
**Pre-check**
- [X] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [X] Other

In the documentation describing [custom services](https://github.com/webdriverio/webdriverio/blob/9d2220e89144b0ca6

[2021-04-02 20:33] amandaflagg opened #6652 "Multiremote config errors due to capabilities values - Illegal key values seen in w3c capabilities: [hostname, path, port, protocol]"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.3.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.3
 - **NPM version:** 6.14.6
 - **Browser name and version:** Chrome 89.0.4389.114
 - **Platform name and version:** Mac OS Catalina 10.15.7
 - **Additional wdio packages used (if applicable):**

[2021-04-04 19:36] erwinheitzman commented on #6652
Cannot reproduce using the example provided. I suggest generating a clean project using the CLI and to try using multi remote as described here https://webdriver.io/docs/multiremote/

[2021-04-05 04:37] Amrkamel1 commented on #6652
I think this one migh be related to similar issue with
https://github.com/webdriverio/webdriverio/issues/6445

[2021-04-05 06:24] matthew-johnston commented on #6652
I have the exact same issue you're seeing. I found a temporary workaround/hack you can use.
Try setting an empty `sauce:options` object in your capabilities. Selenium standalone treats it as a cloud capability and doesn't run this line `Object.assign(c, DEFAULT_CONNECTION, { ...c })`. Very hacky, but it might unblock you until this is fixed.

`            if (!isCloudCapability(c) && hasCapsWithSu

[2021-04-05 10:07] christian-bromann commented on #6652
This should have been fixed with the latest version. @amandaflagg can you please provide a reproducible example?

[2021-04-05 21:05] erwinheitzman commented on #6649
From what I understand this is happening because this setting is to be used when there's no .d.ts files directly in the root of the non package (which is where the compiler looks for these files by default). The typeRoots allows you to specify a different root which fixes this issue. However the way you use it seems like it's not the way that it is meant to be used.

This is based on the documenta

[2021-04-06 07:14] christian-bromann commented on #6649
I believe the maintenance effort to add a wdio package to the `types` list fairly reasonable for smaller as well as for large projects. Can you elaborate why you think it doesn't make sense?

What is the advantage of using `typeRoots` over `types`? It seems you still have to add the paths for individual packages too.

We need to type some globals, e.g. `driver`, `browser`, `$` and `$$` to work eit

[2021-04-06 07:36] christian-bromann opened #6659 "Implement codemod for transitioning Protractor tests into WebdriverIO"
The Protractor project will soon be deprecated and a lot of users need to transition to a new framework. We want to help with this transition by providing a codemod that can transform their code into WebdriverIO code.

I started to work on a codemod using [jscodeshift](https://www.npmjs.com/package/jscodeshift): https://github.com/webdriverio/protractor-codemod

Here at Sauce Labs we have a lot of

[2021-04-06 07:50] christian-bromann opened #6660 "Add Angular framework stabilizer"
Even though WebdriverIO already has a built in wait mechanism it makes sense to adopt their [framework stabilizer](https://github.com/kyliau/angular-wait/blob/main/server/server.ts) to gains some performance improvements. I suggest to introduce a config flag that if set to `true` will add an `afterCommand` hook to run the stabilizer code after every url command.

[2021-04-06 09:32] cnishina commented on #6659
I have some ideas about this. We should talk about it.

[2021-04-06 09:49] christian-bromann commented on #6659
@cnishina I am currently working with jscodeshift to build a transformer that does something like:

[code]

Would love to hear your ideas on it. Will reach out via email.

[2021-04-06 10:01] KrisPrzybyla commented on #5006
@christian-bromann @vaibhavbarmkar any progress on this? I'm vividly interested of this feature.

[2021-04-06 10:02] christian-bromann commented on #5006
@KrisPrzybyla it seems that there hasn't been any progress, so feel free to pick this up. Happy to help with questions along the way.

[2021-04-06 10:03] cnishina commented on #6659
That's one way to do it. I have something different in mind.

[2021-04-06 10:48] jan-molak commented on #6659
Maybe we could mob on this?

[2021-04-06 11:47] christian-bromann commented on #6659
@jan-molak sure thing, I created https://github.com/webdriverio/protractor-codemod as a starting point. Happy to go in any direction with this.

[2021-04-06 12:49] christian-bromann opened #6661 "Special characters not properly detected with Puppeteer"
When running the following script:

[code]

using Chromedriver we see that the `Enter` keyword is properly transformed into unicode and interpreted correctly by the driver so that 3 todo items show up. Running the same with devtools results in having in following entered into the input field:

[code]

without pressing enter. Changing the `setValue` call to
[code]
does the trick. WebDriver has defi

[2021-04-06 15:03] christian-bromann opened #6662 "Strip color ascii characters when uploading error message to Sauce Labs job"
The Sauce service updates the job details page command tab with an error message in case the test fails (see code lines [here](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-sauce-service/src/service.ts#L122-L131)). When using our `expect-webdriverio` assertion library we have color ascii characters in that  message, making it look as follows:

![Screenshot 2021-04-06 at 16 58

[2021-04-06 21:26] amandaflagg commented on #6652
this did fix my issue. thank you @matthew-johnston!

@christian-bromann i'll work on pulling out a copy of this onto github to provide a reproducible example in the next couple days. i had just freshly installed wdio in this project last week in order to dive on using multiremote for testing, so i do have 7.3.0 installed.

[2021-04-06 21:56] nicolasbouffard opened #6663 "Devtools service hanging when used with Android"
**Environment (please complete the following information):**

 - **WebdriverIO version:** 7.3.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.15.1
 - **NPM version:** 6.14.8
 - **Browser name and version:** Chrome 89.0.4389.105
 - **Platform name and version:** Android 10
 - **Additional wdio packages used (if applicable):**
   - @wdio/

[2021-04-07 08:45] fedoseevGIT opened #6665 "websocket connect in AttachToSession don't work for selenoid"
**Environment (please complete the following information):**
 - **WebdriverIO and other packages version:** 7.3
 - **Mode:** WDIO Testrunner sync
 - **Node.js version:** 14.15.4
 - **Browser name and version:** Chrome latests
 - **Platform name and version:** Selenoid

**Describe the bug**
Recently released wdio 7.3, which included PR https://github.com/webdriverio/webdriverio/pull/6637

It was su

[2021-04-07 09:18] christian-bromann commented on #6665
The `attach` method currently allows to connect to a CDP session and it works for Chrome sessions but given that Selenoid has a custom CDP endpoint it requires some custom implementation. I suggest to modify the [`launch`](https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/launcher.ts#L196-L222) method to create a Selenoid CDP WS endpoint. The question is how to determine w

[2021-04-07 09:54] fedoseevGIT commented on #6665
It seems to be ideal to define this at the wdio.config.js level, so that inside the test you do not have to use an attachment, but initially connect to the desired WSEndpoint.

Can you please tell me where is the entry point to the lounch method when starting wdio? At this point, do we already have a sessionID?

[2021-04-07 10:57] christian-bromann commented on #6665
I am not sure if I understand this correctly. Are you suggesting to allow attaching to sessions when using the WDIO testrunner? What is your usecase here? Someone needs to create a session at some point.

The attach method assumes you have a session id. Ideally you should be able to do just this:

[code]

The `launch` method is used here: https://github.com/webdriverio/webdriverio/blob/8d49d8a6571

[2021-04-07 11:06] BorisOsipov commented on #6665
Capabilities from Selenoid are indistinguishable from capabilities returned by chromedriver\geckodriver\etc create session response.

[2021-04-07 15:06] fedoseevGIT commented on #6665
Me managed to solve the problem a little differently. In fact, this is very important for my project, so I would be very grateful if you take a look at this [pull request](https://github.com/webdriverio/webdriverio/pull/6669).

[2021-04-07 15:23] sandupetrasco opened #6671 "@wdio/junit-reporter: testcase names have a different naming format than the one specified in the docs"
I'd like to report
- [X] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [X] Other

**Description of the report**
affected package: `@wdio/junit-reporter`

_One specific example is the following one:_
**[The docs:](https://www.npmjs.com/package/@wdio/junit-reporter/v/7.3.0)**
![image](https://user-images.githubusercontent.com/52775984/113890312-b6be9d00-97cc-11eb-9990-0df68124ea5a

[2021-04-07 15:37] christian-bromann commented on #6665
Is it something we can request Selenoid to do? The Selenium server does this too as does Chromedriver.

[2021-04-07 16:07] spatchamatla commented on #6635
@christian-bromann im going to reopen this, I tried the below `service`
[code]

and seeing the same issue
[code]

[2021-04-07 16:19] christian-bromann commented on #6635
The service is correctly starting the selenium standalone server. The issue is within your configuration, see also: https://stackoverflow.com/a/48838878/765174

[2021-04-07 16:46] spatchamatla commented on #6635
in that there no accepted solutions, if setting chrome driver path is required for selenium args, where should I set it?

[2021-04-07 18:00] christian-bromann commented on #6635
The service setting you have [posted above](https://github.com/webdriverio/webdriverio/issues/6635#issuecomment-815036778) works for me. There must be some other configuration issue.

[2021-04-07 18:25] spatchamatla commented on #6635
@christian-bromann do we need to setup driver path in browser capabilities? like `webdriver.chrome.driver` in `goog:chromeOptions`

[2021-04-07 19:54] christian-bromann commented on #6635
no, it should work as is

[2021-04-08 03:21] Tzng commented on #5869
I had the same problem。

Here's my example

https://github.com/Tzng/webdriver-test

[2021-04-08 03:31] Tzng opened #6675 "clearValue can't use"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly
caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.

[2021-04-08 07:59] cpeck-bi commented on #6662
Hey @christian-bromann . I think I'll try this one.

Which patterns, exactly, do we want to strip out?

[2021-04-08 08:04] christian-bromann commented on #6662
When you see the image up there it should strip out the `[32m-`, `[31m+` and `[39m` which are afaik ascii color code.

[2021-04-08 08:36] christian-bromann commented on #6675
Hey @Tzng ,

thanks for filing the issue. This seems to be related to Chromedriver, so I filled a bug in that project. There is nothing we can do to fix it. As a workaround I recommend doing this:

[code]

This would overwrite the `clearValue` command and would clear it through JS. I tested it and it works well. You can have this statement in your `before` hook in your `wdio.conf.js`.

[2021-04-08 08:36] #6675 closed

[2021-04-08 09:26] razielron commented on #4611
can we control the spec in that case?
I mean can we stop the 'describe' when assertion fails?
like to get the spec in the function and use spec.stop() or something? is it possible?
It would really help to gain more control on the suites/specs and manipulate it our way

[2021-04-08 12:09] Tzng commented on #6675
Okay, this is really great

[2021-04-08 14:08] christian-bromann commented on #6660
According to @cnishina there aren't any angular specific wait mechanism needed in modern Angular.io apps. Closing.

[2021-04-08 14:08] #6660 closed

[2021-04-08 14:09] christian-bromann opened #6678 "Document the transition from a Protractor to WebdriverIO framework"
To help users transition to WebdriverIO it would be very helpful to provide transition documentations using our codemod and other opportunities.

[2021-04-08 17:40] mareru opened #6679 "Chrome session fails to create with Illegal key values seen in w3c capabilities: [hostname, path, port, protocol]"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.12.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.3
 - **Yarn version:** 1.16.0
 - **Browser name and version:** Chrome 89.0.4389.114
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**
[code]

**

[2021-04-08 17:46] christian-bromann commented on #6679
You are using WebdriverIO v5 which we don't support anymore. We recommend upgrading to the latest version.

[2021-04-08 17:46] #6679 closed

[2021-04-08 22:48] michalboo opened #6680 "spec-reporter saucelabs link doesn't reflect 'eu' region"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.3.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.22.1
 - **NPM version:** 6.14.12
 - **Additional wdio packages used (if applicable):**
[code]

**Config of WebdriverIO**
https://github.com/michalboo/wdio-eu-link/blob/eu-reporter-link-issue/wdio.c

[2021-04-09 00:30] amandaflagg commented on #6652
@christian-bromann i pushed a reproducible example here: https://github.com/amandaflagg/multiremote-bug

from the `e2e-tests` directory, run `npx wdio run wdio.conf.js` to reproduce the error.

in wdio.conf.js i have commented out the code suggested above to bypass this bug. if you uncomment the `sauce:options` objects in capabilities, the bug should no longer be reproducible.

[2021-04-09 05:39] AutomationReddy commented on #6671
@sandupetrasco I will provide a PR soon to update the doc and `_` will be removed from test names. Can you also please let us know what is the issue that you are facing with special chars. The reason for allowing `@` is; few reporters take tags from test case names which starts with `@` symbol like `@foo` `@bar`.

[2021-04-09 07:17] christian-bromann commented on #6680
We generate the link [within the spec reporter](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-spec-reporter/src/index.ts#L143-L152) and something seems to have changed that it can't detect the proper region anymore. This is a good first issue to start working/contributing to WebdriverIO. Any contributions would be appreciated!

[2021-04-09 07:41] christian-bromann commented on #6652
Thanks for providing an reproducible example. I Was able to spot the problem and provide a fix. Let's continue convo in the PR.

[2021-04-09 07:41] #6652 closed

[2021-04-09 10:23] sandupetrasco commented on #6671
@AutomationReddy The older versions of @wdio/junit-reporter (e.g. 5.18.*) were removing all the special chars from the test names. We were using some string matches after formatting the test name in junit format, and a specific edge-case with the `@` symbol is kinda' extra :).
However, is there a specific reason you do not allow special chars (those on the keyboard) and remove (some of) them from

[2021-04-12 02:06] binarykitchen opened #6685 "executeHooksWithArgs fn throws DEPRECATION notice in Jasmine"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2] LATEST
 - **Mode:** [Standalone mode or WDIO Testrunner] JASMINE
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] MIXED
 - **Node.js version:** [e.g. 8.11.2] 14
 - **NPM version:** [e.g. 5.8.0] LATEST YARN
 - **Browser name and version:** [e.g. Chrome 68] LATEST CANARY
 - **Platfo

[2021-04-12 06:55] DKasianova opened #6686 "browser.reloadSession() doesn't change the sessionId value"
**Environment:**
 - **WebdriverIO version:** [7.2.3]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [14.16.0]
 - **NPM version:** [6.14.11]
 - **Browser name and version:** [Chrome]
 - **Platform name and version:** [MacOS 11.2.3]

**Describe the bug**
The WDIO documentation states that `browser.reloadSession()` changes the sessionId va

[2021-04-12 07:51] DKasianova commented on #6686
Hi, @christian-bromann,
thanks for the answer. I tried running your script and got the following result:

[code]

Part of my wdio.conf.js:
[code]

and file with capabilities:
[code]

[2021-04-12 08:14] #6685 closed

[2021-04-12 09:27] DKasianova commented on #6686
Issue resolved after adding `services: ['selenium-standalone']` to wdio.conf.js

[2021-04-12 09:27] #6686 closed

[2021-04-12 09:58] DudaGod opened #6689 "Incorrectly detect w3c protocol for appium with chromedriver@2.40"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.1.0
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.18.1
 - **NPM version:** 6.14.5
 - **Browser name and version:** chrome mobile 67
 - **Platform name and version:** linux

**Describe the bug**
I run tests in android emulator with chrome@67 and a

[2021-04-12 10:40] DudaGod opened #6690 "elementSendKeys: throws with "Malformed type for "text" parameter of command elementSendKeys" [JSONWP]"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.1.0
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.18.1
 - **NPM version:** 6.14.5
 - **Browser name and version:** chrome mobile 67
 - **Platform name and version:** linux

**Describe the bug**
Initially I faced with problem that when run tests i

[2021-04-12 11:49] christian-bromann commented on #6690
It seems that your workaround didn't work as the WebDriver protocol is still applied to the WebdriverIO object. I suggest to continue conversations in  #6689

[2021-04-12 11:49] #6690 closed

[2021-04-12 11:52] christian-bromann commented on #6689
Can you provide what the session capabilities are that Appium returns? Currently we assume W3C WebDriver for all Appium sessions but in your case this would be wrong, causing your error. If Appium gives us more information what is being run we might can adjust that.

Can you post what:
[code]

returns?

[2021-04-12 12:39] DudaGod commented on #6689
Yes, of course:
[code]

[2021-04-12 17:31] pmerwin opened #6696 "Saucelabs jobs links are not available to reporters in multiremote"
**Environment (please complete the following information):**
 - **WebdriverIO version: 7.3
 - **Mode:test runner
 - **If WDIO Testrunner, running sync/async: sync
 - **Node.js version:12.3
 - **NPM version: 6
 - **Browser name and version: n/a
 - **Platform name and version: n/a
 - **Additional wdio packages used (if applicable):** [e.g. @wdio/spec reporter, @wdio/selenium-standalone service]
sauc

[2021-04-12 17:42] christian-bromann commented on #6696
This indeed seems like a regression. Any contributions are appreciated.

[2021-04-13 07:18] Joozty opened #6697 "Capture cursor in `saveScreenshot`"
It would be nice if `saveScreenshot` could also capture the cursor position. Not sure how hard it is. I guess it's doable by remembering the last position of cursor and when a page is about to be screenshotted  you would render an image instead on that position?🤔

I can imagine to have optional param `saveScreenshot(captureCursor: boolean | string)`
  - boolean - render default cursor image
  - st

[2021-04-13 07:27] christian-bromann commented on #6697
@Joozty this is not gonna be easy. The best approach IMO is to inject a script using DevTools for every page load that tracks the cursor position (even though given everything is automated there won't be much cursor activity) and allows you to read it from the page global scope and then attach a give to a screenshot made.

I believe this is an excellent feature for a community service but I doubt

[2021-04-13 07:27] #6697 closed

[2021-04-13 07:43] christian-bromann commented on #6689
@DudaGod sorry, maybe we could create an issue in Appium to help populate this information. Another option would be to use an older version of WebdriverIO where JSONWP is default. Please let me know if upgrading the Chrome version on the device resolves the issue. Cheers!

[2021-04-13 07:43] #6689 closed

[2021-04-13 07:44] christian-bromann commented on #6649
ping @FrederickEngelhardt

[2021-04-13 07:46] christian-bromann commented on #6648
I believe this is the nature of a 422 response:

I don't think this underlies any issue with WebdriverIO and is rather a result of how Chrome treats such requests. I advise to raise an issue in the Protractor project.

[2021-04-13 07:46] #6648 closed

[2021-04-13 07:47] christian-bromann commented on #6542
Closing due to inactivity.

[2021-04-13 07:47] #6542 closed

[2021-04-13 07:53] christian-bromann commented on #6559
You can get all commands via `browser.commandList`.

[2021-04-13 07:55] christian-bromann commented on #6671
@sandupetrasco if this is a problem for you please consider contributing to the project to get it resolved, thanks!

[2021-04-13 08:02] #6651 closed

[2021-04-13 08:03] christian-bromann commented on #6651
@RossVertizan thanks for pointing this out, this was indeed an error within the docs.

[2021-04-13 08:12] christian-bromann commented on #6645
I was able to reproduce this. Any contributions to this would be very appreciated 🙏  Thank you!

[2021-04-13 08:38] christian-bromann commented on #6640
@mathew-jithin any updates? I will un-assign you, feel free to re-assign when you still want to tackle this. Cheers!

[2021-04-13 08:39] christian-bromann commented on #6410
Closing due to inactivity.

[2021-04-13 08:39] #6410 closed

[2021-04-13 08:42] DudaGod commented on #6559
No, it does not show commands from `element` or my custom commands.

Commands inside `commandList`:
[code]

I don't see `click` command from element or `moveTo` and others.

Script to get that:
[code]

[2021-04-13 09:02] christian-bromann commented on #6559
Ah ok, seems that this is missing. Any contributions to this would be appreciated.

[2021-04-13 09:02] christian-bromann commented on #5944
Let's continue convo in #6699

[2021-04-13 09:02] #5944 closed

[2021-04-13 09:06] christian-bromann commented on #5786
@gulatirajat this would ensure that tests still gonna be run through Sauce but the REST API calls to update the job etc. won't be successful. The [`node-saucelabs`](https://github.com/saucelabs/node-saucelabs#proxy) package has a proxy option so as I suggested above this information needs to get propagated through it via Sauce service.

[2021-04-13 11:28] christian-bromann commented on #6680
A PR with a fix was proposed and released with the next version. Thanks for filing the issue!

[2021-04-13 11:28] #6680 closed

[2021-04-13 11:28] christian-bromann commented on #6696
A PR with a fix was proposed and released with the next version. Thanks for filing the issue!

[2021-04-13 11:28] #6696 closed

[2021-04-13 12:12] wswebcreation commented on #6689
@christian-bromann

Isn't this strange, it should **not** detect W3C in the first place because the requested ones don't have W3C compliant caps, or is this in the way his grid handles the responses?

@DudaGod

Have you tried adding this to your caps

[code]
I'm not 100% sure if ChromeDriver 2.40 can handle this, but Appium should be able to pass this to the driver so the driver knows that the com

[2021-04-13 12:15] christian-bromann commented on #6689
Currently WebdriverIO decides based on the session response wether WebDriver is used or not. For Appium we default to `true` because it is in general compliant. However if Appium uses a driver that is not, there is currently no way of telling that this is the case. Therefor your suggestion won't work because the Chromedriver version being used is using JSONWP already (I don't think it even knows W

[2021-04-13 12:23] wswebcreation commented on #6689
ok, that makes sense @christian-bromann , thanks

[2021-04-13 14:22] brinkins commented on #6405
Downgrading to "@wdio/devtools-service": "^6.3.7" fixes the issue as a workaround.

[2021-04-13 16:10] christian-bromann opened #6703 "Remove `fibers` from WebdriverIO"
In https://github.com/webdriverio/webdriverio/discussions/6702 we started an RFC to find the next step for supporting WebdriverIO in Node.js v16. As mentioned in the discussion node-fibers won't be supported anymore. Based on the decision found in the RFC we should implement a solution that allows us to move forward with Node.js v16.

[2021-04-13 17:42] Anastasiia-Levina opened #6704 "Timeout option passed to waitForDisplayed function is ignored when searching for not existing element from element"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.3.1]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [v14.16.0]
 - **NPM version:** [6.14.11]
 - **Browser name and version:** [Chrome 89]
 - **Platform name and version:** [macOS 11.2.3 (20D91)]
 - **Additional wdio packages used (if applicable):

[2021-04-13 18:05] AlexandreBonneau commented on #4440
I'm a bit late to the party, but since it seems to be a documentation problem, shouldn't it remain open?

[2021-04-13 18:10] christian-bromann commented on #4440
This issue has been closed because the requirements to make the documentation change remained unavailable. If you think the docs could be better around modifier keys, please provide more detailed information how they can be improved. I would be happy to re-open then.

[2021-04-13 19:25] zarko-tg opened #6705 "v7.4.0 Error: Cannot find module '../build'"
Just tried upgrading from 7.3.1 to 7.4.0 and tests won't run at all now.

**Environment:**
 - **WebdriverIO version:** 7.4.0
 - **Mode:** WDIO Testrunner / local
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.22.1
 - **NPM version:** 6.14.12
 - **Browser name and version:** Chrome 89 / stable
 - **Platform name and version:** MacOS Big Sur
 - **Additional wdio packa

[2021-04-13 19:35] adong commented on #6705
Second this. The same error is happening to us.

[2021-04-13 19:44] BorisOsipov commented on #6705
@christian-bromann smth wrong with release build. see log https://github.com/webdriverio/webdriverio/runs/2336069116?check_suite_focus=true#step:8:45

[2021-04-13 19:51] christian-bromann commented on #6705
Sorry about that, fixing right now

[2021-04-13 19:56] christian-bromann commented on #6705
A new release was triggered: https://github.com/webdriverio/webdriverio/runs/2336971321?check_suite_focus=true

[2021-04-13 20:02] christian-bromann commented on #6705
Without being certain but it seems that NPM v7 is defaulting to workspaces which we don't have setup properly as we still use Lerna for managing the monorepo. I think it is time to switch to Yarn or stay and use NPM workspaces.

[2021-04-13 20:05] BorisOsipov commented on #6705
@christian-bromann
[code]
Seems nothing new published

[2021-04-13 20:05] christian-bromann commented on #6705
Yeah, had to rerun with `--force-publish`

[2021-04-13 20:07] christian-bromann commented on #6705
`v7.4.1` published with build directory. I will close this and create an issue for moving to NPM/Yarn workspaces. Sorry all for the inconvenience. Please let if this error still occurs.

[2021-04-13 20:07] #6705 closed

[2021-04-13 20:24] pmerwin opened #6706 "saucelabs jobs link are not resolving (dns error)"
In vs 7.4.0 saucelabs link url is incorrect, it is reporting:

https://app.us-west-1.saucelabs.com/tests/947746714c784bf0826adfb98d3ec3fc?auth=da8e4b21f0f143640d88292d1d2fb9b7

^^ this does not resolve, shows dns error.

https://app.saucelabs.com/tests/947746714c784bf0826adfb98d3ec3fc?auth=da8e4b21f0f143640d88292d1d2fb9b7

^^ this works, removed region from root url

[2021-04-13 20:41] #6706 closed

[2021-04-14 00:44] ravi005e opened #6707 "not able to run test, after adding linting rules"
please see the
[webdriverio-typescript-examples.zip](https://github.com/webdriverio/webdriverio/files/6307433/webdriverio-typescript-examples.zip)
entire project attached here

[2021-04-14 00:45] ravi005e commented on #6707
thanks for any help, I greatly appreciate it

[2021-04-14 03:15] hermitfang commented on #6707
I found that there is no **./build** folder in @wdio/cli in 7.4.0

[2021-04-14 03:20] jerseysu commented on #6707
Trying to bump version to @wdio/cli to 7.4.2 and the test is able to run... Please try... something when wrong on  @wdio/cli@7.4.2

[Test Results - 7.4.0]
[code]

[Test Results  - 7.4.2]
[code]

[2021-04-14 06:23] ravi005e commented on #6707
got to work in ff

[2021-04-14 06:23] #6707 closed

[2021-04-14 07:13] christian-bromann commented on #6704
This error can already be reproduced by running:

[code]

The problem lies somewhere in the [`refetchElement`](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/utils/refetchElement.ts) logic which is triggered if catching an element fails. Any help on this would be appreciated.

[2021-04-14 07:18] christian-bromann commented on #6554
Unfortunately the WebDriver spec doesn't really help us to receive the capabilities of an already running session. Therefor it is difficult to find out what is supported and what not. It is very likely that an endpoint to get the capabilities of a running session will be specified soon. In the meantime someone could modify the `attach` method to extract the environment flags and ensure that they a

[2021-04-14 08:21] christian-bromann opened #6709 "Implement `>>>` (deep) selector for WebdriverIO"
I just stumbled upon this amazing library: https://github.com/Georgegriff/query-selector-shadow-dom and thing it is worth while to natively integrate it into WebdriverIO. My idea would be to add a "deep" selector that would work like this:

[code]

What do you think @Georgegriff ?

[2021-04-14 08:25] Georgegriff commented on #6709
That would be neat, whether it's the library wholesale or take an approach similar to playwright where they took the concepts of the library but implementation was a bit different

https://github.com/microsoft/playwright/pull/1738

https://github.com/microsoft/playwright/issues/1375

[2021-04-14 08:30] christian-bromann commented on #6709
Any advantages of their implementation over yours?

[2021-04-14 09:16] Georgegriff commented on #6709
Hmm I'm not certain, it might be better given its written by their core team 😅

[2021-04-14 10:58] christian-bromann opened #6714 "Remove scripts from log payload"
If someone executes a script, the payload of that execute command is stored in the logs which can be very noisy when passing in large scripts, e.g. when using `isDisplayed`:

[code]

I suggest to check if we have a `script` property in the payload and just put in a placeholder.

[2021-04-14 14:23] fcarrasco92 opened #6715 "Error with getting started"
I did the first installation from getting started with this configuration.
![image](https://user-images.githubusercontent.com/5995491/114726125-135d1300-9d0b-11eb-920b-dd84bdc301f6.png)

when run the script `npx wdio run ./wdio.conf.js`

launch error.
![image](https://user-images.githubusercontent.com/5995491/114726295-41daee00-9d0b-11eb-808c-399192de88fc.png)
![image](https://user-images.githubus

[2021-04-14 15:00] jerseysu commented on #6707
Nice!

[2021-04-14 15:04] christian-bromann commented on #6715
Thanks for reporting, this is indeed a regression.

[2021-04-14 15:06] #6715 closed

[2021-04-14 15:08] christian-bromann commented on #6715
Running a release with a fix for this. Once done, please re-install the `@wdio/cli` package. The fixed version should be `v7.4.3`.

[2021-04-14 15:14] fcarrasco92 commented on #6715
@christian-bromann  thanks so much, a pleasure to help

[2021-04-14 17:59] pmerwin opened #6716 "Regression of https://github.com/webdriverio/webdriverio/pull/6487"
Seeing this issue again with vs 7.4, devtools backend shrinks viewsport, chrome-driver works.  Using latest chrome : Version 89.0.4389.128 (Official Build) (x86_64)

https://github.com/webdriverio/webdriverio/pull/6487

[2021-04-14 18:42] L0tso commented on #6716
@christian-bromann Fix was removed [here](https://github.com/webdriverio/webdriverio/pull/6684/files#diff-8f671d792ef73a8deffe369fbd833f6338a1bbea44d8fb4849635545797f6e4eL117). Was it necessary?

[2021-04-14 19:39] christian-bromann commented on #6716
I removed it because of this comment:

but now I realise that the comment was about remove the comment not the viewport property.

[2021-04-14 19:52] #6716 closed

[2021-04-14 21:25] christian-bromann commented on #6716
Fixed and released with `v7.4.5`

[2021-04-15 10:54] link89 opened #6717 "DoS attack to selenium server due to retry too frequent"
I find there are situations that `webdriverio` will throw a lot of request errors, like
[code]
or

[code]

It becomes a big issue when you run thousands of cases with high concurrency as the auto-retry will become a DoS attack to the selenium server.

As we already have a mechanism to handle those errors properly, is there any option that I can use to turn off the build-in retry mechanism of `webd

[2021-04-15 10:59] BorisOsipov commented on #6717
Could you share what your mechanism looks like? I mean how do you handle `a stale element` not by retry?

[2021-04-15 11:03] link89 commented on #6717
Nothing new but retry, with limits and interval control.  We hide all the errors and webdriver operations in the page object, so that we can handle them in a universal way.

[2021-04-15 22:14] OlaoluwaM commented on #6714
Hey @christian-bromann , can I try my hand at this?

[2021-04-15 22:14] christian-bromann commented on #6714
Sure thing!

[2021-04-16 13:10] christian-bromann commented on #6717
@link89 thanks for filling the issue. The stale element retry mechanism is not suppose to DoS attack a system .. like other retry mechanism WebdriverIO comes with it should retry every second or so and eventually fail. Can you provide a reproduceable example in an example app or something similar so people can investigate the issue?

[2021-04-16 13:14] christian-bromann commented on #6665
With https://github.com/webdriverio/webdriverio/pull/6684 you can connect to any arbitrary DevTools endpoints, e.g.

[code]

Please let me know if this doesn't work for you. Cheers!

[2021-04-16 13:14] #6665 closed

[2021-04-16 13:16] christian-bromann commented on #6642
PR got merged and released, thanks @RossVertizan

[2021-04-16 13:16] #6642 closed

[2021-04-16 13:18] lacell75 commented on #6642
Thanks a lot!!

[2021-04-16 13:38] christian-bromann commented on #6605
I was able to resolve this. Apparently `paths` in tsconfig works when files are being compiled but not when executed with `ts-node` in runtime. The workaround is to use the `tsconfig-paths` package. Here is what you do:

1. install `tsconfig-paths`
[code]
2. Add this to your `wdio.conf.ts`
[code]

This should resolve your issue. I tested it and it was running fine.

[2021-04-16 13:38] #6605 closed

[2021-04-16 14:00] OlaoluwaM commented on #6714
Could you perhaps point me to where I can start looking?

[2021-04-16 14:11] christian-bromann commented on #6714
I would take a look here: https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-utils/src/utils.ts#L89-L100

[2021-04-16 15:28] DudaGod opened #6721 "Why wdio pass "desiredCapabilities" with "capabilities" to /session? [w3c]"
Hello.

According to w3c specification - https://w3c.github.io/webdriver/#processing-capabilities field `desiredCapabilities` should not be transmitted. But I see that it is passed:
[code]

Moreover `desiredCapabilities` from jsonwp - https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol#status knows nothing about `browserVersion`.

It looks like that problem is here:
https://github.com/web

[2021-04-16 17:10] FrederickEngelhardt commented on #6649
@christian-bromann

🤦 looks like this approach does not make a difference at least for me since I have only 3 different global scope types I'm using.

Following typescript  documentation, **"types"** does not override basic `node_modules/@types` imports. Utilizing **"typeRoots"** would be the same thing.

Use case would be for devs with projects that have maybe 20+ (different packages) that have g

[2021-04-16 17:10] #6649 closed

[2021-04-18 13:28] christian-bromann commented on #6721
This is done intentionally to ensure that tests can be run on deprecated JSONWP as well as WebDriver endpoints. I believe it is a good idea to keep it around for a little while until everyone has moved on from JSONWP. Are you running into any issues having `desiredCapabilities` transmitted in the session request? Usually endpoints that speak WebDriver will just ignore it. Afaik there is no paragra

[2021-04-18 16:23] Trueside commented on #486
can you pls tell more about how to use it in tests, mb you have some example

[2021-04-19 09:59] kyryloonufriiev opened #6724 "Bug DevToolsDriver removes all cached elements when page loads new frames"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.4.6
 - **Mode:** standalone
 - **Node.js version:** 12.20.2
 - **NPM version:** 6.14.11
 - **Browser name and version:** Chrome 89
 - **Platform name and version:** MacOS 11.2.3
 - **Additional wdio packages used (if applicable):** devtools

**Config of WebdriverIO**
`automationPrococol: 'devtools'`

**Descr

[2021-04-19 10:30] christian-bromann commented on #6724
Thanks for reporting @kyryloonufriiev . Any contributions would be appreciated.

[2021-04-19 10:33] christian-bromann commented on #6659
The codemod is in a pretty good shape now and we exploring issues as we support organizations to migrate to WebdriverIO. Please follow updates on the codemod in its repository.

[2021-04-19 10:33] #6659 closed

[2021-04-19 20:13] mareru opened #6728 ""java.net.ConnectException: Connection refused: connect" after upgrade to webdriverIO v7"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.4.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.3
 - **NPM version:** 6.14.8 (yarn: 1.22.5)
 - **Browser name and version:** 90.0.4430.72
 - **Platform name and version:**  Windows 10
 - **Additional wdio packages used (if applicable):**
 Thi

[2021-04-19 21:24] christian-bromann commented on #6728
Hey @mareru , thanks for filling an issue in the WebdriverIO project.

This seems to be a tough one. While my initial gut feeling says this issue is infrastructure related and not in WebdriverIO, your comment on "it starts to happen after WebdriverIO" makes me think. Some questions:

- From which version did you upgrade from?
- What WebDriver backend are you running your tests against?
- How many

[2021-04-19 21:46] christian-bromann commented on #6554
It seems that it is unnecessary difficult to attach to a running session at the moment, trying something like:
[code]
even fails the initial design goal of this function due to `TypeError: Cannot assign to read only property 'isW3C' of object '#<Browser>'`. It would be great if this experience can be improved and all environment flags are properly transferred to the attach session.

Any contributi

[2021-04-19 22:01] christian-bromann commented on #3106
@janmatura this seems like a nice cross environment solution that could be added to the click command. Here is what I would suggest:

- add a click option like `waitForAnimationTimeout` which defaults to `0`
- if set we wait for animation as shown in the example above until the timeout is reached and the continue

Any contributions on this would be welcome!

[2021-04-19 22:03] christian-bromann commented on #3277
@enriquegh @wswebcreation didn't some of you had an example that we might can embed into the `@wdio/sauce-service`?

[2021-04-19 22:04] christian-bromann commented on #3450
Closing this due to inactivity and because of @BorisOsipov [comment](https://github.com/webdriverio/webdriverio/issues/3450#issuecomment-458676876).

[2021-04-19 22:04] #3450 closed

[2021-04-19 22:08] mareru commented on #6728
Hello @christian-bromann , thanks for the reply.

- From which version did you upgrade from?
I upgraded from version 5 to version 7.
Although I have to say that at first (when I wanted to upgrade to version 6) I only upgraded webdriverio dependency in `package.json` which I learned later on that is not the proper way to upgrade (I also needed to upgrade other webdriverio packages).
My `package.jso

[2021-04-19 22:13] christian-bromann commented on #3902
Closing due to inactivity. Given that reporters live in the worker thread it will be technically impossible to allow this. There are two option, one to make an additional service if post data handling is required or to have the reporter to export a service that needs to be added manually. This seems to be sufficient and I haven't seen many requests asking for this. We may evaluate such a feature a

[2021-04-19 22:13] #3902 closed

[2021-04-19 22:19] christian-bromann commented on #4038
I believe this change needs to be done [where we define the element prototype](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/utils/getElementObject.ts#L23-L27). I believe we can save some memory if we actually keep the scope as small as possible. This would be a breaking change which is why we should consider it for `v8`.

[2021-04-19 22:22] christian-bromann commented on #6728
What I mean by that is where do the WebdriverIO request go to? A local driver like chromedriver or do you have a custom Selenium Grid or use a cloud service like Sauce Labs?

Interesting, can you try to create a minimal example then? Or would that be too difficult given that this error happens randomly?

Yes, let's try that.

[2021-04-19 22:28] christian-bromann commented on #4065
Given that we are now using TypeScript I would like to revisit this initiative. I would still favor @AlexandreBonneau proposal being able to import a `Key` constant from the WebdriverIO package and use it like this:

[code]

or

[code]

[2021-04-19 22:29] mareru commented on #6728
It is a local driver like Chrome Driver that I mentioned before. (same on CI as well as on my local machine)

I can try to do that tomorrow - maybe copy all of my set up and provide some example tests towards public site.
It would be also good exercise to see if I can reproduce it.

Ok, I will be able also to do that tomorrow.

[2021-04-19 22:34] christian-bromann commented on #4080
Given there has been no further conversation on this issue I will go ahead and close. Happy to re-open if the proposal is more clear. Here are some things that are very confusing to me:

What is the return value suppose to be like?

This is possible with expect-webdriverio these days, right?

[2021-04-19 22:34] #4080 closed

[2021-04-19 22:36] christian-bromann commented on #4134
We had some improvements to our `dragAndDrop` command in #6600. If you all still experience any issues please re-open a new issue with a concrete example. Thanks everyone for contributing to this issue.

[2021-04-19 22:36] #4134 closed

[2021-04-19 22:39] christian-bromann commented on #4147
Closing due to inactivity. Most of the scripts are unit tested and the ones missing have almost no logic.

[2021-04-19 22:39] #4147 closed

[2021-04-19 22:44] christian-bromann commented on #4228
Any help on improving the debugging capabilities in WebdriverIO would be appreciated.

[2021-04-19 22:45] christian-bromann commented on #4317
Closing due to inactivity.

[2021-04-19 22:45] #4317 closed

[2021-04-19 22:45] christian-bromann commented on #4456
Closing due to inactivity.

[2021-04-19 22:45] #4456 closed

[2021-04-19 22:47] christian-bromann commented on #4484
This will be improved with introducing the deep selector in #6709

[2021-04-19 22:47] #4484 closed

[2021-04-19 22:48] #4488 closed

[2021-04-19 22:55] christian-bromann commented on #4547
Moving this discussion to #6730

[2021-04-19 22:55] #4547 closed

[2021-04-19 22:59] christian-bromann commented on #4723
I suggest to have the shared service expose its `getValue` and `setValue` function which both don't need any `browser` context. Then do it this way:

[code]

Any contributions would be appreciated. Please let us know if anything is unclear.

[2021-04-19 23:25] christian-bromann commented on #4776
Closing due to inactivity. I would say this is very difficult without additional support from the browser APIs.

[2021-04-19 23:25] #4776 closed

[2021-04-20 03:29] link89 commented on #6717
After some investigation, I believe `refetchElement` in some corner cases may lead to the problem.
I find a workaround for this problem by removing the following code as we have already handle stale elements at the top level.

https://github.com/webdriverio/webdriverio/blob/63a8e0247df06d782b26a38362dbd29450ad3bd3/packages/webdriverio/src/middlewares.ts#L34-L40

I didn't have a chance to deep dive

[2021-04-20 05:09] link89 commented on #6717
I think this assumption is also incorrect
https://github.com/webdriverio/webdriverio/blob/63a8e0247df06d782b26a38362dbd29450ad3bd3/packages/webdriverio/src/middlewares.ts#L22-L30

It makes `webdriverio` to make unnecessary `refetchElement` on the `no such element` error.

[2021-04-20 06:06] wswebcreation commented on #3277
Hi @christian-bromann

There is no way to use the sauce-storage for this. You can only access the sauce-storage for pre-run executables, not during the test.
This should become available with SauceCTL, but I'm not 100% sure when this is on the roadmap, we also need a WDIO SauceCTL solution

[2021-04-20 07:10] christian-bromann commented on #3277
Ok, will close this for now until we have a more reliable solution.

[2021-04-20 07:10] #3277 closed

[2021-04-20 07:22] christian-bromann commented on #6717
@link89 both are legitimate calls. One for handling missing elements and the other for stale element exception. It seems that WebdriverIO gets confused handling it in two areas, here in the middleware and the other in the [request handler](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriver/src/request.ts#L221-L229). I see the following warning popping up multiple times in the

[2021-04-20 07:42] link89 commented on #6717
Hi @christian-bromann  I am afraid I cannot provide you an example as it happens on a private project. I am not sure if `refetchElement` is the right way to handle stale element error. To me, the root cause of stale elements is people hold the elementId, which would become invalid when the dom has been changed.

Instead of wrting code this way,
[code]
The following code is more robust,
[code]
That

[2021-04-20 07:52] BorisOsipov commented on #6717
not sure. that's why refetch implemented.

[2021-04-20 07:59] link89 commented on #6717
@BorisOsipov The code is to explain the reason of the stale elements error. In our actual project, we will retry the `sendKeys` method if a stale element error is captured. It's just another story.

My point is that the stale elements may have been resolved by SDET eng themselves, so it would be great if `webdriverio` can allow me to turn it off. It's OK to turn it on by default, but an option to

[2021-04-20 07:59] christian-bromann commented on #6717
The refetch element logic does exactly what your code shows. If you skim through the logs if it detects a stale element error it fetches the element with the same selector again. The same your code is doing in your second example.

Why is that? Many people don't really know what this error means and aren't able to handle it themselves. This is why WebdriverIO has this retry logic.

Can you provide

[2021-04-20 08:04] DudaGod commented on #6554
Hm, yeah, you are right. It looks intuitive and very simple.

Ok. I will try find a time for it.

[2021-04-20 08:06] BorisOsipov commented on #6717
Oh get it.

seems reasonable for me.

[2021-04-20 08:08] DudaGod commented on #6721
Yes we have a problem in one piece of code, but it looks like we just need to fix it (increase priority for `capabilities`).

Thank you. I close it.

[2021-04-20 08:08] #6721 closed

[2021-04-20 08:12] link89 commented on #6717
Hi @christian-bromann  Yes, I know this. The `fetchElement` is a good idea. And I also agree that add delay before retry would make it better. The PR is not about fixing the problem but provide an option to turn it off in some corner cases that may lead to some unexpected behavior. For the most people, they won't even be aware of this change, but it would be useful when they have.

[2021-04-20 08:23] christian-bromann commented on #6717
Just adding an environment variable that is undocumented and only known by you doesn't seem like an option to me. Introducing such behavior tweaks through environment variables also doesn't seem sustainable because at some point we will have hundreds of these around the codebase and now one knows how to control the framework anymore. Random side effects will happen because someone forgot to delete

[2021-04-20 08:58] link89 commented on #6717
I have checked the code base and found there are cases of using envvar start with `WDIO_` before taking the action.

For me the `refetchElement` is good but it still has some limitations that make us can not count on it.
1. It is behavior would be unexpected due to lack of knowledge (like this) or some future changes, it would be a risk for us to depend on it.
2. There are use cases that will send

[2021-04-20 09:54] christian-bromann commented on #6717
I am not sure if I understand. What do you mean by lack of knowledge? What are you doing differently than the refetchElement middleware?

It is suppose to work with all commands, here is an example:

[code]

This results in the [same logs](https://gist.github.com/christian-bromann/7674da1c607f5af7fdae8dade96457e4). Maybe you can modify this example to reproduce your use case?

Yes, I had the same

[2021-04-20 11:32] #6663 closed

[2021-04-20 16:20] mareru commented on #6728
Hello @christian-bromann,
These are my updates:

- I pulled the version I have in CI (with webdriverIO 5) to my local machine and the thing is I got the same error for one of the scenarios. That being said I believe it is not related to the wdio upgrade after all
- on my CI in Azure this error with the old code base is not happening for some reason
- I am trying to run the code with the upgrade to

[2021-04-20 20:44] mareru commented on #6728
This is what I get when I try to open that POST request from the logs while my execution is still ongoing:
[code]
Does this give any more clues to you?

[2021-04-20 21:12] christian-bromann opened #6736 "`checkPWA` command is broken"
Currently the `checkPWA` command in the devtools service is broken. It passes for all applications even though they aren't really PWA applications because the parameter to filter for PWA checks isn't being passed along properly which results in [filtering for all checks](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-devtools-service/src/auditor.ts#L171) and always results in p

[2021-04-21 07:21] AnnikaNissen commented on #6280
For me, the issue still exists after updating to version V7. I'm using mocha - so it seems to be related to the webdriverio-mocha integration. My mochaOpts:
[code]

[2021-04-21 08:53] DudaGod opened #6738 "Set default webdriver options when call "attach" method"
When some of these options: `protocol`, `hostname`, `port`, `path` are not specified then default values from `detectBackend` - https://github.com/webdriverio/webdriverio/blob/72923b7bedbdd4c4e31280ba7d03450215a5998c/packages/webdriverio/src/utils/detectBackend.ts#L45 are not used because it is not call inside `attach` method.

**Environment (please complete the following information):**
 - **Webd

[2021-04-21 09:00] Joozty commented on #6206
Hi I think the typing is still wrong

when I use the example code I get these errors

[code]

Sandbox here:
https://codesandbox.io/s/typescript-playground-export-forked-2c920?file=/index.ts:0-340

[2021-04-21 09:05] christian-bromann commented on #6738
As I mentioned in the other issue the `attach` method could be improved in many ways. Any contributions is appreiciated.

[2021-04-21 09:24] DudaGod commented on #6738
Yeah, I remember it, but still decided to create issue for others who will faced with the same problem. Linked issue - https://github.com/webdriverio/webdriverio/issues/6554.

[2021-04-21 14:06] bruce-glazier commented on #6280
I did finally get it working correctly. My problem was that retries were being shown as individual test cases. This was because each retry attempt was given a new device on Saucelabs. In order for a test to be grouped together, it must have the same title and device name.

To resolve, I extended the AllureReporter class and made a couple small tweaks.

[code]
Then specify the CustomerAllureReporte

[2021-04-21 15:07] OlaoluwaM commented on #6714
I think I know what to do here.

Correct me if I am wrong but we will check the ``result`` argument for a script property, if one exists we return a placeholder right?

If so, where should I get the placeholder from and what kind of check should I perform to confirm the existence of the ``script`` property on the ``result`` object? Would it be the same checks as for the ``file`` property?

[2021-04-22 07:57] christian-bromann commented on #5074
I tried running this code:

[code]

and it worked without problems. The session and browser was closed normally.

[2021-04-22 07:57] #5074 closed

[2021-04-22 08:01] #5203 closed

[2021-04-22 08:03] christian-bromann commented on #5311
Given that there hasn't been any response for almost a year I will go ahead and close this issue. Without a reproducible example this issue is difficult to investigate. I am happy to re-open if such an example is available. Thanks!

[2021-04-22 08:03] #5311 closed

[2021-04-22 08:06] christian-bromann commented on #5399
Issues for this have been created: #6538 #6537 and #6536. If I missed anything from this proposal feel free to create a new issue.

[2021-04-22 08:06] #5399 closed

[2021-04-22 08:16] christian-bromann commented on #6247
@redonkulus @mohanraj-r I am not sure how I can best help you. The errors you mention in your [last comment](https://github.com/webdriverio/webdriverio/issues/6247#issuecomment-764211204) aren't TypeScript errors, these are actual JavaScript issues that should never happen if WebdriverIO is configured correctly. Maybe we are talking about multiple problems at once. To make helping you easier I sug

[2021-04-22 08:19] christian-bromann commented on #6259
@qvalero I recommend to update your WebdriverIO version to v7. We have overhauled the TypeScript setup and documented how you can enhance the browser object here: https://webdriver.io/docs/typescript#adding-custom-commands. If you like to help us investigate and fix the issue in v6 that would be awesome.

[2021-04-22 08:19] #6259 closed

[2021-04-22 08:23] christian-bromann commented on #6365
I think the only way to overcome this is to have an event for each keystroke. The problem I see is that no one knows when this problem occurs as no one can estimate when the CPU affects Chrome to behave this way. I am open to add an option to the `setValue`/`addValue` command to allow this but ultimately this seems to be a bug in Chrome and should be fixed there.

[2021-04-22 12:27] szory opened #6743 "afterStep hook is not triggered"
**Environment (please complete the following information):**
- "webdriverio": "7.5.1",
 - "@wdio/cli": "7.5.0"
 - "@wdio/local-runner": "7.5.0",
 - "@wdio/runner": "7.5.0",
 - "@wdio/sync": "7.5.0",
 - Node.js version: 12.18.4
 - NPM version: 6.14.6
 - "chromedriver": "^89.0.0"
 - Platform name and version: Windows 10
 - @wdio/cucumber-framework": "7.5.1",

**Describe the bug**
afterStep hook does

[2021-04-22 12:39] christian-bromann commented on #6743
@szory are you saying that the `afterStep` hook is not triggered because of the timeout?

[2021-04-22 12:49] szory commented on #6743
@christian-bromann , no, afterSteo Hook is not triggered after Timeout ex 60 sec.

[2021-04-22 14:52] christian-bromann commented on #6743
Probably an issue within the `@wdio/cucumber-framework` adapter. Any contributions to this would be very appreciated.

[2021-04-22 21:41] mohanraj-r commented on #6247
Thanks @christian-bromann

I did try to upgrade to v7 again recently as of v7.3.0 and now again to 7.5.1
* I refactored code to account for renamed types etc
* I created a tsconfig specific to wdio packages in the mono-repo
[code]
I am following the advice from the doc:

* I added config as suggested in the docs
[code]

But even after the above steps I keep running into errors. The latest set of e

[2021-04-23 08:43] erwinheitzman commented on #6247
One thing that stands out to me is the use of the following types `"webdriverio", "webdriverio/sync","webdriverio/async"`.
You only need `webdriverio/sync` or `webdriverio/async` out of these three. Dropping the other two might resolve the issue of conflict.

[2021-04-23 10:28] erwinheitzman commented on #6365
From my experience this happens because under the hood `setValue` uses `clearValue` to clear the input field. When this happens this often triggers an error stating `input cannot be empty`. Either it happens so fast that it's not an issue or it happens a tad slower and the error interrupts the input. My personal experience was that knowing this and working around the error resolved the issues.

Th

[2021-04-23 13:17] Trueside opened #6752 "'Cannot read property 'isW3C' of undefined'"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.4.2
 - **Mode:**  WDIO Testrunner, running sync
 - **Node.js version:** v14.16.1
 - **NPM version:** 6.14.12
 - **Browser name and version:**  Chrome "90.0.4430.85"
 - **Platform name and version:** "win32", "10.0.19042"
 - **Additional wdio packages used (if applicable):**
 - "@wdio/allure-reporter": "^7.4.

[2021-04-23 13:26] christian-bromann commented on #6752
Can you please provide the stacktrace and the piece of code where this error is thrown?

[2021-04-23 13:34] Trueside commented on #6752
findElement (c:\work\wwwwwwwwwwwwwwww\portal\e2e\node_modules\webdriverio\build\utils\index.js:232)
$ (c:\work\wwwwwwwwwwwwwwww\portal\e2e\node_modules\webdriverio\build\commands\browser\$.js:68)
get getBtnGetStarted (c:\work\wwwwwwwwwwwwwwww\portal\e2e\pageobjects\metamask.page.js:94)
doLoginToWallet (c:\work\wwwwwwwwwwwwwwww\portal\e2e\pageobjects\metamask.page.js:143)
<anonymous> (c:\work\wwwww

[2021-04-23 13:35] erwinheitzman commented on #6728
Could you perhaps set the `outputDir` and set your `logLevel` to `trace` and share the full logs when running this specific scenario (use a gist link)?

Of course you can filter sensitive data if there is any in the logs.

[2021-04-23 15:04] christian-bromann commented on #6752
This seems odd because `this` should definitely defined in here, can you provide a reproducible example please?

[2021-04-23 15:44] evilC opened #6754 "Add browser["browserName"] documentation to Multiremote documentation"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**
I am using Multiremote with a config such as
[code]
I am also use cucum

[2021-04-23 15:48] christian-bromann commented on #6754
@evilC would you like to take a stab at it and propose a change to the docs?

[2021-04-23 15:50] evilC commented on #6754
Well I am kind of new to wdio, so was unsure as to where to put it.
Would this be solely applicable to the "Using WDIO Testrunner" section, or would it be of use also in standalone mode?

[2021-04-23 15:57] christian-bromann commented on #6754
@evilC this would be also the case for standalone mode

[2021-04-23 16:33] arun-369 commented on #3367
Hello ,have you found the solution ? i have been trying from 1 week to do this

[2021-04-23 16:42] mareru commented on #6728
@erwinheitzman thanks for reaching out.

Here are my logs [gist](https://gist.github.com/mareru/f5d2facbce9fa4bcc0a65b6bd6e7b91c)

I have to mention that I tried to run the tests once in my office (I was able to go there finally) and I didn't get that error.
Also I went home and switched to my WiFi connection and didn't get that error (there were some other errors involved but that's a different s

[2021-04-23 16:49] Trueside commented on #6752
There is an example. I transferred all the necessary logic and files. The behavior a little bit different now and code in find Element was different
https://github.com/Trueside/bug_err

[2021-04-23 18:36] evilC commented on #6754
Done
https://github.com/webdriverio/webdriverio/pull/6755

[2021-04-23 18:42] evilC commented on #6754
Oh, and a quick question if I may - is there a simple way to get a list of browser instances?
I currently parse the `wdio.conf.js` file like so, but it feels a bit hacky

given
[code]

[code]

Thus giving me an object with two keys: `A` which points to `browserA` and `B` which points to `browserB`
ie is there a better way of obtaining the strings `browserA` and `browserB` ?

[2021-04-23 20:03] jbblanchet commented on #6557
@christian-bromann the fix didn't actually fix the issue for us. I've added a repro repo in https://github.com/jbblanchet/webdriver-bug, which is pretty vanilla. Please let me know if you need more details, or if you prefer I open a separate bug.

[2021-04-24 09:28] christian-bromann commented on #6754
@evilC yes, try `browser.instances`

[2021-04-24 09:38] christian-bromann commented on #6754
I incorporated this information into your PR. If you sign the CLA we can go ahead and merge it. Thanks a lot!

[2021-04-24 09:38] #6754 closed

[2021-04-24 09:40] christian-bromann commented on #6728
So it seems to be a network related issue. No matter what, WebdriverIO should at least retry this like normal WebDriver errors.

[2021-04-24 09:52] christian-bromann commented on #6752
After setting the project up (via `npm install`), when I run `npx wdio run wdio.mm.conf.js`:

- first error I am getting is `this.getBtnGetStarted is not a function` which is a bug that is not WebdriverIO related
- fixing this gets me to another WebdriverIO unrelated error `elem.waitForDisplayed is not a function`

After fixing that issue, the test suite passed. Please be careful with the followin

[2021-04-24 09:52] #6752 closed

[2021-04-24 09:53] christian-bromann commented on #3367
@arun-369 you can't access the browser context menu.

[2021-04-24 10:20] christian-bromann commented on #6728
Added a PR with a fix. Let's continue convo there: #6756

[2021-04-24 10:20] #6728 closed

[2021-04-24 10:36] evilC commented on #6754
D'oh, I swear I had looked for that, obviously not. Is this maybe worth adding to the documentation too?

[2021-04-24 11:11] christian-bromann commented on #6754
As I mentioned in my previous comment I did in your PR 😉

[2021-04-24 13:12] jbblanchet commented on #6557
@christian-bromann just saw the tags you added. I don't mind trying picking this up, but I just left on vacation for a week, and I have to onboard a new dev when I return, so it could be 10-15 days before I'm able to contribute.

[2021-04-24 14:37] Trueside commented on #6752
Thank you!

[2021-04-25 18:59] amodmahajan2016 commented on #6378
Facing same issue with @wdio/cli (v7.5.1) and node version as v14.16.1. I tried setting up strict SSL false but did not work.

[2021-04-25 19:29] amodmahajan2016 opened #6757 "wdio.conf.js is not created by command npx wdio config"
Node version -

C:\Users\aadit>node -v
v14.16.1

Npm version-
C:\Users\aadit>npm -v
6.14.12

### Steps to reproduce
1. npm install --save-dev @wdio/cli
2. npx wdio config
=========================
WDIO Configuration Helper
=========================

? Where is your automation backend located? On my local machine
? Which framework do you want to use? mocha
? Are you using a compiler? No!
? Where ar

[2021-04-26 07:32] christian-bromann commented on #6757
Thanks for filing the issue.

It seems that installing dependencies has failed for unknown reasons. I've addressed the bad error message in #6758. Please retry installing the dependencies. If it fails again please check the stdout/stderr for errors.

[2021-04-26 07:32] #6757 closed

[2021-04-26 08:48] christian-bromann commented on #6557
Fixed in #6759

[2021-04-26 08:48] #6557 closed

[2021-04-26 08:49] christian-bromann commented on #6738
Fixed in #6759

[2021-04-26 08:49] #6738 closed

[2021-04-26 12:03] kongory opened #6760 "Can't change window size for the multiremote mode"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.7.
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 14.16.0
 - **NPM version:** 6.14.11
 - **Browser name and version:** Chrome 90
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**

**Config of Webdriver

[2021-04-26 12:06] christian-bromann commented on #6760
It seems that when calling the `setWindowSize` we loose the scope of the browser instance. This error likely happens somewhere where we [attach the browser to the main instance](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/multiremote.ts#L55). Any contributions on this would be appreciated.

[2021-04-26 14:25] elaichenkov commented on #6760
Hey @kongory

Can you please provide a fully reproducible example and logs?

[2021-04-26 14:28] christian-bromann commented on #6760
@elaichenkov using the [multiremote example](https://github.com/webdriverio/webdriverio/tree/main/examples/wdio/multiremote) allowed me to reproduce it by replacing everything with:
[code]

[2021-04-26 15:54] elaichenkov commented on #6760
Hi @christian-bromann
Thanks for your reply.

In this case, the error occurs not on the `browser["browserA"].setWindowSize(1920, 1080)` step, it happens on the `browser.url('https://socketio-chat-h9jt.herokuapp.com/')` step and we will see this error every time when we are trying to use `browser` without specifying exact browser, in this case, it's `browserA`.
So, I believe that problem is [here](

[2021-04-26 16:58] amodmahajan2016 commented on #6757
@christian-bromann Yeah I can see error messages and tried installing those dependencies manually. I assume once all dependencies are in place then conf file should have created which is not happening. I feel the setup and installation of a tool should not be difficult this much.

[2021-04-26 17:02] christian-bromann commented on #6757
It usually isn't .. if you can tell me more about the error that you are seeing when installing dependencies manually because without this error everything would have gone just fine.

[2021-04-26 17:05] christian-bromann commented on #6760
Thanks @elaichenkov , let's continue our convo there.

[2021-04-26 17:05] #6760 closed

[2021-04-26 20:33] mohanraj-r commented on #6247
Thanks @erwinheitzman
FYI I am building on top of WDIO to offer both sync and async APIs - that is why I thought I needed both sync and async.

Anyways, I tried with just "webdriverio/sync" and then also with just "webdriverio/async" instead - same error in both cases `Error:  Unable to load spec files quite likely because they rely on `browser` object that is not fully initialised.`

[2021-04-26 20:45] constantine-photoshelter opened #6763 "Ability to extend page load timeouts for performance testing"
**Is your feature request related to a problem? Please describe.**
We are running performance testing that looks something like this:
browser.enablePerformanceAudits();
loginPage.open(); // this function opens a login page using browser.url();
loginPage.login();// this function enters credentials, presses logging, and validates that the page redirected as expected
libraryPage.open(path);//This ope

[2021-04-26 20:56] chanchow88 opened #6764 "Interaction with chrome browser gets stopped when running tests in parallel"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.2

[2021-04-26 21:03] christian-bromann commented on #6763
There are many types of timeouts in WebdriverIO. You can read more about it in [the docs](https://webdriver.io/docs/timeouts/). The timeout that you see breaking your tests are framework specific timeouts.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

[2021-04-26 21:03] #6763 closed

[2021-04-26 21:07] constantine-photoshelter commented on #6763
Sorry to have posted in the wrong place. I assumed incorrectly that I had experimented with all available timeouts. Thank you for your helps.

[2021-04-26 22:19] Askarov5 opened #6765 "Wdio CLI Wizard Improvement"
**Is your feature request related to a problem? Please describe.**
1. We(in the company) would like to create several webdriverio projects with the same configurations(to keep standards). Each time when a QA creates a new wdio project, he needs to ask which options to select on wdio CLI.

2. Building UI on top of webdriverio project, and I would like to be able to create a new project by selecting

[2021-04-27 18:20] fcarrasco92 opened #6766 "issue when set cookie in Chrome version 90.0.4430.24"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.1

[2021-04-28 05:40] vitalyiegorov opened #6772 "Incorrect typing of $(this:...) function"
**Describe the bug**
You cannot create correct typings for custom wrappers like `testID$(selector:string, context: WebdriverIO.Browser | WebdriverIO.Element)` and use them through `browser.addCommand(...)`.

**To Reproduce**
Example `testID` helper function:
[code]

See https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/browser/%24.ts#L61

It should have same ty

[2021-04-28 05:53] jayrepo commented on #6766
Check release note of chromedriver v90: https://chromedriver.storage.googleapis.com/90.0.4430.24/notes.txt. You are not able to set cookie for a different domain starting from v90.

[2021-04-28 07:11] christian-bromann commented on #6766
Thanks @jayrepo for this information. Didn't know this either.

[2021-04-28 07:11] #6766 closed

[2021-04-28 07:16] christian-bromann commented on #6772
I don't think this is the correct way of solving this. We should consolidate the commands similar how we did this with `$$`. It seems that the implementations for `$` for the browser as well as the element are the same.

[2021-04-28 12:07] erwinheitzman commented on #6247
Well the real issue is probably the `Error: TSError: ⨯ Unable to compile TypeScript` so first fix this ;)

[2021-04-28 13:09] fcarrasco92 commented on #6766
Hi @jayrepo

I don't understand the problem, because this configuration for the cookie.

cookie: {
    name: 'CF_Authorization',
    value: 'eyJhbGciOiJSUzI1NiIsImtpZCI6ImUxMjI1MWRmODQ5MjM1NDRjY2IwNGNkZGJjMWMzMGM3ODRlOGY4NWI4NWI0NGM2N2NhZWQ5ODFjNTVjOTZkNmUifQ.eyJhdWQiOlsiZjRiNjYzZTNlYjU2ODJjM2E1YjY1MzBiZjg3ZGY4Y2I4OGU0ODYwZDhhMGY4NGI3YTFmN2U3M2NkZmY1Y2NkNiJdLCJlbWFpbCI6ImV4dF9sZmNhcnJhc2NvZ0BGYWxh

[2021-04-28 18:42] erwinheitzman commented on #6765
When using your suggestion, mocha would be installed but you'd have no control over the version installed. Isn't this something you'd want to manage in say, a private NPM package instead of the suggestion above so that you not only have control over the configuration but also the package versions?

Don't get me wrong, I think it's a good feature to implement but I don't see how it will help your u

[2021-04-28 19:16] mohanraj-r commented on #6247
Thanks, Yes I noticed that - but the issues don't come when I run `tsc` directly on the project and they certainly didn't come with WDIO v6 - they are only surfacing when upgrading to v7.

When I run `tsc` specifically on the wdio test file, a different set of errors surface pointing to conflicts with existing packages - which could well be the source of the issue. Not sure why these
[code]

Again

[2021-04-28 20:08] Askarov5 commented on #6765
For now, we don't need npm package version control. It will be enough if it works the same way as installation CLI Q-A. As far as I know, when we go through them, it will install latest/compatible versions.
I believe that Simple solution will be better for QA team members(including less technical and new QA engineers) and It will be easy to share in the team without any additional actions like reg

[2021-04-28 22:42] facusantillo opened #6777 "@wdio/browserstack-service: Name is changed after every test even if the name capability is set"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.

[2021-04-29 03:32] jayrepo commented on #6766
When you open the url, you are redirected to sso page `fb.cloudflareaccess.com`, while you are at this page, you are not able to set cookie for `uat.sodimac.cl` as the domain is different.

And please remove your jwt token, it exposes some sensitive information.

[2021-04-29 06:23] uno-dos opened #6779 "`$$` command doesn't return elements in document order"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.5

[2021-04-29 06:46] christian-bromann commented on #6779
Why? Where is this defined? WebdriverIO returns what it receives from Protractor or the WebDriver protocol depending what you run. If you desire to select elements by their alphabetical order of that attribute you can do things like `$$("[test-id*='xyz-']").sort((e) => e.getAttribute("test-id"))`.

I am gonna close this as again, WebdriverIO just forwards what it gets from the automation protocol

[2021-04-29 06:46] #6779 closed

[2021-04-29 07:22] christian-bromann commented on #6777
The BS service automatically sets the name based on the test. I think it makes sense to respect the name property within the capabilities and take that one if defined. If anyone is interested to contribute to this, please do. Happy to help.

[2021-04-29 07:26] christian-bromann commented on #6764
@chanchow88 thanks for filing the issue, when running the [example project](https://github.com/chanchow88/test-project1) everything passed for me. Can you provide a reproducible example?

[2021-04-29 07:27] christian-bromann commented on #6717
ping @link89

[2021-04-29 09:41] BadNews87 opened #6780 "Test commands don't execute when running tests on IE11."
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.5

[2021-04-29 10:08] BadNews87 commented on #6780
My project is actually ```"@wdio/cli": "^7.0.3",``` - I tried to update to the newest version 7 it didn't help.

[2021-04-30 02:49] amodmahajan2016 commented on #6757
### When I run below command-
C:\AmodMahajan\WdioLearning> npx wdio config
=========================
WDIO Configuration Helper
=========================

? Where is your automation backend located? On my local machine
? Which framework do you want to use? mocha
? Are you using a compiler? No!
? Where are your test specs located? ./test/specs/**/*.js
? Do you want WebdriverIO to autogenerate some t

[2021-04-30 07:03] christian-bromann commented on #6757
Do you see any errors when installing the deps manually?

[2021-04-30 09:20] amodmahajan2016 commented on #6757
No. they are installed properly.

[2021-04-30 15:59] andreazcleafy opened #6784 "@wdio/junit-reporter does not add testcase when there is an error or assertion fail in the before function."
- **WebdriverIO version:** [6.4.]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [async]
 - **Node.js version:** [12.22.1]
 - **YARN version:** [1.21.1]
 - **Browser name and version:** [Chrome 70]
 - **Platform name and version:** [Ubuntu 20.04.2 LTS]
 - **Additional wdio packages used (if applicable):** [@wdio/junit-reporter, @wdio/local-runner, @wdio/mocha-framewo

[2021-04-30 17:09] johnson-tyl opened #6786 "'Session closed. Most likely the page has been closed' error seen when browser.mock called after browser.sessionReload"
**Environment:**
 - **WebdriverIO version:** v7 (but seen on v6 as well)
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.3
 - **NPM version:** 6.14.11
 - **Browser name and version:** Chrome 90
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**
    - @wdio/cucumber-framework
    - @wdio/l

[2021-04-30 18:10] jweingarten opened #6787 ""Error [ERR_STREAM_WRITE_AFTER_END]: write after end" after 7.5.3 upgrade"
Since we picked up 7.5.3 our parallel running Chrome/Saucelabs tests are failing randomly with `Error [ERR_STREAM_WRITE_AFTER_END]: write after end`
I know you want reproducible steps, but its extremely difficult to find them as the tests run in parallel.
I moved our pipeline back to use 7.5.2 and everything is fine again.

Failing package setup:
[code]

Working package setup:
[code]

i will work

[2021-04-30 18:59] christian-bromann commented on #6787
@jan-molak maybe related to your changes?

[2021-04-30 19:03] christian-bromann opened #6788 "Document package exports for `webdriverio`, `webdriver` and `devtools` package"
The `webdriverio`, `webdriver` and `devtools` packages all export functions to start a session, attach to one and start a multiremote session. These functions are documented nowhere. I suggest to extend https://webdriver.io/docs/setuptypes to include some information on parameter types and their behavior.

[2021-04-30 19:08] jan-molak commented on #6787
@jweingarten would you be able to keep the package versions as they were in your working setup and update just the local runner to 7.5.3 so we could try to narrow it down?

[2021-04-30 19:26] jweingarten commented on #6787
So only update `@wdio/local-runner` ? I can try that. Yes.

[2021-04-30 19:35] dadamschi opened #6789 "Error [ERR_REQUIRE_ESM] upgrading from v6 to v7"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7 (from v6)
 - **Mode:** TestRunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** v16.0.0
 - **NPM version:** 7.10.0
 - **Browser name and version:** Chrome 89
 - **Platform name and version:** MacOS
 - **Additional wdio packages used (if applicable):**
  "@wdio/cli": "7",
    "@

[2021-04-30 20:03] lawynnj commented on #6786
Hello @christian-bromann, do you mind if I take stab at this?

[2021-04-30 20:10] jweingarten commented on #6787
[code]
It fails with this setup. Not every time, but it does.
My reporters in the config are set to `reporters: ['spec', 'json'],`. When it fails the `wdio-x-x-json-reporter.log` is empty and the `wdio-x-x.log` seems fine.
The `wdio.log` also seems fine.

[2021-04-30 20:24] jan-molak commented on #6787
Thanks, I just managed to reproduce it locally too. Let me have a look.

[2021-04-30 20:42] jweingarten commented on #6787
Just FYI, when I see the failure my tests actually did not have any failures. Glad you found a way to reproduce it.

[2021-05-03 07:37] #6787 closed

[2021-05-03 12:32] gabezeck commented on #6777
@christian-bromann This is also an issue for my team. Given we run multiple test files per job, I'm not sure setting the name to the capabilities name would help - at least how we define them. Seems like using the initial describe block would be better. Doesn't that tend to provide the right context?

I am happy to do some work here, but want to make sure we have a good solution for the majority u

[2021-05-03 13:29] worenga commented on #5545
@christian-bromann the link you gave in 2019 is 404ing do you have any pointers where this issues can be debugged/fixed?

[2021-05-03 13:32] tzurp opened #6796 "Deep Selectors feature is not working in element search context"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.5

[2021-05-03 13:58] christian-bromann commented on #6777
This is the current behavior, right?

So if I understand the issue correctly the user wants to define the name of the job through their capabilities rather than having the service define it. This is a totally legit request. So in the `@wdio/browserstack-service` we have to add an if statement to not update the job name if a name is set within the capabilities.

[2021-05-03 14:02] christian-bromann commented on #5545
I updated the link, see also https://webdriver.io/docs/contribute

[2021-05-03 14:43] gabezeck commented on #6777
This might be my misunderstanding of the ask. I am referring to updates to the session name, not the build name. In our experience, the session name is updated to the currently running test, so ends up with the name of the last test block in the file.

[Screenshot](https://share.getcloudapp.com/rRuGB0zW)

If mine is a different ask and makes sense as one, I can open a new issue and work on a solut

[2021-05-03 14:50] christian-bromann commented on #6777
@gabezeck can you share the structure of your test?

The BS service should takes the first `describe` block and apply the name of the test to it. Could be that we are talking about a different issue here.

[2021-05-03 14:53] Joozty opened #6797 "Example in newWindow documentation doesn't work"
**Pre-check**
- [ x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ x] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**
A clear and concise description.

Example provided on [newWindow doc

[2021-05-03 14:53] gabezeck commented on #6777
Here is an example of test structure with the inner-code removed:
[code]

[2021-05-03 16:17] erwinheitzman commented on #6797
You linked to the `newWindow` command. When reading your description I think you meant to reference to closeWindow, can you share if this is the case and if so, please update the issue?

[2021-05-03 17:02] Joozty commented on #6797
The link is correct. Example present there contains closeWindow command which is problematic and should be updated to something like this:

[code]

[2021-05-03 20:14] lacell75 opened #6798 "Infinite loop and memory crash with $$(....)[xx].$(...) when the element is not found"
*Environment (please complete the following information):**
 - **WebdriverIO version:** 7.5.2
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.16
 - **NPM version:** 6.14.11
 - **Browser name and version:** Any
 - **Platform name and version:**  Windows 10
 - **Additional wdio packages used (if applicable):** "@wdio/cli": "^7.5.2",
    "@wdio/cucumbe

[2021-05-03 21:04] christian-bromann commented on #6797
@Joozty would you mind raising a PR and updating the example?

[2021-05-03 21:07] christian-bromann commented on #6789
WebdriverIO is not yet compatible as ESM module. We have a project for this created in [#17](https://github.com/webdriverio/webdriverio/projects/17). Any contributions to make this possible would be very appreicated.

[2021-05-03 21:55] christian-bromann commented on #6780
@BadNews87 it seems that your test fails with

[code]

which caused the other test to fail as well. Can you try to increase the timeout and retry?

[2021-05-03 21:56] christian-bromann commented on #6717
Closing due to inactivity. Happy to re-open this if a reproducible example can be provided.

[2021-05-03 21:56] #6717 closed

[2021-05-04 06:31] #6797 closed

[2021-05-04 07:06] christian-bromann commented on #6772
fixed in #6810

[2021-05-04 07:06] #6772 closed

[2021-05-04 07:49] christian-bromann opened #6811 "Make `@wdio/types` ESM compatible"

[2021-05-04 08:18] christian-bromann commented on #6811
This package doesn't export any functions, so it can be skipped.

[2021-05-04 08:18] #6811 closed

[2021-05-04 08:19] christian-bromann opened #6812 "Make `@wdio/protocols` ESM compatible"

[2021-05-04 18:41] kailin0512 commented on #6405
I got the same error, was anyone able to resolve this? Downgrade seems not a good option since devtools will have more features like code coverage in >7 correct?

[2021-05-04 18:46] kailin0512 commented on #6405
Also, since [Sync mode will not be supported in V8 of wdio](https://webdriver.io/docs/sync-vs-async/) should we just get rid of sync and use async? @christian-bromann

[2021-05-04 20:36] christian-bromann commented on #6405
@kailin0512 please read the RFC on our plans to move forward

[2021-05-05 11:45] th0car opened #6816 "Devtools Error on Selenium 4 Grid"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.5.3
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.18.1
 - **NPM version:**  6.14.5
 - **Browser name and version:** Chrome 90
 - **Platform name and version:** Selenium Grid 4.0.0-beta-3 is running on Openshift/Kubernetes 1.19, Tests are executed

[2021-05-05 11:54] BorisOsipov commented on #6816
@th0car can you show logs from `console.log(browser.capabilities)` ?

e.g.

[code]

[2021-05-05 12:29] th0car commented on #6816
@BorisOsipov - This is how it looks after correcting capabilities ("acceptInsecureCerts: true," was misplaced). Problem is still the same though:

[code]

[2021-05-05 12:32] markcellus commented on #5900
Still having this issue. Did any of you ever find a fix?

[2021-05-05 12:33] alinageorgianaiftode commented on #5900
No. This is still happening and I'm using the latest version of wdio.

[2021-05-05 12:35] alinageorgianaiftode commented on #5900
No fix found. The problem still exists and I'm using the latest wdio.

[2021-05-05 12:45] BorisOsipov commented on #6816
@th0car Thanks. At first sight all seems to be correct. We handle CDP connection for grid here
https://github.com/webdriverio/webdriverio/blob/24cfb104a95a9d9df73d8dee39cf6dae2f19b7c4/packages/webdriverio/src/commands/browser/getPuppeteer.ts#L55-L62

and it should work for your setup. Idk what is wrong and how to fix without access to Selenium 4 grid setup.

[2021-05-05 12:54] BorisOsipov commented on #6816
and not related to this issue but may be important for you.
`'se:cdp': 'http://10.7.117.176:5555/session/5088e1101da7941bff01c7612e14f98c/se/cdp',` - `10.7.117.176:5555` - seems to be selenium node ip not selenium server. So won't able to connect to it. Probably you can fix it by step from [issue/9202](https://github.com/SeleniumHQ/selenium/issues/9202#issuecomment-799435392)

[2021-05-05 13:01] th0car commented on #6816
Thank you @BorisOsipov  - You are right about the IP - it belongs to a node on the grid. I will have a look at 9202!

For anyone else looking into this:
The goog:chromeOptions was incorrectly set which I noted when logging browser.capabilities. After fixing this the "TypeError: browser.emulateDevice is not a function" error still occurs as well as the "ERROR @wdio/utils:shim: undefined"
The error

[2021-05-05 13:13] BorisOsipov commented on #6816
@th0car `browser.emulateDevice()` commands added here
https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-devtools-service/src/index.ts#L279

you can debug with few `console.log(smth)` to fing why service skipped adding command.

[2021-05-05 14:27] worenga commented on #5545
Apologies @christian-bromann but it doesnt seem the link got updated?

[2021-05-05 15:17] christian-bromann commented on #5545
see also https://webdriver.io/docs/contribute

[2021-05-05 18:13] kailin0512 commented on #6405
Thanks, I will follow up with RFC to decide our project's future direction.
In the same time, I looked deeper into this question, it seems caused by rewriting devtools/index.js to typescript
This maybe cause the sync browser is not the same browser for async, so
[code]
is not working and cause this error. I try to print this, and it just shows null

Do you have suggestions on which file to look at

[2021-05-05 18:28] brinkins commented on #6405
not sure if it is the right solution, but I've changed delete this._browser.puppeteer; to this._browser.puppeteer = null and seems to work

[2021-05-05 18:44] kailin0512 commented on #6405
In my case I did the same, but there are some errors that prevent the correct output, not sure if that related to this reload
[code]

But I assume that browser.puppeteer exists for a reason, if you print that variable out, it is just null, so unable to delete/set to null might miss the desired feature I assume @brinkins

[2021-05-05 18:59] christian-bromann commented on #6405
@kailin0512 can you provide a minimal reproducible example?

[2021-05-05 19:01] #6796 closed

[2021-05-05 19:02] kailin0512 commented on #6405
Are there any examples from wdio side I can fork and make some modifications and provide a reproducible example? @christian-bromann

[2021-05-05 19:04] christian-bromann commented on #6405
Check our [examples](https://github.com/webdriverio/webdriverio/tree/main/examples) but creating a new repo works as well.

[2021-05-05 19:06] brinkins commented on #6405
@christian-bromann just run browser.reloadSession() will throw the error, latest wdio and devtools service

[2021-05-05 19:22] kailin0512 commented on #6405
https://github.com/kailin0512/webdriverio-debug @christian-bromann try this

[2021-05-05 19:32] kailin0512 commented on #6405
With
[code]
 will work in this minimal example, but not on a complex project, so I am not sure if this will be this simple fix

[2021-05-05 20:23] lacell75 commented on #6798
After investigation, I think the issue is in [`middlewares`](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/middlewares.ts) or [`getElementObject`](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/utils/getElementObject.ts)
If we select the first element of elements array $$(...)[0], the elementErrorHandler is called once. But if we want

[2021-05-06 08:20] christian-bromann commented on #6786
@lawynnj sure! Please let me know if I can help you in any way.

[2021-05-06 09:35] christian-bromann commented on #6405
PR with a fixed was created. Closing.

[2021-05-06 09:35] #6405 closed

[2021-05-06 11:07] guruprasadsr2805 opened #6834 "Getting an error when running "npx wdio config" command"
**Environment (please complete the following information):**
 - **WebdriverIO version: 7.5.6
 - **Mode: WDIO Testrunner
 - **If WDIO Testrunner, running sync/async: sync/async
 - **Node.js version: 15.6.0
 - **NPM version: 7.11.2

**Config of WebdriverIO**
An example of how you configured WebdriverIO config

**Describe the bug**
I created a new project with "npm init -y" and installed wdio cli wit

[2021-05-06 11:25] christian-bromann commented on #6834
This is fixed in #6833

[2021-05-06 12:05] #6834 closed

[2021-05-06 15:09] th0car commented on #6816
New findings:
I have tried to configure my environments so that I can have NODE_TLS_REJECT_UNAUTHORIZED set to 1 for all my testprojects (including those that use the same Selenium grid and test target host as in the sample above) However the project that use devtools apparantly requires some additional certificate at some point where the other tests don't since setting  NODE_TLS_REJECT_UNAUTHORIZ

[2021-05-07 04:55] ashishnarmen commented on #5545
The correct link is https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-utils/src/test-framework/testFnWrapper.ts

[2021-05-07 14:32] th0car commented on #6816
Problem was solved by setting NODE_EXTRA_CA_CERTS to the path to a self signed cert that seems to be required by devtools at some stage.

[2021-05-07 14:32] #6816 closed

[2021-05-07 17:08] klamping commented on #6540
Just an update. I'm having some compilation errors with adding the scripts back in. Not sure what's going on, so stuck trying to figure that out.

[2021-05-08 21:43] jonn-set opened #6838 "WDIO7 - Incompatibility between `@cucumber/cucumber` `Before/AfterStep` & WDIO `before/afterStep`"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.3
 - **NPM version:** 6.14.5
 - **Browser name and version:** Chrome 90
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**
    - @cucumber/cucumber

[2021-05-09 22:22] OlaoluwaM commented on #6714
@christian-bromann ?

[2021-05-10 07:59] christian-bromann commented on #6714
That seems like a good solution to me.

Just define one

Yes.

Would it be the same checks as for the `file` property?

Yes.

[2021-05-10 10:22] wswebcreation opened #6839 "Async (TS) samples are not working with Jasmine and Expect"
**Describe the bug**
When using the default examples from WDIO in combination with Jasmine the following code fails

`await expect(SecurePage.flashAlert).toHaveTextContaining('You logged into a secure area!');`

Because the promise is not resolved before executing the assertion

**To Reproduce**
Set up a new project by following the instructions from https://webdriver.io/docs/gettingstarted and ch

[2021-05-10 13:37] vacav opened #6845 "Version 7.5.1 was the last version that load page correctly"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.5

[2021-05-10 15:02] christian-bromann commented on #6845
Can you please elaborate what issue you are experiencing? Error logs? Reproducible example?

[2021-05-11 06:56] chanyk-joseph commented on #6839
Hi @christian-bromann, the same issue also happens in (async, js, jasmine, expect) sample
I suspect the root cause is the same

`
 "spec" Reporter:
------------------------------------------------------------------
[chrome 84.0.4147.125 linux #0-0] Running: chrome (v84.0.4147.125) on linux
[chrome 84.0.4147.125 linux #0-0] Session ID: d731f839ad4130c2d45c85d6d35f8e1c
[chrome 84.0.4147.125 linux #0

[2021-05-11 09:37] fabianschmider opened #6847 "Mobile Device "setValue()" - unknown error: 'value' must be a list"
Webdriver IO is using Saucelabs to run the tests.
Actually I run a mobile device for my test:
{
        base: 'SauceLabs',
        browserName: 'chrome',
        appiumVersion: '1.9.1',
        deviceName: 'Samsung Galaxy S9 WQHD GoogleAPI Emulator',
        deviceOrientation: 'portrait',
        version: '9.0',
        platform: 'Android'
}

If I want to set a text with "element.setValue("abc");"

[2021-05-11 15:04] christian-bromann commented on #6780
Seems that 100s is not enough.

[2021-05-12 12:17] unickq opened #6849 "spec reporter - flag to print only failed tests in summary"
**Is your feature request related to a problem? Please describe.**
I think sometimes it might be useful to see only failed specs output in summary

**Describe the solution you'd like**
A flag in the config.
[code]

[2021-05-12 13:43] christian-bromann commented on #6849
Seams like a reasonable request, would you like to take a stab at it?

[2021-05-12 18:40] unickq commented on #6849
Yep, done in https://github.com/webdriverio/webdriverio/pull/6852

[2021-05-13 00:56] twang-bgl opened #6853 "Please support Mocha Option - "diff""
**Is your feature request related to a problem? Please describe.**
When comparing two objects by using "chai-subset", if "diff" is true in mocha, the detailed differences will be displayed in the error message, but wdio does not support this option.

**Describe the solution you'd like**
Enable "diff" option in wido.conf.js -> "mochaOpts"

**Describe alternatives you've considered**
I am using "dif

[2021-05-13 05:48] razielron opened #6854 "browser.keys('\uE007') sends an unsupported character instead of pressing ENTER"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.4.2
 - **Mode:** how can I know (we have- "runner: 'local'" in conf)
 - **If WDIO Testrunner, running sync/async:** sync mode
 - **Node.js version:** 12.8.3
 - **NPM version:** 7.6.1
 - **Browser name and version:** chrome 90
 - **Platform name and version:** Windows 10

**Describe the bug**
using the comman

[2021-05-13 12:09] christian-bromann commented on #6854
Duplicate of #6661

[2021-05-13 12:09] #6854 closed

[2021-05-13 12:13] christian-bromann commented on #6853
Duplicate of #5035

I recommend to use WebdriverIOs built in [assertion library](https://webdriver.io/docs/api/expect-webdriverio) which already has support for it.

[2021-05-13 12:13] #6853 closed

[2021-05-13 12:15] christian-bromann commented on #6849
Let's continue convo in #6852

[2021-05-13 12:15] #6849 closed

[2021-05-13 12:58] christian-bromann commented on #6847
@fabianschmider which Appium version are you using and what is the Chromedriver version? Can you provide some logs as well?

[2021-05-13 13:16] christian-bromann commented on #6839
@mgrybyk any idea? Help on this matter would be appreciated. I assume this issue is related to our `expect-webdriverio` lib.

[2021-05-13 14:21] christian-bromann commented on #6839
Fixed in #6855

[2021-05-13 14:21] #6839 closed

[2021-05-13 14:48] christian-bromann commented on #6838
mhm .. I don't see really any incompatibility. I checked out your example and added an afterStep as well as logged for before/afterHook in the wdio.config, this results in the following:

[code]

I believe this makes perfectly sense. Happy to continue the discussion and eventually re-open if I miss-understood the issue.

[2021-05-13 14:48] #6838 closed

[2021-05-13 15:30] jonn-set commented on #6838
Hi @christian-bromann

A better way to test this is to remove the cucumber hook completely from hooks.js file and then you will see what I mean. What's in `beforeStep` and `afterStep` is repeated, I have highlighted the repeating logs in bold below. If you remove the BeforeStep/AfterStep from hooks file, the logging will be correct, there wont be any repetition.

[0-0] beforeHook - wdio
[0-0] befo

[2021-05-13 16:22] christian-bromann commented on #6838
So if I understand correctly:

[code]

?

[2021-05-13 17:37] jonn-set commented on #6838
But I dont have a `beforeHook` in my `wdio.conf`, just `beforeStep` & `afterStep`. And the problem is only seen if they are coupled with `BeforeStep` &/or `AfterStep` hook offered by cucumber 7.

I am attaching 2 more files, one where cucumber hooks are present and one where they are not, I have removed all unnecessary steps/actions/logs in this:

1. With cucumber hooks: [with-cukes-hooks.zip](htt

[2021-05-14 08:37] Xotabu4 opened #6857 "Error on attempt to install wdio wait for with wdio cli"
**Environment (please complete the following information):**
 - "@wdio/cli": "^7.5.7"

**Log**
[code]

[2021-05-14 08:41] Xotabu4 commented on #6857
https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cli/src/constants.ts#L125

probably value here should be updated to match package name - `wdio-wait-for`

[2021-05-14 08:51] christian-bromann commented on #6857
Correct, fixed in #6858

[2021-05-14 08:51] #6857 closed

[2021-05-14 09:22] christian-bromann commented on #6764
Closing due to inactivity.

[2021-05-14 09:22] #6764 closed

[2021-05-14 10:29] jonn-set commented on #6838
@christian-bromann what's your opinion? still think its not a bug?

[2021-05-14 11:19] christian-bromann opened #6859 "Make Cucumber before/after step hooks trigger before/after wdio hooks"
Please see #6838

Currently if you have an `beforeStep` or `afterStep` hook defined in Cucumber it would trigger the `beforeStep`/`afterStep` WebdriverIO hooks where in reality it should trigger `beforeHook`/`afterHook`.

As this is a breaking change let's plan a fix for v8.

[2021-05-14 11:24] christian-bromann commented on #6838
I am honestly not getting where there is an "incompatibility". Taking for example:

[code]

Why is the afterStep executed out of place? Please note that wdio hooks wrap single steps and ignore cucumber hooks attached to certain cucumber steps. So what you assume is

[code]

while in reality it is implemented as:

[code]

So WebdriverIO wraps hooks into before/after and steps into before/after, the

[2021-05-14 12:02] jonn-set commented on #6838
@christian-bromann, the reason for wording is because this is only happening when we couple Cucumber `BeforeStep`/`AfterStep` with wdio `beforeStep`/`afterStep`,

Thank for creating a new issue.

[2021-05-14 12:07] jonn-set commented on #6859
Thanks for this, @christian-bromann.

Can we have this fixed in v7 please? Otherwise we will have to skip v7 completely and wait for v8, we need scenario tag details in `afterStep` which you were exposing in v6 through `step.scenario`  but was removed in v7, the only way is to get details is from `AfterStep` of cucumber but as soon as we introduce it we see this issue.

[2021-05-14 12:20] gabezeck commented on #6777
@christian-bromann Just wanted to bump this. Please see the above.

I thought this might be the culprit:
https://github.com/webdriverio/webdriverio/blob/d67012b87b48724157f2e6ac403f9b5a9e784299/packages/wdio-browserstack-service/src/service.ts#L87

[2021-05-14 12:21] christian-bromann commented on #6777
@gabezeck please get involved if you want to see a fix for this (see `help wanted` label 😉 )

[2021-05-14 12:24] christian-bromann commented on #6859
Mhm .. this is a breaking change, however probably not many people would be impacted. Do you want to take a stab at this?

[2021-05-14 13:56] jonn-set commented on #6859
I can have a look but where do I start? `wdio-cucumber-framework`?

[2021-05-14 15:31] christian-bromann commented on #6859
Yes in particular [cucumberEventListener.ts](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cucumber-framework/src/cucumberEventListener.ts) and [reporter.ts](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cucumber-framework/src/reporter.ts)

[2021-05-14 18:13] gabezeck commented on #6777
@christian-bromann More than happy to throw my hat in the ring, was just responding to your question above. I can try to carve out some time :)

[2021-05-14 19:05] dwentland-ds24 commented on #6784
Hi,
this is fixed already in https://github.com/webdriverio/webdriverio/pull/5812 and available in v6.5.1.
Should this also be fixed int v6.4?

[2021-05-14 20:26] christian-bromann commented on #6784
Yes

[2021-05-15 11:00] guneetgarg opened #6861 "Unable to switch to WebView Contexts"
Trying to Automate android app and we are switching from native to webview but **getContexts** is showing only one view

    "@wdio/cli": "^7.5.7",
    "@wdio/local-runner": "^7.5.7",
    "@wdio/mocha-framework": "^7.5.3",
    "@wdio/spec-reporter": "^7.5.7",
    "@wdio/sync": "^7.5.7",

![image](https://user-images.githubusercontent.com/3676026/118357477-05174680-b598-11eb-9b66-def69bb56bab.png)

[2021-05-15 12:40] jonn-set commented on #6859
Well I was wondering if I can add `scenario` object back into step passed to `afterStep` & `beforeStep`, that will solve my problem TBH.

I will add it as a function to utils, can call it something like `buildStepDetails` and call it below in `index.js`, will also change the definition in `types.ts`, this way I can get scenario details including tags and someone who's more skilled can fix this iss

[2021-05-15 13:18] wswebcreation commented on #6861
This is not Appium nor WebdriverIO related but in 99.99% of the case that the Android app is not a debug app.
Please contact your developers and let them show this https://developer.chrome.com/docs/devtools/remote-debugging/webviews/

[2021-05-15 13:18] #6861 closed

[2021-05-15 18:08] sqagithub opened #6863 "waitForExist is not a function"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 devDependencies": {
    "@babe

[2021-05-16 02:05] trizau opened #6864 "Proxy Setup does not work"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**
A clear and concise description.

I tried to proxy as in [document](htt

[2021-05-16 10:23] nilskasseckert opened #6865 "wdio/sync does not work with Node 16"
**Describe the bug**
With node 16 fibers does not work anymore as you can see [here.](https://stackoverflow.com/questions/67330252/thread-id-key-0x7777-function-find-thread-id-key-file-src-coroutine-cc/67383621#67383621) But wdio/sync uses fibers. Therefore it does not work anymore. Switching to Node 15 is only a short term solution, as Fibers will stop working for all releases >= Node 16.

**To R

[2021-05-16 10:35] BorisOsipov commented on #6865
@nilskasseckert see https://github.com/webdriverio/webdriverio/discussions/6702

[2021-05-16 10:35] #6865 closed

[2021-05-16 14:09] AutomationReddy commented on #6863
@sqagithub This is sync issue. Please surround your tests with async and await like below and it should work: (You can also install @wdio/sync package and it will be taken care including asynchronous but not recommended; see [here](https://webdriver.io/docs/sync-vs-async))

[code]

[2021-05-16 17:07] jonn-set commented on #6859
@christian-bromann I think I managed to find a fix for the issue and changes needed is to `index.ts` mainly.

Adding this to `addWdioHooks` function in `index.ts` fixes the execution sequence, I am attaching `passed` object to end of `afterStep` so that we know the test has passed.

[code]

The `wrapStep` function was changing the `beforeStep` & `afterStep` into `beforeHook`/`afterHook` hence were

[2021-05-17 05:56] fabianschmider commented on #6847
Hi @christian-bromann,
AppiumVersion: **1.9.1**
Chrome: with Saucelabs: **browserName: 'chrome'** (I think this should be the latest version)
Logs: [logs.txt](https://github.com/webdriverio/webdriverio/files/6491439/logs.txt)

[2021-05-17 06:25] wswebcreation commented on #6847
@Fabianopb

Please try to use a newer version of Appium. 1.9.1 does not support Android 9.
You can for example use 1.20.1. Can you verify if it works after changing to a newer version?

[2021-05-17 06:47] fabianschmider commented on #6847
Hi @wswebcreation ,
yes - with a higher version of appium all works fine.
Thank you very much!!

Fabian Schmider

[2021-05-17 06:47] #6847 closed

[2021-05-17 08:38] christian-bromann commented on #6863
Thanks for responding @AutomationReddy

[2021-05-17 08:38] #6863 closed

[2021-05-17 08:38] christian-bromann commented on #6845
Closing due to inactivity.

[2021-05-17 08:38] #6845 closed

[2021-05-17 13:39] andrew-james-yoti opened #6873 "Webdriver-io Component not found after route navigation"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - "wdio-chromedriver-service":

[2021-05-17 23:20] jonn-set commented on #6859
@christian-bromann can you review the changes, I have also tested it by linking the package to my local project.

Below is the order in which it runs:
![image](https://user-images.githubusercontent.com/10925588/118568006-c687b480-b76e-11eb-8360-e9c52c989080.png)

[2021-05-17 23:22] jonn-set commented on #6786
@lawynnj @christian-bromann any update on this, please?

[2021-05-18 05:35] jamesmortensen opened #6876 "Link to the guide on how to link WebdriverIO to current project is broken."
**Pre-check**
- [ X] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [X] Missing documentation
- [ ] Other

**Description of the improvement / report**

There is a link which sounds like it would describe how to link Webdr

[2021-05-18 07:03] #6876 closed

[2021-05-18 14:47] swendlandt opened #6877 "Exclude files from code coverage"
**Is your feature request related to a problem? Please describe.**
If I take code coverage as described in https://webdriver.io/docs/devtools-service/#capture-code-coverage the devtools-service tries to intercept and transform all loaded js files, including third-party libraries. This is extremely unperformant if you load big third-party libraries. Also in most cases I am not interested in the cov

[2021-05-18 14:53] christian-bromann commented on #6877
Thanks for filing the issue, contributions on this are much appreciated.

[2021-05-18 19:54] unickq opened #6879 "@wdio/mocha-framework - randomize spec execution order"
**Is your feature request related to a problem? Please describe.**
Is that possible to implement randomizing option for mocha? Or it's not an option because of the original **mocha** plugin?

Found out that **jasmine** has it, so raising this question

[2021-05-18 20:33] christian-bromann commented on #6879
@unickq this would need to be implemented in Mocha, see also mochajs/mocha#902. I recommend to get involved in the project and contribute to it.

[2021-05-18 20:33] #6879 closed

[2021-05-19 10:07] jamesmortensen opened #6880 "Add an onComplete hook in @wdio/reporter so reporters know when all the tests are completed."
**Is your feature request related to a problem? Please describe.**

While looking through and attempting to build custom reporters, I've observed there is no onComplete hook that runs in the reporter at the very end of the entire test run. A hook at the end would allow us to do something like generating a report or uploading a report to a remote server, for example.

I see ReportPortal and Delta R

[2021-05-19 10:39] christian-bromann commented on #6880
With v5 we moved all reporter into the worker instance for performance reasons. Reporters generally should not run any async code as they essentially only listen on events and log them somewhere somehow. This is why some reporters with extra functionality come with services. While it is an overhead in terms of setup it is currently how the plugins are designed. There was already a discussion on th

[2021-05-19 11:12] gauravkrp opened #6881 "ERROR webdriver: Request failed with status 200 due to Response has empty body"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.1.2]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running async:**
 - **Node.js version:** [ 14.0.0]
 - **NPM version:** [ 6.14.1]
 - **Browser name and version:** [Chrome 90]
 - **Platform name and version:** [Windows 10]
 - **Additional wdio packages used :** [@wdio/spec reporter - 7.2.0,]

**C

[2021-05-19 11:55] christian-bromann commented on #6881
Could you provide more information how you run the test? A reproducible example maybe?

[2021-05-19 13:10] gauravkrp commented on #6881
Here you go https://github.com/gauravkrp/wdio_test

[2021-05-19 13:47] kingIZZZY opened #6882 "Eager / early page load automation not available for devtools"
When automating using `automationProtocol: 'devtools'` eg. on Chrome
How to run automations very early at earliest possible point during page load?

With WebDriver for example there is a capability [`'pageLoadStrategy'`](https://w3c.github.io/webdriver/#dfn-table-of-page-load-strategies) which can be set to `'eager'` or even `'none'`

This capability does not seem to be implemented for WebdriverIO

[2021-05-19 14:25] christian-bromann commented on #6882
What needs to be done here is to have the `devtools` package acknowledge the capability and make sure Puppeteer behaves the way the capability is set when it transitions through pages.

[2021-05-19 14:27] kingIZZZY commented on #6882
Was trying to dig into puppeteer & Dev Tools Protocol to figure out how is `pageLoadStrategy` implemented so as to try to figure out how can the effect (or similar) be achieved from WebdriverIO

Some random findings so far:

- [page_load_strategy.cc](https://source.chromium.org/chromium/chromium/src/+/master:chrome/test/chromedriver/chrome/page_load_strategy.cc;l=14)
- [Selenium WebDriver Browser.

[2021-05-19 14:31] christian-bromann commented on #6881
I can't reproduce this problem on my Mac machine, can you set logLevel to `trace` and provide the logs?

[2021-05-19 14:33] christian-bromann commented on #6882
I think a fix should be applied to [this code area](https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/devtoolsdriver.ts#L236) where we wait for the document to be ready.

[2021-05-19 14:55] gauravkrp commented on #6881
I did as you suggest. Hope it helps you and helps me resolve it.
![image](https://user-images.githubusercontent.com/12250556/118835033-441f0200-b8e0-11eb-9582-c4e0d3805d34.png)

[2021-05-19 15:03] christian-bromann commented on #6881
Can you re-try and remove `'goog:chromeOptions'` before?

[2021-05-19 15:09] gauravkrp commented on #6881
I did it and retried, still the same issue :(

[code]

[2021-05-19 15:17] christian-bromann commented on #6881
mhm .. unfortunately I don't have a Windows machine an am unable to investigate the issue. Any help would be appreciated.

[2021-05-19 15:24] gauravkrp commented on #6881
Thank you for considering! I shall watch this space for a solution.

if you can, I can provide remote desktop access.

[2021-05-19 17:19] kailin0512 commented on #976
Hello @christian-bromann Thank you for your explanation.

One more thing I want to check is that if the code coverage is not included in the e2e tests, how do we know when the test cases are enough? Like without this we just need to trust developer and QE that feature has been fully automated but in reality they might not have covered all combinations of use cases.

And probably to separate unit t

[2021-05-19 17:22] wdioAutomationUser opened #6883 "Electron app as binary issue"
Hi i am getting ERROR webdriver: Request failed with status 500 due to session not created: session not created
[0-0] from no such window: window was already closed
[0-0] (Session info: chrome=80.0.3987.134)
[0-0] 2021-05-19T16:37:06.994Z ERROR webdriver: session not created: session not created
the window gets opened it is binary electron app but then gets closed and above error is displayed
kind