[2019-07-08 10:37] PippoRaimondi commented on #4148
@christian-bromann this would also help me. Assign this one to me, I will have a crack at it and give feedback of the progress sometime this week.

[2019-07-08 10:58] christian-bromann commented on #4115
@pk-saxena nope .. I don't have Windows so I can't help with this. I also just see that this issue is for v4 which we don't actively maintain anymore. We recommend to upgrade to v5 or if that is not possible try to provide a fix that we can release. Thanks!

[2019-07-08 10:58] #4115 closed

[2019-07-08 12:57] Kignuf commented on #4143
Note: I've tested this issue with wdio configured to use mocha framework and this also is reproducible. So this indicates that the issue is not related to the framework being used.

[2019-07-08 13:21] WillBrock commented on #4143
@Kignuf You can add an empty object as the second parameter and it'll fix it. I'll have a PR up shortly with the fix.

`const wdio = new Launcher(`${__dirname}/wdio.conf.js`, {});`

[2019-07-08 13:44] Kignuf commented on #4143
Nice catch, thanks @WillBrock !
Should I close the ticket then ?

[2019-07-08 13:56] WillBrock commented on #4143
No problem. Once we get the fix merged we can close this.

[2019-07-08 16:33] mgrybyk opened #4153 "Add Changelog and Roadmap links to README.md"
**Description of the improvement / report**
Add links to changelog and roadmap to readme.md for better visibility.

[2019-07-08 17:00] #4143 closed

[2019-07-08 19:31] naohashizume opened #4154 "Cannot switch iframe due to 'id' can not be string."
**Environment (please complete the following information):**
 - **WebdriverIO version:** ^5.10.9
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.15.3
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 75
 - **Platform name and version:** MacOS 10.14.5
 - **Additional wdio packages used (if applicable):**  @wdio/spec report

[2019-07-08 19:49] naohashizume commented on #4154
I tried
[code]

But it didn't work =(

[2019-07-08 20:25] CrispusDH commented on #4154
Try just `browser.switchToFrame($('#storybook-preview-iframe')`

[2019-07-08 20:48] naohashizume commented on #4154
It worked! Also it worked with `browser.switchToFrame(0);` too. Thanks! 😆

[2019-07-08 20:49] #4154 closed

[2019-07-09 07:18] scsannallitw opened #4155 "setValue for iOS does not clear the text before setting values"
- **WebdriverIO version:** 5.10.10
 - **Node.js version:** 12.1.0
 - **Platform name and version:** ios 12.2 app

** Description**
I'm trying to use setValue() functionality. For android, by default  it does clearValue() and then addValue(). Where as for iOS it does not clear the Value. It just appends the value to the existing;

**Expected behavior**
It should clearValue() before appending value

[2019-07-09 07:56] christian-bromann commented on #4155
Please provide the Appium logs. This doesn't help at all.

[2019-07-09 08:07] scsannallitw commented on #4155
[appiumlogs.txt](https://github.com/webdriverio/webdriverio/files/3371868/appiumlogs.txt)

Thanks Chris for quick response. Adding log file

[2019-07-09 08:24] christian-bromann commented on #4155
As you can see in the logs a clear command was sent:
[code]
This is a bug in Appium or the automation framework that is being used. Closing.

[2019-07-09 08:24] #4155 closed

[2019-07-09 11:34] christian-bromann opened #4157 "Cucumber: compile options in not recognised"
With the latest Cucumber release it seems like the compile option is not recognize and is being ignored. For people that want to integrate Babel you can use this workaround in your config:

[code]

[2019-07-09 14:27] mo commented on #3084
@nicholasbailey can you post your patch even if it's not finished? if so, then maybe @mike-d-davydov can finish it

[2019-07-10 03:47] dtboy1995 opened #4161 "How to disable log output?"
When the script runs, it will output a lot of logs. How to not output? Any help will be appreciated

[2019-07-10 07:47] christian-bromann commented on #4161
Just set [`logLevel`](https://webdriver.io/docs/options.html#loglevel) to `silent`.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-07-10 07:47] #4161 closed

[2019-07-10 09:08] popescunsergiu opened #4163 "afterStep function parameters are undefined"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-07-10 09:11] dtboy1995 opened #4164 "How to scroll in android?"
**Thanks for the great library**
*On an Android phone with a height of 1920*
[code]
above code not works.
and other question
Can you tell me how to use this function?
[code]
### Any help would be greatly appreciated

[2019-07-10 09:44] akloeber opened #4165 "Not possible to call original function on different element in overwriteCommand"
**Environment (please complete the following information):**
 - **WebdriverIO version:** @5.10.7
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.16.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome 75
 - **Platform name and version:** Mac OS 10.14.5
 - **Additional wdio packages used (if applicable):**
[code]

**Describe

[2019-07-10 09:58] mgrybyk commented on #4165
It's work as designed, original function is bound to original element.

[2019-07-10 10:05] mgrybyk commented on #4165
You may add some command instead of overwriting existing.

[2019-07-10 10:07] christian-bromann commented on #4164
Please check the gesture helpers we have in our [Appium Boilerplate](https://github.com/webdriverio/appium-boilerplate/blob/master/tests/helpers/Gestures.js) project. Cheers!

[2019-07-10 10:07] #4164 closed

[2019-07-10 10:09] akloeber commented on #4165
Has that been a specific design decision? To me it feels like an unnecessary limitation. There might be a technical reason to prevent rebinding but from a "design" perspective only I can't see a reason why that should be forbidden.
Still, I think it's a valid use case to extended the value resolution in order to also cover custom rich components.
Of course I could add a custom command but in this

[2019-07-10 11:56] mgrybyk commented on #4163
Will be fixed with https://github.com/webdriverio/webdriverio/pull/4166

[2019-07-10 11:56] #4163 closed

[2019-07-10 12:21] mgrybyk commented on #4165
It was way easier to implement the way it is currently working. It is not a design limitation.
I agree that having more flexibility is better.

PRs are welcomed!

[2019-07-10 12:29] DeepTom opened #4168 "I am currently using latest WebdriverIO. I am not able to find the a way or method to close a tab in a browser using WebdriverIO. Could someone please help me to know if such method exist or how can I achieve this."
**Describe your question with as much detail as possible**
A clear and concise question that doesn't require too much conversation. Need more help? [Find us on Gitter](https://gitter.im/webdriverio/webdriverio)

**If it's about a specific piece of code, try and include some of it to support your question.**
[...]

**Environment (please complete the following information):**
 - **WebdriverIO versio

[2019-07-10 12:38] christian-bromann commented on #4168
See https://webdriver.io/docs/api/webdriver.html#closewindow

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-07-10 12:38] #4168 closed

[2019-07-10 12:42] DeepTom commented on #4168
The webdriver link you gave is not helpful in my case as I am looking for closing a tab not a Window. Please correct me if I am incorrect. Anyways, I will go to gitter .

[2019-07-10 12:43] christian-bromann commented on #4168
You will close a top level browsing context which can be both. In WebDriver there is no differentiation between them. Only when you open a new top level browsing context you have to specify tab or window.

[2019-07-10 12:44] mgrybyk commented on #4157
@christian-bromann have you tried using `requireModule` ?

[2019-07-10 12:45] christian-bromann commented on #4157
you mentioned that this works, we should remove all `compile` properties in `cucumberOpts` the docs then.

[2019-07-10 12:45] mgrybyk commented on #4157
I tested it only for TypeScript.

[2019-07-10 12:47] mgrybyk commented on #4157
aha, this doc should be updated https://webdriver.io/docs/configurationfile.html

[2019-07-10 13:20] christian-bromann commented on #4157
Let's have it there too

[2019-07-10 14:06] ducle91 commented on #4134
So I found a temporary hotfix with this package. https://github.com/html-dnd/html-dnd, this will allow you to use the dragAndDrop functionality. Follow the example from the repo and it should get you up and running.

[2019-07-10 15:27] mgrybyk commented on #4157
We need a volunteer that can make sure docs are valid, I'm updating right now

[2019-07-10 15:34] nextlevelbeard opened #4170 "[Cucumber + v5] Using a positive look-ahead in Step RegExp throws Exception"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.4.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Firefox stable
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/spec reporter

[2019-07-10 15:57] mgrybyk commented on #4170
@nextlevelbeard are you sure this is webdriverio specific?
I saw something similar here https://github.com/cucumber/cucumber-js/issues/872

[2019-07-10 16:00] mgrybyk commented on #4170
It should be 2 arguments according to your regexp

[2019-07-10 16:04] nextlevelbeard commented on #4170
The

Can you double check? I believe it shouldn't.
The second parentheses represents a positive-look-ahead, not a capture group.

[2019-07-10 16:05] #4157 closed

[2019-07-10 16:06] nextlevelbeard commented on #4170
Since I'm not using tables in my example, I don't believe it's the same problem.

[2019-07-10 16:28] naohashizume opened #4171 "Can't use moveTo() & positionClick() or buttonDown() on Chrome"
**Environment (please complete the following information):**
 - **WebdriverIO version:** ^5.10.9
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.15.3
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 75
 - **Platform name and version:** MacOS 10.14.5
 - **Additional wdio packages used (if applicable):**  @wdio/spec report

[2019-07-10 16:30] mgrybyk commented on #4170
@nextlevelbeard it reproduces for me even with simple
`Given("qwe {string}", () => {})`
if I passed no args to it.

Your regexp `"I open the Issue page".match(/^I (?:go to|open) the (.*)(?= page$)/)` results into `["I open the Issue", "Issue"]`.

May it be the problem?

[2019-07-10 17:23] christian-bromann commented on #4171
The `positionClick` command is not supported in many browsers anymore. Use the [`performAction`](https://webdriver.io/docs/api/webdriver.html#performactions) to do similar things with the WebDriver protocol. If you have further questions please join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm

[2019-07-10 17:23] #4171 closed

[2019-07-10 18:29] PHUITesting opened #4172 "Documentation for webdriverio incorrectly says element when it means element id."
// webdriver.io example
driver.touchScroll({
  el: element,
  xOffset: 10,
  yOffset: 100
});

Error:
     Wrong parameters applied for touchScroll
Usage: touchScroll(xoffset, yoffset, element)

Property Description:
  "xoffset" (number): the x offset in pixels to scroll by
  "yoffset" (number): the y offset in pixels to scroll by
  "element" (string): ID of the element where the scroll starts

Fo

[2019-07-10 22:00] anto-ac commented on #3106
I’m sure I’m not saying anything groundbreaking here, but this is my usual approach:

[code]

Obviously this can added as a custom command. Whether it’s something you’d want on the wdio api, that’s a different story.

[2019-07-10 22:46] christian-bromann commented on #4172
Can you propose a fix? I am not quite sure what you are talking about.

[2019-07-11 00:46] PHUITesting commented on #4172
The proposed fix would be updating the docs here - http://v4.webdriver.io/v3.4/api/protocol/touchScroll.html

To include in the description that it has to be an id property of an element, not just an 'element'. I think the error message is more descriptive than the docs.

Can I pull request the docs somehow?

[2019-07-11 06:15] wswebcreation opened #4175 "CucumberJS: `before` and `after` hook are printed to the console as `undefined`"
**Environment (please complete the following information):**
 - **WebdriverIO version:** `5.11.1`
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** Sync
 - **Node.js version:** `v10.15.2`
 - **NPM version:** `6.9.0`
 - **Browser name and version:** -
 - **Platform name and version:** -
 - **Additional wdio packages used (if applicable):** `@wdio/spec-reporter`, `@wdio/cucumber

[2019-07-11 06:28] mgrybyk commented on #4175
I can take a look later on today

[2019-07-11 06:34] christian-bromann commented on #4172
Yes, just press on the `Edit` button.

[2019-07-11 07:35] wswebcreation commented on #4175
@mgrybyk Awesome and thanks. It's not high priority, it's only a little bit verbose 😉

[2019-07-11 08:29] nextlevelbeard commented on #4170
Both expressions match the Gherkin Step to the Step Definition.
It matches with
[code]
and with
[code]

Otherwise, `null` would be returned.

For both those cases, index zero is the match, and index 1 is the first (and only) capture group / argument. For both cases the step definition is matched to the Gherkin step.

The problem is in the first case, webdriverIO throws an Exception, assumes the St

[2019-07-11 09:23] nemisj opened #4177 "safe-buffer not in package.json for WebdriverIO package"
Hi Guys,

Is there a reason why safe-buffer is not included as dependency inside webdriverio (v5) package.json? It's used here https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/browser/saveRecordingScreen.js#L23

I'm using now yarn [pnp](https://yarnpkg.com/lang/en/docs/pnp/) and it's more strict with dependencies

[2019-07-11 09:37] christian-bromann commented on #4177
This seems to be a bug.

[2019-07-11 09:42] nemisj commented on #4177
ok, cool, I'll make a PR for that

[2019-07-11 09:43] christian-bromann commented on #4177
I am on it already

[2019-07-11 09:44] #4177 closed

[2019-07-11 09:48] christian-bromann opened #4179 "Add EsLint check for dependencies"
Yesterday we released a new version where a dependency was added to a sub package but not added as a dependency in the package.json. For some reason an Eslint check for this is not in place. This should be fixed so we don't introduce such bugs again.

[2019-07-11 09:49] wswebcreation commented on #4170
@nextlevelbeard

I've been checking this with a different framework that is also using CucumberJS and I got the same issue. this is not related to WebdriverIO, but the upgrade to CucumberJS V5.

Just an example, this is with Protractor and CucumberJS 5

[code]

[code]

My editor already provides me the info that the step `Given I go to the Issues` doesn't have a matching  step.

Secondly when I ru

[2019-07-11 09:49] christian-bromann commented on #4177
Created follow up ticket: https://github.com/webdriverio/webdriverio/issues/4179

[2019-07-11 11:43] christian-bromann opened #4180 "Upload coverage report for every PR"
In order to better document how well we are doing in terms of code coverage let's update the final report made by Jest to S3 and make it accessible to reviewers. The codecov we use for checking feels a bit clunky to scroll around the files.

_AC_:
- write a script that uploads the directory (`/coverage/lcov-report`) to the `coverage.webdriver.io` S3 bucket
- register after test hook in travis.yml

[2019-07-11 15:41] #4175 closed

[2019-07-11 15:41] Kignuf opened #4182 "Allow custom keys from wdio.conf file to be transmitted to browser.options"
**Is your feature request related to a problem? Please describe.**
In v4, additional properties setup within wdio.conf.js file were transmitted over to browser.options. This is no longer the case in v5.
I am migrating my test suite from v4 to v5 and thus I am wondering if this change is intentional or not.

**Describe the solution you'd like**
wdio.conf.js
[code]

testFile.js
[code]

**Describe al

[2019-07-11 16:09] akloeber commented on #4165
@mgrybyk OK, I try to provide a backwards compatible PR.

[2019-07-11 16:24] Kignuf opened #4183 "[v4 to v5] How to attach cucumber scenario logs to allure reports ?"
**Describe your question with as much detail as possible**
Hello, I am migrating from v4 to v5, using cucumber framework.
In v4, it was possible to provide a node writable stream to webdriverio and that is where logs would be written ([see doc here](http://v4.webdriver.io/guide/getstarted/configuration.html#logOutput)). I have implemented a writable stream that saves logs into separate files for e

[2019-07-12 07:51] dtboy1995 opened #4184 "How do I use regular expressions in xpath selectors?"
[code]

Is there any syntax like this?

[code]
How can I dynamically match content-desc?
thanks a lot!

[2019-07-12 08:40] christian-bromann commented on #4184
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-07-12 08:40] #4184 closed

[2019-07-12 08:45] christian-bromann commented on #4183
There is currently no way to attach logs to an existing stream.

[2019-07-12 08:50] christian-bromann commented on #4182
See https://webdriver.io/docs/browserobject.html#get-config-options

[code]

[2019-07-12 08:50] #4182 closed

[2019-07-12 08:54] lukaszfryc opened #4185 "Should a test fail if error thrown in beforeTest()?"
A test does not fail if an error is thrown in `beforeTest()`. Is it the correct behavior? I'd expect it to fail.

**To Reproduce**
[code]
[code]

[2019-07-12 08:58] lukaszfryc commented on #4058
I'm having an issue resizing Edge 18 on LambdaTest. About 50% of time, the browser window is not resized. I'm using: `browser.setWindowSize(1440, 900);`

Is there a way to fix it?

[2019-07-12 09:15] christian-bromann commented on #4058
This is most likely a driver issue and needs to be reported in the Edgedriver project.

[2019-07-12 09:16] christian-bromann commented on #4185
Yes, wdio hooks are not interfering with the result of the test. If you want to let your test fail use the framework hooks.

[2019-07-12 09:16] #4185 closed

[2019-07-12 13:27] Kignuf commented on #4182
Oh I missed than one, thanks !

[2019-07-12 14:21] Kignuf commented on #4183
Thanks for the info. What I meant is, maybe there is a way to save my logs into separate files for each scenario, but implemented completelly differently.

I am struggling a bit to understand how webdriverio works in regards to the logging mechanism.
When I set my outputDir to undefined I do get a rather neat logging to the console, similar to v4. However when it set that to a path, my client logs

[2019-07-12 14:33] christian-bromann commented on #4183
What is messy? We create a log file for every worker.

Nope. This is the designed behavior.

[2019-07-12 15:09] Kignuf commented on #4183
Sorry I think my message was a bit missleading.
I'll make a proper bug report to explain why I find the logs inside wdio-X-X.log file to be hard to read and "messy".

I've been through webdriverio code and I'm starting to grasp a bit better how it's working, especially the role of @wdio/logger and the fact that it is currently not possible to alter its behavior. Indeed I feel a but stuck with my p

[2019-07-12 15:42] snfinnegan opened #4187 "switchToWindow() throws error using Chrome and npx"
I found that when I tried to use browser.switchToWindow() I was always getting the following error `'handle' must be a string` when using Chrome. I didn't get it with Firefox. It works as expected
I looked into it further and also got it with browser.newWindow() or browser.switchWindow() which both in turn call browser.switchToWindow().
So I can distill getting the error with the following lines

[2019-07-12 18:01] simo-eskalera commented on #4129
@baruchvlz Sorry for the delay. it looks like not all the components children have corresponding dom nodes. I'm using material-ui react components and `UsernameField` is a wrapper for `TextField` which in turn is a component wrapper. I found out by logging the `UsernameField` tree:

### Debug code
[code]
### Output
[code]
The one I'm looking for is the last node in the hierarchy: `input`
So now th

[2019-07-12 19:01] livemixlove opened #4188 "Porting scroll functions from v4 -> v5."
I'm looking for a way to scroll a page by an arbitrary x, y distance or scroll with offset in v5.   Currently, I can only find element.scrollIntoView() for scrolling.  This is insufficient for when I need to  scroll past an element by a certain amount.  I found on stackOverflow that people would use browser.touchScroll() for this, but this doesn't seem to be defined in my v5 webdriverio setup.  (T

[2019-07-12 22:32] jorgepOktana opened #4190 "[Cucumber +v5] How to get step/scenario feature status using hooks?"
Hey, i have a minor issue finding step/scenario/feature status and i use them on my projects as part of wdio hooks.
I am using the **cucumber** framework and i  do certain actions when a step fails (like take a screenshot)
On wdio v4 i used to do this as an after step but now its not working:
[code]

I have tried passing(and logging) step, stepResult, scenario or feature but i dont see anything re

[2019-07-12 23:20] mgrybyk commented on #4190
@jorgepOktana
Step Result is the fifth argument, see here https://github.com/webdriverio/webdriverio/pull/4166

[2019-07-13 00:09] jorgepOktana commented on #4190
Thanks for your answer, yet i dont think im getting the same logs as you...
im doing this:
``
afterStep: function () {
        console.log('result ', result)
    },
``
and im getting this on the console:
``
result  tests/cucumber/features/createjob.feature
``

[2019-07-13 08:20] akloeber commented on #3388
@christian-bromann One limitation with the suggested approach here using WDIO's `afterTest` hook and also for mocha's `afterEach` hook, is that `reporter.onTestEnd()` is executed before those hooks, so that (depending on the reporter implementation) the screenshot does not make it into the report. This is the case for the Mochawesome reporter that we are using.

[2019-07-13 08:23] mgrybyk commented on #4190
@jorgepOktana  please see message about, you are passing first arg, but it should be fifth

[2019-07-13 11:14] christian-bromann commented on #4190
@jorgepOktana please see the docs, the parameter have changed: https://webdriver.io/docs/configurationfile.html

[2019-07-13 11:14] #4190 closed

[2019-07-13 11:17] christian-bromann commented on #4188
PRs are welcome!

[2019-07-13 11:19] christian-bromann commented on #4187
@snfinnegan please provide WebdriverIO as well as driver logs!

[2019-07-13 11:21] christian-bromann commented on #4183
We are happy to accept PRs if they help the community with their testing needs.

Are you gonna update this or can this be closed?

[2019-07-13 18:31] psubrambe commented on #4147
Whether your are expecting a Test Framework that has all the WDIO methods been used ? If yes, can i work on the same ?

[2019-07-13 18:42] psubrambe opened #4191 "Smart Selectors"
**Is your feature request related to a problem? Please describe.**
No it is not a problem ,It is a feature enhancements and more user friendly

**Describe the solution you'd like**
A method for WDIO which doesn't need any Xpath/CSS(locators) instead of that by providing the existing text to find the elements.
**Describe alternatives you've considered**
Taiko 1.0(Gauge) is providing the Smart Selec

[2019-07-13 20:38] CrispusDH commented on #4191
Do you understand how it works in Gauge?

[2019-07-13 20:40] CrispusDH commented on #4147
What scope do you want to cover using e2e tests?

[2019-07-13 20:49] christian-bromann commented on #4147
Just the scripts that we inject using the `execute` command. Just that. In v4 we did e2e test all commands but that ended badly because you end up testing the driver instead of the framework. I could be also an option to test these scripts using Jest and mock all the interfaces. If this is easier than I am all for it.

[2019-07-13 20:50] christian-bromann commented on #4191
Can you please describe in more detail what you describe?

[2019-07-14 07:54] arcmorales commented on #4137
Hello @wswebcreation, question for sauce-service..

when we upgraded webdriverIO to v5, we installed `@wdio/sauce-service` because it would automatically update the status of our test in Saucelabs RDC. Previously on v4, we had to use `testobject_api` https://www.npmjs.com/package/testobject_api/v/2.0.0 package to update the status.

This was then our packages after our initial update to v5:
[code]

[2019-07-14 12:54] michael-confiant opened #4192 "@wdio/cucumber-framework - no cucumber logs"
**I have two same cucumber steps described in my steps.js file. When I run wdio I have the scenario failed with no reason specified, all the steps after and including the duplicated one are skipped. I'm using spec reporter. What I want to see is an error like:**
 Multiple step definitions match:
         /^a test page "([^"]*)"$/ - src/steps.js:164
         /^a test page "([^"]*)"$/ - src/steps.js

[2019-07-14 13:39] michael-confiant commented on #4192
The answer is failAmbiguousDefinitions: true which should be in wdio.conf.js in cucumberOpts. For some reason, it's not added to the default config file created by @wdio/cli. Thus, the standard behaviour was very unclear for me.

[2019-07-14 13:39] #4192 closed

[2019-07-14 13:53] jlin-namely opened #4193 "Cannot find module Undefined when using latest cucumber framework in v5"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-07-14 19:34] christian-bromann commented on #4193
I am not sure what to do with this. I only see a bunch of unformatted code and no description about the error. Please have a look at our [Cucumber Boilerplate](https://github.com/webdriverio/cucumber-boilerplate) project to get up and running.

[2019-07-14 19:34] #4193 closed

[2019-07-15 09:39] dziraf commented on #3572
I personally got it compile by using `require` instead of `import`:
[code]
However, it would be nice to have type definitions.

[2019-07-15 09:42] snfinnegan commented on #4187
@christian-bromann
Are you looking for the WebdriverIO version? - I've reproduced with both v5.10.7 & v5.11.4
Which log can I provide you with? I've attached a json file (changed file ending to .txt to attach) from the reports folder. Is the stacktrace what you're after?

[code]

[2019-07-15 10:17] christian-bromann commented on #4187
@snfinnegan can you provide the whole logs and not only the stack trace? Also it would be helpful if you could share the test code that is failing!

[2019-07-15 10:36] snfinnegan commented on #4187
@christian-bromann
[code]

[2019-07-15 10:57] #4165 closed

[2019-07-15 12:10] gtilekar opened #4195 "ERROR: Cannot read property 'steps' of undefined after nodejs update from 6 to 10"
**Environment (please complete the following information):**
 - WebdriverIO version: 4.14.1
 - Mode: Standalone mode
 - Node.js version: v10.15.1
 - NPM version: 6.4.1
 - Browser name and version: Chrome v68
 - Platform name and version:  Windows 7
 - Additional wdio packages used (if applicable):
    "wdio-allure-reporter": "^0.8.3",
    "wdio-browserstack-service": "^0.1.18",
    "wdio-cucumber-

[2019-07-15 12:12] christian-bromann commented on #4195
Not really without reproducible example. We recommend to update to v5 of WebdriverIO and follow allow [this boilerplate](https://github.com/webdriverio/cucumber-boilerplate) to setup the project. Let us know in the [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) ch

[2019-07-15 12:12] #4195 closed

[2019-07-15 12:17] gtilekar commented on #4195
I have tried with webdriverio": "5.11.2 but it showed below error so i downgraded it to 4.
internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot find module 'C:\...... node_modules\webdriverio\build\lib\launcher'

Gitter is blocked in our company :(
so cannot chat on that.

[2019-07-15 12:19] christian-bromann opened #4196 "make `isSauce` flag to actually indicate if user runs test on Sauce"
Currently the `browser.isSauce` flag indicates only if the session uses the extended debugging capabilities of Sauce Labs. Given the nature of all other flags this is kind of misleading as one would expect that if this flag is `true` it would just mean that the session runs on Sauce Labs no matter if extended debugging is enabled or not.

_AC:_
- change the flag so that it indicates that the sessi

[2019-07-15 12:22] christian-bromann commented on #4195
That is unfortunate. Maybe your IT team can whitelist it? As this is a setup issue we only can refer you to our boilerplates which are tested and work.

[2019-07-15 12:35] mgrybyk commented on #4170
Closed according to @wswebcreation

Please feel free to reopen if it is wdio related.

[2019-07-15 12:35] #4170 closed

[2019-07-15 12:44] christian-bromann opened #4197 "@wdio/spec-reporter: make sure test link is also provided when running tests with SauceLabs using Sauce Connect"
Currently if you run tests through Sauce Connect the link to the job details page is not provided as the [`getTestLink`](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-spec-reporter/src/index.js#L98) method checks the hostname in the config which can be localhost when running via Sauce Connect. Let's change this and make sure this also works in that case. A good additional in

[2019-07-15 12:57] Rob-Meijeren opened #4198 "@wdio/cucumber-framework steps ambiguous while only defined once"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-07-15 13:16] nextlevelbeard commented on #4187
@snfinnegan Try to remove the `w3c: true`  in your goog:chromeOptions.
This is a bug with latest chrome. It now supports the W3C spec by default and there is no need to pass that option. If it is passed, this bug occurs.

Removing that option fixed it for me.

[2019-07-15 13:21] nextlevelbeard opened #4199 "@wdio/spec reporter: Include table in Steps"
This is basically it: include the table, if provided, in the report generated by the `@wdio/spec-reporter`.
It should be properly formatted so it looks pretty :)

[2019-07-15 13:37] gtilekar commented on #4195
I found that some scenarios are running while some are not.

so i created a simple scenario from my findings.

below scenario runs with example 1. but throws error for example 2

    Scenario Outline: User can Login
        Given User <user> with <password> and is logged in

       1. Examples:
            | user         | password |
            | 1234         |                |

       2. Example

[2019-07-15 13:39] snfinnegan commented on #4187
Thanks @nextlevelbeard. I can confirm removing the `w3c: true` worked.

[2019-07-15 13:39] #4187 closed

[2019-07-15 13:52] christian-bromann commented on #4198
Can you please format the code in your issue and provide a detailed explanation about the problem?

[2019-07-15 14:04] Rob-Meijeren commented on #4198
@christian-bromann I formatted the config and logs properly now. The problem in itself is pretty basic so there is not much to be detailed about but i'll try.

Coming from a setup with webdriverio v4 where my tests were running after migrating to v5 I see the following error coming up:

[code]

As can be seen in my config above I do include all my step files, page objects and a helper class throug

[2019-07-15 14:16] christian-bromann commented on #4198
Thanks for clarifying. Looks like a bug. However I am not sure how you setup the project, can you provide some clarification on that too? Did you defined hooks somewhere?

[2019-07-15 14:22] Rob-Meijeren commented on #4198
@christian-bromann The only hooks that I use are in the before and after hooks in the config itself. The rest of the project setup as defined on the webdriverio website

[2019-07-15 14:31] christian-bromann commented on #4198
@Rob-Meijeren it would be helpful to get a reproducible example, maybe by making a PR to our [Cucumber Boilerplate](https://github.com/webdriverio/cucumber-boilerplate) that would show the bug happening there.

[2019-07-15 14:48] psubrambe commented on #4191
The proposal is instead of using Xpath/CSS can we just simply provide the text which is visible in browser
For Example
Launch the Google Search Page
There is two buttons Google Search and I'm Feeling Lucky

In Normal Sceanrio we will provide the
 xpath : (//input[contains(@value,"Google Search")])[2]
to the .click(xpath).

Instead of above scenario user will provide only visible text or links like

[2019-07-15 15:25] christian-bromann commented on #4191
@psubrambe if you want to take a stab at this great! Something like smart selectors definitely sounds like useful thing for the community. If you expect this to be implemented by someone else you need to provide much more information than this simple example.

[2019-07-15 15:49] Rob-Meijeren commented on #4198
@christian-bromann well I found the bug and it was my own fault :) I was calling the launcher myself and as one the options I was giving the cucumberOpts again. This got merged with what I already had in my config and therefore it had included the same files twice.

However I do have another question for you christian but I will make another ticket for that

[2019-07-15 15:49] #4198 closed

[2019-07-15 15:53] jlin-namely commented on #4193
@christian-bromann It is my first time logging a defect so I am not sure if I file it well.  As I has described that I have used the same package.json and config from cucumber boilerplate but the getting the following error:

[code]

[2019-07-15 16:45] psubrambe commented on #4191
Sure ,I am trying to explore more on this subject .In soon i will come up with more details.

[2019-07-15 16:49] drewctate commented on #3106
Similar story @anto-ac
[code]

[2019-07-15 17:05] mgrybyk commented on #4133
@frg-tarasov first of all there are some problems with your example, not all promises are properly resolved.
Secondly there are no big difference between sync mode and normal mode.

For sure sync mode is a bit slower because we need to wrap functions and / or maybe because of Fibers.

I'm posting my results:

![image](https://user-images.githubusercontent.com/25589559/61234457-67505780-a733-11e9-8

[2019-07-15 17:11] sumanthvakacharla commented on #3159
actions.move_to(element, x,y) and actions.perform() produces the exception mentioned in the below:

Exception: Message: An unknown server-side error occurred while processing the command. Original error: *** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[0]

(
	0   CoreFoundation                      0x0000000106e0a1e6 __exceptionPreprocess + 294
	1   lib

[2019-07-15 17:16] Sumanth9318 commented on #3159
TouchAction() class
actions.move_to(element, x,y) and actions.perform() produces the exception mentioned in the below:

Exception: Message: An unknown server-side error occurred while processing the command. Original error: *** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[0]

(
0 CoreFoundation 0x0000000106e0a1e6 __exceptionPreprocess + 294
1 libobjc.A.

[2019-07-15 17:30] christian-bromann commented on #4133
As @mgrybyk mentioned it could be related to the fact that this goes through the Fibers plugin which runs in C

[2019-07-15 17:42] alexbuicescu commented on #3813
I have a similar problem, but in my case I had 2 `webdriverio.remote(options)` calls chained in a `Promise.all(...)` and as a fix I just initialised them one at a time, with a sleep function in between:
[code]
To be easier for others to understand it, I went from this:
[code]
To this:
[code]

[2019-07-15 17:44] drewctate commented on #4134
Sending all the drag-and-drop actions except `pointerUp` and then calling WDIO's `click()` on the target element worked for me.

[2019-07-15 17:52] ducle91 commented on #4134
Could you send a snippet of those actions?

[2019-07-15 21:11] CrispusDH commented on #4191
I don't see nothing smart in finding Element by text :).

[2019-07-15 21:42] mgrybyk commented on #4133
@christian-bromann I found what is causing the problem.
The issue is that we are calling before/after command for every command, even the ones from protocol and internal ones.
In this particular case `findElementFromElement` spams a lot, it might be called 20-30 per `el.$('span');`

[2019-07-16 04:01] drewctate commented on #4134
Sure.

[code]

Where `sourceX` and `sourceY` are the coordinates of the element you are dragging, and `diffX` and `diffY` are the differences between the `sourceX` and `sourceY` and the coordinates of the target element. After making this call to the `performActions` function, I call `targetElement.click()` as stated above. That seems to do the trick of keeping the pointer in the right place durin

[2019-07-16 06:50] zhq745w opened #4200 "Safari 12.1: isDisplayed() and "text-overflow: ellipsis;" in div"
- **WebdriverIO version:** 5.11.5
 - **Mode:** WDIO Testrunner (sync)
 - **Node.js version:** 10.16.0 LTS
 - **NPM version:** 6.9.0
 - **Browser name and version:** Safari 12.1.1
 - **Platform name and version:** MacOS Mojave 10.14.5

![win](https://user-images.githubusercontent.com/26140460/61272073-e8990000-a7ae-11e9-8590-86156b57f2c2.png)

Simple test:
[code]

WDIO does not work correctly with

[2019-07-16 07:12] frg-tarasov commented on #4133
@mgrybyk I see in your output few rows, less than me. Problem more clearly when elements about two hundred.
Because time growing in direct proportion with increase element count.
It is for this i add ```reverse``` because more slow query last elements in dom.

[2019-07-16 07:14] frg-tarasov commented on #4133
But even in your output have difference between last elements and first.

[2019-07-16 07:54] mgrybyk commented on #4133
The only workaround for now is to avoid using that hooks

[2019-07-16 07:58] frg-tarasov commented on #4133
Yes, now i using Webdriver IO without that hooks.

[2019-07-16 08:41] psubrambe commented on #4191
@CrispusDH : I think you don't understand the smart selectors working .Kindly go-through the below functionality you may get better understanding :) .

https://taiko.gauge.org/?utm_campaign=tw_gauge_taiko&utm_medium=PR&utm_source=PR%20Newswire&utm_content=taiko_release&utm_term=#smart-selectors

https://www.prnewswire.com/news-releases/thoughtworks-releases-taiko---a-free-and-open-source-browser-a

[2019-07-16 08:58] christian-bromann commented on #4191
How can he if you don't explain them. We can all read the docs but their example of `click("Google Search")` is not that "smart" to be honest. It works similar in WebdriverIO already by doing: `$('button=Google Search')`. Just finding out if it is a `button` or any other element to click on is not much magic.

Please provide some more detailed description about what you understand about "smart" se

[2019-07-16 08:58] Kignuf commented on #4183
Hello Christian, I'm closing the ticket. Thanks again for your time.
Btw, I updated to latest releases of all the wdio packages and it seems my log issues are fixed.
Also I finally understood that I got confused about the fact that calls to session/<sessionid>/log are logged in client logs, but the response, which contains the server/logcat logs, is also logged. So in fact, my client logs also con

[2019-07-16 08:58] #4183 closed

[2019-07-16 09:01] mgrybyk commented on #4200
it doesn't work for Chrome as well in w3c mode (w3c: true)

[2019-07-16 10:34] Carn1val opened #4203 "devtools-service: UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'cancel' of undefined"
**Environment :**
 - **WebdriverIO version:** 5.11.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.6.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome 75.0.3770.100
 - **Platform name and version:** Ubuntu 19.04
 - **Additional wdio packages used:** @wdio/devtools-service

**Config of WebdriverIO**
Part with devtools s

[2019-07-16 11:10] christian-bromann commented on #4203
Can you provide a reproducible example?

[2019-07-16 11:34] #4191 closed

[2019-07-16 11:45] #4200 closed

[2019-07-16 11:47] michael-confiant opened #4205 "Specifying cucumber scenario line number doesn't work in v5"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.16.0
 - **NPM version:** 6.9.2
 - **Browser name and version:** chrome v75
 - **Platform name and version:**  macos Mojave 10.14.5
 - **Additional wdio packages used (if applicable):** @wdio/cli, @w

[2019-07-16 12:44] gtilekar commented on #4195
Scenario Outline: Login to Portal
        Given User <userId> with <password> and <ID> is logged in
        When User logs out
        Then User is on the login page

    @smoke @country
        Examples:
            | userId   | password | ID  |
            | 12345678 |          | 336 |

    @country @full
        Examples:
            | userId    | password | ID  |
            | 12345678  |

[2019-07-16 12:47] christian-bromann commented on #4195
Sorry but I don't have the time to help out here. We don't maintain v4 and recommend to update to v5. However we are still happy to merge and release bug fixes for v4.

[2019-07-16 13:00] #4199 closed

[2019-07-16 13:03] gtilekar commented on #4195
we are using  "gulp-webdriver": "^2.0.3" and with v5 it throws below error.

internal/modules/cjs/loader.js:583
throw err;
^

Error: Cannot find module 'C:...... node_modules\webdriverio\build\lib\launcher'

so is gulp-webdriver": "^2.0.3" compatible with v5?

[2019-07-16 13:03] christian-bromann commented on #4195
no

[2019-07-16 13:08] gtilekar commented on #4195
Ok ..then we cannot upgrade to nodejs 10.

Are there any plans of getting newer version of gulp-webdriver rolled out in future.

If not, this pretty much puts us in tight spot.

[2019-07-16 13:13] christian-bromann commented on #4195
You don't need to us gulp in order to use wdio. I am not using Gulp either so I don't have an interest in updating it but if you have please help us getting it updated.

[2019-07-16 13:17] ducle91 commented on #4134
This snippet is very similar to how it is being done in the dragAndDrop function from webdriverio. I wonder if we could commit your changes so the dragAndDrop function will behave correctly.

[2019-07-16 13:22] erwinheitzman commented on #4134
This makes sense since the problem is that the element is attached to the mouse but never moved to the correct place.
So doing a click instead, moves the mouse to the element and clicking releases the element.
It's a nice temporary workaround but not a final solution to the problem as this should simply work.

[2019-07-16 14:15] drewctate commented on #4134
My approach works nicely, but I recognize that it's a workaround. That said, if the problem is beyond the project's control (problematic browser implementation of the `moveTo` action), it might be worth looking into. What do you two think?

[2019-07-16 14:17] drewctate commented on #4134
Has anyone else validated that my snippet fixes the problem?

[2019-07-16 14:50] Carn1val commented on #4203
To reproduce with my example:
1) clone https://github.com/Carn1val/bug_4203
2) yarn install
3) ./run.sh

Conditions:
1) Add devtools to services in wdio.conf.js
2) Add @wdio/devtools-service and install packages
3) Open any website with response errors in multiple tests with delay.
4) Second test must have some delay

![Screenshot from 2019-07-16 17-27-00](https://user-images.githubusercontent.com

[2019-07-16 17:42] elukoyanov opened #4206 "moveTo() without arguments throws out of bounds error for scrolled page"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.5
 - **Mode:** standalone
 - **Node.js version:** 8.12.0
 - **YARN version:** 1.16
 - **Browser name and version:** Chrome 75
 - **Platform name and version:** MacOS 10.14.5

**Config of WebdriverIO**
does not matter

**Describe the bug**
In W3C mode, when use `element`'s function `moveTo` without any arg

[2019-07-16 20:31] jorgepOktana opened #4207 "[Cucumber + v5] How to make hooks (afterStep) to run and finish before next step is executed?"
Hi,
Using wdio v4 + cucumber i used some afterSteps and know im trying to use the same in v5 + cucumber but it seems not to be running in order.
On my afterStep i have certain validations, i.e. if result.status === failed then i take a screenshot and do some extra steps, the problem is i am able to take the screenshot but im never able to do the extra steps because when the afterStep is executed,

[2019-07-16 20:39] anto-ac opened #4208 "Add seleniumArgs and seleniumInstallArgs to WebdriverIO.Config"
**Is your feature request related to a problem? Please describe.**
The `WebdriverIO.Config` interface does not include definitions for `seleniumArgs` and `seleniumInstallArgs`, which makes it harder to use `wdio-selenium-standalone-service` when you need to be in control of the browser and driver versions.

**Describe the solution you'd like**
Add `seleniumArgs` and `seleniumInstallArgs` to `Webdr

[2019-07-16 22:40] wswebcreation commented on #4207
First of alles there is no afterStep anymore, with the migration from V4 to V5 CucumberJS was also updated. Please check the [blog post](https://webdriver.io/blog/2019/07/11/cucumberjs-v5-released.html) to see also the reference to the changes in CucumberJS.

Last but not least the payload from a after-hook changed. Please update all code according to the latest versions and please see if you stil

[2019-07-16 23:38] christian-bromann commented on #4207
According to the docs there is an afterStep hook: https://webdriver.io/docs/configurationfile.html

[2019-07-16 23:46] jaFerrazza opened #4209 "Getting 'There is not device that matches your criteria' when running on Saucelabs"
**Environment:**
 - **WebdriverIO version:** [e.g. 5.10.9]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** [e.g. 8.12.0]
 - **NPM version:** [e.g. 6.4.1]
 - **Platform name and version:** Mac OS
 - **Additional wdio packages used (if applicable):**
  "@wdio/appium-service": "^5.0.0",
    "@wdio/cli": "^5.10.9",
    "@wdio/local-runner": "^

[2019-07-16 23:46] jorgepOktana commented on #4207
@wswebcreation thanks for your reply but as @christian-bromann mentioned, there is an afterStep for cucumber on the wdio configuration file (according to wdio documentation).

If you see my code above im actually using and it triggers certain actions after every step but it doesnt wait for the hook to finish running to execute the next step... I already updated my code to be compatible to v5 but t

[2019-07-16 23:51] christian-bromann commented on #4209
This is not a problem in WebdriverIO. It tried to request the session given the capabilities but was unable to do so due to this error from the backend. Please reach out to their support team. Cheers!

[2019-07-16 23:51] #4209 closed

[2019-07-16 23:55] mgrybyk commented on #4207
This is how it currently designed in wdio, there are no issues with your code.

Should we change the behavior? @wswebcreation @christian-bromann

[2019-07-17 00:28] christian-bromann commented on #4207
Yeah, wdio cucumber hooks should run commands synchronously/respect promises like any other hooks too.

[2019-07-17 05:46] wswebcreation commented on #4209
@jaFerrazza

Can you check your config that you are not connecting to the EU, it works for me based on your config when I don't have the `region` set to `eu` / when I remove that one based on the boilerplate, see https://github.com/webdriverio/appium-boilerplate/blob/master/config/saucelabs/wdio.android.rdc.app.conf.js#L47

[2019-07-17 08:45] christian-bromann commented on #4172
@PHUITesting any luck?

[2019-07-17 08:53] PippoRaimondi commented on #4148
I finally got time to work on this! will start today and keep you posted!

[2019-07-17 09:27] christian-bromann commented on #4106
Please update your Edgedriver, I have no issues running this:

driver logs
[code]

wdio logs:
[code]

[2019-07-17 09:27] #4106 closed

[2019-07-17 09:28] christian-bromann commented on #4144
Let's continue conversation in #4145

[2019-07-17 09:28] #4144 closed

[2019-07-17 11:07] erwinheitzman commented on #4134
@drewctate I just did and it doesn't seem to work for me. Can you share the full example you used?

[2019-07-17 14:14] #4197 closed

[2019-07-17 14:26] drewctate commented on #4134
@erwinheitzman thanks for checking. Just verified that this snippet below fixes what I understand to be the problem: that the drop happens in the wrong place. You should be able to copy and paste:

[code]

[2019-07-17 20:48] cameronking4 commented on #2545
How did you manage to solve the issue? I'm having the same problem

[2019-07-17 20:50] PippoRaimondi commented on #4148
Quick update: I started having a go at this initially for `mocha` as it's the default runner.

My understanding is that anything to do with the test level rather than spec level is out of reach of `wdio` given it's the spec runner framework responsibility to handle it (correct me if I am wrong, please).

Good news is that mocha has a `retry` mechanism for the test level (haven't tested it yet but

[2019-07-17 21:03] ruiquanwu commented on #3324
If you send the jsonwp protocol (elementSendKeys) directly for edge, it will work.
https://webdriver.io/docs/api/jsonwp.html#elementsendkeys

sample code in typescript, you may need to override the existing typing.
    const elementId = element.elementId;
    browser.elementSendKeys(elementId, "", value.split(""));

[2019-07-18 04:26] dtboy1995 opened #4214 "appium error log"
[code]

Are the above errors caused by appium or webdriverio? Any help would be appreciated.

[2019-07-18 06:16] mgrybyk commented on #4214
Wd proxy error or what? This is appium related

[2019-07-18 06:18] mgrybyk commented on #4214
I'd suggest using gitter to discuss such questions. Also environment details and steps to reproduce are always welcomed.

[2019-07-18 06:18] #4214 closed

[2019-07-18 06:42] stefancplace commented on #3324
in my tests I am currently using
[code]
It would be really nice if I didn`t have to rewrite test code for specific Browsers, is there no other workaround?

[2019-07-18 06:57] ruiquanwu commented on #3324
you can use a custom command like setInputValue()
`browser.addCommand(
  "setInputValue",
  function(this: WebdriverIO.Element, value: string) {
  if (browser.capabilities.browserName!.includes("edge") {
  browser.elementSendKeys(this.elementId;, "", value.split(""));
  } else {
  this.setValue(value);
}
  true,
);`

and then replace your element.setValue with setInputValue, that is workaround I c

[2019-07-18 07:00] espekkaya opened #4215 "WebDriverIO v5 cucumberOpts is not included in WebdriverIO.Config typescript"
**Is your feature request related to a problem? Please describe.**
WebDriverIO v5 cucumberOpts is not included in typescript . I have added wdio.d.ts file but it is nice to have adding in webdriverio package.

WebDriverIO version : 5.11.5

[code]

[2019-07-18 07:35] mgrybyk commented on #4215
@espekkaya may you please rise a PR for this?

[2019-07-18 07:42] mgrybyk commented on #4208
@anto-ac may you rise a PR for this? Please don't forget about `seleniumLogs?: string`

[2019-07-18 08:40] anto-ac commented on #4208
@mgrybyk I can have a look, but I may need help.

However, I'm thinking, is this something that we should do? In other words, should WebdriverIO.Config include the selenium-standalone configuration?

Or is doing the following on your own project a better approach?

[code]

[2019-07-18 08:45] erduna opened #4217 "uploadFile has return type void, making it not possible to use with eg. typescript."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.6
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.1
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 75
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/spec reporter, @w

[2019-07-18 09:18] espekkaya commented on #4215
@mgrybyk I have opened PR. Thanks.

[2019-07-18 10:56] Alek5andr commented on #1055
The same problem.
I have environment proxy variables set, proxy option in wdio.conf.js, and even in selenium-standalone configuration I set proxy option.
No progress with launching tests behind proxy. Can the cause be in too greedy proxy?

[2019-07-18 11:42] espekkaya opened #4218 "WebdriverIO 5 Cucumber Typscript getting an error "'__awaiter' implicitly has type""
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.5
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async: async
 - **Node.js version:** v10.15.3
 - **NPM version:** 6.10.0
 - **Browser name and version:** chrome
 - **Platform name and version:** Windows 10

**Config of WebdriverIO**
[code]

**Describe the bug**

I want to use webdrive

[2019-07-18 12:05] espekkaya commented on #4218
By the way here is my boilerplate project link may be useful : [https://github.com/espekkaya/webdriverio-v5-cucumber-typescript](url)

To run test  : `npm run test`

[2019-07-18 13:31] DenisStrogonov opened #4219 "Cucumber scenarios are not logged correctly in allure (WDIO version 5)"
**Environment:**
 - **WebdriverIO version:** 5.11.2
 - **Mode:** WDIO Testrunner. Sync
 - **Node.js version:** 10.13.0
 - **yarn version:** 1.12.3
 - **Platform name and version:** Mac OS Mojave 10.14.4

**Config of WebdriverIO**
[code]

**Describe the bug**
When using cucumber with the configuration provided above, every step of a scenario is logged as a separate test and scenario being logged as

[2019-07-18 14:37] goatsy commented on #3877
I have now a small example with which I can reproduce it

**Dependencies:**
`  "dependencies": {
    "@wdio/cli": "^5.11.6",
    "@wdio/dot-reporter": "^5.11.0",
    "@wdio/local-runner": "^5.11.6",
    "@wdio/mocha-framework": "^5.11.0",
    "@wdio/selenium-standalone-service": "^5.11.2",
    "@wdio/spec-reporter": "^5.11.6",
    "@wdio/sync": "^5.11.0"
  }`

**Two .spec files:**

basic.js
basic2

[2019-07-18 14:47] christian-bromann commented on #3877
I've seen these too, reopening

[2019-07-18 15:44] larryg01 commented on #4134
This is my workaround for it, have a go and let me know if this helps,

dragDrop: async (elem, x, y) => {
    await elem.waitForExist(1000);
    await elem.moveTo();
    await elem.buttonDown();
    await elem.moveTo(x, y);
    await browser.pause(200);
    await elem.buttonUp();
  },
let elem = await browser.$(elemId);
     await dragDrop(elem, x, y);

// (x, y) being your drop location

[2019-07-18 16:08] WillBrock commented on #3877
I've noticed this sometimes as well when we run over 600 spec files on jenkins with maxInstances set to 15 on chrome.

[2019-07-18 21:21] Chris-Eckersley commented on #1914
@christian-bromann, @vbyjsue, my co-worker found a solution by passing in the path to a dummy file with an empty object. Then pass in the dummy path and your object as the `opts` arg for the launcher. So far it's working.

Example:

`Const wdioConfigObject = {...};
const CONFIGPATH = './config/dummy.js';
const wdio = new Launcher(CONFIGPATH, wdioConfigObject);`

[2019-07-19 09:43] trickeyd commented on #1630
I have to say i totally agree that there is a huge lack of documentation on this topic. I have recently taken over a huge codebase (without handover) that uses webdriver with appuium, neither of which I have used before.

I read everything I could find, but there was no explanation of why I should chose one over the other. And that made the rest of the docs pretty confusing to be honest. It took a

[2019-07-19 10:00] trickeyd commented on #1630
Quick question - in async mode I know that all browser functions return a promise. Is this also true of all element functions?

[2019-07-19 13:30] espekkaya commented on #4218
Hello,

Finally I have figured it out errors.

I changed "target": "ES2019" and "noImplicitAny": false  in tsconfig.json file.

And everything is fine.

[2019-07-19 13:30] #4218 closed

[2019-07-19 14:24] mrahman2327 commented on #4015
For people still facing this issue out there, my workaround was to set `failFast: true` in JasmineNodeOpts. It now stops execution on first failure and retries as well with specFileRetries.

[2019-07-19 15:04] jurecka commented on #4168
Don't forget to call switchToWindow after closeWindow is done, otherwise you will get an error 'target window already closed'. It was not needed to do it in webdriver v4.
[code]

[2019-07-19 20:15] mgrybyk commented on #3877
@goatsy thanks a lot for a reproducible example.
Closing this issue according to https://github.com/webdriverio/webdriverio/pull/4223

[2019-07-19 20:15] #3877 closed

[2019-07-19 22:45] drewctate commented on #4217
Made a PR: https://github.com/webdriverio/webdriverio/pull/4224
Adding `// @ts-ignore` to the line above `uploadPage.uploadButton.setValue(remoteFile);` will fix the problem until the typing is fixed (in case you didn't already know that).

[2019-07-19 23:02] drewctate commented on #4180
I've done S3 stuff before. I can work on this

[2019-07-20 10:49] espekkaya opened #4227 "wdio 5 Typescript cucumber "$(...).isDisplayed is not a function" error"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
WebdriverIO version: 5.11.5
M

[2019-07-20 10:55] mgrybyk commented on #4227
You are are not awaiting element.
Please use gitter for such questions

[2019-07-20 10:55] #4227 closed

[2019-07-20 11:07] espekkaya commented on #4227
Hi @mgrybyk ,

Thank you for quick reply. Yes you are right for using gitter. Sorry about that.

[2019-07-20 13:57] lukaszfryc opened #4228 "Accessing local environment using REPL"
Hi! I've been using `browser.debug()` but I find it limited as I can't debug my local code. I'd like to execute page objects and reload code in the middle of a test session.

I've found https://github.com/kurtharriger/wdio-repl but it looks that it works only for Atom. Here is a video of what I'd like to do https://www.youtube.com/watch?v=kdM05ChhLQE. Is it possible using wdio?

[2019-07-20 17:10] erduna commented on #4217
I do, but others might not, so thanks for the comment (and the PR) :)

[2019-07-21 07:50] christian-bromann commented on #4217
Closing as this gets released with the next package publish

[2019-07-21 07:50] #4217 closed

[2019-07-21 09:13] christian-bromann commented on #4180
Thanks @drewctate , let's continue convo in #4225 then

[2019-07-21 09:13] #4180 closed

[2019-07-22 03:11] wizzfizz94 commented on #4206
I can also confirm this error. Even tried work around by using `scrollIntoView` on element below it and pausing browser for a couple of seconds before executing `moveTo` and still get the error. Pretty annoying, makes interacting with anything besides buttons and basic input elements impossible.

[2019-07-22 06:00] mgrybyk commented on #4206
@wizzfizz94 what browser are you using?

[2019-07-22 07:31] wizzfizz94 commented on #4206
@mgrybyk im using firefox version 68.0 and selenium-standalone test service.

[2019-07-22 08:08] Rob-Meijeren opened #4230 "Webdriverio skips steps while defined"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-07-22 08:24] mgrybyk opened #4231 "Speedup build"
**Is your feature request related to a problem? Please describe.**
`npm run build` takes much time

**Describe the solution you'd like**
`npm run build` should not take that much time.
We might think on speeding up build by tuning babel config and/or moving some packages outside of monorepo.

I think packages lots of packages can be moved out, like reporters, or/and only be built under certain con

[2019-07-22 08:34] mgrybyk opened #4232 "Multiremote instance is not creating properly"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.6
 - **Mode:** wdio testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10

**Config of WebdriverIO**
https://webdriver.io/docs/multiremote.html#using-wdio-testrunner

**Describe the bug**
Lots of browser properties are missing, like capabilities.

this also causes some

[2019-07-22 10:21] christian-bromann commented on #4231
There are definitely packages that haven't changed a lot but given all the advantages we got from moving them into a mono-repo would get lost if we would move them out again. I agree that setting up the project by running `npm run setup` is slow and uses a lot of CPU but moving out packages would be my last option. I rather would see if we can build something that improves our current situation (N

[2019-07-22 10:23] christian-bromann commented on #4230
I am not sure if I've understand the issue, could you elaborate please?

[2019-07-22 10:27] Rob-Meijeren commented on #4230
I try to execute a test as normal. The browser starts up but instead of executing the for example Given that I have in my feature file no steps are executed. Instead when printing the result of the test the status is skipped.

However when looking in the defined Given of my step definition there is an action to execute and this is also returned within the function. And since the step is skipped my

[2019-07-22 11:22] DeepTom commented on #4082
Hello
Could you also give an example of addStep where the result of an assertion or an action(like click) would be the result of the addStep status.

[2019-07-22 21:27] christian-bromann commented on #4172
Closing due to inactivity.

[2019-07-22 21:27] #4172 closed

[2019-07-22 21:28] christian-bromann commented on #4058
Closing as this seems to be an issue with Edgedriver that can't be fixed in the WebdriverIO project.

[2019-07-22 21:28] #4058 closed

[2019-07-22 21:38] christian-bromann commented on #3838
This is done with the new upload command. For more info, see https://webdriver.io/blog/2019/06/25/file-upload.html

[2019-07-22 21:38] #3838 closed

[2019-07-22 21:40] christian-bromann commented on #2984
Closing due to inactivity.

[2019-07-22 21:40] #2984 closed

[2019-07-22 21:43] christian-bromann opened #4234 "@wdio/sync: throw if command is executed outside of a fiber context"
People fall into the trap of calling commands outside of `it` blocks or hooks of a test framework. Instead of returning a promise and confuse the user we should immediately throw an error with a helpful message to tell customers to only call commands within expected areas.

[2019-07-22 23:12] mgrybyk commented on #4234
Steps to reproduce would be
1. Create an empty spec file
2. Add `browser.pause(1)` outside describe / it / etc
?

[2019-07-22 23:25] christian-bromann commented on #4234
yeah, a simple wdio setup with a spec like this:

[code]
which should fail. All implementation should be done in the `@wdio/sync` package as this is only a concern when running commands synchronously.

[2019-07-23 00:34] babilog commented on #3212
I think the issue here is that it's piping the output of the spawned processes and its stripping away all the color and formatting. It's occuring on the `local-runner -> worker.js`. If we remove the custom formatting on the messages, thus removing the piping of the stderr and stdout and just output straight to the terminal, then we'd get all the formatting and color from the logged messages. What

[2019-07-23 04:14] theduykh commented on #4206
I'm facing this error also. Have to workaround
Solution A:
1.  Use `scrollIntoView`
2. Then get the element location by executing the script:
[code]
3. Use the element location to move to the element

Solution B:
Run the test in headless mode and set the window size very large
[code]
[code]

[2019-07-23 05:49] mgrybyk commented on #3212
Hey guys, colors should work fine by simply adding env var `FORCE_COLOR=1`. Can you try?

@christian-bromann @babilog

https://webdriver.io/docs/jenkins.html

[2019-07-23 05:50] mgrybyk commented on #3212
This is not wdio feature, it is chalk https://www.npmjs.com/package/chalk#chalksupportscolor

[2019-07-23 07:17] alfonso-presa opened #4235 "Way to run tests in parallel without wdio becoming a memory hog"
**Is your feature request related to a problem? Please describe.**
We are running test against a cloud provided grid and we have enough instances to run several tests in parallel (want to reach ~100 browsers). The problem is that wdio spawns different processes with a memory footprint of around 100MB each, making it unscalable to that point inside our automation pipeline (will require around 10GB

[2019-07-23 07:22] mgrybyk commented on #4235
@alfonso-presa can you please describe your environment:
- wdio versions
- wdio conf (capabilities, max instances, etc)
- etc

[2019-07-23 07:35] alfonso-presa commented on #4235
@mgrybyk Sure. It wasn't requested in the feature request template though :-).

Memory measurements are taken with wdio 4.9.10, though we have also tried with wdio 5 and it also uses a big amount of memory due to the multiprocess (little bit less than wdio 4).

For capabilities we are testing in chrome latest, and we have been able to test with 35 parallel browsers in a 4GB machine. Using more lea

[2019-07-23 07:42] mgrybyk commented on #4235
Wdio v5 won't spawn more than 36 nodejs insurances even if you have 1000 tests

[2019-07-23 07:46] alfonso-presa commented on #4235
@mgrybyk I thought the amount of processes spawned depended on the amount of spec files and the max instances. Do you mean that this is restricted somehow in v5?

Chrome is started in a cloud grid provider so our process is not impacted by the amount of memory it requires :-).

[2019-07-23 08:43] christian-bromann commented on #4235
@alfonso-presa I am able to easily spin up 100 instance using Sauce headless without having much memory consumption in v5.

[2019-07-23 09:33] christian-bromann commented on #4133
Let's continue convo in #4221

[2019-07-23 09:33] #4133 closed

[2019-07-23 09:36] frg-tarasov commented on #4133
Thank you very much!

[2019-07-23 11:30] mgrybyk commented on #4235
So yeah, I additional context would be helpful

[2019-07-23 11:42] nextlevelbeard opened #4236 "Allow non-W3C capabilities to be sent to "legacy" grids/services"
**Is your feature request related to a problem? Please describe.**
In order to use certain features of third-party grid services, sometimes non-W3C capabilties need to be specified. Due to the webdriverIO conformity to the W3C spec, this is not possible.

**Describe the solution you'd like**
Allow non-W3C capabilities to be sent to "legacy" grids/services.

**Describe alternatives you've considere

[2019-07-23 11:52] alfonso-presa commented on #4235
@christian-bromann I've quickly made a couple of tests with v5:

* With a simple mocha test the footprint is around 50MB. We could consider this the minimum footprint per wdio browser.
* With the `cucumber-boilerplate` it reaches up to 85-90 MB, which is almost as much as we have with v4 in our case (100 MB) and will make ~8,5GB for  100 of tests in parallel.

IMHO there's a big range of improveme

[2019-07-23 12:42] #4231 closed

[2019-07-23 13:02] mgrybyk commented on #4236
What is the benefit here?
WebdriverIO is passing capabilities in W3C format, the grid itself failing if W3C capabilities are wrong.

Of course, we may pass capabilities as desiredCapabilities, then grid won't validate them, not sure if it makes sense to do it

[2019-07-23 13:05] mgrybyk commented on #4235
@alfonso-presa just checked it locally.
I have 20 chrome browser in capabilities.
Main thread consumes 33 Mb
Each worker thread consumes 150 Mb.

So, you are right, I think.

![image](https://user-images.githubusercontent.com/25589559/61714521-574ffd80-ad5b-11e9-8b92-f51798a10226.png)

[2019-07-23 13:12] mgrybyk commented on #4235
Running 100 browsers crushes my laptop
![image](https://user-images.githubusercontent.com/25589559/61714945-494eac80-ad5c-11e9-8e65-04677a61ec04.png)

[2019-07-23 13:35] christian-bromann commented on #4236
What kind of 3rd party grid services

What kind of non-W3C capabailities

I don't see why not. WebdriverIO sends capabilities in both variants and detects whether to use JSONWP or WebDriver based on the session response.

As you can see, you have to provide much more details in order to help you out.

[2019-07-23 13:48] mgrybyk commented on #4236
@christian-bromann regular selenium grid doesn't accept capabilities like `deviceName`, etc.

If wrong capabilities are send in W3C way, grid rejects create session requests.

To make it work we need to pass capabilities ONLY in non W3C way.

[2019-07-23 14:24] tejasv02 opened #4238 "setImmediateValue is missing in WDIO-5"
**Describe your question with as much detail as possible**
setImmediateValue was useful in inputting long string in WDIO-4 but now it WDIO we use setValue which maps to - `elementSendKeys`, hence strings becomes array of characters

**Environment (please complete the following information):**
 - **WebdriverIO version:5.11.7**

[2019-07-23 14:24] jorgepOktana commented on #4207
Hello!, sorry to bother!
Is there any updates on this?

[2019-07-23 14:25] christian-bromann commented on #4207
As you can see you are welcome to contribute a bug fix.

[2019-07-23 14:27] christian-bromann commented on #4238
The command is available here: https://webdriver.io/docs/api/appium.html#setvalueimmediate

[2019-07-23 14:27] #4238 closed

[2019-07-23 14:30] jorgepOktana commented on #4207
Would love to help but actually im not really a good coder, just a QA with the most basic programming knowledge...  and actually have no idea how to help with this :(

[2019-07-23 14:43] christian-bromann commented on #4207
No problem. Then we have to wait until someone can tackle this. You will either see a pull request connected here or other communications in this thread.

[2019-07-23 14:45] tejasv02 commented on #4238
Thanks totally missed the driver

[2019-07-23 14:53] PippoRaimondi commented on #4148
@aha-oretama
@christian-bromann

Short answer:
An issue needs to be opened in mocha's codebase to remove successful tests from a spec run on a spec level retry...

The closest you can get for now is retry at test level in wdio.conf.js:

[code]

Long answer:
wdio sends a list of spec files to mocha in order for them to be executed, at this point mocha has no mechanism to return successful/failed te

[2019-07-23 16:06] alfonso-presa commented on #4235
@mgrybyk Thanks for looking at it. Those look like big tests also :-).

I'm thinking that also worker_threads might be a great way to sort this. May be this could be done with another runner module or a configurable option for the `local-runner`.... What do you think?

[2019-07-23 16:21] christian-bromann commented on #4235
Depends on what you are proposing exactly.

[2019-07-23 16:55] babilog commented on #3212
Tried `FORCE_COLOR` but it didn't do the trick. To provide more context, we are using a custom debug util (https://www.npmjs.com/package/debug) to capture custom logs from within our step definition files and page object files. `debug` allows us to specify which logs we want to show and generally gives us more flexibility than the `logger` service from webdriverio. On webdriver v4 we were able to

[2019-07-23 17:00] pratikvarma commented on #4097
This is still not working for me. What versions of wdio should i be checking for?

[2019-07-23 17:15] mgrybyk commented on #3212
How can I reproduce it?

[2019-07-23 18:09] alfonso-presa commented on #4235
@christian-bromann I mean trying to change (or provide a different implementation) the local-runner so that instead of forking it starts a [worker_thread](https://nodejs.org/docs/latest-v10.x/api/worker_threads.html). I've already done some testing and seems that also the `runner` and the `fibers` are impacted by this. I'm specially having a bad time with `fibers` trying to make it [context aware]

[2019-07-23 18:23] babilog commented on #3212
I went ahead and setup a sample project with the debug module: https://github.com/babilog/demo-webdriverio-cucumber

You can run `yarn log:test` to get the debug output.

You should see the following:

![image](https://user-images.githubusercontent.com/14218994/61737065-73e93700-ad55-11e9-8439-9560fe027375.png)

[2019-07-23 18:25] christian-bromann commented on #3212
let's reopen and figure this out

[2019-07-23 19:17] alfonso-presa commented on #4235
Looks like this is indeed going to require a lot of work :-) https://github.com/laverdet/node-fibers/issues/411

[2019-07-23 19:19] babilog commented on #3212
Here's a quick POC on adding a config flag for `preserveLoggingFormat` that toggles between either piped or outputting straight to the parent console.

https://github.com/babilog/webdriverio/commit/b1ea09e3e40076ea150d71d1db6c6cc670766ba5

[2019-07-23 19:19] jorgepOktana commented on #4207
In the meantime i applied this workaround for my project:
* Use cucumber hooks on the stepDefinitions file:
[code]

This is executes commands synchronously/respect promises.

[2019-07-23 19:26] mgrybyk commented on #3212
@babilog how does `steps:contact` is generated?
Thank you for POC. I'd like to see something that would work for everyone

[2019-07-23 19:47] mgrybyk commented on #3212
![image](https://user-images.githubusercontent.com/25589559/61742465-79657200-ad93-11e9-977d-440cad8dc1d4.png)

[2019-07-23 20:04] babilog commented on #3212
Hm that's very strange, not sure how its working for you. I've tried a different terminal than zsh as well and it seems to be replicating the same issue.

[2019-07-23 20:06] babilog commented on #3212
I'm running node 11.12.0. Not sure if that would impact this though 🤔 . Are you running something different?

[2019-07-23 20:07] mgrybyk commented on #3212
As I've mentioned, steps to reproduce would be helpful.

I have no idea how should debug module work.
Printing colored messages to console works just fine

[2019-07-23 20:11] babilog commented on #3212
Oops, missed that earlier message. If you look under the `test -> e2e -> steps -> Contact.steps.js`, you'll see the debug module declared. Running it using `yarn log:test` simply filters for that specific debug module name defined on that file.

[2019-07-23 20:13] mgrybyk commented on #3212
Yes, and we are not responsible for debug package.
If you change it to console.log and make your output colored, it will be colored

[2019-07-23 20:16] mgrybyk commented on #3212
`console.log('\x1b[35m FOOBAR \x1b[0m')`

[2019-07-23 20:19] babilog commented on #3212
Hm I see. Then I should probably look into the `debug` module to see why its not working as expected. Thanks for taking a look @mgrybyk , appreciate the time.

[2019-07-23 20:24] babilog commented on #3212
Ah, looks like its an issue with how the processes are spawn and the debugModule. As per issue solution here: https://github.com/visionmedia/debug/issues/558 ... I'm assuming adding this flag to the spawned process step on `worker.js` is not something that would be approved?

[2019-07-23 20:27] babilog commented on #3212
Adding `DEBUG_COLORS: true` when you run wdio should do the trick 👍

[2019-07-23 20:27] babilog commented on #3212
I'm good closing this one 👍

[2019-07-23 20:41] #3212 closed

[2019-07-23 21:04] mgrybyk commented on #3212
@babilog thank you for investigating this!

[2019-07-24 08:10] wswebcreation commented on #4137
Hi @arcmorales

The `ERROR @wdio/sync: Error: Failed calling updateTest, status code: 204, reason: unknown` had to do with the fact that WebdriverIO always updates the name of a testcase after each run.  But the real device cloud of Sauce Labs doesn't allow you to do that, they only allow you to update the status of the test.
In a previous release this has been fixed.

[2019-07-24 09:15] christian-bromann commented on #4137
I think this is a problem in `node-saucelabs` treating this request as failure while it is actually a success. Will create a ticket there.

[2019-07-24 09:17] christian-bromann commented on #4137
Mhm .. something is off here:

[code]

[2019-07-24 09:27] christian-bromann commented on #4137
Closing, as this is fixed (my bad). @LasseHall can you try to reproduce this to see if it is also fixed on your end?

[2019-07-24 10:06] mgrybyk commented on #4235
Well, I'd like to start first with memory cleanup, then, if needed and possible move most memory consuming parts to services and only after think what can be done further.

After some investigation I found out the most memory is used by transpilers!
In my case, with mocha + typescript, it is 80%

I want to check if it's possible to unload transpilers at some point or/and to load them once and shar

[2019-07-24 10:15] wswebcreation commented on #4235
@mgrybyk

In my case, with mocha + typescript, it is 80%

Are you transpiling on-the-fly or transpile all code before you run and then run all instances?

[2019-07-24 10:18] mgrybyk commented on #4235
On the fly

[2019-07-24 10:19] alfonso-presa commented on #4235
@mgrybyk That would be great. Any memory clean up will be very welcome :-).

In our case we are not using any transpilers and we are reaching up to 100MB per browser, so in order to solve this issue and save "orders of magnitude" in terms of memory consumption, a clean up will not be enough I think...

[2019-07-24 10:20] mgrybyk commented on #4235
That's gonna be the next step

[2019-07-24 13:10] Lusito opened #4244 "wdio-sync getAlertText unloads synchronous commands?"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.7
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.1
 - **NPM version:** 6.9.0
 - **Browser name and version:** chrome 75
 - **Platform name and version:** ubuntu 18.04
 - **Additional wdio packages used (if applicable):**

[code]

**Config of

[2019-07-24 13:20] christian-bromann commented on #4244
Can you provide your test code?

[2019-07-24 14:11] AutomationGuru commented on #3838
@christian-bromann thanks for fixing it works fine on 5.11.7, saves 30-40 seconds on each test which were using a hack to download the fixture file ! Thank you so much !

[2019-07-24 14:26] Lusito commented on #4244
Here you go:
https://bitbucket.jambit.com/users/spfingsten/repos/wdio-issues/browse

The setup has been hacked together since I can't release my original code here right now.

[2019-07-24 14:26] christian-bromann commented on #4244
@Lusito can you just share a gist? I can't access that page.

[2019-07-24 14:38] Lusito commented on #4244
ah, damnit, the page is only accessible from inside the company lan.. gimme a second

[2019-07-24 14:47] Lusito opened #4246 "dragAndDrop and moveTo don't seem to work on chrome headless"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.7
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.1
 - **NPM version:** 6.9.0
 - **Browser name and version:** chrome 75
 - **Platform name and version:** ubuntu 18.04
 - **Additional wdio packages used (if applicable):**

[code]

**Config of

[2019-07-24 15:16] mgrybyk commented on #4244
I'll fix it today

[2019-07-24 15:18] christian-bromann commented on #4244
Let's make sure to apply a smoke test for this to ensure it doesn't happen again.

[2019-07-24 15:36] nextlevelbeard commented on #4207
@christian-bromann @mgrybyk

Isn't there a case for hooks to NOT wait for promises if the user wants to?

For instance: In the _beforeSenario_ (wdio hook for Cucumber) or in the _Before_ hook (Cucumber) we might want to start a request for an account creation.

In this case, the hook should not wait for the promise to resolve.
A user can simply call browser.call if he wishes to have it that way.

[2019-07-24 15:53] nextlevelbeard opened #4248 "WDIO hooks don't populate Cucumber's World"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.7
 - **Mode:** [Standalone mode or WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12
 - **NPM version:** 6.9.0

**Describe the bug**
Cucumber-specific hooks of webdriverIO cannot populate the World of Cucumber.
~~Additionally, Cucumber hooks resolve promises n

[2019-07-24 15:57] nextlevelbeard commented on #4207
In that case, would declaring the hook an async function make it not resolve promises?

[2019-07-24 16:46] mgrybyk commented on #4244
@Lusito this gonna be released soon in new version

[2019-07-24 16:46] #4244 closed

[2019-07-24 20:59] mooyoul opened #4251 "Truncate screen record command result log"
**Is your feature request related to a problem? Please describe.**
A base64-encoded video data of screen record is posted into log which is not helpful at all, bloats log output

**Describe the solution you'd like**
Truncate `result.value` in case command name includes record
[code]

**Describe alternatives you've considered**
At this moment, Just use `warn` log level to rescue my terminal

**Addi

[2019-07-24 21:26] christian-bromann commented on #4251
@mooyoul mind making a PR?

[2019-07-24 23:30] mooyoul commented on #4251
@christian-bromann Sure. I just opened a PR #4252 :)

[2019-07-25 05:19] diachedelic opened #4253 "$('a').getText() returns empty string"
**Environment (please complete the following information):**
 - **WebdriverIO version: 5.11.9
 - **Mode: WDIO testrunner
 - **If WDIO Testrunner, running sync/async: sync
 - **Node.js version: v11.15.0
 - **NPM version: v6.7.0
 - **Platform name and version: MacOS 10.14.5

**Config of WebdriverIO**
See repro

**Describe the bug**
Calling `.getText()` on an anchor element returns an empty string.

[2019-07-25 06:24] mgrybyk commented on #4253
@diachedelic I think you are doing something wrong here

First of all you are not using getText but getHTML that should return an empty string in your case.
Secondly you are using really old versions .

https://github.com/diachedelic/wdio-repros/blob/anchor-get-text/test/anchorGetText.js

Am I missing something?

[2019-07-25 07:45] christian-bromann commented on #4253
I also can't reproduce this:

[code]

[2019-07-25 07:45] #4253 closed

[2019-07-25 07:46] #4251 closed

[2019-07-25 08:19] diachedelic commented on #4253
Here is my log (I know the package.json had old versions listed but if you check the yarn.lock it is webdriverio@5.11.7):

https://gist.github.com/diachedelic/6733a5df39859cb04a4366d8a7e92aff

@christian-bromann I've clarified the test case and have swapped from yarn to npm, please try running this and tell me what you get:

[code]
It certainly fails for me - I've checked in `package-lock.json` fo

[2019-07-25 08:19] stefancplace commented on #3324
so why not adding the distinction here https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/element/addValue.js ?

[2019-07-25 08:53] Raulster24 commented on #4203
I think a reproducible example is now given, can we remove the label.

[2019-07-25 09:00] Lusito commented on #4244
Thanks for the quick fix, I can confirm it works :)

[2019-07-25 09:00] rishoocplace commented on #3324
[code]
proposed solution leads to
`
Error: Malformed type for "text" parameter of command elementSendKeys
Expected: string
Actual: object
`
Passing as String leads to original exception

So why not change to JWP as mentioned above?

[2019-07-25 09:00] christian-bromann commented on #4253
@diachedelic can you try `getHTML`? Not why this is but it is definitely not a WebdriverIO bug since all requests are made properly.

[2019-07-25 10:39] diachedelic commented on #4253
@christian-bromann getHTML works fine - it returns the full HTML of the anchor, including it's text (that's why I included it in my previous revision - to show that there definitely was text in there)

[2019-07-25 11:12] diachedelic opened #4254 "findElement sometimes returns Promise in sync mode"
**Environment (please complete the following information):**
 - **WebdriverIO version: v5.11.7
 - **Mode: WDIO Testrunner
 - **If WDIO Testrunner, running sync/async: sync
 - **Node.js version: v11.15.0
 - **NPM version: v6.7.9
 - **Browser name and version: 76.0.3809.80 (Official Build) beta (64-bit)
 - **Platform name and version: MacOS 10.14.5 (18F132)
 - **Additional wdio packages used (if app

[2019-07-25 11:15] mgrybyk commented on #4254
Please update to the latest version.

If you still experience the issue, please provide with steps to reproduce

[2019-07-25 11:19] diachedelic commented on #4254
@mgrybyk which version is that?

[2019-07-25 11:22] mgrybyk commented on #4254
Hey, I think I missed something. I though you are still on previous one.

I'll take a look soon.
Thank you for steps to reproduce

[2019-07-25 11:27] diachedelic commented on #4254
@mgrybyk I am on the latest that NPM will give me - I'm pretty sure the latest `webdriverio` and `webdriver` are `v5.11.7`, even though some other packages are at `v5.11.9`

[2019-07-25 11:30] diachedelic commented on #4254
@mgrybyk If I pin `webdriver` to `v5.11.5` (via Yarn's "resolutions" feature) the issue is resolved, e.g.:
[code]

[2019-07-25 11:34] mgrybyk commented on #4254
Looks like a regression, hope to deal with it today

[2019-07-25 11:35] diachedelic commented on #4254
@mgrybyk cheers!

[2019-07-25 11:57] christian-bromann commented on #4253
@diachedelic then this is a bug in the driver

[2019-07-25 14:07] mgrybyk commented on #4254
@diachedelic fix is ready and will be merged soon.
Thank you for your help!

If you see any other issues, please let me know!
https://github.com/webdriverio/webdriverio/pull/4256

[2019-07-25 14:07] #4254 closed

[2019-07-25 14:49] sombreroEnPuntas commented on #1630
Consider the following use case.

There is an async function `searchMessages` that fetches messages from an external service.
It takes some time for the service to actually have those messages, so the resolved promise will contain an empty list for some X milliseconds. But later on, it will contain some messages.

This is correct expected behavior.

We need to keep re-trying until there is content

[2019-07-25 15:05] mgrybyk commented on #1630
How is this related to this issue? There are no logs, no steps to reproduce, I don't know why it doesn't work.

If you can manage to find out, please rise a ticket, we would be glad to help.

Thank you

[2019-07-25 15:11] sombreroEnPuntas commented on #1630
@mgrybyk it is not documented that `waitUntil` can ONLY receive a sync function.
I did provide a code sample that fails.

I just edited my comment with a solution.... but still seems a bit convoluted :)

From the docs, I would expect that both sync and async are valid here.

[2019-07-25 15:11] ruiquanwu commented on #3324
you will also need to define the right typing for elementSendKeys, (currently it is not right)

  interface Client {
    elementSendKeys(elementId: string, text: string, value?: string[]): void;
  }
}

[2019-07-25 15:14] ruiquanwu commented on #3324
and your add comment is wrong, you should add true flag in the command.
https://webdriver.io/docs/customcommands.html#adding-custom-commands

[2019-07-25 15:17] christian-bromann commented on #1630
`waitUntil` respects promises and waits for them. Please provide a reproducible example and we can look into it.

[2019-07-25 15:30] sombreroEnPuntas commented on #1630
That is not what I observed.

I am using `"webdriverio": "^5.9.6"` on typescript and the following plugins/modules:
[code]

I invoke the runner with `yarn wdio`.

And the compiler fails 'cuz (as explained on the sample I posted above) `waitUntil` can not receive an async function.

[code]

[2019-07-25 15:37] christian-bromann commented on #1630
It can, the typings just aren't accurate on that front. PRs are welcome!

[2019-07-25 15:48] stefancplace commented on #3324
Thanks ruiquanwu by changing the typings I can actually set a Value in Edge,
but locally overwriting the official webdriver typings doesnt help me at all in CI environment...

whats your suggestions, should we create a PR in the WebDriver Repository?

[2019-07-25 16:14] mgrybyk commented on #1630
@sombreroEnPuntas please update to the latest version, the issue has been fixed some time ago

[2019-07-25 16:15] mgrybyk commented on #1630
https://github.com/webdriverio/webdriverio/blob/d77ba56300b2f172c35b3ce1e69ebaa9eee78cda/packages/webdriverio/webdriverio.d.ts#L50

[2019-07-25 17:00] ryanwu2018 commented on #3324
you can define a separate webdriver.d.ts file in your root directory with the above info,
it is the same approach for override/add typing when defining custom commands. ( it uses webdriverio.d.ts)
That way it will work for any environment if you have set up the compiler correctly.

Yes, a PR would be better but I don't have the time to read the contribution documents.

[2019-07-25 17:03] ruiquanwu commented on #3324
you can define a separate webdriver.d.ts file in your root directory with the above info,
it is the same approach for override/add typing when defining custom commands. ( it uses webdriverio.d.ts)
That way it will work for any environment if you have set up the compiler correctly.

Yes, a PR would be better but I don't have the time to read the contribution documents.

[2019-07-25 20:47] gayathri12aug opened #4257 "When running scripts in Jenkins for headless Firefox, using wdio testrunner, I am receiving the error "Type Error in Before all hook...." $(...).click is not a function."
I am using webdriverio-mocha-chai framework and running the test scripts through Jenkins, in firefox headless mode. The scripts run fine in local machine (Windows 10, 64 bit) 3 out of 5 test cases passing ( I have 'cannot scroll element into view" error for 2 test cases involving file upload)
I am receiving the following error when I run the scripts in Jenkins:
**Issue 1:**
"[0-0] **TypeError** in

[2019-07-25 20:51] gayathri12aug commented on #4257
capabilities: [{
         browserName: 'firefox',
         "moz:firefoxOptions": {
         args: ['--headless', '--disable-gpu', '--window-size=1280,800']
         }
  }],

I am using these capabilities in my config file.
{Note: In my original post I have posted the dependencies as present in package.json file..  Sorry, I have wrongly mentioned it as wdio.config file)

[2019-07-25 21:20] mgrybyk commented on #4257
@gayathri12aug reproducible example for each issue would be helpful!

[2019-07-25 22:54] SanthoshBonala commented on #4008
Hey folks,

Got it to work using @wdio/sync.
Even though I was in async mode I had to install @wdio/sync. since this package contains all of the test retry logic which is triggered by fabric context method (referenced in jasmine-framework, to be precise in run method). The only things which can go wrong when using @wdio/sync is not naming the function as async. Even though if we are passing an ano

[2019-07-25 23:47] SanthoshBonala commented on #4008
To fix the above type checking, I think we need to check the name of the constructor. Below is an example of what I think
```(async ()=>{}).name```
output: ```""```
```(async ()=>{}).constructor.name```
output: ```"AsyncFunction"```

[2019-07-26 00:35] diachedelic commented on #4253
@christian-bromann ok, thanks. For reference, I was using Chrome `76.0.3809.80 (Official Build) beta (64-bit)` so it was probably a driver mismatch with chromedriver which only supports Chrome 75

[2019-07-26 00:46] diachedelic commented on #1630
@sombreroEnPuntas perhaps you could use a library like [p-wait-for](https://www.npmjs.com/package/p-wait-for) instead of `browser.waitUntil`, assuming you are not using the sync testrunner

[2019-07-26 08:05] christian-bromann commented on #1630
@diachedelic `waitUntil` waits for promises, it is just a typescript problem that was fixed a couple of versions ago.

@sombreroEnPuntas please let us know if this error persists after upgrading the webdriverio versions. Thanks!

[2019-07-26 08:05] #1630 closed

[2019-07-26 08:06] christian-bromann commented on #4008
Please do

[2019-07-26 13:23] gayathri12aug commented on #4257
I will add one today.. Thank you

[2019-07-27 05:49] wswebcreation opened #4259 "browser.addCommand is not sync anymore"
**Environment (please complete the following information):**
 - **WebdriverIO version:** `5.11.10`
 - **Mode:** testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** `10.15.2`
 - **NPM version:** `6.9.0`
 - **Browser name and version:** -
 - **Platform name and version:** OSX Mojave
 - **Additional wdio packages used (if applicable):** See image below

**Config of

[2019-07-27 07:23] kevinmcdonnell commented on #4085
I've encountered this as well

[2019-07-27 07:38] mgrybyk commented on #4259
@klamping @wswebcreation please add reproducible example

[2019-07-27 07:47] mgrybyk commented on #4259
@wswebcreation here is what I have tried
[code]

Works just perfect!

[2019-07-27 07:51] mgrybyk commented on #4259
Make sure there are no older versions of webdriverio saved in your `package-lock.json`

[2019-07-27 08:30] mgrybyk commented on #4259
@wswebcreation please also see https://github.com/wswebcreation/wdio-image-comparison-service/issues/10

[2019-07-27 09:13] mgrybyk commented on #4259
[code]

[2019-07-27 15:31] WillBrock commented on #4259
I noticed some odd behavior with the latest version as well. I haven't had a chance to look into it though. An async issue would make sense. I won't be able to look into it until tomorrow.

[2019-07-27 19:06] wswebcreation commented on #4259
🤦‍♂ I thought I checked everything, but you were right @mgrybyk , it was the async part that was breaking. I'm going to close it. Sorry and thanks for pointing out to that part

[2019-07-27 19:06] #4259 closed

[2019-07-27 19:09] mgrybyk commented on #4259
If you guys still have any issues, let me know

[2019-07-27 19:15] wswebcreation commented on #4259
@mgrybyk

I was my own fault, and I think a dependency upgrade in the new version triggered the issue. Please add a label to this issue like _shame on you Wim_. Man that was stupid

[2019-07-27 20:25] mgrybyk commented on #4259
@wswebcreation actually not stupid, it worked before my recent changes. I mean it was possible to mix async await and @wdio/sync

[2019-07-28 22:46] sabarishnarain commented on #4097
@pratikvarma  5.11.10. Are you sure you have `path`: `/wd/hub` in your config ?

[2019-07-29 08:09] d668 commented on #476
Hm, `performance` is gone with Chrome 75

[2019-07-29 08:16] christian-bromann commented on #476
What do you mean by that?

[2019-07-29 08:19] d668 commented on #476
[code]
This cases error now in my existing app after upgrading to chrome 75

[2019-07-29 08:20] christian-bromann commented on #476
instead of `chromeOptions` write `'goog:chromeOptions'`

[2019-07-29 10:06] d668 commented on #476
Doesn't seem to work https://gist.github.com/d668/0b1e65317cda7727a3984caf8796ee06
[code]

[2019-07-29 10:39] d668 opened #4262 "chromeOptions stopped working after upgrade"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.14.4
 - **Mode:** Standalone
 - **Node.js version:** v8.11.1
 - **NPM version:** 5.6.0
 - **Browser name and version:** Chrome 75
 - **Platform name and version:** Ubuntu 18.04.1 LTS

**Describe the bug**
After upgrade to Chrome 75 the code stopped working

**To Reproduce**
`java -jar -Dwebdriver.chrome.driv

[2019-07-29 12:11] christian-bromann commented on #4262
This is fixed in v5. Please either update or provide a PR with a fix at https://github.com/webdriverio-boneyard/v4. Thanks!

[2019-07-29 12:11] christian-bromann commented on #476
@d668 please update to v5

[2019-07-29 13:50] sup-engineer commented on #3191
still seeing the same issue
`    @wdio/cli": "^5.11.0",
    "@wdio/config": "^5.11.0",
    "@wdio/cucumber-framework": "^5.11.0",
    "@wdio/local-runner": "^5.11.0",`

[2019-07-29 14:06] mgrybyk commented on #3191
@MaheshGooner @sup-engineer please provide with steps to reproduce .

[2019-07-29 14:25] jbblanchet opened #4263 "CucumberJS - Quality of life"
Hi!

First of all, thanks for the hard work.

I'm currently migrating a project from Chimp (which used webdriver.io under the hood) to using webdriver.io directly We're using CucumberJs as our framework with Chai expects.

While I prefer this new, simpler stack to the old chimp one, it broke a few of our workflows.

1. When using the --watch option, all features start their own selenium session. T

[2019-07-29 15:31] nicholasbaileyrally opened #4264 "Calling $ or $$ on an element while running in synchronous mode returns a promise."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.8
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** synch
 - **Node.js version:** 10.15.3
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome
 - **Platform name and version:** OSX
 - **Additional wdio packages used (if applicable):** @wdio/selenium-standalone servic

[2019-07-29 15:46] mgrybyk commented on #4264
@nicholasbaileyrally please update to the latest versions of webdriverio and @wdio/sync

[2019-07-29 15:47] #4264 closed

[2019-07-29 15:49] d668 commented on #4262
is it possible to use v5 with selenium-server-standalone-3.0.1.jar? I didn't find any examples

[2019-07-29 15:50] christian-bromann commented on #4262
This is a super old version if the selenium jar

[2019-07-29 15:50] #4262 closed

[2019-07-29 15:54] d668 commented on #4262
OK the latest would be selenium-server-standalone-3.141.59.
I can't follow getting started because it is a very old and big project, I need to migrate it

[2019-07-29 15:57] mgrybyk opened #4265 "switchToFrame doesn't work in mobile chrome"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.10
 - **Appium version:** 1.14.0
 - **Chrome version:** 75
 - **Chromedriver version:** 75

**Config of WebdriverIO**
Android, chrome

**Describe the bug**
`browser.swithToFrame('iframe')` returns `ELEMENT is missing in request`

**To Reproduce**
`browser.swithToFrame('iframe')`

**Expected behavior**
sho

[2019-07-29 16:08] mgrybyk commented on #4263
Hello @jbblanchet,

1. you may reduce `maxInstances` to whatever value needed.
2. Can `ignoreUndefinedDefinitions` help you? See cucumberOpts here https://webdriver.io/docs/configurationfile.html
3. this can be changed, please submit separate feature request for this one!
4. Can `afterCommand` help you in this case? You may put breakpoint if some command fails. Sorry to say `afterTest` hook is not

[2019-07-29 16:17] mgrybyk commented on #4265
@christian-bromann if you are fine with suggested approach, I can do it.

Alternatively I can suggest to change `command.js` to verify every argument.
If `instanceOf argument Element` then changed it to
[code]

It should be more flexible and we would not need to wrap more and more commands

[2019-07-29 16:19] christian-bromann commented on #4265
Something is off here. It seems that WebdriverIO thinks it is running w3c but Appium don't supports it. Can you check the environment flags? Chances are that this is a bug in Appium.

[2019-07-29 16:26] jbblanchet commented on #4263
@mgrybyk Thanks for the feedback.

1. I've created a simple demo of the problem in https://github.com/jbblanchet/2-browsers. If you run it with `yarn wdio ./wdio.conf.js --watch`, you will see that 2 chrome browsers are open, even if my max instance is 1. It opens one, runs the test in the first feature, keeps it open because of watch mode, opens a second one, runs the second feature, keeps it ope

[2019-07-29 16:38] mgrybyk opened #4266 "Wrap protocol element(s) with WebdriverIO elements"
**Is your feature request related to a problem? Please describe.**
There are some commands like `getActiveElement` that returns something like `element-6066-11e4-a52e-4f735466cecf:"ELEMENT-57"`

There is no way to interact with such object like with WebdriverIO element

**Goal**
I'd like to be able to wrap such responses, ideally automatically somehow

**Suggested solutions**
- add command Webdriv

[2019-07-29 17:37] ranjaniSourceDay opened #4267 "Unable to run 'setvalue' in firefox and safari"
Here is the link to my repo

https://gitlab.com/ranjani.amirth/webdriverio-crossbrowser

Run `npm run test`

This is a test just to open https://google.com and enter a value in the search box. You will see the test passes in chrome, but fails in firefox and safari

Browserversions i tested this

chrome: Version 75.0.3770.142
firefox: 68.0.1 (64-bit)
safari:  12.1.1 (14607.2.6.1.1)

This is the err

[2019-07-29 17:49] mgrybyk commented on #4267
Please remove conflicting packages like selenium standalone vs @wdio/selenium standalone, wdio, etc.
You can use getting started guide for it.

[2019-07-29 17:49] #4267 closed

[2019-07-29 20:57] bhavyagowda144 opened #4268 "How to handle datepicker in android ..I want to select specific year and Iam facing scrolling issue ..not scrolling I have tried many function still not working plzzz help me"
https://discuss.appium.io/uploads/default/original/2X/6/658f7a6115e14696a093f5ba109e24f47be865f2.JPG

Trying to scroll on a calendar to select a particular year

 - **WebdriverIO version:** [e.g. 4.13.2]
 -appium version :1.13.0
 - **Node.js version:** [e.g. 10.16]
 - **NPM version:** [e.g.6.0]
 -
 -

.

[2019-07-29 21:26] mgrybyk commented on #4268
Please use gitter for such questions.

If you are sure this is an issue please provide with details steps to reproduce and fill issue details properly

[2019-07-29 21:26] #4268 closed

[2019-07-30 01:15] diachedelic opened #4270 "elements fetched with $$ lose their context"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.10
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v11.15.0
 - **NPM version:** yarn 1.15.2
 - **Browser name and version:** 75.0.3770.142 (Official Build) (64-bit)
 - **Platform name and version:** MacOS 10.14.5
 - **Additional wdio packages used (

[2019-07-30 02:55] sabarishnarain opened #4271 "buttonDown & buttonUp not workinng with docker service"
- **WebdriverIO version:** [5.11.2]
- **Typescript:** [3.5.3]
 - **Mode:** [ WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync/]
 - **Node.js version:** [8]
 - **NPM version:** [e.g. 6.5]
 - **Browser name and version:** [e.g. Chrome 75]
 - **Platform name and version:** [e.g. Windows 10/Mac os]
 - **Additional wdio packages used (if applicable):** [wdio-docker-service@2.1.2, @

[2019-07-30 03:05] Laxmipb28 commented on #4104
Hi All,

I'm facing the same issue. Is there any solution for this?

[2019-07-30 06:05] mgrybyk commented on #4104
What exactly are you facing? The solution is to upgrade to the latest versions of all wdio packages

[2019-07-30 08:33] ttwu2019 opened #4272 "How to verify a Toast element?"
**Describe your question with as much detail as possible**
A clear and concise question that doesn't require too much conversation. Need more help? [Find us on Gitter](https://gitter.im/webdriverio/webdriverio)

**If it's about a specific piece of code, try and include some of it to support your question.**
[...]

**Environment (please complete the following information):**
 - **WebdriverIO versio

[2019-07-30 08:33] christian-bromann commented on #4272
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-07-30 08:33] #4272 closed

[2019-07-30 08:35] christian-bromann commented on #4271
Whatever WebDriver endpoint you are accessing in the Docker container it seem to not speak old JSONWire but runs the latest WebDriver protocol where this command doesn't exist anymore.

[2019-07-30 08:35] #4271 closed

[2019-07-30 08:36] pablopaul opened #4273 "iOS Appium on BrowserStack Falls Back to MSONWP instead of Using Expected W3C Protocol"
**Environment:**

- **WebdriverIO version:** 5.7.12
- **Mode:** WDIO Testrunner
- **If WDIO Testrunner, running sync/async:** async
- **Node.js version:** v11.13.0
  **NPM version:** 6.10.1
- **Platform name and version:** iOS 11.2
- **Additional wdio packages used (if applicable):** appium service

**Config of WebdriverIO**

Local capabilities set through webdriverio which are working

[code]

Th

[2019-07-30 08:43] wswebcreation commented on #4273
@pablopaul

Is there a reason for using Appium `1.9.1`? I know there is a fix with W3C and timeouts in `1.10.0`, I don't know if that is related to this issue

[2019-07-30 08:46] christian-bromann commented on #4273
It is. WebdriverIO sends a w3c command as it suppose to do with Appium given they support w3c within the latest versions. Please reach out to BS and ask how to use the latest version of Appium.

[2019-07-30 08:46] #4273 closed

[2019-07-30 08:51] pablopaul commented on #4273
@wswebcreation for the record I added the debug log to the issue (https://gist.github.com/pablopaul/e08b68aaf6d4e622936eabc338e7bf0c).

Currently the latest Appium version available on BrowserStack is `v1.9.1`.

@christian-bromann BS want to provide newer Appium version, but no ETA.

[2019-07-30 08:53] DimitryRd commented on #4085
[code]
I have situation when browser.getPageWeight() is working as intended, however
I get error
[code]
I have the next package.json configuration:
[code]

[2019-07-30 10:01] mgrybyk commented on #4259
@WillBrock have you been able to take a look?

[2019-07-30 11:12] popescunsergiu opened #4274 "Cucumber Scenario Outlines - Cannot read property \'steps\' of undefined"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-07-30 12:15] mikob opened #4275 "getLogs is not a function"
Perhaps related to: #4032 (reinstalling packages did not work)

**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2]
5.11.10
 - **Mode:** [Standalone mode or WDIO Testrunner]
Standalone
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version:** [e.g. 8.11.2]
12.4.0
 - **NPM version:** [e.g. 5.8.0]
6.9.0
 - **Browser na

[2019-07-30 12:17] christian-bromann commented on #4275
`getLogs` is a JSONWP command (https://webdriver.io/docs/api/jsonwp.html#getlogs). With Chrome 75 the driver switched to w3c as default protocol where this command doesn't exist anymore. There is not really a replacement for it. You might want to use the `@wdio/devtools-service` to receive network and performance logs.

[2019-07-30 12:17] #4275 closed

[2019-07-30 12:19] mikob commented on #4275
@christian-bromann woah what a speedy response. Thanks so much for the pointer, I've been stuck on this more than a day. Hmm, I don't think network and performance logs will help, I need to see if there are js errors in the browser...

[2019-07-30 12:22] christian-bromann commented on #4275
@mikob you can get these logs from the `@wdio/devtools-service` too

[2019-07-30 12:27] wswebcreation commented on #4273
@pablopaul

It's a pity that BS isn't supporting the latest versions, Appium is already on version `1.14.0`, meaning they are back behind a lot

[2019-07-30 12:29] pablopaul commented on #4273
@wswebcreation

Yes, Appium `1.9.1` is almost a year old.

I contacted sales again.

[2019-07-30 12:32] pablopaul commented on #4273
@wswebcreation

Anyway, locally I ran successfully `setTimeouts()` inside an iOS simulator and Appium `1.9.1` with WebdriverIO, meaning I could not even reproduce the error locally with the same Appium Version.

Maybe its the simulator vs real device, what do you think?

[2019-07-30 12:40] mgrybyk commented on #4270
@diachedelic thank you for providing with detailed steps!

Reproduced it locally with the following
[code]

[2019-07-30 12:55] DimitryRd commented on #4275
I hope that the answer is going to be also fast)
I am getting now

[code]

Looks like the enablePerfromanceAudits does not work

[code]
Im getting undefined result for that command:
[code]

[2019-07-30 13:05] christian-bromann commented on #4275
it doesn't work with Appium

[2019-07-30 13:10] DimitryRd commented on #4275
So, shall I just reconfigure WDIO from the beginning?

[2019-07-30 13:13] christian-bromann commented on #4275
Not sure what you mean by that. According to the logs that you posted WebdriverIO was able to capture performance data.

[2019-07-30 13:17] DimitryRd commented on #4275
Actually, I have Appium in my package.json but I did not use since I needed performance metrics from Chrome Desktop, not the mobile. I did not get you also. Why did you decide that I use Appium ?

[2019-07-30 13:21] DimitryRd commented on #4275
I fully removed Appium from my project but still get the error
[code]

[code]

[2019-07-30 13:22] christian-bromann commented on #4275
Because your WebDriver endpoint is on port `4723` which usually indicates Appium. Here is an example project how performance can be used: https://github.com/christian-bromann/webdriverio-performance-testing

[2019-07-30 13:31] jbblanchet commented on #4248
Your second example doesn't seem to be right. I've tried reproducing it, and promise resolution seems to be fine.

This is my code:
[code]

will give the following output:
[code]

Promise 2 is resolved because it's returned from the second before as an async function. The first one is not, even if the function is declared async, since it's not returned. I believe this is the right behavior.

[2019-07-30 13:38] jbblanchet commented on #4248
By the way, I believe this should also be the behavior of the webdriver hooks:

1. Wait for promise to resolve if (and only if) it's returned.
2. Have the right `this`, or at least get the world as a param, as currently changing this would be breaking.

I was looking into fixing 1. yesterday, but I believe it would require a full re-write of the current runner being an EventEmitter. I'll try looki

[2019-07-30 13:54] mikob commented on #4275
@DimitryRd can you open your own issue?

I'm having an issue with `browser.cdp` is undefined now. I noticed in that example project it states "Unlike plugins, [services] don't add new commands. Instead, they hook themselves up into the test process. They enhance your test setup with almost no effort. "

What if I'm using `ava` or no test runner? I put some console logs in and see that this part of

[2019-07-30 14:07] mgrybyk commented on #4270
Let's proceed conversation in PR.

[2019-07-30 14:07] #4270 closed

[2019-07-30 14:18] jbblanchet commented on #4207
I've looked into this to try and find a solution, and I don't think there's a good generic (i.e. working for both sync/async) way to do this for all the hooks defined in the config file.

Cucumber itself offers only 4 hooks: `BeforeAll` (which maps to `before` in the config I think), `Before` (`beforeScenario`), `After` (`afterScenario`) and `AfterAll` (`after`). For these, we could try and use th

[2019-07-30 14:20] DimitryRd commented on #4275
Christian, thank you for the hint!
However, I got the same error:
[code]
Will file the issue as per @mikob

[2019-07-30 15:39] DustinRoundy opened #4277 "PhantomJs support"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [x] Other

**Description of the improvement / report**
The WebDriverIO documentation says PhantomJS is supported. @mgrybyk h

[2019-07-30 15:44] DimitryRd opened #4278 "devtools-service: browser.getMetrics is not a function"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-07-30 15:45] caweidmann opened #4279 "browser.getTabIds() not working in v5"
**Environment:**
 - **WebdriverIO version:** 5.11.0
 - **Mode:** Standalone
 - **Node.js version:** 12.6.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome 73
 - **Platform name and version:** Ubuntu

**Describe the bug**
I was using `browser.getTabIds()` previously. After upgrading to v5 I get the following error:
[code]
On v4 I can see the method here: http://v4.webdriver.io/v3.

[2019-07-30 15:57] mgrybyk commented on #4279
https://webdriver.io/docs/api/webdriver.html#getwindowhandles

Please use gitter for such questions

[2019-07-30 15:57] #4279 closed

[2019-07-30 15:59] caweidmann commented on #4279
Cool, thanks.

[2019-07-30 16:06] nextlevelbeard commented on #4248
Correct me if I'm wrong, I'm not an expert in JavaScript, but I believe the only reason your example is working is due to the hooks and the step definitions being declared on the same block level and sharing the same scope.

Your example is using arrow functions for both your _Then_ and your _Before_ hooks. The scope for `this` is not the World. You can test by separating the hooks and the step de

[2019-07-30 16:13] jbblanchet commented on #4248
@nextlevelbeard You are perfectly right, but this updated code:

[code]

and its output:
[code]

should demonstrate that the behavior is still correct when attached to the World object.

[2019-07-30 16:25] jbblanchet commented on #4248
This is running by using the following `wdio config`:

[code]

These are the versions of wdio I'm using:
[code]

I've tried with both `sync` and `async` setup, but it seems to have no influence on the config file, only on the inclusion of `@wdio/sync` in the package.json, but even with async it's included as a dependency of `@wdio/cucumber-framework`.

I've also tried to make the Then step async o

[2019-07-30 16:30] christian-bromann commented on #4277
PhantomJS is supported but you need to have it installed on your machine. That said, I would not recommend to use PhantomJS these days and rather use Chrome headless.

[2019-07-30 16:30] #4277 closed

[2019-07-30 16:37] mgrybyk commented on #4277
Can we remove it from docs as far as it is not recommended so that newcomers won't try using it without a reason?
@christian-bromann

[2019-07-30 17:14] WillBrock commented on #4259
@mgrybyk I think our problem was with the issue in #4269

[2019-07-30 17:41] mgrybyk commented on #4259
Hope so, let me know if you are seeing something else

[2019-07-30 18:12] nextlevelbeard commented on #4248
@jbblanchet I've just retested with my config and you are right: Cucumber hooks have no problem.

`async function` hooks do not resolve Promises and `this` is scoped to World.

I've since updated my webdriverIO dependencies 5.11.7 → 5.11.10.
Either updating has fixed the problem for me or I had some logic I wasn't seeing.

Thanks for looking into this with me though, I'll update the issue.

That s

[2019-07-30 18:25] jbblanchet commented on #4248
@nextlevelbeard My pleasure. Just wanted to make sure the behavior of the Cucumber hooks wasn't changed :smile:

Personally, I'd deprecate or at least discourage usage of the config hooks with Cucumber:
- The critical ones (after, before, afterScenario, beforeScenario) are redundant with stuff already supported by Cucumber.
- The hooks themselves are confusing, since for example `after` maps to `A

[2019-07-30 18:51] mgrybyk commented on #4248
There were sync related fixed, @nextlevelbeard. I recomend to update to 5.11.11

[2019-07-30 19:57] nami-varthakavi commented on #4008
Do you guys have an exiting PR up for this? @SanthoshBonala Will, you be able to open up PR anytime soon? I was about to dig down to this issue some point next week as per my schedule...If you have a solution it would be great if you can have a PR up for this :)

[2019-07-30 20:41] christian-bromann commented on #4277
Absolutely

[2019-07-30 21:02] SanthoshBonala commented on #4008
@nami-varthakavi will be sending pr in a couple of days

[2019-07-30 21:03] nami-varthakavi commented on #4008
Thanks a lot :) and thanks for the quick reply

[2019-07-30 21:46] pmerwin opened #4280 "waitForExist(3000, true) is failing, unless browser.pause() is used before it."
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-07-30 21:50] christian-bromann commented on #4280
Closing as this doesn't contain any information.

[2019-07-30 21:50] #4280 closed

[2019-07-30 22:35] pmerwin commented on #4280
sorry didn't mean to create this.

[2019-07-31 00:44] diachedelic commented on #4270
@mgrybyk oh sorry, I failed to mention that I had `index.html` served at localhost:3456, glad you figured it out!

[2019-07-31 02:26] Rajendiransivaprasath commented on #1140
1. in WebdriverIO v4, i tried to clear text (which contains special charactes like @, +, _) in text field by below following step. Eventhough it was not successful.

    example: text=> abc+1234@gmail.com

    step1:browser.clearElement(selector);

    step2:browser.execute(function () {
                document.querySelector(>>>Cssselector<<<).value="";
            });

    step3: browser.doubleC

[2019-07-31 09:16] mgrybyk commented on #4265
Issue has been resolved on Appium side, all credits to @mykola-mokhnach

[2019-07-31 09:16] #4265 closed

[2019-07-31 09:25] valenso opened #4282 "How to get an access to manually configured address+port for "devtools" service"
**Describe your question with as much detail as possible**
My question is similar to #3744 but with a couple of differences.
How my setup looks like:

1. The local machine runs tests and config
[code]
2. Remote machine is Selenium Grid with opened ports 4444, 9222
3. Code
[code]

Result:
[code]

What do I need to add to use of devtool remotely (locally it works fine)?

**Environment (please comple

[2019-07-31 09:37] christian-bromann commented on #4282
It seems that WebdriverIO can't connect to the socket port on the remote machine. Make sure the machine that is running the test can access the port in the machine where the browser is running.

If you have further question join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&ut

[2019-07-31 09:37] #4282 closed

[2019-07-31 09:50] valenso commented on #4282
Absolutely agree, it was my first step. I checked twice, the test works properly without `devtools`.
I will ask the question in Gitter. Thanks)

[2019-07-31 11:03] wswebcreation commented on #4273
@pablopaul

I don't think it's related, I think it's more a BS thing, but maybe that's also because I'm a SL guy 😉

[2019-07-31 11:42] #3045 closed

[2019-07-31 11:50] mgrybyk commented on #3937
@abjerstedt do you have any plans to proceed working on this one?

[2019-07-31 11:53] espekkaya opened #4284 "Webdrverio v5 cucumber typescript mismatch hooks parameter"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.11
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:**sync
 - **Node.js version:** 10.15.3
 - **NPM version:** 6.10.2
 - **Browser name and version:** Chrome 68
 - **Platform name and version:** Windows 10

**Config of WebdriverIO**
[code]

**Describe the bug**
When I have use conf

[2019-07-31 12:08] christian-bromann commented on #4284
Where are they mismatching?
[code]

They just define more properties which should be find and should not break TS.

[2019-07-31 12:08] christian-bromann commented on #4284
ah see it now .. PRs welcome!

[2019-07-31 12:13] dmytro-basiuk commented on #4097
try to set a different port in wdio.conf file.
Ex.
[code]
It worked for me
'cause I have one more wdio.config with another port set

[2019-07-31 12:41] mgrybyk commented on #4257
If you have steps to reproduce, fill free to re-open @gayathri12aug

[2019-07-31 12:41] #4257 closed

[2019-07-31 12:46] gtilekar commented on #4195
@christian-bromann

we have moved to wdio 5 and landed into same error

  "@wdio/spec-reporter": "^5.11.7",
    "@wdio/allure-reporter": "^5.11.0",
    "@wdio/cli": "^5.11.7",
    "@wdio/cucumber-framework": "^5.11.6",
    "@wdio/local-runner": "^5.11.6",
    "@wdio/selenium-standalone-service": "^5.11.2",
    "@wdio/sync": "^5.11.0",
    "@wdio/config": "^5.11.0",

	0-0] 2019-07-31T12:36:50.308Z

[2019-07-31 12:55] mgrybyk commented on #4195
Same reply, remove node modules folder and package lock json file, run npm install

[2019-07-31 13:05] gtilekar commented on #4195
Tried. Same Error

[2019-07-31 13:42] mgrybyk commented on #4195
Steps to reproduce are welcomed!

[2019-07-31 14:01] gtilekar commented on #4195
I have made a simplest example .since I cannot past real example

Feature: Testing login

    Scenario Outline: Login to portal
        Given User <userId> with <password> is logged in
        When User logs out
        Then User is on the login page

    @first
        Examples:
            | userId    | password |
            | 123       | pwd      |

    @second
        Examples:
            |

[2019-07-31 14:16] mgrybyk commented on #4284
Let's track in in PR

[2019-07-31 14:16] #4284 closed

[2019-07-31 14:21] mgrybyk commented on #4195
Can you please share step definition?

[2019-07-31 14:48] simongranger opened #4286 "Add standalone REPL for Appium"
**Is your feature request related to a problem? Please describe.**
At the moment we can use the webdriver.io REPL interface by adding driver.debug() in our tests. Unfortunately it's not super easy to use when all you want it try out commands or make a manual demo.

**Describe the solution you'd like**
There is a standalone console app for ruby lib that reads your caps from a appium.txt file. It wo

[2019-07-31 14:51] gtilekar commented on #4195
const { Given, When, Then } = require('cucumber')

/* GIVEN */
Given(/^User (.*) with (.*) is logged in$/, { wrapperOptions: { retry: 2 } }, function (userId, password) {
    LoginPage.login(userId, password)
})

[2019-07-31 15:22] mgrybyk commented on #4195
@gtilekar example provided by you is not working at all, it has wrong formatting, invalid regexp, etc.
Can you please share properly working one?

[2019-07-31 15:32] mgrybyk commented on #4195
aha, make it finally run
[code]

[code]

[2019-07-31 15:32] mgrybyk commented on #4195
and now it fails for me

[2019-07-31 15:33] mgrybyk commented on #4195
this is definitely absolutely different issue than original one, @gtilekar can you please submit it?

[2019-07-31 16:27] miguelyoobic95 commented on #3068
Hey guys, we have upgraded to v5 and we are observing this issue. Any workarounds for this ? Our first Given is consistently running before our async afterFeature hook has finished and it breaks our tests essentially ...

[2019-07-31 16:34] mgrybyk commented on #3068
@miguelyoobic95  https://github.com/webdriverio/webdriverio/issues/4207

[2019-07-31 16:37] miguelyoobic95 commented on #3068
Having a look now, thanks @mgrybyk. Sticking a timeout makes thing work but is far from being a good solution

[2019-07-31 16:47] miguelyoobic95 commented on #4207
We have a similar issue, where we run some async code in the `beforeFeature` hook but the tests do not wait until this is finished before moving onto the first `Given` step of our feature. Sticking a `browser.pause(1500)` seems to be sufficient as a workaround but it would be great if the hooks respected the async/await order.

[2019-07-31 16:53] mgrybyk commented on #4207
I think all the cucumber hooks work same way

[2019-07-31 16:56] amit-punjabi commented on #4273
On Android execution, I am not facing this. However, on iOS this error is displayed.

Review the attached Appium logs - [#iOS](https://gist.github.com/amit-punjabi/fb2ca73c5e0e41693f79cfa7d84e8c44), [#Android](https://gist.github.com/amit-punjabi/94d70fa5093646ad2e22e7f97b625d34)

seems like Safari cares about exact parameter string and Chrome does not. Check [this](https://github.com/theintern/le

[2019-07-31 17:47] gtilekar opened #4287 "Cucumber: Scenario Outline fails if there is more than one table"
**Environment:**
"@wdio/cucumber-framework": "^5.11.11

**Log:**
[code]

**Steps to reproduce:**
Step definition:
[code]
Feature
[code]

More information on below thread:
https://github.com/webdriverio/webdriverio/issues/4195

[2019-07-31 17:48] gtilekar commented on #4195
Thank you . Appreciate your time. :)

[2019-07-31 18:25] rdpanek commented on #4085
@christian-bromann any progress pls? Exist some fast solutions?

[2019-07-31 18:34] christian-bromann commented on #4085
I haven't looked into this at all which is why I labeled this thread this way.

[2019-07-31 20:08] christian-bromann commented on #4287
I looked into this for quite a while and couldn't find the reason why this is failing. First of, your example is wrong it should be something along these lines:
[code]

with a step definition like:
[code]
but even then I don't get a proper result. It seems that the regex is wrong or something like that. I am not a Cucumber expert, nor do I use Cucumber. If someone knows the solution please provide

[2019-07-31 20:56] mgrybyk commented on #4207
Hey guys, here is update.

- before/after **scenario** will work!
- before/after **feature** won't work until it is implemented, however as a workaround we'll use BeforeAll / AfterAll that should work pretty much the same because wdio has dedicated worker per feature file
- before/after step hooks won't work until https://github.com/cucumber/cucumber-js/issues/997 is implemented

[2019-07-31 22:01] igerasimov23 commented on #4206
I can reproduce the same bug on :
1. chrome v76, chromedriver 76, selenium-standalone:3.141.59
2. firefox v68, geckodriver 24, selenium-standalone:3.141.59

I did my work around this way:
[code]
But I will use @theduykh solution A which I like

[2019-08-01 07:35] mgrybyk opened #4289 "Ability to click with particular button, ex right mouse button"
**Is your feature request related to a problem? Please describe.**
I want to be able to click on element with right, middle or any other buttons

**Describe the solution you'd like**
Click with desired mouse button on element with `performActions`
Example:
`$('selector').click({ button: 'right' })` same as `$('selector').click({ button: 1 })`

There should be no changes to `$('selector').click()`,

[2019-08-01 07:49] gtilekar commented on #4287
below stepdef should work .If that is what you are looking for. Don't use '/g' at the end.

Given(/^User (.+) with (.+) is logged in$/, {}, function (userId, password) {
    console.log(userId, password)
})

[2019-08-01 07:58] mgrybyk commented on #4287
Working example here https://github.com/webdriverio/webdriverio/issues/4195#issuecomment-516901032

[2019-08-01 08:00] mgrybyk commented on #4287
@gtilekar so you know some docs where I can get acquainted with the feature that allows using @first @second tags in the way you use it?

[2019-08-01 08:20] gtilekar commented on #4287
Our current framework with node 6.9.1 uses  "wdio-cucumber-framework": "1.0.2" and it works fine with it.

[2019-08-01 08:34] mgrybyk commented on #4287
This is not helpful at all, that old versions use old cucumberJs.
Anyway, I mean do you know if it is officially supported by cucumber? Some documentation about it

[2019-08-01 08:49] mgrybyk commented on #4287
I'll fix it soon

[2019-08-01 08:54] gtilekar commented on #4287
Sorry .I don't know have reference of any document.

[2019-08-01 08:55] mgrybyk commented on #4287
@gtilekar me neither, I was looks for some examples, etc, but failed.

[2019-08-01 09:04] mgrybyk commented on #4287
if necessary, let's proceed discussion in PR https://github.com/webdriverio/webdriverio/pull/4290

[2019-08-01 09:04] #4287 closed

[2019-08-01 12:05] erwinheitzman commented on #4246
What is the issue? Are you receiving any errors? More info is much appreciated.

[2019-08-01 13:29] mikob commented on #4275
@christian-bromann is devtools-service not designed to work outside of a mainstream testing framework like chai, as per my comment: https://github.com/webdriverio/webdriverio/issues/4275#issuecomment-516428968
? Appreciate any insight.

[2019-08-01 14:20] mgrybyk commented on #4207
working is in progress, let's proceed conversation in PR https://github.com/webdriverio/webdriverio/pull/4288

[2019-08-01 14:20] #4207 closed

[2019-08-01 14:39] christian-bromann commented on #4275
@mikob the service only works in conjunction with the WDIO testrunner

[2019-08-02 06:19] thuvvashan20 commented on #2545
I am facing the same issue, May I know how did you managed to solve the issue ?

[2019-08-02 07:07] wizzfizz94 opened #4291 "How to use jQuery in browser.execute function?"
I'm trying to access and manipulate a jQuery element through the browser.execute function, changing the date in a [date time picker](https://eonasdan.github.io/bootstrap-datetimepicker/). The code seems to execute with no errors but the dates remains unchanged. I've verified these commands work in the apps browser context normally.

 My code looks like this:
[code]

**Environment**
 - **WebdriverI

[2019-08-02 07:12] Lusito commented on #4246
Not sure what more information you expect. As said, the drag event doesn't happen. The moveTo call says "move target out of bounds". No other errors are printed.

The sample repository shows the issue. Checkout the repo, run `npm install`, `npm start` (for the server) and then `npm test` for the tests.

[2019-08-02 07:44] christian-bromann commented on #4291
The code looks fine and as you said there are no errors. Maybe add a waitForExist for these elements to show up first. I will close this as this doesn't seem to be an issue with WebdriverIO.

If you have further questions, join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm

[2019-08-02 07:44] #4291 closed

[2019-08-02 13:34] mgrybyk opened #4292 "Add unit tests for @wdio/sync - executeAsync"
**Is your feature request related to a problem? Please describe.**
I'd like to add tests for @wdio/sync, these files in particular:
- `executeAsync` in `index.js`

**Describe the solution you'd like**
Currently most of the functions are marked with `/* istanbul ignore next */`.
We have to remove that and test all that functions.

[2019-08-02 16:41] mgrybyk commented on #4274
@popescunsergiu the issue is not reproducible for me, please upgrade to the latest version and try again.

[2019-08-02 16:44] mgrybyk commented on #4248
I'll have to ask you to try again once https://github.com/webdriverio/webdriverio/pull/4288 is released,  hopefully somewhere next week.

Please also note that hooks signature will be changed

[2019-08-02 16:50] mgrybyk commented on #4263
1. Please rise an issue
2. Please submit a feature request

Please note that we are working on some fixes for hooks, you might be interested as well https://github.com/webdriverio/webdriverio/pull/4288

Closing this one for now in advance to issues you might want to rise.

Thank you

[2019-08-02 16:50] #4263 closed

[2019-08-02 16:55] mgrybyk commented on #4236
@nextlevelbeard does adding vendor prefixes work for you?

[2019-08-02 16:57] mgrybyk commented on #4148
@PippoRaimondi will you be able to submit issue to mocha?

Closing this one as far it is not wdio related, please reopen if I'm wrong

[2019-08-02 16:57] #4148 closed

[2019-08-02 16:59] mgrybyk commented on #4219
I think this one should be fixed by https://github.com/webdriverio/webdriverio/pull/4220

@DenisStrogonov can you please confirm?

[2019-08-02 17:47] Drewster727 opened #4293 "webpack dropping wdio dependencies"
**Describe your question with as much detail as possible**
I posted [here](https://github.com/serverless-heaven/serverless-webpack/issues/528) on the serverless webpack issues -- as I thought perhaps it could be a webpack and/or serverless issue, but I'm not entirely sure.

I have a node project using serverless + webpack. I am having an issue where my lambda cannot find certain wdio node dependen

[2019-08-02 19:30] ranjaniSourceDay commented on #4267
I tried starting the project from scratch again and this is the package.json

[code]

[2019-08-02 19:59] ducle91 commented on #4246
There is an open ticket for draganddrop function here. https://github.com/webdriverio/webdriverio/issues/4134

[2019-08-02 20:00] ranjaniSourceDay commented on #4267
does the jdk version matter?

[2019-08-02 23:47] mgrybyk commented on #4267
Might be! I'm on latest java8

[2019-08-03 00:16] mgrybyk commented on #4274
feature
[code]

step definitions
[code]

result
[code]

[2019-08-03 01:03] bhavyagowda144 opened #4294 "Android :Calendar Datepicker scrolling up and down"
Hello friends,
I want to select year like “1993” but i am not able to select with this code. It’s not able to scroll up to 1993. Please help me…!!
How to scroll for  previous year
$(android=“new UiScrollable(”
+ “new UiSelector().scrollable(true)).scrollIntoView(”
+ “new UiSelector().textContains(“1993”));”);

[2019-08-03 01:54] mgrybyk commented on #4278
Closing in according to https://github.com/webdriverio/webdriverio/pull/4295

[2019-08-03 01:54] #4278 closed

[2019-08-03 01:59] mgrybyk commented on #4203
Closing according to https://github.com/webdriverio/webdriverio/pull/4296

[2019-08-03 01:59] #4203 closed

[2019-08-03 02:05] mgrybyk commented on #4294
Hey, I've noticed you asked the question in gitter with no luck.
Not sure if anyone can help you here unless you provide us with something reproducible where someone can play around.

Also, I don't think scroll onto view can work in Android native app, maybe you should try performActions instead.

Try asking in the channel how to scroll in android native app.

[2019-08-03 06:09] SanthoshBonala opened #4297 "How to get browser logs in Chromedriver version 76 ?"
How do we get browser console logs in chromedriver v76. Since getLogs does not exist anymore as mentioned over [here ](https://github.com/webdriverio/webdriverio/issues/4275). Is there workaround to get browser console logs?

Thanks in advance!!

[2019-08-03 07:14] bhavyagowda144 commented on #4294
Hi mgrybyk I tried  many functions ..it's not able to scroll upto to specific year.....I had  asked many people still I did not get answer anywhere ..I am working  on WebdriverIO project in native app  from last 2 month ...still I did not get answser ,,, this is different datepicker , not a normal datepicker..

[2019-08-03 07:21] mgrybyk commented on #4294
Ok, so I have couple of questions:
- wdio  version
- appium version
- detailed examples of what you have tried. What errors are you getting per example. I'm especially interested in how you tried to scroll with perform actions
- finally, no one will be able to help you without your apk

[2019-08-03 07:30] bhavyagowda144 commented on #4294
WebdriverIO version--4.14.3
Appium --1.13.0

I want  to select a specific date of birth year in a datepicker but it's not scrolling and Iam not getting error ..

[2019-08-03 07:33] mgrybyk commented on #4294
@bhavyagowda144 please provide detailed steps to reproduce and detailed information on what is not working.

[2019-08-03 07:36] #4294 closed

[2019-08-03 07:55] jayrepo opened #4298 "Typings for webdriver commands are not correct if `elemenId` in `variables`"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.7
 - **Mode:**  WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.6.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome 68
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/sync

**Config of

[2019-08-03 08:04] mgrybyk commented on #4298
@jayrepo please avoid using protocol commands, use `$('elem').getSize()`

Question, does `browser.getElementRect($('elem'))` work at all? In all browsers?

[2019-08-03 08:06] mgrybyk commented on #4297
@SanthoshBonala you have to upgrade to chromedriver 76 and then may temporary use `w3c: false`.
I'm going to provide small fix soon so that getLogs will work for you even in w3c mode (`w3c: true`)

[2019-08-03 08:07] mgrybyk commented on #4297
ref: https://bugs.chromium.org/p/chromedriver/issues/detail?id=2947

[2019-08-03 08:14] mgrybyk commented on #4297
Let's track this issue in PR https://github.com/webdriverio/webdriverio/pull/4299

[2019-08-03 08:14] #4297 closed

[2019-08-03 08:57] jayrepo commented on #4298
@mgrybyk
Yes I can use `getSize()` and `getLocation()` for `getElementRect()`.
Does all protocol commands have variants on Element? I can't find that for `browser.takeElementScreenshot()`

`browser.getElementRect($('elem').elementId)` works on native Android app. not sure about browsers.

I'm experimenting on typescript with webdriverio. Another problem with the auto generated typing is browser co

[2019-08-03 09:01] mgrybyk commented on #4298
@jayrepo all W3C compliant commands have variants on Element, if not please let us know.
To take element screenshot you can just `$('').saveScreenshot('')`

Regarding issue with rect please raise another defect, you may describe it really shortly, just put webdrverio version for history

[2019-08-03 09:01] mgrybyk commented on #4298
closing this one according to https://github.com/webdriverio/webdriverio/pull/4300

[2019-08-03 09:01] #4298 closed

[2019-08-03 09:10] jayrepo opened #4301 "Property does not exist on type if commands' type def return `object`"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.7

**Config of WebdriverIO**
Typescript

**Describe the bug**
getWindowRect() for example. It occur on all commands which have return type as `obejct` in type def.

[code]

[2019-08-03 09:17] mgrybyk commented on #4301
@jayrepo thank you for submitting this one

[2019-08-03 09:19] mgrybyk commented on #4301
Adding also couple of issues:

- `browser.getNamedCookie("bar")` // return type should be `Cookie`

- `const wHandle = browser.createWindow("tab")`
`wHandle.handle` // `wHandle` has no proprerty `handle`

- `const timeouts = browser.getTimeouts()` // return type should be `Timeouts`

- `browser.getWindowSize()` // return type should be `SizeReturn`

- `const status = browser.status()`
`status.read

[2019-08-03 09:23] mgrybyk commented on #4301
We may workaround this temporary by changing return type from `object` to
[code]

that allows us to do
[code]

It is not safe of course, but may unblock users for now

[2019-08-03 11:11] mgrybyk commented on #4246
@Lusito this is not headless problem, it is failing starting from chromedriver 75.

In your config you use selenium without specifying version, so it is uses chromedriver 2.43 which was non w3c compliant.
In headless config you use chromedriver 75 which is w3c compliant, so this is a defect in chromedriver.

[2019-08-03 14:22] mgrybyk commented on #4246
@Lusito thanks a lot for providing with great reproducible example!

closing according to https://github.com/webdriverio/webdriverio/pull/4302

[2019-08-03 14:22] #4246 closed

[2019-08-03 14:31] Lusito commented on #4246
@mgrybyk thanks for clarifying and providing a fix. Though your PR only covers dragAndDrop, not moveTo or is there a connection between the two?
Will try using a different chromedriver version on monday.

[2019-08-03 14:36] mgrybyk commented on #4246
@Lusito can you please help with reproducing moveTo issue?

[2019-08-03 15:57] mgrybyk commented on #4246
@Lusito fixed moveTo as well

[2019-08-03 21:15] Drewster727 commented on #4293
I may have figured out at least partially why this is happening -- wdio.conf.js references these reporters, but webpack apparently doesn't see that they are needed. If I add a dummy requirements.js file to my lambda entrypoint file, and import that reqs file, it loads the dependencies. Like this:

handler.js
[code]

requirements.js
[code]

Seems pretty hacky to me. Anyone know how to force these d

[2019-08-03 21:24] Drewster727 opened #4303 "chromedriver binary fails to start"
**Describe your question with as much detail as possible**
I have node project that is utilizing wdio to run tests, and am attempting to get it to work inside of an AWS lambda.
I can get everything to work locally and worked through some issues with loading dependencies. Now I'm to the point where the chromedriver fails to spin up when the lambda is executed in AWS.
This is very likely due to the

[2019-08-04 01:01] mgrybyk commented on #4303
Why don't you pass args as you do manually, with two dash syntax, --headless, etc.
Can you please also enable selenium logs, and share them?

In the latest chrome I had an issue with network service, so I disabled it --disable-features=NetworkService

[2019-08-04 04:07] Drewster727 commented on #4303
@mgrybyk thanks for the response.
I have not seen anyone use the dashes in the args in wdio.conf.js capabilities, it appears to work both ways.
I'm not actually using selenium. I'm relying upon the chromedriver service to spin up the listener. I can't seem to get anything useful out of it.
I will attempt to shut off the network service feature, but don't think that;s my issue here.

-Drew

[2019-08-04 07:06] Deift commented on #3962
Hey guys, what about cucumber? Isn't it doing it already? I have worked with a Protractor framework that uses cucumber and we had everything running in parallel at feature/test level using maxInstances and shardTestFiles capabilities

[2019-08-04 10:24] mgrybyk commented on #3962
Every framework supported by wdio, including Cucumber, runs test files parallel, same as protractor.

With this PR we want to run spec test blocks in parallel, like it is done in ava

[2019-08-04 10:27] Deift commented on #3962
Is it possible already to run features in parallel using few mobile devices (I. E. android emulators), could you please tell me how?

[2019-08-04 10:31] mgrybyk commented on #4303
What is in chromedriver service logs https://www.npmjs.com/package/wdio-chromedriver-service#configuration ?

It doesn't look to me like wdio issue, sounds like some configuration issue on your side

[2019-08-04 10:34] #4303 closed

[2019-08-04 10:36] mgrybyk commented on #3962
Yes, it's possible, depending on your need configuration may differ, please use gitter for such questions, this is wrong place to discuss it.

You might need setup grid with multiple appium nodew attached to it, and run your tests in parallel then

[2019-08-04 10:41] learningandworking opened #4307 "Instead of moving to next action, wdio-appium automatically delete session"
**Environment (please complete the following information):**
 - **WebdriverIO version:
   `   "@wdio/appium-service": "^5.11.4",
    "@wdio/cli": "^5.11.10",
    "@wdio/local-runner": "^5.11.10",
    "@wdio/mocha-framework": "^5.11.0",
    "@wdio/selenium-standalone-service": "^5.11.2",
    "@wdio/spec-reporter": "^5.11.7",
    "@wdio/sync": "^5.11.10",
  `
 - **Node.js version:** 10.16.0
 - **NPM

[2019-08-04 10:47] mgrybyk commented on #4307
Please don't mix sync and async functions when using wdio/sync.
You have to remove all async await from your code. If you need to run something async use browser call.

Also, please upgrade to the latest version.
If the issue persists after you have fixed your code, feel free to reopen

[2019-08-04 10:47] #4307 closed

[2019-08-04 11:35] mgrybyk commented on #4134
hey guys, wanted to say that `dragAndDrop` works absolutely fine for me if browser window is minimised or when I run tests in headless mode.

[2019-08-04 11:44] mgrybyk commented on #4134
@larryg01 your method is not working for me. First thing is that I'm using w3c browser, like chrome and firefox that don't support jsonwp commands like buttonDown and buttonUp

[2019-08-04 11:50] mgrybyk commented on #4134
@drewctate your solution doesn't work for me neither. No failures or something, element is still not moved to target location

[2019-08-04 12:06] mgrybyk commented on #4134
@ducle91 I'd not use [html_dnd](https://github.com/html-dnd/html-dnd/blob/master/src/html_dnd.ts) because it uses JavaScript to dragAndDrop element instead of native actions that gives 0% of confidence at e2e level that drag and drop actually works in your app.

[2019-08-04 22:24] mgrybyk commented on #3839
@wswebcreation this one is not reproducible for me locally, tried in ie11 and edge (html) Version: 6.17134 | Microsoft Edge version supported: 17.17134

[2019-08-04 22:37] mgrybyk commented on #2307
are we still going to add command?

[2019-08-04 22:53] mgrybyk commented on #4188
@livemixlove actually `scrollIntoView` accepts parameters same as https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView do.

However I agree that we might need another scroll function to scroll by offset, you can easily add it to your project with custom commands

[2019-08-04 22:59] mgrybyk commented on #4098
No longer reproducible, if anyone faces the issue, please provide with detailed steps to reproduce

[2019-08-04 22:59] #4098 closed

[2019-08-04 23:12] mgrybyk commented on #4206
this gonna be fixed with https://github.com/webdriverio/webdriverio/pull/4302

[2019-08-04 23:21] #4206 closed

[2019-08-05 00:36] SanthoshBonala commented on #4008
lets track the issue in [pr ](https://github.com/webdriverio/webdriverio/pull/4308)

[2019-08-05 05:32] Laxmipb28 commented on #4104
My code is failing when reaches resolve(), it throws
 message:
  'Type check for option "onPrepare" failed: a hook option needs to be a list of functions',
 stack:
  'Error: Type check for option "onPrepare" failed: a hook option needs to be a list of functions

Can anyone help me with this?

[2019-08-05 06:03] mgrybyk commented on #4104
Make it a functions list. Does it help?

[2019-08-05 07:16] DenisStrogonov commented on #4219
Confirmed. Thank you

[2019-08-05 07:16] #4219 closed

[2019-08-05 08:39] DimitryRd commented on #4278
When it will be merged? Whom should I ask to facilitate the merge? I really need that feature)

[2019-08-05 08:51] christian-bromann commented on #4293
This is because wdio imports these packages dynamically based on a package name pattern. The same will happen with services too. I am not sure how to force webpack to stop doing that.

Closing as this doesn't seem to be an issue with WebdriverIO.

[2019-08-05 08:51] #4293 closed

[2019-08-05 09:22] mgrybyk commented on #4278
It is already, wait for at most couple of days and it will be released

[2019-08-05 09:36] flyHe opened #4310 "@wdio/cli can not kill the WebDriver sessions after completing test"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [^5.11.12]
 - **Mode:** [chromedriverr]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [10]
 - **NPM version:** [6]
 - **Browser name and version:** [Chrome 76]
 - **Platform name and version:** [mac OS 10.14.6]
 - **Additional wdio packages used (if applicable):** [@wdio/local-r

[2019-08-05 10:17] jayrepo opened #4311 "@wdio/browserstack-service: mobile app test returns 404"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2]
 - **Additional wdio packages used (if applicable):** @wdio/browserstack-service

**Describe the bug**
#3833 did not solve this issue.
`global.browser.capabilities` seems to be capabilities returned by browserstack which does not include `app` property for mobile app session.
it should check the

[2019-08-05 10:19] Laxmipb28 commented on #4104
It was working fine for 1 window, but it was not able to open a new Window. So, I updated the selenium server version using 'java -jar -Dwebdriver.gecko.driver=./geckodriver selenium-server-standalone-3.5.3.jar'. After that, it started giving "Type check for option "onPrepare" failed: a hook option needs to be a list of functions' " . My onprepare method is function list only.

[2019-08-05 10:30] mgrybyk commented on #4104
It should work fine, both with functions and function list.
Please upgrade to latest versions, try deleting package lock json and nodr modules, and try again.
If it still doesn't work rise an issue with reproducible example in some repo.

[2019-08-05 10:34] jayrepo commented on #4215
@espekkaya @mgrybyk
`tags: string[]` shoud be `tagExpression: string`
https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cucumber-framework/src/constants.js

It also occurs with config generated by wdio cli

[2019-08-05 10:52] espekkaya commented on #4215
@jayrepo , you are right. I have just edited right now.

[2019-08-05 11:31] Laxmipb28 commented on #4104
Please confirm if these steps correct:
1. Delete node modules folder
2. Delete package-lock.json file
3. npm install
4. npm install webdriverio@latest
5. npm install @wdio/cli --save-dev

I'm not sure if I'm missing something

[2019-08-05 11:42] mgrybyk commented on #4104
It works for me

[2019-08-05 11:58] espekkaya opened #4312 "Webdriverio v5 cucumber "unkown error""
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.12
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** [sync
 - **Node.js version:** 10.15.3
 - **NPM version:** 6.10.2
 - **Browser name and version:** Chrome 68
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/cucumber-frame

[2019-08-05 12:06] christian-bromann commented on #4312
@espekkaya please provide a stacktrace and a reproducible example otherwise we have to play a guessing game here

[2019-08-05 12:10] mgrybyk commented on #4312
skip works fine for me

[2019-08-05 12:15] espekkaya commented on #4312
It's my mistaken. @mgrybyk you are right there is no problem with that. Thank you.

[2019-08-05 12:15] #4312 closed

[2019-08-05 12:45] mgrybyk commented on #4008
fixed in https://github.com/webdriverio/webdriverio/pull/4308 and released in 5.11.13

[2019-08-05 13:14] ducle91 commented on #4134
so this only worked on minmised window and in headless mode, but what about regular window and headed mode?

[2019-08-05 13:17] mgrybyk commented on #4134
As I have mentioned it works fine in headless mode

[2019-08-05 13:21] ducle91 commented on #4134
right, but what if we don't want to run in headless mode? This function is still buggy as it doesn't cover all edge cases.

[2019-08-05 13:33] mgrybyk commented on #4134
This is how selenium works, it's same java

[2019-08-05 13:42] larryg01 commented on #4134
if it only works in Headless mode or as mentioned above minimised windows then its a major bug as most ppl run their test on normal sized windows.
So this is a bug as it does not work as intended (the specs does not say its for headless or minimised windows only)

[2019-08-05 14:16] pyxis828 opened #4314 "Cucumber v5 error in steps file from supporting file results in "Unknown error" (no stack trace)"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-08-05 15:27] DimitryRd opened #4315 "Property 'startTracing' does not exist on type 'BrowserObject'.ts"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-08-05 15:34] christian-bromann commented on #4315
We haven't updated our type definitions for these service. Any PR is appreciated!

[2019-08-05 15:42] igerasimov23 commented on #4206
@mgrybyk Tested on Microsoft Edge 18 and getting error `The target for mouse interaction is not in the browser's viewport and cannot be brought into that viewport.`

Chrome and Firefox look great!

[2019-08-05 15:49] mgrybyk commented on #4206
I don't know what is going on with Edge, you may submit issue for it with steps to reproduce

[2019-08-05 16:21] jayrepo commented on #4311
PR #4316

[2019-08-05 16:21] #4311 closed

[2019-08-05 16:22] igerasimov23 opened #4317 "moveTo() without arguments throws out of bounds error for scrolled page on MS Edge"
Cloned from https://github.com/webdriverio/webdriverio/issues/4206

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.13
 - **Mode:** Standalone mode
 - **Node.js version:** 10.16.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Ms Edge 18
 - **Platform name and version:** Windows 10. Browser version from SauceLab `"browserVersion": "44.17763

[2019-08-05 17:29] jensbodal opened #4319 "waitForExist does not work in async/await mode"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.10
 - **Mode:** standalone?
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 10.16.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** chrome headless
 - **Platform name and version:** Linux 4.9.184-linuxkit
 - **Additional wdio packages used (if applicable):** chromed

[2019-08-05 17:57] jensbodal commented on #4319
I think I had something misconfigured, this appears to work as intended.

[2019-08-05 17:57] #4319 closed

[2019-08-05 19:42] mgrybyk commented on #4314
So, there is a log in allure reporter? Error like that are not printed out to console, this is an expected behavior.
You can use some reporter to see error message details, like stack.

Regarding that error is called unknown error, it is known issue and is fixed in https://github.com/webdriverio/webdriverio/pull/4288

[2019-08-05 21:06] mariobiancoxealth opened #4320 "Allow WDIO to spin up as an API test framework by specifying an empty set of capabilities"
**Is your feature request related to a problem? Please describe.**
WDIO is great at being able to handle most of the boilerplate code for creating a test framework to run tests. That being said, it's specifically for browser-based tests (as well as mobile). Though, an issue that I'm running into is that at my current company we would like to mix in running tests that do not interact with the brows

[2019-08-05 21:11] #4320 closed

[2019-08-05 21:11] mariobianco opened #4321 "Allow WDIO to spin up as an API test framework by specifying an empty set of capabilities"
**Is your feature request related to a problem? Please describe.**
WDIO is great at being able to handle most of the boilerplate code for creating a test framework to run tests. That being said, it's specifically for browser-based tests (as well as mobile). Though, an issue that I'm running into is that at my current company we would like to mix in running tests that do not interact with the brows

[2019-08-05 21:38] mgrybyk commented on #4320
So, why have you closed it?

[2019-08-05 22:09] thephilwells opened #4322 "$(element).moveTo() moves cursor to [0, 0] on Safari"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.7
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 8.9.0
 - **NPM version:** 5.5.1
 - **Browser name and version:** Safari 12.1.2
 - **Platform name and version:** MacOS 10.13
 - **Additional wdio packages used (if applicable):** @wdio/sauce-service (repr

[2019-08-05 22:15] christian-bromann commented on #4321
Why would you use wdio at all then? Just use the request lib and a framework like Mocha or Jasmine directly.

I am not sure if this is a smart idea. You should run API tests first since they are fast and simple. Then once they pass, test the whole e2e experience.

Just use Mocha! Same test interface, similar experience.

I gonna close this as I don't think it is a smart idea to run e2e test and wd

[2019-08-05 22:15] #4321 closed

[2019-08-05 22:45] mgrybyk commented on #4322
@thephilwells  I'm getting the following assertion error in safari
[code]

Sounds reasonable!

[2019-08-05 22:52] thephilwells commented on #4322
Looks like I mixed up the messaging in the asserts. The wCrux of the
failure is not decimal rounding, though. At the end that opacity should be
1 (like it is on chrome and ff) or within .01 of that (what I'd expect on
safari.)

None of that happens though because the pointer ends up hovering over 0,0
instead of the element's location.

I'm on the bus now but I'll try to clean up the sample code.

[2019-08-05 22:57] mgrybyk commented on #4322
No worries, I think I've got your point, the code is passing in Chrome and Firefox, but doesn't work as expected in Safari

[2019-08-05 23:00] thephilwells commented on #4322
Yep!

On Mon, Aug 5, 2019, 6:58 PM Mykola Grybyk <notifications@github.com> wrote:

[2019-08-05 23:21] mgrybyk commented on #4322
I have reproduced the issue but have no idea how to fix it, it might be some issue with Safari and/or Safari driver itself.

[2019-08-05 23:46] mgrybyk commented on #4317
Do you have a link nearby on how to upgrade edge 17 to edge 18?

[2019-08-05 23:50] igerasimov23 commented on #4317
I was using SauceLab service to test on MS Edge

[2019-08-06 00:10] lexeek commented on #4289
I hope this feature will be implemented soon.

[2019-08-06 07:53] christian-bromann commented on #4289
@lexeek please don't wait until it happens and rather help us getting in implemented ;-)

[2019-08-06 09:09] martinfrancois opened #4323 "Automatically set test name for Sauce Labs RDC"
**Is your feature request related to a problem? Please describe.**
When we run tests on Sauce Labs RDC, we are always struggling with correlating the right execution on Sauce Labs with the spec file. The capability `testobject_test_name` can be set to define a test name, but the problem is that this is not specific per spec file, and it appears as if there is no lifecycle method in WebdriverIO I c

[2019-08-06 09:34] mgrybyk commented on #4004
@christian-bromann it can be done same as in Cucumber, where we don't have native before/after test hooks at all, by wrapping `it` function itself with before/after test hooks and that's it.
Should be relatively easy, I can take a look if it sounds good

[2019-08-06 10:04] Laxmipb28 commented on #4104
Hey,

Thank you so much. It worked for me too.

[2019-08-06 10:11] mgrybyk commented on #4104
Nice!

[2019-08-06 10:19] wswebcreation commented on #4323
Hi @martinfrancois

To give you some context for "the future", Sauce Labs is busy with the unified platform. This means that the real devices will use the "standard" API's from Sauce Labs that are also used for the Virtual Machines and 99% sure the testname can also be updated during tests. This means no adjustment to the current way of working and updating of tests as it is done now for Virtual M

[2019-08-06 12:49] pyxis828 commented on #4314
@mgrybyk So I am a little confused by your response.  Are you saying that "Unknown error" will no longer be output to the console due to fixes from #4288?  So will the actual stack trace then be printed to the console?  I don't understand your statement that it is an expected behavior that the stack trace would not be printed to the console. In v4 the stack trace was always printed to the console,

[2019-08-06 13:29] mgrybyk commented on #4314
@pyxis828
f you want to print your errors, use reporter, ex spec

[2019-08-06 13:32] mgrybyk commented on #4314
Closing this one as it refers to expected behavior and issue that gonna be fixed with another PR soon.

[2019-08-06 13:32] #4314 closed

[2019-08-06 14:48] #4215 closed

[2019-08-06 15:42] mariobiancoxealth commented on #4320
Closed it because I reopened on another account.

[2019-08-06 15:57] learningandworking commented on #4307
Thanks @mgrybyk , I think this issue is fixed as your suggestion

[2019-08-06 16:32] mariobianco commented on #4321
Thanks for chiming in Christian. Valid points you bring up.

I'll try to provide more context to at least add more info to this ticket -- whether or not it gets picked up from here.

Disclaimer, I use the term "API" because it's the simplest non-browser concept for providing a use case in this ticket, however a more accurate use case for what I'm aiming at would be "non-browser-based tests". API t

[2019-08-06 20:37] prathameshnyt commented on #3744
@christian-bromann @valenso I can open a new ticket. Are you able to get it to work? I am trying to connect to the docker container. Please let me know.

[2019-08-07 07:44] flyHe opened #4328 "@wdio/local-runner can not kill the WebDriver sessions after completing test"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [^5.11.12]
 - **Mode:** [chromedriverr]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [10]
 - **NPM version:** [6]
 - **Browser name and version:** [Chrome 76]
 - **Platform name and version:** [mac OS 10.14.6]
 - **Additional wdio packages used (if applicable):** [@wdio/local-r

[2019-08-07 07:45] #4310 closed

[2019-08-07 07:49] mgrybyk commented on #4328
There are no issues when running without gulp, how is webdriverio related?

[2019-08-07 08:09] jayrepo commented on #4322
@thephilwells @mgrybyk
I can see a blink on the pauseIcon with $(element).moveTo()

As safari does not support `/session/<seesionId>/moveto` endpoint like chrome.
from the log, I can see it get the rect of element, perform w3c `pointerMove` action, then delete the action
[code]

It should be issue with `$(element).moveTo()` command for safari.
A workaround:
[code]
The snippet above add a `pointerU

[2019-08-07 09:13] beshanoe commented on #4328
@mgrybyk there is an issue when you use webdriver through the node API. WdioCLI has to terminate the process manually because of the same issue here: https://github.com/webdriverio/webdriverio/blob/91bc19ae25477184efbd89e72b8dd64417fbd433/packages/wdio-cli/src/run.js#L70

Apparently, that problem was spotted while writing gulp-webdriver plugin and the solution was to pause the stdin pipe: https://

[2019-08-07 09:19] mgrybyk commented on #4328
Yeah, runner runs each spec file in a child process, thats why we pipe stdin.

So, what suggestions do you have?
Framework runs normally both with runner and programmatically but there is a problem with gulp which is not supported

[2019-08-07 09:25] beshanoe commented on #4328
What do you mean by normally? If the process needs to be exited forcefully it doesn't seem normal to me. I feel like local-runner can somehow release that pipe, but when we tried `process.stdin.unpipe(childProcess.stdin) ` method inside worker's code, it would still hang. Only `process.stdin.unref()` method worked but I think this way we loose stdin completely. I'm just not that deep in process' p

[2019-08-07 09:36] mgrybyk commented on #4328
By normally I mean that I don't need to do anything to run webdriverio without gulp

[2019-08-07 10:55] michael-confiant commented on #3191
@mgrybyk
used this project to reproduce it:
https://github.com/webdriverio/cucumber-boilerplate
added
[code]
to wdio.BUILD.conf.js
my launch.json is:
[code]
npm install
npm run local-webserver
then focus on any feature file and start debugging

The issue is still actual
![image](https://user-images.githubusercontent.com/51997249/62617669-0c1d1980-b91b-11e9-9636-d822a165909b.png)

[2019-08-07 10:58] mgrybyk commented on #3191
Remove execArgv and port

[2019-08-07 10:59] danielamaia commented on #4328
Hey @mgrybyk, I made a minimal reproducing example 🙂
Can you run it and confirm please that when we run wdio programatically it prevents process from exiting?
Clone this gist repo: https://gist.github.com/danielamaia/b2085b41189adbff1032bda5f169ef79

[2019-08-07 11:06] michael-confiant commented on #3191
@mgrybyk then I can't use breakpoints

[2019-08-07 11:10] mgrybyk commented on #3191
Yeah, you need to add auto attach to child processes

[2019-08-07 11:12] mgrybyk commented on #4328
I can see what are you taking about even without that. I'll think about it. Thank you

[2019-08-07 11:13] michael-confiant commented on #3191
VS code says 'Property autoAttachChildProcess is not allowed.'

[2019-08-07 11:16] mgrybyk commented on #3191
Add `debug: true` to wdio conf, remove execArgv, here is launch.json snippet

[code]

[2019-08-07 11:17] michael-confiant commented on #3191
Ah, so the correct property to add to launch.json is "autoAttachChildProcesses": true. Now it works! Thanks @mgrybyk for the help!

[2019-08-07 11:49] Fawke opened #4329 "Session not getting loaded in Browserstack."
**Environment:**
 - **WebdriverIO version:** 5.11.3
 - **Mode:** Standalone mode
 - **Node.js version:** 10.16.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Controlled by Browserstack, some browsers being tested are Chrome 72, Firefox 65.
 - **Platform name and version:** Controlled By Browserstack, Mac and Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/brows

[2019-08-07 13:22] thephilwells commented on #4322
I agree that the pointer does seem to actually be in transit during the action; it just stops at (or hops to?) the wrong coordinates. The `pointerUp` workaround did not work for me on Safari.

[2019-08-07 13:29] thephilwells commented on #4322
I can confirm that it's a hop after the action is done. If I up the duration of the `mouseMove` action to 5000ms, I can see the hover state on the button for 5 seconds. Then, the cursor hops back to `0,0`.

So, maybe not a bug? What do we expect the state of the pointer to be after the action is released?

[2019-08-07 13:34] thephilwells commented on #4322
If I remove the call to release the action from `moveTo()` (`.then(() => this.releaseActions());`), the pointer stays in its place after the action is complete and the test passes. Is this an acceptable change?

[2019-08-07 14:00] mgrybyk commented on #4322
Does it work for all the browsers?

[2019-08-07 14:07] thephilwells commented on #4322
It's looked fine on Chrome, FF, Safari, and MS Edge. IE is giving me trouble with this reproduction case before it ever gets to the actions part. 🙄

[2019-08-07 14:09] thephilwells commented on #4322
But then are W3C actions expected to work on IE?

[2019-08-07 14:16] mgrybyk commented on #4322
I'm fine it it works everywhere except of IE.

Will you be able to rise PR for this one?

[2019-08-07 14:20] thephilwells commented on #4322
Yeah, let me try to get it done now. Today is lots of meetings! 🏃

[2019-08-07 14:45] thephilwells commented on #4322
Build failures. 😪

Hold please.

[2019-08-07 15:00] mgrybyk commented on #4322
No rush, man, take tour time!

[2019-08-07 16:36] beshanoe commented on #4328
Related issues:
https://github.com/nodejs/node/issues/2276
https://github.com/nodejs/node/issues/24327

Maybe, the problem is that child process doesn't actually consume stdin stream and that's why keeps hanging 🧐

[2019-08-07 16:47] mgrybyk commented on #4328
I'll take a look, thank you!

[2019-08-07 17:44] thephilwells commented on #4322
Hey @mgrybyk I'm getting eslint errors when I build after my changes,

[code]

..over and over. When I ignore that issue in eslint the tests pass fine, but I don't want to mess with the eslint config as part of my PR. Any idea what I'm doing wrong?

I have eslint 6.1.0 installed, running node 8.9.0.

[2019-08-07 18:01] caoxu2000 commented on #4289
@christian-bromann I can tackle this but can't promise anything yet.  Do you have any insight on how this should be implemented?  2 ways at high level I can think of: 1) call protocol api directly 2) just call performActions command.  Please let me know your thoughts when you get a chance.

[2019-08-07 18:28] caoxu2000 commented on #4289
Here is all the research I did from v4 & v5:
in v4 https://github.com/webdriverio-boneyard/v4/blob/master/lib/commands/rightClick.js
it uses handleMouseButtonCommand.js below
https://github.com/webdriverio-boneyard/v4/blob/master/lib/helpers/handleMouseButtonCommand.js
but there is protocol js:
https://github.com/webdriverio-boneyard/v4/blob/master/lib/helpers/handleMouseButtonProtocol.js
not sure

[2019-08-07 18:30] mgrybyk commented on #4328
@beshanoe fixed it, going to create PR soon

[2019-08-07 18:32] igerasimov23 opened #4331 "getAttribute('innerHTML') returns null for Firefox browser"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.11.13
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.16.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Firefox 65-68
 - **Platform name and version:**  Windows 10

**Describe the bug**
`element.getAttribute('innerHTML')` returns null

[2019-08-07 19:21] mgrybyk commented on #4328
Let's proceed conversation in PR.

Have to add some tests and pass review before it can be merged and then released.

Feel free to add comments.

Thank you for all the details and help!

[2019-08-07 19:21] #4328 closed

[2019-08-07 19:24] mgrybyk commented on #4331
Please use gitter for such questions, this is not necessarily a defect.

[2019-08-07 19:24] #4331 closed

[2019-08-07 19:29] mgrybyk commented on #4331
You are mixing lots of stuff here. First of all you are not able to use nodejs variables inside execute functions because they are executed in web browser scope.

Secondly there is no `html` method neither in wdio element nor in web browser.

Finally, here are two examples on how it should look:

[code]
const tableRow = $('tr')
// https://webdriver.io/docs/api/element/getHTML.html
tableRow.getHTML

[2019-08-07 20:08] gtilekar opened #4333 "cucumber + custom allure report : ERROR @wdio/runner: TypeError: Cannot set property 'currentTest' of undefined"
@wdio/spec-reporter": "^5.11.7",
    "@wdio/allure-reporter": "^5.11.0",
    "@wdio/cli": "^5.11.12",
    "@wdio/cucumber-framework": "^5.11.12",
    "@wdio/local-runner": "^5.11.12",
    "@wdio/selenium-standalone-service": "^5.11.2",
    "@wdio/sync": "^5.11.0",
    "@wdio/config": "^5.11.0",
    "webdriverio": "^5.11.12",

[0-0] 2019-08-07T19:37:37.496Z ERROR @wdio/runner: TypeError: Cannot set

[2019-08-08 01:36] meruga92 opened #4335 "screenshots are not attached to allure for webdriverIO 5.x.x in cucumber"
**Environment:**
 - **WebdriverIO version: 5.11.13**
 - **Mode: WDIO Testrunner**
 - **If WDIO Testrunner, running sync/async: sync**
 - **Node.js version: 10.13.0**
 - **NPM version:6.4.1**
 - **Platform name and version: mobile iOS and Android**
 - **Additional wdio packages used (if applicable): @wdio/allure-reporter, @wdio/appium-service, @wdio/cucumber-framework**

**Config of WebdriverIO**

[2019-08-08 05:21] tung-dang opened #4336 "`browser.getCookies([...])` does not work in IE 11."
**Environment (please complete the following information):**
 - **WebdriverIO version:** [^5.11.7]
 - **Node.js version:** [10.15.3]
 - **NPM version:** [6.4.1]
 - **Mode:** [using BrowserStack]
 - **Browser name and version:** [IE 11]
 - **Platform name and version:** [Windows 10]

**Config of WebdriverIO**

**Describe the bug**

I have this code to get a cookie value by name
[code]

It works in

[2019-08-08 05:47] mgrybyk commented on #4335
Known issue, will be fixed with https://github.com/webdriverio/webdriverio/pull/4288

[2019-08-08 05:47] #4335 closed

[2019-08-08 05:52] mgrybyk commented on #4004
Going to start working on it this or next week as far as it affects my project. If anyone has any concerns please let me know.

[2019-08-08 07:56] sgauruseu opened #4337 "NPE when get element in browser"
My chrome is updated today to  76.0.3809.100
I have got the exception : `Error: java.lang.NullPointerException`
`node_modules\webdriverio\node_modules\webdriver\build\utils.js:215:10)`
`node_modules\webdriverio\node_modules\webdriver\build\request.js:103:64)`
`node_modules\request\request.js:185:22)`
`node_modules\request\request.js:1161:10)`

**Environment**
 - **WebdriverIO version:** 5.7.15 and

[2019-08-08 07:59] mgrybyk commented on #4337
Please provide with reproducible example

[2019-08-08 08:10] sgauruseu commented on #4337
let options = {
            logLevel: "error",
            capabilities: {
                browserName: browser_name,
                platform: platform_name,
                binary: chromeBinPath,
                chromeOptions: makeChromeOptions(isHeadless, width)
            }
        };
            _this.browser = await webdriverio.remote(options);

this.browser.$('input[id^='username-input']')

[2019-08-08 08:28] mgrybyk commented on #4337
May you please provide with some code snippet that can be executed straight away. I have no issues with running wdio programmatically. More complete example would help

[2019-08-08 08:32] mgrybyk commented on #4333
Looks like there are some problems with your custom reporter.

Can you please provide with reproducible example to make sure that problem is caused by wdio and not your project configuration or reporter implementation.

Thank you

[2019-08-08 08:33] mgrybyk commented on #4274
Feel free to reopen or rise another issue if you still seeing the problem

[2019-08-08 08:33] #4274 closed

[2019-08-08 08:59] sgauruseu commented on #4337
example.js

[2019-08-08 09:00] MohanaNayagam opened #4338 "Request failed due to <!DOCTYPE html>"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-08-08 09:01] sgauruseu commented on #4337
[code.zip](https://github.com/webdriverio/webdriverio/files/3480756/code.zip)

[2019-08-08 09:02] sgauruseu commented on #4337
Error: java.lang.NullPointerException
    at getErrorFromResponseBody (testing\node_modules\webdriverio\node_modules\webdriver\build\utils.js:215:10)
    at Request._callback (testing\node_modules\webdriverio\node_modules\webdriver\build\request.js:103:64)
    at Request.self.callback (testing\node_modules\request\request.js:185:22)
    at Request.<anonymous> (testing\node_modules\request\request.

[2019-08-08 09:04] sgauruseu commented on #4337
it is my dependencies:
"devDependencies": {
    "assert": "^1.5.0",
    "chai": "^3.5.0",
    "chai-as-promised": "7.1.1",
    "globby": "^9.0.0",
    "mocha": "^5.2.0",
    "mocha-multi-reporters": "1.1.5",
    "mochawesome": "4.0.1",
    "properties-reader": "0.0.15",
    "selenium-standalone": "^6.16.0",
    "webdriverio": "^5.11.13"
  }

[2019-08-08 09:06] mgrybyk commented on #4338
Something running on port 4444 returning you such request.
Closing it as far as it is not an issue with WebdriverIO.
If you want to get some help here please describe properly what are you doing, what are you connecting to, provide with wdio conf, use proper formatting and remove duplicate messages

[2019-08-08 09:06] #4338 closed

[2019-08-08 09:15] sgauruseu commented on #4337
[test.zip](https://github.com/webdriverio/webdriverio/files/3480812/test.zip)

[2019-08-08 09:16] sgauruseu commented on #4337
It is my project.
1. Unpack it .
2. /test npm install
3. /test npm test

[2019-08-08 09:23] sgauruseu commented on #4337
[standalone.zip](https://github.com/webdriverio/webdriverio/files/3480861/standalone.zip)

[2019-08-08 09:51] gtilekar commented on #4333
Hi,
   The custom reporter used to work fine on below modules.

     wdio-allure-reporter": "0.1.2",
    "wdio-browserstack-service": "0.1.4",
    "wdio-cucumber-framework": "1.0.2",
    "wdio-dot-reporter": "0.0.8",
    "wdio-spec-reporter": "^0.1.0",
    "webdriverio": "4.13.1",
    "allure-js-commons": "^1.3.1",

But after upgrade it started giving error.

It you want a cucumber example we can

[2019-08-08 09:55] sgauruseu commented on #4337
2019-08-08T09:54:49.877Z INFO webdriver: COMMAND navigateTo("https://www.google.com/")
2019-08-08T09:54:49.877Z INFO webdriver: [POST] http://localhost:4444/wd/hub/session/02ff622e-a06d-4b85-b5ea-c32759042afc/url
2019-08-08T09:54:49.878Z INFO webdriver: DATA { url: 'https://www.google.com/' }
2019-08-08T09:54:50.801Z INFO webdriver: COMMAND findElement("xpath", "//input[@name='q']")
2019-08-08T09:

[2019-08-08 10:46] sgauruseu commented on #4337
browser.setWindowSize(width, height)   does not  work as well

[2019-08-08 11:02] #4337 closed

[2019-08-08 11:03] mgrybyk commented on #4337
you have configured project incorrectly, passing wrong capabilities

[2019-08-08 11:05] mgrybyk commented on #4337
There are no such capabilities as `platform` and `chromeOptions` in w3c specification, you have to removed redundant ones and pass vendor specific capabilities according to specification, in this case "goog:chromeOptions".

After fixing that I'm able to run your project.
However, I'd recommend you to use webdriverio runner instead, it would make your life way easier.

Please use gitter for such qu

[2019-08-08 11:07] mgrybyk commented on #4333
this is webdriverio v5 issue tracker, you may try asking people in gitter channel to help

[2019-08-08 11:07] #4333 closed

[2019-08-08 11:08] mgrybyk commented on #4333
If you have some issues in v5, please remove all v4 related modules and reopen issue if it is still actual.
I'd suggest to use some examples of custom reporter first

[2019-08-08 11:32] sgauruseu commented on #4337
I passed vendor specific capabilities:   ` 'goog:chromeOptions': makeChromeOptions(isHeadless, width)`
But  it was not the cause of this NPE.
I got exception when  test tried to set value in text-input:

![image](https://user-images.githubusercontent.com/3728712/62699981-6684ab80-b9e9-11e9-919e-7f44f8a7a61d.png)

[2019-08-08 11:38] mgrybyk commented on #4337
I have no npe exceptions at all with your project

[2019-08-08 11:39] mgrybyk commented on #4337
I have no npe exceptions at all with your project

[2019-08-08 11:40] mgrybyk commented on #4337
The error is not caused by wdio, it is an error returned from your selenium server. Try debugging it, maybe you have wrong java version?

Anyway, if you can use a recommended approach to you'd get such errors

[2019-08-08 11:55] sgauruseu commented on #4337
Thanks! Great! It works now!
Strange, but my chrome-options worked fine with the previous version of chrome browser and selenium-server. I updated my selenium server and fixed my chrome options - no problems with running tests now.
I do not use `webdriverio runner` because it is impossible to debug tests in the Idea IDE.
So I using `mocha-runner` - no problems with running tests in Idea IDE in thi

[2019-08-08 12:15] mgrybyk commented on #4337
It is possible to debug! There are some issues with fibers in sync mode, of course, maybe we'll solve it one day somehow

[2019-08-08 13:44] gtilekar commented on #4333
I got rid of the ERROR @wdio/runner: TypeError: Cannot set property 'currentTest' of

with change  "this.on('suite:start', function (suit) {"  to "this.on('suiteStart', function (suit) {" and did the same for rest

but now i get error
0-0] 2019-08-08T13:37:13.170Z ERROR @wdio/local-runner: Failed launching test session: Error: Some reporters are still unsynced: customReporter
    at Timeout.setInt

[2019-08-08 13:48] mgrybyk commented on #4333
Reading docs should be helpful

[2019-08-08 13:51] mgrybyk commented on #4333
Your reporter is runner asynchronously, you need to sync it first. To do that, before calling async command set this.isSynchronising to false, after everything is resolved set it back to true, ex in on runner end hook

[2019-08-08 14:01] mgrybyk opened #4339 "Add unit tests for @wdio/cli"
**Is your feature request related to a problem? Please describe.**
I'd like to add tests for @wdio/cli, these files in particular:
- `setup.js`
- `config.js`
- and `run` function in `run.js`

**Describe the solution you'd like**
Currently most of the functions are marked with `/* istanbul ignore next */`.
We have to remove that and test all that functions.

[2019-08-08 15:34] gtilekar commented on #4333
Can you point to any documentation or example of same.

[2019-08-08 15:44] BelovAleksey opened #4340 "chromedriver version >= 75 doesn't support browser.setLocalStorage command"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.11.13]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [10.16.0]
 - **NPM version:** [6.9.0]
 - **Browser name and version:** [Chrome 76]
 - **Platform name and version:** [macOs mojave 10.14.6]
 - **Additional wdio packages used (if applicable):*

[2019-08-08 15:55] mgrybyk commented on #4340
That's not an issue of wdio, chrome switched to w3c protocol, use browser execute, and get whatever needed from DOM.
Additionally you may overwrite local storage commands with your implementation.

[2019-08-08 15:55] #4340 closed

[2019-08-08 16:03] mgrybyk commented on #4333
[code]

[2019-08-08 16:09] mgrybyk commented on #4340
Examples
[code]

See also

[2019-08-08 16:21] BelovAleksey commented on #4340
Thank You!

[2019-08-08 16:25] mgrybyk commented on #4340
You welcome, if you think that these commands should exist out of the box, you may submit a feature request / PR.
Then community will decide whether it makes sense or not

[2019-08-08 17:41] sup-engineer commented on #3191
Hi @mgrybyk ,
I am using the webdriverIO - cucumberJS project (with some changes) to try this out.

I followed your recommendation. I get the correct 'pass' report in the terminal now. However, the debugger is now failing to connect to the runtime process.
![image](https://user-images.githubusercontent.com/20064961/62724339-ac9e3700-ba0a-11e9-8ff8-f92f19295899.png)
(after execution of the launch.j

[2019-08-08 18:08] mgrybyk commented on #3191
I think this is some windows related issue

[2019-08-08 18:51] mgrybyk commented on #3191
ah, we should change program to `"program": "${workspaceRoot}/node_modules/@wdio/cli/bin/wdio.js",`

[2019-08-08 18:52] mgrybyk commented on #3191
[code]

[2019-08-08 19:16] mgrybyk commented on #4336
works fine for me
[code]

[2019-08-08 22:23] JJFrampton opened #4341 "http request within onComplete hook fails"
Using Nodejs and 'http' lib, requests within the "onComplete" hook do not fire while console logs before and after the request succeed. 'await' does not have any affect and the last line in the onComplete hook is
`await global.server.finish()`
The awaiting server never gets the request.

[2019-08-08 22:31] mgrybyk commented on #4317
MoveTo doesn't work in Edge because `getElementRect` works differently comparing to chrome/safari/firefox/ie11. It doesn't respect scrollX and scrollY position.
https://www.w3.org/TR/webdriver1/#get-element-rect

[2019-08-08 23:05] mgrybyk commented on #4341
@JJFrampton can you please update ticket according to template and provide with reproducible example?
Most likely you have some error in your code and hook fails, the error might not be printed out depending on your logging configuration. Try setting it trace, if you writing logs to some folder see wdio.log.

Here is an example that works fine for me
[code]
Output
[code]

[2019-08-08 23:10] jaFerrazza opened #4343 "Confusing SauceLabs creds with TestingBot creds"
**Describe your question with as much detail as possible**
When running my tests through the CI, webdriverIO is trying to authenticate me in TestingBot instead of SauceLabs as the service is set up to do.

Error message:

`ERROR webdriver: Request failed due to Error: The key (username) and secret (XXXXXXXXXXXXXXXXXXXXXXXXXXXX1234) you used to authenticate are incorrect TestingBot credentials`

My

[2019-08-08 23:15] mgrybyk commented on #4343
please use `@wdio/mocha-framework` instead of `wdio-mocha-framework` and avoid mixing v4 and v5 packages!

[2019-08-08 23:15] mgrybyk commented on #4343
Also, try deleting node_modules folder and your package-lock.json and installing packages from scratch.

[2019-08-08 23:42] jaFerrazza commented on #4343
Thanks for the suggestions on my dependencies, didn't realize I was using the wrong one. I just updated them.

I tried deleting both node_modules and package-lock.json and the error is still showing.

[2019-08-09 00:11] tung-dang commented on #4336
@mgrybyk it works for me if I use WD API to add cookies than read the cookie. But it does not work for me when trying to get cookie which is set in our prod app. I am doubting that cookie I try to get is HttpOnly which it's impossible to read it from JS. I will try my assumption today.

[2019-08-09 00:19] tung-dang commented on #4336
As I said in the above comment. `browser. getCookies` cannot read cookie which has HttpOnly flag.

[2019-08-09 01:43] jdavis61 commented on #4228
I miss calling `browser.debug` then loading a page object using `require`.

`require` does not work in the V5 REPL because WebdriverIO 5 blocks the node runtime context. I guess this is why WebdriverIO 5 is so much faster than the previous version.

In the WebdriverIO 4 REPL `Object.keys(this).length` returns a value of 23.  In the WebdriverIO 5 REPL `Object.keys(this).length` returns a value of 5

[2019-08-09 02:42] JieC opened #4344 "Inconsistent unit test result for launcher.test.js on Windows"
**Environment:**
 - **WebdriverIO version:** master branch
 - **Platform name and version:**  Windows 10

**Describe the bug**

https://github.com/webdriverio/webdriverio/blob/040960cf866121f2a5e8bf97de82fc82b5ad98e2/packages/wdio-cli/tests/launcher.test.js#L308

On linux these asserts are working fine
[code]

On Windows, I have to change the instance numbers as below to pass the unit test.
[code]

[2019-08-09 08:27] gtilekar commented on #4333
Hi

below is the structure of our current custom reporter

customReport.js

let util = require('util'),
    events = require('events'),
    Allure = require('allure-js-commons'),
    id = 0,
    allures = {}

function getTags (tags, string = false) {

}

const customReporter = function (options) {
    function getAllure (cid) {

    }

    function isAnyTestRunning (allure) {
    }

    this.on('s

[2019-08-09 08:50] mgrybyk commented on #4333
You can take a look at wdio implementation of allure reporter.
You are missing lots of stuff

[2019-08-09 08:50] mgrybyk commented on #4333
Maybe it make sense to enhance wdio allure reporter?

[2019-08-09 09:10] mgrybyk commented on #4333
I'd better enhance wdio allure reporter to work properly with multiple examples.
I think it might be useful for everyone

[2019-08-09 09:13] gtilekar commented on #4333
Yup

[2019-08-09 09:17] mgrybyk commented on #4336
You can always use `execute` and get whatever needed with javascript

[2019-08-09 10:24] gtilekar commented on #4333
I was looking at file .\node_modules\@wdio\allure-reporter\build\index.js and did not see any isSynchronising stuff.

was wondering how does allure report handle it.

[2019-08-09 10:58] mgrybyk commented on #4333
It's not needed there if there is no such

[2019-08-09 11:19] gtilekar commented on #4333
I have tried my code with wdio allure reporter but it fail on suitestart with same error.

onSuiteStart (suite) {
        if (suite.type === null) {
            this.allure.startSuite(suite.title)
        } else {
            this.allure.startCase(suite.title ) <--- line where it fails
            const currentTest = this.allure.getCurrentTest()
        }
    }

0-0] 2019-08-09T11:12:20.441Z ERROR

[2019-08-09 12:37] pk-saxena opened #4346 "Does all minor versions of webdriverio v5 require nodejs >=10.0.0 ?"
The documentation says v5 requires nodejs version v8.11.2 or higher. But on building the project, I see an error that one of the dependency of wdio-sync, namely fibers 4.0.1 requires nodejs 10 or higher. Does any minor version of v5 supports running with nodejs < 10 ?

The `package.json` file in our project has following content
[code]
As part of building the project on CI, we run the command:
`ya

[2019-08-09 13:31] gtilekar commented on #4333
can we expect multiple example support for allure soon ? :)

[2019-08-09 13:35] mgrybyk commented on #4333
you may submit feature request, don't hesitate to help with it.

[2019-08-09 13:45] gtilekar opened #4348 "wdio allure report support for multiple example"
@wdio/spec-reporter": "^5.11.7",
"@wdio/allure-reporter": "^5.11.0",
"@wdio/cli": "^5.11.12",
"@wdio/cucumber-framework": "^5.11.12",
"@wdio/local-runner": "^5.11.12",
"@wdio/selenium-standalone-service": "^5.11.2",
"@wdio/sync": "^5.11.0",
"@wdio/config": "^5.11.0",
"webdriverio": "^5.11.12",

Current the wdio allure report does not support multiple Cucumber examples with version 5.

Would be goo

[2019-08-09 14:33] gtilekar commented on #4333
https://github.com/webdriverio/webdriverio/issues/4348

[2019-08-09 14:41] patthiel commented on #4346
Encountered this as well. Mentioned in here: https://github.com/webdriverio/webdriverio/pull/4305

The CI build should have caught this, as it uses node8.

I'm happy to submit a PR to downgrade Fibers to 3, which should make the project compatible with node 8 again. However, I do not know if there is specific stuff we want / need from Fibers ^4.

[2019-08-09 15:21] JJFrampton commented on #4341
Yeah like I said, the hook fires and I can successfully use console log. The issue is specifically with making a "http" request within the onComplete hook. If you can successfully make a request, and confirm the reception of the request on the target server, please let me know.

[code]

[2019-08-09 19:59] rdpanek opened #4349 "@wdio/devtools-service": "5.11.13" return timeToFirstByte: NaN"
**Environment (please complete the following information):**
 - **WebdriverIO version:** "webdriverio": "5.9.4"
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running** sync
 - **Node.js version:** v11.10.1
 - **NPM version:** 6.7.0
 - **Browser name and version:** Chrome 76.0.3809.100
 - **Platform name and version:** OSX 10.14.5
 - **Additional wdio packages used (if applicable):**
    "@

[2019-08-09 20:46] JJFrampton commented on #4341
Looks like this issue was due to the fact that http lib does not return a promise which is needed for async/await.

[2019-08-09 20:46] #4341 closed

[2019-08-10 08:29] mgrybyk commented on #4346
I'd just drop node8

[2019-08-10 08:36] mgrybyk commented on #4344
I'd not just change the test. It looks like running / available instances calculation should be done differently on Windows.

[2019-08-10 08:40] mgrybyk commented on #4315
@DimitryRd have you run `browser.enablePerformanceAudits()` before using `startTracing` ?

[2019-08-10 08:46] mgrybyk commented on #4349
will be fixed with https://github.com/webdriverio/webdriverio/pull/4350

[2019-08-10 08:46] #4349 closed

[2019-08-10 09:03] mgrybyk commented on #4336
@tung-dang do you know any site that uses HttpOnly so I can reproduce the defect?

[2019-08-10 09:05] mgrybyk commented on #4336
this is not an issue of webdriverio, you may submit a ticket to iedriver

[2019-08-10 09:05] #4336 closed

[2019-08-10 09:10] mgrybyk commented on #2663
closing due to inactivity, feel free to re-open if it still an issue.

[2019-08-10 09:10] #2663 closed

[2019-08-10 09:13] mgrybyk commented on #2775
The original issue has been submitted to WinAppDriver

[2019-08-10 09:13] #2775 closed

[2019-08-10 09:14] mgrybyk commented on #4029
If anyone can share logs and reproducible example feel free to reopen

[2019-08-10 09:14] #4029 closed

[2019-08-10 11:31] AdeelZahir commented on #3307
@gomkat could you solve this issue?

[2019-08-11 08:22] gtilekar commented on #4348
![Screen Shot 2019-08-11 at 10 14 31](https://user-images.githubusercontent.com/52917254/62831518-109a4880-bc21-11e9-9977-6567a320b2cb.png)
![Screen Shot 2019-08-11 at 10 14 45](https://user-images.githubusercontent.com/52917254/62831519-12640c00-bc21-11e9-81e4-2861521c4546.png)

[wdioTest.zip](https://github.com/webdriverio/webdriverio/files/3489683/wdioTest.zip)

@mgrybyk  I have attached screen

[2019-08-11 09:39] #4301 closed

[2019-08-11 19:58] raycarter opened #4351 "waitUntil: generate err msg until timeout"
**Is your feature request related to a problem? Please describe.**
`browser.waitUntil` shows given error message when it was called. But sometime the error message should be generated when `browser.waitUntil` times out. Example:
 An div element's text will be changed after 1 sec. In `browser.waitUntil` error message should show the text of the div element and the expected text for better debugging

[2019-08-11 22:49] christian-bromann commented on #4321
I am not sure what you mean by that. For API tests you don't need to build out a framework. You just use Mocha, that is already installed if you use the wdio testrunner with Mocha.

WDIO specialises on browser based tests. There are a couple of things on which wdio relies on which are e.g. browser capabilities. This can't be done by just adding a single flag. There are a lot of things to consider

[2019-08-11 23:03] christian-bromann commented on #4351
Let's continue convo in #4352

[2019-08-11 23:03] #4351 closed

[2019-08-12 07:24] raycarter commented on #4351
Thank to @christian-bromann, one solution for this is to use `assert.strictEqual` in the condition func of `waitUntil`:
[code]
[code]

[2019-08-12 07:55] christian-bromann commented on #4329
The error says:

which means that you are running to many tests in parallel. I am not sure if and how the update is causing this but it is not a bug on the WebdriverIO side. Therefor closing this.

[2019-08-12 07:55] #4329 closed

[2019-08-12 08:01] christian-bromann commented on #4322
Let's continue convo in #4330

[2019-08-12 08:01] #4322 closed

[2019-08-12 08:03] christian-bromann commented on #4289
@caoxu2000 you have to use performAction is the `isW3C` flag is set to `true` otherwise you can use the logic that you've found in v4.

[2019-08-12 08:22] christian-bromann commented on #4343
@jaFerrazza then you use an invalid sauce access key. SauceLabs access keys are 36 characters long and the one for TestingBot 32.

[2019-08-12 10:52] christian-bromann opened #4353 "Simplify release process"
Currently there are multiple steps required to release WebdriverIO. We use `lerna-changelog` to generate the changelog based on PR labels. This works fine and looks nice. However the process of releasing the project with Lerna and having the changelog update did become a multi step process after Lerna changed the way how they upgrade version (it seems they don't use `npm version` anymore which we

[2019-08-12 12:46] mgrybyk commented on #4004
let's proceed conversation in https://github.com/webdriverio/webdriverio/pull/4354

[2019-08-12 12:46] #4004 closed

[2019-08-12 17:52] thephilwells commented on #2173
@JoeyHuangTexture could you provide a code sample where you got this to work within a test? Still struggling with this..

[2019-08-13 00:22] crutledgejr opened #4355 "Update @wdio/applitools-service with command to take region snapshot."
**Is your feature request related to a problem? Please describe.**
I am unable to take a region-based snapshot with the applitools-serivce. I would like to be able to do so.

**Describe the solution you'd like**
Update the *index.js* of *@wdio/applitools-service* to add a command in the *before* function that takes a region snapshot based on parameters *title* and *region*.

**Describe alternative