[2020-02-24 15:48] dylang commented on #5052
Hi @christian-bromann -

In the devtools driver, we can check that the parent process is still alive (`proces.ppid > 1`). If it's not, then kill the browser and process.exit.

I don't think this has anything to do with Jest, as it's reproducible without Jest, as seen in this ticket: https://github.com/webdriverio/webdriverio/issues/5048

[2020-02-24 15:53] christian-bromann commented on #5052
@dylang I don't think there is a parent process if you run a node script or a jest test run so I am not sure if your proposed solution works.

These are identical scenarios since you run a script by yourself and WebdriverIO has no control over it. If you use the testrunner WebdriverIO can (and does) close the browser if someone sends a SIGINT signal.

[2020-02-24 16:13] dylang commented on #5052
@christian-bromann Thanks for the unexpected quick response!

Correct. There is a parent process in Jest, it spawns workers for each test, but I thought webdriver was spawning a new process for the devtools driver. That's not the case.

I'll give the testrunner a try and and try to figure out how it's handling control-c cleanly.

[2020-02-24 16:46] christian-bromann commented on #5052
@dylang if you don't use the wdio testrunner you will have to implement such edge cases by yourself. The wdio testrunner covers these things , e.g. handling control-c.

[2020-02-24 17:23] dylang commented on #5048
My example does not use `@wdio-cli` - but it still can happen with it, it's just much less likely:

I added the following code to `devtoolsdriver.js`:

[code]

Ran `yarn wdio wdio.conf.js`

and hit `control-c` once.

Each time `devtools checkPendingNavigations` is printed is another recursive loop, which will eventually run out of memory if the parent process doesn't kill it soon enough.

[code]

[2020-02-24 17:46] MalteHer commented on #5043
@christian-bromann I attached a dummy project. There is still some stuff in there that in uneccessary but if you run add your browserstack credentials in the .env file and run npm install and npm run test it should show you the error.
[test.zip](https://github.com/webdriverio/webdriverio/files/4245948/test.zip)

[2020-02-24 18:41] dylang commented on #5052
@christian-bromann It appears that the local-runner is not handling `control-c` gracefully either:

`handleExit(exitCode)` in `worker.js` is never called. I'm not sure if that is intentional.

On `control-c`, devtools throws an unhandled promise rejection, which is [caught by jasmine](https://github.com/jasmine/jasmine/blob/master/src/core/GlobalErrors.js#L61):

[code]

This causes Jasmine to kill

[2020-02-24 19:00] dylang commented on #5048
FWIW, this change fixed the issue for me:

Change this line:
https://github.com/webdriverio/webdriverio/blob/master/packages/devtools/src/devtoolsdriver.js#L197

to this:

[code]

[2020-02-24 19:03] dylang commented on #5048
There's possibly a better non-recursive solution with a module like [p-retry](https://github.com/sindresorhus/p-retry), but this at least allows the process to exit instead of being stuck in a recursive loop until the heap is used up.

[2020-02-25 07:39] abaybabaydabudidabuday opened #5055 "Can;t properly setValue to input textfield on ios safari"
**Describe your question with as much detail as possible**
setValue command - after ending of typing doesn't send 'Enter' key command to input text field. So could someone please help me - how to send "Done" trigger to my input text field on IOS + SAFARI.

**If it's about a specific piece of code, try and include some of it to support your question.**
Tried different solutions but can't send "Done

[2020-02-25 10:16] qtis opened #5056 "Reporter prints output only after all suites are finished"
**Describe your question with as much detail as possible**
After migration from webdriver 4 to 5 - reporter output is shown only after all suites are finished running. Before, it used to print "as it goes". How can I configure wdio to print reporter output to console as soon as single test is finished?

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.18.7

[2020-02-25 11:11] fiducioso-karthikayan commented on #3264
Thanks @klipstein . You saved my day! I've been going nuts facing this problem without any kind of clue.

[2020-02-25 12:57] Farfurix commented on #3754
@wswebcreation

Thanks, it works for me:
[code]

[2020-02-25 13:50] christian-bromann commented on #5055
@abaybabaydabudidabuday have you tried to click on a different element?

[2020-02-25 13:52] christian-bromann commented on #5056
What kind of behavior are you expecting? What is the value of seeing the spec reporter report after the test finishes?

[2020-02-25 13:54] wswebcreation opened #5058 "v6 release blog post misses breaking change"
**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**
I've been reading this blogpost https://webdriver.io/blog/2019/11/01/spec-filtering.html because I need to do a framework review for a customer.

Then I read this last part

...Please note that the feature will be enabled for

[2020-02-25 14:53] qtis commented on #5056
In our particular scenario we are using wdio-teamcity-reporter and as test-suite is being run - you can instantly see on progress how many tests are already executed and if something got skipped/errored in some suite - you can instantly react without the need to wait for full execution to finish.

Another value would be that in case of process kill because of whatever reasons - you are left with n

[2020-02-25 15:07] dalecreativ commented on #3899
@chirag-farfetch

I've found updating the capabilities helped get this running.
Updating the `seleniumVersion` to a more recent version.

Found this useful for building different capabilities to try: [Browserstack capabilities builder](https://www.browserstack.com/automate/capabilities)

### w3c capabilites:
[code]

### legacy capabilities:

[code]

[2020-02-25 15:48] jorydotcom opened #5059 "[Info] OpenJS Conference & Collab Summit FYIs for Project Communities"
Hi webdriver.io Community 🤗

I've been asked to help make sure that all the OpenJS Foundation project communities are aware that the deadline for our [OpenJS Conference Call for Proposals](https://events.linuxfoundation.org/openjs-world/program/cfp/) has been extended through Feb. 28. Previously, this event was called 'Node + JS Interactive' and it leaned heavily toward Node.js. We're hoping to ha

[2020-02-25 18:33] nickwangyoui opened #5060 "Allure Reporter outputting test steps with result: undefined (Appium/Mocha)"
**Describe your question with as much detail as possible**
I ran into an issue where my Allure results aren't processing the same results as my spec reporter and junit reporter.

Any idea where I should look to fix this? I couldn't find anything online :(

**If it's about a specific piece of code, try and include some of it to support your question.**
[...]

**Environment (please complete the foll

[2020-02-25 20:07] nickwangyoui commented on #5060
So it seems like when I use beforeEach() hooks, all my passing tests are set as undefined, but my errors are being captured and broken tests are displayed properly.

<img width="1438" alt="Screen Shot 2020-02-25 at 2 53 17 PM" src="https://user-images.githubusercontent.com/48226356/75283236-6e1e6d00-57e0-11ea-8b11-05602a37c69f.png">

Note: I noticed that my junit tests are also not displaying 'tes

[2020-02-26 05:47] abaybabaydabudidabuday commented on #5055
@christian-bromann yes, sure. Input field was cleared after clicking to another element. Added loom video with full test case in attach.
Also I had the same issue for browser and solved it by adding CTRL+M command. Dunno how to make similar solution for appium.
Using this selector for settingvalue:
element = `*[data-qa="text-itemCost"]  input[type="text"]`
setValue(element) (and also tried approac

[2020-02-26 08:36] srini-myob opened #5061 "specFiltering doesn't work when destructuring imports are used"
When using destructuring imports, specFiltering doesn't skip that spec file. _(Using mocha framework & explicitly setting the feature flag `specFiltering` true)_

**Describe the bug**
When using destructuring imports, the specFiltering doesn't skip that spec file. Following this (https://webdriver.io/blog/2019/11/01/spec-filtering.html), I've enabled this feature in my mocha setup by explicitly se

[2020-02-26 08:57] mgrybyk commented on #5061
What is in your module?

[2020-02-26 09:33] wswebcreation commented on #5055
@abaybabaydabudidabuday

What stack is used to create the app, react/angular/Vue? There are some issues with updating the internal state of React components with Safari and Appium, please check this thread https://github.com/appium/appium/issues/9002#issuecomment-587922123
It might have been solved with the latest beta.

If it is a React/Vua/Angular app then this is an Appium issue and not a Webdr

[2020-02-26 10:49] christian-bromann commented on #5056
What do you mean by that?

I think generally it makes sense to me to print reports of a worker once it finishes. We could even make this configurable. Any PRs for this would be appreciated.

[2020-02-26 11:57] qtis commented on #5056
I mean that if your all test cases combined would run 20minutes and at 19th minute you would receive some sort of out of memory exception - results would be gone because they are printed only when all tests are finished.

Normally I'd expect that as soon single test case finishes (or let's say in cucumber's runner single feature that includes several scenarios) - result gets printed.

Not sure wha

[2020-02-26 13:03] christian-bromann commented on #5056
We do talk about the same thing. A worker in WebdriverIO is currently the Node process that runs the framework and contains the report logic.

Sounds good to me 👍

[2020-02-26 13:40] mgrybyk commented on #5056
I think this is partly related to https://github.com/webdriverio/webdriverio/issues/4547

It's pretty easy change to print messages after each spec file or even straightaway, all the logic is in interface.js

[2020-02-26 13:55] qtis commented on #5056
Yes, that discussion is about the same thing - adding a way to configure how reporters are printing out results, after each test or in the end.

[2020-02-26 16:01] dylang commented on #5052
It looks like chrome-launcher has a [killAll](https://github.com/GoogleChrome/chrome-launcher#killall) method that we can take advantage of in Jest, but they haven't published a new version that has this feature (or any updates in 6 months...)

I'll revisit this after they publish a new version.

[2020-02-26 16:04] dylang commented on #5048
Hi @christian-bromann, would you like a PR for either of these changes? It would be extremely helpful for us to get this in a v5 update.

[2020-02-26 23:01] viralkpanchal opened #5063 "Appium throws an error when trying find an element based on index in a loop"
This issue is related to Appium Service when running a test case on native Android Application.

**Environment:**
    "dependencies": {
        "@wdio/appium-service": "^5.18.2",
        "@wdio/browserstack-service": "5.16.10",
        "@wdio/cli": "^5.18.6",
        "@wdio/local-runner": "^5.18.6",
        "@wdio/mocha-framework": "^5.18.6",
        "@wdio/spec-reporter": "^5.18.6",
        "@wdi

[2020-02-26 23:56] srini-myob commented on #5061
Yeah, I've got the browser commands in before hook only & just imports in the root scope - which is where your doc suggests putting those in. The moment I comment out that particular import statement, the spec file is skipped as expected.

[2020-02-27 06:24] wswebcreation commented on #5063
@viralkpanchal

Based on the info you say this

For cloud executions you don't use the `2wdio/appium-service`, you use the Appium server on BrowserStack. Can you check and align the versions you have running of Appium on your local machine and on the BrowserStack cloud?

Because it works locally and not on the BrowserStack cloud this is more likely to be an issue with BrowserStack and the version

[2020-02-27 06:24] #5063 closed

[2020-02-27 06:33] abaybabaydabudidabuday commented on #5055
Thx for u answer, it makes sense, cuz we are using React. Hope in will be fixed soon..

[2020-02-27 06:40] wswebcreation commented on #5055
It will be fixed in the newest Appium release and thus not related to WebdriverIO. Going to close it for now but it's still open for discussion

[2020-02-27 06:40] #5055 closed

[2020-02-27 09:38] christian-bromann commented on #5061
@srini-myob can you provide a minimal reproducible example?

[2020-02-28 06:40] srini-myob commented on #5061
UPDATE: Issue looked like it was because of destructured assignments. Because removing those imports resolved the issue. On looking closer, it's because of the usage of a global variable in a js file that's being imported.

Here is a fork of one of the boilerplate repos & I've modified it to reproduce the scenario.

- Clone https://github.com/srini-myob/webdriverIO-with-mochaBDD
- Run `npm install

[2020-02-28 09:48] mgrybyk commented on #5061
@srini-myob the issue is not reproducible in your repo. The spec is skipped as expected.

Please also note that you have to move your transpilers like `@babel/register` to `mochaOpts.require`

[2020-02-28 11:51] mattdell commented on #4482
`clearByBackspace` is not a method in the API:

https://webdriver.io/docs/api.html

[2020-02-28 12:29] alexneo2003 commented on #4913
I had the same problem

`2020-02-28T12:08:54.032Z DEBUG @wdio/sync: Couldn't load fibers package for Node v10 and above
2020-02-28T12:08:54.036Z DEBUG @wdio/sync: Couldn't load fibers package for Node v8`

and after `yarn install --force` the problem was fixed

[2020-02-28 17:35] kapilag commented on #4987
@christian-bromann , @mgrybyk , I am bit lost over here, there is another related issue raised: [here](https://github.com/webdriverio/webdriverio/issues/5061) and seems over there it is working, whereas this issue is marked as good first pick, is there some problem with my config file ?

[2020-02-28 19:59] christian-bromann commented on #4987
I haven't had a chance to look into this therefor I am not sure if these issues are related. Any help on this is appreciated.

[2020-02-28 22:07] srini-myob commented on #5061
@mgrybyk You just reproduced the issue exactly - seeing your screenshot. You are supposed to see `2 skipped` but you get `1 passed, 1 skipped`. That's the issue - the spec with that problematic import is not getting skipped.

I've moved them under mochaOpts and even removed them altogether - no change in the output.

[2020-02-28 22:27] artyompvl opened #5066 "beforeCommand and afterCommand hooks throw error in standalone mode"
**Environment:**
 - **WebdriverIO version: 5.18.7
 - **Mode: Standalone mode
 - **If WDIO Testrunner, running sync/async: async
 - **Node.js version: v12.15.0
 - **NPM version: 6.13.4
 - **Browser name and version: chrome
 - **Platform name and version: macOS 10.14.6

**Config of WebdriverIO**
{
            hostname: 'localhost',
            port: 4444,
            path: '/',
            capabilit

[2020-02-29 13:56] sandikumar3 commented on #1569
@christian-bromann , Although WebdriverIO supports mobile automation with the help of Appium . But there is lack in webdriverIO documentation as no specific help on setting up the test for android app. Also, if i take my case, i am about to evaluate webdriverIO library for native app automation. From so long, i am struggling with basic setup. No help in terms of any video/tutorial step by step ava

[2020-02-29 18:03] wswebcreation commented on #1569
@sandikumar3

Maybe this helps https://github.com/webdriverio/appium-boilerplate

[2020-03-01 09:18] saranyaeaswaran commented on #4913
Hi @snoblenet and @alexneo2003 , I'm facing the same issue and mine is OS 10.16 with npm, can you please suggest how can I fix this issue?

[2020-03-01 11:10] alexneo2003 commented on #4913
@saranyaeaswaran maybe you can try remove node_modules and reinstall it

[2020-03-02 12:20] abaybabaydabudidabuday opened #5068 "Use touchActions for dragAndDrop command if user is running on mobile"
**Environment (please complete the following information):**
 - **WebdriverIO version:**  ^5.18.7
 - **Mode:**  test Runner
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] sync
 - **Node.js version:** 10.16.3
 - **NPM version:** 6.9.0
 - **Browser name and version:** safari
 - **Platform name and version:** iOS (12.4)
 - **Additional wdio packages used (if applicable):**

**Descri

[2020-03-02 14:19] fottin opened #5069 "How to get specific drivers in Multiremote using Typescript"
**Describe your question with as much detail as possible**
How to access the global instances of drivers using typescript.
I was able to refer to the global driver instances using javascript (i.e. driver.Device1 and driver.Device2). I've modified the code to use typescript, and can no longer do it.
A console log of 'browser' shows the capabilities for Device1 and Device1
<script src="https://gist.

[2020-03-02 16:18] ericzered opened #5070 "Multiremote with wdio additional services : Cannot read property 'browserName' of undefined"
Hello,
I have an issue with multiremote and wdio services :
I'm using 2 services '**intercept**' and **'image-comparison'** without problem when I have only 1 browser, but when I run tests with multiremote, I have an error.

Example and repro:

In my wdio.conf.js I have this capabilities :
[code]

in my spec file, I can do this without problem:

[code]

But when I try to do multiremote like this :

[2020-03-03 12:08] pako88 opened #5071 "Sauce Labs Jobs are not correctly updated if you're using "browser.reloadSession()""
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2020-03-03 15:12] fottin commented on #5069
Typescript solution:
import { BrowserObject } from '@wdio/sync';

declare const driver: BrowserObject;

const driver1 = driver['Device1'];
const driver2 = driver['Device2'];

[2020-03-03 15:12] #5069 closed

[2020-03-04 09:15] SobheHigaze commented on #4565
Hi all,
i have faced this issue today, and the solution was so simple.
i have just upgraded to Safari from version 13.0.1 to version 13.1 .
hope that will help you.
==================
im running on:
MacOS Mojave version 10.14.6
Safari 13.1
webdriverIO V5.11.13
wdio-selenium-standalone-service V5.16.10

without any special configuration for safari options at the config file.

[2020-03-05 00:15] zdman135 opened #5072 "ERROR @wdio/runner: Error: connect ECONNREFUSED 127.0.0.1: at TCPConnectWrap.afterConnect [as oncomplete]"
I am currently getting this error:
`[0-8] 2020-03-03T21:15:20.187Z ERROR @wdio/runner: Error: connect ECONNREFUSED 127.0.0.1:34713
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1117:14)`

This error started happening right after I enabled devtools by adding the following line inside of my wdio configuration file:
`automationProtocol: "devtools",`
I currently use a gridhub to run all m

[2020-03-05 00:19] pmerwin commented on #5072
Do you have sample spec that can reproduce this?

[2020-03-05 03:41] KBPratap opened #5073 "browser.keys(['Enter']) doesn't work with puppeteer"
I am trying to enable puppeteer with webdriverio using "devtools": "^5.18.6".

After filling in my login credentials, I want to press Enter key. `browser.keys('Enter')` doesn't seem to work.
This works perfectly fine when using webdriver protocol.

[2020-03-05 07:10] khoingo-lg opened #5074 "Cannot end session Safari when the popup is opening"
I have the test case that only check text of the popup on Safari browser. After that, I end my test case. (The popup is still opening on Safari browser when I end my test case)
The problem is Webdriver cannot end session after end the test. I assume the problem come from the popup does not close before end session.

Environment :
 - WebdriverIO version: 5.18.5
 - Mode: WDIO Testrunner
 - Running s

[2020-03-05 08:37] mgrybyk commented on #5072
@zdman135 have you installed devtools protocol? Can't see it in the list of packages you have provided

[2020-03-05 16:41] zdman135 commented on #5072
Yeah, I forgot to include it, but it's in my package.json
    `"devtools": "5.18.6",`

I used this documentation to set up the puppeteer mocking - https://webdriver.io/docs/automationProtocols.html

[2020-03-05 16:52] zdman135 commented on #5072
I don't think the spec is the issue or help, but here is a gist to the working spec file that causes the issue when ran against gridhub - https://gist.github.com/zdman135/af20193f37c58a5e06ca8b49c1d47fc4

So, the spec runs fine locally:
I start the webserver up
then I run my specs against the local webserver

Then I run the same specs and send it to gridhub, and gridhub and everything runs fine, i

[2020-03-06 09:14] versedi commented on #2984
Bug still reproducable on ` "webdriverio": "^5.16.15"`

[2020-03-06 09:48] abaybabaydabudidabuday opened #5075 "Firefox devtools - fails on switchWindow() with error `page.bringToFront is not a function`"
**Environment:**
 - **WebdriverIO version:** ^5.18.7
 - **Mode:** WDIO TestRunner
 - **If WDIO Testrunner, running sync/async:** sync
- **Node.js version:** 10.16.3
 - **NPM version:** 6.9.0
 - **Browser name and version:** Firefox
 - **Platform name and version:** darwin (devtools)
 - "devtools": "^5.18.7"

**Config of WebdriverIO**
Chrome config configured in the same way, and working correctly

[2020-03-07 03:54] pradeepnyk opened #5077 "Unable to click on web element in Safari browser"
**Environment:**
 - **WebdriverIO version:** 5.18.6
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [11.9.0]
 - **NPM version:** [6.10.1]
 - **Browser name and version:** [Safari 13.0.3]
 - **Platform name and version:** [Mac OS Catalina 10.15.1]
 - **Additional wdio packages used (if applicable):** [@wdio/selenium-standalone service]

**Additional context**
I am unab

[2020-03-07 17:48] BorisOsipov commented on #5060
duplicate #4953

[2020-03-07 17:48] #5060 closed

[2020-03-08 16:25] nextlevelbeard commented on #5072
Might be related to this since webdriverio uses got.
https://github.com/sindresorhus/got/issues/951

Solution is to update all `agent-base` to version 5.

`npm-shrinkwrap.json`:
[code]

[2020-03-08 23:36] sakhisheikh commented on #4953
I have tested it locally and changed

[2020-03-09 07:13] logakarthi commented on #2521
@jbartek25
Where to keep the above failed-suite-reporter.js & wdio-runnjer.js files in the project. And also how to mention spec_retries in the command to run the suite test case

Anyone knows means, please tell me.
Thanks.

[2020-03-09 10:54] christian-bromann commented on #5072
Using `devtools` protocol is only supported when running tests locally. If you use a cloud provider like gridhub it won't work.

[2020-03-09 10:54] #5072 closed

[2020-03-09 10:55] christian-bromann commented on #5077
@pradeepnyk please file a bug on the Safari [project page](https://webkit.org/reporting-bugs/). This is an issue in Safaridriver and needs to be resolved there. There is nothing WebdriverIO can do to fix this.

[2020-03-09 10:55] #5077 closed

[2020-03-09 11:03] christian-bromann commented on #2984
I am not sure how this can be fixed in WebdriverIO as it seems to be a bug in Safaridriver.

[2020-03-09 11:05] christian-bromann commented on #5073
This might be fixed with the `devtools` package in v6.

[2020-03-09 11:07] christian-bromann commented on #5070
Please raise this issue in the `wdio-image-comparison-service` as it seems that it doesn't support multiremote. Cheers!

[2020-03-09 11:07] #5070 closed

[2020-03-09 11:09] christian-bromann commented on #5068
The actions command that `dragAndDrop` is using is not supported for mobile. We should check if `isMobile` is true and use `touchActions` instead.

[2020-03-09 11:19] christian-bromann commented on #4913
Also, ensure that you have Python installed.

[2020-03-09 11:21] christian-bromann commented on #5066
The concept of hooks don't exist when running WebdriverIO in standalone mode. If you want to use them please use the [wdio testrunner](https://webdriver.io/docs/clioptions.html).

[2020-03-09 11:21] #5066 closed

[2020-03-09 14:13] wswebcreation commented on #2984
SafariDriver isn't used with Appium + iOS, it's a different driver (ios-webkit-debug-proxy from Facebook, which has been rebuild by the Appium team)

@versedi , do you have a sample or does this break on whatever site you use?

[2020-03-09 22:39] christian-bromann commented on #4065
Taking this out of v6 as it hasn't been picked up by anyone so far and should not block a v6 release.

[2020-03-10 07:19] pako88 opened #5079 "How to use mocha framework with imports and activated specFiltering?"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.18.7
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** see package.json

**De

[2020-03-10 07:20] pako88 commented on #5079
related to https://github.com/webdriverio/webdriverio/pull/4531

[2020-03-10 07:47] wswebcreation commented on #5079
Hi @mgrybyk

I've assigned you to the issue, reason for that is that I've been looking into this one together with @pako88  and we walked through all steps for TypeScript and the `specFiltering` option. With the PO's we still get the `browser` error, even if we remove the `browser` commands from the PO's.

Do you have a working example with Mocha/Jasmine with PO's where this is working?

[2020-03-10 07:50] pako88 commented on #5079
One additional comment: the error also appears when importing only chai at the tests. so it seems to be a general error with imports on test level

[2020-03-10 09:28] christian-bromann commented on #5079
I was able to run the framework with the following changes:
[code]

There seems to be an issue with the TypeScript setup. I will update the docs and make an issue in the boilerplate repo.

[2020-03-10 09:28] #5079 closed

[2020-03-10 09:38] christian-bromann commented on #5079
You can actually keep using `tsconfig-path` here is the better patch:
[code]

[2020-03-10 09:46] pako88 commented on #5079
yes , that works. thanks @christian-bromann
so to summarize the main problem was the `require('ts-node').register({ files: true });` in the before hook
this has to move in the mochaOpts.

Thank you!

[2020-03-10 12:28] christian-bromann opened #5081 "Investigate typing errors in v5 branch"
After back porting #5067 into v5 branch the build started to fail which forced me to skip these tests. While trying to find a fix for it, it appeared to me that other tests would passed even though changes were applied that should have caused a failure.

Let's investigate the typing checks and see if we can fix both of these issues.

[2020-03-10 12:51] christian-bromann commented on #5061
@srini-myob it seems that `TESTENV` [here](https://github.com/srini-myob/webdriverIO-with-mochaBDD/blob/master/test/test-data/user-data.js#L7) is not defined, you need to access it via `global.TESTENV`. Nonetheless is this a bug on WebdriverIO side as the error is not properly captured.

[2020-03-10 18:38] wswebcreation opened #5083 "Greenkeeper is stopping"
I saw on the Slack channel of Appium that Greenkeeper was stopping. If you go to the website https://greenkeeper.io/ you will also see they stop on the 3rd of June.

The Appium team was discussing to use dependabot which comes with GitHub, but I don't know what you all want to do

[2020-03-11 02:28] zdman135 opened #5085 "What is this error connect and port mean?"
1583892444.507][SEVERE]: bind() failed: Cannot assign requested address (99)
[0-0] RUNNING in chrome - /e2e/regression/devTools/...
[0-0] 2020-03-11T02:07:50.667Z ERROR @wdio/runner: Error: connect ECONNREFUSED 127.0.0.1:40583
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1117:14)
[0-0] Error: connect ECONNREFUSED 127.0.0.1:40583

I am getting the following error in the console.
I am

[2020-03-11 04:24] Nemeritz opened #5086 "Browser.WaitUntil Error message change with variable"
**Is your feature request related to a problem? Please describe.**
I have a browser.waitUntil with timeout and interval. A variable gets updated in the fn (first arg of waitUntil) and I would like to have the error message contain that variable when the waitUntil times out. But currently waitUntil makes a copy of the timeoutMsg and won't update it every tick because of how js works.

**Describe th

[2020-03-11 09:30] christian-bromann commented on #5083
Thanks for notifying @wswebcreation !

Let's find out which tool works best for our Lerna structure here.

[2020-03-11 09:35] christian-bromann commented on #5085
Not sure what you are doing here but this is WebdriverIO failing to connect to the DevTools interface. The port usually is received from the Chromedriver session response.

I hope this answers your question. While I feel this deserves a more concrete error message, your information aren't sufficient to understand how this error is being caused. A reproducible example would be helpful.

[2020-03-11 09:35] #5085 closed

[2020-03-11 12:59] dimkin-eu opened #5087 "Sample Multiremote tests are failing with keySequence.map is not a function"
- **WebdriverIO version:** 5.19.0
 - **Mode:**  WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** MacOS Catalina

**Describe the bug**

**To Reproduce**
as described [here](https://github.com/webdriverio/webdriverio/blob/master/examples/README.

[2020-03-12 06:52] vimalmishra12 commented on #3405
@christian-bromann I want to set the size of my viewport. Correct me if i am wrong but "setwindowrect" works in the same way as [setWindowSize](https://webdriver.io/docs/api/browser/setWindowSize.html). What I want is to set dimensions of the viewport.

[2020-03-12 08:54] christian-bromann commented on #3405
What is the difference?

[2020-03-12 10:24] maxmellen commented on #5043
@christian-bromann I can confirm `isClickable` doesn't work on IE11. It seems the javascript it generates to be run on the browser isn't compatible with IE11.

Sauce Labs logs when running `isClickable`:

[2020-03-12 10:51] nextlevelbeard opened #5090 "devtools: Cannot upload files though input elements"
**Environment:**
 - **WebdriverIO version:** latest v5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Browser name and version:** chrome, firefox
 - **Platform name and version:** Mac OSX

**Config of WebdriverIO**
Any v5 with devtools `automationProtocol`

**Describe the bug**
Cannot upload files through`addValue`/`setValue` command on`type="file"` `input` f

[2020-03-12 11:21] christian-bromann commented on #5090
Can you provide a minimal reproducible example?

[2020-03-12 13:14] nextlevelbeard commented on #5090
@christian-bromann you can find one here
https://github.com/nextlevelbeard/wdio-repro-devtools-input

[2020-03-12 13:27] christian-bromann commented on #5086
Can you provide a code example?

[2020-03-12 13:28] christian-bromann commented on #5048
@dylang yes please!

[2020-03-12 13:30] christian-bromann commented on #5059
Hi Jory,

all members have been notified about the opportunity to join the events. Given current circumstances everyone is cautious about booking anything until we have more clarity on the situation.

Thank you for notifying!

Cheers

[2020-03-12 13:30] #5059 closed

[2020-03-12 13:32] christian-bromann commented on #5050
This is a webdriver capability that needs to be translated when using devtools protocol. Sounds like a reasonable enhancement.

[2020-03-12 13:33] christian-bromann commented on #2870
Given the complexity of checking capabilities and the fact that it is already done on the driver side I am changing my mind about this. A better approach is to let the driver do this checks and provide better error messages in case of failures.

[2020-03-12 13:33] #2870 closed

[2020-03-12 16:20] bahunov commented on #3450
@mgrybyk how do you accomplish that in junit-jupiter?

[2020-03-12 20:28] dimadeveatii opened #5092 "browser.keys function wrong order of input keys"
**Environment:**
 - **WebdriverIO version:** 5.19.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.16.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome 78
 - **Platform name and version:** docker-selenium [3.141.59-xenon](https://github.com/SeleniumHQ/docker-selenium/releases/tag/3.141.59-xenon)

**Config of WebdriverIO

[2020-03-12 20:29] Nemeritz commented on #5086
The original problem was setValue/clearValue doesn't work in Chrome so we had to implement our own implementations of it.

[code]

The `currentString` (expected string value) variable gets updated and the error message needs to reflect the most recent `currentString`. But I think it only updates when this.getValue() === currentString returns true.

For example if I was trying to do $('input').setV

[2020-03-12 21:13] christian-bromann commented on #5086
@Nemeritz I think the problem here is that you can't use a `forEach` here because it would be executed in the next eventloop and breaks the sync behavior of WebdriverIO. I might be wrong about that. However, why do you set current string in the `waitUntil` condition? Have you tried:

[code]

This should work as expected. Let me know so I can re-open the issue.

[2020-03-12 21:13] #5086 closed

[2020-03-12 21:28] christian-bromann commented on #5092
I can't really reproduce this, can you give more information? I just ran your scenario using repl and everything was fine:

[code]

The textarea showed `Hello World`.

[2020-03-12 23:24] fafnirical opened #5094 "webdriverio@5.20.1 breaks compatibility with Node 8"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.20.1
 - **Mode:** N/A
 - **If WDIO Testrunner, running sync/async:** N/A
 - **Node.js version:** 8.17.0
 - **NPM version:** yarn 1.6.0
 - **Browser name and version:** N/A
 - **Platform name and version:** N/A
 - **Additional wdio packages used (if applicable):** N/A

**Config of WebdriverIO**
N/A

**Describ

[2020-03-12 23:41] christian-bromann commented on #5094
@fafnirical thanks for reporting. I reverted the change an re-released as `v5.20.2`. This should fix it.

[2020-03-12 23:41] #5094 closed

[2020-03-12 23:56] fafnirical commented on #5094
Thanks for the quick turnaround! 😃

[2020-03-13 00:03] Photonios opened #5095 "@wdio/firefox-profile-service does not properly load web extension"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.20.1
 - **Mode:** wdio test runner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.15.0
 - **Yarn version:** 1.22.0
 - **Browser name and version:** Firefox 73.0b12
 - **Platform name and version:** macOS Mojave 10.14.5 (18F203)
 - **Additional wdio packages used (if applicable

[2020-03-13 03:25] rrivem commented on #3024
Following this suggestion we found the issue was originated by the use of the custom controlled fields we have in our project. Here's a snippet of how the Field looks like:

[code]

And a Form using it:
[code]

The wdio test:
[code]

If you run this test with wdio (V4 in our case) you'll be able to reproduce the bug for test2 (helloworld printed in the latter, instead of world) shows but it works

[2020-03-13 08:46] dimadeveatii commented on #5092
We were able to reproduce it using [monaco-editor](https://microsoft.github.io/monaco-editor/index.html) in a reactjs app.
However it's not always reproducible on our side, so I think the ticket can be closed unless we get more information or concrete steps to reproduce it.

[2020-03-13 08:46] #5092 closed

[2020-03-13 10:41] christian-bromann commented on #5095
First off, great issue write up. Thank you!

I don't think it is deprecated. The last release was 19 days ago so it seems the maintainer is still accepting PRs. I would advise to make a PR upstream.

@Photonios let me know if I can assist with something. A PR to `firefox-profile` seems like the right approach to me.

[2020-03-13 11:21] Photonios commented on #5095
Good point. Thanks!

I've opened two PR's to address issues with WebExtensions compatibility:

https://github.com/saadtazi/firefox-profile-js/pull/106
https://github.com/saadtazi/firefox-profile-js/pull/107

The CI is failing due to a test that also fails on master. I'll report back here when the author has had a look at them.

[2020-03-13 13:53] Photonios commented on #5095
The author of `firefox-profile` just merged my fixes and released a new version on NPM: https://www.npmjs.com/package/firefox-profile/v/2.0.0

I'll open a PR in webdriverio somewhere today or tomorrow.

[2020-03-13 14:10] christian-bromann commented on #5095
This should be picked up by Greenkeeper. Thanks for the fix. Doing a release now.

[2020-03-13 14:11] #5095 closed

[2020-03-13 16:09] scripnichenko opened #5098 "Jira-server-url config to make testId and issueId referencing to project jira in Allure"
[//]: # (
. Note: for support questions, please use Stackoverflow or Gitter**.
. This repository's issues are reserved for feature requests and bug reports.
.
. In case of any problems with Allure Jenkins plugin** please use the following repository
. to create an issue: https://github.com/jenkinsci/allure-plugin/issues
.
. Make sure you have a clear name for your issue. The name should start with

[2020-03-14 16:34] #5098 closed

[2020-03-15 14:15] Photonios commented on #5087
This issue seems to have been introduced with this change:

https://github.com/webdriverio/webdriverio/commit/49eda5119d6b7504d25de1ac17e9b60e6f24f419

I reproduced the issue locally and `this.isDevTools` is `true`. This means that `checkUnicode` returns the value as is. Down the line, where the crash happens, it expects `keySequence` to be an array. If `this.isDevTools` is `false`, the value gets

[2020-03-15 17:15] christian-bromann commented on #5087
If you use v5 of WebdriverIO this should not be the cause of the bug as we haven't backported it. Note that everything in master is v6 and we just backport patches that are compatible with v5.

[2020-03-15 17:20] Photonios commented on #5087
The report is against master. The steps to reproduce descibre cloning directly from Git and running the example. Like this, I was also able to reproduce the issue.

The commit I linked _did_ introduce the issue on master. The bug also doesn't reproduce against v5.

[2020-03-16 11:17] #5087 closed

[2020-03-16 16:01] stezu opened #5102 "Browserstack with the Jasmine framework prints `undefined` for test names"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.18.7
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.14.0
 - **NPM version:** 6.13.4
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** `@wdio/browserstack-se

[2020-03-16 16:13] christian-bromann commented on #5102
I would go with the second solution. PRs are welcome!

[2020-03-16 16:28] wswebcreation commented on #5102
@christian-bromann

I'm seeing the same thing in the Sauce Labs service, looks like something broke in the generic reporter

[2020-03-16 17:01] vrudhay commented on #3196
+1

[2020-03-16 23:37] Pratikhanagodimath opened #5104 "Error: socket hang up OR Error: connect ECONNREFUSED 127.0.0.1:42395 - when 'docker' and 'devtools' services are used together."
I am attempting to use docker and devtools service together to evaluate performance of a page. Running locally. I am running into issues when I include ‘devtools’ as a service along with docker service, without ‘devtools’ the test just runs fine. Below is the error I see. What am I missing?. Seems like same issue mentioned here by prathameshnyt -> https://github.com/webdriverio/webdriverio/issues/

[2020-03-17 05:37] srikanth654 opened #5105 "unknown error: missing or invalid 'entry.level'"
while trying to send the values for login through send_keys(),
 i am getting below error can any one help me for solving this.
i am using pycharm for automation and linux system.

raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.WebDriverException: Message: unknown error: cannot determine loading status
from unknown error: missing or invalid 'entry.level'
  (Session in

[2020-03-17 07:29] christian-bromann commented on #5105
I am sorry but it seems you are not using WebdriverIO. For Selenium issues please out their support channels. Thanks!

[2020-03-17 07:29] #5105 closed

[2020-03-17 08:41] rostrovsky commented on #4679
You can consolidate partial result xmls using one-liner after the test:
[code]

[2020-03-17 08:53] christian-bromann commented on #5102
Fixed in #5103

[2020-03-17 08:53] #5102 closed

[2020-03-17 14:08] fottin opened #5107 "How to run multiple spec files sequentially on Multiremote with jasmine framework?"
**Describe your question with as much detail as possible**
I’m using Multiremote to test react native app on real iOS devices, with jasmine framework. Works fine with one spec file, but if I specify more than one file in the wdio.config.js it fails with the following error messages (see gist url below)

specs: [
       // './src/specs/**/notifications.ts',
        './src/specs/**/login.ts'

[2020-03-17 14:14] christian-bromann commented on #5107
@fottin multiremote doesn't allow to run specs in parallel. I think there was an issue for this to implement such functionality but I couldn't find it.

[2020-03-17 14:14] #5107 closed

[2020-03-17 14:16] christian-bromann commented on #5107
See also #1695

[2020-03-17 14:21] fottin commented on #5107
I am not trying to run the specs (spec A and spec B) in parallel. I am able to run spec A with multiremote where the two phone are communicating with each other. It works fine. I would like to run spec B after spec A has completed.

[2020-03-17 14:23] christian-bromann commented on #5107
@fottin that should work already if you have multiple specs defined.

[2020-03-17 14:30] fottin commented on #5107
Yes, I would have thought so. But, I looking for guidance on how to figure out what I'm doing incorrectly. Were you able to review the logs I attached in gist?

[2020-03-17 14:57] christian-bromann commented on #5107
It seems that your Appium server isn't running: `ECONNREFUSED 127.0.0.1:4723`

[2020-03-17 15:14] fottin commented on #5107
Yes, the Appium server stops running.
[debug] [XCUITest] Installing '/var/folders/x1/wbwr7jyx2rddp6533jlst90c0000gn/T/2020217-68681-9s7d4g.wdsw/myapp.app' on device with UUID 'f4a85a88bb94f725ac8bd22222b9b3355f938e42'...
uncaughtException: write EPIPE
Error: write EPIPE
    at WriteWrap.afterWrite (net.js:788:14)

[2020-03-17 15:17] christian-bromann commented on #5107
Not sure why that happens. I don't think this GitHub thread is the right channel to find a solution. I recommend to join the WebdriverIO or Appium support channels.

[2020-03-17 18:58] jdavis61 commented on #5018
Sorry the delay, I will start looking at this ticket soon.

[2020-03-17 19:30] fottin commented on #5107
Why would @wdio/local-runner create worker threads (Runner) for each spec file immediately on start up? And then create a new session using the Webdriver protocol for each device?
2020-03-17T19:22:41.497Z DEBUG @wdio/local-runner: Runner 0-0 finished with exit code 1
[0-0] FAILED in MultiRemote - /src/specs/basicCall.ts
2020-03-17T19:22:41.499Z DEBUG @wdio/local-runner: Runner 0-1 finished with ex

[2020-03-17 19:42] christian-bromann commented on #5107
@fottin this is how the testrunner works. You can limit the amount of parallel sessions by the `maxInstances` option.

[2020-03-17 20:14] fottin commented on #5107
That's it! I did not realize I took maxInstances out. Thanks for for your assistance.

[2020-03-18 00:01] kapoorlakshya commented on #4991
I have finally figured out and documented how I got WebdriverIO to work with the desktop browser service by the AWS Device Farm - https://kapoorlakshya.github.io/executing-webdriverio-browser-tests-aws-device-farm

Hoping to create a service soon, but this works for now :)

[2020-03-18 21:36] dylang opened #5110 "v5: recent typing update breaks typing, "@types/request" should be a dependency."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.22.1

**Describe the bug**

Typechecking broken.

[code]

**To Reproduce**

`yarn tsc` (in a project using this as a dependency)

**Expected behavior**

No errors. :)

**Additional context**

Caused by this change:

https://github.com/webdriverio/webdriverio/commit/b4964725e9959613c19a05f96d5d3bb82cb7dcc6#di

[2020-03-19 00:47] deekshachaudhary opened #5111 "Drag and drop is not performing the expected action"
I'm getting an element, calling dragAndDrop on it while passing in the target element, but it's not performing the drag and drop action. I'm using @wdio/cli version 5.16.7, Chrome version 80.0, also tried it in Firefox.
The documentation has this usage information:
`$(selector).dragAndDrop({ duration })`

I assume we'll also have to pass in the target element as the source code suggests. Here is h

[2020-03-19 08:15] christian-bromann commented on #5111
Not without any logs or a reproducible example.

[2020-03-19 08:59] GavinSun9527 opened #5112 "Getting error:@wdio/runner: Error: Failed to create session."
I used nodejs (wdio) to do a web application test  with AWS device farm(https://docs.aws.amazon.com/devicefarm/latest/testgrid/testing-frameworks-nodejs.html),

and my wdio.conf.js like this:
exports.config = {
    hostname: "testgrid-devicefarm.us-west-2.amazonws.com",        // This should match the host portion of the URL
    port: 443,    // This must be 443
    path: "xxxxxxx",
    protocol:

[2020-03-19 13:42] mrahman2327 opened #5113 "Can path be modified in onPrepare hook in wdio.config file?"
**Describe your question with as much detail as possible**
Is it expected that path cannot be modified in the onPrepare hook? Here is what I am experiencing -
I set the hostname, port, protocol, and path in the onPrepare hook, while the hostname, port, and protocol is updated, path is ignored. More details on code below.

**If it's about a specific piece of code, try and include some of it to supp

[2020-03-19 13:51] DenysBarkan opened #5114 "Error of wdio-allure-reporter's missing typings"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.18.6
 - **Node.js version:** v12.15.0
 - **NPM version:** 6.14.2
 - **Platform name and version:** MacOs
 - **Additional wdio packages used (if applicable):**"@wdio/allure-reporter": "^5.22.0" , "allure-commandline": "^2.13.0"

**Config of WebdriverIO**
Using Typescript

**Describe the bug**
 Import of the a

[2020-03-19 14:11] BorisOsipov commented on #5114
why do you think so? #3457 has PR #3461

may you provide simple repo with reproducible example?

[2020-03-19 16:38] pako88 opened #5116 "can't run tests with sauce service and https protocol in v6"
**Environment (please complete the following information):**
 - **WebdriverIO version:** v6
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/sauce-service

**Co

[2020-03-19 16:57] pako88 commented on #5116
looks like this one: https://github.com/sindresorhus/got/issues/951

[2020-03-19 21:33] christian-bromann commented on #5113
Can you try the `beforeSession` hook to modify connection details?

[2020-03-19 21:42] #5110 closed

[2020-03-19 21:43] christian-bromann commented on #5110
Deployed in `webdriver@5.22.3`

[2020-03-19 22:46] #5111 closed

[2020-03-19 22:47] deekshachaudhary commented on #5111
Everything I'm facing is summarized in [https://github.com/webdriverio/webdriverio/issues/4134](url), would be great to get a solution

[2020-03-20 02:08] varayal opened #5117 "debugger result undefined"
For some reason the debugger is not working from my end.

This is the error I'm seeing

`[0-0] 2020-03-20T02:06:04.680Z INFO @wdio/local-runner: Ignore message for worker: { origin: 'debugger', name: 'eval', content: { cmd: '\n' } }
undefined
[0-0] › 0-0 debugger result undefined`

My wdio.config is:

[code]

My package.json has

[code]

[2020-03-20 07:08] fedika opened #5119 "invalid argument: unrecognized capability: enableVNC"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2020-03-20 07:33] christian-bromann commented on #5119
You need to set Selenioid capabilities accordingly like this:
[code]

[2020-03-20 07:33] #5119 closed

[2020-03-20 07:35] christian-bromann commented on #5117
Can you please describe the steps to reproduce this issue?

[2020-03-20 08:59] mrahman2327 commented on #5113
Just tried it and it works! 🎉beforeSession is the right place to do that. Thank you @christian-bromann!

[2020-03-20 08:59] #5113 closed

[2020-03-20 09:04] pako88 commented on #5116
setting following configs works:
[code]

-> there's definitively a problem in running tests in https with sauce in v6

[2020-03-20 10:13] alfonso-presa opened #5120 "Switching between sync and async mode"
**Is your feature request related to a problem? Please describe.**

In some situations, parallel execution of commands in needed in shake of efficiency. For example, reading a big table, checking if multiple elements are visible, etc. Having the commands executed sequentially can be a time hog in this situations.

**Describe the solution you'd like**
I would like a way to toggle between both modes

[2020-03-20 10:37] alfonso-presa commented on #5120
I'm doing some tries and it seems like browser.call turns everything into async. Is this the intended behaviour? If so then it's great :-). Anyway I would like to see a way to turn on or off the sync mode globally for a test execution, because we have a bunch of tests already developed in async mode, but we would like to start using sync for new ones, so we were also trying to switch between both

[2020-03-20 10:46] christian-bromann commented on #5120
Yes, if the function you pass in is an `async` function then yes.

This should already work if you use `async/await`, like:

[code]

[2020-03-20 11:18] wswebcreation commented on #4134
Maybe late, but better late than sorry.

I've also been this with the following script on different browsers

[code]

And it works on the following combinations

![image](https://user-images.githubusercontent.com/11979740/77158857-7054ae00-6aa4-11ea-863d-299dee508c12.png)

IE11 doesn't work in JSONWP or W3C, but I think that was expected

This is a movie of it

![dragAndDrop](https://user-images.g

[2020-03-20 12:17] alfonso-presa commented on #5120
Great! I've checked that it was not working because we had wrongly wrapped the cucumber keyword  functions... But when done correctly it works :-). Only thing I'm missing, and that would make this perfect, is a way to turn on the sync mode when the step (or it) started in async mode. Is that possible?

[2020-03-20 12:44] alfonso-presa commented on #5120
Would it make sense to use the runSync shim from utils for this usecase?

[2020-03-20 13:55] christian-bromann commented on #5120
Why don't you just do all async things within a `browser.call` callback? If you want to switch to async use that.

I will close this issue but happy to assist further.

[2020-03-20 13:55] #5120 closed

[2020-03-20 13:59] christian-bromann commented on #4134
Thanks @wswebcreation, based on that I will close this issue. We appreciate any contributions that would fix this issue in IE (if this is even possible).

[2020-03-20 16:10] christian-bromann commented on #5120
If:
[code]
works for you I think you should be fine to use it.

[2020-03-20 16:14] alfonso-presa commented on #5120
Great! Thank you!!

[2020-03-20 16:24] BorisOsipov commented on #5038
@christian-bromann the same issue is [here](https://github.com/webdriverio/expect-webdriverio/issues/3)

I think we should close [3](https://github.com/webdriverio/expect-webdriverio/issues/3) with reference to this one.

[2020-03-20 19:14] dpoetzsch commented on #4421
In case anyone is still struggling with this I created a service that ports the functionality: https://github.com/mondata-dev/wdio-viewport-size

[2020-03-20 23:30] christian-bromann opened #5121 "Allow to reference .cjs files as specs"
Currently WDIO doesn't recognise `.cjs` files in the testrunner which is important if you run a project where you use EcmaScript modules by default via `"type": "module"` in your `package.json`.

We should make the [file extension filter](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-config/src/lib/ConfigParser.js#L294-L300) more generic by either remove it completely and le

[2020-03-21 03:47] varayal commented on #5117
@christian-bromann here are the steps

[code]
test.js
[code]
Then run

`node_modules/.bin/wdio run wdio.conf.js
`

You'll get this

[code]

[2020-03-21 08:30] dirathea commented on #4562
Hi! I saw this issue is already closed, and deployed to latest version of webdriverio.
but I still encounter this error..

@wdio/cli (v5.22.3)

on REPL console the error still occur
[code]

is anything that I'm missed?

[2020-03-21 16:15] christian-bromann commented on #4562
It should be up to the user to decide whether `@wdio/sync` is desired to be used or not. This is why we didn't made it a dependency of any package.

[2020-03-21 16:45] Ranjithsamalla commented on #4395
@cjmme

I'm also facing same issue
For all wdio function
Ex getText, isDisplayed,etc not a function

[2020-03-21 17:18] christian-bromann commented on #4395
@Ranjithsamalla make sure you use `@wdio/sync` in your project.

[2020-03-21 21:56] dirathea commented on #4562
Alright, I think I get it about not include `@wdio/sync` as dependency.
So it's a matter of documents then? Because the gif demo shows the sync command example, while on documentation there's no mention about this libs.

[2020-03-21 22:04] christian-bromann commented on #4562
We have it documented here: https://webdriver.io/docs/sync-vs-async.html

[2020-03-22 12:40] christian-bromann commented on #5121
Fixed in #5123

[2020-03-22 12:40] #5121 closed

[2020-03-23 00:16] tonychangcheng commented on #2718
How can I disable a dialog that would open an app? As you can see from the below screenshot.

[Chrome external dialog](https://i.stack.imgur.com/5drKO.png)

[2020-03-23 09:41] christian-bromann commented on #5116
This will be fixed by #5124

[2020-03-23 09:41] #5116 closed

[2020-03-23 10:25] christian-bromann commented on #5112
As you can see from the error message:

[code]

it seems that it can't find your test farm. This looks like a AWS configuration issue. Therefor closing this issue.

[2020-03-23 10:25] #5112 closed

[2020-03-23 10:31] christian-bromann commented on #5104
@Pratikhanagodimath can you point out what the issue of WebdriverIO is here? This looks rather to me like a configuration issue as Chromedriver is not able to connect to the DevTools interface.

I will close the issue because I can't identify a bug but I am happy to further assist.

[2020-03-23 10:31] #5104 closed

[2020-03-23 10:42] christian-bromann commented on #5081
fixed by #5101

[2020-03-23 10:42] #5081 closed

[2020-03-23 10:53] christian-bromann commented on #5083
I installed Dependabot for all necessary WebdriverIO repositories.

[2020-03-23 10:53] #5083 closed

[2020-03-23 12:52] dpoetzsch opened #5136 "Typings of write method in @wdio/reporter missing"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.18.6
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** doesnt matter
 - **Platform name and version:** Fedora Linux 31
 - **Additional wdio packages used (if applicable):** @wdio/reporte

[2020-03-23 13:18] christian-bromann commented on #5136
@dpoetzsch interested making a PR for this? I would be happy to assist you!

[2020-03-23 14:36] dpoetzsch commented on #5136
Definitely, I was about to add the method to the `report.d.ts` file and create a PR, but I got confused of this rather complex entry here: https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md#typescript-definitions.

Now I'm not exactly sure what I have to do.. Am I correct to just add the type followed a run of `npm run generate:typings`?

[2020-03-23 15:32] christian-bromann commented on #5136
The type definitions for the reporter are not autogenerated so you can modify https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-reporter/reporter.d.ts directly.

[2020-03-23 16:09] dpoetzsch commented on #5136
Thanks for the help :)

[2020-03-23 16:51] #5136 closed

[2020-03-23 18:56] Pratikhanagodimath commented on #5104
@christian-bromann My bad, this does seem not an issue with webdriverIO. Sorry for inconvenience.

[2020-03-24 09:42] utadachiren opened #5139 "webdriverio standalone mode not working in react"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.22.4
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 13.9.0
 - **NPM version:** 6.13.7
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** none

**Config of Webdr

[2020-03-24 11:33] christian-bromann commented on #5139
Why would you want to run WebdriverIO in the browser?

[2020-03-24 14:48] urilevy2 opened #5141 "clearValue and setValue do not clear input fields in wdio v5"
**Environment:**
 - **WebdriverIO version:** 5.22.3
 - **chromedriver version:** 79.0.1
 - **Node.js version:** 10.15.3
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** Mac OS 10.14.6

I've recently updated webdriverio from 4.13.2 to 5.22.3 and chromedriver from 2.45.0 to 79.0.1.
Since the update clearValue (previously clearElement) is not work

[2020-03-24 15:36] christian-bromann commented on #5141
This is indeed an issue of Chromedriver and WebdriverIO has to rely on the fact that Chromedriver is doing things correctly. Please report an issue in the Chromedriver project. As a workaround you can try to set values using JavaScript and the `execute` command. Will close this issue but I am happy to assist further.

[2020-03-24 15:36] #5141 closed

[2020-03-24 23:15] christian-bromann commented on #4134
See also w3c/webdriver#1488

[2020-03-25 00:24] utadachiren commented on #5139
We want to run WDIO with some parameters, but some of us can't use CLI tools.
Do you have any good way?

[2020-03-25 11:38] christian-bromann commented on #5139
I am not sure what you mean by that. WebdriverIO has to be used from the command line. We are experimenting with running it in the browser but you will need a cloud provider to run tests then. I will close this as it is not really an issue of WebdriverIO.

[2020-03-25 11:38] #5139 closed

[2020-03-25 16:01] christian-bromann commented on #5058
fixed in #5143

[2020-03-25 16:01] #5058 closed

[2020-03-25 18:57] bschlenk commented on #1914
This prevents us from reusing existing modules written in typescript. We can run our test launcher with `ts-node`, but it doesn't seem to transpile files that are required from within node_modules. We get the error `Cannot use import statement outside a module`.

[2020-03-26 12:13] christian-bromann opened #5146 "Master build fails due to `Aborted (core dumped)`"
Currently our master branch is broken due to a Travis issue where the build breaks due to:

[code]

Example: https://travis-ci.org/github/webdriverio/webdriverio/jobs/667206528#L627

I have no idea yet where this comes from and will investigate.

[2020-03-26 13:17] christian-bromann commented on #5022
Closing due to inactivity.

[2020-03-26 13:17] #5022 closed

[2020-03-26 13:24] #4921 closed

[2020-03-26 13:25] christian-bromann commented on #4952
Closing due to inactivity

[2020-03-26 13:25] #4952 closed

[2020-03-26 13:27] christian-bromann commented on #4914
Closing given that #4915 got merged and released.

[2020-03-26 13:27] #4914 closed

[2020-03-26 13:28] christian-bromann commented on #4887
This will be the default behavior in v6 thanks to the work of @mgrybyk !

[2020-03-26 13:28] #4887 closed

[2020-03-26 13:28] #3937 closed

[2020-03-26 13:30] christian-bromann commented on #3388
Closing due to inactivity.

[2020-03-26 13:30] #3388 closed

[2020-03-26 13:32] christian-bromann commented on #4188
Closing due to inactivity.

[2020-03-26 13:32] #4188 closed

[2020-03-26 13:34] christian-bromann commented on #2307
In v6 we changed the structure of these commands to address this issue. Not the command can be called as follows:

[code]

I hope this is a good compromise everyone can work with.

[2020-03-26 13:34] #2307 closed

[2020-03-26 14:27] christian-bromann commented on #5146
Logging the heap size clearly shows how it increases and breaks when 1Gig is reached:

[code]

So  there is some sort of memory leak.

[2020-03-26 15:48] jedwards1211 commented on #2307
still not as readable as if there were simply a `waitForNotDisplayed` method

[2020-03-26 16:35] christian-bromann opened #5152 "Add dependency checks to lint step"
After the v6 release we found out that the `devtools` package didn't had `uuid` set as dependency. This has flown under our radar as some other package had `uuid` as dependency.

Those issues can be avoided by having a dependency check in the pipeline.

[2020-03-26 16:37] christian-bromann commented on #2307
@jedwards1211 you can always add a custom command that does add this command to the element context for better readability.

[2020-03-26 16:53] jedwards1211 commented on #2307
oh okay

[2020-03-26 17:49] jbildani commented on #1625
@srikanth-nettem @christian-bromann , @jardakotesovec  , @MarianoSalerno  ,@erwinheitzman

I have query if you can help in this, i want to getText by using browser.execute() method
I have used in the same approach as mentioned above( by referring click)

const valuesave= browser.execute(elem => return elem.getText(), $('some-selector').value)
but this is not working, can you please help here

[2020-03-26 20:23] gkushang opened #5155 "Breaking the existing WDIO Selenium Standalone plugin"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

# ERROR

with latest @wdio/selenium-standalone-service@latest version ==> 6.0.1
[code]

**

[2020-03-26 21:55] christian-bromann commented on #5155
@gkushang can you please provide logs and the whole stack trace?

[2020-03-26 21:57] christian-bromann opened #5156 "Make `getPageLogs` working for Sauce Labs sessions again"
It seems that Sauce Labs is now returning a valid W3C session response which causes WebdriverIO to not allow calling `getPageLogs` anymore. This command however is still supported. Let's get it back.

[2020-03-26 23:43] adierkens opened #5157 "Unable to use in TS project: webdriver.d.ts references outdated @types/got package"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.2
 - **Mode:** Standalone
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.13.4
- **TS version:** 3.8.3

The `webdriver.d.ts` types file [here](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriver/webdriver.d.ts#L13) references the `got` package, using generics for `GotOptions` an

[2020-03-27 09:03] christian-bromann commented on #5152
Fixed by #5159

[2020-03-27 09:03] #5152 closed

[2020-03-27 11:17] christian-bromann commented on #5157
Fixed in #5160

[2020-03-27 11:17] #5157 closed

[2020-03-27 14:26] nextlevelbeard opened #5167 "devtools: Cannot find module puppeteer-core/node_modules/debug"
**Environment:**
 - **WebdriverIO version:** 6.0.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.14.4
 - **Browser name and version:** any
 - **Platform name and version:** any

**Config of WebdriverIO**
Any.

**Describe the bug**
Test runner crashes, see logs.
Possible cause:
https://github.com/webdriverio/we

[2020-03-27 15:25] j320 commented on #5167
I'm also experiencing this

[2020-03-27 19:25] JustSittinHere commented on #5167
I started a new project and can recreate the issue with the below files, but if I swap out `@wdio/selenium-standalone-service` for `chromedriver` and `wdio-chromedriver-service` everything is fine.

**package.json**
[code]

**wdio.conf.js**
[code]

[2020-03-28 23:44] EllieMaeUI commented on #5167
the issue is happening because of this line https://github.com/webdriverio/webdriverio/blob/master/packages/devtools/src/index.js#L19

[2020-03-28 23:46] vinothvk commented on #5167
issue is happening because of this line https://github.com/webdriverio/webdriverio/blob/master/packages/devtools/src/index.js#L19

[2020-03-29 11:54] christian-bromann commented on #5167
@nextlevelbeard can you provide a reproducible example? I installed a fresh version of WebdriverIO and was able to run tests using the devtools package without this error.

[2020-03-29 12:37] christian-bromann commented on #5156
It turns out that `getPageLogs` is only supported using extended capabilities. PR #5168 adds a section to the API docs providing information on which capabilities support this API.

[2020-03-29 12:37] #5156 closed

[2020-03-29 18:02] igivon opened #5169 "@wdio/applitools-service - test.parent is undefined cause eys.open to fail"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.18.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:**sync
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.14.2
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**
    "@wdio/appium-serv

[2020-03-29 20:00] matthew-johnston commented on #5167
I also hit the same issue, but managed to make it disappear after trying a few things. I deleted node_modules and package-lock.json, then ran `npm install`. Somewhere along the line I installed "puppeteer-core": "^2.1.1" as a dev dependency, may or may not be needed.

[2020-03-29 21:26] christian-bromann commented on #5169
@igivon thanks for raising the issue. It seems that your are using the Applitools version in `v6.0.4` which is not compatible with all your other wdio packages which all still on v5. Please install v5 of the Applitools service or upgrade completely to v6.

Closing the issue as I think the comment above is the reason for this issue. Happy to assist further.

[2020-03-29 21:35] jdavis61 commented on #5146
Hello @christian-bromann,

Building WebdriverIO on an AWS t3.small EC2 instance fails with the below error. Changing  `--parallel` to `--concurrency 10` in package.json allows the build succeeded.

Maybe limiting the number of parallel builds will resolve this issue.

**Possible root cause**
[code]

**Debug log**
[code]

[2020-03-29 21:50] jdavis61 commented on #5146
Building WebdriverIO on an AWS EC2 m5.large instance with the `--parallel` switch enabled works perfectly.

AWS specs (for everyone's reference)
t3.small: 2 vCPUs, 2 GiB of memory
m5.large: 2 vCPUs, 8 GiB of memory

[2020-03-29 22:19] christian-bromann opened #5170 "Broken link"
The page https://webdriver.io/docs/gettingstarted.html contains a broken link (`old documentation websites`) to the versions page.

[2020-03-29 22:21] christian-bromann commented on #5146
@jdavis61 thanks for investigating. The large code base definitely requires some memory to build. The problem stated in this issue is about the Jest unit tests in the Travis pipeline.

[2020-03-30 06:55] WasiqB commented on #5167
@christian-bromann , any solution or workaround for this issue? I just upgraded my office project from v5 to v6, and it threw the above error when I executed any of my test. With v5, it was working fine. Any quick help will be highly appreciated.

**Steps to reproduce:**
- In existing v5 project, upgrade all wdio dependencies to v6.
- Delete `node_modules` and `package-lock.json`
- Run `npm instal

[2020-03-30 07:06] christian-bromann commented on #5167
@WasiqB can you provide a minimal reproducible example?

[2020-03-30 07:10] WasiqB commented on #5167
@christian-bromann , I'll try to reproduce the issue in my [repo](https://github.com/WasiqB/my-wdio) and update you soon.

[2020-03-30 08:14] WasiqB commented on #5167
@christian-bromann , issue is not replicated in my project, however, in my office project I'm still facing same issue.

[2020-03-30 08:20] #5170 closed

[2020-03-30 08:25] christian-bromann commented on #5146
It seems that the build is passing again thanks to some global cleanups in the tests, see https://github.com/webdriverio/webdriverio/commit/ec9b6c4c3d4dbad44ce100f228dbb3c45be85a7c

[2020-03-30 08:25] #5146 closed

[2020-03-30 10:43] Xotabu4 commented on #5167
Can you check your nodejs versions? For me it is clearly reproducible with v13.10.1 and yarn - 1.22.4

[2020-03-30 11:16] Xotabu4 commented on #5167
Added debug line to see what is trying to be imported:

[code]

But my structure of this package is following:

![image](https://user-images.githubusercontent.com/3033972/77906648-f5a04580-7290-11ea-8a53-52e180f6f2be.png)

[2020-03-30 11:31] Xotabu4 commented on #5167
@christian-bromann i think i found root cause, but not quite sure how to fix it. Maybe just move debug package to own wdio dependenices?

[2020-03-30 12:14] kfirbhCS opened #5172 "WDIO - V5- TypeScripte and Allure"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2020-03-30 13:46] wswebcreation opened #5174 "Jasmine and PO's can't be used with WDIO V6"
**Environment (please complete the following information):**
 - **WebdriverIO version:** `6+`
 - **Mode:** Test runner
 - **If WDIO Testrunner, running sync/async:** `sync`
 - **Node.js version:** `v12.16.1`
 - **NPM version:** `6.13.4`
 - **Browser name and version:** -
 - **Platform name and version:** osx
 - **Additional wdio packages used (if applicable):** sample setup

**Describe the bug**
W

[2020-03-30 14:24] igivon commented on #5169
the same with: @wdio/applitools-service": "^5.16.11
also note that test.title should be the 3rd parameter and not the 2nd. the 2nd is the app name eyes.open(driver, appName, testName, viewportSize) - currently there is a mismatch between them.
also app name i recommend taken from the options (user defined)

[0-0] 2020-03-30T14:12:56.752Z INFO @wdio/applitools-service: Open eyes for undefined Wrong

[2020-03-30 16:18] christian-bromann commented on #5169
Feel free to provide a PR. Thanks!

[2020-03-30 16:29] wswebcreation commented on #5174
Fixed in docs, tnx @christian-bromann

[2020-03-30 16:29] #5174 closed

[2020-03-30 16:38] katerina-stepanova opened #5178 "Click $(selector).click({ x, y }) is performed on wrong coordinates"
**Environment:**
 - **WebdriverIO version:** 6.0.1
 - **Mode:** WDIO Testrunner, sync
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** MacOs 10.14.6 (other OSes not checked)
 - **Additional wdio packages used (if applicable):** n/a

**Config of WebdriverIO**
Nothing special, default config.

**Describe the bug*

[2020-03-30 16:43] #5167 closed

[2020-03-31 02:42] aha-oretama opened #5179 "`reloadSession` doesn't work in v6"
**Environment (please complete the following information):**
To reproduce this issue, I create simple project by **following [this guide](https://webdriver.io/docs/gettingstarted.html) precisely**.

 - **WebdriverIO version:** 6.0.8
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.17.0
 - **NPM version:** 6.11.3
 - **Browser name and vers

[2020-03-31 08:30] GCHQDeveloper911 opened #5181 "Tests failed via Mocha afterEach conditional failure reported as passed *and* failed!"
**Environment (please complete the following information):**
 - **WebdriverIO version: 6.0.5
 - **Mode: Testrunner
 - **If WDIO Testrunner, running sync/async: Sync
 - **Node.js version: 10.19.0
 - **NPM version: 6.13.4
 - **Browser name and version: Chrome 80.0.3987.149
 - **Platform name and version: CentOS 8
 - **Additional wdio packages used (if applicable): node_modules/@wdio contains: cli  c

[2020-03-31 10:25] christian-bromann commented on #5181
Well described! Any help on this would be appreciated.

[2020-03-31 10:26] christian-bromann commented on #5179
fixed in #5182

[2020-03-31 10:26] #5179 closed

[2020-03-31 12:54] BorisOsipov opened #5183 "Docs are missing for feature #3676"
I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**
Docs are missing for feature https://github.com/webdriverio/webdriverio/pull/3676

[2020-03-31 14:54] christian-bromann commented on #5179
Released in `webdriverio@6.0.9`

[2020-03-31 15:23] GCHQDeveloper911 commented on #5181
Hi Christian, I did a bit of digging, and I think it's an issue with Mocha, rather than WebdriverIO.... I'd appreciate someone confirming though....

Away from my WebdriverIO setup, I created an empty folder, and installed Mocha on it's own. Created a test:

[code]

And output was similar to the bug above:
[code]

Thoughts?

[2020-03-31 15:39] IgorSasovets opened #5185 "Logs are missing after browser.uploadFile function call"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.22.4
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** v10.15.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** Version 80.0.3987.149 (Official Build) (64-bit)
 - **Platform name and version:** Ubuntu 19.04 (Disco Dingo)
 - **Additional wdio

[2020-03-31 15:40] christian-bromann commented on #5181
@GCHQDeveloper911 interesting. So it seems to me that Mocha reports this test twice (as test pass and test hook failure). We can address this by enhancing the [spec reporter](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-spec-reporter/src/index.js) to mitigate this.

[2020-03-31 15:56] BorisOsipov commented on #5181
@GCHQDeveloper911 is this reproducible with wdio v5? I kindly ask you check it or share simple project to play with this. I am wondering how other reporters deal with it.

[2020-03-31 18:16] anandhaprakash04 opened #5186 "Error in browserstack service(v6.0.6) while intiating browserstack local binary"
**Environment (please complete the following information):**
 - **WebdriverIO version:*6.0.6*
 - **Mode: *WDIO Testrunner*
 - **If WDIO Testrunner, running sync/async:*Sync*
 - **Node.js version:*10.16.3*
 - **NPM version:*6.9.0*
 - **Browser name and version:*Chrome 80*
 - **Platform name and version:*Mac*
 - **Additional wdio packages used (if applicable):
[code]

**Config of WebdriverIO**
https

[2020-03-31 21:34] ctavan commented on #5186
@anandhaprakash04 I am experiencing the same problem and I _think_ that #5187 should fix this issue.

[2020-04-01 00:00] esaari opened #5189 "[Browserstack Service] App Automate URL not being set correctly, function deprecation warnings"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-04-01 00:24] rembeckyb opened #5190 "Unable to turn WebElement JSON object into Selector ($)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.9
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** Sync
 - **Node.js version:** 13.12.0
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used :**

[code]

**Config of WebdriverIO**

[c

[2020-04-01 07:04] christian-bromann commented on #5186
Let's move conversation to #5187

[2020-04-01 07:04] #5186 closed

[2020-04-01 07:36] GCHQDeveloper911 commented on #5181
@BorisOsipov I first encountered it with 5, then moved to 6 to see if it was resolved. To reproduce / play with it, please just set up a simple WDIO testrunner project, and see the sample spec code above. Please do report back anything you find in other reporters, where I do think you make a valid point.... @christian-bromann Am I misunderstanding something, but would enhancing the spec reporter n

[2020-04-01 07:39] christian-bromann commented on #5181
@GCHQDeveloper911 awesome, can you link the Mocha issue here so we can follow along?

Not sure if other reporters deal with this in the similar fashion. It could be that we can fix it at a more central position, e.g. in the `@wdio/reporter` package to fix it for all reporters.

[2020-04-01 07:48] #5183 closed

[2020-04-01 07:48] christian-bromann commented on #5189
Let's continue convo in #5188

[2020-04-01 07:48] #5189 closed

[2020-04-01 08:00] christian-bromann commented on #5190
I am not able to reproduce this with latest WebdriverIO. Can you please provide a reproducible example?

[2020-04-01 08:06] christian-bromann commented on #5185
Thanks for your well written issue. I was not able to reproduce the issue. Your test case pass for me all the time (I am on MacOS).

[2020-04-01 08:08] christian-bromann commented on #5172
@kfirbhCS can you verify if this is also a problem in latest WebdriverIO?

[2020-04-01 08:22] kfirbhCS commented on #5172
i will check and update thanks

[2020-04-01 08:35] IgorSasovets commented on #5185
@christian-bromann , thank you for the quick response. The test case pass for me to, but the reason is that I am not able to get the other logs after `browser.uploadFile` function was called. Please see two attached log files. Could you please attach your log file?

[2020-04-01 10:07] christian-bromann commented on #5178
@katerina-stepanova I assume you were using the `devtools` package as automation layer which indeed differed from the `webdriver` way of doing things. This is being fixed by #5193.

[2020-04-01 10:07] #5178 closed

[2020-04-01 12:39] serhatbolsu commented on #5038
This applies to english, maybe all failures with webdriverio 6

[2020-04-01 13:07] lacell75 commented on #5038
For me, the report allure failed because some characters not allowed in XML when test failed like <>

[2020-04-01 13:10] serhatbolsu commented on #5038
Just upgraded 6.0.11 and fixed the issue for me
On Wed, 1 Apr 2020 at 5:08 PM Fabien CELLIER <notifications@github.com>
wrote:

--
Sent from iPad

[2020-04-01 13:11] lacell75 commented on #5038
Ok, thanks, I will try with V6

[2020-04-01 15:36] pmerwin commented on #5181
FWIW, I ran the example spec with my vs 6 library and I am seeing:

[code]

my config:

[code]

packages:

[code]

[2020-04-01 19:44] osmolyar commented on #4134
Still not working for me with webdriverio @wdio/cli@5.18.6, node 12.9.0, chromedriver 2.25.  It clicks on the source element but doesn't drag to the target element.

[2020-04-01 19:47] christian-bromann commented on #4134
@osmolyar please make sure to use latest Chromedriver

[2020-04-01 19:58] osmolyar commented on #4134
Sorry I meant to say chromedriver `-- chromedriver@78.0.1

[2020-04-01 20:47] rembeckyb commented on #5190
I've created a repo which demonstrates the behavior I'm experiencing.  It's been shared with you @christian-bromann and is called "WDIOSelectorTest".

Please let me know if anything else is needed on my end.  Thank you.

[2020-04-01 20:49] ivanixgames commented on #3405
@christian-bromann
Setting windows size instead of viewport size can matter when doing image comparison of screen shots since browser and window managers affect the window border.

[2020-04-01 21:12] christian-bromann commented on #5190
Where can I find this repository?

[2020-04-01 21:21] rembeckyb commented on #5190
I believe you can find the invitation in your e-mail, or by clicking here: https://github.com/rembeckyb/WDIOSelectorTest/invitations

[2020-04-01 21:27] Writhe opened #5197 ""binary" field of moz:firefoxOptions is ignored by devtools launcher"
**Environment:**
 - **WebdriverIO version:** 6.0.5
 - **Mode:** WDIO Testrunner, sync
 - **Node.js version:** 12.11.1
 - **NPM version:** 6.4.1
 - **Browser name and version:** Firefox Nightly 76
 - **Platform name and version:** MacOS 10.14.1

**Config of WebdriverIO**
Pertinent part:
[code]

**What happens**
Launcher tries to fire up Firefox - the default executable, instead of Firefox Nightly,

[2020-04-01 21:33] christian-bromann commented on #5197
@Writhe are you up to providing a PR for this?

[2020-04-01 21:37] Writhe commented on #5197
@christian-bromann Almost ahead of you. Almost. ;)

[2020-04-01 23:27] ivanixgames commented on #3405
For future seekers, here's a similar replacement for setViewPort:
`browser.addCommand('setViewPort', function (width, height, x, y) {
    const diff = browser.execute('return ({width: window.outerWidth - window.innerWidth, height: window.outerHeight - window.innerHeight});');
    const vw = width - diff.width;
    const vh = height - diff.height;
    browser.setWindowRect(x || 0, y || 0, vw, vh);

[2020-04-02 07:12] GCHQDeveloper911 commented on #5181
Hi Christian, no issue raised in mocha, just a gitter chat. I offered to raise a ticket, and the response was "No, I'm not planning to change this design. It's more complex than just a quick one-liner, and I don't see a strong reason to take that risk at the moment."

I wonder how many other tools that use Mocha are affected too?! Oh well...

Anyway, I guess it's back to your proposed changes to @

[2020-04-02 07:43] christian-bromann commented on #5181
Yes, let's do the change there.

[2020-04-02 07:48] #5197 closed

[2020-04-02 08:24] christian-bromann commented on #5190
@rembeckyb please add `"sauce:options": {}` to your capabilities and it will resolve the issue. This is an internal bug in Sauce on which people already working on a fix. Cheers!

[2020-04-02 08:24] #5190 closed

[2020-04-02 09:15] alfonso-presa opened #5203 "Hooks should be executed in order and in sequence in shake of determinism"
**Environment (please complete the following information):**
 - **WebdriverIO version:**: v5 and v6
 - **Mode:** testrunner
 - **If WDIO Testrunner, running sync/async:** both
 - **Node.js version:** any
 - **NPM version:** any
 - **Browser name and version:** any
 - **Platform name and version:** any

**Config of WebdriverIO**
N/A

**Describe the bug**

Hooks are executed all in parallel leading

[2020-04-02 09:18] christian-bromann commented on #5203
Where do you see the performance implications?

[2020-04-02 09:23] alfonso-presa commented on #5203
Well.... before everything was being executed in parallel, so there might be some people performing tasks (data provisioning, mock service initialization, etc) that might take time. Now those tasks will be executed sequentially, with the corresponding time loss....

[2020-04-02 11:08] mgrybyk commented on #5203
I had also idea one day in the past to improve it somehow and even set order of execution: built-in hooks first, then service hooks, then user hooks. I also had issues because of that

[2020-04-02 11:56] christian-bromann commented on #5203
Can you explain what kind of issues you had? I think no services should interfere with each other in any way which is way they have been executed in parallel in the first place.

[2020-04-02 12:20] alfonso-presa commented on #5203
En example of issue found because of this is performing `reloadSession` in a hook, the `sauce:context` executed by the sauce-service to set the scenario name is executed before the reloadSession.

I've also found issues trying to get the sessionId into the reporter because i had two different services for reloading and reporting... I ended up making only one service for both things, which IMHO lea

[2020-04-02 13:45] christian-bromann commented on #5203
That doesn't necessarily sound like a problem. There should be no race condition here. Hook nor `sauce:context` call run at the same time that could create a indeterminism behavior.

I am not sure if a service should be used for reporting.

[2020-04-02 13:52] alfonso-presa commented on #5203
@christian-bromann

The problem is that the `sauce:context` is executed against the old session and then after that session gets reloaded, so the new session lacks the category annotation. Check [first execution](https://app.eu-central-1.saucelabs.com/tests/36e0e6219f8b402aa47791056620af47) and [second execution](https://app.eu-central-1.saucelabs.com/tests/c1849b37bcbe4966b6253e423259fa33)

Sorry

[2020-04-02 14:05] christian-bromann commented on #5203
I think it depends where you do the reload. I will have to check what's the best way here.

So there is one service to gather information and one that reports them to allure? I am not sure why it would be bad to have them in one service. One could argue that having services that need to be configured in a certain order is confusing and bad design. Note that you can run multiple things from differe

[2020-04-02 14:33] alfonso-presa commented on #5203
We are doing it in the `beforeScenario` with a flag to check if the scenario is the first one or not to avoid trash sessions. I was thinking of doing it in the after only if the scenario is not the last... but that's a lot more tricky to find out.

There was one that reloads the sessions, and other that gathers evidences. The one gathering evidences adds the session id to the reports at the sessio

[2020-04-02 17:34] adrian-brown commented on #5056
Previously the teamcity reporter did show the tests during execution e.g. tests passed / failed in TC.  Now has to wait until the end to get a view of results, that was in v4 though.  Likely v5 its not as up to date as the other reporters.

[2020-04-02 20:01] uno-dos opened #5206 "Browser target is not set correctly in capabilities"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-04-02 21:15] christian-bromann commented on #5206
What specifically runs there?

Multiremote has a different way of capabilities:

[code]
You should only use multiremote if you want to have these different capabilities interact with each other.

You are using `chromeOptions` here which is incorrect. With browsers moving towards WebDriver it should be `goog:chromeOptions` as stated in the docs.

[2020-04-03 04:01] kbtutorials commented on #864
Hi ,We can run single spec file from folder of spec files ,
below is the tutorial
https://youtu.be/S2VtT3GboBw

[2020-04-03 04:39] humphrypietrsen commented on #864
Thanks, Kbtutorials :)
__

Humphrey

On Fri, Apr 3, 2020 at 12:01 AM kbtutorials <notifications@github.com>
wrote:

[2020-04-03 08:16] adrian-brown commented on #4953
Is this fixed in v6? or v5 will have an update?

[2020-04-03 11:14] christian-bromann commented on #4953
@adrian-brown please see the label! Help on this issue is appreciated.

[2020-04-03 11:57] dpoetzsch commented on #5035
This would be really helpful. Is there a way I can help to get this done?

[2020-04-03 13:43] Foduch opened #5208 "Can not upload file over 5 MB on Selenium standalone and selenoid using browser.uploadFile"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.13
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** chrome (v80.0.3987.149)
 - **Platform name and version:** Linux Ubuntu
 - **Additional wdio packages used (if applicable):** @wdio

[2020-04-05 10:31] guptapranay opened #5212 "[Logs Provided] wdioV6: .moveTo() not working with [chromedriver] as a service"
Hi Team,
.moveTo() feature is not working if element is not visible in given view port size when used with service as ['chromedriver']. Erros out with message ```move target out of bounds```

But .moveTo() works when used with service as ['selenium-standalone']. In this case page scrolls down augtomatically to the location with help of locator.

[2020-04-05 13:32] kfirbhCS commented on #5172
reproduced on 6.0.13

[2020-04-05 19:59] mrooftho opened #5213 "Getting started example not working"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**

- wdio test runner
- Package

[2020-04-06 07:48] GCHQDeveloper911 commented on #5181
@pmerwin  Sorry, missed your comment before. Not sure why/how it's ok for you....

My packages:
[code]

My config:
[code]

[2020-04-06 08:31] christian-bromann commented on #5213
Thanks for writing up this issue report. After I installed the dependencies I ran:

[code]

And everything ran as expected. Make sure you have Chrome v80 installed as you are using Chromedriver in v80.

I will close this issue as it doesn't seem to be reproducible. Happy to assist further.

[2020-04-06 08:31] #5213 closed

[2020-04-06 08:31] christian-bromann commented on #5172
Duplicate of #5040

[2020-04-06 08:31] #5172 closed

[2020-04-06 08:32] christian-bromann commented on #5212
Can you please provide logs for both cases?

[2020-04-06 08:38] christian-bromann commented on #5185
Here is my log file:
[log1.txt](https://github.com/webdriverio/webdriverio/files/4437093/log1.txt)

[2020-04-06 08:38] #5185 closed

[2020-04-06 08:39] christian-bromann commented on #5155
Closing due to inactivity.

[2020-04-06 08:39] #5155 closed

[2020-04-06 09:07] IgorSasovets commented on #5185
@christian-bromann , thank you for your time. I'll keep investigating this issue on my local environment. BTW, I managed to solve it on firefox using JS scripts for file upload

[2020-04-06 09:46] christian-bromann commented on #5117
Fixed in #5215

[2020-04-06 09:46] #5117 closed

[2020-04-06 10:09] christian-bromann commented on #4949
@joscha I am trying to pick up this conversation and I am wondering if it would be possible to extend the example repo so that we can see the increased transpilation time there (not up to a minute but like 10s). Something that is weird is that we have been using child processes in [v4](https://github.com/webdriverio-boneyard/v4/blob/master/lib/launcher.js#L337-L340) as well and I don't see where v

[2020-04-06 10:20] colinrotherham opened #5216 "Cucumber framework has peerDependency of @wdio/cli@^5.0.0"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.13
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** macOS 10.15.4
 - **Additional wdio packages used (if applicable):** @wdio/cucumber-fra

[2020-04-06 10:28] #5216 closed

[2020-04-06 10:28] christian-bromann commented on #5216
Added a quick fix by myself, thanks!

[2020-04-06 10:34] amitzur opened #5217 "wdio v6: Inconsistency between webdriver and devtools in execute"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 6.0.13]
 - **Mode:** Standalone
 - **Node.js version:** 12.13.1
 - **NPM version:** 6.12.1
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** Ubuntu 18.04

**Config of WebdriverIO**
[code]

**Describe the bug**
There's a difference between running with puppeteer and webdriver wh

[2020-04-06 10:41] joscha commented on #4949
Okay, will try to extend the example. Did you check out my first fix where I batch tests together? It solves the problem and you can even see the speed increase in the simple repository I created.

[2020-04-06 10:45] christian-bromann commented on #4845
@Arm91 it seems that glob preserves the order of files it finds, so it you have `{n}_mocha.test.js` created and defined in your config as follows:

[code]

It will always run the spec files in right order: 1_mocha.test.js, 2_mocha.test.js and 3_mocha.test.js. If you run tests in parallel you will of course experience that files are run in multiples and the order is not file by file. Framework hand

[2020-04-06 10:45] #4845 closed

[2020-04-06 10:47] christian-bromann commented on #4949
Yes, I commented on it.

It runs faster because it doesn't spin up a new session for every small feature file. However this would tremendously slow down tests with larger test files and more capabilities as they are not run in parallel.

[2020-04-06 10:52] christian-bromann commented on #5217
@amitzur it fails because you are using a string as argument instead of a function. This way WebdriverIO has no chance to properly wrap your logic. I am not sure if we can fix this as we recommend ultimately to pass in a function, e.g.:

[code]

[2020-04-06 10:52] #5217 closed

[2020-04-06 10:54] christian-bromann commented on #5217
For more context: if the user provides a string we directly pass it through the protocol driver. This fails in Puppeteer but passes in WebDriver because Chromedriver wraps the provided script argument again.

[2020-04-06 10:57] GCHQDeveloper911 commented on #5181
Hi @christian-bromann
Just been looking into this a bit.... I think unfortunately any mitigation code *will* have to go in the spec-reporter (and other reporters?), rather than the top level reporter... The reason being simply because in the top level reporter, this.on('test:end')... gets called before the afterEach hook... so the pass/fail counts that go forward to spec reporter etc are already '

[2020-04-06 11:03] christian-bromann commented on #5181
This sounds good to me!

[2020-04-06 11:05] christian-bromann commented on #5114
Closing due to inactivity.

[2020-04-06 11:05] #5114 closed

[2020-04-06 12:23] amitzur commented on #5217
I was under the impression webdriverio does do something with the input, since passing `browser.execute('return 3')` doesn't fail in wdio v6 but **does** fail in puppeteer

[2020-04-06 12:36] christian-bromann commented on #5217
You are right. WebdriverIO also transforms a script as a string into something that can be executed by WebDriver and Puppeteer.

To clarify: WebdriverIO tries to provide the same behavior of a WebDriver command execution for Puppeteer. Therefor if you use Puppeteer directly you will experience Puppeteer behavior. However if you use the WebDriver/WebdriverIO APIs using Puppeteer as an automation pr

[2020-04-06 12:44] amitzur commented on #5217
Ok. Thanks for the clarification.

Is it not `new Function(script)`? I believe doing that would fix this issue. Is it not the correct thing to do?

[2020-04-06 12:51] christian-bromann commented on #5217
If a script starts with `return` we do this: https://github.com/webdriverio/webdriverio/blob/master/packages/devtools/src/commands/executeScript.js#L14-L16

[2020-04-06 14:03] pmerwin commented on #5181
Looks like you are using chrome driver and I am using devtools back end ?  Maybe that is the difference?

[2020-04-06 14:05] guptapranay commented on #5212
@christian-bromann
Please find the attached log for
Error:  ['chromedriver']  - Error occurs at line number : 876
Success ['selenium-standalone']

[chromedriver_error.log](https://github.com/webdriverio/webdriverio/files/4438818/chromedriver_error.log)
[selenium-standaloe_success.log](https://github.com/webdriverio/webdriverio/files/4438820/selenium-standaloe_success.log)

[2020-04-06 15:47] #4942 closed

[2020-04-06 17:22] mshykov opened #5227 "wdio v5.x: failures in the jasmine beforeAll hook do not stop spec executing"
**Environment:**
 - **WebdriverIO version:** [5.22.4]
 - **Mode:** [Standalone mode]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [10.19.0]
 - **NPM version:** [6.14.4]
 - **Browser name and version:** [Chrome 80.0.3987.163]
 - **Platform name and version:** [Mac OS X]
 - **Additional wdio packages used (if applicable):**
[code]

**Config of WebdriverIO**
An exampl

[2020-04-06 17:34] christian-bromann commented on #5227
This is a Jasmine specific behavior that is not influenced by WebdriverIO. It seems that they have introduced a `completeOnFirstError` options to make this configurable. See also: https://github.com/jasmine/jasmine/commit/585287b9d6e03dc546be7269e1ea569f4bd9ca0d

[2020-04-06 21:07] missing1984 opened #5228 "support yarn v2 pnp"
**Is your feature request related to a problem? Please describe.**
Encountered couple problems when using wdio together with yarn v2 pnp.

### @wdio/cli
`@wdio/cli` failed to initialize the config. steps to reproduce:
1. `mkdir wdio-yarn2 && cd wdio-yarn2`
2. `yarn init`
3. `yarn add @wdio/cli --dev`
4. `yarn wdio config -y`

Error trace:
[code]

Possible causes:
1. devtools try to access `debug`

[2020-04-06 22:26] christian-bromann commented on #5228
@missing1984 the problem is that we need to require a dependency from Puppeteer to properly monkey patch it. I am planning to propose a change in Puppeteer to allow accessing the CDP commands easier.

[2020-04-07 05:12] PaliwalArpit opened #5229 "@wdio/local-runner: Failed launching test session: TypeError: ReporterClass is not a constructor"
**Environment (please complete the following information):**
 - **WebdriverIO version:**6.13.4
 - **Mode:** Standalone
 - **Node.js version:** 10.19.0
 - **NPM version:** 6.13.4
 - **Browser name and version:** Chrome 78
 - **Platform name and version:** Fedora

 - **Additional wdio packages used (if applicable):**
[code]
**Config of WebdriverIO**
[code]
**Describe the bug**
Running test as per th

[2020-04-07 07:14] christian-bromann commented on #5229
You are using the `wdio-browserstack-reporter` which is not compatible with v6 of WebdriverIO. Please raise an issue in the `wdio-browserstack-reporter` project. Thanks!

[2020-04-07 07:14] #5229 closed

[2020-04-07 11:27] j320 commented on #3196
+1

[2020-04-07 12:20] Vardhan18 opened #5230 "Webdriver IO & Appium: invalid argument: 'url' must be a string while navigating to website on mobile browser"
**Environment :**
 - **WebdriverIO version:** [6.0.13]
 - **Mode:** [Appium Customer server http://xxxxx:80/appium]
 - **Node.js version:** [v 12.13.1]
 - **NPM version:** [6.12.1]
 - **Browser name and version:** [chrome 80]
 - **Platform name and version:** [Windows 10]
 - **Additional wdio packages used (if applicable):** ["@wdio/cli": "^6.0.13",
		"@wdio/local-runner": "^6.0.13",
		"@wdio/cucu

[2020-04-07 12:24] wswebcreation commented on #5230
@Vardhan18

This works with my local setup of Appium, did you also try that?

[2020-04-07 12:26] Vardhan18 commented on #5230
@wswebcreation this is working fine with my local setup(Appium v1.15.1 and Android emulator) too but when i try with cloud appium server receiving the above error

[2020-04-07 12:51] christian-bromann commented on #5230
This looks like an issue in your cloud appium server. It doesn't properly parses the body: `{"{\"url\":\"https://github.com/\"}":""}`. I don't think WebdriverIO is doing something wrong here as it seems to send it correctly: `INFO webdriver: DATA { url: 'https://github.com/' }`

[2020-04-07 14:00] j320 opened #5231 "Unable to use the 'ignoreZoomSetting' capability"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.22.4
 - **Mode:** Standalone
 - **Browser name and version:** IE11
 - **Platform name and version:** Windows 7/8/10

**Config of WebdriverIO**
[code]

**Describe the bug**
When running tests on IE, I'm getting the issue:

On selenium the way to fix this is to set the `ignoreZoomSetting:true` capability, howe

[2020-04-07 14:15] christian-bromann commented on #5231
Please use proper vendor capabilities: `"ie:ignoreZoomSetting": true`.

Join our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) if you have further questions.

[2020-04-07 14:15] #5231 closed

[2020-04-07 15:40] astunkojis commented on #2190
using `passed` instead of `test.passed` worked for me

[2020-04-07 16:41] Vardhan18 commented on #5230
@christian-bromann
Thanks for response. shall i move this issue information to appium ?

[2020-04-07 16:42] christian-bromann commented on #5230
Sounds good to me.

[2020-04-07 17:24] missing1984 commented on #5228
Thanks for the update, @christian-bromann.  I also looked at the code of @wdio/utils, It seems the way we load plugin may also need to be revisited in the context of yarn pnp.

Currently, all plugin (as well as @wdio/sync) is `require` on behalf of pkg `@wdio/utils`. However, `@wdio/utils` is not the package that owns all plugin dependencies. It actually depends on nodejs node_modules resolution t

[2020-04-07 19:06] johnnymo87 commented on #4788
Since @christian-bromann closed that PR without merging it, should we open this issue back up @mgrybyk ?

[2020-04-07 19:22] pmerwin commented on #2190
Returns an object now:

this.afterTest = (test, context, {
                error,
                passed,
                retries
            }) => {
                // console.log('err obj', error);
            if (!passed) {
                const testName = test.title.toString().split(' ').join('-');
                const testFailed = path.join(projectConfig.wdio.errors, `Pic_After_Test_Failure_

[2020-04-07 21:34] christian-bromann commented on #4788
Any help on this would be highly appreciated!

[2020-04-08 03:01] varayal commented on #5117
Thank you @christian-bromann. This is working now as expected. I just upgrade to the version     "@wdio/cli": "^6.0.14",

[2020-04-08 05:22] Khromchenko commented on #1383
Hey @christian-bromann , it seems old but was it fixed and released already?

THanks

[2020-04-08 07:30] christian-bromann commented on #1383
As you can see in my last comment, yes!

[2020-04-08 07:37] guptapranay commented on #5212
Hi Team,
Any updates on this?

[2020-04-08 07:40] christian-bromann commented on #5212
@guptapranay this is likely to be a limitation of WebDriver as you are trying to interact with an element that is outside the viewport. Can you provide a reproducible example?

[2020-04-08 08:26] christian-bromann commented on #5228
Yep. That said, I think there are plenty of changes required to make this compatible with Yarn PnP and the ESM module system. For example there are plenty examples where things like `__dirname` is used. It's not just that one position.

[2020-04-08 08:28] christian-bromann commented on #5230
Thanks! Closing then.

[2020-04-08 08:28] #5230 closed

[2020-04-08 08:39] christian-bromann commented on #5227
Looks like setting `failFast: true` in your jasmineNodeOpts will do the trick. I am working on documenting this better.

[2020-04-08 08:39] #5227 closed

[2020-04-08 08:41] j320 commented on #5231
With that capability I'm getting:

`Unable to match capability set 0: ie:ignoreZoomSetting is an unknown extension capability for IE`

[2020-04-08 09:00] christian-bromann commented on #5231
Please check the IEDriver docs which capabilities are supported and what the vendor prefix is.

[2020-04-08 09:29] j320 commented on #5231
This fixed it for me:

[code]

[2020-04-08 09:41] guptapranay commented on #5212
@christian-bromann

I have attached a zip folder.

Steps to reproduce:
1) npm i
2) npm i gulp (if needed)
3) gulp cucumber --ff site

If services: ['chromedriver'] - moves out of bound error
If services: ['selenium-standalone'] - Page auto scroll  and click the link.
[wdiov6.zip](https://github.com/webdriverio/webdriverio/files/4449600/wdiov6.zip)

[2020-04-08 10:46] mshykov commented on #5227
Thank you Christian!

The setting `failFast: true` help me, but still there are not ideal behavior:
1. `afterAll()` hook is not executed with this setting
2. With the same code to reproduce, it is not a clear output in the line: ` Error in "<unknown test>"`

[code]

[2020-04-08 11:55] christian-bromann commented on #5227
This is Jasmines behavior. Feel free to raise an issue in the Jasmine project as this is not handled by WebdriverIO.

We could technical fix that. Feel free to raise a new issue for it. Thanks!

[2020-04-08 11:57] christian-bromann commented on #5212
@guptapranay to set clear expectations: this is a WebDriver issue. While I am interested in providing a workaround in WebdriverIO for such cases it is definitely not the highest priority for me or other maintainer. This is an excellent chance to get involved and provide a contribution. Thanks!

[2020-04-08 12:02] guptapranay commented on #5212
@christian-bromann , Thanks so much for the clarification. Was having little doubt with respect to issue being webdriveio or chromedriver.

Would be happy to explore and contribute in this. I will try to get involved and provide a contribution.

Thanks so much for your time on this :)

[2020-04-08 12:56] erwinheitzman commented on #5212
I think a scrollIntoView before executing it when `isW3C` is true should be enough for a fix @guptapranay but this is from the top of my head so no guarantees :)

[2020-04-08 21:20] joshgrantsauce opened #5232 "Removed field test.passed removed in afterTest hook"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-04-08 21:52] christian-bromann commented on #5232
@joshgrantsauce the parameter has changed as described in our release blog post:

See the new structure: https://github.com/webdriverio/webdriverio/blob/master/examples/wdio.conf.js#L271

[2020-04-08 21:52] #5232 closed

[2020-04-09 01:04] olebedev commented on #4949
Hi @christian-bromann,

I created a draft PR which shows the issue in the extended example repo, please take a look https://github.com/webdriverio/webdriverio/pull/5233

/cc @joscha

[2020-04-09 07:12] aha-oretama opened #5235 "In v6, goog:chromeOptions in capabilities is not what I set in config"
**Environment :**
 - **WebdriverIO version:** 6.0.14
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.17.0
 - **NPM version:** 6.11.3
 - **Browser name and version:** 80.0.3987.163
 - **Platform name and version:** macOS Catalina

**Config of WebdriverIO**
I added `goog:chromeOptions` in default config (which is created by `npx wdio confi

[2020-04-09 08:44] sanlengjingvv opened #5236 "[appium-service]Error: Cannot read property 'toLowerCase' of undefined"
**Environment (please complete the following information):**
 - **WebdriverIO version:*6.0.14*
 - **Mode:*WDIO Testrunner*
 - **If WDIO Testrunner, running sync/async:*sync*
 - **Node.js version:*v12.16.2*
 - **NPM version:*6.14.4*
 - **Platform name and version:*MacOS 10.15.1*
 - **Additional wdio packages used (if applicable):*@wdio/appium-service 6.0.12*

**Config of WebdriverIO**
[code]
**Desc

[2020-04-09 09:04] christian-bromann commented on #5236
fixed by #5238

In the meantime please set `hostname: "localhost"` in your config to properly connected to the started Appium server.

[2020-04-09 09:04] #5236 closed

[2020-04-09 09:07] christian-bromann commented on #5235
You can use `requestedCapabilities` as follows: `browser.options.requestedCapabilities.w3cCaps.alwaysMatch["goog:chromeOptions"].mobileEmulation`. As you mentioned this is a Chromedriver bug and should be reported in the Chromedriver project.

[2020-04-09 09:07] #5235 closed

[2020-04-09 09:21] olebedev commented on #4949
Here is the PR https://github.com/joscha/wdio-ts-no-recompile/pull/2 that adds some ts files to slow down compile time. @christian-bromann please take a look.

[2020-04-09 09:22] sanlengjingvv commented on #5236
I found that the "port" parameter was required.
The entire wdio.conf.js could  reproduce this problem.
[code]

[2020-04-09 09:24] aha-oretama commented on #5235
Thank you!!

[2020-04-09 10:22] christian-bromann commented on #5206
Closing due to inactivity.

[2020-04-09 10:22] #5206 closed

[2020-04-09 13:01] mshykov opened #5239 "Error message ' Error in "<unknown test>" ' is logging in case of using jasmineNodeOpts setting failFast"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.22.4]
 - **Mode:** [Standalone mode]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [10.19.0]
 - **NPM version:** [6.14.4]
 - **Browser name and version:** [Chrome 80.0.3987.163]
 - **Platform name and version:** [Mac OS X]
 - **Additional wdio packages used (if applicable):**

[2020-04-09 13:18] SantoJambit opened #5240 "wdio-static-server-service not working"
(The readme doesn't specify this project, but since it is included in the packages folder, I'm assuming this is still the right place to report this)

**Environment (please complete the following information):**
 - **WebdriverIO version:**  6.0.8, 6.0.14
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 13.12
 - **NPM version:** 6.14.4
 - **Br

[2020-04-09 13:30] SantoJambit commented on #5240
Update: When I configure it like this, there seems to be a non-responding server.. i.e. it just keeps loading:

[code]

[2020-04-09 13:58] christian-bromann commented on #5239
To set clear expectations: this is not a critical bug so it is unlikely that it is being picked up by the core team. We would appreciated any contribution for this problem.

[2020-04-09 14:40] adamjmcgrath commented on #5213
FWIW I hit this issue using Node 13, using Node 12 fixed it for me

[2020-04-09 18:30] kajmagnus opened #5241 "'devtools' protocol: Popup win closes itself: getWindowHandles() hangs, 100% CPU"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.14
 - **Mode:** WDIO Testrunner: `./node_modules/.bin/wdio`
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** `nodejs --version  —>  v12.16.2`
 - **NPM version:** `npm --version  —> 6.13.4`
 - **Browser name and version:** Chrome, `Version 81.0.4044.92 (Official Build) (64-bit)`

[2020-04-09 18:46] christian-bromann commented on #5241
Can this be a duplicate of #5048?

[2020-04-09 19:41] kajmagnus commented on #5241
@christian-bromann  1) Looking at the steps to reproduce, maybe not:  that other issue happens when one presses CTRL+C, but this issue happens without CTRL+C. (I just clicked CTRL+C eventually anyway.)  At the same time 2) `node` does use more and more memory (I didn't notice until now), like that other issue does too,  eventually 1.5G before I killed -9 it:

[code]

Maybe I can connect a debugger

[2020-04-09 21:52] pmerwin opened #5242 "UNMET PEER DEPENDENCY @wdio/cli@6.0.15"
"@wdio/config": "6.0.12",
    "@wdio/logger": "6.0.12",
    "@wdio/utils": "6.0.13",

in wdio/cli these are locked on a version, is the what we want?  I belive this is causing us issues installing on AWS Linux lambda env... ?  shouldn;t these use ^ ?

[2020-04-09 22:26] christian-bromann commented on #5242
Yes. `@wdio/cli` is tested with exactly these versions. Ensure that if you update WebdriverIO packages, always update all of them.

[2020-04-09 22:26] #5242 closed

[2020-04-09 23:00] mel-OR opened #5243 "@wdio/appium-service not starting appium or related appium-* services"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.13
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:**12.8.1
 - **NPM version:** 6.10.2
 - **Browser name and version:** n/a mobile iOS and Android
 - **Platform name and version:** Mac OS 10.15.3, Xcode 11.4
 - **Additional wdio packages used (if applic

[2020-04-09 23:37] gazzah-86 opened #5244 "Applitools error - browser.takeSnapshot is not a function"
**Environment (please complete the following information):**

**Browser name and version:** Chrome 80
**Platform name and version:** Mac OS Mojave

**Node.js version:** v13.12.0
**NPM version:** 6.13.6

**Packages**

"@applitools/eyes-selenium": "^4.33.15",
    "@applitools/eyes-webdriverio": "^5.9.12",
    "@wdio/applitools-service": "^5.16.11",
    "@wdio/browserstack-service": "^5.18.7",
    "@

[2020-04-10 07:24] christian-bromann commented on #5244
@gazzah-86 if you are using WebdriverIO v5 the configuration has to be set differently. See v5 docs here: https://v5.webdriver.io/docs/applitools-service.html#configuration

[2020-04-10 07:24] #5244 closed

[2020-04-10 07:26] christian-bromann commented on #5243
@mel-OR you are applying Appium configs in your wdio config wrong. In v6 this has changed, please see the docs: https://webdriver.io/docs/appium-service.html#args

[2020-04-10 07:26] #5243 closed

[2020-04-10 10:35] gazzah-86 commented on #5244
@christian-bromann thanks for the reply. What do you mean in WebdriverIO v5 the configuration has to be set differently? In the above example I have a master config and a local config, however I was still getting the same error when I was just trying to run this with one master config.

I have also tried passing in the Applitools key directly instead of it loading from my bash file but it still do

[2020-04-10 11:32] christian-bromann commented on #5244
@gazzah-86 you have configured the Applitools service as follows:
[code]

see how it suppose to be configured in v5: https://v5.webdriver.io/docs/applitools-service.html#configuration

[2020-04-10 22:45] gazzah-86 opened #5246 "WebdriverIO Applitools plugin returns an asynchronous error, even though the test matches the examples on the WebdriverIO website"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.18.17
 - **Mode:** Selenium standalone
 - **If WDIO Testrunner, running sync/async:** Sync mode
 - **Node.js version:** 13.12.0
 - **NPM version:** 6.13.6
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** Mac OS Mojave
 - **Additional wdio packages used (if applicable):**

"@applit

[2020-04-11 09:14] christian-bromann commented on #5246
Given that no logs were provided I have to assume that this test times out because your page loads too long and the process of creating and uploading the screenshots exceeds the threshold of 15s. Please increase your framework timeout to avoid this error.

[2020-04-11 09:14] #5246 closed

[2020-04-11 16:25] Kriskof opened #5247 "Allure Report causes failed expect assertion to not close test nor browser"
Running latest WDIO v6 and installed Allure Report as described through the webdriver.io site.

**Describe the bug**
Test does not exit nor close browser if your expect assertion fails.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
close browser and generate results for report

Sorry if I posted in wrong section, not quite sure if I report this on WDIO or Allure

[2020-04-11 19:38] jacekbj opened #5248 "Navigation Timeout when using automation protocol: devtools"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.14
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.13.1
 - **NPM version:** 6.12.1
 - **Browser name and version:** Chrome 80.0.3987.163
 - **Platform name and version:** Mac (and Docker)
 - **Additional wdio packages used (if applicable):**

- @w

[2020-04-13 13:24] tawfiknouri commented on #5208
Webdriverio use an external library https://github.com/miguelmota/is-base64 in to check base64 validity

https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-utils/src/utils.js

The "RangeError Maximum call stack size exceeded" exception is raised by "is-base64" library

[2020-04-13 14:13] christian-bromann commented on #5208
@tawfiknouri so a `.length` check would fix this issue. Mind making a PR for this?

[2020-04-13 16:57] gazzah-86 commented on #5246
@christian-bromann thanks, it was the timeout that was the issue! I didn't realise it needed as long as time out as that.

[2020-04-13 17:16] tawfiknouri commented on #5208
@christian-bromann
I'm not sure if the .length check is the better way ...
I think it will be more clean if we can find a fixe for "is-base64" library or replace this lib with a simple function and limiting external dependencies

[2020-04-13 17:34] christian-bromann commented on #5208
@tawfiknouri sounds reasonable to me

[2020-04-13 18:02] meruga92 opened #5254 "Not able to override appium port in webdriver v6"
**Environment (please complete the following information):**
 - **WebdriverIO version:^6.0.14**
 - **If WDIO Testrunner, running sync/async: sync**
 - **Node.js version:12.16.1**
 - **NPM version:6.13.4**
 - **Additional wdio packages used (if applicable):@wdio/appium-service**

**Config of WebdriverIO**
[code]

**Describe the bug**
If i dont give any port number for appium it will take default po

[2020-04-13 18:28] tawfiknouri commented on #5208
issue is created, so waiting update from miguelmota
https://github.com/miguelmota/is-base64/issues/10

And this function work fine for me without "is-base64" library

[code]

[2020-04-13 19:38] christian-bromann commented on #5208
@tawfiknouri would you mind providing a PR?

[2020-04-13 22:11] esaari opened #5256 "Browserstack Plugin not counting certain unsuccessful tests as failures"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-04-13 22:14] pmerwin opened #5257 "Screener.io session creation not working with vs 6"
fyi : screener is not working with WDIO vs 6:

these options use to work, and do work in vs 5:

this.hostname = 'hub.screener.io';
this.port = 443;
this.protocol = 'https';

vs 5 creates this:
https://hub.screener.io:443/wd/hub/session
vs 6 does this:
https://hub.screener.io/session

and this returns a 404 and session is not created ^

any ideas on how to make this work in vs 6?

"WebDriver Defaul

[2020-04-13 23:04] esaari commented on #5256
https://github.com/webdriverio/webdriverio/pull/5259

[2020-04-14 00:49] tawfiknouri commented on #5208
https://github.com/webdriverio/webdriverio/pull/5260

[2020-04-14 05:54] wswebcreation commented on #5257
Hi @pmerwin

This has to do with the fact that in V6 the default path changed from `/wd/hub` to `/`, if you add that to your Screener config it will work. also check https://webdriver.io/blog/#other-changes

Going to close it for now, but it's still open for discussion

[2020-04-14 05:54] #5257 closed

[2020-04-14 07:10] christian-bromann commented on #5208
Let's move convo there.

[2020-04-14 07:10] #5208 closed

[2020-04-14 07:13] christian-bromann commented on #5256
PR with a fix got merged. Closing.

[2020-04-14 07:13] #5256 closed

[2020-04-14 07:15] RajaBellebon commented on #4518
Hello, I have somehow the same issue.

We are using WebdriverIo v5 and browserstack, it works fine locally and on browserstack but we are recently trying to use `multiremote` and not sure why but it keeps trying to connect to `selenium-hub`.
The function below returns the config, we are using for remote.

We have a function that connects to browserstack-local
[code]
We created a dedicated function

[2020-04-14 07:26] RajaBellebon commented on #4519
Hello, I have somehow the same issue.

We are using WebdriverIo v5 and browserstack, it works fine locally and on browserstack but we are recently trying to use `multiremote` and not sure why but it keeps trying to connect to `selenium-hub`.
The function below returns the config, we are using for remote.

We have a function that connects to browserstack-local
[code]
We created a dedicated function

[2020-04-14 10:45] wswebcreation opened #5262 "iOS simulators on Sauce are not working with V6"
**Environment (please complete the following information):**
 - **WebdriverIO version:** `6.x.x`
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12
 - **NPM version:** 6
 - **Browser name and version:** Sauce iOS Simulator
 - **Additional wdio packages used (if applicable):** `@wdio/sauce-service`

**Config of WebdriverIO**
See https://github.com

[2020-04-14 15:35] NBukuri opened #5264 "@wdio/selenium-standalone-service ignores selenium server parameters"
I was trying to use selenium server that is running remotely.

**Environment:**

- **Mode:** WDIO Testrunner
- **running sync**
- **Node.js version:** 12.16.1
- **NPM version:** 6.13.4
-    "@wdio/cli": "^6.0.13",
-    "@wdio/local-runner": "^6.0.13",
-   "@wdio/mocha-framework": "^6.0.13",
-   "@wdio/selenium-standalone-service": "^6.0.15",
-   "@wdio/spec-reporter": "^6.0.12",
-   "@wdio/sync":

[2020-04-14 17:37] luiscspinho opened #5265 "Capabilities are not binded to the browser"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.16
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** v12.8.0
 - **NPM version:** v6.10.2
 - **Browser name and version:** Chrome 80
 - **Platform name and version:** macOS Mojave

**Config of WebdriverIO**
[code]
**Describe the bug**
The `capabilities

[2020-04-14 17:54] pmerwin commented on #5257
changing that does not work, thus I opened this ticket.  It has to be changed in launcher I believe

[2020-04-14 17:57] wswebcreation commented on #5257
@pmerwin

Can you share your config?

[2020-04-14 18:02] pmerwin commented on #5257
I got it!

this.path = '/wd/hub';

have to add that path param to config.  Thanks!!!

[2020-04-14 18:43] luiscspinho commented on #5265
From a quick debug, I got here: https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/index.js#L25

`options` has the correct capabilities when we get here, but when executing `client = remoteModifier(client, options)` it seems that the client loses the information about
[code]
as per my example.

[2020-04-14 18:46] christian-bromann commented on #5265
@luiscspinho note that `browser.capabilities` represents the capabilities the driver reports back when requesting a WebDriver session. It is a known issue that Chromedriver doesn't send back it's `goog:chromeOptions`. You can access what you have send by using `browser.options.requestedCapabilities`.

[2020-04-14 18:49] luiscspinho commented on #5265
@christian-bromann thanks a lot. Sorry for reporting this as a bug, but the behaviour indeed changed which lead me to false assumptions. Thanks for the clarification 👍

[2020-04-14 18:49] #5265 closed

[2020-04-14 18:54] christian-bromann commented on #5265
Yeah it did and we didn't communicated that because I thought that Chromedriver would return these configs. Happy that provided solution works!

[2020-04-14 19:07] wswebcreation commented on #5257
You're welcome!

[2020-04-14 19:21] ronhorm opened #5266 "Attach chromium protocol commands to msedge sessions"
**Environment:**
 - **WebdriverIO version:** 6.0.15
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 13.1.0
 - **NPM version:** 6.14.4
 - **Browser name and version:** msedge 81.0.416.53
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** N/A

**Config of WebdriverIO**
N/A

**Describe the bug**
U

[2020-04-14 20:28] ronhorm commented on #5266
modify isChrome in envDetector.js to something like maybe?

`function isChrome(caps) {
  if (!caps) {
    return false;
  }
    return Boolean(caps.chrome || caps.msedge) || Boolean(caps['goog:chromeOptions']);
}`

[2020-04-14 20:33] ronhorm commented on #5266
Also it probably would read a little more clearer if isChrome was renamed isChromium

[2020-04-14 21:15] tawfiknouri commented on #5247
i'm not sure but it seem allure.endCase function does not support this kind of message
may be not able to handel utf-16

it's ok when i test with faked object
{ "message":data, "stack":"allure error .............", "type":"Error"}

{
   "message":"Expect $(`//div[contains(text(),\"login test\")]`) to be displayed\n\nExpected: \u001b[32m\"displayed\"\u001b[39m\nReceived: \u001b[31m\"\u001b[7mnot \u

[2020-04-14 21:30] christian-bromann commented on #5266
I wonder how much Edge and Chrome differ these days anymore. Does Edgedriver support all these commands described in https://webdriver.io/docs/api/chromium.html ?

[2020-04-14 21:50] ronhorm commented on #5266
I believe so

[2020-04-14 22:11] pmerwin opened #5267 "404 on config documentation link on blog"
**Pre-check**
- [ X] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [X ] Missing documentation
- [ ] Other

**Description of the improvement / report**
A clear and concise description.

open blog and click the documenta

[2020-04-14 22:26] ronhorm commented on #5264
I'm having  a similar issue when I use the chromedriver service.   it used to be ignored when selenium server params were defined.  no longer the case.   I removed it and now only load it conditionally in something like this.
[code]

[2020-04-15 07:09] #5267 closed

[2020-04-15 07:09] christian-bromann commented on #5267
Thanks for reporting!

[2020-04-15 07:15] christian-bromann commented on #5264
The driver services modify the connection parameter if not specified differently - therefor if you are about to use a remote driver on e.g. a different server don't use the service. If you have capabilities that run on a remote server and some that run local you can specify this as follows:

[code]

Please let me know if you have any more questions.

[2020-04-15 07:15] #5264 closed

[2020-04-15 07:16] christian-bromann commented on #5266
Can you check?

[2020-04-15 07:39] christian-bromann commented on #5254
Fixed in PR above

[2020-04-15 07:39] #5254 closed

[2020-04-15 09:28] NBukuri commented on #5264
I modified capabilities as shown:
[code]
Request url is correct:
![image](https://user-images.githubusercontent.com/16242794/79321597-aa3a9800-7f1c-11ea-9854-35469afba453.png)

but getting the following error:
[code]
Tried also discarding selenium server configuration:
[code]

Getting the same error only for remote selenium.

[2020-04-15 10:45] j320 opened #5269 "waitForClickable() returning error on IE"
**Environment (please complete the following information):**
 - **WebdriverIO version:**  6.0.16 | Also reproduced in v5
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.1
 - **Browser name and version:** IE11
 - **Platform name and version:** [e.g. Windows 10]

**Config of WebdriverIO**
[code]
Also tested with nativeEvents set to **true** o

[2020-04-15 11:01] christian-bromann commented on #5269
Duplicate of #5043

[2020-04-15 11:01] #5269 closed

[2020-04-15 12:13] j320 opened #5270 "IE doesn't clear session when reloading"
**Environment (please complete the following information):**
 - **WebdriverIO version:**  6.0.16 | Also reproduced in v5
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.1
 - **Browser name and version:** IE11

**Config of WebdriverIO**
[code]
**To Reproduce**
Steps to reproduce the behavior:

Run a test that requires you to, for example, lo

[2020-04-15 12:16] christian-bromann commented on #5270
This is a limitation of IE and can't be fixed in WebdriverIO. There is no way WebdriverIO can clean the session or make IE run faster.

[2020-04-15 12:16] #5270 closed

[2020-04-15 12:40] tawfiknouri commented on #5247
@Kriskof you need to install  expect-webdriverio
without this line "expect($button).toBeDisplayed()" is not right

try adding expect-webdriverio and retry again It should work
npm install expect-webdriverio

@christian-bromann we need to update https://webdriver.io/docs/api/expect.html for mocha users

[2020-04-15 13:16] christian-bromann commented on #5247
@tawfiknouri in v6 this package is a dependency of the runner so no need to install in v6

[2020-04-15 15:45] tawfiknouri commented on #5247
@christian-bromann thanks !
And should add this in wdio.conf.js ?

beforeSession () {
    require('expect-webdriverio')
}

my tests

wdio v5.16.11 without install expect-webdriverio with  "require('expect-webdriverio')" : OK
wdio v5.16.11 without install expect-webdriverio  without  "require('expect-webdriverio')" : KO

***********************************************************
wdio v6 without in

[2020-04-15 15:49] christian-bromann commented on #5247
There is no need to manually require it, this already happens as shown in this Mocha example. https://github.com/webdriverio/webdriverio/blob/master/examples/wdio/mocha/mocha.test.js

[2020-04-15 17:24] Kriskof commented on #5247
So is this an actual issue that's gonna get fixed? Or is this only for allure report team?

[2020-04-15 17:28] christian-bromann commented on #5247
Feel free to propose a PR with a fix @Kriskof

[2020-04-16 03:00] ronhorm commented on #5266
Tested them out today.  The answer is yes.  Submitted PR with fix

[2020-04-16 10:07] dipti-code opened #5275 "Switch App to browser and back to app in mobile hybrid app."
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.
I have attached the screen shot.
I have click the login button in my app, and it opens a se

[2020-04-16 10:48] Stetchy opened #5276 "Webdriver package doesn't use proxy provided"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2] 6.0.12
 - **Mode:** [Standalone mode or WDIO Testrunner] WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] sync
 - **Node.js version:** [e.g. 8.11.2] 12.13.0
 - **NPM version:** [e.g. 5.8.0] 6.12.0
 - **Browser name and version:** [e.g. Chrome 68] Chrome 80, Firefox

[2020-04-16 11:53] wswebcreation commented on #5275
@dipti-code

Please ask the questions in the Gittter channel like we asked before

[2020-04-16 11:53] #5275 closed

[2020-04-16 12:28] lacell75 commented on #5038
Reproduced with 6.0.16 . Could you fix it quickly?  it's blocking for me
`Error in "Desktop.AdvancedSearch.Search.03-Principal_card.03-Searching contracts on information of "Donneur d'ordre" INQA-111 to 115: Consulting contracts received in a daily email alert with many queries: Then I expect that the title contains "Marchés intégrés à l'alerte "My alert INQA-265 Many Queries""
expect(received).to

[2020-04-16 13:08] lacell75 commented on #5038
In the meanwhile, do you have a workaround ? because I updated all my code with the new expect-webdriverio package. I can't revert all my changes.

[2020-04-16 14:40] christian-bromann commented on #5043
It seems that the `newWindow` script is also failing on IE11.
https://app.saucelabs.com/tests/3a233521be5f44629462c4984b89b340#7

[2020-04-16 17:20] takeya0x86 commented on #5090
I guess we should use `uploadFile()` instead of `type()` when `input type="file"`.

https://pptr.dev/#?product=Puppeteer&version=v2.1.1&show=api-elementhandleuploadfilefilepaths

https://github.com/webdriverio/webdriverio/blob/d485e2c3a7dc5967038833fe960a8fa267632d26/packages/devtools/src/commands/elementSendKeys.js#L10-L12

This Puppeteer code works fine.

[code]

[2020-04-17 05:43] kajmagnus commented on #5240
Works for me, with WebdriverIO 6.0.15, like so:

[code]

I didn't know which one of `path` and `mount` referred to the file system, or the browser URL path, but by trial and error, turns out that `path` is a file system path (not a URL path), and `mount` is the URL path where the file system path should appear.

[2020-04-17 08:18] AutomationGuru commented on #4913
I had the same issue once the OS upgrade on mac, so i am listing what i did which helped me,
I had node v13.6.0 and when i ran the test runs with `wdio <config>`

The following error was seen
[code]
1. Try to install `npm i fibers`
2. i see the following error
`gyp: No Xcode or CLT version detected!
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 1`
3. You need to run t

[2020-04-17 08:35] christian-bromann commented on #4913
Please note that `@wdio/sync` is not a required package and you can use WebdriverIO without it.

[2020-04-17 09:01] christian-bromann commented on #5240
I can't reproduce a bug either. @SantoJambit you path is relative which means you select a directory relative from where you run the wdio command from. I recommend using absolute path to be more specific.

[2020-04-17 09:01] #5240 closed

[2020-04-17 09:06] christian-bromann commented on #5276
Couple of notes:

- `expect-webdriverio` is already embedded and doesn't need to be explicitly setup anymore
- you start BS local manually which can be done automatically through the @wdio/browserstack-service

The `proxy` docs are indeed outdated. Can you propose an update?

[2020-04-17 09:08] christian-bromann commented on #5266
Let's continue convo in #5272

[2020-04-17 09:08] #5266 closed

[2020-04-17 09:30] Stetchy commented on #5276
@christian-bromann thanks for the tips - was using the BS service, but when I was debugging I tried the manual way just in case it was that service that was causing it.

The current proxy docs for passing the `proxy: {}` object, is that object being passed to the capabilities so that selenium/other runners pick it up, or where does it actually get picked up? It's hard to know from the docs. The sa

[2020-04-17 10:19] christian-bromann commented on #5276
`proxy` is a WebDriver [capability](https://w3c.github.io/webdriver/#proxy).

This used to be picked up by `request` which now does't work anymore since we have replaced it with `got`.

Awesome!

Please send a feature request with your ideas in mind.

[2020-04-17 10:21] Stetchy commented on #5276
Cool, will do the above, thanks for the info!

[2020-04-17 10:25] christian-bromann commented on #5262
This seems to be an issue with got not being able to follow SauceLabs redirect hack when requests take longer than 45s.

[2020-04-17 10:41] christian-bromann commented on #5248
Thanks for writing this thorough issue. I checked out your demo repository and running 6 Chrome instances just freezes the Chrome browser at some point. Running 6 independent browser sessions can put heavy memory and CPU load on the host machine and might cause timeouts.

Can you point out where exactly what the issue in WebdriverIO is here? Running tests using devtools is not the same as running

[2020-04-17 11:44] SantoJambit commented on #5240
@kajmagnus and @christian-bromann : It seems the non-responsive server issue I was having with 6.0.8 was fixed in `6.0.13`. The reason I was having issues with 6.0.14 was another:

[code]

Not sure if this is intended, I would assume, that options of chromedriver service are optional.
This fixes it:
[code]

Also, it seems, that if one service crashes, all other services won't get started either. A

[2020-04-17 11:45] christian-bromann commented on #5240
@SantoJambit thanks for the feedback, I will have a look into the Chromedriver issue.

[2020-04-17 13:11] christian-bromann commented on #5050
Fixed in #5280

[2020-04-17 13:11] #5050 closed

[2020-04-17 13:18] christian-bromann commented on #3570
This issue is not reproducible anymore. The logs automatically shorten the output:

[code]

[2020-04-17 13:18] #3570 closed

[2020-04-17 13:23] michael-confiant commented on #5254
@christian-bromann there is the same issue with --base-path appium argument in the current version - its set to '' and there is no way to change it

[2020-04-17 13:28] christian-bromann commented on #5075
This bug is not reproducible anymore with latest `devtools` package:

[code]

[2020-04-17 13:28] #5075 closed

[2020-04-17 13:51] christian-bromann commented on #5254
@michael-confiant made a new PR https://github.com/webdriverio/webdriverio/pull/5281

[2020-04-17 14:08] christian-bromann commented on #5043
Fixed in #5279

[2020-04-17 14:08] #5043 closed

[2020-04-17 14:16] christian-bromann commented on #5073
This issue is not reproducible anymore:

[code]

[2020-04-17 14:16] #5073 closed

[2020-04-17 14:58] christian-bromann commented on #4916
Fixed in #5282

[2020-04-17 14:58] #4916 closed

[2020-04-17 14:59] christian-bromann commented on #4996
Closing due to inactivity.

[2020-04-17 14:59] #4996 closed

[2020-04-17 15:03] edi9999 opened #5284 "WebdriverIO stopped working for firefox since version 6"
This bug started after upgrading from webdriver IO 5 to webdriver IO 6.

On webdriverIO 5 I had no issues at all.
With webdriverIO 6 the Chrome tests are still working, but the firefox test do not seem to work at all.

 - **WebdriverIO version:**  6.0.16
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.14.4
 - **Brow

[2020-04-17 15:07] christian-bromann commented on #4945
Closing as @wswebcreation answers provides a solution. Capabilities need to be:

[code]

[2020-04-17 15:07] #4945 closed

[2020-04-17 15:12] christian-bromann commented on #5284
This assumption is true if it wouldn't be a major version change. In v6 we automatically spin up the browser using Puppeteer if no browser driver is provided. So your example doesn't work because running Firefox on Puppeteer requires to run it on FirefoxDev. It is likely to work with Chrome. Please see all changes here: https://webdriver.io/blog/2020/03/26/webdriverio-v6-released.html

Closing as

[2020-04-17 15:12] #5284 closed

[2020-04-17 15:17] edi9999 commented on #5284
It would be cool to have an explicit error message say that the error comes from an "unsupported" firefox version.

I don't want to run the tests on firefox dev, I would like to test on firefox stable.

Can you explain how I can provide a browser driver that is other than puppeteer ?

[2020-04-17 15:23] christian-bromann commented on #5284
Simplest is to change your capabilities as follows:
[code]
But note: this will likely fail too because it only defaulted to Puppeteer because no driver was found. So you have to start Geckodriver to run tests using WebDriver and Firefox.

[2020-04-17 15:26] edi9999 commented on #5284
From what I understand this is an autodetection :

[code]

It seems that I have a webdriver server running on port 4444 :

[code]

With this sample code :

[code]

The preversion script will call a bash script of mine called webdriver.bash (readable here : https://github.com/open-xml-templating/docxtemplater/blob/webdriver-io-update/webdriver.bash), which starts a selenium-webdriver.

[2020-04-17 15:34] edi9999 commented on #5284
When using the `automationProtocol: 'webdriver'` option, I now get the following

[code]

[2020-04-17 15:39] christian-bromann commented on #5284
@edi9999 to fix your issue you need to set `path: "/"`.

[2020-04-17 15:41] christian-bromann commented on #5284
I recommend to use the wdio testrunner, this would make your setup much cleaner as you wouldn't need custom scripts to start selenium standalone etc. The reason why devtools has been chosen was because selenium-standalone by default is started on an custom path `/wd/hub/` which was mentioned in the blog post:

[2020-04-17 17:43] apkatsikas opened #5285 "TypeError: expect(...).toBeDisplayed is not a function - when using wdio v6 with Jasmine"
**Environment:**
 - **WebdriverIO version:** 6.0.4 or higher
 - **Mode:**  WDIO Testrunner sync
 - **Node.js version:** 10.16.0 or 12
 - **NPM version:** 6.9.0
 - **Browser name and version:** Chrome 81
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** v6 jasmine boilerplate project

**Config of WebdriverIO**
[jasmine-boilerplate.zip](https://github

[2020-04-17 18:16] edi9999 commented on #5284
I changed to this :

[code]

and it now works.

[2020-04-18 06:18] wswebcreation commented on #5262
@christian-bromann

Do you happen to know how we can fix this, this isn't only a problem with EMU/SIM, but can also become a problem with Real Devices, not only with Sauce but with all vendors. Especially if connecting to a device takes longer that 45-60 seconds due to waiting.

[2020-04-18 11:19] Stetchy commented on #5276
@christian-bromann I'm going to close this in favour of sticking with #5287 instead of a new feature, reading back over it I think it makes more sense to stick with the docs for now. Reopen if you think otherwise.

[2020-04-18 11:19] #5276 closed

[2020-04-18 12:11] Stetchy opened #5288 "create-react-app with typescript causes syntax errors when using webdriverio with typescript"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-04-18 14:38] tawfiknouri commented on #5288
@Stetchy You have this error because you use **"module": "esnext"**  in tsconfig.json
You can

1. Create a new typescript config file for wdio ( tsconfig.wdio.json)
2. Update tsconfig.wdio.json and replace **"module": "esnext"** with **"module": "CommonJS"**
3. Use **env TS_NODE_PROJECT=tsconfig.wdio.json npx wdio** to run wdio test

[2020-04-18 16:05] Stetchy commented on #5288
Thanks @tawfiknouri! Is it possible to get this added into the docs? I can submit a PR if you think they fit in here.

[2020-04-18 16:14] renatofmachado opened #5290 "WebDriver.IO and ChromeDriver Infinite Loop Fetching an element that does not exist"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.16
 - **Mode:** Test Runner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.13.1 (also happens on 10.16)
 - **NPM version:** 6.12.1
 - **Browser name and version:** Chrome 81
 - **Platform name and version:** MacOS & Docker
 - **Additional wdio packages used (if applicable):

[2020-04-18 16:18] tawfiknouri commented on #5288
Hi @Stetchy
This is one use case, and absolutely there are several other cases.
I'm not sure if we can cover all possible cases ...

[2020-04-18 16:28] tawfiknouri commented on #5290
@renatofmachado  i can't reproduce this bug

[chrome  windows #0-0] webdriver.io page
[chrome  windows #0-0]    ✖ accesses unreachable element
[chrome  windows #0-0]
[chrome  windows #0-0] 1 failing (10.2s)
[chrome  windows #0-0]
[chrome  windows #0-0] 1) webdriver.io page accesses unreachable element
[chrome  windows #0-0] Timeout of 10000ms exceeded. For async tests and hooks, ensure "done()" is

[2020-04-18 17:21] renatofmachado commented on #5290
I've recreated the issue here: https://github.com/renatofmachado/wdio-issue

Just run `yarn` and then `yarn acceptance` 👍

[2020-04-18 19:01] Stetchy commented on #5288
That's a fair point! This issue will be here for anyone who encounters the same problem anyway. Thanks @tawfiknouri!

[2020-04-18 19:01] #5288 closed

[2020-04-18 20:14] tawfiknouri commented on #5290
@renatofmachado
It seems the infinite loop it created by your code

Try this code, works fine for me
[code]

[2020-04-18 20:30] renatofmachado commented on #5290
Just tried it, and it didn't work for me.

I've created a Dockerfile & docker-compose. And it fails there as well. Do a git pull and execute it using the following command: `docker-compose down; docker-compose build acceptance-tests; docker-compose run --rm acceptance-tests; docker-compose down;`

It just runs until it gets a time out. Never manages to complete the test.

Thanks for the help so fa

[2020-04-19 09:09] #5038 closed

[2020-04-19 10:22] tawfiknouri commented on #5290
@renatofmachado could you try with **services: ['selenium-standalone']** (wdio.conf.js)
You need to install selenium-standalone-service `npm i @wdio/selenium-standalone-service --save-dev`

but yes it seems a bug, (my script work file with selenium-standalone) ...

[2020-04-19 13:50] lacell75 opened #5291 "When assertion failed from expect-webdriverio, Test status is broken instead of failed in @wdio/allure-reporter"
*Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.16
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.6.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Any
 - **Platform name and version:**  Windows 10
 - **Additional wdio packages used (if applicable):** "@wdio/cli": "^6.0.16",
    "@wdio/cucumb

[2020-04-19 14:31] lacell75 opened #5292 "Description of cucumber scenario id missing in @wdio/allure-reporter and cucumber-framework"
*Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.16
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.6.0
 - **NPM version:** 6.9.0
 - **Browser name and version:** Any
 - **Platform name and version:**  Windows 10
 - **Additional wdio packages used (if applicable):** "@wdio/cli": "^6.0.16",
    "@wdio/cucumb

[2020-04-19 16:43] lacell75 commented on #5292
i will do a PR coming soon

[2020-04-19 16:43] lacell75 commented on #5291
i will do a PR coming soon

[2020-04-19 17:32] renatofmachado commented on #5290
I've tested with selenium and it works 👍

Maybe it's a bug with the ChromeDriver itself or maybe something got changed?

Also, if I just use direct queries using only the ChromeDriver it works as well.. it just goes into an infinite loop when iterating on all of those elements and doing sub queries on them. But it just happens when we have a lot of elements (e.g. it didn't happen when I had only 4

[2020-04-20 07:55] christian-bromann commented on #5061
Closing as this issue doesn't seem to be moving forward and an bug on WebdriverIO side couldn't be reproduced.

[2020-04-20 07:55] #5061 closed

[2020-04-20 13:03] damonpam opened #5295 "Add support in wdio-allure-reporter to display flaky tests"
**Is your feature request related to a problem? Please describe.**
I'm trying to filter some scenarios depending on their flakiness but I can't make it work.... every time I press the filter nothing is displayed. Is that already implemented but I'm using it incorrectly?

**Describe the solution you'd like**
Add `@flaky` tags in order to mark scenarios/features as flaky.
![image](https://user-image

[2020-04-20 18:12] KumarSumitD opened #5302 "Not getting suite name in beforeSuite Hook"
Hi,
I have added beforeSuite hook in wdio config
defaultConfig.beforeSuite = function(suite) {
    console.log(suite);
  };

and then i am running the tests
npx wdio wdio.conf.js --baseUrl=[my base url] --suite=[configured suite]

But on suite console.log - i am getting
{ type: 'beforeSuite',
  title: 'Jasmine__TopLevel__Suite',
  fullName: null,
  file:
   '[suite files]' }

Why the fullName is n

[2020-04-20 21:22] christian-bromann commented on #5302
Because you are receiving the top level suite from Jasmine not the first suite you have defined in your test. Also note that a suite in the hook is something different than the suite parameter. The suite parameter just groups multiple tests into a group.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_mediu

[2020-04-20 21:22] #5302 closed

[2020-04-20 22:31] gavrilenkokate opened #5303 "Master report is not generating for all suites with HTML REPORTER (WDIO6)"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-04-21 05:24] jacekbj commented on #5248
There is no other error printed than `Navigation Timeout`. I did not measure it but it definitely took more than 300000ms (5 mins).

I'm running the same code on Jenkins with headless  Chrome in Docker (automation protocol devtools) and using Selenium.
Using devtools I am getting a quite a few `stale element reference: The element with reference ELEMENT-17 is stale; either the element is no longer

[2020-04-21 06:40] christian-bromann commented on #5303
Please report this issue in the [html report project](https://www.npmjs.com/package/@rpii/wdio-html-reporter).

[2020-04-21 06:40] #5303 closed

[2020-04-21 10:02] #5292 closed

[2020-04-21 12:13] #5291 closed

[2020-04-21 14:18] unickq commented on #2365
Don't use arrow functions

[2020-04-21 15:22] esaari commented on #5262
@wswebcreation I can concur I've had a similar issue with iOS devices on the Browserstack vendor - basically, I had no problem running a full suite of tests on wdio v5, but once v6 came, something like 90% of my tests can't create sessions, reporting that they hit the Got timeout of 60s.

[2020-04-21 16:28] christian-bromann commented on #5262
I found the solution and working on a fix

[2020-04-21 16:56] christian-bromann commented on #5262
Fixed in #5306

[2020-04-21 17:32] esaari opened #5307 "Explicit wait timeout not respected during element lookup on real devices"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [6.0.17]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [12.16.1]
 - **NPM version:** [latest]
 - **Browser name and version:** [mobiel Safari/Android Chrome]
 - **Additional wdio packages used (if applicable):** [@wdio/browserstack-service]

**Conf

[2020-04-22 05:27] joscha commented on #4949
@christian-bromann did you have time to check out the sample, yet?

[2020-04-22 07:20] christian-bromann commented on #5307
@esaari this seems like something that should be reproducible independently from the capability. Can you try to create a minimal reproducible example with e.g. Chrome?

[2020-04-22 08:06] christian-bromann commented on #5035
@dpoetzsch it would be great if we could support this for our spec reporter for the case the user is not using the built in assertion library. Would you like to pick this up?

[2020-04-22 09:44] j320 opened #5310 "browser.newWindow() not working on IE"
- **WebdriverIO version:** 6.1.12
 - **Mode:** Standalone Mode
 - **Node.js version:** [e.g. 8.11.2] 12.16.1
 - **Browser name and version:** IE11

**Config of WebdriverIO**
[code]

**Describe the bug**
Using browser.newWindow(url) on IE doesn't open a new tab nor it fails the test, it doesn't do anything but tests carry on as normal. Adding other parameters such as _windowName_ or _windowFeatures

[2020-04-22 13:39] bruderstein opened #5311 "No refresh of elementId on stale element for waitForDisplayed on Edge 15-18"
**Environment (please complete the following information):**
 - **Webdriver.io Version:** 6.1.2 & 5.22.5
 - **Mode:** WDIO test runner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.15.0
 - **NPM version:** 6.13.4
 - **Browser name and version:** Edge 15 through Edge 18
 - **Platform name and version:** Windows 10 (running tests from MacOS)

**Config of WebdriverIO

[2020-04-22 14:51] christian-bromann commented on #5310
Can you please provide some wdio logs?

[2020-04-22 20:17] esaari commented on #5307
@christian-bromann Will try to have this for you asap - though it should be fairily easily reproducible by doing an element lookup on any non-existent element while in a webview context.

[2020-04-22 20:31] christian-bromann commented on #5307
Please provide a reproducible example in a web browser if possible.

[2020-04-23 04:59] umairnazeer opened #5313 "Is ther a way to open first chrome browser as regular browser and second browser as incognito?"
## 💬 Questions and Help
I pretty much tried everything to figure it out but I am unable to figure it out. I have tried adding multimore but that didn't work out as the documentation on webdriverio is with async mode and I am using sync. I tried to follow other ways to make it work but no luck.
The scenario I am testing is a chat between two users, and for that I need two browser windows with diffe

[2020-04-23 06:33] christian-bromann commented on #5313
Why do create an issue for this when it clearly says that for questions one should use the Gitter support channel?

Have you tried to just make the code synchronous by removing all `async/await`.

Also a tip: saying that something isn't working doesn't help anyone to understand what is not working , so please always provide a stack trace or logs.

I am closing this issue as we do answer support qu

[2020-04-23 06:33] #5313 closed

[2020-04-23 08:44] j320 commented on #5310
`[0-0] 2020-04-23T08:40:24.484Z INFO webdriver: COMMAND executeScript(<fn>, <object>)
[0-0] 2020-04-23T08:40:24.484Z INFO webdriver: [POST] http://localhost:4444/wd/hub/session/b442b6c7-0c85-4926-be55-ac8d55782f43/execute/sync
[0-0] 2020-04-23T08:40:24.484Z INFO webdriver: DATA {
  script: 'return (function newWindow(url, windowName, windowFeatures) {\n' +
    "  window.open(url, windowName || 'ne

[2020-04-23 08:54] christian-bromann commented on #5310
Can you provide a reproducible example?

[2020-04-23 08:58] j320 commented on #5310
What do you need as a reproducible example apart from the steps?

[2020-04-23 09:04] christian-bromann commented on #5310
A small test case in e.g. a single script that I can execute to reproduce this.

[2020-04-23 09:49] j320 commented on #5310
Here you have a simple repo: https://github.com/j320/ie-newwindow-defect-example

Cloning it and running _npm test_ or _yarn test_ should do

[2020-04-23 11:23] christian-bromann commented on #5310
@j320 I am not able to reproduce this: https://app.saucelabs.com/tests/3e1218f8ecca494a964bac010eb20282

Will close the issue but am happy to re-open if it turns out to be an actual WebdriverIO bug.

[2020-04-23 11:23] #5310 closed

[2020-04-23 11:38] christian-bromann commented on #5311
@bruderstein thanks for writing the issue. I tried running your repo example and couldn't reproduce it: https://app.saucelabs.com/tests/d5b625c8f2f7472889b0523039d2470a. Can you see if there is a difference in the environment we run?

[2020-04-23 17:45] esaari commented on #5307
Adding a log from a Chrome desktop run - it seems that after the initial `findElement`lookup, it never enters the `findElements` loop which continually polls until element is found.

[2020-04-23 17:54] esaari commented on #5307
[desktop-chrome.txt](https://github.com/webdriverio/webdriverio/files/4524313/desktop-chrome.txt)

[2020-04-23 19:33] diervo opened #5314 "Missing typescript methods for browser and others"
The typescript definitions for some of the primitives are not complete.

For example the operation `browser.findElement` which is [publicly documented](https://webdriver.io/docs/api/webdriver.html#findelement) is not part of the browser object definition, which means a typescript user will have to coerce the value:

[code]

Whoever can help addressing this should look at other potential missing op

[2020-04-23 20:22] goatsy opened #5315 "All sessions marked as failed on Browserstack with "Unknown Error""
Since  @wdio/browserstack-service 6.0.10 we experience that all sessions (no matter of the actual result of the test) are marked as failed.

Status: Failed
(Marked via REST API : Unknown Error)

We use webdriverio 6.1.3
with browserstack-service 6.0.17

https://github.com/webdriverio/webdriverio/blob/f7b43b2fab60bf87b49352957b28709cc63a7f66/packages/wdio-browserstack-service/src/service.js#L62

![

[2020-04-23 20:27] christian-bromann commented on #5315
Can anyone with a BS account take a look at this? @goatsy ?

[2020-04-23 20:27] nanomosfet commented on #4079
@luiscspinho the Java dependency that it adds could be a problem for some. At that point you can just use the [wiremock service](https://webdriver.io/docs/wdio-wiremock-service.html)

[2020-04-23 20:59] esaari commented on #5315
I use Browserstack @christian-bromann. I think a lot of info is missing here.

- Is a session being created and logged in the Browserstack portal/API?
- What capabilities are being passed? Browserstack caps can vary depending on the platform and webdriver protocol.

FWIW, v6 has been fine for me on just about every platform Browserstack offers except iOS.

[2020-04-24 01:39] diervo opened #5317 "All Shadow DOM operations are broken on devtools protocol"
**Environment:**
 - **WebdriverIO version:** 5 & 6 (blocking on 6 by default)
 - **Mode:** TestRunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 14
 - **NPM version:** latests 5 & latest 6

**Config of WebdriverIO**
[code]

**Describe the bug**
Any DOM operation that traverses the shadow directly or indirectly fails while using `devtools` protocol.

**To Reproduce

[2020-04-24 01:40] diervo commented on #5317
@christian-bromann FWIW, this is blocking us to upgrade to the latest version.

[2020-04-24 07:13] christian-bromann commented on #5317
I am not sure what you mean by that. This doesn't work even in WebDriver which is the reason we created the `shadow$` command. Here is a better example:

[code]

Which indeed does not work using Puppeteer. Looking at the error message is says:

Which makes sense because Puppeteer allows only to select an element with one method `$` or `$x` and return an element reference with a different method `$

[2020-04-24 07:21] christian-bromann commented on #5285
This was fixed with the last release.

[2020-04-24 07:21] #5285 closed

[2020-04-24 07:28] christian-bromann commented on #5314
@diervo do you have a reproducible example? As you can see in https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/webdriverio.d.ts#L42 the browser object receives the WebDriver protocol commands as well as the WebdriverIO API commands. I was also not able to reproduce it.

[2020-04-24 07:44] luiscspinho commented on #4079
@nanomosfet Well I guess it's the same thing, the wiremock service also adds a JAR dependency ( https://github.com/erwinheitzman/wdio-wiremock-service/blob/master/launcher.js#L40 ) but you don't see it, the same could be done to the mockserver. I totally get your point, that's why I said that I'm not sure this is the way to go before. However I'm using this solution on my tests and loving it so fa

[2020-04-24 08:56] goatsy commented on #5315
I try to setup a simple project to reproduce it

[2020-04-24 13:02] bruderstein commented on #5311
@christian-bromann I just double checked on Edge 17, and I get it reliably not refreshing the stale element reference.  I don't see any difference in environment, so I'm assuming that this must be down to a slightly different response from browserstack vs saucelabs.

Here's the public link to the session I just tried.
https://automate.browserstack.com/builds/d3aeb084f830d967f580cd25de455aa69fbf9b2

[2020-04-24 13:36] mo opened #5318 "browser.getLogs() stopped working when upgrade to 6.x"
I created a minimal example here:

1. check out: https://github.com/mo/e2e-get-logs-unknown-command.git
2. go back to 5.x version where test passes "git reset --hard 7a491e2" and run the test using "npm run test-chrome"
3. git pull so you get d794a6d where the testcase is upgraded to 6.x and the bug repro when you run "npm run test-chrome"

Note: chromedriver is pinned to 81.0.4044.69 on both comm

[2020-04-24 13:52] erwinheitzman commented on #5318
works fine here with the latest chrome and chromedriver using:
[code]
logs the following:
[code]

[2020-04-24 14:02] mo commented on #5318
@erwinheitzman hmm, were those browser.url + console.log calls the only changes you made and other than that you just ran "npm run test-chrome" from my example?

What chrome version are you using? I ran the test in chrome 81.0.4044.122

[2020-04-24 15:13] apkatsikas commented on #5285
thanks @christian-bromann !

[2020-04-24 15:26] diervo commented on #5317
@christian-bromann yeah the example I provided was confusing, the point was that `getText()` in webdriver underneath uses an atom that does the shadow traversal to return the full text of all content correctly, in devtools returns nothing.

But to the point, your example its way more illustrative, so yeah any shadow operation doesn't work, and I assume that we want the result of the test to be the

[2020-04-24 16:12] diervo commented on #5314
@christian-bromann I apologize for wasting your time, you are 100% correct, the APIs for `findElement` is indeed there. I believe I was using an old version of the webdriverio package.

On my defense, I did create a repo to help further questions, like why `'selenium-standalone'` doesn't work in v6 :)

https://github.com/diervo/wdio-repro-example

[2020-04-24 16:12] #5314 closed

[2020-04-24 16:16] diervo opened #5319 "Using selenium-standalone in v6 never starts - node v14"
Trying to use webdriver protocol with selenium-standalone hangs (the browser opens with a white screen but no operations are performed).

Here is a minimal repo with the exact configuration ready to `yarn test`:
https://github.com/diervo/wdio-repro-example

Note that changing the `automationProtocol` to `devtools` make everything work (by using pupetteer instead).

~~My intuition is that some code

[2020-04-24 17:04] apkatsikas commented on #5035
@christian-bromann it also looks like the report itself does not show a simple assertion failure when using the new expect lib - is this a separate issue or related? instead it throws "CompoundError"

![image](https://user-images.githubusercontent.com/24813300/80238253-165b8100-862c-11ea-8f45-e10c36e6f2bd.png)

[2020-04-24 17:53] christian-bromann commented on #5035
@apkatsikas yes, I am afraid this is specific to Allure

[2020-04-24 18:46] apkatsikas commented on #5035
ok @christian-bromann i will watch this space. let me know if you require more info

[2020-04-24 18:59] christian-bromann commented on #5035
@apkatsikas feel free to help contribute a bug fix if you are interested in this

[2020-04-24 19:23] goatsy commented on #5315
I created a simple project - the only thing you need is a username/key. But I could help out with a temporary one for debugging cases.

https://github.com/goatsy/webdriverio-tests

The test is succesful (Spec Files:      1 passed, 1 total (100% completed) in 00:00:12)

But on Browserstack it shows it failed:

![image](https://user-images.githubusercontent.com/27290029/80249267-d1f2d400-8671-11ea-8

[2020-04-24 21:05] nanomosfet commented on #4079
yeah. I would like to see a built in version from the browser object like @christian-bromann said

even if its only for chrome i think it would be worth it because `cypress` supports it out of the box. We should just warn people that it wont work for firefox

[2020-04-24 22:30] christian-bromann commented on #4079
@nanomosfet you can already use the devtools package to mock the API using Puppeteer. Providing a better mock and stubbing functionality is next on my list 😉

[2020-04-25 08:37] wswebcreation commented on #4805
This was a third party bug, meaning a bug in Appium. this is fixed in appium `1.16.0`, see https://github.com/appium/appium/blob/master/CHANGELOG.md#changes-in-version-1160-from-1151

[2020-04-25 08:37] #4805 closed

[2020-04-25 08:40] wswebcreation commented on #5262
@christian-bromann

Re-opening because it is not fixed

https://app.eu-central-1.saucelabs.com/tests/61e98f031f724358bcec21dfbc61ef49#0

`[4-0]  Error:  Failed to create session.`

Working with these dependencies

[code]

[2020-04-25 08:57] christian-bromann commented on #5262
@wswebcreation can you provide some wdio logs?

[2020-04-25 10:04] wswebcreation commented on #5262
Yep, this is the log

[code]

Increasing this doesn't matter. Strange thing is that this is working for V5, see the instance here https://app.eu-central-1.saucelabs.com/tests/0c0f41f085aa41bca26eabd4bf3664ba#9

It also looks like that with WebdriverIO V5 everything is starting quicker than with V6

- V5 instance: https://app.eu-central-1.saucelabs.com/tests/0c0f41f085aa41bca26eabd4bf3664ba
- V6 in

[2020-04-25 10:06] christian-bromann commented on #5262
The patch seem to work, it says to increase the `connectionRetryTimeout` option. Can you set it to a very high number to see if tests start?

[2020-04-25 12:56] wswebcreation commented on #5262
@christian-bromann

I already did that

[2020-04-25 14:50] christian-bromann commented on #5262
It seems like updated `got` magically resolves this issue. Please review!

[2020-04-25 14:50] #5262 closed

[2020-04-25 18:27] dipti-code opened #5325 "webdriverIO 6.1.3 +jasmine+typescript shwoing "WARN @wdio/jasmine-framework: Unable to load spec files quite likely because they rely on `browser` object that is not fully initialised.""
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-04-25 18:45] christian-bromann commented on #5325
This is not a WebdriverIO error but an error in your test, see:

[code]

[2020-04-25 18:45] #5325 closed

[2020-04-27 10:55] christian-bromann commented on #5020
An example how to use GitHub Actions was added to the [Jasmine Boilerplate](https://github.com/webdriverio/jasmine-boilerplate).

[2020-04-27 15:07] li-guillaumeriou opened #5326 "TS(2304) Cannot find name 'expect'."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.4
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync/async
 - **Node.js version:** v12.8.0
 - **NPM version:** 6.10.3
 - **Additional wdio packages used (if applicable):** typescript

**Config of WebdriverIO**
[code]
**Describe the bug**
Expect is not working while using types

[2020-04-27 18:25] diervo commented on #5319
I found the problem but not the root cause: Using node v14 causes the selenium to hang, possibly due to some internal API that its silently failing.

[2020-04-27 22:18] ntulele commented on #5307
I'm also seeing explicit timeout being ignored in favor of the default waitforTimeout value, on Chrome desktop, using wdio 6.0.16
With waitforTimeout = 3500 , this fails in 3.5s instead of 10s (as it did in wdio 5.x):
[code]

[2020-04-27 23:15] esaari commented on #5307
@ntulele I think it needs to be `$('div.notdisplayed').waitForDisplayed({ timeout: 10000 });` to work in v6.

[2020-04-28 07:52] mardukbp opened #5333 "Promote support for React components and Shadow DOM on the front page"
As far as I know, WebDriverIO is the only open-source test automation framework that provides straightforward access to shadow-DOM elements.

If I am not mistaken, the implementation of the WebDriver specification it relies on can be used as a standalone component.

I believe it would be very valuable for the software-testing community to make this component more visible and widely usable by maint

[2020-04-28 08:06] christian-bromann commented on #5333
First of, thanks for posting the issue!

How does it become more visible and usable if it is maintained in an own repository? People can make contributions to this repository. In addition to that the WebDriver package contains of 5 files that aren't modified often.

Yeah, we are slightly working towards this idea to be able to have a [fiddle platform](https://github.com/webdriverio/webdriverio/pro

[2020-04-28 08:27] mardukbp commented on #5333
The first page of a Google search for "access shadow dom javascript" does not contain any reference to WebDriverIO or WebDriver. Instead, the top results involve hacky solutions that circumvent the shortcomings of Selenium and other libraries.

I think that if WebDriver had its own repository with a README file advertising its API for accessing shadow DOM elements it would become more widely known

[2020-04-28 08:38] christian-bromann commented on #5333
I am not sure if this is a good query. Note that WebDriver is for browser automation which is a difference from being a JavaScript API. Also, accessing shadow DOM is only available using the [webdriverio](https://www.npmjs.com/package/webdriverio) package, not [webdriver](https://www.npmjs.com/package/webdriver).

I am not sure how many people actually need to access shadow DOM elements as part of

[2020-04-28 09:05] mardukbp commented on #5333
The first page of "testing shadow DOM" also has no mention of WebDriverIO.

My bad. And I know it makes sense because the WebDriver specification does not (yet?) include Shadow DOM. But maybe that functionality can be made available in a separate module that does not need NodeJS. Thus providing a WebDriver implementation augmented with shadow DOM support.

A possible way to find out is to advertis

[2020-04-28 09:29] goatsy commented on #5315
@christian-bromann Can you please remove the label "Reproducible Example Missing"
Thank you

[2020-04-28 10:10] christian-bromann commented on #5333
There are sure some SEO improvements we can make. Any ideas?

I assume you want to use it in the Robot framework? If so, feel free to use the [small script](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/scripts/shadowFnFactory.js) we use for that.

WebdriverIO is a WebDriver implementation with shadow DOM support.

I still can't follow how moving any of the packag

[2020-04-28 10:30] christian-bromann commented on #5326
Please add `expect-webdriverio` to your types:

[code]

We added documentation around this in #5332 which will be deployed with the next release.

[2020-04-28 10:30] #5326 closed

[2020-04-28 11:09] nextlevelbeard commented on #5090
I see we've updated puppeteer in #5331.
From the changelog:

It likely fixes this issue.

[2020-04-28 11:24] christian-bromann commented on #5090
@nextlevelbeard can you check?

[2020-04-28 12:34] nextlevelbeard commented on #5090
Checked and problem persists. Just like @takeya0x86 said, implementation needs to change to use `uploadFile` instead of typing the text.

[2020-04-28 14:13] ntulele commented on #5307
@esaari  Oh! Thanks! Did not notice that change. (Too bad it doesn't throw any error about my misuse)

[2020-04-28 14:16] mardukbp commented on #5333
Maybe add a page highlighting the shadow-DOM capabilities of WebDriverIO. Of course including all the meta tags that lead to a higher rank in search engines.

Yes, indeed! Actually my idea is to use [Mozilla Pyodide](https://github.com/iodide-project/pyodide) which compiles CPython to WebAssembly thus enabling any Python code to run on a web browser and seamlessly interact with JavaScript. What I

[2020-04-28 14:30] christian-bromann commented on #5333
Note that you can't control the browser you are in, you can only control a remote browser in e.g. the cloud.

So if you agree, we should rename this issue to promote shadow DOM support and eventually support for react elements on the front page. Running WebdriverIO in the browser still takes longer than initially expected as there are still a lot of dependencies to Node which need cleanup.

[2020-04-28 14:31] christian-bromann commented on #5307
That's why many people use TypeScript 😉

[2020-04-28 14:54] mardukbp commented on #5333
I guess that also includes a browser running on the same machine. First I would setup the tests locally and then execute them on the cloud.

Of course I agree :)

Alright. If there is an issue I can subscribe to to follow the development it would be great.

[2020-04-28 15:20] christian-bromann commented on #5333
No. You __only__ will be able to control browsers in the cloud since you don't have any permissions to spin up apps from a browser.

[2020-04-28 15:23] mardukbp commented on #5333
What is so special about the cloud? I can run a server locally, open a browser manually, etc.

[2020-04-28 15:43] christian-bromann commented on #5333
@mardukbp if you run JS in the browser you run it in a sandbox that has no access to your machine environment. You will need some sort of service that can spin up the browser and proxy commands to it.

[2020-04-28 15:45] mardukbp commented on #5333
Yeah, I am aware of that. Thanks for the explanation :)

[2020-04-28 21:05] christian-bromann opened #5336 "Proposal: Adding network primitives to the browser object"
# Proposal

As we have better cross browser support for Puppeteer we should move forward and provide better network primitives for WebdriverIO to help user access the network layer. In addition to that these features are likely to be supported once WebDriver moves to a BiDi protocol (which is a new version of WebDriver that is currently designed by the W3C working group and browser vendors). Here

[2020-04-28 21:16] erwinheitzman commented on #5336
I love this idea and am wondering how the state of these mocks work, are they lost after the test, do they stay and have to be cleaned or reset?

[2020-04-28 21:26] christian-bromann commented on #5336
@erwinheitzman added a section to the state of mocks

[2020-04-28 21:33] erwinheitzman commented on #5336
Would it be possible to extend the given examples further like so?
[code]

[2020-04-28 21:37] erwinheitzman commented on #5336
I would love to be able to set mocks that are applied to all my sessions as well so that I do not have to define them for each session.

[2020-04-28 21:47] christian-bromann commented on #5336
Yes, updated the example.

I think this could be a WDIO testrunner config option where mocks for specific urls can be defined for all sessions up front.

[2020-04-29 06:45] wswebcreation commented on #5336
Love the idea @christian-bromann , that would make WDIO even better 🔥

I've used this [ng-apimock](https://github.com/mdasberg/ng-apimock#howto-write-mocks) a lot in the past and it gave you the ability to also change the:

- headers
- add a delay

What would also be great is if we can support something like fixtures which Cypress also has. Meaning that you load a (large) response, but are able to

[2020-04-29 06:50] mgrybyk commented on #5336
I also like that response can be a function so I can slightly adjust it for every call. It's very useful when multiple async or background calls happens and there is a need to calculate something every time

[2020-04-29 08:08] christian-bromann commented on #5336
@wswebcreation added an example for header modification and delay to the proposal. I also added a "Recording" section. I would love to have the ability to just capture network activity as a snapshot.

[2020-04-29 09:50] bcaudan commented on #5315
Could it be fixed with #5324 shipped in @wdio/browserstack-service@6.1.4?

[2020-04-29 14:26] osmolyar commented on #3196
+1

[2020-04-29 14:36] christian-bromann commented on #3196
Locking this conversation as the issue seem to be resolved and everyone who is experiencing issues should reach out to the Gitter channel with more details.

[2020-04-29 16:06] osmolyar commented on #4952
It would be great to have documentation on how to set up to use the edge driver with webdriverio.  Simply using the capabilities configuration above doesn't work.  Am trying to use selenium-standalone as well as grid with Jenkins.  Have tried downloading the latest edge driver, v81.

[2020-04-29 16:16] osmolyar commented on #4952
@RobertDiebels , where did you set the path to the driver executable?

[2020-04-29 17:12] jpaolini opened #5338 "debug module overwritten by puppeteer logging"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** v

[2020-04-30 08:00] christian-bromann commented on #5338
We have to do this hack to allow fetching log data from Puppeteer. Can you see a `debug` package in the Puppeteer node modules?

[2020-04-30 09:11] anemer opened #5339 "Allow Devtools to launch Chrome without default flags and/or Puppeteer default args"
**Is your feature request related to a problem? Please describe.**
Some of default flags shipped in [devtools/constants.js](https://github.com/webdriverio/webdriverio/blob/master/packages/devtools/src/constants.js#L8)  hinder opening some websites.
Indeed, some websites that can be used **only with Chrome** make (radical) controls like this one:
[code]

**Describe the solution you'd like**
Add an

[2020-04-30 09:12] anemer commented on #5339
I'm preparing a PR for this

[2020-04-30 09:48] SagarOnline commented on #4187
Thanks @nextlevelbeard  . Disabling w3c dialect (`w3c : false`) also worked for me. I would like to share the java code to disable w3c dialect.

`ChromeOptions options = new ChromeOptions();`
`options.setExperimentalOption("w3c", false);`
`DesiredCapabilities capability = DesiredCapabilities.chrome();`
`capability.setCapability(ChromeOptions.CAPABILITY, options);`
`.....`
`.....`

[2020-04-30 11:27] christian-bromann commented on #4795
Closing as there is nothing WebdriverIO can do here. Once Selenium 4 is released this will be supported by the grid.

[2020-04-30 11:27] #4795 closed

[2020-04-30 11:44] #4982 closed

[2020-04-30 11:45] Stejnar opened #5340 "browser.keys does release modifier keys immediately"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.16
 - **Mode:** standalone
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.1
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 81
 - **Platform name and version:**  Windows 10
 - **Additional wdio packages used (if applicable):** wdio-chromedriver-service@6

[2020-04-30 11:45] christian-bromann commented on #4982
I checked the latest v6 and it seems to work just fine. I recommend updating WebdriverIO.

[2020-04-30 11:52] christian-bromann commented on #4962
For anyone who likes to pick this up, the following needs to be done: for every command implemented in the [devtools package](https://github.com/webdriverio/webdriverio/tree/master/packages/devtools/src/commands) a comment needs to be placed in front of every exposed function - similar to how it is implemented with all [WebdriverIO commands](https://github.com/webdriverio/webdriverio/tree/master/p

[2020-04-30 11:53] christian-bromann commented on #4956
We will implement this as part of #5336

[2020-04-30 11:53] #4956 closed

[2020-04-30 11:55] christian-bromann commented on #5006
@vaibhavbarmkar any progress on this?

[2020-04-30 11:58] christian-bromann commented on #5317
Duplicate of #4484

[2020-04-30 11:58] #5317 closed

[2020-04-30 12:07] christian-bromann commented on #5340
If you want to emulate a click with modifier keys you need to use the `performActions` command to press the modifier click and click at the same time. The commands are not designed to enable this.

[2020-04-30 12:23] jpaolini commented on #5338
Yeah, all it good, makes sense so that it works with the logging. I checked the Puppeteer node modules and there isn't a debug package in there.  While waiting for [Add first level logging capability](https://github.com/puppeteer/puppeteer/issues/5786), maybe we can look into short term work arounds?  Thinking maybe a way to check if Puppeteer is being used, if it is, continue with the current pat

[2020-04-30 13:34] christian-bromann commented on #5338
I would suggest 2 things:

1) install the `debug` package with a different version in your project (e.g. pinned to 4.1.0)
2) move the patching inside the `newSession` and `reloadSession` function and ensure that it only is patched once

[2020-04-30 13:39] Stejnar commented on #5340
Ok that's good news.
As you state these commands are not designed to enable modifier + click, I will close this issue, because that is no bug.
I wished the [docs](https://webdriver.io/docs/api/browser/keys.html) would specify this a little better, to prevent people from taking the same journey and your time.

[2020-04-30 13:39] #5340 closed

[2020-04-30 14:19] jpaolini commented on #5338
@christian-bromann, great idea on the 1st option.  That works for us as a short term solution.

[2020-04-30 14:35] christian-bromann opened #5341 "Move documentation deploy to GitHub actions"
There is no reason to unnecessarily run the deploy pipeline in Travis if we can run it for tag pushes only on GitHub directly. This will carve roughly 2min out of the current travis run.

[2020-04-30 14:41] maxevilmind commented on #4484
facing the same issue

[2020-04-30 15:57] coustoue commented on #3024
Maybe it will be useful for someone. My workaround for input is:
[code]

[2020-04-30 20:30] Kriskof commented on #5247
for anybody stumbling across this and wondering, looks like they implemented a fix but I haven't tested it out yet.

https://github.com/webdriverio/webdriverio/pull/5283

[2020-04-30 22:55] toienMT opened #5343 "clearValue adds cleared value to input field"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-05-01 00:41] thescripted commented on #4962
Hey! I'd be happy to pick this up if no one has been assigned yet.

[2020-05-01 07:24] christian-bromann commented on #4962
@thescripted it's now assigned to you 😉

[2020-05-01 07:25] christian-bromann commented on #5343
Can you provide a reproducible example?

[2020-05-01 18:00] takeya0x86 opened #5345 "devtools protocol: browser.switchToFrame(null) causes a TypeError"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.6
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** Chrome 81
 - **Platform name and version:** macOS 10.15.4
 - **Additional wdio packages used (if applicable):**

**Config of Webdriv

[2020-05-01 20:06] DudaGod opened #5346 "isVisibleWithinViewport does not work correctly with fixed elements"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.14.4
 - **Mode:** Standalone mode
 - **Node.js version:** 8.6.0
 - **NPM version:** 6.2.0
 - **Browser name and version:** Chrome 72.1
 - **Platform name and version:** Linux

**Describe the bug**
Page https://yandex.ru/search/?text=test has fixed header element with selector - `.serp-header__wrapper`. After

[2020-05-01 21:33] diervo commented on #5319
This was fixed in node 14.1.0

[2020-05-01 21:33] #5319 closed

[2020-05-01 23:14] christian-bromann commented on #5319
Thanks for following up on this!

[2020-05-02 03:11] b-tsao commented on #5340
Would it be possible for keys to take an optional callback function where if a callback function is provided keyUp is sent after the callback is complete?

[2020-05-02 17:16] #5090 closed

[2020-05-02 19:02] takeya0x86 commented on #5345
I also found `browser.switchToFrame(number)` doesn't work...

[code]

**Log**
https://gist.github.com/takeya0x86/a62efef8c3522b8a4f46f01909eb4851

[2020-05-03 15:00] DudaGod commented on #5346
@christian-bromann Hello, can you look at this issue? Is v4 still supported?

[2020-05-03 15:54] christian-bromann commented on #5346
No. v4 is not supported anymore. I will close the issue as I don't think anyone would be interested in fixing this. If so, please make a PR here: https://github.com/webdriverio-boneyard/v4

[2020-05-03 15:54] #5346 closed

[2020-05-04 09:46] vilkg commented on #4982
Hi! I'm having the same issue here with wdio v6. I see a bunch of cdp event logs from devtools service, suggesting that it works, but `browser.getDiagnostics()` or `browser.getMetrics()` is not a function. Any tips?

Environment: node 12, OSX.

[2020-05-04 11:24] christian-bromann commented on #4982
@vilkg a reproducible example would be helpful

[2020-05-04 11:45] goatsy commented on #5315
@bcaudan I found out that with 6.1.4 now setting the status of tests (Passed/Failed) works again.
But in case the test fails you still get "(Marked via REST API : **Unknown Error**)" instead of the real error reason.

[2020-05-04 13:17] lh104 opened #5352 "WebdriverIO misses type support to Devtools service"
error TS2339: Property 'cdp' does not exist on type 'BrowserObject' when calling browser.cdp('Profiler', 'enable') in Typescript.

[2020-05-04 13:34] christian-bromann commented on #5352
I suggest to add a type definition to the [@wdio/devtools-service](https://github.com/webdriverio/webdriverio/tree/master/packages/wdio-devtools-service) similar to how we have these in other services and then allow the user to add them to their TypeScript config like:

[code]

[2020-05-04 17:25] toienMT commented on #5343
Could be related to this? https://github.com/webdriverio/webdriverio/issues/1140

[2020-05-04 18:14] Pratikhanagodimath opened #5358 "New feature request- Add Largest contentful paint (LCP) to devtools service getMetrics() function."
**Is your feature request related to a problem? Please describe.**
The feature ask is not related to any problem. Currently, getMetrics() function does not include LCP (largest contentful paint) metric. With the performance evaluation moving towards LCP, this metric is important. It will be great to have this metric.

**Describe the solution you'd like**
I was told that webdriverIO is still not us

[2020-05-04 18:25] christian-bromann commented on #5358
This is something that should be made possible by updating the Lighthouse version in the devtools service. Any help on this would be appreciated.

[2020-05-05 06:19] wswebcreation opened #5359 "Provide status pending as a test status"
**Is your feature request related to a problem? Please describe.**
When making a reporter and using `import WDIOReporter from '@wdio/reporter' 3 methods are provided to report data about the step:
- `onTestPass`
- `onTestFail`
- `onTestSkip`

But with for example CucumberJS you can also get a `pending` status back. This is now reported in for example the `@wdio/spec-reporter` as `skipped` because

[2020-05-05 14:52] christian-bromann commented on #5352
Fixed in #5361

[2020-05-05 14:52] #5352 closed

[2020-05-05 15:10] George-BC opened #5362 "Scrolling does not work on iOS"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.22.4
 - **Mode:** Standalone
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.13.4
 - **Platform name and version:** iPhone X, iOS 13.4

**Describe the bug**
I have a scroll function that works perfectly fine on Android but not at all on iOS (crashes app). I tried using the example code from the [docume

[2020-05-05 15:30] christian-bromann commented on #5362
This is likely to be an issue with Appium. There is really nothing in WebdriverIO that can cause the iOS app to crash. WebdriverIO might tell Appium incorrect action information but without Appium logs it is hard to tell. Can you please raise an issue in the Appium project and provide some Appium logs? Cheers!

[2020-05-05 15:30] #5362 closed

[2020-05-05 18:43] erwinheitzman commented on #5359
Cucumber also treats these three as a single state though:
[code]
How would you suggest we handle these without breaking this for Mocha and Jasmine?

[2020-05-05 22:55] Masadow opened #5363 "Region ignored in sauce service"
**Environment (please complete the following information):**
 - **WebdriverIO version:** latest
 - **Mode:** testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** NC
 - **Platform name and version:** NC
 - **Additional wdio packages used (if applicable):** @wdio/sauce-service

**Config of Webdrive

[2020-05-05 22:59] christian-bromann opened #5364 "Allow support for fibers v4 and v5"
**Is your feature request related to a problem? Please describe.**
Fibers got updated to v5 to support Node.js v14. Updating it would break support for Node.js v10. Also the fibers maintainer has announced to not further maintain the package which leads to the question how we want to further provide support for synchronous execution.

Any help or feedback is appreciated.

[2020-05-05 23:05] christian-bromann commented on #5363
@Masadow I don't see `region` being documented as option for the [Sauce Service](https://webdriver.io/docs/sauce-service.html#sauce-service-options). As you already pointed out (as "workaround") the proper way to define it is via the [options](https://webdriver.io/docs/options.html#region).

[2020-05-05 23:05] #5363 closed

[2020-05-05 23:24] apkatsikas commented on #5239
@christian-bromann - seems this issue exists in v6. I would like to fix it for an upcoming v6 jasmine framework release. Should I file a new issue or use this?

[2020-05-05 23:32] christian-bromann commented on #5239
@apkatsikas you can use this.

[2020-05-05 23:34] apkatsikas commented on #5239
@christian-bromann ok, can you assign to me?

[2020-05-06 06:23] wswebcreation commented on #5359
Hi @erwinheitzman

CucucmberJS offers the following status options

[code]

My suggestion would be to provide this status separately or provide a way to use this status.

[2020-05-06 08:14] Masadow commented on #5363
@christian-bromann It is under configuration on the page you provided

[2020-05-06 08:33] christian-bromann commented on #5363
Ah, I was blind I guess, anyway it is wrong documented, will fix it.

[2020-05-06 14:20] dimkin-eu opened #5366 "Allure reporter issues while running with devtools service"
**Environment (please complete the following information):**
 - **WebdriverIO version:**  6.1.8
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:**  sync
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:**  Chrome 81
 - **Platform name and version:** macOS Catalina 10.15.4 (19E287)

**package.json**
"devtool" config
[code]
"chromedri

[2020-05-06 15:08] christian-bromann commented on #5366
It seems that the `devtools` package doesn't log the appropriate information that the Allure reporter listens to.

- afaik there is a event thrown when a screenshot is being taken, this event seems to not being throws in [takeScreenshot.js](https://github.com/webdriverio/webdriverio/blob/master/packages/devtools/src/commands/takeScreenshot.js)
- not GET and POST requests are being logged because t

[2020-05-06 16:51] mikol-styra opened #5367 "devtools: Transpiled luancher.js is importing puppeteer-core/DeviceDescriptors incorrectly, crashing wdio cli"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.8
 - **Mode:** standalone
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.13.1
 - **NPM version:** 6.14.5
 - **Browser name and version:** Google Chrome 81.0.4044.138
 - **Platform name and version:** macOS 10.14.6
 - **Additional wdio packages used (if applicable):**  @wdio/

[2020-05-06 16:56] erwinheitzman opened #5368 "Update of puppeteer-core breaks the launcher"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.8
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.14.4

**Describe the bug**
Puppeteer has moved away from Javascript and is now fully converted to Typescript.
This change broke some of the functionality in the launcher

[2020-05-06 17:28] mikol-styra commented on #5367
**Workaround:** Lock the `puppeteer-core` version:

[code]

[2020-05-06 18:16] christian-bromann commented on #5367
Puppeteers last release broke the way we imported the device descriptors. I patch for it is on its way: #5369

[2020-05-06 18:16] #5367 closed

[2020-05-06 18:16] christian-bromann commented on #5368
Let's continue conversations in #5369

[2020-05-06 18:16] #5368 closed

[2020-05-06 18:56] meruga92 opened #5370 "(node:36760) UnhandledPromiseRejectionWarning: TypeError: Cannot convert undefined or null to object"
**Environment (please complete the following information):**
 - **WebdriverIO version:6.1.8**
 - **Mode:Standalone mode**
 - **If WDIO Testrunner, running sync/async: sync**
 - **Node.js version:12.16.1**
 - **NPM version:6.13.4**
 - **Browser name and version: appium(1.16.0) **
 - **Platform name and version: Mac **

package.json
[code]

**Config of WebdriverIO**
[code]

**Describe the bug**
I up

[2020-05-06 19:05] #5345 closed

[2020-05-06 19:05] christian-bromann commented on #5370
This was fixed by #5369, making a release now.

[2020-05-06 19:05] #5370 closed

[2020-05-06 19:09] christian-bromann commented on #5339
An enhancement to this was merged and released. Closing!

[2020-05-06 19:09] #5339 closed

[2020-05-06 19:17] christian-bromann commented on #5020
For anyone interested in helping out improving the docs on this:

- an example on how GitHub Actions can be used to run WebdriverIO tests is demonstrated in the Jasmine Boilerplate (see link in last post)
- I would suggest to create a new documentation page for documenting integration with GitHub actions here: https://github.com/webdriverio/webdriverio/tree/master/docs
- WebdriverIO is using [Docu

[2020-05-06 19:22] jugalj05hi commented on #5020
Hello there, I'm totally new to the world of Open Source and I'd like to give this a try. This would be my first meaningful contribution to the open-source community.
Thank you.

[2020-05-06 19:27] christian-bromann commented on #5020
I assigned this task to you! I am super stoked you help us out. Let me know if you have any questions along the way.

[2020-05-06 20:19] jugalj05hi commented on #5020
Hello there, just to be clear, the documentation should be similar to the one provided in [Jasmine Boilerplate](https://github.com/webdriverio/jasmine-boilerplate/blob/master/README.md) i.e the three points mentioned in quick start section. And what shall be the name of the file be? Pardon me asking silly questions, this is my first contribution and I may find simplest of the task very challenging

[2020-05-06 20:38] christian-bromann commented on #5020
There are no silly questions!

In the Jasmine Boilerplate I just added an example how such a [GitHub action](https://github.com/webdriverio/jasmine-boilerplate/blob/master/.github/workflows/ci.yaml) could look like. I think the issue authors intention was to have a general documentation page how someone would use WebdriverIO using GitHub actions. So I would create new docs page by adding a markdow

[2020-05-07 01:45] sanlengjingvv opened #5372 "Add api for appium image comparison features"
**Is your feature request related to a problem? Please describe.**
I'm trying use appium's image comparison function via this document:
https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/image-comparison.md
but can't find api for this.

**Describe the solution you'd like**
Maybe a new api like browser.compare_images(mode, firstImage, secondImage, {options})

[2020-05-07 05:16] jdavis61 commented on #5018
mermaid.js has introduced a new subroutine shape. I will update the flow charts once this shape is working in the mermaid library. Introducing a subroutine shape into the WebdriverIO flow chart will hopefully make them easier to understand.

Please see https://github.com/mermaid-js/mermaid/pull/1345 for more information regarding the mermaid.js subroutine shape.

Cheers!

[2020-05-07 07:12] christian-bromann commented on #5372
According to Appiums [Base Driver](https://github.com/appium/appium-base-driver/blob/master/lib/protocol/routes.js#L694-L702) the command is defined under the route `[POST] /session/$sessionId/appium/compare_images`. This feature can be easily added by adding it to the Appium [protocol definition](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-protocols/protocols/appium.json)