[2018-12-09 13:42] christian-bromann commented on #3111
@LayMuiToh can you provide a reproducible example?

[2018-12-10 06:00] jlipps opened #3114 "latest 5.0 beta 13 has incorrect sendKeys definition for w3c"
According to [w3c spec](https://w3c.github.io/webdriver/#dfn-element-send-keys), parameter for send keys is `text` and has type `string`, but this is the definition in webdriverio's webdriver.json:

[code]

it is a parameter called `value` with type `string[]`. this is the old jsonwp format.

in an earlier version of 5.0 this was correct, and now it is incorrect; maybe a copy/paste issue?

[2018-12-10 09:55] christian-bromann commented on #3110
It is not up to WebdriverIO whether or not CSS is being parsed or not. This must be a configuration thing in Chrome.

[2018-12-10 09:55] #3110 closed

[2018-12-10 09:56] christian-bromann commented on #3108
Let's continue convo in #3113

[2018-12-10 09:56] #3108 closed

[2018-12-10 09:57] christian-bromann commented on #3109
Can you provide some logs please?

[2018-12-10 10:45] christian-bromann commented on #3102
@thesunny could you please review the fix for this in #3116?

[2018-12-10 10:45] #3102 closed

[2018-12-10 11:22] shackijj commented on #2484
Hello @christian-bromann!
What was the reason for closing #2930?
I can implement the feature in the master branch (v5) and create a PR. Is there a chance that the PR will be merged?

[2018-12-10 12:18] christian-bromann commented on #2484
See my [comment here](https://github.com/webdriverio/webdriverio/pull/2930#issuecomment-445795829). Feel free to create a new PR. I will be able to merge it easier this time because I can setup a proper pipeline for v4 now.

[2018-12-10 12:36] christian-bromann commented on #3056
Moved v4 repo to https://github.com/webdriverio-boneyard/v4. Used [bfg-repo-cleaner](https://rtyley.github.io/bfg-repo-cleaner/) to remove:

[code]

Checkout out fresh repo and size is now by 9.7mb which is reasonable. I will attach the bfg reports:

[cache-stats.txt](https://github.com/webdriverio/webdriverio/files/2663119/cache-stats.txt)
[deleted-files.txt](https://github.com/webdriverio/webdri

[2018-12-10 12:36] #3056 closed

[2018-12-10 15:21] raketenolli commented on #3107
It should work. Try it locally and do not touch the mouse while the test is executing. You should be able to witness the intended behavior. What you will not see is a mouse cursor moving around, only the effects of the mouse being clicked and moved.

[2018-12-10 15:36] pmerwin commented on #2128
Promise was rejected with the following reason: ESOCKETTIMEDOUT seeing this a lot on sauce with chrome latest on osx .

[2018-12-11 17:20] thesunny commented on #3102
@christian-bromann

I'm not too familiar with the code, but I wonder if that needs a condition attached. Something like:

[code]

This way if the `options.logLevel` is not present, we don't `logger.setLevel(undefined)`.

[2018-12-11 18:39] christian-bromann commented on #3102
@thesunny does it throw an error?

[2018-12-11 20:44] liuallen1981 commented on #3107
@raketenolli is there something wrong with my code, see my first post. I ran it many times without touching the mouse while the test is executing but I still don't see any effects of the mouse being clicked or moved. Does the version of the selenium, webdriverio, test runner matter? How about the UI framework? I use my company's internal UI framework which is based on foundation framework.

[2018-12-11 22:07] seanpoulter commented on #3082
Have we (in the community) reached out to @zinserjan to discuss how they'd like to support the two repos? 🤔 As a dev looking to recommend an open-source visual regression testing tool it'd be lovely to see the services "officially" supported.

[2018-12-11 22:11] abjerstedt commented on #3082
@seanpoulter https://github.com/zinserjan/wdio-visual-regression-service/issues/85

This issue was logged in August and hasn't seen any response.

[2018-12-11 22:16] emilyrohrbough commented on #3082
@seanpoulter The maintainer of those repos hasn't been involved since April-ish and his last communication was minimal on a PR.

@abjerstedt  Sorry for the delayed response. I have spoken with my team and we unfortunately are not at capacity to pick up this work for webdriver.io v5.

[2018-12-11 22:24] seanpoulter commented on #3082
Yep, Jan-André (@zinserjan) has no GitHub activity since May. Have you tried anything off GitHub @abjerstedt to make sure they're OK? You're both members of the [WebdriverIO](https://github.com/orgs/webdriverio/people) organization. 😉

[2018-12-11 22:46] abjerstedt commented on #3082
@seanpoulter I've never interacted with the him. Christian just made me a member like 8 days ago!

Anyways, as I mentioned earlier - I haven't fully decided if i want to port this over personally. I'm allowed to spend working hours contributing to WDIO, but it has to be to the benefit of my company; and as of yet, non of my developers have taken up usage of the tool.

If you are interested, i can

[2018-12-11 23:30] jrobinson01 commented on #3084
There appears to also be a problem in `afterAll`.

[2018-12-12 00:35] seanpoulter commented on #3082
8 day? **Congratulations!** 🎉

You're not using it the service, and I haven't even got it working yet. 😆I've just found it today exploring open source options for visual regression testing.

When's v5 set to ship? I'd be game to pick this up in Feb if we haven't found folks to move this forward.

[2018-12-12 04:42] gurunanakdevji opened #3121 "Installed latest version of WebdriverIO and faced Multiple cucumber report related Basereporter.js issue and when stopped using this reporter then faced ERROR: Unable to create new service: ChromeDriverService"
I have installed latest version of webdriverio ("webdriverio": "^4.14.1")  and my node version is v8.11.3 and I am using testrunner. After completing the complete installation i tried running the test through test runner and  faced below multiple cucumber report issue and then i stopped using this reporting and then again tried running the test then i faced the issue "ERROR: Unable to create new s

[2018-12-12 07:19] raketenolli commented on #3107
@liuallen1981 I don't know the website or your UI framework, so it's hard to guess what should be happening. One problem might be that your `moveToObject` selector is the object which is being dragged itself.

[2018-12-12 09:43] christian-bromann commented on #3082
By end of this year

[2018-12-12 09:46] christian-bromann commented on #3121
at MultipleCucumberHtmlReporter.determineMetadata (C:\NotBackedUp\test-project-wdf-automation\node_modules\wdio-mult
iple-cucumber-html-reporter\build\reporter.js:375:54)

This error was thrown in wdio-multiple-cucumber-html-reporter. You might want to create an issue there.

Also this service is not part of core WebdriverIO so you should raise an issue there as well.

[2018-12-12 09:46] #3121 closed

[2018-12-12 09:51] mikhail-amurov commented on #1140
I've started to face this issue as well for react application since i've upgraded
"wdio-selenium-standalone-service": from  "0.0.10" to "0.0.11".

[2018-12-12 14:19] sriramcse31 commented on #3003
Resolved the issue by downgrading to node version 8.9.4.

[2018-12-12 14:21] sriramcse31 commented on #3003
The issue with version 10.13.0 still exist.

[2018-12-12 17:32] christian-bromann commented on #3106
@thesunny The problem with this check is that it will be always executed and would slow down the test for every click command you invoke. Why can't you just use the `pause` command to wait until the animation is over?

[2018-12-12 21:45] thesunny commented on #3106
@christian-bromann

Hmm... the performance implication is something to think about.

Just to clarify, this is the code I'm using personally but, as mentioned in the post, it is just an example and I was not recommending to use the code as-is in WebdriverIO.

Here's my thoughts and ideas for improvements.

**Options Argument**

So first of all, I think `click` could benefit from an `options` argume

[2018-12-12 21:49] christian-bromann commented on #3106
@thesunny Would you mind answering the following?

I am sure you don't deal with animated elements all the time. So why not just pause for the ones that animate?

[2018-12-12 21:59] thesunny commented on #3106
@christian-bromann

That's a good question. There are three reasons why I prefer this:

1. The animation length can change: I will tweak the animation faster or slower quite frequently to get the right feel. Using a pause instead of an animation check means that I would have to update the tests each time I made a tweak to the animation CSS.

2. It's better for new users: Animations are common and

[2018-12-12 22:03] thesunny commented on #3106
Possible API:

[code]

So if we were to default to safety mode, then we explicitly turns off safety for speed:

[code]

Or conversely, if we default to fast mode, then we explicitly turn on safe mode. I recommend the word `safe` by the way instead of something to do with animation so that if we add other safe checks in the future, we don't need to add another one.

[code]

Actually, although I adv

[2018-12-12 22:10] christian-bromann commented on #3106
two things:

1. What type of animation are we talking here? If it is just a transition the driver should be able to still click on it
2. `safe` is imo not a right property name for it, by applying it the click waits for an animation to finish, this has nothing to do with clicking something "safely"

Anyway those kind of things might be worth discussing on the protocol level so it is implemented in

[2018-12-12 22:19] dmhalejr commented on #3045
@christian-bromann Hey I'd love to claim this. Is the above double encoding workaround define above be the proper solution for the code base?

[2018-12-12 22:30] christian-bromann commented on #3045
@dmhalejr of course, thanks! We moved the v4 code base to https://github.com/webdriverio-boneyard/v4. I am not sure if this bug still applies for v5

[2018-12-12 23:57] thesunny commented on #3106
1. It can't. It fails on my tests.
2. I'm open to other suggestions. I used `safe` because without it, the `click` could fail unpredictably which feels dangerous. But like I said, any improvements on naming are welcome.

So an example is if you are opening a sidebar and it slides in. Then you want to click a link in that sidebar. That could fail.

Another example (the main problem I'm having) is t

[2018-12-13 04:51] dmhalejr commented on #3045
@christian-bromann Per the PRTemplate -- I don't mind proposing the same change to the v5 repo for this proposal as well and will follow your lead if you think it's necessary. Thanks for all you do! 🙇

[2018-12-13 09:46] GCHQDeveloper911 opened #3125 "Report all failed expectations, not just first"
If I have a test:

describe('my suite', () => {
it ('tests something', () => {
expect(1).toEqual(2);
expect(2).toEqual(3);
console.log('oh dear');
})
})

Then obviously this fails - but only the "1=2" expectation is reported. It would be good to see all failed expectations. The test IS running through, because I see my console log output.

[2018-12-13 09:55] christian-bromann commented on #3125
Not sure which framework you are using here, I am guessing it is Jasmine. This is a behavior that Jasmine has implemented and if you want to change it you need to make a feature request there. WebdriverIO can't detect the second failure.

[2018-12-13 09:55] #3125 closed

[2018-12-13 10:18] Bamieh commented on #3056
Awesome

[2018-12-13 14:05] StephenABoyd opened #3127 "Add the ability to send custom error messages to wait commands."
**Is your feature request related to a problem? Please describe.**
I would like to add the ability to pass custom error messages to the ```wait``` commands. So instead of ```element still not visible after 10000ms```, we could have something like ```That option never appeared in the dropdown```

**Describe the solution you'd like**
With v5 I would recommend something like this:

[code]

**Describe

[2018-12-13 14:12] abjerstedt commented on #3127
Personally,  I'd rather put the message at the end if we do this. I find a negative check more useful than this,  and don't want to have to fill in an extra undefined for every negative test.

[2018-12-13 14:18] StephenABoyd commented on #3127
Yeah I wouldn't mind adding false to the parameters for the custom messages.

[2018-12-13 14:22] christian-bromann commented on #3127
@StephenABoyd feel free to provide a PR with this enhancement

[2018-12-13 16:31] emilyrohrbough commented on #3106
@thesunny if your css transition has not completed before you try to click on it, it shouldn't be the click functions responsibly to know and wait for it to complete. That is an implementation detail of your test page, so the test for that page should be rewritten to acknowledge the transition by either waiting for it to complete or pausing...

If you feel strongly about creating a helper to pause

[2018-12-13 18:17] thesunny commented on #3106
@emilbryggare I've already done that. There is no personal benefit for me to have this feature implemented.

You say "a click function should be just that, a click." I might actually subscribe to this logic except that it is already false in Webdriver. Webdriver (not this library but the spec) already goes beyond just being a clicker. For example, it already ensures the element is displayed before

[2018-12-13 18:31] emilyrohrbough commented on #3106
Is that consistently implemented across drivers?

[2018-12-13 18:37] christian-bromann commented on #3106
@thesunny you are right, which is why I was about to make a proposal to the W3C spec but therefor it would be good to get more insights into the problem.

[2018-12-13 18:42] abjerstedt commented on #3106
I STILL don't think we should put this behavior in the native click command.

@thesunny @emilbryggare @christian-bromann Trying to reference the scroll to on the click as an example of making the click safer is kind of a strawman argument. It is IMPOSSIBLE for a user to actually click on an element if it is offscreen, unless they use JS or some other event to call it.

[2018-12-13 18:44] emilyrohrbough commented on #3106
Total side note, but @abjerstedt & @thesunny you have both tagged the wrong Emily on your comments 😋

[2018-12-13 19:45] worc commented on #3109
i ran into the issue again today, and it's a red herring more than anything else. in the source code for the step definitions i have a selector that uses either single quotes or backticks:

[code]

but if that element can't be clicked then the error printed to the command line makes it look like the quotes were converted incorrectly. so i'm looking at this error message thinking *yeah, if you don'

[2018-12-13 20:38] bjankord commented on #3106
My preference would be to not overload `click` more so than it is already. I agree with @emilyrohrbough that animations are an implementation detail of your test page, so the test for that page should be rewritten to acknowledge the transition by either waiting for it to complete or pausing.

One issue I'm curious about @thesunny, it sounds like the animation check would only check postion/offset

[2018-12-13 21:03] abjerstedt commented on #3109
@worc as a side note, i highly recommend you make a custom command that wrappers click and makes sure that you wait for the element to be at a minimum visible, and probably also enabled before any click.

On this topic, since you determined that the issue has nothing to do with escaping, are we good to close this?

[2018-12-13 22:37] abjerstedt commented on #3106
@thesunny I don't think anyone is arguing against your safeClick() - At least in my case, i just don't want the base method to do it. Again, I'm all for adding a different method.

[2018-12-13 23:50] worc commented on #3109
@abjerstedt that sounds like an anti-pattern and trying to hammer everything into a nail. not every part of a step definition is going to require a `waitForVisible`.

and i think there's still an issue standing here with the logging providing misleading values back to a dev.

[2018-12-14 05:05] allentsliu commented on #3107
@raketenolli do you know if there is a way to draw a line on the selected object (img). It might be what you pointed out that the moveToObject just drag the selected object which is not what I want. But I am not quite sure how to check it.

[2018-12-14 09:49] khanhdodang commented on #3044
Hi @sanjeethgwd,

Please try with this

`browser.timeouts({
  'script': 60000,
  'pageLoad': 60000,
  'implicit': 60000
})`

Or

`browser.timeouts({'type': 'script', 'ms': 60000})`
`browser.timeouts({'type': 'page load', 'ms': 60000})`
`browser.timeouts({'type': 'implicit', 'ms': 60000})`

[2018-12-14 11:52] GCHQDeveloper911 commented on #3125
Hi Christian,
You guessed correctly - we're using Jasmine. I've been able to modify:

webdriverio/build/lib/utils/ReporterStats.js (4.14)
webdriverio/build/lib/utils/BaseReporter.js (4.14)
wdio-jasmine-framework/build/reporter.js (0.3.8)

to provide the functionality I was describing - with additional changes to wdio-spec-reporter (0.1.5) by way of an example reporter to display this "expanded" ou

[2018-12-14 12:00] christian-bromann commented on #3125
Yes please, we still support v4 but don't do any active development on it due to the work in v5. So it would be amazing if the changes can be applied to both code bases.

[2018-12-14 12:06] TE-jp12973 opened #3129 "Question about API getAttribute"
**Pre-check**
- [ ] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**
API getAttribute()
### Example
[code]
### getAttribute\.js
[code]
**W

[2018-12-14 13:39] christian-bromann commented on #3129
Like in jQuery or with `document.querySelector` it will fetch the first element it can find. To find the other form you need to either provide a better selector or do `$$('form')[1]`.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of ques

[2018-12-14 13:39] #3129 closed

[2018-12-14 13:56] sanjeethgwd commented on #3044
@khanhdodang Thanks, I could resolve with below

[code]

[2018-12-14 13:56] #3044 closed

[2018-12-14 14:16] abjerstedt commented on #3125
@GCHQDeveloper911 An assertion is simply a method that compares something, and ft it fails, throws an exception. An it() block is simply a reporting block of code that has a try catch, and if it catches something - flags the block as failed. You are asking to completely change the expected behavior of a well established framework to fit bad functional test writing practice.

You are supposed to cr

[2018-12-14 14:19] christian-bromann commented on #3125
That how it works in Mocha. In Jasmine the test continues which is why this actually is a well point made by @GCHQDeveloper911

I still like to see the changes to see what the fix will bring.

[2018-12-14 14:32] abjerstedt commented on #3125
I talked to christian outside of this, and he set me straight. I'm thinking in a mocha context.

[2018-12-14 17:28] kkjdaniel opened #3130 "Headless Chrome causing tests to fail?"
I have written a number of tests that successfully pass when running through the Chrome Driver normally, however if running with Headless Chrome, all of the tests fail. As they cannot find the element and instead timeout. I have tried passing the `window-size` argument, but that didn't resolve the issue.

[code]

The error thrown by Jasmine...

`An element could not be located on the page using th

[2018-12-14 18:51] abjerstedt commented on #3130
@kkjdaniel - As a heads up, you are using a driver that is 6 versions behind. ChromeDriver 2.39 only supports Supports Chrome v66-68 and production chrome is 71.

But more importantly, you need to give more details. Are you running this headless version locally? Are you running it on the grid? Are you running it on a docker container?

Thats a very generic error.

[2018-12-14 18:55] dbuck commented on #1437
In case anyone else stumbles on this also:

per https://w3c.github.io/webdriver/#dfn-switch-to-frame and the description in the [webdriver.json](https://github.com/webdriverio/webdriverio/blob/96801efd9a6881f917e8ef6bbd65cbe4797f2d11/packages/webdriver/protocol/webdriver.json#L177) file, you can also send null to select the top level context:

[code]

[2018-12-14 19:38] kkjdaniel commented on #3130
You're right about the outdated versions, unfortunately, I am in a sort of slightly locked down enviroment. Which means Chrome was pinned at v66. Which required the use of the older Chrome Driver. I will probably upgrade this if it proves to be an issue. However, as far as I'm aware support for Headless Chrome was introduced back in Chrome 59?

The environment is purely local at this stage. I have

[2018-12-15 01:53] SeanHayes opened #3131 "How to send Selenium commands?"
I'm trying to enable downloads in headless Chrome and some posts online indicated I should do the following:

        const command = require('selenium-webdriver/lib/command');

        const cmd = new command.Command("SEND_COMMAND")
        .setParameter("cmd", "Page.setDownloadBehavior")
        .setParameter("params", {'behavior': 'allow', 'downloadPath': process.env.DOWNLOAD_DIR});
        dri

[2018-12-15 03:03] abjerstedt commented on #3131
Selenium-webdriver has nothing to do with wdio.

[2018-12-15 03:03] #3131 closed

[2018-12-15 07:44] LayMuiToh opened #3132 "ERROR: jest is not defined"
**Environment (please complete the following information):**
 - **WebdriverIO version:** "^4.13.2"
 - **Mode:** : WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:**  : sync
 - **Node.js version: v9.1.0
 - **NPM version:** :6.4.1
 - **Browser name and version:** NA
 - **Platform name and version:** iOS 12.0
 - **Additional wdio packages used (if applicable):** : NA

**Config of Webdriv

[2018-12-15 14:13] abjerstedt opened #3134 "Add the ability to add commands to the element prototype in v5"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
At the moment, v5 does not support adding commands to an element that get universally applied. You can either add a browser command, or you can add a command to the instance of an element.

This will likely be a serious regression for many

[2018-12-15 16:55] rodrigodiez commented on #3068
Thanks @BorisOsipov that is really useful

[2018-12-15 17:41] christian-bromann opened #3135 "Add Chromium specific commands to browser object"
Add https://github.com/bayandin/chromedriver/blob/master/client/command_executor.py#L168-L179 to as chrome specific commands

[2018-12-15 17:41] christian-bromann commented on #3131
see #3135

[2018-12-15 17:42] christian-bromann commented on #3132
Not sure how this is related to WebdriverIO at all.

[2018-12-15 17:42] #3132 closed

[2018-12-16 03:39] LayMuiToh commented on #3111
This is resolved. I need to pass in a String

[2018-12-16 03:49] LayMuiToh opened #3136 "ERROR: Cannot find module 'NativeModules'"
**Environment (please complete the following information):**
 - *./wdio --version
v4.14.0

Mode: WDIO Testrunner]

**If WDIO Testrunner, running sync/

**Node.js version:node --version
v9.1.0

**NPM version:npm --version
6.4.1

Browser name and version: NA (mobile native app) browser= "" in wdio.config.js

Platform name and version: macOS High Sierra 10.13.6

**Additional wdio packages used (if ap

[2018-12-16 20:17] #3111 closed

[2018-12-16 20:52] christian-bromann commented on #3136
Not sure how this is related to WebdriverIO. Closing

[2018-12-16 20:52] #3136 closed

[2018-12-17 06:53] gurunanakdevji opened #3137 "npm install wdio-iedriver-service --save-dev is FAILING"
Already running tests on Chrome and I urgently need to run my automation test on IE Browser, so I tried installing iedriver using "npm install wdio-iedriver-service --save-dev", but it failed with below error (mentioned error from both command line and log file). Please help.

COMMAND LINE ERROR DETAILS:

PS C:\NotBackedUp\WDF_Automation> npm install wdio-iedriver-service --save-dev
npm ERR! Error

[2018-12-17 06:54] gurunanakdevji commented on #3137
Please let me know if there is any other way to install. Thanks

[2018-12-17 07:36] abjerstedt commented on #3137
This has nothing to do with webdriverio.

Also, the error tells you the problem - read it again.

[2018-12-17 07:36] #3137 closed

[2018-12-17 17:46] srghma opened #3139 "Cannot read property 'default' of .... error when services key is empty"
Environment (please complete the following information):**
 - **WebdriverIO version:** 5.0.0-beta.15
 - **Mode:** [Standalone mode or WDIO Testrunner] -- dont know, local
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] -- sync
 - **Node.js version: [e.g. 8.9.1] -- v10.14.2
 - **NPM version:** [e.g. 5.8.0] -- 6.4.1

Full errror https://pastebin.com/wE6DLNVu
Full package.json https:

[2018-12-17 18:08] #3097 closed

[2018-12-17 19:42] SivanMehta commented on #3104
@christian-bromann I can reproduce this issue **with** `wdio-local-runner`

WebdriverIO version: `5.0.0-beta.15`
Mode: `mocha` test runner
- running sync
- Node.js version: 8.9.4
- NPM version: 6.4.1

Browser name and version: never gets to browser, just exits before browser launches
Platform name and version: MacOSX High Sierra
Additional `wdio` packages used (if applicable):

[code]

When diggin

[2018-12-17 19:46] christian-bromann commented on #3104
[code]

[2018-12-17 19:49] abjerstedt commented on #2954
I'm gonna drill some more into this, and see if i can track down why the hook order is messed up.

[2018-12-17 20:00] abjerstedt commented on #3104
@SivanMehta All INTERNAL wdio packages (except webdriverio and webdriver) are under the @wdio namespace now.
@wdio/local-runner
@wdio/mocha-framework
etc

[2018-12-17 20:27] abjerstedt opened #3142 "v5 mocha reporter issues"
**Environment (please complete the following information):**
 - **WebdriverIO version:** v5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version: 8.11.2
 - **NPM version:** [e.g. 5.8.0]
 - **Browser name and version:** Any
 - **Platform name and version:** Any
 - **Additional wdio packages used (if applicable):** @wdio/mocha-framework

[2018-12-17 20:39] SivanMehta commented on #3104
Thanks guys that resolved _my_ issues. Now I just have wrestle with the API differences in `wdio@5`

[2018-12-17 21:01] abjerstedt commented on #3104
@SivanMehta https://github.com/webdriverio/webdriverio/blob/master/CHANGELOG.md

[2018-12-17 21:13] christian-bromann commented on #3104
Closing this then.

[2018-12-17 21:13] #3104 closed

[2018-12-17 21:35] OP-Klaus commented on #2298
I have just run into this problem too - I have a component that enters a value on `blur` if the entered value was invalid, and that means that `setValue` and `addValue` fail. It would be good to have a solution that can clear the input field and enter the new value without triggering a blur event, to simulate what would happen for a real user.

In the meantime I have used jQuery to do it:

[code]

[2018-12-17 22:39] dylanlive opened #3143 "Execute command doesn't use W3C with Edge Webdriver"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [4.14.0]
 - **Mode:** [TestRunner mode]
 - **If WDIO Testrunner, running sync/async:** [Sync]
 - **Node.js version:** [8.14.0]
 - **NPM version:** [6.4.1]
 - **Browser name and version:** [Edge 44.17763.1.0]
 - **Platform name and version:** [Windows 10 Build 1809]
 - **Additional wdio packages used (if applic

[2018-12-18 04:08] gurunanakdevji opened #3146 "rightClick issue in Internet Explorer"
The statement browser.elements(elementselector).value[1].rightClick() is working fine in Google Chrome but this is not working in Internet Explorer 11 i.e. right click is not happening in IE 11. Please check.

[2018-12-18 05:15] abjerstedt commented on #3146
I'm going to close this PR, and ask that you open a new one actually using the template.

You are missing a significant number of details, including logs, what versions you are using, etc.

[2018-12-18 05:15] #3146 closed

[2018-12-18 05:18] abjerstedt commented on #3127
This issue has been resolved by https://github.com/webdriverio/webdriverio/pull/3128

[2018-12-18 05:19] #3127 closed

[2018-12-18 08:55] christian-bromann commented on #3143
Yes, absolutely!

[2018-12-18 12:43] christian-bromann opened #3147 "Allow to pick different documentation versions with Docusaurus"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**

The new documentation page misses a dropdown to pick from past versi

[2018-12-18 12:46] christian-bromann opened #3148 "Provide documentation for more than just one language"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**

WebdriverIO should provide its docs in more than just English. Anyon

[2018-12-18 13:42] olivierschmid commented on #1960
@starostin I found a solution: Set nativeWebScreenshot to 'true' in the capabilities. This will use adb instead of browser for screenshotting

[2018-12-19 01:12] thesunny commented on #3106
@abjerstedt Your position is clear and thank you for the clarity. At the same time it's not so clear (at least to me) how others feel about a safe click feature in this library.

I guess an important question which I'm not sure the answer to is who (singular or plural) gets to decide what gets merged?

I'm willing to contribute code at some point in the future but wouldn't want to dedicate time un

[2018-12-19 01:31] abjerstedt commented on #3106
@thesunny At the moment only Christian and I have merge rights afaik. In terms of decision making, its supposed to be the Technical committee (which again currently is the two of us).

That being said, this project is Christian's baby... and whatever he says goes :).

[2018-12-19 06:45] gurunanakdevji opened #3151 "rightClick is working fine in Chrome but not in Internet Explorer"
**Environment (please complete the following information):**
 - **WebdriverIO version: 4.13.0
 - **Mode: WDIO Testrunner
 - **Node.js version: 8.11.3
 - **NPM version: 5.6.0
 - **Browser name and version: Internet Explorer 11
 - **Platform name and version: Windows 7
 - Multiple-cucumber-reporter
 - Chai library
 - moment library
 - Latest 32 bit IE driver

**Config of WebdriverIO**
Configured for

[2018-12-19 06:59] BorisOsipov commented on #3106
My two cents
1) Why only click? What we should do with other action methods?
2) There should be not safe and unsafe actions. For what we need unsafe actions? to make test more flacky?

For me it is ok that currently wdio provides command implementations based on selenium spec and handle some base errors. It is up to you how handle animations\elements overlapping in your tests.

[2018-12-19 09:18] christian-bromann commented on #3151
@gurunanakdevji for IE you need to use the [actions command](http://webdriver.io/api/protocol/actions.html). Please join our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) if you have further questions.

[2018-12-19 09:18] #3151 closed

[2018-12-19 10:17] LayMuiToh opened #3153 "the touchAction's longPress is not able to hold for the duration of the wait's value in ms"
**Is your feature request related to a problem? Please describe.**
I need to use to have the equivalent API for the hold() method in the mobile app
however, when I use the touchAction's longPress, the button does not seem to "hold" for as the duration I set. I have tried a big value for the time duration for the wait, it appear to be like a press and release.
I want to achieve the user action to p

[2018-12-19 11:09] GCHQDeveloper911 commented on #3125
Hi Christian, I've submitted PRs for wdio-spec-reporter and wdio-jasmine-framework. For webdriverio changes themselves, I wasn't so sure what to do. On my fork I have created a 4.14.2 branch and the changes are in there - but can you advise what you want me to do to submit a request for master - from what I can see both 4.x and 5.x are all on master, just tagged? Thanks!

[2018-12-19 13:38] chaotive opened #3154 "iOS Webdriver Appium tests run very seldom"
**Environment:**
 - **WebdriverIO version:** 4.13.2
 - **Mode:** Standalone mode
 - **Node.js version:** 10.1.0
 - **NPM version:** 5.6.0
 - **Browser name and version:** Appium 1.9.1 and 1.10.0
 - **Platform name and version:** macOS 10.14.1
 - **Additional wdio packages used (if applicable):** wdio-appium-service, wdio-cucumber-framework, wdio-spec-reporter, wdio-allure-reporter,

**Config of We

[2018-12-19 14:07] christian-bromann commented on #3154
@chaotive sorry but this seems like a stability issue in Appium. Would you mind creating the issue there? You can also try to increase the `connectionRetryTimeout` property in your wdio.conf as it seems that Appium takes too long to set up the app. Thanks!

[2018-12-19 14:07] #3154 closed

[2018-12-19 14:15] christian-bromann commented on #3153
If you call the command over and over again it won't work, try
[code]

[2018-12-19 14:15] #3153 closed

[2018-12-19 14:57] chaotive commented on #3154
Thank you. I have already opened an issue ticket on Appium for this. I have also opened one on WebDriverAgent, which is the component that I think is most closely related to the problem.

Right now, I'm not 100% clear about where the issue is, but any feedback is welcomed. Will let you know how this goes.

[2018-12-19 18:01] abjerstedt commented on #3106
@BorisOsipov What base errors in click are you thinking that we should handle?

[2018-12-19 18:06] #3142 closed

[2018-12-19 18:11] BorisOsipov commented on #3106
@abjerstedt In fact we can handle and retry almost all error(exclude selenium connection\timeout errors).
But if we want to be more conservative we can handle and retry clicks several times when we get errors like "Element not clickable at point"\"Element not interactable" - in the most cases we get such errors when element is not displayed yet, but will display in next seconds(by animations, tran

[2018-12-19 18:12] BorisOsipov commented on #3106
@abjerstedt actually we success use such approach for all actions(retry actions several times until success) in well known java tests automation library https://github.com/selenide/selenide

[2018-12-19 18:37] BorisOsipov commented on #3106
That's nice. I think it is enough for now. When we will get some feedback we will be able adjust this solution somehow.

I agree.

Also I have question @abjerstedt

does request handler have some timeout between attemtps?

[2018-12-19 19:37] VKnightUT opened #3157 "Error mid test "java.net.ConnectException: Connection refused: connect""
Environment (please complete the following information):
 - WebdriverIO version: 4.14.1
 - Mode: WDIO Testrunner running sync mode
 - Node.js version: 10.14.2
 - NPM version: 6.4.1
 - Browser name and version: Chrome Version 71.0.3578.98 (Official Build) (64-bit)
 - Platform name and version: Windows 10
 - Additional wdio packages used:
     wdio-allure-reporter: 0.8.3
     wdio-chromedriver-servi

[2018-12-19 20:36] And93 commented on #3003
So, I have checked on the windows machine.
Unfortunately I can't launch the config generator. [Gist](https://gist.github.com/And93/a3451ffe4a3e02bb6bf0c96fb53a2152)

[2018-12-19 21:19] christian-bromann commented on #3003
@And93 what project did you try to install?

[2018-12-19 21:22] christian-bromann commented on #3157
@VKnightUT can you narrow down your error and could you provide that as a minimal reproducible example? This is impossible to figure out by just looking at the unformatted code.

[2018-12-19 23:49] #2954 closed

[2018-12-20 00:01] abjerstedt commented on #2974
Whats the use case for this exactly?

[2018-12-20 00:12] abjerstedt commented on #3139
An empty array is still a valid value; and services IS a required field. I think its probably better to make they property exist, even if empty - just to avoid potential confusion.

[2018-12-20 00:17] christian-bromann commented on #3139
@srghma can you provide a minimal reproducible example? I can for example easily run https://github.com/webdriverio/webdriverio/tree/master/examples/wdio/mocha which also has no service option.

[2018-12-20 07:17] perhenrikandersson commented on #2974
Well I always wan't to have a screenshot if my tests fails.

A use case could be that in general I don't expect my test to take longer than 60s. So I set the mocca timeout to 60s.

In my tests I will wait for a splash screen that I won't expect to take longer to load than 45s so I set the timeout for this to 45s. In general it only takes 10s, but I set it to 45s just to be sure.
In my tests I then

[2018-12-20 11:18] baruchvlz commented on #3148
I can help with Spanish.

[2018-12-20 15:02] blaskowski94 commented on #1140
In case others are running into this issue, here is the solution I found:

[code]
The solution @jkwaldrip offered worked for me but it was very slow. This backspaces as fast as normal typing.

[2018-12-20 17:05] VKnightUT commented on #3157
@christian-bromann I have edited my original code and replaced it with a reproducible example.

One thing I have noticed, if the locator on that last line of code ( _**browser.element(".btn[value='Create Test Request']").click();**_ ) is incorrect it does not return with any error about not being able to find the element. This is when it comes back with the error message about the connection being

[2018-12-20 17:12] abjerstedt commented on #3157
services: ['selenium-standalone','chromedriver'],

Why are you using both services at the same time @VKnightUT ? I'm about 80% sure thats your problem, and everything else you sent us is a red herring.

When you list both in the same array, both are spawned at test execution.

Please remove chromedriver from your array, and reboot your machine (to remove all the lingering processes).

[2018-12-20 18:53] thesunny commented on #3106
@abjerstedt it's hard to explain exactly why, and something I think I could communicate better in person, but my instinct is that creating a separate wrapper means over time it will be less and less community supported. Something like: Because it's not in wdio proper, it's a second class citizen, meaning it doesn't get first class support, which means it doesn't get used as much, which means it ge

[2018-12-20 18:54] abjerstedt commented on #3043
ChromeDriver 2.44

Supports Chrome v69-71
Fixed WindowMaximize on Mac
Fixed Incorrect 'alert open error' for window handle call
Fixed Element Send Keys should get "text" property in W3C mode
Fixed XML special case of Is Element Enabled is not handled as per spec
Fixed XML special case of Get Element CSS Value is not handled as per spec
Fixed Set Window Rect needs to check for invalid input
Fixed S

[2018-12-20 18:54] #3043 closed

[2018-12-20 19:05] abjerstedt commented on #2986
I'm going to close this as a duplicate of https://github.com/webdriverio/webdriverio/issues/2484.

[2018-12-20 19:05] #2986 closed

[2018-12-20 19:10] abjerstedt commented on #3106
@thesunny Thats not necessarily true anymore. In version 5 - many packages are being imported into the wdio monorepo and are now maintained by the core wdio team.

Anyways - I talked to christian more about this and as long as you aren't overriding the default behavior, its probably fine.

My question next becomes, does this belong in click specifically, or should we have a wait method that return

[2018-12-20 21:44] VKnightUT commented on #3157
Thanks for the suggestion @abjerstedt . I'm not sure why we had both services there so I tried removing chromedriver, rebooting my computer, and ran the test again and the same error happened.

On a side note I tried only using chromedriver and the test wouldn't even launch so I'll just leave the selenium-standalone as the only option in there from now on.

[2018-12-20 22:03] And93 commented on #3003
It's a new project only with `"@wdio/cli": "^5.0.0-beta.5"` in dependency.

[2018-12-21 00:09] abjerstedt commented on #3003
@And93 beta.16 is the current version.  You also need webdriverio and webdriver

[2018-12-21 02:02] LayMuiToh commented on #3153
I like to check if I can make changes to customise the touchActions API?
Do I need the re install webdriverio after the changes ?

Thanks
Lay Mui

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Christian Bromann <notifications@github.com>
Sent: Wednesday, December 19, 2018 10:16 PM
To: webdriverio/webdriverio
Cc: Lay Mui Toh; Author
Subject: Re: [webdriverio/web

[2018-12-21 08:32] LayMuiToh commented on #3153
I like to perform this command as separate command call.
I used touchPerform but the longPress does not seem to recogised

[2018-12-21 08:39] LayMuiToh opened #3159 "touchPerform's longPress does not work"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - "webdriverio": "^4.14.1"

[2018-12-21 10:00] LayMuiToh commented on #3159
function playAudio()
{
  const player = require('node-wav-player');
  console.log('play wave file');
  player.play({
    path: 'xxxx/testdata/audio/show_me_basf.wav',
    sync: true
  }).then(() => {
    console.log('The wav file was played through.');
  }).catch((error) => {
    console.error(error);
  });
}

function holdToTalk(callback) {
  if(Main.mic.waitForExist()) {
      var mic_x = browse

[2018-12-21 10:22] LayMuiToh commented on #3159
browser.touchPerform([{
      action: 'longPress',
      options: {
        element: '~f'
      },
      action: 'moveTo',
      options: {
        x: mic_x,
        y: mic_y
      },
      action: 'wait',
      options: {
       ms: 1000
      }
    }]);

I got the error:An unknown server-side error occurred while processing the command. Original error: Error Domain=com.facebook.WebDriverAgent Co

[2018-12-21 10:49] christian-bromann commented on #3003
@And93 also note we haven't released v5 yet so the config wizard will install latest instead of @next. Make sure you update all packages to `^5.0.0-beta.16`

[2018-12-21 10:52] christian-bromann commented on #3153
@LayMuiToh not sure .. WebdriverIO allows you to send the command to the device. If the driver or the device doesn't recognise the action this is most likely a problem with the driver not WebdriverIO.

[2018-12-21 10:53] christian-bromann commented on #3159
see https://github.com/webdriverio/webdriverio/issues/3153#issuecomment-449356664

[2018-12-21 10:53] #3159 closed

[2018-12-21 14:37] LayMuiToh commented on #3159
@christian-bromann
The issue is not the longPress does not work. it's the touchPerform API ,I have updated the title.
Either the documentation at http://webdriver.io/api/mobile/touchPerform.html is not clear enough for me to call it or I made some mistake in my code
my code snippet:

browser.touchPerform([{
          action: 'longPress',
          options: {
              x: mic_x,
              y

[2018-12-21 14:50] christian-bromann commented on #3159
I neither know what this error means nor what is causing it. Feel free to provide a PR with a patch that improves this.

[2018-12-21 19:43] And93 commented on #3003
I have update my dependency to `"@wdio/cli": "^5.0.0-beta.16"` and after configure config file, the install process stopped.

(_look at screenshot_)
![screenshot_1](https://user-images.githubusercontent.com/26678405/50360658-cec57080-0571-11e9-8ea2-1d96e5ba2d0d.png)

[2018-12-22 01:20] thesunny commented on #3106
Hmm... that's an interesting proposal...

I like the simplicity of being able to add this to a `click` option or a `smartClick` option because it's easy to understand but I also like the flexibility of being able to add it anywhere. I suppose another possibility is to do both. The `option` could just be an alias for chaining before click...

[2018-12-22 02:09] abjerstedt commented on #3003
@and93 you shouldn't be using dos prompt for stuff like this. Use gitbash instead.

Also, wdio went live today with v5 so use 5.0.1.

[2018-12-22 13:56] #3003 closed

[2018-12-22 14:03] christian-bromann commented on #2889
@vvo @s-pace we update the page and I applied at DocSearch. What is the next step?

[2018-12-22 14:38] BorisOsipov commented on #3003
@And93 can you check with `"@wdio/cli": "^5.0.2"`?

[2018-12-22 14:39] christian-bromann commented on #2889
@s-pace thanks for the quick response, how do I make Algolia to update the references?

[2018-12-22 14:41] christian-bromann commented on #2874
registered cert at Amazon and now waiting until it is propagated to all AWS nodes

[2018-12-22 15:04] s-pace commented on #2889
Update references? WDYM? We crawl it every 24h

[2018-12-22 16:10] christian-bromann commented on #2889
@s-pace currently the search still references the old API pages .. let's see if that is fixed tomorrow. That would be amazing

[2018-12-22 16:33] christian-bromann commented on #2889
@s-pace thanks! It now goes to the beta page `beta.webdriver.io` and also some commands (all non protocol commands) are not within the search result.

[2018-12-22 16:40] s-pace commented on #2889
Yes expected, feel to PR your configuration and give more precise example

[2018-12-22 16:52] christian-bromann commented on #2889
@s-pace see https://github.com/algolia/docsearch-configs/pull/685

[2018-12-22 17:35] jliebrand commented on #2531
@npeceniak can you tell me how you passed the --max-old-space-size=4096 to the node process that wdio launches?

[2018-12-22 18:30] WillBrock commented on #2531
@npeceniak You can just do ```node --max-old-space-size=4096 ./node_modules/.bin/wdio ....```

Or like Christian said in v5 you probably won't need to do this anymore.

[2018-12-22 20:56] jdavis61 opened #3166 "V5: getText() / getAttribute() return as promises not text"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [5.0.0]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running async.sync** [sync]
 - **Node.js version:** [10.14,2]
 - **NPM version:** [6.4.1]
 - **Browser name and version:** [Chrome 71.0.3578.98 (Official Build) (64-bit) (cohort: Stable)]
 - **Platform name and version:** [Windows 10 Home]
 - **Ad

[2018-12-22 21:36] WillBrock commented on #3166
I noticed this as well with getValue but haven't had the chance to look into it yet.

[2018-12-23 07:05] rajivnw opened #3167 "unable to run command ./node_modules/.bin/wdio config"
1. Install wdio-cli v5 using command : npm i wdio-cli --save-dev
2. Run command ./node_modules/.bin/wdio config
getting below error -
$ ./node_modules/.bin/wdio config
internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot find module '../build'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.

[2018-12-23 07:44] WillBrock commented on #3167
@rajivnw the packages maintained by wdio are now scoped to ```@wdio``` so you just need to run this:

```npm i --save-dev @wdio/cli```

[2018-12-23 07:44] #3167 closed

[2018-12-23 09:08] christian-bromann commented on #3166
Will look into this

[2018-12-23 09:53] christian-bromann commented on #2889
@s-pace when are the changes gonna be deployed?

[2018-12-23 09:54] srescio opened #3168 "webdriver.io doc site SERP and CLI error indexed pages broken"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [x] Other

**Description of the improvement / report**
Most of google indexed Webdriver.io documentation pages, as well docu

[2018-12-23 12:32] s-pace commented on #2889
We are facing this issue:
[code]

[2018-12-23 14:32] jliebrand commented on #2531
@WillBrock thanks! It doesn't look like this was my problem though - even with a high mem limit, it still fails. My tests are uploading small'ish files (70mb) but after three uploads, things fall over. I'm going to for now try to work around this by only uploading one file each test run and just restarting the entire test run until all files are uploaded... not ideal, but hopefully will unblock me

[2018-12-23 20:20] tauheedkhan commented on #2872
@christian-bromann any updates on this thread, is someone working on this ? I would like to pick this up if no one is working currently, would need design document and decisions to start with.

[2018-12-23 21:46] christian-bromann commented on #2872
@tauheedkhan no one is working on this so feel free to pick it up. I don't have a design document or anything like that. Check out how we've implemented the `wdio-cucumber-framework` and just start from there. Happy to answer any questions on the webdriverio/v5 gitter channel.

[2018-12-23 22:16] DavertMik opened #3170 "Remote file upload"
**Is your feature request related to a problem? Please describe.**

When I test `input[type=file]` I can provide a filename to test uploading file.
It's fine until your Selenium Server runs on a different machine or inside a container.
So to run tests with remote Selenium and test file uploads there should be a way to move that files to that machine.

**Describe the solution you'd like**
In webdri

[2018-12-23 23:05] abjerstedt commented on #2872
@tauheedkhan just be warned that you will need to write unit tests. V5 is enforcing a 100% (96.5%) coverage.

[2018-12-23 23:44] #3166 closed

[2018-12-24 11:32] christian-bromann commented on #3170
Will be tackled by #3135

[2018-12-24 11:32] #3170 closed

[2018-12-24 11:36] christian-bromann commented on #2889
@s-pace last outstanding issue: it seems that neither browser nor element commands are indexed. These are all the links on this page: http://webdriver.io/docs/api.html on the left side. I see them in the sidemap. Any reason why they are not listed?

[2018-12-24 12:08] christian-bromann commented on #3168
I setup redirects for all legacy pages. We should receive no 404 errors more.

[2018-12-24 12:08] #3168 closed

[2018-12-24 13:32] s-pace commented on #2889
Only needed to update selectors, everything ✅ with ⬆️

[2018-12-24 13:57] christian-bromann commented on #2889
@s-pace looks good to me 👍

[2018-12-24 22:56] DavertMik opened #3172 "removeApp is not working in v5"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2018-12-25 08:57] christian-bromann commented on #3172
according to the [protocol](https://github.com/appium/appium-base-driver/blob/master/lib/protocol/routes.js#L436) both are required. What you can do is to call `removeApp([], ["mybundleid"])`

[2018-12-25 08:57] #3172 closed

[2018-12-25 09:33] callmekatootie opened #3173 "Using JUnit Reporter results in an error"
**Environment**
 - **WebdriverIO version: 5.0.3**
 - **Mode: WDIO Testrunner**
 - **If WDIO Testrunner, running sync/async: sync**
 - **Node.js version: 10.12.0**
 - **NPM version: 6.4.1**
 - **Browser name and version: Chrome Version 70.0.3538.67 (Official Build) (64-bit)**
 - **Platform name and version: Ubuntu 18.04**
 - **Additional wdio packages used (if applicable): Pasting the devDependenci

[2018-12-25 10:04] callmekatootie commented on #3173
Debugged this and found the cause to be the `wdio.conf.js` file, which needs to have the `logDir` configuration. I set it to a folder (that needs to exist, it does not seem to create one if its does not exist) and then was able to run it successfully.

I guess the question now is what is `logDir` config  and I am guessing it needs to be documented?

[2018-12-25 10:04] BorisOsipov commented on #3173
@callmekatootie as quick fix I may suggest you add
`logDir: './'` in your wdio.conf.js.
Like this

[code]

[2018-12-25 14:46] BorisOsipov opened #3175 "Garbage in npm wdio packages"
**Describe the bug**
After `npm i` I found in every `@wdio/*` module folder under node_modules archive `%modulename%-5.0.0-beta.4.tgz`
E.g see my file tree in `node_modules/wdio/`
https://gist.github.com/BorisOsipov/c0e76346871ca1ab7ca48f1039d08cb8

**To Reproduce**
Run wdio config and look at node_modules.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2018-12-25 15:55] mo opened #3177 "failing assertions and all exceptions are ignored when using jasmine framework on webdriver 5.x"
After upgrading to webdriver 5.x I noticed that the jasmine framework support doesn't work any more.

How to reproduce bug:
1. git clone git@github.com:mo/wdio-v5-jasmine-bug-repro-example.git
2. run "npm test"

The following testcase passed despite having expect(true).toBe(false) and also throwing exceptions both in the main testcase and in the beforeAll() section.

[code]

The project has been s

[2018-12-25 19:03] #3173 closed

[2018-12-25 20:09] mo commented on #3177
@christian-bromann huge thanks for taking a look at this so quickly!

I tried to test the patch to see if it solves my issue, but I was not able to get it to work unfortunately.

What I did was that I checked out "webdriverio" from master and then I did this:

[code]

and finally, in the bug repro project I did:

[code]

But this reported "success" despite the failed expect() calls etc. Perhaps I

[2018-12-25 20:16] WillBrock opened #3181 "Options passed to reporters are not working"
Passing the below options in the config file causes tests to fail right away and not run. Doesn't really show the errors or output any useful info to the logs either.

[code]

[code]

I think we should not support the first way above as it might be confusing along with making the code more complicated and fix it so that it works with just the following scenarios:

[code]

[code]

[code]

I can cre

[2018-12-25 21:52] smarigowda commented on #3069
I am seeing this issue with v5.0

[2018-12-25 22:12] christian-bromann commented on #3069
@smarigowda this doesn't help much .. please provide a reproducible example.

[2018-12-26 10:54] goofballLogic opened #3182 "Not Getting Started [OS/X]"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.0.3
 - **Mode:** Standalone
 - **Node.js version:** 11.4.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** FireFox 64.0 (64-bit)
 - **Platform name and version:** macOS 10.13.6
 - **Additional wdio packages used (if applicable):** none

**Config of WebdriverIO**
Followed the Getting started guide:

[2018-12-26 12:48] goofballLogic opened #3183 "Not Getting Started 2 (Using test runner)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.0.3
 - **Mode:** Standalone
 - **Node.js version:** 11.4.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** FireFox 64.0 (64-bit)
 - **Platform name and version:** macOS 10.13.6
 - **Additional wdio packages used (if applicable):** none

**Config of WebdriverIO**
Followed the instructions on the Ge

[2018-12-26 21:00] WillBrock commented on #3181
I see now that you need to have an array in the main array. I'll close this since it's not a bug but I think the format should change to just being a string or an object.

[2018-12-26 21:00] #3181 closed

[2018-12-27 09:05] postmeback opened #3185 "Suddenly webdriverio stopped working"
I have done all the necessary things to run webdriverio in my application. Even, it was running till yesterday. But, today a new error has came up. I have uninstalled and reinstalled webdriver-manager & webdriver-manager-replacement but it did not work. Below is the error message appearing

    Cannot read property 'tests' of undefined
    at ReporterStats.testStart (C:\NodeCode\MIS.ACT.Angular\no

[2018-12-27 09:06] postmeback commented on #3185
Feel free to ask questions as i am new to webdriverio...

[2018-12-27 09:40] cuki commented on #3182
Have the same issue.

@goofballLogic What worked for me as workaround, was to run in the project root `npm install source-map-support`, although this should be installed with the package accordingly when installing it.

[2018-12-27 09:52] yanplu opened #3186 "TypeError: Cannot read property 'appium-version' of undefined (on version 5.0.3)"
**//browser2.test.js :**
[code]
----------------------------------------------------------
**//package.json**
[code]
------------------------------------------------
[code]
------------------------------------
The same code is executed correctly on  webdriverio 4.14.1

[2018-12-27 10:25] cuki opened #3187 "Safaridriver fails due to incorrect 'Content-length' header send for empty body"
**Environment:**
 - **WebdriverIO version:** 5.0.3
 - **Mode:** Standalone
 - **Node.js version:** 10.14.2
 - **NPM version:** 6.4.1
 - **Browser name and version:** Safari 12.0.2
 - **Platform name and version:** macOS 10.13.6

**Describe the bug**
When communicating directly with Safaridriver using webdriverio, it was unable to successfully process GET/DELETE requests, as every GET/DELETE [respo

[2018-12-27 12:05] carlos-gva opened #3188 "Jasmine Spec Reporter output on WebdriverIO v5.x"
I'm testing WebdriverIO v5 with **Jasmine** and the **Spec Reporter** output is quite strange.

I'm running two tests separated in 2 files and the test results are printed **4 times**.

I also noticed that the **printed Time** is slightly **different** on each print.

[code]

[2018-12-27 15:14] christian-bromann commented on #3185
@postmeback can you provide a minimal reproducible example? Otherwise this is impossible to analyze.

[2018-12-27 15:43] akholopov opened #3189 "errrno 1 in 5.0.3"
Hello,

I got this error during test run in 5.0.3 version (everything worked fine in 4.13.2).
![screen shot 2018-12-27 at 4 40 24 pm](https://user-images.githubusercontent.com/35735285/50485613-4d992e00-09f6-11e9-9f99-3f6b939c4643.png)
Nothing was changed in the local.config file from my side. Could you please tell me what could be the reason of it?

[2018-12-27 15:52] WillBrock commented on #3189
@akholopov That doesn't give us much information. Have you looked at [how to upgrade to 5.0](https://webdriver.io/blog/#how-to-upgrade-to-v5)?

You can ask questions in the [Gitter](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) Channel as well.

[2018-12-27 15:52] #3189 closed

[2018-12-27 15:55] akholopov commented on #3189
Hello,

No, I didn’t check this doc, will take a look on it tomorrow and then text
to you.

On Thu, 27 Dec 2018 at 16:52, Will Brock <notifications@github.com> wrote:

--
Best regards,
Alexander.

[2018-12-27 17:18] christian-bromann commented on #3186
There are bunch of breaking changes in v5 that doesn't allow a seamless upgrade. Please check the [docs](https://webdriver.io/blog/#how-to-upgrade-to-v5) for more information.

[2018-12-27 17:18] #3186 closed

[2018-12-27 17:21] cuki commented on #3187
In response to my previous remark about whether we should always delete/unset body for all request methods, it seems geckodriver does not like it when you send POST request without body:
[code]

[2018-12-27 17:33] smarigowda opened #3191 "When debugging using VS Code, the test passes but the report says it is failed in overall reporting -- WebdriverIO 5.0"
- **WebdriverIO version:** "webdriverio": "^5.0.3"
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.14.2
 - **NPM version:** 6.4.1
 - **Browser name and version:** Version 71.0.3578.98 (Official Build) (64-bit)
 - **Platform name and version:** Mac Mojave 10.14.2
 - **Additional wdio packages used (if applicable):**
https://github.com/sma

[2018-12-27 17:35] smarigowda commented on #3191
<img width="1100" alt="test_spec_js_ _wdio5poc" src="https://user-images.githubusercontent.com/1831259/50489101-bafc8d00-09fd-11e9-8c85-2d378f96fb26.png">

[2018-12-27 19:08] carlos-gva opened #3192 "Not taking screenshots on test failure on WebdriverIO v5"
On previous version (v4) a screenshot was automatically taken on test failure, now it doesn't.

I also noticed that when generating the new **wdio.conf.js**, it didn't ask for that config, but the Getting Started Guide says it should.

[code]

[2018-12-27 19:13] jlchereau opened #3193 "Allow mjs and es6 spec file extensions"
**Is your feature request related to a problem? Please describe.**

in wdio.conf.js, I have:

[code]

When running the tests, I get:

[code]

There are files that match such pattern. The issue is @wdio/cli only supports *.js extension.

I am in the process of migrating a large ES5 system to ES6. For various reasons deprectaed files are *.js and new ES6 files are *.es6:
- *.js files are linted usin

[2018-12-27 23:01] tbradley-sans opened #3194 "browser.getUrl() is missing"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.0.3
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.14.1
 - **NPM version:** 6.4.1
 - **Browser name and version:** irrelevant
 - **Platform name and version:** irrelevant
 - **Additional wdio packages used (if applicable):** irrelevant

**Describe

[2018-12-27 23:01] tbradley-sans commented on #1240
I know it's been 2.5 years since this bug was closed, but I think it's broken again in 5.0.3.

See here: https://github.com/webdriverio/webdriverio/issues/3194

[2018-12-28 10:51] jlchereau commented on #3194
Use browser.getCurrentUrl() with v5.0.3

[2018-12-28 12:04] jlchereau opened #3196 "Cannot configure MicrosoftEdge with webdriverio v5+"
#### Environment (please complete the following information):

 - **WebdriverIO version:** 5.0.3
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 11.6.0
 - **NPM version:** 6.5.0
 - **Browser name and version:** MicrosoftEdge v44.17763.1.0
 - **Platform name and version:** Windows 10 v1809
 - **Additional wdio packages used (if applicable):**

[2018-12-28 12:46] christian-bromann commented on #3192
This should be updated in the docs then. In v4 a screenshot was only taken when a WebDriver request failed.

[2018-12-28 12:49] christian-bromann commented on #3196
This issue is fixed but not yet released. We will release a new version later today.

[2018-12-28 12:49] #3196 closed

[2018-12-28 12:51] christian-bromann commented on #3194
The command will be re-established with the next version release, see #3176

[2018-12-28 12:51] #3194 closed

[2018-12-28 14:22] carlos-gva commented on #3192
@christian-bromann Thanks!
But now I'm a bit confused. Do you mean that in this **v5** we won't have that feature by default?

[2018-12-28 15:41] #3187 closed

[2018-12-28 15:43] jlchereau opened #3198 "Migrating PhantomJS capabilities from webdriverio v4 to v5"
#### Environment:

WebdriverIO version: 5.0.3
Mode: WDIO Testrunner
If WDIO Testrunner, running sync/async: sync
Node.js version: 11.6.0
NPM version: 6.5.0
Browser name and version: MicrosoftEdge v44.17763.1.0
Platform name and version: Windows 10 v1809
Additional wdio packages used (if applicable): @wdio/selenium-standalone service
Config of WebdriverIO

#### Describe the bug

The following confi

[2018-12-28 15:45] christian-bromann commented on #3198
It is actually the same issue as #3196 .. closing. This will be fixed with `v5.1.0`

[2018-12-28 15:45] #3198 closed

[2018-12-28 15:48] christian-bromann commented on #3183
In the getting started guide you can see in the example that the path is set:
[code]

[2018-12-28 15:54] jlchereau commented on #3198
Thx

[2018-12-28 15:57] carlos-gva commented on #3192
@christian-bromann
Understood. My mistake.
Many thanks! 🙏

[2018-12-28 15:57] #3192 closed

[2018-12-28 16:07] #3193 closed

[2018-12-28 16:58] jlchereau commented on #3196
Please note v5.1.0 has not fixed this issue. Logs are exactly the same as above with v5.0.3.

[2018-12-28 16:58] christian-bromann commented on #2889
This seems to be fixed for me now. Thanks for all the support @s-pace 👏

[2018-12-28 16:58] #2889 closed

[2018-12-28 17:00] jlchereau commented on #3198
Please note v5.1.0 has not fixed this issue. Logs are exactly the same as above with v5.0.3.

[2018-12-28 17:22] jlchereau opened #3203 "Regression in v5.1.0: Failed to decode request as JSON with firefox (was working in v5.0.3)"
#### Environment:

WebdriverIO version: 5.1.0
Mode: WDIO Testrunner
If WDIO Testrunner, running sync/async: sync
Node.js version: 11.6.0
NPM version: 6.5.0
Browser name and version: Firefox v64.0 (64-bit)
Platform name and version: Windows 10 v1809
Additional wdio packages used (if applicable): @wdio/selenium-standalone service

#### Describe the bug

With:

[code]

all tests now trigger in webdri

[2018-12-28 17:51] carlos-gva commented on #3177
@christian-bromann I was testing this issue with the today's **v5.1.0** and it seems to be still happening.

I injected a ```expect(true).toEqual(false);``` on my test after a clean *npm install* but the report still returns that all tests passed. 🤔

I also printed the `test` object on the afterTest hook to be sure about this and it has the attribute `passed: true`.

[2018-12-28 18:41] cuki commented on #3203
This is caused with #3190, as already mentioned in https://github.com/webdriverio/webdriverio/issues/3187#issuecomment-450195089 geckodriver doesn't like it when you send POST request without body.

Here is an example snippet for reproduction:
[code]

[2018-12-29 11:12] maruthisunil opened #3204 "Unable to run basic getting started script"
i am trying  setup using  https://webdriver.io/docs/gettingstarted.html

**Environment (please complete the following information):**
 - **WebdriverIO version:** webdriverio@^4.14.1
 - **Mode:** [Standalone WINDOWS OS]
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version:** [8.15]
 - **NPM version:** [e6.4.1]
 - **Browser name and version:** [firefox 64]
 - **Platf

[2018-12-29 12:04] goofballLogic commented on #3182
I think we just need to add this as a dependency for the standalone package. Happy to submit a PR for that if you agree @christian-bromann ?

[2018-12-29 12:07] goofballLogic commented on #3183
@christian-bromann there are two sections to the getting started guide. This bug occurs when you _generate_ the above configuration file in the _[Let's Get Serious](https://webdriver.io/docs/gettingstarted.html#let-s-get-serious)_ section of the getting started guide.

I think we just need to add a note that the generated file doesn't contain the necessary tweak to work with geckodriver? Happy to

[2018-12-29 17:39] jlchereau opened #3207 "@wdio/logger not upgraded from v5.0.3 to v5.1.0"
Breaks statement that "_Going foward the version number of all packages are now pinned to each other; meaning that you should always have the same versions for all "official" WebdriverIO packages that you use_". Source: https://webdriver.io/blog/#new-package-structure

[2018-12-29 22:31] rdpanek opened #3209 "this.getUrl() in Custom Commands doesn't return value, but title: Promise { <pending> }"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.1.0
 - **Mode:** [Testrunner]
 - **If WDIO Testrunner, running sync/async:** sync: true
 - **Node.js version:** 10.9.0
 - **NPM version:** 6.2.0
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** OSX Mojave 10.14.1
 - **Additional wdio packages used (if applicable):
[code]

**Config

[2018-12-30 09:33] OhadRoth opened #3210 "Multi remote BUG"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2018-12-30 10:30] christian-bromann commented on #3210
Can you provide a minimal reproducible example?

[2018-12-30 10:34] christian-bromann commented on #3209
@rdpanek this is a bug, if you use sync you shouldn't need to use async await in custom commands.

[2018-12-30 10:52] #3183 closed

[2018-12-30 10:56] christian-bromann commented on #3207
Lerna doesn't update packages if there is no change in it. For example, if I change something in `@wdio/local-runner` a version bump would only happen in that package because it is not a dependency of any of the other packages. However if I would change something in `@wdio/logger` all packages would be updated because it is a dependency of all packages.

[2018-12-30 10:56] #3207 closed

[2018-12-30 10:57] christian-bromann commented on #3182
see #3205

[2018-12-30 10:59] christian-bromann commented on #3204
If you use WebdriverIO v4 please read the v4 docs: http://v4.webdriver.io/guide.html

[2018-12-30 10:59] #3204 closed

[2018-12-30 11:01] christian-bromann commented on #3203
This is fixed and will be released in `v5.1.1`

[2018-12-30 11:01] #3203 closed

[2018-12-30 17:51] jlchereau opened #3212 "Missing log colors on Travis-CI after migrating from v4 to v5"
### Environment:

 - **WebdriverIO version:** 5.1.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 11.6.0
 - **NPM version:** 6.5.0
 - **Browser name and version:** N/A
 - **Platform name and version:** N/A
 - **Additional wdio packages used (if applicable):** @wdio/spec reporter, @wdio/selenium-standalone service

### Config of WebdriverIO

[2018-12-30 18:00] christian-bromann commented on #3139
Closing due to inactivity .. happy to reopen if a reproducible example can be provided

[2018-12-30 18:00] #3139 closed

[2018-12-30 18:39] jliebrand opened #3213 "v5 - junit does not save files to the specified outputDir"
"@wdio/cli": "^5.1.0",
"@wdio/junit-reporter": "^5.1.0",
"@wdio/local-runner": "^5.1.0",
"@wdio/mocha-framework": "^5.1.0",
"@wdio/spec-reporter": "^5.1.0",
"@wdio/sync": "^5.1.0",
"webdriverio": "^5.1.0",

wdio testrunner
node v8.11.2
npm 6.4.0
chrome v71
mac os

Config:
[code]

This produces spec and junit output, but only to stdout, not to the test-results folder. If I add a top level   outputD

[2018-12-30 19:01] christian-bromann commented on #3196
osPlatform ans osVersion are indeed invalid w3c capabilities. The latest error is not related to webdriverio, it indicates that you haven’t downloaded the ms edgedriver.

[2018-12-30 19:04] christian-bromann commented on #3198
It seems that you haven’t downloaded phantom js .. please download it and make it accessible in $PATH

[2018-12-30 19:04] jlchereau commented on #3196
It is downloaded with selenium-standalone after `selenium-standalone install`.
When I run the test MS Edge is launched and closed but does not seem to receive any command.

[2018-12-30 19:16] christian-bromann commented on #3196
Please check the driver logs

[2018-12-31 01:03] DavertMik opened #3214 "Can't set object as parameter in W3C mode: Object is not object"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.1.0
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 8.11.2
 - **NPM version:** 5.8.0
 - **Browser name and version:** Firefox
 - **Platform name and version:** Ubuntu

**Config of WebdriverIO**
Not needed

**Describe the bug**
When I run a test in W3C

[2018-12-31 07:59] OhadRoth commented on #3210
Hi christian ,
The error is :
[0-0] 2018-12-30T07:54:51.388Z ERROR wdio-runner: Error: Illegal key values seen in w3c capabilities: [adminBrowser, agentBrowser]
at Request._callback (D:\selenium_nodejs\npminit\node_modules\webdriver\src\request.js:95:27)
at Request.self.callback (D:\selenium_nodejs\npminit\node_modules\request\request.js:185:22)
at Request.emit (events.js:182:13)
at Request.EventE

[2018-12-31 10:38] chungshaku38 commented on #1992
@christian-bromann : Sorry I know this was closed, but could you please tell me how we can include other specs into one spec file?

Thanks in advance.

[2018-12-31 11:44] jlchereau commented on #3198
It is downloaded and available in PATH. It is working with webdriverio v4 in the same environment. I am migrating an existing project from v4 to v5 where all features and all drivers work in v4.

[2018-12-31 14:38] emilyrohrbough opened #3217 "Reference to non-existent moveToElement command"
**Environment (please complete the following information):**
 - **WebdriverIO version:** v5 source code

**Describe the bug**
Looking through the source code of webdriver.io v5, it seems the moveToElement command has been removed in the uplift, but it appears there is a call to the non-existent command here if not W3C: https://github.com/webdriverio/webdriverio/blob/32a3028d0cfb8cbf4a11bd6ea2d6da6

[2018-12-31 14:57] emilyrohrbough commented on #3217
Never mind. Its referencing the protocol directly: https://github.com/webdriverio/webdriverio/blob/19b75b01b144590edc702ed8689fad6aa13a160c/packages/webdriver/protocol/jsonwp.json#L852

[2018-12-31 14:57] #3217 closed

[2018-12-31 15:09] jlchereau commented on #3196
I am progressing with this issue and I am keeping you updated because you might want to document this (`@wdio/selenium-standalone-service`).

`selenium-standalone install` installs an obsolete version of MicrosoftEdgeDriiver located at `./node_modules/selenium-standalone/.selenium/edgedriver/17134-MicrosoftEdgeDriver.exe`.

This version is capable of opening and closing MS Edge but won't send any

[2018-12-31 22:02] Mort2007 commented on #3191
As a small note if you unlink  the debugger it will show as passed. You won't be able to use break points anymore so is not a work around but been pulling my hair on the same issue.
![image](https://user-images.githubusercontent.com/30624361/50568307-c6c2b900-0d47-11e9-9507-bce50004b88c.png)

[2019-01-01 13:14] marthinus-engelbrecht opened #3221 "Inconsistent naming for JSONWireProtocol getElementEnabled vs isElementDisplayed"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.1.1

**Describe the bug**
This might be viewed as nitpicking but I thought I would pick anyway :grin:. Method returning boolean values mostly start with `is` but `getElementEnabled` does not

P.S: Happy new year :smile:

[2019-01-01 19:14] marthinus-engelbrecht commented on #1630
I must say I just disagree with the sync by default argument on a philosophical level. Promises and Javascript's async nature are fundamental concepts of the language and I would argue if you don't understand them then you shouldn't be writing javascript code, cause it's everywhere. At least if we don't hide it, then the pain will cause you to learn.

[2019-01-01 20:34] jlchereau opened #3222 "FIX DOC related to custom commands"
**Pre-check**
- [ ] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [x] Other

**Description of the improvement / report**

At https://webdriver.io/docs/customcommands.html as custom command c

[2019-01-02 03:53] LayMuiToh opened #3223 "collapse menu does not respond to click"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 4

[2019-01-02 09:46] rdpanek opened #3224 "Custom Service ( hooks not called )"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.1.0
 - **Mode:** [Testrunner]
 - **If WDIO Testrunner, running sync/async:** sync: true
 - **Node.js version:** 10.9.0
 - **NPM version:** 6.2.0
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** OSX Mojave 10.14.1
 - **Additional wdio packages used (if applicable):
[code]

**Config

[2019-01-02 11:13] christian-bromann commented on #3223
According to the logs the click was executed. I don’t see a bug here.

[2019-01-02 11:13] #3223 closed

[2019-01-02 11:17] christian-bromann commented on #3222
@jlchereau mind proposing a PR with a fix?

[2019-01-02 11:24] christian-bromann commented on #3210
You are creating two remote sessions in the onPrepare hook in a way you would do in v4 but apparently you are using v5 of WebdriverIO. Please have a look into the docs and check out this example:
https://github.com/webdriverio/webdriverio/tree/master/examples/multiremote

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_sourc

[2019-01-02 11:24] #3210 closed

[2019-01-02 11:39] jlchereau commented on #3222
@christian-bromann,
I'll do that once higher priority issues are solved and I am currently focusing on fixing:
- https://github.com/webdriverio/webdriverio/issues/3196#issuecomment-450656116,
- https://github.com/webdriverio/webdriverio/issues/3198

[2019-01-02 13:14] #3221 closed

[2019-01-02 13:16] christian-bromann commented on #3198
@jlchereau can you provide phantomjs logs?

[2019-01-02 13:37] jlchereau commented on #3196
FYI waitUntil is used in a custom command as follows:

[code]

The tests that fail in MS Edge (not chrome, firefox or IE) use:

[code]

Increasing the timeout to 5000 or 10000 does not help. Note that all timeouts in wdio.conf.js are above 10000 including mochaOpts.timeout.

Using `const logger = require('@wdio/logger').default('X')`, I have changed the custom command as follows:

[code]

The erro

[2019-01-02 15:07] #3214 closed

[2019-01-02 16:08] cuki opened #3227 "Undefined CSS classes for optional command parameters"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [x] Other

**Description of the improvement / report**
When checking the API documentation, I noticed that optional paramete

[2019-01-02 16:08] VKnightUT commented on #3157
Is there any update on this issue?

[2019-01-02 17:57] #3213 closed

[2019-01-02 18:59] dimirey opened #3228 "Ability to use custom attributes to select elements"
**Is your feature request related to a problem? Please describe.**
In the previous version of webdriverio (4.x.x) I was able to select elements using custom attributes. With the new version (5.x.x) I am unable to.

**Describe the solution you'd like**
I would like to be able to select the following element:
[code]
using the following command:

[code]

[2019-01-02 19:02] BorisOsipov commented on #3228
why? what error do you recieve?

[2019-01-02 19:07] dimirey commented on #3228
InvalidSelectorStrategy

[2019-01-02 19:55] fijijavis commented on #2780
@christian-bromann If I do the work would you be opposed to having this fixed in v4?

I don't know how we survived this long but we finally started running into this problem with our FF tests that run in Browserstack.  My guess is they probably updated their version of Geckodriver.

[2019-01-02 20:37] blobcat commented on #2780
@fijijavis seeing the same thing as you with browserstack, but I have verified that the same geckodriver version (0.21.0) is still being used. I will let you know if I can find out more.

[2019-01-02 20:38] christian-bromann commented on #2780
@fijijavis sure, if you can provide a fix I would be happy to make a v4 release

[2019-01-02 20:54] fijijavis commented on #2780
@blobcat got a response from browserstack

[2019-01-03 00:11] dimirey commented on #3228
believe this is a duplicate of 2780
https://github.com/webdriverio/webdriverio/issues/2780

[2019-01-03 00:11] #3228 closed

[2019-01-03 01:00] blobcat commented on #2780
@fijijavis I also got a similar response from browserstack, sounds like our issue is specific to a change they made to enforce W3C compliant commands. On our side we were able to refactor our tests to use only compliant commands and everything is working now. For example, we used a variation of the workaround called out in this thread above to solve the ID locator issue: `browser.element('[id=my_i

[2019-01-03 02:06] LayMuiToh commented on #3223
Yes, but the screen didn't appear. there is no response on the screen

[2019-01-03 04:15] jdavis61 opened #3229 "element.waitForDisplayed(true) does not throw error if element remains visible"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.1.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.14.2
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/cli, @wdio/mocha-f

[2019-01-03 04:57] WillBrock commented on #3224
@rdpanek Try exporting an instance of your service. I think the docs just need to be updated.

[code]

and then require it like this:
[code]

[2019-01-03 05:13] LayMuiToh opened #3230 "webdriverio v5 didn't run the automation on the mobile device"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-01-03 05:32] WillBrock commented on #3188
@carlos-gva Can you share what version of 5 your are on along with your config file and your two tests? I've tried this on 5.1.1 but I'm not able to reproduce the issue.

[2019-01-03 08:09] LayMuiToh commented on #3223
@christian-bromann I saw this in the appium.log
^[[35m[HTTP]^[[39m ^[[90m{"using":"accessibility id","value":"menu"}^[[39m
[debug] ^[[35m[MJSONWP]^[[39m Calling AppiumDriver.findElement() with args: ["accessibility id","menu","9682b387-b283-4e02-8604-3c6d9cc7273b"]
[debug] ^[[35m[XCUITest]^[[39m Executing command 'findElement'
[debug] ^[[35m[BaseDriver]^[[39m Valid locator strategies for this requ

[2019-01-03 09:09] Gilad-WT commented on #3230
@LayMuiToh I had a similar issue in android and have a pending pull request to fix it. Can you please see if you get "Error: InvalidSelectorStrategy" from Login.username.setValue(validEmail); to make sure it's the same error?

[2019-01-03 09:11] wswebcreation commented on #3223
@LayMuiToh

First of all please use proper markdown, so it makes it easier to read.
Secondly, the click has been executed on the first log you provided, but it could be that the iOS app hasn't seen this click. This has to do with _Appium_, iOS, your app and the way they handle the clicks. This has been explained in [this Appium Pro Newsletter](https://appiumpro.com/editions/36).

The second log is

[2019-01-03 10:14] christian-bromann commented on #3230
@LayMuiToh __please__ use proper markdown to format your code otherwise it is impossible to read. Just pasting your wdio config is not useful too. We need appium logs or wdio logs and maybe even better a minimal reproducible example.

[2019-01-03 10:16] #3224 closed

[2019-01-03 13:22] nkrishna79 opened #3232 "TypeError: Cannot read property 'browserName' of undefined"
CodeceptJS v2.0.1
"webdriverio": "5.2.0"
When running tests via npm run codeceptjs, i get the following error
 × "after each" hook: codeceptjs.after for "Feature flag is ON @reg82_1" in 6ms
    [1] Error | TypeError: Cannot read property 'browserName' of undefined
TypeError: Cannot read property 'browserName' of undefined
    Emitted | suite.after ([object Object])

-- FAILURES:

  1) Build new Re

[2019-01-03 13:23] just-boris opened #3233 "Cannot find documentation for v4"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**

Hello! Congratulations with v5 release! 🎉

The new version seems ver

[2019-01-03 13:24] #3233 closed, assigned to nobody

[2019-01-03 13:52] christian-bromann commented on #3232
This looks like an issue with codeceptjs, please create an issue in that project. Thanks!

[2019-01-03 13:52] #3232 closed

[2019-01-03 14:43] carlos-gva commented on #3188
@WillBrock Hi!

Here goes more info:
**Node**: *8.15.0*
**Platform**: *MacOS 10.14.2*
**Chrome**: *71.0.3578.98*

**Clean npm install with:**
[code]

I can reproduce this with the generated **wdio.conf** file, like:

[code]

And with a simple test like:

[code]

After the execution, please **scroll up** on your terminal and I think you will see the other repeated prints.

Thanks. :)

[2019-01-03 14:45] carlos-gva commented on #3177
@mo Can I reopen the issue, I mean, can you also reproduce it?

[2019-01-03 14:47] christian-bromann commented on #3188
@carlos-gva are the repeated prints in your terminal or on a CI server?

[2019-01-03 14:48] christian-bromann commented on #3177
@carlos-gva for me it is not reproducible on current master when running the example wdio suite from the repo. Could you try with that one?

[2019-01-03 14:50] carlos-gva commented on #3188
@christian-bromann on my iTerm.

Running directly or using Docker the results are the same.

I didn't push this update to the pipeline yet.

[2019-01-03 14:50] carlos-gva commented on #3177
@christian-bromann Yes, I think so. Let me check that.

[2019-01-03 15:51] carlos-gva commented on #3177
@christian-bromann Trying that example on *master*, everything goes as expected.
The test fails when using ```expect(true).toEqual(false)```.

[code]

So, this just happens when using the published version of the wdio framework.

[2019-01-03 15:53] TuHuynhVan opened #3234 "getElementRect does not work"
**Environment:**
 - **WebdriverIO version: 5.2.0**
 - **Mode: WDIO Testrunner**
 - **IRunning sync mode**
 - **Node.js version: 8.11.2**
 - **NPM version: 6.4.1**
 - **Browser name and version: Chrome Version 71.0.3578.98 (Official Build) (64-bit)**
 - **Platform name and version: MacOS Hig Serria**
 - **Additional wdio packages used (if applicable):**

[code]

**Config of WebdriverIO**
[code]

**

[2019-01-03 15:55] carlos-gva commented on #3188
@christian-bromann Testing the other #3177 issue on my local machine, I could replicate again this one:

[code]

[2019-01-03 16:15] christian-bromann commented on #3234
This command is not supported in Chrome as it isn't fully W3C WebDriver compatible.

[2019-01-03 16:15] #3234 closed

[2019-01-03 16:16] christian-bromann commented on #3177
@carlos-gva these versions should be identical.

[2019-01-03 18:07] carlos-gva opened #3238 "WebdriverIO v5.x Chrome capabilities"
Correct me if I'm wrong, but now with the W3C standards we should define `chromeOptions` with the prefix `goog:`, right?

And what about `applicationName`? Did it disappear and now it's not possible to use ir for example to run different tests on different Chrome nodes on my Docker Selenium Grid?

[2019-01-03 18:47] abjerstedt commented on #3238
@carlos-gva Yes. chromeOptions is now goog:chromeOptions if you are recent versions of selenium-standalone-server and chromedriver.

I'm not sure about applicationName, but have you tried just specifying the devicename/id?

[2019-01-03 18:53] carlos-gva commented on #3238
@abjerstedt Thanks!
No, I didn't try that. And does not seem to be available on a Docker Chrome Node configuration. 🤔
https://github.com/SeleniumHQ/docker-selenium/tree/master/NodeChrome

[2019-01-03 20:00] Jack-Barry commented on #216
## Goal
I have a testing scenario where a Windows application needs to be open and ideally can remain open for multiple test cases. (If there's an easier way to automate Windows applications in Node, please clue me in. Currently our strategy is to leverage _Appium_ and _WebdriverIO_, which is the closest I can get to something like `pywinauto` in Node.)

## Issue
The solution posted by @christian-

[2019-01-03 20:38] christian-bromann commented on #216
@Jack-Barry yes, with v5 you can call the [`attach`](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/index.js#L44) method that contains the same options as e.g. `browser.config` does including the session id.

[2019-01-04 00:02] abjerstedt commented on #3229
@jdavis61 I'm closing this as you were running the code wrong:
https://webdriver.io/docs/api/element/waitForDisplayed.html

If you read the documents you aren't actually telling it to do a negative test as true should be the 3rd parameter.
element.waitForDisplayed(undefined,undefined,true) would tell it to negative test.

[2019-01-04 00:02] #3229 closed

[2019-01-04 01:33] jdavis61 commented on #3229
Hi @abjerstedt I have one more question for you about the docs. Should all optional parameters be passed as null?

[2019-01-04 01:44] abjerstedt commented on #3229
@jdavis61... nope undefined for defaults

[2019-01-04 10:05] Ponyets commented on #3230
@LayMuiToh Just update to 5.2.1. I'd consider it as a bug which was fixed yesterday.
https://github.com/webdriverio/webdriverio/pull/3226

[2019-01-04 10:21] b-smets opened #3249 "Jasmine Framework improperly configures test randomization"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-01-04 11:36] carlos-gva commented on #3238
@christian-bromann Sorry, my bad.

[2019-01-04 11:41] carlos-gva commented on #3177
@mo
[code]

[code]

[code]

[2019-01-04 11:50] dolanmiu commented on #3182
Happening on Windows too, not just OS/X

[2019-01-04 12:00] christian-bromann commented on #3182
the `source-map-support` issue was resolved today

[2019-01-04 12:01] christian-bromann commented on #3177
@carlos-gva @mo I've resolved and released the issue in #3240

[2019-01-04 12:03] mateen-hussain commented on #2365
@D0raemon any solutions for this ?

[2019-01-04 12:05] dolanmiu commented on #3182
@christian-bromann how do i use the fix then?

I have currently installed `source-map-support` on `@wdio/cli` `5.2.1`, which "fixes" it

[2019-01-04 12:15] christian-bromann commented on #3182
@dolanmiu in the latest release sourcemap got disabled, you don't need that package anymore.

[2019-01-04 12:37] #3182 closed

[2019-01-04 12:40] carlos-gva commented on #3177
@christian-bromann True! 🙏

It's working now, but I can't update the **@wdio/cli** from **v5.2.0** to **v5.2.1** because when running the tests, it seems that the logger is waiting for the dependency you removed in this update.

[code]

Do you want me to open an issue with this?

[2019-01-04 12:40] cuki commented on #3182
@christian-bromann It seems that wdio-logger@5.0.3 still has the problematic code, all packages need to be republished without `source-map-support/register`.

[2019-01-04 12:49] christian-bromann commented on #3182
let me do that

[2019-01-04 12:58] christian-bromann commented on #3182
`v5.2.2` should have a fix for it

[2019-01-04 12:58] christian-bromann commented on #3177
No, I want you do update to `v5.2.2` 😉

[2019-01-04 13:06] carlos-gva commented on #3177
😁
Many thanks! 🙏
All good now!
💪 💪

[2019-01-04 13:59] cuki commented on #3182
Works like a charm now, thanks @christian-bromann!

[2019-01-04 14:19] Jack-Barry commented on #216
@christian-bromann Thanks for the quick response!

I must be missing something, as I'm not quite able to implement this. Here's what I have as a smoke screen:

[code]
Is that how `attach` is supposed to be used, or am I off base there?

When I call the `click` function with an existing `sessionID`, it throws:

[code]

Does this imply that there is something missing from my `options`, or is there s

[2019-01-04 14:40] christian-bromann commented on #216
Seems that the logLevel is missing.

[2019-01-04 14:59] Jack-Barry commented on #216
I didn't have that set when calling the `remote` function so I figured it had a default value. After assigning a value of `error` explicitly in my options, I now receive this error:

[code]

[2019-01-04 15:03] abjerstedt commented on #216
@Jack-Barry thats because client.click -> is not a function <-

In v5, you cannot interact with an element directly from the browser/client. It has to be called in the element as a first class citizen context: client.findElement(selector).click().

[2019-01-04 15:07] abjerstedt commented on #3134
@webdriverio/technical-committee I'm thinking something like this:
*Add a new command called addElementCommand.
*Create an object (or array) in the browser object and attach all elementCommands to it (browser.elementCommands)
*Update the element generation to grab all functions attached to the above referenced object and attach them to the newly generated element.

[2019-01-04 16:01] Jack-Barry commented on #216
Got it. It's a bit confusing and a little frustrating because the TypeScript declarations in `@types/webdriverio` seem to be out of sync with the current `webdriverio` library, it looks like they are for v4. When I assign a variable as being of type `Client<void>` it says there is a `click` function available.

Still getting errors, but at least they are different errors now. The `findElement` fun

[2019-01-04 16:06] christian-bromann commented on #216
@Jack-Barry don't use `@types/webdriverio` anymore in v5. The latest version of WebdriverIO comes with typings included.

[2019-01-04 16:26] xlenz opened #3252 "WebDriver crashing when using Appium node with grid"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.2.2
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.0
 - **NPM version:** 6.5.0
 - **Browser name and version:** N/A
 - **Platform name and version:** Mac
 - **Additional wdio packages used (if applicable):**
    "@types/mocha": "^5.2.5",
    "@t

[2019-01-04 16:41] abjerstedt commented on #3229
@jdavis61 I apologize... its waitForDisplayed(undefined,true). v5 removed the interval param.

[2019-01-04 22:15] jlchereau opened #3255 "browser.waitUntil fails with MS Edge driver"
#### Environment:

 - **WebdriverIO version:** 5.2.2
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 11.6.0
 - **NPM version:** 6.5.0
 - **Browser name and version:** MS Edge 18.17763
 - **Platform name and version:** Windows 10 verion 1809 (OS Build 17763.195)
 - **Additional wdio packages used (if applicable):** @wdio/spec reporter, @wdio/

[2019-01-04 22:19] mo commented on #3177
I can confirm that 5.2.2 fixes the bug for me too. Thanks a lot for the fix.

[2019-01-04 23:01] mo opened #3256 "after 5.x upgrade test runner fails with "Error: You can't reassign a plugin after appling another plugin""
I'm trying to upgrade a webdriverio 4.x test suite to 5.x and when I launch the test suite using 5.x I get this error:

[code]

The bug can be reproduced by running "npm test" in the example repo below:

1. git clone git@github.com:mo/wdio-v5-cant-reassign-plugin-bug.git
2. npm test
3. see error

What I found so far trying to debug this is that:

* There is a function called "apply" at: ./node_mod

[2019-01-04 23:45] artyompvl commented on #3210
What is the solution for this issue? I cannot get Multiremote working in v5. It is even reproducible in examples in the official repo: https://github.com/webdriverio/webdriverio/tree/master/examples/wdio.
To reproduce just run `npm run test:multiremote`

[2019-01-04 23:58] jdavis61 commented on #3229
Hi @abjerstedt for the follow up response. I also confirmed in v4 `element.waitForVisible(true)` does not work at all (as you mentioned earlier). Thank you for calling this out, I always thought `element.waitForVisible(true)` worked for whatever reason.

[2019-01-05 00:09] artyompvl opened #3257 "[v5]Not able to run Multiremote with wdio test runner"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-01-05 00:16] christian-bromann commented on #3252
@xlenz can you provide logs from Appium or the grid?

[2019-01-05 00:50] mgrybyk commented on #3252
@christian-bromann sorry to say no, there is nothing in grid logs even with debug set to true.
What else might be helpful for you? I can try build zip with grid, some sources and instructions on how to run grid and appium node, however it is not trivial.

You may start with comparison of what request webdrivero 4 and webdrivero 5 are sending to grid. Request bodies differ and it might be an issue.

[2019-01-05 01:57] xlenz commented on #3252
@christian-bromann just found out the problem.
It is failing due to `fullRequestOptions.body.capabilities.alwaysMatch`
`params.capabilities` was missing in webdriver 4 and appears in webdriver 5.

if I just simply remove params.capabilities.alwaysMatch - tests are starting on appium node via grid

this is because of https://github.com/webdriverio/webdriverio/commit/22bbadfaa90e5d8266cd7af39353d377

[2019-01-05 13:59] Jack-Barry commented on #216
I think there still might be something wrong with the type declarations. If I write the following in a `.js` file (to avoid compile errors from TypeScript)

[code]

As I understand it, the `remote` function will return a `Client<void>` object. According to the `Client<void>` type, the `getSession` method is available. However when running this file an error is thrown saying that it isn't. Since I

[2019-01-06 16:13] edi9999 opened #3263 "Saucelabs + WebdriverIO 5 gives 2019-01-06T13:16:20.346Z WARN webdriver: Request failed due to Error: write EPROTO SSL routines:ssl3_get_record:wrong version number"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.2.2
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 11.6.0
 - **NPM version:** v6.5.0-next.0
 - **Browser name and version:** Edge 16
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** none

**Config of

[2019-01-06 18:57] christian-bromann commented on #3255
No reason to create a new issue, let's continue convo in #3196

[2019-01-06 18:57] #3255 closed

[2019-01-06 19:00] christian-bromann commented on #3196
Thanks!

And also not in WebdriverIO.

Can you please provide the edgedriver logs?

[2019-01-06 19:01] christian-bromann commented on #3257
You have set
[code]
as you can see you kept `maxInstances` in there which doesn't contain proper capabilities. With multiremote you should not set maxInstances.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not nece

[2019-01-06 19:05] edi9999 commented on #3263
Oh, yes it fixes this issue.

However, now I have :

[code]

The full build log is here :

https://travis-ci.org/open-xml-templating/docxtemplater/jobs/476054574

I'm running the tests on multiple browser (not in parallel, one after the other), but it seems to be passing for some of the browsers.

[2019-01-06 19:13] edi9999 commented on #3263
Oh, I found out this error message is coming from my test.

I've tried to update the timeout to 90 seconds instead, will see if it works better.

[2019-01-06 19:14] artyompvl commented on #3257
@christian-bromann, thanks for the quick response but It is still reproducible without maxInstances. Also there is no `maxInstances ` in the examples https://github.com/webdriverio/webdriverio/blob/master/examples/wdio/multiremote/wdio.conf.js and it is reproducible there too. Can you please try to run the official example?
Steps:
1. Pull the wedriverio repo: `https://github.com/webdriverio/webdri

[2019-01-06 19:43] edi9999 commented on #3263
It works now !

Thanks for the fast help !

[2019-01-06 21:36] klipstein opened #3264 "Browserstack: execute / executeAsync fails with Android Samsung Galaxy S9"
**Environment:**
 - **WebdriverIO version:** 5.2.2
 - **Mode:** wdio testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.11.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** Android Chrome
 - **Platform name and version:** Android 8.0, Samsung Galaxy S9
 - **Additional wdio packages used (if applicable):** minimal set (dot-reporter, cli, local-runne

[2019-01-06 21:46] christian-bromann commented on #3264
@klipstein

it seems (I can't prove it because you didn't provide any logs) that Browserstack responses with a W3C valid response resulting the webdriver package to apply the W3C WebDriver protocol to the session. It seems that Browserstack is inconsistent here. Please reach out to their support team.

[2019-01-06 21:46] #3264 closed

[2019-01-06 21:49] klipstein commented on #3264
After writing all the above I've found out that this can be solved by passing a newer `browserstack.appium_version` to capabitilies (when nothing is given Browserstack defaults to Appium 1.6.5):

[code]

Maybe this will be useful for someone else having the same issue.

[2019-01-06 21:58] christian-bromann commented on #3264
uff, that is bad.

Thanks for sharing!

[2019-01-07 09:01] jlchereau commented on #3196
I have tried different wdio settings (in wdio.conf.js) to access the logs after reading:
- https://github.com/SeleniumHQ/selenium/wiki/Logging
- https://github.com/SeleniumHQ/selenium/wiki/DesiredCapabilities
- https://seleniumhq.github.io/selenium/docs/api/javascript/module/selenium-webdriver/lib/logging.html
- https://github.com/webdriverio/webdriverio/issues/590

In wdio.conf.js:

[code]

This

[2019-01-07 10:04] xuanzhaopeng opened #3265 "setValue/addValue is totally broken"
**Environment (please complete the following information):**
[code]

**Config of WebdriverIO**
[code]

**Describe the bug**

[code]
It raise:
[code]

[2019-01-07 10:08] cuki commented on #3265
Seems to be just broken on Chrome, it works as expected on Firefox.

[2019-01-07 10:12] xuanzhaopeng commented on #3265
Selenium config:

[code]

[code]

[2019-01-07 13:02] WoJoinGitHub opened #3267 "Request failed due to Error: POST /ssion/d0e7fbd3-8f18-4cd2-8a60-47390bb96c95/url did not match a known command"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:5.2.

[2019-01-07 13:13] christian-bromann commented on #3267
Please check your setup and follow the step by step instruction explained here: https://webdriver.io/docs/gettingstarted.html. Just creating an issue saying something doesn't work doesn't help us to identify a problem.

[2019-01-07 13:13] #3267 closed

[2019-01-07 13:54] postmeback commented on #3185
As, the webdriverio recently had a major update (which i found later), it was not working at my end. Now, it's working fine.

Sorry for late update

[2019-01-07 13:54] #3185 closed

[2019-01-07 16:21] niksy opened #3269 "Using ESM with Mocha"
**Environment (please complete the following information):**

 - **WebdriverIO version:** 4.14.1
 - **Mode:** Standalone mode
 - **Node.js version:** 8.11.2
 - **NPM version:** 6.5.0
 - **Platform name and version:** macOS Mojave

**Describe the bug**

I’m trying to use ES Modules with Mocha and [esm](https://github.com/standard-things/esm) following recommended way - by using Mocha `require` to l

[2019-01-07 16:40] raulcabero opened #3270 "browser.closeWindow() closes all the windows and not only the current browsing context"
**Environment :**
 - **WebdriverIO version:** [5.2.2]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [10.15.0]
 - **NPM version:** [6.4.1]
 - **Browser name and version:** [Chrome 71]
 - **Platform name and version:** [Windows 10]
 - **Additional wdio packages used (if applicable):** [@wdio/selenium-standalone service, @wdio/sync, @wdio

[2019-01-07 16:42] abjerstedt commented on #3270
I cannot reproduce this. I do something similar and my tests behave as designed.

[2019-01-07 16:47] abjerstedt commented on #3270
@raulcabero  Do you actually witness all the windows closing? You are forgetting to change your tab context back to the first window. You need to do the following instead:

const handles = browser.getWindowHandles();
        if (handles.length > 1) {
            browser.switchToWindow(handles[1]);
            browser.closeWindow();
            browser.switchToWindow(handles[0]);
     }

[2019-01-07 16:47] #3270 closed

[2019-01-07 16:51] raulcabero commented on #3270
yep that code worked, thank you very much :).

[2019-01-07 16:55] Gilad-WT opened #3271 "Geo location not implemented with Appium"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.2.2
 - **Mode:** Standalone mode
 - **Node.js version:** 10.14.2
 - **NPM version:** 6.4.1
 - **Platform name and version:** Appium 1.10 and Android emulator

**Config of WebdriverIO**
Running Cucumber over standalone Wdio connected to Appium that talks to an Amdroid emulator

**Describe the bug**
driver.get

[2019-01-07 16:56] christian-bromann commented on #3271
We need to apply both protocols WebDriver and JSONWP here only for Appium sessions.

[2019-01-07 18:31] aiosifelis opened #3274 "Error after upgrading to v5. Services is not a constructor, ReporterClass is not a constructor"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:^5.2

[2019-01-07 18:36] BorisOsipov commented on #3274
@aiosifelis how your wdio config looks like?

[2019-01-07 18:39] aiosifelis commented on #3274
Hey, thanks for responding. I was just making the gist for them.

https://gist.github.com/aiosifelis/f89b85b5adff6234026fe9c12078c779

[2019-01-07 18:41] aiosifelis commented on #3274
@BorisOsipov and here is the command we run,

`"test:integration": "TS_NODE_PROJECT=tsconfig.wdio.json wdio wdio.conf.js",`

[2019-01-07 18:44] BorisOsipov commented on #3274
@aiosifelis at least `framework: 'cucumber'` cucumber adapter isn't ported to v5 yet. See https://github.com/webdriverio/webdriverio/issues/2872

[2019-01-07 18:46] christian-bromann commented on #3274
Closing since cucumber isn't ported yet.

[2019-01-07 18:46] #3274 closed

[2019-01-07 19:00] aiosifelis commented on #3274
I appreciate your quick response.

[2019-01-08 09:57] christian-bromann opened #3277 "Simplify uploading files to SauceLabs to test uploads"
**Is your feature request related to a problem? Please describe.**

There is a good amount of people that want to test uploading files to a server for testing purposes. Even though it is a bad idea since it is not really supported by the WebDriver protocol and only works in Chrome there is a cross browser way of doing it in Sauce. We should enhance the sauce service to simplify this.

**Describe t

[2019-01-08 10:03] BorisOsipov commented on #3277
btw modern selenium grid implementation supports it for all browsers. For example see notes in https://aerokube.com/selenoid/latest/#_file_upload

[2019-01-08 12:21] IgorLizenko commented on #3188
I can confirm this issue exists with fresh install of WebdriverIO v5.2.5, Mocha and spec reporter

[code]

[2019-01-08 16:02] xlenz commented on #3252
Closing issue, it is necessary to pass capabilities like this:
capabilities: [{
    "appium:platformName": 'Android',
    "appium:platformVersion": '9.0.0',
    "appium:deviceName": 'Pixel 2',
    "appium:browserName": 'chrome',
  }]

[2019-01-08 16:02] #3252 closed

[2019-01-08 16:03] christian-bromann commented on #3252
ah nice, we should document this somewhere

[2019-01-08 18:26] marthinus-engelbrecht opened #3280 "getElementProperty is not a function"
- **WebdriverIO version:** 5.2.2
 - **Mode:** Standalone
 - **Node.js version:** v10.13.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 70.0.3538.77
 - **Platform name and version:** Ubuntu 18.04

**Config of WebdriverIO**
[code]

**Describe the bug**
Function should exist. It doesn't.  See below filltered `client` properties at runtime

[code]
As you can see the property is no

[2019-01-08 18:34] abjerstedt commented on #3280
https://webdriver.io/docs/api/jsonwp.html

You are running on jsonwp not webdriver. This property does not exist for this protocol.

[2019-01-08 18:34] #3280 closed

[2019-01-08 18:59] marthinus-engelbrecht commented on #3280
Thanks, it does seem to be the case. But how do I configure it then to use "Webdriver"? I don't see anything in the docs.

[2019-01-08 19:03] abjerstedt commented on #3280
@marthinus-engelbrecht You don't. Webdriverio v5 determines which protocol to use based on the driver you are using, and if supports it.

The commands listed on the left side of the page work on all protocols, and you should be using these when possible.

https://webdriver.io/docs/api/element/getProperty.html <- Try that, and if that doesn't work try:
https://webdriver.io/docs/api/element/getCSSPr

[2019-01-08 19:14] marthinus-engelbrecht commented on #3280
Thanks, suspected as much. Was looking for a way to force it before I created the issue. What I don't get is I'm using the latest chrome driver and according to the [this](https://chromium.googlesource.com/chromium/src/+/master/docs/chromedriver_status.md) it's implemented.

[2019-01-08 19:31] marthinus-engelbrecht commented on #3280
Seems like the latest `geckodriver` is happy. So I guess `chromedriver` doesn't conform enough yet. Would have been nice if it was a per-method basis.

[2019-01-08 19:53] SuchitraK commented on #1733
@christian-bromann  I get the same error for browser.getWindowHandles() or browser.getWindowHandle()

[2019-01-08 22:11] abjerstedt commented on #1733
@SuchitraK you just necroed an issue from 2 years ago and wdio v4.

Please ask your question in gitter, as this is not an issue and we can help you do things correctly.

[2019-01-09 10:22] xlenz opened #3282 "Invalid typescript definition for $ and $$"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.2.6

**Config of WebdriverIO**
Using TypeScript

**Describe the bug**
Invalid typescript definition for $ and $$
Not possible to traverse and pass callbacks

**To Reproduce**

case1
[code]

case2
[code]

**Expected behavior**
proper definition for $ and $$

**Additional context**
current definition looks lik

[2019-01-09 10:46] xlenz commented on #3282
workaround
declare namespace WebdriverIO {
  interface Element<T> {
    $(selector: string): WebdriverIO.Element<void>
    $$(selector: string): WebdriverIO.Element<void>[]
  }
}

[2019-01-09 10:46] christian-bromann commented on #3282
@xlenz mind making a PR?

[2019-01-09 10:50] xlenz commented on #3282
@christian-bromann
Fighting now with `$(() => this.nextSibling.nextSibling)`.
Have to understand what is this and how to pass either string or callback function

[2019-01-09 11:41] StephenABoyd commented on #3282
@xlenz just remove the exclusion of ```$``` and ```$$``` from the definition generation script to bring those two in automatically. You can also add defaults to the existing template Element interface above the comments

[2019-01-09 13:43] urig opened #3283 ""No test found" when running npm run test in Windows"
**Environment:**
 - **WebdriverIO version:** v5.2.0
 - **Mode:** Not relevant
 - **If WDIO Testrunner, running sync/async:** Not relevant
 - **Node.js version:** v10.14.1
 - **NPM version:** v6.4.1
 - **Browser name and version:** Not Relevant
 - **Platform name and version:** Windows 10 Home
 - **Additional wdio packages used (if applicable):** All

**Config of WebdriverIO**
An example of how you

[2019-01-09 16:05] christian-bromann commented on #3282
These commands don't exist anymore in v5.

[2019-01-09 16:34] VKnightUT commented on #3157
@christian-bromann and @abjerstedt  I have tried updating to version 5.2.7 today to see if this issue is resolved. When I try running tests on version 4.14.1 it runs but on version 5.2.7 I get the following error:

'wdio' is not recognized as an internal or external command,
operable program or batch file.

Have you guys had a chance to look at this issue yet? Since providing a reproducible exampl

[2019-01-09 17:12] abjerstedt commented on #3157
@VKnightUT You didn't properly upgrade to v5. Please read the upgrade instructions in the docs and then ask out on gitter if you need help. Many of those packages have been renamed, and you only upgraded "webdriver" and not the remaining packages.

[2019-01-09 18:38] abjerstedt commented on #3283
Closing per the referenced PR.
@urig i think the syntax to close issues with a pr is "Resolves <issue>".

[2019-01-09 18:38] #3283 closed

[2019-01-09 19:36] mikesalvia commented on #2872
@christian-bromann Sorry for the delay I would love to help out with this.

[2019-01-09 20:02] timmywil commented on #3282
While you're editing the type definitions, I think `execute` should be able to take [any number of arguments](https://webdriver.io/docs/api/browser/execute.html), just like `executeAsync`.

[code]

Note the missing `arguments:any`.

[2019-01-09 20:19] ZainabSalameh opened #3287 "`getValue` command must use `getElementAttribute` for all browsers"
**Environment :**
 - **WebdriverIO version:** [5.0.0-beta.6]
 - **Browser name and version:**
	- **Chrome** on Linux v.66.0.3359.117(selenium/node-chrome docker image).
 	- **Safari** on iPhone 6 v.12.1(iphone simulator, appium-version: 1.10)
	- **Firefox** on Linux (selenium/node-firefox docker image)

### **Describe the bug**
The implementation of **getValue** command for an `<input>` shows that

[2019-01-09 20:36] StephenABoyd commented on #3282
@timmywil That would just be a JS Docs update on ```execute.js``` in the browser commands so the auto-generate script can work properly.

Currently it's:

[code]

It should probably be changed to:
[code]

[2019-01-09 20:56] naddison opened #3289 "v5 Test Runner reports no specs found to run when no capabilities property set"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.2.7
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 8.11.2
 - **NPM version:** 5.8.0

**Describe the bug**
I used the configuration file that was generated for me using the WDIO CLI. I then commented out the capabilities section.

**Expected behavior*

[2019-01-09 21:16] mgrybyk commented on #3282
will do

[2019-01-09 22:05] christian-bromann commented on #3287
That should not be the case anymore. I just ran the following script:
[code]
and got an expected result `foobar`

[2019-01-09 22:05] #3287 closed

[2019-01-09 22:17] abjerstedt commented on #3287
@ZainabSalameh Just to note, you are about 30 or so versions behind the current release. Please upgrade all your dependencies to @latest.

[2019-01-10 00:41] estk opened #3293 "Support for direct use of IE Webdriver with v4x"
## Summary

IE immediately exits when a webdriver execute command is sent from wdio v4x. The problem is that the IE driver has a bug where the error is put into the Allow header [see the issue here](https://github.com/SeleniumHQ/selenium/issues/6828). As in [this pr](https://github.com/webdriverio/webdriverio/pull/2846) I would like to work around the issue by acknowledging the error and  trying t

[2019-01-10 01:12] crash83k opened #3294 "Errors saved with screenshots"
**Is your feature request related to a problem? Please describe.**
This is strictly a feature request. It's hard to keep track of what errors correlate to what images when there's more than 1 or 2 errors during a test.

**Describe the solution you'd like**
I think it would be nice to either watermark the image with the exact error that caused the screen shot to be taken, or add it to the image's m

[2019-01-10 04:14] y-okady commented on #3024
This is our workaround.
[code]

[2019-01-10 04:43] jdavis61 commented on #3209
Hi @rdpanek I believe the issue in this ticket was fixed in version 5.2.8. After upgrading to this version, any custom command with async/await failed when sync = true is configured in wdio.conf.js.

For example when sync=true, this command completely failed.
[code]

This command did not throw an error.
[code]

FYI

[2019-01-10 06:14] y-okady commented on #3024
I think this may be smarter than the above workaround.
[code]

[2019-01-10 06:36] denonzhu opened #3295 "appium get current activity error"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:5.+

[2019-01-10 06:46] ZainabSalameh commented on #3287
@christian-bromann thanks. Okay @abjerstedt will do.

[2019-01-10 09:53] christian-bromann commented on #3209
This has been fixed with the latest release.

[2019-01-10 09:53] #3209 closed

[2019-01-10 10:01] #3295 closed

[2019-01-10 10:02] christian-bromann commented on #3295
@denonzhu thanks! Next time don't be afraid to make a PR by yourself 😉

[2019-01-10 12:31] ablok commented on #3282
Actually, it should also have `any` as return type. Because it can return a result.

[2019-01-10 13:09] StephenABoyd commented on #3294
You can use ```saveScreenshot``` when a test fails and give the file a name based off of the test that ran. Or are you asking for the error message thrown to be incorporated?

[2019-01-10 13:13] abjerstedt commented on #3024
This is an issue with react specifically. It was already reported to chromedriver and closed with a "won't fix".

[2019-01-10 13:16] wswebcreation commented on #3282
Well regarding the `execute`-typing, I think if we are going to do it, we need to do something like this:

[code]

Then people can also template their outcome and TS can do it's magic like it should do

[2019-01-10 13:18] abjerstedt commented on #3294
In your aftertest hook just call screenshot if the test failed. Name the file sheet your test name (it text)  with some sanitation and you'r done.

[2019-01-10 13:30] wswebcreation opened #3297 "@wdio/firefox-profile-service 5.2.2 throwing errors"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.2.8
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** `8.12.0`
 - **NPM version:** `6.4.1`
 - **Browser name and version:** Firefox
 - **Platform name and version:** OSX
 - **Additional wdio packages used (if applicable):** `"@wdio/firefox-profile-servic

[2019-01-10 13:59] rdpanek opened #3298 "Output to CLI is thirce"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.2.8
 - **Mode:** [Testrunner]
 - **If WDIO Testrunner, running sync/async:** sync: true
 - **Node.js version:** 10.9.0
 - **NPM version:** 6.2.0
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** OSX Mojave 10.14.1
 - **Additional wdio packages used (if applicable):
[code]

**Config

[2019-01-10 14:08] abjerstedt commented on #3298
This is a known issue,  l and needs to be resolved.

Side note: please go through and update your wdio packages to the most current version. Since the launch of v5 we've been moving quickly with fixes.

[2019-01-10 15:25] christian-bromann opened #3299 "Vendor specific protocol commands for Sauce Labs"
**Is your feature request related to a problem? Please describe.**

Sauce Labs supports vendor specific WebDriver extension commands (https://wiki.saucelabs.com/display/DOCS/Custom+Sauce+Labs+WebDriver+Extensions+for+Network+and+Log+Commands).

**Describe the solution you'd like**
It would be create if we could have a protocol that gets applied when running on SauceLabs.

[2019-01-10 15:32] dalenguyen opened #3300 "Cannot use browser.alertAccept() with TypeScript"
I'm trying to test and accept an alert with TypeScript. However, when I use it, it shows an error and couldn't compile. Same with **browser.alertText()**.

`error TS2339: Property 'acceptAlert' does not exist on type 'Client<void>'.`

Webdriverio: "@types/webdriverio": "^4.13.1"

[2019-01-10 15:38] christian-bromann commented on #3300
@dalenguyen please raise an issue or make a PR in the [definitely typed repo](https://github.com/DefinitelyTyped/DefinitelyTyped). This project doesn't maintain the types for v4.

[2019-01-10 15:38] #3300 closed

[2019-01-10 15:55] dalenguyen commented on #3300
Thanks @christian-bromann

[2019-01-10 18:00] crash83k commented on #3294
The latter. I was thinking something a little more substantial. The more I think about it, the more the HTML output as a report seems like a reasonable option. Obviously, this isn't for CI-level testing because it would just create unnecessary junk files. But for local testing it could be very useful.

[2019-01-10 20:30] christian-bromann commented on #3294
I am not sure if this feature request is general enough that it would be used by everyone.

@crash83k would you agree that this is rather suited for a wdio plugin that people could download on NPM?

[2019-01-10 21:19] nicholasbaileyrally commented on #2872
@christian-bromann @mikesalvia I don't know what the status is on this, but we've got some projects that are running wdio and consider cucumber functionality a almost-need-to-have, so I have bandwidth to contribute significant resources.

[2019-01-10 21:40] abjerstedt commented on #2872
@nicholasbaileyrally @mikesalvia you guys will need to figure out who is gonna take this:

But you will need to port the package into the wdio v5 monorepo; and up the UT coverage to 100% before the PR will be merged.

[2019-01-10 22:21] christian-bromann commented on #2872
@NicholasAaronBrady @mikesalvia that's great! Please have a look at the [`wdio-cucumber-framework`](https://github.com/webdriverio/wdio-cucumber-framework) and start there.

[2019-01-10 23:35] #3143 closed

[2019-01-11 04:46] LayMuiToh opened #3304 "upgrade to webdriverio to version 5.2.8 didn't work with Appium service"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** v

[2019-01-11 05:56] wswebcreation commented on #3282
@mgrybyk

To be honest, I still don't think it should be any, as a user you know what the result should be, so provide it. Any should be, IMHO,  prevented as much as possible because its not what TS stands for (even though it's supported by TS

[2019-01-11 07:49] ViaMay opened #3305 "WebdriverIO v.5 work with a teamcity report? TypeError: ReporterClass is not a constructor"
**Describe your question with as much detail as possible**
WebdriverIO v.5 work with a teamcity report?

**If it's about a specific piece of code, try and include some of it to support your question.**
wdio.conf.js:
reporters: ['teamcity'],
![image](https://user-images.githubusercontent.com/10914859/51020036-18b4db80-159f-11e9-9e98-d47f22050e81.png)

**Environment (please complete the following in

[2019-01-11 09:00] TiaanAuto opened #3306 "WebDriverIO V5.2.8 via CodeCept.io- TypeError: webdriverio.remote(...).init is not a function"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version: 5.2

[2019-01-11 09:06] BorisOsipov commented on #3306
@TiaanAuto Please file this isssue to codeceptjs repo https://github.com/Codeception/CodeceptJS/issues/new

Also pay attention wdio v5 implemented in Codeceptjs 2+ version.

[2019-01-11 09:06] #3306 closed

[2019-01-11 09:36] #3282 closed

[2019-01-11 09:38] christian-bromann commented on #3304
See this error message. You are trying to get some sort of performance logs that are not supported by your appium backend. I am not sure if this is an actual bug in WebdriverIO since you haven't posted a minimal reproducible example.

[2019-01-11 09:38] #3304 closed

[2019-01-11 09:39] christian-bromann commented on #3305
see https://github.com/sullenor/wdio-teamcity-reporter/issues/12

[2019-01-11 09:39] #3305 closed

[2019-01-11 09:42] christian-bromann commented on #3293
@estk please make a PR to the v4 repo.

[2019-01-11 10:05] ViaMay commented on #3256
I have this error too.
Maybe for someone to will help. If you use old versions there is no error. like:
![image](https://user-images.githubusercontent.com/10914859/51027195-1019d080-15b2-11e9-8c3f-2851ec794ee8.png)

[2019-01-11 11:12] mgrybyk commented on #3282
@wswebcreation I've closed PR because it is mostly about $ and $$.

Anyway, we need to improve execute and executeAsync types.

it is easy to improve execute function
`type Execute = <T>(script: string | ((...arguments: any[]) => T), ...arguments: any[]) => T;`

however I have problems with executeAsync function.
Here is how it works:
[code]
1st: callback<T>
2nd: args
where <T> is (args, done: (re

[2019-01-11 14:19] gomkat opened #3307 "Using WDIO standalone service with geckodriver."
**Describe your question with as much detail as possible**
Hi, I am currently using Webdriver.io + cucumber for one of my projects. I use the library `wdio-selenium-standalone-service` to start selenium service automatically but I have encountered issues when running tests against firefox version > 62. I read the documentation and I tried to add the path to geckodriver by adding the parameter `pat

[2019-01-11 15:39] abjerstedt commented on #3307
@gomkat I will need additional context in order to help you with this. Please provide your package.json, as well as well as let me know exactly what is in your services array.

Please note: If you execute both the standalone geckodriver at the same time as selenium-standalone service you WILL have connection issues. These services are mutually exclusive and should not be ran at the same time.

[2019-01-11 17:34] klamping commented on #3134
I second this idea. There are definitely times when I'd like to add an element-generic command that's used throughout my tests. As a simple example, for visual regression testing, I could see myself creating a `takeScreenshot` command for a specific element. Something like:

[code]

That would be trouble to have to add the command to every element created, versus it being available widely.

[2019-01-11 17:50] christian-bromann commented on #3134
This was implemented with #3271. I updated the docs here: https://webdriver.io/docs/customcommands.html

The current "issue" is that you need an element to register a custom command to it. Which kind of makes sense but is also problematic if you have a test suite and want to pre-register commands to the element prototype. This should be a different issue though.

@klamping it is implemented in a w

[2019-01-11 17:50] #3134 closed

[2019-01-11 17:52] goodbomb commented on #3257
+1

@christian-bromann We're in the process of migrating to wdio v5, but this issue is a big blocker for us, as we have definite use cases for multi-remote. Migration is blocked until this issue can be fixed. Thanks!

[2019-01-11 18:10] nami-varthakavi opened #3309 "`Browser` object is not binding correctly for custom commands."
The custom commands are not able to bind the browser object with them. Due to this inside the custom commands, we have to use `browser` operator instead of `this` operator to access any `browser` commands.

To provide an example :

Test
[code]

Page Object
[code]

Custom Command
[code]

In the above example the `add` Command throws an error `Error: Can't call execute on element with selector "unde

[2019-01-11 19:40] abjerstedt commented on #3309
I spent some time on this, the following works as expected:
[code]
But if an element has been instantiated, the world melts:
[code]

[2019-01-11 21:10] liuallen1981 commented on #3107
I have tried using action
`        browser.actions([{
            "type": "pointer",
            "id": "src",
            "actions": [
                {"type": "pointerMove", "duration": 0, "x": viewWidth, "y": 100},
                {"type": "pointerDown", "button": 0},
                {"type": "pause", "duration": 500},
                {"type": "pointerMove", "duration": 1000, "origin": "pointer"

[2019-01-11 21:13] marinakuranda opened #3310 "Browser is not opening on Manjaro Linux"
Hello!

Thanks for the WebdriverIO!

I'm using the v5 with Manjaro Linux and everything seems to work fine except one thing. It appears that the browser is not being launched even though I did not specify any configuration that would do so. The test works fine, it's the browser window that I'm missing for debugging purposes.

I've tested this on Windows 7 and it seems to work just fine.

Any ideas

[2019-01-11 22:20] christian-bromann commented on #3310
No. This must be an issue with Linux and the browser. Maybe try to run
[code]

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-01-11 22:20] #3310 closed

[2019-01-11 22:21] christian-bromann commented on #3107
actions API doesn't work in Chrome yet, just fyi.

[2019-01-11 23:01] christian-bromann commented on #3309
Fix is proposed in #3312

[2019-01-11 23:01] #3309 closed

[2019-01-11 23:58] baechul opened #3314 "Provide an option of not to create a session when there is no test or all tests skip in a spec file"
**Is your feature request related to a problem? Please describe.**
In my scenario, the content of the spec is dynamically generated based on several user options passed in the cli. In some situations, a spec could have all skipped tests or there is no test created (an empty spec). Even in this case, I see a session is created and blank web browser launched and dismissed right away.

**Describe the

[2019-01-12 00:57] abjerstedt commented on #3314
Honestly, this feels out of scope to me and is the responsibility of your CLI to remove the spec from your arrays.

WDIO runs whatever specs you pass in via either suite or the specs array. Just santize the values you pass in.

[2019-01-12 12:06] christian-bromann commented on #3314
Duplicate of #1247

[2019-01-12 12:06] #3314 closed

[2019-01-12 19:43] mgrybyk commented on #3298
same here https://github.com/webdriverio/webdriverio/issues/3188

[2019-01-12 22:39] christian-bromann commented on #3188
Let’s continue convo in #3298

[2019-01-12 22:39] #3188 closed

[2019-01-13 00:00] jasp402 commented on #2502
I have read the thread completely and I understand the reasons. But Scroll is super important when you want to try an infinite Scroll or pages that are rendered at the time of desplazarse as naturally does REACT. I do not see anything wrong leaving the function as it was and offering others its alternative scrollIntoView (). Whenever possible to establish the coordinates.

[2019-01-13 21:43] stsvilik commented on #3069
@christian-bromann I think I found the issue, it may have to do with https://github.com/webdriverio/webdriverio/blob/fcb6a3decec4adb1d7dc94cc5ca08f8247ce3ae1/packages/wdio-cli/src/utils.js#L23
When you destructure methods from service, they loose scope of the class they are part of. To fix this you need to bind them explicitly to a service object.

[2019-01-13 22:57] christian-bromann commented on #3069
@stsvilik mind making a PR?

[2019-01-14 00:37] stsvilik commented on #3069
@christian-bromann I'll give it a shot ;)

[2019-01-14 01:36] stsvilik commented on #2618
I'm in the process of upgrading this https://github.com/stsvilik/wdio-docker-service to WDIO 5 if that helps

[2019-01-14 01:53] klamping commented on #3134
Could probably do `$('body').addCommand(...)` in the before hook in wdio.conf.js. Would make a good YouTube video :)

[2019-01-14 02:47] stoneCC commented on #3191
i have same issues, need to be fixed

[2019-01-14 03:42] stsvilik commented on #3069
@christian-bromann https://github.com/webdriverio/webdriverio/pull/3315/files

[2019-01-14 09:17] sskorol opened #3316 "@wdio/allure-reporter: static addStep API forces adding attachment"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.3.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.12.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** Ubuntu 16.04 (Docker image)
 - **Additional wdio packages used (if applicable):** @wdio/a

[2019-01-14 09:43] christian-bromann commented on #3191
Please provide a PR, thanks!

[2019-01-14 11:41] HannaMakarava opened #3318 "When do you plan to migrate Cucumber to WebdriverIO v5?"
**Environment:**
 - **WebdriverIO version:**5.2.8
 - **Node.js version: 10.15.0
 - **NPM version:** 6.5.0
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/selenium-standalone service

[2019-01-14 11:43] BorisOsipov commented on #3318
See https://github.com/webdriverio/webdriverio/issues/2872

[2019-01-14 11:43] #3318 closed

[2019-01-14 11:44] christian-bromann commented on #3318
@HannaMakarava also if you are interested in it don't wait until it is done by someone else and rather participate in making it happen!

[2019-01-14 13:03] mikesalvia commented on #2872
@abjerstedt Is the coverage requirement apply to all packages? Running `./node_modules/.bin/jest ./packages/wdio-mocha-framework/tests` indicates that `wdio-mocha-framework` does not met that requirement.

[2019-01-14 14:56] Kignuf commented on #2872
Hello here. I am interested in contributing to the port of cucumber-framework to v5.
I don't have the time and skills for doing the heavy work, but at the very least I can help testing the beta versions, and I'd be glad to find a spot where I can contribute to the code :)

I am not experienced in such big open source work, all my previous contributions are small fixes here and there, so I would fe

[2019-01-14 19:15] tlabeeuw commented on #3257
@martomo and @christian-bromann Noticed that the attached #3288 changed the config structure slightly from:
[code]
to:
[code]
If your going to change it why not have it be more readable, and remove the double set of `capabilities`:
[code]

[2019-01-14 19:34] #3316 closed

[2019-01-14 19:51] tlabeeuw commented on #3257
Thanks @christian-bromann for the quick reply! Most important is to get this out as it is indeed stopping our ability to upgrade to 5.x. Small side notes not necessary for us are, but to consider for the future:

* If the inner `capabilities` is necessary thats fine. Just looking at the documentation: https://webdriver.io/docs/multiremote.html#using-wdio-testrunner it seems inconsistent between th

[2019-01-14 19:57] christian-bromann commented on #3257
This is not an option anymore and is a bug in the docs, mind making a PR?

Also feel free to suggest a change for it

You should be able to run remotes in parallel .. command calls on the `browser` object will trigger commands in all browser to run in parallel. Please note that you should use multiremote __only__ if you want to simulate a scenario where multiple users are required.

[2019-01-14 20:20] tlabeeuw opened #3322 "Allow `multiremote()` to run different commands in parallel"
# Problem
Attempting to run on two browsers two different pieces of setup code using `multiremote()`. According to the [documentation](https://webdriver.io/docs/multiremote.html#using-wdio-testrunner) and trying the following example out it doesn't work.

# Solution
For example would like to be able to run the following type of code:

[code]

# Context
Attempted on 4.x (cannot try on 5.x as `multi

[2019-01-14 20:21] tlabeeuw commented on #3257
Thanks! Will submit a PR later for the doc changes, and a suggestion for the `result` PR. Described the parallel issue in greater detail in: #3322.

[2019-01-14 20:43] martomo commented on #3257
@tlabeeuw Thanks for pointing out the inconsistencies within the documentation, I've updated the multiremote configuration example for test runner also in #3288.

[2019-01-14 21:23] Marketionist commented on #2872
@nicholasbaileyrally @mikesalvia I would also be happy to help with some small things and documentation on wdio-cucumber-framework v5 port

[2019-01-14 21:34] arthrexhb commented on #2872
I am also available to contribute in any way needed. I am starting a new wdio project this week and would love to use v5 with cucumber.

[2019-01-14 21:38] dalenguyen opened #3323 "Can anyone give an example of how to use dragAndDrop in WebdriverIO (v5.3)"
I'm trying to apply **dragAndDrop** function to rearrange the order of a list.

Here is my code:

**function(test) {
   $('#first-item').dragAndDrop('#third-item', 1000);
}**

This function suppose to move **#first-item** to under **#third-item**. However, it doesn't drag #first-item to #third-item position. It just focuses on the #third-item at the end of the script.

Any ideas? Thanks,

[2019-01-14 21:59] christian-bromann commented on #3323
@dalenguyen you need to provide much more information that this:
- do you have a reproducible example?
- which environment are you running?
- any logs?
- any output?

Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This i

[2019-01-14 21:59] #3323 closed

[2019-01-14 22:34] DanLambe opened #3324 "setValue() command does not work and throws error in Edge"
**Edge WebdriverIO Issue**

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.2.7
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10 LTS
 - **NPM version:** 6.4.1
 - **Browser name and version:** Edge 16
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**

[2019-01-14 23:55] ankur22008 commented on #1338
For me sync mode is not working at all and I have to write code using async/await commands. is this really work ?

for example

I clicked a button to navigate to another page
I need to search an element in next page but my test failed saying element not present ( as page was not laoded)

I am using latest version of node and webdriverIO at the moment .

can someone pls help

Thanks

[2019-01-15 01:51] zol commented on #3293
@ChrisOelmueller I'm also looking at this. Could you please point me to the v4 repo?

[2019-01-15 03:10] shilman commented on #3293
@zol It's here: https://github.com/webdriverio-boneyard/v4

See https://github.com/webdriverio/webdriverio/issues/3056 for details

[2019-01-15 03:47] stoneCC commented on #3191
@christian-bromann  sorry, today ,i am try,but can't fix it.  i can't understand why

receive
args = [ null, 'SIGKILL' ]
,,,,,
i am try to listen childProcess.on('SIGKILL',   but nothing to happen...

[2019-01-15 04:44] michaelseno opened #3327 "does `browser.keys(['Meta', 'v'])` works with chrome?"
**Describe your question with as much detail as possible**
I am currently automating web browsers using webdriverio commands and I would like to know if the `keys` command that will be given a `'Meta'` parameter is still working on version 4 of webdriverio since there is no response nor error when this command is trigger its just doing nothing. (i can say since i'm not doing headless browser and I

[2019-01-15 05:58] GineaPig opened #3328 "Webdriver.io Version 5 doesn't support 'wdio-mochawesome-reporter' ."
Webdriver.io Version 5 doesn't support 'wdio-mochawesome-reporter'.

**Environment (please complete the following information):**
 - **WebdriverIO version: 5.3.0
 - **Mode: WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:**  sync
 - **Browser name and version:** [e.g. Chrome 71]
 - **Platform name and version:** [e.g. Windows 10]
 - **Additional wdio packages used (if applicable):** [

[2019-01-15 07:49] martomo commented on #3327
@michaelseno I believe this is an issue with Chrome, managed to reproduce the issue with chromedriver 2.43 and 2.45, by using `['Meta', 'Z']` key sequence.

It seems that any key combination with 'Meta' is not working as expected in Chrome, however 'Meta' with mouse click combination is respected.

[2019-01-15 07:51] michaelseno commented on #3327
Thank you very much for the clarification. do you happen to have a code snippet for the meta combination with click?

[2019-01-15 09:09] #3327 closed

[2019-01-15 11:44] xlenz opened #3332 "onPrepare hook - this._config[hookName].push is not a function"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2019-01-15 11:44] xlenz opened #3333 "onPrepare and onComplete hooks: this._config[hookName].push is not a function"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.3.1
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10

**Config of WebdriverIO**
use onComplete
[code]
in `wdio.conf.js`

**Describe the bug**
crash when using onPrepare hook

**To Reproduce**
Steps to reproduce the behavior:

1. create wdio.conf.js with o

[2019-01-15 11:47] christian-bromann commented on #3333
@xlenz can you please provide more details. This doesn't help.

[2019-01-15 11:48] xlenz commented on #3333
@christian-bromann sorry, just posted it with default template for some reason

[2019-01-15 11:48] christian-bromann commented on #3332
duplicate of #3333

[2019-01-15 11:48] #3332 closed

[2019-01-15 11:51] xlenz commented on #3333
@christian-bromann my fault, updated issue, don't know what has happened to my browser or whatever.

[2019-01-15 11:55] denonzhu commented on #3295
thanks

[2019-01-15 12:00] #3333 closed

[2019-01-15 12:21] mgrybyk commented on #3298
I think this one is pretty difficult one and might require logging refactoring

[2019-01-15 14:40] abjerstedt commented on #3298
@mgrybyk Christian believes its related to the interface not properly clearing.  I spent a decent amount of time looking into this last week, and couldn't isolate a quick fix.

[2019-01-15 18:42] mgrybyk commented on #3298
@abjerstedt I wish there were an ability to turn off this clearing feature and use regular old school append logger :)

Multiple results is only a part of problem. Another one is that it is not showing test output while test is running, only in the end.

Also, you can't clear console output for CI system like Jenkins, so every updateView() will result output duplication.

[2019-01-15 18:51] GineaPig opened #3337 "Webdriver.io Version 5 doesn't support 'wdio-visual-regression-service'."
Webdriver.io Version 5 doesn't support 'wdio-visual-regression-service'.

Environment (please complete the following information):

**WebdriverIO version: 5.3.0
**Mode: WDIO Testrunner
If WDIO Testrunner, running sync/async: sync
Browser name and version: [e.g. Chrome 71]
Platform name and version: [e.g. Windows 10]
Additional wdio packages used (if applicable): [ @wdio/spec reporter, @wdio/seleni

[2019-01-15 18:54] BorisOsipov commented on #3337
NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages).

[2019-01-15 18:54] #3337 closed

[2019-01-15 18:55] BorisOsipov commented on #3337
Create issue here https://github.com/zinserjan/wdio-visual-regression-service/issues/new

[2019-01-15 20:19] mgrybyk commented on #3191
ok, I know how to fix it, will do PR soon

[2019-01-15 20:34] mgrybyk opened #3339 "Missing typings for addCommand(name, func, attachToElement)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.3.2

**Config of WebdriverIO**
Using TypeScript

**Describe the bug**
Missing typings definition for addCommand(name, func, attachToElement)

**To Reproduce**
Steps to reproduce the behavior:
1. addCommand(name, func, attachToElement)

**Expected behavior**
valid typings should exist

**Additional context**

[2019-01-15 21:24] cuki opened #3342 "Multiremote does not work in standalone mode"
**Environment:**
 - **WebdriverIO version:** 5.3.2
 - **Mode:** Standalone
 - **Node.js version:** 10.14.2
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 71.0.3578.98, Firefox 64.0.2
 - **Platform name and version:** macOS 10.13.6

**Describe the bug**
Following the instructions for the multiremote standalone example as documented in [docs/Multiremote.md](https://github.com/webd

[2019-01-15 21:52] nami-varthakavi opened #3344 "addValue()'/'setValue()' is not transforming the 'value' parameter in to a 'character string' for Appium Protocols"
For any mobile browser tests when we use `setValue()` or `addValue()` function it throws an error `Request failed due to An unknown server-side error occurred while processing the command. Original error: unknown error: 'value' must be a list`.  To provide an example

Test
[code]

Capabilities
[code]

The `Get Config Options` is not converted to a sequence of characters when it is an Appium web dr

[2019-01-15 22:05] martomo commented on #3342
@cuki This should be resolved with #3288, you are getting the error because there are no default values defined when using `multiremote` and `logLevel` is defined non the less since #3116, even though there is no way possible of defining the `logLevel` for `multiremote` in standalone mode.

I've also changed the documentation to use `require` instead of `import` within the same pull request.

[2019-01-15 22:17] martomo commented on #3327
@michaelseno Here is a basic example that you can run in standalone mode, which opens the URL in a new tab by Command (Meta) clicking an anchor element:

[code]

[2019-01-16 00:10] #3191 closed

[2019-01-16 00:31] #3342 closed, assigned to christian-bromann

[2019-01-16 00:32] christian-bromann commented on #3339
Fixed in ##3343

[2019-01-16 00:32] #3339 closed

[2019-01-16 00:32] jimmielemontgomery opened #3349 "missing lodash in dependencies require('lodash') node_modules/webdriverio/build/commands/element/$$.js"
[code]

[2019-01-16 00:34] christian-bromann commented on #3349
I wonder why this never came up in the tests? Have a fix for it

[2019-01-16 08:58] halfzebra opened #3350 "WebdriverIO v5 test fails on Travis CI with "DevToolsActivePort file doesn't exist""
Hello friends!

Thanks for WebdriverIO!

I'm having the following problem, please let me know what am I doing wrong 🙏

**Environment**

Running inside Travis CI with Node LTS.

_travis.yml_

[code]

_package.json_

[code]

**Config of WebdriverIO**
I have pretty much default setup from `wdio config`
https://github.com/halfzebra/wdio-starter/blob/master/wdio.conf.js

**Describe the bug**
Please che

[2019-01-16 09:11] BorisOsipov commented on #3350
@halfzebra There is no UI to run chrome on Travis build. You should configure xvfb in your travis.yaml file or use headless chrome

Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-01-16 09:11] #3350 closed

[2019-01-16 11:00] skudasov opened #3351 "End test gracefully in case of mocha timeout reached"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.3.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.14.2
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** macOS mojave 10.14.2
 - **Additional wdio packages used (if applicable):**
[code]

**Con

[2019-01-16 12:55] christian-bromann commented on #2502
scroll is in v5 https://webdriver.io/docs/api/element/scrollIntoView.html. This command doesn't exist anymore. I don't know why someone would need to absolute scroll the browser. Please open a feature request if you have a solid use case for this.

[2019-01-16 12:55] #2502 closed

[2019-01-16 13:34] cuki commented on #3342
@christian-bromann Thanks for the quick fix!
However I'm confused regarding the `import` in [docs/Multiremote.md](https://github.com/webdriverio/webdriverio/blob/fdbbc559d5e4d6dc0132d5c8d3efab7fd04cc2bc/docs/Multiremote.md), is this correct or should it be changed to `require` like @martomo said he did in #3288? Because for me the `import` does not work.

[2019-01-16 13:43] christian-bromann commented on #3342
It does work if you use babel correctly

[2019-01-16 14:07] arthrexhb commented on #2872
@mikesalvia any luck? I have been trying to get a local wdio-cucumber-framework to work but updating to babel 7 is introducing a lot of different issues on my side. Are you thinking about doing a full re-write?

[2019-01-16 15:17] xlenz opened #3354 "Fix typings for getContext(s), getNetworkConnection, waitUntil, setTimeout, touchAction"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.3.3

**Describe the bug**
Invalid/missing typings for some of methods and properties

**Expected behavior**
- there should be proper typings for: getContext(s), getNetworkConnection, waitUntil, setTimeout, touchAction
- Appium specific desired capabilities should be available

[2019-01-16 15:42] christian-bromann commented on #3354
Merged.

[2019-01-16 15:42] #3354 closed

[2019-01-16 16:13] nicholasbaileyrally commented on #2872
@arthrexhb @mikesalvia I got some work started on this, and have wdio running the example specs, but it's far from stable at the moment. I can link the current work here.

[2019-01-16 16:14] abjerstedt commented on #2872
@nicholasbaileyrally just put up a PR, but label it as POC/WIP/etc

You guys could all share a forked branch for this.

[2019-01-16 16:16] nicholasbaileyrally commented on #2872
Sounds good, will have that up in an hour or two.

[2019-01-16 16:34] cuki commented on #3342
How is babel related to running multiremote standalone?

[2019-01-16 16:41] christian-bromann commented on #3342
That script example is using imports which is not supported by recent node versions. When I would run the script I would install `@babel/node` and run it with it.

[2019-01-16 17:55] halfzebra commented on #3350
Thanks for the advice, it worked out well for me!

[2019-01-16 19:03] nicholasbailey commented on #2872
First PR attempt is here [https://github.com/webdriverio/webdriverio/pull/3357](https://github.com/webdriverio/webdriverio/pull/3357)

Sorry about the profile switch, managing separate work and personal profiles can be a bit of a headache.

[2019-01-16 19:16] marinakuranda commented on #3310
It actually helped, thank you for the suggestion!

[2019-01-16 19:44] Matthematic opened #3358 "If using babel, is it possible to setup source maps to retrieve the correct line numbers in stack traces?"
**Describe your question with as much detail as possible**
If an error occurs in a webdriver test, the line number reported in the stack isn't quite right. It's always a few lines off. For example: if I
`throw new Error()`
 on line 42, I will get the following stack trace for line 45.

`running chrome
Error
    at Context.<anonymous> (/home/matt/code/mar-js/tests/wdio/mar-js/slide-panel-view-spec.

[2019-01-16 20:31] christian-bromann commented on #3358
@Matthematic yes, check for example the babel setup of the webdriverio project.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-01-16 20:31] #3358 closed

[2019-01-16 20:41] christian-bromann commented on #3257
This issue has been fixed within the last release.

[2019-01-16 20:41] #3257 closed

[2019-01-16 21:41] tnguyen14 commented on #3004
@christian-bromann at what version did `chromeOptions` become `goog:chromeOptions`?

[2019-01-16 21:42] abjerstedt commented on #3004
@tnguyen14 It became supported in like 2.38, with selenium-server actually adding it if not provided. Its mandatory as of like 2.43.

[2019-01-16 21:45] tnguyen14 commented on #3004
When I use it, I get
[code]

I am using docker-selenium version `3.14.0-iron` https://github.com/SeleniumHQ/docker-selenium/releases/tag/3.14.0-iron

[2019-01-16 21:47] abjerstedt commented on #3004
@tnguyen14 you should ask these kind of questions in the gitter channel. We may or may not see updates to an issue that has already been closed.

As for your question, the error says it all: you aren't passing the arguments correctly.

[2019-01-16 22:13] abjerstedt commented on #3298
@mgrybyk Yep. All 3 things you listed are known issues that we want to eventually address.

[2019-01-17 00:38] nami-varthakavi opened #3359 "On Specifying one of the driver details under `drivers` argument in `seleniumArgs` and `seleniumInstallArgs`; forces the user to add the driver arguments for other drivers as well."
To provide an example of the above scenario.

In my config File I add
[code]
And if I'm running Edge and Chrome browser in the same test. I get an error for not able to create a `ChromeDriver Service`.

Assume Chrome version is 71 and Edge at 14(Not the latest). So I have to specify the driver version for Edge and expects the wdio to pick the latest version for Chrome out of the box.  Is there any

[2019-01-17 06:16] yashwp commented on #2631
I'm facing the same problem.
[code]

I've tried installing the chromedriver `v2.45` but it is not working

[2019-01-17 07:39] rdpanek commented on #3298
@mgrybyk Yep, I agree with you. "Old school" logger it's better.

[2019-01-17 08:09] balukov opened #3360 "Wrong command for saving screenshot"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**

1. open doc: https://github.com/webdriverio/webdriverio/blob/master/

[2019-01-17 09:59] christian-bromann commented on #3360
I like this solution, mind making a PR?

[2019-01-17 10:05] christian-bromann commented on #3359
I am not sure if this can be fixed in the standalone service. I think this issue belongs to https://github.com/vvo/selenium-standalone

[2019-01-17 11:36] xlenz commented on #3360
@balukov @christian-bromann  How are you guys attaching screenshots to allure report?

such config doesn't work for me
[code]

having addAttachment in afterTest hook throws an error saying that addAttachment is not a function. It would be helpful to update doc with this information as well

[2019-01-17 12:23] baruchvlz commented on #2870
Essentially what you're trying to validate is the same as defined [here](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/webdriverio/index.d.ts#L173-L327)?

[2019-01-17 12:31] xlenz commented on #3360
ah, sorry, by bad
it should be
[code]
in combination with
[code]

[2019-01-17 12:54] Alek5andr opened #3361 "code ELIFECYCLE - Tell the author that this fails on your system: WebDriverIO and Jasmine"
Hello, comrades!

I have some suites, where all tests pass successfully while running. However, they give out the following error eventually:

I have one suite that does NOT give out such error.
Honestly, I'm out of ideas and trials&errors to figure out the difference. Tests and suites are build in the same way. Only difference is parts of SUT.

**_What could you suggest me?_**

**Environment:**

[2019-01-17 14:23] xlenz opened #3362 "Truncate Screenshot webdriver command result in log"
screenshot binary data is posted into log which is not helpful at all, makes it size huge and not readable.

`webdriver/src/command.js` line `log.info('RESULT', result.value)`

**Describe the solution you'd like**
Truncate `result.value` in case **command** name includes _screenshot_ and has result of proper type
[code]

**Additional context**
Can do PR for this.

[2019-01-17 15:01] abjerstedt commented on #2631
@yashwp this is a closed issue. We may or may not see this to respond to. Questions like the one would be better asked in our gitter channel.

As for your actual question, i'm not going to debug a chromedriver binary that doesn't support anything beyond like Chrome 55.

[2019-01-17 15:02] abjerstedt commented on #3298
I'm still working on this. I need to track down whats actually causing it to print 3x.

[2019-01-17 15:06] abjerstedt commented on #3361
@Alek5andr Someone else might pipe in, but i'm not going to debug/troubleshoot this. You are running a very old node version, npm version; and old webdriverio (even in the v4 space) and jasmine versions.

While v4 is still supported, the majority of effort is going into v5 which requires node 8.11.2.

[2019-01-17 15:08] christian-bromann commented on #3361
I agree with @abjerstedt. It is impossible to help here without having a reproducible example or anything we can look into.

[2019-01-17 15:08] #3361 closed

[2019-01-17 15:08] abjerstedt commented on #3362
I like this! Maybe we should determine if its base64, and just replace that value with something like <base64 object> ?

[2019-01-17 15:09] christian-bromann commented on #3362
I like it too. In v4 we had a limit helper for this. Feel free to propose a PR. Thanks!

[2019-01-17 15:13] christian-bromann commented on #3360
@xlenz @balukov it seems that [`takeScreenshot`](https://webdriver.io/docs/api/webdriver.html#takescreenshot) is a protocol command that is called without doing anything with the result. Does our Allure reporter automatically pick this up?

[2019-01-17 15:20] mgrybyk commented on #3298
Something in updateView method :)

[2019-01-17 15:25] christian-bromann commented on #2870
We now maintain the typings within [this](https://github.com/webdriverio/webdriverio/blob/master/scripts/templates/webdriver.tpl.d.ts#L86-L96) repository. But no ... the check should

- check if only allowed capabilities are set
  - for jsonwp: https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol#capabilities-json-object
  - for webdriver: w3.org/TR/webdriver1/#capabilities
- check if capa

[2019-01-17 15:33] abjerstedt commented on #3298
As a quick and dirty, I think we can just clear the buffers each time we print (it seems to be working). However, spec reporter has a symptom i need to fix before submitting this PR.

[2019-01-17 15:37] mgrybyk commented on #3298
I was trying to remove redundant calls, but in some cases results were still duplicated.

Please try case were you have at least two tests and at least one failed and one passed tests

[2019-01-17 15:49] abjerstedt commented on #3298
@mgrybyk Yep. thats what blocked me last week. The fix is honestly to clear the buffer after every print. This solution fixes it for non TTY environments too.

The problem is that i'm losing part of the initial report print atm (probably related to the clear).

[2019-01-17 15:56] xlenz commented on #3362
@abjerstedt I'm afraid is an overkill to determine if it is a base64 in terms of resources.

[2019-01-17 16:16] xlenz commented on #3360
@christian-bromann having this in wdio.conf.js:
[code]
allure reporter is not making a screenshots.

And that is how it is designed
[code]

[2019-01-17 16:18] christian-bromann commented on #3360
I guess this is the bug then.

[2019-01-17 16:23] BorisOsipov commented on #3360
@christian-bromann it is not a bug :)

@xlenz get screenshot in report
[code]

by

@xlenz means that reporter isn't making screenshot itself. It gets base64 value from command result.

[2019-01-17 16:36] BorisOsipov commented on #3360
No, it isn't bug. Reporter can't make screenshots. You are responsible for doing it somehow when you need.

[2019-01-17 17:37] balukov commented on #3360
@BorisOsipov
thank you, because I spent a lot of time to find this bug.
And because `disableWebdriverScreenshotsReporting: false` it's a default value I have just this settings in `wdio.conf.js` for screenshots:
[code]
and
[code]

[2019-01-17 18:45] nami-varthakavi commented on #3359
@christian-bromann Maybe you can modify how you pass in the `seleniumArgs` and `seleniumArgsInstall` by merging the JSON string in the config file the user has provided and anything missing can be replaced from the standalone default config provided by selenium?

[2019-01-17 18:49] abjerstedt commented on #3359
I really don't see an issue with this honestly:

args = {}
seleniumArgs: args;
seleniumInstallArgs: args;

You set the drivers once and forget about them until you manually want to update them. Its also way better than dealing with whatever driver selenium-standalone decides to assign you based on whatever criteria they use.

[2019-01-17 18:54] nami-varthakavi commented on #3359
These are just suggestions that I noticed in v5. Because in v4 `javaArgs` gave us the liberty to give only the ones required and not to worry about anything that is not using.

[2019-01-17 19:01] hborawski commented on #3256
I also encountered this error, and downgrading all my dependencies to match `~5.1.0` solved the problem for me on node `8.12`. However, the problem does not occur on the current LTS or newer, tried both `10.15` and `11.4`. Also worth trying if you are able to upgrade the version you build your project with, rather than lock to older versions of webdriverio.

[2019-01-17 20:15] cbou commented on #2333
`*=some text` is working for me (v4.13.2).

@christian-bromann why were you not sure that it would work? Was it related to the version of Webdriverio used?

[2019-01-17 20:27] mo commented on #3256
I used node v10.11.0 when I first encountered this bug. After running "nvm install stable" I got "node --version" set to v11.6.0 and with that I still run into the bug (I also tried to delete node_modules and "npm install" using this latest stable version of node; still the bug happens).

[2019-01-17 21:16] ELLIOTTCABLE commented on #2094
I was also just bitten by this — :+1: for it being added to the docs; as it's fairly unclear right now!

(Thanks a ton, @da70.)

[2019-01-18 00:28] ELLIOTTCABLE opened #3366 "Error: unknown error: at getErrorFromResponseBody"
Hi! I'm completely new to Webdriver; and I've been assigned a task involving a legacy codebase with some automated interface-tests that use it. I've spent the day trying to get up to speed on the docs and what I can suss out of Google, and I've made *some* progress towards getting our existing tests to run; but now I've run up against a wall that I can't Google my way past. Most of our tests are c

[2019-01-18 00:38] abjerstedt commented on #3366
This isn't an explicit issue or bug, and will require research and troubleshooting.

Please ask questions like this in our gitter channel, as we can help you in near real time.

[2019-01-18 00:38] #3366 closed

[2019-01-18 06:21] yashwp commented on #2631
@abjerstedt I've asked also asked on your Gitter channel, but apparently, nobody cared to reply and its already been 3 -4 days!!!
Just in case if you know how to fix the issue, please respond to this SO question
https://stackoverflow.com/questions/54230191/chrome-version-71-x-unknown-error-call-function-result-missing-value

[2019-01-18 08:47] michaelseno opened #3367 "How to select the Context Menu option when doing a rightclick"
**Describe your question with as much detail as possible**
I am fairly new to webdriverio and I am trying to select an option on the right click menu. I am able to do the right click however when using `browser.keys('ArrowDown')` it doesn't seem to highlight anything in the menu. I've tried to search about this and on the forum the only way to select the context menu options are arrow buttons.

**

[2019-01-18 09:06] wswebcreation commented on #3367
Hi @michaelseno

This is a usage question, please ask these kind of question on our [Gitter channel](https://gitter.im/webdriverio/webdriverio).

Closing it here

[2019-01-18 09:06] #3367 closed

[2019-01-18 12:50] #3362 closed

[2019-01-18 19:06] zol commented on #3293
I've opened https://github.com/webdriverio-boneyard/v4/pull/10 in the boneyard. This issue can now be closed.

[2019-01-19 13:55] christian-bromann commented on #3293
PR was merged.

[2019-01-19 13:55] #3293 closed

[2019-01-19 17:18] tfiwm opened #3370 "this.takeElementScreenshot is not a function"
The saveScreenshot functionality of an element seems to be broken.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.3.5
 - **Mode:** CodeceptJS
 - **Node.js version:** 10.8.0
 - **NPM version:** [e.g. 5.8.0]
 - **Browser name and version:** Puppeteer latest
 - **Platform name and version:** Mac OS Mojave

**Config of WebdriverIO**
standard config

**Descr

[2019-01-19 18:41] christian-bromann commented on #3370
This function is only available if the driver supports the command. It is not up to WebdriverIO. I assume you use Chrome which has no full W3C WebDriver support yet.

[2019-01-19 18:41] #3370 closed

[2019-01-19 18:55] domoritz opened #3372 "WARN webdriver: Request failed due to unknown error: window.<FUNC>is not a function"
**Describe your question with as much detail as possible**
A clear and concise question that doesn't require too much conversation. Need more help? [Find us on Gitter](https://gitter.im/webdriverio/webdriverio)

**If it's about a specific piece of code, try and include some of it to support your question.**

I'm trying to update from WebdriverIO 4 to 5 but after all updates, I get an error.

[code

[2019-01-19 19:58] christian-bromann commented on #3372
The error clearly shows what is wrong: `window.embed is not a function`. Probably because you call this method: https://github.com/vega/vega-lite/blob/f90bf1ae46fa6092f6b5ea212e6178d9a713dbcd/test-runtime/util.ts#L190

This is not a WebdriverIO issue.

[2019-01-19 19:58] #3372 closed

[2019-01-19 20:02] domoritz commented on #3372
The function is defined in https://github.com/vega/vega-lite/blob/f90bf1ae46fa6092f6b5ea212e6178d9a713dbcd/test-runtime/index.html#L12 and index.html should be loaded by `static-server`. Do you have a hunch why the function would not be available?

[2019-01-19 21:07] domoritz commented on #3372
Here is the full log of the error

[code]

[2019-01-20 09:28] CrispusDH opened #3373 "Different behaviours for remote() function regarding to way how you import it"
**Environment:**
 - **WebdriverIO version**: 5.3.5
 - **Mode**: Standalone mode
 - **Node.js version**: 11.7.0
 - **NPM version**: 6.6.0
 - **Browser name and version:** chrome 72.0.3626.53
 - **Platform name and version:** macOS Mojave 10.14.2

**Describe the bug**
At the start, I run the [Getting Started](https://webdriver.io/docs/gettingstarted.html#create-test-file) example. I import `remote`

[2019-01-20 18:05] jdavis61 commented on #3224
As of the webdriverio 5.3.5 release it seems the custom service hooks are no longer being added. Please see below test case, config for more information.

**service**
custom service example:
[code]

wdio.conf
[code]

**Test case**
1. `git clone git clone https://gist.github.com/885f827a27cea69b8923420ea68231e5.git test`
2. `npm install`
3. `npm run build`
4. `npm run test`. In my service I added a

[2019-01-21 15:27] nicholasbailey commented on #2872
Added everyone I could on this thread as collaborators to the fork. Please ping me if you also want to be added?

[2019-01-21 22:33] abjerstedt commented on #3298
@mgrybyk @LiXii I have a proposed fix linked above. This won't make console log in RT, but it will fix the triple printing, and should also help in CI/CD environments.

[2019-01-21 23:07] xcao-riffyn commented on #720
@ponmudivn copy-paste works like a charm!  Unbelievable!  The code is super simple

[2019-01-22 06:53] shiwaniB opened #3378 "Number or type of arguments don't agree with elementIdAttribute protocol command"
**Environment**
 - **WebdriverIO version:**  -  4.14.1
 -  **wdio-webcomponents** - 1.1.0
 - **wdio-iedriver-service** - 0.1.0
 - **wdio-selenium-standalone-service** - 0.0.12

**Config of WebdriverIO**
[code]
**Description**
I am trying to access shadow root element from test cases. Same code is working with chrome and Edge, but getting number or type of arguments don't agree with elementIdAttrib

[2019-01-22 10:47] balukov opened #3379 "Wrong API commands names"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**

https://github.com/webdriverio/webdriverio/tree/master/packages/wdio

[2019-01-22 14:12] CrispusDH commented on #3373
@abjerstedt could you take a look at it, please. Or just tell me how could I help here?

[2019-01-22 15:08] christian-bromann commented on #3378
Please provide a reproducible example!

[2019-01-22 15:09] #3379 closed

[2019-01-22 15:16] christian-bromann commented on #3373
We are maintaining the typings within this repository. Feel free to provide a patch that fixes the issue.

[2019-01-22 18:52] christian-bromann opened #3383 "Add command to open a new top-level browsing context"
see https://github.com/w3c/webdriver/issues/1138#issuecomment-456504233

[2019-01-22 20:33] AsteaDevelopment opened #3384 "V5 saveScreenshot functionality"
**Is your feature request related to a problem? Please describe.**
The problem I have is I would like to provide an absolute path that is outside the execution directory for filepath parameter, but it doesn't seem to support this.

**Describe the solution you'd like**
Support for absolute path outside of the execution directory.

**Describe alternatives you've considered**
I wouldn't mind updating

[2019-01-22 20:54] christian-bromann commented on #3384
This should already work if you do `saveScreenshot("/myscreenshot.png")` or in Windows `saveScreenshot("\\something")` I don't know about Windows.

[2019-01-22 20:54] #3384 closed

[2019-01-22 21:11] AsteaDevelopment commented on #3384
I am working with Windows, I don't think it works because \\ wouldn't work right? It would have to be something like C:\\, wherever the file is actually stored?

Here is what I tested, and what I got back:

`\\appium_screenshots\\test_2019-01-22_19-34-09`

directory (\\appium_screenshots\\test_2019-01-22_19-34-09) doesn't exist.

[2019-01-22 21:47] abjerstedt opened #3385 "Mocha bail is causing hooks to be called in the wrong order"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2] 5.0.0+
 - **Additional wdio packages used (if applicable):**  @wdio/mocha-framework

**Describe the bug**
A clear and concise description of what the bug is.
Mocha Bail is causing the after() hook to be called prior to the afterTest() and afterSuite(). This is causing various issues such as:
* Cl

[2019-01-22 21:47] treyturner opened #3386 "allure-reporter: Running commands added via browser.addCommand() results in output to stderr"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.3.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 8.12.0
 - **NPM version:** 6.4.1
 - **Browser name and version:** Firefox 64
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/allure-reporter 5.

[2019-01-22 21:50] abjerstedt commented on #3385
Through discussion with Christian, I think the proposed fix is to catch bail events and force them to emit the afterTest() and afterSuite() calls before the after call. We will need to then swallow those following calls so they don't get called twice.

[2019-01-22 21:51] treyturner commented on #2953
Opened a new ticket with a reproducible example: https://github.com/webdriverio/webdriverio/issues/3386

[2019-01-22 21:51] abjerstedt commented on #3386
@treyturner As a side note, you can attach commands to the element directly now:

browser.addCommand('name', function, true);

[2019-01-22 21:54] treyturner commented on #3386
@abjerstedt I noticed this in the v5 docs, but don't yet understand how this is advantageous; most commands like this I need at a global/session scope, or i already stuck element logic into the appropriate page objects. Am I missing a better use case?

[2019-01-22 22:05] christian-bromann commented on #3386
cc @BorisOsipov

[2019-01-22 22:06] abjerstedt commented on #3386
You were passing in an element to get an attribute. You can skip that and call it directly on the element

[2019-01-22 22:09] christian-bromann commented on #3386
yeah like
[code]

[2019-01-22 22:15] christian-bromann opened #3387 "Create a flow chart describing how packages interact with each other"
Based on [this](https://github.com/webdriverio/webdriverio/pull/3381#discussion_r249968090) feedback it would be nice for developers to have some sort of flow chart describing how packages interact with each other. That would help onboard people quicker and allow them to make more in depth changes.

[2019-01-22 22:40] abjerstedt opened #3388 "Re-implement automatic screenshots"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Webdriverio v4 contained the feature of automatically grabbing screenshots of the browser upon a promise rejection. This feature did not make the migration to v5, and several wdio consumers have requested it.

[2019-01-22 22:44] abjerstedt commented on #3388
Proposed Implementation: Make the middleware take a screengrab whenever a wrapped element command fails.

This should serve the majority of our consumers (at least the ones using webdriverio commands instead of protocol commands). We won't grab other exceptions - but its arguable that we even need to.

[2019-01-22 23:30] nami-varthakavi opened #3389 "Create outputDir directory in case it doesn't exist"
On a fresh start of running the tests, we expect the WDIO tester runner will be creating the folder mentioned in the  `outputDir` arg for `allure`.
This is how I provided in the config file,

[code]
 On running my test I get the following error
[code]

I also tried giving the default value like this
[code]
but the error persists.

[2019-01-22 23:33] christian-bromann commented on #3389
@nami-varthakavi if the directory doesn't exist it can't put files in there. I would agree however that wdio should create the folder in case it doesn't exit.

[2019-01-23 01:21] christian-bromann opened #3390 "Compatibility check if used Chromedriver version matches with used Chrome version."
**Is your feature request related to a problem? Please describe.**
There are a lot of bugs reported due to issues that are based on using an obsolete/outdated Chromedriver version. Users should really use latest chrome and chromedriver and it should be a hard requirement that the Chromedriver version is compatible with the Chrome version it wants to automate.

**Describe the solution you'd like**

[2019-01-23 02:03] livemixlove commented on #2585
I think it could still be added to the docs.  This is now the second result on google and helped me figure it out.  I had missed it being printing on the console.

[2019-01-23 02:04] christian-bromann commented on #2585
@livemixlove would you mind proposing a change where you have found it earlier?

[2019-01-23 03:54] treyturner commented on #3386
@christian-bromann

Thanks, that makes more sense. I misunderstood that they were attached to specific elements, it is more useful attached to the base Element class. That said, it seems I'm getting a Promise back from .getAttributes() when used this way, and must insert an `await` to get the actual value. Does this seem right? It's odd because calls to .getAttributes from within specs seem to wor

[2019-01-23 06:10] shiwaniB commented on #3378
Please find reproducible example at  [Example](https://github.com/shiwaniB/WebdriverDemo)

[2019-01-23 09:18] wiedsche commented on #3324
Can confirm issue. Same configuration (browserstack, wdio v5).

[2019-01-23 10:25] ToygarM commented on #2858
Hello @christian-bromann,

When are you planning to pick up this issue? My company is moving to Polymer applications and for now on webdriverio v5 there is no native solution for catching shadowDOM properties. It's way to hard to make it work! Is there a temporarily solution for this?

[2019-01-23 10:54] CrispusDH commented on #3373
@christian-bromann it would be nice if you add some entry points how to change some methods in `.js` file to achieve needed types after running type generation command. Because it is totally unclear from reading [these](https://github.com/webdriverio/webdriverio/blob/421176f3d5e6875cd654ff2122a314c47134d477/package.json#L21) script files. For example how I could change `remote()` [method arguments

[2019-01-23 12:54] amiznikov opened #3393 "Multiremote start browser/load page different time"
**Describe your question with as much detail as possible**
Hello, i use multiremote for test my webrtc app. I need to start browsers not at the same time, that browser start some interval between each other

**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.14.0

`
const WebdriverIO = require('webdriverio')
const WebdriverRTC = require('webdriverrtc')
const

[2019-01-23 13:39] abjerstedt commented on #3386
@treyturner you used an async function. Everything inside will be a promise

[2019-01-23 14:18] abjerstedt commented on #2858
@ToygarM feel free to propose a PR. We'll review it

[2019-01-23 15:13] christian-bromann commented on #3324
Can anyone provide wdio and edgedriver logs?

[2019-01-23 15:17] DanLambe commented on #3324
WDIO logs on debug log level settings [here](https://gist.github.com/DanLambe/3e8857fd6b9aec5496eeff7fab098b6b), unfortunately it seems BrowserStack doesn't allow you access to the Edgedriver logs unlike chrome though.

[2019-01-23 16:04] jdavis61 opened #3395 "Custom services do not work if passed into the services property as an array"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.3.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.14.2
 - **NPM version:** 6.4.1
 - **Browser name and version:** Chrome 71
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/cli: 5.3.5, @wdio/

[2019-01-23 16:37] christian-bromann commented on #3373
All type definition of the protocol commands are grabbed from the protocol json file like https://github.com/webdriverio/webdriverio/blob/master/packages/webdriver/protocol/appium.json. For browser and element scoped commands it is directly in the webdriverio js file of the command, e.g. https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/browser/deleteCookies.

[2019-01-23 16:38] #3386 closed

[2019-01-23 16:42] #3385 closed

[2019-01-23 16:45] christian-bromann commented on #3393
Instead of using mutiremote you can still initiate two simple remote sessions in your custom test script.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-01-23 16:45] #3393 closed

[2019-01-23 17:50] christian-bromann commented on #3393
You can have as much sessions as you want:
[code]

[2019-01-23 17:50] christian-bromann commented on #3393
With multiremote all session have to start at the same time.

[2019-01-23 18:04] jpmontez opened #3396 "Appium error when using WebdriverIO with Browserstack"
**Describe your question with as much detail as possible**
A clear and concise question that doesn't require too much conversation. Need more help? [Find us on Gitter](https://gitter.im/webdriverio/webdriverio)

I'm getting an error message when trying to run WebdriverIO with BrowserStack. I'm using the bare-minimum configuration for iOS devices, but I'm receiving the following:
[code]

It seems t

[2019-01-23 18:07] christian-bromann commented on #3396
@jpmontez can you provide more logs and stacktraces please?

[2019-01-23 18:17] jpmontez commented on #3396
[code]
@christian-bromann

[2019-01-23 18:18] jpmontez commented on #3396
That's everything that the test runner outputted, minus the redacted information, of course.

[2019-01-23 18:26] #3373 closed, assigned to nobody

[2019-01-23 18:52] ToygarM commented on #2858
Hello @diego-fernandez-santos after cloning your solution i can only run the tests on node.js. When trying to run in combination with mocha/wdio config.js the test is not running! I tried this with V4.8.0 and V5 and higher. Is there a reason for. I will appreciate when this pretty solution is running for V5 and higher in combination with wdio config.js.

[2019-01-23 18:52] TC-rGangal commented on #3298
@abjerstedt thanks for merging the PR https://github.com/webdriverio/webdriverio/pull/3377. I tried getting the latest build this morning of webdriverio. But the issue still exists.
I just did ```npm i webdriverio ```

[2019-01-23 18:52] ToygarM commented on #2858
@abjerstedt Will try to do my best! Thx!

[2019-01-23 19:06] abjerstedt commented on #3298
@TC-rGangal you need to remember to update all the packages. The fix was in @wdio/cli

[2019-01-23 19:19] TC-rGangal commented on #3298
my bad.. thanks @abjerstedt

[2019-01-23 22:04] namnt14 opened #3399 "Use Custom Commands for database calls doesn't return value, but Promise { <pending> }"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 5

[2019-01-23 22:06] christian-bromann commented on #3399
Ensure you do the call within an `it` block or hook.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-01-23 22:06] #3399 closed

[2019-01-23 22:53] mgrybyk opened #3400 "Fix complier options and update typescript setup according to mocha 6"
**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [x] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**

1. defect in tsconfig.json, move out include fro complierOptions (caused by #3369)

[code]

2. Update setup according to mocha 6

- changed compilers to require
- no need to require ts-node/register twice (in before hook and

[2019-01-23 22:58] mgrybyk commented on #3400
Please let me know if you have any objections on this, can do PR if there are no. Thanks

[2019-01-24 00:37] #3400 closed

[2019-01-24 06:52] mgrybyk opened #3404 "Update typescript setup according to mocha 6"
**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

**Description of the improvement / report**

1. Update setup according to mocha 6

- changed compilers to require
- no need to require ts-node/register twice (in before hook and require blocks)

[code]

2. Update ts-node register command to respect files in tsconfig.js

[2019-01-24 06:59] mgrybyk commented on #3404
From official ts-node doc
[code]

From mocha 6
[code]
Have to use require instead

[2019-01-24 09:57] xkizer opened #3405 "browser.setViewportSize no longer works after upgrade to v5"
After upgrading to version 5 (specifically npm version 5.3.5), `browser.setViewportSize` fails (`browser.setViewportSize is not a function`). I have looked at the changelog and can't find any mention of `setViewportSize`. This worked fine in version 4.

[2019-01-24 13:27] PhaniJRavindra opened #3406 "Scripts works with chrome but fails with safari browser"
Please find the environment as follows,

**Environment (please complete the following information):**
 - **WebdriverIO version:** 4.13.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [8.12.0]
 - **NPM version:** [6.4.1]
 - **Browser name and version:** [safari 12.0.3]
 - **Platform name and version:** [mac os 10.13.6]
 - **Additional wdi

[2019-01-24 14:36] abjerstedt commented on #3406
Issues should only be logges for actual wdio issues. Please reach out on gitter for questions like this.

[2019-01-24 14:36] #3406 closed

[2019-01-24 17:12] christian-bromann commented on #3406
You can find the [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) here.

[2019-01-24 17:20] christian-bromann commented on #3405
This command doesn't exist anymore, please use [setwindowrect](https://webdriver.io/docs/api/webdriver.html#setwindowrect).

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2019-01-24 17:20] #3405 closed

[2019-01-24 17:21] christian-bromann commented on #3393
Not sure what you mean exactly. Please join our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for further questions. Thanks!

[2019-01-24 17:32] mgrybyk commented on #3404
Will do PR later on today

[2019-01-24 18:54] christian-bromann opened #3407 "Automatically run worker with Babel if setup"
**Is your feature request related to a problem? Please describe.**

Currently it is rather difficult to have wdio.conf files in ESNext.

**Describe the solution you'd like**
It would be great if the wdio-runner could detect if babel is setup in the project and automatically compile the files.

**Describe alternatives you've considered**
Have proper documentation of how to do this.

[2019-01-24 19:35] LasseHall opened #3408 "wdio displays test targets as "undefined" during runtime when testing native apps on mobile devices"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.3.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.13.0
 - **NPM version:** 6.7.0
 - **Browser name and version:** n/a
 - **Platform name and version:** Any mobile device

**Config of WebdriverIO**
Native App testing on mobile devices.

**Describe

[2019-01-24 19:56] jgoldring opened #3410 "mocha-framework complaining that done() is not called in 5.4.2"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.2
 - **Mode:** WDIO test runner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 11.6.0
 - **NPM version:** 6.5.0
 - **Additional wdio packages used (if applicable):** @wdio/mocha-framework (5.4.2), @wdio/sync (5.4.2)

**Describe the bug**
While trying to run a test that was work

[2019-01-24 20:17] christian-bromann commented on #3410
Your test exceeds the mocha timeout for tests. You need to increase that timeout, see https://webdriver.io/docs/timeouts.html

[2019-01-24 20:20] jgoldring commented on #3410
It doesn't, my mocha timeout is set to 2 minutes, and I can see in the browser logs that the entirety of the test (which is just a simple navigate to website) completes in less than 10 seconds.

More to the point, this simple test works just fine as is in 5.4.1, but fails in 5.4.2, and I'm fairly certain it is because the node fibre context is not calling done() like mocha expects.

[2019-01-24 20:23] jgoldring commented on #3410
I'll post comparison trace logs of 5.4.1 and 5.4.2 to show that the test does the exact same thing in both versions, but in 5.4.2 (with the changes I indicated in my initial report) just hangs for the full 2 minutes

[2019-01-24 20:54] jgoldring commented on #3410
Instead of logs, here is an easily reproducible example:
1. mkdir wdiologs
2. npm install:
[code]
3. Run selenium locally
**Config gist: https://gist.github.com/jgoldring/ce49362adb0ef133edbb0014dbb8f035**
**Test gist: https://gist.github.com/jgoldring/98e1a78f63844be99d4d1b185a260c51**
4. node_modules/.bin/wdio --hostname=127.0.0.1 --port=4444 wdio.conf.js

It will work no problem. Now repeat the

[2019-01-24 20:57] LasseHall opened #3412 "wdio attempts to retrieve all log types from mobile device sessions by default when outputDir is defined"
**Environment:**
 - **WebdriverIO version:** 5.3.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.13.0
 - **NPM version:** 6.7.0
 - **Browser name and version:** n/a
 - **Platform name and version:** Any mobile device

**Config of WebdriverIO**
mobile device testing + outputDir is defined

**Describe the bug**
wdio requests Appium serve

[2019-01-24 21:06] phillirodney commented on #1055
I am havign the same issue, my wdio.config.js file is as follows:

exports.config = {
  specs: [
    'spec/**'
  ],
  maxInstances: 1,
  capabilities: [{
    browserName: 'chrome',
    chromeOptions: {
      // to run chrome headless the following flags are required
      // (see https://developers.google.com/web/updates/2017/04/headless-chrome)
      args: ['--headless', '--disable-gpu', '--windo

[2019-01-24 21:18] christian-bromann commented on #3408
fixed in #3413

[2019-01-24 21:18] #3408 closed

[2019-01-24 21:37] #3412 closed

[2019-01-24 21:55] #3410 closed

[2019-01-24 22:09] nicholasbailey opened #3416 "Multiple Jasmine Expectations are swallowed by WebdriverIO"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 5.3.3]
 - **Mode:** WDIO Test Runner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 8.11.3
 - **NPM version:** 5.6.0
 - **Browser name and version:** N/A
 - **Platform name and version:** MacOS High Sierra
 - **Additional wdio packages used (if applicable):** @wdio/jasmine-fr

[2019-01-24 22:09] abjerstedt commented on #3395
@christian-bromann take a look at the suggest fix at the bottom (the additional context area) and determine if we can use this fix. This is also impacting my team.

[2019-01-24 22:59] christian-bromann commented on #3395
fixed in #3418

[2019-01-24 22:59] #3395 closed

[2019-01-24 23:57] TC-rGangal commented on #3256
`brew install node`

and then following upgrade instruction from https://webdriver.io/blog/2018/12/19/webdriverio-v5-released.html  fixed the issue of mine and my coworker.

[2019-01-25 01:01] ccope opened #3421 "WDIO Configuration Helper Crashes With Yarn"
**Environment (please complete the following information):**
 - **WebdriverIO version:** wdio/cli v5.4.3
 - **Mode:** N/A
 - **If WDIO Testrunner, running sync/async:** N/A
 - **Node.js version:** 8.9.3
 - **NPM version:** 5.5.1, Yarn: 1.10.1
 - **Browser name and version:** N/A
 - **Platform name and version:** Ubuntu 18.04
 - **Additional wdio packages used (if applicable):** N/A

**Config of We

[2019-01-25 01:06] jdavis61 commented on #3387
I would be interested in helping with this task. I will post what I have for a flowchart within the next seven days.

[2019-01-25 08:41] kajmagnus commented on #3024
@y-okady  thanks I like that workaround. Simpler than the other workarounds.  B.t.w. this (from your 1st workaround): `browser.setValue(selector, '');` usually doesn't work / never-works for me (nothing happens) — instead, I do:  `browser.setValue(selector, ' ');`  that is, clear, by typing a space.

@abjerstedt

For me, with React, Firefox works fine with `setValue`. It properly clears the value.

[2019-01-25 11:21] xlenz opened #3424 "setValue, addValue doesn't work in webview on android mobile devices"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5.4.5
 - **Mode:**  WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Appium:** 1.10.1
 - **Browser name and version:** mobile chrome 71, chrome driver 44
 - **Platform name and version:** android 9
 - **Additional wdio packages used (if applicable):**
[code]

**Config of WebdriverIO**
c

[2019-01-25 12:35] xlenz commented on #3424
found what is causing this defect, will do PR soon

[2019-01-25 14:37] mgrybyk commented on #3424
@nami-varthakavi this might work for you

[2019-01-25 17:26] christian-bromann commented on #3424
Let's continue the discussion in #3425

[2019-01-25 17:36] jlipps commented on #3424
(For context for the log request, I'm wondering if this is an Appium bug, not a wdio bug.)

[2019-01-25 17:52] mgrybyk commented on #3424
There are nothing to do with appium, the log is provided above, it is wdio defect.
We should use jsonwp here, but using w3c.

[2019-01-25 17:53] christian-bromann opened #3426 "Allow to replace heavy request module with something more simplified"
**Is your feature request related to a problem? Please describe.**
Currently the `webdriver` package relies on the request package to connect with the automation driver. The desire of the `webdriver` package is to be lightweight, non opinionated and allow to be run in any environment (e.g. not only Node.js). The request module that is currently a hard dependency prevents this due to the huge amoun

[2019-01-25 17:56] christian-bromann commented on #3424
If you run Appium it has something to do with Appium. Please provide the full Appium logs so we can get an idea where the problem is.

[2019-01-25 17:57] mgrybyk commented on #3424
@christian-bromann

/wd/hub/session/a8fb82ff-bd82-4b90-87fb-df81914b27cd/element/0.7572212386769221-1/value has failed

500: 'value' must be a list

There is nothing else there. With PR proposed these and some other commands start working fine and has no impact on using wdio without appium.

In non w3c mode jsonwp should override w3c commands

[2019-01-25 17:58] mgrybyk commented on #3424
Ok, give me a sec, I'll provide you same error in appium log format

[2019-01-25 18:00] abjerstedt commented on #3426
Depending on what you mean by this, I'm not in favor (unless its an optional execution method).

Running requests via the browser opens up significant vulnerabilities.

I recently experimented with moving all of our backend api calls into the browser (figured it was more production like and cookie handling was easier). I quickly learned that cloud service providers were logging everything includin

[2019-01-25 18:00] jlipps commented on #3424
The problem is it would break other Appium usage. That is why I originally proposed https://github.com/webdriverio/webdriverio/pull/3120/files (which @christian-bromann reimplemented)

[2019-01-25 18:08] christian-bromann commented on #3426
Probably but this isn't supposed to be used on a production website. This should allow someone to make webdriver request from the browser to control a different browser. If we can strip the amount of dependencies down without loosing any features I think this is a considerable value add.