[2021-11-02 10:35] gvozdeva-ira commented on #7457
I found the reason: I had "port:4723" in my wdio config, so after i removed this - everything works smoothly

[2021-11-02 10:43] praveendvd commented on #7636
@Badisi  I just checked it , it works as expected. Do you have any custom tsconfig file in your project ?

you just have to run ,

npx wdio run wdio.conf.ts

[2021-11-02 10:45] praveendvd commented on #7636
It would be great if you could add the project folder as a zip file so that we could reproduce it

[2021-11-02 14:46] wswebcreation opened #7637 "[🐛 Bug]: SauceService: EU session starts a SC-tunnel in the US"
### WebdriverIO Version

7.16.x

### Node.js Version

v14.18.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

This setup will automatically start a tunnel through the service. The session needs to run on the EU DC (when you run `npm run test.saucelabs.eu`). The session is started in the EU DC, but the Tunnel is started in the US.

### What is your ex

[2021-11-02 16:28] dragosMC91 opened #7638 "[🐛 Bug]: Lighthouse throws Error: Protocol JSON API error (list), status: 404"
### WebdriverIO Version

7.14.0

### Node.js Version

12.15.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I can no longer use devtools after upgrading the wdio version.
This problem started appearing once https://github.com/webdriverio/webdriverio/pull/7019 was merged.

If I try to use devtools features like cdp I get `browser.cdp is not a

[2021-11-02 16:42] jpalmieri commented on #7628
ah, I guess I assumed someone would be able to update the old project.

I guess the other option might be to delete `master`: https://github.blog/changelog/2020-07-17-links-to-deleted-branches-now-redirect-to-the-default-branch/

[2021-11-02 16:50] christian-bromann commented on #7628
Done, thanks for the tip!

[2021-11-02 16:50] #7628 closed

[2021-11-02 19:15] Badisi opened #7640 "[🐛 Bug]: run is not working when project already has a misconfigured tsconfig.json"
### WebdriverIO Version

7.16.3

### Node.js Version

14.17.5

### Mode

Standalone Mode

### What happened?

The starter project generated with `@wdio/cli` does not run if a `tsconfig.json` already exists and is not properly configured.

### What is your expected behavior?

Everything should work without any issues after installing WebdriverIO on an existing project.

### How to reproduce the bug

[2021-11-03 00:15] Badisi opened #7641 "[🐛 Bug]: demo example in starter project is not working for every keyboards"
### WebdriverIO Version

7.16.3

### Node.js Version

14.17.5

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

I've spent hours on that one, but you read it right.. the demo generated with the starter project was not working in my case because I was not using an EN_US keyboard !

### Explanation

When trying to set the `#password` input with `Su

[2021-11-03 08:07] christian-bromann commented on #7638
The steps to reproduce are invalid, getting `/bin/sh: wdio: command not found`

[2021-11-03 08:16] christian-bromann commented on #7641
Mhm 🤔  I have a non US keyboard and the example works for me just fine. I also see that WebdriverIO has sent the right key combinations:

What languages do you have installed on your system?

[2021-11-03 08:22] christian-bromann commented on #7640
I agree with the suggested solution of always creating a `tsconfig.json` file for WebdriverIO that differs from the application one. Another option would be to ask in the wizard if existing `tsconfig.json` should be used as compiler option. Any contributions are appreciated.

[2021-11-03 08:45] dragosMC91 commented on #7638
hmm I tried on 2 different mac machines before posting, I will try to find out why you get that error and get back with an update of steps.
What version of node & yarn are you using?

[2021-11-03 08:53] #7637 closed

[2021-11-03 08:55] christian-bromann commented on #7638
latest

Note: in https://github.com/dragosMC91/lighthouse-bug/blob/main/someapp/package.json where I am suppose to run `yarn test:e2e e2e/test/dummy.desktop.test.js` no dependencies for wdio are defined.

[2021-11-03 08:56] Badisi commented on #7641
**Operating system**: macOS Catalina 10.15.6
**Chrome**: Version 95.0.4638.69 (Official Build) (x86_64)
**Keyboard**: ch-FR

Sounds like `chromedriver` is supporting more keyboards afterwards.
I tried with "de-DE" and "fr-FR" and they are working fine.

So it's my keyboard "ch-FR" that is simply not supported...
Well I should say mine "at least" because I have not tested every keyboard configurati

[2021-11-03 09:01] christian-bromann commented on #7641
I guess the `!` on "de-DE", "fr-FR" and "en-US" keyboards are all at the same position. The only real solution I could see is to have a different example case?

[2021-11-03 09:06] dragosMC91 commented on #7638
`someapp/package.json` has a devDependency on `"somelayer": "^1.0.0"` (https://github.com/dragosMC91/lighthouse-bug/blob/main/somelayer/package.json) which contains all the deps but i'm updating this now

[2021-11-03 09:11] Badisi commented on #7641
Just found this: https://sites.google.com/a/chromium.org/chromedriver/help/keyboard-support

But I do have a second keyboard (en-US) as mentioned and it's still not working...

----

To me there are two points to address here:
1) Change the password in the demo to make sure the demo is working for anyone (and avoid people spending hours on debugging something that is definitely not obvious or wors

[2021-11-03 09:31] christian-bromann commented on #7641
That demo is used in tons of examples and not owned by this project. I don't think it is possible to change that page. The other option would be to change the example and run a simple scenario on a different page.

Sounds good to me 👍

[2021-11-03 10:23] dragosMC91 commented on #7638
@christian-bromann I updated the structure of https://github.com/dragosMC91/lighthouse-bug and also tested it on 2 more laptops and had no problems running the tests :(. I don’t think it's because we're using older version of node/yarn so not sure why you get that error when running

[2021-11-03 10:35] dragosMC91 commented on #7638
maybe runing with `npx wdio e2e/wdio.appX.conf.js e2e/test/dummy.desktop.test.js` will work?

[2021-11-03 10:36] christian-bromann commented on #7638
This bug was fixed and released just a second ago, please update your dependencies. Thanks!

[2021-11-03 10:36] #7638 closed

[2021-11-03 13:34] Badisi commented on #7641
I tried anything that I could think of but nothing works for me.

Even playing with languages had no effect:
[code]

So the only solution here is to manually change my system keyboard everytime I'm running the tests.

[2021-11-03 17:02] facusantillo opened #7645 "[wdio-junit-reporter]: Add ability to use filename as testsuite name attribute"
### Is your feature request related to a problem?

jest-junit plugin allows users to use suiteNameTemplate: '{filename}' in junit reporter configuration. This is really useful specially on suites that can't nest more than one test in a describe block due to device specific configurations.

As the result, the testsuite tag looks like:

<testsuite errors="0" failures="3" name="PageLoad.test.ts" skip

[2021-11-03 17:41] christian-bromann commented on #7645
Can you describe this a bit more thoroughly, maybe add some code/configuration examples?

[2021-11-03 18:16] facusantillo commented on #7645
this is  a typical jest configuration file that overrides some of it :

[code]

The suiteName uses the filename (eg: LoginTest.spec.ts) and then it's used on the XML as follows:
[code]

This is really useful when you have multiple reporters implemented (like allure) but you need to parse and normalize the junit files for other external services and since the describes are duplicated then results i

[2021-11-04 01:47] hanifahatiyabudianto commented on #7630
I am using webdriverIO v7 with JavaScript, Node.js v14.17.6, NPM v6.14.15, appium-service: ^7.16.3, cucumber-framework:^7.16.3.
Describe the bug:
I use pageObject:
        `get btnSelesai () { return $('~btnDone') }`
and a method:
[code]
and then, in step-definitions:
      `await LandingPage.landingDone()`
When I run, I got this error:
[0-0] setDefinitionFunctionWrapper is deprecated and will be

[2021-11-04 09:15] nmattia opened #7646 "[🐛 Bug]: Small changes in screenshots of same page"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.12.1

### Node.js Version

14.18.1

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

We take screenshots in a test suit

[2021-11-04 11:28] christian-bromann commented on #7646
Unfortunately not, WebdriverIO should use the same command as Selenium.

[2021-11-04 11:40] christian-bromann commented on #7645
Thanks for the explanation. I totally agree that users should be able to define suite names more granular. I am open to the idea of templates. I could also see functions that expect a string as return value, similar as to the `outputFileFormat` parameter. What do you think? Would you be open help us implement this?

[2021-11-04 12:00] vlad-kryvokoniev commented on #5869
it is still an issue... it's annoying

Have an example:

I ran a repl in Chrome 95.0.4638.69
Node v14.18.0

https://user-images.githubusercontent.com/90450449/140309335-22ff1843-4566-4920-99ed-985e5945db32.mov

[2021-11-04 12:17] facusantillo commented on #7645
sure, never contributed to this project but would love to help you out

[2021-11-04 15:10] facusantillo commented on #7645
@christian-bromann I have created a PR, not sure if everything is correct (first time contributing) let's continue there!

[2021-11-04 15:19] nextlevelbeard opened #7648 "[🐛 Bug]: spec-reporter SauceLabs links not valid when testing on RDC"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

The spec reporter can output lin

[2021-11-04 15:46] nmattia opened #7649 "[🐛 Bug]: saved screenshot dimensions (both width and height) are twice the window size"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.12.1

### Node.js Version

14.18.1

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

When I `setWindowSize(w,h)` and `s

[2021-11-04 17:00] wswebcreation commented on #7649
Hi @nmattia

This is not an issue with WDIO, the fact that the screenshot size is bigger than the screensize has to do with the DPR value.

This happens on mobile phones / Mac retina screens and so on.

Closing it for now, but it's open for discussion

[2021-11-04 17:00] #7649 closed

[2021-11-04 20:21] jvisco opened #7651 "[🐛 Bug]: Cucumber afterScenario hook missing Cucumber's World object"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.3

### Node.js Version

12.13.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Cucumber's World object, is

[2021-11-05 03:04] #7630 closed

[2021-11-05 09:08] nmattia commented on #7649
Ah I see! Thanks!

Indeed, it's a MacBook Pro. Is there any way to read the DPR? Then I could adapt the window dimensions.

Alternatively, is there a way to set the window size in actual pixels as opposed to CSS pixels?

[2021-11-05 10:10] dragosMC91 opened #7652 "[🐛 Bug]: Intl.NumberFormat not working as expected starting with version 7.14.0 when called in wdio tests"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.14.0

### Node.js Version

12.22.7

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I have some tests which val

[2021-11-05 10:42] christian-bromann commented on #7652
This is because the terminal doesn't support the characters you expect. This is not an issue with WebdriverIO.

[2021-11-05 10:42] #7652 closed

[2021-11-05 10:55] christian-bromann commented on #7648
Duplicate of #6357

[2021-11-05 10:55] #7648 closed

[2021-11-05 10:55] dragosMC91 commented on #7652
I'm not sure I follow, why does it work as expected in wdio 7.13.2 if it's a terminal problem but not on 7.14?

[2021-11-05 11:48] christian-bromann commented on #7651
Thanks for reporting!

It seems that with the last major update of Cucumber we removed the world context as parameter from these hooks. It seems reasonable to me to re-add it to the hooks. The relevant code for that is [here](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cucumber-framework/src/index.ts#L259-L311). Any contributions are highly appreciated. Please take a look in

[2021-11-05 19:28] jvisco commented on #7651
I forked the repo and started to look into fixing the issue. But I was unable to make any progress. I did not see how/where to pass along the Cucumber World object as context in the relevant code. Any assistance/instructions would be greatly appreciated!

[2021-11-08 00:08] nonopolarity opened #7653 "[🐛 Bug]: Your `yarn` method doesn't work"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I simply follow https://webdriver.io/do

[2021-11-08 01:00] nonopolarity opened #7654 "[📖 Docs]: about isExisting()"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation

### Description of the improvement / report

The docs: https://webdriver.io/docs/api/element/isExisting/

1. It doesn't say isExisting() that it does not wait, but I think in fact that is the behavior.
2. If it doesn't wait, then isn't it true that it can be simply sy

[2021-11-08 01:13] nonopolarity opened #7655 "[📖 Docs]: Can you add how browser.pause() or toExist() works in v6 and synchronous mode?"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation

### Description of the improvement / report

Is it true that in V5 and V6, when we do `browser.pause(3000)` or `expect(el).toExist()`, it does some kind of "idle loop" to wait?

Or is it Node having some synchronous capability that will go away in Node 16 or 17?

Can

[2021-11-08 06:05] wswebcreation commented on #7649
Hi @nmattia

Yes, you can ask the browser with for example [this](https://developer.mozilla.org/en-US/docs/Web/API/Window/devicePixelRatio) command inside of the `execute` method.

[code]

No, there is no other way by default. You might need to use a NPM library that will resize the image when DPR > 1.

Hope this helps

[2021-11-08 08:40] christian-bromann commented on #7655
`browser.pause(ms)` essentially just runs a `setTimeout` while `expect(el).toExist()` tries to check for element existence multiple times until it times out.

WebdriverIO has been using [fibers](https://www.npmjs.com/package/fibers) which was using some internal V8 interfaces that allowed it to run these commands in a synchronous fashion. These interfaces got removed in an V8 version that is being

[2021-11-08 08:40] #7655 closed

[2021-11-08 08:45] christian-bromann commented on #7654
I am not sure if we should document things it does __not__ do. Both of these commands are different. `isExisting()` is a WebdriverIO command while `toBeExisting()` is an assertion. All assertion commands have an explicit wait.

We have to do a new `findElement` call to make sure that we know the current state of the element. This operation is asynchronous.

I am not sure if the problem is document

[2021-11-08 08:52] #7653 closed

[2021-11-08 08:52] christian-bromann commented on #7653
Sorry for the confusion. There was [a bug](https://github.com/facebook/docusaurus/issues/5861) in an underlying dependency. I made an update to be more explicit about this.

[2021-11-08 10:05] jehon commented on #6883
@wdioAutomationUser : could you post your wdio.conf.js file? Having a problem where this could help me...

[2021-11-08 10:43] jehon opened #7660 "[🐛 Bug]: Setup for electron: can not read sessionId"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.4

### Node.js Version

17.0.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I try to test an electron applicati

[2021-11-08 12:07] jehon commented on #7660
I forgot to mention that my electron app is not "packaged", it is the source folder, as documented in electron testing page (https://www.electronjs.org/docs/latest/tutorial/using-selenium-and-webdriver at the very bottom of the page).

electron version:
    "electron": "15.3.0"
    "electron-chromedriver": "15.0.0"

[2021-11-08 13:51] anastasiyamazheika commented on #4795
Hello!
Is this issue fixed? How to tell Selenium Grid 4 to use a specific DevTools port?

[2021-11-08 17:36] mayankshukla94 opened #7661 "[Hooks]: Add ability to run a particular code or function after all the spec files under `suites` block have been run"
### Is your feature request related to a problem?

Currently, when adding a block of code under `afterSuite` hook, then that hook executes the specified function after each spec file. Basically it is considering the `describe` block as suite.

However, my requirement is to run a piece of code after all the spec files specified under `suites` block have been run.

For example:
[code]

  Now I want

[2021-11-09 03:51] nonopolarity commented on #7654
I got more info:

await el.isExisting() will not wait
await el.click() will wait
await expect(el).toExist() will wait

so I think we should document which one would wait and which one would not.  My fellow engineers are doing things they understand 50% and writing code. And especially automation tests, they say: sometimes it works, and sometimes it doesn't. And some engineers would pepper `browser

[2021-11-09 08:07] praveendvd commented on #7660
Binary and args means you should be able to start the app as

`electron path-to-app`

[2021-11-09 09:39] christian-bromann commented on #7654
The relevant code is here: https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/utils/implicitWait.ts#L11

I will add a section to clarify that no waiting is happening when calling the command.

[2021-11-09 09:55] christian-bromann commented on #7654
@nonopolarity mind reviewing #7663?

[2021-11-09 10:03] christian-bromann commented on #7661
How about the `onComplete` hook? It runs once after all spec files have been executed.

[2021-11-09 10:23] christian-bromann commented on #5869
There are some parallel discussions happening, I am gonna try to consolidate them:

[2021-11-09 10:26] christian-bromann commented on #7641
Thanks for taking the time to investigate. I believe there is not much WebdriverIO can do here. If you haven't installed the english keyboard on OS level WebdriverIO won't be able to use it. I will close this. Happy to re-open if you see anything actionable here. Thanks!

[2021-11-09 10:26] #7641 closed

[2021-11-09 10:26] christian-bromann commented on #7645
Let's continue convo in #7647

[2021-11-09 10:26] #7645 closed

[2021-11-09 10:56] christian-bromann commented on #7619
Correct analysis @praveendvd , here is a reproducible example:

[code]

If your app modifies the window name you should use the url or title to match the correct window name. I will close this as I don't believe there is something we can do here. If you have a suggestion for improvements I am happy to re-open. Thanks!

[2021-11-09 11:43] gabriel-kohen-by commented on #7609
@christian-bromann , I've also noticed in many cases when running WDIO on Saucelabs, that specs say unnamed almost till the task is successful or failed(practically 70% of the run).

[2021-11-09 12:25] christian-bromann commented on #7609
The logs show that 4 jobs were updated:

[code]

There isn't much actionable for anyone here. Happy to add more logs to identify why it isn't updating the job properly.

[2021-11-09 12:31] rsvenkata commented on #6913
const generation = allure(['generate', 'allure-results', '--clean'])

How can I pass another parameter to above 'generation' method? I wanted to place the allure-report into a specific folder.

Eg:
const generation = allure(['generate', 'allure-results', 'Reports/allure-report', '--clean'])

But it does not work.

[2021-11-09 12:42] christian-bromann commented on #7651
Thanks for picking this up @jvisco , let's continue convo in #7662

[2021-11-09 12:42] #7651 closed

[2021-11-09 12:46] christian-bromann commented on #7300
@praveendvd do you want to pick this up next?

[2021-11-09 12:54] christian-bromann commented on #7083
Please try with the latest version of WebdriverIO as we have shipped several improvements. That said, checking the performance of a page always will take longer than a normal page load due to many reasons. I will close this issue. Happy to reopen if concrete issues can be laid out.

[2021-11-09 12:54] #7083 closed

[2021-11-09 12:54] christian-bromann commented on #7453
@Sam55555 any updates?

[2021-11-09 13:00] praveendvd commented on #7300
I tried and I am not able move forward from what I have suggested . I am not sure depending again on third party library to convert json to cucumber message is a good approach . We should be able to generate cucumber message directly

[2021-11-09 13:03] christian-bromann commented on #6704
After revisiting this issue it turns out that everything is working as expected, the following example reproduces this:

[code]

Outputs: `Test run failed: I timed out!`

[2021-11-09 13:03] #6704 closed

[2021-11-09 13:09] Sam55555 commented on #7453
@christian-bromann currently no updates, we overriding 'moveTo' and 'releaseAction' commands as workaround for safari desktop

[2021-11-09 13:14] aslakhellesoy commented on #7300
While https://reports.cucumber.io says you need `>= 7.3.0` it's actually been supported since [7.0.0-rc.0](https://github.com/cucumber/cucumber-js/blob/main/CHANGELOG.md#700-rc0---2020-09-14)

This is done with Cucumber.js' built-in `message` formatter.

[2021-11-09 13:16] christian-bromann commented on #7300
Thanks @aslakhellesoy for replying. The remaining question is:

There are various options:

1) create a new reporter or enhance the `wdio-cucumberjs-json-reporter` and upload a report for every worker or
2) create a service that uses `onComplete` to merge all reports into one

I tend to the first option, what do you all think?

[2021-11-09 13:50] jehon commented on #7660
Thanks for your help!

The application is not "packaged", and the configuration described in your link is for "packaged" applications... I did test it with the binary = __dirname, and no args, but that no help.

I made the test, with

[code]
I tried too with ``` `app=${__dirname}` ```, but with no success.

I did put a hook in the launching, and the command launched is
[code]
I tried this command

[2021-11-09 13:52] jehon commented on #7660
Ok, I found it out !!!

I use "yargs" in "strict" mode to parse the command line options. This detect all those parameters as unknown, and kill the app.

That is now fixed!

To anybody coming to this thread:

!! Yargs must not be in "strict" mode !!

[2021-11-09 13:52] #7660 closed

[2021-11-09 15:26] avikha commented on #7619
Hey @christian-bromann and @praveendvd

In our opinion, the problem with `tabs` still exists. It doesn't matter the window name or whether the application overrides it or. We've tried it with many sites (even some dummy sites created by us) and in many ways.

In our opinion, as I explained above, it is more of a "core" issue where the browser and the `wdio` are not in sync, and `awaits` are not he

[2021-11-09 15:29] christian-bromann commented on #7619
@avikha sorry for loosing track of the actual issue. Reopening.

[2021-11-09 15:33] gabriel-kohen-by commented on #7609
@christian-bromann , looked further and it seems like we're setting the job name according to the suite name on the beforeTest. Maybe we should set the job name on the beforeSuite since it will be the same suite name for every job on the suite.
Also worth noting that in runners such as Mocha, you'd have in the suite before step an action such as login. That will run before the current setting of t

[2021-11-09 15:40] christian-bromann commented on #7609
How so? The job update happens in the [`beforeTest`](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-sauce-service/src/service.ts#L106) hook.

[2021-11-09 16:00] gabriel-kohen-by commented on #7609
Right, @christian-bromann. What happens if you have a Mocha `before` which runs at the beginning of each suite as a condition for any of the tests to run(and should not run again before every test). Login to a site is such an example.
That means that until that phase is done, the job (which includes the suite and all the tests) will not have it's name set.
Further, if there is an issue with login

[2021-11-09 16:10] christian-bromann commented on #7609
Thanks for clarifying. I think your suggested solution seems most reasonable to me

[2021-11-09 16:34] gabriel-kohen-by commented on #7609
@christian-bromann thank you. Just to clarify, should I create a PR to set a default job name as a suite or should I keep using the suggested workaround?

[2021-11-09 17:49] christian-bromann commented on #7609
Ah right, a PR to set the name in `beforeSuite` seems fine to me

[2021-11-09 19:46] gabriel-kohen-by commented on #7609
@christian-bromann , thanks for the guidance. PR ready for review. Not sure if I should have added another test or what we have tests the criteria.

[2021-11-10 02:37] Abel0916 opened #7676 "[🐛 Bug]: Can't detect element in auto popup new window in headless mode"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.7.8

### Node.js Version

12.16.3

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Can't detect new element in new aut

[2021-11-10 07:06] avikha commented on #7619
Hey @christian-bromann,

Here is an example of the tabs problems with the `newWindow` and `getWindowHandles`.

[code]

The actual output from the script:

[code]

This is the same as "Example 1" presented in my initial post. You can see, that there is only one handle in `allHandles` list, and that all of the other three handles are equal.

Our guess is that `window.open(...)` executed by the `newW

[2021-11-10 07:10] avikha commented on #7619
By the way, @christian-bromann, I ran your example above, and here is the result. But, unfortunately, it is still not working as expected. At least, for me.

[code]

[2021-11-10 09:06] christian-bromann commented on #7619
Thanks for your thorough comments. I added a patch that will fix the issue. Let's continue our convo there.

[2021-11-10 09:06] #7619 closed

[2021-11-10 09:15] christian-bromann commented on #7676
This is unfortunately a Chrome limitation. WebdriverIO can't do anything about it.

[2021-11-10 09:15] #7676 closed

[2021-11-10 10:57] vaibhavjagdale commented on #1390
I am running tests on browser stack with iOS mobile safari.
Selector seems to find an element, but click does nothing and also not not throw an error.
Can't execute .click() method on successfully found element, no error, just silently not executing click.

Same test running perfectly on browser stack with android chrome. looks like issue is resolved but still I getting this will I missing somethi

[2021-11-10 18:00] praveendvd commented on #7646
@nmattia  what command you use to save the screnshot ?

[2021-11-10 18:59] praveendvd commented on #7300
@aslakhellesoy  Thanks for reply , we are not using cucuberjs cli could we still geenrate the message md

@christian-bromann  , currently the only requirement is for cucumber reporter but in future if other reporters comes up that can use cucumber message directly then we have to twitch the code again. SO having a separate reporter to generate ndjson would be more apt , a future proof approach

[2021-11-10 19:00] kyungkimsf opened #7681 "[🐛 Bug]: V7 Cucumber - Unable to identify the current Scenario Outline example"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest, v7.16.0

### Node.js Version

latest, v16

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When a Scenario Outli

[2021-11-10 20:51] christian-bromann commented on #7681
@kyungkimsf thanks for filing the issue.

I agree that populating this data is useful for users. Any contributions that implements this are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2021-11-10 22:05] DJSdev opened #7683 "[🐛 Bug]: Cannot Interact with select lists inside an iframe - JSHandles can be evaluated only in the context they were created!"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.5

### Node.js Version

16.13.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

This issue happens when usi

[2021-11-10 22:27] christian-bromann commented on #7683
Duplicate of #6627

[2021-11-10 22:27] #7683 closed

[2021-11-11 01:39] Abel0916 commented on #7676
@christian-bromann  Thanks for this information.

[2021-11-11 08:12] praveendvd commented on #7681
@christian-bromann  and @kyungkimsf

     beforeFeature: function (uri ,feature){
        console.log("uri",uri,"context",JSON.stringify(feature.children[0].scenario,null,2))
    },

this information is available in beforefeature ,

[2021-11-11 09:13] vaibhavjagdale opened #7685 "[🐛 Bug]:unable to click an element for iPhone device on browserstack"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.13.2

### Node.js Version

v14.17.4

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I am running tests for iPhone saf

[2021-11-11 10:43] starbuck251 opened #7686 "[🐛 Bug]: Console.Logs not attaching to AllureReport on a failed cucumber step"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.10

### Node.js Version

12

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When running tests with Cucumber framewor

[2021-11-11 10:48] praveendvd commented on #7686
Thank you will push the fix today 🙂

[2021-11-11 10:48] christian-bromann commented on #7681
Thanks for investigating @praveendvd!

@kyungkimsf would that be enough for your use case or do you need all this data in the beforeScenario hook? And if so why?

[2021-11-11 10:53] christian-bromann commented on #7685
Please reach out to the support team over at BrowserStack, thanks!

Have you tried a normal click command?

Do you have a reproducible example?

[2021-11-11 11:44] Joostverrijk opened #7687 "[🐛 Bug]: Setup new TS WDIO project with Configuration Helper results in broken 'Test Files'"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

Latest V8

### Node.js Version

14.17.6

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Installing a fresh clean projec

[2021-11-11 12:04] christian-bromann commented on #7687
fixed in #7688

[2021-11-11 12:04] #7687 closed

[2021-11-11 13:55] opensourcesensor commented on #7685
Hi @christian-bromann , @vaibhavjagdale ,
since this week my tests are also unable to click elements on Iphone devices with WDIO and Saucelabs.
I will open a a issue and let you know if there are some updates!

BR

[2021-11-11 14:03] opensourcesensor opened #7690 "[🐛 Bug]: Unable to test Iphone - WDIO- Saucelabs"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Since this week the tests are unabl

[2021-11-11 14:17] christian-bromann commented on #7690
I was able to reproduce this. I recommend to raise an issue in the [Appium](https://github.com/appium/appium) project. WebdriverIO does nothing special here and the same trivial code works on desktop Safari. Given that there is really nothing we can do in WebdriverIO I will close the issue. Happy to re-open if there is anything we can do.

[2021-11-11 14:17] #7690 closed

[2021-11-11 14:48] gauravgandhi1315 commented on #7685
Im able to click elements on iPhone devices with Saucelabs.

[2021-11-11 14:55] opensourcesensor commented on #7685
@gauravgandhi1315  interesting!

Can you share us your capabilities?
Which appium version do you use?

Thanks!

[2021-11-11 15:53] kyungkimsf commented on #7681
@praveendvd @christian-bromann as I've mentioned in the original post, it is 'available' under the gherkin document as well but that doesn't provide a good easy way to distinguish what the currently running scenario actually is -- unless the assumption is being made that children[0] is always going to be the current sccenario -- like having only one scenario in the feature file. But if you have a

[2021-11-11 15:56] christian-bromann commented on #7681
Well you can check this by having a:

[code]

in your `wdio.conf.js`.

[2021-11-11 16:20] praveendvd commented on #7681
children 0 is the first scenario in the feature file not the current ,  so if you have 5 scenarios , you can choose the 5 sceanrio as scenario[4]

and for current scenario , the data file is not shown but the <variable> get replaced with the current value of the data table . As christian mentioned it would be great if you specify whats the expected data and where

[2021-11-11 16:52] kyungkimsf commented on #7681
The expected experience that's the easiest for the end user using the framework would be to just be able to say, given `a` being my current scenario -- typically in the beforeScenario hook, give me the example row that it's using if it's a scenario outline.

From what I am gathering, the current suggestions are parse into the feature / gherkin document from the world, find the current scenario tha

[2021-11-11 19:27] hammzj opened #7692 "[🐛 Bug]: Cucumber profiles are not being loaded with WebDriverIO v7 and Cucumber 7"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.5

### Node.js Version

12.20.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

It looks like using a Cucumber pro

[2021-11-12 13:44] lacell75 opened #7695 "[🐛 Bug]: socket hang up with 36 instances since 7.16.4"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.4
[code]

### Node.js Version

14.17.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Since 7.16.4, I can't launc

[2021-11-12 16:38] christian-bromann commented on #7695
Are you sure it happens when updating from exact `7.16.3` to `7.16.4.`? It is really hard to say if and how this is related to WebdriverIO. There is nothing really we can do to investigate so we kind of depend on your investigation. We are happy to work on any fixes you propose.

[2021-11-12 16:46] praveendvd commented on #7686
Fixed as part of https://github.com/webdriverio/webdriverio/pull/7691 , thanks for raising @starbuck251

[2021-11-12 16:46] #7686 closed

[2021-11-12 17:11] praveendvd commented on #7640
@christian-bromann  and @Badisi

if you run the comman

`npm init wdio /path/to/folder`

it will create tsconfig file inside the destination folder ,

as per getting started page , you should be using this

https://webdriver.io/docs/gettingstarted#using-npm

Please let me know if this was what expected

[2021-11-13 21:23] alexrogersdesign commented on #5900
Also having this problem with multiple multi-remote sessions

[2021-11-15 12:24] christian-bromann commented on #7640
@praveendvd the suggestion here is to create a separate `tsconfig.e2e.json` file that is specific to WebdriverIO. Some Angular apps run e.g. with ESM modules only and then it is better to have a separated tsconfig for e2e tests.

[2021-11-15 13:58] Badisi opened #7700 "[🐛 Bug]: Couldn't find plugin "wait-for" service"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.7

### Node.js Version

14.17.5

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Running a new WebdriverIO p

[2021-11-15 14:02] Badisi commented on #7700
I guess that this line [constants.ts#L107](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cli/src/constants.ts#L107) should be removed or [wdio-wait-for](https://github.com/webdriverio/wdio-wait-for) package should be renamed to `@wdio/wait-for-service` or `wdio-wait-for-service`.

[2021-11-15 14:26] christian-bromann commented on #7700
@Badisi mind taking a stab at this?

[2021-11-15 14:44] Badisi commented on #7700
I don't mind but I'm not sure which solution is better.

To me, `wdio-wait-for` is not really a wdio "service", in the sense that it does not provide a class object as explained in the [docs](https://webdriver.io/docs/customservices). I love the idea that a user could simply `npm i` a package, reference it in the `services` of the wdio config and voila! But if we just rename `wdio-wait-for` to let

[2021-11-15 14:57] christian-bromann commented on #7700
`wdio-wait-for` is not a service in that sense. It isn't picked up by the testrunner. It needs to be imported. Maybe we add a new section called `Plugins` where the only choice is "wdio-wait-for"? I am sure people will build other cool things we can add there eventually.

[2021-11-15 15:11] Badisi commented on #7700
Exactly, it's just something that needs to be "imported".

I'm also working on a package that is more or less the same as `wdio-wait-for` and I was looking, at first, for a way to add it as a "Plugin" when I realized the only thing available was "Services" and "Reporters". So yes `Plugins` would be a good idea!

But I also renamed my local `wdio-wait-for` package to `wdio-wait-for-service` and it

[2021-11-15 15:23] christian-bromann commented on #7700
I would prefer this option. We can leave it open as an issue and maybe someone wants to contribute to this.

[2021-11-15 19:00] nonopolarity opened #7702 "[🐛 Bug]: cannot run on macOS Monterey"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

16

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I am following everything everyt

[2021-11-15 23:10] umair2020 commented on #5239
will anyone be looking at this anytime soon?

[2021-11-15 23:54] christian-bromann commented on #5239
@umair2020 would you like to help us out here?

[2021-11-16 07:14] nikhil-sharma10 commented on #6347
Is there any we can use below chrome devtools protocol while adding a listener?
browser.cdp('Audits','enable');
browser.on('Audits.issueAdded');
browser.url('https://google.com');
when i tried using it i am seeing its working fine in my local. but when used Jenkins to run it. Its throwing an error saying "Audits" domain doesn't have enable method.
https://chromedevtools.github.io/devtools-protocol

[2021-11-16 08:16] christian-bromann commented on #6347
You might not be connected to a target. I recommend to use `getPuppeteer` and use the Puppeteer interface which hides away some of the complexities of CDP.

[2021-11-16 09:31] nikhil-sharma10 commented on #6347
Thanks @christian-bromann but can you help me by providing an example of how to use it? My use case is i have to navigate at one place i.e. https://googleads.github.io/googleads-ima-html5/vsi/ and put up the Vast URL in the inputfield and then click on the vast AD. Then i need to capture the results. So I've tried using getPuppeteer in this way.
(async () => {
      const puppeteer = await browser

[2021-11-16 12:46] nextlevelbeard opened #7703 "[💡 Feature]: Allow for a single framework-agnostic manager of test attachments"
### Is your feature request related to a problem?

Currenlty Cucumber users can add attachment to the framework with `this.attach` function.
These attachments play nicely with Cucumber oriented third party services but they are not made available to WDIO services and reporters that want to make use of them.

webdriverIO users should have single method of adding and getting attachments for tests wi

[2021-11-16 14:24] ArminazK commented on #7453
Hello, just wanted to give my 2 cents here.
To make`moveTo` to work in safari, you need:
* overwrite/change `pefromActions` to NOT to `releaseActions` in the end
* this means that cursor remains on the same spot on the second test run, so move the cursor away to some 'inital' spot before each safari hover (e.g. I use selector 'body')
*  sometimes this does not work on minimised browser...

Hope it

[2021-11-16 15:46] Sam55555 commented on #7453
We override `moveto` because of the second fix for Safari caused by scrolled pages, where Safari gives wrong calculations for scrolled pages and `moveto` does not work after scrolling. For hover you can do both: empty `releaseActions` or full `pefromActions` overrides.

[2021-11-16 16:06] slaven3kopic opened #7704 "[🐛 Bug]: @wdio/sync doesn't work with node 16"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

6.10.11

### Node.js Version

16.13.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

At the moment `@wdio/sync`

[2021-11-16 16:07] Badisi commented on #7640
@christian-bromann, exactly - but the name of that file should remain `tsconfig.json` because otherwise typing wouldn't work in code editor like Vscode which only recognizes `tsconfig.json` and not `tsconfig.e2e.json`.

To me, the ideal solution should be a solution where wdio is installed "completely" in a dedicated folder.
Where the configurations (wdio, tsconfig), the specs, etc, would be centr

[2021-11-16 16:09] christian-bromann commented on #7704
We don't support `@wdio/sync` for NodeJS v16 and above anymore. Therefor we deprecated our synchronous API. For more information see https://webdriver.io/blog/2021/07/28/sync-api-deprecation.

[2021-11-16 16:09] #7704 closed

[2021-11-16 16:10] praveendvd commented on #7640
@Badisi

But if I give npm init wdio test then a entire new project with tsconfig will be created in test folder . Could you reverify this is not happening ? And add an example where it's not happening and we could try it out

[2021-11-16 16:23] Badisi commented on #7640
### Case 1

If `my-test` folder does not exists, `npm init wdio my-test` results in:

![Screen Shot 2021-11-16 at 17 14 03](https://user-images.githubusercontent.com/674862/142022798-346bfd9d-7c20-4634-99b9-1d93814380bb.png)

-> this configuration is fine
-> but to me, `tsconfig.json` and `wdio.conf.ts` should be located in `my-test/test/` otherwise: see case 2

----

### Case 2

If `my-test` fold

[2021-11-16 16:52] Badisi opened #7705 "[📖 Docs]: Improve resources documentation"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation

### Description of the improvement / report

While looking for resources (plugins and such):

- I first went to the github page and found this list:
   https://github.com/webdriverio/webdriverio#package-packages

- Then I went to the website and found this other list

[2021-11-17 08:08] eGavr opened #7708 "[🐛 Bug]: Method 'isDisplayed' works incorrectly in chrome for elements with zero opacity and not empty content"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.8

### Node.js Version

v14.17.3

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Method `isDisplayed` returns diff

[2021-11-17 08:12] eGavr commented on #7708
It seems that this bug can be fixed by adding the following conjunction condition [here](https://github.com/webdriverio/webdriverio/blob/dec6da76b0e218af935dbf39735ae3491d5edd8c/packages/webdriverio/src/scripts/isElementDisplayed.ts#L243):

[code]

[2021-11-17 08:32] praveendvd commented on #7640
@christian-bromann  , currently we treat webdriverio as a full new project and creates the tsconfig.json under the root of the project directory. should we move this under test folder ?

[2021-11-17 09:48] christian-bromann commented on #7640
I would suggest yes, because there are cases where e.g. Angular users want a different tsconfig for their app than for their tests. In general it makes sense to separate them.

[2021-11-17 09:49] christian-bromann commented on #7708
@eGavr should we just check for `opacity === 0`?

[2021-11-17 10:00] praveendvd commented on #7640
@christian-bromann  will pick this up then 🥳

[2021-11-17 12:55] nikolajl opened #7709 "[💡 Feature]: Allow second parameter to getCSSProperty to target pseudo elements, e.g. '::after'"
### Is your feature request related to a problem?

I need to check a css style that is implemented as pseudo element `::after`.

In the browser this is possible using `window.getComputedStyle(element, '::after')`. However, there is not an obvious way to do this in on the Element in WebdriverIO.

Under the hood, `getCSSProperty()` uses getComputedStyle, but only allows 1 parameter. Allowing a secon

[2021-11-17 13:49] christian-bromann commented on #7709
Thanks for proposing the idea @nikolajl! I think the structure you suggest works out, maybe we can be a bit more stricter about the pseudo element strings? So rather than defining it as `string`, we could list `'::after' | '::before' | etc`.

Any contributions that implements this suggestion are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/con

[2021-11-17 21:06] praveendvd commented on #7640
@christian-bromann   ,

if we move tsconfig inside test folder , then we need to create a wdio-entrypoint.js with below content

[code]

and run test as :

`npx wdio run ./wdio-entrypoint.js --no-autoCompileOpts.autoCompile`

should we create the entry point as part of the demo project ? or just close this bug by mentioning @Badisi  can create a separte tsconfig file inside the test folder with th

[2021-11-17 21:08] praveendvd commented on #7640
[wdio.conf.zip](https://github.com/webdriverio/webdriverio/files/7557995/wdio.conf.zip)

A demo project for you to use @Badisi

Related document :

 https://webdriver.io/docs/typescript/#tsconfigjson-example

[2021-11-18 08:10] christian-bromann commented on #7640
@praveendvd how about this:

if the user picks TypeScript as compiler we could add a question to the [configuration wizard](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cli/src/constants.ts#L150-L370) asking whether or not they want to re-use their current `tsconfig.json` or create a new one specific for e2e tests (which should be the default option here). If the user picks c

[2021-11-18 09:18] praveendvd commented on #7640
@christian-bromann

Few questions :

1) in case of creating an entire new project if user wants to create a new tsconfig we will check if tsconfig exists, if it doesnt exists we will create the tsconfig file in the route of the project

2) in case of creating project in the existing project directory , if tsconfig exists and usser wants a separate tsconfig then, we will create it under test folder

[2021-11-18 09:18] Badisi commented on #7640
@praveendvd ,

- The `wdio-entrypoint.js` is not even needed as you can make it run like this :
[code]
  And no need for an `autoCompileOpts` options in the `tsconfig.json` either.

- If you leave the `wdio.conf.ts` outside the `/test` folder or at least do not leave it alongside a proper `tsconfig.json` (with wdio types) then a code editor like Vscode won't be able to find the typing for `config:

[2021-11-18 09:26] praveendvd commented on #7640
@christian-bromann  as mentioned its just one command

`npx wdio run ./wdio.conf.ts --autoCompileOpts.tsNodeOpts.project=./test/tsconfig.json` or adding autocompile option inside wdio.config file so that you dont have to pass it through command line

but the suggested changes will have entire different project structure for a completly new webdriverIO project and webdriverio project initialized in

[2021-11-18 09:32] praveendvd commented on #7640
@Badisi  i am not familiar with angular just a quick question , why you want the project structure tobe as mentioned in your comment as case 2

https://github.com/webdriverio/webdriverio/issues/7640#issuecomment-970438905

why is it not possible to create a folder inside my-test say wdioproject or test and initialize the wdio project inside that instead of my-test itself ?

[2021-11-18 09:32] christian-bromann commented on #7640
Why not stay consistent for both scenarios and always have it in `/test/tsconfig.json`? As more as I think about it as more I like the idea of having separate config file for app and testing. What do you think? Happy with both.

That seems reasonable. Then we also don't need to include the question in the questionaire (you can define whether the question should be asked by using the `when` propert

[2021-11-18 09:34] praveendvd commented on #7640
@christian-bromann  for case one there will be type error for config file for a new wdio if tsconfig is inside test folder (like the screenshot i provided) we will be needing two config file in that case . One in test folder and one in root if it doesn't exists ( which is already implemented)

[2021-11-18 09:37] christian-bromann commented on #7640
🤔  understand, ok then I suggest these two cases:

- tsconfig file exist in root folder -> create wdio.conf.ts and wdio tsconfig.json within `/test`
- tsconfig doesn't exist -> create both in the root folder as it is atm

Would that work?

[2021-11-18 15:31] Nio-o opened #7710 "[🐛 Bug]: mock.respond uses atob which doesn't work correcly for utf8"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.8

### Node.js Version

14.17.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

I want to use mock.respond to inte

[2021-11-18 15:33] Nio-o commented on #7710
My solution is just replace atob to Buffer.from, but I'm not sure that is good for you. [Link to file](https://github.dev/webdriverio/webdriverio/blob/f8584110532a33ad899ff66eefde427d2d0c7481/packages/webdriverio/src/utils/interception/devtools.ts#L92)

[code]

[2021-11-18 16:07] christian-bromann commented on #7710
Thanks for reporting @Nio-o , your suggestion seems like a viable solution to me, mind raising a PR?

[2021-11-18 16:12] Nio-o commented on #7710
@Nio-o I made PR but I don't about your workflow and should it be covered with tests. We can continue discussion in PR
https://github.com/webdriverio/webdriverio/pull/7711

[2021-11-18 16:28] christian-bromann commented on #7710
Awesome, let's continue convo in #7711

[2021-11-18 16:28] #7710 closed

[2021-11-18 20:09] johnBartos opened #7719 "[🐛 Bug]: CDP network emulation does not work in headless mode"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When using CDP via the devtools ser

[2021-11-18 20:42] christian-bromann commented on #7719
Have you tried using the [`throttle`](https://webdriver.io/docs/api/browser/throttle/) command?

[2021-11-18 22:08] johnBartos commented on #7719
Thanks for response! Yes, it has the same result. The only thing I can think of is that in headless mode, the devtools tab doesn't open (I took a screenshot). Without the devtools open throttling doesn't seem to work. Is there a flag or command to force devtools open for headless? `'--auto-open-devtools-for-tabs'` doesn't seem to do the trick

[2021-11-18 22:49] johnBartos commented on #7719
The webworker is doing the network requests in my app. Maybe that has something to do with it? I did a really basic test of simply navigating to google in headless mode and it respected offline mode:

[code]
I see puppeteer attaching to me worker though. I diffed the logs headless/headed and didn't see any differences

[2021-11-19 08:27] hsntngr commented on #4953
thats a quite clever workaround

[2021-11-19 11:53] breburdaTom commented on #5229
Hi Christian, I am encountering the same error message when using cucumber reporter. I am using v7 WDIO.

[2021-11-19 12:06] christian-bromann commented on #5229
@breburdaTom not sure what to say about it. See [my comment](https://github.com/webdriverio/webdriverio/issues/5229#issuecomment-610218341) above.

[2021-11-19 16:56] johnBartos commented on #7719
Ok I actually figured this out. I had to manually access the worker via Puppeteer and send `Network.enable`:

[code]

After this, throttling via `browser.throttle` works as expected. I found a lot of context around workers and CDP here: https://github.com/puppeteer/puppeteer/issues/2469

It seems like this might be straightforward to fix on your end - you'd have to wait until the worker was create

[2021-11-19 16:59] abSauce opened #7722 "[🐛 Bug]: Enabling Sauce Connect w/ sauce-service with W3C EMUSIM capabilities presents invalid capability error"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.5.0

### Node.js Version

15.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When attempting to use the provided

[2021-11-19 17:08] christian-bromann commented on #7719
@johnBartos thanks for this indepth research! Would you be open to take a stab at this as you have most of the context? Happy to support in any way.

[2021-11-19 21:52] johnBartos commented on #7719
I would love to contribute but it will take a while before I can get around to it, so if you'd like to patch this sooner than later please don't wait on me. What would help are a few relevant files which need to be changed (where we start the puppet session would be helpful).

[2021-11-20 15:30] mekalag opened #7723 "[📖 Docs]: `beforeScenario` hook documentation is missing a parameter"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation

### Description of the improvement / report

Hi, I am trying to use tags in webdriverio hooks, So I want to run beforeScenario or afterScenario for only particular tag(s)
I see no documentation for it.

I tried something like this `beforeScenario:({tags: '@ssoScenario

[2021-11-20 18:04] Nio-o opened #7724 "[🐛 Bug]: addLocatorStrategy is missing inside attach"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.8

### Node.js Version

14.17.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Wdio doesn't set addLocatorStrateg

[2021-11-21 09:11] breburdaTom commented on #5229
Sorry Christian, not that experienced SW developer as you are :) I was just stuck, first day of fiddling with wdio cli and it wasn't working when it should. Couldn't find answer anywhere after hours of googling. This was the closest trace similar to my issue.

I just did a clean install with less plugins. For the reporter I chose just **allure** and it started working just fine 👍
Maybe I had 2 or

[2021-11-21 13:24] wswebcreation commented on #6357
Closing this one, https://github.com/webdriverio/webdriverio/pull/7727 should fix this

[2021-11-21 13:24] #6357 closed

[2021-11-21 13:24] wswebcreation commented on #7722
Closing this one, https://github.com/webdriverio/webdriverio/pull/7726 should fix this

[2021-11-22 08:32] christian-bromann commented on #7724
Thanks for reporting!

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2021-11-22 08:34] christian-bromann commented on #7723
WebdriverIO hooks might not know anything about any Cucumber tags that got applied. This is rather a missing feature than missing documentation. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2021-11-22 09:47] nextlevelbeard commented on #7723
`beforeScenario` hook has a `world` parameter with properties `gherkinDocument` and `pickle` that should have the tags for the entire feature and the scenario in question, respectively.

[code]

[2021-11-22 09:50] christian-bromann commented on #7719
Please checkout the `devtools` package which is the automation lib WebdriverIO uses if no automation driver is setup and everything runs through Puppeteer. Then we have a method called [`getPuppeteer`](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/browser/getPuppeteer.ts#L45) that we use in WebdriverIO to attach to a running browser.

[2021-11-22 09:55] christian-bromann commented on #7705
This is a list of all packages that are part of this repository.

This is a general list of 3rd party plugins developed outside of this repository (community packages)

Correct!

Yes, this is indeed not well documented. Here is an example commit of someone adding their service/plugin to this list: https://github.com/webdriverio/webdriverio/commit/3cb5937b968dfe93cf78871589019736a6c98d9e.

[2021-11-22 10:05] #7705 closed

[2021-11-22 10:07] christian-bromann commented on #7705
@Badisi thanks for raising this issue. It is very important to be very clear about this to incentivise the community to build more plugins and make the WebdriverIO ecosystem richer. I added a commit to be more clear about this. Please review and let me know what you think. Happy to extend the docs further. Also let me know where else you see a lack of documentation. Thank you for your contribution

[2021-11-22 10:12] christian-bromann commented on #7723
Thank you @nextlevelbeard .. closing the issue then.

[2021-11-22 10:21] christian-bromann commented on #7702
Are you saying you were running `npm create wdio /some/path`?

The error says you are trying to run Chromedriver x86 even though your are on the new M1 chip correct?

[2021-11-22 10:23] christian-bromann commented on #7692
@hammzj thanks for the thorough written issue. This seems like a feature request to support cucumber profiles. I think it is a good idea! Please get involved and help us make this reality. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2021-11-22 10:24] christian-bromann commented on #7685
@opensourcesensor any updates? Have you been able to create a minimal reproducible example?

[2021-11-22 10:44] christian-bromann commented on #7490
Closing due to inactivity.

[2021-11-22 10:44] #7490 closed

[2021-11-22 10:44] christian-bromann commented on #7609
fixed with #7672, thank you @gabriel-kohen-by for your contribution ❤️

[2021-11-22 10:44] #7609 closed

[2021-11-22 10:45] christian-bromann commented on #7486
Closing due to inactivity.

[2021-11-22 10:45] #7486 closed

[2021-11-22 11:02] opensourcesensor commented on #7685
Hi @christian-bromann , yes. It was the error of the appium version. I changed it to Version 1.19.2 - then it works fine.
I've already had a case like this where the appium connection to saucelabs only works with exactly one appium version, otherwise some elements cannot be clicked. well, now it works again.

[2021-11-22 11:52] vaibhavjagdale commented on #7685
@opensourcesensor  That's great to know ! Thank you !!

[2021-11-22 11:54] nextlevelbeard commented on #7723
Looking at the docs on the hooks, it seems they don't make it clear @christian-bromann .
Maybe we could keep it open and enhance them?

[2021-11-22 12:03] opensourcesensor commented on #7685
@vaibhavjagdale - yes -> Means if it not work I tried different Appium versions - dont know why, but it works. Last time it must be the version 1.22.0, this time 1.19.2. Hope this help you,
BR!

[2021-11-22 12:33] christian-bromann commented on #7685
Thanks for letting us know, will close this issue then as there is nothing to do in WebdriverIO.

[2021-11-22 12:33] #7685 closed

[2021-11-22 12:34] christian-bromann commented on #7723
Mind making a PR with a suggestion? I don't have much usage experience with Cucumber so I am not an ideal person to do this.

[2021-11-22 13:28] Badisi commented on #7705
All the 3rd-parties listed in [services.json](https://github.com/webdriverio/webdriverio/blob/main/scripts/docs-generation/3rd-party/services.json) are only visible when using the wdio installer.
Maybe we could also list them in `awesome-webdriverio` ?

That way, people would be aware of that "rich ecosystem" even before starting using wdio.
And it could even make them adopt wdio if they see somet

[2021-11-22 13:33] christian-bromann commented on #7705
Yes, makes sense.

[2021-11-22 13:56] hammzj commented on #7692
@christian-bromann, definitely. However, I believe it is a bug because WebDriverIO's [Testrunner Configuration](https://webdriver.io/docs/configurationfile) _does_ have an option for Cucumber profiles in both v6 and v7.

[code]

It is also in the [wdio-cucumber-framework package on GitHub](https://github.com/webdriverio/webdriverio/tree/main/packages/wdio-cucumber-framework#profile).

If I get fre

[2021-11-22 14:02] christian-bromann commented on #7692
Yeah, we have this option but was never actually implemented.

Awesome, let me know if I can support in any way.

[2021-11-22 15:03] Praney commented on #7466
I am still facing the issue. I am on the latest version of wdio . Please help. Below is the error
`TypeError: expect(...).toEqual is not a function`
`wdio --version
7.16.8
`

[2021-11-22 15:36] mekalag commented on #7723
@nextlevelbeard I tried with
[code]
it throws :
Document: undefined
Scenario: undefined
Basically it's not working.

So whatever you suggested, is different from what webdriverio hooks format is.
This is how webdriverio beforeScenario hook is

[code]
Can you please provide some workaround with the format suggested in webdriverio ?

[2021-11-22 15:38] christian-bromann commented on #7723
Not sure what you mean here, but have you tried to inspect the arguments you get in this hook?

[2021-11-22 15:41] mekalag commented on #7723
<img width="938" alt="Screenshot 2021-11-22 at 16 40 04" src="https://user-images.githubusercontent.com/11612209/142890702-c3cd1309-8e4b-457a-84e4-eb5c8b3ac527.png">
please look at the screenshot how beforeScenario is defined in runner file.

Yes, I have inspected the arguments its undefined

[2021-11-22 15:42] christian-bromann commented on #7723
The comment you have circled is for `beforeStep` not `beforeScenario` the description is always above the method.

[2021-11-22 15:44] mekalag commented on #7723
I basically wanted to highlight the syntax of `beforeScenario: function (world, context) {` But what @nextlevelbeard provide is like a function `beforeScenario({ gherkinDocument, pickle }, context) {`

I dont know if this is ok or not, but atleast when I tried and inspected the arguments it shows undefined

[2021-11-22 16:05] christian-bromann commented on #7723
You can also write it this way:
[code]

Also make sure you use latest WebdriverIO.

[2021-11-22 16:22] wswebcreation commented on #5409
Closing this one due to the fact that Sauce real devices moved to a new set up. I'm not experiencing this anymore. Feel free to open a new issue with all needed logs if someone else experiences this issue again

[2021-11-22 16:22] #5409 closed

[2021-11-22 16:34] mekalag commented on #7723
Yeah I am using latest webdriverio.
`world.gherkinDocument` and `world.pickle` arguments are undefined.

Where as context argument under the path context.document.feature.children[2].tags[0].name  has scenario name.
I have attached screenshot for the same.

![Screenshot 2021-11-22 at 17 21 57](https://user-images.githubusercontent.com/11612209/142899437-80271fe2-820b-4603-84f1-ea7b5cd7ca3c.png)

B

[2021-11-22 16:47] wswebcreation commented on #5908
@IevgenRagulin

I'm looking into this and I was wondering what you exactly expect here. The `cacheId` can be a random string. The combination of real device capabilities and `cacheId` needs to be the same every time you start a new session after the previous one finished.
You could provide it to your framework capabilities as three unique strings (can be the same over different builds, as long as

[2021-11-22 17:02] wswebcreation commented on #6538
@christian-bromann

I've been thinking about this one, and also about your remark

but what if we add a `driver.deepLink(args)` command where all logic is only available for mobile. The deeplink command is currently not available as a method in Appium (only deeplink for Android as a `driver.execute('mobile:deeplink', args)` and it would keep the complexity at the level where it needs to be

[2021-11-22 17:04] nextlevelbeard commented on #7723
If you look at this, you'll see the `gherkinDocument` in the context parameter
![image](https://user-images.githubusercontent.com/3788982/142903543-9135c543-64c4-44cf-abba-dd687a713ac0.png)

What's happening is that there is a missing first parameter `uri`.

If you declare the function like this, it should work.

[code]

[2021-11-22 17:07] mekalag commented on #7723
There are two parameters `world` and `context` in beforeScenario(world, context) {
So in:
        console.log("Document: " + JSON.stringify(world.gherkinDocument));
        console.log("Scenario: " + JSON.stringify(world.pickle));
you can see undefined in the screenshot just right side of each line.
and in  `context` parameter. Path to mytag `@ssoScenario` is  `context.document.feature.children[2]

[2021-11-22 17:40] mekalag commented on #7723
@nextlevelbeard @christian-bromann

[code]
    with this it works. So world parameters has complete details of feature file, whereas context parameter has details about the current scenario. I could check if my scenario includes tag with above code.

    This I can work with, but if someone comes up with simpler solution to match the tag in beforeScenario hook would be really great.

    We work w

[2021-11-22 17:48] christian-bromann commented on #7723
@nextlevelbeard does this mean the docs are wrong [here](https://webdriver.io/docs/options#beforescenario)?

[2021-11-22 17:51] christian-bromann commented on #6538
I guess `url` is a bit ambiguous here as we don't really open an url but a view. We should consider renaming it to `open`. Generally I would prefer to keep it (e.g. open a resource which can be an url a view or whatever) within a single command if possible. What do you think?

[2021-11-22 18:55] IevgenRagulin commented on #5908
@wswebcreation ,

it's been a while since I created this issue, and I'm off that project now, so forgive me if I don't remember some context.

As far a I remember, with appium/webdriverio a new session is started for each test file. What we would like to be able to do is to run those X sessions on Y devices, and it would be very helpful if webdriverio could set those cacheIds for us automatically,

[2021-11-22 19:30] mekalag commented on #7723
Definitely we need better documentation about hooks.  In the runner file beforeScenario hook is defined as `beforeScenario: function (scenario) {` where as finally we landed up into `beforeScenario(uri, world, context) {` I am sure someone like will never know this from the documentation and very time consuming to write a piece of working code.

Along with the update to the documentation, I also s

[2021-11-22 20:20] christian-bromann commented on #7723
I will re-open to investigate the misleading docs on hooks.

I don't think
[code]
is complicated to write. I am not sure if changing the interface for Cucumber hooks makes things simpler.

Please suggest improvements, ideally through a PR.

[2021-11-22 20:50] hammzj commented on #7703
I'd actually love to have this implemented as well as it would be an immense help in tracking data throughout a test.

[Cucumber allows attachments](https://github.com/cucumber/cucumber-js/blob/main/docs/support_files/attachments.md) of various file types to any step or hook.

For example they provided an example of adding an attachment to an hook that completes after every scenario test:
[code]
F

[2021-11-22 21:31] mekalag commented on #7723
@christian-bromann

[code]
atleast if this works it fine, but this is not working when I tried. As I mentioned above this `if (context.tags[0].name.includes("@ssoScenario")) {` is working. Atleast please take a look to fix

[code]

[2021-11-22 22:12] bek-mednax opened #7731 "[🐛 Bug]: <title>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

7.21.1

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

Error in "getDownloadStream"

[2021-11-23 03:42] Andrewnt219 commented on #7709
Hi @christian-bromann, I want to help with this issue.

[2021-11-23 07:25] christian-bromann commented on #7709
Awesome, let me know if you have any questions.

[2021-11-23 07:50] wswebcreation commented on #5908
Hi @IevgenRagulin

Thanks for taking the time. Here are my answers and 2-cents

Correct

That's not what WDIO is doing. As long as you provide a `cacheId`, which can just be a fixed string (but needs to be different for each initial device you are calling) Sauce will give the same device to you.
Here's an example

Imagine you have 10 specs,  set `maxInstances` to 3 and these are your capabilities

[2021-11-23 07:52] wswebcreation commented on #6538
I think I would then use the name `deepLink` instead of `open` because `deepLink` is more common in the mobile world. Otherwise we would introduce a new command which could cause confusion. `open` is also used in other frameworks to open a browser with a given url

[2021-11-23 08:08] christian-bromann commented on #6538
My concern here is that we have many commands that do somewhat a similar action. As WebdriverIO already has a very large set of commands I want to be cautious to not add more commands if no necessary. In this case, given the mobile context, adding a new `deepLink` command sounds good to me.

[2021-11-23 08:09] #7558 closed

[2021-11-23 08:15] Badisi commented on #7705
Done in https://github.com/webdriverio/awesome-webdriverio/pull/4.

[2021-11-23 08:42] wswebcreation commented on #6538
Cool! Will put it on my agenda to work on it before the end of the year

[2021-11-23 10:47] nextlevelbeard commented on #7703
Take a simple case of saving a screenshot on error.

You use the webdriverIO's `saveScreenshot` command.
Now you want this screenshot to be part of your reporting pipeline.

Suppose you are using Cucumber and 3 other services / reporters.
- Cucumber JS JSON reporter
- Allure
- Microsoft Teams
- You have a custom service that also needs to do something with the attachments

You will need, at the mo

[2021-11-23 10:52] christian-bromann commented on #7703
I am not a big fan of the idea of adding these commands to the `browser` instance given they only use in combination with Allure and Cucumber. Commands already work very differently based on the remote end, increasing the fragmentation on the framework level would just create more confusion. Maybe the Allure reporter could expose a helper method that someone can just import and use?

[2021-11-23 11:02] nextlevelbeard commented on #7703
Well that's just a suggestion of an API. it could be exposed as a parameter on service hooks, for example.
The idea is not only to use it with Cucumber and Allure but to be constantly enhanced with every integration that does something with attachments. The user only has to declare an attachment once, no matter what reporters they are using.

It already has one, if you see there on the code.
The p

[2021-11-23 11:41] nirmalcrafty opened #7735 "[🐛 Bug]: Running a single scenario using the scenario line number is not working in @wdio/cucumber-framework version 7.11.0 and later"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

v14.18.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Update "@wdio/cucumber-framework"

[2021-11-23 12:00] ord-pgagnidze commented on #7731
@bek-mednax The workaround is to set only chrome or firefox drivers in the selenium-standalone service options, if you don't need to use edge at all.

[code]

[2021-11-23 12:02] christian-bromann commented on #7735
Thanks for reporting!

This might be a regression due to latest Cucumber update.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2021-11-23 14:23] rsshilli opened #7738 "[🐛 Bug]: isDisplayed() does not work correctly in multi-remote (multiple simultaneous) browsers (Chrome)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.9

### Node.js Version

v14.18.1

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Something broke running multiple

[2021-11-23 14:25] christian-bromann commented on #7738
Is there anyway you can provide a reproducible example for someone trying to investigate in this matter?

[2021-11-23 14:35] rsshilli commented on #7738
@christian-bromann I'd love to, but I don't know what that would look like. Can you point me towards a different issue that created one correctly?

[2021-11-23 14:49] christian-bromann commented on #7738
Just setup a new project with `npm create wdio ./some/path` in a new directory, reproduce the issue and commit everything to a repository.

[2021-11-23 15:32] denise-maia-ribeiro opened #7739 "[🐛 Bug]: <title>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I'm using browserstack service w

[2021-11-23 15:45] christian-bromann commented on #7739
Thanks for reporting!

Not entirely sure if we changed something recently in the BS service, it is possible thought that this could be a regression.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2021-11-23 16:59] rsshilli commented on #7738
I did it! Here's my repo:

https://github.com/rsshilli/wdio-isDisplayed-multi-browser

[2021-11-23 17:07] IevgenRagulin commented on #5908
I see, thank you! Probably I had things set up wrong then. Closing the issue.

[2021-11-23 17:07] #5908 closed

[2021-11-23 17:15] christian-bromann commented on #7738
Any investigations into this issue would be appreciated.

[2021-11-23 17:43] rsshilli commented on #7738
I'm a [decent developer](https://stackoverflow.com/users/491553/ryan-shillington) but in this case I'm not sure how to go about it.

Is there a tutorial on how to diagnose if the problem is WebDriver.io, Chromedriver or Chrome?

[2021-11-23 17:47] denise-maia-ribeiro commented on #7739
Hi @christian-bromann , I checked in the code and it seems that the variable ```this._scenariosThatRan``` used in the if that changes the fullTitle to the scenario's name is populated only if the scenario's status is 'skipped':

[code]

[2021-11-23 17:49] christian-bromann commented on #7739
@denise-maia-ribeiro thanks for looking into this, can you make a PR with adjustments?

[2021-11-23 19:34] denise-maia-ribeiro commented on #7739
@christian-bromann  I just opened the PR: https://github.com/webdriverio/webdriverio/pull/7740. If you could review it, please!

[2021-11-23 22:31] hammzj opened #7742 "[📖 Docs]: Capabilities defined in CucumberOpts have no effect on the framework and should be removed"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation

### Description of the improvement / report

I came across this issue in the [old wdio-cucumber-framework](https://github.com/webdriverio-boneyard/wdio-cucumber-framework/issues/6#issuecomment-285871794) from years ago addressing why some of the passed-in `cucumberOpt

[2021-11-23 23:20] hammzj opened #7743 "[💡 Feature]: Listen for `envelope.attachment` in the Cucumber messages event listener for reporters to use"
### Is your feature request related to a problem?

In Cucumber v7, a new formatter named [Cucumber Messages](https://github.com/cucumber/common/tree/main/messages) has been added to replace the old JSON reporter. This addition allows for better streaming of data to reduce memory overhead, but also unifies the approach to attaching metadata and other attachments to Cucumber scenarios.

Necessarily,

[2021-11-23 23:42] jan-molak opened #7744 "[🐛 Bug]: calling acceptAlert on prompt() dismisses the prompt instead of accepting it (devtools)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.9

### Node.js Version

14.18.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

**IMPORTANT UPDATE** this defect manifests itself when

[2021-11-24 07:32] GYuriy opened #7745 "[🐛 Bug]: AssertionError diff should be configurable in order to be displayed properly in allure-reporter"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

~ 12

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I'm currently in the process o

[2021-11-24 08:18] christian-bromann commented on #7745
Thanks for reporting!

I guess the Allure reporter can do a better job here displaying the error message in HTML.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2021-11-24 08:21] christian-bromann commented on #7744
Thanks for reporting!

Mhm 🤔  [`devtools`](https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/commands/acceptAlert.ts#L14) actually calls `await this.activeDialog.accept()` which should accept rather than dismissing it. Not sure what is going on here.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https

[2021-11-24 08:23] christian-bromann commented on #7743
Thanks for reporting! The Cucumber team has been doing some excellent work recently and in the past and we should make sure to stay up to date with their framework.

Any contributions that improves our Cucumber compatibility are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2021-11-24 08:24] christian-bromann commented on #7742
Let's clean these capabilities up if not needed 👍  We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2021-11-24 10:51] jan-molak commented on #7744
Thanks @christian-bromann, I think I got to the bottom of it.

In [`acceptAlert.ts`](https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/commands/acceptAlert.ts#L14) we have:

[code]
From what I can tell, calling `this.activeDialog.accept()` on `prompt` without specifying the value to be entered gets interpreted by Puppeteer as an intention to dismiss the prompt.

However, P

[2021-11-24 11:09] GYuriy commented on #7745
@christian-bromann  just curious, do you know where this ...Uhm ...artistic output comes from?
Just checked `onTestFail` method in `@wdio/allure-reporter` and the `errors` array and `error` property in the `Test` object do not contain this additional diff visualization...

[2021-11-24 11:13] erwinheitzman commented on #7738
I have taken your repo and replaced the Dockerfile with the Puppeteer docker file example like so:
[code]

I also added a `.dockerignore` file like described here: https://webdriver.io/docs/docker/

The example seems to function just fine and I get no errors.

Two things I did notice:
- the browser arguments is missing the `--headless` argument
- the `waitForDisaplayed` command is used incorrectly

[2021-11-24 11:14] christian-bromann commented on #7745
Not sure what you mean but everything the Allure report shows is recorded by the WDIO Allure reporter.

[2021-11-24 11:16] christian-bromann commented on #7744
Yes please! Thanks for investigating.

[2021-11-24 11:25] nirmalcrafty commented on #7735
Hi @christian-bromann , only relative paths, are not working, if we send the spec with the absolute path with a colon and line number it works

For eg in Windows

wdio.js run wdio.conf.js --spec c:/tests/e2e/a.feature:5 - This works

but not

wdio.js run wdio.conf.js --spec tests/e2e/a.feature:5

This is because the method getFeatureUriToLinesMapping in pickle_filter.js in @cucumber/cucumber packa

[2021-11-24 11:54] jan-molak commented on #7744
Done - #7746

[2021-11-24 12:26] #7744 closed

[2021-11-24 12:28] christian-bromann commented on #7735
Good catch! Mind proposing a PR for it?

[2021-11-24 12:53] maaaariana opened #7748 "[🐛 Bug]: Google throwing captcha in headless mode. Same code works in headful mode"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.8

### Node.js Version

14.16.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

When I am trying to login u

[2021-11-24 13:32] jan-molak commented on #7744
Actually, sorry @christian-bromann, there's one more thing.

In `sendAlertText.ts` we have
[code]
Now, since Puppeteer dismisses the prompt upon calling `activeDialog.accept(text)`, we need to also clear the local state, so:

[code]

I'll send you another PR in a sec

[2021-11-24 13:37] jan-molak commented on #7744
Done - #7749

[2021-11-24 13:39] christian-bromann commented on #7748
@maaaariana thanks for reporting. Unfortunately this is specific to Chrome and nothing where WebdriverIO can have an impact. I might be wrong, if so I am happy to re-open but I don't think any changes in WebdriverIO could fix this.

[2021-11-24 13:39] #7748 closed

[2021-11-24 18:58] toienMT commented on #7738
I've run into something similar on our Linux containers with SVG. We have a SVG by itself and Linux headless doesn't render SVG for security purposes, Ive been told. Maybe we need to look into using the Puppeteer docker file too. We don't use the `--headless` flag anymore either because it's part of our Chrome Options
[code]

[2021-11-25 03:29] Andrewnt219 commented on #7709
@christian-bromann the `geElementCssValue` gets its type from an ignored d.ts file. Even if I change the file, it doesn't affect the type anyway. I tried adding types to both the `getElementCssValue` in packages/devtools/src/commends but that didn't work either. How should I type the third parameter?

<img width="1023" alt="Screen Shot 2021-11-24 at 10 17 11 PM" src="https://user-images.githubuser

[2021-11-25 08:16] dietergeerts commented on #7424
@christian-bromann , but how can you add properties to that type though? I'm a bit struggling with it. It may be my TypeScript skills. I know you should be able to declare the same interface and TS should merge them, but I have no luck.

[2021-11-25 10:11] christian-bromann opened #7751 "[🐛 Bug]: Typing tests fail on Windows in CI"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

For some reasons our typing tests f

[2021-11-25 10:26] christian-bromann commented on #7709
You can generate types via `npm run generate:typings`, see also https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#typescript-definitions

[2021-11-25 10:28] christian-bromann commented on #7751
🤔  .. it seems that test pass afterall: https://github.com/webdriverio/webdriverio/runs/4322337890?check_suite_focus=true

[2021-11-25 10:28] #7751 closed

[2021-11-25 11:38] nirmalcrafty commented on #7735
I have submitted a PR, and this is my PR to an open source project https://github.com/webdriverio/webdriverio/pull/7752, I might have some missing permissions I guess

[2021-11-25 16:45] praveendvd commented on #7745
@GYuriy  Could you add a reproducible example ( a project zip file) will try to help you with that

[2021-11-25 17:11] GYuriy commented on #7745
@praveendvd Sure thing
[code]
[allure-diff-example.zip](https://github.com/webdriverio/webdriverio/files/7604550/allure-diff-example.zip)

[2021-11-25 17:52] praveendvd commented on #7745
@GYuriy its in the message proper ty of test.error object

![image](https://user-images.githubusercontent.com/45095911/143485088-fd6e8f21-93c3-4043-86ea-ab903fa394cb.png)

[2021-11-25 18:32] Andrewnt219 commented on #7709
Thanks. I misunderstood that the script will change base on TypeScript, but I actually had to go inside the JSON file and update the type.

[2021-11-25 18:46] GYuriy commented on #7745
@praveendvd Thank. What I was curious about is that because of what this additional colorful diff is added.
@christian-bromann is absolutely right - Allure just puts in the report whatever is passed to it.
I would like to figure out at what point this part is added along side with the original `AssertionError`:
![image](https://user-images.githubusercontent.com/13732395/143489547-20afa377-7aa2-464

[2021-11-25 19:08] praveendvd commented on #7745
@GYuriy  the mocha error object have changed so now message object will have that actual and expect text ( the colorful thing ) . We need to parse and remove that part from message and display only the first part for mocha

[2021-11-25 19:15] praveendvd commented on #7745
@GYuriy do you have a sample project for v6 also which we can compare, it will be easier to check

[2021-11-25 19:38] praveendvd commented on #7745
@GYuriy  That pretty print is from spec reporter https://github.com/webdriverio/webdriverio/blob/1f059837311bb05ecbf7a8442cfb57b04036be29/packages/wdio-spec-reporter/src/index.ts#L112 , it is also just taking the error from report and modifying it

[2021-11-26 06:49] dietergeerts opened #7755 "[🐛 Bug]: It seems that the `World` class from cucumber isn't exported like all other cucumber exports"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

^7

### Node.js Version

14

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I want to set a custom world class,

[2021-11-26 07:48] wswebcreation commented on #7722
Reopening this issue again. The PR that I initially created is not 100% correct. Secondly Sauce will release W3C support on RDC at the beginning of December so we will then also need to have a new fix.
I'll work on figuring out how to solve the Appium part the best way for JWP/W3C sessions for emusim and RDC.

For now, the best thing to do to make SC work with EMUSIM is to NOT provide the W3C appi

[2021-11-26 07:57] GYuriy commented on #7745
@praveendvd in case you still need it, here's v6
[allure-diff-example-v6.zip](https://github.com/webdriverio/webdriverio/files/7607122/allure-diff-example-v6.zip)
Also since it's a spec-reporter I guess we can look towards making it configurable in `spec-reporter`
Otherwise, we will need `allure-reporter` to check if the user is using the `spec-reporter` and then trim the formatted part... This is

[2021-11-26 08:06] GYuriy commented on #7745
@praveendvd UPD: I tried to **remove** `spec` from the `reporters` array in the `wdio.conf`. The pretty output is not in the console anymore but **it is** in the allure report (You can try to do this in the **v7** project from the attachment above).
I might be missing something but I guess this additional output is added even earlier... Hope I'm not confusing myself at this point.

[2021-11-26 09:23] erwinheitzman commented on #7738
@toienMT could you try out the setup I shared and let us know if that makes a difference?

[2021-11-29 03:32] gowthamraj198 opened #7756 "[🐛 Bug]: error in downloading selenium-standalone - Error in "getDownloadStream""
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

from last few days, i started getti

[2021-11-29 08:45] christian-bromann commented on #7755
fixed in #7757

[2021-11-29 08:45] #7755 closed

[2021-11-29 16:11] gyanendrapmca commented on #4134
I am getting following error while using dragAndDrop method:
![image](https://user-images.githubusercontent.com/40694123/143902625-83860434-cd66-4276-90f6-eca87b56c271.png)

app url: https://jqueryui.com/resources/demos/droppable/default.html
Chrome version: 96
wdio version: 7.0

[2021-11-29 17:45] christian-bromann commented on #4134
@gyanendrapmca `$("droppable")` is a promise and not an WebdriverIO Element

[2021-11-30 04:42] iamkenos opened #7767 "[📖 Docs]: Adding custom commands: Typings for async ChainablePromiseElement<Promise<Element>>"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation, Other

### Description of the improvement / report

## Problem

![image](https://user-images.githubusercontent.com/81152923/143851494-3eecbb0d-cb59-4bdf-a60e-4993009ec25f.png)

- Notice how a custom command (`customCommand()`) is not recognized when element `await $('

[2021-11-30 06:46] viswa-uipath opened #7768 "[🐛 Bug]: browser.getMetrics is not a function in wdio 7.8.0"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.8.0

### Node.js Version

14.17.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

`browser.enablePerformanceAudits` i

[2021-11-30 14:47] #7722 closed

[2021-12-01 00:38] tobeliketree commented on #7233
@christian-bromann any shot of this getting some love?   It would be nice gift to start to 2022 by continuing the performance testing efforts we started but are blocked from finishing because of this issue.

[2021-12-01 01:20] jan-molak opened #7770 "[🐛 Bug]: Can't switch windows via devtools"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.10

### Node.js Version

16.13.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

It looks like the fix introduced

[2021-12-01 08:27] christian-bromann commented on #7233
@tobeliketree any contributions are welcome. This is also an expensable issue, so if you collect 10 of them you get money from our open collective. On the other side, your company can consider donating to the project so people can spend more time working on it.

[2021-12-01 15:16] gauravgandhi1315 commented on #7770
I have been facing the same issue. Thanks for reporting

[2021-12-01 22:18] jan-molak commented on #7770
OK, interestingly enough, it looks like the latest version of WebdriverIO _shouldn't_ need patch #4472 because it _should_ solve the problem of keeping track of the open windows via [`targetcreated` and `targetdestroyed` handlers](https://github.com/webdriverio/webdriverio/blob/ba5e0fbbe47348c0ec81c77ea8521f1d34abe3f3/packages/devtools/src/devtoolsdriver.ts#L33-L34).

I'll keep debugging.

[2021-12-02 01:14] #7770 closed

[2021-12-02 09:15] frg-tarasov opened #7771 "[🐛 Bug]: moveTo throws unuseful stack trace when the element is out of viewport"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.10

### Node.js Version

v16.13.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

If an element is out of t

[2021-12-02 14:01] guybaker0 commented on #4565
seeing a similar issue with Safari Version 15.1 (15612.2.9.1.30, 15612), macOS Catalina 10.15.7.  I find element ids for selectors are ignored.  I can use full x path.

[2021-12-02 18:01] alexmi256 opened #7772 "[🐛 Bug]: Runner 0-n finished with exit code null"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Using latest Chrome (96) and chrome

[2021-12-03 04:26] emilioDuarte opened #7773 "[🐛 Bug]: Throw meaningful error if .isClickable() Method is called in native context"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Getting if a Native Element is clic

[2021-12-03 04:28] emilioDuarte commented on #7773
Example:
 let clickable = await $('//*[@content-desc="Continue"]').isClickable();
console.log(clickable);

![image](https://user-images.githubusercontent.com/94387063/144545245-ff991122-ed44-46c8-b1bd-528b3ccd6324.png)

[2021-12-03 04:28] emilioDuarte commented on #7773
The same happens with waitForClickable()

[2021-12-03 09:36] DudaGod opened #7776 "[💡 Feature]: Support playwright"
### Is your feature request related to a problem?

Hello.

Webdriverio already supports the ability to use [puppeteer](https://pptr.dev/) under the hood. But there is another more promising tool - [playwright](https://playwright.dev/) which is rapidly developing. Playwright has similar API with puppeteer and his core feature - ability to run tests in chrome, firefox and safari (using CDP protocol)

[2021-12-03 11:16] christian-bromann commented on #7770
@jan-molak shall we keep the issue to follow up on this?

[2021-12-03 11:26] jan-molak commented on #7770
@christian-bromann - sure, although this is more of a feature request than a bug report since WDIO seems to be working correctly as long as I synchronise it on my side.

What I think would be a nice addition is for WDIO to auto-wait when switching windows, in a similar way it auto-waits for an element to be clickable.

[2021-12-03 11:51] 0Leon0 opened #7778 "[🐛 Bug]: browser.getMetrics is not a function/Docs on https://webdriver.io/docs/devtools-service/ not working"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.10

### Node.js Version

17.2.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I tried to use the Devtools Servic

[2021-12-03 14:09] erwinheitzman commented on #7778
The service documentation doesn't seem to have been updated to use async code examples.
If you are not specifically using sync mode (deprecated) then you should be adding async/await to your code, after doing so, can you let us know if the problem still exists?

[2021-12-03 14:11] erwinheitzman commented on #7776
There's no difference in how you'd use it as far as I am aware.
Both use the Devtools protocol so I don't think there's a point in implementing this right now but feel free to share why you think this would add value

[2021-12-03 14:17] erwinheitzman commented on #7773
This is logical because it uses `isClickable` under the hood.

Regarding the functionality, I notice you are using [`appium-android-driver` https://github.com/appium/appium-android-driver](https://github.com/appium/appium-android-driver) which is deprecated and it's where the error seems to be coming from when you look at your logs

[2021-12-03 14:18] erwinheitzman commented on #7772
There seem to be some issue with the latest Chromedriver, since this only seems to happen with the latest update I do not think this is an issue with WebdriverIO

[2021-12-03 14:19] erwinheitzman commented on #7772
If the version is indeed the problem then falling back to Chromedriver 95 should resolve the problem for now

[2021-12-03 14:48] emilioDuarte commented on #7773
Actually, I think I am using uiautomator2, instead of appium-android-driver
![image](https://user-images.githubusercontent.com/94387063/144622088-a741537d-9353-4748-88b1-f6b7723c2222.png)

[2021-12-03 14:49] erwinheitzman commented on #7778
Just ran this with with the example made async and it works fine (used the CLI to generate a new plain project for this which I always recommend doing):
[code]

[2021-12-03 14:49] erwinheitzman commented on #7768
Duplicate of #7778

[2021-12-03 14:49] #7768 closed

[2021-12-03 14:51] erwinheitzman commented on #7773
It might use it under the hood then?

It clearly shows both tools in this line:
[code]

[2021-12-03 14:53] erwinheitzman commented on #7773
So this makes me pretty confident that the problem is not with WebdriverIO but instead it seem to be the driver or perhaps Appium. I could still be wrong but WebdriverIO doesn't seem to be throwing any errors here

[2021-12-03 14:58] frg-tarasov commented on #7771
I'm sorry but my point is not about need scroll to an element.
My problem is unuseful stack trace.

[2021-12-03 15:12] 0Leon0 commented on #7778
Can confirm, it works when you put it into async mode.

I tried only the getMetrics() and getPerformanceScore() commands.

[code]

Another thing i noticed while tried i some things is that, if you use the video reporter it also tells you that `browser.getMetrics is not a function` for some reason.

[2021-12-03 15:14] wswebcreation commented on #7773
This is not a bug, it's a _feature_ 🤣 .

Sorry for the awful joke, but there is no JS context in a native app, so you can't use the execute command to inject a bunch of JS. There might be other ways to check this for native apps, but that might make this a very complex method

[2021-12-03 15:16] emilioDuarte commented on #7773
related to the comment from @erwinheitzman, I found out that besides I specify the automationName, appium is still using the appium-android-driver
![image](https://user-images.githubusercontent.com/94387063/144626528-67a105ae-96e3-40be-ac0d-3701920355f7.png)

[2021-12-03 15:20] wswebcreation commented on #7773
There are multiple drivers installed by Appium when you install Appium itself. This will change with Appium 2.0.
You can already see the XCUITest-driver in the list, which is used for iOS. All available drivers will be installed when you install Appium 1.x.
When you select the `automationName: 'uiautomator2'` Appium will use the UIAutomator2 driver, even if you don't provide that cap, it will stil

[2021-12-03 15:24] emilioDuarte commented on #7773
Hey @wswebcreation, thanks for the reply, however, it seems to be using by default the appium-android-driver, even specifying the capability, you can see it in the log that it is using indeed, the appium-android-driver, and not using the appium-uiautomator2-driver as I was expecting, correct me if I am wrong, but @erwinheitzman noticed it as well

[2021-12-03 15:26] wswebcreation commented on #7773
You need to check the Appium logs itself, not the WDIO log, it might be that internally it uses the other driver (which I need to figure out) but I'm 100% sure that the initial driver is the UIAutomator2 driver

[2021-12-03 15:28] erwinheitzman commented on #7773
I had the same assumption as @wswebcreation that `UIAutomator2` seems to be using `appium-android-driver` under the hood.

I think this issue can be closed as the command is not available in the native app context, correct?

[2021-12-03 15:29] wswebcreation commented on #7773
exactly

[2021-12-03 15:29] wswebcreation commented on #7773
Exactly

[2021-12-03 16:20] alexmi256 commented on #7772
This happens with previous versions of chorme/driver and webdriverio as well.
I'm not looking for an immediate solution for this ticket, but more so a way to capture better logs/data to find out why could be causing this.

[2021-12-03 16:29] erwinheitzman commented on #7778
You're right, I have been able to find out why this happens but would have to fix the reporter

[2021-12-03 22:24] Badisi opened #7780 "[🐛 Bug]: cannot read property 'selenoid:options' of undefined - during watch mode"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14.17.5

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Using the `mock` api during `watch

[2021-12-04 02:16] #7778 closed

[2021-12-04 16:31] Hariks21 commented on #1025
is it working? for me no!

[2021-12-04 20:24] praveendvd commented on #7742
https://github.com/webdriverio/webdriverio/blob/ba5e0fbbe47348c0ec81c77ea8521f1d34abe3f3/packages/wdio-cucumber-framework/src/types.ts#L92

Could retry be made optional ? the auto generated cucumber project doesnt have this property so we will get type error saying retry is required .

If its about makinng it optional , then we can do it as part of this ticket , else will raise a separate ticket t

[2021-12-05 05:52] arkhangelsk commented on #6423
I am also getting this error.  This is shown as a warning:
WARN webdriver: Request failed with status 500 due to unexpected alert open: {Alert text : I am a JS Alert}

I am using WebdriverIO "@wdio/cli": "^7.16.10",

[2021-12-06 09:10] christian-bromann commented on #7742
@praveendvd yes, there is no reason why it is mandatory. This is a bug. Do you wanna take a stab at this?

[2021-12-06 09:12] christian-bromann commented on #7778
@erwinheitzman can we file an issue for this so we don't forget?`

[2021-12-06 09:18] christian-bromann commented on #7780
Thanks for reporting!

It seems that we don't correctly pass in the arguments when we rerun a session. My first guess is in [`watcher.ts`](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cli/src/watcher.ts#L167-L168) but not entirely sure.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/d

[2021-12-06 09:30] christian-bromann commented on #7772
This looks like to me the session is not even starting and the worker shuts down prematurely.

@alexmi256 can you provide a minimal reproducible example for us to test?

[2021-12-06 09:32] praveendvd commented on #7742
@christian-bromann sure Christian , but I am not sure about the other flags mentioned in this ticket but will have a look 🎉

[2021-12-06 09:32] christian-bromann commented on #7773
@erwinheitzman @wswebcreation I suggest to add an if statement to `isClickable` to check if it is run in mobile native context and throw an error with a meaningful message, what do you think?

[2021-12-06 09:36] christian-bromann commented on #7742
I believe `format` is mentioned in the docs couple of times but is not used in the TS typings. I suggest to check the source code and remove all occurrences. The same for `profile`. We have an issue logged for it to add support for it #7692. I believe the [type definitions we have](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cucumber-framework/src/types.ts#L5-L116) are the s

[2021-12-06 09:39] christian-bromann commented on #7771
@erwinheitzman I agree with @frg-tarasov - this driver stacktrace looks awfully useless. We should make sure to attach at least the JS stacktrace to it.

[2021-12-06 09:47] christian-bromann commented on #7776
Adding support for PW would enable users to use WebdriverIO APIs, particularly the ones that use CDP functionality, across multiple browser. So there is definitely a value add for having support for it.

That said, it was a lot of work to implement all WebDriver commands with Puppeteer and I am sure we are still not 100% there. So adding PW would be even more work given their API has diverged from

[2021-12-06 09:47] wswebcreation commented on #7773
Good idea, is there a way to determine this without checking the context with a call, relying on the `app` cap is not enough because:
- an app can also be started with the iOS `bundleId` or Android `packageName`
- the context can be switched so it might started in web, but during the tests the context was changed to native

Or should it be something like this to keep is stable every point in time?

[2021-12-06 09:49] christian-bromann commented on #7770
Agree, mind raising an issue for it?

[2021-12-06 09:54] christian-bromann commented on #7773
I think this sounds like a reasonable solution

[2021-12-06 10:11] wswebcreation commented on #7773
@christian-bromann

Do you want to throw an error or write to the logs?

[2021-12-06 10:16] christian-bromann commented on #7773
Throw it, so that the user sees a meaningful error instead of `NotImplementedError: Method is not implemented`

[2021-12-06 10:28] wswebcreation commented on #7773
I can pick this up in the coming week(s)

[2021-12-06 11:47] Badisi commented on #7780
I think so, because when the method [getPuppeteer.ts#L45](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/browser/getPuppeteer.ts#L45) is called:

#### The first time

Both `capabilities` and `requestedCapabilities` are properly set.

<img width="470" alt="Screen Shot 2021-12-06 at 12 34 06" src="https://user-images.githubusercontent.com/674862/144839869-e7ad

[2021-12-06 12:55] DudaGod commented on #7776
But if developers need to also test browsers that don't support cdp protocol then they need to have two tools (pw for cdp and something else for w3c/jwp). So in my opinion the wrapper over PW makes sense.

Yes, I want to try to implement it. I will look at devtools package and in PW source code. Thank you.

[2021-12-06 14:13] hammzj commented on #7742
@christian-bromann as related to #7692, I don't actually think adding `profiles` in will reduce complexity. I will address my reasonings there.

[2021-12-06 14:24] hammzj commented on #7692
So @christian-bromann, ultimately, this property probably should be removed entirely unless we allow it only by command line. `profile` just allows us to merge additional options into the `cucumberOpts` that aren't set as the default in a `wdio.conf.js` file. Necessarily, using a profile will overwrite or add new properties onto what exists within the environment file originally and therefore the

[2021-12-06 14:27] praveendvd commented on #7742
@hammzj would you be taking this up ? 🎉

[2021-12-06 17:10] joaodanielopes opened #7792 "[🐛 Bug]: Selenium does not "frees" the port"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.6

### Node.js Version

v16.13.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I am able to run the test

[2021-12-06 18:24] jporley opened #7793 "[🐛 Bug]: Modified clicks (Control Click, Shift Click) on Chromedriver protocol does not work"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16

### Node.js Version

14.17

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

We are running webdriverio v7.16 on sy

[2021-12-07 18:55] mykola-mokhnach commented on #7773
@christian-bromann I can confirm the issue lies in WDIO, because it sends a javascript snippet there, which expectedly fails in mobile native context: https://github.com/appium/appium/issues/16213#issuecomment-988184462

I'm not quite sure how to map this method to a W3C API call, because the standard does not describe anything that is capable of checking whether an item is clickable neither defin

[2021-12-08 02:42] MindyTai commented on #6596
describe('using the drag and drop', () => {
    it('should work as expected dammit', () => {
        browser.url('https://jqueryui.com/droppable/')

        const iframe = $('iframe.demo-frame')
        iframe.waitForExist()
        browser.switchToFrame(iframe)

        const draggable = $('#draggable')
        const droppable = $('#droppable')
        draggable.waitForDisplayed()
        droppab

[2021-12-08 03:22] mayankshukla94 opened #7794 "[🐛 Bug]: `dragAndDrop` is not working when running on chrome headless mode"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

^7.7.4

### Node.js Version

14.16.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Our use case is to select text und

[2021-12-08 07:55] christian-bromann commented on #7794
@mayankshukla94 can you provide a reproducible example?

[2021-12-08 08:03] christian-bromann commented on #7773
@mykola-mokhnach thanks for confirming. Yes, calling `isClickable` doesn't work in mobile context which is why I suggested to Wim to improve the error message to give the user more information about why the command is failing.

[2021-12-08 16:06] mayankshukla94 commented on #7794
Sure @christian-bromann I'll provide the reproducible example

[2021-12-09 00:39] saranyaeaswaran opened #7798 "[🐛 Bug]: @wdio/sauce-service is throwing updateJob error while updating the test results to Jenkins job"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14.17.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Running the tests in Saucelabs fro

[2021-12-09 09:24] baishalighosh commented on #5890
This worked for me too. Thanks

[2021-12-09 13:21] erwinheitzman commented on #7776
@christian-bromann as far as I am aware they use a version of the browsers where they have added support of the CDP on top where needed. Maybe we can utilize Puppeteer when using those versions of the browsers instead? Not sure if that would work though.

[2021-12-09 22:12] AndruC opened #7800 "[🐛 Bug]: SauceLabsCapabilities type definition missing properties"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.9.0

### Node.js Version

14.18.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

When writing configurations

[2021-12-10 08:20] christian-bromann commented on #7800
Thanks for reporting!

@AndruC would you like to add this property to our types [here](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-types/src/Capabilities.ts#L586-L849)?

[2021-12-10 08:29] wswebcreation commented on #7800
@AndruC

Keep in the back of your mind that the support for W3C for the Real Device Cloud has been postponed to beginning of 2022, see [this](https://support.saucelabs.com/hc/en-us/articles/4412359870231?utm_source=beamer&utm_medium=sidebar&utm_campaign=Upcoming-W3C-Support-Release-date-extended-for-Appium-Tests-on-Real-Devices&utm_content=ctalink) message due to a breaking changing for customer w

[2021-12-10 11:06] saranyaeaswaran commented on #7798
Another thing I noted is, the port 443 is not getting appended with the remote session to the saucelabs, due to this the job is failing? How to get this port number append to the session url as in - https://ondemand.saucelabs.com:443/wd/hub/session instead of https://ondemand.saucelabs.com/wd/hub/session
[code]

[2021-12-10 13:20] christian-bromann commented on #7798
@saranyaeaswaran can you provide a reproducible example?

[2021-12-10 15:26] DudaGod commented on #7544
I close it since I merged PR with fix - https://github.com/webdriverio/webdriverio/pull/7753

[2021-12-10 15:26] #7544 closed

[2021-12-11 13:41] balazserdeszlogmein commented on #4319
I am having the same issue, and it would have been if you had put the misconfiguration reason here.

[2021-12-11 18:50] alexmi256 opened #7804 "[🐛 Bug]: Element nextElement/previousElement/parentElement not chainable"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Maybe this is a known limita

[2021-12-12 17:43] christian-bromann commented on #7804
Thanks for reporting!

I believe this can be fixed by just adding these commands [here](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-utils/src/shim.ts#L70). You want to take a stab at this?

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any

[2021-12-12 18:09] alexmi256 commented on #7804
I'll take a stab at it

[2021-12-13 01:47] praveendvd commented on #7804
@alexmi256  you just have to update with all the required commands  :

https://github.com/webdriverio/webdriverio/blob/880509c9573f136c634683fd73a2e0a034843184/packages/wdio-utils/src/shim.ts#L70

[2021-12-13 01:54] praveendvd commented on #7804
@christian-bromann  and @erwinheitzman

One quick question , why chaining is restricted the QUERY commands ? cant we just wrap everything with chainable ?

[2021-12-13 02:26] praveendvd commented on #7742
@hammzj I will take it up 🎉🎉

[2021-12-13 10:25] #7804 closed

[2021-12-13 16:08] saranyaeaswaran commented on #7798
Hi @christian-bromann , for the below sauce options, update job is redirecting us to the URL https://api.us-west-1.saucelabs.com/ instead of https://api.saucelabs.com/ due to which update job is failing for us. Any idea why it's redirecting to this URL?

        host: 'ondemand.saucelabs.com',
        services: ['sauce'],
        user: "xxxxxxx",
        key: "xxxxxxxxxx",

[2021-12-13 16:39] PareshSolanki-Which commented on #4482
@LilyGist you've saved me!!!...Thank you for the workaround

[2021-12-13 16:52] darkartswizard commented on #4482
Make that two saves!

You are a Superhero!

On Mon, Dec 13, 2021 at 10:39 AM PareshSolanki-Which <
***@***.***> wrote:

[2021-12-14 03:02] praveendvd commented on #7767
@christian-bromann  could we adding custom commands to typing be automated ? like create this file during project setup and add commands to wdio.d.ts when ever user creates a new command ? .

[2021-12-14 06:07] wswebcreation commented on #7798
Hi @saranyaeaswaran

Can you share your config here?

@christian-bromann
Is there a specific reason why the Sauce Service is using the API to update the job status, or can is also be done with the JS executor?

[2021-12-14 08:10] saranyaeaswaran commented on #7798
Hi @wswebcreation , Below are my sauce options configuration,
[code]
This is the URL its trying to connect when doing updateJob is https://api.us-west-1.saucelabs.com/rest/v1/node_js/jobs/<session_id> and its failing for me.

I got this URL but providing a console.log statement in function ---  node_modules > saucelabs > build > index.js > _callAPI, after line number 570.

Below are the logs in Je

[2021-12-14 08:14] christian-bromann commented on #7798
JS Executor would work too.

[2021-12-14 08:15] christian-bromann commented on #7767
@praveendvd good idea. If this is possible, I am all for it.

[2021-12-14 08:18] saranyaeaswaran commented on #7798
Thanks @christian-bromann for your response, can you suggest what should I do now?

[2021-12-14 08:39] praveendvd commented on #7708
@christian-bromann  and @eGavr  , it works as expected with chromedriver 96. it looks like it was an chromedriver issue

[code]

[2021-12-14 08:47] christian-bromann commented on #7798
@saranyaeaswaran I am not sure why the API call can't connect. AFAIK if a proxy is setup according to [the docs](https://webdriver.io/docs/proxy/) it should be able to connect. Any help on investigating the issue would be much appreciated.

[2021-12-14 19:51] wyhmichael opened #7817 "[🐛 Bug]: test object in afterTest hook differs between wdio-mocha and wido-jasmine"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.11

### Node.js Version

14.18.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Test object differs in afterTest

[2021-12-15 07:38] praveendvd commented on #7742
Could we continue the discussion in the pull request

[2021-12-15 07:38] #7742 closed

[2021-12-15 10:17] saranyaeaswaran commented on #7798
Hi @christian-bromann , this is working fine after the proxy setup. Thanks so much for the suggestion. This issue can be closed as not an issue.

[2021-12-15 10:17] #7798 closed

[2021-12-15 14:11] hammzj commented on #7742
Thank you for taking this up @praveendvd!!

[2021-12-16 12:03] unickq opened #7820 "[🐛 Bug]: browser.switchToFrame() doesn't work as expected"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.12

### Node.js Version

14.18.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

browser.switchToFrame() doesn't w

[2021-12-16 12:05] #7820 closed

[2021-12-16 14:31] tehhowch commented on #7580
@christian-bromann Is there a particular reason to prefer using "find me from my parent" logic whenever the WebdriverIO element has a `selector` vs. the "does my `elementId` still exist in the page"?

Conceivably it could be faster to do something like

[code]

In other words: if an element has an elementId (i.e. WDIO has looked it up already / element created by ID reference), check if that eleme

[2021-12-16 14:36] christian-bromann commented on #7580
Yes, just checking if the `elementId` can still be used has side effects due to stale element exceptions.

User can already create their own custom commands for this if they don't prefer the way WebdriverIO suggests. I believe the solution @tmjpedro will implement is reducing the performance cost to a minimal.

[2021-12-16 14:44] BorisOsipov commented on #7580
I guees we use `findElementS()` because it doesn't care about implicitWait timeout.
If we change to `findElement()` every find call for unexisting element will cost users implicitWait time - that seems unexpected behaviour that leads to increasing test execution time.

[2021-12-16 15:28] christian-bromann commented on #7580
Hah, that is a good point. Now I remember the reason why we were using `findElements` in the first place. What are better alternatives?

[2021-12-16 21:05] osmolyar commented on #2753
Hi @christian-bromann , does the merge of this fix to webdriver have any impact on WebdriverIO's ability to handle frames inside svgs?  https://github.com/w3c/webdriver/pull/1565

(traced via https://github.com/w3c/webdriver/issues/1266 ->  https://github.com/w3c/webdriver/pull/1320 )

[2021-12-17 02:58] prashantrbs opened #7821 "[🐛 Bug]: <My tests are skip to execute please help to solve this. I am trying to capture network traffic data and store in excel file>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

 "@wdio/cli": "^7.16.11"

### Node.js Version

v14.16.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

When i t

[2021-12-17 03:27] prashantrbs commented on #4982
I am having same issue i tried all the above answers still no luck keep getting enablePerformanceAudits() is not a function and getMetrics() is not a function. Below is my dependencies

package.json:
-------------------------------------------
{
    "name": "webdriverio-tests",
    "version": "0.1.0",
    "private": true,
    "devDependencies": {
        "@wdio/cli": "^7.16.11",
        "@wdio/dev

[2021-12-17 07:52] christian-bromann commented on #2753
What got merged?

[2021-12-17 09:18] praveendvd commented on #7640
@Badisi  Closed with the pull request

[2021-12-17 09:18] #7640 closed

[2021-12-17 09:19] praveendvd commented on #7532
Lets continue discussion at : #7572

[2021-12-17 09:19] #7532 closed

[2021-12-17 13:50] praveendvd opened #7822 "[🐛 Bug]: Spec status shows passed even if one spec failed"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.12

### Node.js Version

v16.5.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Final spec result shows pa

[2021-12-17 14:11] praveendvd commented on #7822
await expect(SecurePage.flashAlert).not.toBeExisting(); , issue is with only such async expect , for normal expect it works as expected

[2021-12-17 15:11] osmolyar commented on #2753
Supposedly Shadow DOM support:  https://github.com/w3c/webdriver/pull/1320#issuecomment-802200542

[2021-12-17 16:59] christian-bromann commented on #2753
Not, sure if this issue you posted works now however WebdriverIO now uses these endpoints.

[2021-12-17 20:08] osmolyar commented on #2753
It is not able to interact with elements inside an SVG directly, no.  I would imagine there needs to be some command similar to browser.frame() to switch to the svg context?

[2021-12-18 04:24] praveendvd commented on #7822
@christian-bromann  i will take it up , it seems e.emit is having some exeception thrown

[2021-12-18 04:47] praveendvd commented on #7822
https://github.com/webdriverio/webdriverio/blob/ff33119250bfe1cd47ef68472b2f5e9058d14c32/packages/wdio-reporter/src/stats/test.ts#L126

THe actual value is a promise not a resolved value ,

[2021-12-20 08:15] christian-bromann commented on #7822
Thanks for taking this up, let's continue convo in #7823

[2021-12-20 08:15] #7822 closed

[2021-12-21 07:03] hung-cybo opened #7837 "[🐛 Bug]: afterCommand works incorrectly when the config does not define beforeCommand"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.14.0

### Node.js Version

v12.20.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

When the config does not define `

[2021-12-22 02:51] lesya7 opened #7838 "[🐛 Bug]: 'onTestSkip' hook never gets hit for skipped tests in custom reporter"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

6.3.5

### Node.js Version

14.18.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

We created our own custom reporter

[2021-12-22 10:01] christian-bromann commented on #7838
Can you try with latest WebdriverIO version?

[2021-12-23 02:15] amandaflagg opened #7843 "[🐛 Bug]: no types defined for appium xcui driver capabilities"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14.16.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

The TypeError `Type 'string' is no

[2021-12-23 10:44] christian-bromann commented on #7843
Thanks @amandaflagg for filing the issue. Seems that @praveendvd has picked it up in #7844 👏  Let's continue convo in the PR.

[2021-12-23 10:44] #7843 closed

[2021-12-23 11:39] christian-bromann commented on #7837
Can you provide a reproducible example that can highlight the problem?

[2021-12-23 11:40] christian-bromann commented on #7821
Can you provide a demo project that reproduces this problem?

[2021-12-23 11:43] christian-bromann commented on #7817
Different frameworks provide different kinds of insights into the test. WebdriverIO has to life with the information provided by the underlying framework. This behavior is therefor expected and known. What are you suggesting to do?

[2021-12-23 11:43] christian-bromann commented on #7772
Closing due to inactivity.

[2021-12-23 11:43] #7772 closed

[2021-12-23 12:20] Zarmeena opened #7845 "[🐛 Bug]: Mobile App closes in Android emulator and WDIO script terminates as passed"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7

### Node.js Version

16.13.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

App is getting closed initially during

[2021-12-23 12:47] praveendvd commented on #7845
@Zarmeena  could you try passing "appium:plaform"

[2021-12-23 13:26] Zarmeena commented on #7845
@praveendvd 'appium:platform' instead of 'platformName'?

[2021-12-23 13:48] praveendvd commented on #7845
Yes, could Yoh try that

[2021-12-24 14:43] gpt14 commented on #7700
I can pick this up.

[2021-12-24 15:10] christian-bromann commented on #7700
@gpt14 cheers! Let me know if you have any questions. Happy to answer.

[2021-12-25 09:07] hung-cybo commented on #7837
@christian-bromann

Thank you for your replying.

I built a new reproducible example, you can refer here: https://github.com/hung-cybo/wdio-examples

While building this example,  I see that this issue happens when:
+ Your project is using "wdio-video-reporter" (my current version is: 2.0.0)
+ And, in the WDIO config file, only `afterCommand` is defined.

Base on my example above, the log will be:

[2021-12-26 10:33] praveendvd commented on #7845
@Zarmeena  Any update on this , where you able to make it work ?

[2021-12-27 00:47] Lucasmiguelmac opened #7849 "[🐛 Bug]: Can't start webdriverio project with TypeScript"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

14.15.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

Following the docs instruct

[2021-12-29 00:30] wyhmichael commented on #7817
Hi @christian-bromann, thanks for the confirmation! I was kinda expecting wdio to uniform the output from different frameworks, but I guess there's nothing needs to be change to wido since it's just respecting the underlying framework actually.

Closing this issue for now :)

[2021-12-29 00:30] #7817 closed

[2021-12-29 03:57] jensbodal commented on #4319
Unfortunately this is a case of I don't know what solved the issue and I didn't end up using this library after all.

Re-reading the docs now

I can only assume what ended up working for me was

[code]

[2021-12-29 05:48] Zarmeena commented on #7845
App was crashing due to the incompatibility of WebdriverIO sync libraries with NodeJS v16. Script is working fine on downgrading the node version to v14

[2021-12-29 05:48] #7845 closed

[2021-12-29 09:58] owens-ben commented on #4982
I also get this error, any ideas?

[2021-12-29 15:11] wbigno opened #7854 "[🐛 Bug]: Error: Unable to load spec files quite likely because they rely on `browser` object that is not fully initialised."
Just upgraded to v7, here is my package.json
{
  "name": "nyl-aem-automation",
  "version": "1.0.0",
  "description": "NYL.com AEM Automation Framework",
  "main": "./node_modules/.bin/wdio",
  "scripts": {
    "test.local": "npx wdio wdio.conf.js",
    "test.sauce": "wdio run wdio.saucelabs.allbrowsers.conf.js",
    "test.sauce.chrome": "wdio run wdio.saucelabs.chrome.conf.js",
    "test.sauce.fi

[2021-12-29 17:43] owens-ben commented on #7778
I just ran into this issue with the video reporter too @erwinheitzman

[2021-12-30 10:40] owens-ben opened #7855 "[🐛 Bug]: Devtools does not work when wdio-video-reporter is enabled"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.7.5

### Node.js Version

v14.17.3

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When wdio-video-reporter is enable

[2022-01-02 09:34] evheniyt commented on #7772
I'm experiencing the same problem when I'm doing parallel tests:
[code]
After the retry, test finished successfully, we are using latest version of webdriver and 95 chrome
From logs it is unclear why runner finished with exit code null, we also tried to increase log level to trace but it didn't help much, could you please advice what next steps should be done to debug this?

[2022-01-02 14:56] #7700 closed

[2022-01-02 14:57] christian-bromann commented on #7855
Can you share your `wdio-*` logs?

[2022-01-02 15:01] christian-bromann commented on #7854
Please see your error log:

at Object. (C:\Users\T85KZFL\nyl-aem-automation\NYL.AEM.AUTOMATION\test\specs\nyl\component\test/beta-hero-visual-regression.spec.js:3:1)

This causes an error when initialising the test files.

[2022-01-02 15:01] #7854 closed

[2022-01-02 15:14] christian-bromann commented on #7849
It seems that your tsconfig is misconfigured. With a standard config, it works without problems:

[code]
If you change your `target` configuration it should work as well. Let me know if you need any further assistance.

[2022-01-02 15:14] #7849 closed

[2022-01-02 16:20] christian-bromann opened #7864 "[💡 Feature]: Make `npm install` step optional in CLI wizarrd"
### Is your feature request related to a problem?

If someone wants to add WebdriverIO to an existing project it might not be desirable to immediately run `npm install`.

### Describe the solution you'd like.

I suggest to add a question at the end of the wizard to ask whether or not this command should be run (with default set to "yes").

### Describe alternatives you've considered.

n/a

### Add

[2022-01-02 16:21] christian-bromann commented on #7794
Closing due to inactivity. Happy to reopen once a reproducible example can be provided. Thanks!

[2022-01-02 16:21] #7794 closed

[2022-01-03 10:41] wbigno opened #7867 "[🐛 Bug]: Webdriverio Image Regression Image not supported"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.16

### Node.js Version

v10

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Added:
[code]
package.json has
[code]
c

[2022-01-03 10:46] christian-bromann commented on #7867
@wswebcreation any ideas what this could mean?

[2022-01-03 10:55] wbigno opened #7868 "[🐛 Bug]: Global Variable not being set through cmd when running tests"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.16

### Node.js Version

v10

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I updated to v7 recently and when I did

[2022-01-03 11:10] christian-bromann commented on #7868
You can access the baseUrl you are using via `browser.config.baseUrl`. Read more on this here: https://webdriver.io/docs/browserobject#custom-configurations.

Let me know if you have any further questions.

[2022-01-03 11:10] #7868 closed

[2022-01-03 11:17] wbigno commented on #7868
So can we no longer use global explicitly? Do we now need to call them via browser.config? Is this a change with v7 over how we called these global variables in v6?

Thanks

[2022-01-03 11:48] wbigno commented on #7868
@christian-bromann  so douse the3 baseUrl no longer prepend urls as it did previously when set in the wdio? Just trying to understand how we can set this up as previously we just had baseUrl: baseUrl in the wdio config and then could set it dynamically by using some if statements in the wdio config file just outside of the export block, and then set it as a global in the before hook. Is this no lo

[2022-01-03 12:47] wswebcreation commented on #7867
@wbigno

Without a reproducible example it's pretty hard. It's should work, but....you baed on your provided environment might want to
- downgrade to `wdio-image-comparison-service` to `2.x`
- or upgrade you node environment to V12 or higher

because the module removed support for Node JS 10, see the release notes https://github.com/wswebcreation/wdio-image-comparison-service/releases

[2022-01-03 15:14] wbigno commented on #7867
@wswebcreation  I have updated node to v12.18 same error. Let me know what else you need in order to make this reproducible for further debugging. thanks

[2022-01-03 15:51] wswebcreation commented on #7867
Tnx

can you provide a simple project where you face this issue so I can debug it?

[2022-01-03 17:18] wbigno commented on #7867
@wswebcreation  you can close this bug, after creating a simple project with the same wdio config and package.json file the tests passed. The root cause of that error message was the selector my test was using was returning a list of elements and not just one. $$ rather than $.. the error message definitely did make it easy, but its resolved now. thanks

[2022-01-03 17:27] christian-bromann commented on #7867
@wbigno thanks for confirming.

[2022-01-03 17:27] #7867 closed

[2022-01-03 18:47] prasant-sethi opened #7872 "[🐛 Bug]: browser.execute not working with latest chrome"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7

### Node.js Version

v12.22.4

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

browser.execute seems to be not worki

[2022-01-03 18:53] christian-bromann commented on #7872
@prasant-sethi thanks for filing the issue.

My first assumption was that Chrome doesn't support `eval` anymore which I believe was discussed but still not executed. After a quick look I discovered that this error comes from the page you are testing has disabled `eval` calls through CSP settings.

In order to work around this I recommend to setup Chromedriver and run your tests via WebDriver.

[2022-01-03 18:53] #7872 closed

[2022-01-04 05:46] gpt14 commented on #7864
I can pick this up

[2022-01-04 07:22] jamesmortensen opened #7873 "[🐛 Bug]: duration property in the afterSuite hook is undefined"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.9

### Node.js Version

v14.17.5

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

We were attempting to get

[2022-01-04 08:20] christian-bromann commented on #7873
@jamesmortensen Thanks for reporting!

The duration should definitely be set no matter if it is `0` or any other minimal duration.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-01-04 08:54] wswebcreation commented on #7867
Hi @wbigno

Thanks for confirming, I'll check and see if I can think of something for this

[2022-01-04 15:23] owens-ben commented on #7855
@christian-bromann
[wdio-log.txt](https://github.com/webdriverio/webdriverio/files/7808562/wdio-log.txt)

[2022-01-04 16:18] christian-bromann commented on #7855
Do you call `browser.enablePerformanceAudits()` before calling `browser.getPerformanceScore()`?

[2022-01-04 16:19] owens-ben commented on #7855
Yes.

`browser.enablePerformanceAudits({networkThrottling: 'online', cpuThrottling: 4, formFactor: 'desktop'})
    this.open(true)
    expect(browser.getPerformanceScore()).toBeGreaterThanOrEqual(minScore)
    browser.disablePerformanceAudits()`

[2022-01-04 17:03] christian-bromann commented on #7855
Can you provide a minimal reproducible example?

[2022-01-04 19:42] owens-ben commented on #7855
@christian-bromann

[web.zip](https://github.com/webdriverio/webdriverio/files/7810008/web.zip)

set BASE_URL to any valid url (like https://www.google.com)
`export BASE_URL="https://www.google.com"`

then run `yarn` then
`yarn run test.chrome.headless --spec test/specs/home.e2e.js`

[2022-01-04 20:15] christian-bromann commented on #7855
@owens-ben thanks for providing. I can't tell when I get the time to look into this. If anyone has a hint, please post it in the thread.

[2022-01-05 02:05] klabak opened #7874 "[🐛 Bug]: Incorrect file line being reported in stack trace error"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.12

### Node.js Version

12.18.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Hi there,

We recently updated ou

[2022-01-05 05:39] RenuThakur opened #7875 "[🐛 Bug]: <project is not run>https://prnt.sc/262k5q1"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

We run the project comes thi

[2022-01-05 07:47] christian-bromann commented on #7875
Closing.

Please properly fill out the issue template and don't share any shady links. Thanks!

[2022-01-05 07:47] #7875 closed

[2022-01-05 07:50] christian-bromann commented on #7874
Thanks for filing the issue.

I am not sure what could cause this. Maybe a babel or TS transform step in between.

Any hints or investigations in this regards would be appreciated.

[2022-01-05 13:57] swatitabib-iplayer opened #7876 "[🐛 Bug]: For mocha tests, BrowserStack session name is set as '<the last test title's describe> - <test title>'"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.5.7

### Node.js Version

12

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

homepage.spec.ts
[code]
category.spec.ts

[2022-01-05 14:00] christian-bromann commented on #7876
Can you update to latest version and see if the error still persists?

[2022-01-05 15:08] klabak commented on #7874
Hey Christian thanks for the response. Here is our babel config if that helps at all

[code]

[2022-01-05 17:06] klabak commented on #7874
Hi Christian,

Funny enough another one of our engineers is working on converting our test library Babel configuration to use only Babel 7 modules. I tried out his branch and the stack trace issue seems to be resolved so it does seem to be a transform issue like you suggested. He had to do the following to get everything to work:

Removed babel.config.js (he couldn't get this to work using that fi

[2022-01-05 17:39] christian-bromann commented on #7874
Awesome, thanks for confirming!

[2022-01-05 17:39] #7874 closed

[2022-01-05 20:18] boneskull commented on #6640
Upon `npm install` in a working copy, I'm seeing:

[code]

No specific vulns are displayed. Using node@14 and npm@6 as per the `.nvmrc`.

[2022-01-05 20:29] boneskull opened #7879 "suggestion for monorepo: run 'lerna link convert'"
This assumes that a) you use `npm`, and b) you publish with `lerna`.

In [Appium](/appium/appium), we found that running `lerna link convert` (once) simplifies bootstrapping of our monorepo.

What this will do is add a dependency in the root `package.json` _for each package_, and the dependency will be a relative URL beginning with `file:`; e.g., `"foo": "file:packages/foo"`.  It will also replace

[2022-01-05 20:32] boneskull commented on #6640
(though, if I had a suggestion: call out the _specific_ ignorable vulns in the message)

[2022-01-07 10:10] EINBOX opened #7884 "[💡 Feature]: appium-classifier-plugin in webdriverIO"
### Is your feature request related to a problem?

Hello,
appium-classifier-plugin is the feature to help identifying elements on mobile and using in selenium .

is there any way to support above plugin with webdriverIO?

### Describe the solution you'd like.

The classical elements selection is so brittle and needed an alternative to that, therefore one can use the work that has been accomplished

[2022-01-07 14:49] NikithaShetty777 opened #7885 "[💡 Feature]: Request browser.mock() method to support running tests on range of browsers with BrowserStack integration"
### Is your feature request related to a problem?

https://webdriver.io/docs/mocksandspies/
We have browser.mock() only supported when running local tests on Chrome at the moment.
It would be great if the method was supported across other browsers as well and not just limited to local testing.
Wish to see the mock method work successfully for WDIO integration tests with BrowserStack.

### Describe

[2022-01-07 16:37] christian-bromann commented on #7885
Thanks for filing the issue.

I believe BrowserStack sends the websocket connection for a session to the browser in the session response. We can use this one to connect via Puppeteer. This way the command at least would work for BS. Unfortunately the Chrome DevTools protocol is only available in Chrome, therefor support for other browser depends on the development of the WebDriver specificiation.

[2022-01-08 12:38] Jyoti2190-Test commented on #2592
Hi I am facing the same issue, were you able to fix it ?

[2022-01-10 06:31] kevin-s-wang opened #7886 "[🐛 Bug]: Integration with cucumberjs is not working"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.12

### Node.js Version

v12.21.0

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

I'm following [this guide

[2022-01-10 08:26] christian-bromann commented on #7886
@kevin-s-wang thanks for reporting. I will look into it asap.

[2022-01-10 08:47] christian-bromann commented on #7886
The `colors` dependency [causing this](https://snyk.io/blog/open-source-npm-packages-colors-faker/) is [part](https://github.com/cucumber/cucumber-js/issues/1885) of Cucumber. I will try to find a workaround.

[2022-01-10 09:06] kevin-s-wang commented on #7886
@christian-bromann You nailed it in your last comment. I reverted `colors` to the version of `1.4.0`. It works properly now! Thank you, you saved my day!
[code]

[2022-01-10 09:21] christian-bromann commented on #7884
I think raising an issue in the package (appium-classifier-plugin#64) was the right way to go about this. Given its [requirements](https://github.com/testdotai/appium-classifier-plugin#system-setup) for 3rd party dependencies I don't think it is a good idea to make it a dependency of WebdriverIO. Therefor the best option is that this package allows support for other frameworks like WebdriverIO. Yo

[2022-01-10 09:21] #7884 closed

[2022-01-10 09:21] christian-bromann commented on #7821
Closing due to inactivity.

[2022-01-10 09:21] #7821 closed

[2022-01-10 09:23] christian-bromann commented on #7838
Closing due to inactivity.

[2022-01-10 09:23] #7838 closed

[2022-01-10 09:24] christian-bromann commented on #7876
I assume your 👍  indicates you were able to solve this problem? Closing then.

[2022-01-10 09:25] christian-bromann commented on #7837
@hung-cybo it would be great if you could help us investigate the issue.

[2022-01-10 09:30] christian-bromann commented on #7793
It seems that the browser driver doesn't correct apply the click. I wonder how WebdriverIO can mitigate the issue given that it seems to be to be the fault of Chromedriver. Any suggestions?

[2022-01-10 09:35] christian-bromann commented on #7886
Just released `v7.16.13` with a fix for this. Thanks for reporting!

[2022-01-10 09:35] #7886 closed

[2022-01-10 09:47] chainalert-bot opened #7891 "ChainAlert: npm package release (7.16.13) has a new "postinstall" script"
Dear [@wdio/cucumber-framework](https://npmjs.com/package/@wdio/cucumber-framework) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new "postinstall" script was added to version 7.16.13 of [@wdio/cucumber-framework](https://npmjs.com/package/@wdio/cucumber-framework)**.

The "postinstall" script may run automaticall

[2022-01-10 09:56] christian-bromann commented on #6640
done: https://github.com/webdriverio/webdriverio/commit/ffe6c48ee3ac36244113cf1ddbca6dc42b94a1c5

[2022-01-10 09:57] christian-bromann commented on #7891
uff 😞

[2022-01-10 09:57] #7891 closed

[2022-01-10 11:36] swatitabib-iplayer commented on #7876
@christian-bromann today, I checked with latest webdriverIO version and can confirm that the issue is present on latest version of wdio packages. Could you please reopen the issue?

[2022-01-10 12:04] christian-bromann commented on #7876
Thanks for confirming @swatitabib-iplayer .. any contributions mitigating this problem would be appreciated.

[2022-01-12 05:53] Jyoti2190-Test opened #7908 "I am able to generate report and allure-report folder is available but when using allure open Allure report is not opening"
### Discussed in https://github.com/webdriverio/webdriverio/discussions/7907

<div type='discussions-op-text'>

<sup>Originally posted by **Jyoti2190-Test** January 12, 2022</sup>
I am able to generate report and allure-report folder is available but when using allure open Allure report is not opening, its showing can't reach the page and also index.html is showing just loading
<img width="503" al

[2022-01-12 07:08] kaplanlior commented on #7891
Cucumber fixed their colors dependency in 7.3.2 and 8.0.0-rc2.

This should obsolete this postinstall script.

[2022-01-12 07:09] christian-bromann commented on #7908
Please raise this issue in the Allure project. I am not sure how this is connected to WebdriverIO given that the `allure-report` folder exist.

[2022-01-12 07:09] #7908 closed

[2022-01-12 08:39] MortenGregersen opened #7910 "[🐛 Bug]: npm script refers to wrong config when using TypeScript"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

14.18.2

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

When I initialized wdio in

[2022-01-12 10:09] justsolarry commented on #1886
I'm getting very flakey tests on Edge and IE11.
When we `setValue('1234')` it would sometimes give us `4123`.

[2022-01-12 20:40] fspinillo commented on #6206
+1 to what @Joozty said

If you don't include a callback the function works just fine, but if you add in a callback then TypeScript will throw the error. Additionally, there is no Type error when using `execute`.

[2022-01-12 21:51] afedichkin commented on #6596
@MindyTai
I have the same! Drag and drop just move to the mouse position. Have you found a solution to this problem?

[2022-01-13 11:22] mayankshukla94 opened #7911 "[🐛 Bug]: Chaining does not work for `getHTML()`, `getAttribute()`, `getTagName()`, `getValue()` when element is passed as a parameter"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

14.16.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I'm passing element `await loginP

[2022-01-13 12:11] sachin-agarwal-by opened #7912 "[🐛 Bug]: WebdriverIo Brower.url is not working with Nodejs Version > 12.8.0"
### Have you read the Contributing Guidelines on issues?

- [x] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

16.13.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

While using the webdriverio if we

[2022-01-13 13:59] christian-bromann commented on #7912
Duplicate of https://github.com/webdriverio/webdriverio/discussions/7914

[2022-01-13 13:59] #7912 closed

[2022-01-13 14:05] christian-bromann commented on #7911
You are not properly handling async/await. In your PO method:

[code]

you are calling all methods in a synchronous manner where actually they need an `await`. Please debug your tests and ensure that you are not receiving Promises but rather `ChainablePromiseElement` or `ChainablePromiseArray` objects.

[2022-01-13 14:11] mayankshukla94 commented on #7911
The parameter that I'm passing already has `await` keyword. Please check

[code]

If you see below code, here `waitForDisplayed()` and `click()` works

[code]

Only for `getHTML()`, `getAttribute()`, `getTagName()`, `getValue()`, it returns promises

[2022-01-13 14:13] christian-bromann commented on #7911
@mayankshukla94 you are still not using `async/await` here. Every statement needs to be prefixed with it.

[2022-01-13 14:17] mayankshukla94 commented on #7911
@christian-bromann I'm a bit confused now. How come it is working for `waitForDisplayed()`, `click()`, and `setValue()`?

Please correct me where I'm doing wrong

[2022-01-13 14:28] christian-bromann commented on #7911
I don't know. Either way these commands have no effect if you don't use `async/await` properly.

[2022-01-13 14:53] mayankshukla94 commented on #7911
If every statement inside the function `clickSignInButton()` needs to be prefixed with `await`, then chaining doesn't make sense. Because, we are using `await` for the parameters before passing them to `clickSignInButton()`, and yet we still have to prefix every statement inside it with `await`.

[2022-01-13 15:02] christophss opened #7915 "[🐛 Bug]: shared-store-service - Unable to access the shared store key in onComplete hook"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.3

### Node.js Version

16.13.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

In the wdio config,
1. I have adde

[2022-01-13 15:09] christian-bromann commented on #7915
Thanks for reporting!

This feature was initially implemented in #7519 by @Slashgear.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-01-13 15:17] mayankshukla94 commented on #7911
@christian-bromann  Thanks for the explanation. Sorry if I misunderstood initially but now I'm clear about the solution. But I still have one doubt if you can clear that for me.
In the first line, we are awaiting `$('foo')` which means `$('foo')` returns a promise and the same thing holds true for the second line as well. So how come we can call `.$('bar')` on the promise returned by `$('foo')`?

[2022-01-13 15:20] christian-bromann commented on #7911
WebdriverIO returns a promise compatible object which allows you to do either:

[code]
or
[code]

[2022-01-13 15:21] mayankshukla94 commented on #7911
@christian-bromann Great job on the feature!! Thank you for your help. I really appreciate it!!

[2022-01-13 15:44] jporley commented on #7793
Quite honestly I'm hoping that someone comes in with some sort of alternative to this, it can't be the case that nobody else is using modified clicks on version 7?

[2022-01-13 20:39] jlipps commented on #7580
I'm not sure, but we definitely don't want phantom calls to findElements. As the OP said, this is sometimes quite expensive in the Appium world. I would argue that the very most this command should ever do is perform a single call to findElement. And if users suffer due to having implicit waits set, well, they would suffer in any case. Implicit waits are no longer recommended by anyone.

Generally

[2022-01-13 21:45] christian-bromann commented on #7580
WebdriverIO initially makes an `findElement` call and only fails if you call a subsequent command on the element object.

[2022-01-13 21:51] jlipps commented on #7580
Oh right, that's how it is. So @christian-bromann what strategy can I use if I want to throw an exception in my code if an element doesn't exist, with only a single `findElement` call to the server? Do we need a new command like `element.ensureFound` that doesn't make any server calls and just throws an exception if the element wasn't found?

[2022-01-14 09:05] jmbattalier opened #7918 "[🐛 Bug]: devtools-service : when I do an action on the site avec getPerformance it goes into a timeout and I cannot continue"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

14

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Hello

I activate the enablePerformanc

[2022-01-14 13:24] Dubrzr opened #7921 "[🐛 Bug]: Could not specify custom hostname and port for driver"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

16.13.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When specifying custom hostname a

[2022-01-14 16:26] christian-bromann commented on #7921
Can you add some `console.log` in that function to see which values are passed in?

[2022-01-17 13:51] a2f0 opened #7932 "[📖 Docs]: Limitations for nth selector using TypeScript does not work"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation

### Description of the improvement / report

It appears that the [documentation for limitations](https://webdriver.io/docs/autowait/#limitation) to select the nth element of an array using `waitUnitl` does not work when using TypeScript, or at least fails TypeScript v

[2022-01-17 21:17] christian-bromann commented on #7932
Thanks for reporting!

I believe `waitUntil` returns the truthy value returned by the callback. The typings and docs should reflect that.

Any contributions that resolves the bug are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-01-18 08:06] #7427 closed

[2022-01-19 14:03] carri747 opened #7940 "[🐛 Bug]: Allure report doesn't attach image when the screenshot trigger is in "afterScenario" hooks"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

15.14.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I decide to upgrade WDIO version

[2022-01-19 23:01] abubakarafzal commented on #4951
Why dont you just add ignoreCase:true

const element = $("h1=Welcome tO mY pAge", { ignoreCase: true})

[2022-01-19 23:04] christian-bromann commented on #4951
An option property to the `$` and `$$` and other element fetch commands is a viable options as well.

[2022-01-20 08:54] carri747 commented on #7940
This is my setup in allure report
[code]

I notice that when I remove the flag "userCucumberStepReport" the image it's attached but with this flag "true" the picture is not attached.

[2022-01-20 20:47] praveendvd commented on #7940
`afterScenario: async function (world) { await browser.takeScreenshot(); }`

you have to use await as its an async function

[2022-01-20 20:47] #7940 closed

[2022-01-20 20:50] praveendvd commented on #7940
Try adding in afterStep than scenario

[code]

[2022-01-21 01:57] anarra27 commented on #5725
Can someone please let me know if you guys have any solution for the above problem. I came across the same issue when I run it gitlab cicd. Attached my .gitlab-ci.yml and the error from gitlab.
![Screen Shot 2022-01-20 at 6 55 15 PM](https://user-images.githubusercontent.com/95826918/150451625-d5aa817b-9f68-453e-a40d-6847cf10fafa.png)
<img width="1189" alt="Screen Shot 2022-01-20 at 6 56 18 PM" sr

[2022-01-21 11:59] carri747 commented on #7940
With afterStep is working properly.

[2022-01-24 03:11] cameronscottseequent commented on #4187
Just for anyone still having this issuse in 2022. The response here fixed my issue, but it took a while to figure out exactly WHERE to put this setting

explicitly specifying `chromeOptions: { w3c: false }` in desired capabilities / capabilities fixed this issue for me

`test_settings: {
        default: {
            launch_url: 'http://localhost',
            selenium_port: 4444,
            sel

[2022-01-24 16:49] sidferreira commented on #7589
@christian-bromann Sorry for my lack of knowledge in this subject, and maybe I'm missing the point, but, Jest seems to be way more capable in overall, especially if we think about describe.each and test.each. I would love to understand how exactly Jasmine and Jest are different in this case...

[2022-01-24 17:28] christian-bromann commented on #7589
There are some minor advantages of Jest and most of them can be worked around. Overall I think though that for many use cases, Jasmine does the same job particularly after we introduced `expect-webdriverio`. That said, if someone wants to build a framework adapter for Jest, I am happy to offer support for it.

[2022-01-24 17:32] sidferreira commented on #7589
@christian-bromann IMHO the starting point for a jest runner is to run 100% of what Jasmine does, in a dropin replacement vibe, and build up out of it. I'll try to spend some time on it... I just would like to know what would be the requirement to have it as a webdriverio package, in order to have more hands maintaining it...

[2022-01-24 17:53] christian-bromann commented on #7589
If you can add it to this repository without decreasing the test coverage level I am fine to add it to this core repository.

[2022-01-24 18:15] sidferreira commented on #7589
@christian-bromann fair and square!

[2022-01-25 08:20] umair2020 commented on #5239
@christian-bromann please let me know how can I help.
I am facing this issue in couple of tests but not sure how to fix it. I am not using failFast in the jasmine options

[2022-01-25 08:31] christian-bromann commented on #5239
The problem should be somewhere in the Jasmine framework adapter and is connected with how we propagate the error. Without any knowledge it is hard to say where to look exactly.

[2022-01-25 12:58] CDV13100 opened #7947 "How to get an exact screenshot of a specific element ?"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.11

### Node.js Version

14.17.6

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

When we try to take a screenshot

[2022-01-25 13:31] christian-bromann commented on #7947
There is not much WebdriverIO does wrong here. It calls the correct [WebDriver command](https://www.w3.org/TR/webdriver/#take-element-screenshot), at least I assume given that no logs are provided. Maybe it makes sense to file a Chromedriver bug. Any help investigating this, would be appreciated.

[2022-01-27 13:57] sravanthi1047 commented on #7127
Hi, did you get this working. I am also stuck up with similar issue.. not throwing up any error but its not uploading my file. Any help pl..

[2022-01-28 03:47] eldrickb commented on #7683
Sorry for the necro, but I'm new to WebdriverIO and was hoping to find some sort of explicit solution or workaround  for this issue. I cannot complete my project without being able to target select options in an iFrame, and nothing in this post or #6627 indicates a solution to me.

@christian-bromann's comment [here](https://github.com/webdriverio/webdriverio/issues/6627#issuecomment-809965265) de

[2022-01-28 08:47] christian-bromann commented on #7683
The workaround/solution to this is to fix the bug mentioned in #6627 or use a browser driver as this bug only affects devtools automation.

[2022-01-28 11:24] cruzdense commented on #5445
@christian-bromann Hello! Just want to ask if we already implemented and found a solution for this -- (Multi-remote sessions in parallel execution) to work?

[2022-01-28 15:49] christian-bromann commented on #5445
@cruzdense as you can see, this issue has no updates. Please get involved if you are interested in this feature.

[2022-01-28 20:26] OtherwiseJunk opened #7952 "[📖 Docs]: Improve documentation around JUnit Reporter suiteNameFormat"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation, Missing documentation

### Description of the improvement / report

I was recently working on configuring the junit test reporter for our test suite, we use `-` characters in our spec titles, and I was trying to get it to not strip them out.

I had provided a config o

[2022-01-28 21:27] jlipps commented on #7580
@christian-bromann any ideas here? I'm dealing with a find element call that's expensive (5-10 seconds), and all I want to do is verify that it exists, not interact with it at all. How can I do this with webdriverio such that only a single call is made to the server?

[2022-01-29 01:33] christian-bromann commented on #7580
You can always use the protocol command `findElement` like this:

[code]
or
[code]

[2022-01-29 01:35] christian-bromann commented on #7952
Thanks for raising this issue @OtherwiseJunk!

You want to take a stab at this? You can find the docs for the reporter [here](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-junit-reporter/README.md).

[2022-01-29 14:13] christian-bromann opened #7954 "[📖 Docs]: Add documentation on `element`, `browser` and `mock` objects"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation

### Description of the improvement / report

Based on a tweet by `@davert`: https://twitter.com/davert/status/1487229512173686785

It would be great if the docs could have specific information on the `element`, `browser` and `mock` objects within the API section. Rath

[2022-01-29 14:15] christian-bromann commented on #7879
Thanks for raising this. I was planning to eventually switch to Yarn workspaces as I feel it allows better dependency management.

[2022-01-29 14:21] #7800 closed

[2022-01-29 14:21] christian-bromann commented on #7800
I went ahead and added them.

[2022-01-31 12:29] praveendvd commented on #7947
[code]

@CDV13100  It works as expected ,

Have a try at following things

1.  ​if you are using asynchronous image try waiting for image size to be stable before taking the screenshot ,
2.  If you are using headless , make sure you test screen size properly
3. make sure there is no overlapping elements then the overlapping elements screenshot will be taken instead

[2022-01-31 14:18] OtherwiseJunk commented on #7952
Created https://github.com/webdriverio/webdriverio/pull/7957 to resolve this issue.

[2022-01-31 21:43] uno-dos opened #7960 "[📖 Docs]: Add more async examples for filter, findIndex, etc"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Missing documentation

### Description of the improvement / report

So far there is very little documentation on how to use various functions like `filter()`, `find()`, `findIndex()`, etc in async way. Please add more code snippets/examples on how to use various functions in async way. This

[2022-01-31 22:02] uno-dos opened #7961 "[🐛 Bug]: trim(), toLowerCase(), etc are not working with getText() in async mode"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.6

### Node.js Version

16.13.1

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

[code]
error shows up for a

[2022-01-31 22:18] christian-bromann commented on #7961
You can't chain string prototype methods with element commands, so rather than doing:
[code]
do:
[code]

[2022-01-31 22:18] #7961 closed

[2022-01-31 22:19] christian-bromann commented on #7960
Thanks for reporting!

More documentation is always good.

Any contributions that resolves the issue are highly appreciated. Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any questions. Cheers!

[2022-01-31 23:46] jlipps commented on #7580
ok cool. so calling this:

[code]

will throw if the element isn't found?

[2022-02-01 08:59] christian-bromann commented on #7580
Correct. As far as I remember it would return with a 404 status code which causes WebdriverIO to have this command to fail.

[2022-02-01 10:08] carri747 opened #7962 "[🐛 Bug]: <title>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.13

### Node.js Version

15.14.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Function $$ nested with $ adding

[2022-02-01 10:15] christian-bromann commented on #7962
Are you using Puppeteer or WebDriver as [automation backend](https://webdriver.io/docs/automationProtocols)?

[2022-02-01 20:33] eoin-roll-out opened #7963 "Whenever I set up webdriverio with a typescript compiler I get an error when trying to run the test"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.14

### Node.js Version

16.13.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I set up webdriverio using `npm i

[2022-02-01 20:45] eoin-roll-out commented on #7963
@christian-bromann Oh so you ran using  'npx wdio run test/wdio.conf.ts' but I just ran 'yarn wdio' as I thought that script was already present in package.json?

`  "scripts": {
        "wdio": "wdio run wdio.conf.js"
    }`

When I run with the npx command you have said it runs okay but how can I do the same with yarn?

[2022-02-01 21:02] christian-bromann commented on #7963
Actually this was fixed in here and just not yet deployed. I will do this now. Thanks for letting us know.

[2022-02-01 21:02] #7963 closed

[2022-02-01 21:05] eoin-roll-out commented on #7963
Thanks @christian-bromann for the help!

[2022-02-02 09:32] CDV13100 commented on #7947
Thanks @christian-bromann for your suggestion about a driver issue.
It helps us to identify the problem.

Wdio allows two different automation protocols : devtools/puppeteer and driver.
In our case, we used the devtools/puppeteer, and the element screenshot doesn't work with this protocol.
By using a driver protocol with the chromedriver service, the screenshot of an element is as expected.

Howev

[2022-02-02 09:32] #7947 closed

[2022-02-02 10:33] christian-bromann commented on #7947
Not sure. WebdriverIO uses a built in [Puppeteer method](https://pptr.dev/#?product=Puppeteer&version=v13.0.1&show=api-elementhandlescreenshotoptions) here so I assume there is some issue with clipping on Puppeteer side.

[2022-02-02 11:19] carri747 commented on #7962
As far as I know I'm using Webdriver

[2022-02-02 13:20] christian-bromann commented on #7962
Can you provide a title for this issue and a reproducible example?

[2022-02-02 17:46] weronikazoltaniecka commented on #4384
Hi, I am also wondering how to do that, have you found any solution? I can use console.log to get custom properties and it works fine, but if I try to use them in my test I get an error 'Property ... does not exist on type 'WebdriverIO | Testrunner'.'

[2022-02-03 14:23] paweljagiello opened #7972 "wdio config problem ENOENT: no such file or directory, open 'wdio.capabilities.json'"
I get following error after running my config file :

Here is my capabilities.js

tsconfig file:

[2022-02-03 16:58] louis57 opened #7973 "[🐛 Bug]: UnhandledPromiseRejectionWarning: Error when executing wdio config from Gitlab Pipeline"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.14

### Node.js Version

14.18.3

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I created a gitlab pipelin

[2022-02-03 18:07] christian-bromann commented on #7972
The error is pretty clear here. You seem to import a json file somewhere that doesn't exist.

[2022-02-03 18:07] #7972 closed

[2022-02-04 00:10] Searcher865 opened #7974 "[🐛 Bug]: Can't take a screenshot with Appium (browser.checkElement is not a function)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.14

### Node.js Version

15.0.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

1. after launch, Chrome opens on P

[2022-02-04 08:22] christian-bromann commented on #7974
Can you provide the WDIO logs?

[2022-02-04 08:23] christian-bromann commented on #7974
@wswebcreation any reason why the image comparison would not work here?

[2022-02-04 09:00] louis57 commented on #7973
@christian-bromann I am also confused why it runs `wdio config`. The file `wdio.conf.ts` does exist in my project/branch, under folder `e2e`, therefore in my script I change directory to `e2e` and then execute the file.

[code]

I expected it executed the script, but apparently it did not.

[2022-02-04 11:07] praveendvd commented on #7973
Could you give  try of enclosing it with quotes , is your local system is also running linux ?

[2022-02-04 11:09] praveendvd commented on #7954
@christian-bromann  Hi I can take it up , any hint on where to get started on it .

[2022-02-04 11:13] praveendvd commented on #7873
@christian-bromann  I will take this up

@jamesmortensen  which framework  are you using , is there a  minimum reproducible example

[2022-02-04 12:38] louis57 commented on #7973
@praveendvd I did try the quotes, still the same error. Yes, my local system is Ubuntu 18.04.6 LTS

[2022-02-04 12:52] praveendvd commented on #7973
Its really hard to debug it without the environment .

1. Try doing an ls and see if file is there
2. Make sure you have project checkout step if ls doesnt show the files
3. Make sure you didnt accidently added the file to git ignore Remove the git cache and push every thing and see

[2022-02-04 12:53] christian-bromann commented on #7954
Please check out the [contributing guidelines](https://webdriver.io/docs/contribute#documentation) for our docs. I think what we need is an index file for the page groups. Docusaurus should have some docs around this. Given that the API is auto generated I suggest to have the custom docs for these pages in `../docs/api/(element|browser|mock).md` and move these pages then into the API folder during

[2022-02-04 12:55] praveendvd commented on #7973
https://webdriver.io/docs/typescript/

make sure tsnode is installed and tsconfig.json is configured correcly and is in current direcly. Else create a separate tsconfig for your project and move it under test folder , and add autocompile option and add path to new tsconfig.json file explicitly

[2022-02-04 13:20] praveendvd commented on #7954
I will have look , I was confused because i was not able to get  common entry point . Each page is generated separately . Some has a sidebar file , some have md file , some doesnt have any reference but the section is created and there is individual md files for the content inside .

[2022-02-04 15:24] nklemiata commented on #6237
Leaving a note here for others, who'll come up here in search for a fix :)

I started receiving this error in **smoke test runs** when added 3 more spec files to the project:
`@wdio/local-runner[Failed launching test session: TypeError: Cannot set property 'failures' of undefined`
Each spec file has a single 'describe' suite in my case.
Versions updates did not help.

Thanks to the hint from @[nim

[2022-02-04 16:22] gauravgandhi1315 commented on #7974
Image comparison is working for me. Logs would definitely help.

[2022-02-04 16:38] christian-bromann commented on #7954
We have a [scripts folder](https://github.com/webdriverio/webdriverio/tree/main/scripts/docs-generation) that does all that. While it seems overkill it really keeps documenting all these commands bare-able 😉  let me know if you have any suggestions for improvements though.

[2022-02-05 12:49] Searcher865 commented on #7974
@christian-bromann @gauravgandhi1315 I left a link to the logs in the description. Need others? duplicating

[2022-02-05 15:05] christian-bromann commented on #7974
It seems that this is a bug in the [wdio-image-comparison-service](https://github.com/wswebcreation/wdio-image-comparison-service/blob/main/lib/service.js#L30) because the capabilities don't contain `browserName`. So rather than having `'appium:browserName': 'Chrome'` set, just do `'browserName': 'Chrome'`. The `browserName` capability should not be prefixed.

[2022-02-05 15:05] #7974 closed

[2022-02-05 19:34] starpit opened #7977 "[🐛 Bug]: Using promise chaining gives typescript error"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.6.13

### Node.js Version

16.13.2

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

When using promise chaining (versu

[2022-02-06 02:40] Searcher865 commented on #7974
@christian-bromann thank you
If I use capabilities 'browserName': 'Chrome' my test doesn't work at all. I think when 'browserName': 'Chrome' Appium doesn't start.
If I use 'appium:browserName': 'Chrome' then my test runs on the emulator but doesn't save or compare screenshots with wdio-image-comparison-service and I get an error browser.checkElement is not a function
I put new logs when I used 'br

[2022-02-06 07:03] jamesmortensen commented on #7873
@praveendvd we use Mocha as the framework.

[2022-02-06 16:51] wswebcreation commented on #7974
Hi @Searcher865

Sorry for the late response, been pretty busy. But I'e created a PR for your project. The PR contains a few things that you need to be aware of:

- it seems that Android 11 emulators don't have chrome installed anymore (at least not on my machine). The Appium logs told me that it wanted to start chrome, but couldn't find it and thus was complaining about an `appium:app` cap not be

[2022-02-07 08:43] christian-bromann commented on #7977
Let's continue convo in #7978

[2022-02-07 08:43] #7977 closed

[2022-02-07 08:46] louis57 commented on #7973
The issue was caused because of wrong path in my file `wdio.conf.ts`

Thanks all.

[2022-02-07 08:46] #7973 closed

[2022-02-07 10:22] Betwayqa-techtest opened #7979 "[🐛 Bug]: New command error 'Can't find variable: __awaiter'"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

Standalone Mode

### Which capabilities are you using?

_No response_

### What happened?

I'm trying to add a new clic

[2022-02-07 12:43] KaranAgrawal92 commented on #5650
@JockVanDallas any solution on this issue? I am facing same issue and not able to proceed.

[2022-02-07 13:05] christian-bromann commented on #7979
This code:

[code]

is incorrect. You need to run the [`driverScript`](https://webdriver.io/docs/api/appium#driverscript) command to execute WebdriverIO code in the Appium server. Furthermore make sure you have the compiler transpile the script, e.g. by putting it into a module that is being ignored by it.

[2022-02-07 13:05] #7979 closed

[2022-02-07 13:44] opensourcesensor opened #7986 "[🐛 Bug]: iOS IPad Error"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Since a few days,
the Cookie Banner

[2022-02-07 15:40] opensourcesensor commented on #7986
Hi @christian-bromann ,
thanks for your response.
Mhh, I will move forward this to our saucelabs support,
with Iphone f.e., it works.

Regarding the WDOI issue, I have two points:

1. Actually I often encountered the case that WDIO can not identify some elements with all selectors. Sometimes for example only with the help of XPath does WDIO can click an element, class of the object, ID or test ID

[2022-02-07 16:49] christian-bromann commented on #7986
Impossible to say without concrete reproducible examples. WebdriverIO tries to execute commands to the best of its knowledge and there are chances we can improve the interaction with Appium however WebdriverIO is only the messenger here and reason for such failures often lie on Appium or device level. Please open a new issue if you can provide a reproducible example to one of the issues above.

So

[2022-02-07 18:56] owens-ben commented on #7855
Any update here? @christian-bromann

[2022-02-07 20:17] christian-bromann commented on #7855
@owens-ben I am unlikely to get into this anytime soon. Any contributions are apprecicated.

[2022-02-07 20:36] owens-ben commented on #7855
How can I help?

[2022-02-07 23:07] christian-bromann commented on #7855
A minimal reproducible example would be a good first step. Any hints what might cause this would help as well.

[2022-02-08 13:48] praveendvd commented on #7954
@christian-bromann

![image](https://user-images.githubusercontent.com/45095911/152999868-36b0374a-7ae2-4adb-8c52-068792f4ca3c.png)

I am getting this error on trying to run the document locally

[2022-02-08 14:00] user7699 commented on #5411
Any progress on this issue?

This issue is also present when using browserstack on multiple iOS devices. If you are running a spec file on e.g iPhone 8, iPhone12 and iPad8, Allure is not able to distinguish one device from another device. Only a single test will be marked as either passed or failed and the rest will be marked as retries of the same test. I think this is due to the following code i

[2022-02-08 14:31] christian-bromann commented on #7954
@praveendvd seems like something is wrong with the readme provided by this service. I suggest to do the following:

- catch the error and ignore creating docs for the service
- create an issue in the repository and ask to have it fixed

[2022-02-08 14:36] opensourcesensor opened #7987 "[🐛 Bug]: Element only clickable via one selector"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

latest

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

The Link "AddToWishlist" is only cl

[2022-02-08 14:38] opensourcesensor commented on #7986
Hi @christian-bromann ,
mh a race condition could be.

I create an example for the selsctor bug:
https://github.com/webdriverio/webdriverio/issues/7987

--> There are some other examples,
maybe we can start with this one.

BR!

[2022-02-08 16:07] avikha opened #7988 "[🐛 Bug]:Protocol error (Input.dispatchMouseEvent): Target closed - why does it happens?"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.11.0

### Node.js Version

14.16

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

We are running `wdio` and headless b

[2022-02-08 17:37] Badisi commented on #7954
Compiling issue due to [@badisi/wdio-harness](https://github.com/Badisi/wdio-harness) was fixed.

[2022-02-08 19:06] christian-bromann commented on #7988
Is AWS Lambda supporting running Chrome through Chrome DevTools. I was not aware this is supported yet. Can you confirm?

[2022-02-08 19:07] christian-bromann commented on #7987
@opensourcesensor please provide a reproducible example someone could download and just run. It makes debugging this issue much easier.

[2022-02-08 19:09] christian-bromann commented on #7873
@praveendvd we should be able to compute the duration ourselves. WebdriverIO only runs one suite at a time within a worker process. So `@wdio/reporter` could be enhanced to calculate this duration between `suiteStart` and `suiteEnd`. What do you think?

[2022-02-08 20:27] praveendvd commented on #7873
@christian-bromann  the aftersuite object is comming from the mocha directly i couldnt find it in reporter . So i made the changes in mocha itself .

Will continue the discussion in the PR

[2022-02-08 20:27] #7873 closed

[2022-02-08 21:40] avikha commented on #7988
Yes, they are.

I'm not sure that I have formal documentation to show you. But, from an engineering perspective, it works.

Today, at Duda, we are running hundreds of tests a day using the `wdio` and the `chrome-aws-lambda` with Puppeteer.

But some of them fail because of the `Target is closed` issue that I've shown above. Not all related to mouse events. It is just annoying. In those cases, the

[2022-02-08 22:32] betaorbust opened #7991 "[📖 Docs]: Clarity on Overwriting Native Commands"
### Pre-check

- [X] I know I can edit the docs but prefer to file this issue

### Describe the improvement

Unclear documentation

### Description of the improvement / report

Can you clarify the context around the [Overwriting Native Commands](https://webdriver.io/docs/customcommands#overwriting-native-commands) section?
Currently it says:

A couple questions:
- Is this unpredictable because you

[2022-02-09 08:37] opensourcesensor commented on #7987
Hi @christian-bromann ,
okay !
Here is the testfile: (I can not upload .js files here)
------------------------------
describe('Fix error', () => {
    it('4.8', async() => {
        await browser.url(`https://www.sick.com/de/de/downloads/software`)
        const cookie = await $('[id="gdpr_modal_button_consent"]');
        //Downloads
        const button_Details = await $('*=Details');
        /

[2022-02-09 09:15] christian-bromann commented on #7987
Have you tried:

[code]
?

[2022-02-09 09:17] christian-bromann commented on #7991
Both. It also might confuse people that aren't aware that these commands got overwritten.

We don't plan to deprecate this.

[2022-02-09 09:17] #7991 closed

[2022-02-09 09:23] christian-bromann commented on #7988
It is hard to say why this happens, could be related to a race condition or other connectivity issues. I personally won't be able to look into this anytime soon so any help to solve this problem and make the devtools connection a bit more resilient is much appreciated.

Please take a look into our [contribution guidelines](https://webdriver.io/docs/contribute) and let us know if you have any quest

[2022-02-09 09:39] opensourcesensor commented on #7987
Yes, this is the only selector which work BUT as I said,
to use the data-dialog-action is not good,
because if there are newer products, this will change.

[2022-02-09 09:40] opensourcesensor commented on #7987
Yes, this is the only selector which work BUT as I said,
to use the data-dialog-action is not good,
because if there are newer products, this will change.

[2022-02-09 13:19] x8co opened #7992 "[💡 Feature]: Expose CID on hooks like before and after"
### Is your feature request related to a problem?

I need to create a framework where i can assign login credentials from a pool of available credentials and then add it back to the pool once the execution is over as we do not support multi session login

To do this we need to get CID in before hook so we can do the assignment dynamically. Right now i see absolutely no way to achieve this in wdio

[2022-02-09 13:23] christian-bromann commented on #7992
I don't understand why is it not possible to assign the login credentials within the `beforeSession` or `before` hook?

[2022-02-09 13:28] christian-bromann commented on #7987
Then you have to find a way to better select the desired product. Maybe fetch all products and always take the nth one. I will go ahead and close this as this doesn't seem to be a bug in WebdriveriO.

[2022-02-09 13:28] #7987 closed

[2022-02-09 13:39] x8co commented on #7992
BTW i did try to use '@wdio/shared-store-service' wherein in the beforeSession i try to update a list of used id's but again this is not useful as they all run in parallel and 2 parallel worker can update the list at same position

[2022-02-09 18:03] betaorbust commented on #7991
Thank you!

[2022-02-09 18:30] praveendvd commented on #7864
@christian-bromann  seems this is merged could we close it ?. @gpt14  awesome work ❣️🎉

[2022-02-09 18:33] #7864 closed

[2022-02-09 18:33] christian-bromann commented on #7864
Feel free to close such issues yourself as you have all the rights to do it ;-)

[2022-02-09 18:34] praveendvd commented on #7864
Was just wondering whether u had any pending tasks for this ,

[2022-02-10 01:05] jan-molak opened #7994 "[🐛 Bug]: ESM module exports in Puppeteer 13.3.0 break devtools integration (ERR_PACKAGE_PATH_NOT_EXPORTED)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.14

### Node.js Version

16.13.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

- WebdriverIO defines its [depend

[2022-02-10 07:23] LayMui opened #7995 "[🐛 Bug]: touchAction('tap') not working on custom TextInput component"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.14

### Node.js Version

16.13.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I have a UI component from design

[2022-02-10 09:00] christian-bromann commented on #7995
Hey,
thanks for filing the issue. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2022-02-10 09:04] christian-bromann commented on #7994
This problem is caused based on one of the imports you find in [`performActions.ts`](https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/commands/performActions.ts#L1). I had to import it this way because there was no other way to do so and of course at some points it would break. The solution to this would be to find a better way to import this file. Maybe they properly exp

[2022-02-10 10:45] jan-molak commented on #7994
I might give it a shot tonight ;-)

[2022-02-10 13:37] abianche commented on #7994
Is there any way to workaround the issue until this gets fixed?
Thanks.

[2022-02-10 14:24] user7699 commented on #5411
I managed to find a workaround for this issue, but it does require a little fiddling with capabilities.

As far as I understand, the reason why Allure is unable to distinguish between (some) devices and browsers is because of the following in the XML file:

            <parameters>
                <parameter kind='argument' name='device' value='safari'/>
            </parameters>

where "value" is

[2022-02-10 21:59] jan-molak commented on #7994
OK, Puppeteer has reverted the change in `13.3.1` (https://github.com/puppeteer/puppeteer/commit/179ededa1400c35c1f2edc015548e0f2a1bcee14).
Closing.

[2022-02-10 21:59] #7994 closed

[2022-02-10 22:37] christian-bromann commented on #7994
Awesome!

[2022-02-11 15:06] komradius opened #8005 "Cannot Set user-agent with mobileEmulation"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.16.9

### Node.js Version

14.15.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

I'm unable to set a custom user ag

[2022-02-11 15:17] christian-bromann commented on #8005
Why do you have to set them in two places? You can just do:
[code]
This is documented in the [ChromeDriver docs](https://chromedriver.chromium.org/capabilities).

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not nec

[2022-02-11 15:25] christian-bromann commented on #7987
Please debug your test with commands like `browser.debug()` that help to test different selectors. Also note that WebdriverIO just passes along your input to the driver. So it is not WebdriverIO that is not able to find something but Appium.

[2022-02-13 09:14] misjorge opened #8006 "[🐛 Bug]: <title>404 https://msedgedriver.azureedge.net/98.0.1108.51/edgedriver_win64.zip Response code 404 (Not Found)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.6.0

### Node.js Version

13.8.0

### Mode

Standalone Mode

### Which capabilities are you using?

[code]

### What happened?

Immediately after started running th