[2016-11-02 09:37] monolithed commented on #1676
I see what you mean. But my guess is that reporters should be wrapped by `try / catch`

[2016-11-02 09:41] monolithed commented on #1678
Have you tried to run test via Launcher?

[2016-11-02 09:45] christian-bromann commented on #1676
Well if I would know where this error comes from I can probably do that 😉

[2016-11-02 11:58] christian-bromann commented on #1678
Not sure if that makes a difference. Can you provide an example?

[2016-11-02 12:57] monolithed commented on #1678
### config.js

[code]

###  launcher.js

[code]

[2016-11-02 13:27] christian-bromann commented on #1678
Your launcher should be like
[code]

if you want to run anything since your specs array is empty.

[2016-11-02 13:28] christian-bromann commented on #1678
Why do you run `wdio --suite=foo` when you execute that launcher.js?

[2016-11-02 13:48] monolithed commented on #1678
Yep, I pass that and other options from CLI.

Actually, I don't use wdio, don't worry 😄

[2016-11-02 14:00] christian-bromann commented on #1678
Well the example you gave worked for me.

[2016-11-02 14:20] christian-bromann commented on #1675
`this.skip()` is available with MochaJS v3 which is was not supported with the the wdio framework adapter. Please update your `wdio-mocha-framework` package to `v0.5.0`.

[2016-11-02 14:20] #1675 closed

[2016-11-02 14:21] christian-bromann commented on #1315
`this.skip()` is available with MochaJS v3 which is was not supported with the the wdio framework adapter. Please update your `wdio-mocha-framework` package to `v0.5.0`.

[2016-11-02 15:08] christian-bromann commented on #1672
Even though Chimpjs uses some functions from wdio-sync I can't promise that it will be supported there as well.

[2016-11-02 15:32] gregorskii commented on #1672
Will the feature be available in wd-sync? I can work with the developers of chimp to pull it in.

[2016-11-02 15:34] gregorskii commented on #1672
Also let me know if there is anything I can do to work on this. Happy to work on a PR if I know where to look and tips on implementing it.

Thanks!

[2016-11-02 15:37] christian-bromann commented on #1672
Yes, in fact it will affect the method that is consumed by chimp.

All magic happen when the [result object](https://github.com/webdriverio/wdio-sync/blob/master/index.js#L221) gets overloaded by [applyPrototype](https://github.com/webdriverio/wdio-sync/blob/master/index.js#L247) in [wdio-sync](https://github.com/webdriverio/wdio-sync).

Actually let's move this into the wdio-sync project since mo

[2016-11-02 15:37] christian-bromann commented on #1672
This issue was moved to webdriverio/wdio-sync#40

[2016-11-02 15:37] #1672 closed

[2016-11-02 15:39] gregorskii commented on #1672
Ok thank you

[2016-11-02 16:21] christian-bromann commented on #564
@rasmusbergpalm, @dok, @mike-suggitt, @thomaswmanion, @wilmoore, @gabriel-sagula-hs, @kabirsikand @jeffsheets

This is now also available in MochaJS v3 and can be used with the latest released wdio-mocha-framework (`v0.5.0`).

[2016-11-03 02:44] ChadKillingsworth opened #1683 "Connecting to Cloud Service Broken with v4.3.0"
With the v4.3.0 release, our sauce labs tests completely quit working. The selenium server never connects. We've downgraded to 4.2.16 for the time being.

I'm putting this here as a placeholder for now. I'm going to try tomorrow to use git bisect to tell me which commit caused the problem.

[2016-11-03 06:24] Mecommited opened #1684 "Private mode in IE for WDIO"
I was looking for docs about running my jasmine tests with WDIO in a private instance of IE but I couldnt fine any. How should we set browser switches or options in wdio.conf.js?

[2016-11-03 06:50] #1684 closed

[2016-11-03 07:49] christian-bromann commented on #1683
@ChadKillingsworth can you provide more information? Are you using Sauce Connect?

[2016-11-03 12:13] bertyhell opened #1685 "Webdriver io screenshot in v4"
## The problem

I'm trying to take a screenshot and send it as a response in a express node service http request. When i execute the saveScreenshot command i get back an object that doesn't seem to be a buffer.

## Environment

* WebdriverIO version: 4.2
* Node.js version: 6.4.0
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): Standalone mode

## Details

My

[2016-11-03 12:13] Burgi0101 opened #1686 "[Typescript] type definition doesn’t differentiate between sync and async mode"
**Example**
When using Typescript with WebdriverIO it seems like the type definition doesn't differentiate between sync and async mode and treats everything async.

For example the following code snippet shows a method that should get a text given a locator and afterwards return the text. As we expect to get back a text we define the method to be typeof string.

    getItemFromTable(item: string):

[2016-11-03 13:10] christian-bromann commented on #1685
It's a base64 buffer, see https://github.com/webdriverio/webdriverio/blob/master/lib/commands/saveScreenshot.js#L36-L42.
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2016-11-03 13:10] #1685 closed

[2016-11-03 13:27] bertyhell commented on #1685
[code]

The issue is that if i implement this using the async code (the one you linked me), the screenshot promise never gets resolved.

If i put breapoints on line:
` client.screenshot().then((data: any) => {'
and
`    console.log('Screenshot promise resolved----------------');`

Only the first one gets hit. The second one never gets hit.

[2016-11-03 13:31] christian-bromann commented on #1685
@bertyhell because you can't stream the screenshot into the express response. Also you are using all commands as if they were synchronous but they aren't.

[2016-11-03 13:56] bertyhell commented on #1685
So this section is only talking about the test runner part of webdriver.io and not about the standalone part?
http://webdriver.io/guide/getstarted/v4.html#It’s-all-synchronous

Then this code should get to the console log, right? But it still doesn't.
[code]

[2016-11-03 13:59] christian-bromann commented on #1685
Yes: `handles async in the wdio testrunner now`

Probably because it fails before somewhere and you haven't catched the error, do:
[code]

[2016-11-03 14:16] bertyhell commented on #1685
This also doesn't output anything

I made a minimal (non)working example without express
[code]

The console output:
[code]

[2016-11-03 14:18] christian-bromann commented on #1685
Do you see any errors in the selenium server logs?

[2016-11-03 14:54] christian-bromann commented on #1396
@sean-lynch please try with the latest version, it should be fixed now.

[2016-11-03 14:54] #1396 closed

[2016-11-03 14:56] christian-bromann commented on #1413
Typings are available for v4.x. Though there are some issues with it when using wdio testrunner. Closing in favor of #1686

[2016-11-03 14:56] #1413 closed

[2016-11-03 15:01] christian-bromann commented on #1086
I know this took quite some time but we just released a new command ([touchAction](http://webdriver.io/api/mobile/touchAction.html)) that runs arbitrary (multi)touch gestures on canvas .. e.g.

![malen](https://cloud.githubusercontent.com/assets/731337/19971268/d4d2ff22-a1de-11e6-94fd-90e04c500b20.gif)

[2016-11-03 15:01] #1086 closed

[2016-11-03 15:04] christian-bromann commented on #1344
... and released. If some keys aren't working in some browser is probably an issue of the driver. Closing.

[2016-11-03 15:04] #1344 closed

[2016-11-03 15:06] christian-bromann commented on #858
Since we moved on to use promises instead of callbacks any errors aren't propagated anymore. I suggest to either make sure that each command promise is handled properly or us the wdio testrunner where you even have an error hook that allows you to take screenshots and more.

[2016-11-03 15:06] #858 closed

[2016-11-03 15:56] ChadKillingsworth commented on #1683
Yes we use sauce connect. The tunnel is started externally and we pass the tunnel ID to the configuration.

git bisect identifies this as the offending commit: 9ce7f7bb508fb2bb47071c11bbb8b76ff743f0f5

[2016-11-03 15:59] ChadKillingsworth commented on #1683
[code]

https on port 80 looks mighty suspicious.

[2016-11-03 16:22] hanthomas commented on #1086
Thanks!

[2016-11-03 16:27] christian-bromann commented on #1683
https://github.com/webdriverio/webdriverio/blob/master/lib/helpers/detectSeleniumBackend.js#L41-L46

[2016-11-03 16:27] christian-bromann commented on #1683
if you use sauce connect please set `"protocol": "http"`. I will make sure that we get back to port 80 when sauce connect is running

[2016-11-03 16:31] ChadKillingsworth commented on #1683
I saw that just after I posted it.

Switching back to `protocol: "http"` and `port: 80` works. I'm researching to see why saucelabs isn't connecting with https.

[2016-11-03 17:04] ChadKillingsworth commented on #1683
I'll leave it to you then. I've found no other way around this so far.

[2016-11-03 17:05] nrdobie opened #1687 "Update config in services."
I was looking to enhance my [wdio-static-server-service](https://github.com/LeadPages/wdio-static-server-service) with port scanning. In theory the service would scan for an open port and then update `baseUrl` with located port. A similar option could be applied to the Selenium service as well. This is coming from our Jenkins server trying to run our E2E's simultaneously and hitting port conflicts

[2016-11-03 17:07] christian-bromann commented on #1687
See how the sauce service modifies the config:
https://github.com/webdriverio/wdio-sauce-service/blob/master/lib/sauce-launch-service.js#L12-L13

[2016-11-03 17:07] #1687 closed

[2016-11-03 17:08] christian-bromann commented on #1683
No worries, I will push out a fix for that tomorrow.

[2016-11-03 17:10] nrdobie commented on #1687
Must have something to do with the update being in a callback, because in my `onPrepare` function I am setting `this.config = config`.

[2016-11-03 17:13] nrdobie commented on #1687
Here's all the code related to ports.

[code]

[2016-11-03 17:26] christian-bromann commented on #1687
I am not sure how to help you.

[2016-11-04 13:24] bertyhell commented on #1685
It seems to be an issue with the setup of selenium and webdriverio on my development machine. (Windows 10 x64). It was setup inside a vagrant VM and that might be causing the issue.

When i deployed my code to our amazon ec2 instance (Ubuntu) everything works as expected.

Thank you for the help though.

In the future I'll use the chat like you suggested

[2016-11-04 16:48] krasimir commented on #1674
We have the same issue.
chrome: 54
webdirverio: 3.3.0

It's interesting that the same issue exists with Firefox when we use:
[code]

[2016-11-04 16:52] monolithed commented on #1674
@krasimir, it's true, we have got the same problem with FF

[2016-11-04 17:06] krasimir commented on #1674
@monolithed is `LC_ALL=en_US.UTF-8` fixing your issue. Looks like it is working for your Chrome (as per your last comment) ;)

[2016-11-04 18:14] SachaMPS commented on #1674
@krasimir @monolithed  These may be two different problems as far as i know. I think the latest versions of Firefox may need another driver. Maybe your find some useful information here
https://developer.mozilla.org/en-US/docs/Mozilla/QA/Marionette/WebDriver

[2016-11-05 08:18] ButuzGOL opened #1688 "Get started http://webdriver.io/guide.html not working with chrome"
## The problem

Get started http://webdriver.io/guide.html not working with chrome

Chrome just opens and thats all

## Environment
webdriverio ^4.3.0
Node v4.2.4
Standalone

## Details
1. Did steps from http://webdriver.io/guide.html
2. change browserName to "chrome"
3. connect chromedriver
4. run

## Link to Selenium/WebdriverIO logs

[code]

## Code To Reproduce Issue [ Good To Have ]
index.js

[2016-11-05 09:06] christian-bromann commented on #1688
@ButuzGOL make sure you have Chromedriver installed. See also http://webdriver.io/guide/getstarted/install.html.
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2016-11-05 09:07] christian-bromann commented on #1688
Is that all

[2016-11-05 12:33] monolithed commented on #1688
@ButuzGOL, Please read the following issue https://github.com/webdriverio/webdriverio/issues/1674

[2016-11-05 12:41] christian-bromann commented on #1688
Closing. This is a Selenium issue.

[2016-11-05 12:41] #1688 closed

[2016-11-05 20:37] ButuzGOL commented on #1688
Thanks

[2016-11-05 20:44] ButuzGOL opened #1689 "selectByValue not working ?"
## The problem

Is selectByValue not working ?

## Environment

WebdriverIO ^4.3.0
Node.js v7.0.0
Standalone

## Link to Selenium/WebdriverIO logs

[code]
## Code To Reproduce Issue [ Good To Have ]

[code]

Output
=> 0
==> 0

[2016-11-05 20:48] ButuzGOL commented on #1689
Temporary solution

[code]

[2016-11-06 03:49] khirakawa opened #1690 "`browser.element()` does not work after a `browser.waitUntil` is invoked"
## The problem

`browser.element()` does not work after a `browser.waitUntil` is invoked

## Environment

* WebdriverIO version: 4.3.0
* Node.js version: 4.3.0
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio testrunner
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Additional wdio packages used (if applicable): none

##

[2016-11-06 05:33] tiffon commented on #1690
I've also run into this issue. Looks like the final `browser.element(...)` is scoped to the previous call's results.

An excerpt of the logs:

[code]

[2016-11-06 05:45] tiffon commented on #1690
FYI, you can work around this by scoping the `element` call in the `waitUntil(...)` to another element:

[code]

Log excerpt:
[code]

[2016-11-06 07:16] tiffon commented on #1690
This actually does work around the issue:

[code]

But, if it's added as a command it has the same problem as `browser.waitUntil(...)`.

[2016-11-06 07:51] khirakawa commented on #1690
@tiffon Thanks for the workarounds!  I'm curious to know why [your first workaround](https://github.com/webdriverio/webdriverio/issues/1690#issuecomment-258662102) doesn't actually solve the problem.  I tried it out and it seemed to work...

I'm not quite familiar with how `browser.waitUntil` works.  Could you explain why this is the case?

[2016-11-06 14:33] echonox opened #1691 "Could not proxy command to remote server"
## The problem

Briefly describe the issue you are experiencing (or the feature you want to see added to WebdriverIO). Tell us what you were trying to do and what happened instead. Remember, this is _not_ a place to ask questions. For that, join the Gitter chat room ([![Gitter](https://badges.gitter.im/Join Chat.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_

[2016-11-07 05:32] patthiel commented on #1689
Per this note, https://github.com/SeleniumHQ/selenium/issues/2799#issuecomment-249539357 make sure you're using Firefox 49.

[2016-11-07 08:42] ButuzGOL commented on #1689
Thanks 49 fixed

[2016-11-07 08:42] #1689 closed

[2016-11-07 14:08] sasank26 opened #1692 "Issue with skipping particular describe in webdriverio !"
I am trying to skip an jasmine describe in webdriverio using "xdescribe" but while running the code, that describe is not being skipped .Thus failing all my remaining describes and specs .i have recently installed webdriver latest version through npm. Before this i was using webdriverio v4.2.16 and its working well.
And i tried reverting back to v4.2.16 .But still "xdescribe"  is not working .

[2016-11-07 16:49] christian-bromann commented on #1692
Can't reproduce with latest wdio-jasmine-framework and latest WebdriverIO:

__wdio.conf.js__
[code]
__test.js__
[code]
__output:__
$ ./node_modules/.bin/wdio wdio.conf.js

․․

1 passing (2.70s)
1 pending
[code]

[2016-11-07 16:49] #1692 closed

[2016-11-07 18:11] Mosho1 opened #1694 "Outdated type definitions"
I just installed `@types/webdriverio` and the typings seem off. For example. `getTitle` without arguments returns a `string` but the typing says it returns a `Client<P>`.

[2016-11-07 18:13] christian-bromann commented on #1694
Duplicate of #1686

[2016-11-07 18:13] #1694 closed

[2016-11-08 15:27] krasimir commented on #1674
Just for the record: I fixed the issue on my machine by getting the latest version of `selenium-standalone` module and running `/node_modules/selenium-standalone/bin/selenium-standalone install` so I get the latest `chromedriver` and `geckodriver`. After that everything got back to normal.

[2016-11-09 11:55] ssfxate opened #1695 "How to use multi remote and multiple threads capabilities at the same time?"
Multiple capabilities, wdio.conf.js:
[code]

Multiremote, wdio.conf.js:
[code]

My friend looked at webdriver.io code and says that multiremote can only be if capabilities is not an array.
I want to use multi remote with multiple threads capabilities at the same time.

Example of what i want…
Multiremote+multiple capabilites, wdio.conf.js:
[code]

[2016-11-09 15:27] dfleer100 opened #1697 "'beforeSuite' hook doesn't work with mocha's dynamically testing feature"
## The problem

I'm using webdriverio together with mocha's dynamically testing feature (it's simply a loop over an array). I expected that the 'beforeSuite' hook is called one per loop, but obviously this isn't the case.

## Environment

* 4.4.0
* 6.9.1 LTS
* wdio testrunner
* synchronous tests

## Link to Selenium/WebdriverIO logs

https://gist.github.com/dfleer100/8be199b4c0c49bfea311a2ecb84324

[2016-11-09 15:53] christian-bromann commented on #1697
As discussed on [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) please set the hooks within your spec files.

[2016-11-09 15:53] #1697 closed

[2016-11-10 13:52] vin1391 opened #1699 ".chooseFile works with Chrome but not with Safari"
Hi,

The .chooseFile function seems to work in chrome but not with safari. When I use the command, it sends the file location [Seen from selenium logs], then thats it. The testcase finishes up and no failure is thrown either.

Also for my case there is no textbox to fill the file path with. Only the choose file option is present. So I cannot upload the file in that way.

On searching for possible

[2016-11-10 14:13] christian-bromann commented on #1699
Hey @vin1391
unfortunately not. WebdriverIO can only support what the driver supports.

Cheers

[2016-11-10 14:13] #1699 closed

[2016-11-11 11:59] dfleer100 opened #1700 "calling browser.reload() leads to UnhandledPromiseRejectionWarning with wdio-mocha-framework@0.5.3"
## The problem

If you use the command 'browser.reload()' to get a new fresh browser instance, nodejs throws an 'UnhandledPromiseRejectionWarning'. I faced this issue only with wdio-mocha-framework@0.5.3. Older versions working fine.

## Environment

* WebdriverIO version: webdriverio@4.4.0
* Node.js version: v6.9.1
* Standalone mode or wdio testrunner: wdio testrunner
* if wdio testrunner, runnin

[2016-11-11 21:45] krobertson92 opened #1701 "isVisible() is not returning a result when the element is not visible"
## The problem

isVisible() is not returning a result when the element is not visible when you are operating on browser.element.
This also causes allure report generation to fail.

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: v6.9.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio testrunner
* if wdio testrunner, running synchronous o

[2016-11-11 21:48] christian-bromann commented on #1701
Your element doesn't seem to exist. The browser.element call should throw.

[2016-11-11 21:50] krobertson92 commented on #1701
Oh that would make sense... My bad

[2016-11-11 21:50] #1701 closed

[2016-11-11 21:51] christian-bromann commented on #1701
@krobertson92 also I would recommend to use the `$` and `$$` shortcuts to fetch elements. E.g.
[code]

[2016-11-11 21:54] krobertson92 commented on #1701
@christian-bromann very helpful, thank you!

[2016-11-12 01:00] khirakawa opened #1702 "waitForVisible broken after a waitUntil"
## The problem

[code]

In the above test, I expect `browser.waitForVisible` to use `#main` as the selector.  However, it uses `null`.

## Environment

* WebdriverIO version: 4.2.26
* Node.js version: 4.3.0
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): test runner
* if wdio testrunner, running synchronous or asynchronous tests: sync
* Additional wdio pack

[2016-11-13 23:44] shyamul opened #1704 "Scripts with XMLHttpRequest does not seem to be working"
## The problem

I'm writing tests which include some API requests.

When I run the js script on it's own, it works fine. However, when I run the script using wdio testrunner a successful request does not seem to get generated.

As a simple example I tried compiling the following code

[code]
This eventually yielded a **_200_** response when I run the js script without wdio...

But when I run this

[2016-11-14 04:31] shyamul commented on #1704
Ok, after a certain duration of head bumping on a very solid surface, I've got to make it work in two ways:
* I turn the sync option to **false**
* I apply a callback function with a small delay

[2016-11-14 04:32] #1704 closed

[2016-11-14 09:07] christian-bromann commented on #1704
Hey @shyamul,
you don't need to switch to async to do async 3rd party requests. You can simply use the call command:

[code]
I used the require package here which might be a little bit too big for just a simple request but it demonstrates the use case. See also http://webdriver.io/api/utility/call.html

[2016-11-14 13:34] SamantaChinmoy opened #1705 "Page is not open via url method"
## The problem

I want to open a page through url method. But page is not open and only browser is open.

## Environment

* WebdriverIO version: 4.4.0
* Node.js version:6.8.1
* [Standalone mode]

## Details

**This problem is not arising in previous version(2.4.3) of webdriverio.**

## Code To Reproduce Issue
[code]

[2016-11-14 13:41] christian-bromann commented on #1705
You have a racing condition in there:
[code]
Make sure you properly handle the promise of each command. I would recommend to use the wdio testrunner. It runs all commands synchronously, e.g.
[code]
See the guide page at the bottom to get started: http://webdriver.io/guide.html. Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriveri

[2016-11-14 13:41] #1705 closed

[2016-11-14 13:49] SamantaChinmoy commented on #1705
But same implementation is working in the version (2.4.3) of webdriverio.

[2016-11-14 13:50] christian-bromann commented on #1705
Please update to the latest version (`v4.4.0`)

[2016-11-14 15:39] christian-bromann commented on #1700
I had no issues running the spec file you provided. According to the [logs](https://gist.github.com/christian-bromann/ead0d886d71c62da5402f340c8924c86) it starts and reloads the session successfully. Closing since I don't have any more information to reproduce.

[2016-11-14 15:39] #1700 closed

[2016-11-14 16:20] dfleer100 commented on #1700
Hi @christian-bromann,
do you need any logfiles from me to reproduce the issue?

[2016-11-14 16:21] christian-bromann commented on #1700
If you could provide a sample project which I can download and run to reproduce the issue that would be perfect 👌

[2016-11-14 18:11] christian-bromann commented on #1702
@khirakawa you should not return the result of an element command. What do you want to achieve here? Use waitforexist to wait until the element shows up. However this is still a bug because lastResult should not be propagated after a wait command.

[2016-11-14 18:13] christian-bromann commented on #1691
It seemed to fail after an attempt to click on an element:
[code]
This is not a WebdriverIO issue. Please fill this issue in the Appium project.

[2016-11-14 18:13] #1691 closed

[2016-11-14 19:12] christian-bromann commented on #1702
It seems that any element call within waitUntil gets propagated to following command calls, no matter if a element result is returned or not:
[code]

[2016-11-14 19:38] #1702 closed

[2016-11-14 19:38] khirakawa commented on #1702
@christian-bromann Apologies, that test was quickly written to reproduce the error.  The actual tests we have don't return `element` in `waitUntil`

[2016-11-14 19:43] christian-bromann commented on #1702
@khirakawa no worries, as I mentioned above it didn't matter whether or not the element was returned. I applied a fix in wdio-sync and currently updating the framework adapters. Please update them to get the bugfix. Thanks for reporting this!

[2016-11-14 19:47] christian-bromann commented on #1702
Ok, applied fix to all framework adapters.

[2016-11-14 19:55] christian-bromann commented on #1690
@khirakawa @tiffon this should be fixed by #1702. Please update the framework adapter you are using. If the error still occurs, let me know and I will reopen.

[2016-11-14 19:55] #1690 closed

[2016-11-15 01:42] khirakawa opened #1708 "executeAsync does not work in Safari"
## The problem

[code]

This test fails with:

[code]

on:

[code]

## Environment

* WebdriverIO version: `4.2.16`
* Node.js version: `4.3.0`
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): test runner
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Additional wdio packages used (if applicable): `wdio-mocha-framework@0.5.4`

[2016-11-15 04:02] shyamul commented on #1704
Thanks @christian-bromann, that's quite helpful!

[2016-11-15 20:01] nhuhai opened #1709 "new Date() returns null on IE 11"
## The problem

[code]
on:

[code]

## Environment

* WebdriverIO version: `4.2.16`
* Node.js version: `4.3.0`
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): test runner
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Additional wdio packages used (if applicable): wdio-mocha-framework@0.5.4

## Link to Selenium/WebdriverIO lo

[2016-11-16 15:13] bpskishore opened #1710 "No equivalent of findElements get Count, Expect to have a browser.elements(<Selector>).length"
## The problem

It is important to have an equivalent value of findElements to get count of all elements either from drop down or from grid etc.

## Environment

* WebdriverIO version: 4.x
* Node.js version:6.9.x
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html):
* if wdio testrunner, running synchronous or asynchronous tests:
* Additional wdio packages used (

[2016-11-16 18:01] christian-bromann commented on #1710
There is an example right on the startpage of webdriver.io:

[code]

[2016-11-16 18:01] #1710 closed

[2016-11-16 18:02] christian-bromann commented on #1709
This is not a bug in WebdriverIO. The edgedriver returned null, so WebdriverIO returns null as well. Not sure why.

[2016-11-16 18:02] #1709 closed

[2016-11-16 18:11] christian-bromann commented on #1708
This is the wrong way of using `executeAsync`. Since it is async you get a callback you need to call otherwise the driver will fail as you see in the error message. Try this:

[code]

[2016-11-16 18:11] #1708 closed

[2016-11-16 18:28] khirakawa commented on #1708
@christian-bromann ah good point.  The test still fails with the same exception though =\

[2016-11-16 21:16] kvnlnt opened #1712 "WaitForExist not working as expected"
# The problem

WaitForExist and other wait functions don't seem to work as you'd expect.

## Environment

* WebdriverIO version: ^4.4.0
* Node.js version: v5.0.0
* Standalone mode

## Details

I'm running webdriverio in standalone and using it with phantomjs (phantomjs-prebuilt) to test a static html page. The page attaches a class to the html tag upon reaching a certain state. I want to wait unti

[2016-11-17 02:26] krobertson92 opened #1713 "Not waiting for reporters to finish in synchronous mode"
## The problem

It seems like the test runner is not waiting for the reporters to finish before exiting, which results in the last events not being handled.

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: v6.9.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio testrunner
* if wdio testrunner, running synchronous or asynchronous tests: s

[2016-11-17 04:06] krobertson92 commented on #1713
When it fails (it is intermittent), the global.browser.on events are executed in [runner.js](https://github.com/webdriverio/webdriverio/blob/master/lib/runner.js) which sends the events back to the parent process in [launcher.js](https://github.com/webdriverio/webdriverio/blob/master/lib/launcher.js), but the event is not handled there (messageHandler() is never called).  I added console logs to t

[2016-11-17 04:58] krobertson92 commented on #1713
process.send is async [https://github.com/nodejs/node/issues/760](https://github.com/nodejs/node/issues/760). The problem is if you are doing large things (like screenshots), it is possible for the data to not be sent back before the process.exit.  This can be fixed by moving the process.exit into the process.send callback on the runner:end event [runner.js](https://github.com/webdriverio/webdrive

[2016-11-17 11:04] christian-bromann commented on #1712
Without PhantomJS logs I can't say what's wrong here. Also you call asynchronous commands here and don't proper handle promises, here is how it should work:

[code]

If you want to build a sophisticated test suite I would recommend to use the wdio testrunner. You will find a lot of boilerplater projects on the website. Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)

[2016-11-17 11:04] #1712 closed

[2016-11-17 15:07] kvnlnt commented on #1712
@christian-bromann I just tried your example and it doesn't work - waitForExist doesn't work. Also, your "should work" example was the same as my example...so I'm confused about whether or not you looked at my examples???

I don't see how I'm not "handling promises correctly" either. Unless you were referring to the fact that I was missing a return statement – that however was merely lost in trans

[2016-11-17 20:07] ARenfroe commented on #1406
@monolithed
@ChrisOelmueller
Hey everyone I am experiencing this issue as well. Did anyone find a fix.
I have the same 2 commands out to clear the element.  I have tried both `setValue` and `addValue` with no success.  Any help is appreciated.

**Selenium logs**
[code]

**Webdriver.io reporter error**
[code]

**Spec File**
[code]

[2016-11-17 20:54] christian-bromann commented on #1406
@ARenfroe not sure what element you try to change but it can't be manipulated for some reason (e.g. it is disabled)

[2016-11-17 21:02] scottrippey opened #1715 "Page objects cannot use `isExisting()` or `waitForExist()`"
## The problem
In my tests, I'm using page objects exclusively.  However, I have run into a serious issue with the `isExisting()` method, and its derivative `waitForExist()`.

For an element that doesn't exist, this will work:
[code]
However, using the page object pattern (simplified here), this will not work:
[code]

The same error is thrown whenever I use `waitForExist()` ... it pauses for the t

[2016-11-17 21:05] ARenfroe commented on #1406
@ChrisOelmueller
The test successfully send the desired value to the text box and just hangs waiting for the second call to come back.

[2016-11-17 21:19] christian-bromann commented on #1406
@ARenfroe
1. I am not @ChrisOelmueller 😆
2. This error comes from the browser driver .. not sure what is happening exactly but the input value you want to change in test.spec.js in line 79 can't be changed

[2016-11-17 21:24] ARenfroe commented on #1406
@christian-bromann nice I just went with the first drop down haha.

I have tried passing in the xpath, and other tags but haven't had any success.  Here is the element if you have any suggestions.

[code]

[2016-11-17 21:42] scottrippey commented on #1715
Wow, thanks for the fast response!
I updated my test to match yours, but was surprised to find it still failed.  I'm on version `4.4.0`, which is latest.
The only thing that might be different is that I'm not using "synchronous mode", I'm actually using Promises.  I'm not sure if that makes a difference, but I simplified my example to look sync even though it was async.
Here's how I'm actually rep

[2016-11-17 21:50] scottrippey commented on #1715
After debugging for a while, here's what I've found.
 `isExisting` essentially does  `this.elements(selector).length > 0`.
So if I try `browser.element('aaa').elements()`, I get the same error (not an empty array).  I think `elements()` is looking for *descendants* of `element('aaa')`, so it fails on https://github.com/webdriverio/webdriverio/blob/master/lib/protocol/elements.js#L59

[2016-11-17 21:53] christian-bromann commented on #1715
@scottrippey we concentrated our recent efforts on sync browser testing so some of the feature might not be compatible in async mode yet. Why do you want to run it async?

[2016-11-17 22:27] scottrippey commented on #1715
My tests are running in Spectron (for an Electron app), and as far as I can determine, it only supports async mode.

[2016-11-17 23:33] realzoberg commented on #1609
I found that Q already got option called Q.longStackSupport. Can anybody advice how enable it in webdriver.io?

[2016-11-18 00:34] ARenfroe opened #1716 "parse through ng-repeat"
## The problem

I have an `ng-repeat` element **data-ng-repeat="record in history.data.history"** and I need to parse through the list to find a specific string `some string`.  We were using protractor and I had figured it out but I can't find any documentation for webdriverio on how to handle ng-repeats.

Does anyone have any docs on how to handle this event in angular?  Muchly appreciated!

[2016-11-18 00:58] #1716 closed

[2016-11-18 00:59] ARenfroe commented on #1716
[code]
not exactly the desired fix but it will work for now.

[2016-11-18 03:05] patthiel commented on #1709
@nhuhai This is failing because the `execute` command is not implemented yet in Edgedriver. See https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/webdriver-commands/  for a list of the commands implemented and status on those remaining.

[2016-11-18 08:19] christian-bromann commented on #1709
Thanks for clarifying @patthiel

[2016-11-18 22:49] krobertson92 opened #1718 "Result event not emitted when requests are rejected"
## The problem

This
[code]
Will result in no errors, but reports will fail to generate (I'm working with allure but other reporters may be messed up as well).

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: v6.9.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio testrunner
* if wdio testrunner, running synchronous or asynchronous tests

[2016-11-19 20:59] nhuhai commented on #1709
Thanks @patthiel and @christian-bromann!

[2016-11-20 14:20] attilaaronnagy opened #1719 "xpath and waitForVisible"
## The problem

Simply couldn't find any solution where I can use both Xpath and waitForVisible.

item.path = "//*[@id=\'root\']/div[1]/div[1]/div[1]/div[1]/span[1]"

**does not work** _(err: element could not be located)_:
browser.waitForVisible(item.path, 5000).then().catch();

**does not work** _(err: element could not be located)_:
const elem = browser.element(item.path);
elem.waitForVisible(5

[2016-11-21 04:41] Bharadwaj108 commented on #1715
I eactly have the same issue I have to use spectron to test my electron app and I get the same problem I cant access any of the elements on the spectron app this is my code :
[code]

And this is the output

[code]

Can you please provide a solution for this issue as I am totally unable to access any of the page objects.

[2016-11-21 11:14] prasanjitmohanty opened #1720 "browser.switchTab() is not switching command to new tab"
## The problem

browser.switchTab() is not switching command to new tab. Not able to find any element in the new tab. The execution shows it successfully switches to new tab but the command still points to first tab.

[code]

output :
TabId 1:CDwindow-842b73b5-9875-415d-b5da-203d54f98f83
TabId 2:CDwindow-842b73b5-9875-415d-b5da-203d54f98f83

## Environment

* WebdriverIO version:4.4
* Node.js vers

[2016-11-22 14:15] UrbaniseQA opened #1722 "Different behaviour when starting selenium server manually and via wdio.conf using wdio-selenium-standalone-service"
## The problem

Test fails with incorrect error when wdio with selenium-standalone service is used. Test works fine if selenium server is started manually and wdio just connects to the instance running.

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: v6.9.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio
* if wdio testrunner, running s

[2016-11-22 16:24] evil-shrike opened #1723 "Getting started examples doesn't work"
* `npm init -t`
* `npm install webdriverio --save-dev`
* Go to http://webdriver.io/guide.html and copy sample:
[code]
* Run: `node test.js`
* Nothing happens (Node executed the script and exited with not output)

I'd expect that the very first example from "getting started" doc page to work. But it doesn't. Just nothing happens :(

Needless to say how discouraging for continuing to learn this tool

[2016-11-22 16:49] evil-shrike commented on #1723
I understand that it's pretty useless moving on to using wdio runner w/o getting wdio to work directly. But I tried it as well.
Run `wdio config` and generated a sample config:
[code]
* I accepted to install all packages for me (they are in node_modules):
[code]
* run wdio:
[code]

and got the error:
[code]

It's hard to understand what is going on. I have no 'onPrepare' hook which it complains fo

[2016-11-22 18:06] evil-shrike commented on #1723
I tried running samples in the repo. Cloned the repo and built (BTW `npm install` and `grunt build` fails on Windows).
Run: `node webdriverio.addCommand.js` in examples\commands folder.
Nothing.

[2016-11-22 19:34] scottrippey commented on #1715
@Bharadwaj108 Sorry, it looks like your issue is not related.  You are not using `.element(selector).isExisting()`, and since your test is logging `Element exists: false`, it means the `isExisting` method is returning `false`.  In my example, `element(selector).isExisting()` is throwing an error (rejection).

[2016-11-23 12:38] monolithed opened #1726 "TypeError: Cannot read property 'indexOf' of undefined"
## The problem

[code]

Not so informative error message.
There'a some cases when it's possible to reproduce:

[code]

[code]

* WebdriverIO version: latest
* Node.js version: 7.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html):
* if wdio testrunner, running synchronous or asynchronous tests: wdio testrunner
* Additional wdio packages used (if applicable): w

[2016-11-23 15:04] christian-bromann commented on #1723
@evil-shrike

You need to start a selenium server as you can see in step 3.

as you can see from the logs:

[code]

So probably you had a selenium server running and started another server on the same port which will fail of course

yes

No!! A server is required that excepts the http calls to automate the browser.

WebdriverIO is a selenium runner and it is out of scope on what Selenium infrastru

[2016-11-23 15:04] #1723 closed

[2016-11-23 15:07] christian-bromann commented on #1726
What would you suggest to do here? Not sure what do here. Please elaborate!

[2016-11-23 15:20] monolithed commented on #1726
There are many failed tests with these errors and nothing else. I think we should't show the internal errors as a reason when test fails.

[2016-11-23 17:19] evil-shrike commented on #1723
@christian-bromann thanks for your answers.

Unfortunately it's unclear for me what's wrong with the simplest setup.

# direct execution
* If I run `node test1.js`: nothing happens. Should WDIO start webdriver? Probably no. But then wdio should report some error. But it just exits.
* If I run `node test1.js` *and* run selenium-server-standalone - I have absolutely the same result, nodejs just exit

[2016-11-24 02:19] kevinmcdonnell commented on #1435
@christian-bromann apologies for the delay

This is a contrived example but produces the error:
[code]

[2016-11-24 02:29] scottfalkingham opened #1728 "--reporters command line argument does not work"
## The problem

The --reporter command line argument does not work.  It always defaults to the dot reporter.  This is because the launcher's initReporters() function requires config.reporters to be an array, and when coming from the CLI interface it is a string.

[2016-11-24 09:44] chrisbenseler commented on #185
Is it possible to set this configuration in the wdio.conf.js file?

[2016-11-25 18:46] zinserjan opened #1731 "browser.execute broken on iOS"
## The problem

I had some time today to work on iOS fullpage screenshots and noticed that `browser.execute` does no longer work in iOS browsers with `4.4.0` but works fine with my previosuly used version `4.2.16`.

The following line returns always null but should return an object.
https://github.com/zinserjan/wdio-screenshot/blob/3146832582ff225aa1a06716a082814dcbe44dba/test/integration/specs/io

[2016-11-25 23:07] zinserjan commented on #1731
Already in progress in #1707

[2016-11-25 23:07] #1731 closed

[2016-11-27 23:33] somaritane commented on #1612
I'm afraid this is still not solved. #1614 only cared about `isAppInstalled` command.
`removeApp` command still checks for `appPath` being `string` type, not `bundleId` being `string` type.
Should we reopen the issue or create a new one? Thanks.

[2016-11-28 12:16] ToniChaz commented on #215
Hi, i have the same issue with sessionStorage, i use execute command but phantom return: SecurityError: DOM Exception 18

[2016-11-28 14:30] christian-bromann commented on #1726
That wouldn't help us to identify real issues. There will be always edge cases that will throw internal errors due to improper use of the API commands.

[2016-11-28 14:30] skortch opened #1733 "browser.switchTo().etc. switchTo() is not a function."
## The problem
When I try to use browser.switchTo().parentDirectory (or something else) I get the error message switchTo() is not a function.

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: node --version 6.9.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio
* if wdio testrunner, running synchronous or asynchronous tests: ??
* Addition

[2016-11-28 14:36] christian-bromann commented on #1733
Please do not chain the commands after switchTo. The command afaik returns `null` and I add any commands to its prototype. So instead of:
[code]
do:
[code]

[2016-11-28 14:45] christian-bromann commented on #1723
if you run WebdriverIO as standalone package you need to have a Selenium server or browser driver running. It doesn't do that for you.

Then it can't run the server due to a different issue. If you would post the whole error message I could see why.

Yeah, this sounds like the root cause of the issue. Not sure how you need to start the selenium server so that you don't get this error tho.

Right a

[2016-11-28 14:47] #1728 closed

[2016-11-28 14:48] christian-bromann commented on #185
Not that I am aware of. Possible that some drivers allow to set this parameter tho

[2016-11-28 14:51] chrisbenseler commented on #185
@christian-bromann I  forget to comment here that I could do this, using the before's callback function

[code]

[2016-11-28 14:52] #1612 closed

[2016-11-28 14:52] christian-bromann commented on #1612
@somaritane thanks for pointing this out. Fixed issue.

[2016-11-28 14:54] christian-bromann commented on #215
@ToniChaz looks like a PhantomJS issue.

[2016-11-28 14:55] skortch commented on #1733
Thanks for the fast response.

I still get the same error message browser.switchTo is not a function. Its the only instance of switchTo(); I left active to exclude it concking out elsewhere. If only browser.parentFrame(); is active I get the same message browser.parentFrame is not a function.

[2016-11-28 14:57] christian-bromann commented on #1733
@skortch can you provide a minimal reproducible example that I can run on my machine?

[2016-11-28 15:18] skortch commented on #1733
Do you have an email for a wetransfer link? The file is not going to be big.

[2016-11-28 15:18] monolithed commented on #1726
If you know how to identify these problems, please let me know, because I could't find.

[2016-11-28 15:20] christian-bromann commented on #1733
@skortch I just need a small test spec that I can run? No need for big files.

[2016-11-28 15:26] skortch commented on #1733
Well this is the JS I ran.

exports.setup = function() {

    browser.addCommand("pmFillRequirementForm", function (oData) { //Command added to library
        var eTextElement=0;
        console.log("now executing pmFillRequirementForm"); //Prompt to screen of current function executed

        browser.pmRequiredFieldsBlankMessage('requirement', 'Anforderung', 'Requirement'); // see /pm_custom_co

[2016-11-28 15:57] christian-bromann commented on #1733
@skortch I can't execute this on my machine as it contains commands and other stuff that I don't have. What I need is something that I can reproduce on my end.

[2016-11-28 16:00] skortch commented on #1733
Ok this would be a minimum example. Switch to parent frame and then switch into any iFrame by ID or any other tag. Or switch directly into the iFrame if that is possible.

browser.switchTo();
browser.parentFrame();
browser.switchTo().frame('iframe.cke_wysiwyg_frame');

[2016-11-28 17:15] ToniChaz commented on #215
Thank you @christian-bromann

[2016-11-28 22:27] Romsters opened #1734 "Custom command cannot be executed from element"
## The problem

Custom command can be successfully executed from the browser object, but it  cannot be executed from any element.

## Environment

* WebdriverIO version: latest
* Node.js version: 7
* test runner: wdio
* sync: true

## Details

The following code creates custom command and executes it from element context. It causes error.
[code]

[2016-11-28 22:59] anshulsahni commented on #51
does setting singleton as true in wdio config file still works? I can't find anything related to that in documentation

[2016-11-28 23:26] christian-bromann commented on #51
@tunix why do you still need this?

[2016-11-29 00:00] anshulsahni commented on #51
For every spec it is running a different opens a new session of browser After I login test it should successfully run tests which require authentication but it doesn't

[2016-11-29 00:25] christian-bromann commented on #51
if you run the wdio test runner you can't avoid that. I would recommend to create some page that logs you in automatically and is only reachable in your test environment or write all tests in a single spec where you login first

[2016-11-29 09:58] monolithed commented on #51
After some time, I realized that using persistent session is not so good idea, but It can be implemented (as you please).

@tunix, it's important to encapsulate your data and avoid any side-effects. The state of your interface should not be kept after each test.
Real-world experience shows that you should have a simple Account service to create or get new sessions. Of course, you can have reusable

[2016-11-29 10:07] tunix commented on #51
Hi All,

A lot has passed since I've created this issue. I'm no longer interested in it as I can't even remember which project I asked this for.

[2016-11-29 11:45] ssfxate opened #1735 "How to switch browsers in multiremote mode OR how to exact browser start last?"
## The problem
In multiremote mode wdio start two browsers, but randomly selected.
How to switch window in multiremote mode? Like alt+tab to switch program.

## Environment
* WebdriverIO version: 4.4.0
* Node.js version: 7.2.0
* wdio testrunner
* synchronous
* Mocha, personal warp for chainable

## Details
Method from my pageobject
[code]

I mean that browsers need to start in sequence of initiali

[2016-11-29 11:48] christian-bromann commented on #1735
@ssfxate multiremote gives you two variables you can use to execute commands on each of the browser (see [example](https://github.com/webdriverio/webdriverio/blob/master/examples/multiremote/webdriverio.multiremote.chat.js)). Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&

[2016-11-29 11:48] #1735 closed

[2016-11-29 11:52] ssfxate commented on #1735
I can't switch browsers.
I can only switch windows in session (in one browser). That is sandbox. First browser can't manipulate others.

Multiremote mode has different sessions.

I need to switch to first browser, not focus. It already in focus for webdriverio. Or make it in focus for OS at start.

[2016-11-29 11:55] christian-bromann commented on #1735
Sure you can. See [these two lines](https://github.com/webdriverio/webdriverio/blob/master/examples/multiremote/webdriverio.multiremote.chat.js#L27-L28) where I set credentials for one browser then for the other.

[2016-11-29 12:06] ssfxate commented on #1735
If I could, I would have seen the changes in focus of the browsers in the OS. Like shadows of browsers windows.
https://yadi.sk/i/riF7aFPgzkGEq (screenshot)
First row — left browser in focus.
Second row — right browser in focus.

Focus is changed only for webdriverio, not for Mac OS. No shadows changed.

It works good for 99% of my tests, but i have troubles in 1% of tests with input send action i

[2016-11-29 13:15] avkrash commented on #564
I tried to use MochaJS retries style like 'this.retries()', but only failed steps (it) was re-run. the same situation when I used mochaOpts retries. What could be wrong ?

And what if run retries of test suites in new browser session for clean results ?

I'm using:
webdriverio@4.4.0
wdio-mocha-framework@0.5.4

[2016-11-29 13:27] christian-bromann commented on #564
@avkrash how does your suite look like?

[2016-11-29 13:28] christian-bromann commented on #1735
@ssfxate Selenium can't set the focus on a browser window. How are your tests affected by that? It shouldn't matter if the browser window has focus or not

[2016-11-29 13:40] evil-shrike commented on #1723
Sure I have. But when the simplest test is being run under node directly *without* any WD running WDIO doesn't report any error. It just exits. I believe it's incorrect behavior. If WDIO tries to connect to some port and nobody responds why does it not report an error?
I tried run a simple direct test on my home machine and it worked. But on my work machine it doesn't - WDIO silently exits (`node

[2016-11-29 14:10] avkrash commented on #564
It is simple test suite as I want to be ensure about retries behaviour:

`describe ('test', function () {
    this.retries(4);
    it ('1 step', function () {
        console.log('1');
    });
    it ('2 step', function () {
        console.log('2');
        assert(false);
    });
});`

And in console output I see that only second step retries 5 times. wdio runs in sync mode.

[2016-11-29 14:31] christian-bromann commented on #564
This should work with latest wdio-mocha-framework and mocha installed. See https://github.com/webdriverio/webdriverio/blob/57d68f5ed551071f9b77136b49e094710b508ada/docs/guide/testrunner/retry.md#rerun-suites-in-mochajs

[2016-11-29 14:31] christian-bromann commented on #564
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) if you have any more questions.

[2016-11-29 16:27] Skahrz opened #1736 "Browser is blocking"
## The problem

I m trying to make wdio work with cucumber. While I m having the following configuration (that I didn't touched) :

[code]

And using the following code :
[code]

I never pass in the console.log method, except when I mannually destroy the chrome window. It means that I never pass to the next step too.

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: 4.6.0
* [Standal

[2016-11-29 16:38] christian-bromann commented on #1736
According to your logs
[code]
the url command never finishes. Do you see a browser popping up and finishing loading the google page?

[2016-11-29 16:45] Skahrz commented on #1736
Yes, the page is well loaded and displayed on the screen

[2016-11-29 16:47] christian-bromann commented on #1736
@Skahrz can you post your Selenium logs?

[2016-11-29 17:22] Skahrz commented on #1736
Here's my selenium log. Note that I have closed the window opened to make the script stop, in the other case, it would continue running until timeout :

[code]

[2016-11-29 17:55] christian-bromann commented on #1736
I just copied all your files and wasn't able to reproduce the issue. Can you create a github repo that I can check out?

[2016-11-30 04:20] federicobarera opened #1738 "TestRunner + Jasmine, Async Regression in 4.4"
## The problem

jasmine async done() callback is not considered when running in wdio (async mode)
Seems the problem was fixed (https://github.com/webdriverio/wdio-sync/pull/34) but possibly regressed in 4.4
Compared against 3.4.0. Working fine in 3.4.0

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: 4.6.1
* wdio
* async
* framework: jasmine, services: phantomjs

## Link to Seleniu

[2016-11-30 06:37] Skahrz commented on #1736
You can have the non-working code on here :

https://github.com/Skahrz/wdio-selenium

Thanks for your help

[2016-11-30 08:39] ssfxate commented on #1735
In Firefox some inputs isn't submit correctly or not submit basically.

Maybe it's a bug of firefox, but i can fix it with focus browser in OS manually and then it isn't auto testing =)

[2016-11-30 10:04] janmeier commented on #1621
This also seems to affect tests with multiple capabilities (where the same describe also appears several times, but for different browsers)

[2016-11-30 10:48] christian-bromann commented on #1621
@janmeier do you have an example?

[2016-11-30 10:49] christian-bromann commented on #1735
How do you submit then?

[2016-11-30 10:56] christian-bromann commented on #1736
@Skahrz I am getting correct results:
[code]

[2016-11-30 10:57] christian-bromann commented on #1736
Have you tried a different browser?

[2016-11-30 11:02] christian-bromann commented on #1738
Why async? WebdriverIO doesn't support done callbacks anymore. I would recommend to use promises here:

it('starts up', function (done) {
        return new Promise(function(resolve) {
            return setTimeout(function() {
                expect(false).toBe(true);
                resolve();
            }, 1000);
        })
    });
[code]

[2016-11-30 11:02] #1738 closed

[2016-11-30 11:03] Skahrz commented on #1736
No I've not. Maybe I have some restriction or browser incompatibility.
I m going to try on another browser, but for information I m running:

chromeDriver : 2.25

and I m running on OSX 10.12.1

NB : I've got that error this morning when trying to reinstall all the stuff :

[code]

I'll give you a feedback while trying with another browser

[2016-11-30 11:38] christian-bromann opened #1739 "Racing condition when refetching elements"
## The problem

Following scripts creates a racing condition. Probably because the refetch mechanism fetches multiple elements and tries to execute a click command on it.

## Environment

* WebdriverIO version: latest
* Node.js version: 5.10.3
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio
* if wdio testrunner, running synchronous or asynchronous test

[2016-11-30 11:44] janmeier commented on #1621
wdio.conf
[code]

[code]
[code]

[2016-11-30 12:33] Skahrz commented on #1736
Feeback using firefox :

The browser is well opened, but the google page is never displayed. Here's the selenium logs :

[code]

[2016-11-30 13:51] christian-bromann commented on #1736
@Skahrz your Firefox version isn't supported using Selenium v.2.51.1 .. can you try phantomjs?

[2016-11-30 13:52] christian-bromann commented on #1726
@monolithed a stack trace could help

[2016-11-30 14:31] mzvonar commented on #1739
I'm still a bit lost in the source code, but I've found out that elements() fetches again if called without selector:

[code]

But element never fetches again so if called after waitForExist it returns old NoSuchElement error:

[code]

If I modify element() function like this it works:
[code]

But I'm not sure if that breaks anything

[2016-11-30 16:06] monolithed commented on #1726
`-TypeError: Cannot read property 'indexOf' of undefined` nothing else

[2016-11-30 16:45] Skahrz commented on #1736
I got this stack on phantomjs, maybe misconfigured concerning this one.

[code]

[2016-11-30 19:01] christian-bromann commented on #1736
Do you have phantomjs installed on your system?

[2016-11-30 21:07] Skahrz commented on #1736
Okay, I havent installed phantomjs. But now I did, it seems to work on phantomjs.

[2016-11-30 21:32] christian-bromann commented on #1736
@Skahrz mhm it seems that it is an issue with Chrome then.

[2016-11-30 21:32] #1736 closed

[2016-11-30 21:55] christian-bromann opened #1741 "Fetching elements in waitUntil loop results in child element search"
## The problem

When fetching elements in a waitUntil loop that lastResult property gets propagated so that the next element commands searches for the same element inside that element.

## Environment

* WebdriverIO version: latest
* Node.js version: 0.5.11
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio
* if wdio testrunner, running synchronous or asy

[2016-12-01 09:35] surekhacdk commented on #456
I tried using chai-as-promised but it didnt work for me

[2016-12-01 09:49] christian-bromann commented on #456
@surekhacdk all commands are synchronous with wdio so no need to use chai-as-promised

[2016-12-01 11:19] maartenth opened #1742 "Wrong reporting with nested suites with same name"
## The problem

If you have nested suites and an innermost suite (A) has the same name as the innermost suite (B) in another parent suite, the test results are erroneously overwritten and not presented in the right order in all reporters.

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: doesn't matter
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes

[2016-12-01 12:19] christian-bromann commented on #1742
@maartenth or do
[code]

[2016-12-01 15:24] sean-hill opened #1743 "windowHandleSize() and electron"
## The problem

Hey there, I'm testing out using Electron instead of my native Chrome binary since Electron appears to be quicker. My existing tests work fine minus this command: `windowHandleSize()`.

## Environment

* WebdriverIO version: 3.3.0
* Node.js version: 4.5.0
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): Standalone

## Details

I get this erro

[2016-12-01 15:28] sean-hill commented on #1743
In fact, it appears any commands that do any kind of background process fail.

[2016-12-01 15:34] christian-bromann commented on #1743
@sean-hill are you sure this is supported by chromedriver and electron?

[2016-12-01 15:37] sean-hill commented on #1743
@christian-bromann I am unsure. I believe chromedriver does because it was all working dandy before I started using the Electron binary instead of the Chrome binary on my computer. Perhaps they just don't support those kinds of commands yet.

[2016-12-01 16:14] christian-bromann commented on #1743
I think this is related to Electron and not a specific WebdriverIO bug. Closing.

[2016-12-01 16:14] #1743 closed

[2016-12-02 15:29] #1741 closed

[2016-12-02 15:37] christian-bromann commented on #1713
@krobertson92 can you provide a minimal reproducible example?

[2016-12-02 15:48] christian-bromann commented on #1715
Ok after reviewing this issue again I am afraid I can't do anything here. According to the protocol Webdriver will throw an error if an element can't be found. I don't want to change that. If you want to check if an element exists, do this instead:

[code]

[2016-12-02 15:48] #1715 closed

[2016-12-02 15:50] christian-bromann commented on #1719
I don't think `waitForVisible` has a problem with xPath. Have you tried:

[code]

Might want to check if your item path is correct.

[2016-12-02 15:50] #1719 closed

[2016-12-02 15:53] christian-bromann commented on #1720
Have you tried

[code]

[2016-12-02 15:54] christian-bromann commented on #1720
Please join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) if you have any further questions or issues.

[2016-12-02 15:54] #1720 closed

[2016-12-02 16:29] christian-bromann commented on #1722
Interesting scenario. It seems that if the service is running the execution hung up after the driver wasn't able to query the element. Not sure why that happened. It shouldn't behave differently. I fixed the error message though to give a more meaningful information.
I can't do anything until I get a reproducible example I can look into. Happy to investigate further when I get an example.

[2016-12-02 16:29] #1722 closed

[2016-12-02 16:37] prasanjitmohanty commented on #1720
Still no changes. SwitchTab() not switching the context. I am currently getting the link href and then opening it as a new window.

[2016-12-02 16:55] prasanjitmohanty commented on #1720
[switchtab_log.txt](https://github.com/webdriverio/webdriverio/files/627741/switchtab_log.txt)

[2016-12-02 17:09] prasanjitmohanty commented on #1720
[switchtab_log.txt](https://github.com/webdriverio/webdriverio/files/627771/switchtab_log.txt)

[2016-12-02 17:14] prasanjitmohanty commented on #1720
[switchtab_log.txt](https://github.com/webdriverio/webdriverio/files/627779/switchtab_log.txt)

[2016-12-02 21:21] si-mikey opened #1744 "Parallelize testing on scenarios as well"
## Allow parallelization on individual tests/scenarios

Currently is seems wdio takes a .feature file and runs the entire .feature file in a process. Instead what would be faster would be to extract the scenarios from the feature file and divide those up into the amount of instances specified.

## Environment

* WebdriverIO version: All
* Node.js version: Any
* [Standalone mode or wdio testrunner]

[2016-12-03 04:03] patthiel commented on #1744
Philosophically, the wdio test runner treats every spec or .feature file as a session. This would be a departure from that idea, as every scenario in the .feature would have to be totally self contained.

It may make sense to do something like this when writing tests in cucumber, but I would argue that each scenario being totally self-contained within a .feature file would actually slow down execu

[2016-12-03 11:49] christian-bromann commented on #1744
Exactly. Starting up or tearing down a session can take a lot of time (especially when running on cloud services or certain devices).

Also I think that some people want to keep a session over the whole feature file to test for example a whole checkout process. In addition to that many people won't have the capabilities to parallel their suites on that scale. Therefor I think we should stick with

[2016-12-03 11:49] #1744 closed

[2016-12-03 15:34] #1718 closed

[2016-12-03 15:34] christian-bromann commented on #1718
@krobertson92 thank you very much for this patch. Excellent catch 👏

[2016-12-04 16:34] monolithed commented on #1539
@christian-bromann, I have no additional details, but it doesn't seem to work as expected.

My workaround:

[code]

I also want to point out that there are three zombie process after these executions that are not killed automatically.

![img-2016-12-04-19-20-54](https://cloud.githubusercontent.com/assets/803674/20867537/5b7c8412-ba58-11e6-9c36-9714bc61fd39.png)

[2016-12-04 16:37] monolithed commented on #1524
@talarari, @WadeJohnson please see the following issue https://github.com/webdriverio/webdriverio/issues/1539

[2016-12-04 16:45] christian-bromann commented on #1539
Overwriting all these commands does not seem to be a good idea. I wouldn't recommend to always wait for the element to exist before continuing.

[2016-12-04 17:12] monolithed commented on #1539
Why? My team cannot write ideal code ))
In my practice, we can not use any command without `waitForExist`, because all of our apps are SPA.

[2016-12-04 17:17] christian-bromann commented on #1539
Why? Sure there are situations where you have to wait for an element to continue but there is absolutely no reason to wait on every element. For example I click on a button, wait until a modal shows up and then interact with the elements in it. Once I know the modal showed up I know that all elements in that modal are available. There is no reason to call waitForExist again.

[2016-12-04 17:23] monolithed commented on #1539
It depends on our environment. We can have OK tests on local machines, but not remote machines. I don't know how to reproduce that, but `waitForExist` really needed by default.

[2016-12-04 17:27] monolithed commented on #1539
For example, `waitForExist ` is expected  for `waitForVisible` by default, not by design (and I don't know why)

[2016-12-04 17:27] christian-bromann commented on #1539
I disagree. No matter what you do or what your environment is you don't have to wait on elements every single time.

[2016-12-04 17:32] christian-bromann commented on #1539
Not true! [isVisible](https://github.com/webdriverio/webdriverio/blob/master/lib/commands/isVisible.js#L44-L46) returns false if it can't find the element. So waitForVisible actually is also waitForExist.

[2016-12-04 17:41] monolithed commented on #1539
I have already seen that. Maybe there's a bug. I will try to find a reproducible case to fill an issue.

I see what you mean, but what about SPA applications? it's not known when an element will be available to select without `waitForExist`. We have already spent a lot of time to fix these problems and now we're pretty sure that `waitForExist` should be used by default (or be configurable). Why no

[2016-12-04 17:47] christian-bromann commented on #1539
It's an additional command that increases your test time. And if you call it every single time it increases almost double.

It's the same here. You wait on the main element on page load but after that you can access all elements on the page without having to call waitForExist all over again.

Have you heart about [implicit timeouts](https://w3c.github.io/webdriver/webdriver-spec.html#dfn-session-i

[2016-12-04 18:00] monolithed commented on #1539
We have got an unlimited system resources and can afford to start a single test per one virtual machine 😄

The problem is that all our tests are written by programmers and they don't want to care about any anchor / main elements. You should know that programmers don't like write any types of tests. They want to keep their time for production features. Its real life (

[2016-12-04 18:10] patthiel commented on #1539
@monolithed Just an idea, but something useful that my team has done.. Perhaps your app can fire an event and expose that in the document on changes of state.. Something like `document.appReady === true`. For instance, our checkout application makes a ton of ajax requests..

We have a pendingRequests method that we waitUntil's length equals 0 before proceeding with our next test step of our test..

[2016-12-04 18:15] monolithed commented on #1539
@patthiel, thanks for the answer, but we are Mail service. It means that our interface is always in an unstable state (any block).

[2016-12-05 08:48] monolithed commented on #1539
@christian-bromann

Could you please explain what do you mean?
I'm really interested in not to write the following:

[code]

[2016-12-05 11:39] christian-bromann commented on #1539
[Implicit timeouts](https://w3c.github.io/webdriver/webdriver-spec.html#dfn-session-implicit-wait-timeout) might be a solution for that problem.

[2016-12-05 12:01] monolithed commented on #1539
I prefer to use `waitForExist` with its second param for that.
And I believe that my proposal to execute `waitForExist` before each command that uses a selector is a part of sync api. Really, I don't want to care about `waitForExist`. I can wait a microsecond for this purpose )

[2016-12-05 12:06] christian-bromann commented on #1539
I don't think it is a good idea to add this to WebdriverIO. [Implicit timeouts](https://w3c.github.io/webdriver/webdriver-spec.html#dfn-session-implicit-wait-timeout) do exactly that. There is no need to add this behavior to the framework.

[2016-12-05 12:48] monolithed commented on #1539
Ok, how to use that?

[2016-12-05 16:35] christian-bromann commented on #1539
See http://webdriver.io/guide/testrunner/timeouts.html

[2016-12-05 16:49] monolithed commented on #1539
Where can it be used?

[code]

[2016-12-05 17:11] christian-bromann commented on #1539
Like that, yes!

Use waitUntil for that stuff. I doubt it makes sense to introduce all these expected conditions when you just write a small waitUntil condition for it.

[2016-12-05 22:47] mikhailpractice commented on #1140
I also have the same issue with FF 47-49

[2016-12-06 11:01] monolithed opened #1748 "Implicit timeouts are not working as expected"
## The problem

I want to use `implicit timeouts`, but it are not working (tested with ChromeDriver) as expected.
It works like `browser.pause`, but with endless waiting.

The problem is that

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: 7.0
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): it does not matter
* if wdio testrunner, running s

[2016-12-06 11:10] christian-bromann commented on #1748
This can't be a bug of WebdriverIO. It only sends the command to the selenium server. Please join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions.

[2016-12-06 11:10] #1748 closed

[2016-12-06 12:20] prasanjitmohanty opened #1749 "browser.sessionId not changing after browser.reload() -BrowserStack"
## The problem

    browser.sessionId not changing after browser.reload() -BrowserStack

        console.log(browser.sessionId); // outputs: ba0c37d61c676128642f5da1980a0f232982bad6
        browser.reload();
        browser.pause(10000);
        console.log(browser.sessionId); // outputs: ba0c37d61c676128642f5da1980a0f232982bad6

Looks like something wrong with BrowserStack integration for WebDriv

[2016-12-06 12:59] christian-bromann commented on #1720
@prasanjitmohanty as mentioned on Gitter, you not switched the tab because you applied the same window handle you currently on, see logs:

[code]

[2016-12-06 13:02] christian-bromann commented on #1749
@prasanjitmohanty as mentioned on Gitter, this seems to be an issue of Browserstack. The reload command should end the session and start a new session. This is tested with on an internal selenium cloud and on Sauce Labs.

[2016-12-06 13:03] christian-bromann commented on #1749
Also, join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2016-12-06 13:47] monolithed commented on #1748
Not so constructive.
In Serenity platform, the implicit timeouts are placed in configuration settings:

[code]

So, the first my proposal is adding another option like `implicitlyWait` as a replacement:

[code]

The second observation is that the implicit timeouts are not working as expected (really, you can test).
After some investigation I found [a place](https://github.com/serenity-bdd/serenity

[2016-12-06 13:58] ninnepinne opened #1750 "Abort webdriverio test run on condition [feature]"
## The problem

There are situations where an abort of the wdio test session would be desirable.

## Details

Example: A needed web service goes down. To avoid running a suite of perhaps hundreds of tests and wait for all their timeouts, the test session could be aborted.

One solution would be to have a stop flag of a configurable number of failed tests.
Another would be to somehow expose an abor

[2016-12-06 14:01] christian-bromann commented on #1748
see Webdriver [docs](http://www.seleniumhq.org/docs/04_webdriver_advanced.jsp#implicit-waits):

Sure we could make it an option but I don't think it is a good idea to do so because it can be done easily with a before hook and providing a confusingly huge amount of options isn't helpful too.

Serenity is also just a different implementation of the Webdriver protocol. That doesn't justify whether or

[2016-12-06 14:43] christian-bromann commented on #1733
@skortch I think you confuse the usage of `frame` with another library. See the API docs how to switch frames using any selectors strategies.

[2016-12-06 14:43] #1733 closed

[2016-12-06 14:48] christian-bromann commented on #1742
This will be fixed with #1717. Closing.
If you have further questions please join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) or refer to #1717

[2016-12-06 14:48] #1742 closed

[2016-12-06 14:56] prasanjitmohanty commented on #1749
As work around browser.requestHandler.sessionID  works

    console.log(browser.requestHandler.sessionID);
    browser.reload();
    console.log(browser.requestHandler.sessionID);

[2016-12-06 15:02] maartenth commented on #1742
Thank you!

[2016-12-06 15:07] #1749 closed

[2016-12-06 15:07] christian-bromann commented on #1749
Fixed issue. `sessionId` is now (with the next release) updated properly.

[2016-12-06 15:09] christian-bromann commented on #1726
@monolithed do you have some sort of reproducible example? I need to be able to somehow recreate this? Or can you propose a PR if only you see the issue?

[2016-12-06 15:59] monolithed commented on #1726
@christian-bromann, it see these errors every ofter, but I can not provide a reproducible example.

Hypothetical examples:

[code]

[code]

Maybe `pause` and `waitUntil` affect...

[2016-12-06 16:30] monolithed opened #1751 "TypeError: Cannot read property 'trim' of undefined"
## The problem

[code]

Press `ctrl+c`;

[code]

Pay your attention to:

[code]

## Environment

* WebdriverIO version: latest
* Node.js version: 7

[2016-12-06 16:47] monolithed opened #1752 "waitForVisible - error isn't thrown when element doesn't exist"
## The problem

[code]

[code]

[code]

## Environment

* WebdriverIO version: latest
* Node.js version: 7
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): testrunner

I expect to see something like **The element "unknown_element" still not visible after 30000ms** rather than **timeout of 900000ms exceeded**

[2016-12-06 18:11] tripleratamacue commented on #1552
@christian-bromann, I am using Sauce Labs, so how can I get/inject the tests name (either cucumber Feature name or steps), or even the file name, any advise would be greatly appreciated.

[2016-12-06 18:44] gCrew opened #1753 "Chain Commands"
## The problem

Is it possible to have chain commands in our `test.spec.js` For example, I have pasted the code below but the I get an error saying doClick is not a function. I know I can use promises and take advantage of `.then` but was wondering if anything like below can be accomplished?

[code]

`test-page.js` looks like
[code]
and finally `test.spec.js` looks like

[code]

## Environment

*

[2016-12-06 22:44] klabak opened #1754 "Cannot use custom Selenium port in Sauce Connect with wdio"
## The problem

Hi there! I'm trying to get wdio to play nicely with Sauce Connect. I've run into an issue when launching Sauce Connect with a custom Selenium port (set as the 'port' option in sauceConnectOpts. See below). I can run wdio with Sauce connect using the default ports (not having any port defined) and it connects properly (on 4445 by default). I've tried all manner of other configurati

[2016-12-07 08:10] christian-bromann commented on #1754
Duplicate of #1683

[2016-12-07 08:10] #1754 closed

[2016-12-07 08:22] christian-bromann commented on #1753
@gCrew your example looks like a weird mixup between sync and async code. Please checkout our [page object](https://github.com/webdriverio/webdriverio/tree/master/examples/pageobject) example and use this. Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=bad

[2016-12-07 08:22] #1753 closed

[2016-12-07 08:22] christian-bromann commented on #1552
@tripleratamacue if you use the wdio testrunner you can use the [wdio-sauce-service](https://github.com/webdriverio/wdio-sauce-service)

[2016-12-07 08:30] christian-bromann commented on #1752
Not reproducible, see https://gist.github.com/christian-bromann/b54e158b9ebfa0f3a42bda6732f14a80

[2016-12-07 08:30] #1752 closed

[2016-12-07 08:43] christian-bromann commented on #1751
Not reproducible. When I press `ctrl+c` while WebdriverIO is fetching the element I get
[code]

[2016-12-07 08:43] #1751 closed

[2016-12-07 09:25] monolithed commented on #1752
@christian-bromann, could you try with Chrome?

[2016-12-07 09:31] christian-bromann commented on #1752
same result

[2016-12-07 10:11] #1750 closed

[2016-12-07 10:11] christian-bromann commented on #1750
Implemented. Will be released with next version.

[2016-12-07 10:17] ninnepinne commented on #1750
@christian-bromann Great news! That was f-a-s-t! Thank you.

[2016-12-07 10:40] varap opened #1755 "<Span> Element is not clickable on mobile web."
## The problem
<button class="button-email btn btn-default" type="button"><span>Sign up with Email</span></button>

* WebdriverIO version: 3.4.0
* Node.js version: 6.7
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html):test runner
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Additional wdio packages used (if applicable):

## De

[2016-12-07 10:42] christian-bromann commented on #1755
@varap can you provide logs please?

[2016-12-07 10:56] monolithed commented on #1752
it is being a "floating" bug. I could not reproduce it today.

[2016-12-07 14:56] #1713 closed

[2016-12-07 14:56] christian-bromann commented on #1713
@krobertson92 thanks for filing the issue. It got fixed and will be released with the next framework adapter releases

[2016-12-07 14:57] monolithed commented on #1726
@christian-bromann , I found some cases:

## 1.

[code]

[code]

## 2.

[code]

[2016-12-07 15:02] christian-bromann commented on #1726
for the 1st one I get:
[code]

for the 2nd:
[code]

Also if someone uses the API wrong I can't do anything. I will close this issue until you can find a reproducible example.

[2016-12-07 15:02] #1726 closed

[2016-12-07 15:05] monolithed commented on #1726
@christian-bromann, for the 2nd you should set `selector` (for example `body`)

[2016-12-07 15:06] christian-bromann commented on #1726
yup, sorry, updated response

[2016-12-07 15:07] monolithed commented on #1726
Why are we getting different results?

[2016-12-07 15:11] monolithed commented on #1726
My reproducible example:

[code]

[code]

[code]

[2016-12-07 15:16] christian-bromann commented on #1726
[code]

[2016-12-07 15:20] monolithed commented on #1726
It's a very strange behavior.

### npm ls

<details>
<pre>
├─┬ @qa/account-manager@1.6.7
│ ├── cookie@0.3.1
│ ├─┬ nconf@0.8.4
│ │ ├── async@1.5.2
│ │ ├── ini@1.3.4
│ │ ├── secure-keys@1.0.0
│ │ └─┬ yargs@3.32.0
│ │   ├── camelcase@2.1.1
│ │   ├─┬ cliui@3.2.0
│ │   │ └── wrap-ansi@2.0.0
│ │   ├── decamelize@1.2.0
│ │   ├─┬ os-locale@1.4.0
│ │   │ └─┬ lcid@1.0.0
│ │   │   └── invert-kv@1.0.0
│ │   ├

[2016-12-07 15:25] monolithed commented on #1726
I can reproduce it on Debian, Centos and MacOS

[2016-12-07 15:35] christian-bromann commented on #1726
@monolithed feel free to submit a PR if you can figure out what's wrong

[2016-12-07 18:15] christian-bromann commented on #1621
This should be get fixed by #1717

[2016-12-07 18:15] #1621 closed

[2016-12-07 18:28] monolithed commented on #1726
@christian-bromann, I can send a PR, but I don't know what is needed to fix.

[1726.zip](https://github.com/webdriverio/webdriverio/files/637413/1726.zip)

Please try to reproduce yourself in the attached file

[2016-12-07 21:39] tripleratamacue commented on #1596
@christian-bromann Hey Cris, not if publishing in the right thread. But, I had this kind of errors, when using waitFor's and PageObjects, I solved it like this:
This is what Documentation recommend:
class LoginPage extends Page {
    	get username()  { return browser.element('#username'); }

This works
LoginPage.username.setValue('Max Mustermann');

This doesn’t:
LoginPage.username.waitForVisible(

[2016-12-07 21:46] christian-bromann commented on #1596
`LoginPage.username.waitForVisible(5000);` should work, what is the error?

[2016-12-07 22:22] tripleratamacue commented on #1596
examples:
Users.emailAlreadyInUseMessageXpath.waitForVisible is not a function
Menu.userDisplayCSS.waitForVisible is not a function

[2016-12-07 22:31] christian-bromann commented on #1596
if you define your element in your PO like
[code]

you can call the API commands like
[code]

[2016-12-07 23:12] ChadKillingsworth opened #1756 "Ability to Force Color Detection for Reporters"
Build systems like [ninja](https://ninja-build.org/) buffer output then report on completion. This thwarts most color detection. I'd like the ability to force color output rather than solely depending on TTY detection.

Most other test runners have a `--forceColor` option or allow you to add `require('chalk').enabled = true` at the top of your node script to support this functionality.

[2016-12-08 02:36] varap commented on #1755
@christian-bromann
i'm using browserstack to do the runs and so i got the raw logs from their run  , let me know if you need more data on it .

2016-12-8 2:31:56:245 REQUEST [2016-12-8 2:31:56:245] POST /session/7e17a5b824a10acba1b371047ecd93cd25f29b67/element/5121/value {"value":["v","a","r","a","+","4","8","0","9","0","d","9","0","-","b","c","e","e","-","1","1","e","6","-","8","9","0","b","-","e

[2016-12-08 08:09] christian-bromann commented on #1755
The problem is that it can't find the element (`#menu > div > ul > li:nth-child(5) > a`) you want to click on.

[2016-12-08 08:09] #1755 closed

[2016-12-08 10:34] monolithed commented on #1752
@christian-bromann, see a reproducible example:
[1752.zip](https://github.com/webdriverio/webdriverio/files/639093/1752.zip)

The problem is being solved by removing `screenshotPath`!

[2016-12-08 11:03] monolithed commented on #1752
@christian-bromann, see the screencast http://g.recordit.co/67xMC8JcyX.gif ))

[2016-12-08 12:00] monolithed opened #1757 "Rename options waitforInterval and waitforTimeout"
I believe these options should be renamed to `waitForTimeout` and `waitForInterval`.

[2016-12-08 12:05] christian-bromann commented on #1757
These are options and I think this could be a good differentiator between option and command.

[2016-12-08 12:29] monolithed commented on #1757
Ok, but `waitfor` looks like a typo

[2016-12-08 16:01] elewandowski opened #1758 "isVisibleWithinViewport() doesn't work on elements if viewport position is determined by element ID in URL"
## The problem

The method `isVisibleWithinViewport` does not seem to work on elements, if the page is scrolled to the element by an element ID at the end of the URL.

i.e.

1. I have a webpage at `website.com`
2. My viewport is 100x100
3. I have an element with ID `#HEADER`, which is at position (0, 200)
4. I go to `website.com#header`
5. The webpage scrolls down so the page is at (0, 200)
6. I q

[2016-12-08 18:19] tripleratamacue commented on #1596
It do work, thanks man, time to start a refactor haha, is there a doc, where I can learn more about $

[2016-12-08 18:33] christian-bromann commented on #1596
http://webdriver.io/api/utility/$.html
http://webdriver.io/api/utility/$$.html

[2016-12-08 18:54] tripleratamacue commented on #1596
thanks, I only had to keep my format, the one you provided didn't worked,  I get this error:
Cannot read property 'waitForVisible' of undefined

get usernameBox()    { return $('#email'); } //doesn't work
usernameBox:          { get: function () { return $('#email'); } } //works

calling like
Login.usernameBox.waitForVisible(browser.globalDelay);
or
this.usernameBox.waitForVisible(browser.globalDe

[2016-12-08 19:16] christian-bromann commented on #1596
just compile it to ES2016 ;-)

[2016-12-08 23:41] tripleratamacue commented on #1596
1. npm install --save-dev babel-cli babel-preset-es2016
2.  added this to wdio.conf
 before: function() {
            require('babel-register');
            browser.url(browser.options.baseUrl);
    },
3. added a .babelrc with {
  "presets": ["es2016"]
}
4. ./node_modules/.bin/babel tests/ --out-file script-compiled.js

same behaviour, what I am missing?

[2016-12-09 00:31] christian-bromann commented on #1596
Please see http://webdriver.io/guide/getstarted/configuration.html. For further questions please join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge).

[2016-12-09 15:05] monolithed opened #1760 "stdout is blocked by screenshotPath"
## The problem

**screencast**: http://g.recordit.co/67xMC8JcyX.gif
**project**: [1752.zip](https://github.com/webdriverio/webdriverio/files/639093/1752.zip)

The problem is being solved by removing `screenshotPath`!

## Environment

* WebdriverIO version: latest
* Node.js version: 7
* Mode: testrunner
* Type: synchronous

[2016-12-09 15:15] christian-bromann commented on #1757
I don't see the necessity to rename that option since it was written like that from the beginning. Also I don't really consider it as a typo, as

waitfor - Timeout -> timeout for all waitfor commands
as for
wait - For - Visible -> wait __for__ element to be visible

Other people could thing it is a number to wait for a certain timeout. I don't know. I don't have hard feelings about it but also don

[2016-12-09 15:15] #1757 closed

[2016-12-09 16:21] Brenw10 opened #1761 "Drag And Drop"
WebdriverIO code:
`client.element('.panel*=Something').dragAndDrop('.draggable-item', '#region');`

HTML:
[code]

It's not working because I entered in the first div, then the region can't be identified.
How can I ignore element in #region? Is it possible?
Can I do something like `client.dragAndDrop('.panel*=Something .draggable-item', '#region');` ? (It's not working)
Can I use element ID?
Yes, I

[2016-12-09 16:31] christian-bromann commented on #1761
Here is what you could do using wdio testrunner:
[code]

[2016-12-09 16:31] #1761 closed

[2016-12-09 16:39] Brenw10 commented on #1761
@christian-bromann Has a way without wdio testrunner?

[2016-12-09 16:45] christian-bromann commented on #1761
@Brenw10 yes, it is just a different syntax with promises

[2016-12-09 16:46] Brenw10 commented on #1761
@christian-bromann Could you show me please?

[2016-12-09 17:04] Brenw10 commented on #1761
@christian-bromann How can I back an element like you did above. `$('..')`. (Without wdio testrunner)

[2016-12-09 17:07] christian-bromann commented on #1761
This only works with the wdio testrunner. If you use the standalone version you need to handle the execution order by yourself by chaining promises or use async/await

[2016-12-09 17:12] Brenw10 commented on #1761
Ok, I can handler the async. I just need know how can I do that in standalone version. Could you show me please?

[2016-12-09 18:01] CTaylor1118 opened #1762 "Commands that use unify should warn the user that multiple elements were found"
## The problem
There are several commands that use elements and then the unify command to perform actions. Unify is deceiving as it does not actually unify the results, but rather takes the first result and returns. It's not a good testing practice to have indeterminate results either.

## Environment

* WebdriverIO version: 4.2.16
* Node.js version: 0.12.17
* [Standalone mode or wdio testrunner](

[2016-12-10 12:42] eGavr opened #1763 "Webdriverio unconditionally when using 'call' method after reject"
## The problem

[code]

In this case nodejs unconditionally exits because of an error, and this error can not be handled.

output:

[code]

This code works fine:

[code]

output:

[code]

## Environment

* WebdriverIO version: latest
* Node.js version: 4.x

[2016-12-10 19:52] j0tunn commented on #1763
@christian-bromann Can you explain please the difference between `call` and `then` methods?

[2016-12-12 15:13] #1683 closed

[2016-12-12 15:14] christian-bromann commented on #1683
Please update `wdio-sauce-service` to `v0.3.1` and `webdriverio` to `v4.5.0` (when released)

[2016-12-12 15:22] christian-bromann commented on #1462
@talarari we improved our mobile command support by introducing the touchAction command that allows you to do all these things with a single command. You will be able to scroll and do drag actions with it. However I can't see swipe support because the action takes to long to be considered as a swipe. However touchFlick should be supported by Appium.

Closing due to inactivity. Please let me know i

[2016-12-12 15:22] #1462 closed

[2016-12-12 15:25] christian-bromann commented on #1412
@aaronbriel we introduced the [touchAction](http://webdriver.io/api/mobile/touchAction.html) command that should help you do these kind of actions. It doesn't seem to be an issue with the selector but more with the command. So try

[code]

[2016-12-12 15:25] #1412 closed

[2016-12-12 15:50] christian-bromann commented on #838
I think I wouldn't consider this an issue anymore. With wdio and element as 1st citizen we allow to query for elements that are not available at execution time, e.g.

[code]
and
[code]

The test would pass if we add an error emit call to the [RequestHandler](https://github.com/webdriverio/webdriverio/blob/master/lib/utils/RequestHandler.js#L162-L169). But adding this will screw up the wdio testrun

[2016-12-12 16:14] talarari commented on #1462
Looks good, ill open a new issue if needed, thanks

[2016-12-13 01:36] iumehara opened #1764 "driver path should be webdriver.gecko.driver instead of webdriver.geckodriver.driver"
This should be fixed in the docs (http://webdriver.io/guide.html). I can't submit a PR from my work computer but just FYI.

[2016-12-13 05:39] whitetrefoil commented on #570
Just leaving a note in case any newbie who know nothing about XPath like me dropped into the same hole: the `v3` above means "webdriverio v3", not "XPath v3"...

The document can be found at: http://webdriver.io/guide/usage/selectors.html

Just spent a whole day tried to learn XPath and looking for document about that "newly introduced syntax in XPath 3.0"...

[2016-12-13 08:28] #1764 closed

[2016-12-13 08:32] christian-bromann commented on #1764
@iumehara thanks. Fixed parameter.

[2016-12-13 10:57] monolithed opened #1765 "waitUntil's timeout is ignored"
## The problem

[code]

[code]

The test above will aborted after 60 seconds.

[1765.zip](https://github.com/webdriverio/webdriverio/files/648670/1765.zip)

## Environment

* WebdriverIO version:  4.4.0
* Node.js version:  7.2

[2016-12-13 11:03] christian-bromann commented on #1765
Your promise

[code]

never gets resolved nor rejected.

[2016-12-13 11:03] #1765 closed

[2016-12-13 11:05] monolithed commented on #1765
Nope, It does not mean, because, It cab be resolved later.

[2016-12-13 11:06] christian-bromann commented on #1765
Any specific example?

[2016-12-13 11:10] monolithed commented on #1765
[code]

[2016-12-13 11:10] monolithed commented on #1765
It should be rejected after 5000 ms

[2016-12-13 11:17] monolithed commented on #1765
[code]

I don't want to care about timeouts

[2016-12-13 11:33] monolithed commented on #1765
@christian-bromann, or could you provide an example when Promise will be rejected by specified time according with documentation?

[2016-12-13 11:49] christian-bromann commented on #1765
@monolithed WebdriverIO expects that the condition gets executed at least [once](https://github.com/webdriverio/webdriverio/blob/master/lib/utils/Timer.js#L48-L53)

[2016-12-13 11:57] monolithed commented on #1765
Ok, but I don't understand what is expected in my example:

[code]

[2016-12-13 11:58] christian-bromann commented on #1765
Executed at least once in terms of if you return a promise it should resolve/reject at least once

[2016-12-13 11:59] monolithed commented on #1765
[code]

[2016-12-13 12:00] monolithed commented on #1765
In this case `resolve();` will never be executed

[2016-12-13 12:02] monolithed commented on #1765
Could you please rewrite my example? I'd like to see what you mean :)

[2016-12-13 12:02] christian-bromann commented on #1765
[code]

[2016-12-13 12:11] monolithed commented on #1765
Nope, `global.setTimeout` is an abstract function.
Hire is a real example:

[code]

I don't know nothing about when `request` will be reached

[2016-12-13 12:33] monolithed commented on #1765
So, the correct code is:

[code]

[2016-12-13 13:14] christian-bromann commented on #1765
just fyi: this will never return reject if your request call takes forever

[2016-12-13 13:14] monolithed commented on #1765
Also, you should pay attention to the following code:

[code]

So, your example above is not working as expected

[2016-12-13 13:16] christian-bromann commented on #1765
That code example looks just wrong to me:
[code]
resolve will never be called because you call reject immediately.

I think all questions are answered here.

[2016-12-13 19:58] CSomerville commented on #1609
This has come up for me repeatedly, and is a feature I would love to have. Would you accept this as a flag passed to remote, eg `{ verboseStackTraces: true }`? If so, `Q.longStackSupport` (which imposes performance penalties but is useful for debugging) could be enabled and the call to `Error.captureStackTrace()` bypassed. Let me know if a solution along these lines would be amenable to you. Many

[2016-12-14 09:46] ssfxate commented on #1735
At the moment I just excluded these tests from the firefox suite.

[2016-12-14 20:30] dimirey opened #1770 "Webdriver crashing"
## The problem

When running an automated suite the suite is unable to finish due to the webdriver crashing. After the webdriver crashes the remaining tests time out.

Stacktrace:

[code]

## Environment

* WebdriverIO version: webdriverio@4.5.0
* Node.js version: v6.9.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio testrunner
* if wdio testrunner, r

[2016-12-14 23:42] CSomerville commented on #1609
Nevermind about bypassing `Error.captureStackTrace()`, looks like it is as simple as enabling `q.longStackSupport`.

[2016-12-14 23:55] neoadventist commented on #1669
@christian-bromann I agree with @aqiqul that it just sucks having to go to another platform to find an answer to a question.  If everything could be in Github then it would make finding the answer a whole lot more effective.

@aqiqul do you know how I can get the text off of this?
[code]

`rows.length` returns 631 (a big table)
`rows[0]` shows this:
[code]

Any idea on how to get the text of this

[2016-12-15 01:11] neoadventist commented on #244
@EndeNeu @christian-bromann any pointers on how to use such a list? I'm trying to use it with the `.elementIdElement(rows[0].value.ELEMENT,rows[0].selector)` but I get a complaint saying that the element could not be located on the page :(

[2016-12-15 08:58] alek75 commented on #1770
It is the same issue i wrote in the  Gitter Chat. Couple of things to add:
1. For my automation i am using Windows Server 2012 and TFS build server
2. Before the update (4.4 version) I have issues to run tests against Firefox (all latest versions, geckodriver set up correctly). It crashed in AfterScenario (I am using Cucumber 1.3.1 abd latest wdio-cucumber) but i did not have ant code there. I tho

[2016-12-15 11:39] wvankuipers commented on #1760
I think this is a duplicate of/related to #1591

[2016-12-15 13:07] #1770 closed

[2016-12-15 13:16] christian-bromann commented on #1669
@neoadventist if you would use the wido testrunner you could do this:
[code]

[2016-12-15 14:05] domgolonka opened #1772 "Stops after .call() function"
## The problem

I am trying to do a callback for each if statement. But after the callback is returned, wdio stops.

## Environment

* WebdriverIO version: 4.5.0
* Node.js version:v6.9.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): standalone
* if wdio testrunner, running synchronous or asynchronous tests:
* Additional wdio packages used (if applicable):

[2016-12-15 16:39] christian-bromann commented on #1772
`sellWallet` need to return the promise queue. Also `call` expects a function and not an array. Please join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2016-12-15 16:39] #1772 closed

[2016-12-16 02:17] chadpaulson opened #1773 "Cannot connect to local Sauce Labs tunnel"
## The problem

We currently run a local Sauce Labs tunnel for our `wd` and python Selenium tests via `sauce-connect-launcher`.  I was excited to evaluate `webdriverio` and although I was able to quickly get a local POC test running with `selenium-standalone`, I am not having success connecting to our sauce tunnel, which is available via: ```'http://' + SAUCE_USERNAME + ':' + SAUCE_ACCESS_KEY + '@

[2016-12-16 08:54] vitalets opened #1774 "Option to not start new session for every file"
From docs:

In my tests I realized that all files can be executed in single session. I can just navigate to start url in `beforeEach` hook. I think such option could be useful and will make tests more fast as we will not spent time to start/stop sessions.

What do you think?

[2016-12-16 10:32] christian-bromann commented on #1774
I don't think this is a good idea. You are right that booting a Selenium session is time consuming but running all tests in a single process is way more time consuming because tests don't run in parallel. Also getting a new Selenium session is a cleaner start for a test spec. Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_s

[2016-12-16 10:32] #1774 closed

[2016-12-16 10:35] christian-bromann commented on #1773
@chadpaulson why do you set the port property? Also if you want to use `wdio-sauce-service` you need to use the wdio testrunner. Services are only working with the testrunner.

[2016-12-16 13:17] wvankuipers opened #1775 "waitFor* commands timeout on page reload"
## The problem

When running a command that is triggering a page reload but has to check if an element is existing (or visible or selected) the waitFor* command gives the following error:

    Error: Command execution timed out

## Environment

* WebdriverIO version: 4.5.0
* Node.js version: 4.7.0 & 7.1.0 (see details)
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/mod

[2016-12-16 13:50] wvankuipers commented on #1775
I noticed that just after the error the result of:

    COMMAND	GET 	 "/wd/hub/session/4d7f97aa-c8c8-46db-9963-7e11de27f14c/element/1/displayed"

Changes from:

    RESULT		[{"ELEMENT":"1"}]

to:

    RESULT		[{"ELEMENT":"2"}]

[2016-12-16 17:00] chadpaulson commented on #1773
@christian-bromann I appreciate the prompt reply!  We run a sauce tunnel via the npm package `sauce-connect-launcher`, which runs on localhost:8727.  Until now, we have been able to configure our `wd` and Selenium python bindings tests to access the local Sauce Labs tunnel (examples below) via `remote` in a very similar way to `selenium-standalone` server.

I suppose this is a proposal to allow re

[2016-12-16 17:19] christian-bromann commented on #1773
@chadpaulson if you use the `wdio-sauce-service` it will also start the tunnel for you. Can you try to remove `sauce-connect-launcher` and use `wdio-sauce-service` only?

[2016-12-17 21:46] chadpaulson commented on #1773
@christian-bromann Thank you, I appreciate the clarification! Although I'm not sure the project I am currently working on will be able to operate in the strict confines of the `wdio` test runner since our CI tests require dynamic fixture setup and teardown which is unique to each test spec.  While this is certainly possible, I think time would be better spent putting together a PR which would allo

[2016-12-17 21:46] #1773 closed

[2016-12-18 02:14] klamping commented on #1647
@tizmagik took a quick look at the 'onchange' npm module and was able to get this sort of thing working with the following command:
[code]

It will run the tests whenever the src or test files are changed. You can configure that to be a bit more specific if you'd like: https://www.npmjs.com/package/onchange

[2016-12-18 03:36] tizmagik commented on #1647
@klamping pretty cool, thanks for sharing! Might give that a try

[2016-12-18 16:50] christian-bromann commented on #1686
@Burgi0101 our type definitions just got an update, can you re-check?

[2016-12-19 10:05] wvankuipers commented on #1775
Some more info:

I found out that [this promise](https://github.com/webdriverio/webdriverio/blob/master/lib/utils/RequestHandler.js#L174-L243
) gets/triggers the timeout:

    { [Error: Promise was rejected with the following reason: timeout]
    message: 'Promise was rejected with the following reason: timeout',
    type: 'WaitUntilTimeoutError' }

(The message above is captured in the catch hand

[2016-12-19 13:05] rahulmr commented on #1569
@gaurav21r  I am also struggling to get a working example for android mobile native app testing using webdriverio. Is it possible for you guide me on this?
I wanted to use the following packages

1. wdio
2. wdio-spec-reporter (console spec reporter)
3. wdio-appium-service (for starting and stopping the appium server automatically)
4. gulp-webdriver (for running tests using gulp)

I am referring th

[2016-12-19 13:23] christian-bromann commented on #1569
Here is an example which can be easily transferred to wdio: https://github.com/webdriverio/webdriverio/blob/master/examples/appium/appium-draws-its-logo.js. Feel free to join the Gitter channel if you have any problems getting started.

[2016-12-19 14:14] rahulmr commented on #1569
Yes, I was trying to use that scenario but it seems a bit complex for me, since it is for IOS and I was not able to run it properly for Android, also the UI elements are bit used in a complex way. Helpers for touchAction :( and all that.

Sorry, but I was not able to follow it correctly. Secondly, I wanted to use the [`wdio-appium-service` ](https://www.npmjs.com/package/wdio-appium-service)packag

[2016-12-19 14:25] christian-bromann commented on #1569
You have the Appium NPM package installed?

[2016-12-19 15:29] rahulmr commented on #1569
I tried installing appium@1.5.3 locally as well as globally. I think it supports local one inside node_modules. Currently, I am trying to install npm@4.0.5 and appium 1.6.3 locally and will try again. But my problem is I am not able to get what the issue is based on the above error log.

[2016-12-19 15:36] rahulmr commented on #1569
I see you have something written [here](https://github.com/webdriverio/webdriverio/blob/master/examples/standalone/webdriverio.with.appium.nativeapp.js)
I will try to follow it.
But @christian-bromann  it will be good if you can write something as per my requirement with some services for local execution of tests wherein appium server starts and stops on completion of tests.
People generally like

[2016-12-19 19:15] christian-bromann commented on #1569
WebdriverIO has extensive support for mobile automation however setting up the test environment is not really within the scope of WebdriverIO. These services do provide an easy set up for Selenium and Appium but do not necessarily fit into each environment. They can be configured tho.

There are plenty tutorials on the internet on how to setup Appium. We try to improve our docs all the time and mi

[2016-12-19 20:23] claudiuionita opened #1777 "Cannot run features using tags"
Using this exact setup: https://github.com/webdriverio/cucumber-boilerplate

[2016-12-19 20:31] christian-bromann commented on #1777
duplicate of #1247

[2016-12-19 20:31] #1777 closed

[2016-12-19 20:55] fundead commented on #1502
That is pretty raw and approaching workaround territory. Any chance of a more idiomatic API?

[2016-12-19 21:11] christian-bromann opened #1778 "TypeError: Cannot set property 'state' of undefined"
## The problem

Failures in the before hook fails the runner:

[code]

## Environment

* WebdriverIO version: latest
* Node.js version: any
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio testrunner
* if wdio testrunner, running synchronous or asynchronous tests: sync
* Additional wdio packages used (if applicable): mocha, spec reporter

## Code To Rep

[2016-12-19 21:21] shauvik commented on #1778
This failure also leaves chromedriver and standalone selenium service running, which fails future tests.
[code]

[2016-12-19 22:34] christian-bromann commented on #1502
What do you mean by that?

[2016-12-19 22:55] dimirey opened #1779 "Selenium server stops responding after attempt to click element - Chrome v54"
## The problem

After the page loads and the .waitForVisible() command returns true the webdriver is unable to click on the element.

## Environment

* WebdriverIO version: 4.5.1
* Node.js version: 6.9.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio testrunner
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Additional w

[2016-12-19 23:29] christian-bromann commented on #1779
Sorry but this is not something we can fix. Please fill an issue in the chromedriver project.

[2016-12-19 23:29] #1779 closed

[2016-12-20 02:29] Mignon-han opened #1781 "doubleClick ,xoffset ,yoffset"
## The problem
I use webdriverio to test map rendering, so I might need to double-click a location on the map.
I would like to add optional parameters xoffset and yoffset to the doubleClick method.

I run the test in the browser,just like this:
[code]

[2016-12-20 07:09] rahulmr commented on #1569
Thanks @christian-bromann , it seems there is [bug](https://github.com/rhysd/wdio-appium-service/issues/2) in wdio-appium-service . And yes your standalone examples are very useful, I will checkout those and try to implement them.

[2016-12-20 09:04] christian-bromann commented on #1781
Your request seems valid so feel free to create a PR or make it a custom command in your test suite.

[2016-12-20 09:04] #1781 closed

[2016-12-20 13:42] Mignon-han opened #1782 "doubleclick,IE11"
The code like this:
[code]
I want to draw some graphics on the map, and I finish drawing by **double clicking**.
I can do this on **chrome** by using `browser.doDoubleClick ()`, but not in **IE11**

[2016-12-20 13:54] christian-bromann commented on #1782
With all information you give us here it seems to be an issue with the IE driver. There is nothing WebdriverIO can do about that. Please fill an issue in the edge driver project.

[2016-12-20 13:54] #1782 closed

[2016-12-20 23:38] monolithed opened #1784 "Proposal: browser.waitForPromise"
## browser.waitForPromise

**An abstract implementation**

[code]

## Usage

1.

[code]

2.

[code]

[code]

3.

[code]

[code]

4.

[code]

## Positive sides

* There are `reject` and `resolve`
* There are no any magical `resolve(true)`
* There are no any magical functions named as `async` — are not actual anymore
* `function async` can be replaced with `() =>`
* https://github.com/webdriverio/we

[2016-12-20 23:41] christian-bromann commented on #1784
This should work too:
[code]

[2016-12-20 23:43] monolithed commented on #1784
Oops, i didn't see that before

[2016-12-20 23:47] monolithed commented on #1784
May be `waitUntil(function async () {})` should be deprecated if It can be replaced with `call`...?

[2016-12-20 23:49] christian-bromann commented on #1784
Well if someone wants to wait until the promise was resolved at least once, `waitUntil(function async () {})` can still be useful.

Does it work with call?

[2016-12-20 23:57] monolithed commented on #1784
it's a strange thing to wish that :) I guess it can be solved by using `call` with additional options (timeout, message)

[2016-12-20 23:58] christian-bromann commented on #1784
Well, #1407 proves that 😉

Can this be closed then?

[2016-12-21 00:01] monolithed commented on #1784
What do you think about renaming `call` in `waitForPromise`? 😄

[2016-12-21 00:02] christian-bromann commented on #1784
I don't think this is a good idea ☺

[2016-12-21 00:03] monolithed commented on #1784
Maybe there is a reason to add `timeout`?

[2016-12-21 00:05] christian-bromann commented on #1784
If I get more of that same request I consider it maybe but for now I think we should keep it simple.

[2016-12-21 00:05] monolithed commented on #1784
I got it, so I close this issue.

[2016-12-21 00:05] #1784 closed

[2016-12-21 12:48] rahulmr commented on #1553
@Mignon-han were you able to integrate mochawesome reporter? If yes, please do share your work, thanks.

[2016-12-21 12:52] christian-bromann commented on #1553
@rahulmr what's the issue with the wdio-allure-reporter? I doubt that mochaawesome is compatible with wdio.

[2016-12-21 13:20] gronke commented on #1778
A git bisect points to https://github.com/webdriverio/webdriverio/commit/c4385357411c2d64d1999b060cc9fc89bfbc9aba as the first bad commit.

[2016-12-21 13:21] christian-bromann commented on #1778
cc @wvankuipers

[2016-12-21 14:58] #1778 closed

[2016-12-21 16:32] pavelbinar opened #1786 "Using Selenium Hub"
Is there a way how to run tests with `wdio` on Selenium Hub (hub with more browser versions instances)?

It runs, but only excecutes one browser which is set in the `wdio.conf.js` at `browserName: 'chrome'`

Thanks.

[2016-12-21 16:48] christian-bromann commented on #1786
Just set the `host` and `port` option to your selenium hub and define multiple capabilities like here: https://gist.github.com/christian-bromann/3e2c3f8aea21f70f612650a85c50af2b#file-wdio-sauce-conf-js. Feel free to join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_conten

[2016-12-21 16:48] #1786 closed

[2016-12-21 16:55] pavelbinar commented on #1786
OK, thanks again for super saft reply and resolution!

I will try that. I could not find any documentation on that so there might be some room for improvement. Perhaps I could make pull request to https://github.com/webdriverio/webdriver.io with some update...

[2016-12-21 18:21] christian-bromann commented on #1786
I thought it should be clear from the docs, we have documented it here:
https://github.com/webdriverio/webdriverio/blob/master/docs/guide/getstarted/configuration.md#host or
https://github.com/webdriverio/webdriverio/blob/master/docs/guide/testrunner/configurationfile.md#configuration-file

The https://github.com/webdriverio/webdriver.io repo doesn't contain any doc files, they are all here in thi

[2016-12-21 23:25] fundead commented on #1502
Essentially supporting hitbiter's use case, where a function can be passed in as an arg to `execute`, and called within the Selenium context, without resorting to using `eval`. I'm guessing this is a bit tricky due to it crossing the node/selenium boundary. In any case I managed to implement a workaround by adding the function I needed to call as a referenced script on the page fixture that browse

[2016-12-22 00:23] klamping commented on #1647
@tizmagik FYI, documented the full set up here: http://blog.kevinlamping.com/continuous-local-webdriverio-testing-with-onchange-and-node-notifier-watching/

[2016-12-22 11:47] megagon commented on #1460
still reproducibale @"webdriverio": "^4.5.1",
[code]

[2016-12-22 12:11] christian-bromann commented on #1460
@megagon there will be a release today that will finally fix this

[2016-12-22 14:02] monolithed opened #1787 "TypeError: Cannot set property 'state' of undefined"
## The problem

[code]

The problem [here](
https://github.com/webdriverio/webdriverio/blob/master/lib/utils/ReporterStats.js#L304):

[code]

`testStats` is undefined

In accordance with [this line](https://github.com/webdriverio/webdriverio/blob/master/lib/utils/ReporterStats.js#L225) it can be undefined

## Environment

* WebdriverIO version:
* Node.js version:  7
* [Standalone mode or wdio test

[2016-12-22 14:14] megagon commented on #1460
@christian-bromann thank you!

[2016-12-22 15:17] christian-bromann commented on #1787
Duplicate of #1460

[2016-12-22 15:17] #1787 closed

[2016-12-22 17:39] christian-bromann commented on #1460
Just publish `v4.5.2` with an ultimate fix for this. Let me know if you guys still encounter this.

[2016-12-22 20:12] megagon commented on #1460
looks like fixed, thank you!

[2016-12-22 20:13] megagon commented on #1460
have it a bit different now:
`node_modules/webdriverio/build/lib/utils/ReporterStats.js:442
            testStats.state = 'fail';
`

[2016-12-22 20:15] christian-bromann commented on #1460
@megagon did you update your spec reporter? Can you provide a reproducible example?

[2016-12-22 20:26] megagon commented on #1460
@christian-bromann spec reported was 0.0.4. I will update it and then we'll see, maybe it will be solved

[2016-12-22 20:59] monolithed opened #1788 "Handle alerts"
## The problem

There are no any exceptions for the following commands: `alertAccept`, `alertDismiss`, `alertText`.

[code]

[code]

This test will be finished in an hour. At least, this situation looks like a big problem for me and other people who don't know about that.

In accordance with the WebDriver protocol these errors [should be handled](https://www.w3.org/TR/webdriver/#handling-errors)

[2016-12-27 13:19] gurugray commented on #1593
Gitter channel didn't loaded…

So there is no any way to load page with cookies without loading this page set cookies and load page again?

I need to do one request to test heavy page depends on cookie, so it seems quite strange to load it several times :\

[2016-12-27 13:20] gurugray commented on #1593
`curl -v --cookie "USER_TOKEN=Yes" http://127.0.0.1:5000/` :\

[2016-12-27 15:46] 21stio commented on #1593
@gurugray I didn't find any better way than what you described in your first post..

[2016-12-27 16:28] monolithed commented on #1788
I found a temporary solution to solve my problem:

[code]

[2016-12-27 18:13] jedwards1211 opened #1790 "take screenshots when test fails (not just when a webdriver command fails)"
I don't understand why it isn't the default behavior for wdio to take a screenshot when a test fails.  Currently it only takes a screenshot when a webdriver command fails; but in some cases an assertion will fail the test after a bunch of webdriver commands went through successfully.  Is there something I misunderstand here?

[2016-12-27 18:47] christian-bromann commented on #1790
You can easily set this up by yourself by using the afterTest hook. Just check if the test has failed and take a screenshot. I don't see a reason why this should be a default behavior. Everyone has their own strategies to evaluate test results.

[2016-12-27 18:47] #1790 closed

[2016-12-27 21:13] jedwards1211 commented on #1790
@christian-bromann Yes, I understand, I just thought it was weird...are you saying it's because some people would not want to take a screenshot in the event of certain errors thrown from a test?

[2016-12-28 01:51] AlexandreBonneau opened #1791 "`browser.keys()` ignore the current caret position"
## The problem

I'm trying to achieve a seemingly very simple thing :
1. Select an input
2. Set the caret position inside that input
3. Enter some numbers
4. Verify the new caret position, as well as the input value

To do this, I created this test : [The html + buggy.spec.js](http://codepen.io/AnotherLinuxUser/pen/xRoVvX?editors=1010)

Unfortunately, whenever `browser.keys(selectors.input0, ['123

[2016-12-28 09:41] byteshiva opened #1792 "How to open "tor browser" using webdriverio?"
## The problem

How to open tor browser using nodejs-selenium in ubuntu 14.04?
Briefly describe the issue you are experiencing (or the feature you want to see added to WebdriverIO). Tell us what you were trying to do and what happened instead. Remember, this is _not_ a place to ask questions. For that, join the Gitter chat room ([![Gitter](https://badges.gitter.im/Join Chat.svg)](https://gitter.im

[2016-12-28 09:44] christian-bromann commented on #1792
You can't open a Tor browser unless it provides a browser driver which afaik it doesn't.

[2016-12-28 09:44] #1792 closed

[2016-12-28 13:25] christian-bromann commented on #1791
@AlexandreBonneau please see the API: http://webdriver.io/api/protocol/keys.html the keys command just takes the value to insert value to the focused element.

[2016-12-28 13:25] #1791 closed

[2016-12-28 13:41] jesusMT opened #1793 "TypeError: seleniumStack.orgStatusMessage.match is not a function"
## The problem
I'm trying to test an iOS app and I'm getting this error:

     TypeError: seleniumStack.orgStatusMessage.match is not a function
         at new ErrorHandler (/Users/jumz/proyectos/woody-test/node_modules/orchard-webdriverio-plugin/node_modules/webdriverio/build/lib/utils/ErrorHandler.js:71:86)
         at new RuntimeError (/Users/jumz/proyectos/woody-test/node_modules/orchard-webd

[2016-12-28 13:56] christian-bromann commented on #1793
Thanks for reporting @jesusMT. This looks indeed like an issue we could fix.

[2016-12-28 15:26] christian-bromann commented on #1790
Yeah. We shouldn't force certain behaviors when they can be reproduced easily. So other people might get confused by that.

[2016-12-28 19:45] AlexandreBonneau commented on #1791
@christian-bromann I've read the documenation, but nowhere in that page it mention the fact that `keys()` is not only sending keys, but also changing the caret position.

If that was the goal, then perhaps the function should be renamed to `putCaretOnFarRightThenSendKeys()`?
Or to be more clear for future readers, a small note in this doc could tell the visitor that the caret position will not be

[2016-12-29 10:42] monolithed opened #1794 "Respect mochaOpts.timeout or stop tests after critical errors"
## The problem

[code]

[code]

[code]

[code]

[code]

I see these errors very often and the problem is that my tests are not finished at all. `mochaOpts.timeout` is ignored for these types of errors as well.

## Environment

* WebdriverIO version: 4.5.2
* Node.js version: 7.3
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): sync
* if wdio testrunner, runni

[2016-12-29 14:25] christian-bromann commented on #1794
This has nothing to do with your mocha timeout. This happens because the grid is configured with a timeout that doesn't match the mocha timeout. See [here](https://github.com/seleniumhq/selenium-google-code-issue-archive/issues/4566#issuecomment-192091201) for more information. WebdriverIO is not responsible for setting up the grid timeouts and it can't modify it.

[2016-12-29 14:25] #1794 closed

[2016-12-29 14:28] christian-bromann commented on #1791
Yes! This is out of scope of this project. WebdriverIO only follows the Webdriver protocol to send commands to the browser. What actually happens in the browser is job of the browser driver. The behavior probably differentiates between different browser. So please report this bug to the driver project.

[2016-12-29 14:31] christian-bromann commented on #1791
@AlexandreBonneau all I know is that you can send key commands to manipulate the cursor position or use the execute command to get the current cursor position with some JavaScript magic. I would need more information about your use case to help you here.

[2016-12-29 14:50] monolithed commented on #1794
I believe it's possible to catch these errors and stop test execution.
We don't have such problems with Serenity using the same test environment and grids.

[2016-12-29 16:14] adamlemisch opened #1795 "Unable to use selectByVisibleText() on drop down menu values that contain &nbsp;"
## The problem
When attempting to make a selection using selectByVisibleText() from a drop down menu who's values contain &nbsp's, the following error is received:

[code]

Menu structure:
![image](https://cloud.githubusercontent.com/assets/3834021/21547635/98a7750e-cda4-11e6-9eb5-950612fdb813.png)

Commands attempted:
```PageOnePage.area_drop_down.selectByVisibleText('A01&nbsp;-&nbsp;NORTHWEST');

[2016-12-29 16:51] monolithed commented on #1794
These errors are displayed on the terminal, so we can catch them 😄
Maybe it's possible to subscribe on the `message` event...

[2016-12-29 20:06] AlexandreBonneau commented on #1791
Thanks for you answer @christian-bromann.

My use case is that being one of the `autoNumeric` maintener, I'd like to setup user interaction testing since those interactions are the core of autoNumeric features.

[autoNumeric](https://github.com/BobKnothe/autoNumeric) is a library that allows a user to enter some numbers in an input, and after each key stroke, the input value and caret position is

[2016-12-30 16:35] #1793 closed

[2017-01-03 08:11] rahulmr commented on #1476
Thanks @talarari but is it possible to add custom command to use only id like `btnLogin `instead of `android=new UiSelector().resourceId("com.myapp.package.am:id/btnLogin`

[2017-01-03 08:26] rahulmr commented on #532
Hello @christian-bromann , I am not happy with the allure reporter as it requires external processing. As I see there is no plan to create single file html reporter like [mochawesome](http://adamgruber.github.io/mochawesome/), I need some help on how to create custom reporter similar to [mochawesome ](http://adamgruber.github.io/mochawesome/) or use mochawesome (or say any reporter which is mocha

[2017-01-03 08:30] rahulmr commented on #1553
@christian-bromann allure needs post processing to create html reports and I need to install more npm packages. I want to keep it simple. The new mochawesome reporter is very impressive. It has screenshot and gives a single html file as end result, which is very handy. We are using GOCD pipeline and html is good way to share info which is an artifact for the pipeline.

[2017-01-03 08:37] rahulmr commented on #1553
This is main reason I am confused whether to use wdio runner or mocha runner, I liked the wdio runner with wdio.conf.js but reporter is not to good.

[2017-01-03 09:26] christian-bromann commented on #1553
No problem, just do it in your onComplete hook

I know. If you can write an integration I would be happy to support it.

So has the Allure reporter

Did you try the Allure reporter? I don't see any disadvantages against the mochaawesome reporter.

[2017-01-03 09:28] christian-bromann commented on #532
Why is that a requirements / restriction?

You can process the files in the onComplete hook or call the processing command after the testrun. I don't really see why this is a limitation

[2017-01-03 09:49] gaurav21r commented on #1569
@rahulmr Sorry noticed this late. Will look into it.
@christian-bromann Any examples / or any direction you can point me to for hybrid apps? Web Apps but  packaged with Cordova to get native binaries?

[2017-01-03 09:57] christian-bromann commented on #1569
To do what?

[2017-01-03 12:41] inspiraller commented on #331
Thankyou for providing alternative solutions to xpath above for webdrive io. This has helped me worked with the selenium language.

However, In response to the following statements:

_**xPath since it is way more cross browser compatible.**_
This statement is redundant and not the reason to favour xpath over css

Older browsers are declining, and it is expensive supporting them and building for th

[2017-01-03 13:01] Filipoliko opened #1796 "Element addCommand implementation"
Hello, i was trying to add custom commands to my tests, but got stucked on how to use these commands on an element, instead of browser. The only solution i came with was passing the element as an argument, which is quite ugly solution.

Would be greate to have possibility to add custom commands not just for browser (as described in [here](http://webdriver.io/api/utility/addCommand.html)), but also

[2017-01-03 14:27] jlchereau opened #1797 "executeAsync always times out when loading external script"
## The problem

executeAsync always times out when loading external script:
```Error: asynchronous script timeout: result was not received in 5 seconds```.

## Environment

* WebdriverIO version: 4.5.2
* Node.js version: 7.3.0
* WDIO Testrunner
* tested with PhantomJS and Chrome

[code]

## Details

```browser.executeAsync``` always times out:

[code]

whereas ```browser.execute``` executes withou

[2017-01-03 14:43] christian-bromann commented on #1797
Don't know why but this is surely not a WebdriverIO issue.

[2017-01-03 14:43] #1797 closed

[2017-01-03 15:58] jlchereau commented on #1797
Loading the same file from a local url works async.

[2017-01-03 18:38] rahulmr commented on #532
Yes, I used onComplete to convert junit results to html using jasmine-xml2html-converter but that html is very poor in features. If you have seen report generated using mochawesome, you will see that it is very appealing and it is single html file, which is easy to share. It looks cool :).

wdio is such great, I would be happy to get some great reporting to impress my bosses. I am not good with pr

[2017-01-03 18:42] christian-bromann commented on #532
Why you don't use onComplete to generate the HTML from the allure files?

[2017-01-03 19:12] rahulmr commented on #1569
@gaurav21r it is very easy to automate using uiautomator selectors. Read the [docs](http://webdriver.io/guide/usage/selectors.html) on selectors `Mobile Selectors` => `Android UiAutomator`.
If you create util to create selectors it becomes easier.
[code]
I created a small utils like below
[code]
It is just returning string (not sophisticated), but can be used like below
[code]

[2017-01-03 19:17] rahulmr commented on #1796
👍 Till now I thought it is the way you @Filipoliko have mentioned. Also, thanks for your example, I was just looking for something like this.

[2017-01-03 19:53] janwiemers commented on #1726
Hey there, I have the same behavior every now and then. It happens if I execute an a sync script on the client page and want to get the result back. Or if I click on elements.
The strange thing is as @monolithed described it is not really reproducible the code can function or not function randomly.

[2017-01-03 20:54] monolithed commented on #1726
@janwiemers, have you tried to install the latest version of wdio-mocha-framework? This problem has been already [fixed](https://github.com/webdriverio/wdio-sync/pull/42) (at least I hope).

[2017-01-03 22:09] janwiemers commented on #1726
@monolithed need to check tomorrow again but I think yes. I upgraded the webdriverio package today to the latest version and will work on the tests tomorrow again. I'll keep you posted.

[2017-01-04 08:45] janwiemers commented on #1726
@monolithed I just upgraded to the last wdio-mocha-framework, will monitor the bahavior, first tests looking promising

[2017-01-04 12:05] artur-michalak opened #1798 "SIGINT handler is not killing process"
## The problem

When i setup webdriver.io with gulp watch and interrupt process with ctrl+c it's not closing.

## Environment

* WebdriverIO version: v4.5.2
* Node.js version: v4.4.5 (v6 too)
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): jasmine testrunner
* if wdio testrunner, running synchronous or asynchronous tests: asynchronous
* Additional wdio pack

[2017-01-04 12:07] christian-bromann commented on #1798
This issue was moved to webdriverio/gulp-webdriver#56

[2017-01-04 12:07] #1798 closed

[2017-01-04 12:08] christian-bromann commented on #1798
Moved to gulp-webdriver project.

[2017-01-04 16:37] monolithed commented on #1796
[code]

Or am I wrong?

[2017-01-05 08:29] Filipoliko commented on #1796
Thanks for your reply, @monolithed
The selector use case can be used as you say. I was avoiding it, since i have defined page objects, which returns elements and I  just rewrote the use case without the page objects. I believe, that i am not only one, using it like this, so this might be another reason to have this implemented.

The pause is there, since we run the tests against virtual machines,

[2017-01-05 12:02] skortch opened #1799 "10 is added to scenario in verbose printout."
## The problem

Say I have a scenario in a .feature file that reads like

Scenario: Description of the scenario

in the Terminal when I run the feature I get the printout

Description of the scenario10

for all scenarios. I have no idea where I would even check for that error.

## Environment

* WebdriverIO version: 4.5.1
* Node.js version: 6.9.2
* [Standalone mode or wdio testrunner](http://webdr

[2017-01-05 13:00] christian-bromann commented on #1799
Please update the WebdriverIO, framework adapter and reporter. It should be fixed then.

[2017-01-05 13:00] #1799 closed

[2017-01-05 13:51] monolithed commented on #1796
You'd better define an anchor element in your page object and for one:

[code]

[code]

[code]

[code]

Read more info about timeouts [here](http://webdriver.io/guide/testrunner/timeouts.html
)

[2017-01-05 14:35] rahulmr commented on #532
:( I will have to be satisfied with allure it seems. I will try to generate the html reports using onComplete. But still if you ever get some free time please provide me some pointers on how I can integrate mochawesome with wdio. Thanks. Is it necessary for allure to have local server to see the files in browser?

[2017-01-05 14:39] Filipoliko commented on #1796
The problem is, that the page is loaded and all buttons are available, but if i click multiple times in few seconds, the webpage goes down. The problem is being solved by other developers, but I had to come up with temporarily solution so that the developers can run tests against their virtual machines.

Thank you for your comments, but this is not something i wanted to solve in this topic, i woul

[2017-01-05 14:53] christian-bromann commented on #532
Please see how other reporters are implemented.

No! Afaik the allure cli command generates static html files which can be displayed in jenkins (with the jenkins integration for allure)

[2017-01-05 14:54] christian-bromann commented on #532
To be clear here: I am not against having a mochaawesome reporter. I just not invest my free time to implement such reporter as I am happy with the allure reporter. If you want a mochaawesome reporter please contribute to the wdio community 😉

[2017-01-05 14:58] monolithed commented on #1796
Have you tried to set implicit timeouts?

An implicit timeout is to tell WebDriver to poll the DOM for a certain amount of time when trying to find an element or elements if they are not immediately available. The default setting is 0.

[code]

If your locator does not exist, WebDriver will wait.

[2017-01-05 17:20] Filipoliko commented on #1796
No, this is not my problem, all elements are available and tests are clicking on them as fast as they can, but the website crashes after some time, if i hit it so fast, so i need to make some pauses so the website does not crash. I don't think it's a problem with tests, but with the website.

[2017-01-05 18:07] rahulmr commented on #532
Thanks @christian-bromann  , I will try ;) . Anyways, enjoying `wdio`, though facing some issue with `wdio-appium-service` but not sure if it windows specific. The appium server is not shutting down after tests are completed. So I am doing start/stop using onPrepare and onComplete. Got go from client as well. Thanks again.

[2017-01-05 18:47] rahulmr commented on #1796
@monolithed as you have given good example of Page Object, I wanted to ask you a question. Is it possible to create a PageObject which extends the `browser` object in such way that every `browser` method and property is available to this Page say LoginScreen ( I am working on Mobile Automation)
Here is what I have done
[code]
Actually, I wanted LoginScreen to have all browser methods like click, e

[2017-01-05 19:08] monolithed commented on #1796
You should't do that in accordance with [The Open Closed Principle](https://en.wikipedia.org/wiki/Open/closed_principle).
You ought to add a custom command or method.

[code]

[2017-01-06 18:35] sbougon opened #1803 "Support for Chrome's Network throttling"
## The problem

Chromedriver now supports Network Throttling (https://chromedriver.storage.googleapis.com/2.27/notes.txt: Resolved issue 984: Extend ChromeDriver capabilities to cover network throttling feature from Chrome DevTools [['OS-All', 'Pri-2']])

Would be nice to expose this functionality to WebdriverIO. Or maybe an API to allow us using features not yet in webdriverIO ?

## Environment

[2017-01-06 18:44] christian-bromann commented on #1803
This is already possible with these capabilties:

[code]

I am not sure tho how to exactly apply the throttling value. I don't see it documented in the chromedriver docs (https://sites.google.com/a/chromium.org/chromedriver/capabilities). I assume it is something like this.

[2017-01-06 18:44] #1803 closed

[2017-01-06 20:31] sbougon commented on #1803
Hi @christian-bromann , I think what you suggested works for mobile, not desktop.
See my gist for the code example/logs/observation:
https://gist.github.com/sbougon/fb0579758922c64f64a546327fe58dec

Can webdriverio offers a way to http POST to the webdriver server for unsupported/not yet developped features ?

[2017-01-06 21:31] petole commented on #1803
In other words, the new API from chromedriver to throttle Desktop Chrome is not called/executed via the:
...
capabilities: [{
    browserName: 'chrome'
    chromeOptions: {
        mobileEmulation: {
             networkThrottle: '3G'
        }
    }
}],
...
which is reserved for mobile only I think

[2017-01-07 06:23] christian-bromann commented on #1803
yes it can

[2017-01-09 02:15] tiffon opened #1804 "The README does not show the awesomeness of WDIO"
## The sample snippet in the README does not show the awesomeness of the synchronous approach enabled by `wdio`

I'm using and loving weddriver.io, and in reality practical use of it for testing it is nothing like the small snippet in the README. The `wdio` approach is basically **awesome** and is nowhere to be seen in the README.

Instead of

[code]

At the very least:

[code]

But, really, **a c

[2017-01-09 02:41] #1804 closed

[2017-01-09 02:48] christian-bromann commented on #1804
Thanks for filing the issue. I tweaked the example, how does it look now?

[2017-01-09 14:48] monolithed commented on #1643
There is another problem with fibers:

<details>
<summary>Errors</summary>
17:41:29 ## There is an issue with `node-fibers` ##
17:41:29 `/var/lib/selenium/jenkins-slave/workspace/yoda.multi/JENKINS_AXIS_ITEM/16/tests/node_modules/fibers/bin/linux-x64-51/fibers.node` is missing.
17:41:29
17:41:29 Try running this to fix the issue: /usr/bin/nodejs /var/lib/selenium/jenkins-slave/workspace/yoda.multi

[2017-01-09 23:10] poorpaddy opened #1806 "moveToObject not working after buttonDown()"
## The problem

I'm trying to drag the handle on a slider and specifically noUIslider (https://refreshless.com/nouislider/).

I am using the following method to replicate a drag.
[code]
I would believe it would slide, even returned the element coordinates in the console and they do not change. I've attempted this in both Chrome and Firefox.

## Environment

* WebdriverIO version: 3.0.1
* Node.js v

[2017-01-10 14:51] patthiel commented on #1806
Can't speak for Chrome, but these commands won't work in geckodriver per https://github.com/mozilla/geckodriver/issues/159

[2017-01-10 15:02] poorpaddy commented on #1806
@patthiel That's correct. They won't work in either Firefox or Chrome. Well technically they pass in both browsers but the 2nd moveToObject doesn't actually offset by the x/y coordinates. It just says they passed however I've done both a pause so I can see it and as you ca see above I log the coordinates and it doesn't move.

[2017-01-10 16:17] patthiel commented on #1806
@poorpaddy This isn't expected to work in Firefox per the ticket I linked as well as https://github.com/webdriverio/webdriverio/issues/1653. This issue is only applicable to Chrome.

Can you provide a reproduceable spec or project? I have a sandbox project here that you could fork and use: https://github.com/patthiel/wdio-test-playground

[2017-01-10 16:32] inspiraller opened #1808 "How do you actually hover an element on desktop?"
## The problem

Currently it is possible to touch a mobile element, but nothing seems to work for desktop. I've tried moveToObject('.elem'), but this isn't an explicit hover, and no chaining methods seem to hover it.
I want to test than a hover changes the css of the element.

[2017-01-10 16:43] poorpaddy commented on #1806
I do but unfortunately my work utilizes a self hosted enterprise version of GH additionally I can't publicly post the project because the feature I'm developing is unreleased as well.

[2017-01-11 04:54] tizmagik commented on #1647
That's awesome, thanks @klamping !

[2017-01-11 10:06] elimence opened #1810 "Error: Couldn't connect to selenium server"
I came across this project recently and I'm trying to use it to fetch a dynamic page rendered by javascript. Here's the code
[code]

The thing is this worked before, but all of a sudden without any reason as far as I can tell, I begin to get the following error

[code]

Maybe I'm missing something, does the code require a connection to a selenium server to run? Why did it run the first time?

## E

[2017-01-11 12:57] monolithed commented on #1810
Have you started the selenium server?

### package.json

[code]

### wdio.local.config.js

[code]

[code]

If you are not going to use `wdio-selenium-standalone-service` (CI way):

### wdio.local.config.js

[code]

[code]

Open another window in your terminal and type the following command:

[code]

[2017-01-11 14:58] christian-bromann commented on #1810
@elimence as @monolithed mentioned make sure you run a phantomjs server. Only requiring it isn't enough. If you use webdriverios testrunner you can use the selenium standalone service which makes it pretty easy.

Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_cont

[2017-01-11 14:58] #1810 closed

[2017-01-11 21:27] tiffon commented on #1804
Hey, nice, definitely improved, but TBH I think the awesomeness of webdriver.io / wdio is still not fully presented. I'll see if I can work something up and run it by you.

Thanks for the great work on webdriver.io.

[2017-01-11 21:27] unformatt commented on #1790
In afterTest, how can you tell a test failed? How can you inspect anything about the current test? I've tried to just get the description of the current test and couldn't figure out how.

[2017-01-11 22:55] alexhgian commented on #1480
I'm also getting this issue with the testrunner mode when encounter a stale element. In my case, I have a css dropdown box that I'm looping through. The error is failing silently unless I wrap the following code in a try catch.

[code]

[2017-01-12 06:06] kevinmcdonnell opened #1811 "`Cannot read property 'ELEMENT' of null` when using page objects."
## The problem

I get `Cannot read property 'ELEMENT' of null` when using page objects.

## Environment

* WebdriverIO version: v4.6.1
* Node.js version: v4.6.1 (same as wdio ;))
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio
* if wdio testrunner, running synchronous or asynchronous tests: sync
* Additional wdio packages used (if applicable):
    "wdi

[2017-01-12 14:07] jakubzitny opened #1812 "Update request to latest version where node-uuid is updated to uuid"
When installing latest version of `webdriverio`, NPM warns about `node-uuid` being deprecated. You have it in older version of `request` dependency.

Let's upgrade `request` to the latest version where `uuid` is OK.

I will send a PR.

[2017-01-12 18:34] rochdev commented on #1811
I am having the same error on WebdriverIO 4.6.1 and Node 6.5.0.

In my case, the following works:

[code]

While this doesn't:

[code]

Event simply replacing `browser.element('.query input')` by `browser.element('.query').element('input')` in the working example actually makes it fail.

[2017-01-12 19:32] #1812 closed

[2017-01-12 23:53] kevinmcdonnell commented on #1811
The following provides a reproducible example of one scenario I am seeing the issue.
Test:
[code]
Page Object:
[code]

[2017-01-13 04:06] kevinmcdonnell commented on #1796
@Filipoliko did you have any success with this?

i want to do a similar thing, and am having the same issues

[2017-01-13 07:01] lancecarlson opened #1814 "Allow harmony flag in mochaOpts"
## The problem

I want to use async/await in my specs (which the latest version of node supports with the harmony flag). I tried to set harmony: true inside of my wdio.conf.js file under mochaOpts but that didn't seem to do anything. Looking through cli.js I wasn't sure how flags proxy through to mocha options, but it seems like bool flags should be easy to set?

## Environment

* WebdriverIO vers

[2017-01-13 12:12] monolithed commented on #1814
I don't know a right way how this could be implemented, maybe:

[code]

[code]

I'm not sure we need it, but probably you can fix it yourself.

[2017-01-13 12:14] NiGhTTraX opened #1815 "getAttribute crashes when selecting multiple elements that don't have the attribute set"
## Environment

* WebdriverIO version: 4.6.1
* Node.js version: 6.6.0
* wdio test runner
* synchronous tests

## Code To Reproduce Issue

[code]

[code]

crashes with

[code]

[2017-01-13 12:14] NiGhTTraX commented on #1815
The problem is actually in `wdio-sync` https://github.com/webdriverio/wdio-sync/issues/43.

[2017-01-13 13:45] monolithed opened #1816 "Unexpected test names"
## The problem

[code]

[code]

We must keep the original name.
For example, I use these names for navigation (in Jenkins and Bamboo) between my issues in JIRA.

[2017-01-13 17:00] christian-bromann commented on #1816
duplicate of webdriverio/wdio-junit-reporter#22

[2017-01-13 17:00] #1816 closed

[2017-01-13 17:01] christian-bromann commented on #1815
closing this then

[2017-01-13 17:01] #1815 closed

[2017-01-13 17:07] christian-bromann commented on #1814
In your wdio config do
[code]
[code]

[2017-01-13 18:51] lancecarlson commented on #1814
@christian-bromann No, I had that config in there as I thought that was the obvious move. It didn't do anything though. Did you test this on your end and did it work? That flag doesn't work for me.

[2017-01-14 08:14] elimence commented on #1810
@christian-bromann Noted, will use gitter next time.
@monolithed Thanks, I'm using heroku though, wasn't sure I could use the standalone server there, can I?
I used the following:
[code]
and it works now, but is awfully slow.
I'm going to try again with your suggestions, hopefully that works better.
Thanks

[2017-01-14 20:33] ResolverJay commented on #1796
Anyone has an answer or solution to the original question?

@monolithed did you try this code yourself?
[code]

It doesn't click the element with `browser.element('#submit').lazyClick();` (though it doesn't give error).

If do the same for `click()` or `setValue()` (instead of `leftClick()`), it gives me error like `selector needs to be typeof `string``.

In addition, if you check `this` in a cust

[2017-01-16 14:44] mynoheart commented on #1493
I have similar problem.
Html:
[code]
JS:
[code]

Right way for select elements with class in http://stackoverflow.com/a/34779105

[2017-01-16 17:56] christian-bromann commented on #1493
@mynoheart this is also expected, if you use the `$$` command it will fetch all elements with `"Text"` in it

[2017-01-16 18:01] mynoheart commented on #1493
@christian-bromann text equal, yes, but classes different.

Selector ```javascript $$('.container*=Text'); ``` shouldn't return element with text "Text" AND class ".container"?

[2017-01-16 19:18] christian-bromann commented on #1493
Yes you're rigth

[2017-01-16 21:58] brianjoyner opened #1818 ".getCssProperty + z-index returning null in IE11"
## The problem

.getCssProperty(element,'z-index') is returning null in IE11.  Other browsers are returning values as expected.

I've tried this with a variety of elements and the results are the same.

## Environment

* WebdriverIO version: 4.6.1
* Node.js version: 6.9.2
* Using wdio testrunner and asynchronous tests

## Details

## Link to Selenium/WebdriverIO logs

Results from Chrome and Resul

[2017-01-16 23:48] diegoCruz1991 opened #1819 "Tests fails using reload() method"
## The problem

I'm using WebDriverIO with the test runner to execute tests that are inside a loop, this is why I need to execute some scenarios with different accounts and during the process I'm setting cookies and the method reload() is what I need. During the execution, it fails with this error "Error: Don't call the 'init' command when using the wdio test runner. Your session will get initiali

[2017-01-17 01:43] christian-bromann commented on #1819
Can you provide a reproducible example that I can run on my machine?

[2017-01-17 04:01] mynoheart commented on #1493
But selector now return two elements and this all the same not expected behavior?
Because class ".container" and ".container-sub" different.

You watch link in my previous message (from stackoveflow)?

[2017-01-17 09:22] Kosta19 opened #1820 "WaitForVisible command doesn't work as expected"
This works
[code]
This does not work
[code]
Here is an error: Unable to locate element, see screenshot  http://i.dcodeit.net/zalutsky/i/cmd_2017-01-17_11-10-26.png

## Environment
My environment http://i.dcodeit.net/zalutsky/i/cmd_2017-01-17_11-21-30.png:
* wdio runner:

## Details

Something wrong with waitForVisible and using it in page objects

[2017-01-17 09:33] monolithed opened #1821 "Exclude "before all" hook"
![img-2017-01-17-12-26-15](https://cloud.githubusercontent.com/assets/803674/22014747/36e1b33c-dcb0-11e6-8309-5e78e97e15b3.png)

I know there were some fixes before as well for this type of issue.... let's finish.
it's really hard to analyze test reports.

[2017-01-17 10:55] monolithed opened #1822 "Support waitforTimeout in executeAsync"
## The problem

[code]

I propose to use `browser.timeouts('script', browser.options.waitforTimeout);` by default.

[2017-01-17 13:39] ewanharris opened #1823 "Parameters link on http://webdriver.io/guide/testrunner/gettingstarted.html is incorrect"
## The problem

The certain parameters link in http://webdriver.io/guide/testrunner/gettingstarted.html#Run-the-test-runner-programmatically is incorrect due to added lines in the code

## Environment

* WebdriverIO version: N/A
* Node.js version: N/A
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): N/A
* if wdio testrunner, running synchronous or asynchrono

[2017-01-17 15:56] monolithed commented on #1643
![img-2017-01-17-18-22-35](https://cloud.githubusercontent.com/assets/803674/22026480/fa1600ac-dce1-11e6-9ad3-b88c6f655fc6.png)

![img-2017-01-17-18-27-22](https://cloud.githubusercontent.com/assets/803674/22026700/a3b22cee-dce2-11e6-90be-60c057a96920.png)

@christian-bromann, there is some information:

When we run 1000 tests, we open 1000 tcp connections and make a queue in our Grid.
The Grid us

[2017-01-17 16:24] diegoCruz1991 commented on #1819
Sure, I cannot give you the code that I'm using right now because all the data is inside a database, but I can  develop an example using the same process and hardcoded data

[2017-01-17 17:02] christian-bromann commented on #1819
Perfect 👌  .. it just helps tremendously to have something reproducible on my site

[2017-01-17 17:09] #1823 closed

[2017-01-17 17:11] christian-bromann commented on #1822
I don't see why having that line in the before hook of your wdio config can be a pain. These are two different timeouts and shouldn't be synced by default.

[2017-01-17 17:11] #1822 closed

[2017-01-17 17:12] christian-bromann commented on #1821
any contribution is highly appreciated

[2017-01-17 17:12] #1821 closed

[2017-01-17 17:14] christian-bromann commented on #1820
Please make sure that the element you are looking for exists on the page by using waitForExist.

[2017-01-17 17:14] #1820 closed

[2017-01-17 17:14] christian-bromann commented on #1820
Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2017-01-17 17:17] christian-bromann commented on #1808
This is due to Selenium limitations. It will be improved once the [action API](https://www.w3.org/TR/webdriver/#actions) landed in all the browser driver. WebdriverIO will provide proper commands once that happened.

[2017-01-17 17:17] #1808 closed

[2017-01-17 17:17] christian-bromann commented on #1818
Have you tried `zIndex` in IE?

[2017-01-17 17:20] christian-bromann commented on #1775
@wvankuipers when the page reloads all element references are dead and have to be refetched. I can imagine that waitForVisible is still looking for element 1 even though that element doesn't exist anymore. Any updates on this?

[2017-01-17 17:21] christian-bromann commented on #1811
@kevinmcdonnell can you please update your wdio-mocha-framework?

[2017-01-17 19:05] monolithed commented on #1822
I didn't know about that. I'll try, thanks!

[2017-01-17 20:35] brianjoyner commented on #1818
@christian-bromann That appears to expand the issue.

Both IE11 and Edge fail when I seek zIndex rather than z-index.

[2017-01-18 07:58] wvankuipers commented on #1775
@christian-bromann That was what I was thinking as well, so a new waitFor process is started, the first one fails since the element reference is gone and the second one will resolve. It should be fixed, but unfortunately I didn't had the time to look into it.

[2017-01-18 15:47] skortch opened #1827 "can use $$ command in REPL but not in a script."
## The problem

When I use the $$ command in the REPL interface it works fine.
but when I use code like
$$('nav a')[2].getText()

in a script file when I execute it I get an error message

can not get property of undefined.

I am using an older version of selenium, but repl uses it and the command works fine in repl.

## Environment

* WebdriverIO version: 4.6.1
* Node.js version: 6.9.4
* [Standal

[2017-01-18 17:12] christian-bromann commented on #1827
Make sure you are running the wdio testrunner and have the latest WebdriverIO and framework adapter package installed. The example on the [website](http://webdriver.io/) for example works.

[2017-01-18 17:12] #1827 closed

[2017-01-18 18:40] skortch commented on #1827
Hi thanks for the reply. So I need to use selenium with the wdio testrunner to use it.

Framework? If Selenium with wdio testrunner is not the framework what would it be then?

[2017-01-18 18:58] christian-bromann commented on #1827
The wdio testrunner is just a way how you can run tests on higher scale in a synchronous way. See [here](http://webdriver.io/guide/getstarted/modes.html) for more information.

[2017-01-18 20:52] kevinmcdonnell commented on #1811
👍 nice one

[2017-01-18 20:52] #1811 closed

[2017-01-18 21:44] bret opened #1828 "Unable to pass --mochaOpts.grep argument"
## The problem

I would like to tag specific test cases as smoke tests and only have those tests run with wdio.

I am using this command to use Mocha's --grep feature, but it is still running all the tests:

`./node_modules/.bin/wdio tests/browser/wdio.conf.js --mochaOpts.grep smoke`

## Environment

* WebdriverIO version: 4.6.1
* Node.js version: 6.9.2
* [Standalone mode or wdio testrunner](http:

[2017-01-19 00:52] jedwards1211 commented on #1435
This is apparently an issue with ChromeDriver marked as WontFix because they didn't have a repro:

https://github.com/seleniumhq/selenium-google-code-issue-archive/issues/2766

[2017-01-19 02:22] AlexandreBonneau opened #1829 "The event attribute `key` is not set correctly"
## The problem

I'm using webdriver.io to enter keys (via `browser.keys('2');` for instance) into a form input.

I found out that the `event.key` attribute is not correctly populated :
[code]

Entering `'2'` by hand does result in `e.key === '2'`, while when using webdriver.io, the `e.key` value is not recognized and set to `'Unidentified'`.

That's under Firefox 52.

## Environment

* WebdriverIO

[2017-01-19 07:28] kevinmcdonnell commented on #1435
@jedwards1211 without reading that long thread, i think that is a different issue `Element is not clickable at point`

The issue here is the logs don't report the selector which failed to click. I element not being clickable is expected, i just want to know the selector which was used to attempt the click

[2017-01-19 17:01] bret commented on #1828
User error - the framework i was using was actually using jasmine. sigh

[2017-01-19 17:01] #1828 closed

[2017-01-19 17:13] christian-bromann commented on #1829
Can you try a different browser? This is not an issue of WebdriverIO but a bug in the underlying browser driver. WebdriverIO only calls command based on the [Webdriver](https://www.w3.org/TR/webdriver/) protocol. Please file any issue in the geckodriver project. Thanks!

[2017-01-19 17:13] #1829 closed

[2017-01-19 17:44] jedwards1211 commented on #1435
@kevinmcdonnell oh, gotcha!

[2017-01-19 19:30] hackhat commented on #1609
I'm using await and I got only the message `Error` in the stack:

Code:

    try {
      await this.client.click(`...`);
    } catch (e) {
      console.log(`>>>1`, e); // >>>1 { Error message: 'unknown error: Element is...
      console.log(`>>>2`, e.stack); // >>>2 Error
      console.log(`>>>3`, e.message); // >>>3 unknown error: Element is not clickable at point (400, 162). Other element would

[2017-01-20 13:03] jesusMT opened #1830 ".click() action not always works fine in iOS simulator"
## The problem
When I run my tests in Android emulator, everything works fine, but when I run in iOS simulator, .click() action fails at many times.
## Environment

* WebdriverIO version: 4.4.0
* Node.js version: 6.9.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Addition

[2017-01-20 17:10] christian-bromann commented on #1830
@jesusMT

`still not visible after 2500ms` maybe increase waitfor timeout?

Sorry I have to close this. I don't see any issues with WebdriverIO here. Please join our
[![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for support. Try to use the debug command to see wh

[2017-01-20 17:10] #1830 closed

[2017-01-21 21:32] bstro opened #1833 "Typedefs are missing browser.windowHandleFullscreen()"
## The problem

Attempting to use `browser.windowHandleFullscreen()` in my tests but this method is not recognized by my type definitions (`"webdriverio": "registry:dt/webdriverio#4.5.0+20170118182327"`) and thus my code will not compile.

## Environment

* WebdriverIO version:
* Node.js version: v6.3.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio
*

[2017-01-21 22:47] mickaelperrin opened #1834 "Getpagesource alter embedded javascript"
Hi,

I use webdriver.io to run several actions on a test website and export the html page source.

I discovered today that the embedded JavaScript in script tags is altered. For examples, superior and inferior comparators are replaced by html entities `&lt;` and `&gt;`.

Is this a known issue ? Am I missing some configuration ? Does it exist some workaround ?

Thanks

[2017-01-22 21:15] christian-bromann commented on #1834
@mickaelperrin WebdriverIO just propagates the values it gets from the browser driver. It doesn't do any modifications to the code itself. You can easily search/replace all these entities.

[2017-01-22 21:15] #1834 closed

[2017-01-22 21:17] christian-bromann commented on #1806
@poorpaddy can you put an example together in a gist? It would help use to identify the issue if we can reproduce this ourself.

[2017-01-23 07:33] vercha opened #1835 "driver.isExisting() always return {state:pending}."
## The problem

I'm using wedriverio &  mocha to run a local test, the main code is as follows:
before:
driver
.url(url)
.then(setTimeout(done, 90000)); //wait js script execute

it('IMSDK test'):
console.log(driver.isExisting('.fail'))     //always be {state:pending}   element ‘.fail’ is generated by js script
if(driver.isExisting('.fail')) {     //do something }    //always execute
else{   //do

[2017-01-23 08:23] UrbaniseQA opened #1836 "waitForVisible on MAC uses ES6 and causes strange failures"
## The problem

My tests fail with timeout when I try to waitForVisible on MAC but waitForExist works fine.

## Environment

* WebdriverIO version: 4.6.1
* Node.js version: v6.9.1
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): WDIO
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Additional wdio packages used (if applicable):

[2017-01-23 10:30] andremarceloteixeira commented on #1751
I get this error

[chimp][helper] setupBrowserAndDDP had error
TypeError: Cannot read property 'trim' of undefined
    at sanitizeErrorMessage (/root/.nvm/versions/node/v7.4.0/lib/node_modules/chimp/node_modules/wdio-sync/build/index.js:190:34)
    at Object.<anonymous> (/root/.nvm/versions/node/v7.4.0/lib/node_modules/chimp/node_modules/wdio-sync/build/index.js:467:23)
    at initBrowser (/root/.

[2017-01-23 10:59] jesusMT commented on #1830
if you prefer I increase the time to 50000 ms --> https://gist.github.com/jesusMT/6a718d809c4d05b3e9da765220c24f68

Is not a time problem. If i put 50000 or 200000 the result its the same.

[2017-01-23 11:43] monolithed commented on #1751
@andremarceloteixeira, Do you have a reproducible example? I have not seen this problem for a long time.

[2017-01-23 12:58] mynoheart opened #1837 "setValue not use context element selector"
## The problem

```setValue``` not use context element selector when result "NoSuchElement"

## Environment

* WebdriverIO version: 4.6.1
* Node.js version: v6.9.1
* Wdio mode
* Running synchronous tests

## Example

page:
[code]

[code]

[2017-01-23 14:53] monolithed commented on #582
Maybe it would be interesting for someone how to implement `waitForUrl`:

[code]

[2017-01-23 17:07] christian-bromann commented on #1830
@jesusMT well in this case your element never became visible

[2017-01-23 17:34] christian-bromann commented on #1836
@UrbaniseQA sorry but the error is not due to es6 code. WebdriverIO gets compiled before it gets pushed to NPM. You are getting that error because your element is indeed not visible.

[2017-01-23 17:34] #1836 closed

[2017-01-23 17:36] christian-bromann commented on #1835
@vercha you seem to use WebdriverIO commands in a synchronous way which is only supported using the wdio testrunner. Please see http://webdriver.io/guide/getstarted/modes.html. Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questio

[2017-01-23 17:36] #1835 closed

[2017-01-23 17:36] christian-bromann commented on #1819
ping @diegoCruz1991

[2017-01-23 17:39] christian-bromann commented on #1818
@brianjoyner will have to close this. It is obviously an issue with the ie/edge driver. Please file an issue there. I would be happy to implement a workaround for ie and edge but it seems to not be able to receive this data at all.

[2017-01-23 17:39] #1818 closed

[2017-01-23 20:20] mmcculloch15 opened #1838 "test.only() function isn't working when using the Mocha TDD interface"
## The Problem

When using the Mocha TDD UI interface, tests cannot be singled out for execution by using the only() function.

## Environment

* WebdriverIO version: 4.6.1
* Node.js version: 6.6.0
* [Standalone mode or wdio testrunner] wdio
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Additional wdio packages used (if applicable):

## Details

Only the TDD UI see

[2017-01-24 09:13] jesusMT commented on #1830
@christian-bromann my element is perfectly visible in Android and the click() action works correctly in all cases. Why in iOS don't?. Sorry but I don't think that it's a timeout or visibility problem.

[2017-01-24 09:55] andremarceloteixeira commented on #1751
@monolithed  - Hello monolithed.... Yes , i running the chimp tests in firefox bowser....
# xvfb-run -s "-screen 0 1920x1080x24+32" /root/.nvm/versions/node/v7.4.0/bin/chimp  --browser=firefox  --jsonOutput=cucumber_report.json

node version : node -v
v7.4.0
npm -v
4.0.5
chimp -v
0.47.0

CC: @ErezSo (Expert java-script Developer.)

[2017-01-24 15:23] AKFourSeven commented on #1516
I am having the same issue, the test occasionally works but most of times fails with the exit code 1 but never stating the error encountered.

[2017-01-24 16:27] orloffv commented on #1775
I have the same problem

[2017-01-24 16:56] domgolonka opened #1840 "getText and PhantomJS sometimes not working"
Hello, I used chrome and getText was working fine. I tried using it on PhantomJS and sometimes it doesn't get the text.

 [17:51:18]  COMMAND	GET 	 "/wd/hub/session/52e97d30-e255-11e6-aebd-    8153ecfed322/element/:wdc:1485276678098/text"
 [17:51:18]  DATA		{}
 [17:51:18]  COMMAND	POST 	 "/wd/hub/session/52e97d30-e255-11e6-aebd-8153ecfed322/element"
 [17:51:18]  DATA		{"using":"css selector","valu

[2017-01-24 16:59] christian-bromann commented on #1840
I don't think this is an WebdriverIO issue. Look at the selector you've passed in: `[data-index="undefined"]`. I would recommend to use the [wdio testrunner](http://webdriver.io/guide.html#Let’s-get-serious) to get rid of promise based command execution as it might be some kind of racing condition that is failing the test.

[2017-01-24 16:59] #1840 closed

[2017-01-24 17:50] christian-bromann opened #1841 "Deprecate jsonwire command"
## The problem

The keys protocol command is not part of the Webdriver spec and should be removed. It already is not supported by Geckodriver anymore, throwing an error:

Let's throw a more meaningful error for 4.7.x and completely remove it `v4.8.x`

[2017-01-24 21:40] monolithed commented on #1841
Let's remove other commands are not part of the Webdriver spec. 😄

Did you mean warning?

If you know, the `keys` is a native event and cannot be implemented using `EventTarget.dispatchEvent`.
We cannot emulate user input (try to create an element with `contenteditable="true"` and call `dispatchEvent` with Enter code, then press or call the `key` command and compare your results).

What is the alt

[2017-01-25 10:54] monolithed opened #1842 "Show more informative stack trace"
## The problem

**test.js**

[code]

**page.js**

[code]

## Actual

[code]

## Expected

[code]

## assert

[code]

[code]

## throw

[code]

[code]

## webdriverio api

[code]

[code]

## Environment

* WebdriverIO version: 4.0.0-4.6.2
* Selenium version: any
* Node.js version: 6-7
* Mocha version: 2-3

## Code To Reproduce Issue

[__test__.zip](https://github.com/webdriverio/webdriverio/files/7

[2017-01-25 14:35] mynoheart opened #1843 "isVisibleWithinViewport returned array of values"
## The problem

```isVisibleWithinViewport``` if selector returned one element, then ok.
But if multiple then array of values.

## Environment

* WebdriverIO version: 4.6.1
* Node.js version: v6.9.1
* Wdio mode
* Running synchronous tests

## Example
[code]

[2017-01-25 15:31] stsvilik commented on #1708
I have the same issue running test on SauceLabs. The executeAsync doesn't work even if you execute done right away.
[code]

[2017-01-25 16:41] christian-bromann commented on #1843
This is expected. See also #1762

[2017-01-25 16:41] #1843 closed

[2017-01-25 16:42] christian-bromann commented on #1708
@stsvilik without any stacktrace or more details it is hard to say why they don't work as expected

[2017-01-25 17:15] mynoheart commented on #1843
Thanks.

[2017-01-25 21:34] amilajack commented on #1294
Was anyone able to resolve this?

[2017-01-26 07:46] lewisf opened #1844 "Better document after hook()"
## The problem

Better document the arguments of hooks (particularly the after hook) to facilitate the writing on services.

## Environment

* WebdriverIO version: 4.6.2
* Node.js version: 6.7
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html):
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Additional wdio packages used (if appli

[2017-01-26 16:55] christian-bromann commented on #1844
Yes, feel free to send a PR

[2017-01-26 16:55] #1844 closed

[2017-01-26 18:42] stsvilik commented on #1708
@christian-bromann Yes, you're right, I'm sorry. Before I start pasting that, I need to mention that I managed to make everything run on SauceLabs by switching to Safari 9.0 instead of 10, so this issue appears to relate only to Safari 10 driver.

Here is the response from SauceLabs (and executeAsync is the same one I mentioned previously):
[code]

[2017-01-26 18:47] alexkirmse opened #1847 "Using isVisibleWithinViewport() on an individual item from a $$ selector references parent selector"
## The problem

When trying to run isVisibleWithinViewport() on an individual item from a $$ selector, it refers to the parent selector and not the individual selector, therefore returning an array rather than the individual item. See code example on how to reproduce. isVisible(), getText(), getCssProperty() works as expected but isVisibleWithinViewport() is different.

(perhaps related to https:/

[2017-01-26 19:11] tiffon opened #1848 "Trigger the debug repl via a signal (e.g. ctrl-c but not) during a test"
## The problem

This is not a problem, it is a feature request / suggestion. Let me know if there is a better channel for a suggestion like this.

## Environment

* WebdriverIO version: **4.5.0**
* Node.js version: **v6.7.0**
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): **wdio**
* if wdio testrunner, running synchronous or asynchronous tests: **synchrono

[2017-01-26 19:14] christian-bromann commented on #1848
Interesting idea. I doubt we can use ctrl+c for that tho

[2017-01-26 19:34] tiffon commented on #1848
@christian-bromann lol, yeah, definitely not ctrl-c, but one of those POSIX signals might fit the bill :)

[2017-01-28 08:33] s7dhansh opened #1849 "How can I disable javascript in chrome?"
I would like to test my website when javascript is disabled. How can I do that?

[2017-01-28 08:39] s7dhansh commented on #1849
Found it:
[code]

[2017-01-28 08:39] #1849 closed

[2017-01-29 04:45] NickBusey commented on #1751
I am seeing the same error, same versions as @andremarceloteixeira except chimp 0.47.1.

[2017-01-30 15:23] rahulmr commented on #902
Hello @BlindChickens and @christian-bromann , will this work on appium native app?
@BlindChickens could you please post the code which you are using?

In my case, I am trying to run tests on 4.2.2 so resourceId is not going to work. My development guys say adding content-desc itself to every screen might be a sort of mini-project.

So I was thinking of using xpath as a rescue.
[code]

What I want

[2017-01-30 22:11] rcalabro opened #1851 "Change the browser language automatically"
Hi,

Is there any way to change the browser language automatically?

i.e. I want to test if my localized application is loading the correct content according to browser language.

Thanks,
Renato Calabro

[2017-01-30 22:13] christian-bromann commented on #1851
I guess not. This has to be set when the browser spawns (so probably in the capabilities). In Chrome you might be able to switch it in the settings tho. Feel free to join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not

[2017-01-30 22:13] #1851 closed

[2017-01-31 16:30] freeman-g opened #1852 "wdio config fails on selenium/standalone-firefox docker image"
## The problem

I'm trying to extend the selenium/standalone-firefox docker image a little bit to run tests via webdriverio, but I get errors using wdio config.

## Environment

* WebdriverIO version: `v4.6.2`
* Node.js version: `v4.2.6`
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html):  `wdio testrunner`
* if wdio testrunner, running synchronous or asynchron

[2017-01-31 17:58] christian-bromann commented on #1852
This is not an issue with WebdriverIO. Try to install the `wdio-dot-reporter` package manually. Seems that the docker container doesn't allow to install npm packages. Either `npm-install-package` faults or an issue with the configuration of the container.

[2017-01-31 17:58] #1852 closed

[2017-01-31 18:52] freeman-g commented on #1852
Thanks for responding.  I had installed webdriverio itself via npm succcessfully in the Dockerfile.  Then I was testing some more things and trying to `npm install wdio-dot-reporter` directly in the container.  This didn't work and got the cross-device link error.

So I went back and installed wdio-dot-reporter and wdio-mocha-framework in the Dockerfile and this works:

[code]

[2017-02-01 00:01] marekj opened #1853 "browser.element(selector).hasFocus() executes with null args and returns always false"
## The problem

[code]

## Environment

* WebdriverIO version: 4.6.2
* Node.js version: 6.9.4
* Both Standalone mode AND wdio testrunner (sync and async)
* Additional wdio packages used (if applicable): `wdio-mocha-framework`

## Details

tests for repro here:
https://gist.github.com/marekj/81c89e3d30ff5505e656b0bf603ab8de

See selenium logs.
Notice the payload inclues `"args":["#review-email"]` s

[2017-02-01 00:12] thawk55 opened #1854 "alertDismiss crashes browser for alerts"
## The problem

When the browser has an alert displayed, running `browser.alertDismiss()` crashes the browser instead of clicking 'ok'.

## Environment

* WebdriverIO version: 4.6.2
* Node.js version: 5.6.0
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): Standalone
* if wdio testrunner, running synchronous or asynchronous tests: synchronous
* Additional wdi

[2017-02-02 01:31] GeoffreyBooth commented on #1581
The http://webdriver.io/ homepage describes the project as “Selenium 2.0 bindings for NodeJS”. Is Selenium 3.0 supported? If so, why not mention that fact?

[2017-02-02 02:09] aljones15 commented on #1736
I had the same issue increasing the time allotted to each step solved it. It should be in wdio.conf.js in the cucumber section

cucumberOpts: {
        require: ['./features/step-definitions'],        // <string[]> (file/dir) require files before executing features
        backtrace: false,   // <boolean> show full backtrace for errors
        compiler: [],       // <string[]> ("extension:module")

[2017-02-02 02:10] christian-bromann commented on #1581
@GeoffreyBooth good catch, I will have to update this. Selenium 3 is the same as Selenium 2.0 besides that fact that there are new commands. Starting with Selenium 4 a bunch of commands from Selenium 2 will be depcrecated

[2017-02-02 09:09] christian-bromann opened #1856 "Test ticket from Code Climate"

[2017-02-02 14:20] #1856 closed

[2017-02-02 14:21] christian-bromann commented on #1842
This issue was moved to webdriverio/wdio-sync#45

[2017-02-02 14:21] #1842 closed

[2017-02-02 14:22] christian-bromann commented on #1853
Let's continue convo in #1855

[2017-02-02 14:22] #1853 closed

[2017-02-02 14:23] christian-bromann commented on #1819
Closing due to inactivity

[2017-02-02 14:23] #1819 closed

[2017-02-02 21:13] jliebrand opened #1857 "wdio.conf does not connect; direct connect does work"
I can't seem to get wdio.conf correctly setup for crossbrowsertesting.com. When I use the following, it works:

[code]

But when I try to achieve the same using wdio.conf, it throws an error saying it can't connect to the selenium server:

[code]

The error I get is:

[code]

[2017-02-03 18:41] ohheyitsjeffrey opened #1858 "Multiremote configuration stops wdio visual regression service from recognizing compare method in wdio.conf.js"
## The problem

When wdio.conf.js is configured for multiremote, it no longer recognizes visual regression service's compare in wdio.conf.js

## Environment

* WebdriverIO version: 4.6.2
* Node.js version: 6.9.4
* wdio testrunner
* if wdio testrunner, running synchronous or asynchronous tests: sync
* Additional wdio packages used (if applicable): wdio-visual-regression-service

## Details

I am tr

[2017-02-03 19:13] christian-bromann commented on #1858
There is no reason to run visual regression tests in multiremote mode. Multiremote tests are for testing chat applications where multiple actors are required. Besides this is something that the visual regression service has to support.

[2017-02-03 19:13] #1858 closed

[2017-02-04 17:27] jliebrand commented on #1857
Found the problem after adding a bit of logging. Although the documentation claims the default protocol is http:
protocol

Protocol to use when communicating with the Selenium standalone server (or driver).
Type: String
Default: http

As it turns out, it was trying to use https. Adding the protocol: 'http' to the conf file works.

It might be a good idea to actually spit the URL it is attempting t

[2017-02-04 20:21] monolithed commented on #1857
That's true.
I can not reproduce your problem. Here is my settings for remote hub:

[code]

I can assume the problem with your port.

[2017-02-05 17:01] christian-bromann commented on #1857
@jliebrand thanks for creating the issue. Apparently WebdriverIO detects SauceLabs as Selenium backend if you apply user any key to your config. I fixed the issue.

[2017-02-05 17:02] #1857 closed

[2017-02-05 17:19] christian-bromann commented on #1838
@mmcculloch15 I was not able to reproduce this. I downloaded the gist and ran it with success. Please let me know if you have any more information. I would be happy to reopen this issue if it turns out to be a bug in WebdriverIO.

[2017-02-05 17:19] #1838 closed

[2017-02-06 20:21] pavel06081991 opened #1859 "webdriverio seems not working"
It is my first time when I use webdriverio. I used code from your documentation:

[code]
But nothing happens. Chrome browser is not opened and I see nothing in console. I also tried firefox, but the same result.
I'm using windows 8, node v6.5.0, npm v4.1.2

[2017-02-06 20:23] christian-bromann commented on #1859
@pavel06081991 make sure you have a selenium standalone server running. Check out this step by step tutorial: http://webdriver.io/guide.html

Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2017-02-06 20:23] #1859 closed

[2017-02-07 10:49] anupmanekar opened #1860 "How to get global browser object?"
## The problem
I am not using wdio test runner but gauge bdd tool. As I understand from docs, global browser object is only available in wdio test runner. Is there any other way to get this object? The problem is I am creating page objects and need to maintain global browser instance so as to construct page objects with that browser. But if this is available, maintenance of global browser will not

[2017-02-07 10:55] christian-bromann commented on #1860
I don't know how the gauge bdd tool integrates WebdriverIO. The browser object is a WebdriverIO instance. The wdio testrunner assigns that instance to the global scope so it is available in the spec files. You should ask the gauge bdd tool contributors how to access the WebdriverIO instance.
Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdrive

[2017-02-07 10:55] #1860 closed

[2017-02-07 12:21] pathriks opened #1861 "Unable to determine the orientation of the iOS application under test"
Hi,

I am trying to retrieve the orientation of an iOS application under test using the WebDriverIO test scripts. _(The application under test is expected to remain in PORTRAIT mode though the device is rotated to LANDSCAPE mode.)_
I am setting the device to LANDSCAPE mode using the _browser.setOrientation_ API. However, there are no specific APIs to retrieve the application orientation, the _brow

[2017-02-07 13:40] christian-bromann commented on #1861
This can't be fixed in WebdriverIO. Please create an issue in the Appium project.

[2017-02-07 13:40] #1861 closed

[2017-02-07 14:13] pathriks commented on #1861
@christian-bromann

I understand this cannot be fixed in WebdriverIO currently.
Would you please let me know if there is a way to inject the Instruments code in the WebdriverIO based test script?

[2017-02-07 14:15] christian-bromann commented on #1861
I am not sure if you can execute Instruments code with Selenium, I doubt it. You should ask the Appium people.

[2017-02-07 14:26] pathriks commented on #1861
@christian-bromann
Thank you. However, I have used Appium Java clients where in, we inject this kind of Instruments based snippets directly in our test scripts for scrolling elements. Hence, I asked if such a thing is possible in WebdriverIO.

[code]

If you have any update on this, please do let me know here.
However, I will also raise a support request in Appium forums.
Thanks.

[2017-02-07 14:29] christian-bromann commented on #1861
If you can run this in Java you should be able to run it in WebdriverIO too with `browser.execute`.

[2017-02-07 14:39] pathriks commented on #1861
Great!! Thanks for the update.
I tried and currently seeing this error, I will work on it and update here if I find a fix.
If you found anything that is obviously causing this error that would fix, please let me know.

## **Code:**
[code]

## **Error Log:**
[code]

[2017-02-07 14:43] christian-bromann commented on #1861
@pathriks this probably will only work in native context, so make sure to switch to that

[2017-02-07 14:50] pathriks commented on #1861
@christian-bromann Thanks! That was such an overlook from my side. It did work when I switched to native view.

[2017-02-07 20:58] aagrawalQB commented on #1419
Hi I am facing issue with moveToObject on safari. It does not work at all? any work around it ?

[2017-02-09 01:58] tauheedkhan commented on #1055
@tapanbasak can you post your solution, I am also facing the same problem

[2017-02-09 10:35] monolithed opened #1863 "Revert Enter for browser.debug"
It would be nice to replace Ctrl+C with Enter for `browser.debug()`.
First of all, it's needed for backwards compatibility. The second reason is a usability issue. After these changes we can not use Grunt and other tasks managers, because of `Ctrl+C === process.exit`.

[2017-02-09 13:56] christian-bromann commented on #1863
This doesn't really break your test. `browser.debug` opens a repl interface where you use Enter to submit your command call.

That's why you can enter `.exit` as well to close the repl.

[2017-02-09 13:56] #1863 closed

[2017-02-09 14:52] monolithed commented on #1863
@christian-bromann, what do you think about some correction:
`(To exit, press ^C again or type .exit)`  -> `(To continue, press ^C again or type next)` ?

`next` is a standard name for similar commands in [gbd](http://ftp.gnu.org/pub/old-gnu/Manuals/gdb/html_node/gdb_37.html), [node](https://nodejs.org/api/debugger.html#debugger_command_reference) an so on.

[2017-02-09 14:54] christian-bromann commented on #1863
This doesn't really reflect what happens. I think `.exit` is a good label to "exit" the repl

[2017-02-09 16:55] monolithed opened #1865 "The forked child processes are not closed correctly"
The problem is that forked child processes are not closed correctly when parent was killed. Also I see these zombie processes eternally on my servers (unfortunately, this problem affects me not only locally).

The screencast:

![swidpgvysa](https://cloud.githubusercontent.com/assets/803674/22793663/81e5cea0-ef01-11e6-9416-e1af084abff5.gif)

I have tried to make a fix before, but I had failed  :(

[2017-02-09 18:00] christian-bromann commented on #1865
To fix the issue we need to tell the launcher to not spawn any new processes after CTRL+C was emitted

[2017-02-09 18:37] poorpaddy commented on #1806
I plan on having something for you within the next 24yrs.

[2017-02-09 22:36] dahngeek commented on #1341
For someone who is searching the answer, as of 2017, I've been able to use a proxy in phantomjs with my capabilitie like:
`{ browserName: 'phantomjs',
      "proxy": {
        "proxyType":"MANUAL",
        "httpProxy":"HOST:PORT"
      }
    }`

[2017-02-09 23:04] andrewheppner opened #1866 "Flaky test not being rerun using Jasmine"
We are trying to have our flaky tests rerun if they fail in our test suite, but to date we have not been able to get this going. Is this not supported in standalone mode?

an example test would be:

[code]

if we set an assertion say from true to false in order to get a failure, we are not seeing this test run again.

We are running this using gulp:

gulpfile.js
[code]
Here is our package.json
`

[2017-02-09 23:07] christian-bromann commented on #1341
@dahngeek awesome! Thanks for letting us know. Closing.

[2017-02-09 23:07] #1341 closed

[2017-02-10 10:05] monolithed commented on #1865
@christian-broman, I've already tried something like:

[code]

The same result (

[2017-02-10 12:46] Danter7 opened #1867 "waitForExist and waitForVisible after $"
## The problem

`
$(selector).waitForExist()
$(selector).waitForVisible()
`

We have 2 problems here:

1. It will never success, because it will never refetch element from page.
2. `TypeError: Cannot read property 'selector' of undefined` after fail

## Environment

* WebdriverIO version: 4.5.2
* Node.js version: 7.5.0
* Standalone

## Details

We use WebdriverIO with tape-async like so:
`
yield d

[2017-02-10 13:15] christian-bromann commented on #1867
In standalone mode we can not really provide that syntax style as in wdio testrunner mode. So instead of running:

[code]

do

[code]

Element as first citizen really only works in wdio testrunner context. In standalone mode `driver.$(selector)` returns a rejected promise and propagates the rejected promises to the chain. I would recommend to switch over to use the testrunner or pass in the select

[2017-02-10 13:15] #1867 closed

[2017-02-11 00:51] lf94 commented on #1431
Got bit by this one...

[2017-02-11 13:22] AndyBarnett opened #1868 "geckdriver"
## The problem

Your readme says "3. Download the latest version geckdriver". I assume you mean geckodriver

[2017-02-11 14:24] #1868 closed

[2017-02-11 15:53] macrozone opened #1869 "element.waitForExist(selector) returns true even if the selector does not exist on the element"
I have this situation:

[code]

Given that #mainNav exists and does not contain a link /de/profile i would expect webdriver to log

[code]

but instead it logs
[code]

So I assume that element.waitForExist does ignore the given selector

chimp 0.47.1

[2017-02-11 17:38] magp3 commented on #1751
Also getting this running 0.47.1 and node: 7.4.0. I don't get the issue when running node 4.7.3.

[2017-02-12 17:29] #1869 closed

[2017-02-12 17:30] christian-bromann commented on #1869
@macrozone thanks for submitting the issue. I fixed the bug and will release it with the next version.

[2017-02-12 17:38] christian-bromann commented on #1866
Not reproducible. You are saying that you are using `Standalone Mode` but you have defined a gulp-webdriver task which uses wdio testrunner. However I was not able to reproduce this. Please send me a mini project that demonstrates this behavior.

[2017-02-12 17:38] #1866 closed

[2017-02-12 17:46] #1865 closed

[2017-02-12 17:46] christian-bromann commented on #1865
@monolithed actually your solution should fix the problem

[2017-02-12 17:50] christian-bromann commented on #1854
@thawk55 thanks for submitting the issue. I was able to reproduce this. However this can't be fixed in WebdriverIO and has to be tackled in the browser driver (e.g. chromedriver).

[2017-02-12 17:50] #1854 closed

[2017-02-12 18:09] christian-bromann commented on #1848
I was able to get this running within the afterCommand hook. You can make your own service or have this in your wdio.config:

[code]

[2017-02-12 18:09] #1848 closed

[2017-02-12 18:13] christian-bromann commented on #1841
Agree, I would even say let's make a majore release (v5) that only supports Webdriver commands defined in the spec. For that we need to wait until it is finalised which happens when at least two driver have implemented it.

Yeah

I guess this is the alternative.

[2017-02-12 18:16] christian-bromann commented on #1837
What actually happens when you execute
[code]
?

This should do nothing. SetValue only executes an action on one single element. Only get commands can get you information about multiple elements. Action commands however only do the action one a single command.

[2017-02-12 18:21] mynoheart commented on #1837
This "value" will be set to all input's in DOM.

[2017-02-12 18:28] christian-bromann commented on #1837
True

[2017-02-12 18:30] mynoheart commented on #1837
Yes :-(.
Thanks you very much for beautiful testing instrument.
Feature with sync tests mega super.

[2017-02-12 21:11] #1837 closed

[2017-02-12 21:11] christian-bromann commented on #1837
Fixed issue, will be released with next version.

[2017-02-12 21:19] christian-bromann commented on #521
I gonna close this one. I don't see this being fixed in WebdriverIO.

In web context you don't need to scroll at all to interact with an element. If your app listens on the scroll position and actually modifies elements due to scrolling (like on parallax pages) you can just click on an element to bring it into the viewport.

In native context you can use the [touchAction](http://webdriver.io/api/m

[2017-02-12 21:19] #521 closed

[2017-02-12 21:22] christian-bromann commented on #838
Closing this. Not finding an element is not necessary considered an error anymore. Even though the spec tells differently:

It should still be possible to wait on elements as described above.

[2017-02-12 21:22] #838 closed

[2017-02-12 21:25] christian-bromann commented on #1170
I think this is something that needs to be fixed in the chromedriver project.

[2017-02-12 21:25] #1170 closed

[2017-02-12 21:27] christian-bromann commented on #1390
@DavidFrahm thanks for sharing the solution.

[2017-02-12 21:27] #1390 closed

[2017-02-13 08:08] tiffon commented on #1848
Awesome, thanks!

[2017-02-13 11:47] rikkertkoppes commented on #1796
as far as I can see, `element.addCommand` is not even a function. There is only `browser.addCommand`

[2017-02-13 15:37] gavin-johnson84 opened #1870 "Errors shown in test output"
## The problem

I'm receiving the following errors after running a test, I'm unsure wherever or not it's a setup issue or a code problem:
[code]
I've installed the tap module, this has removed the errors above, but I don't see why I need to install another test runner in order to remove the errors displayed.

## Environment

* WebdriverIO version: `4.6.2`
* Node.js version: `v7.2.1`
* [Standalone

[2017-02-13 16:01] thawk55 commented on #1854
@christian-bromann I figured that could be the case. Thanks for looking at it though.

[2017-02-13 16:22] christian-bromann commented on #1870
Not sure what this is, seems to be an issue of a node module called `asn1`. This seems not to be WebdriverIO related. Not sure where the error comes from. Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necess

[2017-02-13 16:22] #1870 closed

[2017-02-13 16:26] D7Torres opened #1871 "Is it possible to use multiple --tags arguments when running Cucumber?"
I am using an `cucumberOpts` in my configuration file, one of its properties is `tags`.

In Cucumber you can use
* `cucumber --tags @one,@two` which will run the scenarios with tags @one AND @two
* `cucumber --tags @one --tags @two` which will run the scenarios with tags @one OR @two

However, using a `cucumberOpts` object with the property `tags` I am not able of specifying more than one set of t

[2017-02-14 05:21] erm3nda commented on #1635
@si-mikey For a quick workaround, just find again `element` and you'll be able to interact with it's new reference. What matters at all is the item elements, not the internal reference at all.

[2017-02-14 11:27] demshin opened #1872 "Running tests is not dependent on key --suite"
## The problem

I'm runing tests with wdio (also cucumber) with key --suite nameOfSuite, but all tests run.

## Environment

* WebdriverIO version: 4.6.2
* Node.js version: 6.9.5
* I run test via gulp `gulp test:remote --maxinstances 10 --suite nameOfSuite`
* it's running on remote grid
* I'm using allure report

## Details
there is part of my wdio.conf.js:
`exports.config = {

    host: argv.sele

[2017-02-14 13:26] christian-bromann commented on #1872
What if you try
[code]
?

[2017-02-14 15:42] CTaylor1118 opened #1874 "waitUntil should convert timeoutMsg to interval if only three arguments are passed."
## The problem
waitUntil used to take 3 arguments condition, timeout, and interval. Version 4.1 added timeoutMsg between timeout and interval. If you only pass in three arguments though, it does not convert the timeoutMsg to the interval, which would be useful so null does not need to be passed in.

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: 0.12.18
* [Standalone mode or wdio

[2017-02-14 18:03] christian-bromann commented on #1874
@CTaylor1118 can you provide an example here?

[2017-02-14 20:23] CTaylor1118 commented on #1874
@christian-bromann waitUntil is called like
[code]
 If you call it like
[code]
the interval is not intelligently parsed, so you end up running with the default interval, you instead have to run
[code]
We can do the following check in waitUntil so we intelligently parse the passed parameters
[code]

[2017-02-14 22:34] si-mikey commented on #1635
@erm3nda that really only works when your not using page objects, in my case I am using page objects.

[2017-02-14 22:45] davidrova opened #1875 "Is there any way to reset iOS App in each test case execution?"
## The problem

I would like to execute each test case as it would be the first access.

It is very easy in Android, using browser.reset(); but it doesn't work in iOS

## Environment

* WebdriverIO version: 4.6.2
* Node.js version: 6.2.2
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): standalone mode
* if wdio testrunner, running synchronous or asynchronous

[2017-02-15 05:02] demshin commented on #1872
Than I have `Task '--maxinstances' is not in your gulpfile` at stacktrace.

[2017-02-15 10:40] yurii-sorokin opened #1877 "Possibility to add custom find element strategy"
## The feature

Possibility to add custom find element strategy

## Environment

* WebdriverIO version: 4.6.2

## Details

We use custom data attributes for every element we need to test. So we write something like `browser.getText('[data-test-id="some-id"]')` for each element under test. Would be nice to have possibility to extend find strategy so you can create shorthands for repeatedly used sel

[2017-02-15 12:15] christian-bromann commented on #1872
This issue was moved to webdriverio/gulp-webdriver#60

[2017-02-15 12:15] #1872 closed

[2017-02-15 13:49] erm3nda commented on #1635
Well, fix those page objects to be populated again in case of StaleElementReferenceException. No matter what you have, the fix is barely to locate the element again based on what it is, instead of references (webdriver object of any nature) cuz your reference no longer exists. Case you don't have ids, a reliable way is xpath, but any kind of locator method should work.

[2017-02-15 14:17] iSpid3r commented on #192
Hi @christian-bromann

I need to count the number of elements on the page, but in response I keep getting { state: 'pending' }

I tried to do this in two ways, but the result is the same:

`var constr = browser.elements('.construction', function(err, res) {
return res.value.length;
});
console.log(constr);`

and

`var constr = browser.execute(function() {
var construct = $('.js-goto-slide:not([dat

[2017-02-15 14:20] iSpid3r opened #1878 "Elements counter"
Hi @christian-bromann

I need to count the number of elements on the page, but in response I keep getting { state: 'pending' }

I tried to do this in two ways, but the result is the same:

`var constr = browser.elements('.construction', function(err, res) {
    return res.value.length;
});
console.log(constr);`

and

`var constr = browser.execute(function() {
    var construct = $('.construction')

[2017-02-15 15:50] mattc41190 commented on #1878
constr is a promise object in a pending state.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise

Are you running WDIO standalone or in the runner?

If you are running standalone the follwoing may work:

[code]

[2017-02-15 15:59] davidrova commented on #1875
I have tried a new workaround with no sucess. In the After hook (I have tried in the Before hook too):

* Stop booted simulator --> xcrun simctl shutdown 5F102939-BDD7-40DF-9957-91ACC0A3A814
* Reset simulator's data and content --> xcrun simctl erase 5F102939-BDD7-40DF-9957-91ACC0A3A814
* Restart webdriverIO
             ...
               this.driver = remote(config.runner.plugins.webdriverio.con

[2017-02-15 16:49] christian-bromann commented on #1878
Thanks @mattc41190

[2017-02-15 16:49] #1878 closed

[2017-02-15 16:49] christian-bromann commented on #1878
@iSpid3r feel free to join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2017-02-15 16:52] christian-bromann commented on #1875
@davidrova can you ask in the Appium community? This is out of scope of WebdriverIO. If the [ios driver](https://github.com/appium/appium-ios-simulator) supports this kind of action then I would be happy to add the command but I almost believe that iOS doesn't support this kind of action at all.

[2017-02-15 16:52] #1875 closed

[2017-02-15 17:04] davidrova commented on #1875
@christian-bromann thanks for your answer.

I have tried to reinstall the app with ximctl commands with no success.
       xcrun simctl uninstall 5F102939-BDD7-40DF-9957-91ACC0A3A814 myApp
       xcrun simctl install 5F102939-BDD7-40DF-9957-91ACC0A3A814 path-to-my-app

Regards,

[2017-02-15 19:35] ianrenauld opened #1879 "When used with $$, getHTML always acts on the entire array, even when a single element is specified"
When used with $$, getHTML always acts on the entire list, even when only one element has been specified.

`$$('some-selector')[2].getHTML()` gets the HTML in an array for all items matching `'some-selector'` instead of only the element at position 2.  Same command with `getText()` instead works only on the item at position 2, which is the proper behavior according to the API documentation.

**Env

[2017-02-16 07:24] chunsli opened #1880 "Page and images not fully loaded before actions taken"
## The problem

The page is occasionally not fully loaded before screenshots are taken. Most of the times it works.

## Environment

* WebdriverIO version: 4.6.2
* Node.js version: 6.9.2
* Standalone version of WebdriverIO
* Browser version: Google Chrome 55.0.2883.87
## Details

Expected output (most of the times this is the actual output):
![9uf_4 template1](https://cloud.githubusercontent.com/a

[2017-02-16 11:26] christian-bromann commented on #1880
I am not sure what the issue here is. You already use a script to make sure the images are loading properly before taking the screenshot. I think this is the right approach.

[2017-02-16 11:26] #1880 closed

[2017-02-16 13:59] harttle opened #1881 "Is this implementation compatible with W3C WebDriver Protocol?"
## The problem

I'm currently implementing a proxy-based webdriver wrapper for real (old mobile) browsers. I tried to get webdriverio connected to my webdriver server (via `host` and `port` configurations), but it wasn't working as expected. Does the claimed [JSONwire protocol][jsonwire] not compatible with the [W3C WebDriver][wd-w3c] Protocol?

## Detail

As far as I understand, the response body

[2017-02-16 14:19] christian-bromann commented on #1881
With Selenium 3 we are currently transitioning from the JSONWire protocol to the Webdriver protocol. Selenium 3 works like JSONWire and only adds new commands that reflect the Webdriver protocol as well as deprecates some commands that aren't in the Webdriver protocol. With Selenium 4 the Webdriver protocol will be the only supported protocol. This happens sometime this year.

So right now both pr

[2017-02-16 14:19] #1881 closed

[2017-02-17 05:33] chunsli commented on #1880
I think what happened was that images were not available when waitUntil was executed, so it automatically returned true, I added document.readyState === 'complete' to check that the document is loaded.

However, what still confuses me is that why document.readyState === 'complete' alone won't be able to check for the readiness of the images. It still produces incomplete images if used by itself.
[