[2020-11-24 08:28] christian-bromann commented on #6151
@testingbot can you take a look. I remember we changed this part recently.

[2020-11-24 08:41] christian-bromann commented on #6150
@ljansen97 these drivers are not maintained by the core WebdriverIO team. Theoretically they should do what you expect but it seems they don't. Services can modify specific capabilities to automatically connect to their drivers so the desired behavior is possible. There is nothing in the core project we can do to fix this besides to recommend to use the standalone-server service. I would also sugg

[2020-11-24 08:41] #6150 closed

[2020-11-24 08:44] Gennadiii opened #6154 "Server doesn't start"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 4.13.2]
 - **Mode:** [Standalone mode or WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async]
 - **Node.js version:** [e.g. 8.11.2]
 - **NPM version:** [e.g. 5.8.0]
 - **Browser name and version:** [e.g. Chrome 68]
 - **Platform name and version:** [e.g. Windows 10]
 - **Addi

[2020-11-24 08:58] christian-bromann commented on #6154
Closing as no description was provided.

[2020-11-24 08:58] #6154 closed

[2020-11-24 10:32] Gennadiii commented on #6154
@christian-bromann my bad, I added description but it got discarded somehow. Added it now. Could you please take a look and maybe I could add some more info that you might need?

[2020-11-24 10:35] gowthamraj198 opened #6155 "selenium standalone throwing error: Error: Callback was already called."
## 💬 Questions and Help

Hi Team i am trying to run my WDIO tests. When i run the tests in local it is running fine. But when i Try to run in docker (CentOS) below error is thrown.

webdriverio6-appium-mocha-boilerplate@1.0.0 desktopWeb
npx wdio ./config/desktopWeb.config.js

2020-11-24T10:23:21.720Z DEBUG @wdio/sync: Couldn't load fibers package for Node v10 and above

Execution of 1 spec files s

[2020-11-24 11:31] dagoud commented on #4951
Hi @christian-bromann , I have started looking at this but haven't yet got a final solution. Was hoping to look at it in the next week or so.

[2020-11-24 11:31] christian-bromann commented on #6154
some wdio logs would be great!

[2020-11-24 11:34] christian-bromann commented on #6155
@gowthamraj198 thanks for filing the issue. This seems to be an issue with the [selenium-standalone](https://github.com/vvo/selenium-standalone) package. I recommend to file the issue there. Thanks!

[2020-11-24 11:34] #6155 closed

[2020-11-24 12:21] christian-bromann commented on #5889
Created a PR for this. Closing.

[2020-11-24 12:21] #5889 closed

[2020-11-24 12:33] Gennadiii commented on #6154
@christian-bromann
2020-11-24T12:32:34.620Z DEBUG @wdio/utils:initialiseServices: initialise service "selenium-s
tandalone" as NPM package
2020-11-24T12:32:34.660Z INFO @wdio/cli:launcher: Run onPrepare hook
2020-11-24T12:32:36.169Z INFO @wdio/cli:launcher: Run onWorkerStart hook
2020-11-24T12:32:36.174Z INFO @wdio/local-runner: Start worker 0-0 with arg: dist/config/wdio
/local.conf.js
[0-0] 2020

[2020-11-24 12:41] christian-bromann commented on #5889
FYI: the solution to use `SevereServiceError` in TypeScript and WebdriverIO sync mode is by using require to avoid type clashings.

[code]

[2020-11-24 12:42] christian-bromann commented on #6154
Please see error message:

this is related to https://github.com/vvo/selenium-standalone/pull/486

[2020-11-24 12:47] Gennadiii commented on #6154
@christian-bromann yeah I saw that. I just don't get why I get old driver when I have latest package installed. Thanks for your time, appreciate it. I'll address my question by that link.

[2020-11-24 14:21] vgrigoruk commented on #4801
Also reproducible for `staleElement.scrollIntoView()`, as it uses `browser.execute` under the hood :(

[2020-11-24 15:41] TheTeejers commented on #6130
@christian-bromann This is an error that can be reproduced locally. Enrique was able to reproduce this outside of Sauce Labs.

[2020-11-25 10:03] #6151 closed

[2020-11-25 11:15] VicGrygorchyk opened #6161 "element.getCSSProperty(property) returns null for Firefox"
**Environment:**
 - **WebdriverIO version:** [6.4.2]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [12.8.3]
 - **NPM version:** [6.14.2]
 - **Browser name and version:** [Firefox 83.0]
 - **Platform name and version:** [Windows 10 64-bit]
 - **Additional wdio packages used (if applicable):** [
    "@wdio/cli": "^6.5.2",
    "@wdio/loca

[2020-11-25 16:31] christian-bromann commented on #5828
@goveanick given I haven't heard back I will un-assign you and open it up for others.

[2020-11-25 17:38] leobastiani commented on #5379
Same issue here!

[2020-11-25 21:09] wildintu commented on #5725
I am running into this error as well:

Failed to create session.
The requested resource could not be found, or a request was received using an HTTP method that is not supported by the mapped resource
[0-2] FAILED in /Users/airship/Desktop/appium-boilerplate/app-release.apk - /tests/sample.test.js

[2020-11-26 07:31] christian-bromann commented on #6161
As the [protocol](https://w3c.github.io/webdriver/#get-element-css-value) states:

which means the browser tries to run the following script:

[code]

which results in Chrome to:
[code]

and in Firefox to and empty string (`""`).

I agree here, that the behavior is inconsistent though not caused by WebdriverIO as it is an inconsistency in the CSS spec. I will propose a change to default to `backgr

[2020-11-26 07:48] christian-bromann commented on #6161
The related issue in the CSS-WG spec is https://github.com/w3c/csswg-drafts/issues/2529. I will close this. I don't think my idea mentioned above isn't a sufficient solution given this doesn't only apply for `background` but also for `font`, `margin`, `border` etc. I recommend specifying the css property you are interested in, e.g. `$('.fixedHeaderContainer').getCSSProperty('background-color')`.

[2020-11-26 07:48] #6161 closed

[2020-11-26 08:35] smarigowda commented on #5828
I am interested in contributing, can I get help on how do I get started ?

[2020-11-26 08:39] christian-bromann commented on #6161
Actually this is stated in the [docs](https://webdriver.io/docs/api/element/getCSSProperty.html):

[2020-11-26 08:51] christian-bromann commented on #6161
Created a pull request to improve the behavior.

[2020-11-26 11:04] christian-bromann commented on #5828
@smarigowda I have assigned the ticket already to @Fabianopb (maybe there is a way to collaboratively work together on this). If you haven't done any work on the project I recommend to look into our [contribution docs](https://webdriver.io/docs/contribute.html). Please let me know if they are unclear.

[2020-11-26 12:13] christian-bromann commented on #5379
Fixed in #6164

[2020-11-26 12:13] #5379 closed

[2020-11-26 14:26] web-padawan opened #6165 "Error when using takeElementScreenshot in SauceLabs with W3C protocol"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.10.0
 - **Mode:** standalone mode via `remote`
 - **Node.js version:** 12.18 LTS
 - **NPM version:** 6.14
 - **Browser name and version:** Chrome, Firefox
 - **Platform name and version:** Windows 10 in SauceLabs

**Config of WebdriverIO**

Configured to use with SauceLabs similarly to how `karma-sauce-launc

[2020-11-26 14:54] web-padawan commented on #6165
Looks like the problem was related to `takeElementScreenshot` second boolean argument.

After I removed it, everything worked: https://github.com/web-padawan/test-runner-wdio/commit/f607b76f084d23371f94692f14cbc3e31a893e7b

[2020-11-26 14:54] #6165 closed

[2020-11-26 20:35] Minja90 opened #6170 "With Chromedriver 87 uploadFile doesn't work any more"
After npm install and upgrade to Chromedriver 87,

const remoteFilePath = browser.uploadFile(filePath)

throws an error :
web driver: Request failed with status 400 due to invalid argument: invalid argument: 'text' is empty

This worked before upgrade

[2020-11-26 20:41] Fabianopb commented on #5828
@christian-bromann as a Member should I be able to push branches directly to this repo or should I continue with a fork? I have some initial work for this one already, from where @smarigowda can probably continue.

[2020-11-26 22:05] christian-bromann commented on #5828
Please continue with your fork. Once you reached 10 qualifying PRs and become a project committer you can work on branches.

[2020-11-26 23:42] #5946 closed

[2020-11-27 12:47] mgrybyk commented on #6170
Please provide with reproducible example, logs, what have you updated, etc.

[2020-11-27 15:52] hananconnectavo commented on #5990
Hi this issue has again resurfaced:

2020-11-27T15:46:48.221Z INFO @wdio/cli:launcher: Run onPrepare hook
2020-11-27T15:46:48.223Z INFO @wdio/browserstack-service: browserstackLocal is not enabled - skipping...
2020-11-27T15:46:49.828Z INFO @wdio/cli:launcher: Run onWorkerStart hook
2020-11-27T15:46:49.831Z INFO @wdio/local-runner: Start worker 0-0 with arg: wdio.conf.js
[0-0] 2020-11-27T15:46:50.

[2020-11-27 16:41] nhle commented on #6170
I had the same issue and tried to update selenium standalone from 3.141.59 to 4.0.0-alpha-1. It works.

[2020-11-27 16:44] mgrybyk commented on #6170
It should not be related anyhow.

[2020-11-27 18:07] brunobasto commented on #6170
Same issue here:

[code]

`remoteFilePath` returns as an empty string

[code]

Also, it would be extremely useful if that worked on IE as well :)

[2020-11-28 06:19] hieuxlu commented on #5990
I'll have a look, could you provide which version of wdio are you using. @hananconnectavo

[2020-11-28 07:34] hieuxlu commented on #5990
@hananconnectavo I can't reproduce this on latest version. Could you try upgrading wdio and if the problem still occur, create a minimal reproduction of the bug. Thank you very much. For now, I'm closing this issue.

[2020-11-28 07:34] #5990 closed

[2020-11-28 09:15] Minja90 commented on #6170
Hello @mgrybyk ,
so here is the log :

ERROR webdriver: Request failed with status 400 due to invalid argument: invalid argument: 'text' is empty
  (Session info: chrome=87.0.4280.67)
[0-0] invalid argument in "Upload Contact via CSV should import new contact successfully"
invalid argument: 'text' is empty
  (Session info: chrome=87.0.4280.67)
    at processTicksAndRejections (internal/process/tas

[2020-11-28 10:28] mgrybyk commented on #6170
@Minja90 can't investigate without either sufficient amount of logs or a reproducible example. The last one is better

[2020-11-28 18:35] amir-dentsu opened #6174 "Getting HTTPError: Response code 404 (Not Found) Error while installing selenium-standalone"
WebDriverIO Version: "wdio": "^4.0.0"
   Node.js version:  12.19.0
   NPM version:  6.14.8
   Browser name and version: Chrome 87
   Platform name and version: Windows 10
   Additional wdio packages used (if applicable):  "@wdio/selenium-standalone-service": "^6.10.0",

Steps to reproduce the behavior:

In package.json, I have

"scripts": {
    "start:selenium-standalone": "./node_modules/.bin/sel

[2020-11-28 18:39] Githubber2021 opened #6175 "RequestError: socket hang up in webdriver when used in ava"
Hi everyone,

could someone help me with an issue? `webdriverio` seems to appear in a callstack of one of my tests, and I try to pinpoint the issue. I use the testing framework [ava](https://github.com/avajs/ava) in combination with Electron and [Spectron](https://www.electronjs.org/spectron) on macOS to test my app.

So I setup a Gitlab pipeline which executes `npm run ava` after building. I noti

[2020-11-29 09:48] HananArgov commented on #6174
i'm getting the same error, when trying the latest wdio version and a different version (detail at the bottom)
although it tried for @amir-dentsu to install the chromium edge, for me the issue is the same with regular chromedriver.

I think there's a `selenium-standalone` issue here, since they changed their installation configs to support `latest`:
https://github.com/vvo/selenium-standalone/relea

[2020-11-29 09:55] amir-dentsu commented on #6174
Hi @HananArgov ,

So Will this issue be fixed by webdriverio or selenium-standalone team?

[2020-11-29 10:35] HananArgov commented on #6174
you can put a workaround, use a fixed version:
https://webdriver.io/docs/selenium-standalone-service.html
[code]

[2020-11-29 20:15] gulatirajat commented on #6174
Faced similar issue, have logged this issue with Selenium standalone - https://github.com/vvo/selenium-standalone/issues/515.

What I observed was that the components (selenium standalone + browser drivers) just did not download with the latest v6.22.1.
Had to explicitly install the previous version for selenium standalone (6.20.1), to successfully download the drivers without errors.

Regarding t

[2020-11-29 21:56] christian-bromann commented on #6175
Could you provide a small reproducible example please?

[2020-11-29 22:39] mgrybyk commented on #6174
I've tried both old and new ways of specifying browser drivers.
Please provide with reproducible example.

[2020-11-30 02:38] gulatirajat commented on #6174
Could you try these steps to reproduce the error:
1. Clean remove existing node_modules  .
2. Ensure following versions in package.json
@wdio/cli - 6.10.2
@wdio/sync - 6.10.0
 @wdio/local-runner - 6.10.2 
@wdio/selenium-standalone-service - 6.10.3 (=> dependency - "selenium-standalone": "^6.22.1")
@wdio/cucumber-6.8.0 
@wdio/junit-reporter - 6.8.1 
@wdio/spec-reporter - 6.8.1

3. Install using - n

[2020-11-30 02:50] gulatirajat commented on #6174
Regarding the way of specifying the driver version - closely following the document,  both ways are working for me now (with selenium-standalone@6.20.1). I was missing the additional nested json layer of "drivers: {" inside the "installArgs" and "args"

[2020-11-30 06:23] mgrybyk commented on #6174
Great that it works, can the issue be closed?

[2020-11-30 06:35] hananconnectavo commented on #5990
I'm using wdio 6.10.0
My current structure has 1 it block running tests on an iOS app on browserstack and another it block running tests on an web app on chrome.
If I run the tests one at a time, it works, but if I run them simultaneously, it throws this 404 Error.
here's my config file if it helps:

const drivers = {
    chrome: { version: '87.0.4280.20' },
}
exports.config = {
    user: process.

[2020-11-30 06:53] hieuxlu commented on #5990
I seec, will try to reproduce later today.
P/S: You should wrap your code block in double ``` tags instead of `

[2020-11-30 07:00] hananconnectavo commented on #5990
Sorry my bad

[2020-11-30 07:12] hananconnectavo commented on #5990
Here are the complete logs @hieuxlu

[code]

[2020-11-30 08:49] PaliwalArpit commented on #6170
Getting a similar issue while uploading the file using the upload file method.

[code]
I have updated packages recently including Chormedriver and wdio services, for me as well the test was working fine earlier.
My package.json packages:

[code]

[2020-11-30 10:00] christian-bromann commented on #6170
Proposed a PR with a fix, closing this one.

[2020-11-30 10:00] #6170 closed

[2020-11-30 10:11] christian-bromann commented on #5990
@hananconnectavo it seems you are running a multiremote session where one instance is created in BS and the other locally. I would assume that you don't have a driver set up so you local session fails with 404.

[2020-11-30 10:15] hananconnectavo commented on #5990
@christian-bromann If I comment out the BS part, the local session for the web app runs perfectly well

[2020-11-30 10:30] christian-bromann commented on #5990
@hananconnectavo a reproducible example would be helpful here for investigations.

[2020-11-30 11:53] unickq opened #6179 "isFocused stopped working on 6.10"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-11-30 11:56] mgrybyk commented on #6179
I guess we missed await https://github.com/webdriverio/webdriverio/blob/788019e77c3fa2376811ceca5ba3d1511ecba525/packages/webdriverio/src/commands/element/isFocused.ts#L34

[2020-11-30 12:35] #6179 closed

[2020-11-30 14:45] gulatirajat commented on #6174
To clarify, my last comment was in relation to the way of specifying the driver version (to override the default versions, if required) in case of selenium-standalone@**6.20.1**.

For me the issue still exists for **v6.22.1**.  The steps to reproduce are also provided above. I would ask @amir-dentsu @HananArgov to provide more details/steps to reproduce from their side as well.

[2020-11-30 14:49] mgrybyk commented on #6174
Closing this one for now according to https://github.com/vvo/selenium-standalone/issues/515

Let's have convo in a single thread. Please reply there @gulatirajat and provide with reproducible example

[2020-11-30 14:49] #6174 closed

[2020-11-30 16:11] thomasschuiki commented on #4134
Hi,

Since I'm also experiencing issues with the drag & drop behaviour I researched a little. I'm not sure if this is 100% realted to the initial question - but there are outstanding issues with all browser-drivers regarding drag & drop.

Described here in the selenium projects page:
https://github.com/SeleniumHQ/selenium/issues/8624
https://github.com/SeleniumHQ/selenium/issues/7744

There are al

[2020-11-30 16:14] Lewiscowles1986 opened #6186 "Cucumber reporter"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [ ] A typo
- [x] Missing documentation
- [ ] Other

(I am unsure if it is missing or unclear, but I've not been able to find, google or github search it)

**Descript

[2020-11-30 16:22] christian-bromann commented on #6186
Hey @Lewiscowles1986, thanks for filing the issue. Please take a look into our docs. WebdriverIO provides a variety of reporting plugins. We also have some documentation how to [build a reporter](https://webdriver.io/docs/customreporter.html) yourself if the ones provided don't fit your requirements. Also join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im

[2020-11-30 16:22] #6186 closed

[2020-11-30 18:25] Lewiscowles1986 commented on #6186
It's a core package, but I think the issue was actually just a confusingly named file.

The answer is the following

`npm install @wdio/dot-reporter --save-dev` then add  'spec' to reporters

It produces something close to what I wanted and needed... 🙄

[code]

[2020-11-30 23:26] benbcai commented on #6119
@christian-bromann Wanted to check if you have any more thoughts on this.

[2020-12-01 01:34] hieuxlu commented on #5990
@hananconnectavo Hi, I could not reproduce with Browserstack Automate, so it's very likely it's a problem with your iOS configuration, so BrowserStack server responded 404 (maybe the app id is not found). This results in the session not created and so subsequent calls returned 404 as well.

Normally, you should see a log indicating a new Browserstack session is created successfully as below. Notic

[2020-12-01 03:48] prabhuhiremath237 commented on #6170
Execution of 1 spec files started at 2020-12-01T03:36:22.612Z

[0-0] RUNNING in chrome - /test/specs/add.candidate.spec.ts
[0-0] Login as RA and add valid candidate
[0-0] personal.uploadResume
./test/testdata/add-candidate/NandiniB.docx
[0-0] 2020-12-01T03:36:45.580Z ERROR webdriver: Request failed with status 400 due to invalid argument: invalid argument: 'text' is empty
  (Session info: chrome=8

[2020-12-01 08:09] christian-bromann commented on #6170
@prabhuhiremath237 ensure to update your dependencies. This has been fixed.

[2020-12-01 08:23] prabhuhiremath237 commented on #6170
@christian-bromann

all my dependencies are updated

"devDependencies": {
    "@types/chai": "^4.2.14",
    "@types/faker": "^5.1.4",
    "@types/jsdom": "^16.2.5",
    "@types/mocha": "^8.0.3",
    "@types/node": "^14.14.6",
    "@types/node-fetch": "^2.5.7",
    "@typescript-eslint/eslint-plugin": "^4.6.0",
    "@typescript-eslint/parser": "^4.6.0",
    "@wdio/allure-reporter": "^5.16.0",
    "@

[2020-12-01 08:27] christian-bromann commented on #6170
@prabhuhiremath237 in order to update your dependencies properly make sure to remove your package-lock.json file and re-install all dependencies.

[2020-12-01 08:34] prabhuhiremath237 commented on #6170
@christian-bromann
Sure thank you let me try

[2020-12-01 11:18] oytuntez opened #6188 "setWindowRect with multiremote only resizes document, not outer window"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.10.0
 - **Mode:** Standalone mode
 - **Node.js version:** v14.15.1
 - **ts-node version:** v9.0.0
 - **NPM version:** 6.14.8
 - **yarn version:** 1.21.1
 - **Browser name and version:** Google Chrome 87.0.4280.67 (Official Build) (x86_64)
 - **Platform name and version:** Mac OS 10.14.6

**Config of Webdrive

[2020-12-01 11:18] TheTechHuss opened #6189 "@wdio/sauce-service TypeError: undefined property for version 6.10.4 (latest)"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** "

[2020-12-01 12:27] hananconnectavo commented on #4865
To achieve that you have to use your capabilities objects when referring to anything like for example:
`myChromerBrowser.url('/')`
`myiOS.$('XCUI selector')`
`myChromeBrowser.$('xpath selector')`

[2020-12-02 19:28] nicolasbouffard opened #6191 "Stub session delays actual session"
Stub session delays actual session

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.4.6
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.4
 - **NPM version:** 6.14.6
 - **Browser name and version:** Any Android app
 - **Platform name and version:** Ubuntu 20.04 LTS
 - **Additional wdio packages

[2020-12-02 19:39] mgrybyk commented on #6191
Without steps to reproduce it can't be fixed. Also, I'm pretty much sure stub session has nothing to do with the delay you see.
Do you use any services? Do you run any code in wdio hooks?

[2020-12-02 21:08] christian-bromann commented on #6191
@mgrybyk might be worth thinking about adding some debug logs to time the service hook execution.

[2020-12-03 00:08] hieuxlu opened #6193 "[Internal] Move away from npm and lerna bootstrap by using yarn and yarn workspaces"
@christian-bromann This issue is created in order to solve the problem in https://github.com/webdriverio/webdriverio/pull/6085#discussion_r534558596

## Problems
When we start providing Typescript declaration autogenerated by tsc and provide it in package.json to avoid manually providing main `d.ts` typings, we'll encounter `Conflicting definitions for 'node'` error as mentioned in https://github.

[2020-12-03 05:49] christian-bromann commented on #5828
Closing in favor of #6172

[2020-12-03 05:49] #5828 closed

[2020-12-03 05:52] christian-bromann commented on #5832
Any updates @sarathps93?

[2020-12-03 05:53] christian-bromann commented on #5830
Closing in favor of #6168

[2020-12-03 05:53] #5830 closed

[2020-12-03 05:57] christian-bromann commented on #5829
I assume there is no interest anymore. I will take this over.

[2020-12-03 06:05] christian-bromann commented on #5825
Closing in favor of #6085

[2020-12-03 06:05] #5825 closed

[2020-12-03 18:40] QAtester111 opened #6196 "Wdio for VSCode."
I am a beginner and trying to run a project on Vscode. the project was working fine on webstorm.

Wdio command not recognized on VS code , whereas working fine on webstorm.  When I give path like ./node_modules/.bin/wdio wdio.conf.js Then it works fine in vscode.
I have searched alot but couldn't find anything on that, please help before closing the issue.
here is the terminal:

[code]

[2020-12-03 18:52] sarathps93 commented on #5832
Sorry for the delay @christian-bromann . I have raised a pull request for the same

[2020-12-03 19:00] stevegibson commented on #4982
After updating Webdriver.io and all it's dependencies to their latest version, try adding including `@wdio/devtools-service` in your list of `types` in `tsconfig.json`. That's the only way I could get VSCode to recognize `enablePerformanceAudits()`, `getMetrics()`, and `getPerformanceScore()` as properties on the browser object.

I didn't see this step listed anywhere in the tutorial, however.

[2020-12-03 19:14] christian-bromann commented on #5832
Closing in favor of #6195

[2020-12-03 19:14] #5832 closed

[2020-12-04 08:08] christian-bromann commented on #6196
@QAtester111 thanks for filing the issue. Please have a look into the [getting started guide](https://webdriver.io/docs/gettingstarted.html) on how to you get up and running with WebdriverIO. It should work independent from which IDE you are using.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badg

[2020-12-04 08:08] #6196 closed

[2020-12-04 08:49] link89 commented on #3187
I can still find this issue on `webdriver.io@6.6.6`.  And the fix provided by @cuki works well. The fix is used by me in another project to fix this issue.  https://github.com/link89/selenium-federation/commit/b798d12bd3056fa9406f2e2086b0bf70017bf3db

But I think this project is the right place to fix this issue.

[2020-12-04 09:14] christian-bromann commented on #3187
@link89 I was running the example above with Safaridriver and did not receive any error. Can you post a reproducible example?

[2020-12-04 09:40] link89 commented on #3187
Start the webdriver service  `safaridriver --port=4444`. And then running the following script

[code]

[2020-12-04 09:45] christian-bromann commented on #3187
This example can't work. If you start `safaridriver --port=4444` with it will listen on path `/` and not `/wd/hub`. Fixing that and running the script was fine for me.

[2020-12-04 09:56] link89 commented on #3187
My fault. Remove the `path` field.

[2020-12-04 10:26] christian-bromann commented on #3187
@link89 I can run that script successfully then.

[2020-12-04 10:30] christian-bromann commented on #5846
Closing in favor of #6002

[2020-12-04 10:30] #5846 closed

[2020-12-04 10:31] mgrybyk commented on #3187
Works for me ax well however, I tried with selenium standalone

[2020-12-04 10:32] christian-bromann commented on #5841
@mciastek seems you haven't had time yet to make a PR. I will open this up for others to pick up. If you are still interested let me know.

[2020-12-04 12:06] ManjunathDamo opened #6197 "(Mocks and Spies) browser.mock stub leaks from preceding scenarios"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [ 6.10.5]
 - **Mode:** [Standalone mode ]
 - **WDIO Testrunner, running sync**
 - **Node.js version:** [ 12+]
 - **NPM version:** [6+]
 - **Browser name and version:** [Chrome 85+]
 - **Additional wdio packages used (if applicable):** "@wdio/cucumber-framework": "^6.10.4", "wdio-chromedriver-service": "^6.0.4"

[2020-12-04 12:10] mgrybyk commented on #6197
You should restore mock before using respond command again

[2020-12-04 12:15] ManjunathDamo commented on #6197
Thanks, it Works. But is there a way to restore all mocks together with single command ? In case we mock multiple service ?

[2020-12-04 12:17] mgrybyk commented on #6197
No, see https://github.com/webdriverio/webdriverio/issues/6003

[2020-12-04 12:21] mgrybyk commented on #6197
Should I close this one in such case?

[2020-12-04 12:27] ManjunathDamo commented on #6197
Yes we can close this ., I will follow up [#6003](https://github.com/webdriverio/webdriverio/issues/6003). Thanks

[2020-12-04 12:27] #6197 closed

[2020-12-04 15:15] nicolasbouffard commented on #6191
We don't use any services, but we do use hooks. I already disabled all of them however in an attempt to find who was the culprit, and it changed nothing.

After doing some more testing, I managed to narrow down the issue to the use of Babel. Indeed, by simply commenting out the `compilers: ["@babel/register"],` line in `mochaOpts`, the delay between the stub and webdriver sessions disappears. The

[2020-12-04 15:54] BorisOsipov commented on #6191
@nicholasbailey what is your nodejs version?

ES6 supported out of the box in modern nodejs versions(not all but most). You can check on https://node.green/

[2020-12-04 16:31] nicolasbouffard commented on #6191
That's strange. Currently we have nodejs `12.18.4`, but back when we included Babel, we had `11.3.0`, which shows up all "green" in the table you shared, although I'm sure that ES6 didn't work in our scripts back then (we also were on WebdriverIO 5 instead of 6).

So according to you we don't need to use Babel at all today ? If that's the case, why does the documentation sound like that's still a

[2020-12-04 16:49] BorisOsipov commented on #6191
For example you have to use babel if you want ES6 import\export in nodejs<13. Many of users want(or not want but just coppied code from SO) use import\export. To make onbording seamless we propose babel. If you dont need you can delete it.

[2020-12-07 03:01] Ridhib opened #6200 "Upload file function doesn't work for Safari"
I am trying to use the upload file function, it works fine in Chrome but doesn't work in Safari.
 upload(selector, filePath) {
    browser.execute(
      // assign style to elem in the browser
      el => (el.style.display = 'block'),
      // pass in element so we don't need to query it again in the browser
      selector,
    );
    const remotepath = browser.uploadFile(path.join(__dirname, '..'

[2020-12-07 08:06] christian-bromann commented on #6200
@Ridhib thanks for filing the issue. Uploading a file is indeed not supported in Safari. There is nothing WebdriverIO can do about this. We will add a note to the docs pointing this out better. We recommend to use the `@wdio/selenium-standalone-service` to make it work there.

[2020-12-07 08:06] #6200 closed

[2020-12-07 08:12] christian-bromann commented on #6188
@oytuntez this is a limitation of using the Chrome DevTools protocol and Puppeteer. If you use WebDriver (see differences [here](https://webdriver.io/docs/automationProtocols.html)) this should work as expected.

[2020-12-07 08:12] #6188 closed

[2020-12-07 08:14] christian-bromann commented on #6193
I have never experienced the issue of having conflicting definitions for node there for I don't see a reason to switch to Yarn.

[2020-12-07 08:16] christian-bromann commented on #6189
Are you talking about a real device test or an emulator test?

[2020-12-07 08:17] christian-bromann commented on #6175
Closing due to inactivity. Happy to reopen if an example can be provided.

[2020-12-07 08:17] #6175 closed

[2020-12-07 08:24] christian-bromann commented on #6018
I am closing this up. I think we have an agreement that adding an AWS DeviceFarm service to the core project (this repo) is not desired due to the large dependency `aws-sdk-js-v3` brings. Such a service can very well life in a different repository without any negative effect on the user experience. This discussion has shown that we should have a better definition of what is suppose to be added to

[2020-12-07 08:24] #6018 closed

[2020-12-07 08:24] christian-bromann commented on #6120
Let's continue convo in #6162

[2020-12-07 08:24] #6120 closed

[2020-12-07 08:33] christian-bromann commented on #5813
A PR for this has been proposed in #5929. Let's continue convo there.

[2020-12-07 08:33] #5813 closed

[2020-12-07 08:37] christian-bromann commented on #5877
I will close this due to inactivity. We recommend to use the W3C protocol for browser automation moving forward. It is hard to tell whether this is a problem in WebdriverIO not using the [moveToElement](https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol#sessionsessionidmoveto) command correctly or a problem with the driver not properly running the command.

[2020-12-07 08:37] #5877 closed

[2020-12-07 12:37] DirkoOdendaal opened #6206 "browser.executeAsync type checking on Typescript doesn't work."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.10.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 14.13.1
 - **NPM version:** 6.14.8
 - **Browser name and version:**  Chrome 87
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/spec-reporter,

[2020-12-07 13:04] christian-bromann commented on #6206
@DirkoOdendaal thanks for filing the issue. As you already have pointed out this is a limitation in TypeScript. If you have any suggestions how to improve, please let us know.

[2020-12-07 13:16] DirkoOdendaal commented on #6206
@christian-bromann sure, I looked at Tuples with variable type arguments: https://github.com/microsoft/TypeScript/issues/1336

So maybe something like this could work:
`executeAsync: <T extends any[], U>(script: string | ((...arguments: [...T, (result: U) => void]) => void), ...arguments: T) => Promise<T>;`

I'll submit a PR for this and we can take it from there.

[2020-12-07 17:01] christian-bromann opened #6208 "Rewrite `@wdio/runner` package into TypeScript"
Similar to all other packages we should also rewrite the `@wdio/runner` package.

[2020-12-08 02:17] miggutie commented on #1150
I am facing same issue, is there a solution for this?

[2020-12-08 05:51] NAGAKARTHEEKREDDYDASAREDDY commented on #2589
org.openqa.selenium.SessionNotCreatedException: Unable to create a new remote session. Please check the server log for more details. Original error: An unknown server-side error occurred while processing the command. Original error: Could not sign with default certificate. Original error Command 'C:\Program Files\Java\jdk1.8.0_45\bin\bin\java.exe' not found. Is it installed?
Build info: version: '

[2020-12-08 08:12] christian-bromann commented on #2589
@NAGAKARTHEEKREDDYDASAREDDY just posting some logs without explanation is not the way you should ask for help. Especially if these logs tell your problem:

[2020-12-08 12:19] IdeasRahulVerma opened #6210 "how to check latest webdriver version and update"
Can't connect to WebDriver.
Error: Failed to create session.
session not created: This version of ChromeDriver only supports Chrome version 85
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:25:53'
System info: host: 'DLLE-PC', ip: '192.168.43.220', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_231'
Driver info: driver.version: unknow

[2020-12-08 12:40] mgrybyk commented on #6210
Please see https://webdriver.io/docs/selenium-standalone-service.html

You can specify which chromedriver version to use.
Make sure to update all the packages to latest versions.

Use gitter for this kind of questions.
Thanks

[2020-12-08 12:40] #6210 closed

[2020-12-08 14:48] MikoSh95 commented on #3054
Hi.

I have the same issue with Node v15.3.0 installed with nvm 0.37.2. Doing exactly the same same steps as @christian-bromann

[code]

Not sure if this is relevant but I'm running it on Ubuntu 18.04 using WSL2

[2020-12-08 17:43] christian-bromann commented on #3054
@MikoSh95 seems you have `make` not installed on your machine.

[2020-12-08 19:55] hieuxlu commented on #6193
@christian-bromann As I said, it's a time-bomb. To reproduce, just reference node typing in `allure-reporter.d.ts` as below
[code]

Then execute `npm run test:typings`, you will see that tests for `wdio-sync` will fails.
Maybe the cause is because of the way we're naively copying packages to node_modules folder for typing tests, which also copy all dependencies. In this case, I suspect `@wdio/allu

[2020-12-08 20:17] mgrybyk commented on #6193
Let's solve the problem at the moment they appear.

[2020-12-09 00:58] hieuxlu commented on #6193
@mgrybyk It's happening right now and is blcoking #6085

[2020-12-09 01:48] PavelHerasimov commented on #3054
Hi.
I have the same issue as MikoSh95.

Description:
The full error log output - https://paste.gg/p/anonymous/774c5fb63df24b34a011cc5884e1f5a0/files/fb4fe50b23514997aacb79e729340407/raw
What version of WebdriverIO you have installed - "^6.10.5"
What version of NodeJS you're using - v15.3.0
The contents of your package.json - https://paste.gg/p/anonymous/e712cc04cac94da381956bcb44d6fbee/files/accba

[2020-12-09 06:22] serhatbolsu opened #6211 "touchAction can not run when WinAppDriver ran without appium"
**Environment (please complete the following information):**
 - **WebdriverIO version: 6.8.1
 - **@wdio/appium-service**  : 6.8.0

**Describe the bug**
I am testing Windows Application using WinAppDriver. Running the driver is possible without lunching through Appium.
If I run without appium, `touchAction` is not forwarded to driver. Although driver is capable of handling the `touchAction`

**To R

[2020-12-09 08:03] christian-bromann commented on #6211
The error in the logs (`touchAction can be used with Appium only.`) is actually coming from WinAppDriver. WebdriverIO doesn't throw this.

Closing as it is a limitation of the driver and not WebdriverIO.

[2020-12-09 08:28] MikoSh95 commented on #3054
Life would be easier of only I could read... That was the problem, thank you!

[2020-12-09 08:33] MikoSh95 commented on #3054
@PavelHerasimov I assume that you have installed Node on Windows using installer and the errors points out that you have skipped one of the installation steps. See print screen below (option "Automatically install the necessary tools..." should be checked)

![image](https://user-images.githubusercontent.com/23083053/101604355-18c6eb80-3a01-11eb-91af-364f37ac7c08.png)

To solve it you can either re

[2020-12-09 09:24] serhatbolsu commented on #6211
@christian-bromann  actually , i think its here->
https://github.com/webdriverio/webdriverio/blob/e78ecef891b2de4a2f7c198117d35db8debf1c68/packages/webdriverio/src/commands/constant.ts

[2020-12-09 09:55] christian-bromann commented on #6211
@serhatbolsu does WinAppDriver has documentation about what it supports? WebdriverIO assigns protocol commands based on the assumption which driver is being used. All [Appium protocol commands](https://webdriver.io/docs/api/appium.html) are currently only assigned if the capabilities indicate an Appium session. If WinAppDriver also supports a subset of these commands we need to change that logic.

[2020-12-09 10:08] serhatbolsu commented on #6211
Yes WinAppDriver supports touchActions, even when I open appium (winappdriver can run by itself, or through appium) they are correctly propagated to win app driver.
Here is a full list, they claim to support -> [supported api list](https://github.com/microsoft/WinAppDriver/blob/master/Docs/SupportedAPIs.md)

[2020-12-09 10:20] christian-bromann commented on #6211
Apparently not, there is no endpoint that defines `/session/:sessionId/touch/perform` which is required to use `touchActions`. You can however use the `touchPerform` command.

[2020-12-09 10:30] serhatbolsu commented on #6211
I have not seen it working yet, however there are examples in their Regression suite
https://github.com/microsoft/WinAppDriver/blob/master/Tests/Input/TouchScenarios.cs

Do you mean, they only support single touch functions but not as action and combination of actions?

[2020-12-09 10:31] christian-bromann commented on #6211
Correct.

[2020-12-09 10:31] christian-bromann commented on #6211
I am going ahead and close this as it isn't something we can fix in WebdriverIO. I recommend to raise an issue in the WinAppDriver project. Thanks!

[2020-12-09 10:31] #6211 closed

[2020-12-09 10:58] serhatbolsu commented on #6211
thank you

[2020-12-09 13:40] jonesh66 commented on #5444
I'll take this up for investigation and hopefully also a fix

[2020-12-09 14:13] pablocoletto commented on #1632
Hi, I know this ticket is closed but since it's quite old, I want to check if it's an available feature in newer versions from webdriver.io

[2020-12-10 00:33] PavelHerasimov commented on #3054
Thank you so much man, I resolve it with your advice! I so appreciated!

[2020-12-10 15:52] Amrkamel1 opened #6213 "ERROR @wdio/runner: TypeError: Cannot read property 'toLowerCase' of undefined"
**Environment** :

[code]

**Config of WebdriverIO**

[code]
**Describe the bug**
`ERROR @wdio/runner: TypeError: Cannot read property 'toLowerCase' of undefined` when the user is not specifying the port and path in his caps, also error logs is pointing to devtools however it's not associated with the test

![image](https://user-images.githubusercontent.com/32042806/101795123-3df64f80-3b10-11eb-9e

[2020-12-10 16:15] Amrkamel1 opened #6214 "ERROR @wdio/local-runner: Failed launching test session: Error: unknown error"
Console log error is showing after the test is done when using WinAppDriver services

**Environment (please complete the following information):**
[code]

**Config of WebdriverIO**
[code]

**Describe the bug**
Unknown error no matter if it block is passing or failing is show upon test completion leading fail for test spec

**To Reproduce**
Steps to reproduce the behavior:
Using common config as sh

[2020-12-10 16:46] mgrybyk commented on #6214
Let me clarify a bit. The case above is one of the issues happening because of fallback to devtools protocol mechanish.

@christian-bromann do you think it worst disabling fallback to devtools protocol or check capabilities/config before trying doing that?
examples when  it doesn't make sense to switch to devtools protocol:
- if selenium standalone service is used and devtools protocol is not spec

[2020-12-10 17:03] christian-bromann commented on #6214
This should not be a problem as these services update the config to have capabilities properly connect to the driver and therefor make WebdriverIO automatically pick the WebDriver protocol.

Yeah, this could be problematic. We should also default to WebDriver if we have an indication of a mobile remote environment.

[2020-12-10 18:09] christian-bromann commented on #6213
Duplicate of #6214

[2020-12-10 18:09] #6213 closed

[2020-12-10 18:10] #6193 closed

[2020-12-10 18:13] #3780 closed

[2020-12-10 18:14] christian-bromann commented on #5785
I will close this. A reproducible example is essential here for anyone who wants to fix this bug. Until we don't have this we can't continue on the problem.

[2020-12-10 18:14] #5785 closed

[2020-12-10 18:17] christian-bromann commented on #4100
It seems that it doesn't make much sense to move forward with this given that the W3C Working Group already works on the new Bidi spec. I've contributed to that with a [cddl parser](https://github.com/christian-bromann/cddl) that will help compose a cddl spec and consume it in clients like WebdriverIO.

[2020-12-10 18:17] #4100 closed

[2020-12-10 18:19] christian-bromann commented on #5439
Added this to the todo list for the new website. Let's continue conversations there.

[2020-12-10 18:19] #5439 closed

[2020-12-10 18:23] christian-bromann commented on #5711
Closing due to inactivity. Happy to re-open if more information can be provided.

[2020-12-10 18:23] #5711 closed

[2020-12-10 18:42] christian-bromann opened #6216 "Tracking doc: rewrite `@wdio/runner` package into TypeScript"
As we move the code base to TypeScript we also should rewrite `@wdio/runner`.

[2020-12-12 01:01] sjbarag opened #6224 "browser.keys("Enter") actually sends "NumpadEnter""
**Environment:**
 - **WebdriverIO version:** 6.10.5
 - **Mode:** WDIO testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.22.1
 - **NPM version:** 6.14.6
 - **Browser name and version:** Chrome 87
 - **Platform name and version:** macOS 10.15.7
 - **Additional wdio packages used (if applicable):** `@wdio/local-runner`, `@wdio/static-server-service`

**Config o

[2020-12-12 01:05] sjbarag commented on #6224
Well this is an embarassing case of PEBCAK: `webdriverio/src/constants.ts` lists "Return" and "Enter": https://github.com/webdriverio/webdriverio/blob/e78ecef891b2de4a2f7c198117d35db8debf1c68/packages/webdriverio/src/constants.ts#L325-L326

And the WebDriver spec does the same: https://w3c.github.io/webdriver/#keyboard-actions

Notably, `\uE007` is both "Enter" and "NumpadEnter", but `\uE006` is "

[2020-12-12 01:05] #6224 closed

[2020-12-13 13:32] Ragner16 commented on #3256
Error still exist and its a shame that if you follow "getting started" from https://webdriver.io/docs/gettingstarted.html  you will get this issue.
I got some reference that this issue is due to new wdio version here https://phabricator.wikimedia.org/T231305 but it seems like it is solved but problem still exists .
![Wdio_error_local runner](https://user-images.githubusercontent.com/74927856/10201

[2020-12-13 13:37] mgrybyk commented on #3256
The link you've shared is not related to wdio. I'm not getting issue like that following getting started guide. Can you please share steps to reproduce or minimum reproducible example?

[2020-12-13 14:28] Ragner16 commented on #3256
I just followed the steps in "getting started guide" .
May be this can help what's there in Package.json
  "devDependencies": {
    "@wdio/cli": "^6.10.9",
    "@wdio/mocha-framework": "^6.10.6",
    "@wdio/spec-reporter": "^6.10.6",
    "@wdio/sync": "^6.10.7",
    "chromedriver": "^87.0.4",
    "local": "^0.3.3",
    "wdio-chromedriver-service": "^6.0.4"
  }

I did try changing version of cli an

[2020-12-13 14:40] mgrybyk commented on #3256
@Ragner16 sorry to say it's a regression in the latest version, so you are right!

to workaround, install the previous version: `npm i --save-dev @wdio/cli@6.10.5`

[2020-12-13 14:42] mgrybyk commented on #3256
I'll raise an issue for that

[2020-12-13 14:46] mgrybyk opened #6226 "@wdio/cli can't init wdio.conf.js properly since 6.10.5"
**Environment (please complete the following information):**
 - `@wdio/cli`: 6.10.9

**Describe the bug**
Regression since 6.10.5
Follow https://webdriver.io/docs/gettingstarted.html

[code]

**Expected behavior**
cli should install proper packages

[code]

[2020-12-13 16:00] mgrybyk commented on #6226
will be fixed with the PR

[2020-12-13 16:00] #6226 closed

[2020-12-14 07:00] L0stSoul commented on #5364
Hey guys! at least for now can fiber dependency be updated to version 5? version 5 contains pre-built binaries for latest node LTS which allow to not install g++, make and other stuff :) which make life way easier.

[2020-12-14 07:52] christian-bromann commented on #5364
@L0stSoul according to the readme:

As we still support Node v10 we can't make an update just yet. However we do plan a release soon and will drop support for Node v10 which allows us to tackle this ticket.

[2020-12-14 13:01] christian-bromann commented on #6208
duplicate of #6216

[2020-12-14 13:01] #6208 closed

[2020-12-14 13:38] christian-bromann commented on #6206
@DirkoOdendaal do you think this patch can be supported in TS v3? If not @mgrybyk is it a reasonable move to require TS v4 with the next major update?

[2020-12-14 13:39] christian-bromann commented on #6189
@TheTechHuss can you please provide more information? Otherwise we have to close the issue.

[2020-12-14 14:55] christian-bromann commented on #6191
I will close this issue as no reproducible example could be provided that indicates an issue with the stub protocol instance. I added a PR to find out the execution times of hooks.

[2020-12-14 14:55] #6191 closed

[2020-12-14 15:01] christian-bromann commented on #6088
@suchitrak after taking a second look it seems that you've provided the wrong capabilities:

[code]

According to the [Safaridriver](developer.apple.com/documentation/webkit/about_webdriver_for_safari) docs you need to set the caps as following:

[code]

Let me know if you have any further questions.

[2020-12-14 15:01] #6088 closed

[2020-12-14 15:10] mgrybyk commented on #6206
We should drop ts 3 in next major version as far as all the internal types are build with ts 4.

Also, it would be nice to think how can we support multiple versions, at least minor. Many packages (jest for example) do that so it's not something new but requires some investigation.

[2020-12-14 18:20] joshmgrant opened #6234 "Sauce Service Not Updating Jobs With Needed Data in 6.10.4"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-12-14 19:27] ArminazK opened #6235 "@wdio/selenium-standalone-service - TypeError: require(...) is not a function"
- **WebdriverIO version:** 6.10.10
 - **Mode:** wdio
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.20.0
 - **NPM version:** 6.14.8
 - **Browser name and version:** Chrome 87.0.4280.88
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/selenium-standalone service

**Config of WebdriverIO**
According to example

*

[2020-12-14 20:16] mgrybyk commented on #6235
Please update @wdio packages to the latest versions, try deleting node_modules folder, package-lock.json, and installing packages again.

[2020-12-14 20:16] #6235 closed

[2020-12-14 22:08] ArminazK commented on #6235
I do have latest @wdio versions.
Deleted node_modules, package.lock file and reinstalled again.
The same issue appears on new fresh PC as well.

[2020-12-14 22:21] christian-bromann commented on #6235
Just checked and had no issues.

[2020-12-14 22:42] ArminazK commented on #6235
Thank you Christian for forcing me to check more. My bad. My corporate artifactory was messing with packages :(
Everything works fine now. 👍

[2020-12-15 05:51] hieuxlu commented on #5522
I would like to give it a try. Just need to confirm a few points:
- I assume this is only for v7 docs. v6 and ealier will be moved to a separate subdomains
- From what I read, moving to docosaurus v2 will be a bigger effort than v1 because of MDX, and the CLI is not that great. So that would be the major part of this migration https://v2.docusaurus.io/docs/migration
- v2 is still alpha, and IMHO,

[2020-12-15 05:56] hieuxlu commented on #5522
A sample migration PR to show what's the difference between Docusaurus v2 and v1
https://github.com/facebook/create-react-app/pull/7785/files

IMHO, for our webdirverio docs, v2 provides no real value at all. I would really recommend keeping with v1 first, and migrate to v2 when it's mature.

[2020-12-15 08:09] christian-bromann commented on #5522
Yes. At some point we will create a v6 branch and continue to develop/release v6 from there while working on v7 in master.

Haven't looked into MDX too deeply but don't see any major blockers yet.

Please also see the discussion in #6212. Let's identify the work items first and create issues out of these.

[2020-12-15 10:16] christian-bromann commented on #6234
@joshmgrant I was not able to reproduce this:

![Screenshot 2020-12-15 at 11 13 21](https://user-images.githubusercontent.com/731337/102201900-faf8fb00-3ec6-11eb-92e3-e72fba368c2c.png)

Maybe just a temporary Glitch in the API?

[2020-12-15 10:24] link89 commented on #3187
My Safari's version is 12. It works well on Safari 13 though.

[2020-12-15 11:06] christian-bromann commented on #5364
Fixed with #6236

[2020-12-15 11:06] #5364 closed

[2020-12-15 11:59] Fr33z3m4n opened #6237 "Cannot set property 'failures' of undefined > 6.10.5"
Environment (please complete the following information):

WebdriverIO version: 6.10.10
Mode: WDIO testrunner
If WDIO Testrunner, running sync/async: sync
Node.js version: 14.5.0
NPM version: 6.14.9
Browser name and version: multiple
Platform name and version: multiple
Additional wdio packages used (if applicable):
"@rpii/wdio-html-reporter": "^6.3.1",
"@types/cucumber": "^6.0.1",
"@wdio/appium-ser

[2020-12-15 12:09] nicolasbouffard commented on #6191
Sorry for the long silence and for re-opening the issue. I just wanted to say thanks and confirm that I can now use ES6 import syntax in my script without having to resort to babel. I just had to use `.mjs` as an extension for my scripts instead of `.js`.

Now my only problem is that I cannot use the `require` syntax anymore (I have legacy scripts that would require to be migrated) because WDIO th

[2020-12-15 12:20] mgrybyk commented on #6191
I guess it has nothing to do with delay but something with your project setup, right?

[2020-12-15 15:41] christian-bromann commented on #5940
Blocked until all packages have been rewritten.

[2020-12-15 16:10] christian-bromann commented on #5838
@MichelAmin47 @woutdejong1986 any updates?

[2020-12-15 20:16] pmerwin opened #6238 "devtools past 6.6.4 breaks AWS lambda-chromium"
It looks like after 6.6.4 of the devtools service, our lambda-chromium build is failing to connect using devtools back end:

ERROR @wdio/runner: Error: connect ECONNREFUSED 127.0.0.1:34285

Builds that succeed are using hostname:localhost and connect just fine, but if we move past 6.6.4 it breaks. I saw there is a new config object that can be passed into devtools service:

 // this['wdio:devtools

[2020-12-15 20:27] christian-bromann commented on #6238
Logs would be helpful. I am not aware of any breaking changes that could cause this.

[2020-12-15 21:36] pmerwin commented on #6238
failing test log: https://gist.github.com/pmerwin/a22b397b684c281175ccf6cb9332cc50
passign test log:  https://gist.github.com/pmerwin/1be14e8a481030adbad131a5ca06459c

I wish I could provide more / better logs but this is all I get ^

[2020-12-15 22:07] christian-bromann commented on #5522
Closing in favor of #6239

[2020-12-15 22:07] #5522 closed

[2020-12-16 20:17] Askarov5 opened #6241 "Unable to Click on Button in Safari"
Testing angular 1 web application. Completed an automation project for angular 2 app and everything worked fine. Started another project for the company's main web application which was built on angular 1 JS. Automated Login Page and run the tests on chrome, everything works fine. But the same code could not click on a button(Sign in) and failed on safari. (Could not click all buttons - By passed

[2020-12-17 08:53] christian-bromann commented on #6241
I am sorry to say that unfortunately there is nothing WebdriverIO can do here. There are numerous issues [reported](https://developer.apple.com/forums/thread/98188) on that. I recommend to report this at feedbackassistant.apple.com. Thanks!

[2020-12-17 08:53] #6241 closed

[2020-12-17 14:08] GRme opened #6242 "In version 6.10.11: Failed launching test session: TypeError: hooks.map is not a function"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.10.11
 - **Mode:** Local Runner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.21.0
 - **NPM version:** 6.14.5
 - **Browser name and version:** Chrome 87.0.4280.88
 - **Platform name and version:** Mac OS X 10.15.7
 - **Additional wdio packages used (if applicable):**
     "@w

[2020-12-17 15:39] christian-bromann commented on #6242
@GRme could you provide a reproducible example? I can't reproduce this? Did you make sure to update all wdio related packages?

[2020-12-17 18:57] FelixZilber opened #6243 "@wdio/devtools-service currently only supports Chrome version 63 and up error"
I'm getting the next error "@wdio/devtools-service currently only supports Chrome version 63 and up..." while using the latest devtools 6.10.11. All other packages up to date as well.

Looks like the problem in wdio-devtools-service/src/index.ts:

` beforeSession (_: WebdriverIO.Config, caps: WebDriver.DesiredCapabilities) {
        if (!isBrowserSupported(caps)) {
            return log.error(UNS

[2020-12-17 22:14] abkoyuncu commented on #6242
I was having the same issue for mocha.

It was working fine with cucumber and then I switched to mocha and started to have above issue.
I noticed that @dio/cucumber-framework package was 6.5.0 as well as above mentioned packages whereas I had @wdio/mocha-framework in version 6.10.11.

Upgrading to version 6.10.11 helped for below packages:
-@wdio/cli
-@wdio/sync
-@wdio/local-runner

@GRme I sugges

[2020-12-18 05:47] salunkhe-ravi commented on #4321
What if we would need to have Cucumberjs + WDIO + Mocha for API tests?. Can it be feasible?

[2020-12-18 09:13] GRme commented on #6242
@christian-bromann
The note to update also all other wdio packages to the new version 6.10.11 was the right one. But it is really stupid to get to know this. nowhere you will find that really necessary info about it...

[2020-12-18 09:13] #6242 closed

[2020-12-18 09:35] pfoucray opened #6244 "unable to run tests after updating project dependencies : wdio not finding conf.js file"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** ^

[2020-12-18 10:12] pfoucray commented on #6244
For information, seeing bugs that a similare to my issue, refering to yarn not working with webdriver
https://github.com/webdriverio/webdriverio/issues/2218
https://github.com/webdriverio/webdriverio/issues/2215#issuecomment-319181304
I deleted all node_modules and performed npm install (IO yarn install)
Seems to work.
Will perform tests and keep updated

[2020-12-18 10:23] christian-bromann commented on #6244
@pfoucray please ensure that you have updated all WebdriverIO related packages. The issues you have linked are 3 years old and unrelated to this. I will close this but happy to re-open in case this bug continues to appear after updating all packages.

[2020-12-18 10:23] #6244 closed

[2020-12-18 10:26] pfoucray commented on #6244
FYI :
  "devDependencies": {
    "@types/chai": "^4.2.14",
    "@types/cucumber": "^6.0.1",
    "@types/node": "^14.14.10",
    "@types/webdriverio": "^5.0.0",
    "@typescript-eslint/eslint-plugin": "^4.8.2",
    "@typescript-eslint/parser": "^4.8.2",
    "@wdio/allure-reporter": "^6.10.6",
    "@wdio/browserstack-service": "^6.10.0",
    "@wdio/cli": "^6.10.0",
    "@wdio/cucumber-framework": "^

[2020-12-18 10:36] mgrybyk commented on #4321
Not quite sure I get your point @salunkhe-ravi

[2020-12-18 12:51] christian-bromann commented on #6244
@pfoucray make sure you clean your `node_modules` directory and remove the `package-lock.json` and install everything fresh.

[2020-12-18 13:12] christian-bromann commented on #6243
This has been fixed with the latest release. Thanks for reporting.

[2020-12-18 13:12] #6243 closed

[2020-12-18 13:15] christian-bromann commented on #6238
Please update your WebdriverIO version and try again. The issue should be fixed now.

[2020-12-18 13:15] #6238 closed

[2020-12-18 13:17] christian-bromann commented on #6237
@Fr33z3m4n please update all your packages e.g. remove node_modules and package-lock and re-install all dependencies. This should fix the bug.

[2020-12-18 13:17] #6237 closed

[2020-12-18 13:20] christian-bromann commented on #6234
@joshmgrant this should be fixed by #6245. Please update your dependencies and try again. Happy to re-open in case the bug still appears.

[2020-12-18 13:20] #6234 closed

[2020-12-18 13:30] pfoucray commented on #6244
@christian-bromann
What I did is clone the repo twice brand new :
First folder : yarn install then npx run wdio.conf.js then yarn upgrade then run wdio.conf.js
Second folder : npm install then npx run wdio.conf.js then npm upgrade then run wdio.conf.js
Both cases : missing configuration

Also : on the very same computer : have the project originaly cloned and working on with node_modules untuched

[2020-12-18 13:33] christian-bromann commented on #6244
This is not a valid wdio command.

[2020-12-18 13:38] pfoucray commented on #6244
You are absolutely right, my mistake
npx wdio ./pathToMyConf.js

After npm update : seems to start.
Browserstack service refuses my credentials but it'll be another story I guess..
Node-Js makes life easy AND hard sometimes :(
Ha well...
Thank you anyways

[2020-12-18 15:34] MichelAmin47 commented on #5838
@christian-bromann we rewrote the src files to TypeScript and the current tests passed. Currently we are rewriting the tests.

[2020-12-18 23:33] redonkulus opened #6247 "@wdio/mocha-framework@6.10.6 introduces TypeScript errors"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.10.11
 - **Mode:** standalone
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** v12.16.2
 - **NPM version:** 6.14.8
 - **Additional wdio packages used (if applicable):**

**Describe the bug**
`@wdio/mocha-framework@6.10.6` causes the following TypeScript errors via `@types/jest`. I

[2020-12-18 23:58] blane1988 commented on #6189
Hello. I am getting this as well against iOS/Android virtual and real devices.

It is failing in /node_modules/@wdio/sauce-service/build/service.js line 34

![Uploading Screen Shot 2020-12-18 at 5.56.28 PM.png…]()

Here are the capabilities I am using:

[code]

[2020-12-19 00:36] blane1988 commented on #6189
Okay, I see what is going on. In the working project, sauce-service before() hook in service.js, it looks like this:

[code]

In the newer project, that same hook looks like this:

[code]

When I copy/paste the first code into the new project, it runs without any errors.

[2020-12-20 19:02] dizhar commented on #5445
Yes, I would love this solution.

[2020-12-21 11:41] mgrybyk commented on #4134
Here is a working example with Leaflet.js
[code]

[2020-12-21 11:49] mgrybyk commented on #4134
From what I see in some cases a built-in `dragAndDrop` works, in others - it's required to use `performActions`.
It depends on the app and how developers implemented drag and drop functionality.

If you are not really lucky with the app it's required to use `performActions`.
There are multiple examples in the thread that could help.

Is there anything else that can be done for this issue?

[2020-12-21 12:50] christian-bromann commented on #4134
@mgrybyk we use `performActions` to execute the dragAndDrop command (in all modern browser that support WebDriver). So is `{ type: 'pointerMove', origin: 'pointer', x: 1, y: 1 },` the only difference here?

[2020-12-21 12:57] mgrybyk commented on #4134
One more issue is that dragAndDrop function detects the source position incorrectly if the source element is in iframe.

It's not a single example where built-in drag and drop doesn't work for me, just one of them.

[2020-12-21 15:59] gulatirajat commented on #5786
Shouldn't this solve the purpose here:

services: [
            ['sauce', {
                sauceConnect: true,
                sauceConnectOpts: {
                        proxy: 'my-proxy.my-org:8084,
                        port: 443,
                        tunnelIdentifier: 'POC_TEST'
                }
            }]
        ],

[2020-12-22 09:20] christian-bromann commented on #4134
@mgrybyk if the element is within an iframe you can't fetch it in the first place, so the command would need to be executed as follows:

[code]

It would be good to identify how we can improve our `performAction` command to avoid having user construct these parameter themselves. Adding a `{ type: 'pointerMove', origin: 'pointer', x: 1, y: 1 }` is cheap and if it would help in certain use cases we

[2020-12-22 16:09] Michel73 opened #6257 "webdriverio: setValue fails for edge(87) on browserstack"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.10.11
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.13.1
 - **NPM version:** 6.12.1
 - **Browser name and version:** Edge 87
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**
  "@wdio/browserstack-

[2020-12-23 13:46] qvalero opened #6259 "Type 'BrowserObject' has no call signatures"
Hello,

Since last update of webdriver io dependencies, which includes more and more typecript support, I have a new issue appearing.
I have created custom command, following https://webdriver.io/docs/typescript.html#adding-custom-commands

It concerns a swipe function with following declaration:
`export function swipe(this: WebdriverIO.BrowserObject, args: ISwipeArgs = {}): void {...}`

I have ad

[2020-12-23 21:26] erwinheitzman commented on #6257
What's the behavior of the code?

Also, the error is missing from the log that you provided.

[2020-12-23 22:33] erwinheitzman commented on #6259
I'm missing the part where you declare the WebdriverIO scope in your type declaration file, do you have this namespace declared?

[2020-12-23 22:39] erwinheitzman commented on #4134
Interestingly I have seen the same behavior in Cypress where in our current codebase we had to trigger the mousemove/pointermove event twice so I do think it's a good way to fix it but I think moving to the same location twice might be better and should work as well if my assumption that it is the same issue, is actually correct.

[2020-12-24 04:39] shabfactor commented on #6189
i am having the same issue with version `6.10.14` do we have any fix available?

[2020-12-24 08:12] qvalero commented on #6259
Is it what you need?
`  "include": [
    "./src/**/*.ts"
  ]`

  My custom command is in ./src folder, and my type declaration file is on ./types folder

[2020-12-24 10:50] christian-bromann commented on #6189
@shabfactor can you please provide more information, logs or a reproducible example?

[2020-12-25 16:35] erwinheitzman commented on #6259
No I meant the part where you declare the WebdriverIO namespace in the `types/index.d.ts` file. Just like shown in the documentation

[2020-12-27 08:32] AlexeyCL opened #6261 "Docker process is hanging after execution of tests"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6
 - **Mode:** Docker/ wdio
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12
 - **NPM version:** 6.14
 - **Browser name and version:** Chrome 87
 - **Platform name and version:** Linux, Mac
 - **Additional wdio packages used (if applicable):** wdio-docker-service

**Config of Webd

[2020-12-27 12:57] mgrybyk commented on #6261
I guess it's an issue of docker service, please raise an issue there https://github.com/stsvilik/wdio-docker-service

Let us know if you have any further questions.

[2020-12-27 12:57] #6261 closed

[2020-12-28 08:10] qvalero commented on #6259
Ah yes this is it:

`
declare namespace WebdriverIO {

    interface Config {
        automationProtocol: 'devtools' | 'webdriver';
        screenshotPath: string;
        logsSplitter?: import('../src/utils/logsSplitter').ClientLogsSplitter;
    }

    export interface ILogger {
        trace: (log: string) => void;
        debug: (log: string) => void;
        log: (log: string) => void;

[2020-12-28 10:27] AlexeyCL commented on #6261
@mgrybyk I think I found the issue, I'm waiting for PR review:https://github.com/stsvilik/wdio-docker-service/pull/93

[2020-12-28 11:30] AlexeyCL commented on #6261
@christian-bromann I think, you can delete the labels. I'm waiting for PR review https://github.com/stsvilik/wdio-docker-service/pull/93

[2020-12-28 16:25] VicGrygorchyk opened #6269 "element.waitUtil() has no reference to "this""
**Environment:**
 - **WebdriverIO 6.4.2:**
 - **WDIO Testrunner:**
 - **running sync:**
 - **Node.js 12.18.3:**
 - **NPM 6.14.6:**
 - **Browser Chrome 87:**
 - **Platform Windows 10:**
[code]

**Config of WebdriverIO**
[code]

**Describe the bug**
Accodring to the docs https://webdriver.io/docs/api/element/waitUntil.html the element `waitUntil()` method has a reference to `this`, what is the eleme

[2020-12-28 17:18] jpratt2 opened #6271 "improved documentation for $$.html"
May I suggest an addition for https://webdriver.io/docs/api/element/$$.html
I couldn't get the proposed solution to work for me, which is to use a $ selector after a $$ selector in order to use getText(), so I would like to offer this a potential additional for the page:

For example:
[code]

[2020-12-28 17:32] christian-bromann commented on #6271
@jpratt2 I am not sure what you are proposing here. The `$$` command returns an array there is no need to wrap it within `Array.from`.

[2020-12-28 17:35] christian-bromann commented on #6269
You can only access this if you use scoped functions, e.g.

[code]

[2020-12-28 17:35] #6269 closed

[2020-12-28 18:23] jpratt2 commented on #6271
You are correct, I am mistaken.
Perhaps this is what confused me: after the $$ this both an index and another $ symbol:
$$(selector')[2].$('a').getText()

Is the $('a') helping in any way?

What I needed was some documentation such as this:

To access properties of elements in the list, use a get method such as this:

$$('selector')[2].getText();

This does work, and I was wondering why there was

[2020-12-28 18:27] christian-bromann commented on #6271
If you query `$$(selector')[2].$('a')` you are looking for an `<a />` that is within the 3rd found element with selector `selector`.

The `$$` command has such an example [in the docs](https://webdriver.io/docs/api/browser/$$.html#examples). Happy to improve the documentation on the selector side but I am uncertain what you are confused about or what is missing.

[2020-12-28 18:37] jpratt2 commented on #6271
Ah, I see now.
I think I am just too new to webdriver.io, and most people would have
understood.

Perhaps you may want a sentence like this:

"To access properties of a single element, you may use a getter function.
Example:
$$(selector)[2].getText();

Thank you for your help.
You can close this.

On Mon, Dec 28, 2020 at 11:27 AM Christian Bromann <notifications@github.com>
wrote:

[2020-12-28 19:15] christian-bromann commented on #6271
Feel free to drop by our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) community channel for support questions like this.

[2020-12-28 19:15] #6271 closed

[2020-12-29 15:21] christian-bromann commented on #6247
@redonkulus are you using Jest as your unit test framework?

[2020-12-29 15:24] christian-bromann commented on #6257
I recommend to reach out to the BS support team. WebdriverIO acts according to the WebDriver specification and doesn't do anything specific for Edge. This looks like a configuration issue on BS side.

[2020-12-29 15:24] #6257 closed

[2020-12-29 15:24] christian-bromann commented on #5838
@MichelAmin47 can you create a draft PR? Would love to provide some early feedback 😉

[2020-12-29 15:31] redonkulus commented on #6247
Yes that is correct

[2020-12-29 15:40] #6051 closed

[2020-12-29 17:07] christian-bromann commented on #5945
Implemented in #6275

[2020-12-29 17:07] #5945 closed

[2020-12-29 17:09] christian-bromann commented on #6071
Closing due to inactivity. Happen to re-open if a reproducible example can be provided.

[2020-12-29 17:09] #6071 closed

[2020-12-29 17:11] christian-bromann commented on #3407
@nicholasbailey still interested to pick this up? I just made a similar PR for TypeScript: #6275. We might be able to use the same approach here.

[2020-12-29 17:20] christian-bromann commented on #5942
@StephenEsser we currently allow service to fail in `onPrepare` and `onComplete` using the `SevereServiceError` that was implemented in #5565. You can collect errors in a log file or wherever and use the onComplete hook in your service to check for these errors. If there are any you can make the process fail by throwing a `SevereServiceError` in that hook function.

I think this is essentially wha

[2020-12-29 17:20] #5942 closed

[2020-12-29 23:56] christian-bromann commented on #5456
I revisited this issue and couldn't find any problem. The test was wrong and should be this:

[code]
then it passes.

[2020-12-29 23:56] #5456 closed

[2020-12-30 00:12] christian-bromann commented on #4503
Closing in favor of #4709 - we should first find out what we want to build and then set up the project.

[2020-12-30 00:12] #4503 closed

[2020-12-30 00:13] christian-bromann commented on #4709
Moving into a GitHub discussion: #6277

[2020-12-30 00:14] christian-bromann commented on #5550
Moving into a GitHub discussion: #6277

[2020-12-30 00:14] #5550 closed

[2020-12-30 06:15] jaymitap commented on #3544
@XanthiZ did you get a solution for this, I am getting the same error on chrome

[2020-12-30 21:22] MichelAmin47 commented on #5838
@christian-bromann of course no problem, will prep one tomorrow.

[2020-12-31 00:43] starpit opened #6278 "webdriverio package has non-dev dependencies on @types"
**Is your feature request related to a problem? Please describe.**

The webdriverio npm has non-dev dependencies on a variety of `@types/...` packages. In particular, I would like to call out the lodash types. Thus, even if my project does not itself depend on lodash, my typescript build times are slowed down (pretty excessively; by about 40%) by having the lodash types installed. The 40% number c

[2020-12-31 12:46] christian-bromann commented on #6278
There are some typings the WebdriverIO types rely on which need to remain production dependencies. But you are totally right that some types like the one from lodash should can be moved into the dev dependency section. Any contributions are highly appreciated.

[2021-01-02 10:36] #6278 closed

[2021-01-02 16:58] TamasSzalisznyi commented on #4303
java openjdk15, chromedriver 87. ..., selenium-java 3.14.59

with that simple driver method:

public static WebDriver getDriver() {
        System.setProperty("webdriver.chrome.driver", "/home/user/snap/webdriver/chromedriver87");
        final WebDriver driver = new ChromeDriver();
        return driver;
    }

I get the same issue with invalid log level:

Starting ChromeDriver 87.0.4280.88 (89e2

[2021-01-04 10:38] AnnikaNissen opened #6280 "@wdio/allure-reporter: test retries not shown properly for v6.8.1 and higher"
After updating @wdio/allure-reporter to version 6.8.1, test retries are no longer shown properly in the allure report. This is also the case with the latest version of allure-reporter (v6.10.6).

### Expected behaviour - version 6.7.2:
The "retries" tab shows the retries and clicking on a specific retry shows the steps, screenshots, and errors from the first try.
![Screenshot 2021-01-04 at 10 52 3

[2021-01-04 12:44] christian-bromann commented on #6280
This might be related to this change: https://github.com/webdriverio/webdriverio/pull/6076/files. Any help on this would be appreciated 🙏

[2021-01-04 14:38] MichelAmin47 commented on #5838
@christian-bromann After the rebase of the masterfork we encountered an "issue" due to code changes in the master fork (hence the PR delay):
report.d.ts in the wdio-reporter packages has been removed. We extend the Report class from the deleted file in the JunitReporter class.

I had a look at the current code base and saw the newly rewritten Allure reporter uses an  `AllureReporterOptions extends

[2021-01-04 15:05] christian-bromann commented on #5838
The reporter should have a similar set up as other reporter, e.g. [`@wdio/concise-reporter`](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-concise-reporter/src/index.ts).

Feel free to create a draft PR as soon as possible. I can wait to provide feedback until you say it is good for review.

[2021-01-04 17:28] Askarov5 commented on #4954
The Following code worked for me:
capabilities: [
        {
            maxInstances: 1,
            browserName: 'safari technology preview',
            //>Run In terminal: /Applications/Safari\ Technology\ Preview.app/Contents/MacOS/safaridriver --port 4444
            port: 4444
        }
    ]

[2021-01-04 17:32] Askarov5 commented on #6241
Using Safari Technology Preview solved this issue for me. Configurations:
capabilities: [
        {
            maxInstances: 1,
            browserName: 'safari technology preview',
            //>Run In terminal to run safari preview driver: /Applications/Safari\ Technology\ Preview.app/Contents/MacOS/safaridriver --port 4444
            port: 4444
        }
    ]

[2021-01-04 23:41] christian-bromann opened #6286 "Further TypeScript CLI improvements"
After #6275 we still can't bootstrap a TypeScript project due to the following issues:

- `typescript` package is missing and needs to be installed
- `types` in `tsconfig.json` needs to be modified

I suggest to check if a `tsconfig.json` is existing, then:

- if yes, don't install typescript dependencies (we should assume that the user has set this up correctly) and print out info message that We

[2021-01-05 09:41] paul-gladoon opened #6287 "TS2307: Cannot find module 'puppeteer' or its corresponding type declarations"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.11.0

**Describe the bug**
Error TS2307: Cannot find module 'puppeteer' or its corresponding type declarations.

**To Reproduce**
Steps to reproduce the behavior:

1.Use TypeScript;
2.Execute tsc;

**Actual Result**
node_modules/webdriverio/webdriverio-core.d.ts:596:44 - error TS2307: Cannot find module 'pup

[2021-01-05 11:33] #6287 closed

[2021-01-05 18:40] chan-ai opened #6290 "wdio runner sometimes doesn't realize that a test has completed when running through gridlastic and report portal configured"
**Environment (please complete the following information):**
 - **WebdriverIO version:** ^5.18.7
 - **Mode:** [Testrunner mode]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [~8.9.4]
 - **NPM version:** [6.14.5]
 - **Browser name and version:** [Chrome ^87.0.2]
 - **Platform name and version:** [Windows 10]
 - **Additional wdio packages used (if applicable):**
 -  [

[2021-01-05 19:44] chan-ai commented on #6290
@christian-bromann adding more logs.

[2021-01-05 22:11] christian-bromann commented on #6290
@chan-ai as I mentioned in the Gitter chat this issue is impossible for us to get you any support. The logs you provided aren't the one I requested and don't really show any clue of bug on WebdriverIO side. Please investigate first whether this is actually an issue in WebdriverIO or not a setup problem in your CI/CD system.

[2021-01-05 22:11] #6290 closed

[2021-01-06 12:17] amartanwar42 opened #6291 "Exit code is 1 though all test passes"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2021-01-06 12:20] christian-bromann commented on #6291
Please provide a reproducible example.

[2021-01-06 21:46] mjhenkes opened #6292 "Consider removing fibers dependency"
**Is your feature request related to a problem? Please describe.**
The WebdriverIO Sync package has a [dependency](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-sync/package.json#L32) on [fibers](https://github.com/laverdet/node-fibers) version 4.0.1.

The fibers package versions seem to have a narrow range of node versions that they support and fails to install outside of t

[2021-01-06 23:16] christian-bromann commented on #6292
@mjhenkes thanks for raising the issue. We will continue support Fibers for people that like to use the `@wdio/sync` packages because it enormously simplifies how tests are written with WebdriverIO. You are not forced to use it and to have Fibers as dependency. If you remove `@wdio/sync` from your dependency list and write WebdriverIO tests with `async/await` you do not depend on Fibers.

I am hap

[2021-01-06 23:16] #6292 closed

[2021-01-06 23:27] mjhenkes commented on #6292
@christian-bromann Thanks for the information! I appreciate the response 😄

[2021-01-07 13:28] christian-bromann opened #6294 "Inconsistent behavior using chrome args in DevTools"
With the WebDriver protocol Chrome flags don't need to be prefixed with `--`. With DevTools this won't work and will result in Chrome opening a tab for every flag used, e.g.

![image](https://user-images.githubusercontent.com/731337/103897996-93645300-50f4-11eb-9c6a-deef70a696b5.png)

Let's make this consistent and ensure that in DevTools all args are prefixed with `--` [when launching the browser

[2021-01-08 14:51] jpratt2 commented on #381
Another option, simpler:

[code]

[2021-01-09 21:36] erwinheitzman commented on #381
@jpratt2 FYI you can even utilize the `onCommand` hook to automatically apply this if the command name is `click` for example. Just a quick tip 😉

[2021-01-11 06:02] dnomsed31 opened #6300 "Test run successfully individually but failed for the whole test [WDIO]"
Hi everyone, I'm new to webdriverio & I need some help here.

Whenever I run my test individually on VS Code Terminal, is working fine. Example: `npm run --suite netsalespage`

### _**wdio.conf.js**_

`specs: [
      './test/**/*.js'
  ],

suites: {
      loginpage: ["./test/loginPage.js"],
      signuppage: ["./test/signUpPage.js"],
      netsalespage: ["./test/netSalesPage.js"],
      salesorder

[2021-01-11 06:34] AutomationReddy opened #6301 "Unable to provide custom sauce-job-name in after hook"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2021-01-11 08:13] christian-bromann commented on #6301
Any suggestions how this could be handled?

[2021-01-11 08:14] christian-bromann commented on #6300
@dnomsed31 please provide some logs and a reproducible example if possible. It is really hard to understand what is going on.

[2021-01-11 08:29] wswebcreation commented on #6301
@AutomationReddy

Can you also explain when you see this behaviour? Is this with Sauce Desktop VMs or with Sauce Labs real devices?

[2021-01-11 08:42] MichelAmin47 commented on #5838
@christian-bromann @woutdejong1986 We are making progress but ran into a few issues. Really want to finish this up ASAP so I booked an open office hour spot to discuss. Hoping you can give some insight on the overall code.

[2021-01-11 09:56] AutomationReddy commented on #6301
@christian-bromann How about accepting one more option like customName(`job_name`) in sauceOptions. Wherever we are updating the jobname in sauce service library, we fist check customName(``) is not null and not empty, then update with custom name else keep the suiteTitle.

@wswebcreation It's happening with VMs and sim/emu. You can execute a test using sauce service and update sauce job-name usin

[2021-01-11 10:16] christian-bromann commented on #6301
@AutomationReddy I suggest to have an additional sauce service options like `autoJobName` which is default `true` but can be set to `false` in which the service will not set the job name. What do you think @wswebcreation?

[2021-01-11 10:55] amuttsch commented on #6113
@christian-bromann  I have the same issue on Linux building fibers. I'm using node 14.15.1 on Arch Linux. I have `python` and the build tools installed. Am I missing sth. that needs to be installed? Thanks!

[code]

[2021-01-11 11:01] wswebcreation commented on #6301
@christian-bromann

It's kinda strange that you can't update is in an after hook because the jobname is set in the before hook of the service. Should we just figure out why it isn't updating it before we introduce a new cap?

I can take a look at it today or tomorrow

[2021-01-11 11:52] christian-bromann commented on #5955
I will broaden this scope as we have rewritten all packages we can take a re-stab at how our typings are implemented. This is a work in progress PR.

[2021-01-11 11:57] christian-bromann commented on #5955
Tackled in #6302

[2021-01-11 11:57] #5955 closed

[2021-01-11 12:00] christian-bromann commented on #6301
Sounds good. The job name is in fact set in the after hook as well.

[2021-01-11 16:01] cjatkinson commented on #6014
Investigating

[2021-01-13 06:02] dnomsed31 commented on #6300
Hi @christian-bromann , thank you for replying, I managed to solve it by amending the maxinstances & extending the timeout in wdio.conf.js.

However, I have another enquiry, I'm trying to check if the web application send the API request with the correct parameter. You can check the API call through the chrome inspect and see the network request by using wdio-intercept service. But I have no idea

[2021-01-13 07:45] christian-bromann commented on #6300
@dnomsed31 you can use WebdriverIOs [mocking capabilities](https://webdriver.io/docs/mocksandspies.html) for this. Join our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) if your have further questions. Cheers!

[2021-01-13 07:45] #6300 closed

[2021-01-13 07:57] jamesmortensen opened #6312 "Bug in expect.toHaveChildren - It is returning 4 when we expect"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:**

[2021-01-13 08:28] christian-bromann commented on #6301
@wswebcreation thanks for creating a fix. @AutomationReddy I will release this in a second, please give it a try. Happy to re-open if issue still persist then.

[2021-01-13 08:28] #6301 closed

[2021-01-13 08:31] christian-bromann commented on #5940
fixed by #6302

[2021-01-13 08:31] #5940 closed

[2021-01-13 10:32] christian-bromann opened #6313 "Update Allure to v2"
The `allure-js-commons` has been updated to v2 with TypeScript support. We should update our `@wdio/allure-reporter` to that version and improve our type definitions around it.

[2021-01-13 16:48] JonP-xpb opened #6315 "Appium connection failed to initiate from typescript, due to TypeError for URL"
- **WebdriverIO version:**  6.11.3
 - **Mode:** Standalone
 - **Node.js version:** 14.15.1
 - **NPM version:** 6.14.18
 - **Browser name and version:**  XCode Simulator 12.3
 - **Platform name and version:** MacOS 11.0.1
 - **Additional wdio packages used (if applicable):**
 -
**Config of WebdriverIO**

let serverConfig = {
    path: '/wd/hub',
    host: 'localhost',
    port: 4723,
    logLevel:

[2021-01-14 14:48] mannysah commented on #6237
I am having this problem. What should i check?

Versions of the packages that i am using are:
`    "@wdio/appium-service": "^6.11.0",
    "webdriverio": "^6.12.0",
    "@wdio/cli": "^6.12.0",
    "@wdio/jasmine-framework": "^6.11.0",
    "@wdio/local-runner": "^6.12.0",
    "@wdio/spec-reporter": "^6.11.0",
    "@wdio/sync": "^6.11.0",
    "@rpii/wdio-html-reporter": "^6.3.1",
`

[2021-01-14 14:50] mannysah commented on #6237
@christian-bromann any thoughts?
sorry about the formatting. Here are the versions:

    "@rpii/wdio-html-reporter": "^6.3.1",
    "@wdio/appium-service": "^6.11.0",
    "webdriverio": "^6.12.0",
    "@wdio/cli": "^6.12.0",
    "@wdio/jasmine-framework": "^6.11.0",
    "@wdio/local-runner": "^6.12.0",
    "@wdio/spec-reporter": "^6.11.0",
    "@wdio/sync": "^6.11.0",

[2021-01-14 14:51] Fr33z3m4n commented on #6237
@mannysah
please update all your packages e.g. remove node_modules and package-lock and re-install all dependencies.

This fixed my problem.

[2021-01-14 15:10] mannysah commented on #6237
@Fr33z3m4n I tried that, but that didn't resolve this error. Though this error is not causing any issues with functioning of the test suite, but when there are other errors it hides that error and shows only this error.

[2021-01-14 15:20] mannysah commented on #6237
This is my tree:

`npm ls webdriverio`

├─┬ @wdio/cli@6.12.0
│ └── webdriverio@6.12.0
└─┬ @wdio/local-runner@6.12.0
  └─┬ @wdio/runner@6.12.0
    └── webdriverio@6.12.0  deduped

[2021-01-14 15:26] mannysah commented on #6237
Please note i get this error only when i use HtmlReporter `"@rpii/wdio-html-reporter": "^6.3.1"`. If i use only spec reporter this error doesn't happen.

[2021-01-14 15:58] mannysah commented on #6237
I overlooked the error location, my error is:
`
[0-0] 2021-01-14T15:19:18.248Z ERROR @wdio/local-runner: Failed launching test session: TypeError: Cannot set property 'failures' of undefined at HtmlReporter.<anonymous> (<WORKSPACE>/node_modules/@wdio/reporter/build/index.js:153:32) at HtmlReporter.emit (events.js:315:20)
`

Error i am encountering is @ `/node_modules/@wdio/reporter/build/index.js`

[2021-01-14 16:24] mannysah commented on #6237
I might have found the root cause. One of my spec files had code which was all commented. because of which, below sequence of events happened:

- Started worker for that spec file
- Did NOT trigger `runner:start` event yet
- Runner.run started but before triggering `runner:start` (Line 65 in file `/node_modules/@wdio/runner/build/index.js`), it determined there are no tests to run for this spec fi

[2021-01-14 17:00] snixer724 opened #6316 "wdio/local-runner 6.12.0 typescript compilation error"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.12.0
 - **Mode:** Test runner I think
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.16.2
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 87
 - **Platform name and version:** Mac
 - **Additional wdio packages used (if applicable):** spec reporter, selenium

[2021-01-14 18:27] christian-bromann commented on #6316
@snixer724 can you try to remove your `package-lock.json` and ensure that all wdio pasckages are on latest, then re-install the dependencies?

[2021-01-14 18:59] snixer724 commented on #6316
@christian-bromann same issue. I believed I tried that before, but I just tried it again. Same typescript compilation error.

[2021-01-15 03:49] minhe86 commented on #5869
@christian-bromann Here is my example - here clearValue() didn't work which is text <input> element’s value.

After clearValue(), the value "Allure" is still there.
<div class="field-column col-xs-6"><input class="form-control" type="text" data-test-selector="site-details-name" value="Allure"></div>

[2021-01-15 08:21] JavierLuna commented on #6018
Hi @christian-bromann!

We've just published [wdio-aws-device-farm-service](https://github.com/awslabs/wdio-aws-device-farm-service) and is available in [npmjs](https://www.npmjs.com/package/wdio-aws-device-farm-service). Feel free to drop by and comment on it, your feedback would be greatly appreciated.

We will work towards adding it to the @wdio/cli and the docs. Expect a PR soon 😄.

Thank you

[2021-01-15 08:47] christian-bromann commented on #6018
Awesome, looking forward! Thanks for all your work 🙏

[2021-01-15 18:21] christian-bromann opened #6317 "Make it easier to add commands that make WebDriver based requests"
If service wants to add commands that extend the WebDriver protocol currently it would need to implement this by itself having their own request lib as dependency and their own implementation of how to manage to deal with the protocol. To making these enhancements easier it would be great if the WebDriver package could make its request lib accessible so that it can leverage that module for its own

[2021-01-15 18:26] jlipps commented on #6317
👍

[2021-01-17 22:25] just-boris commented on #6206
Hello!

Is there also a chance of reverting the `executeAsync` part of this commit: https://github.com/webdriverio/webdriverio/commit/ec87b10f627c51e9939466612519d0a52bfdd721

The current typings are practically unusable, because `callback` argument is required to make it work, but Typescript does not allow that.

[2021-01-18 08:16] #5577 closed

[2021-01-18 13:47] paul-gladoon opened #6325 "beforeTest/afterTest hook -> together with beforeEach/afterEach doesn't work correctly."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.11.3
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** v14.15.1
 - **Additional wdio packages used (if applicable):** "@wdio/mocha-framework": "6.4.7"

**Config of WebdriverIO**

[code]

**Describe the bug**
beforeTest/afterTest hook -> together with beforeEach/afterEach doesn't wo

[2021-01-18 15:03] mgrybyk commented on #4134
I faced first the same issue like 5 years ago in Java + Selenium v2, I'm pretty much sure it's browser specific.

[2021-01-18 16:41] mgrybyk commented on #6325
It works as designed.
If you want to run something before/after mocha beforeEach hook use webdriverio beforeHook and afterHook

[2021-01-18 16:41] #6325 closed

[2021-01-18 16:47] christian-bromann commented on #6325
@paul-gladoon thanks for filing the issue. Unfortunately there are some limitation WebdriverIO has when registering such hooks in Mocha. They can't include the hooks registered for a `describe` block. Therefor the wdio hooks are only run before every `it` or `test` block. We recommend to register hooks that respect Mocha hooks in the test suite.

[2021-01-19 07:59] sytolk commented on #4104
Hi All

afterTest hook throw Error: Type check for option "afterTest" failed: a hook option needs to be a list of functions
[code]
I have try to change
[code]
now the error disapers but afterTest hook is newer called. What can be the reason for this ?

[2021-01-19 15:16] DenysBarkan commented on #3054
[code]
returns the exception :
`"DEBUG @wdio/sync: Couldn't load fibers package for Node v10 and above"`

instead of the
[code]
works without any additional messages.

[2021-01-19 16:02] DenysBarkan commented on #4913
[code]
returns the exception :
`"DEBUG @wdio/sync: Couldn't load fibers package for Node v10 and above"`

instead of the working flow

[code]
works without any additional messages.

The downgrade of the node to v12 solves the problem with the issue.

[2021-01-20 09:20] paul-gladoon commented on #6316
@christian-bromann I can confirm that I also have a problem when compiling, only of a different type:

Error: TSError: ⨯ Unable to compile TypeScript:
page_objects/index.ts(8,7): error TS2451: Cannot redeclare block-scoped variable 'lib_1'.

[2021-01-20 13:16] remss commented on #6206
I agree with @just-boris, we should revert to previous typing because the current one triggers a TS error and there is no workaround yet.

[2021-01-20 16:47] ipopa commented on #6316
I also have the same problem (`import { isEqual } from 'lodash';`)

`[0-0] (node:97561) UnhandledPromiseRejectionWarning: TSError: ⨯ Unable to compile TypeScript:
***.ts(4,7): error TS2451: Cannot redeclare block-scoped variable 'lodash_1'.`

    at createTSError (/****/node_modules/ts-node/src/index.ts:500:12)
    at reportTSError (/****/node_modules/ts-node/src/index.ts:504:19)
    at getOutput

[2021-01-21 03:35] mohanraj-r commented on #6247
I also ran into this error and other Type errors when upgrading "@wdio/local-runner", "@wdio/sync"

1. Error when upgrading "@wdio/local-runner" from "6.10.5" to "6.12.1"
[code]

2. Error when upgrading  "@wdio/sync" from "6.10.4" to "6.11.0"
[code]

Looks like the TS2304 is not an isolated incident
* [error TS2304: Cannot find name 'Element' · Issue #5719 · webdriverio/webdriverio](https://github

[2021-01-21 05:21] only4arunkumar opened #6332 "Appium client failing to find element on Android Chrome browser"
**Environment (please complete the following information):**
 - **WebdriverIO version:**6.12.0**

 - **Node.js version:** 14.15.4
 - **NPM version:** 6.14.10
 - **Browser name and version:** Chrome
 - **Platform name and version:** Android 11
 - **Additional wdio packages used (if applicable):**
 - @wdio/appium-service": "^6.11.0",
    "@wdio/cli": "^6.12.0",
    "@wdio/local-runner": "^6.12.0",

[2021-01-21 07:48] christian-bromann commented on #6247
@mohanraj-r can you provide a minimal reproducible example?

[2021-01-21 10:09] munnisharapidops opened #6333 "while executing file in firfox browser my spec file is executing 2 times. why it is happending"
here my execution process
Execution of 2 spec files started at 2021-01-21T10:02:11.127Z

[0-0] here
[1-0] here
[0-0] RUNNING in undefined - /test/specs/headlessBrowser.js
[1-0] RUNNING in firefox - /test/specs/headlessBrowser.js
[0-0] FAILED in undefined - /test/specs/headlessBrowser.js
[1-0] Title: Chrome Platform Status
[1-0] PASSED in firefox - /test/specs/headlessBrowser.js

[2021-01-21 10:20] christian-bromann commented on #5838
@MichelAmin47 any updates? Would you mind to create a PR with the state you have? I would manually port things over as we have started to merge all v7 changes into the main branch.

[2021-01-21 10:21] christian-bromann commented on #6333
@munnisharapidops can you provide a reproducible example?

[2021-01-21 10:30] munnisharapidops commented on #6333
munnisha@munnisha:~/Desktop/testing$ ./node_modules/.bin/wdio
2021-01-21T10:25:16.880Z DEBUG @wdio/config:utils: Couldn't find ts-node package, no TypeScript compiling
here

Execution of 2 spec files started at 2021-01-21T10:25:16.909Z

[0-0] here
[1-0] here
[0-0] RUNNING in undefined - /test/specs/headlessBrowser.js
[1-0] RUNNING in firefox - /test/specs/headlessBrowser.js
[1-0] FAILED in firefox

[2021-01-21 11:41] VladislavDarhel commented on #5459
Still reproduced

[2021-01-22 06:21] NareshMurthy opened #6335 "[Question / Help] Is there a way get the network requests from sauce services?"
I am using sauce-service to run android web browser tests on sauce labs virtual devices (emulator).
Is there a way i can intercept and read the network requests going out of the web page?
Thanks!

[2021-01-22 06:56] wswebcreation commented on #6335
Hi @NareshMurthy

Currently Sauce Labs doesn't support this and if it would, it would be supported within Sauce Labs, not with the Sauce Service itself.
I know there was an experiment with Android emulators and Chrome to provide the capability `extendedDebugging:true` to capture network traffic in a har file (which could be downloaded from the Metadata-tab, but I'm not sure if that went to product

[2021-01-22 06:56] #6335 closed

[2021-01-22 09:31] just-boris commented on #6206
@christian-bromann I see you merged a big refactoring and types are fixed now: https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/browser/executeAsync.ts

Since you are going to publish this as a new major version, will it be possible to lift the typescript requirement to 4.0 and bring the strict types?

[2021-01-22 09:41] christian-bromann commented on #6206
@just-boris we can do that. In fact proper typing the execute commands in v7 is still on the todo list. You wanna take a stab at it?

[2021-01-22 19:11] sgordiev opened #6336 "hook title differs in reporter and config"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1

[2021-01-25 21:31] JimmyMai13 opened #6345 "Appium iOS send keys does not work for TypeSecureTextfield"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [6.

[2021-01-25 21:59] christian-bromann commented on #6345
Given that there were no logs provided I can only assume based on the code example that you call `setValue` on a string rather than calling the `$` command which is not correct:

[code]

[2021-01-25 21:59] #6345 closed

[2021-01-25 22:21] RafalSkorka opened #6346 "afterSession hook is clearing debug log"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.12.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.14.11
 - **Browser name and version:** Chrome 88
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** none

**Config of Web

[2021-01-25 22:22] JimmyMai13 commented on #6345
I did call setValue on ```$``` as shown in the example above. ```$('-ios predicate string:type == "XCUIElementTypeSecureTextField"').setValue('some_pwd')``` is not working I believe due to some protection criteria on this field.

[2021-01-25 22:39] JimmyMai13 commented on #6345
@christian-bromann  wdio-0-0.logs

[code]

[2021-01-26 08:34] christian-bromann commented on #6345
This clearly indicates that the element could not be found. I recommend to use the `debug` command to fiddle around with the selector or try a different one.

[2021-01-26 08:36] christian-bromann commented on #1000
It's good to hear where WebdriverIO is used in the while. Please keep sharing!

[2021-01-26 08:42] christian-bromann commented on #6346
I have experienced this too and was wondering how I reproduced it. Thanks for taking the initial research, you want to take a stab at it?

[2021-01-26 12:09] refael-m opened #6347 "Devtools Service - Event Listener capture each event twice"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.12.1
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.4
 - **NPM version:** 6.14.6
 - **Browser name and version:** Chrome 88

**Config of WebdriverIO**
Generate with npx wdio config -y and add 'devtools' to the service list

**Describe the bug**
When using the following code

[2021-01-26 12:35] christian-bromann commented on #6347
@refael-m thank you for this great report. This indeed looks like a bug.

[2021-01-26 13:06] christian-bromann commented on #5838
@MichelAmin47 can you please push what you have? I need to get this merged so we can make the v7 release happen.

[2021-01-26 13:27] JimmyMai13 commented on #6345
@christian-bromann  Yes like I had mentioned, the test successfully fills out the email textfield, then it proceeds to fill out password textfield with the logs below but that field does not get filled out and it is blank. No error is thrown for this password textfield and it is able to select that element which is the issue I am having right now.

The error you mentioned above is what I had origi

[2021-01-26 13:37] MichelLalmohamed commented on #5838
@christian-bromann Yes, I'll create a PR. Is tomorrow midday ok?

[2021-01-26 15:54] MichelAmin47 commented on #5838
@christian-bromann @woutdejong1986 opened an interim PR with our current state (cleaned up a bit). We were not able to fully integrate your feedback yet from our cal 2 weeks ago. Wout and myself would still like to finish this and rewrite the tests if you are ago with this. Hope to increase the velocity a bit with our schedules clearing up(less hectic client work) a bit in february

[2021-01-26 16:01] jonyet commented on #1000
since you're asking - wdio is being leveraged happily at both _CNN_ and _Huge Inc_ for a some years now :)

[2021-01-26 16:06] MichelAmin47 commented on #5838
@christian-bromann build failed, will fix

[2021-01-26 18:16] MichelAmin47 commented on #5838
👆 @christian-bromann @woutdejong1986 fixed, sorry about that 🙄

[2021-01-26 18:59] christian-bromann commented on #5838
Let's continue convo there.

[2021-01-26 18:59] #5838 closed

[2021-01-26 20:01] Fermich11 commented on #6242
For future references, also double check your feature files syntax, this could be also triggered by an error on the cucumber syntax. 😅

[2021-01-26 20:04] JimmyMai13 commented on #6345
nvm , used wrong creds 🤦

[2021-01-26 22:16] RafalSkorka commented on #6346
I am sorry, I will not be able to tackle this soon :(

[2021-01-26 22:25] vmp-mark commented on #5409
Any progress on this issue?

[2021-01-26 23:29] yuderekyu opened #6354 "[IEDriver] Requests from different service hooks, with same criteria, timeout"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [6.12.1]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [e.g. 12.20.1]
 - **NPM version:** [e.g. 6.14.10]
 - **Browser name and version:** [e.g. IEDriverServer version 3.11.0]
  - **Platform name and version:** [e.g. MacOS Catalina 10.15.7]
 - **Add

[2021-01-27 13:04] nextlevelbeard opened #6356 "Implement onWorkerEnd hook"
We've added `onWorkerStart` and toyed with adding `onWorkerEnd` before

This would enable users to better manage testing dependencies or a pool of resources for the worker.

[2021-01-27 13:44] christian-bromann opened #6357 "Sauce Labs links to RDC tests in spec reporter aren't working"
The links shown in the spec reporter for RDC tests, e.g.

[code]

aren't working.

Reproducible example: https://github.com/saucelabs-training/test-js/runs/1777018332

[2021-01-27 16:22] RafalSkorka opened #6358 "junit xml reports are not properly formatted on failure when coloring is enabled"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.12..1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.15.4
 - **NPM version:** 6.14.10
 - **Browser name and version:** NA
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/junit reporter

**Con

[2021-01-27 16:38] wswebcreation commented on #6357
@christian-bromann

99,99% sure this has to do with the fact that Sauce RDC tests (on the UP) don't give back the jobID but the Appium Session ID, which is not a problem in the spec reporter.

[2021-01-27 18:57] pgangwani opened #6361 "Custom header in browser.url('test-url')"
**Is your feature request related to a problem? Please describe.**
I am hard to find a way to send custom header with ```browser.url('test-url')```

**Describe the solution you'd like**
There is should be way to configure headers to be sent so that I can test canary version of code which usually tested behind header.

Please note I want the approach to work in saucelab, chromedriver & other servic

[2021-01-28 04:27] solimant opened #6363 "Add support for implicit role selectors"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm unable to select HTML elements by their [implicit/default ARIA roles](https://www.w3.org/TR/html-aria/#docconformance).

**Describe the solution you'd like**
Would like to be able to select an element (e.g. a `button`) by its implicit role:
[code]
[code]

**Describe alternatives you've considered**
No

[2021-01-29 10:17] christian-bromann commented on #6206
@DirkoOdendaal would you like to take another look at our [current implementation](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/browser/executeAsync.ts#L73) and help us out with proper typings for it?

[2021-01-29 11:01] bablyukh commented on #6316
I have the same issue: Cannot redeclare block-scoped variable

[2021-01-29 11:54] benchesh opened #6365 "Keystrokes desynchronise with the actual output in the browser"
**Environment:**
 - **WebdriverIO version:** 6.8.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.20.1
 - **NPM version:** 6.14.11
 - **Browser name and version:** Chrome (v88.0.4324.96)
 - **Platform name and version:** macOS 10.14.6
 - **Additional wdio packages used (if applicable):** "@wdio/allure-reporter": "^6.7.2", "@wdio/browsers

[2021-01-29 17:38] yuri-scarbaci-lenio commented on #2526
I agree that the documentation should be explictly saying so

searching for the functionality on google leads to cached pages like http://v4.webdriver.io/v4.9/api/protocol/refresh.html and can be misleading

having an additional line at https://webdriver.io/docs/api/browser/url.html stating that when invoked with the same url it acts a refresh would be a good idea to me...

[2021-01-29 17:44] christian-bromann commented on #2526
@yuri-scarbaci-lenio please provide a PR with a patch to the docs, such insights are very helpful.

[2021-01-29 18:17] jedwards1211 commented on #2526
I just made the PR 👍  I must have forgotten to after you answered my questions in OP

[2021-01-29 20:47] nida-trayio opened #6367 "Visual Regression testing > Compare specific area of the page"
**Is your feature request related to a problem? Please describe.**
My use case to compare 2 pages but not to compare the footer

**Describe the solution you'd like**
Take the screenshots that doesn't include footer and then compare
Or take the screenshots of full-page but while doing comparison ignore the footer

[2021-01-30 08:11] wswebcreation commented on #6367
Hi @nida-trayio

WebdriverIO is not maintaining the Visual  Regression services. Can you please submit your feature request on the appropriate repo?

Tnx

[2021-01-30 08:11] #6367 closed

[2021-01-30 10:34] kerjukha opened #6369 "navigation issue"
can't get to the current version of website after version change

[2021-01-30 18:30] jamesmortensen opened #6370 "When passing --remote-debugging-port into the goog:chromeOptions, devtools fails to connect to Chrome"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1

[2021-01-30 23:46] joshskumar commented on #6347
@christian-bromann  puppeteer core might be adding multiple events so can you please let know if I am right about it.
because issue is with this part of the code.

this._puppeteer['_connection']._transport._ws.addEventListener('message', (event: { data: string }) => {
            const data: CDPSessionOnMessageObject = JSON.parse(event.data)
            this._devtoolsGatherer?.onMessage(data)

[2021-01-31 14:55] abkoyuncu commented on #2955
@Mechanicalkeyboard have you found any way to upload to S3? I am struggling with the same issue. Any help will be much appreciated!
Cheers

[2021-01-31 16:47] kohlmannj commented on #5668
I encountered a bug in which setting the `--spec` command line option failed to re-run test specs when one of the files matching the `filesToWatch` glob patterns changed.

The root causes are these two lines in @wdio/cli's Watcher class (`watcher.ts`):
1. In `this.watch()`, we correctly call `chokidar.watch()` with the `filesToWatch` patterns and add a bound event listener for add and change event

[2021-01-31 22:14] abkoyuncu opened #6375 "When using sync mode async mode does not work for s3 upload even though following the instructions given on doc"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:6.10.0

[2021-02-01 00:20] abkoyuncu commented on #6375
I was able to resolve my issue with below approach:

[code]

[2021-02-01 00:20] #6375 closed

[2021-02-01 08:12] #6206 closed

[2021-02-01 08:15] christian-bromann commented on #2955
@abkoyuncu reporters can now defer the worker shutdown until a synchronisation state has been reached (see also https://webdriver.io/docs/customreporter.html#wait-until-issynchronised). You can use that to upload things to S3.

[2021-02-01 08:17] christian-bromann commented on #6347
I am not sure 😄

[2021-02-01 08:20] christian-bromann commented on #6370
Thanks for creating the issue, let's continue convo in #6371

[2021-02-01 08:20] #6370 closed

[2021-02-01 08:24] christian-bromann commented on #6369
Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue.

[2021-02-01 08:24] #6369 closed

[2021-02-01 17:54] chrisbottin opened #6377 "Failure to refetch an element previously fetched using a custom locator"
**Environment (please complete the following information):**
 - **WebdriverIO version:** v6.12.1 and v7.0.0+
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.10.0
 - **NPM version:** v6.10.3
 - **Browser name and version:** Chrome 88.0.4324.96
 - **Platform name and version:** Mac OS Catalina
 - **Additional wdio packages used (if applica

[2021-02-02 04:40] kartikb88 opened #6378 "Error while doing npx wdio config -y"
npx wdio config -y

=========================
WDIO Configuration Helper
=========================

Installing wdio packages:
- @wdio/local-runner
- @wdio/mocha-framework
- @wdio/spec-reporter
- wdio-chromedriver-service
- @wdio/sync
- chromedriver
npm WARN deprecated debug@4.2.0: Debug versions >=3.2.0 <3.2.7 || >=4 <4.3.1 have a low-severity ReDos regression when used in a Node.js environment. It

[2021-02-02 07:44] christian-bromann commented on #6378
It seems that Fibers failed to install. You might use a deprecated Node.js version. Can you try with Node.js version 12?

[2021-02-02 09:46] AutomationReddy commented on #6378
@christian-bromann Even I got this error today. We are moving to a different version (RHEL 7/ubi) of docker images with red hat open-shift platform.

My node version is 12.19.1

Any suggestions?

![image](https://user-images.githubusercontent.com/42345623/106581900-6414fa80-6569-11eb-9deb-4064ec6dd736.png)

[2021-02-02 09:50] christian-bromann commented on #6378
It seems that Node.js has not sufficient permission to install fibers.

[2021-02-02 10:06] AutomationReddy commented on #6378
My Bad. I didn't notice that. Permission issue cleared and it's now working for me. Thanks

[2021-02-02 10:10] kartikb88 commented on #6378
I will try this solution as well. Can you please guide me how i can give full permission to node js?

[2021-02-02 10:37] pgangwani commented on #6361
@christian-bromann : can you triage this ?

[2021-02-02 10:52] christian-bromann commented on #6361
Any contributions to this are welcome. I suggest to have it look like this:

[code]

The `requestWith` command should allow to modify everything [`Fetch.continueRequest`](https://chromedevtools.github.io/devtools-protocol/tot/Fetch/#method-continueRequest) allows to do including support for [auth challenge](https://chromedevtools.github.io/devtools-protocol/tot/Fetch/#type-AuthChallengeResponse).

[2021-02-02 10:58] kartikb88 commented on #6378
Wdio with node 12, Issue resolved. But you guys have to keep updated because the webdriverIo is not supporting node >14

[2021-02-02 10:58] #6378 closed

[2021-02-02 12:00] christian-bromann commented on #6378
@kartikb88 we will have a new major release next week.

[2021-02-02 14:37] christian-bromann opened #6382 "[Vision Tracker] Improved Frontend Framework Support"
Similar to how we allow React users to fetch components by their name and filter by property and state similar commands could be provided for other frameworks. Anyone more familiar with one these frontend frameworks, please feel free to suggest!

[2021-02-02 19:13] FrederickEngelhardt opened #6383 "--watch mode fires malformed object error (initial test does not do this)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.12.0
 - **Mode:** standalone
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.20.1
 - **NPM version:** 6.14.11
 - **Browser name and version:** Appium 1.20.2
 - **Platform name and version:** Mac OSX Catalina (w/ iOS SDK 14.4)
 - **Additional wdio packages used (if applicable):*

[2021-02-03 09:24] wswebcreation opened #6384 "Detecting the backend is happening without reading the Cli arguments"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** both
 - **Node.js version:** all
 - **NPM version:** all
 - **Browser name and version:** all
 - **Platform name and version:** all
 - **Additional wdio packages used (if applicable):**

**Config of WebdriverIO**
[code]

**Describe the bu

[2021-02-03 12:28] martijnhjk opened #6386 "Enable localIdentifier argument"
**Is your feature request related to a problem? Please describe.**
The service currently stops and starts an account wide tunnel for test sessions. When running multiple session (for example multiple builds in parallel) the sessions clash causing failures due to account tunnel being intermittent.

**Describe the solution you'd like**
Please consider enabling the `localIdentifier` to be passed.
Inf

[2021-02-03 19:01] apanashchenko opened #6387 "Add ability to use mock on remote browser"
**Is your feature request related to a problem? Please describe.**
Hi guys,
I want use wdio feature [Mocks and Spies](https://webdriver.io/docs/mocksandspies.html). As for me it's very useful and can help a lot of developers, but it's available only for local browser run. Some time need mock some third party and run test in some remote clusters. I don't want mock backend or use some mock servers,

[2021-02-04 08:40] SergeyPirogov commented on #6387
Super awesome feature

[2021-02-04 08:49] christian-bromann commented on #6387
Can you explain this? WebdriverIO currently can only mock the network of a browser it is also automating. With `browser.devtool` it seems you also want to mock a browser that has nothing to do with your automated session. Using these mocking capabilities in remote browser will be possible with Selenium 4 grid where the websocket connection is being forwarded from the local machine to the remote ma

[2021-02-04 08:59] BorisOsipov commented on #6387
Selenoid does smth similar. It provides per-selenium session url with corresponding proxied cdp websocket. See example how you can use remote cdp session along with wdio selenium session here https://github.com/aerokube/browsers-puppeteer-example/blob/master/index.js

@apanashchenko wants an ability to use `wss://${host}:4444/devtools/${browser.sessionId}/` as endpoint for wdio devtools rather the

[2021-02-04 09:00] apanashchenko commented on #6387
@BorisOsipov you are completely right!

[2021-02-04 11:21] christian-bromann commented on #6387
So essentially attach to an existing browser session through Chrome DevTools?

[2021-02-04 11:30] apanashchenko commented on #6387
Looks like yes.

[2021-02-04 11:36] christian-bromann commented on #6387
In that case I suggest to enhance the `attach` method exported by `webdriverio` to have like a `wsUrl` and in that case return a DevTools instance that attaches to this url. This has not been [implemented yet](https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/index.ts#L125-L131). So the could would look like this:

[code]

Any contributions are welcome! Happy to help with

[2021-02-05 00:58] mohanraj-r commented on #6247
@christian-bromann I am sorry for the delay - I have been meaning to get to this.
In the meanwhile you can reproduce the errors by cloning the repo https://github.com/salesforce/sa11y and running `yarn && yarn install:update` and choosing the wdio related pkgs to update.

[2021-02-06 16:17] jlchereau commented on #5534
I have an overlay for FOUJUI which is removed with `$('body>div.k-loading-image').delay(250).fadeOut();` after everything is loaded and ready for display. The following constantly times out since upgrading to webdriver v6.11.0 (was working in v6.10.+).

[code]

Maybe this helps...

[2021-02-08 04:32] Samic8 commented on #5816
Hi. Are there issues that I could follow to get updated when this is available?

[2021-02-08 14:00] AutomationReddy opened #6400 "Remove _ in Suite and Test name in JUnit Reporter"
JUnit reporter outputs the test and suite name with an '_'. This actually looks odd or creating mismatching results with our Test management tool especially Zephyr

it's happening here:

[code]
https://github.com/webdriverio/webdriverio/blob/afb20dee5c83e5d97bd90d0a95721f3c190502a3/packages/wdio-junit-reporter/src/index.ts#L36

Can we just leave the suite and test name as is?

[2021-02-08 14:18] christian-bromann commented on #6400
I am not sure, I think it was important for Jenkins as it doesn't allow any space.

[2021-02-08 14:25] AutomationReddy commented on #6400
@christian-bromann I believe it accepts names with spaces as well

[2021-02-10 07:39] paul-gladoon opened #6404 "Running Specific Tests with MochaOpts - Tests Passed, but execution finished with error."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.12.0
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 15.7.0
 - **NPM version:** 7.4.3

**Describe the bug**
Running Specific Tests with MochaOpts - Tests Passed, but execution finished with error.

**To Reproduce**
Run some "it" using grep MochaOpts

**Log**
[0-5] 2021-02-10T07:2

[2021-02-10 11:30] igivon opened #6405 "devtools service| ERROR @wdio/sync: TypeError: Cannot delete property 'puppeteer' of #<Browser>"
**Environment:**
 - **Package.json dependencies:**
[code]
 - **Mode:** [WDIO Launcher ]
 - **running sync
 - **Node.js version:v12.18.2**
 - **NPM version:6.14.5**
 - **Browser name and version: chrome.88_0_4324_146**
 - **Platform name and version: Windoes 10**

**Config of WebdriverIO**
[code]
[code]

**Describe the bug**
The below Error accurse when using **browser.reloadSession();** at the bef

[2021-02-10 15:49] ipopa commented on #6316
I found the solution for my project (jasmine framework)
I changed
[code]
  to
[code]

[2021-02-10 18:34] pratimghosh76 opened #6406 "not able to calculate CLS (Cumulative Layout Shift) using browser.getMetrrics(). its printing 0"
below is my package.json

"dependencies": {
    "@babel/cli": "^7.8.4",
    "@babel/core": "^7.9.6",
    "@babel/preset-env": "^7.9.6",
    "@babel/register": "^7.9.0",
    "@slack/client": "^5.0.2",
    "@wdio/cli": "6.1.12",
    "@wdio/devtools-service": "^7.0.0",
    "@wdio/local-runner": "^6.1.12",
    "@wdio/mocha-framework": "^6.1.8",
    "@wdio/sauce-service": "^6.5.0",
    "@wdio/selenium-

[2021-02-11 00:44] denchen opened #6407 "Unexpected `await` of a non-Promise"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.1
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 14.12.0
 - **NPM version:** 6.14.11
 - **Browser name and version:** chromedriver 88.0.0
 - **Platform name and version:** MacOS 11.2
 - **Additional wdio packages used (if applicable):**
[code]

**C

[2021-02-11 04:54] jayandran-Sampath commented on #6363
Would like to work on this enhancement

Solution planning to implement:
step 1. Create seperate strategy to identify role based selector
step 2. Manipulate the selector string into CSS/Xpath format and pass to selenium to identify the element

[role=button] => button || [role='button'] || input[role='button']

Catch i could foresee : could not find all default/implicit tags list which have mapping

[2021-02-11 07:52] christian-bromann commented on #6407
Not sure but there seems to be a missing link in your upgrade. I just created a fresh project. Added

[code]

to my types and used your example with a little fix:

[code]

and it worked for me.

[2021-02-11 07:59] christian-bromann commented on #6363
The difficulty here is how do you find the computed role of that element? I think what @solimant is describing is being able to find an element that has a computed role of `button`, hence:

[code]

if the element already has that role assigned like

[code]

It would be an easy xpath change. But this way it is much more difficult because getting the accessibility tree is not trivial

[2021-02-11 08:55] christian-bromann commented on #6406
It seems you haven't updated all WDIO packages properly. It is important that all packages are updated to latest. Please do that and give it another shot. Let me know if you have any further questions.

[2021-02-11 08:55] #6406 closed

[2021-02-11 08:56] christian-bromann commented on #6400
@AutomationReddy can you double check?

[2021-02-11 09:03] christian-bromann commented on #6358
This indeed seems like a bug. The XML report contains these characters that need to be stripped away:

[code]

at least for the error message. Contributions to this are very welcome!

[2021-02-11 09:07] christian-bromann commented on #6354
I am afraid this is indeed an issue with IEDriver. Happy to add things to WebdriverIO that can help the IEDriver to be more stable.

I also see this error in your wdio logs:

Maybe it has to do with that IEDriver is not able to run the execute command on a 404 page.

[2021-02-11 09:08] christian-bromann commented on #6383
Seems that the environment variables are not forwarded properly.

[2021-02-11 09:40] AutomationReddy commented on #6400
@christian-bromann Can you check this once? An example repo which parse XML to Jenkins Junit parser.

https://github.com/ATLANTBH/junit-results-parser/blob/master/examples/test.xml

[2021-02-11 11:36] nimeshbhatt commented on #6237
@mannysah , is there any update on this issue? I am facing this error too.

[2021-02-11 12:51] AutomationReddy opened #6409 "Sauce service updates the test status in Sauce dashboard as passed if failed in before each method"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [6.5]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [>12]
 - **NPM version:** [>6]
 - **Browser name and version:** [e.g. Chrome 68]
 - **Platform name and version:** [e.g. Windows 10]
 - **Additional wdio packages used (if applicable):** [@wdio/sa

[2021-02-11 13:08] Svtrcom opened #6410 "isDisplayed(true) returns different state for separate variable and for getElement inside"
Can be connected to the https://github.com/webdriverio/webdriverio/issues/5534
"version": "6.12.1"
Chrome

Works fine - return "false" in the second waitForDisplayed
[code]
Return "true" ( Error: element ("//emerald-popup-menu[@opened]") still displayed after 5000ms):
In the fact, element lose attribute (opened);
In the check error 5534 you check only elements not attribute misssing.

[code]
.isDi

[2021-02-11 13:35] christian-bromann commented on #6410
@Svtrcom can you provide a reproducible example?

[2021-02-11 13:37] christian-bromann commented on #6409
Can you provide a reproducible example?

[2021-02-11 13:55] AutomationReddy commented on #6409
@christian-bromann Write any test but fail it in beforeEach()

[2021-02-11 13:58] Svtrcom commented on #6410
It's paid product( I afraid that you don't have permission for it.
maybe screenshot with DOM tree !?

[2021-02-11 14:04] christian-bromann commented on #6410
Can you recreate the scenario in a simple HTML file? Without having something to reproduce it is impossible to find out what is going on.

[2021-02-11 14:08] christian-bromann commented on #6384
Let's continue convo in #6408

[2021-02-11 14:08] #6384 closed

[2021-02-11 14:09] christian-bromann commented on #6386
I am not much familiar with the BS tunnel parameter but if this seems to be a bug any contribution to a fix would be appreciated.

[2021-02-11 15:03] Svtrcom commented on #6410
1) Create an element (dropdown in our case) that after a click on it will  receive attribute (opened) and after a second click -collapsed (remove attribute)
2) Run waitForDisplayed (true) as in the second scenario for waiting when element will be closed.
See attached
<img width="652" alt="dropdown" src="https://user-images.githubusercontent.com/28531224/107654175-11cf8a00-6c8b-11eb-8863-e839c1a001

[2021-02-11 18:27] StephenEsser opened #6411 "Running multiple launchers will run services with previous config cache"
**Environment (please complete the following information):**
 - **WebdriverIO version:** v6
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.20.1
 - **NPM version:** 6.14.11
 - **Browser name and version:** Chrome
 - **Platform name and version:** Mac OS Catalina

**Config of WebdriverIO**

https://github.com/StephenEsser/wdio-service-cache-is

[2021-02-11 19:30] RafalSkorka commented on #6358
I've raised an issue to the [junit-report-builder](https://github.com/davidparsson/junit-report-builder/issues/20) library, so when it is fixed, it would be enough to bump the version number here.

[2021-02-11 20:07] StephenEsser commented on #6411
Closing this issue. After further investigation the issue is coming from how node caches the config file. The first time the file is read node caches the file. The same file cache is used for subsequent launchers.

We haven't landed on a solution yet, but the issue does not appear to be with WebDriverIO.

[2021-02-11 20:07] #6411 closed

[2021-02-11 21:13] denchen commented on #6407
@christian-bromann Ah, your small change worked for me. Although in the prior version of Webdriver, the original code worked for me instead.

I'm still getting a Typescript error about "Unexpected await of a non-Promise" for `await $('#ybar-logo');`. The error comes from `@typescript-eslint/await-thenable`, but obviously `$()` is a Promise. So I'm not sure what I need to configure to get Typescrip

[2021-02-11 21:44] dylang opened #6412 "v7 - assumption of global "webdriverio" is breaking the types"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.2
 - **Mode:** Standlone, async
 - **Node.js version:** 14
 - **NPM version:** yarn 1
 - **Browser name and version:** n/a
 - **Platform name and version:** TypeScript 4.1.5
 - **Additional wdio packages used (if applicable):** DevTools 7.0.2

**Config of WebdriverIO**

Hi! We're using webdriverio standalo

[2021-02-11 22:34] sanyco92 commented on #4666
Well, almost 2 years have passed and no one has implemented this feature?

[2021-02-12 04:15] borracciaBlu opened #6413 "@wdio/local-runner@7.0.2 saucelab ERROR @wdio/runner: Error: Failed to create session."
**Dev Dependencies**

[code]

**Repo examples:**
https://github.com/borracciaBlu/dh-addeventlistener
https://github.com/borracciaBlu/dh-classlist

**Config of WebdriverIO**
https://github.com/borracciaBlu/dh-classlist/blob/master/wdio.conf.js

**Describe the bug**
[code]
**To Reproduce**
after cloning `dh-classlist` or `dh-addeventlistener`
env SAUCE_USERNAME="[username]" SAUCE_ACCESS_KEY="[key]"

[2021-02-12 06:08] alexdinari commented on #6413
I've experienced the same exact issue, switching back to also worked for me `@wdio/local-runner@7.0.1`.

[2021-02-12 08:00] DenysBarkan opened #6414 "scrollIntoView's argument of type '{ block: string; }' is not assignable to parameter of type 'boolean'."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.2
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.15.5
 - **NPM version:** 6.14.11
 - **TypeScript version:** 4.1.5
 - **Browser name and version:** Chrome 88
 - **Platform name and version:** MacOS 10.15.7
 - **Additional wdio packages used (if a

[2021-02-12 08:49] christian-bromann commented on #6414
@BorisOsipov @DenysBarkan could you review #6415?

[2021-02-12 08:49] #6414 closed

[2021-02-12 09:53] christian-bromann commented on #6413
Fixed in #6413

[2021-02-12 09:53] #6413 closed

[2021-02-12 10:30] christian-bromann commented on #6412
We need to make it global to allow sync and async types depending on your settings. Why can't you set
[code]

in your tsconfig?

[2021-02-12 10:34] christian-bromann commented on #6315
@JonP-xpb please try with latest version `v7.0.2`. I suppose to be fixed. If not please let me know.

[2021-02-12 10:34] #6315 closed

[2021-02-12 10:35] christian-bromann commented on #6291
Closing due to inactivity.

[2021-02-12 10:35] #6291 closed

[2021-02-12 10:37] christian-bromann commented on #5399
@martinfrancois now as we moved to TypeScript, shall we move forward porting these commands over?

[2021-02-12 14:42] savkaoleg opened #6417 "isDisplayed support for Microsoft Edge"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.10.11
 - **Mode:** WDIO Testrunner
 - **running sync/async:** async
 - **Node.js version:** 12.17.0
 - **NPM version:** 6.14.9
 - **Browser name and version:** 88.0.705.63
 - **Platform name and version:** Windows 10

**Config of WebdriverIO**
Run with browserName = msedge:
{
    runner: 'local',
    specs:

[2021-02-12 15:05] christian-bromann commented on #6417
It would be helpful if you can share that error.

[2021-02-12 15:08] savkaoleg commented on #6417
[code]

[2021-02-12 15:10] christian-bromann commented on #6417
This error means that the element didn't show up. The command is very well supported in both WebDriver and DevTools automation. Please verify that you have selected the correct element.

Closing as this appears not to be an issue. Feel free to join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_

[2021-02-12 15:10] #6417 closed

[2021-02-12 15:15] savkaoleg commented on #6417
But in second variant I don't have any errors

[2021-02-12 16:08] christian-bromann commented on #6417
For me the example works neither in Chrome nor in MSEdge no matter which protocol.

[2021-02-12 16:22] AutomationReddy commented on #6400
@christian-bromann I have tested and this is working fine without _

[2021-02-12 19:37] esaari opened #6418 "Several Cucumber hooks returning undefined in 7.0.x"
**Environment (please complete the following information):**
 - **WebdriverIO version:**  7.0.3
 - **Mode:** testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:**  12.18.4
 - **NPM version:** 6.x
 - **Browser name and version:**  Chrome 88
 - **Platform name and version:**  MacOS Big Sur 11.2
 - **Additional wdio packages used (if applicable):** see `package.json`

[2021-02-12 23:52] borracciaBlu commented on #6413
working like a charm! Tnx @christian-bromann

[2021-02-13 13:33] mkannan007 opened #6423 "Ignore `unexpected alert open` for click commands with coordinates"
**Environment:**
 - **WebdriverIO version:** [e.g. 6.X.X]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync:**
 - **Node.js version:** [v 12.20.2]
 - **NPM version:** [V 6.4.11]
 - **Browser name and version:** [ Chrome 88]
 - **Platform name and version:** [ Mac OS Big sur 11.2.1]
 - **Additional wdio packages used (if applicable):** ["@wdio/cli": "^ 6.X.X",
    "@wdio/cucumber

[2021-02-13 19:23] esaari commented on #6418
Not sure if this is possibly related but it looks like the `package.json` for the `wdio-cucumber-framework` has a conflicting dependency: https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-cucumber-framework/package.json#L33
Also `@types/cucumber` v7 is available: https://github.com/webdriverio/webdriverio/blob/f66a2adbbde005f1850c7683723471c0813530c0/packages/wdio-cucumber-framewo

[2021-02-13 19:28] davidparsson commented on #6358
The junit-report-builder issue [mentioned above](https://github.com/webdriverio/webdriverio/issues/6358#issuecomment-777735610) is fixed and released in [3.0.0](https://www.npmjs.com/package/junit-report-builder/v/3.0.0), which also drops support for node.js 4 and 6.

[2021-02-13 22:03] RafalSkorka opened #6424 "Unable to use TypeScript config file"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.2
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, sync
 - **Node.js version:** 14.15..4
 - **NPM version:** 6.14.10
 - **Browser name and version:** Chrome
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/runner

**Config of WebdriverIO**

filen

[2021-02-14 04:22] dylang commented on #6412
Hi @christian-bromann, thanks for taking a look into this.

`webdriverio` is not a global variable in our projects. For example, `webdriverio` is not available in any frontend or backend code. It's also not available to our unit testing code, just the browser tests.  We always import it where we use it.

`node` isn't global is many projects either, such as any frontend code.

If you look at the co

[2021-02-14 22:00] dylang commented on #6412
I'm giving what you suggested a try and it's not working for the same reason:

[code]

[code]

`$` returns `Promise<WebdriverIO.Element>;` but using the `types` above doesn't appear to help:

<img width="480" alt="Screen Shot 2021-02-14 at 4 49 39 PM" src="https://user-images.githubusercontent.com/51505/107890059-d3350c00-6ee4-11eb-8d96-96aff13b54a0.png">

[code]

Even with `types` above, `Webdriv

[2021-02-14 22:48] dylang opened #6426 "Use descriptive names for generics instead of single letters."
**Is your feature request related to a problem? Please describe.**

Single-letter generics in WebdriverIO are difficult to know what the expected value is when using the public api.

Example:

I want to provide a type for `execute`'s return value... Hmm, what are `T` and `U`?

[code]

**Describe the solution you'd like**

Generics don't need to be single capital letters in TypeScript.

[code]

**D

[2021-02-15 08:57] christian-bromann commented on #6426
fixed in #6429

[2021-02-15 08:57] #6426 closed

[2021-02-15 09:03] christian-bromann commented on #6412
@dylang can you provide a minimal reproducible example of your setup? This makes is easier to understand what you are experiencing.

Note that apart from other projects WebdriverIO needs to support a synchronous type set and an asynchronous one. The way we have implemented this is through injecting WebdriverIO as global namespace and always reference the namespace (e.g. `WebdriverIO.Browser`) when

[2021-02-15 09:28] christian-bromann commented on #6358
fixed in #6430

[2021-02-15 09:28] #6358 closed

[2021-02-15 09:31] christian-bromann commented on #6418
The hooks aren't broken, just some parts of the documentation hasn't been correctly updated. With the upgrade to v7 of Cucumber we had to tweak some of the hooks.

[2021-02-15 09:46] christian-bromann commented on #6418
Fixed in #6431

[2021-02-15 09:46] #6418 closed

[2021-02-15 09:48] christian-bromann commented on #6423
Hey @mkannan007 thanks for raising the issue. We recommend to upgrade straight away to v7 as this is our latest released version. Also, can you provide a reproducible example of this issue? WebdriverIO should not be the one closing these alerts so it is unlikely that it is immediately connected to the framework. To get a better idea it would be helpful to be able to reproduce this.

[2021-02-15 09:57] christian-bromann commented on #6400
@AutomationReddy please provide a PR with the suggestions made here, thank you!

[2021-02-15 11:24] vijaycs85 commented on #2158
just `setValue` with the exact format of the date field works too. e.g.

`$('input[name="start_date"').setValue('15-02-2021');`

[2021-02-15 13:24] rickschubert opened #6438 "wdio-allure-reporter: `TypeError: Cannot read property 'includes' of undefined` and `TypeError: Cannot read property 'split' of undefined` errors"
Please find below the full error stack trace for `Cannot read property 'includes' of undefined`:

[code]

A similar error occurs with `Cannot read property 'split' of undefined` but I am currently unable to provide a stack trace for this.

The two errors occur in these two lines, `title` is undefined:
- https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-allure-reporter/src/utils.ts

[2021-02-15 13:29] christian-bromann commented on #6438
@rickschubert would you still be interested to take a stab at this?

[2021-02-15 13:41] rickschubert commented on #6438
Absolutely! I will have a look and see what I can find out.

[2021-02-15 13:47] robd opened #6440 "Allow timeoutMsg in browser.waitUntil WaitUntilOptions to take a function"
**Is your feature request related to a problem? Please describe.**
I'm trying to improve the error message I see when `waitUntil` times out based on the latest state of the page.

For example, if I'm waiting for a list of 10 elements to appear, and only 6 have appeared so far, I'd like to show the actual elements in the timeout message.

**Describe the solution you'd like**
I'd like `timeoutMsg` t

[2021-02-15 13:50] christian-bromann commented on #6440
Have you tried:

[code]

?

[2021-02-15 14:46] rickschubert commented on #6438
I have created a pull request for this here: https://github.com/webdriverio/webdriverio/pull/6441

[2021-02-15 14:53] christian-bromann commented on #6438
Let's continue our conversation there.

[2021-02-15 14:53] #6438 closed

[2021-02-15 14:59] robd commented on #6440
Ah no - I hadn't tried this and and the below seemed to work - thanks!

[code]
Gives this error: `waitUntil condition failed with the following reason: Waiting on 10 elements, received 0 so far (19 exceptions thrown)
`

I'm interested in how this works - I guess all exceptions raised up until the final one before the timeout expires are ignored silently and then it just shows the final one before

[2021-02-15 15:10] christian-bromann commented on #6440
Correct!

Also correct that it is not a problem in practice. You can certainly build your custom wait until method using the call command or your own custom command working with `try/catch`.

Your suggestions make sense and a desirable behavior for some people. It would however would be a breaking change which I am not keen to introduce after the recent major release, not knowing how many other us

[2021-02-15 15:10] #6440 closed

[2021-02-15 15:23] robd commented on #6440
Yes this makes sense - thanks for your help. Hopefully this conversation will act as a solution for those that need it.

Realise now, another feature of the current behaviour is that you can use assertions in wait conditions and things "just work":

[code]

[2021-02-15 17:59] Amrkamel1 opened #6445 "Unable to use multiremote feature Error: Invalid or unsupported WebDriver capabilities found ("protocol", "hostname", "port", "path"). Ensure to only use valid W3C WebDriver capabilities"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.3
 - **Mode:** [Standalone mode or WDIO Testrunner] WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** [e.g. sync/async] sync
 - **Node.js version:** 14.15.4
 - **NPM version:** 6.14.10
 - **Browser name and version:** chrome 88.0.4324.150
 - **Platform name and version:** mac big sur
 - **Addi

[2021-02-15 18:25] dudziakm commented on #185
It works perfect:
browser.setWindowSize(1920, 1080);

[2021-02-16 03:01] AutomationReddy commented on #6400
fixed in #6439

[2021-02-16 03:01] #6400 closed

[2021-02-16 04:22] sutho100 opened #6448 "Mobile emulator javascript error"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version: 7**

[2021-02-16 04:41] suchitrak opened #6449 "Implement `onWorkerEnd` hook"
I am trying to generate two reports `ie_feature_name_report.json `and `firefox_feature_name_report.json` for a feature file that is been executed in parallel on two browsers. But it is generating just one report `feature_name.json`

I have tried following ways. But none of them works as expected.

wdio config

[code]

The report with name `<feature_file_name>.json` is created.   As we cannot forma

[2021-02-16 08:08] christian-bromann commented on #6449
Thanks for filing the issue. I recommend to raise this problem in the [reporter project](https://github.com/wswebcreation/wdio-cucumberjs-json-reporter) as it should provide the ability to run tests in parallel. If this is about creating a `onWorkerEnd` hook it would be fine here.

[2021-02-16 10:43] DenysBarkan opened #6450 "TS compiler returns "error TS2339: Property 'hex' does not exist on type 'ParsedColor'""
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.4
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.15.4
 - **NPM version:** 6.14.10
 - **TypeScript version:** 4.1.5
 - **Additional wdio packages used (if applicable):** "@wdio/allure-reporter", "@wdio/devtools-service", "@wdio/local-runner", "@wd

[2021-02-16 15:51] pyxis828 opened #6451 "V5: Cucumber - passing param to Scenario name from Examples tables when there are multiple examples tables throws an error"
Currently on V5,

Config:

[code]

package.json:

[code]

Sorry I can't provide a working version, but will give a basic example.

[code]

Throws the error:

[code]

This error occurs even though the scenario runs and passes.  If there is only a single examples table, passing the param in from the examples works as expected with no issues.

[2021-02-16 16:10] SciWiFi opened #6452 "The JUnit Reporter does not contain any testcases for Cucumber tests"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.4
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.13.4
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/selenium-standalone service, @wdio/junit-reporter, @wdio/c

[2021-02-16 17:40] christian-bromann commented on #6451
@pyxis828 I am sorry, we have deprecated v5 and don't support it anymore. We recommend upgrading to v6.

[2021-02-16 17:40] #6451 closed

[2021-02-16 17:59] suchitrak commented on #6449
I have created the issue in https://github.com/wswebcreation/wdio-cucumberjs-json-reporter/issues/46 . But it would also be nice to have `onWorkerEnd` . For parallel executions if we want to lock/unlock the user that was been used, it would be good to have this hook.

Say I define
`accounts.config.js`

[code]

wdio.conf.js

[code]

This was we could manage the user-logins been used for parallel ex

[2021-02-16 19:32] esod commented on #4913
As a counterpoint,

`"node -v" : "v14.15.4"
"@wdio/cli": "^6.12.1"`

returns the exception
`2021-02-16T19:25:03.124Z DEBUG @wdio/sync: Couldn't load fibers package for Node v10 and above
wdio [command]`

install fibers
`npm i fibers --save-dev`

And all is well with `npx wdio`. `"fibers": "^5.0.0",` is the version that was installed.

[2021-02-16 19:37] Xotabu4 commented on #6378
Getting error with wdio 7 and node 15.8

[code]

[2021-02-16 19:41] Xotabu4 commented on #6378
Figured out if no additional services is not selected (i disabled preselected chromedriver) - installation passes:
[code]
Works

[2021-02-16 20:04] christian-bromann commented on #6378
@Xotabu4 can you check if one of the following packages fails to install?

[code]

[2021-02-16 20:50] Xotabu4 commented on #6378
chromedriver fails:

npm ERR!
npm ERR! While resolving: undefined@undefined
npm ERR! Found: @wdio/cli@7.0.5
npm ERR! node_modules/@wdio/cli
npm ERR!   @wdio/cli@"^7.0.5" from the root project
npm ERR!
**npm ERR! Could not resolve dependency:
npm ERR! peer @wdio/cli@"^6.0.0" from wdio-chromedriver-service@6.0.4**
npm ERR! node_modules/wdio-chromedriver-service
npm ERR!   dev wdio-chromedriver-servi

[2021-02-16 21:06] christian-bromann commented on #6378
That should be updated then

[2021-02-16 21:08] christian-bromann commented on #6449
Alright, sounds good to me. If anyone interested, feel free to pick this up ☺️ I am happy to support.

[2021-02-17 03:47] dylang commented on #6412
After struggling a bunch, I found some ways to get `types` working in my project!

Here's the problems and solution for others struggling with this as well:

* `types` should go the `compilerOptions` section of the `tsconfig.json`, not the top level where I had it at first.
* I'm using a monorepo and only one of the projects has `webdriverio` as a dependency, so the other packages in the monorepo

[2021-02-17 06:39] AutomationReddy commented on #6452
@christian-bromann @SciWiFi I have changed few lines and able to get the results: Need sometime to push the code.

@SciWiFi Can you paste the example xml file with cucumber results which was working earlier?

[code]

[2021-02-17 08:14] SciWiFi commented on #6452
@AutomationReddy here is the xml (v6.12.1)

[code]

[2021-02-17 08:44] AutomationReddy commented on #6452
@SciWiFi I have also noticed that current version is not reporting the failure count in xml if you have any failures. It only provides you the error=1/2/3 but not failure. I have fixed this as well. Need to add tests.

[2021-02-17 08:54] paul-gladoon commented on #6404
Hello, any updates here?

[2021-02-17 09:10] igivon commented on #6452
yes the this.suites is in reverse order and feature suite should be first

![image](https://user-images.githubusercontent.com/7386112/108181418-8fbee580-7110-11eb-97e0-528ddfb02ed8.png)

did anyone commit a fix?

[2021-02-17 09:28] wswebcreation commented on #6452
There are some changes in the way that Cucumber reports back data. This might be broken for a lot of reporters and we need to look at them one by one.
I've created a [PR](https://github.com/webdriverio/webdriverio/pull/6453) to get at least the keyword back in the logs, which was missing in Allure, Spec and other reporters. We might need to fix more so it would be great to have a sample project th

[2021-02-17 10:26] christian-bromann commented on #6404
@paul-gladoon can you provide a minimal reproducible example?

[2021-02-17 10:37] christian-bromann commented on #6412
Yes, usually IDEs should give you an error if the tsconfig is wrongly typed

Good point, creating an issue for it

[2021-02-17 10:37] #6412 closed

[2021-02-17 10:38] christian-bromann opened #6458 "Stricter type definition for `waitUntil`"
from #6412

[2021-02-17 10:42] christian-bromann commented on #6448
Can you provide some wdio logs?

[2021-02-17 10:44] christian-bromann commented on #6407
Make sure you have [TypeScript configured](https://webdriver.io/docs/typescript) correctly. I will close because I think this is a setup issue. Happy to assist with further questions.

[2021-02-17 10:44] #6407 closed

[2021-02-17 12:40] AutomationReddy commented on #6452
Yes, this.suites is the issue. I have fixed it but the solution is not robust (First get the feature and build the xml and then one more call with the same suites to the same method where scenarios will be build)

@wswebcreation @christian-bromann if you are good with this approach, I will make a PR for this:
[code]

This fix is not included for Given, When and Then keywords.

[2021-02-17 12:40] larryg01 opened #6460 "browser.url(url) not working remotely (browserstack)"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0

[2021-02-17 12:43] christian-bromann commented on #6460
@larryg01 would you like to take a stab at this?

[2021-02-17 12:54] AutomationReddy commented on #6409
@christian-bromann Just checking the status on this. This is actually giving us many false results.

[2021-02-17 12:58] Seamoo13 commented on #5900
Hello, I'm having the same issue on my project. Is there a new solution?

[2021-02-17 13:02] christian-bromann commented on #6409
@AutomationReddy still don't see a minimal reproducible example, it makes it easier to work on this issue.

[2021-02-17 13:18] wswebcreation commented on #6452
@AutomationReddy

Yes, if you want you can create a Pr for this. Can you then also add Unit tests to verify this adjusted functionality

[2021-02-17 14:28] yanivyu1 opened #6463 "Webdriver io v6 throws error for import node.js modules"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1

[2021-02-17 16:08] jayandran-Sampath commented on #6363
@christian-bromann  Able to get implicit role based element detail by using aria-query library.

Also i'm able to convert that detail into XPATH locator. will raise PR in a day or two

eg:

`selector : $('[role=button]') => this will be identified using XPATH with below string

//*[@role=“button”]|//input[@type="checkbox”]|//summary[@aria-expanded="false”]|//summary[@aria-expanded="true”]|//input[

[2021-02-17 16:30] AutomationReddy commented on #6452
#6464

[2021-02-17 16:58] navasdavid opened #6465 "WebdriverIO v7 local-runner is opening chromedriver in small resolution"
**Environment:**
 - **WebdriverIO version:** 7.0.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.15.1
 - **NPM version:** 6.14.8
 - **Browser name and version:** chrome 88.0.4324.182
 - **Platform name and version:** Mac Big Sur 11.2.1
 - **Additional wdio packages used (if applicable):**
 - ` "dependencies": {
    "@babel/cli": "^7.12.

[2021-02-17 16:59] DenysBarkan opened #6466 "Unexpected code lines is linked from the terminal after ts compiler (looks like sourcemap counts incorrect)"
**Environment:**
 - **WebdriverIO version:** 7.0.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v14.15.4
 - **NPM version:** 6.14.10
 - **TypeScrip version:** 4.1.5
- **Additional wdio packages used (if applicable):** [@wdio/allure-reporter, @wdio/devtools-service, @wdio/local-runner, @wdio/mocha-framework, @wdio/spec-reporter, @wdio/sync

[2021-02-17 17:18] DenysBarkan opened #6467 "Not all methods are shown on the autocomplete list"
**Environment:**
 - **WebdriverIO version:** 7.0.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v14.15.4
 - **NPM version:** 6.14.10
 - **TypeScript version:** 4.1.5

**Describe the bug**
Some of the methods are missed from the autocomplete list

**To Reproduce**
for example the
[code]
is not shown on the autocomplete list.
Instead the al

[2021-02-17 17:26] DenysBarkan opened #6468 "The method's descriptions are not shown"
**Environment:**
 - **WebdriverIO version:** 7.0.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v14.15.4
 - **NPM version:** 6.14.10

**Describe the bug**
The method's descriptions are not shown in the VScode.
the methods are named as properties in the description field

**To Reproduce**
Move the mouse pointer over the methods in the code

[2021-02-17 18:28] RossVertizan opened #6469 "Send multiple spec files to a framework in a single worker instance"
**Is your feature request related to a problem? Please describe.**
This feature request is not related to a problem.

I am working on integrating our Vitaq tool (vitaq.io) into the Webdriver ecosystem, using Mocha as the test framework.  Natively, Mocha takes all of the spec files (suites) and creates a rootSuite.  In Vitaq we can walk through the possible pages of a web page using AI/coverage dri

[2021-02-17 19:37] dylanlive opened #6470 "[wdio-devtools-service] Support CDP on Selenium 4 Grid"
**Is your feature request related to a problem? Please describe.**
Selenium 4.0 (now in Beta) [supports proxying CDP Requests across Grid](https://www.selenium.dev/blog/2020/selenium-4-alpha-6-is-out/).

It would be nice if we could use the WebdriverIO Devtools Service to run those commands against a Selenium 4.0 Grid.

**Describe the solution you'd like**
When providing a remote machine in the co

[2021-02-17 19:38] dylanlive commented on #6470
Please let me know if you'd accept a PR with the above approach, and I'll take a shot at it.

[2021-02-17 21:28] MikoSh95 opened #6471 "Shrinked browser viewport while running the test"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.15.5
 - **NPM version:** 6.14.11
 - **Browser name and version:** Chrome 88.0.4324.182, Edge  88.0.705.68
 - **Platform name and version:** Windows 10

**Config of WebdriverIO**
[code]

**Describe

[2021-02-18 07:32] MikoSh95 commented on #6471
I've also tried to run it in headless mode with following chromeOptions and on the screenshot taken during the run there is the same problem. Window size is 1080p, while viewport screenshot size is 800x600 px

[code]

[2021-02-18 07:37] MikoSh95 commented on #6471
Here is the behavior caught in gif, it looks like the viewport has a correct size for a moment, right after maximizing window but it shrinks after to 800x600 :/

[https://ibb.co/xHxDP2D](url)

[2021-02-18 07:52] MikoSh95 commented on #6471
Another update: after rolling back to last v6 version before v7 update everything seems fine, here is list of packages:

[code]

[2021-02-18 11:03] christian-bromann commented on #6470
That sounds like a good idea! Please go ahead and let me know if you have any questions, thanks!

[2021-02-18 11:15] christian-bromann commented on #6469
Hey Ross,

thanks for the detailed proposal description. I like the idea of having more freedom to decide what is suppose to run in a single worker and what not. There are other use cases where user wanted to have this, e.g. running through a complete checkout flow using multiple spec files rather than squeezing it into one.

My implementation idea for this is more generic and could work for all f

[2021-02-18 12:29] christian-bromann commented on #6468
This is a TypeScript limitation. WebdriverIO has every command implemented in a separate file. All these are then gathered in a single [export file](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/browser.ts). With WebdriverIO providing type definitions for sync and async command handling we need to [transform](https://github.com/webdriverio/webdriverio/blob/

[2021-02-18 12:32] christian-bromann commented on #6467
Are you using TypeScript or not? With TypeScript I get all suggestions just fine:

![Screenshot 2021-02-18 at 13 31 22](https://user-images.githubusercontent.com/731337/108357441-b99a0a00-71ed-11eb-81b7-b788c5746db8.png)
![Screenshot 2021-02-18 at 13 30 54](https://user-images.githubusercontent.com/731337/108357445-bb63cd80-71ed-11eb-8de5-a4b278866f79.png)

[2021-02-18 12:54] RossVertizan commented on #6469
Christian,

Yes, that seems like a very neat solution, that would suit my needs perfectly and if that is a good generic solution for other frameworks then so much the better.  Win win.

Having poked around a little, it looks as though there would be changes required in configParser->getFilePaths and configParser->getSpecs may need looking at.  Are there any other places that would need to be modif

[2021-02-18 13:20] christian-bromann commented on #6469
I am sure you will be able to manage the code base, here are some references that will help you along the way:

- [Contributing Guidelines](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md)
- [Workshop on how to contribute](https://www.youtube.com/watch?v=QaA5C1Y4BH0&feature=emb_title&ab_channel=OpenJSFoundation)

Let me know if you have any questions, happy to help!

[2021-02-18 13:21] christian-bromann commented on #6466
@DenysBarkan thanks for reporting this issue. Seems very weird to me. Any idea where this can be a bug within the WebdriverIO code base?

[2021-02-18 13:22] DenysBarkan commented on #6468
But at the same time, it works perfectly in WDIO6 with typescript.
See the additional pic the name of the function is the version of wdio.

[2021-02-18 13:23] christian-bromann commented on #6465
Duplicate of #6471

[2021-02-18 13:23] #6465 closed

[2021-02-18 13:24] DenysBarkan commented on #6467
I'm using TypeScript. But get a totally different result. Could it be the issue in the preferences or in the version of the TS or so?

[2021-02-18 13:25] christian-bromann commented on #6467
Just make sure that you are using TS v4 or higher and applied the WebdriverIO types according to [the docs](https://webdriver.io/docs/typescript). Can you verify you did this?

[2021-02-18 13:28] DenysBarkan commented on #6467
dependencies i use:
[code]

and the TypeScript config:
[code]

[2021-02-18 13:37] christian-bromann commented on #6471
@navasdavid @MikoSh95

I am problems reproducing the issue. I am on Mac and do the following:

[code]

And get a normal window:

![issue](https://user-images.githubusercontent.com/731337/108364771-be16f080-71f6-11eb-92fb-fd0fff25a16f.gif)

[2021-02-18 13:39] christian-bromann commented on #6467
Any chance you can provide a minimal reproducible example?

[2021-02-18 13:41] christian-bromann commented on #6468
I know, in v6 we have [autogenerated](https://github.com/webdriverio/webdriverio/blob/v6/packages/wdio-sync/webdriverio-core.d.ts#L1117-L1395) these type definitions. This wasn't very scaleable so we moved away from it. Maybe something we can report in the TS project!?

[2021-02-18 13:46] christian-bromann commented on #6463
This seems to be pretty specific to user code:

[code]

There is no chance to identify where there can be an issue in WebdriverIO. I ask you to debug this bug and report again once you can identify the bug in WebdriverIO. Major version updates often come with breaking changes. Make sure you read the changelog and understand what has changed. Checkout our [Jasmine boilerplate](https://github.com/we

[2021-02-18 13:46] #6463 closed

[2021-02-18 13:50] DenysBarkan commented on #6467
do you want me to do a screencast? or something like this?

https://user-images.githubusercontent.com/45456152/108366406-00ddc600-7201-11eb-9f94-a6961cbcd482.mov

[2021-02-18 14:10] christian-bromann commented on #6467
Nope, I need a reproducible example that I can check out myself and see why the setup is incorrect.

[2021-02-18 14:33] MikoSh95 commented on #6471
@christian-bromann can you try it also on Windows? I will make VM with Ubuntu and try it out there. Is there any more info I can provide to help you find the cause of the problem?

[2021-02-18 15:04] DenysBarkan commented on #6467
https://github.com/DenysBarkan/wdio7_testing.git

in './test/specs/example.e2e.ts' in 18 line the new it

[2021-02-18 15:12] L0tso commented on #6470
Hello, I have got some thoughts about this feature request
Maybe, it will be better to add an ability to connect via ws for devtools-service in general, not only for Selenium 4 Grid.
For example, Selenoid and Moon also have CDP proxy but use different ws endpoints: [1](https://aerokube.com/selenoid/latest/#_accessing_browser_developer_tools) [2](https://aerokube.com/moon/latest/#_accessing_chrome_

[2021-02-18 15:16] christian-bromann commented on #6470
@L0tso could call, it would be great if all could be supported by default without custom configurations. Do you know if these providers provide any information about their CDP interface in the session response?

[2021-02-18 15:17] BorisOsipov commented on #6470
Agree with @christian-bromann. It will be better if Aerokube team behave like Selenium 4 grid. @L0tso could you create issue for it in selenoid repo?

[2021-02-18 15:25] AutomationReddy commented on #6409
@christian-bromann

From the autogenerated project (mocha and pageObject), when you navigate to the page and before tests get started, add
`beforeEach()` and wait for any element on the page which doesn't exist. Your test will be failed now in before each itself. And see sauce labs status will be marked as passed but your test is failed. This need to be ran in Sauce.

Let me know if you need any i

[2021-02-18 15:39] L0tso commented on #6470
@christian-bromann @BorisOsipov Good point! I agree, it will be better to use default Selenium-like ws endpoints. I will create issues for the Selenoid team.

[2021-02-18 15:55] christian-bromann commented on #6467
Looking into the dependencies it seems that there are issues resolving some sub packages:

[2021-02-18 18:02] christian-bromann commented on #6471
mhm .. I don't have a Windows machine at hand. I wonder what WebdriverIO is doing differently on a Windows machine. If anyone can help out here that would be much appreciated.

[2021-02-18 18:29] AutomationReddy commented on #6471
@christian-bromann I am on mac and able to reproduce the issue. In webdriverio project, run the mocha example.

https://user-images.githubusercontent.com/42345623/108403984-5340d600-7245-11eb-95f1-0360ddf128b2.mov

[2021-02-18 18:33] christian-bromann commented on #6471
Ah ok, it's if you run the wdio testrunner with the devtools protocol. Here we pass along some default values for window size: https://github.com/webdriverio/webdriverio/blob/main/packages/devtools/src/launcher.ts#L74-L75. That should be fixed to be ignored and maybe only set if run headless.

[2021-02-18 19:34] MikoSh95 commented on #6471
Yeah, I can confirm that removing 'devtools' from service list in wdio.conf.js solves the problem immediately

[2021-02-18 22:20] javierfigueroacl opened #6478 "[Chrome] moveTo() not working inside iframes"
**Environment (please complete the following information):**

**WebdriverIO version:** 6.10.5
**Mode:** [WDIO Testrunner]
**If WDIO Testrunner, running sync/async:** sync
**Node.js version:** 12.4.0
**NPM version:** 6.9.0
**Platform name and version:** Ubuntu 18.04.5 LTS
**Additional wdio packages used (if applicable):** @wdio/selenium-standalone service (6.23.0)
**Describe the bug**
After upgradi

[2021-02-18 23:08] christian-bromann commented on #6478
Can you provide a reproducible example? Also please try with the latest version (v7) if this error still occurs.

[2021-02-19 00:35] dylang opened #6479 "Typings for `wdio:devtoolsOptions` in 6473 aren't working for me"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.7
 - **Mode:** Standlone, async
 - **Node.js version:** 14
 - **NPM version:** yarn 1
 - **Browser name and version:** n/a
 - **Platform name and version:** TypeScript 4.1.5
 - **Additional wdio packages used (if applicable):** DevTools 7.0.7

**Config of WebdriverIO**

[code]

[code]

**Describe the bug**

[2021-02-19 07:52] christian-bromann commented on #6479
Can you try with `tsconfig.json` being configured as such:

[code]

[2021-02-19 14:18] christian-bromann commented on #6424
This has been fixed by https://github.com/webdriverio/webdriverio/pull/6475 and released in `v7.0.7`

[2021-02-19 14:18] #6424 closed

[2021-02-19 14:19] christian-bromann commented on #6449
Duplicate of #6356

[2021-02-19 14:19] #6449 closed

[2021-02-19 14:36] christian-bromann opened #6481 "Multiremote broken in v7"
Running any multiremote job fails due to:

[2021-02-19 15:43] #6481 closed

[2021-02-19 15:45] christian-bromann commented on #6481
False alarm .. I ran it from the project root which caused `@wdio/sync` to be added to the equation. This caused it to fail for no reason given that in standalone mode you would not use `@wdio/sync`. Added a test for multiremote in standalone mode for security purposes.

[2021-02-19 16:47] dylang commented on #6479
Yes, thank you @christian-bromann, that works.

What do you think of this alternative solution:

[code]

or, to avoid any potential side effects from importing devtools:

[code]

As you may have figured out, my team and I are not a fan of globals.

[2021-02-19 20:05] pmerwin opened #6482 "WDIO vs 7 with devtools back end is running at a smaller resolution than with wdio-6 or using chromedriver"
Use wdio 7 latest in sync mode and run this google test:

describe('Can open google.com', function () {
    it('Window size is correct in chrome?', function () {
        browser.url('https://google.com');
        browser.debug() // check out the screen resolution, it is like a tablet size
    });

});

<img width="1217" alt="wdio7 small res" src="https://user-images.githubusercontent.com/26633165/

[2021-02-19 20:44] pmerwin commented on #6482
**devtools config:**

{
  "specs": [
    "./test/goog.spec.js"
  ],
  "suites": {},
  "exclude": [],
  "outputDir": "./data/wdio-logs",
  "logLevel": "trace",
  "logLevels": {},
  "excludeDriverLogs": [],
  "bail": 0,
  "waitforInterval": 500,
  "waitforTimeout": 30000,
  "framework": "mocha",
  "reporters": [
    [
      "json",
      {
        "outputDir": "./data/report"
      }
    ],
    "spe

[2021-02-19 20:44] pmerwin commented on #6482
May be a dupe of https://github.com/webdriverio/webdriverio/issues/6471

[2021-02-19 22:27] dylanlive commented on #6470
In Selenium 4, after a session is created the hub returns the endpoint like this:

[code]
(condensed)

I was thinking of just grabbing the endpoint directly from the response (instead of hardcoding assumptions) especially since other tools like Selenoid, etc. might want to also utilize this to discover the endpoint.

Thoughts on that side? Maybe I could just take the step for Selenium now, and the

[2021-02-20 01:02] markolofsen opened #6483 "Cant open second tab"
**Environment (please complete the following information):**
 - **WebdriverIO:** version: 7.0.7
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v14.0.0
 - **NPM version:** 6.14.4
 - **Browser name and version:** Firefox Nightly 87.0
 - **Platform name and version:** Mac OS Catallina

**Config of WebdriverIO**
https://github.com/markolofsen/webdriverio

[2021-02-20 03:17] dylang commented on #6471
When this is fixed, it would be helpful to include in the docs the recommended way to set the browser size and viewport size together when using Devtools. Right now we hardcoded an additional 100 height and 50 width to `--window-size` to compensate for Chrome's browser UI, but it feels a bit janky and I don't think it works when `deviceScaleFactor` is a value other than 1.

[2021-02-20 10:11] christian-bromann commented on #6471
Any contributions would be appreciated!

[2021-02-20 10:12] christian-bromann commented on #6470
Sounds good to me!

[2021-02-20 10:13] christian-bromann commented on #6482
Yes, duplicate of #6471

[2021-02-20 10:13] #6482 closed

[2021-02-20 11:23] markolofsen commented on #6483
And also proxy doesn't work properly through key "proxy" in capabilities like this:
[code]

[2021-02-21 02:04] mkannan007 commented on #6423
@christian-bromann Thanks for your reply.
I tried the same issue by upgrading to wdio v7 but the issue still persists. Please try this sample code in wdio either v6 or v7 and kindly let me know your inputs,

  **browser.url('https://chercher.tech/practice/popups');
  $("//input[@name='confirmation']").click();
  browser.pause(3000);
  const alertText = browser.getAlertText();
  console.log(`Text i

[2021-02-22 10:22] leoselig opened #6486 "Incorrect typing of `browser.execute()` (InnerArguments) for elements"
**Environment:**
 - **WebdriverIO version:** `7.0.5`
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** `15.6.0`
 - **NPM version:** `7.4.0`
 - **Browser name and version:** _not applicable_
 - **Platform name and version:** _not applicable_
 - **Additional wdio packages used (if applicable):** _not applicable_

**Config of WebdriverIO**
_not

[2021-02-22 11:18] paul-gladoon commented on #6404
@christian-bromann
https://webdriver.io/docs/organizingsuites/#running-specific-tests-with-mochaopts
Just use this approach to execute;

I'm using this:
const mochaOpts = {
    ui: 'bdd',
    timeout: 60000,
    grep: GREP_TEST.replace(/,/gi, '|'),
  }

[2021-02-22 17:54] vdrulerz opened #6494 "afterScenario cucumber hook is not capturing the scenario Pass/fail status through world object"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.

[2021-02-22 18:44] esaari commented on #6494
@vdrulerz I just went through this same issue myself - they are being emitted, just the status codes changed (`1` is passing). You can see an example of how this is handled here: https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-browserstack-service/src/service.ts#L122

[2021-02-22 19:16] stefankruijt opened #6495 "Switching windows by number instead of url or title"
I'm working on tests that need to verify that our application syncs user data between two tabs.
These 2 tabs will have the same URL and name. So I'm not sure if  https://webdriver.io/docs/api/browser/switchWindow/ can be used in this case? (urlOrTitleToMatch will be the same for both browser tabs)

An example:
1. Open myapplication.com/#/somepage in first browser tab
2. Open myapplication.com/#/so

[2021-02-22 21:16] dannyfink commented on #6450
Included a fix in https://github.com/webdriverio/webdriverio/pull/6498

[2021-02-22 22:09] stefankruijt commented on #6495
I realized that `browser.newWindow` returns the windowId. However when I open multiple windows with the same url they all got the same windowId.

Not sure if this behavior in webdriverIo is expected or a bug? It would make sense to me if you could open the same URL multiple times in different tabs.

Eventually got my test working by using Puppeteer as a workaround:
[code]

[2021-02-23 07:07] Himoriarty opened #6499 "[wdio-junit-reporter] optional "system-out" by setting configuration, make reporter more clear and simple"
when i get a junit-reporter, it containes many `system-out` information, that make me difficult to read the reporter.

What I want to:
the xml  file of the reporter just outputs like the example of webdriverio's document without `system-out` label by setting configuration.

[2021-02-23 07:51] christian-bromann commented on #6450
Thanks @dannyfink for the quick fix!

[2021-02-23 07:51] #6450 closed

[2021-02-23 11:26] jkostrhun opened #6500 "Support to use `tsconfig-paths` in TypeScript wdio config file"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.0.7]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [14.15.5]
 - **NPM version:** [yarn 1.22.10]
 - **Platform name and version:** [macOS Mojave]

**Config of WebdriverIO**
filename: wdio.conf.ts

[code]

**Describe the bug**
When I try to import

[2021-02-23 12:41] ipopa commented on #6500
[code]

[2021-02-23 12:49] jkostrhun commented on #6500
@ipopa I tried it, but this allows you to use 'tsconfig-paths' in .spec files, not in wdio config file itself

[2021-02-24 04:45] StephenEsser opened #6503 "Programmatically added services are not initialized with lifecycle hooks"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.x.x
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.20.1
 - **NPM version:** 6.14.11
 - **Browser name and version:** N/A
 - **Platform name and version:** Mac OS Catalina

**Describe the bug**

When [running the test runner programmatically](https:

[2021-02-24 16:39] markolofsen opened #6506 "How to inject firefox extension on start?"
**Is your feature request related to a problem? Please describe.**
How to inject firefox extension on start? I don't use wdio.conf.js, instead it I use own js file.

**Describe the solution you'd like**
I added wdio-firefox-profile-service library but it doesn't help.

**Additional context**
[code]

[2021-02-24 16:40] markolofsen commented on #6483
I did

[2021-02-24 16:40] #6483 closed

[2021-02-24 18:06] hazanh commented on #5887
That does not seem to solve the problem.

[2021-02-24 19:14] javierfigueroacl commented on #6478
I have attached a reproducible example:
[wdio-sandbox.zip](https://github.com/webdriverio/webdriverio/files/6038294/wdio-sandbox.zip)

I found out that this is happening with wdio 7 as well, so I have updated the issue title.

**Readme:**

To reproduce run:
----------------------------------------------

[code]

Description:
----------------------------------------------

There are 2 buttons that

[2021-02-25 08:07] karfau commented on #6316
I can confirm that dropping `'ts-node/register'` from the `mochaOpts.requires` list, or in my case dropping the whole key, resolved the issue.

[2021-02-25 09:30] Joostverrijk opened #6510 "[wdio.conf Hooks] afterStep runs after Cucumber step has an undefined 'uri' - AfterScenario is fine"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/main/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [7.

[2021-02-25 13:35] Barwaniwala-Mufaddal commented on #4952
Came across this blog and it works fine.
[https://juliapottinger.com/run-webdriverio-tests-on-microsoft-edge/#:~:text=To%20get%20your%20tests%20to,select%20the%20correct%20operating%20system.&text=Open%20Microsoft%20browser%20and%20get%20the%20version%20that%20you%20have%20downloaded.]

[2021-02-25 13:59] #6506 closed

[2021-02-25 15:25] jamesmortensen commented on #6470
Quick question, does this also address connecting to a selenium/standalone-chrome Docker container, one that is _not_ using Selenium Grid?  We have a small CI/CD job that just runs our tests on a single container using the wdio-docker-service.

[2021-02-25 16:00] esaari commented on #6510
@Joostverrijk The `afterStep` hook has changed for v7: https://webdriver.io/docs/options#afterstep

[2021-02-25 17:07] patkunicki opened #6511 "TypeError when passing a third arg into a mocha test"
**Environment:**
 - **WebdriverIO version:** ^6.11.0
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.18.3
 - **NPM version:** 6.14.6
 - **Browser name and version:** Chrome 68
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used:** @wdio/mocha-framwork

**Describe the bug**
When a third param is passed into a m

[2021-02-25 18:27] dylanlive commented on #6470
@jamesmortensen Great question. I used `selenium/standalone-chrome:4.0.0-beta-1-20210215` for testing. The selenium standalone does expose the cdp endpoint within capabilities. However, the endpoint they're exposing is the internal docker IP, which can't be reached.

So my PR will unfortunately hang in the case you're using Devtools Service AND the Docker Images until Selenium exposes the Hub/Rout

[2021-02-26 01:19] oliveiraamanda91 opened #6514 "I cannot run tests because url is invalid @wdio/appium-service: Appium started with ID: 74016 Error in "getDownloadStream". Could not download https://msedgedriver.azureedge.net/88.0.705.81/edgedriver_mac64.zip See more details below: 404 https://msedgedriver.azureedge.net/88.0.705.81/edgedriver_mac64.zip Response code 404 (Not Found)"
My package.json:
"dependencies": {
    "@wdio/appium-service": "^6.4.0",
    "@wdio/cli": "^6.4.2",
    "@wdio/local-runner": "^6.4.2",
    "@wdio/mocha-framework": "^6.4.0",
    "@wdio/selenium-standalone-service": "^6.4.0",
    "@wdio/spec-reporter": "^6.4.0",
    "adb": "^0.2.0",
    "appium": "^1.18.1",
    "appium-doctor": "^1.15.4",
    "appium-xcuitest-driver": "^3.25.2",
    "chai": "^4.2.

[2021-02-26 06:32] link89 opened #6515 "[corner case] exception when calling `click` if the window is closed after the click"
One of our products has a detached window that can be put back by clicking an `attach back` button. By doing this the window will be closed. We found that the following error will be thown.

`ERROR webdriver: Request failed with status 404 due to no such window: no such window: window was already closed
  (Session info: chrome=88.0.4324.192)`

After some investigation, I found that `webdirver.io`

[2021-02-26 06:33] sulaysumaria commented on #4343
I am also facing a similar issue. My access key from sauce labs is also 32 characters long. Any updates on this?

[2021-02-26 06:58] Gar-ufo commented on #4343
try to regenerate your key, this worked for me, my first key missed the 4 dashes so wdio tried to connect to testing bot.
the key should look like this:
xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

Maybe you can try to add the dashes manually but i didn't test this.

[2021-02-26 12:57] Joostverrijk commented on #6510
So the conf.js comments are invalid?

`{ uri, feature, step }, context, { error, result, duration, passed, retries }) {`

[2021-02-26 17:54] ipopa commented on #6471
temporary solution :
[code]

[2021-02-26 18:19] pmerwin commented on #6471
@ipopa

Can confirm, added this to before() hook in our main config, plays nice with devtools and chrome-driver for chrome, and also with firefox.

Thanks for the tip.

[2021-02-26 21:50] xmtigra opened #6518 "WDIO v.7 with async mode and TypeScript incorrectly returns types"
**Environment:**
 - **WebdriverIO version:** [e.g. 7.0.8]
 - **Mode:** [Standalone mode]
 - **Node.js version:** [e.g. 15.7.0]
 - **NPM version:** [e.g. 7.4.3]
 - **Browser name and version:** [e.g. Chrome 88]
 - **Platform name and version:** [e.g. MacOS Catalina 10.15.7]

**Config of WebdriverIO**
An example of how you configured WebdriverIO config

**tsconfig.json**
`"compilerOptions": {
...
"t

[2021-02-27 13:37] DudaGod opened #6519 "v7.0 does not save executed commands (works in v4)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.0
 - **Mode:** standalone
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.18.1
 - **NPM version:** 6.14.5
 - **Browser name and version:** chrome@85
 - **Platform name and version:** Linux

**Config of WebdriverIO**
Example of test:
[code]

**Describe the bug**
In wdio@4 in

[2021-03-01 07:51] devbret commented on #6294
Hello, I am new to working on Open Source projects and I'd like to begin here. If this issue is still available, may I work on it? And if so, where is a good place to begin? Thank you for your help and time.

[2021-03-01 08:02] christian-bromann commented on #6294
Hi @devbret , unfortunately this bug has been already addressed by @rkeshwani in their PR #6294. Please have a look at the other `good first pick` issues. I am happy to help find something.

[2021-03-01 08:02] #6294 closed

[2021-03-01 08:18] christian-bromann commented on #6519
You can use listeners to store data about executed commands and results, e.g.
[code]

I am not entirely sure but I assume for performance reasons. Storing command and result data for long tests can have tremendous impact on memory (e.g. when screenshots are stored)

For above reasons I don't think this feature would justify its value, particularly as it can be implemented using listeners.

I hope

[2021-03-01 08:18] #6519 closed

[2021-03-01 08:29] christian-bromann commented on #6518
@xmtigra thanks for raising an issue, a fix was proposed in #6520

[2021-03-01 08:29] #6518 closed

[2021-03-01 08:39] christian-bromann commented on #6510
@Joostverrijk yes, see the [updated wdio.conf.js](https://github.com/webdriverio/webdriverio/blob/main/examples/wdio.conf.js#L361) version.

[2021-03-01 08:39] #6510 closed

[2021-03-01 08:52] christian-bromann commented on #6515
@link89 thanks for filing an issue. This is indeed an interesting corner case. I suggest to wrap the `releaseAction` command in our [click implementation](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriverio/src/commands/element/click.ts#L133) within a try/catch and only re-throw the error if it doesn't contain `no such window`. I think this is a nice first ticket to work on,

[2021-03-01 08:53] christian-bromann commented on #6514
It seems msedgedriver.azureedge.net/88.0.705.81/edgedriver_mac64.zip returns a valid resource for me. Are you behind a firewall or something like that? What happen if you try to access it?

[2021-03-01 09:00] christian-bromann commented on #6470
Let's continue conversations in [respective PR](https://github.com/webdriverio/webdriverio/pull/6508).

[2021-03-01 09:00] #6470 closed

[2021-03-01 09:05] christian-bromann commented on #6511
Let's continue convo in respective PR.

[2021-03-01 09:05] #6511 closed

[2021-03-01 09:17] #6316 closed

[2021-03-01 09:17] christian-bromann commented on #6316
I added a commit to improve our release docs around this. Sorry for this confusion!

[2021-03-01 09:33] christian-bromann commented on #6478
@javierfigueroacl thanks, this helps a lot. It seems like an issue within the WebDriver spec. IMO it should execute the action relative from the iframe. If I tweak the moveTo command implementation as follows:

[code]

where 97px is the top distance to the root document and 67px the left distance it hits the bottom as expected. It seems this issue was brought up in the spec already in w3c/webdrive

[2021-03-01 10:22] christian-bromann commented on #6503
@StephenEsser thanks for filing the issue. Unfortunately this is impossible to do as WebdriverIO uses worker processes and there is just no chance to reliably pass in a function object into a child process. While there are workarounds like message passing it would add tremendous complexity for something that offers too little value imo. For your case I suggest to pass in a local via environment va

[2021-03-01 10:22] #6503 closed

[2021-03-01 10:40] christian-bromann commented on #6500
I suggest to add another option to `autoCompileOpts` named `tsConfigPathOpts` and if existing we also require `tsconfig-paths` within the [compiler function](https://github.com/webdriverio/webdriverio/blob/main/packages/wdio-config/src/utils.ts#L106-L115). Contributions welcome!

[2021-03-01 10:43] christian-bromann commented on #6499
I am not much familiar how this will effect the junit reports rendered e.g. in Jenkins. Can you provide some screenshots for that? It doesn't need to be Jenkins, just any other platform that uses these reports to generate output.

Which document are you referring to?

[2021-03-01 10:55] christian-bromann commented on #6495
@stefankruijt thanks for filing the issue. You can switch to a tab via its index using protocol commands, e.g.:

[code]

I am not sure if it makes sense to enhance the `switchWindow` helper given that it literally would call exactly that. Happy to discuss further.

[2021-03-01 10:55] #6495 closed

[2021-03-01 11:01] christian-bromann commented on #6494
@vdrulerz this has changed with the update to Cucumber v7. @esaari has pointed out correctly that you can find out the meaning by mapping the number to the status. This is something we could also propagate to the user given that WebdriverIO has such a map internally.

@esaari @vdrulerz would anyone be interested to take a stab at it?

[2021-03-01 11:03] christian-bromann commented on #6404
@paul-gladoon this doesn't help. Can you create a simple project that reproduces this?

[2021-03-01 11:13] #6471 closed

[2021-03-01 12:24] oliveiraamanda91 commented on #6514
Hi Christian! Thank you for responding.

Apparently there was a momentary unavailability on this link because I accessed it via a browser and at the time it was not available to me. The tests are back up and running and I will close the issue.

Thanks!

[2021-03-01 12:24] #6514 closed

[2021-03-01 13:29] christian-bromann commented on #6423
The code you have provided:
[code]
works just fine for me, it outputs:

[code]

Not sure what explicitly is not working. Note that we have updated the hook parameters which needs to be addressed in your project.

Closing as the code example you provided is working. Happy to further discuss and support.

[2021-03-01 13:32] christian-bromann commented on #6479
This would be a major change and could break a lot of peoples test.

I understand, though I think many people would not like to add these imports all the time. I am not sure what your team is concerned about having a WebdriverIO namespace defined as global. Can you elaborate?

Closing as this seems to be resolved.

[2021-03-01 13:32] #6479 closed

[2021-03-01 14:50] DudaGod commented on #6519
I tried to use them and they do not cover all features from v4:
- ability to save all called command names
- arguments with which the command was called

Example of test:
[code]

When run it with `automationProtocal=webdriver` I see:
[code]

In that log I don't see command names that I run (`url`, `$`, `click`, `pause`, `deleteSession`). Url from endpoint does not match one by one to command name.

[2021-03-01 15:05] halukbaysal opened #6523 "useCucumberStepReporter: true is giving warning of allure-js-commons: Unexpected endStep(). There are no any steps running"
**Environment:**
 - **WebdriverIO version:** [7.0.7]
 - **Mode:** [WDIO Runner]
 - **If WDIO Testrunner, running sync/async:** [async]
 - **Node.js version:** [v12.18.3]
 - **NPM version:** [6.14.6]
 - **Browser name and version:** [Chrome 88.0.4324.192]
 - **Platform name and version:** [MacOS Catalina]
 - **Additional wdio packages used (if applicable):** [@wdio/allure-reporter, @wdio/spec repor

[2021-03-01 15:24] kannanmf commented on #6423
@christian-bromann
Can you please share what chrome version are you using?

Also, please share what are the wdio version are you using as below,
["@wdio/cli": "^ X.X.X",
"@wdio/cucumber-framework": "^ X.X.X",
"@wdio/local-runner": "^ X.X.X",
"@wdio/selenium-standalone-service": "^ X.X.X",
"@wdio/spec-reporter": "^ Z.X.X",
"@wdio/sync": "^ X.X.X",
"webdriverio": "^ X.X.X",

Also any specific config

[2021-03-01 15:40] christian-bromann commented on #6423
@kannanmf I tried with the latest version. My Chrome browser in on v88.

[2021-03-01 15:40] christian-bromann commented on #6523
@halukbaysal can you provide a minimal project that reproduces this problem?

[2021-03-01 15:51] christian-bromann commented on #6519
I see no problem adding that information to the [event trigger](https://github.com/webdriverio/webdriverio/blob/main/packages/webdriver/src/command.ts#L91).

They are as part of the `body` property, no?

I would propose to enhance the event payload rather than implementing this feature behind a flag.

[2021-03-01 15:53] lacell75 commented on #6510
So, how to get feature or scenerio information in afterStep function with V7? It doesn't work in my case.

[2021-03-01 15:56] kurtsmurf opened #6524 "element.$ retrieves the wrong element on page containing nested tables."
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.8
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v14.15.4
 - **NPM version:** 6.14.10
 - **Browser name and version:** Chrome 88.0.4324.190
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** n/a

**Con

[2021-03-01 16:05] christian-bromann commented on #6510
feature information can be received in `before/afterFeature` and scenario information in `before/afterScenario`

[2021-03-01 16:18] lacell75 commented on #6510
In my case, I need to retreive these information in AfterStep, This is no longer possible?
my code in v6
`afterStep: ({ step }, context, {
    passed,
  }) => {
    if (passed
      && failureObject === null
      && !step.scenario.tags.map((tag) => tag.name).includes('@DieManufacturing')
      && !step.step.keyword.includes('Given')
      && !step.step.text.includes('I am logged on ')
      && !s

[2021-03-01 16:21] halukbaysal commented on #6523
Our project is internal so I can't share but I will try to create a similar framework

[2021-03-01 17:01] christian-bromann commented on #6510
@lacell75 you can store the step information in memory and use them in your afterStep hook.

[2021-03-01 17:18] lacell75 commented on #6510
Thanks , that works

[2021-03-01 17:38] kannanmf commented on #6423
Thanks @christian-bromann for your reply.

Are you trued using webdriverio v6 or v7?  Please let me know

[2021-03-01 17:49] bruce-glazier commented on #6280
I downgraded to v6.7.2 for the time being. Glad to see the issue has already been reported.

[2021-03-01 18:03] DudaGod opened #6525 "Ability to create wdio instance without run new browser session"
**Is your feature request related to a problem? Please describe.**

In v4 method [`remote`](https://github.com/webdriverio/webdriverio/blob/v4.14.1/index.js#L28-L43) creates new wdio instance without init new session. There was command [`init`](https://github.com/webdriverio/webdriverio/blob/v4.14.1/lib/protocol/init.js) for this purpose.

We used this opportunity in next way:
- in [our tool](http

[2021-03-01 18:07] christian-bromann commented on #6525
@DudaGod isn't this what the `attach` method would do? I think this isn't very well documented but you can do things like:

[code]

[2021-03-01 18:08] christian-bromann commented on #6423
v7

[2021-03-01 18:25] stefankruijt commented on #6495
Thanks that works! I wasn't aware `browser.getWindowHandles()` exists. Would it make sense to add this to the docs at https://webdriver.io/docs/api/?

[2021-03-01 18:28] christian-bromann commented on #6495
It is part of the API docs but in the protocol section: https://webdriver.io/docs/api/webdriver

[2021-03-01 19:19] DudaGod commented on #6525
@christian-bromann you are right, it works when I using `automationProtocol=webdriver`.
Example of master process:
[code]

Example of worker process:
[code]

But it doesn't work when I try to use `automationProtocol=devtools`.
Code of worker when I want that wdio use default options and explicitly set `automationProtocol`:
[code]

In that case I get error:
[code]

It looks like that inside attach

[2021-03-01 20:38] christian-bromann commented on #6525
It is already in progress at #6459

[2021-03-01 20:49] halukbaysal commented on #6523
@christian-bromann I have created a high-level framework which is similar to what we are using in the project.

Could you please check https://github.com/halukbaysal/wdio_v7

when you run the `test` script you will see the error. If you remove `useCucumberStepReporter`, the warning disappears but the report is not showing as expected.

[2021-03-01 21:32] christian-bromann commented on #6523
@halukbaysal thanks for providing the reproducible example. I am not sure when I will be able to pick this up but if anyone else want to have a look, feedback and suggestions are welcome!

[2021-03-01 21:38] DudaGod commented on #6525
🔥  Thank you.

[2021-03-01 21:38] #6525 closed

[2021-03-01 21:45] halukbaysal commented on #6523
@christian-bromann Thank you. I will also look for a solution.

[2021-03-02 08:37] christian-bromann commented on #4949
We will tackle running multiple specs in a single worker in #6469

[2021-03-02 08:37] #4949 closed

[2021-03-02 08:42] christian-bromann commented on #6448
Closing due to inactivity.

[2021-03-02 08:42] #6448 closed

[2021-03-02 08:47] christian-bromann commented on #6336
@sgordiev can you provide a minimal reproducible example for this?

[2021-03-02 09:35] balukov commented on #6405
Hi, is there a workaround for this?

[2021-03-02 10:19] christian-bromann commented on #6452
Let's continue convo in #6464

[2021-03-02 10:19] #6452 closed

[2021-03-02 10:29] lacell75 opened #6531 "AssertionError is displayed as BROKEN in allure report insteaf of FAILED"
*Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.8
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.16
 - **NPM version:** 6.14.11
 - **Browser name and version:** Any
 - **Platform name and version:**  Windows 10
 - **Additional wdio packages used (if applicable):** "@wdio/cli": "^7.0.8",
    "@wdio/cucumbe

[2021-03-02 14:43] larryg01 commented on #6460
@christian-bromann I would like to have a chat about this issue..
With the change that works, its not passing the 'relative url' as its not passing the baseUrl so in the end all you get is the /foobar and not http://foobar.com/foobar
so locally it will work fine but via crossbrowser services its failing with the error (as above).
So what i am struggling with is having it working both in the branch

[2021-03-02 14:47] christian-bromann commented on #6460
Can you provide the wdio logs? I would be interested in the WebDriver calls.

[2021-03-02 14:48] lacell75 opened #6532 "Cucumber hook return status : 'skipped'/'failed'/... not working"
*Environment (please complete the following information):**
 - **WebdriverIO version:** 7.0.8
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.16
 - **NPM version:** 6.14.11
 - **Browser name and version:** Any
 - **Platform name and version:**  Windows 10
 - **Additional wdio packages used (if applicable):** "@wdio/cli": "^7.0.8",
    "@wdio/cucumbe