[2020-05-07 08:03] unickq opened #5373 "Can't find fullTitle property of test after upgrading to wdio6"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.9 and 5.22
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.14.1
 - **NPM version:** 6.13.4
 - **mocha**: 7.1.2
 - **@wdio/mocha-framework**: 6.1.8 and 5.18.7

**Config of WebdriverIO**
[code]

**Describe the bug**
After upgrade to wdio6 fullTitle property missed.
[code]

###

[2020-05-07 11:41] christian-bromann commented on #5373
Have you checked what the `test` param returns?

[code]

[2020-05-07 11:58] unickq commented on #5373
I checked all sub properties and didn't find fullTitle

[2020-05-07 12:00] mgrybyk commented on #5373
It might be that full title was the proprerty computed by webdriverio by concatenation of suite and title

[2020-05-07 13:01] christian-bromann opened #5374 "Be more expressive when DevTools service can't connect to browser"
**Is your feature request related to a problem? Please describe.**
Currently if someone uses the DevTools service chances are that that person experiences an error like

[code]

because Puppeteer is not able to connect with Chrome or uses a different browser that is not supported.

**Describe the solution you'd like**
Always register the custom commands from the DevTools service but throw with an

[2020-05-07 13:49] christian-bromann commented on #5373
@mgrybyk is right, the test is directly coming from Mocha in v6 so you need to generate the full title by yourself doing `test.parent + ' ' + test.title`. Closing as this is not a bug and more an interface change.

[2020-05-07 13:49] #5373 closed

[2020-05-07 21:25] apkatsikas commented on #5239
It seems like this might be desirable behavior. A "fake" test is created if there are `failedExpectations` but no tests have been run - https://github.com/webdriverio/webdriverio/blob/21539bb965e87df2df5ae4971cc7ce826a538582/packages/wdio-jasmine-framework/src/reporter.js#L74

This fake test is useful, because it allows the suite to exit with a non-zero status, indicating failure. If this fake tes

[2020-05-07 21:33] esaari commented on #5307
@christian-bromann I finally have a repro for. you, sorry that took so long.

1. Unzip
2. `npm install`
3. `npx wdio desktop-chrome.conf.js`: I'm actually seeing behavior @ntulele described on the Chrome desktop here.  However, in this example, you can at least see the default 10 second element lookup timeout kick in, even though it doesn't appear to enter my 20 second timeout `waitForExist` loop.

[2020-05-07 23:31] snoblenet opened #5376 "WDIO settings browserName to value not listed as permitted in its constants"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.5
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 14.1.0
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chromium 78.0.3882.0 (installed by Puppeteer)
 - **Platform name and version:** Mac OS X 10.15.4
 - **Additional wdio packages used (

[2020-05-07 23:35] snoblenet commented on #5376
confirmed the problem also exists when you set `browserName: 'chromium` in `wdio.conf.js`

[2020-05-08 03:50] diervo commented on #4484
After a long debugging on the internals of webdriverio, I was able to understand the issue, however I believe the fix will require a significant refactor on the way webdriverio has implemented a lot of the internals .

I will try to articulate the problem:

They way webdriverio implements the devtools protocol its by calling pupeteer primitives, and store the Puppeteer native handlers as an abstra

[2020-05-08 07:12] christian-bromann commented on #4484
Thanks so much @diervo , great writeup. I unfortunately currently also have no time available to look into this but someone who does can use your description to work on a fix. Cheers!

[2020-05-08 07:17] christian-bromann commented on #5376
@snoblenet WebdriverIO stores perceived capabilities in `browser.capabilities` and original requested capabilities in `browser.requestedCapabilities`. For the reload procedure we should use the requested capabilities (without a changed browser name). Not sure why it doesn't. Mind taking a look?

[2020-05-08 09:19] christian-bromann commented on #5239
I think this is connected to #5220. I think it makes sense to pass in the framework options into the [WDIOReporter](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-reporter/src/index.js#L17) and have the reporter properly act on whether or not the execution is suppose to stop immediately or not.

[2020-05-08 09:27] christian-bromann commented on #5341
Fixed by #5360

[2020-05-08 09:27] #5341 closed

[2020-05-08 09:28] christian-bromann commented on #4962
@thescripted how are things going? Is there anything I can help you with?

[2020-05-08 09:29] christian-bromann commented on #5318
Closing due to inactivity. Happy to re-open once a reproducible example is available.

[2020-05-08 09:29] #5318 closed

[2020-05-08 13:32] osmolyar commented on #4134
Just to note that this has been confirmed not to be working in Chrome with the latest driver over a zoom session working with @erwinheitzman '81.0.4044.69', nor with the latest Edgedriver.   The assumption is that this is due to w3c/webdriver#1488.

[2020-05-08 15:33] th0car opened #5378 "ENOTFOUND hub-cloud.browserstack.com in WebdriverIO v6"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.9
 - **Mode:**  WDIO Testrunner
 - **If WDIO Testrunner, running** sync
 - **Node.js version:** 12.16.2
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**  @wdio/cli": "^6.1.9", @wdio/local-ru

[2020-05-08 15:52] apkatsikas commented on #5239
ok - when you say execution is supposed to stop, what exactly do you mean? once the beforeAll hook fails, execution _does_ stop. We just get the fake test to attach the error to

[2020-05-08 17:12] christian-bromann commented on #5239
What I mean by that is that if the framework has a feature like `failFast` the WDIO reporter should account to that so propagating these options into a reporter makes sense to me as well as adjusting the output if flags like this are set.

[2020-05-08 17:14] #5372 closed

[2020-05-09 12:51] goatsy commented on #5315
I just tested with @wdio/browserstack-service@6.1.4 and the error is gone.
I have valid results when a test fails now again!

[2020-05-09 14:50] christian-bromann commented on #5315
Awesome, thanks @nextlevelbeard for fixing it in #5271

[2020-05-09 14:50] #5315 closed

[2020-05-09 21:00] takeya0x86 opened #5379 "devtools protocol: does not trigger change event in select element"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.9
 - **Mode:**  WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:**  sync
 - **Node.js version:**  12.16.3
 - **NPM version:**  6.14.4
 - **Browser name and version:** Chrome 81
 - **Platform name and version:** macOS 10.15.4
 - **Additional wdio packages used (if applicable):**

**Config of Web

[2020-05-10 02:42] takeya0x86 opened #5380 "devtools protocol: crash call getWindowHandles() after window.close()"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.9
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.3
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 81
 - **Platform name and version:** macOS 10.15.4
 - **Additional wdio packages used (if applicable):**

**Config of Webdriv

[2020-05-10 11:47] dipti-code opened #5381 "Custom command waitAndClick() showing "TypeError: this.waitForDisplayed is not a function""
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-05-10 13:11] dipti-code commented on #5381
and also it shown TypeError: Cannot read property 'waitForDisplayed' of undefined
if i define the custom command in another .ts file under ./types/custom.ts
browser.addCommand('waitAndClick', (el:WebdriverIO.Element)=> {
   el.waitForDisplayed();
     el.click();
}, true);

and in the wdio.conf.js

before: function (capabilities, specs) {
        require('../types/command')
       }

[2020-05-10 15:43] christian-bromann commented on #5381
@dipti-code if you use `this` don't use shorthand functions like this:
[code]
you will loose the scope. See also https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions.

Also if you use TypeScript and create custom commands you need to extend the browser object by yourself. WebdriverIO can't help with that.

[2020-05-10 15:43] #5381 closed

[2020-05-10 16:03] dipti-code commented on #5381
@christian-bromann Thanks.
ok. but when i use
browser.addCommand('waitAndClick', (selector)=> {
            var el = $(selector);
            el.waitForDisplayed({timeout: 5000});
            el.click();
        }, true);

it shows Error: selector needs to be typeof `string` or `function`. kindly help as i shared by types folder to you as well.

[2020-05-10 16:32] christian-bromann commented on #5381
@dipti-code as I mentioned just don't use shorthand functions. Please see from the docs:

[code]

[2020-05-10 17:10] dipti-code commented on #5381
@christian-bromann  Please help as am struggling for this problem almost about 1 week.

[2020-05-10 17:24] christian-bromann commented on #5381
I posted the solution to your problem in my last comment.

[2020-05-10 18:28] dipti-code commented on #5381
@christian-bromann
when i use like this
browser.addCommand('waitAndClick', ()=> {
            var el = $();
            el.waitForDisplayed({timeout: 5000});
            el.click();
        }, true);
       }

it throws error at run time
Error: selector needs to be typeof `string` or `function`

my wdio.d.ts file having
declare module WebdriverIO {
  interface Element {
    waitAndClick: () => voi

[2020-05-10 18:36] christian-bromann commented on #5381
@dipti-code did you take a look what I've written before? I mentioned don't use shorthand functions. So instead of

[code]

do:

[code]

Let's continue this convo in the support channel as this is not the right forum for it.

[2020-05-10 18:41] dipti-code commented on #5381
@christian-bromann Thanks : 😊  you are awesome. My bad, i overlooked that line. Now its work.

[2020-05-10 22:37] thescripted commented on #4962
Hey, I greatly apologize. I got my priorities mixed up.

I've made some progress and l should be able to finish it up within a few days!

I'll reach out if I have any questions.

[2020-05-11 05:37] dimkin-eu commented on #5378
aint you missing `services: [["browserstack"]],` in wdio.conf.js?

[2020-05-11 06:58] hisisirdas opened #5382 "[0-0] (node:18488) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'pageUrl' of undefined at new Auditor (K:\sisir\app\develop\node_modules\@wdio\devtools-service\build\auditor.js:57:26) at TraceGatherer.<anonymous> (K:\sisir\app\develop\node_modules\@wdio\devtools-service\build\index.js:112:23)"
import { expect } from 'chai';
import allureReporter from '@wdio/allure-reporter';
const usercredientials = require("../json-data/responses/credientials");
const bodyOptions = require("../json-data/request-bodies/options");
let metrics, performanceScore,testUrl,internal,response,refreshtoken,metricsDetails
let chai = require('chai');
let should = chai.should();
let chakram = require('chakram')

de

[2020-05-11 07:03] hisisirdas commented on #5382
I am trying to iterate inside loop and navigate to each url get the metrics and back to home page and do the same for all urls but getting pageUrl of undefined. below is my code..

it('Internal Boards of DRZ REDZONE ',  () => {
       // navigate to a new URL
    browser.url('https://test-ms.azurewebsites.net/?token='+refreshtoken)
    const links =$$('(//div[contains(@class,"BoardsList_cardsList"

[2020-05-11 09:07] th0car commented on #5378
@dimkin-eu - Afaik I don't use (or have to use) any service to target browserstack as grid. At least I don't need that using identical conf but with WebdrivierIO v5 and the browserstack. Which service are you thinking of?
(As mentioned above I have deliberately chosen to not use the @wdio/browserstack-service to exemplify the problem)

[2020-05-11 09:21] dimkin-eu commented on #5378
@th0car apart dependency you need to set service part in wdio.conf.js
https://webdriver.io/blog/2020/03/26/webdriverio-v6-released.html#service-configurations
not the right link about services, but still

[2020-05-11 15:46] christian-bromann commented on #5382
It would be helpful if you could post the whole stack trace.

[2020-05-11 19:57] gfinzerScotts opened #5388 "Cannot use mocha-parallel-tests with selenium-webdriver"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 4

[2020-05-11 20:50] osmolyar opened #5389 "Cannot use cucumberOpts scenarioLevelReporter: true with @wdio/allure-reporter^6"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.0.15
 - **Mode:** selenium-standalone-service
 - **Node.js version:**  12.9.0
 - **NPM version:**  6.14.4
 - **Browser name and version:** Any (Firefox 75.0)
 - **Platform name and version:**. Windows 10
 - **Additional wdio packages used (if applicable):**:
 "@wdio/allure-reporter": "^6.1.9",
    "@wdio/cli

[2020-05-11 21:20] christian-bromann commented on #5388
@gfinzerScotts thanks for filing the issue. Unfortunately you are using `selenium-standalone` and not WebdriverIO so I can't really help you. I recommend to create the issue in the [Selenium project](https://github.com/SeleniumHQ/selenium).

[2020-05-11 21:20] #5388 closed

[2020-05-11 22:44] erwinheitzman commented on #5336
I think we should also add an example to the documentation which shows how you can use the devtools to create a data set

[2020-05-12 07:08] th0car commented on #5378
OK - So to avoid focus on the service part I constructed an example myself instead using the WebdriverIO v5 Getting Started Guide with the @wdio/browserstack-service added. All test pass - Both using browserstack and browserstack-local binary. After this i upgrade WDIO to v6 and all tests immediately starts failing with the error in my original comment. Same environment, same test, same conf same

[2020-05-12 13:00] gfinzerScotts commented on #5388
Thanks so much Christian for the quick reply.  I will post to that project.

[2020-05-12 13:36] osmolyar opened #5392 "Cannot use @wdio/selenium-standalone-service with Edgedriver, either with binary or version keys, or with javaArgs"
**Environment**:

    WebdriverIO version: 6.0.15
    Mode: selenium-standalone-service
    Node.js version: 12.9.0
    NPM version: 6.14.4
    Browser name and version: Any (Firefox 75.0)
    Platform name and version:. Windows 10
    Additional wdio packages used (if applicable)::
    "@wdio/allure-reporter": "^6.1.9",
    "@wdio/cli": "^6.0.15",
    "@wdio/cucumber-framework": "^6.0.15",
    "@

[2020-05-12 14:13] motss commented on #3269
Just to update this issue with some other workaround that might work for folks out there. Here's my attempt to instead use `@babel/register`:

[code]

[code]

[code]

This might increase the install size of your package/ project but this could be another more reliable alternative as compared to using `esm` as I found out that `esm` tends not to work reliably for Node.js that support native ES Modu

[2020-05-12 14:40] hisisirdas commented on #5382
Hi Christian, Please find the below logs..I am looping the urls to check metrics of each page. below is error.
Metrics are  {
  estimatedInputLatency: 16,
  timeToFirstByte: 570,
  domContentLoaded: 14312,
  firstVisualChange: 416,
  firstPaint: 8419,
  firstContentfulPaint: 9030,
  firstMeaningfulPaint: 17518,
  lastVisualChange: 7431,
  firstCPUIdle: 17518,
  firstInteractive: 17498,
  load: 149

[2020-05-13 12:31] christian-bromann commented on #5382
It seems like no looping over multiple pages is causing some instability when capturing tracelogs which causes this error.

[2020-05-13 12:35] christian-bromann commented on #5392
@osmolyar would you mind filling an issue in the [`selenium-standalone`](https://github.com/vvo/selenium-standalone) package for this?

[2020-05-13 12:38] christian-bromann commented on #5378
It seems like you are not connected to the internet or you are behind a firewall. The error `ENOTFOUND hub-cloud.browserstack.com` says that it can't find the page which actually exists.

[2020-05-13 12:50] osmolyar commented on #5392
Submitted https://github.com/vvo/selenium-standalone/issues/458

[2020-05-13 13:45] th0car commented on #5378
Sorry to see this closed with this motivation. I do, of course, understand ENOTFOUND and if I would have had experienced this problem with other versions of WebdriverIO or any other node application I would certainly not have filed this as a bug.

But since I am using the same computer, same env variables, same .npmrc, same proxy and the same internet connection (and the same tests and the same wd

[2020-05-13 13:57] christian-bromann commented on #5378
Sorry for closing it too early. We have changed the underlying request library and a regression in this area is possible. Can you try to recreate the issue with a much smaller example, e.g. using WebdriverIO in a simple node script?`

[2020-05-13 14:30] osmolyar commented on #4248
@mgrybyk  question, is this only for beforeStep/afterStep or for beforeScenario/afterScenario also?  Because beforeScenario is really where it makes sense to change/initialize cucumber world state, since its intention is to share state between steps (but not carry over between scenarios).

[2020-05-13 14:33] erwinheitzman commented on #5392
You are assigning the driver binary though, which instead should be the browser binary. Have you tried that?

[2020-05-13 14:45] erwinheitzman commented on #4248
@osmolyar if you had checked the change you'd have seen that it indeed only for those hooks as he described: https://github.com/webdriverio/webdriverio/pull/4545/files

[2020-05-13 14:51] osmolyar opened #5394 "Context of before/afterScenario @wdio/cucumber-framework hooks should be cucumber this"
**Is your feature request related to a problem? Please describe.**

In https://github.com/webdriverio/webdriverio/pull/4545, the context of the before/after Step hooks was changed to be the cucumber world object, as requested in https://github.com/webdriverio/webdriverio/issues/4248.  However this was not done for the before/afterScenario hooks.  The context of before/afterScenario @wdio/cucumber-

[2020-05-13 14:53] osmolyar commented on #4248
@erwinheitzman , yes based on experimenting with the hooks it appeared that before/afterScenario are not affected - just entered issue https://github.com/webdriverio/webdriverio/issues/5394 to extend to before/afterScenario hooks.

[2020-05-13 15:01] erwinheitzman commented on #5394
Please provide a reproducible example when creating issues

[2020-05-13 15:03] christian-bromann commented on #5394
@osmolyar would you like to take this on and propose a fix?

[2020-05-13 16:48] osmolyar commented on #5394
@christian-bromann , @erwinheitzman,  thanks; Ok I can plan to take this on.

[2020-05-14 06:08] christianopaets commented on #486
@Madebyspeedster you need to pack extension. Open chrome://extensions and click Pack extension. It will generate .crx pack and .pem key. After that you can use .pem key to generate packs for you own. You can use this library for that https://github.com/Constellation/crxmake

[2020-05-14 08:35] dimkin-eu opened #5396 "Update of puppeteer-core breaks the launcher II"
Looks like something is not fixed in https://github.com/webdriverio/webdriverio/issues/5368 https://github.com/webdriverio/webdriverio/pull/5369
[code]
[code]

wdio downgrade to pre 6.1 version helps
[code]

As an important note - this works perfectly on the local machine ( macOS Catalina 10.15.4 (19E287) ), but fails on Jenkins ( Jenkins ver. 2.190.3 )
node and npm versions are the same
 npm  6.1

[2020-05-14 08:43] kajmagnus commented on #5380
Sounds similar to: https://github.com/webdriverio/webdriverio/issues/5241  — and, in [this comment](https://github.com/webdriverio/webdriverio/issues/5241#issuecomment-611717280): *"node does use more and more memory (I didn't notice until now), like that other issue does too, eventually 1.5G before I killed -9 it"*

[2020-05-14 08:44] hisisirdas commented on #5382
I am using devtool-service to capturing the metrics of each URLs. but in some URL it gets the below error..
[0-0] (node:10232) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'pageUrl' of undefined
at new Auditor (branch\node_modules@wdio\devtools-service\build\auditor.js:57:26)
at TraceGatherer. (branch\node_modules@wdio\devtools-service\build\index.js:112:23)

[2020-05-14 08:57] erwinheitzman commented on #5396
Important to note is that you do not have this issue when running it locally. This also means that any additional information about this would be very helpful since people have reported the fix to work.

[2020-05-14 08:59] erwinheitzman commented on #5396
The only explanation I can think of is that the Jenkins slave (the machine) has got the dependencies cached somewhere

[2020-05-14 09:37] dimkin-eu commented on #5396
workspace if wiped out after each build if it makes sense

[2020-05-14 10:10] christian-bromann commented on #5382
@hisisirdas you already mentioned that. Any help resolving this issue would be much appreciated.

[2020-05-14 10:25] MaryanaVelyka commented on #4134
@osmolyar do you know if it's going to be fixed?

[2020-05-14 15:19] osmolyar commented on #4134
No...(it's a webdriver issue not webdriverio)

[2020-05-14 15:30] MaryanaVelyka commented on #4134
@osmolyar I see, thank you. May be you know any workaround? (Everything from above doesn't work for me)

[2020-05-14 15:37] ducle91 commented on #4134
this was a temporary workaround that I used.  https://github.com/html-dnd/html-dnd. The documentation is pretty easy to follow.

Here is a snippet of the code.
`browser.execute(dragAndDrop, source, target);`

[2020-05-14 16:01] MaryanaVelyka commented on #4134
@ducle91 thank you, I have already tried your solution and it's not working in my case. For https://the-internet.herokuapp.com/drag_and_drop it is, might be smth specific to the elements I'm trying to drag and drop. (

[2020-05-14 16:10] ducle91 commented on #4134
@MaryanaVelyka how are you writing your selector?

[2020-05-14 16:26] MaryanaVelyka commented on #4134
@ducle91 using CSS
`browser.execute(dragAndDrop, '.draggable-item-container .item-text--column', '.column-box--header-to');`

[2020-05-14 17:02] ducle91 commented on #4134
@MaryanaVelyka try to use the id `#column-a` (source) `#column-b` (target)

[2020-05-14 19:58] th0car commented on #5378
After installing global-agent and setting the additional env variables for this package I was able to access hub-cloud.browserstack.com also from WebdriverIO v6.
This proxy setup is accordning to the webdriverIO documentation for v6 and I should have looked there even though v5 required no extra proxy config at all. Closing.

[2020-05-14 19:58] #5378 closed

[2020-05-14 21:54] StephenEsser opened #5398 "Failure in onPrepare does not stop execution"
**Environment:**
 - **WebdriverIO version:** [6.1.11]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [v10.20.0]
 - **NPM version:** [6.14.4]
 - **Browser name and version:** [e.g. Chrome 68]
 - **Platform name and version:** [Mac OS Catalina]
 - **Additional wdio packages used (if applicable):** [Setup was done 1-1 using the [Getting St

[2020-05-14 22:44] tawfiknouri commented on #4134
@MaryanaVelyka
for html-dnd you should use CSS selectors so `#column-a  and #column-b`

Try this code should be OK
[code]

[2020-05-14 22:51] pmerwin commented on #5398
FWIW, I am seeing any error thrown in a hook set at the config level, does not fail the test run either, and onComplete hook does not appear to run at all.  Could be related to this issue is why I mention it.

[2020-05-14 22:56] StephenEsser commented on #5398
That's a good point and helps simplify the test-case. Throwing an error directly in the `wdio.conf.js` onPrepare hook has the same outcome as an onPrepare in a service. The failure is logged, but the execution continues to attempt to run the tests.

[2020-05-15 07:37] christian-bromann commented on #5398
Not failing the test even though a hook in a service fails was a design choice so that broken code would not interfere with the test process. If e.g. a driver service fails to start the test will fail immediately anyway. Another example is if the Sauce service fails to report to Sauce because e.g. there is an incident, the tests should still pass but show error for failing reporting.

I think it i

[2020-05-15 07:52] christian-bromann commented on #5396
@dimkin-eu can you check out the Puppeteer version that is in your node_modules directory. Could be the NPM cache or package-lock preventing a version mismatch. Also a minimal reproducible example could be helpful.

[2020-05-15 08:02] christian-bromann opened #5399 "Improve mobile commands"
**Is your feature request related to a problem? Please describe.**
At [SauceCon](https://saucecon.com/) @martinfrancois has presented a talk on testing mobile apps on Android and iOS using a single test framework. As part of the presentation he released a [WebdriverIO utility pack](https://github.com/martinfrancois/wdio-mobile-utils) that helps with certain mobile use cases, like swiping or deepli

[2020-05-15 08:24] ivanixgames opened #5400 "Error "browser.setWindowRect is not a function" when trying to use @wdio/selenium-standalone-service"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**

from package.json:
   "@wdio

[2020-05-15 08:26] erwinheitzman commented on #5399
Sounds great Christian! I'm not sure how large the framework is but we could rewrite the files to js or we could transpile it to js and use that.

Do you happen to have a link to the project?

[2020-05-15 08:31] ivanixgames commented on #5400
In my wdio.conf.js I tried to log the props of 'browser'
it shows that setWindowRect is a boolean property with value of true instead of being a function:

[0-0] browser props:  Browser {
  sessionId: '8d34d7c0c7636f5da68c8c257f40741d',
  capabilities: {
    acceptInsecureCerts: false,
    acceptSslCerts: false,
    applicationCacheEnabled: false,
    browserConnectionEnabled: false,
    browserNa

[2020-05-15 08:40] erwinheitzman commented on #5400
`chromedriverVersion: '2.43.600210 (68dcf5eebde37173d4027fa8635e332711d2874a)',` this version is your problem. Update your chromedriver, this is not an issue.

[2020-05-15 08:40] #5400 closed

[2020-05-15 09:04] christian-bromann commented on #5399
Sorry, totally forgot the link: https://github.com/martinfrancois/wdio-mobile-utils

[2020-05-15 09:25] ivanixgames commented on #5400
@erwinheitzman   Thanks, Sorry the trouble, yes i just saw a message that selenium couldn't download the webdriver for the version 81.0.  This message only showed up after I upgraded all of webdriverio to 6.x.  I suspect selenium-standalone 6.15.0 was not compatible with webdriverio 5.x

[2020-05-15 09:37] christian-bromann opened #5401 "Convert modules to become ESM packages"
With the release of Node version 13.9.0, ES modules can now be used without an experimental flag since they are enabled by default. We should start moving WebdriverIO packages over to become ESM modules. Given that we need to wait for dependencies to support ESM as well this can take some time. I suggest to start with packages that have no or just a few dependencies and work the way up.

The goal

[2020-05-15 09:38] christian-bromann commented on #5228
Closing in favor of #5401

[2020-05-15 09:38] #5228 closed

[2020-05-15 11:03] dimkin-eu commented on #5398
i think it must be configurable, as could cause false positives because of silently failed prepare and going in Volkswagen ( always green ) style :)

[2020-05-15 11:32] dimkin-eu commented on #5396
@christian-bromann not sure if i did it in a right way , but fast one gives this
[code]

[2020-05-15 11:36] christian-bromann commented on #5396
@dimkin-eu can you please provide a minimal reproducible example?

[2020-05-15 11:41] christian-bromann commented on #5398
I don't think this is a correct analogy. A service should not contain any tests of some sort. It meant to setup your environment. If all services silently fail your test should fail as well since the expected state of the environment is invalid. If that is not the case your tests are bad.

On the contrary it would be super annoying if your 30min e2e test fail because a service trying to send data

[2020-05-15 12:41] dimkin-eu commented on #5398
this is really the issue in https://github.com/webdriverio/webdriverio/issues/5396 - wdio tests are the separate stage in Jenkins, and due not staring tests, the stage is superfast and green and proceeding to next stage in CI/CD pipeline.
As a QA I'd even go for commenting out the stage, not having it always green, despite (not running) tests state.

[2020-05-15 12:45] christian-bromann commented on #5398
I am not sure how these are related and why this doesn't break the stage but it is independent from the fact that services don't let the test run fail.

[2020-05-15 12:46] dimkin-eu commented on #5396
@christian-bromann I will try, but can't promise :( I totally understand the need in this.
Maybe there is any other additional info, which could help?

[2020-05-15 12:48] christian-bromann commented on #5396
Not really. I pretty sure it is your environment because devtools tests are passing for me in CI and locally.

[2020-05-15 12:49] hisisirdas commented on #5382
@christian-bromann It is working only when we are using browser.pause(20000). so my question is =>
Can we use the browser.pause method() as in the documentation it is mentioned not to use this as there are alternative methods are there.

[2020-05-15 12:51] christian-bromann commented on #5382
I think for this use case it might make sense. For tests you shouldn't use it because WebdriverIO provides explicit waits. This race condition seems to not be in WebdriverIO related and more a conjunction of WebdriverIO -> Chrome -> Ligthouse.

[2020-05-15 14:58] emilyrohrbough commented on #5398
Would it be possible to [check if a specific error message was thrown](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cli/src/utils.js) when the runServiceHook is executed?
For example the service could do:
[code]
and the [onServiceHook](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cli/src/utils.js) could check for that message
[code]

[2020-05-15 17:34] StephenEsser commented on #5398
I agree that services should be able to stop the test process. Specifically services within the `onPrepare` hook prior to starting the test run.

I've done some additional testing locally and I may have stumbled onto another issue. It appears that once a custom service fails in the onPrepare hook the other services are not initialized at all.

I've added additional services to the example project.

[2020-05-15 18:35] martinfrancois commented on #5399
I would be willing to contribute the code to WebdriverIO and would also take up the work. I don't think it should be a big effort to do so.

Considering typescript: would it also be an option to think about converting webdriverio into a typescript project? Of course, I would still transpile it to JS when building (just as I do in wdio-mobile-utils), but it would provide the advantage that there wo

[2020-05-15 20:36] dylang commented on #5380
Could be related to #5048.

[2020-05-16 20:00] gtreskas opened #5405 "browser.getMetrics is not a function [DevTools service]"
Same example as already fixed with issue https://github.com/webdriverio/webdriverio/issues/4278, is now reoccurring again.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.11
 - **Mode:** Local WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.16.3
 - **NPM version:** 6.13.2
 - **Browser name and version:**

[2020-05-17 08:59] erwinheitzman commented on #5399
I am all for moving to TypeScript @martinfrancois :)

[2020-05-17 09:58] krishna01012002 opened #5406 "Taking more than specified time when locator is not present (not visible)"
**Environment (please complete the following information):**
 WebdriverIO version:
  "webdriverio": "^6.0.15"

 - **Mode:** [Standalone mode or WDIO Testrunner]
 If WDIO Testrunner, running sync
"@wdio/sync": "^6.0.15"
 Node.js version:  10. 15.1]
 NPM version: 6.12.0
 - **Browser name and version: using
 - **Platform name and version:MAC OS Monave 10.14.4
 - **Additional wdio packages used (if ap

[2020-05-17 10:17] christian-bromann commented on #5406
Can you please provide a reproducible example?

[2020-05-17 10:40] flunderpero opened #5407 "this.skip() is not defined"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 6.1.3]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [12]

**Describe the bug**
Reading through the documentation and issues here, the following should work:
[code]
Basically we want to skip some tests based on the *actual* browser environmen

[2020-05-17 10:42] krishna01012002 commented on #5406
Thanks Chris for the quick response!
Just giving example: Using below method
element.waitForDisplayed({timeout: timeOutInMs, reverse: false, timeoutMsg: error}));
Step 1) We assume the given element is not visible,  max timeout is provided as 10 secs, as we know default waitTimeInterval 250 ms.
 Step 2) Please observe request (GOT) calls
Step 3) waitForDisplayed or even tried with isDisplayed was

[2020-05-17 10:46] BorisOsipov commented on #5407
@flunderpero Arrow functions does not have a this of their own.

[code]

[2020-05-17 10:46] #5407 closed

[2020-05-17 10:48] krishna01012002 commented on #5406
My simple question How webdriverio handing if  each request(GOT) is taking more than 250 ms(interval timeout) .
Just assume max timeout is 1 sec , then we expect max 4 calls , but looks like it is taking more than that when element is not visible

[2020-05-17 10:50] christian-bromann commented on #5406
@krishna01012002 can you provide an example that I can run on my machine (a minimal project or a simple Node.js file).

[2020-05-17 11:02] flunderpero commented on #5407
Of course! Thank you!

This project really rocks.

[2020-05-17 11:06] krishna01012002 commented on #5406
@christian-bromann
I am using appium call for native APP not for browser.
I have to write some code snippets for the browser , I might need some time to do this.

[2020-05-17 11:13] krishna01012002 commented on #5406
@christian-bromann
My simple question: How does webdriverio handle if  each request(GOT) is taking more than 250 ms(interval timeout) .
I mean each request response taking 500 ms but timeout interval is 250ms only and max timeout is 1 second.
 We expect max 4 calls , but looks like it is taking more than that when element is not visible.
I think calculation happening as mentioned below
Max calls :

[2020-05-17 16:26] azinchenko91 commented on #4616
Hey @christian-bromann . Do you have any updates about runner that allows to run all feature files in one browser?

[2020-05-17 16:52] christian-bromann commented on #4616
@azinchenko91 yeah .. I have an idea to allow specifying the specs per runner better as it is possible right now, you can read up more of it here: #4974

[2020-05-18 00:56] ywangii opened #5408 "Upgrade to `webdriverio@6` `getValue` now returns a string array instead of a pure string"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.4
 - **Mode:** Both
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.16.0
 - **NPM version:** 6.13.1
 - **Browser name and version:** Chrome 81
 - **Platform name and version:** macOS

**Config of WebdriverIO**
[code]

**Describe the bug**
We are bumping wdio@4 to wdio@6 in ou

[2020-05-18 06:19] wswebcreation opened #5409 "WebdriverIO not acting on sessions response when connection retry timeout is longer than X minutes"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6+
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12
 - **NPM version:** 6
 - **Browser name and version:** real device in Sauce Labs RDC
 - **Platform name and version:** Abdroid
 - **Additional wdio packages used (if applicable):** `@wdio/sauce-service

**

[2020-05-18 06:52] christian-bromann commented on #5408
You are using multiremote which returns the result of all commands as a string. If you set your capabilities to:

[code]

results are as expected.

[2020-05-18 06:52] #5408 closed

[2020-05-18 12:42] abdul-farhat opened #5410 "Unable to change host or port name by passing in seleniumArgs"
- **WebdriverIO version:** 6.1.12
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.16.3
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 81
 - **Platform name and version:** Tested on Windows 10 and Debian based distros
 - **Additional wdio packages used (if applicable):** [@wdio/selenium-standalone service]

**Config

[2020-05-18 12:54] christian-bromann commented on #5410
If you are using a custom port for the service (default is `4444`) you have to make sure to also define this in your capabilities:

[code]

I recommend to use the default port if possible so you wouldn't need to configure anything.

[2020-05-18 12:54] #5410 closed

[2020-05-18 13:07] halovanic opened #5411 "Allow way to distinguish runs of same browser"
**Is your feature request related to a problem? Please describe.**

I can configure multiple runs of the same browser on the same platform, but passed different launch options or capabilities.  These are generally indistinguishable in any reporter output as only the browser name, platform and device name (if any) get used for identification.

For example, I can run a test suite on my desktop machi

[2020-05-18 14:10] christian-bromann commented on #5411
@halovanic the spec reporter usually looks as follows:

[code]

You see the identifier `#0-0` which the first number is the key of the capability and the second is the number of the test. Is there something you would like to add to this or why would this identifier not be sufficient?

[2020-05-18 18:50] ywangii commented on #5408
@christian-bromann Thanks this resolved my issue! Appreciate it!

[code]

Also would be awesome to have this doc - https://webdriver.io/docs/options.html#capabilities to be more specific since for each single capability (not multiremote) per browser it's object but the whole `capabilities` config is an array. The config actually can be either object array or object of objects (multiremote).

[2020-05-18 19:00] christian-bromann commented on #5408
Cheers! I will see how we can be more descriptive. Appreciate the feedback!

[2020-05-18 20:05] halovanic commented on #5411
Yes, this works if you have access to the configuration file and can check the array order of the test configurations.  But if they grow large, or you are looking through test results without direct access to the configuration in question (such as if you are a non-technical user), this can be cumbersome.

What I would want as the enhancement is being able to define something like the following:

[

[2020-05-19 13:16] christian-bromann commented on #5411
I would suggest to introduce an option to the spec reporter that allows to dynamically modify the identifier. The function would receive various of identifier options like config or capabilities and the user could then build a custom identifier.

PRs are welcome!

[2020-05-19 13:24] christian-bromann commented on #5399
@martinfrancois after syncing with the @webdriverio/technical-steering-committee team there has been no objections to move to TypeScript. I would suggest as a first task that we need to setup TypeScript in this project properly so that we can transition over fluently.

Then I suggest to integrate the commands that already exist, e.g. `dismissAlert`. We need to find a way how to access protocol com

[2020-05-19 13:25] christian-bromann commented on #5401
The @webdriverio/technical-steering-committee has decided to move to TypeScript. Closing.

[2020-05-19 13:25] #5401 closed

[2020-05-19 15:47] flunderpero opened #5418 "Custom commands w/ wdio-sync do not work in watch-mode"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [e.g. 6.1.12]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [e.g. sync]
 - **Browser name and version:** [e.g. Chrome 81]
 - **Platform name and version:** [e.g. OSX Catalina]

**Config of WebdriverIO**
[code]

**Describe the bug**
We use a lot of custom commands like the one yo

[2020-05-19 16:29] jineshkhimsaria opened #5419 "Webdriver-io test works with chrome but fails with firefox & safari #webdriverio #firefox #safari"
I'm trying to open airbnb.com & just click login button.
I'm using selenium-standalone-service (for chrome & firefox) & safari-technology-preview (for safari browser).

Chrome - The above steps of going to url & clicking login button work properly in Chrome.
Firefox - The same steps work in Firefox but throw error at the end - "**_ERROR webdriver: Request failed with status 404 due to invalid sess

[2020-05-19 17:53] christian-bromann commented on #5419
Can you provide a minimal reproducible example?

[2020-05-19 18:02] jineshkhimsaria commented on #5419
[Archive.zip](https://github.com/webdriverio/webdriverio/files/4652304/Archive.zip)
This contains the code as well as package.json & wdio.conf.js
It's just a simple button click that i wanted to verify on multiple browsers using wdio

[2020-05-19 22:14] erwinheitzman commented on #5419
Just tested with Firefox and works fine, the only issue I had was that `=Log in` didn't work since I have Firefox install in my mother tongue so after changing the selector to match that it's working as expected.
However that would be a downside of using selectors like this instead of using something more reliable like creating an element attribute called `data-testid="some-unique-value"`

[2020-05-19 22:21] erwinheitzman commented on #5418
I'm not sure if the issue is that it's a Promise as instead I get an error when trying to reproduce this:
[code]

[2020-05-19 22:48] jineshkhimsaria commented on #5419
It worked for me as well but was getting above error in the console, you didn’t see any error or what?
And how about Safari? Did you try that?

[2020-05-20 01:57] jdavis61 commented on #5018
The mermaid.js team has made the subroutine shape available in their latest release. This is awesome because any method/function call may be represented by a polygon that starts with `[||`, ends with `||]` in the charts.

The ability to express a method/function call in this manner will hopefully make the flowcharts easier to read (when implemented). Also they will be better aligned with current f

[2020-05-20 06:10] christian-bromann commented on #5018
@jdavis61 is there anything left to for this ticket or can it be closed?

[2020-05-20 06:47] qvalero commented on #5389
Hello, I confirm this issue. Is there any workaround waiting for a fix ? I wanted to implement and use the scenario-level retries functionality for my test suites

[2020-05-20 06:50] BorisOsipov commented on #5389
@osmolyar @qvalero can you try `useCucumberStepReporter: false,` in allure reporter config?

[2020-05-20 07:37] qvalero commented on #5389
Thanks for your suggestion Boris, there is no error anymore but report is not really readable:

![image](https://user-images.githubusercontent.com/63647610/82418420-43f5e780-9a7d-11ea-937f-c3204892ea28.png)

![image](https://user-images.githubusercontent.com/63647610/82418536-66880080-9a7d-11ea-8f43-ad0a8c8cb4ac.png)

[2020-05-20 09:39] christian-bromann commented on #5419
This seems like a bug in Safaridriver where it fails to close the session if no window is present. Removing `browser.closeWindow()` fixes the issue. To reproduce this you can just run the following curl commands:

[code]

This can't be fixed in WebdriverIO and needs to be reported in the Safaridriver project.

[2020-05-20 09:39] #5419 closed

[2020-05-20 09:46] christian-bromann commented on #5418
It is hard to say if this is due to Fibers or a bug somewhere in the watch logic. Any help on this would be appreciated.

[2020-05-20 09:55] jineshkhimsaria commented on #5419
@christian-bromann - It's not about closing the session, the login button click doesn't work. Did it work for you?

[2020-05-20 09:59] christian-bromann commented on #5405
It seems that WebdriverIO is not able to connect to the browser. We already logged [an issue](https://github.com/webdriverio/webdriverio/issues/5374) for this to be more expressive in the errors about this. I tried to reproduce this with my [demo project](https://github.com/christian-bromann/webdriverio-performance-testing) and had no issues after all. The only problem I ran into was that Chrome w

[2020-05-20 09:59] #5405 closed

[2020-05-20 10:00] christian-bromann commented on #5419
yes

[2020-05-20 10:18] jineshkhimsaria commented on #5419
thanks, it worked for me too.

[2020-05-20 10:32] christian-bromann commented on #4079
closing in favor of #5336

[2020-05-20 10:32] #4079 closed

[2020-05-20 10:57] gtreskas commented on #5405
Thanks @christian-bromann , Yes you are right i cant reproduce it anymore, maybe it was fixed in the meantime, anyway thanks for your time.

[2020-05-20 11:25] jdavis61 commented on #5018
Hi @christian-bromann it can be closed. At some point I want to update the content of the flow charts but not sure when I will have time. I will close now.

[2020-05-20 11:25] #5018 closed

[2020-05-20 17:54] erwinheitzman commented on #5406
Just did a quick test using the following:
[code]

Output (iterates every second for 10 seconds):
[code]

[2020-05-21 09:23] Abel0916 commented on #5364
Encountered this problem when I upgrade Fibers to V5. Then WDIO sync way doesn't work.

[2020-05-21 16:14] pmerwin commented on #5364
Yes, I think we ran into an issue in AWS Linux 2 lambda, fibers vs 5, and sync mode exits with a code 1 immediately on test execution but only in AWS lambda, could not reproduce locally on OSX.

[2020-05-22 05:16] hisisirdas commented on #5382
When opening multiple URLs in one spec file to get metrics then this issue is occurring.

[2020-05-23 16:35] hisisirdas commented on #4085
I think this issue is still exists if you try to get metrics inside loop :-
@christian-bromann Can you please confirm if this is working, because we are trying to get metrics of around 100 urls in loop and getting error in auditor JS...
Same error I get using below code.
 (node:35024) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'pageUrl' of undefined
    at new Auditor (D:\Te

[2020-05-23 18:14] icarus44-zer0 commented on #4650
Was a solution to this issue ever found?

[2020-05-24 10:14] martinfrancois commented on #5399
Sounds great, thanks! I agree with this approach. How should we track the progress there @christian-bromann, in a separate issue?

Mhm, yes I see what you mean, here I could imagine different approaches:
- Easiest but least pretty solution would be to simply use something like `dismissMobileAlert`
- Turn the protocol command into a regular command and call the protocol command as a result
  - We c

[2020-05-25 06:00] wswebcreation opened #5423 "TypeError: Cannot convert undefined or null to object"
**Environment (please complete the following information):**
 - **WebdriverIO version:** V6
 - **Mode:** Testtunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12
 - **NPM version:** 6
 - **Browser name and version:** -
 - **Platform name and version:** OSX
 - **Additional wdio packages used (if applicable):** see boilerplate

**Config of WebdriverIO**
See https://g

[2020-05-25 08:22] christian-bromann commented on #5423
The error was related to #5369 which can only be fixed by updating the dependencies. I believe the error was introduced by a breaking change in Puppeteer that was released as a patch.

[2020-05-25 08:22] #5423 closed

[2020-05-25 09:00] christian-bromann commented on #5399
Yes let's do that. I will create some issues.

I would like to keep the command names as is (if possible) because it should be handled by WebdriverIO. Introducing breaking changes would be suboptimal as we just had major release. It should be possible to rename protocol commands when we create the WebdriverIO command structure and rename protocol commands so they start with an underscore. We have

[2020-05-25 09:22] christian-bromann commented on #5399
I looked over the utilities and would suggest to make the following enhancements:

- `swipe(from, to)` where parameters `from` and `to` are either pixels if > 1 or percentage otherwise - I doubt anyone wants swipe 1 pixel to the left so we could use this differentiation to have one command for both
- integrate `checkIfDisplayedWithScrollDown` into `isDisplayed`
- add new mobile commands for `swipe

[2020-05-25 09:36] christian-bromann commented on #5399
Actually I am wondering if we can't just integrate these into Appium.

[2020-05-25 09:44] wswebcreation commented on #5423
Thanks, then it's clear for me now 😉

[2020-05-25 10:16] christian-bromann opened #5424 "Setup TypeScript for the project"
**Is your feature request related to a problem? Please describe.**
As the code base is growing and the ecosystem leaning more and more towards TypeScript as type safe JavaScript flavor it makes sense to introduce it into the project as well. It help us grow the code base while at the same time reduce the amount of errors due to type issues.

**Describe the solution you'd like**
Let's get rid of Ba

[2020-05-25 10:21] christian-bromann commented on #5382
@hisisirdas can you please update your WebdriverIO versions? As I mentioned the error seems to be a race condition or just plain inability to capture the performance of some of the pages. This could be technically an error in WebdriverIO but it seems to be also related to Lighthouse and they way we integrated it into WebdriverIO.

To set clear expectations: it's unlikely that someone from the core

[2020-05-25 10:22] christian-bromann commented on #5406
@krishna01012002 any chance you can provide a reproducible example?

[2020-05-25 10:24] christian-bromann commented on #5396
Closing due to inactivity. Please update all your dependencies and try again. I am happy to re-open if someone can provide a reproducible example.

[2020-05-25 10:24] #5396 closed

[2020-05-25 11:49] baruchvlz commented on #5424
The TypeScript compiler has a flag, `--allowJS`, which compiles JavaScript files along side TypeScript files.

We could also start re-writing the smaller modules and slowly progress to bigger ones.

`tsc --module=ESNext` should do the trick.

[2020-05-25 13:08] roydekleijn opened #5425 "Running Programmatically sample doesn't work"
I try to run the sample of Running Programmatically. But it doesn't work:

TypeError: Cannot read property 'url' of undefined

Obviously I did use webdriver-manager.

[2020-05-25 13:10] christian-bromann commented on #5425
A reproducible example or at least some logs would be helpful here.

[2020-05-25 13:10] #5425 closed

[2020-05-25 19:17] erwinheitzman commented on #5424
I'm going to make a start on this if there are no objections

[2020-05-25 20:45] erwinheitzman commented on #5424
This evening I made a start with TypeScript where I have the `@wdio/*` paths and all other paths working without the use of a plugin (for now?). However I ran into a small challenge which I'd like to discuss with you all which is about the usage of the `::` aka `bind` operator that's available through Babel.

Currently there's two ecmascript proposals for this functionality:
- https://github.com/M

[2020-05-25 21:21] christian-bromann commented on #5424
@erwinheitzman let‘s use the normal bind method given that the proposals haven’t made much progress.

[2020-05-26 08:57] mgrybyk commented on #5424
I believe we can start refactoring package by package. It would be way easier to review

[2020-05-26 09:07] christian-bromann commented on #5364
@Abel0916 don't update to Fibers v5. It seems that Fibers in v4 still works with the latest Node v14. Therefor there is no need of action right now.

[2020-05-26 09:09] christian-bromann commented on #5020
@jugalj05hi any progress so far? Anything I can do to help?

[2020-05-26 12:59] qvalero opened #5433 "Error 404 during mobile execution on BrowserStack"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.13
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 13.12.0
 - **NPM version:** 6.14.4
 - **Platform name and version:** iOS and Android
 - **Additional wdio packages used (if applicable):** @wdio/browserstack-service 6.1.10

**Describe the bug**
Each

[2020-05-26 13:06] christian-bromann commented on #5433
Can you provide the WebdriverIO logs?

[2020-05-26 13:20] qvalero commented on #5433
Is it what you need?

[logs.txt](https://github.com/webdriverio/webdriverio/files/4682457/logs.txt)

[2020-05-26 13:29] JuanRodriguezAbarca opened #5434 "@wdio/cucumber-framework doesn't report variables in dataTables from Scenarios Outline Examples"
There is an issue which persists along wdio versions which is parsing variable values from Examples in Scenario Outline to the Json Reporter in data tables
 See the report:
![image](https://user-images.githubusercontent.com/11064158/82906134-15887880-9f65-11ea-8dd5-7dd2684e9128.png)
And the feature:
![image](https://user-images.githubusercontent.com/11064158/82905664-6f3c7300-9f64-11ea-9a23-3e3673

[2020-05-26 14:01] christian-bromann commented on #5434
Please report this issue in the [multiple-cucumber-html-reporter](https://github.com/wswebcreation/multiple-cucumber-html-reporter#readme) project, thanks!

[2020-05-26 14:03] christian-bromann commented on #5433
No, these are the Appium logs. I need the WebdriverIO logs to understand which command has caused this error.

[2020-05-26 14:05] wswebcreation commented on #5434
@JuanRodriguezAbarca , please report it here https://github.com/wswebcreation/wdio-cucumberjs-json-reporter and provide your JSON file in that ticket

[2020-05-26 14:09] qvalero commented on #5433
Ok I can see errors on those ones:
[logs.txt](https://github.com/webdriverio/webdriverio/files/4682787/logs.txt)

[2020-05-26 14:11] christian-bromann commented on #5433
@qvalero I am not sure what these logs and errors are. Maybe reach out to the BS support team. I don't see really how I can support you here :-/

[2020-05-26 14:12] JuanRodriguezAbarca commented on #5434
Thanks

[2020-05-26 14:13] osmolyar commented on #4134
@tawfiknouri thanks for the workaround suggestion; when I try this with either xpath or css selectors the error "javascript error: draggable.dispatchEvent is not a function" occurs.  (If I try to pass the retrieved elements into browser.execute instead of the selectors, then no error is emitted but nothing happens.)  The element to be dragged is a <span> or an <a>.  Do you know if there is some is

[2020-05-26 14:14] qvalero commented on #5433
Ok I will contact them and keep you updated if I can have an answer !
Thanks for looking at it!

[2020-05-26 14:23] tawfiknouri commented on #4134
@osmolyar could you please share a github link with a reproducible example?

[2020-05-26 14:29] JuanRodriguezAbarca commented on #5434
Hi, now I'm doubting where the error comes from as I was sent here back...
The JSON fragment corresponding with this step is the following:
`{
	"arguments": [
		{
			"rows": [
				{
					"cells": [
						"name",
						"description",
						"accountPlan",
						"API",
						"environment",
						"apps"
					],
					"locations": [
						{
							"line": 13,
							"column": 21
						},
						{

[2020-05-26 15:05] osmolyar commented on #4134
@tawfiknouri , a reproducible example is here:  https://github.com/osmolyar/DragAndDropExample.  Run as: "npx wdio testConfig\conf.js --suite google"

It is attempting to drag the Gmail link to the google search input box, but does nothing, and no error is emitted.
Please see pages/googleHome.page.ts for dragAndDrop implementation.
Thank you

[2020-05-26 15:35] erwinheitzman commented on #5424
yeah I am starting with the webdriverio package and migrate only a few small files but once I have it setup we should be able to reuse that across all packages

[2020-05-26 15:54] erwinheitzman commented on #5411
How about using sessionId's instead since I can run the exact same setup twice as well which still would not be identifiable without it?

[2020-05-26 15:57] wswebcreation commented on #5434
@JuanRodriguezAbarca

Sorry for not being clear about it. I'm the maintainer of both reporting modules. Please file a ticket here https://github.com/wswebcreation/wdio-cucumberjs-json-reporter because that module is used to create the JSON-file. also please add the complete JSON file that doesn't show the data

Reason for asking is that I've ran some test with the module and this feature file

[co

[2020-05-26 16:11] JuanRodriguezAbarca commented on #5434
I will open in the correct project, thanks for the info and sorry for the missunderstanding. By the way, there is one kind of scenario which was not taken in care in this list:
This scenario is a combination of a data table in a step and an scenario outline

  Scenario Outline: Google outline <time>
    Given I open Google for the time
        |time|weather|
        |<time>|<wheather>|

    Exampl

[2020-05-26 16:32] osmolyar commented on #4134
Please see https://github.com/osmolyar/DragAndDropExample for

1) Reproducible example of html-dnd dragAndDrop doing nothing (while Wdio drags 3 documents as expected to the trash can using the demo page above), on both Chrome and FireFox.

npm install;
Run as:
npx wdio testConfig\conf.js --suite dragAndDrop

Observe 2nd scenario, using html-dnd, fails due to not dragging (no error emitted during

[2020-05-26 16:34] jineshkhimsaria opened #5436 "Getting error related to firefox/gecko driver in WebdriverIO docker image #WebdriverIO #Selenium-standalone #Firefox"
I created WebdriverIO docker image with node alpine as the base image. Installing **firefox** explicitly as part of the **dockerfile**, **wdio.conf.js** containing **selenium-standalone** service. I'm not installing **geckodriver** as I assume that will be taken care by selenium-standalone service. I'm getting following error -

**_26T16:00:21.529Z ERROR webdriver: Request failed with status 500 d

[2020-05-26 16:39] JuanRodriguezAbarca commented on #5434
Here is the link to the ticket in the correct project
https://github.com/wswebcreation/wdio-cucumberjs-json-reporter/issues/36

[2020-05-26 16:47] tawfiknouri commented on #4134
@osmolyar
before going ahead, the dnd gmail scenario is a real life scenario ?
if yes, i think that is not the best way, you can use gmail api ...
could you please give us more informations ?

[2020-05-26 16:51] osmolyar commented on #4134
@tawfiknouri , no, neither of these is a real scenario, was just trying to make a reproducible example, so included both variants here.  Neither of these are quite like my real scenario which is on our company product, so I can't expose it.  In that case Wdio's dragAndDrop works in FF but not Chrome (and html-dnd works on neither.)   But at least these two examples also show html-dnd not working o

[2020-05-26 17:00] christian-bromann commented on #5436
Thanks for filing the issue. This is not an error with WebdriverIO and rather connected to your Docker setup. For support requests we kindly ask to join the  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge). Thanks!

[2020-05-26 17:00] #5436 closed

[2020-05-26 17:05] christian-bromann commented on #5424
Let's keep the scope of this issue to setup TypeScript for all modules with minimal actual code rewrite after that we can start refactoring file by file.

[2020-05-27 07:08] wswebcreation commented on #5434
@christian-bromann

Reopening this issue because this is an issue in `@wdio/cucumber-framework` or even Cucumber. The data that is being passed to the reporter, when a step succeeds, is this

[code]

Here you will see that the inline table data (` "cells": ["<time>", "<wheather>"],`) is not being processed to the logs by or cucumber or the `@wdio/cucumber-framework`.

I'll try to debug it more whe

[2020-05-27 07:38] wswebcreation commented on #5434
@christian-bromann

I've did some digging, and it looks like this is a third party issue, meaning something in Cucumber itself. The data that is being passed to the `handleAfterStep` in the `@wdio/cucumber-framework/lib/reporter.js` is also containing the incorrect data, see below

[code]

Not sure how to debug this more

[2020-05-27 08:33] dimkin-eu commented on #5396
@christian-bromann JFYI - I've bumped versions one more time and issue disappeared.
So it could be some transitive dependency.
Probably I would try to pinpoint which dependency did that ( as there are too many in project :( )

[2020-05-27 11:06] osmolyar commented on #4134
@MaryanaVelyka , re.

 could you please mention the type of elements you are trying to drag?  Maybe we can see a pattern in what works and what doesn't.  Mine are a td > div> span > a.

[2020-05-27 13:44] MaryanaVelyka commented on #4134
@osmolyar, in my case I'm dragging <div> and dropping it to <div>.

[2020-05-27 15:31] christian-bromann opened #5439 "Add documentation around how to handle imports in config files"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

We receive a lot of comments from people that use Babel or TypeScript and want use `import` statements in the config file too. If there is a chance that the CLI tool can automatically enable that I would prefer that solution.

see also #5438

*

[2020-05-28 04:41] javiergarciacotado opened #5441 "Firefox-profile service Browserstack"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [6.1.12]
 - **Mode:** [testrunner]
 - **If WDIO Testrunner, running sync/async:** [async]
 - **Node.js version:** [v12.16.2]
 - **NPM version:** [6.14.4]
 - **Browser name and version:** [Firefox 68]
 - **Platform name and version:** [Browserstack, Windows10]
 - **Additional wdio packages used (if applicable):

[2020-05-28 07:11] pathmapper commented on #5364
@christian-bromann on `linux` and `macos` it seems to work, but on `windows` it's failing:

https://github.com/maputnik/editor/pull/695

https://github.com/maputnik/editor/pull/695/checks?check_run_id=715807535

[2020-05-28 07:22] christian-bromann commented on #5364
@pathmapper thanks for the feedback, I will prioritise this then.

[2020-05-28 10:43] pathmapper commented on #5364
@christian-bromann our failing test was related to `node-sass` (https://github.com/maputnik/editor/pull/695#issuecomment-635209469). Sorry for the noise.

[2020-05-28 10:47] christian-bromann commented on #5364
ahh ok, nevermind then 😆

[2020-05-28 10:55] JuanRodriguezAbarca commented on #5434
Thank you for taking this in consideration.
What would be the next steps?

[2020-05-28 12:08] christian-bromann commented on #5434
Feel free to help us investigate.

[2020-05-28 13:03] erwinheitzman commented on #5441
For browserstack you'll need to provide the extention in base64 format.

Reference: https://www.browserstack.com/automate/add-plugins-extensions-remote-browsers

[2020-05-28 13:57] erwinheitzman opened #5443 "Couldn't find plugin "" runner"
With #5437 we introduced this regression bug.

Steps to reproduce the behavior:
[code]

[2020-05-28 14:08] javiergarciacotado commented on #5441
Hi @erwinheitzman,

Indeed, I have no problem with the Chrome's extension in Browserstack...
The issue is with firefox-profile which works smoothly against Selenoid but it doesn't inject the 'moz:firefoxOptions' when I'm trying to run with in Browserstack.

[2020-05-28 14:21] Gordiievskyi opened #5444 "wdio testrunner mocha delay option skip spec"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-05-28 14:23] arnisgustins opened #5445 "Multiple Multiremote sessions in parallel"
**Is your feature request related to a problem? Please describe.**
I am running integration tests for WebRTC application where two participants are needed. The Multiremote feature is perfect for this but the biggest issue is parallelisation. I cannot run more than 2 browsers at a time if I am running one test. I want to run different combinations of browsers at the same.

Current capabilities:
[co

[2020-05-28 17:33] pjcalvo commented on #5374
Hi @christian-bromann . I was looking at where this issue came from:

![image](https://user-images.githubusercontent.com/7219896/83173836-b6e30c00-a0d6-11ea-85e7-a375ce7cfd95.png)

The developer here is not declaring devtools as a service. So he is getting the error.

If you look at the code there is already a validation for non supported browsers.

![image](https://user-images.githubusercontent.c

[2020-05-28 18:19] christian-bromann commented on #5374
@pjcalvo thanks for looking into this. You bring up a good point. What happens if someone doesn't have the devtools service set up. I thought about maybe adding the command in WebdriverIO by default and then have the service overwrite it but then I would need to maintain service commands in services which I would rather avoid.

[2020-05-28 19:06] pjcalvo commented on #5374
Oh I got your point now. But that would mean that we need to implement default commands for every other custom service command.

I vote for closing this issue. And enforce the explicit setup of each of the service.

[2020-05-28 19:31] christian-bromann commented on #5374
@pjcalvo something that we could still do is to define the command in the service constructor and in case the browser [is not supported](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-devtools-service/src/index.js#L24) or the connection to the Chrome DevTools Protocol could [not be established](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-devtools-serv

[2020-05-29 00:16] tiecongli opened #5447 "Screenshot is not attached to report when using multiremote"
Allure 5
appium + cucumber

I follow the allure report instruction to enable screenshot taken per each step. However, that doesn't work when I am using multiremote. No screenshot is attached after test

[0-0] -------- Generated capabilities --------
[0-0] {
  device1: {
    capabilities: {
      platformName: 'iOS',
      automationName: 'XCUITest',
      xcode_org_id: '[your_org_id]',
      xcode

[2020-05-29 07:02] christian-bromann commented on #5447
duplicate of #4973

Any help on this would be highly appreciated. Cheers!

[2020-05-29 07:02] #5447 closed

[2020-05-29 08:18] christian-bromann commented on #5445
We have closed the issue as it didn't seem to be relevant for people anymore. I think the request is reasonable though very niche as not many people are running multiremote scenarios. If you are interested in contributing this change, we would be happy to accept it.

I would suggest a different proposal though. Currently we differentiate between single and multiremote by checking if the capabiliti

[2020-05-29 08:25] Ravikishore543 commented on #5434
`After` hook in cucumber is returning the parsed inline table data for every step

Feature:
[code]

Cucumber After Hook:
`Cucumber.After (scenario => console.log(JSON.stringify (scenario,null, 2)));`

Output:
[code]

[code]

Cucumber.js hook is returning the parsed values in `pickle` attribute, it might be an issue with `@wdio/cucumber-framework`

[2020-05-29 08:29] christian-bromann commented on #5434
Could be maybe somewhere [here](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cucumber-framework/src/cucumberEventListener.js#L70-L102).

[2020-05-29 08:38] christian-bromann commented on #5406
Closing due to inactivity. I am happy to reopen once a reproducible example can be provided. Thanks!

[2020-05-29 08:38] #5406 closed

[2020-05-29 09:28] arnisgustins commented on #5445
That sounds good. I am not familiar with WebdriverIO codebase so I don't promise I will create PR, but I will do some exploration and try.

[2020-05-29 09:31] christian-bromann commented on #5445
@arnisgustins let me know if I can help you contribute to the project. We have some [extensive docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) around it but happy to help if information are missing.

[2020-05-29 12:23] wswebcreation commented on #5434
@christian-bromann

I think I found the problem, but don't know how to solve it right away. I think the problem is in here https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cucumber-framework/src/utils.js#L230

This is where the step text is determined, this is the step data

[code]

and this is the pickle data

[code]

The pickle holds the correct data here, because it has the

[2020-05-29 12:36] mgrybyk commented on #5434
@wswebcreation might be. I think we get text data somewhere before, when parsing data table.
Are you going to fix this one @wswebcreation ?

[2020-05-29 12:46] wswebcreation commented on #5434
@mgrybyk

You mention _maybe_ here, what do you mean with that?

[2020-05-29 12:51] mgrybyk commented on #5434
Nothing specific, I just haven't tried to debug the issue myself

[2020-05-29 12:54] wswebcreation commented on #5434
I've debugged it from the event listeners to this specific utility and 100% sure that this is the problem. Challenge now is that I'm not sure why this solution has been choosen, I can just fix it by returning the pickle step, because that should (always) hold the processed data, but I'm a little but scared what might brake otherwise
I also don't understand why the report hook is getting the wrong

[2020-05-29 12:59] mgrybyk commented on #5434
Might be that we send wrong data in the report hook. Don't have any clues at this point, the best way to understand what is going on is to debug :)

[2020-05-29 13:09] Ravikishore543 commented on #5434
@wswebcreation  [getStepText](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cucumber-framework/src/utils.js#L230) method will only parse the data present in the step text (ex. Then User `<userId>` with `<password>` is logged in), as you can see in the method it'll return only `step.text/pickle.text`, our issue is with parsing the data in data tables.

[2020-05-29 13:16] wswebcreation commented on #5434
ahh, shit, it's almost weekend... 🤦

[2020-05-29 17:22] christian-bromann commented on #5434
What is broken already can not be breaking again 😉 ... this is why we have the smoke test framework - we can write a custom reporter that just logs things it receives and we can snapshot this to ensure before and after changes make sense.

[2020-05-29 20:26] mgrybyk commented on #5434
I know what is the root cause of the issue.
It is `getTestCaseSteps` function that ignores pickle data (at least for arguments).

[2020-05-29 22:24] mgrybyk commented on #5434
I've raised the PR that should give an idea on how to to fix the issue.

Even though "it works" the code doesn't look well and can be optimized :)

Here is the test data I used:

Feature file
[code]

step definition
[code]

how it looks now
![image](https://user-images.githubusercontent.com/25589559/83310105-438ee680-a20b-11ea-8ef6-33eef1fa621f.png)

I'll try to complete it on Sunday, otherwise fe

[2020-05-31 14:54] ashokkumarg opened #5449 "browser.pause() is not working properly"
I have used browser.sleep in protractor to hold the execution for a particular amount of time. In similar way I have tried the browser.pause in WebDriverIO. But it is not pausing for the given amount of time.

Even for browser pause I referred the WebDriverIO official documentation, there also the same thing is given

**Step Definition Code:**

[code]
I use async mode in the configuration. I have

[2020-06-01 12:37] christian-bromann commented on #5449
If you use WebdriverIO in async mode you need to handle promises correctly using `async`/`await`, e.g. like this:

[code]

I will close this as it doesn't seem to be an issue with WebdriverIO. If you have further support questions please reach out in our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm

[2020-06-01 12:37] #5449 closed

[2020-06-01 22:45] LucianStoicescu opened #5453 "Test is skipped when including break command"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-06-01 23:05] mgrybyk commented on #5453
There is no builtin `break` in forEach in JavaScript.

What are you trying to achieve @LucianStoicescu ?

[2020-06-01 23:24] LucianStoicescu commented on #5453
Aw man, I expected it to be something silly like that. I was just trying to stop the for after it found the appropriate iFrame - which I did with a trigger variable eventually.
So, why does this cause the test to be skipped? I would've expected an error or something

[2020-06-01 23:53] jdavis61 commented on #5020
When adding the flowcharts I found the below process made creating documentation much easier. Before trying to add documentation, make sure you have [sass](https://sass-lang.com/install) installed in your development environment. Otherwise you will not be able to create the docs.

Once these dependencies have been added, run the below bash commands to create the doc and start the docusaurus server

[2020-06-02 09:36] urilevy2 opened #5454 "Some specs missing from JUnit report"
**Environment:**
 - **WebdriverIO version:** 6.1.5
 - **Mode:** Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.16.3
 - **Browser name and version:** Chrome 83
 - **Platform name and version:** linux
 - **Additional wdio packages used (if applicable):** @wdio/spec reporter, @wdio/allure-reporter, @wdio/dot-reporter, @wdio/jasmine-framework, @wdio/junit-rep

[2020-06-02 09:42] mgrybyk commented on #5454
Can you please provide with the reproducible example?

[2020-06-02 10:29] urilevy2 commented on #5454
I can't, as this involves running above 60 specs.

[2020-06-02 10:30] christian-bromann commented on #5454
@urilevy2 we are not asking for the whole project. Just a minimal example that reproduces the issue. It can be a totally new project with some simple test that highlights the error.

[2020-06-02 12:55] dimkin-eu opened #5455 "After BrowserStackLocal runner app update wdio fails to run local BrowserStack server"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1
 - **Mode:** [ WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [ sync ]
 - **Node.js version:** [v12.16.1]
 - **NPM version:** [6.14.5]
 - **Browser name and version:** [Chrome 83]
 - **Platform name and version:** [macOS Catalina 10.15.5]
 - **Additional wdio packages used (if applicable):

[2020-06-02 13:08] christian-bromann commented on #5455
Closing as it seems that this should be handled by [`browserstack-local`](https://github.com/browserstack/browserstack-local-nodejs). Please raise an issue there. The BS service should only call `start` and `stop` and should not deal with pending processes.

[2020-06-02 13:08] #5455 closed

[2020-06-02 13:12] dimkin-eu commented on #5455
https://github.com/browserstack/browserstack-local-nodejs/issues/105

[2020-06-02 14:20] javiergarciacotado commented on #5441
Hello,

I have solved current issue accessing directly to firefox-profile (not through wdio-firefox-profile):

onPrepare: function (config, capabilities) {
      require('dotenv').config();
      const outputDir = path.join(__dirname, 'dist/browserstack');
      if (!fs.existsSync(outputDir)) {
        fs.mkdirSync(outputDir);
      }
      console.log('Connecting local');
      return new Promise

[2020-06-02 18:56] romovs opened #5456 "Click fails with 'element not found' when loading a new page"
**Environment:**
 - **WebdriverIO version:** 6.1.15
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.17.0
 - **NPM version:** 6.13.7
 - **Browser name and version:** Chrome 83
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**
    "@wdio/cli": "^6.1.15",
    "@wdio/local-runner": "^6.1.14",

[2020-06-02 21:56] lieutenantken opened #5457 "Getting undefined / Null error from Vanilla update"
### **//SOLUTION!!!!**
**// UPDATE Dependency to 3.3.0 as seen below**
**//FILE:: node_modules/devtools/package.json**
"dependencies": {
    "@wdio/config": "6.1.14",
    "@wdio/logger": "6.0.16",
    "@wdio/protocols": "6.1.14",
    "@wdio/utils": "6.1.8",
    "chrome-launcher": "^0.13.1",
    "puppeteer-core": "^3.3.0",
    "ua-parser-js": "^0.7.21",
    "uuid": "^8.0.0"
  },
  "devDependencies"

[2020-06-03 07:01] RafalSkorka commented on #4547
Looking into the history of the [interface.js](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-cli/src/interface.js) file, there was a console.log statement introduced in [this commit](https://github.com/webdriverio/webdriverio/commit/e27e6b6ad4d3f02872f48c6da804884edf96fdb6#diff-133e004860738e01d2d59eba1f9e88e3)
but later on multiple other places started to use it (`this.log`

[2020-06-03 11:02] arnisgustins commented on #5445
@christian-bromann
I have created very rough implementation as a proof of concept here - https://github.com/webdriverio/webdriverio/pull/5458. Please let me know if it makes sense. I decided not to use `multiremoteCapabilities` as it was complicating things more than my current solution.

[2020-06-03 16:49] IlliaSmolin commented on #4953
Had the same issue and that's the fix I found:
Add "disableMochaHooks: true" parameter to your wdio.conf.js to the "reporters" array when your allure parameters are described.

The example straight from my wdio.conf.js:

[code]

Versions (latest on the 03 June 2020 moment):
"webdriverio": "^6.1.12"
"@wdio/allure-reporter": "^6.1.14"
"@wdio/mocha-framework": "^6.1.8"
"mocha": "^7.2.0"

[2020-06-03 16:51] anto-ac commented on #4953
@IlliaSmolin It's not really a fix, just a workaround.

[2020-06-03 18:59] testautomationacademy commented on #743
I created this function to handle this:
[code]
it works great and waits until url is changed

[2020-06-04 00:41] Vadikenaladiken commented on #3264
Thanks! you've saved my life!

[2020-06-04 06:32] slavamarkovski opened #5459 "dragAndDrop doesn't work for DragAndDropCoordinate.x = 0 or DragAndDropCoordinate.y=0"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-06-04 07:37] baligit opened #5460 "An unknown server-side error occurred while processing the command. Original error: Error Domain=com.facebook.WebDriverAgent Code=1 "'wait' action should be preceded by an item with absolute positioning" UserInfo={NSLocalizedDescription='wait' action should be preceded by an item with absolute positioning}"
## 💬 Questions and Help
Hello all,
I am trying to execute tap action on iOS driver, but the following error is occurred:
An unknown server-side error occurred while processing the command. Original error: Error Domain=com.facebook.WebDriverAgent Code=1 "'wait' action should be preceded by an item with absolute positioning" UserInfo={NSLocalizedDescription='wait' action should be preceded by an ite

[2020-06-04 08:16] christian-bromann commented on #5460
It does not look like you are using WebdriverIO. If you use Selenium or a different framework please use their support channels, thanks!

[2020-06-04 08:16] #5460 closed

[2020-06-04 13:23] qvalero commented on #5389
Hello, any other suggestion on this issue ?
This issue is blocking the retry functionality on scenario level, hence loosing a lot of time using the retry on full feature.

[2020-06-04 13:49] christian-bromann commented on #5389
More input from your side would be appreciated. You are saying that `It does not seem to be a correct solution`, what is then? Have you tried to look into the code? We would appreciated any support on this.

[2020-06-04 13:58] qvalero commented on #5389
With `useCucumberStepReporter: false` in allure reporter config we are loosing the gherkin scenario in the report as you can see in my screenshots, so it is not really readable.
I haven't looked at the code, I don't think I am enough experienced in development to figure out this issue :/

[2020-06-04 14:15] christian-bromann commented on #5389
If you use Cucumber you should have `useCucumberStepReporter` set to true to have the step defintions reported.

[2020-06-04 14:22] qvalero commented on #5389
Yes I have, but now if you add also `cucumberOpts: scenarioLevelReporter: true`, we have an issue with allure report (see original issue).
We cannot have both option in the same run:

`useCucumberStepReporter:true` and `scenarioLevelReporter: true`

[2020-06-04 16:30] constantinsuiu commented on #5071
Does someone know if there is any workaround to this? It's a blocker for my project and hoping for a solution.
Thank you in advance.

[2020-06-04 17:53] christian-bromann commented on #5071
@constantinsuiu there is no workaround, we need an enhancement to the spec reporter to address this. Any help would be appreciated.

[2020-06-04 20:19] christian-bromann commented on #5459
fixed in #5462

[2020-06-04 20:19] #5459 closed

[2020-06-04 20:21] christian-bromann commented on #5457
This has been fixed by #5369. Please update all your dependencies. Cheers!

[2020-06-04 20:21] #5457 closed

[2020-06-04 20:53] christian-bromann commented on #5456
Thanks for filing the issue and the reproducible example. Any help on this matter would be highly appreciated. If someone wants to look into this should have a look into the [WebdriverIO middleware](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/middlewares.js#L11-L44) where element refetching is handled.

[2020-06-04 21:22] christian-bromann commented on #5441
I am not sure how your code is different from what the service is doing. I checked manually and settings are applied correctly. Therefor closing this issue. Happy to reopen if someone can provide a reproducible example.

[2020-06-04 21:22] #5441 closed

[2020-06-04 21:29] christian-bromann commented on #5453
Not sure but this fails for me with `Illegal break statement`.

[2020-06-04 21:29] #5453 closed

[2020-06-04 21:42] christian-bromann commented on #5248
With WebDriver the browser is started by an external driver e.g. Chromedriver and handled by that. With DevTools we start the browser as part of the work process and communicate with the browser directly. Not sure if this has performance implications.

I will close this as I can't really identify if this is an error is WebdriverIO. Running many browser on the local machine has performance implicat

[2020-06-04 21:42] #5248 closed

[2020-06-04 21:44] christian-bromann commented on #5048
This has been addressed in #5404. Let's continue our conversation there.

[2020-06-04 21:44] #5048 closed

[2020-06-04 21:47] christian-bromann commented on #4850
Closing as it was not reproducible. Happy to re-open if people still run into this issue.

[2020-06-04 21:47] #4850 closed

[2020-06-04 21:51] christian-bromann commented on #4399
This got implement in #5438

[2020-06-04 21:51] #4399 closed

[2020-06-04 21:54] christian-bromann commented on #3780
No updates. I have seen people adding a complementary service to their reporters to achieve these things.

[2020-06-04 22:29] lieutenantken commented on #5457
The bug was written against 6.1.16 ! Im surprised you do not have more reports. The code changes in #5369 do not address the possibility of a null or undefined {devicemap}. Besides the update provided. This page referred to requires a try/catch as it appears puppeteer propensity to removing/moving & emptying this seemingly critical yet somewhat meaningless file.
   The bigger question : Can we inj

[2020-06-05 05:54] Ravi-Kishore-M commented on #5456
`If the click causes a new page to load, the Click() method will attempt to block until the page has loaded.` [refer this](https://www.selenium.dev/selenium/docs/api/dotnet/html/M_OpenQA_Selenium_IWebElement_Click.htm)
Since it's taking time to get response from Click command , we're getting `ETIMEDOUT` response code and web driver will retry to send a click command to server but we get an error `

[2020-06-05 07:01] christian-bromann commented on #5457
Oh, ok - because you mentioned in your issue to have `WebdriverIO version: [e.g. 4.13.2]`

This object will always be exposed by Puppeteer. Removing it would be need to go along with a major version bump. I assume this was not caught by the Puppeteer team during their rewrite to TypeScript. I am not concerned that this can happen again.

[2020-06-05 08:33] wswebcreation commented on #5434
@mgrybyk

Already tested it with my report and it works 🎉

[2020-06-05 11:02] erwinheitzman commented on #5456
@christian-bromann I'd like to update the middleware to retry on any error, what do you think about that? It would for example also fix any issues where elements might not be clickable due to an animation, it not being interactible (yet), etc.

[2020-06-05 11:08] christian-bromann commented on #5456
I am not sure if we should retry on every error given that e.g. an element not found is also seen as an error and would retry it which is not desired as we want to allow lazy loading.

[2020-06-05 11:26] erwinheitzman commented on #5456
@christian-bromann did you verify this is not working? for me this is working with the latest version

[2020-06-05 11:41] Ravi-Kishore-M commented on #5456
@erwinheitzman have you started `deelay` service before running the test ?

[2020-06-05 12:39] erwinheitzman commented on #5456
@Ravi-Kishore-M I removed the comment since I apparently it wasn't running indeed. pretty fun tool and easy to use but is it possible to delay it only a little since I don't want to wait 2 minutes to find out if it worked or not :)

[2020-06-05 12:50] Ravi-Kishore-M commented on #5456
@erwinheitzman  Yes you can update the delay time [here](https://github.com/oxygenhq/wdio-page-loading-click/blob/989a1bd9829fbcd68844c135277ab1d976333ff1/html/2.html#L8), Currently it is 150000milliseconds (2.5 minutes)
I guess there is no bug here, this is the expected behaviour. click command is throwing an error since the redirected page is taking more time to load.

[2020-06-05 12:56] erwinheitzman commented on #5456
@Ravi-Kishore-M if you change the timeout to 15 seconds and change the assertion to:
[code]
the test passes as expected, would you say there's still something we should look into?

[2020-06-05 13:06] erwinheitzman commented on #5456
@Ravi-Kishore-M after some more trail and error it's actually the connectionRetryTimeout timing out! if you would increase that number (not the retry count) it will actually pass, is it this that caused the particular error :)

[2020-06-05 13:11] Ravi-Kishore-M commented on #5456
it's throwing `connectionRetryTimeout` since the redirected page is taking time to load. we can ignore this bye setting the capability `pageLoadStrategy` to `none`.

[2020-06-05 14:46] halovanic commented on #5411
A session ID is needed to distinguish multiple runs, yes, but it is not helpful to someone who only has the final reporter output of a single run from something like Allure.

The difficulty I am having with adding an option to any given reporter to override or supplement the identifiers output is that it really is going to require every user to custom implement a function for matching each of thei

[2020-06-05 16:47] hisisirdas commented on #5382
We are using the latest versions of webdriverIO. Instead looping the URLs, We are dynamically generating the JS spec file for each url page and get the metrics. In that case it ends all sessions as well as the test and starts a fresh test in next Urls to get metrics. We tried all ways to make it  possible but no luck a you(@christian-bromann ) said this is a race conjunction between chrome driver

[2020-06-05 17:20] erwinheitzman commented on #5382
@hisisirdas a good start is to provide a reproducible example that we can run, we cannot access that site and the loop is missing here for example so like Christian already said, it's unlikely that anyone is going to look into this without the proper details / information that we can look into.

[2020-06-06 03:26] hisisirdas commented on #5382
Please find the package setup details. which is the latest version of below packages:-
  "dependencies": {
    "@babel/cli": "^7.2.3",
    "@babel/core": "^7.2.2",
    "@babel/preset-env": "^7.3.1",
    "@babel/register": "^7.0.0",
    "@wdio/devtools-service": "^5.9.0",
    "@wdio/local-runner": "^5.9.1",
    "@wdio/mocha-framework": "^5.9.1",
    "@wdio/spec-reporter": "^5.8.0",
    "@wdio/sync"

[2020-06-06 20:36] saito-tom commented on #4792
Here's a workaround for using the node-inspect debugger.

1. Add a flag for node in the WebdriverIO configuration
[code]
1. Run wdio with the following command
[code]

The key is to delay the attachment with `node inspect`. Sleep time should be adjusted as needed.

Note that this command assumes that there is no other process running on the `node --inspect`. If you have them, change the way you ge

[2020-06-06 20:42] hexsprite commented on #5364
is it recommended to use async then for new projects? or you intend to support sync regardless of fibers support?

[2020-06-07 05:04] june07 commented on #4792
NiM also has a new auto resume from -inspect-brk feature as well as other bug fixes since my last update to this thread.
 https://twitter.com/june07t/status/1269307428543184896?s=19

[2020-06-08 05:26] kishan-maheshkumar commented on #3605
I am gettin same issue. May I know solution for this issue ?

[2020-06-08 06:29] christian-bromann commented on #5364
We are trying to continue supporting sync mode but we can't promise it.

[2020-06-08 07:05] tomaraks commented on #4963
Facing same issue.

[2020-06-08 07:16] kishan-maheshkumar commented on #3324
I have same issue with Safari with same configuration. SetValue() not working. Please let me know any workaround or solution

[2020-06-08 09:58] christian-bromann commented on #5434
Let's continue convo in #5448

[2020-06-08 09:58] #5434 closed

[2020-06-08 17:42] xywang68 opened #5465 "In Linux can I run multiple/parallel real chrome browser in different X (Xvfb) environment?"
My goal is to utilize the wdio runner to run test with real chrome browsers in parallel.
I am able to spin up any X environment and run test with one real chrome browser from beginning to end by setting process.env.DISPLAY to any target X environment.
I wonder if wdio can help me to run these in parallel using different X environments concurrently? Any suggestion?
Thank you.

[2020-06-08 18:45] christian-bromann commented on #5465
not sure what you mean by X environment by you can use a selenium grid to be able to run multiple tests in parallel. There are a lot of documentations on the internet around that. You can also use a cloud provider like Sauce Labs.

Closing as this is not really an issue. If you have further question please reach out in the [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://g

[2020-06-08 18:45] #5465 closed

[2020-06-09 02:09] kevinmcdonnell commented on #5318
@christian-bromann Im seeing the same. Looks like theres an additional `/se/` in the request path? is this expected?

[code]

[2020-06-09 05:53] kevinmcdonnell commented on #5318
Okay i needed to update services, likely chromedriver issue

[code]

[2020-06-09 11:31] jtibble commented on #5336
Please consider adding not just bandwidth throttling but also latency and packet loss percentage. It is extremely valuable to test a website not just on a slow connection but a lossy connection, like satellite, which drops packets and has 100-500ms latency. Thanks!!

[2020-06-09 11:33] christian-bromann commented on #5336
Unfortunately this kind of throttling is not supported by browsers atm. Only certain proxy projects like Charles can do that afaik. But definitely worth considering as improvement.

[2020-06-09 11:48] Xotabu4 commented on #5336
That's an awesome and natural further step of puppeteer+wdio combo!

Have some idea for Events:

At one of my projects I had to wait until some event has happened on the page. Thats was protractorJS project, so i was dealing with async/await. But i wonder how this can look like with wdio?

[code]

or maybe -

[code]

[2020-06-09 11:51] christian-bromann commented on #5336
@Xotabu4 I am not sure what the concept of an "page event" is here but this should be possible with the wait commands proposed above.

[2020-06-09 13:21] christian-bromann opened #5471 "Implement Network Mocking"
Interacting with the network is already straight forward in Puppeteer and requires not much sugar coding. Something we might want to abstract is matching urls based on globbing (instead of registering an event and look into the url manually) as well as the ability to mock out every incoming request no matter which page someone is on.

1. I believe the most common usage is to just mock out a certai

[2020-06-09 13:21] christian-bromann opened #5472 "Implement Network Throttling"
Throttling is a useful feature that can help emulate certain scenarios (e.g. user looses internet connection).

[code]

[2020-06-09 13:21] christian-bromann opened #5473 "Implement Network Event Handling"
User should be able to listen to any network activity happening. Since Puppeteer already does this very well we would just attach the event listener to the network scope:

[code]

[2020-06-09 13:22] christian-bromann opened #5474 "Implement Wait Commands"
It would be useful to have some wait commands to ensure a certain network activity was triggered before continuing.

[code]

[2020-06-09 13:23] christian-bromann opened #5475 "Implement Network User Agent Modification"
For mobile testing using the Chrome browser it might be useful to change the user agent to mimic an iPhone or a Chrome on Android. This is also very well exposed through Puppeteer and only needs to be attached to the scope as well:

[code]

[2020-06-09 13:23] christian-bromann opened #5476 "Implement Network Recording"
Similar to Jest snapshots I would love to explore the idea of recording network activities as part of a testrun so you can easily capture what happens in one test and save it as part of a test fixture.

[2020-06-09 13:26] christian-bromann opened #5477 "Implement Network Scope"
Let's extend the browser scope with a network parameter that allows access to network commands, e.g.:

[code]

[2020-06-09 20:53] paulcdejean opened #5478 "Documentation gives instructions for using mocha chai expect library when it's not supported"
On this page: http://v4.webdriver.io/guide/testrunner/frameworks.html

It gives instructions for setting up chai as the expect library:

[code]

However when you put in that exact code you get this warning:

[code]

And things don't work properly.

The documentation shouldn't suggest setting up mocha chai as your expect library when it's not supported by wdio at this time...

Here's the version of

[2020-06-09 20:56] christian-bromann commented on #5478
You are using v6 of WebdriverIO and referencing the v4 docs. Please use the lates docs: https://webdriver.io/docs/frameworks.html

[2020-06-09 20:56] #5478 closed

[2020-06-09 20:57] paulcdejean commented on #5478
I was mixed up because on that page when I selected API version->latest at the top, it did not in fact direct me to the latest version, but still a version 4 :(

[2020-06-09 21:01] christian-bromann commented on #5478
This version picker only exists on the v4 docs and therefor directs you to v4 again.

[2020-06-09 21:03] paulcdejean commented on #5478
Maybe add some warning for old docs, similar to https://github.com/laravel/framework/issues/32484

[2020-06-10 03:56] xywang68 commented on #5011
`
var cucumberJsReporter = require('wdio-cucumberjs-json-reporter').default;

const myRelativePath = 'relativePath/fromHtmlDir/toImageDir';
const myImageFilename = 'test1-step1-screenshot.png';
const myMp4Filename = 'test1-movie.mp4';
const image_tag = `<img src="${myRelativePath}/${encodeURIComponent(myImageFilename)}" style="max-width: 100%; height: auto;" alt="${myImageFilename}">`;
const video

[2020-06-10 06:59] RafalSkorka opened #5479 "Add option to not print cid"
**Is your feature request related to a problem? Please describe.**
I am running my tests always with a single worker instance so all of the logs are prepended with the [0-0] or [0-1] etc. As I checked the sources this is called 'cid' and is prepended in RunnerTransformStream class. However, for unknown reason sometimes the cid is not prepended and the log looks like this:

[code]

**Describe the s

[2020-06-10 07:12] christian-bromann commented on #5479
This happens if the lines are printed at the same time part part of the same buffer stream.

How do they have no meaning for you? They tell you which instance is printing this log line? How are you differentiating who is logging what?

I don't think removing these is a good idea. The only thing one could do is to check if we can backfill the missing cids in the lines.

[2020-06-10 08:02] christian-bromann opened #5480 "Implement TypeScript Support"
All new commands proposed in #5336 require TypeScript support. Let's implement this as part of this issue.

[2020-06-10 08:11] christian-bromann commented on #5475
Given https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_agent I think it doesn't make sense to implement it. If it turns out that people would use this feature we can still add it afterwards.

[2020-06-10 08:11] #5475 closed

[2020-06-11 13:03] dzsodzso63 opened #5481 "Bug in watch mode re-run if path not set in options TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.17
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v10.21.0
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 81
 - **Platform name and version:** OSX 10.15.3
 - **Additional wdio packages used (if applicable):** @wdio/cli, @wdio/dot

[2020-06-11 13:11] dzsodzso63 commented on #5418
I just opened this ticket, and it looks like they're related: https://github.com/webdriverio/webdriverio/issues/5481

Isn't the problem is that first run locally is through `devtoolsdriver` but all the consecutives are `protocolCommand`s, which needs `path` settings in options?

(I am referring @erwinheitzman experience here. Can you check what was your `path` option?)

[2020-06-11 17:54] ylilarry opened #5482 "Possibly incorrect browser.waitUntil example?"
**Pre-check**
- [X] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [X] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**
Is this example wrong? https://webdriver.io/docs/api/browser/waitUnti

[2020-06-11 18:44] christian-bromann commented on #5482
v5 docs are here: https://v5.webdriver.io/docs/api/element/waitUntil.html

[2020-06-11 18:44] #5482 closed

[2020-06-11 19:14] christian-bromann commented on #5481
Any help on this would be highly appreciated.

[2020-06-12 08:32] ccsuperstar opened #5484 "Bug in @wdio/cucumber-framework with dataTable single row and DocString ERROR @wdio/runner: TypeError: Cannot read property 'forEach' of undefined"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.17
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v13.13.0
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 83
 - **Platform name and version:** OSX 10.15.3
 - **Additional wdio packages used (if applicable):** @wdio/allure-reporte

[2020-06-12 09:50] mgrybyk commented on #5484
@ccsuperstar can you please provide with the minimal steps to reproduce?
Feature file along with step definition(s)

[2020-06-12 10:28] mgrybyk commented on #5484
The PR fixes issue with DocString however I'm not able to reproduce the issue "DataTable with a single row"

[2020-06-12 12:23] maztan commented on #1056
If it does work it works only on explicit <img> tags not CSS. Am I correct?

[2020-06-12 15:37] #5484 closed

[2020-06-12 15:39] christian-bromann opened #5486 "Enhance expect-webdriverio with useful network assertions"
Asserting Mocks with the help of `expect-webdriverio`

[code]

[2020-06-13 22:40] sethuster commented on #5376
I've been trying to reproduce this one, but haven't had any luck.

[2020-06-14 07:43] christian-bromann commented on #5376
@snoblenet can you provide a reproducible example?

[2020-06-14 17:27] sam-viz opened #5489 "[@wdio/allure-reporter] On V6, for android tests, incorrect deviceName is displayed in allure reports"
Hello,

First of all, thanks for making such an awesome tool !
I just noticed that migrating from V5 to V6, allure reporter is not displaying the correct device name on android tests anymore.

**Environment (please complete the following information):**
    "@wdio/allure-reporter": "^6.1.14",
    "@wdio/cli": "^6.1.16",
    "@wdio/config": "^6.1.14",
    "@wdio/cucumber-framework": "^6.1.14",

[2020-06-14 17:50] krishna01012002 opened #5490 "[@wdio/sync] [webdriverio-core.d.ts ] missing interface Browser extends WebDriver.BaseClient"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version: 6.1

[2020-06-14 18:04] RafalSkorka commented on #5479
no longer needed :(

[2020-06-14 18:04] #5479 closed

[2020-06-15 03:37] Saikrishna99 opened #5491 "TypeError: Expected the `options.agent` properties to be `http`, `https` or `http2`, got `options`"
**Environment:**
 - **WebdriverIO version:** 6.1.17
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.18.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** Chrome: latest
 - **Platform name and version:** Mac OS 10.15
 - **Additional wdio packages used (if applicable):** @wdio/spec reporter, @wdio/sauce-service, @wdio/mocha-frame

[2020-06-15 06:12] ashokkumarg commented on #4484
I have followed the thinds from this [WebDriverIO Shadow DOM Link](https://webdriver.io/blog/2019/02/22/shadow-dom-support.html)

But still I am still facing the same issue, Do I miss anything here? What is the fix that I need to do from my end?

[code]
**DOM**
![image](https://user-images.githubusercontent.com/7566850/84623574-33f6e980-aefd-11ea-8834-ecb70ba17ca9.png)

**Exception:**

[2020-06-15 10:58] zykoikaze opened #5492 "These dependencies were not found"
vue create <project>
npm install webdriverio
npm run serve

ERROR  Failed to compile with 4 errors                                                                                                               18:54:56
These dependencies were not found:

* dns in ./node_modules/cacheable-lookup/source/index.js
* http2 in ./node_modules/http2-wrapper/source/index.js, ./node_modules/http2-wrapper/sou

[2020-06-15 12:07] christian-bromann commented on #5492
@zykoikaze WebdriverIO is not using these dependencies. Are you sure this is related to WebdriverIO? If so can you provide more details?

[2020-06-15 14:35] maxevilmind commented on #5418
I am experiencing a similar issue with wdio v5.23.0 when I have code in `before:` hook.
It looks like it always runs in async mode despite the fact I have @wdio/sync installed and don't use async functions. I am getting stuff like `TypeError: this.browser.$(...).click is not a function` and once I put `await` before, it passes.

[2020-06-15 15:44] mvgiacomello opened #5493 "DevTools service should accept caps: browserName: "chromium""
*Environment:*

- WebdriverIO version: 6.1.8
- Mode: WDIO Testrunner
- If WDIO Testrunner, running sync/async: sync
- Node.js version: v12 lts
- NPM version: 6.14.4
- YARN version: 1.12.4
- Browser name and version: Chromium 83.0.4103.0
- Platform name and version: ubuntu 20.04 lts / docker-node-lts
- Additional wdio packages used (if applicable): @wdio/devtools-service:@6.1.14

*Describe the bug:

[2020-06-15 16:00] christian-bromann commented on #5493
@mvgiacomello this request makes sense to me. Would you mind proposing a PR?

[2020-06-15 21:56] constantinsuiu commented on #5071
@christian-bromann happy to, but I'm not very experienced with WebDriverIO itself (using a framework that uses WebDriverIO under the hood)

[2020-06-16 02:19] StephenEsser opened #5499 "Local custom services are null on the browser object"
**Environment:**
 - **WebdriverIO version:** [6.1.11]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [v10.20.0]
 - **NPM version:** [6.14.4]
 - **Browser name and version:** [Chrome 83]
 - **Platform name and version:** [Mac OS Catalina]
 - **Additional wdio packages used (if applicable):** [Setup was done 1-1 using the [Getting Started

[2020-06-16 05:57] dimkin-eu opened #5500 "Allure-reporter doesnt produce xml for failed in before spec"
**Describe the bug**
Test failing before `beforeEach` will not be shown in Allure report ( even xmls arent produced)

**Expected behavior**
3 (all started) suites are shown in the report

**Actual behavior**
1 suite is shown in the report

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running syn

[2020-06-16 07:21] ayyamuthutechnical opened #5501 "Unable to run test using Firefox with Jasmine V6.1.17 and other lower version of 6 series"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** [

[2020-06-16 08:54] christian-bromann commented on #5501
You can't just update the package version of a single package. WebdriverIO pins the versions to each other so you need to make sure that every package is on the same version number. So if you want to upgrade to v6 you need to upgrade your whole setup to v6.

[2020-06-16 08:54] #5501 closed

[2020-06-16 09:17] christian-bromann commented on #5473
I will skip this functionality as it would be very difficult to realise for remote usage. Regular pulling from event data is insufficient and won't result in anything useful. This can wait until WebDriver enables a bidi communication.

[2020-06-16 09:17] #5473 closed

[2020-06-16 09:58] GuruMahadev999 commented on #4495
@fcarrasco92,

Did you resolve the issue. I tried to integrate webdriver.io with giltlab. But couldn't do it.

[2020-06-16 10:32] christian-bromann opened #5502 "Autogenerate documentation for new mock object"
Similar how we do this already for browser and element commands we should make sure to auto generate the docs for the commands of the mock object. It should be handled similar to how we do this for call where the actual implementation is somewhere else and the files only contain the docstring.

[2020-06-16 10:37] christian-bromann commented on #5500
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-06-16 10:38] christian-bromann commented on #5499
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-06-16 10:38] spattisson opened #5503 "UnhandledPromiseRejectionWarning error when executing wdio config with node 13.0.1"
**Environment:**
 - **WebdriverIO version:** @wdio/cli (v6.1.17)
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 13.0.1
 - **NPM version:** 6.14.3
 - **Browser name and version:** n/a
 - **Platform name and version:** mac OSX 10.15.5 (19F96)
 - **Additional wdio packages used (if applicable):** n/a

**Config of WebdriverIO**
I was attempting

[2020-06-16 10:40] christian-bromann commented on #5491
Moving issue to https://github.com/saucelabs/node-saucelabs/issues/87

[2020-06-16 10:40] #5491 closed

[2020-06-16 10:41] christian-bromann commented on #5503
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-06-16 10:56] mgrybyk commented on #4495
@GuruMahadev999 there is nothing specific with GitLab pipelines in comparison to any others.
Please see example https://gitlab.com/bar_foo/wdio-cucumber-typescript

[2020-06-16 11:01] fcarrasco92 commented on #4495
@GuruMahadev999  I integrated another tool called Selenoid and I did the configuration.

@mgrybyk thanks friend, I will check that repository

[2020-06-16 11:05] osmolyar opened #5504 "beforeHook/afterHook not executed in cucumber"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.11]
 - **Mode:** Standalone
 - **If WDIO Testrunner, running sync/async:**sync
 - **Node.js version:** 12.9.0
 - **NPM version:**6/14/4
 - **Browser name and version:**Chrome 83
 - **Platform name and version:**  Windows 10
 - **Additional wdio packages used (if applicable):** [e.g. @wdio/cucumber-framewor

[2020-06-16 12:30] vojtech-cerveny opened #5505 "Can't use devTools with multiremote"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.17
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync/async
 - **Node.js version:** v12.13.1
 - **Browser name and version:** Chrome latest
 - **Platform name and version:** Ubuntu 18.04
 - **Additional wdio packages used (if applicable):**
[code]
**Config of WebdriverIO**
[co

[2020-06-16 12:49] christian-bromann commented on #5505
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-06-16 15:54] christian-bromann commented on #5504
Hey,
thanks for filing the issue. This seems like an enhancement as we never supported Cucumber hooks before. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-06-16 16:57] osmolyar commented on #5504
These are actually documented as being not only for cucumber, specifically with Mocha examples,

     * This hook gets executed _before_ every hook within the suite starts.
     * (For example, this runs before calling `before`, `beforeEach`, `after`, `afterEach` in Mocha.)
     *
     * (`stepData` and `world` are Cucumber-specific.)
     *
     */
    beforeHook: function (test, context/*, stepD

[2020-06-16 17:20] mvgiacomello commented on #5493
@christian-bromann sure thing, let me just get some things out of the way and I'll raise a PR for this. Cheers.

[2020-06-16 23:51] chanduguthikonda commented on #3747
sanyco92 I know I'm starting conversation on very old thread. I'm actually new to wdio and java script. I have a similar requirement to execute piece of code before executing each spec. So I was trying to call and execute login spec from beforeSuite: function in the below manner.

login.test.js:

`import { expect } from 'chai';  // Using Expect style.
import LoginPage from '../../pageobjects/login

[2020-06-17 03:16] StephenEsser commented on #5499
Closing this issue.

Upon further investigation the service is available in the browser object services array. JSON.stringify does not appropriately print nested class objects. It prints as null even though the Object is present.

[2020-06-17 03:16] #5499 closed

[2020-06-17 09:18] XanthiZ commented on #3544
Hello there!
I have WebDriverIO version: 6.1.17 and geckodriver version: 1.19.1 and when i am using the browser.uploadFile i get the error "The uploadFile command is not available in firefox"
Do you know by any chance what i can do in this case?

[2020-06-17 21:29] soumyaevan opened #5507 "Firefox support"
**Pre-check**
- [ 1] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [1 ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [ ] Other

**Description of the improvement / report**
A clear and concise description.

No documentation us available for

[2020-06-17 22:10] christian-bromann commented on #5507
WebdriverIO supports all browsers and mobile devices. If you follow the getting started guide and use the [selenium standalone service](https://webdriver.io/docs/selenium-standalone-service.html) Firefox should also work out of the box there. The framework doesn't dictate how your drivers are setup.

Join our  [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webd

[2020-06-17 22:10] #5507 closed

[2020-06-18 01:58] pjcalvo commented on #5493
@mvgiacomello I will be happy to get this one closed if you haven't started!

[2020-06-18 07:54] GuruMahadev999 commented on #4495
@mgrybyk  Thank you.

[2020-06-18 08:58] fege opened #5508 "After update to v6 Multiremote start browser on the device instead of the host"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-06-18 09:00] christian-bromann commented on #5508
@fege can you set `hostname` and `port` in your capability matrix? You are using the Appium and Selenium Standalone service at the same time and need to tell which capability should connect to which service.

[2020-06-18 09:12] lind-eduard opened #5509 "getLogs/getLogTypes doesn't work for Edge Chromium"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.14
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** no idea how to check
 - **Node.js version:** 12.16.3
 - **NPM version:** 6.14.4
 - **Browser name and version:** Edge Chromium 83
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**

[2020-06-18 09:18] christian-bromann commented on #5509
This is because Chrome still has this old JSONWire Protocol command implemented. The command is not supported for many browsers as the WebDriver protocol doesn't have such a command. There is unfortunately nothing WebdriverIO can do about this.

[2020-06-18 09:18] #5509 closed

[2020-06-18 09:31] fege commented on #5508
@christian-bromann added port and hostname but now it is failing to create the session
[code]

https://gist.github.com/fege/12b6c65bbed4a9ed796488ba3d6f519a

[2020-06-18 09:40] christian-bromann commented on #5508
Can you check if the selenium server was started? Could be that the `path` is set to `/wd/hub`. So you can try to also add `path: "/wd/hub"`

[2020-06-18 10:28] fege commented on #5508
I added `seleniumArgs` in the services

[code]

and I got

`It seems you are running a Selenium Standalone server and point to a wrong path. Please set `path: '/wd/hub'` in your wdio.conf.js!`

but I tried both setting the path and not but the message is always the same

https://gist.github.com/fege/7de6126e4e9ba1ff7334cddfe1377632

[2020-06-18 12:16] kanikeravi commented on #266
Tried using frameParent() command, like this:

But it didn't work for me

[code]

Error :

[code]

My package.json is

  "@wdio/selenium-standalone-service": "^6.1.14",
    "@wdio/spec-reporter": "^6.1.14",
    "@wdio/sync": "^6.1.14",
    "selenium-standalone": "^6.15.3",
    "webdriverio": "^6.1.17"

[2020-06-18 13:49] ania-s opened #5510 ""browser.setGeoLocation is not a function" after update to webdriverio v6"
**Environment (please complete the following information):**
    "@wdio/allure-reporter": "^6.1.14",
    "@wdio/appium-service": "^6.1.16",
    "@wdio/cli": "^6.1.19",
    "@wdio/config": "^6.1.14",
    "@wdio/cucumber-framework": "^6.1.18",
    "@wdio/firefox-profile-service": "^6.1.14",
    "@wdio/junit-reporter": "^6.1.14",
    "@wdio/local-runner": "^6.1.19",
    "@wdio/selenium-standalone-ser

[2020-06-18 14:38] fege commented on #5508
Add the path in the capabilities matrix helped

[code]

@christian-bromann is something changed on the `reloadSession()` we are calling that for both chrome and device, and while there are no problem for the first I get

[code]

[2020-06-18 15:26] Ed-Ed opened #5511 "move target out of bounds: Blocked a frame with origin from accessing a cross-origin frame"
- WebdriverIO version: 6.1.17
- Node.js version: 14.3.0
- NPM version: 6.14.5
- Browser name and version: Chrome 83.0.4103.106
- Platform name and version: Mac 10.15.3

I'm trying to get the window object like so:

[code]

This throws the following error:

`Request failed with status 200 due to Error: move target out of bounds: Blocked a frame with origin "http://localhost:8080" from accessing a c

[2020-06-18 15:45] christian-bromann commented on #5511
You can return the window object like that. It can't be serialized. You can only return specific properties from it.

Closing as I don't think this is an issue in WebdriverIO and more a limitation how WebDriver works. I recommend to either call functions on the window object via execute or return the values you are interested in. If you have further questions feel free to reach out in our [![Gitte

[2020-06-18 15:45] #5511 closed

[2020-06-18 18:18] pjcalvo commented on #5503
This is an issue thrown by UUID, which does not support NodeJs Version 13.5.x.

If you upgrade to Node 14.x.x it will work just fine.

cc @christian-bromann @spattisson

[https://github.com/uuidjs/uuid/issues/440](https://github.com/uuidjs/uuid/issues/440)

[2020-06-18 19:40] pjcalvo commented on #5510
@ania-s These commands were available for jsonWire Protocol which is no longer supported by webdriverIO.

If you use devtools protocol or use the devtools service you will be able to get and set geolocation variables.

Check this post:

[How to emulate GeoLocation with wdio](https://dev.to/coffeestain/emulate-geolocation-for-automated-testing-with-webdriverio-5e2e)

[2020-06-19 06:17] stevenlafl commented on #4963
Same problem.

[2020-06-19 06:21] snehalkulkarni20 opened #5513 "WebdriverIO6 unable to execute any scripts on Chromium Edge 83"
**Environment (please complete the following information):**
 - **WebdriverIO version: 6
 - **Mode: selenium-standalone
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** v12.16.2
 - **NPM version:** 6.14.4]
 - **Browser name and version:** Chromium Edge 83
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):**@wdio/selenium-stan

[2020-06-19 09:18] dimaQA31 commented on #4134
I just tried the solution from https://github.com/webdriverio/webdriverio/issues/4134#issuecomment-512278651 but get an error "overwriteCommand: no command to be overwritten: dragAndDrop"

I've just tried your solution but got an error `overwriteCommand: no command to be overwritten: dragAndDrop`. Any ideas? @mgrybyk @osmolyar

[2020-06-19 10:21] fege commented on #5508
if someone have the same problem about `reloadSession()` I changed the one for android in `reset()` and seems to work.
@christian-bromann can be close I assume

[2020-06-19 12:52] #5508 closed

[2020-06-19 12:57] christian-bromann commented on #5510
Using the devtools service as described in @pjcalvo great blog post is the only way to do this atm.

Thanks for posting @pjcalvo

[2020-06-19 12:57] #5510 closed

[2020-06-19 13:46] osmolyar commented on #4134
@dimaQA31 dragAndDrop is an element-level command, so according to documentation we have to pass the third argument 'true' to overwriteCommand

[2020-06-19 15:23] pjcalvo commented on #4952
Hi @osmolyar.

You can download your chromedriver version from https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/.

Then start it on port 444. This is for mac: `./msedgedriver -port=4444`.

And then it should work!

[2020-06-19 15:29] pjcalvo commented on #5513
Can you share the logs that you are getting? This has happened to me when the MicrosoftEdge driver and the browser are on a different version.

Make sure you are using the right chromedriver. You can download it from here and run it manually to try.

https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/

[2020-06-19 15:56] shivakadhuluri commented on #4728
Unable to connect to "127.0.0.1:4444", make sure browser driver is running on that address.
If you use services like chromedriver see initialiseServices logs above or in wdio.log file.

Can you please help out on this?

[2020-06-19 16:52] snehalkulkarni20 commented on #5513
There are no logs as there is no error. It launches the browser instances and leaves it there. WDIO commands dont get executed at all.
I am using wdio6 and edge version is 83. Not sure which version of the edge driver gets automatically installed by wdio6.

[2020-06-19 17:04] christian-bromann commented on #5513
@snackycracky you should at least get some logs from WebdriverIO from the stdout.

[2020-06-19 19:25] christian-bromann commented on #4963
This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-06-19 19:28] christian-bromann commented on #4962
Let's continue discussions in #5395

[2020-06-19 19:28] #4962 closed

[2020-06-19 19:28] christian-bromann commented on #5492
Closing due to inactivity. Happy to re-open if this turns out to be a bug.

[2020-06-19 19:28] #5492 closed

[2020-06-19 19:29] christian-bromann commented on #5489
No.

Yes please! Let us know if we can help you contributing this PR.

[2020-06-19 19:31] christian-bromann commented on #5454
Closing due to inactivity. I am happy to re-open that if a minimal reproducible example can be provided.

[2020-06-19 19:31] #5454 closed

[2020-06-19 19:34] christian-bromann commented on #5343
@tobli maybe.

I think this error is because sync mode doesn't work in foreach like that. I recommend to try:

[code]

This should work as expected.

[2020-06-19 19:34] #5343 closed

[2020-06-21 11:58] HananArgov opened #5518 "a TypeError when trying to handle a result in an error"
looking at the code, i'm seeing that when there's an err, an exception will be thrown since it's trying to access result, which is undefined

https://github.com/webdriverio/webdriverio/blob/0dcc25cce0dcd537195d31836317c857cc2713a9/packages/wdio-devtools-service/src/commands.js#L51

this is the exception i'm getting:
[code]

[2020-06-21 12:14] christian-bromann commented on #5518
@HananArgov can you provide a minimal reproducible example?

[2020-06-21 12:38] HananArgov commented on #5518
i don't think there's a need for an example, since it's a syntax issue (not handling the correct argument)
but here's the example spec:
[code]

[2020-06-21 14:19] djohal opened #5519 "Unable to run tests on Firefox"
**Environment:**
 - **WebdriverIO version:** ["@wdio/cli": "^6.1.19 ]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [14.4.0]
 - **NPM version:** [6.14.5]
 - **Browser name and version:** [Chrome 83, Firefox 77]
 - **Platform name and version:** [Windows 10]
 - **Additional wdio packages used (if applicable):** ["@wdio/selenium-standalo

[2020-06-21 15:07] christian-bromann commented on #5518
I would not say it is a syntax issue. The cdp command is returning an unexpected result (`undefined`) and it would be helpful to see where this comes from.

Any help on investigating this issue would be appreciated.

[2020-06-21 15:13] christian-bromann commented on #5519
Do you have Firefox installed on your machine? If Firefox is not installed on the standard app path on your machine you need to specify the browser path in your capabilities:

[code]

Closing this as this is not an issue with WebdriverIO.

[2020-06-21 15:28] Amrkamel1 opened #5520 "unable to initiate appium session after upgrading to wdio 6.1.19"
**Environment (please complete the following information):**
 - **WebdriverIO version:**  6.1.19
 - **Mode:** standalone
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** N/A
 - **Platform name and version:** ubuntu
 - **Additional wdio packages used (if applicable):**
[code]

**Config of WebdriverIO**
[c

[2020-06-21 16:01] djohal commented on #5519
@christian-bromann It is installed in the standard app path. Like I said firefox tests are working fine with a standalone server if I'm running it JUST on firefox (below settings works fine), however, it fails when running in parallel with Chrome.

[code]

[2020-06-21 16:03] Amrkamel1 commented on #5520
solved by

[code]

[code]

[2020-06-21 16:03] #5520 closed

[2020-06-21 19:37] christian-bromann commented on #5519
I don't understand. You initially mentioned:

[2020-06-21 20:37] christian-bromann opened #5521 "Fix skipped test"
We have a [test](https://github.com/webdriverio/webdriverio/blob/master/tests/mocha/test.js#L30-L50) that we had to skip due to an issue in got. This issue has been resolved by now and we should check whether we can re-enable this test or not:

https://github.com/webdriverio/webdriverio/blob/master/tests/mocha/test.js#L30-L50

[2020-06-21 20:43] christian-bromann opened #5522 "Move docs to Docosaurus v2"
The tool for generating the docs (Docosaurus) has publish a [v2](https://v2.docusaurus.io/) of their framework. We should transition over to use the new version.

[2020-06-21 20:46] christian-bromann commented on #4076
Closing due to inactivity.

[2020-06-21 20:46] #4076 closed

[2020-06-21 22:23] HananArgov commented on #5518
just ran the spec above, and got the exception you saw.
when i changed `result.message` to `err.message` the exception became:
[code]
which I think is more informative

[2020-06-21 23:41] JapneetSingh5 commented on #5522
Can I help out with this? I have no past experience with docusaurus, but reading the guide for migration I think I can handle this, with some guidance perhaps.

[2020-06-21 23:43] JapneetSingh5 commented on #5521
I would love to try this one out too :p

[2020-06-22 02:24] djohal commented on #5519
@christian-bromann in the bug description I mentioned -
Using Selenium Standalone server, I'm unable to run tests in firefox **when running tests on both Chrome and Firefox in parallel**.
Note: It **works fine if I'm running tests just on firefox only** i.e remove chrome driver and capability.

[2020-06-22 04:15] snehalkulkarni20 commented on #5513
Below is the log info I could get. The edge browser opens but nothing happens and the test script exits. The browser sessions don't close as well.
One more thing I observed WDIO seems to automatically install this version of edge driver, this is in the npm modules - selenium - driver folder. `17134-MicrosoftEdgeDriver.exe`

console logs:

`[0-3] 2020-06-22T04:08:32.443Z INFO webdriverio: Initiate

[2020-06-22 06:20] ania-s commented on #5510
Thanks for the answer. I will check it - could you only please tell me if it works both on browser and mobile/android?
Could also the documentation be updated? jsonWire Protocol commands are still on the page and it's not mentioned that they are not supported any more which is confusing. Thanks

[2020-06-22 07:00] ania-s commented on #5510
I tried to use DevTools service along with selenium one and I get an error:
[code]

[2020-06-22 08:18] ania-s commented on #5510
Ok it looks that my services where defined incorrectly as I put "devtools" in an array while it didn't have any options. The correct definition is:

[2020-06-22 09:15] christian-bromann commented on #5513
Seems like something invalid is returned by the edgedriver. @snehalkulkarni20 can you check what the response was from that driver?

[2020-06-22 09:18] snehalkulkarni20 commented on #5513
hi @christian-bromann how can i check that ?

[2020-06-22 09:28] christian-bromann opened #5523 "Fail gracefully if devtools protocol is used with Firefox stable"
Currently it is only possible to automate Firefox using the devtools protocol in the Nightly edition. Until that interface agent is [accessible in all release channels](https://bugzilla.mozilla.org/show_bug.cgi?id=1606604) we need to ensure that we gracefully fail if Firefox Nightly is not installed.

I would propose to modify the [launch process](https://github.com/webdriverio/webdriverio/blob/ma

[2020-06-22 09:31] christian-bromann commented on #5519
I just tried your example and was able to run it by removing the geckodriver version and just setting:

[code]

This will run your test with WebDriver properly. It seems that WebdriverIO is not able to find your Firefox binary on your machine.

[2020-06-22 09:33] christian-bromann commented on #5513
@snehalkulkarni20 can you add some `console.log` in `/node_modules/webdriver/build/request.js` on line 136 something like `console.log(response.body)`

[2020-06-22 09:35] christian-bromann commented on #5518
@HananArgov would you mind creating a PR making the proposed change? I will create a new issue to fix the original problem.

[2020-06-22 09:37] christian-bromann opened #5524 "Re-attach Puppeteer in devtools service if `reloadSession` was called"
This issue is related to #5518

If a user uses the devtools service to run the `cdp` command it will start failing once `reloadSession` was called, e.g.

[code]

The reason is that reload session closes and reopens the browser so that Puppeteer looses its socket connection to it. The service should use the hook called `onReloadSession` to re-initiate the connection to the devtools protocol.

[2020-06-22 10:17] snehalkulkarni20 commented on #5513
Ok.. got this on console for `response.body`

`[0-12] {
  value: {
    stacktrace: 'org.openqa.selenium.WebDriverException: Unable to parse remote response: Unknown error\r\n' +
      '\tat org.openqa.selenium.remote.ProtocolHandshake.createSession(ProtocolHandshake.java:112)\r\n' +
      '\tat org.openqa.selenium.remote.ProtocolHandshake.createSession(ProtocolHandshake.java:74)\r\n' +
      '\tat

[2020-06-22 11:23] urilevy2 commented on #5454
I can't see how i can provide a reproducible example, this issue only happens in a specific jenkins job, and it reproduces with almost each build (about 5% of builds actually report all specs).
Is there any reason you can think could cause random specs to not appear in the report, or any direction you can point me to investigate without providing a reproducible example?

[2020-06-22 11:51] mgrybyk commented on #5454
@urilevy2 I guess the problem might be with your random number that leads to overwriting some of the results. Try using hash instead https://www.npmjs.com/package/mocha-junit-reporter#results-report

[2020-06-22 11:54] djohal commented on #5519
Yes, this worked fine. Thank you!

[2020-06-22 11:58] jpita commented on #1773
Hi,
this is how my conf file looks like
[code]
for some reason the tunnel doesn't connect, I need to connect it manually.
I'm not using the sauce connect launcher.

[2020-06-22 12:00] urilevy2 commented on #5454
@mgrybyk if i understand correctly, this determines the test result's file name, but my issue isn't with the whole file being overwritten, just some of the specs in it.

For example, the job now runs 69 specs, but i get somewhere between 66 to 68 specs in the test results file.
And the missing specs are completely random.

Am I missing something in the article you sent?

[2020-06-22 12:26] christian-bromann commented on #5454
Please note that closing this issue doesn't mean this isn't a bug. This sure looks like something is off but without anything for us to reproduce it makes this bug in-actionable.

[2020-06-22 12:26] #5519 closed

[2020-06-22 12:29] christian-bromann commented on #5513
Seems like the capabilities are invalid formatted. Can you investigate why?

[2020-06-22 12:31] snehalkulkarni20 commented on #5513
This is my capabilities
`    {
      maxInstances: 1,
      browserName: "MicrosoftEdge",
      "cjson:metadata": {
        device: "Windows Desktop",
        platform: {
          name: "Windows",
          version: "10",
        },
      },
    }`

[2020-06-22 12:41] mgrybyk commented on #5454
@urilevy2 are you sure it's not the issue with files? I'd still try using hash instead if possible as far as it's more reliable.

You saying there can be a result file with the same id but some specs are missing?

Are there any tests that are skipped most frequently?

Can you try setting log level to verbose and analyse what is happening when the test is skipped?
There should be at least something

[2020-06-22 12:42] christian-bromann commented on #5513
@snehalkulkarni20 sorry but there is no way for me to reproduce this as I don't have a Windows machine. Can you please try variations of capabilities to see where the problem occurs?

[2020-06-22 12:45] snehalkulkarni20 commented on #5513
@christian-bromann the similar capability format for other browsers Chrome and Firefox works
Not sure why its a problem for Edge
`    {
      maxInstances: 2,
      browserName: "firefox",
      "cjson:metadata": {
        device: "Windows Desktop",
        platform: {
          name: "Windows",
          version: "10",
        },
      },
    }`

[2020-06-22 12:53] snehalkulkarni20 commented on #5513
Also, looks like WDIO6 is always by default installing the 17134-MicrosoftEdgeDriver.exe
Whereas we need the driver for edge version 83

[2020-06-22 13:03] christian-bromann commented on #5513
@snehalkulkarni20 would you mind creating an issue here: https://github.com/vvo/selenium-standalone ?

[2020-06-22 13:11] snehalkulkarni20 commented on #5513
Is it not a WDIO issue ?

[2020-06-22 13:48] HananArgov commented on #5518
this is my first time in this, should i fork the repo, and after the change create a PR? sorry for the first timer question

[2020-06-22 14:24] pjcalvo commented on #5518
@hakubo You can read the `contributing guidelines. ` [here](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and yes you need to fork and create a PR from ur repo.

[2020-06-22 14:33] christian-bromann commented on #5518
Don't apologise , we are here to help you! Let us know if you have any further questions!

[2020-06-22 14:35] christian-bromann commented on #5513
Unlikely. WebdriverIO relies on vvo/selenium-standalone to download and start the right driver.

[2020-06-22 18:07] krishna01012002 commented on #5490
Any update?

[2020-06-22 21:06] sethuster commented on #5523
Good afternoon, would you be able to clarify what you mean by channel?

[2020-06-22 22:09] sethuster commented on #5521
https://github.com/webdriverio/webdriverio/pull/5527

[2020-06-22 22:12] christian-bromann commented on #5523
Sure thing, Firefox has [4 different release channels](https://www.mozilla.org/en-US/firefox/channel/desktop) for testing purposes. Currently only Firefox Nightly supports automating the browser with Puppeteer. However they [plan to release] this to all other release channels. Until then we need to ensure to throw an error if someone uses the `devtools` package if Firefox other than Firefox Nightl

[2020-06-22 23:01] mathew-jithin commented on #5523
@christian-bromann Added a basic handling for this here. Some doubts:

https://github.com/webdriverio/webdriverio/pull/5528

- Do we need to handle binary name changes (Asking this as need to add specific handling in this case)? As this is a quick fix for a feature that will be fixed in near future, do we need to add this?

[2020-06-22 23:28] mathew-jithin commented on #5523
@christian-bromann Please have a check on https://github.com/webdriverio/webdriverio/pull/5528 Need a quick review before I fix up the failing tests.

[2020-06-23 01:03] mvgiacomello commented on #5493
@pjcalvo Haven't started, feel free to pick this one up.

[2020-06-23 02:49] pjcalvo commented on #5493
@christian-bromann do you have the updated list of chromium based browsers? Also Is there a way to identify if a browser is chromium and avoid hardcoding a list?

[2020-06-23 04:40] sethuster commented on #5523
That makes sense.

[2020-06-23 07:16] christian-bromann commented on #5493
No but something like:
- chrome
- chromium
- googlechrome
- google chrome

[2020-06-23 10:01] ablok opened #5534 "isDisplayed returns incorrect value in some cases"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.20 (but also happens on latest version 5)
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.2
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 83.0.4103.106
 - **Platform name and version:** macOS Catalina 10.15.5 (but also on m

[2020-06-23 10:04] ablok commented on #5534
As @erwinheitzman pointed out to me on gitter, this probably also happens for Safari since that uses the same script.

[2020-06-23 10:18] christian-bromann commented on #5534
Would be great if someone could investigate why the [`isElementDisplayed`](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/scripts/isElementDisplayed.js) script returns `true` for Chrome and propose a fix for it. Any help would be very appreciated.

[2020-06-23 15:34] pjcalvo commented on #5493
@christian-bromann I thought about adding support for MicrosoftEdge and Opera as well, but all the findCDPInterface is coded for chrome and so it will require a major effort.

https://github.com/webdriverio/webdriverio/blob/2038cd0053fa5d3f125e9ca31176b7212e65c747/packages/wdio-devtools-service/src/utils.js#L23

I will just add chromium for now.

[2020-06-23 15:46] christian-bromann opened #5535 "Type definitions for `enablePerformanceAudits` invalid"
Currently the type definition for the `enablePerformanceAudits` command is currently defined as [follows](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-devtools-service/devtools-service.d.ts#L48-L56):

[code]

However the implementation just takes one argument that [is an object](https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-devtools-service/src/index.

[2020-06-23 15:49] urilevy2 commented on #5454
Found the issue!
We used a random number for the xml file names and it was set to a 3 digit number.
Probably wasn't enough to avoid duplicates.
changed it to a 5 digit number and it seems to be working now.
Thanks!

[2020-06-23 15:50] christian-bromann commented on #5493
We will revisit this with the [Network Primitives](https://github.com/webdriverio/webdriverio/issues/5336) project where we will fully integrate Puppeteer into WebdriverIO. The DevTools service then will use the Puppeteer instance created by WebdriverIO.

[2020-06-23 15:59] christian-bromann opened #5537 "Add docs how to transition from Chai to expect-webdriverio"
Currently it is impossible to use Chai and expect-webdriverio at the same time. Scripts like:

[code]

will fail because expect will be overwritten by one or the other assertion library. Let's add some docs how to transition between both or how to run both libraries by importing chai using a special variable like:

[code]

[2020-06-23 16:21] mvgiacomello opened #5538 "Jasmine missing grep and invertGrep from typescript types definition"
*Environment:*

- WebdriverIO version: 6.1.20
- Mode: WDIO Testrunner
- If WDIO Testrunner, running sync/async: sync
- Node.js version: v12 lts
- NPM version: 6.14.4
- YARN version: 1.12.4
- Browser name and version: Chromium 83.0.4103.0
- Platform name and version: ubuntu 20.04 lts / docker-node-lts
- Additional wdio packages used (if applicable): @wdio/jasmine-framework@6.1.17

*Describe the bug

[2020-06-23 17:25] pjcalvo commented on #5513
This is also happening on MacOs when executed using selenium-standalone. There are multiple issues opened for this on selenium-standalone!

I think this can be closed as it is not an wdio issue @christian-bromann

[2020-06-23 17:49] christian-bromann commented on #5513
@pjcalvo can you link some of the issue here for visibility?

[2020-06-23 17:51] pjcalvo commented on #5513
@christian-bromann Yes I am sorry I meant to do that.

https://github.com/vvo/selenium-standalone/issues/458 and https://github.com/vvo/selenium-standalone/issues/459 opened by @snehalkulkarni20

[2020-06-23 18:25] erwinheitzman commented on #5534
It returns true because it sees one it's children's width/height being greater then 0. However I doubt we should be using this script for visibility and perhaps look at the way that Selenium is handling visibility at the moment since the script we are using is from Apple's Safari Atom which hasn't been touched for 3 years.

[2020-06-23 18:27] erwinheitzman commented on #5534
Also for now a fix would be to rely on the ChromeDriver implementation with the risk that some day it might be removed

[2020-06-23 20:55] christian-bromann commented on #5534
I agree with that. Let's use a different Atom then.

Let's try to use a valid Atom to ensure cross browser compatibility.

[2020-06-23 21:33] caweidmann commented on #5537
It might be easier to migrate the other way round, e.g. have `expectWdio` set and then keep the `expect` for Chai. It would then require one global find and replace at the end to move off Chai.

E.g. here's what we did:

[code]
That way everything keeps working without having to change any files. Slowly we can go through each file and replace expectations with the `wdioExpect`. Once all expects ha

[2020-06-23 21:59] christian-bromann commented on #5537
@caweidmann makes sense to me. Mind adding a section to https://webdriver.io/docs/assertion.html with some documentation on how to transition from Chai to expect-webdriverio?

[2020-06-23 22:04] caweidmann commented on #5537
Yeah can do. Will try and find some time this week.

[2020-06-24 00:59] kavyashree088 commented on #4003
@BelovAleksey I'm also facing the same issue, even after changing the version in default-config.js. After Changing do we need to do anything like restarting the server or something?

[2020-06-24 04:46] MauriceWebb commented on #4003
@BelovAleksey I found a working answer [here](https://github.com/webdriverio/webdriverio/issues/3043#issuecomment-449099825) that suggested changing the version in `node_modules/selenium-standalone/lib/default-config.js` to `2.44`. Hope that works for you as it did for me. Still feels kinda "hacky." 🤨

[2020-06-24 07:46] #5535 closed

[2020-06-24 08:49] mgttDev commented on #4792
Hi, I tried the workaround @saito-tom suggested and it works.
The NiM starts correctly and stops at the "debugger" statement.
Anyway when I try to execute a live command (ie: "browser.getTitle()") I just get a pending request and no results, here's a screenshot.
![image](https://user-images.githubusercontent.com/67365531/85524305-5927de00-b608-11ea-8537-8982aa0d85fe.png)
On the wdio 4 I'm able to

[2020-06-24 10:04] christian-bromann commented on #5513
Closing then, thanks @pjcalvo

[2020-06-24 10:04] #5513 closed

[2020-06-24 10:15] christian-bromann commented on #5534
I found the code in the [Selenium codebase](https://github.com/SeleniumHQ/selenium/blob/b8ef89b47b0e1ca422c21baf101738f512d2f535/javascript/atoms/dom.js#L555-L616). I am not sure if this one is any better than the Selenium one. There might be a better Atom in the Chromedriver code.

[2020-06-24 10:16] christian-bromann commented on #5521
Closing. Thanks for unskipping @sethuster !

[2020-06-24 10:16] #5521 closed

[2020-06-24 10:17] christian-bromann commented on #5490
Feel free to provide a PR with a fix.

[2020-06-24 10:18] christian-bromann commented on #5490
@krishna01012002 it would be great if you could provide a minimal reproducible project example where this typescript error comes up.

[2020-06-24 10:19] christian-bromann commented on #5518
Let's continue convo in #5526

[2020-06-24 10:19] #5518 closed

[2020-06-24 10:20] christian-bromann commented on #5522
Absolutely. I will assign this to you. Let me know if you have any questions along the way.

[2020-06-24 11:37] erwinheitzman commented on #5534
I found that ChromeDriver uses that same method under the hood https://github.com/SeleniumHQ/selenium/blob/8ea80770657e83a5d8bebd0562952e120e38b70e/javascript/atoms/dom.js#L573

Reference: https://github.com/bayandin/chromedriver/blob/6580a995766dafe0a8dfdc0bc405ce487570045b/element_commands.cc#L754

[2020-06-24 11:58] JapneetSingh5 commented on #5522
how do I start off? v2 changes the directory structure

[2020-06-24 12:30] christian-bromann commented on #5522
It would be good if we could keep the `docs` directory and the `website` stuff separated. Feel free to do any necessary changes to transition to v2.

[2020-06-24 14:13] rahulvit2010 commented on #4718
i am also facing the more cpu usage issue in Mozilla 60.7.0 esr

[2020-06-25 07:43] christian-bromann commented on #5493
This bug has been fixed. Thanks @pjcalvo for taking this on.

[2020-06-25 07:43] #5493 closed

[2020-06-25 09:03] erwinheitzman opened #5541 "dragAndDrop is not using the duration argument when using the JSON Wire protocol"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 5 and 6

Since this issue is in both versions, I would like to cherrypick this to the LTS release as well.

**Describe the bug**
The dragAndDrop command accepts a `duration` argument.
When using the webdriver protocol is uses the duration as expected.
When using the json wire protocol the duration is not used.

[2020-06-25 10:07] Amrkamel1 commented on #4865
@chirag-farfetch  @mgrybyk

[2020-06-25 10:25] christian-bromann commented on #5541
@erwinheitzman I don't think it is technically possible to add a duration for the JSON Wire protocol version of `dragAndDrop`. It uses the protocol methods `moveTo` or `moveToElement` which don't accept any duration parameters.

[2020-06-25 11:02] sanyco92 opened #5542 "Add ability to disable unnecessary logs, when using custom commands in wdio6"
Hi guys! I use custom commands in my project, and also I use "debug" log level for a better understanding of which part of code is being executed and which test step/command is executing at the moment, also when I run tests in Jenkins, logs help me to debug the broken test and find the place, where the test was failed. So, the problem is when some custom command is called, and it has a browser.fin

[2020-06-25 11:09] erwinheitzman commented on #5541
@christian-bromann no but we can add a pause before executing the buttonUp command :)

[2020-06-25 11:36] christian-bromann commented on #4446
fixed in #5543

[2020-06-25 11:36] #4446 closed

[2020-06-25 11:37] christian-bromann commented on #5366
fixed in #5543

[2020-06-25 11:37] #5366 closed

[2020-06-25 11:42] christian-bromann commented on #5541
Good idea! This is a great first issue. If someone wants to pick this up we are happy to help you!

[2020-06-25 11:46] christian-bromann commented on #5542
@sanyco92 as you return an element object it automatically logs it like any other result you would return from a custom command. What we can do here is to check if the object that is being logged is from the browser or element prototype and if so log something like `<Browser>` or `<Element>`.

This is a great first issue you could help us with. Please take a look at our [Contributing Guidelines](h

[2020-06-25 12:32] christian-bromann commented on #5503
This issue is fixed using Node.js v13.12 or higher. Closing.

[2020-06-25 12:32] #5503 closed

[2020-06-25 13:22] christian-bromann commented on #5505
Looked into this and found that it's not that straightforward to enable this for Multiremote. The Puppeteer implementation needs to be applied to all multiremote instances which requires a bit rewrite of the code.

[2020-06-25 13:30] christian-bromann commented on #5394
This was fixed by @osmolyar and can be closed now.

[2020-06-25 13:30] #5394 closed

[2020-06-25 13:32] christian-bromann commented on #4973
@kevinmcdonnell any feedback on this? Otherwise I will close as it seems to be work as intended.

[2020-06-25 13:49] christian-bromann commented on #4774
@VladimirCW I have fixed the issue in #5544

[2020-06-25 13:49] #4774 closed

[2020-06-25 14:13] Harshad3009 opened #5545 "afterTest hook does not execute for tests that fail with timeOut errors"
**Environment (please complete the following information):**
 - **WebdriverIO version:**  6.1.20
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.18.1
 - **NPM version:** 6.14.5
 - **Browser name and version:** Chrome 83
 - **Platform name and version:** Ubuntu 18.04.4
 - **Additional wdio packages used (if applicable):** @wdio/spec report

[2020-06-25 15:37] emilyrohrbough commented on #5398
@christian-bromann Have you been able to think of how you'd expect this to behave?

[2020-06-25 16:33] christian-bromann commented on #5398
@emilyrohrbough your suggestion seams reasonable to me. I am not sure about the error message yet but that should be a minor detail. Can you take this on?

[2020-06-25 19:17] sknight80 commented on #5378
Hi @th0car ,

Are you saying you are running a selenium-server to connect to Browserstack?  We have the same problem that you mentioned at the beginning; the differences are that we are not using the proxy. What should we do to solve this problem and make the documentation up-to-date since Browserstack documentation is out-dated, and here the examples are not working with V6?  I am a little bit fr

[2020-06-25 20:01] th0car commented on #5378
@sknight80 My company was participating in a Browserstack POC where I focused on getting our current WebdriverIO 5 implementation to execute tests targeting internal DEV-environments using Browserstack Local from a TFS pipeline. We succeeded in this after a couple of days involving a lot of trial and error and fine tuning windows environment variables.
 (btw - the only Selenium server involved is

[2020-06-25 20:35] mathew-jithin commented on #5541
@christian-bromann @erwinheitzman Would like to pick this up. Can you please help me with a small detail on the same as mentioned?

[2020-06-25 21:20] christian-bromann commented on #5541
What detail?

[2020-06-25 21:35] mathew-jithin commented on #5541
@christian-bromann As like, what is expected here?

[2020-06-25 22:05] christian-bromann commented on #5541
I believe what @erwinheitzman was saying is that we can add a "pause" with the duration of the duration parameter before the [buttonUp command is called](https://github.com/webdriverio/webdriverio/blob/master/packages/webdriverio/src/commands/element/dragAndDrop.js#L68). Is that right?

[2020-06-26 01:46] emilyrohrbough commented on #5398
@christian-bromann Yes no problem!

[2020-06-26 04:05] lemoncypress opened #5546 "Allure report suites display only 45 out of 56 run specs for some reason when remotely run."
- **NPM version:** 6.4.1

**Description**
There seems to be a cap on number of specs that can be displayed on these reports when remotely run. Locally I see all 56 specs being executed.

[2020-06-26 04:07] sethuster commented on #5538
I'll give this a go

[2020-06-26 06:01] dimkin-eu commented on #5546
for sure some dataprovider used? allure loves to combine tests with non-unique names into retries

[2020-06-26 08:19] #5538 closed

[2020-06-26 08:23] christian-bromann commented on #5546
@lemoncypress why didn't you follow the [issue template for bug reports](https://github.com/webdriverio/webdriverio/blob/master/.github/ISSUE_TEMPLATE/--bug-report.md) here because this issue misses a lot of information like which version of Allure you are using as well some screenshots or a more descriptive report of your setup. This makes it difficult to make any statement at this point.

[2020-06-26 08:53] lemoncypress commented on #5546
You were right! Thanks..All I had to do was make the suite names unique... :)

[2020-06-26 08:54] lemoncypress commented on #5546
My bad I should have included more details.. I didn't have all the information handy. Will do next time.

[2020-06-26 08:57] #5546 closed

[2020-06-26 09:11] raditotev opened #5548 "Calling browser.clearLocalStorage() results in error"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6

[2020-06-26 09:47] wswebcreation commented on #5548
@raditotev

This looks like a 3rd-party issue with Appium not with WDIO. Which version of Appium are you using?

The workaround would be to inject a script with something like this

[code]

[2020-06-26 09:53] christian-bromann commented on #5548
I second @wswebcreation , Appium doesn't support this command. The workaround is to use the execute command as Wim mentioned.

[2020-06-26 09:53] #5548 closed

[2020-06-26 10:46] raditotev commented on #5548
@wswebcreation thanks for your comment. This is what I have done in my test.
@christian-bromann is it possible to update `clearLocalStorage` so that it executes `localStorage.clear()`?
I am not very familiar with the code base so excuse me if my question is too naive.

[2020-06-26 11:08] christian-bromann commented on #5548
The implementation of `clearLocalStorage` is within the driver and not in WebdriverIO.

[2020-06-26 11:11] wswebcreation commented on #5548
@raditotev

You might be able to do that yourself by overwriting the native command with this https://webdriver.io/docs/customcommands.html#overwriting-native-commands

Then you can call it like you would normally do but implement something customer when `driver.isMobile` is true

[2020-06-26 11:31] raditotev commented on #5548
Thank you both 👍

[2020-06-26 12:29] christian-bromann commented on #5336
Implementations for above proposals have been issues as pull requests. Closing and moving this to done.

[2020-06-26 12:29] #5336 closed

[2020-06-26 13:28] christian-bromann commented on #5537
This has been added thanks to @caweidmann and #5549

[2020-06-26 13:28] #5537 closed

[2020-06-26 15:19] caoxu2000 opened #5550 "Add Autocompletion for Custom Commands for IDEA IntelliJ, WebStorm, and VSCode"
This is an enhancement request on top of our existing autocompletion feature for a few major IDEs: [autocompletion](https://webdriver.io/docs/autocompletion.html)

I would like an IDE plugin/extension similar to Cypress Helper VSCode extension: [Cypress Helper](https://marketplace.visualstudio.com/items?itemName=Shelex.vscode-cy-helper) so that when I right click in the IDE it brings up context me

[2020-06-26 18:59] emilyrohrbough commented on #5398
@christian-bromann I've done some further investigation into the issues @StephenEsser as pointed out in this issue. There are two things at play here:

1. In regard to the intention for wdio to continue, even if a service fails. The `runServiceHook` used Promise.all which will fail fast if one of the promises are rejected / throw and error. This is preventing/bailing the same hook for any other se

[2020-06-27 05:10] Harkunwar commented on #5376
I fixed it by using browseName as 'chrome'

[2020-06-27 08:27] ablok commented on #5534
I updated my example repo with a case where firefox also doesn't seem to display correct visibility. Is that a bug in the geckodriver implementation then?

[2020-06-27 21:53] pjcalvo commented on #5376
Based on the error logs on the fist post would that be fixed by adding: `chrome headless` to the list?

https://github.com/webdriverio/webdriverio/blob/9f9e345fb1062d07358b4a4f1b28ba528cfb395a/packages/devtools/src/constants.js#L45

[2020-06-29 00:02] kevinmcdonnell commented on #4973
This is still an issue, the code exits if multiremote rather than trying to log commands

[2020-06-29 00:05] kevinmcdonnell commented on #4973
🤔 I don't see how that is possible
https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-allure-reporter/src/index.js#L202-L204

@ccharnkij can you provide the wdio.conf for that test run.

[2020-06-29 08:45] websaid opened #5551 "Memory leak when using screenshot function and deleting session"
**Environment (please complete the following information):**
 - **WebdriverIO version:6.0.12**
 - **Mode:Standalone**
 - **Node.js version:13.10.1**
 - **NPM version:6.14.5**
 - **Browser name and version:Chrome 83**
 - **Platform name and version:Windows 10**
 - **Additional wdio packages used (if applicable):wdio-image-comparison-service**

**Config of WebdriverIO**
`{
        "runner": "local",

[2020-06-29 11:14] christian-bromann commented on #5551
You have posted only some screenshots. What I am asking for is to post the actual heapdump and a reproducible example in this thread for visibility.

[2020-06-29 11:28] christian-bromann commented on #5545
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-06-29 11:31] Westsaid commented on #5551
**Reproducible example**
`const { remote } = require("webdriverio");
let browsers = []
const heap = require("heapdump")

callTests(new Array(10)).then(erg => {
  console.log("Done")
})
async function main(nsc, i) {
    //console.log(`Started test: ${testcase}@${nsc} (${i+1}/${allNSC.length})`)
    const browser = await remote({
        capabilities : {
            browserName: "chrome",
        },

[2020-06-29 12:03] christian-bromann commented on #5398
@emilyrohrbough what do you think of exposing an error class from the WebdriverIO project that allows us to identify an essential error for that service, something like:

[code]

I find this to be a bit more expressive.

[2020-06-29 12:10] christian-bromann commented on #5551
@Westsaid we always appreciate help on such issues as the maintainers have their own priorities and contributions to make. Any help on this is greatly appreciated!

[2020-06-29 16:19] Amrkamel1 opened #5557 "Standalone server and point to a wrong path. Please set `path: '/wd/hub'` in your wdio.conf.js"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.20
 - **Mode:** [Standalone mode or WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:**  12.16.1
 - **NPM version:** 6.13.4
 - **Browser name and version:** 83
 - **Platform name and version:** ubuntu 20.04LTS
 - **Additional wdio packages used (if applicable):**
`

[2020-06-29 19:39] ianrenauld opened #5558 "BrowserStack session times out while waiting for wdio to send commands after initially establishing session"
**Environment:**
 - **WebdriverIO version:v6.1.22**
 - **Mode: WDIO Testrunner**
 - **Running sync**
 - **Node.js version: 10.15.0**
 - **NPM version: 6.14.5**
 - **Browser name and version: Chrome 83 (but issue happens with latest Firefox as well)**
 - **Platform name and version: macOS Catalina**
 - **Additional wdio packages used (if applicable): @wdio/browserstack-service version: 6.1.15**

**

[2020-06-29 19:47] ianrenauld opened #5559 "wdio runner sometimes doesn't realize that a test has completed when running through BrowserStack"
**Environment:**
 - **WebdriverIO version:v6.1.22**
 - **Mode: WDIO Testrunner**
 - **Running sync**
 - **Node.js version: 10.15.0**
 - **NPM version: 6.14.5**
 - **Browser name and version: Chrome 83 (but issue happens with latest Firefox as well)**
 - **Platform name and version: macOS Catalina**
 - **Additional wdio packages used (if applicable): @wdio/browserstack-service version: 6.1.15**

**

[2020-06-29 20:09] christian-bromann commented on #5559
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-06-29 20:10] christian-bromann commented on #5558
Duplicate of #5558

[2020-06-29 20:10] #5558 closed

[2020-06-30 11:16] devopsix opened #5560 "Spec reporter prints an incorrect summary"
**Environment:**
 - **WebdriverIO version:** 6.1.22
 - **Mode:** WDIO
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.3
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 82
 - **Platform name and version:** Windows 10
 - **Additional wdio packages used (if applicable):** @wdio/spec reporter, @wdio/mocha-framework, wdio-chromedriver-service

**Conf

[2020-06-30 12:08] ania-s opened #5561 "wdio-allure-reporter history should be configurable & not limited to 5 items"
**Is your feature request related to a problem? Please describe.**
The history of a test is limited to 5 items only hence with many test executions per day it's hard to check how the trend looks like.

**Describe the solution you'd like**
The number of history items should be configurable and in case it exceeds the actual number of available history test executions it should take the available one

[2020-06-30 12:10] BorisOsipov commented on #5561
It is not related to wdio reporter. See https://github.com/allure-framework/allure2/issues/347

[2020-06-30 12:10] #5561 closed

[2020-06-30 12:40] christian-bromann commented on #5560
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-06-30 12:54] ania-s commented on #5561
@BorisOsipov any clue why with the latest wdio-allure-reporter package my history is still limited to 5 and not 20? Is there sth I have to do?

[2020-06-30 12:55] BorisOsipov commented on #5561
Sorry, I don't know :(

[2020-06-30 12:57] BorisOsipov commented on #5561
@ania-s check that you have latests allure-commadline https://docs.qameta.io/allure/#_installing_a_commandline

[2020-06-30 13:05] ania-s commented on #5561
Yes I have the latest allure-commadline as well :/

[2020-07-01 07:58] christian-bromann commented on #5557
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-07-01 12:06] kfirbhCS opened #5563 "V5-GekoDriver 0.26 + video reporter - fails to handle alerts"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** V

[2020-07-01 12:42] kfirbhCS commented on #5563
{
  capabilities: {
    alwaysMatch: {
      browserName: 'firefox',
      browserVersion: '77.0.1',
      'goog:chromeOptions': [Object],
      'moz:firefoxOptions': [Object]
    },
    firstMatch: [ {} ]
  },
  desiredCapabilities: {
    browserName: 'firefox',
    browserVersion: '77.0.1',
    'goog:chromeOptions': { w3c: false, args: [Array], prefs: [Object] },
    'moz:firefoxOptions': { args

[2020-07-01 12:53] kfirbhCS commented on #5563
look like the issue caused by the video trying to take screenshots while unexpected alert pops

[2020-07-01 13:00] christian-bromann commented on #5563
This is what the errors says which means that the endpoint you are calling is not supported. Geckodriver should have support for this command by now. A minimal reproducible example would be helpful.

[2020-07-01 23:09] #5398 closed

[2020-07-04 09:54] soumyaevan opened #5567 "Opera And Chromium Edge are not working"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** L

[2020-07-04 10:24] christian-bromann commented on #5567
The session requests fails due to:

Seems that the driver can't start the browser. This is usually not a problem within WebdriverIO. Please look into the driver logs as they may give indication of why the session can't be started.

[2020-07-04 10:24] #5567 closed

[2020-07-04 12:57] monil20 opened #5568 "moveTo() throws exception due to floating value of newXOffset or newYOffset variables"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.16
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 12.16.3
 - **NPM version:** 6.14.4
 - **Browser name and version:** Chrome 83.0.4103.116
 - **Platform name and version:** Windows 10

**Config of WebdriverIO**
An example of how you configured Webdr

[2020-07-04 16:10] christian-bromann commented on #5568
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-07-04 23:28] sam-022 opened #5569 "Failed to create Appium session"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [6.0.13]
 - **Mode:** [WDIO Testrunner]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [14.4.0]
 - **NPM version:** [6.14.5]
 - **Browser name and version:** [Chrome]
 - **Platform name and version:** [Windows 10]

**Config of WebdriverIO**
Appium Config:
[code]

**Describe the b

[2020-07-05 08:24] wswebcreation commented on #5569
@sam-022

I've updated the `appium-boilerplate` with the latest dependencies, can you try again. I've tried it and it works on my machine. If it doesn't work on your machine please provide the logs and run your test with `logLevel=debug`.

Going to close it for now because it works based on the latest dependencies, but it's still open for conversation

[2020-07-05 08:24] #5569 closed

[2020-07-05 14:06] sam-022 commented on #5569
@wswebcreation I pulled the latest changes and did a fresh `npm i`. I'm still seeing the same error. See my logs below:
- [Appium server running separately](https://gist.github.com/sam-022/48611f768af79c85fc01d997c9edd165)
- [Running Appium server with WebdriverIO](https://gist.github.com/sam-022/ae0add47a5cb1891bfafecf74f5d582e)

[2020-07-06 10:17] LMFDias opened #5571 "element.MoveTo() without configured parameters is not working on V6"
**Environment (please complete the following information):**

**WebdriverIO version:** V6
**Mode:** standalone
**If WDIO Testrunner, running sync/async:** sync
**Node.js version:** v10.17.0
**NPM version:** v6.11.3
**Browser name and version:** chrome,
**Chrome Version:** 83.0.4103.116

**Config of WebdriverIO :**
    "@wdio/cli": "^6.1.24",
    "@wdio/jasmine-framework": "^6.1.23",
    "@wdio/loc

[2020-07-06 10:25] dimkin-eu commented on #5492
actually
https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-browserstack-service/package.json
depends on
- "got": "^11.0.2"

and got actually gets
https://github.com/sindresorhus/got/blob/master/package.json
- "http2-wrapper": "^1.0.0-beta.4.7",

[2020-07-06 10:44] wswebcreation commented on #5569
@sam-022

Can you create a reproducible example? I can't seem to find the problem in the logs

[2020-07-06 11:44] christian-bromann commented on #5492
@dimkin-eu thanks for looking into it. It still seems odd to me why these dependencies are not installed automatically. I also haven't seen that error by anyone else. I wonder if it got fixed in the meantime.

[2020-07-06 11:46] christian-bromann commented on #5571
Can you please elaborate what you think is not working? Are you expecting some sort of hove pop up? A reproducible example would be helpful.

Logs would be still helpful to get an idea what is going on. Please provide them.

[2020-07-06 11:54] dimkin-eu commented on #5492
@christian-bromann `node 10.19.0` is the answer in my situation ( yes, it's _**very**_ outdated :) )

[2020-07-06 12:46] ZawadzkiB commented on #4134
Hi,
I had also issue with drag and drop and found this one a useful for me
https://ghostinspector.com/blog/simulate-drag-and-drop-javascript-casperjs/

[2020-07-06 13:33] UrvashiSri opened #5575 "Unable to access mochaOpts in wdio config file after upgrading the webdriverio version to 6"
This bug started after upgrading from webdriver IO 5 to webdriver IO 6.

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.22
 - **Mode:** Standalone mode
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.16.2
 - **NPM version:** 6.14.4
 - **Browser name and version:**  Chrome 83
 - **Platform name and version:** OS X(Catalin

[2020-07-06 14:02] christian-bromann commented on #5575
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-07-06 15:07] Westsaid opened #5576 "Get Internet Explorer to run using Standalone runner"
## 💬 Questions and Help
Hello guys, anyone got IEDriver to run when using wdio standalone?
I receive following error: "The value of the 'parameter' attribute is not a JSON object", idk why but it seems like wdio does not send any parameters to the ie server...
### Error Log:
`.\IEDriverServer.exe --port=4448 --log-level=DEBUG
I 2020-07-06 16:59:35:051 C:\Projects\webdriver\cpp\webdriver-server\ser

[2020-07-06 16:10] christian-bromann commented on #5576
Can you provide the WebdriverIO logs as well please?

[2020-07-06 16:12] sknight80 opened #5577 "Report creates empty file when mocha framework skips test(s)"
**Environment (please complete the following information):**
 - **WebdriverIO version:** [6.1.24]
 - **Mode:** [Standalone mode]
 - **If WDIO Testrunner, running sync/async:** [sync]
 - **Node.js version:** [14.5.0]
 - **NPM version:** [6.14.5]
 - **Browser name and version:** [ChromeDriver 83.0.4103.39 (ccbf011cb2d2b19b506d844400483861342c20cd-refs/branch-heads/4103@{#416})]
 - **Platform name an

[2020-07-06 16:39] sam-022 commented on #5569
@wswebcreation I'm using the same boilerplate example, every time I run the test I get this error: `ERROR webdriver: Error: The URL '/session' did not map to a valid resource`
For some reason, it's not able to connect to `/wd/hub`. Do you have any suggestions? Or, any other alternative way to get this running?

[2020-07-06 21:31] christian-bromann commented on #5568
Will close this issue as an PR is already provided in #5572.

[2020-07-06 21:31] #5568 closed

[2020-07-07 05:44] monil20 commented on #5568
Hey,
Thanks for resolving it this soon. Really appreciate the help and activeness of this community. 🍻 I had been stuck because of this issue and was thinking of a way out.

Also, could you let me know the version in which this change would roll out?

[2020-07-07 06:12] wswebcreation commented on #5569
@sam-022

Strange, do you have a version of Appium already running in the background? The boilerplate starts a session on its own, not using `/wd/hub`.

If you run Appium as a separate service you need to set the basePath as `/`, see also below from https://webdriver.io/blog/2020/03/26/webdriverio-v6-released.html

![image](https://user-images.githubusercontent.com/11979740/86724978-8d989280-c029-

[2020-07-07 07:38] christian-bromann commented on #5568
@monil20 it has not been fixed yet. I closed the issue because we have a PR for it. Please follow #5572 for updates.

[2020-07-07 09:18] christian-bromann opened #5584 "Write blog post about new commands and add examples"
Let's ensure we properly document these new capabilities by writing a blog post and adding documentation.

[2020-07-07 09:25] Westsaid commented on #5576
Hey, sure! There you go:
`2020-07-07T09:23:30.827Z INFO webdriverio: Initiate new session using the webdriver protocol
2020-07-07T09:23:30.838Z INFO webdriver: [POST] http://localhost:4448/session
2020-07-07T09:23:30.838Z INFO webdriver: DATA {
  capabilities: {
    alwaysMatch: { browserName: 'internet explorer' },
    firstMatch: [ {} ]
  },
  desiredCapabilities: { browserName: 'internet explor

[2020-07-07 09:27] christian-bromann commented on #5576
@Westsaid these are the wrong logs. They show that the session wasn't created at all while above you are clearly had created a session.

[2020-07-07 09:33] Westsaid commented on #5576
Oh I'm sorry I messed up... Here is a true on:

[wdio.log](https://github.com/webdriverio/webdriverio/files/4883948/wdio.log)

[2020-07-07 10:58] christian-bromann commented on #5576
This is the same log :-D

[2020-07-07 11:13] 36degrees opened #5585 "Using the sauce service with sauceConnect enabled forces a W3C session"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.19
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** sync
 - **Node.js version:** 10.15.0
 - **NPM version:** 6.13.4
 - **Browser name and version:** N/A
 - **Platform name and version:** N/A
 - **Additional wdio packages used (if applicable):** @wdio/cli@6.1.19, @wdio/local-runne

[2020-07-07 11:17] christian-bromann commented on #5585
@36degrees thanks for filing the issue? Why would you want to not use the WebDriver protocol? Are you required to test on old browsers?

[2020-07-07 11:32] Westsaid commented on #5576
It's not... Check the first try, only the first 20 lines of the log are important because if the initialization fails, it retries it 2 more times.

Here are the first 20 lines:
`
2020-07-07T09:31:37.507Z INFO webdriverio: Initiate new session using the webdriver protocol
2020-07-07T09:31:37.522Z INFO webdriver: [POST] http://localhost:4448/session
2020-07-07T09:31:37.523Z INFO webdriver: DATA {

[2020-07-07 11:45] christian-bromann commented on #5576
It seems that you are using an old IEDriver which doesn't support the WebDriver protocol. The latest WebdriverIO version only runs on WebDriver and doesn't support JSONWireProtocol only at this point.

[2020-07-07 13:00] 36degrees commented on #5585
At the minute, we aim to support IE9+.

We don't seem to be able to use the W3C protocol to test with IE9 because we get the error:

[code]

We think this is caused by SeleniumHQ/selenium#7479. We were not seeing this issue when using an older version of Webdriver, because it was using JSONWP.

At the minute, our options seem to be:

- Try and fix Webdriver so that we can continue to use the JSON

[2020-07-07 13:58] christian-bromann commented on #5585
@36degrees thanks for providing more context. I think this can be fixed. Instead of just setting `sauce:options` in the capabilities we could add some logic that would check for JSONWireProtocol specific capabilities, e.g. `platform` or `version` and if found just directly sets the custom sauce capabilities to it. Would you be up for helping us on this one? I happy to provide any supported needed.

[2020-07-07 15:35] kfirbhCS commented on #5563
describe('Cherchertech Home Page', () => {
it('Get title of cherchertech Home page', () => {
browser.url('https://chercher.tech/practice/popups')
$("//input[@name='alert']").click()
browser.acceptAlert()
})
})

[2020-07-07 15:44] lfalkner commented on #5585
This is helpful for us too; we had some issues with saucelabs and w3c with appium, and we're seeing issues connecting after upgrading to wdio v6

[2020-07-07 16:07] christian-bromann commented on #5563
@kfirbhCS this piece of code doesn't allow me to reproduce the issue. Can you provide an example project?

[2020-07-07 16:14] soumya-contentsquare opened #5587 "browser.getLogTypes() giving error in chrome browser"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:** l

[2020-07-07 16:21] christian-bromann commented on #5587
@soumya-contentsquare unfortunately the `getLogs` command is not supported anymore. If you want to get network logs in Chrome I recommend to use the [DevTools service](https://webdriver.io/docs/devtools-service.html).

[2020-07-07 16:21] #5587 closed

[2020-07-07 16:51] christian-bromann commented on #5577
Hey,
thanks for filing the issue. This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-07-07 16:52] christian-bromann commented on #5522
@JapneetSingh5 any updates? Is there anything I can do to help?

[2020-07-07 17:02] JapneetSingh5 commented on #5522
Sorry for not updating, I couldn't figure out a way to keep the directory structure the same. How do I start? On a forked repository?

[2020-07-07 17:25] christian-bromann commented on #5522
Yes. You fork this repository and eventually make a pull request to this one. Please have a read to out [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md). If it is not possible to keep the folder structure than feel free to change it.

[2020-07-07 17:43] JapneetSingh5 commented on #5522
Alright, thanks a lot. I will start working on the migration right away.

[2020-07-07 20:16] mohanraj-r opened #5588 "Unable to use babel to run typescript tests"
**Environment:**
 - **WebdriverIO version:** 6.1.17
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 12.18.2
 - **NPM version:** 6.14.5
 - **Browser name and version:** Chrome 83.0
 - **Platform name and version:** OSX 10.15.5
 - **Additional wdio packages used (if applicable):**
[code]

**Config of WebdriverIO**
[code]

**Describe the bug**

[2020-07-07 20:20] mohanraj-r commented on #5588
I did find an old issue referencing a similar issue - but the solution doesn't work anymore https://github.com/webdriverio/webdriverio/issues/1641#issuecomment-252897810

[2020-07-07 20:27] christian-bromann commented on #5588
Why do you need Babel to use TypeScript? Please have a look at our boilerplate projects to see how things get set up: https://webdriver.io/docs/boilerplate.html#pako88wdio-mocha-typescripthttpsgithubcompako88wdio-mocha-typescript

[2020-07-07 20:30] mohanraj-r commented on #5588
Thanks @christian-bromann I did look at the boilerplate projects - but couldn't find anything using babel with typescript. Preference for babel instead of ts-node is just for reuse as I already use babel for my project's jest tests and it works fine. Would like to reuse and avoid having an additional redundant dependency if possible.

[2020-07-07 20:45] christian-bromann commented on #5588
@mohanraj-r I honestly not sure if this is a WebdriverIO issue. I am happy to add some documentation around this but there is not much we can do on the WebdriverIO side to fix this configuration issue. I recommend to reach out in our support channel on [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_c

[2020-07-07 20:45] #5588 closed

[2020-07-08 06:48] kfirbhCS commented on #5563
![image](https://user-images.githubusercontent.com/53476275/86885697-6233a780-c0fe-11ea-8152-8d70c925c889.png)

 i cannot provide with the full project cause its part of my workplace project

the method appears above should be good
i even managed to reproduce on   geko 0.26

and it only reproduced with the video reporter

![image](https://user-images.githubusercontent.com/53476275/86886716-18e4578

[2020-07-08 07:34] christian-bromann commented on #5563
Can you please provide a new minimal project that can reproduce this? Also it seems that your using WebdriverIO v5 and the reporter says to be only compatible with v5.

[2020-07-08 13:53] Alona-T opened #5589 "@wdio/local-runner: Failed launching test session: TypeError: Cannot read property 'toLowerCase' of undefined"
## **Describe the bug**
We have our WebdriverIO(Mocha) project integrated with Azure Devops pipeline and also Browserstack as a cloud. When i run it locally with browserstack - everything works well, however when i run on Azure - for some reason i get this error
[code]

Tests are still passing but for some reason it is failing pipeline due to this error. Also i do not even see any 'toLowerCase' in

[2020-07-08 14:46] christian-bromann commented on #5589
Hey,
thanks for filing the issue.

@mikesalvia I think you have been working on this part recently. Mind taking a look?

This seems indeed like bug. We would appreciate any help on this so please help us out! Have a look at our [contributing guidelines](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and reach out if you have any questions. Cheers!

[2020-07-08 14:47] christian-bromann commented on #5589
@Alona-T I believe if you set `os` in your capabilities it should fix the issue in the meantime.

[2020-07-08 17:16] Alona-T commented on #5589
@christian-bromann thank you for the feedback, however i run it for native mobile apps, do we still need os in this case?

[2020-07-08 17:19] christian-bromann commented on #5589
I don't know. The fix for this bug is fairly trivial and just requires to check of `runner.capabilities.os` here: https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-junit-reporter/src/index.js#L163. Would you like to take a stab at it to fix it?

[2020-07-08 18:23] dombialcz opened #5591 "Webdriver 6 + mocha + typescript - moving browser.addCommand()"
Hi i moved to Webdriverio 6 from the previous version and I run into a bunch of problems, after finding this pull request https://github.com/webdriverio/webdriverio/pull/4531 I got most of them resolved, but... I am getting a

` error TS2339: Property 'getNumber' does not exist on type 'Element'.`

This is a function I've added in the beforeSuite hook

[code]

And I have the type definition in a s

[2020-07-08 18:49] jonesh66 commented on #5376
I have investigated the issue and it seems that this doesn't happen with the latest version of WebdriverIO. In case you face this again, I request you to provide a reproducible script and this will be opened again.

Thanks

[2020-07-08 18:51] #5376 closed

[2020-07-08 18:56] jonesh66 commented on #5589
I'm picking this task up.

[2020-07-08 19:15] pjcalvo commented on #5591
@dombialcz I add the addCommands on the before hook on the wdio.conf.js file.

![image](https://user-images.githubusercontent.com/7219896/86960569-f3197b80-c11c-11ea-9e50-b80bec456a1c.png)

Did you add the type definition to the tsconfig file?

![image](https://user-images.githubusercontent.com/7219896/86960636-0e848680-c11d-11ea-9c67-a887d0458d70.png)

[2020-07-08 19:24] dombialcz commented on #5591
That actually helped, it's strange that the type definitions worked without being explicitly added to `tsconfig.json' before....  And somehow adding the whole directory to typeRoots ` "typeRoots":  ["./types"], ` didn't help at all...

Anyway this helped, thank you @pjcalvo !

[2020-07-08 19:47] pjcalvo commented on #5591
Closing this. and it was not an actual code issue.

@dombialcz good luck. I think you can also reach the chat https://gitter.im/webdriverio/webdriverio for similar question.s

[2020-07-08 19:47] #5591 closed

[2020-07-08 19:49] cjatkinson commented on #5560
Investigating this issue.

[2020-07-08 20:34] cjatkinson commented on #3351
@skudasov, I was unable to replicate the bug. Would you mind upgrading to version 6 of the project and seeing if this is still an issue?

[2020-07-08 20:46] mathew-jithin commented on #5541
Working on this. Never got time to check after I last commented. Will try to give a pull by friday.

[2020-07-08 21:27] christian-bromann commented on #3351
Let's close the issue and re-open in case it is still an issue.

[2020-07-08 21:27] #3351 closed

[2020-07-08 23:03] Gordiievskyi opened #5594 "isExisting returns true but execute script fails with non existing element"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages).

**Environment (please complete the following information):**
 - **WebdriverIO version:** 6.1.17
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:**async
 - **Node.js version:** v12.16.1
 - **NPM version:** 6.13.4

[2020-07-08 23:51] pjcalvo commented on #5594
If you are not explicitly using the async mode then the async await is not necessary..

[2020-07-09 03:03] pjcalvo commented on #5594
@Gordiievskyi I went through your code and there might be a different issue than described. `.IsExisting` is finding the element, but `element_to_be_located` still has a reference for the element that you deleted in the first `execute`.

The `isExisting()` works fine, because you are logging the element information just fine. If you move this line `element_to_delete = $('#search_button_homepage');

[2020-07-09 06:48] kfirbhCS commented on #5563
you can try and pull this
https://github.com/kfirbhCS/webdriverIO

first start the standalone server from package.json
then run the test

[2020-07-09 07:09] christian-bromann commented on #5563
@kfirbhCS Thanks for providing the example. It is likely that this fixed in v6, have you thought about updating?

[2020-07-09 07:30] christian-bromann commented on #5594
@Gordiievskyi once you remove the element you've lost the binding between element object and DOM element. Even if you add a DOM element with the same properties it is still not the same element and WebdriverIO can't just pick the new element. Please follow @pjcalvo advice and refetch the element once before you want to interact with it.

[2020-07-09 07:30] #5594 closed

[2020-07-09 08:32] #5575 closed

[2020-07-09 08:43] Alona-T commented on #5589
Thank you @christian-bromann for the workaround with 'os' capability
I have added it to my ios and android config as
[code]
and it worked well now - report is generating and tests are passing
Will wait for the fix from jonesh66

[2020-07-09 10:34] kfirbhCS commented on #5563
1. Thats not super critical for me
2. I wanted to move to V6 but there is issue with Allure that i reported in the past , that blocked me from that
3.I think the root cause of that issue is from the video reporter service trying to take screenshot when unexpected alerts pops

[2020-07-09 10:46] LMFDias commented on #5571
I will close the issue,
I had misconfigured the resolution.
Thank you

[2020-07-09 10:46] #5571 closed

[2020-07-09 11:04] Madhu-1234 opened #5595 "Allure report shows report generated where test run took 6 days"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [WebdriverIO Gitter Support Channel](https://gitter.im/webdriverio/webdriverio)
- [#webdriverio channel om SeleniumHQ Slack](https://seleniumhq.slack.com/join/shared_invite/enQtODAwOTUzOTM5OTEwLTZjZjgzN2ExOTBmZGE0NjkwYzA2Nzc0MjczMGYwYjdiNGQ5YjI0Zj

[2020-07-09 11:06] Madhu-1234 commented on #5595
![image](https://user-images.githubusercontent.com/36332967/87032477-503b2d00-c202-11ea-90c1-d0fcc40189a7.png)

[2020-07-09 11:23] christian-bromann commented on #5595
Join our [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for these kind of questions. This is not necessary an issue in WebdriverIO.

[2020-07-09 11:23] #5595 closed

[2020-07-09 11:26] christian-bromann commented on #5563
Sounds reasonable to me. While we still support v5 we don't actively fix bugs for it anymore. If you can provide a bugfix and make a PR to the `v5` branch I am happy to merge and make a new release.

[2020-07-09 11:48] VikingTristan commented on #5559
Had the same issue with node 10.15.0. I updated node to 14.5.0 and haven't had the problem since.

[2020-07-09 11:58] Westsaid commented on #5576
Thank you very much, I went from 3.15 => 3.9 and the error disappeared!

[2020-07-09 12:50] Westsaid opened #5596 "Internet Explorer "Missing parameter: url""
## 💬 Questions and Help

Hello guys, im trying to get my tests to the IE and I stumbled upon an error. I'm getting a session created but when trying to use the "browser.url(...)" function, I receive the error " WARN webdriver: Request failed due to Missing parameter: url"

Does somebody has a clue on how to fix this?

I'm running the tests in a standalone testrunner, I am using the IEDriver Versio

[2020-07-09 13:34] Gordiievskyi commented on #5594
Guys I am in USA, my work day just started.

will answer on your statements one by one:

@pjcalvo
[code]
I do use async mode, and that is just a code snippet for you to easely get same error, thats not my real test and framework I use.

[code]
That's what I call stale element reference, yes

[code]
I would agree if the other methods of wdio also find it but my code shows it's not.  I think here 's

[2020-07-09 13:40] pjcalvo commented on #5596
Hi @Westsaid ,

I am not 100% sure, but based on the logs it seems like internet explorer driver 3.4 is not w3c compliant, and so you would need to either downgrade webdriverio (not recommended). Or try a different service.

Can u try using https://webdriver.io/docs/selenium-standalone-service.html instead of `services:["iedriver"],`.

Please let me kno

[2020-07-09 14:02] christian-bromann commented on #5596
@pjcalvo is right, you are using an outdated IEDriver. Please update the driver by downloading it from the Selenium [project page](https://www.selenium.dev/downloads/).

[2020-07-09 14:02] #5596 closed

[2020-07-09 14:10] pjcalvo commented on #5594
@Gordiievskyi Hey good morning for you sir. Sorry that I pointed out that you didn't need the async await. I understand that it has no relation with the issue.

So `isExisting()` method uses the locator of the Element to locate it again on the page but does not re-assign it. It just validates that there is at least one element with that locator and return either true or false. I think your code ca

[2020-07-09 14:14] christian-bromann commented on #5594
The reason why `isExisting` works even though the element was not found in the first place is because it takes the selector property of the element object and fetches an element with that selector. In your example it works because there is a different element matching with the same selector. This behavior seems unexpected but it is all we can do when having to manage element references across the

[2020-07-09 14:25] Gordiievskyi commented on #5594
@christian-bromann

I found even better example of what I mean:

[code]

Here if one execute the code - you get a `stale element reference: element is not attached to the page document`

But you get it in `execute` method and not in isExisitng(). So I expect that every method should throw it, but isExisting is nothing more then findElements and so always get newest state of element, when the rest

[2020-07-09 14:31] christian-bromann commented on #5594
So if I understand you correctly you are saying that `isExisting` should not check anything but return whether or not the element reference was detected in the first place?

[2020-07-09 14:46] Gordiievskyi commented on #5594
In my opinion - yes. wdio has api to detect when element appears, `waitForExist`. What is use case for `isExisting`, check if previously found element exists(from my point of view). So if one want to check that before acting he want be sure that exists element he gave to that method and not new one. Then if it return false I can decide what to do - wait for it became present - `waitForExist`, re-v

[2020-07-09 15:35] pjcalvo commented on #5594
@Gordiievskyi  I think there is a limitation protocol wise. Webdriver only allows webdriverIO to fetch elements using the supported selectors, css, xpath, etc. So the best webdriverIO can do is to try to find the element again and see if you can locate it.

You use case is quite specific, and I think it would be easier for you to find a work around. Maybe comparing both elements or properly use th

[2020-07-09 16:02] Gordiievskyi commented on #5594
I don't delete element in my test, the second use case when I save reference to non existing element is my case. I made a wrapper on top of wdio methods( I think most of automation do).That saves the wdio element and use inside wrapped methods. So basically what you suggest is to do verification on my side, and I imply that it would be better to do it on wdio side, cause otherwise isExisting is re

[2020-07-09 19:55] pjcalvo commented on #5594
Hey. I am sorry man. I am not sure what else we can do here.

[2020-07-09 19:59] Gordiievskyi commented on #5594
@pjcalvo As I mentioned in my last two sentences If you want me I can create a ticket to make documentation update, so it will be clear for others what the method do

[2020-07-09 20:08] mohanraj-r opened #5597 "Incorrect doc: WebdriverIO Sync"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/webdriverio/webdriverio/blob/master/CONTRIBUTING.md) and submit a pull request

**Describe the improvement**

I'd like to report
- [x] Unclear documentation
- [x] A typo
- [x] Missing documentation
- [x] Other

**Description of the improvement / report**
I am trying to test an async helper method I have created in sync mod

[2020-07-09 22:13] pjcalvo commented on #5594
@Gordiievskyi awesome. Please create a Pull Request and include the docs changes.